[2021-06-29 04:41] abdoulline commented on #27767
@slava77   Slava, in view of Kenichi's doubts (see above https://github.com/cms-sw/cmssw/issues/27767#issuecomment-870028689  ), could you, please confirm once again that what you meant in your short answer
https://github.com/cms-sw/cmssw/issues/27767#issuecomment-867976054
corresponds to the tentative modifications in the branch :
https://github.com/cms-sw/cmssw/compare/master...abdoulline:Data_n

[2021-06-29 12:30] slava77 commented on #27767
I can confirm my comment.
I would like to clarify that that comment implied that the implementation is clear and does not blow up to almost 100 lines.
It should be possible to call `HcalRemoveAddSevLevel.AddFlag(hcalRecAlgos` for each specific modifier with smth like
[code]

[2021-06-29 12:46] abdoulline commented on #27767
@slava77  thank you for the suggestion.
I've admitted earlier (and I must re-admit) I didn't know this rather simple way of era-related executon of particuar algo.
I'll try to follow it.

[2021-06-29 12:47] makortel commented on #34223
Here is a (currently failing) framework test demonstrating the issue https://github.com/makortel/cmssw/commit/cc22e80b6bb9c15803bbc2797478303b3a1edae1 @Dr15Jones

[2021-06-29 14:42] abdoulline commented on #27767
@slava77   new branch:
https://github.com/cms-sw/cmssw/compare/master...abdoulline:Data_noise_flags_move
seems to work fine (SeverityLevel groups are identical w/wo branch)  for
(1) 136.731_RunSinglePh2016B
(2) 136.793_RunDoubleEG2017C
(3) 136.874_RunEGamma2018C
I'll submit PR later today (and after passing via runTheMatrix tests)...

[2021-06-29 15:05] slava77 commented on #27767
thanks.
- Please group the modifications for one era in one method
- please also add some notes clarifying (where applicable) that the applied modifications are reverting the changes back to the default used for MC

[2021-06-29 15:25] abdoulline commented on #27767
<...>Please group the modifications for one era in one method<...>
I'm afraid I don't quite understand what you mean?  - Something like this for the first run2_25ns_specific case with 2 modifications:
https://github.com/cms-sw/cmssw/compare/master...abdoulline:Data_noise_flags_move#diff-e33077cea0c56c4aab27f549f52d82bce9ba084cc477a99800928506e65eb484R28
def _modName(algos):
   HcalRemoveAddSevLeve

[2021-06-29 15:56] slava77 commented on #27767
yes

[2021-06-29 16:00] abdoulline commented on #27767
OK, thanks!

[2021-06-29 16:10] makortel commented on #32219
Any news yet on whether `HitPattern` like information will be needed for `Run3ScoutingMuon`? @jsalfeld

[2021-06-30 02:59] hatakeyamak commented on #27767
Thank you @abdoulline

[2021-06-30 12:31] thomreis commented on #34197
Thanks @mzarucki for the detailed recipe. I think this should be enough to get going.
However, @fwyzard is the 11_3_1_patch1 release installed on the GPU machines? I find only 11_3_0_patch1.

[2021-06-30 12:39] fwyzard commented on #34197
@thomreis all offline releases are actually available from `/cvmfs`; I've added instruction for using them to the twiki: https://twiki.cern.ch/twiki/bin/view/CMS/TriggerDevelopmentWithGPUs#Setting_up_a_working_area_fo_AN2 .

[2021-06-30 12:52] thomreis commented on #34197
@fwyzard thanks I got it to work. I must have had a cached version of the twiki without those instructions.
I can now reproduce the crash.

[2021-06-30 13:46] slava77 opened #34289 "CPU speedup opportunity ConvBremPFTrackFinder::runConvBremFinder"
as seen in https://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_0_0_pre3/23434.21/step3/cpu_endjob/366
about 0.3% of the reco workflow time in PU200 is taken by eta, phi calls (evident in cost counts as `log` and `atan`).
`ConvBremPFTrackFinder::runConvBremFinder` is called by `PFElecTkProducer::produce` in a loop over GSF tracks https://github.com/c

[2021-06-30 13:46] slava77 commented on #34289
assign reconstruction

[2021-06-30 13:46] cmsbuild commented on #34289
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-30 13:46] cmsbuild commented on #34289
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-30 13:57] slava77 opened #34290 "CPU speedup opportunity GoodSeedProducer::produce"
https://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_0_0_pre3/23434.21/step3/cpu_endjob/424
shows high costs of log, asinh (eta?), and atan (phi) calls, which are apparently from repeated calls that could be reduced.

https://github.com/cms-sw/cmssw/blob/CMSSW_12_0_0_pre3/RecoParticleFlow/PFTracking/plugins/GoodSeedProducer.cc#L411-L433
in a loop ove

[2021-06-30 13:58] fwyzard commented on #34197
no, I just added them one hour ago :-)

[2021-06-30 13:58] cmsbuild commented on #34290
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-30 13:58] slava77 commented on #34290
assign reconstruction

[2021-06-30 13:58] cmsbuild commented on #34290
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-30 16:14] thomreis commented on #34197
I have made PRs to `master` and `CMSSW_11_3_X` with a fix for the ECAL out crash.

[2021-06-30 16:51] Sam-Harper commented on #34197
thanks Thomas!

[2021-06-30 16:54] Sam-Harper commented on #34197
@cms-sw/hcal-dpg-l2 is there a timeline the HCAL DPG to have a look at this? Thanks!

[2021-06-30 18:07] mseidel42 commented on #34197
@mariadalfonso could you have a look, please?

[2021-06-30 20:42] cvuosalo opened #34294 "[Low priority] Change cout to LogTrace in HcalLayerDepthMap.cc"
`Geometry/​HcalCommonData/​src/​HcalLayerDepthMap.cc` has `cout` statements in its `EDM_ML_DEBUG` sections. It would be better to use `LogTrace` or `LogVerbatim` so these debug messages could be better controlled.

Also, the `getDepth16` and `getDepthMax` debug messages can look like errors to the non-expert. The message content should make clear they are reporting expected conditions.

This issue

[2021-06-30 20:43] cvuosalo commented on #34294
assign geometry

[2021-06-30 20:43] cmsbuild commented on #34294
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-30 20:43] cmsbuild commented on #34294
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-02 06:49] mmusich opened #34309 "Flood of L1T warnings in wf 138.2"
I noticed that in the IB logs for [wf 138.2](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_12_0_X_2021-06-30-1100/pyRelValMatrixLogs/run/138.2_RunCosmics2020+RunCosmics2020+RECOCOSDEXPRUN3+ALCACOSDEXPRUN3+HARVESTDCEXPRUN3/step2_RunCosmics2020+RunCosmics2020+RECOCOSDEXPRUN3+ALCACOSDEXPRUN3+HARVESTDCEXPRUN3.log) (MWGR 2020 cosmics with Run3 era), there is a flood of warnings c

[2021-07-02 06:49] cmsbuild commented on #34309
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-02 12:50] makortel commented on #34309
assign l1

[2021-07-02 12:50] cmsbuild commented on #34309
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-02 21:46] wddgit opened #34322 "Two Framework unit tests need to be reviewed"
Two Framework unit tests need to be reviewed.
(probably this should be assigned to Core)

These unit tests have not been running for years
because of a bug. The bug was fixed (#34321) and
the tests started failing and so were commented out.

The tests might be obsolete and simply need to be deleted.
Or maybe they need to be fixed so they will pass.
They are called in FWCore/Integration/test/CatchC

[2021-07-02 21:47] cmsbuild commented on #34322
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-02 22:29] makortel commented on #34322
assign core

[2021-07-02 22:29] cmsbuild commented on #34322
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-04 15:12] hatakeyamak commented on #27767
Thank you @abdoulline.
@slava77 perhaps now we can consider this is concluded?

[2021-07-06 12:18] mmusich opened #34349 "uploadConditions.py is broken in recent IBs"
[code]

related to py3 migration?

[2021-07-06 12:19] cmsbuild commented on #34349
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-06 12:22] davidlange6 commented on #34223
Hi- could this failing unit test be turned off or otherwise hidden from the PR tests?

[2021-07-06 12:24] davidlange6 commented on #34349
looks like it. I gather there is no unit test coverage for this script..

[2021-07-06 12:30] mmusich commented on #34349
looks like not.
OTOH, I presume one doesn't want to actually upload to DB every time the test is exercised.

[2021-07-06 12:30] davidlange6 commented on #34349
Could you change /usr/bin/env python to /usr/bin/env python3 and confirm that it works?

[2021-07-06 12:33] smuzaffar commented on #34349
correct `cx_Oracle` is available for python3 only, so try using python3

[2021-07-06 12:35] smuzaffar commented on #34349
@ggovi also reported the same issue for `conddb --db oradev -a /build/gg list runinfo_31X_mc` but this was only in `CMSSW_12_0_X_2021-07-01-2300` IB where condb was using `#!/usr/bin/env python`

[2021-07-06 12:37] davidlange6 commented on #34349
I’ll make a PR changing all the scripts in CondCore

[2021-07-06 12:38] mmusich commented on #34349
it doesn't.
With:
[code]
I get

[code]

[2021-07-06 12:39] davidlange6 commented on #34349
One doesn’t have to upload to a db that persists for more than the length of the test or do you?  But indeed if there is no support for uploading to some file based or otherwise fake db , it would mean having a bit of infrastructure behind..

[2021-07-06 12:42] davidlange6 commented on #34349
Yea, cStringIO is gone in python3.  You probably need

```from io import StringIO```

[2021-07-06 12:43] mmusich commented on #34349
at the moment I think one can just either upload to the production or to the preparation db, I am not totally sure uploading to a local sqlite file would test all the functionalities. For sure one can make a simple test just running the wizard in order to spot wrong includes or something like that.
I let @ggovi to comment more.

[2021-07-06 12:43] ggovi commented on #34349
@davidlange6  thanks ,a PR is almost ready, i'm about to submit it...

[2021-07-06 12:44] davidlange6 commented on #34349
Sorry,
```from io import StringIO as cStringIO```

If you don’t want to change code below

[2021-07-06 13:04] davidlange6 commented on #34349
Funny, I thought I fixed these things years ago.. Seems I missed these

raw_input is also gone in python3.

answer = input(prompt)

Is likely sufficient.

[2021-07-06 13:11] davidlange6 commented on #34349
Correction, I obviously didn’t actually fix cStringIO or raw_input in CMSSW.  I’m rather surprised that none of the users of cStringIO are found in the PY3 unit tests

[2021-07-06 13:13] smuzaffar commented on #34349
@davidlange6 , I think unit tests are py3 compatible. This `uploadConditions.py` is part of `scripts` directory and is never run during IB tests

[2021-07-06 13:21] mmusich commented on #34349
It does work (sort of), for some reason the wizard doesn't recognize yet the internal list of tags present in the input sqlite file, but if it's prompted by the user it does work....

[2021-07-06 13:21] davidlange6 commented on #34349
Yes, bad luck it seems.

[2021-07-06 13:30] davidlange6 commented on #34349
Is that something done via the cx-oracle package or something in cmssw?

[2021-07-06 13:35] mmusich commented on #34349
I am chairing a meeting now, I'll investigate later.
I am tagging also @MuhammadHasib and @Dres90 in case they more readily know

[2021-07-06 13:41] ggovi commented on #34349
@mmusich @davidlange6 as I said  i have a fix for that issue, i'm currently working to migrate the pycurl related code...

[2021-07-06 13:42] ggovi commented on #34349
@mmusich hasib left CMS more than one year ago...

[2021-07-06 13:44] mmusich commented on #34349
@ggovi he just wrote me he has a py3 version of the script in skype chat :)

[2021-07-06 15:13] makortel opened #34353 "Pass ConsumesCollector to initializeGlobalCache()"
The `GlobalCache<T>` extension of `edm::stream` modules combined with e.g. `RunCache` can lead to a situation where the ED/ES tokens need to be stored in the `T` object. Currently these tokens are being created with `consumes()` calls in the module constructor and being set to the `T` object (requiring for these member variables to be `mutable`). It would be cleaner to be able to have `edm::Consum

[2021-07-06 15:13] makortel commented on #34353
assign core

[2021-07-06 15:14] cmsbuild commented on #34353
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-06 15:14] cmsbuild commented on #34353
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-06 16:08] mmusich commented on #34223
I've opened https://github.com/cms-sw/cmssw/pull/34363, but I really hope we don't need to merge it.

[2021-07-06 17:45] cvuosalo opened #34367 "[High Priority][DD4hep] Improve design of DDCMS handling of assemblies and parsing context"
PR #34344 implements support for Assemblies defined in XML and also makes data available to the DD4hep DB payload creation tool. Some aspects of the design could be simplified and improved. This issue is high priority and needs to be resolved promptly, though possibly in several sequential PRs.

Here are the issues to resolve.

@cvuosalo - `DDDetector` should not have `DDParsingContext`. The `DDPa

[2021-07-06 17:46] cmsbuild commented on #34367
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-06 17:46] cvuosalo commented on #34367
assign geometry

[2021-07-06 17:46] cmsbuild commented on #34367
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-07 09:31] ggovi commented on #34349
addressed by https://github.com/cms-sw/cmssw/pull/34373

[2021-07-07 11:58] mmusich opened #34378 "several `conddb` tools broken in recent 12_0_X IBs"
on top of https://github.com/cms-sw/cmssw/issues/34349, the following functionalities appear to be broken:

1)
[code]
2)
[code]
3)
[code]

4)
[code]

[2021-07-07 11:59] cmsbuild commented on #34378
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-07 12:10] smuzaffar commented on #34378
@mmusich , `conddb` is using `python3` and it does not break for PY3 IBs. Are these commands you mentioned are not tested via unit tests?

[2021-07-07 12:13] mmusich commented on #34378
@smuzaffar

no

[2021-07-07 12:31] slava77 commented on #27767
I agree, we can close this issue, it is resolved with #34282.

[2021-07-07 12:31] #27767 closed

[2021-07-07 12:32] slava77 commented on #27767
+1

[2021-07-07 12:32] cmsbuild commented on #27767
This issue is fully signed and ready to be closed.

[2021-07-07 12:45] davidlange6 commented on #34378
These look like classic errors.. I’m trying to reproduce

[2021-07-07 12:57] kirschen opened #34380 "Upper bin edge included when evaluating JEC when using non-linear lookup"
https://github.com/cms-sw/cmssw/blob/a59283f45c8b5becca6cff5e643687c6241343a3/CondFormats/JetMETObjects/src/JetCorrectorParametersHelper.cc#L135

https://github.com/cms-sw/cmssw/blob/master/CondFormats/JetMETObjects/src/JetCorrectorParameters.cc#L190

[2021-07-07 12:57] cmsbuild commented on #34380
A new Issue was created by  @kirschen Henning Kirschenmann.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-07 12:57] #34380 closed

[2021-07-07 13:07] kirschen opened #34381 "Upper bin edge included when evaluating JEC when using non-linear lookup"
Discovered an inconsistency between the current non-linear lookup of bin indices and both

1. the previous "legacy" linear index search JetCorrectorParameters::binIndex()
2. the correctionlib implementation for interpreting the JSON files

It seems like this boils down to including the upper bin edge in the non-linear search
https://github.com/cms-sw/cmssw/blob/a59283f45c8b5becca6cff5e643687c62413

[2021-07-07 13:11] cmsbuild commented on #34381
A new Issue was created by  @kirschen Henning Kirschenmann.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-07 13:12] davidlange6 commented on #34378
Fixed with adding the encoding here

    def size(cell):
        return str( sys.getsizeof( bytearray(cell,'utf8') ) )

[2021-07-07 13:13] kirschen commented on #34381
And just for reference: This really only affects the outermost upper bin edge (e.g. for eta-binned corrections usually eta=5.191), so just a nuance, but better to fix if it's easily fixable (which it is).
FYI: @juska @tankit @camclean @lathomas @nsmith-

[2021-07-07 13:15] davidlange6 commented on #34378
The check on the run number <0 needs a cast - eg add the int() here:

        if(int(args.testRunNumber)<0):

(I get different errors that are perhaps not due to python3?

Exception: Run 1 can't be matched with an existing run in the database.

[2021-07-07 13:16] makortel commented on #34378
assign db

[2021-07-07 13:17] cmsbuild commented on #34378
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-07 13:19] makortel commented on #34381
assign db

FYI @cms-sw/reconstruction-l2 (not sure who else should be made aware)

[2021-07-07 13:19] cmsbuild commented on #34381
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-07 13:46] davidlange6 commented on #34378
CondCore/Utilities/python/cond2xml.py line 182 needs a decode, but utf-8 is not sufficient. Maybe @ggovi can suggest something?

Eg, this does not work...

resultXML = obj.write( str(data.decode()) )

[2021-07-07 14:08] qliphy opened #34383 "Build CMSSW_11_3_2"

[2021-07-07 14:08] cmsbuild commented on #34383
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-07-07 14:09] qliphy commented on #34383
+1

[2021-07-07 14:09] cmsbuild commented on #34383
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_X

[2021-07-07 14:09] cmsbuild commented on #34383
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2021-07-07 14:09] cmsbuild commented on #34383
The build has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3083/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-07 14:11] cmsbuild commented on #34383
The build has started for slc7_amd64_gcc900 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3084/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-07 14:28] makortel commented on #31061
Many thanks for the effort so far! It seems that to meet the goal of all runTheMatrix workflows migrated by 12_1_0 we need to speed up a bit. The 2021-07-05-2300 IB shows 155 EDModules to be migrated left in runTheMatrix workflows ([link](https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-static-analysis/CMSSW_12_0_X_2021-07-05-2300/slc7_amd64_gcc900/reports/eventsetuprecord-get.yaml))

I classified

[2021-07-07 14:34] makortel commented on #31061
assign alca, analysis, fastsim, generators, pdmv, upgrade

[2021-07-07 14:34] cmsbuild commented on #31061
New categories assigned: fastsim,pdmv,upgrade,analysis,alca,generators

@francescobrivio,@civanch,@sbein,@tvami,@malbouis,@pohsun,@mkirsano,@jordan-martins,@ssekmen,@SiewYan,@srimanob,@alberto-sanchez,@chayanit,@wajidalikhan,@kpedro88,@tlampen,@mdhildreth,@santocch,@yuanchao,@agrohsje,@lveldere,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Than

[2021-07-07 15:25] cmsbuild commented on #34383
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3086/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-07 16:12] smuzaffar opened #34387 "HLT validation tests"
HLT validation results on IB page are now marked failed if bot finds any tests exiting with non-zero status (
As reported https://github.com/cms-sw/cmssw/pull/34231#issuecomment-874499308 ).

@Martin-Grunewald we are running HLT tests for all IBs (5.3.X to latest 12.0.X) and it is failing in few of the release cycles e.g. `5.3.X, 7.1.X, 8.0.X and 10.6.X`. Can we stop it for old release cycles?

[2021-07-07 16:12] cmsbuild commented on #34387
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-07 16:13] smuzaffar commented on #34387
assign hlt

[2021-07-07 16:13] cmsbuild commented on #34387
New categories assigned: hlt

@fwyzard,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-07 16:16] fwyzard commented on #34387
For what release cycles do we expect to run step2 / step3 MC production in the future ?

[2021-07-07 16:30] #34223 closed

[2021-07-07 17:27] mmusich commented on #34378
and another one:
[code]

[2021-07-07 17:30] cmsbuild commented on #34383
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_2-slc7_ppc64le_gcc9/3085
Some tests (

[2021-07-07 17:32] davidlange6 commented on #34378
Adding -v to conddb will give you a file/line number.. long is no longer a thing in python3. Likely just needs to be int() instead of long()

[2021-07-07 18:35] cmsbuild commented on #34383
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_2-slc7_ppc64le_gcc9/3085

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-07-07 19:50] cmsbuild commented on #34383
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_2-cc8_amd64_gcc9/3083
Some tests ( runThe

[2021-07-07 20:33] cmsbuild commented on #34383
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_2-cc8_amd64_gcc9/3083

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-07 20:47] cmsbuild commented on #34383
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_2-slc7_amd64_gcc900/3084
Some tests (

[2021-07-07 21:29] cmsbuild commented on #34383
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_2-slc7_amd64_gcc900/3084

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-08 03:26] cmsbuild commented on #34383
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_2-slc7_aarch64_gcc9/3086
Some tests (

[2021-07-08 06:11] cmsbuild commented on #34383
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_2-slc7_aarch64_gcc9/3086

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-08 06:26] qliphy commented on #34383
upload all

[2021-07-08 06:27] cmsbuild commented on #34383
Queing Jenkins upload for cc8_amd64_gcc9

[2021-07-08 06:27] cmsbuild commented on #34383
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-07-08 06:27] cmsbuild commented on #34383
Queing Jenkins upload for slc7_amd64_gcc900

[2021-07-08 06:27] cmsbuild commented on #34383
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-07-08 06:28] cmsbuild commented on #34383
The upload has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1981/console

[2021-07-08 06:29] cmsbuild commented on #34383
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1982/console

[2021-07-08 06:29] cmsbuild commented on #34383
The upload has started for slc7_amd64_gcc900 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1983/console

[2021-07-08 06:29] cmsbuild commented on #34383
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1984/console

[2021-07-08 06:30] cmsbuild commented on #34383
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_2-slc7_aarch64_gcc9/1982

[2021-07-08 06:31] cmsbuild commented on #34383
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_2-cc8_amd64_gcc9/1981

[2021-07-08 06:31] cmsbuild commented on #34383
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_2-slc7_ppc64le_gcc9/1984

[2021-07-08 06:33] cmsbuild commented on #34383
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_2-slc7_amd64_gcc900/1983

[2021-07-08 06:40] qliphy commented on #34383
release-notes

[2021-07-08 06:40] cmsbuild commented on #34383
Generating release notes since CMSSW_11_3_1_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-07-08 06:40] cmsbuild commented on #34383
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_3_2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_1_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_2

Cheers,
cms-bot

You ca

[2021-07-08 06:48] cmsbuild commented on #34383
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_2

[2021-07-08 07:35] qliphy commented on #34383
@smuzaffar @mrodozov   It seems 11_3_2 has not been copied to /cvmfs/cms.cern.ch/slc7_amd64_gcc900/cms/cmssw/
and "cmsrel CMSSW_11_3_2" doesn't work.  Do you know why?

[2021-07-08 07:45] Martin-Grunewald commented on #34387
What happened, the link to the "HLT Validation Tests" has disappeared from the IB pages:
https://cmssdt.cern.ch/SDT/html/showIB.html
??

[2021-07-08 09:05] mmusich commented on #34378
I addressed points 2. 3. and 4. here: https://github.com/cms-sw/cmssw/pull/34392.
About point 5., running it in verbose mode, returns:

[code]

I am under the impression it requires changes in some external file (`frontier_client`)?

[2021-07-08 09:34] ggovi commented on #34378
I have a PR ready to be issued fixing the 4 items above and more that I've found. However, it does not fix item 5, that requires fixes to the frontier sqlalchemy plugin.

[2021-07-08 09:36] ggovi commented on #34378
The above problem should be probably easy to fix, replacing long with int... but other issue will appear!

[2021-07-08 09:38] agrohsje commented on #31061
@mkirsano @SiewYan are you available to follow-up on the remaining gen points? i will be offline for 2 weeks. @qliphy will help with signing our  pr's.

[2021-07-08 09:54] haozturk opened #34393 "Fatal Root Error: @SUB=TBasket::ReadBasketBuffers"
Hi all,

With one production workflow, we are having the following issue while reading input files:
[code]
Workflow:  https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=ReReco-Run2017E-DoubleMuon-UL2017_MiniAODv2-00002
Job log: https://cms-unified.web.cern.ch/cms-unified/joblogs/cmsunified_ACDC1_Run2017E_DoubleMuon_UL2017_MiniAODv2_210604_153724_982/8021/DataProcessing/2a7c2fd2-3cb

[2021-07-08 09:54] cmsbuild commented on #34393
A new Issue was created by  @haozturk Hasan ztrk.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-08 09:57] haozturk opened #34394 "Fatal Root Error: @SUB=TStorageFactoryFile::Recover"
Hello folks, I've realized another "Fatal Root Error" in production workflows:
[code]
Workflow: https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=ReReco-Run2018D-SingleMuon-UL2018_MiniAODv2-00002
Full log: https://cms-unified.web.cern.ch/cms-unified/joblogs/cmsunified_ACDC2_Run2018D_SingleMuon_UL2018_MiniAODv2_210611_134613_5924/8028/DataProcessing/72c599c3-2589-4fb2-8baa-c1810916

[2021-07-08 09:58] cmsbuild commented on #34394
A new Issue was created by  @haozturk Hasan ztrk.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-08 09:58] mkirsano commented on #31061
Yes, I am available, should just see what is to be handled

08/07/21 11:38, agrohsje пишет:

[2021-07-08 10:26] perrotta commented on #31019
This was implemented since last April with #33186

@davidlange6 which is the status of those circular dependencies now?

[2021-07-08 11:32] fwyzard commented on #31061
@makortel , these three

do not use the `EventSetup` directly:
  - `L2MuonProducer` uses it via `RecoMuon/TrackingTools` (and it looks like it has already been updated to use `esConsumes` ?);
  - `L2MuonIsolationProducer` and `L3MuonCombinedRelativeIsolationProducer` use it via `PhysicsTools/IsolationAlgos`.

[2021-07-08 12:04] Dr15Jones commented on #34393
@pcanal thoughts?

[2021-07-08 12:06] Dr15Jones commented on #34394
@pcanal any thoughts?

[2021-07-08 12:19] slava77 opened #34400 "follow up to PR review of CPEFast to better reproduce Generic #34286"
- [ ] adds back the TrackingRecHit2DSOAView::charge() accessor
- [ ] remove duplicate definitions of type aliases in CUDADataFormats/TrackingRecHit/interface/TrackingRecHit2DHeterogeneous.h https://github.com/cms-sw/cmssw/pull/34286#discussion_r665389161
- [ ] reduce repeated computations in RecoLocalTracker/SiPixelRecHits/src/PixelCPEFast.cc https://github.com/cms-sw/cmssw/pull/34286#discussion_r

[2021-07-08 12:19] cmsbuild commented on #34400
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-08 12:27] slava77 commented on #31019
I looked a few IBs back but apparently there is no ignominy results available https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_amd64_gcc900&release=CMSSW_12_0_X_2021-07-06-0300#ignominy
<img width="297" alt="image" src="https://user-images.githubusercontent.com/4676718/124921313-1c2d5000-dfad-11eb-95a4-fd1896d1037e.png">

<img width="215" alt="image" src="https://user-images.githubusercontent

[2021-07-08 12:36] smuzaffar commented on #31019
@slava77 , as we moved to python based SCRAM so `ignominy` is not running as it was using SCRAM perl modules. I will see if I can update it to use new scram

[2021-07-08 12:57] makortel commented on #34387
That is the (very) old version of the IB pages. The HLT tests are shown in the current IB pages https://cmssdt.cern.ch/SDT/html/cmssdt-ib under the name "HLT" (and it is currently showing failure that is different from https://github.com/cms-sw/cmssw/pull/34231#issuecomment-874789622)

@smuzaffar Should we think of removing the old IB pages to avoid confusion?

[2021-07-08 13:02] smuzaffar commented on #34387
yes it is time to get rid of old page (which is not maintained any more). I will announce it to HN and set a apache redirection to go to the new Ib pages

[2021-07-08 13:03] makortel commented on #34394
assign core

[2021-07-08 13:03] makortel commented on #34393
assign core

[2021-07-08 13:03] cmsbuild commented on #34394
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-08 13:03] cmsbuild commented on #34393
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-08 13:04] makortel commented on #34400
assign reconstruction, heterogeneous

[2021-07-08 13:04] cmsbuild commented on #34400
New categories assigned: heterogeneous,reconstruction

@slava77,@fwyzard,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-08 13:12] Martin-Grunewald commented on #34387
OK, I'll have a look and submit PRs where needed.

[2021-07-08 13:13] makortel commented on #34393
A bit more context from the log
[code]

[2021-07-08 13:13] ggovi commented on #34378
Addressed by https://github.com/cms-sw/cmssw/pull/34402
The frontier sqlalchemy plugin needs still to be fixed...

[2021-07-08 13:14] makortel commented on #34394
A bit more context from the log
[code]
(on the very first file open of the job)

[2021-07-08 13:14] makortel commented on #34394
Could this be a site issue?

[2021-07-08 17:31] tvami commented on #31956
This has been fixed in https://github.com/cms-sw/cmssw/pull/34390
So the issue can be closed!

[2021-07-08 17:33] tvami commented on #31956
+alca
This has been fixed in #34390
So the issue can be closed!

[2021-07-08 17:41] silviodonato opened #34410 "Build CMSSW_12_0_0_pre4"

[2021-07-08 17:41] cmsbuild commented on #34410
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @perrotta. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and th

[2021-07-08 17:43] tvami commented on #31956
Hi @slava77 , can you please sign this? thanks!

[2021-07-08 18:38] tvami commented on #34349
assign alca

[2021-07-08 18:38] cmsbuild commented on #34349
New categories assigned: alca

@francescobrivio,@tvami,@malbouis,@pohsun,@tlampen,@yuanchao you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-08 18:38] tvami commented on #34349
+alca

[2021-07-08 18:38] cmsbuild commented on #34349
This issue is fully signed and ready to be closed.

[2021-07-08 18:40] mmusich commented on #34349
I think it should be actually assigned db...

[2021-07-08 19:35] silviodonato commented on #34410
+1

[2021-07-08 19:35] cmsbuild commented on #34410
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-07-08 19:35] cmsbuild commented on #34410
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-07-08 19:36] cmsbuild commented on #34410
The build has started for cc8_amd64_gcc9 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3087/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-08 19:38] cmsbuild commented on #34410
The build has started for slc7_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3088/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-08 19:38] cmsbuild commented on #34410
The build has started for slc7_amd64_gcc900 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3089/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-08 19:39] cmsbuild commented on #34410
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3090/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-08 19:40] cmsbuild commented on #34410
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3091/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-08 21:40] slava77 commented on #31956
+reconstruction

[2021-07-08 21:40] cmsbuild commented on #31956
This issue is fully signed and ready to be closed.

[2021-07-08 21:44] cmsbuild commented on #34410
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3092/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-08 23:50] #31956 closed

[2021-07-09 02:24] cmsbuild commented on #34410
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-slc7_ppc64le_gcc9/3091
Some tes

[2021-07-09 02:24] cmsbuild commented on #34410
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-cc8_ppc64le_gcc9/3090
Some tests

[2021-07-09 03:07] cmsbuild commented on #34410
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-slc7_aarch64_gcc9/3092
Some tes

[2021-07-09 03:31] cmsbuild commented on #34410
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-cc8_amd64_gcc9/3087
Some tests ( r

[2021-07-09 03:35] cmsbuild commented on #34410
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-slc7_ppc64le_gcc9/3091

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-09 03:35] cmsbuild commented on #34410
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-cc8_ppc64le_gcc9/3090

Tests results:
36 33 14 4 3 0 0 0 0 tests passed, 2 2 19 2 0 0 0 0 0 failed

[2021-07-09 03:41] cmsbuild commented on #34410
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-slc7_amd64_gcc10/3088
Some tests

[2021-07-09 04:05] cmsbuild commented on #34410
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-slc7_aarch64_gcc9/3092

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-09 04:12] cmsbuild commented on #34410
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-slc7_amd64_gcc900/3089
Some tes

[2021-07-09 04:13] cmsbuild commented on #34410
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-cc8_amd64_gcc9/3087

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-09 04:24] cmsbuild commented on #34410
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-slc7_amd64_gcc10/3088

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-09 04:54] cmsbuild commented on #34410
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre4-slc7_amd64_gcc900/3089

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-09 07:52] silviodonato commented on #34410
upload all

[2021-07-09 07:52] cmsbuild commented on #34410
Queing Jenkins upload for cc8_amd64_gcc9

[2021-07-09 07:52] cmsbuild commented on #34410
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-07-09 07:52] cmsbuild commented on #34410
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-07-09 07:52] cmsbuild commented on #34410
Queing Jenkins upload for slc7_amd64_gcc10

[2021-07-09 07:52] cmsbuild commented on #34410
Queing Jenkins upload for slc7_amd64_gcc900

[2021-07-09 07:52] cmsbuild commented on #34410
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-07-09 07:53] cmsbuild commented on #34410
The upload has started for slc7_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1988/console

[2021-07-09 07:53] cmsbuild commented on #34410
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1986/console

[2021-07-09 07:53] cmsbuild commented on #34410
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1987/console

[2021-07-09 07:53] cmsbuild commented on #34410
The upload has started for cc8_amd64_gcc9 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1985/console

[2021-07-09 07:54] cmsbuild commented on #34410
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre4-slc7_amd64_gcc10/1988

[2021-07-09 07:54] cmsbuild commented on #34410
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre4-cc8_ppc64le_gcc9/1986

[2021-07-09 07:54] cmsbuild commented on #34410
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre4-slc7_aarch64_gcc9/1987

[2021-07-09 07:54] cmsbuild commented on #34410
The upload has started for slc7_amd64_gcc900 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1989/console

[2021-07-09 07:55] cmsbuild commented on #34410
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1990/console

[2021-07-09 07:56] cmsbuild commented on #34410
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre4-slc7_ppc64le_gcc9/1990

[2021-07-09 07:56] cmsbuild commented on #34410
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre4-cc8_amd64_gcc9/1985

[2021-07-09 08:05] cmsbuild commented on #34410
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre4-slc7_amd64_gcc900/1989

[2021-07-09 08:13] silviodonato commented on #34410
release-notes

[2021-07-09 08:14] cmsbuild commented on #34410
Generating release notes since CMSSW_12_0_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-07-09 08:14] cmsbuild commented on #34410
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre4 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_0_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases

[2021-07-09 08:17] VinInn commented on #34400
addressed in #34419

[2021-07-09 08:18] cmsbuild commented on #34410
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre4

[2021-07-09 08:30] VinInn commented on #34400
the "plot"
![image](https://user-images.githubusercontent.com/4143702/125048931-b5895e80-e0a0-11eb-8e24-9a2bc9b14482.png)

[2021-07-09 08:41] #34410 closed

[2021-07-09 08:50] VinInn opened #34420 "makeTrackValidationPlots.py crashes"
was ok in CMSSW_12_0_X_2021-06-30-2300 (that is still around)
[code]

[2021-07-09 08:50] cmsbuild commented on #34420
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-09 08:50] VinInn commented on #34420
@makortel @mtosi @vmariani

[2021-07-09 10:11] qliphy commented on #34349
https://github.com/cms-sw/cmssw/issues/34349#issuecomment-875448535
@ggovi  is for db, so should be fine to close this issue.

[2021-07-09 10:14] mmusich commented on #34349
@qliphy there is still the question of the unit test PR at https://github.com/cms-sw/cmssw/pull/34379 which is not signed by db...

[2021-07-09 10:18] qliphy commented on #34349
Sorry for missing this.

[2021-07-09 10:19] qliphy commented on #34349
assign db

[2021-07-09 10:19] cmsbuild commented on #34349
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-09 10:27] ggovi commented on #34349
+1

[2021-07-09 10:27] cmsbuild commented on #34349
This issue is fully signed and ready to be closed.

[2021-07-09 10:47] mmusich commented on #34420
due to https://github.com/cms-sw/cmssw/commit/a55870864bd5fa5634eab0a5d24050fae945ab5b ?
@davidlange6

[2021-07-09 12:13] slava77 commented on #34400
I guess that the point of the comment in #34286 was to have a link in the code
@mmusich may clarify the specifics.
If this was presented somewhere, perhaps a link to indico event/contribution is the most comprehensive.

[2021-07-09 14:21] makortel commented on #34420
I'm taking a look. That particular issue is easy to fix, but there can be further issues.

[2021-07-09 14:39] makortel commented on #25090
Here is an update from CMSSW_12_0_X_2021-07-06-2300

Generators:
[code]
@cms-sw/generators-l2 Could you give some time when these could be changed to use one of `ConcurrentHadronizerFilter`, `ConcurrentGeneratorFilter`, `ExternalGeneratorFilter`, etc? I'm just thinking if it would be better to wait for that, or proceed to change these workflow steps to not use concurrent lumis explicitly before ch

[2021-07-09 14:46] makortel commented on #31061
@fwyzard

Thanks for the analysis.

There is a possible call (via virtual functions) here
https://github.com/cms-sw/cmssw/blob/123c40d963a9cac49f968d6c86a6b247058aa0b5/RecoMuon/StandAloneTrackFinder/src/StandAloneMuonRefitter.cc#L42

Right. In any case the code-to-be-migrated is in `reconstruction` (with a possible impact on these EDModules, I did not check that deeply). I won't tag HLT for these

[2021-07-09 14:52] agrohsje commented on #25090
Hi @makortel . @colizz will present his latest checks in pre-mccm on Wednesday. Given the recent improvements, I assume we can converge at a time scale of 1 month and start mid August the transition. Would that be ok for you?

[2021-07-09 15:23] makortel commented on #32045
+1

We have not seen these crashes for a long time, so I think we can close the issue.

[2021-07-09 15:23] #32045 closed

[2021-07-09 15:23] cmsbuild commented on #32045
This issue is fully signed and ready to be closed.

[2021-07-09 16:01] makortel commented on #34420
assign dqm

[2021-07-09 16:01] cmsbuild commented on #34420
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-09 16:03] makortel commented on #34420
Fixed in #34430.

[2021-07-09 16:38] makortel commented on #25090
Thanks @agrohsje, I think that timescale sounds ok, so effectively within 12_1_X.

[2021-07-09 16:40] makortel commented on #25090
@cms-sw/alca-l2 If these modules are being run in Tier-0 (I'd assume so), do you know where are the threading parameters (number of threads/streams) being set for those jobs? Is it somewhere in CMSSW or somewhere in Tier-0 configuration?

[2021-07-10 03:10] srimanob commented on #25090
my 2-cert:

The config of Tier-0 can be found in
https://cmsweb.cern.ch/t0wmadatasvc/prod/express_config?run=325022
(just replace the run)

You can link it from
https://dmytro.web.cern.ch/dmytro/cmsprodmon/tier0.php

[2021-07-10 04:53] cmsbuild commented on #34383
The cleanup has started for slc7_aarch64_gcc9

[2021-07-10 04:53] cmsbuild commented on #34383
The cleanup has started for cc8_amd64_gcc9

[2021-07-10 04:53] cmsbuild commented on #34383
The cleanup has started for slc7_amd64_gcc900

[2021-07-10 04:53] cmsbuild commented on #34383
The cleanup has started for slc7_ppc64le_gcc9

[2021-07-10 04:53] #34383 closed

[2021-07-10 04:54] cmsbuild commented on #34383
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_2-cc8_amd64_gcc9/1719

[2021-07-10 04:54] cmsbuild commented on #34383
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_2-slc7_aarch64_gcc9/1720

[2021-07-10 04:54] cmsbuild commented on #34383
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_2-slc7_ppc64le_gcc9/1722

[2021-07-10 04:54] cmsbuild commented on #34383
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_2-slc7_amd64_gcc900/1721

[2021-07-10 15:01] qliphy opened #34438 "Build errors and unit failures in CMSSW_12_0_X_2021-07-09-2300"
Since CMSSW_12_0_X_2021-07-09-2300 there are build errors and unit failures in the default ( slc7_amd64_gcc900)

e.g.
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-09-2300/Validation/HGCalValidation

/data/cmsbld/jenkins/workspace/build-any-ib/w/slc7_amd64_gcc900/external/gcc/9.3.0/bin/ld -r -z muldefs -o tmp/slc7_amd64_gcc900/src/Validation/HGCalValidation/sr

[2021-07-10 15:01] cmsbuild commented on #34438
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-10 15:13] qliphy commented on #34438
Could it be due to recent python2 -> python3 migration?

e.g. https://github.com/cms-sw/cmsdist/pull/7106 was merged recently.

[2021-07-10 15:14] qliphy commented on #34438
assign core

[2021-07-10 15:14] cmsbuild commented on #34438
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-11 09:21] smuzaffar commented on #34438
@qliphy , cms-sw/cmsdist#7106 was merged in CMSSW_12_0_X_2021-07-09-1100 IB and unit tests ran fine in that IB. I think unit tests failue are due to one of the PRs merged in CMSSW_12_0_X_2021-07-09-2300 .

For build errors, I see that errors are only in patch IBs. Lets which for last night's 00h00 IB ( which will be a full IB) to see if full re-build has fixed the build issue

[2021-07-11 09:31] smuzaffar commented on #34438
assign dqm
@jfernan2 , could the change in https://github.com/cms-sw/cmssw/pull/34302 now confusing unit tests in DQMOffline/Configuration ?

[2021-07-11 09:31] cmsbuild commented on #34438
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-11 09:53] smuzaffar commented on #34438
I confirm that reverting  #34302  fixes `TestDQMOfflineConfiguration_*` tests ( at least TestDQMOfflineConfiguration_110 ran successfully). So if #34302 contains a valid change then DQMOffline/Configuration also need update

[a]
[code]

[2021-07-11 13:11] srimanob commented on #34438
Thanks @smuzaffar
Could you please let me know how can I make a local test? The https://github.com/cms-sw/cmssw/pull/34302 is just assigning the type workflow properly to data when guessing point to data. Still unclear why it has an effect on DQM. Thanks.

[2021-07-11 13:15] smuzaffar commented on #34438
@srimanob , following should be enough to run the test
[code]

[2021-07-11 16:44] srimanob commented on #34438
Thanks @smuzaffar

Looking in the error, I think the issue is the VALIDATION step itself. It runs
`cmsDriver.py step3 --conditions auto:run2_data -s VALIDATION --process DUMMY --eventcontent DQM --datatier DQMIO --customise_commands 'process.Tracer = cms.Service("Tracer")' --filein file:/eos/cms/store/data/Run2018A/EGamma/RAW/v1/000/315/489/00000/004D960A-EA4C-E811-A908-FA163ED1F481.root -n 10 --p

[2021-07-11 17:20] srimanob commented on #34438
It seems fixing the validation sequence is the right thing to do. Fixing only Nano sequence is just a temporary/dirty way to work. Actually, it is not about Nano-only, but other steps will be the same if CMSSW guesses it is data workflow but it will pick MC customization anyway. Detail is in
https://github.com/cms-sw/cmssw/pull/34302#issuecomment-877834286

After reverting https://github.com/cms-s

[2021-07-11 20:22] jfernan2 commented on #34420
+1
For the records

[2021-07-11 20:22] cmsbuild commented on #34420
This issue is fully signed and ready to be closed.

[2021-07-12 01:02] #34420 closed

[2021-07-12 01:08] qliphy commented on #34349
@cms-sw/db-l2  Would you please check #34379 ?

[2021-07-12 01:09] qliphy commented on #34438
Ok, thanks @srimanob

[2021-07-12 01:10] #34438 closed

[2021-07-12 04:05] srimanob opened #34443 "Confusion in sequence when neither "--data" nor "--mc" is used"
We started to spot the issue when neither "--data" nor "--mc" is used. CMSSW normally guess using
https://github.com/srimanob/cmssw/blob/master/Configuration/Applications/python/cmsDriverOptions.py#L214-L235

The issue happened when it guesses as a data workflow, however, nothing (e.g. isData) is set after that. When we make a workflow with, i.e.
`cmsDriver.py RECO --conditions 106X_dataRun2_v35 -

[2021-07-12 04:05] cmsbuild commented on #34443
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-12 04:09] qliphy commented on #34443
assign dqm,xpog

[2021-07-12 04:09] cmsbuild commented on #34443
New categories assigned: dqm,xpog

@jfernan2,@kmaeshima,@fgolf,@mariadalfonso,@rvenditti,@andrius-k,@gouskos,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-12 13:41] makortel opened #34445 "RelMon PR comparisons different from before"
It seems to me that there is still something fishy with the RelMon PR comparisons (following https://github.com/cms-sw/cmssw/pull/34440 and https://github.com/cms-sw/cmssw/pull/34338#issuecomment-877651086).

E.g. in https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_0_X_2021-07-11-2300+5c6882/44008/validateJR.html following link to 4.22 brings a page https://cmssdt.cern.ch/

[2021-07-12 13:41] makortel commented on #34445
assign core

[2021-07-12 13:42] cmsbuild commented on #34445
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-12 13:42] cmsbuild commented on #34445
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-12 13:58] smuzaffar commented on #34445
yes after droping ROOT python for py2 , we noticed ( https://github.com/cms-sw/cmssw/pull/34338#issuecomment-877651086 ) that Relmon is broken and not running any comparison. https://github.com/cms-sw/cmssw/pull/34440 was opened to fix the Relmon i.e. to use py3. Though now comparison job does not fail ( due to missing ROOT) but now it is not skiping the Timing Services related variables. @davidla

[2021-07-12 17:26] jfernan2 commented on #34443
@srimanob I have been looking into this but my knowledge of the PdmV configs from cmsDriver is limited.
Nevertheless, enabling your PR #34302 and doing a print before the processing of the 10 sequences crashing in:
https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Configuration/scripts/cmsswSequenceInfo.py#L530

after scram b runtests_TestDQMOfflineConfiguration_110

I get:

Config file cmssw

[2021-07-12 21:52] civanch opened #34448 "Results for Run-1 SIM step are sensitive to the EventSetup interface"
When OscarMTProducer was migrated to the new scheme of access to EventSetup (#34338), Run-1 WFs results have different simulation histories even for the 1st event.

[2021-07-12 21:53] cmsbuild commented on #34448
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-12 21:53] civanch commented on #34448
assign simulation core

[2021-07-12 21:57] civanch commented on #34448
assign simulation, core

[2021-07-12 21:58] cmsbuild commented on #34448
New categories assigned: core,simulation

@Dr15Jones,@smuzaffar,@civanch,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-12 21:59] makortel commented on #34448
The title is misleading because the reason is in the execution order of `VolumeBasedMagneticFieldESProducerFromDB` and `XMLIdealGeometryESProducer`.

[2021-07-12 23:35] makortel commented on #34448
Let me copy here https://github.com/cms-sw/cmssw/pull/34338#issuecomment-878377477

[2021-07-12 23:44] makortel commented on #34448
I've done some further experimentation.

I dumped the values of MagneticField by setting `process.VolumeBasedMagneticFieldESProducer.debugBuilder = True`, but the text dump was identical with both ESProducer orderings.

I also dumped the `DDCompactView` with `GeometryInfoDump` in `OscarMTMasterThread`, but the text dump was identical with both ESProducer orderings (also after changing the dump num

[2021-07-13 08:56] VinInn commented on #34448
valgrind?

[2021-07-13 09:17] civanch commented on #34448
I use following option:
process.g4SimHits.FileNameGDML = 'cms2010_8July.gdml'
process.g4SimHits.FileNameField = 'cms2010_8JulyMF.txt'

AN observation of different rotation matrix mentioned in #34338 is not justified, because it is a printout - result may depend on precision of cout. Except this rotation matrix everything else was identical. There is a possibility that some modules use random numbe

[2021-07-13 10:00] srimanob commented on #34443
Hi @jfernan2
I don't have an idea why it is not set properly. Do you know how these workflows have been selected?

However, the clues I have include
1. The input and GT used in DQM sequence validation is just a dummy. Since we don't work on physics result with it.
2. With validation sequence only, CMSSW will guess it is a data workflow. However, it will pick up MC sequence because isData is not se

[2021-07-13 10:50] jfernan2 commented on #34443
Your solution seems fine to me, thanks!

I would not consider them selected workflows but module/sequences coming from a full runTheMatrix inspection. They are part of the UnitTests under DQMOffline/Configuration/test which just grabs any DQM,Validation module/sequence to check its validity:

https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Configuration/test/runtests.sh#L23

Legacy modules

[2021-07-13 11:58] smuzaffar commented on #34445
One can reproduce the error by running [a].  @davidlange6 is looking in to it and here is what he wrote

[a]
[code]

[2021-07-13 12:10] srimanob commented on #31061
@cms-sw/hgcal-dpg-l2 @cms-sw/hcal-dpg-l2 @cms-sw/gem-dpg-l2 @cms-sw/csc-dpg-l2

Could you please take a look at the modules listed by @makortel  in (*) including
[code]

Thanks.

(*)
https://github.com/cms-sw/cmssw/issues/31061#issuecomment-875653146

[2021-07-13 13:31] makortel commented on #34448
@civanch Thanks. I used both options and found zero differences between the two orderings of the ESProducers.

I'll try valgrind next (thanks @VinInn).

[2021-07-13 13:47] srimanob commented on #34443
@cms-sw/dqm-l2

Could you please confirm the statement in
https://github.com/cms-sw/cmssw/pull/34452#discussion_r668763406 ?

For step:
- VALIDATION => MC
- VALIDATION + DQM => MC
- DQM => Data
?

Thanks in advance.

[2021-07-13 14:52] smuzaffar commented on #34445
In `12.0.0.pre3 and pre4` , I get
[code]

while in IB I get
[code]
so it starts with directory "Run 160960`

[2021-07-13 15:20] smuzaffar commented on #34445
https://github.com/cms-sw/cmssw/pull/34464 should fix this issue

[2021-07-13 16:44] kpedro88 opened #34469 "Make cmsRun-compatible argparse parser"
Currently, the "official" recommendation to enable command-line arguments in `cmsRun` configs is [VarParsing](https://github.com/cms-sw/cmssw/blob/master/FWCore/ParameterSet/python/VarParsing.py). This is a very old and limited parser, with strange behavior (e.g. assigning to a `VarParsing.multiplicity.list` object actually appends to it). However, it does handle the difference in `sys.argv` conte

[2021-07-13 16:45] cmsbuild commented on #34469
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-13 16:46] makortel commented on #34469
assign core

[2021-07-13 16:47] cmsbuild commented on #34469
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-13 20:20] cvuosalo opened #34476 "[Low priority][Run 3] Tune Tracker Petal Wedge z difference error message to prevent confusion"
In Run 3 workflows 11634.0 and 11634.912, both DDD and DD4hep, an error message like this occurs in steps 2-5:
[code]
This message comes from this code:
https://cmssdt.cern.ch/lxr/source/RecoTracker/TkDetLayers/src/ForwardDiskSectorBuilderFromDet.cc?v=CMSSW_10_6_20&%21v=CMSSW_12_0_X_2021-07-12-2300

The allowed difference is 0.8, and the value encountered is |0.95|. This message is more informatio

[2021-07-13 20:20] cmsbuild commented on #34476
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-13 20:20] cvuosalo commented on #34476
assign geometry,reco

[2021-07-13 20:20] cmsbuild commented on #34476
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-13 20:22] cvuosalo commented on #34476
assign reco

[2021-07-13 20:45] cmsbuild commented on #34476
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-13 20:51] cvuosalo commented on #34476
@adewit Does the error described in this issue look familiar to you? Do you have any ideas about it?

[2021-07-13 21:16] mmusich commented on #34476
@cvuosalo

It's not. The asymmetry of the endcap disks is a feature of the tracker misalignment scenario(-s) which has been present at various degrees throughout Run-2 and it is a reflection in the MC of the well known z-expansion effects in the Tracker Endcaps which recurrently plague the data alignment.
In my recollection we never experienced additional negative effects apart from the message, w

[2021-07-13 21:21] cvuosalo commented on #34476
@mmusich The message is classified as Error. Should it be changed to Warning or Info? I think you are saying that this condition is not an actual error, so should the message classification be changed?

[2021-07-13 21:27] mmusich commented on #34476
I guess it could become a warning - though doing so - we might then hide more serious problems.
Perhaps the threshold for emitting the error could be tuned, but honestly I wouldn't bother unless there is a strong push for that, as it's emitted only once per job.

[2021-07-13 21:29] #34445 closed

[2021-07-13 22:23] cvuosalo commented on #34476
@mmusich Thanks for the information. It's good to know this error is not serious.

[2021-07-13 22:23] cvuosalo commented on #34476
+1

[2021-07-13 22:24] cvuosalo commented on #34476
I leave it to the Reco conveners whether to pursue this issue or close it.

[2021-07-13 22:25] hyunyong commented on #31061
I'm working on the ```AlignmentProducerAsAnalyzer``` module.

[2021-07-14 02:04] makortel commented on #33630
I suppose this issue can be closed?

[2021-07-14 02:05] makortel commented on #33630
assign core

[2021-07-14 02:05] makortel commented on #33630
+1

[2021-07-14 02:05] cmsbuild commented on #33630
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-14 02:05] cmsbuild commented on #33630
This issue is fully signed and ready to be closed.

[2021-07-14 06:38] #33630 closed

[2021-07-14 07:48] haozturk commented on #34394
The input file looks good and accessible according to data management experts and I did not see any issue w/ the site so far.

[2021-07-14 09:42] civanch commented on #34271
The fix is merged to Geant4 repository and merged to cms-externals/geant4 in the v10.7.2 branch.

[2021-07-14 09:42] civanch commented on #34271
+1

[2021-07-14 12:55] tvami opened #34482 ""To the DQM GUI..." link doesn't work in RelMon Summary pages"
"To the DQM GUI..." link doesn't work in RelMon Summary pages created by the Jenkins tests

For example
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_0_X_2021-07-12-2300+b4fe37/44050/11634.0_TTbar_14TeV+2021+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST+ALCA/RelMonSummary.html

on the top of the page if I click to "To the DQM GUI..." link it leads to
"500 Internal Server

[2021-07-14 12:56] cmsbuild commented on #34482
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-14 12:59] smuzaffar commented on #34482
@tvami , can you please try again? looks like there was a glitch with front-end

[2021-07-14 13:00] tvami commented on #29406
Hi @cvuosalo this issue is ready to be closed, right? This was even before the DD4hep changes, so I think we are already one step ahead then what this issue reports. Thanks!

[2021-07-14 13:07] tvami commented on #34482
Hi @smuzaffar I tried again, and it leads to the same problem. I asked @malbouis to try too and she had the same outcome.

[2021-07-14 13:09] smuzaffar commented on #34482
strange, it works for me

[2021-07-14 13:13] smuzaffar commented on #34482
@tvami , can you access https://cmssdt.cern.ch/SDT/ ?

[2021-07-14 13:14] tvami commented on #34482
Yes, I can

[2021-07-14 13:16] tvami commented on #34482
@smuzaffar just to clarify I have the issue with this link
https://cmsweb.cern.ch/dqm/relval/start?runnr=-1;dataset=/Sample/%20CMSSW_12_0_X_2021-07-12-2300%20/DQMIO;sampletype=offline_data;filter=all;referencepos=on-side;referenceshow=all;referencenorm=True;referenceobj1=other:-1:/Sample/%20CMSSW_12_0_X_2021-07-12-2300%20+%20b4fe37%20/DQMIO:;referenceobj2=none;referenceobj3=none;referenceobj4=none

[2021-07-14 13:22] smuzaffar commented on #34482
ah, I think, that link was always broken . If you need to access "DQM Bin by bin"  comparison results then from the PR summary page ( e.g. https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-d0d64e/16791/summary.html ) follow the link "DQM bin by bin comparison" link there you will have various https://cmsweb.cern.ch/dqm links

[2021-07-14 13:36] smuzaffar opened #34483 "AddOn Test failure with ESGetTokenWrongTransition exception"
In few of last night's IBs, there is an `addOnTest hlt_mc_PRef` failing with error [a]. Note that it did not fail for all the of 12.0.X 23h00 IB ( e.g. PY3 ibs, gcc10 and non-x86_64 IBs looks good).  Could it be related to https://github.com/cms-sw/cmssw/pull/34338 ?

[a]

[code]

[2021-07-14 13:36] cmsbuild commented on #34483
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-14 13:44] makortel commented on #34483
Yes, and it should get fixed by https://github.com/cms-sw/cmssw/pull/34479. The failure occurs randomly (depending on how TBB uses worker threads).

[2021-07-14 13:47] smuzaffar commented on #34483
thanks @makortel . as  #34479 is merged so I am closing this issue.

[2021-07-14 13:47] #34483 closed

[2021-07-14 13:57] Martin-Grunewald commented on #34387
Partial fix for 80X: https://github.com/cms-sw/cmssw/pull/34484
(Other problems in 80X seem to be genuine, need to investigate)

[2021-07-14 18:26] makortel commented on #34394
But the problem persists while reading it via CMSSW?

[2021-07-14 19:27] cvuosalo commented on #29406
+1

[2021-07-14 19:28] cvuosalo commented on #29406
@tvami Yes, the Run 3 geometry has been completed. This issue can be closed.

[2021-07-14 20:02] sroychow opened #34489 "imp module is deprecated in python3"
While using ```edmConfigDump``` the following warning is seen.
[code]
A  fix that I tried is this :-
[code]
Other script which has this is ```edmConfigSplit```. There are ~10 other configs where this module is used.

[2021-07-14 20:03] cmsbuild commented on #34489
A new Issue was created by  @sroychow Suvankar Roy Chowdhury.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-14 21:01] tvami commented on #29406
+alca

[2021-07-14 21:01] cmsbuild commented on #29406
This issue is fully signed and ready to be closed.

[2021-07-14 22:04] makortel commented on #34489
assign core

[2021-07-14 22:05] cmsbuild commented on #34489
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-14 22:15] wddgit opened #34492 "MessageLogger Context in Post Service Transitions"
The MessageLogger context information in MessageLogger post Service transitions is being updated too late. It gets updated in the MessageLogger Service which runs last, after all the other Services have already finished. This context is set in this file FWCore/MessageService/plugins/MessageLogger.cc. An example would be MessageLogger::postGlobalBeginRun.

One possible fix that was suggested was to

[2021-07-14 22:15] cmsbuild commented on #34492
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-15 00:36] #29406 closed

[2021-07-15 00:41] makortel commented on #34492
assign core

[2021-07-15 00:41] cmsbuild commented on #34492
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-15 09:40] czangela opened #34496 "Pixel Local GPU reco crashes on missing detector input (no Pixel FED)"
# 1. Description

Similar to [#34197](https://github.com/cms-sw/cmssw/issues/34197).

The idea here was to remove all `FED channels` above `1199`*, and run the reconstruction on this skimmed raw data.

This was run on the release `CMSSW_12_0_0_pre3`, and machine `cmg-gpu1080.cern.ch`.

[*] where [`1200` is the minimum `FED` number for the silicon pixel detector](https://github.com/cms-sw/cmssw/blo

[2021-07-15 09:41] cmsbuild commented on #34496
A new Issue was created by  @czangela .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-15 09:58] smuzaffar commented on #34482
"To the DQM GUI" link is not valid for jenkins jobs as we do not upload any thing to dqm server. I will update the bot jobs to remove this link for PR tests

[2021-07-15 12:55] makortel commented on #34496
assign reconstruction, heterogeneous

[2021-07-15 12:56] makortel commented on #34496
FYI @cms-sw/trk-dpg-l2 @VinInn

[2021-07-15 12:56] cmsbuild commented on #34496
New categories assigned: heterogeneous,reconstruction

@slava77,@fwyzard,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-15 13:15] VinInn commented on #34496
Interesting as it WAS protected for
```0 == nHits_```
but just by eye now is buggy (check acquire and then produce)
so it is obvious that produce will crash

[2021-07-15 13:17] mmusich commented on #34496
with this

[code]

it runs for me.
Acceptable?

[2021-07-15 13:23] VinInn commented on #34496
one can leave the reserve after the return; (very very minor).
I think should be ok.

still: was tested (long long ago) with nHits_==0; and the history has been erased by the file renaming. So no way to understand when and why was changed.

[2021-07-15 13:27] VinInn commented on #34496
ok found a version in CMSSW_11_1_0_pre8_Patatrack when was named SiPixelRecHitFromSOA.cc and the code is the same.
No clue "how" was tested then...  (maybe before introducing "hmsp")

[2021-07-15 13:32] VinInn commented on #34496
maybe easier to just protect the copy
[code]

[2021-07-15 14:12] ggovi commented on #34381
addressed by https://github.com/cms-sw/cmssw/pull/34382 ?

[2021-07-15 14:26] makortel commented on #33616
The problematic functionality is being removed in https://github.com/cms-sw/cmssw/pull/34502

[2021-07-15 16:48] wddgit commented on #34492
Extending the tests in #34491 would be a natural way to test this once the fix is implemented.

[2021-07-16 03:13] qliphy opened #34512 "testGetPayloadData (getPayloadData.py) unit failure"
**There is a unit failure In CMSSW_12_0_X_2021-07-15-2300**
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-15-2300/unitTestLogs/CondCore/Utilities#/181-181
Traceback (most recent call last):
  File "<string>", line 1, in <module>
KeyError: 'cond::BasicPayload'
getPayloadData.py --discover test not passed... found no entries
---> test testGetPayloadData had ERRO

[2021-07-16 03:13] cmsbuild commented on #34512
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-16 03:14] qliphy commented on #34512
assign db

[2021-07-16 03:14] cmsbuild commented on #34512
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-16 03:14] qliphy commented on #34512
@mmusich  Please have a look. Thanks!

[2021-07-16 03:17] #28703 closed

[2021-07-16 06:55] ggovi commented on #13788
Shall we close this issue?

[2021-07-16 06:56] ggovi commented on #17061
+1

[2021-07-16 06:56] ggovi commented on #17061
This issue can be closed.

[2021-07-16 06:58] #34349 closed

[2021-07-16 07:00] smuzaffar commented on #13788
yes we should.

[2021-07-16 07:00] #13788 closed

[2021-07-16 07:00] ggovi commented on #21141
@Dr15Jones Going back to this issue. Yes I think we should throw the exception in jobs allowing multiple. Can you briefly explain how to achieve that, or point me to some similar code? Thanks!

[2021-07-16 07:11] mulhearn commented on #17061
4.5 years!

[2021-07-16 08:05] mmusich commented on #34512
@qliphy just about the second part of your report, that's not correct

(I have tested both CMSSW_12_0_X_2021-07-15-1100 and CMSSW_12_0_X_2021-07-14-1100 )
---> Passed test of 'getPayloadData.py --plugin pluginBasicPayload_PayloadInspector --plot plot_BasicPayload_data0_withInput --tag BasicPayload_v0 --input_params {"Factor":"1","Offset":"2","Scale":"3"} --time_type Run --iovs {"start_iov": "1", "

[2021-07-16 08:09] qliphy commented on #34512
@mmusich ok, thanks.  I will remove that part.

[2021-07-16 08:17] mmusich commented on #34512
About the issue in the last IB, I think I understand the cause.
In general, if there are no changes in any of the plugins to be "discovered" (as it has been the case until now) the script will look for *all* the plugins available, see e.g. here:

 https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-15-1100/unitTestLogs/CondCore/Utilities#/172.

But specifically in `

[2021-07-16 10:07] mmusich commented on #34512
see https://github.com/cms-sw/cmssw/pull/34515

[2021-07-16 16:19] makortel commented on #31194
+1

This seems to have been fixed

[2021-07-16 16:19] cmsbuild commented on #31194
This issue is fully signed and ready to be closed.

[2021-07-16 16:23] #31194 closed

[2021-07-16 17:58] makortel opened #34520 "Assertion failure in edm::service::MessageLogger::unEstablishModule()"
In PR test https://github.com/cms-sw/cmssw/pull/34517#issuecomment-881609419 `TestDQMServicesDemo` test, more specifically `cmsRun DQMServices/Demo/test/run_analyzers_cfg.py outfile=huge.root numberEventsInRun=300 numberEventsInLuminosityBlock=100 nEvents=600 nThreads=10` failed with
[code]

[2021-07-16 17:58] makortel commented on #34520
assign core

[2021-07-16 17:58] cmsbuild commented on #34520
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-16 17:58] cmsbuild commented on #34520
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-16 17:59] makortel commented on #34520
So the thread 9 is running `DQMRootOutputModule::writeLuminosityBlock()` and then ends up running  `edm::Path::workerFinished()`. Can we be missing `tbb::this_task_arena::isolate()` in `DQMRootOutputModule`?

[2021-07-16 18:01] Dr15Jones commented on #34520
seems so.

[2021-07-16 18:02] Dr15Jones commented on #34520
@makortel I had thought that now ROOT had put an `arena` call around all of its internal uses of TBB. Guess that isn't the case :(.

[2021-07-16 18:04] makortel commented on #34520
Maybe @pcanal could comment?

[2021-07-16 19:03] makortel opened #34523 "Crash in edm::WaitingTaskList::announce()"
In the PR tests of https://github.com/cms-sw/cmssw/pull/34329#issuecomment-881644114 the `runtestPhysicsToolsNanoAOD` failed with
[code]

[2021-07-16 19:04] makortel commented on #34523
assign core

[2021-07-16 19:04] cmsbuild commented on #34523
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-16 19:04] cmsbuild commented on #34523
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-16 22:07] Dr15Jones commented on #21141
@ggovi you can have the service listen to the Preallocate signal

https://github.com/cms-sw/cmssw/blob/2fda345fb53345d39b5dd2d28535e0c77c82cdcc/FWCore/ServiceRegistry/interface/ActivityRegistry.h#L144

and have it thrown an exception if the job is configured in a way it can't handle.

[2021-07-16 22:12] Dr15Jones commented on #34523
Seems like something we should run valgrind on. Single threaded failure would imply to me a memory overwrite.

[2021-07-16 22:34] makortel commented on #34523
I'll try to reproduce and run through valgrind

[2021-07-17 01:40] makortel commented on #34520
There is another one in workflow 4.28 step 3 in CMSSW_12_0_X_2021-07-16-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-16-1100/pyRelValMatrixLogs/run/4.28_HighMet2011A+HighMet2011A+HLTDSKIM+RECODR1reHLT+HARVESTDR1reHLT/step3_HighMet2011A+HighMet2011A+HLTDSKIM+RECODR1reHLT+HARVESTDR1reHLT.log#/

[2021-07-17 01:42] makortel commented on #34520
assign dqm

[2021-07-17 01:42] cmsbuild commented on #34520
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-17 01:46] makortel opened #34529 "Segfault in Herwig7GeneratorFilter"
Workflow 511.0 step 1 segfaults in CMSSW_12_0_X_2021-07-16-1100
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-16-1100/pyRelValMatrixLogs/run/511.0_QCD_Pt-30_13TeV_aMCatNLO_herwig7+QCD_Pt-30_13TeV_aMCatNLO_herwig7+HARVESTGEN/step1_QCD_Pt-30_13TeV_aMCatNLO_herwig7+QCD_Pt-30_13TeV_aMCatNLO_herwig7+HARVESTGEN.log#/

The log has
[code]
but I don't know if th

[2021-07-17 01:46] makortel commented on #34529
assign generators

[2021-07-17 01:46] cmsbuild commented on #34529
New categories assigned: generators

@Saptaparna,@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-17 01:46] cmsbuild commented on #34529
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-17 01:48] makortel commented on #34529
Another one also in `DQMServices/Demo` unit test in CMSSW_12_0_X_2021-07-16-1100

[2021-07-17 01:49] makortel commented on #34520
Another one also in DQMServices/Demo unit test in CMSSW_12_0_X_2021-07-16-1100

[2021-07-17 01:58] qliphy commented on #34529
adding @theofil @colizz @Dominic-Stafford

[2021-07-17 02:01] qliphy opened #34531 "IB Failure from Worflow 537 (DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7)"
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_DEVEL_X_2021-07-16-1100/pyRelValMatrixLogs/run/537.0_DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+HARVESTGEN/step1_DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+HARVESTGEN.log#/972-972

%MSG-w ExternalLHEP

[2021-07-17 02:02] qliphy commented on #34531
assign generators

[2021-07-17 02:02] cmsbuild commented on #34531
New categories assigned: generators

@Saptaparna,@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-17 02:02] cmsbuild commented on #34531
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-17 02:03] qliphy commented on #34531
related to https://github.com/cms-sw/cmssw/pull/34463

@theofil @colizz @Dominic-Stafford  please have a look.

[2021-07-17 02:04] makortel commented on #34520
#34532 protects all `TTree::Fill()` calls with `tbb::this_task_arena::isolate()` in `DQMRootOutputModule`.

[2021-07-17 02:28] qliphy opened #34533 "duplicated dictionaries in IB CMSSW_12_0_X_2021-07-16-2300"
https://cmssdt.cern.ch/SDT/cgi-bin/showDupDict.py/slc7_amd64_gcc900/www/fri/12.0-fri-23/CMSSW_12_0_X_2021-07-16-2300/testLogs/dupDict-edmPD.log

<h3> Information about duplicated dictionaries or dictionaries defined in the wrong place (lib).  </h3>
<h3>  </h3>

object found multiple times | libs/xml files the object is found in
-- | --
CaloTrkProcessing | **pluginCalibCalorimetryEcalTrivialCondMod

[2021-07-17 02:28] qliphy commented on #34533
Related to https://github.com/cms-sw/cmssw/pull/34510/

[2021-07-17 02:28] cmsbuild commented on #34533
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-17 02:29] qliphy commented on #34533
assign simulation

[2021-07-17 02:29] cmsbuild commented on #34533
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-17 02:32] makortel commented on #34520
On the other hand, these failures started to appear after https://github.com/cms-sw/cmssw/pull/34506, that added this assertion, was merged. @wddgit, could also you take a look and comment if the assertion failures make sense in this context?

[2021-07-17 06:59] qliphy commented on #34529
Herwig-cache/Build/MadGraphAmplitudes/MG.log from local test shows:

madgraph requires the six module. The easiest way to install it is to run "pip install six --user"
in case of problem with pip, you can download the file at https://pypi.org/project/six/ . It has a single python file that you just need to put inside a directory of your $PYTHONPATH environment variable.
Traceback (most recent call

[2021-07-17 07:17] qliphy commented on #34531
you can reproduce the error locally:
  runTheMatrix.py -l 537.0 --job-reports -t 4 --ibeos

yet it works well with single thread:
   runTheMatrix.py -l 537.0 --job-reports
(Note PR test is also with single thread)

[2021-07-17 09:33] colizz commented on #34531
Thanks @qliphy,
it seems this is due to some MG error. For one of the four LHE routines, MG reports an error in calculating the systematics:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_DEVEL_X_2021-07-16-1100/pyRelValMatrixLogs/run/537.0_DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7+HARVESTGEN/step1_DYToLL012

[2021-07-17 09:54] qliphy commented on #34531
@colizz  Thanks! I think you are right.  With 2 threads, the events are splitting to 5+5 for 2 jobs and it works well

runTheMatrix.py -l 537 --job-reports -t 2 --ibeos

@cms-sw/pdmv-l2 @smuzaffar  Is there some way to set larger events or smaller threads for this specific workflow 537?

Or should we set  generateConcurrently to false?  @theofil
https://github.com/cms-sw/cmssw/blob/master/Configur

[2021-07-17 10:05] civanch commented on #34533
@qliphy , @bsunanda , may be we revert this MR for some time?

[2021-07-17 10:08] qliphy commented on #34533
@civanch  You mean we revert https://github.com/cms-sw/cmssw/pull/34510 , right?

[2021-07-17 10:27] civanch commented on #34533
Yes, exactly.

[2021-07-17 10:41] qliphy commented on #34533
ok, done with https://github.com/cms-sw/cmssw/pull/34535

[2021-07-17 12:53] Dr15Jones commented on #34533
This should not have been reverted. The problem was a false positive caused by looking at a patch build of an IB instead of a full build. The duplicate dictionary checker is not smart enough to realize that there were two places it was looking for the plugins, in the patch area and in the full area associated to the patch. The plugin system will always first pick the items from the patch and only

[2021-07-17 13:01] smuzaffar commented on #34533
@qliphy, I agree with @Dr15Jones . the duplicate dicts errors are only on patch builds. A full builds should have cleaned up these errors. There was no need to revert #34510.

[2021-07-17 13:03] qliphy commented on #34533
@smuzaffar @Dr15Jones  Ah, ok, thanks!  Sorry I didn't know that.  I will recover #34510 then if there is no further comment.

[2021-07-17 15:40] dan131riley commented on #34520
ROOT has isolation calls around the TThreadExecutor parallel for/reduce/map/etc.  However, the TTree (and RNTuple) IMT compression uses TTaskGroup, and the way that is structured it isn't possible to do the arena isolation internally to the TTaskGroup, and doing it externally would mean breaking the TTaskGroup abstraction--so it ends up being left to the caller to decide what to do.  During the RN

[2021-07-17 16:02] theofil commented on #34531
@qliphy setting the generateConcurrently to false could be an acceptable way to proceed for now, unless we find a better way to make it work e.g., by the suggestion you made to set larger sample events per thread.

[2021-07-18 09:27] #34533 closed

[2021-07-18 11:13] #34512 closed

[2021-07-18 13:57] theofil commented on #34529
@makortel These error messages are known issues of the cmssw Herwig interface and appear (always) when Herwig is used as hadronizer of an external LHE. we are on the way fixing this printing issue (related to duplicate lines appended in the Herwig.in file). Bottomline, alone these Error lines in the printout don't indicate a problem and should be ignored. That is not precluding that the error is o

[2021-07-18 16:32] theofil commented on #34531
thanks to @colizz and @qliphy for analyzing the various symptoms and figuring out the details.

To summarize: I can confirm that running with in 1 thread is OK, with 4 threads we get error and with 2 threads is again fine. Therefore although the issue is on the merging of the multiple LHEs, it seems that the problem resides on the files we try to merge when statistics are low rather on the [mergeL

[2021-07-18 21:20] tvami commented on #34482
I understand

Thanks @smuzaffar !

[2021-07-19 09:35] iarspider opened #34545 "testHeterogeneousCoreCUDACore failed in CMSSW_12_0_GPU_X_2021-07-18-2300 IB"
Log: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_GPU_X_2021-07-18-2300/unitTestLogs/HeterogeneousCore/CUDACore#/

Error message:
[code]

[2021-07-19 09:36] cmsbuild commented on #34545
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-19 12:01] #34520 closed

[2021-07-19 13:04] makortel commented on #34545
assign heterogeneous

[2021-07-19 13:04] cmsbuild commented on #34545
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-19 13:09] makortel commented on #34545
Given the printout
[code]
the test program itself succeeds, and the crash occurs during the termination of the program. I interpret the stack trace such that the problematic `free()` call comes from CUDA itself. Could be a bug in there, or some transient glitch. Apparently this crash has not occurred before, so I'd wait for next GPU IBs to see if the problem persists.

[2021-07-19 13:11] makortel opened #34547 "SonicTriton test failures in GPU IBs"
The SonicTriton tests have been failing in GPU IBs at least since CMSSW_12_0_GPU_X_2021-07-12-2300 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_GPU_X_2021-07-18-2300/unitTestLogs/HeterogeneousCore/SonicTriton#/

[2021-07-19 13:11] makortel commented on #34547
assign heterogeneous

[2021-07-19 13:11] cmsbuild commented on #34547
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-19 13:11] makortel commented on #34547
@kpedro88 please take a look

[2021-07-19 13:11] cmsbuild commented on #34547
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-19 13:25] jfernan2 commented on #34520
+1
For the records

[2021-07-19 13:33] makortel commented on #34523
Valgrind showed several errors in the test
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

(there are more invalid reads in `pat::MET::findMETTotalShift()` but I'm omitting them for brevity)

[code]

[code]

[2021-07-19 13:36] makortel commented on #34523
So bunch of invalid reads in `pat::MET::findMETTotalShift()` and in `HepMC::GenParticle`, and invalid writes in `pat::MET::PackedMETUncertainty::unpack()`. The invalid writes could be causing the problems (the valgrind job itself did not crash). I'm testing also the base IB (CMSSW_12_0_X_2021-07-16-1100) if the invalid writes are present there as well.

[2021-07-19 15:13] wddgit commented on #34520
I am looking at this now carefully trying to understand if I should remove those new asserts.

[2021-07-19 15:19] Dominic-Stafford commented on #34529
As @qliphy suggested, I think the problem is the script that makes the Madgraph directory used by the Herwig matchbox fails almost silently, just giving this message about six being missing. Then the actual traceback in MG.log is just from Herwig trying to patch one of the MG fortran files, and throwing the exception because it's not there. Unfortunately I'm not sure where the python script that c

[2021-07-19 15:30] Dr15Jones commented on #34523
I believe the problem is here

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/DataFormats/PatCandidates/src/MET.cc#L220

based on
[code]

What ever value is being returned in the call `itCor_->second[i]` is 1 beyond the end of the vector `corrections_`.

I suggest adding a line between
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/Data

[2021-07-19 15:48] makortel commented on #34523
The invalid reads/writes from `pat::MET` do not occur in the base IB, so they are specific to https://github.com/cms-sw/cmssw/pull/34329.

[2021-07-19 15:56] Dominic-Stafford commented on #34529
Actually, I think I've found the line- I'll patch this, check it fixes the issue then make a PR

[2021-07-19 16:20] iarspider opened #34551 "Unit tests of CondTools/ECAL failing in CMSSW_12_0_X_2021-07-19-1100"
Log file: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-19-1100/unitTestLogs/CondTools/Ecal#/45

Failing tests: EcalDAQ_O2O_test, EcalDCS_O2O_test, EcalLaser_O2O_test

Error message:
[code]

Most likely caused by dropping python2.

[2021-07-19 16:21] cmsbuild commented on #34551
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-19 16:35] iarspider opened #34552 "Unit tests of Configuratoin/Geometry failing in CMSSW_12_0_X_2021-07-19-1100"
Log file: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-19-1100/unitTestLogs/Configuration/Geometry#/

Failing tests: test2021Geometry, test2026Geometry

Error message:
[code]
(similar message for test2026Geometry)

Most likely caused by dropping python2.

[2021-07-19 16:36] cmsbuild commented on #34552
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-19 16:44] fwyzard commented on #34545
Sorry, I am mostly offline this week.

If the problem persists, do we know what version of the NVIDIA drivers and
CUDA runtime is available on the machine running the tests ?
Did it change recently ?

.A

[2021-07-19 21:10] smuzaffar commented on #34482
link has been removed.

[2021-07-19 21:10] #34482 closed

[2021-07-19 21:41] makortel commented on #34551
assign db

[2021-07-19 21:41] makortel commented on #34551
apparently gets fixed with https://github.com/cms-sw/cmssw/pull/34350

[2021-07-19 21:41] cmsbuild commented on #34551
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-19 21:50] iarspider commented on #34551
@ggovi @makortel Yes, this should be closed in favor of #34350.

[2021-07-19 21:50] #34551 closed

[2021-07-19 22:05] wddgit commented on #34520
See pull request #34557. Hopefully this handles this better.

[2021-07-19 22:17] makortel commented on #34523
The assertion https://github.com/cms-sw/cmssw/issues/34523#issuecomment-882643898 indeed fails before the job crashes for other reasons, so the memory overwrite in `pat::MET` can be reasonably assumed to be the cause for the troubles. I'm closing this issue because the problem seems to be specific to #34329.

[2021-07-19 22:17] #34523 closed

[2021-07-19 22:40] makortel commented on #34545
CUDA runtime is available on the machine running the tests ?

Maybe we should consider adding printouts of those into some unit test?

[2021-07-20 01:52] qliphy commented on #34552
assign geometry

[2021-07-20 01:52] cmsbuild commented on #34552
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-20 02:02] cvuosalo commented on #34552
It looks like this issue is being fixed by #34554.

[2021-07-20 03:06] tklijnsma opened #34559 "scram b ProjectRename not working in (at least) CMSSW_12_0_0_pre3 and CMSSW_12_0_0_pre4"
`scram b ProjectRename` does not seem to work for me anymore. Tested on the LPC nodes at Fermilab, on lxplus, and on htcondor compute nodes.

### Steps to reproduce

[code]

Note in the last line, the `No such file or directory` makes sense because it's pointing to the path before moving the project. While `Done: ProjectRename` is printed, actually trying anything reveals it didn't work:

[code]

[2021-07-20 03:06] cmsbuild commented on #34559
A new Issue was created by  @tklijnsma .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-20 13:05] makortel commented on #34559
assign core

[2021-07-20 13:05] cmsbuild commented on #34559
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-20 13:13] skinnari commented on #34196
hi @srimanob , apologies for not addressing this sooner. I have tried to have a look but cannot reproduce it. This is not an issue we have observed before. Is this still an issue?

[2021-07-20 13:49] Dominic-Stafford commented on #34529
I'm having trouble building cmsdist, as the python script that compiles madgraph fails when trying to import six, despite the fact this is running with python3, and the py3-six package successfully installed. Is there anything one needs to do to ensure this is on the PYTHONPATH during the install, or something?

[2021-07-20 15:23] slava77 commented on #33665
it looks like some data pilots outputs are now available.
So, a pair of workflows similar to 136.88811 (data) and 1325.518 (MC).
I'll give it a try this week.

[2021-07-20 15:53] chayanit commented on #33665
@slava77 yes, please I'm not successful to run Data workflow through RelVal and I noticed that we have also submitted a pilot so I agree to move on with the existing samples.

[2021-07-20 15:54] tvami commented on #17061
+alca

[2021-07-20 16:36] davidlange6 commented on #34529
Add a requires statement on py3-six in your spec file? if not, could you put your spec file someplace?

[2021-07-20 16:43] slava77 commented on #31019
@smuzaffar
please let me know if this was checked already, if the ignominy can be expected to run, eventually.

[2021-07-20 16:47] slava77 commented on #33564
+1

fixed in #33928

[2021-07-20 16:47] cmsbuild commented on #33564
This issue is fully signed and ready to be closed.

[2021-07-20 16:53] Dominic-Stafford commented on #34529
Yes, I require py3-six in the spec file. I haven't changed the madgraph spec file from the one here: https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_0_X/master/madgraph5amcatnlo.spec, which was why I was confused it didn't work. However I think my version of pkgtools may have been out of date, so I've updated that and started the build again

[2021-07-20 16:54] #33564 closed

[2021-07-20 21:01] kpedro88 commented on #34547
@makortel I see this in `CMSSW_12_0_GPU_X_2021-07-18-2300`, but not in `CMSSW_12_0_GPU_X_2021-07-19-2300`. So it may have been incidentally fixed by #34508, but I'm not sure how.

`CMSSW_12_0_GPU_X_2021-07-19-2300` has a different failure in the GPU test, though:
[code]

However, I can't reproduce the failures from either IB locally, so it's hard for me to debug further. Is there a way to access a

[2021-07-20 21:22] smuzaffar commented on #31019
I gave it a look and it is not easy to change ignominy. I will try to port it but it is not on a high priorty list

[2021-07-20 21:28] smuzaffar commented on #34559
@tklijnsma , I confirm that it is not working. For now please use `scram b -r ProjectRename` . I will fix it soon.

[2021-07-21 01:31] makortel commented on #31061
The script producing the list of EDModules-to-be-migrated-run-in-runTheMatrix for each IB had some flaws that caused e.g. many (or recently all) DQM modules to be missing. The script has been fixed now, and updated list of modules classified according to L2 areas (not exclusive) from CMSSW_12_0_X_2021-07-19-2300 can be found below. The YAML file shows also now (again?) the full function call stack

[2021-07-21 05:44] qliphy commented on #34531
@smuzaffar  Is there some way to increase event number for a specific workflow in IB test?  Somewhere in cms-bot?

[2021-07-21 06:33] davidlange6 commented on #34531
I’d suggest that we don’t want code that is known to blow up if not run on some arbitrary number of events.

[2021-07-21 06:56] smuzaffar commented on #34531
@qliphy , yes there was ways to do that e.g. via Configuration/PyReleaseValidation/python where the workflow is defined. There are many workflows which override the default events counts. But I agree with @davidlange6 that we should understand the reason and fix the code to behave properly if not correct number of event are given

[2021-07-21 07:00] srimanob commented on #31061
The following modules will be taken care by HGCAL trigger group,
[code]
@jbsauvan

[2021-07-21 07:08] srimanob commented on #32050
@adas1994 Do you have an update on this?  Thanks.

[2021-07-21 07:09] srimanob commented on #32050
assign hgcal-dpg

[2021-07-21 07:09] cmsbuild commented on #32050
New categories assigned: hgcal-dpg

@cseez,@rovere you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-21 07:19] adas1994 commented on #32050
I don't have any updates on it. I tried to solve it for a couple of weeks
and could not. Since then I have been extremely busy and I will remain so
for at least next 2 months.
I suggest asking somebody else to solve it with a fresh open issue or wait
for 2 more months for me to have another look at it.
I am sorry.

On Wed, Jul 21, 2021 at 9:09 AM cmsbuild ***@***.***> wrote:

--
Sincerely,

Abhish

[2021-07-21 08:10] jfernan2 commented on #31061
@makortel Regarding:

Those modules were migrated in what esConsumes concerns in PRs :
https://github.com/cms-sw/cmssw/pull/34296/
https://github.com/cms-sw/cmssw/pull/34365/
https://github.com/cms-sw/cmssw/pull/34266/

in which the tests did not give any other mention to esConsumes not migrated yet.
Indeed, a 'scram build checker'  over the current version of the packages does not mention any mod

[2021-07-21 12:42] tvami commented on #31061
I think this is taken care of in the ongoing PR https://github.com/cms-sw/cmssw/pull/34542

[2021-07-21 13:22] makortel commented on #31061
@jfernan2

The PR tests check only the files touched in a PR.

 In this case the code-to-be-migrated is in helper classes that are (likely) in separate package.

From the [latest report](https://cmssdt.cern.ch/SDT/jenkins-artifacts/ib-static-analysis/CMSSW_12_0_X_2021-07-20-2300/slc7_amd64_gcc900/reports/eventsetuprecord-get.yaml)

* `BDHadronTrackMonitoringAnalyzer::analyze(const edm::Event &, co

[2021-07-21 13:34] Dominic-Stafford commented on #34531
I think this issue is more a physics issue rather than a bug, that asking madgraph for only 2 events at NLO could result in the xs being zero or something similar, which causes the issue with calculating the systematics. Maybe @colizz could comment if it would be easy to modify mergeLHE.py to skip LHEs which have problematic systematics, but otherwise I'm not sure what the proper behaviour would b

[2021-07-21 14:26] colizz commented on #34531
yes, I agree this is more a physics issue of madgraph, and that maybe extending the event number can be a good solution.

I think the message is that we cannot merely request 2 events from this gridpack. Even we run in one thread, for 2 events, the LHE production still fails (though silently). The LHE is then problematic and will cause a buggy EDM-format output. Therefore I may not suggest modifyi

[2021-07-21 18:56] jfernan2 commented on #31061
I am not sure to understand exactly this: getJetCorrector seems to be the only method to access JetCorrections
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/JetMETCorrections/Objects/src/JetCorrector.cc#L49
and it is not using esConsumes since it has not been migrated yet (row 194 of https://docs.google.com/spreadsheets/d/1cUypk2EK4xVcEpFGtaNqXrWZEoFz_E9l4gNN3YoBQH4

[2021-07-21 19:09] makortel commented on #31061
@jfernan2 The only thing `JetCorrector::getJetCorrector()` does is to get the `JetCorrector` object with a given label from `EventSetup`
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/JetMETCorrections/Objects/src/JetCorrector.cc#L48-L53

Thefore the calling code in
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/DQM/Physics/interface/To

[2021-07-22 00:36] makortel commented on #34448
Here is a test result that shows differences across the board in 9.0 of a PR that should not have any physics impact https://github.com/cms-sw/cmssw/pull/34577#issuecomment-884581620

[2021-07-22 00:41] makortel commented on #34448
I had run valgrind on one of the ordering options, but it didn't reveal anything interesting.

I also collected stack traces with `gdb` breaking into the random number generation. I had patience to collect logs for 3.4M calls (that was not enough to complete one event), but comparing those showed no difference between the two ESProducer orders.

[2021-07-22 00:42] makortel commented on #34496
+heterogeneous

PRs to master and 11_3_X have been merged

[2021-07-22 12:36] qliphy opened #34586 "IB error in workflow 4007.0: invalid PDG id: 9010221"
In IB CMSSW_12_0_X_2021-07-21-2300

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-21-2300/pyRelValMatrixLogs/run/4007.0_QCD_Pt_30_80_BCtoE_8TeV+QCD_Pt_30_80_BCtoE_8TeV+DIGIPU1+RECOPUDBG/step1_QCD_Pt_30_80_BCtoE_8TeV+QCD_Pt_30_80_BCtoE_8TeV+DIGIPU1+RECOPUDBG.log#/267-267

----- Begin Fatal Exception 22-Jul-2021 09:11:33 CEST-----------------------
An exception

[2021-07-22 12:37] cmsbuild commented on #34586
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-22 12:37] qliphy commented on #34586
assign generators

[2021-07-22 12:37] cmsbuild commented on #34586
New categories assigned: generators

@Saptaparna,@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-22 13:23] qliphy opened #34587 "Unit failure on SimTracker/TrackerMaterialAnalysis"
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-21-2300/unitTestLogs/SimTracker/TrackerMaterialAnalysis#/

This seems to come from:
https://github.com/cms-sw/cmssw/pull/34521

Local test shows:

cmsRun trackingMaterialProducer10GeVNeutrino_ForPhaseII.py

An exception of category 'NoRecord' occurred while
   [0] Processing  stream begin Run run: 1 stream: 0
   [1

[2021-07-22 13:26] qliphy commented on #34587
assign simulation

[2021-07-22 13:26] qliphy commented on #34587
@bsunanda

[2021-07-22 13:26] cmsbuild commented on #34587
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-22 13:26] cmsbuild commented on #34587
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-22 15:33] jfernan2 commented on #31061
Thanks for the tips @makortel  Unfortunately, I am sorry but, despite I have been struggling with this most of the day, I am not able to solve the problems, due to my lack of understanding of the situation. Which command produces the Report? How can I check my changes are in the right direction? Is there any scram b command giving the complain for this kind of issues?
My current (stuck) status is

[2021-07-22 15:52] mkirsano commented on #34586
I will have a look. @smrenna probably again some PDG code is changed.

On 7/22/21 2:37 PM, cmsbuild wrote:

[2021-07-22 16:07] slava77 commented on #34496
+reconstruction

 #34501 and #34503 were merged

[2021-07-22 16:07] cmsbuild commented on #34496
This issue is fully signed and ready to be closed.

[2021-07-22 16:09] slava77 commented on #34197
+reconstruction

- ECAL: #34292 and #34293
- HCAL: #34429 (master) and #34428 (113X)

[2021-07-22 16:10] slava77 commented on #33967
+reconstruction

via #34253

[2021-07-22 16:12] slava77 commented on #33797
is this still an active issue?

[2021-07-22 16:15] slava77 commented on #33080
+reconstruction

via #33415

[2021-07-22 16:17] slava77 commented on #33004
+reconstruction

https://github.com/cms-sw/cmssw/issues/32756#issuecomment-824831837

[2021-07-22 16:19] slava77 commented on #33002
is it perhaps known by now?

[2021-07-22 16:21] slava77 commented on #32518
+reconstruction

removed in #33024

[2021-07-22 16:21] cmsbuild commented on #32518
This issue is fully signed and ready to be closed.

[2021-07-22 16:22] makortel commented on #31061
@jfernan2 No worries, let's figure these out.

The report is done by post-processing the static analyzer output, but I don't know if there is an easy way to run those yourself (probably is and I'm just ignorant). @gartung @smuzaffar ?

Any change from `EventSetupRecord::get()` to `EventSetup::getData()`/`EventSetup::getHandle()` is in the right direction.

`TrackClassifier::newEvent()` uses EventS

[2021-07-22 16:28] slava77 commented on #32152
+reconstruction

there were no recent reports; if a new case shows up, we can follow up in a new issue.

[2021-07-22 16:29] cmsbuild commented on #32152
This issue is fully signed and ready to be closed.

[2021-07-22 16:37] slava77 commented on #31123
+reconstruction

based on https://github.com/cms-sw/cmssw/issues/31123#issuecomment-822669380

[2021-07-22 16:38] slava77 commented on #31385
@laurenhay @marksan87
in case this is not already on your list

[2021-07-22 16:40] slava77 commented on #31280
+reconstruction

resolved in #34385

[2021-07-22 16:40] cmsbuild commented on #31280
This issue is fully signed and ready to be closed.

[2021-07-22 16:43] #32152 closed

[2021-07-22 16:44] slava77 commented on #28988
@cericeci
please clarify if the replacement considered/proposed in this issue description was already checked.
Thank you.

[2021-07-22 16:48] slava77 commented on #27119
+reconstruction

via #28128 (and perhaps some other updates)

http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/circles/piechart.php?local=false&dataset=CMSSW_12_0_0_pre3%2Fslc7_amd64_gcc900%2F11834.21%2Fstep4_circles&resource=time_thread&colours=default&groups=packages&threshold=0

<img width="991" alt="image" src="https://user-images.githubusercontent.com/4676718/126677269-4c8c9dbe-a5a9-4

[2021-07-22 16:49] cmsbuild commented on #27119
This issue is fully signed and ready to be closed.

[2021-07-22 16:51] slava77 commented on #26731
+reconstruction

via #33884

[2021-07-22 16:52] cmsbuild commented on #26731
This issue is fully signed and ready to be closed.

[2021-07-22 16:54] slava77 commented on #25795
@abaty
please clarify on the plans to still maintain the tracking parts in the HeavyIons scenario.

Thank you.

[2021-07-22 16:58] slava77 commented on #18730
is it still a "no"
?

@mmusich @vmariani @mtosi

[2021-07-22 17:02] slava77 commented on #17372
@cms-sw/fastsim-l2
was there a follow up to this?

Please clarify.
Thank you.

[2021-07-22 17:20] iarspider commented on #33797
I'm not sure this is 100% the same error, but it fails in the same test: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_GPU_X_2021-07-21-2300/unitTestLogs/RecoPixelVertexing/PixelTrackFitting#/3289-3289

[2021-07-22 17:36] bsunanda commented on #34587
I shall investigate this. I am revising all SD classes and that will have impact on many scripts.

[2021-07-22 17:36] bsunanda commented on #34587
Please check with #34596

[2021-07-22 19:03] makortel commented on #33616
#34502 is merged so this issue can be closed

[2021-07-22 19:03] #33616 closed

[2021-07-23 01:36] #34496 closed

[2021-07-23 01:37] #32518 closed

[2021-07-23 01:37] #31280 closed

[2021-07-23 01:37] #27119 closed

[2021-07-23 01:37] #26731 closed

[2021-07-23 04:28] qliphy opened #34601 "Unit failure on Validation/Geometry"
**https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-22-2300/unitTestLogs/Validation/Geometry#/16-16**

+ python3 /data/cmsbld/jenkins/workspace/ib-run-qa/CMSSW_12_0_X_2021-07-22-2300/src/Validation/Geometry/test/runP_HGCal_cfg.py geom=Extended2026D76 label=HGCal
/data/cmsbld/jenkins/workspace/ib-run-qa/CMSSW_12_0_X_2021-07-22-2300/src/Validation/Geometry/test/genH

[2021-07-23 04:28] cmsbuild commented on #34601
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-23 04:30] qliphy commented on #34601
assign geometry,dqm

[2021-07-23 04:30] cmsbuild commented on #34601
New categories assigned: geometry,dqm

@Dr15Jones,@cvuosalo,@civanch,@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ianna,@mdhildreth,@makortel,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-23 10:48] qliphy opened #34603 "Build CMSSW_11_3_3"

[2021-07-23 10:48] cmsbuild commented on #34603
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @perrotta. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and th

[2021-07-23 10:49] qliphy commented on #34603
+1

[2021-07-23 10:49] cmsbuild commented on #34603
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_X

[2021-07-23 10:49] cmsbuild commented on #34603
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2021-07-23 10:50] cmsbuild commented on #34603
The build has started for cc8_amd64_gcc9 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3093/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-23 10:51] cmsbuild commented on #34603
The build has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3094/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-23 10:52] cmsbuild commented on #34603
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3095/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-23 11:10] jfernan2 commented on #31061
Thank you very much @makortel
I have created https://github.com/cms-sw/cmssw/pull/34604 following your tips
Only DQM/Ecal packages are missing form this esConsumes migration, and they are being taken care by ECAL dpg

[2021-07-23 12:55] cmsbuild commented on #34603
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3096/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-23 13:59] cmsbuild commented on #34603
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_3-slc7_ppc64le_gcc9/3095
Some tests (

[2021-07-23 14:21] sroychow opened #34607 "TrackerMap script not working in CMSSW_11_3_2"
Tracker DQM uses a standalone [script](https://github.com/cms-sw/cmssw/blob/master/DQM/SiStripMonitorClient/test/SiStripDQM_OfflineTkMap_Template_cfg_DB.py) to produce 2-Dimensional  plots of various monitored quantities. Example of TkMaps for a run taken in 2018([link](https://tkmaps.web.cern.ch/tkmaps/files/data/users/event_display/Data2018/Beam/321/321122/ZeroBias/)). The script in turn runs th

[2021-07-23 14:22] cmsbuild commented on #34607
A new Issue was created by  @sroychow Suvankar Roy Chowdhury.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-23 14:27] cmsbuild commented on #34603
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_3-cc8_amd64_gcc9/3093
Some tests ( runThe

[2021-07-23 14:42] jbsauvan commented on #27095
Regarding the HGCal trigger part, the deprecated v8 code has been removed in #34608

[2021-07-23 14:58] cmsbuild commented on #34603
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_3-slc7_ppc64le_gcc9/3095

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-07-23 15:03] makortel commented on #34607
assign dqm

[2021-07-23 15:03] cmsbuild commented on #34607
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-23 15:10] cmsbuild commented on #34603
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_3-cc8_amd64_gcc9/3093

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-23 15:26] cmsbuild commented on #34603
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_3-slc7_amd64_gcc900/3094
Some tests (

[2021-07-23 15:47] cmsbuild commented on #34603
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_3-slc7_aarch64_gcc9/3096
Some tests (

[2021-07-23 16:09] cmsbuild commented on #34603
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_3-slc7_amd64_gcc900/3094

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-23 16:42] cmsbuild commented on #34603
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_3-slc7_aarch64_gcc9/3096

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-23 16:45] qliphy commented on #34603
upload all

[2021-07-23 16:46] cmsbuild commented on #34603
Queing Jenkins upload for cc8_amd64_gcc9

[2021-07-23 16:46] cmsbuild commented on #34603
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-07-23 16:46] cmsbuild commented on #34603
Queing Jenkins upload for slc7_amd64_gcc900

[2021-07-23 16:46] cmsbuild commented on #34603
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-07-23 16:48] cmsbuild commented on #34603
The upload has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1993/console

[2021-07-23 16:48] cmsbuild commented on #34603
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1992/console

[2021-07-23 16:48] cmsbuild commented on #34603
The upload has started for cc8_amd64_gcc9 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1991/console

[2021-07-23 16:49] cmsbuild commented on #34603
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_3-slc7_aarch64_gcc9/1992

[2021-07-23 16:49] cmsbuild commented on #34603
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1994/console

[2021-07-23 16:50] cmsbuild commented on #34603
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_3-slc7_amd64_gcc900/1993

[2021-07-23 16:50] cmsbuild commented on #34603
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_3-slc7_ppc64le_gcc9/1994

[2021-07-23 16:56] cmsbuild commented on #34603
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_3-cc8_amd64_gcc9/1991

[2021-07-23 17:31] qliphy commented on #34603
release-notes

[2021-07-23 17:32] cmsbuild commented on #34603
Generating release notes since CMSSW_11_3_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-07-23 17:32] cmsbuild commented on #34603
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_3_3 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_3

Cheers,
cms-bot

You can also

[2021-07-23 17:34] cmsbuild commented on #34603
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_3

[2021-07-23 17:35] tklijnsma commented on #34559
@smuzaffar , That seems to work when I work locally, although it gives me the following errors:

[code]

However on an htcondor worker node it does _not_ work, with the following similar-looking error messages:

[code]

Do you have any insight in what could cause that?

[2021-07-23 22:23] cvuosalo commented on #34367
Changes have been made to try to address concerns.
For DDDetector, the parsing context member has been removed, as has the explicit "makePayloads" parameter.

DDDetectorESProducer has been returned to its original form, with no defined parameter for payloads.

The map of volume pointers has been deleted from DDNamespace, and the code for handling assemblies and volumes has thereby been somewhat si

[2021-07-24 08:12] qliphy commented on #34587
closed by #34596

[2021-07-24 08:12] #34587 closed

[2021-07-24 09:07] qliphy commented on #34601
@cms-sw/geometry-l2 @cms-sw/dqm-l2  Would you please have a look at this issue pending in IB?

[2021-07-25 15:38] cmsbuild commented on #34603
The cleanup has started for slc7_aarch64_gcc9

[2021-07-25 15:38] cmsbuild commented on #34603
The cleanup has started for cc8_amd64_gcc9

[2021-07-25 15:38] cmsbuild commented on #34603
The cleanup has started for slc7_amd64_gcc900

[2021-07-25 15:39] cmsbuild commented on #34603
The cleanup has started for slc7_ppc64le_gcc9

[2021-07-25 15:39] #34603 closed

[2021-07-25 15:39] cmsbuild commented on #34603
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_3-slc7_aarch64_gcc9/1724

[2021-07-25 15:39] cmsbuild commented on #34603
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_3-slc7_ppc64le_gcc9/1726

[2021-07-25 15:39] cmsbuild commented on #34603
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_3-slc7_amd64_gcc900/1725

[2021-07-25 15:39] cmsbuild commented on #34603
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_3-cc8_amd64_gcc9/1723

[2021-07-25 21:24] mariadalfonso commented on #33967
+xpog

[2021-07-25 21:25] cmsbuild commented on #33967
This issue is fully signed and ready to be closed.

[2021-07-25 21:36] cvuosalo commented on #34601
@qliphy Could you please give some background information about this problem? How did it get into the IBs? What PR started the problem? Is it because of Python3?

[2021-07-25 22:04] cvuosalo commented on #34601
@civanch Do these unit test failures have something to do with the recent changes in `OscarMTProducer`?
[code]

[2021-07-25 22:31] #33967 closed

[2021-07-25 23:23] bsunanda commented on #34601
Hi Carl, Yes they are. Let me take a look to cure this. Earlier there were unit test failures for SimTracker which is fixed.
________________________________
From: Carl Vuosalo ***@***.***
Sent: 26 July 2021 00:05
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] Unit failure on Validation/Geometry (#34601)

@civanch<https://github.com/civanch> @bsunanda<https://github.com

[2021-07-25 23:31] bsunanda commented on #34601
I shall cure the cfg's after integration of #34589

[2021-07-26 10:57] mmusich commented on #34607
@cms-sw/dqm-l2 since the functionality has been removed by the central DQM team, please advice on how to proceed. This tool is needed for CRUZET data certification. Thank you

[2021-07-26 11:39] jfernan2 commented on #34607
Could
CommonTools/UtilAlgos/interface/TFileService.h
and/or
CommonTools/Utils/interface/TFileDirectory.h
be a solution for you?

[2021-07-26 12:12] mmusich commented on #34607
@sroychow see please https://github.com/cms-sw/cmssw/issues/34607#issuecomment-886626628

[2021-07-26 12:28] mmusich commented on #34378
I think this issue can be signed and closed.

[2021-07-26 17:55] makortel opened #34629 "HLT_Integration_HIon_MC test fails randomly"
The `HLT_Integration_HIon_MC` test failed in CMSSW_12_0_X_2021-07-25-0000
[code]
https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_0_X_2021-07-25-0000/slc7_amd64_gcc900/HLT_Integration_HIon_MC.log

[2021-07-26 17:55] makortel commented on #34629
assign hlt

[2021-07-26 17:55] cmsbuild commented on #34629
New categories assigned: hlt

@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-26 17:55] cmsbuild commented on #34629
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-26 18:23] sroychow commented on #34607
@jfernan2 the solution of TFileService only solves the part of reading the files contents. However this doesn't ensure that the DQM store object is filled with the proper Monitor Eelement info. Here e.g., I have tried implementing the file reading(this can be optimized of-course) the legacyIO helper class - [link]( https://github.com/sroychow/cmssw/tree/tkmaplegacyio).  But then in this version, t

[2021-07-26 19:22] mariadalfonso commented on #34136
CPU profiling used in some PR already https://github.com/cms-sw/cmssw/pull/34590#issuecomment-886250590

[2021-07-26 19:38] makortel opened #34632 "gdb is not working"
`gdb` in CMSSW_12_0_X_2021-07-26-1100 gives me
[code]

[2021-07-26 19:38] makortel commented on #34632
assign core

[2021-07-26 19:38] cmsbuild commented on #34632
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-26 19:38] cmsbuild commented on #34632
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-26 19:41] tvami commented on #31061
+alca

* the only missing modules from the AlCa side are handled in the PR 34542 which is about to merge

[2021-07-26 19:48] smuzaffar commented on #34632
There was issue with gdb 9.1 and python 3.9 ( https://bugzilla.redhat.com/show_bug.cgi?id=1829702 ) but it should have been fixed for gdb 9.2. Let me try gdb 10.2

[2021-07-26 20:00] smuzaffar commented on #34632
GDB 10.2 seems to work fine with python 3.9. https://github.com/cms-sw/cmsdist/pull/7169 should fix this issue

[2021-07-26 20:10] makortel opened #34633 "Slowness in cmsRun starts"
Last week @Dr15Jones and I noticed some slowness in `cmsRun` job startups (like up to 20 min). I noticed today
[code]
in https://github.com/cms-sw/cmssw/pull/34621#issuecomment-886933695.

I then tested locally workflow 10024.0 in CMSSW_12_0_X_2021-07-26-1100, and noticed the step2 to take 2 minutes from `Successfully opened file` and `Begin processing the 1st record`. The job really should not ta

[2021-07-26 20:10] makortel commented on #34633
assign core

[2021-07-26 20:10] cmsbuild commented on #34633
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-26 20:10] cmsbuild commented on #34633
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-26 20:13] makortel commented on #34633
I ran the step2 of 10024.0 with `strace`, and noticed it to spend almost 2.5 min in accessing some CSC txt files. There were total of 12420 calls to `open()`, but only 23 unique file paths
[code]

@cms-sw/l1-l2 @cms-sw/csc-dpg-l2 Would you have any thoughts why these files are opened repeatedly (540 times each)?

[2021-07-26 20:14] makortel commented on #34632
Thanks!

[2021-07-26 20:55] makortel commented on #34633
Testing in an earlier IB CMSSW_12_0_X_2021-07-18-2300 I get time stamp difference between the first CSC txt file open and the last open to be 45 s. Hmm.

[2021-07-26 21:28] makortel commented on #34633
I ran the 10024.0 step2 in IgProf in  CMSSW_12_0_X_2021-07-26-1100 for 1 event, the profile is here
https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/CMSSW_12_0_X_2021-07-26-1100/10024_step2_perf

The construction of `EventProcessor` takes 115.80 s, compared to 63.02 s for the actual processing of 1 event
https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/CMSSW_12_0_X_2021-07-26-1100/10

[2021-07-26 21:41] cvuosalo commented on #34552
+1

[2021-07-26 21:41] cmsbuild commented on #34552
This issue is fully signed and ready to be closed.

[2021-07-26 21:42] cvuosalo commented on #34552
Fixed by #34534

[2021-07-26 21:47] cvuosalo commented on #32740
Namespaces are definitely needed to ensure unique identifiers. From my tests, I would say DD4hep processing of the geometry is reasonably fast, and the performance cost of long identifiers with namespaces is acceptable. If anyone has concerns about the cost of long identifiers, they can open a new issue about it, but I will close this issue for now.

[2021-07-26 21:47] cvuosalo commented on #32740
-1

[2021-07-26 21:47] #32740 closed

[2021-07-26 22:08] kpedro88 commented on #34633
@dildick please take a look at this (yours are the most recent PRs merged in https://github.com/cms-sw/cmssw/commits/master/L1Trigger/CSCTriggerPrimitives)

[2021-07-26 22:17] dildick commented on #34633
"Would you have any thoughts why these files are opened repeatedly (540 times each)?" There are 540 CSC chambers, several LUT readers per chamber. I suppose this could be sped up by making a LUT managers class, instantiating them once, and then pass a shared pointer to each chamber.

[2021-07-26 22:19] dildick commented on #34633
These LUTs are not actually being used by any WF
[code]
These should be only if a certain Run-3 flag is set
[code]
but that flag is still False.

[2021-07-26 22:19] kpedro88 commented on #34633
@dildick yes, that sounds like a better implementation - in particular, it seems like this info could be obtained via EventSetup. (Then you don't have to pass a shared pointer manually; the framework will give read-only access to whatever needs it.)

Do you know why this behavior would have changed with the recent PRs?

[2021-07-26 22:26] smuzaffar commented on #34633
then something is wrong @dildick . I also ran 10024.0 step2  ( `runTheMatrix.py -i all -l 11602.0 -t 4 --ibeos `) and following files were open 2160 times each ( may be 540*4 threads)
[code]

[2021-07-26 22:28] dildick commented on #34633
We recently did modify the GEM-CSC trigger, which heavily relies on LUTs, but they are all in ```L1Trigger/CSCTriggerPrimitives/data/GEMCSC```

This line needs to be in a ```if (runCCLUT_)``` statement
https://github.com/cms-sw/cmssw/blob/master/L1Trigger/CSCTriggerPrimitives/src/CSCCathodeLCTProcessor.cc#L107

This line needs to be in ```if(!ignoreAlctCrossClct)```
https://github.com/cms-sw/cmssw

[2021-07-26 22:30] dildick commented on #34633
[code]

[2021-07-26 22:36] dildick commented on #34633
A PR I can suggest in the mean time to speed up the code (until I have a proper solution in place):
- turn off GEM-CSC trigger in ME1/1 and ME2/1 for now
- hide specific CSC LUTs behind an if statement

[2021-07-26 22:48] kpedro88 commented on #34633
@dildick here's one of my old PRs introducing an ESProducer and ESProduct for HCAL radiation damage, which also reads constants from txt files that are then accessed by different parts of the code: #18118

In particular, look at:
* `CalibCalorimetry/HcalPlugins/python/HBHEDarkening_cff.py`
* `CalibCalorimetry/HcalPlugins/src/HBHEDarkeningEP.h`
* `CalibCalorimetry/HcalPlugins/src/HBHEDarkeningEP.cc

[2021-07-26 23:03] dildick commented on #34633
https://github.com/cms-sw/cmssw/pull/34638 would temporarily fix some of the problems.

[2021-07-26 23:13] dildick commented on #34633
There is a record in `CalibMuon/CSCCalibration` already, e.g. `CSCL1TPParametersConditions` but  that one is related to individual parameters, not entire lookup tables. We haven't used that one for the CSC trigger emulator since Run-1.

Basically, I would need to define something like `CSCL1TPLookupTables` with a corresponding class in `DataRecord` and `CSCObjects`, an ESProducer and perhaps an an

[2021-07-27 00:04] makortel commented on #34633
Thanks @dildick for the quick (partial) fix!

From the framework point of view it is perfectly fine to put many kinds of ES products into the same Record, as long as all those products have the same IOV (technically it is the Record's job denote the IOV). The ESSource for `CSCL1TPParametersRcd` already sets the IOV to be infinity
https://github.com/cms-sw/cmssw/blob/4bbdac278f69e583b97dfbb4a48cb97

[2021-07-27 00:07] makortel commented on #34633
I could add that I'm not convinced that these CSC txt files would be the only cause for the overall slowness (e.g. in the RelVal-INPUT tests). We can always speculate with EOS, CVMFS, Frontier etc being slow, but some further investigation into other potential issues could be useful.

[2021-07-27 00:09] abhih1 commented on #31061
The Ecal DQM, DQMOffline and Validation packages are migrated in here respectively: https://github.com/cms-sw/cmssw/pull/34634,  https://github.com/cms-sw/cmssw/pull/34636 and  https://github.com/cms-sw/cmssw/pull/34637

[2021-07-27 06:30] Martin-Grunewald commented on #34629
Indeed. Unfortunately, running this test in my developer area to debug does not show this error, so it is thus not reproducible. Previously, it was popping in and out.

[2021-07-27 07:18] #34552 closed

[2021-07-27 08:01] jfernan2 commented on #34607
So, you need read and write Legacy access, not only read, I misunderstood then. I am sorry for the inconvenience of this issue

The problem is that you generally cannot use analyzers with the legacy (plain root) saver, so, e.g. normal DQM modules running in a process with a DQMSaver are expected not to produce output, because they expect to work on runs, while the DQMSaver saves at endjob.

A poss

[2021-07-27 12:01] agrohsje commented on #34529
+generators

[2021-07-27 12:01] cmsbuild commented on #34529
This issue is fully signed and ready to be closed.

[2021-07-27 12:50] mmusich commented on #34309
wondering if in the last 25 days anything has been checked. Seems the flood is still [there](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc10/CMSSW_12_0_X_2021-07-26-2300/pyRelValMatrixLogs/run/138.2_RunCosmics2020+RunCosmics2020+RECOCOSDEXPRUN3+ALCACOSDEXPRUN3+HARVESTDCEXPRUN3/step2_RunCosmics2020+RunCosmics2020+RECOCOSDEXPRUN3+ALCACOSDEXPRUN3+HARVESTDCEXPRUN3.log)

[2021-07-27 12:51] mmusich commented on #34193
this can be signed and closed

[2021-07-27 12:55] qliphy commented on #34529
closed by https://github.com/cms-sw/cmsdist/pull/7167 and https://github.com/cms-sw/cmsdist/pull/7158

[2021-07-27 12:55] #34529 closed

[2021-07-27 13:22] makortel commented on #34629
Right, the next two IBs CMSSW_12_0_X_2021-07-25-2300 and CMSSW_12_0_X_2021-07-26-1100 show the test succeeding too.

Would it be useful to keep this issue open as a reminder that there is some level of non-reproducibility(?) in this test?

[2021-07-27 13:23] smuzaffar commented on #34193
closing it as this has been fixed via #34444

[2021-07-27 13:23] #34193 closed

[2021-07-27 13:30] #34632 closed

[2021-07-27 13:35] makortel commented on #34632
+1

[2021-07-27 13:35] cmsbuild commented on #34632
This issue is fully signed and ready to be closed.

[2021-07-27 15:05] Martin-Grunewald commented on #34629
Yes, sounds good!

[2021-07-27 16:33] iarspider opened #34647 "testFWCoreUtilities fails in ARM IBs"
Log: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cc8_aarch64_gcc9/CMSSW_12_0_X_2021-07-19-2300/unitTestLogs/FWCore/Utilities#/121-121
[code]

[2021-07-27 16:33] cmsbuild commented on #34647
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-27 16:42] qliphy opened #34648 "Unit failure: test_PixelBaryCentreTool had ERRORS"
Please check
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-27-1100/unitTestLogs/Alignment/TrackerAlignment#/

It appears first in CMSSW_12_0_X_2021-07-26-2300 after merging https://github.com/cms-sw/cmssw/pull/34542

Local test output as below:
cmsrel CMSSW_12_0_X_2021-07-26-1100
cd CMSSW_12_0_X_2021-07-26-1100/src/
cmsenv
git cms-addpkg Alignment/TrackerAlign

[2021-07-27 16:43] cmsbuild commented on #34648
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-27 16:43] qliphy commented on #34648
@hyunyong  please have a look

[2021-07-27 16:44] qliphy commented on #34648
assign alca, geometry

[2021-07-27 16:44] cmsbuild commented on #34648
New categories assigned: geometry,alca

@Dr15Jones,@francescobrivio,@cvuosalo,@civanch,@tvami,@malbouis,@pohsun,@ianna,@tlampen,@mdhildreth,@yuanchao,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-27 16:44] cvuosalo commented on #34601
Fixed by #34622.

[2021-07-27 16:44] cvuosalo commented on #34601
+1

[2021-07-27 16:49] agrohsje commented on #34586
hi @mkirsano. are you able to follow-up?

[2021-07-27 17:02] jfernan2 commented on #34601
+1
For the records

[2021-07-27 17:02] cmsbuild commented on #34601
This issue is fully signed and ready to be closed.

[2021-07-27 17:13] iarspider opened #34649 "Alignment/TrackerAlignment Unit Test test_PixelBaryCentreTool fails in recent IBs"
Log file: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-07-27-1100/unitTestLogs/Alignment/TrackerAlignment#/
[code]

[2021-07-27 17:13] cmsbuild commented on #34649
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-27 17:23] iarspider commented on #34649
Duplicate of #34648

[2021-07-27 17:23] #34649 closed

[2021-07-27 17:45] davidlange6 commented on #34531
at least for me running 1000 events fails too.. So there is a problem to fix having nothing to do with a small number of processed events.

The first error looks to be caused by the thread0 lhe file having its <init> always proceeded by some whitespace which the merging script does not expect. Always the thread0 and only the thread0. Thats easy to fix in the parsing. Then the next error is that he

[2021-07-27 17:47] makortel commented on #34647
assign core

[2021-07-27 17:47] cmsbuild commented on #34647
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-27 17:48] makortel commented on #34648
FYI @cms-sw/trk-dpg-l2

[2021-07-27 17:56] tvami commented on #34648
This error came up in https://github.com/cms-sw/cmssw/pull/34542 too, here
https://github.com/cms-sw/cmssw/pull/34542#issuecomment-883028929

I thought that was fixed by the suggestions from @@cvuosalo

[2021-07-27 17:58] makortel commented on #34647
Seems that the test is failing consistently, and started to fail before CMSSW_12_0_X_2021-07-19-2300 / CMSSW_12_0_X_2021-07-20-1100 that are the earliest IBs that have test results still available.

[2021-07-27 18:02] civanch commented on #31123
+1

[2021-07-27 18:03] cmsbuild commented on #31123
This issue is fully signed and ready to be closed.

[2021-07-27 18:04] civanch commented on #31010
@cvuosalo , is this issue resolved now?

[2021-07-27 18:05] civanch commented on #29416
@cvuosalo , it seems we cannot resolve the issue, should we keep it?

[2021-07-27 18:08] agrohsje commented on #34531
@Dominic-Stafford is right. It is not a bug, we made an unfortunate choice. The systematics module of MG5 prints a summary of the cross section change. Now if at NLO one event has a weight and the other -the weight, the cross section is 0.0 and the summary calculation involves dividing by 0. If we pick 3 events per thread the problem is solved. One per thread is also ok, just 2 is bad.

[2021-07-27 18:09] civanch commented on #29206
@cvuosalo , @ianna , do we still have this issue?

[2021-07-27 18:10] civanch commented on #29206
@slomeo , do you remember if this problem still exist or disappears?

[2021-07-27 18:12] civanch commented on #27466
+1

[2021-07-27 18:12] cmsbuild commented on #27466
This issue is fully signed and ready to be closed.

[2021-07-27 18:14] cvuosalo commented on #31010
I don't think we have a unit test that checks for Phase 2 overlaps. It's not clear to me how it would work. When a developer adds a new Phase 2 scenario, how would the unit test know about it?

[2021-07-27 18:17] makortel commented on #34648
That failure was in workflow 11634.912. Maybe the `test_PixelBaryCentreTool` gets configured differently and needs a specific fix?

[2021-07-27 18:17] cvuosalo commented on #29416
@civanch It will be a helpful reminder when we look at how to use DD4hep with Runs 1-2.

[2021-07-27 18:18] hyunyong commented on #34648
I've fixed the error. I will make a PR soon.

[2021-07-27 18:19] civanch commented on #31010
PrintGeom Info allows overlap check for any Phase-2 scenario. It is not an automatic unit test but it is the unit test, which may be run by hand. There are another approaches using ROOT and/or visualisation. In all cases so far it is some manual work. Should we keep this issue?

[2021-07-27 18:21] tvami commented on #34648
@hyunyong thanks! The pre-release will close today, is there any chance you can still do it today?

[2021-07-27 18:27] makortel commented on #34647
I'm unable to reproduce the failure locally. Likely related to the load of the ARM nodes (that isn't too high at the moment). I'm thinking to enable the printout
https://github.com/cms-sw/cmssw/blob/23f1aad119f27a6bfe1838e0c6f5c6f9f56f0b66/FWCore/Utilities/test/reusableobjectholder_t.cppunit.cpp#L240-L242
(but before the asserts) to see a bit more what is going on when the asserts fail.

[2021-07-27 18:29] makortel commented on #34647
Done in #34651

[2021-07-27 19:03] hyunyong commented on #34648
Yes, https://github.com/cms-sw/cmssw/pull/34654

[2021-07-27 19:04] davidlange6 commented on #34531
so how many events does it take to get three per thread?

[2021-07-27 19:04] davidlange6 commented on #34531
(with 4 threads)

[2021-07-27 19:05] davidlange6 commented on #34531
one might think that 4*3+some margin would be sufficient....

[2021-07-27 19:07] slomeo commented on #29206
@civanch as far I remember all the DT tests were ok in all PRs:  #33288 #32781 #32485 #31043

[2021-07-27 19:28] agrohsje commented on #34531
hi @davidlange6. it is really the canceling for two events. with an odd number of events per thread this will not happen. so 4*3 is perfectly fine.

[2021-07-27 19:30] davidlange6 commented on #34531
so its really just me for which this workflow crashes with 1000 events and 4 threads, or is this a speculative statement? I'd be happy to have screwed up the configuration somehow.

[2021-07-27 19:35] Dr15Jones commented on #34531
Running 4 threads (really 4 streams) over 12 threads in no way guarantees 3 events per thread. The events are assigned on a first come first serve basis so it is very each for the number of events to be different per stream, especially for small numbers of events.

[2021-07-27 19:45] agrohsje commented on #34531
@davidlange6 do you still have the output line?
the crash above is from 2 events exactly canceling in the sum of weights resulting in 0 cross section. the same could happen if a single thread has a very low, even number of events. @Dr15Jones taking into account what you said, is there a way we can avoid or do we need to run 1 thread. is there a way to make sure each thread has sufficient events to

[2021-07-27 19:53] cvuosalo commented on #29206
I confirmed `testDTGeometry.py` and `validateDTGeometry_cfg.py` give good results without errors in CMSSW_12_0_X_2021-07-27-1100. This issue is resolved.

[2021-07-27 19:53] cvuosalo commented on #29206
+1

[2021-07-27 19:54] cmsbuild commented on #29206
This issue is fully signed and ready to be closed.

[2021-07-27 19:57] cvuosalo commented on #34367
Issues were addressed in PR #34111, that has been merged. Further improvements will be open to discussion.

[2021-07-27 19:57] agrohsje commented on #34531
an alternative to a single thread would be modifying the python code in the corresponding gridpack and adding a patch to genproduction for systematics.py.

[2021-07-27 19:58] cvuosalo commented on #34367
+1

[2021-07-27 19:58] #34367 closed

[2021-07-27 19:58] davidlange6 commented on #34531
hum, I started over and don't reproduce my problem - though, that said, this does not give exit code 0
[code]

[2021-07-27 19:58] cmsbuild commented on #34367
This issue is fully signed and ready to be closed.

[2021-07-27 20:04] colizz commented on #34531
Thanks but I was confused. Reading the code https://github.com/cms-sw/cmssw/blob/c5d26737f2e7f2a28d2e485b18f07da4d4d79502/GeneratorInterface/LHEInterface/plugins/ExternalLHEProducer.cc#L255 the LHE events assigned per thread is by averaging the total requested event number.

[2021-07-27 20:38] agrohsje commented on #34531
@davidlange6
cat runall-report-step123-.log
 2021; exit: 0 0
1 1 tests passed, 0 0 failed

@Dr15Jones @colizz in this case there is no problem as the systematics module runs in the lhe step, so 3 avoids the problem.

however about first come first serve: I see in the logs:
EGPtr::shoot() thrown an exception, event skipped: More events requested than available in FxFxReader FxFxLHReader
@Dominic-St

[2021-07-27 21:45] #29206 closed

[2021-07-27 22:16] tsusa opened #34659 "GPU Tests - pixel crashes on GPU Hilton"
Following a crash mentioned in [1], slide 5, we run

 cmsDriver.py step3  --conditions auto:run3_hlt -s RAW2DIGI:RawToDigi_pixelOnly,RECO:reconstruction_pixelTrackingOnly,DQM:@pixelTrackingOnlyDQM --process reRECO --data  --era Run3 --eventcontent RECO,MINIAOD,DQM --hltProcess reHLT --procModifiers pixelNtupletFit,gpu --scenario pp --datatier RECO,MINIAOD,DQMIO --filein file:/eos/cms/store/group/d

[2021-07-27 22:16] cmsbuild commented on #34659
A new Issue was created by  @tsusa Tatjana Susa.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-27 22:26] dildick commented on #34633
If I understand correctly I would have to add files like
[code]
for a new record called CSCL1TPLookupTable that contains all the lookup tables for the CSC local trigger.

At the moment, access to lookup tables is provided through ```L1Trigger/CSCTriggerPrimitives/interface/CSCLUTReader.h```.

So that needs to be replaced by the ESProduct ```CSCL1TPLookupTable```.  Rather, ```CSCLUTReader``` needs

[2021-07-27 23:16] tvami commented on #18279
Hi, I was browsing open `alca-pending` issues and found this one. @cms-sw/trk-dpg-l2 has this been ever resolved and just the issue was not closed? Seems like https://github.com/cms-sw/cmssw/pull/18363 touched on the topic. Thanks!

[2021-07-27 23:35] makortel commented on #34659
assign heterogeneous, reconstruction, hlt

[2021-07-27 23:35] cmsbuild commented on #34659
New categories assigned: heterogeneous,hlt,reconstruction

@slava77,@fwyzard,@Martin-Grunewald,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-27 23:46] slava77 commented on #34659
@czangela @VinInn

it looks like #34503 was not enough

[2021-07-27 23:49] makortel commented on #34659
@tsusa

Is this the CMSONS-13106? (I'm not authorized to view that ticket)

Is the error fully reproducible? (I guess so but want to make sure)

The

tells that there are likely two exceptions in flight (which leads to call to `terminate()`; could tell better with fuller log), and the printed out `what()` is from the second exception, while the first exception would be more interesting. A way to g

[2021-07-27 23:49] slava77 commented on #34659
based on https://cmsoms.cern.ch/cms/runs/report?cms_run=343762&cms_run_sequence=GLOBAL-RUN
the pixel FEDs are not included

[2021-07-27 23:52] makortel commented on #34659
Just to add explicitly, I will improve this part of `cms::cuda::ScopedContext` during the fall (https://github.com/cms-sw/cmssw/issues/30266) so that we could avoid the second exception in such cases.

[2021-07-27 23:54] makortel commented on #30266
https://github.com/cms-sw/cmssw/issues/34659 shows an example where the exception thrown from the destructor of `ScopedContext*` hinders debugging. It would be good to get that part done in 12_1_X.

[2021-07-28 01:21] makortel commented on #34633
@dildick Your overall plan looks reasonable.

Assuming the `CSCL1TPLookupTableEP` is the ESProducer (or ESSource if it also sets the IOV for the Record), the separate header `CSCL1TPLookupTableEP.h` should be avoided (contents should be placed in the source file instead).

[2021-07-28 01:58] #34648 closed

[2021-07-28 02:16] #31123 closed

[2021-07-28 02:17] #34601 closed

[2021-07-28 02:17] #27466 closed

[2021-07-28 04:52] mmusich commented on #18279
@tvami indeed the issue with `SiStripGainFromCalibTree` has been fixed 4 (!) years ago via #18363...

[2021-07-28 05:57] ianna commented on #34367
@cvuosalo and @civanch - IMHO this issue (e.g. all the comments requiring the code changes) has not been addressed in a proper manner. I agree, there were some changes in the code, but they did not solve the main dependency problem. The “bad” code is in CMSSW and this issue is closed.

If we don’t have time to write proper code to start with, when will we have time to re-write it?  - this is exact

[2021-07-28 06:18] ianna opened #34663 "[DD4hep] code review is needed"
@makortel, @cvuosalo, @civanch - IMHO we need to review the CMSSW DD4hep related code. On many occasions the code was rushed and comments ignored.

[2021-07-28 06:18] cmsbuild commented on #34663
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-28 07:30] gennai commented on #34659
Hi @makortel , this is the log from the Hilton machine when we first experienced the crash.

[hlt_run343762_pid209249.log](https://github.com/cms-sw/cmssw/files/6891131/hlt_run343762_pid209249.log)

[2021-07-28 07:39] mkirsano commented on #34586
Hello, yes, I am looking

27/07/21 18:49, agrohsje пишет:

[2021-07-28 07:59] ianna commented on #33703
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 07:59] #33703 closed

[2021-07-28 07:59] ianna commented on #33656
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:00] #33656 closed

[2021-07-28 08:00] ianna commented on #32411
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:00] #32411 closed

[2021-07-28 08:01] ianna commented on #31954
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:01] #31954 closed

[2021-07-28 08:01] ianna commented on #31782
close in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:01] #31782 closed

[2021-07-28 08:02] ianna commented on #31754
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:02] #31754 closed

[2021-07-28 08:02] #31753 closed

[2021-07-28 08:04] ianna commented on #31521
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:04] #31521 closed

[2021-07-28 08:05] ianna commented on #31465
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:05] #31465 closed

[2021-07-28 08:05] ianna commented on #31464
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:05] #31464 closed

[2021-07-28 08:06] ianna commented on #29997
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:06] #29997 closed

[2021-07-28 08:07] ianna commented on #28106
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:07] #28106 closed

[2021-07-28 08:07] ianna commented on #27652
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:07] #27652 closed

[2021-07-28 08:09] ianna commented on #18326
closed in favour of https://github.com/cms-sw/cmssw/issues/34663

[2021-07-28 08:09] #18326 closed

[2021-07-28 08:27] mariadalfonso commented on #32347
hello JME. any news on this item reported December last year ?

probably I fixed, but you have to check
https://github.com/cms-sw/cmssw/pull/34661/files#diff-377770d6a7d4705da48aa96709bdedefcb42d5b5497c85ba41a3f11074c148a0

[2021-07-28 09:09] civanch commented on #34663
+geometry

[2021-07-28 09:11] civanch commented on #34663
assign geometry, simulation

[2021-07-28 09:11] cmsbuild commented on #34663
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@civanch,@civanch,@ianna,@mdhildreth,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-28 09:12] civanch commented on #34663
assign core

[2021-07-28 09:12] cmsbuild commented on #34663
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-28 10:31] tsusa commented on #34659
@makortel, here is a printout

Using host libthread_db library "/lib64/libthread_db.so.1".
[Detaching after fork from child process 21195]
[Detaching after fork from child process 21257]
[Detaching after fork from child process 21259]
[Detaching after fork from child process 21262]
[Detaching after fork from child process 21264]
[Detaching after fork from child process 21278]
[Detaching after fork

[2021-07-28 10:58] mzarucki commented on #34197
Dear all,

As initially [reported by us](https://indico.cern.ch/event/1062405/contributions/4468133/attachments/2288269/3889700/HLTReport_CRuZeT_RunOrganization_27.07.2021_Zarucki.pdfpage=5) during yesterday's Run Organization meeting and during today's [Daily Run Meeting](http://schwick.web.cern.ch/schwick/rctools/dailyReport/detailReport/display/2021-07-28), we are seeing HCAL and Pixel crashes

[2021-07-28 11:35] mariadalfonso commented on #34197
@mzarucki  can you give me the HCAL instruction on how to reproduce the problem as you did last time in https://github.com/cms-sw/cmssw/issues/34197#issuecomment-868476197 ?

[2021-07-28 11:40] Dominic-Stafford commented on #34531
This is just because Herwig silently skips events which do not pass the merging, so at the end it throws this exception because it's reached the end of the lhe file before it's generated all the events CMSSW asked for. It's related to the fact the lhe event information doesn't line up with the generated events, and so is on our to-do list, but not relevant to this issue

[2021-07-28 11:56] tvami commented on #18279
Thanks for confirming this!

[2021-07-28 11:56] tvami commented on #18279
+alca

[2021-07-28 11:57] tvami commented on #18279
Hi @cms-sw/dqm-l2 as this issue was solved years ago, can you please sign so it can be closed? Thanks!

[2021-07-28 12:05] jfernan2 commented on #18279
+1

[2021-07-28 12:05] cmsbuild commented on #18279
This issue is fully signed and ready to be closed.

[2021-07-28 12:07] #18279 closed

[2021-07-28 13:00] Dr15Jones commented on #34633
One clarification

We recommend `CSCLUTReader` be integrated into `CSCL1TPLookupTableEP` not into the data product itself. The core group strongly discourages having the data products be coupled with how they are generated. For example, in the future we might read this info from the DB so there would be no need for the data product to read itself from a file. Separating the data products from how

[2021-07-28 13:03] Dr15Jones commented on #34633
One thing to keep in mind `std::map` are not longer considered to be very efficient data structures as they scatter their content throught the heap memory which hurts the CPU caching strategies. If order of the items in the map is not needed (i.e. one just calls `find` and doesn't need to iterate over the elements in a certain order) `std::hash_map` is a better choice.

[2021-07-28 13:05] dildick commented on #34633
Hi @Dr15Jones Ok. I will take this into consideration in the design

[2021-07-28 14:29] qliphy opened #34673 "Build CMSSW_12_0_0_pre5"

[2021-07-28 14:30] cmsbuild commented on #34673
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @perrotta. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and th

[2021-07-28 14:30] qliphy commented on #34673
+1

[2021-07-28 14:38] cmsbuild commented on #34673
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-07-28 14:38] cmsbuild commented on #34673
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-07-28 14:38] cmsbuild commented on #34673
The build has started for cc8_amd64_gcc9 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3097/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 14:38] cmsbuild commented on #34673
The was an error for cc8_amd64_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_amd64_gcc9/3097

[2021-07-28 14:39] cmsbuild commented on #34673
The build has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3098/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 14:39] cmsbuild commented on #34673
The was an error for slc7_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc10/3098

[2021-07-28 14:39] cmsbuild commented on #34673
The build has started for slc7_amd64_gcc900 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3099/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 14:39] cmsbuild commented on #34673
The was an error for slc7_amd64_gcc900.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc900/3099

[2021-07-28 14:49] dildick commented on #34633
I worked on it yesterday. https://github.com/cms-sw/cmssw/compare/master...dildick:from-CMSSW_12_0_X_2021-07-27-1100-CSCL1TPLookupTable. ```CSCL1TPLookupTable``` contains only setters and getters. ```CSCL1TPLookupTableEP``` would eat up the relevant parts of  ```CSCLUTReader``` and would set the LUTs in ```CSCL1TPLookupTable```. Perhaps a PR by next week.

[2021-07-28 15:10] Dr15Jones commented on #34633
@dildick thanks for the quick turnaround time in a prototype! Just a question, instead of putting all values into one CSCL1TPLookupTable, would it be more useful to have mulitple objects? That would be the case if not all of the values are needed for all jobs. One ESProducer can create multiple objects (you just register multiple _produce_ type methods).

[2021-07-28 15:19] qliphy commented on #34673
abort

[2021-07-28 15:20] cmsbuild commented on #34673
Deleting CMSSW_12_0_0_pre5:

  - Release successfully deleted

  - cmssw tag CMSSW_12_0_0_pre5 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_12_0_0_pre5/slc7_amd64_gcc900. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_0_0_pre5/slc7_amd64_gcc10. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_0_0_pre5/slc

[2021-07-28 15:20] #34673 closed

[2021-07-28 15:24] qliphy opened #34675 "Build CMSSW_12_0_0_pre5"

[2021-07-28 15:25] cmsbuild commented on #34675
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo, @perrotta. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and th

[2021-07-28 15:25] qliphy commented on #34675
+1

[2021-07-28 15:25] cmsbuild commented on #34675
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-07-28 15:25] cmsbuild commented on #34675
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-07-28 15:27] cmsbuild commented on #34675
The build has started for cc8_amd64_gcc9 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3100/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 15:27] cmsbuild commented on #34675
The was an error for cc8_amd64_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_amd64_gcc9/3100

[2021-07-28 15:27] cmsbuild commented on #34675
The build has started for slc7_amd64_gcc10 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3101/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 15:27] cmsbuild commented on #34675
The was an error for slc7_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc10/3101

[2021-07-28 15:27] cmsbuild commented on #34675
The build has started for slc7_amd64_gcc900 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3103/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 15:27] cmsbuild commented on #34675
The was an error for slc7_amd64_gcc900.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc900/3103

[2021-07-28 15:27] cmsbuild commented on #34675
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3102/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 15:27] cmsbuild commented on #34675
The was an error for slc7_aarch64_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_aarch64_gcc9/3102

[2021-07-28 15:28] qliphy commented on #34675
@smuzaffar @mrodozov
I got above build error immediately after launching the build. Is it a glitch?

[2021-07-28 15:29] dildick commented on #34633
We need the CSCL1TPLookupTable in run-3 and phase-2, not in run-1 nor run-2. CSCL1TPLookupTable has tables for "CCLUT" (a new element in the CSC trigger) and the GEM-CSC trigger. We need the "CCLUT" tables for all CSC chambers starting Run-3. In principle we could split up the GEM-CSC tables in Run-3 (GE1/1 only) and Phase-2 (GE1/1+GE2/1).

[2021-07-28 15:45] cmsbuild commented on #34675
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3104/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 15:45] cmsbuild commented on #34675
The was an error for cc8_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_ppc64le_gcc9/3104

[2021-07-28 15:46] cmsbuild commented on #34675
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3105/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 15:46] cmsbuild commented on #34675
The was an error for slc7_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_ppc64le_gcc9/3105

[2021-07-28 15:55] smuzaffar commented on #34675
I am looking @qliphy

[2021-07-28 16:02] cmsbuild commented on #34673
The build has started for cc8_amd64_gcc9 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3106/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 16:04] cmsbuild commented on #34675
The build has started for slc7_amd64_gcc900 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3107/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 16:04] cmsbuild commented on #34673
The build has started for slc7_amd64_gcc10 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3108/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 16:06] cmsbuild commented on #34675
The build has started for cc8_amd64_gcc9 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3109/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 16:27] cmsbuild commented on #34675
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3110/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 16:33] cmsbuild commented on #34675
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3112/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 16:33] cmsbuild commented on #34675
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3111/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 16:43] tvami commented on #32357
Hi, I'm just reading open AlCa pending issues. The Phase-2 conditions are using the meta-GT https://github.com/cms-sw/cmssw/blob/master/Configuration/AlCa/python/autoCondPhase2.py for each geometry, so is this issue ready to be closed? @cms-sw/upgrade-l2 @cms-sw/geometry-l2

[2021-07-28 16:54] srimanob commented on #32357
@tvami
If I understand from the original message, the proposal is to extend this tracker way to other detectors. Do you know their current situation?

[2021-07-28 17:26] tsusa commented on #34659
Two additional tests were done:

- step3 was repeated with the filter used to remove the pixel FEDs, as done in  https://github.com/cms-sw/cmssw/issues/34496 -> crashes with the same error

- step3 was repeated with the last 12_0_X IB (CMSSW_12_0_X_2021-07-27-2300) -> works fine. [1] correctly prints that number of hits is 0.

 [1] https://github.com/cms-sw/cmssw/blob/master/RecoLocalTracker/SiPix

[2021-07-28 18:20] iarspider commented on #34545
Did not happen since that time, closing the ticket.

[2021-07-28 18:20] #34545 closed

[2021-07-28 19:43] cmsbuild commented on #34675
The was an error for slc7_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_ppc64le_gcc9/3111

[2021-07-28 19:48] makortel commented on #34659
The log and the gdb look a bit different than I expected, so I'm taking a look (I'm also able to reproduce).

This observation makes me wonder if 11_3_3 could be missing some pixel development that is in 12_0_X that could make a difference?

[2021-07-28 20:04] cmsbuild commented on #34675
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3113/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 20:06] makortel commented on #34659
I added a `cudaDeviceSynchronize()` to the beginning of `SiPixelRecHitFromCUDA::produce()` (and set a breakpoint in gdb early to prevent the construction of `cms::cuda::ScopedContextAcquire` for its destructor to not to terminate the program), and already the `cudaDeviceSynchronize()` reports `cudaErrorIllegalAddress: an illegal memory access was encountered`.

[2021-07-28 20:06] cmsbuild commented on #34675
The was an error for cc8_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_ppc64le_gcc9/3112

[2021-07-28 20:11] cmsbuild commented on #34675
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3114/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 20:12] makortel commented on #34659
Running with `CUDA_LAUNCH_BLOCKING=1` shows
[code]

This is awfully similar to https://github.com/cms-patatrack/cmssw/issues/306 (and https://github.com/cms-patatrack/pixeltrack-standalone/issues/188), but with already single process run with single EDM stream.

[2021-07-28 20:33] makortel commented on #34659
[`CAHitNtupletGeneratorOnGPU::makeTuplesAsync()`](https://github.com/cms-sw/cmssw/blob/bec73cc7eebb30608c73685df0ff07025d838dd2/RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.cc#L183-L215) does not have a check for zero hits. Adding one (similar to the one in `makeTuples()`) right after constructing `tracks` allowed the job to complete processing the event.

On `makeTuples()`,

[2021-07-28 21:01] cmsbuild commented on #34675
The was an error for cc8_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_ppc64le_gcc9/3114

[2021-07-28 21:04] makortel commented on #34659
I still don't understand why any `cudaCheck(cudaDeviceSynchronize()` added before `return` in
https://github.com/cms-sw/cmssw/blob/bec73cc7eebb30608c73685df0ff07025d838dd2/RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.cc#L214
does not catch the error. But adding it into the destructor of `CAHitNtupletGeneratorKernelsGPU`
https://github.com/cms-sw/cmssw/blob/bec73cc7eebb30608c

[2021-07-28 21:09] cmsbuild commented on #34675
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3115/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-28 21:28] makortel commented on #34659
To be even more specific, the following piece appears to be causing the error
https://github.com/cms-sw/cmssw/blob/e09e497ba682adf1489fc6039ff3520ea7788e74/RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernels.cu#L261-L267

This piece of code was changed in 12_0_X in https://github.com/cms-sw/cmssw/pull/33371.

[2021-07-28 21:30] makortel commented on #34663
Given that the "code was rushed" was driven by the (tight) schedule for Run 3, a good moment for more thorough review could be after the Run 3 geometry rush is over. @cvuosalo when could that be (approximately)?

[2021-07-28 21:33] makortel commented on #34629
Another failure in CMSSW_12_0_X_2021-07-27-2300
[code]
https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_0_X_2021-07-27-2300/slc7_amd64_gcc900/HLT_Integration_HIon_MC.log

[2021-07-28 21:38] makortel commented on #34547
CMSSW_12_0_GPU_X_2021-07-27-2300 reports only the following without any clear prior printouts what could be going on
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_GPU_X_2021-07-27-2300/unitTestLogs/HeterogeneousCore/SonicTriton#/

One warning
[code]
stood out but I don't know how relevant it is.

[2021-07-28 22:19] kpedro88 commented on #34547
@makortel yes, I noted this failure in my [previous comment](https://github.com/cms-sw/cmssw/issues/34547#issuecomment-883705746), in which I also said:

The warning from Singularity can be ignored.

[2021-07-28 22:48] cmsbuild commented on #34675
The was an error for cc8_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_ppc64le_gcc9/3115

[2021-07-28 23:05] cmsbuild commented on #34675
The was an error for slc7_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_ppc64le_gcc9/3113

[2021-07-29 01:00] cmsbuild commented on #34673
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc10/3108
Some tests

[2021-07-29 01:28] cmsbuild commented on #34675
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_amd64_gcc9/3109
Some tests ( r

[2021-07-29 01:43] cmsbuild commented on #34675
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc900/3107
Some tes

[2021-07-29 01:48] cmsbuild commented on #34673
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc10/3108

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-29 02:15] cmsbuild commented on #34675
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_amd64_gcc9/3109

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-29 02:30] cmsbuild commented on #34675
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc900/3107

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-07-29 03:52] cmsbuild commented on #34675
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3116/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-29 05:14] cmsbuild commented on #34675
The was an error for cc8_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-cc8_ppc64le_gcc9/3116

[2021-07-29 06:44] cmsbuild commented on #34675
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3117/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-29 06:52] smuzaffar commented on #34675
@qliphy , looks like the power machines are not behaving well. IB for cc8_ppc64le_gcc9 also has build errors ( looks like something is killing processes, may be due to heavy load).
2 out of 3 power machines are down due to AFS issues, are we are left with. For now I have re-started the release for slc7_ppc64le_gcc9 again.

[2021-07-29 06:53] Martin-Grunewald commented on #34629
The ```WARNING``` message is OK - the path did not accept any event (due to the input sample of events).
The ```ERROR``` message is the non-reproducible problem.

[2021-07-29 06:54] qliphy commented on #34675
@smuzaffar Thanks for the information! Ok, let's wait a bit for the rebuilds for ppc64le.

[2021-07-29 08:13] civanch commented on #34663
@ianna , thank you for collecting problems in one issue.

@makortel , I think, we need to address majority of these problems in 12_1_0, first of all, resolve wrong unnecessary dependencies, fix main design problems, and remaining warnings.

Likely some prioritization will be required.

[2021-07-29 08:41] mmusich commented on #34659
thanks @makortel for the detailed analysis. see fix at https://github.com/cms-sw/cmssw/pull/34684

[2021-07-29 09:27] haozturk opened #34686 "Fatal Root Error: @SUB=TStorageFactoryFile::ReadBuffersSync"
Hi folks,
I see that one of the production workflows are having the following issue while reading an input file:
[code]
Full logs: https://cms-unified.web.cern.ch/cms-unified/joblogs/cmsunified_ACDC1_Run2016F_BTagCSV_UL2016_MiniAODv2_210714_122219_2330/8021/DataProcessing/e7389b84-8904-4b60-aacc-bd5c9b36c6d5-0-3-logArchive/

Input file seems okay. Why do you think we're getting this error?

[2021-07-29 09:27] cmsbuild commented on #34686
A new Issue was created by  @haozturk Hasan ztrk.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-29 09:43] cmsbuild commented on #34675
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_ppc64le_gcc9/3117
Some tes

[2021-07-29 09:45] qliphy commented on #34675
@smuzaffar   slc7_ppc64le_gcc9 build succeeded.  Thanks!
Should we restart cc8_ppc64le_gcc9?

[2021-07-29 09:49] smuzaffar commented on #34675
started

[2021-07-29 09:50] cmsbuild commented on #34675
The build has started for cc8_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3118/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-07-29 10:02] cmsbuild commented on #34675
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_aarch64_gcc9/3110
Some tes

[2021-07-29 10:52] smuzaffar commented on #34675
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre5-slc7_amd64_gcc10/3108

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed