[2018-01-09 10:20] mommsen commented on #14353
This issue has been addressed with #21690 and could be closed.

[2018-01-09 10:21] mommsen commented on #21312
This issue has been addressed with #21690 and could be closed.

[2018-01-09 10:45] perrotta commented on #21780
@arizzi : looking at the reco::Track DataFormat, dzError() can be nan if track.pt()=0 (but in that case also the dz would be a nan, which is not what you observe) or if the track covariance matrix has nan's.

Since this actually appears to happen, I'd suggest to prepare and submit the PRs which implement the protection: thank you!

[2018-01-09 12:53] Dr15Jones commented on #21814
I believe these are caused by a DAS failure which is causing the query for the MixingModule input to return an empty list.

[2018-01-09 12:59] davidlange6 commented on #21814
Not likely an issue with das if it’s happening each day (but wasn’t there a related pr today ?)

On 9 Jan 2018, at 11:54, Chris Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

I believe these are caused by a DAS failure which is causing the query for the MixingModule input to return an empty list.

—
You are receiving this because you were mentioned.
Reply to this email d

[2018-01-09 13:10] Dr15Jones commented on #21814
From the log of the failing job
[code]
The DAS query is returning the empty set.

[2018-01-09 13:20] slava77 commented on #21780
IIUC, from the messages earlier, the design of PVAssignment is never to return -1.
It seems like it should be independent of the values in the tracks.
Let's have a fix to this.

10_0_X is clear.
For 9_4_X: is the situation such that the change will affect only the crashing events? If so, it should be straightforward as well.

[2018-01-09 13:49] arizzi commented on #21780
yes the change doesn't affect non-crashing events.

[2018-01-09 14:43] mommsen commented on #21141
@Dr15Jones, is there anything else which needs to be fixed to resolve this issue? I believe the FastMonitoringService has been fixed with #21658.

Remi

[2018-01-09 16:58] davidlange6 commented on #21814
which is not a failure, but rather a feature in this case...anyway, the dataset change was here

https://github.com/cms-sw/cmssw/pull/21783

and the correct dataset appears to be

/RelValHydjetQ_B12_5020GeV_2018/CMSSW_10_0_0_pre2-100X_upgrade2018_realistic_v1-v1/GEN-SIM

rather than

/RelValHydjetQ_B12_5020GeV_2018/CMSSW_10_0_0_pre2-PU_100X_mc2017_realistic_v1-v1/GEN-SIM

@prebello should be able

[2018-01-09 18:00] prebello commented on #21814
Hi @fabiocos and @davidlange6,  indeed it is the case and I already tried to fix this typo in PR#21800, testing wfs with PR#21783, without success because base release incompatibility.
I will make a new PR soon in the newest IB, since 21783 is properly merged.
Working on it now to be ready for pre4. Thank you

[2018-01-09 20:05] prebello commented on #21814
@fabiocos @davidlange6 please see new PR#21819

[2018-01-10 13:18] fabiocos commented on #21814
@prebello This seems to fix the problem, thanks, I merge it

[2018-01-10 13:19] #21814 closed

[2018-01-10 19:39] dan131riley commented on #21769
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_0_X_2018-01-08-1100/pyRelValMatrixLogs/run/27.0_WM+WMINPUT+DIGI+RECO+HARVEST/step3_WM+WMINPUT+DIGI+RECO+HARVEST.log

There's a "std::bad_alloc exception" message just before the seg fault, and this one points pretty directly at something with the TFitResultPtr smart pointers.

[code]

[2018-01-11 09:15] fabozzi commented on #21780
Hello, just for completeness:
The same issue has been seen in another dataset:
https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/4725.html

[2018-01-11 09:27] fabiocos opened #21824 "RelVals failing in IB due to missing input premixing datasets"
@prebello Your fix in #21819 has indeed adjusted the Pyquen workflows. Also the newly introduced workflows for 2018 seem to work (apart fo some DAS problems).

Anyway there are some new failures in step 2
https://cms-sw.github.io/relvalLogDetail.html#slc6_amd64_gcc630;CMSSW_10_0_X_2018-01-10-2300
for the pre-existing 250200.0  250200.1 250200.2 25020X.0 X = 2 to 7 workflows, apparently all due aga

[2018-01-11 09:27] cmsbuild commented on #21824
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-11 13:20] slava77 commented on #21780
On 1/11/18 1:15 AM, fabozzi wrote:

this was in run 305112, different from what started this thread.
So, this still remains rare, but not limited to just a single event in
one run.

[2018-01-11 15:06] Dr15Jones commented on #21141
@mommsen FastMonitoringService now looks fine.

@ggovi if PoolDBOutputService can never work with concurrent Runs and/or LuminosityBlocks, could the service throw an exception if it is used in a job which is allowing multiple? At least then we could avoid crashes on accident.

[2018-01-11 15:40] slava77 commented on #21780
@VinInn @makortel could you please check (or pass along to someone) to see if this nan dzerror could be captured in the track producer(s) in a relatively simple way?
This would be a better fix than the downstream kludge available in #21816 / #21817

[2018-01-11 15:43] fabozzi commented on #21780
@slava77

exactly. I am keeping track of the failures as they are notified by comp-ops here:
https://twiki.cern.ch/twiki/bin/view/CMS/PdmVDataReprocessingEOYReReco2017#List_of_processing_problems

[2018-01-11 15:43] VinInn commented on #21780
There is NO "someone" at the moment. Tracking is not used to capture nan upstream.

[2018-01-11 15:47] slava77 commented on #21780
On 1/11/18 7:43 AM, fabozzi wrote:

It is very nice that we have these tracked.
I noticed this yesterday.
Does this cover all the cases so far?
If so, the picture looks close to perfect :-)

[2018-01-11 15:53] slava77 commented on #21780
On 1/11/18 7:43 AM, Vincenzo Innocente wrote:

I had in mind something similar to this

https://github.com/cms-sw/cmssw/blob/CMSSW_10_0_0_pre3/TrackingTools/TrackFitters/src/KFTrajectoryFitter.cc#L126

[2018-01-11 15:54] fabozzi commented on #21780
Yes, it should. We have always been notified so far by comp-ops before taking a decision.

[2018-01-11 17:06] Dr15Jones commented on #21807
Fixed by 21820

[2018-01-11 17:08] Dr15Jones commented on #21727
Fixed by #21830

[2018-01-11 17:15] fabiocos commented on #21824
assign pdmv

[2018-01-11 17:16] cmsbuild commented on #21824
New categories assigned: pdmv

@fabozzi,@prebello,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-11 17:26] fabozzi commented on #21824
fixed in #21831

[2018-01-12 08:39] fabozzi commented on #21824
#21831 has passed tests

[2018-01-12 08:39] fabozzi commented on #21824
+1

[2018-01-12 08:39] cmsbuild commented on #21824
This issue is fully signed and ready to be closed.

[2018-01-12 09:00] #21824 closed

[2018-01-12 15:08] dan131riley commented on #21769
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_0_X_2018-01-10-2300/pyRelValMatrixLogs/run/136.798_RunSingleEl2017C+RunSingleEl2017C+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017/step3_RunSingleEl2017C+RunSingleEl2017C+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017.log

Another variation

[code]

[2018-01-13 10:16] #21770 closed

[2018-01-13 10:19] smuzaffar opened #21847 "Build CMSSW_10_0_0_pre3_G4VecGeom"
RELEASE_QUEUE:CMSSW_10_0_X
ARCHITECTURE:slc6_amd64_gcc630
CMSSW_COMMIT:CMSSW_10_0_0_pre3
CMSDIST_COMMIT:1000pre3vecgeom

[2018-01-13 10:20] cmsbuild commented on #21847
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-01-13 10:20] smuzaffar commented on #21847
+1

[2018-01-13 10:20] cmsbuild commented on #21847
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre3_G4VecGeom. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-01-13 10:20] cmsbuild commented on #21847
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-01-13 10:21] cmsbuild commented on #21847
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_G4VecGeom-slc6_amd64_gcc630/1458

[2018-01-13 10:22] cmsbuild commented on #21847
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1459/console
CMSDIST Branch: [1000pre3vecgeom](https://github.com/cms-sw/cmsdist/commits/1000pre3vecgeom), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-13 10:24] smuzaffar commented on #21847
abort

[2018-01-13 10:24] cmsbuild commented on #21847
Deleting CMSSW_10_0_0_pre3_G4VecGeom:

  -Release successfully deleted

  -cmssw tag CMSSW_10_0_0_pre3_G4VecGeom successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_0_0_pre3_G4VecGeom/slc6_amd64_gcc630. Probaly it had not been created.

You must create a new issue to start over the build.

[2018-01-13 10:25] smuzaffar opened #21848 "Build CMSSW_10_0_0_pre3_G4VecGeom"
RELEASE_QUEUE:CMSSW_10_0_X
ARCHITECTURE:slc6_amd64_gcc630
TAG_COMMIT:9a782422a94819ff938c05b8e9370613c5473440
CMSDIST_COMMIT:1000pre3vecgeom

[2018-01-13 10:26] cmsbuild commented on #21848
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-01-13 10:26] smuzaffar commented on #21848
+1

[2018-01-13 10:40] cmsbuild commented on #21848
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre3_G4VecGeom. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-01-13 10:40] cmsbuild commented on #21848
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-01-13 10:41] cmsbuild commented on #21848
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1460/console
CMSDIST Branch: [1000pre3vecgeom](https://github.com/cms-sw/cmsdist/commits/1000pre3vecgeom), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-13 10:42] #21847 closed

[2018-01-13 14:29] cmsbuild commented on #21848
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_G4VecGeom-slc6_amd64_gcc630/146

[2018-01-13 15:50] cmsbuild commented on #21848
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_G4VecGeom-slc6_amd64_gcc630/1460

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-13 16:02] smuzaffar commented on #21848
upload

[2018-01-13 18:12] cmsbuild commented on #21848
Queing Jenkins upload for slc6_amd64_gcc630

[2018-01-13 18:13] cmsbuild commented on #21848
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/972/console

[2018-01-13 18:54] cmsbuild commented on #21848
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/973/console

[2018-01-13 18:56] cmsbuild commented on #21848
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre3_G4VecGeom-slc6_amd64_gcc630/973
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-13 18:56] cmsbuild commented on #21848
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-13 19:02] smuzaffar commented on #21848
release-notes since CMSSW_10_0_0_pre3

[2018-01-13 19:02] cmsbuild commented on #21848
Generating release notes since CMSSW_10_0_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-01-13 19:02] cmsbuild commented on #21848
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_0_0_pre3_G4VecGeom is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_10_0_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_0_pre3_G4VecGeom

RELEASE_QUEUE:CMSSW_10_0_X
ARCHITECTURE:slc6_

[2018-01-13 19:03] cmsbuild commented on #21848
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre3_G4VecGeom

[2018-01-15 09:38] kirschen opened #21851 "reco::FormulaEvaluator segFaults if function string is not hard-coded/pre-defined"
Dear experts,

in preparation for a new JEC-release, the parametrization has been extended by a TMath::Exp-expression. However, the the reco::FormulaEvaluator segFaults with this extension.

After inspecting
https://github.com/cms-sw/cmssw/blob/master/CommonTools/Utils/src/FormulaEvaluator.cc#L562-L575
and following, it seems like any new function needs to be announced to the reco::FormulaEvaluato

[2018-01-15 09:38] cmsbuild commented on #21851
A new Issue was created by  @kirschen .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-15 12:20] slava77 commented on #21851
@kirschen
I think that an error here is reasonable.
Would you like to submit a pull request for this?

[2018-01-15 17:02] dan131riley commented on #21769
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_0_X_2018-01-10-1100/pyRelValMatrixLogs/run/136.738_RunDoubleMuon2016C+RunDoubleMuon2016C+HLTDR2_2016+RECODR2_2016reHLT_HIPM+HARVESTDR2/step3_RunDoubleMuon2016C+RunDoubleMuon2016C+HLTDR2_2016+RECODR2_2016reHLT_HIPM+HARVESTDR2.log

The interesting thing about this one is the messages printed just before the crash, which come fro

[2018-01-15 18:01] dan131riley commented on #21769
It looks like there's a thread safety issue with the static `TMinuitMinimizer::fgUsed`.  fgUsed gets set to false when when a new Tminuit is created:

https://github.com/root-project/root/blob/a72d6ed3cb9086bf52803ea663163238134fe789/math/minuit/src/TMinuitMinimizer.cxx#L186

It gets set to true in `TMinuitMinimizer::Minimize()`:

https://github.com/root-project/root/blob/a72d6ed3cb9086bf52803ea66

[2018-01-15 18:08] cmsbuild commented on #21848
The cleanup has started for slc6_amd64_gcc630

[2018-01-15 18:08] #21848 closed

[2018-01-15 18:09] cmsbuild commented on #21848
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre3_G4VecGeom-slc6_amd64_gcc630/877

[2018-01-15 22:46] dan131riley commented on #21769
After patching TMinuitMinimizer I haven't been able to reproduce the crashes, so fgUsed may be the main problem.  I've submitted a ROOT PR that references this issue.

[2018-01-16 10:06] fabiocos opened #21858 "IB crash in wf 140.52 140.54 related to PR 21433"
A new crash (SIGSEV) has appeared in two HI wf (140.52 and 140.54) apparently related to the integration of PR 21433, as it happens in the SiStripMonitorCluster module. In a single-threaded test:

#0  0x000000345d6df383 in poll () from /lib64/libc.so.6
#1  0x00007f5a3df10464 in full_read.constprop () from /cvmfs/cms-ib.cern.ch/nweek-02507/slc6_amd64_gcc630/cms/cmssw/CMSSW_10_0_X_2018-01-14-1100/li

[2018-01-16 10:11] fabiocos opened #21859 "IB failure in wf 136.7802 related to PR 20657"
The wf 136.7802 fails after the integration of PR 20657 due to a problem in schedule likely introduced here:

https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Trigger/python/TopMonitoring_cff.py#L628

----- Begin Fatal Exception 16-Jan-2018 07:02:00 CET-----------------------
An exception of category 'ScheduleExecutionFailure' occurred while
   [0] Calling beginJob
Exception Message:
Unrunna

[2018-01-16 14:42] Dr15Jones commented on #21807
+1

[2018-01-16 14:42] #21807 closed

[2018-01-16 14:42] cmsbuild commented on #21807
This issue is fully signed and ready to be closed.

[2018-01-16 14:43] Dr15Jones opened #21862 "Extend edmStreamStallGrapher.py to show Run/Lumis"
The edmStreamStallGrapher should be extended to show how modules are running during global and stream Run and LuminosityBlock transitions.

[2018-01-16 14:43] cmsbuild commented on #21862
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-16 14:44] Dr15Jones commented on #21862
assign core

[2018-01-16 14:44] cmsbuild commented on #21862
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-16 14:47] Dr15Jones opened #21863 "Extend edmStreamStallGrapher.py to show transitions instead of modules"
We should add an option to edmStreamStallGrapher.py to create a graph of  time taken for each transition [event, (global/stream)(Run/Lumi)] as apposed to just showing module running times.

[2018-01-16 14:47] cmsbuild commented on #21863
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-16 14:48] Dr15Jones commented on #21863
assign core

[2018-01-16 14:48] cmsbuild commented on #21863
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-16 15:58] smuzaffar commented on #21859
ping

[2018-01-16 15:58] smuzaffar commented on #21858
ping

[2018-01-16 15:58] cmsbuild commented on #21859
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-16 15:59] cmsbuild commented on #21858
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-16 16:02] Dr15Jones commented on #21859
So BTagMu_AK4DiJet20_Mu5 wants to get data from egmGsfElectronIDsForDQM but egmGsfElectronIDsForDQM appears later on the same Path (dqmoffline_step).

My suggestion is egmGsfElectronIDsForDQM be placed on a Task associated with dqmoffline_step, and not on the Path itself.

[2018-01-16 16:49] slava77 opened #21864 "features needed for 94X re-miniAOD"
The initial list is to be collected by Jan 22.
@gpetruc @arizzi @franzoni

~The deadline for PR submission is set to Jan 29 (based on the decision in ORP on Jan 23)~ The deadline was relaxed a bit.

Somewhat up-to-date list (Mar 17). A checked box corresponds to merged PRs.
- Features affecting miniAOD content:
    - [x] #22125 "Fix dE/dx hit association index"
    - [x] #22132 "Fix reading presca

[2018-01-16 16:50] slava77 commented on #21864
assign reconstruction,analysis,alca

[2018-01-16 16:51] cmsbuild commented on #21864
New categories assigned: analysis,reconstruction,alca

@slava77,@cerminar,@perrotta,@arunhep,@monttj,@franzoni,@lpernie,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-16 16:52] cmsbuild commented on #21864
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-16 17:00] dmitrijus commented on #21858
Investigating...

[2018-01-16 17:47] fabiocos commented on #21859
@mohsinwaseem @dmitrijus @Dr15Jones as discussed at the ORP and Core Software meeting, I revert this PR waiting for a solution of the problem. A new PR with the feature and its fix will be needed

[2018-01-16 17:52] fabiocos commented on #21858
@ocolegro, @dmitrijus, @Dr15Jones as discussed at the ORP and Core Software meeting, I revert the PR pending a fix for the problem, which will have to be resubmitted

[2018-01-16 20:12] pcanal commented on #21769
In this context, are things setup to use TMinuit2? (but might not due to a thread related problem in the PluginManager we are solving at the moment).

[2018-01-16 21:28] dan131riley commented on #21769
The BeamSpotProducer uses Minuit2 explicitly, but it also uses TH1::Fit() with the default TMinuitMinimizer.  So far I haven't been able to reproduce the crashes in Minuit2 at all, I don't see any obvious connection between the TMinuitMinimizer bug and the Minuit2 crashes, and it is still a mystery why we are only seeing crashes with gcc700.

[2018-01-17 08:22] fabiocos commented on #21858
#21866 fixes the crashes, so reverting to the old code does not seem needed.

[2018-01-17 08:50] #21858 closed

[2018-01-17 13:55] fabiocos opened #21875 "Build CMSSW_10_0_0_MWGR1"
RELEASE_QUEUE:CMSSW_10_0_X
ARCHITECTURE:slc6_amd64_gcc630
TAG_COMMIT:42bc61bb00f2323b032199d8a01525ca4ebcdceb
CMSDIST_COMMIT:forCMSSW_10_0_0_MWGR1

[2018-01-17 13:55] cmsbuild commented on #21875
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-01-17 13:55] fabiocos commented on #21875
+1

[2018-01-17 13:56] cmsbuild commented on #21875
There was an error while attempting to create CMSSW_10_0_0_MWGR1. Please check if it already exists https://github.com/cms-sw/cmssw/releases

[2018-01-17 14:06] smuzaffar commented on #21875
ping cms-bot
@fabiocos , we need the commit hash for TAG_COMMIT. I have updated it

[2018-01-17 14:07] cmsbuild commented on #21875
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-01-17 14:07] cmsbuild commented on #21875
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_MWGR1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-01-17 14:07] cmsbuild commented on #21875
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-01-17 14:08] cmsbuild commented on #21875
The build has started for slc6_amd64_gcc630 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1461/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-17 15:02] cmsbuild commented on #21875
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_MWGR1-slc6_amd64_gcc630/1461

[2018-01-17 15:52] smuzaffar commented on #21875
@fabiocos , we need to remove herwig update for this build. I am trying to cookup the cmsdist tag and will re-start the build

[2018-01-17 16:12] cmsbuild commented on #21875
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_MWGR1-slc6_amd64_gcc630/1462

[2018-01-17 16:13] cmsbuild commented on #21875
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1463/console
CMSDIST Branch: [forCMSSW_10_0_0_MWGR1](https://github.com/cms-sw/cmsdist/commits/forCMSSW_10_0_0_MWGR1), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-17 17:12] smuzaffar commented on #21875
Abort

[2018-01-17 17:12] cmsbuild commented on #21875
Deleting CMSSW_10_0_0_MWGR1:

  -Release successfully deleted

  -cmssw tag CMSSW_10_0_0_MWGR1 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_0_0_MWGR1/slc6_amd64_gcc630. Probaly it had not been created.

You must create a new issue to start over the build.

[2018-01-17 17:24] smuzaffar opened #21876 "Build CMSSW_10_0_0_MWGR1"
RELEASE_QUEUE:CMSSW_10_0_X
ARCHITECTURE:slc6_amd64_gcc630,slc7_amd64_gcc630
TAG_COMMIT:207633bb0eea2d22af5832446bf165bf88b79935
CMSDIST_COMMIT:forCMSSW_10_0_0_MWGR1

[2018-01-17 17:24] smuzaffar commented on #21876
+1

[2018-01-17 17:25] #21875 closed

[2018-01-17 17:26] cmsbuild commented on #21876
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-01-17 17:26] cmsbuild commented on #21876
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_MWGR1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-01-17 17:26] cmsbuild commented on #21876
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-01-17 17:27] cmsbuild commented on #21876
The build has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1464/console
CMSDIST Branch: [forCMSSW_10_0_0_MWGR1](https://github.com/cms-sw/cmsdist/commits/forCMSSW_10_0_0_MWGR1), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-17 17:27] cmsbuild commented on #21876
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_MWGR1-slc6_amd64_gcc630/1464

[2018-01-17 17:28] cmsbuild commented on #21876
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1465/console
CMSDIST Branch: [forCMSSW_10_0_0_MWGR1](https://github.com/cms-sw/cmsdist/commits/forCMSSW_10_0_0_MWGR1), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-17 20:55] cmsbuild commented on #21876
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_MWGR1-slc6_amd64_gcc630/1465
Some te

[2018-01-17 21:41] dan131riley commented on #21769
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_X_2018-01-17-1100/pyRelValMatrixLogs/run/136.817_RunDoubleEG2017E+RunDoubleEG2017E+HLTDR2_2017+RECODR2_2017reHLT_skimDoubleEG_Prompt+HARVEST2017/step3_RunDoubleEG2017E+RunDoubleEG2017E+HLTDR2_2017+RECODR2_2017reHLT_skimDoubleEG_Prompt+HARVEST2017.log

This one is significant only because it's with gcc630, so apparently the p

[2018-01-17 22:16] dan131riley opened #21880 "IB Crashes in DQMStore::book_()"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_X_2018-01-17-1100/pyRelValMatrixLogs/run/25406.0_ZMM_13+FS_ZMM_13_UP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS/step1_ZMM_13+FS_ZMM_13_UP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS.log

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_X_2018-01-17-1100/pyRelValMatrixLogs/run/5.6_QCD_FlatPt_15_3000+QCDFlatPt15300

[2018-01-17 22:16] cmsbuild commented on #21880
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-17 22:18] cmsbuild commented on #21876
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_MWGR1-slc6_amd64_gcc630/1465

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-17 22:21] Dr15Jones commented on #21880
See comments in #21766

[2018-01-17 22:25] dan131riley commented on #21880
aha, I was too slow, should've rechecked the PR before pushing submit...

[2018-01-17 22:50] fabiocos commented on #21880
reverting the PR 21766 with #21879 fixes the crashes in 5.4 5.6 123.2 and 25406.0 in a quick test of mine. Other crashes (136.792 and 136.817) are unrelated.

[2018-01-17 22:51] fabiocos commented on #21876
upload all

[2018-01-17 22:51] cmsbuild commented on #21876
Queing Jenkins upload for slc6_amd64_gcc630

[2018-01-17 22:52] cmsbuild commented on #21876
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/974/console

[2018-01-17 22:53] cmsbuild commented on #21876
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_MWGR1-slc6_amd64_gcc630/974
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-17 22:53] cmsbuild commented on #21876
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-18 07:49] fabiocos commented on #21876
release-notes since CMSSW_10_0_0_pre3

[2018-01-18 07:49] cmsbuild commented on #21876
Generating release notes since CMSSW_10_0_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-01-18 07:50] cmsbuild commented on #21876
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_0_0_MWGR1 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_10_0_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_0_MWGR1

RELEASE_QUEUE:CMSSW_10_0_X
ARCHITECTURE:slc6_amd64_gcc630
TAG_CO

[2018-01-18 07:50] cmsbuild commented on #21876
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_MWGR1

[2018-01-18 08:39] fabiocos opened #21884 "IB crash in wf 534 (Sherpa)"
In the recent IBs (since CMSSW_10_0_X_2018-01-17-0800) the wf 534 (test of sherpa) is crashing:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_X_2018-01-17-2300/pyRelValMatrixLogs/run/534.0_sherpa_ZtoEE_0j_OpenLoops_13TeV_MASTER+sherpa_ZtoEE_0j_OpenLoops_13TeV_MASTER+HARVESTGEN/step1_sherpa_ZtoEE_0j_OpenLoops_13TeV_MASTER+sherpa_ZtoEE_0j_OpenLoops_13TeV_MASTER+HARVESTGE

[2018-01-18 08:40] fabiocos commented on #21884
assign generators

[2018-01-18 08:40] cmsbuild commented on #21884
New categories assigned: generators

@perrozzi,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-18 08:41] fabiocos commented on #21880
@dmitrijus please take note of this issue

[2018-01-18 08:43] fabiocos commented on #21859
@mohsinwaseem @dmitrijus The PR has been removed from the IB, please propose a new PR fixing the problems (see suggestions by Chris)

[2018-01-18 08:43] #21859 closed

[2018-01-18 08:52] smuzaffar opened #21885 "Build CMSSW_10_0_0_pre3_G4VecGeom1"
RELEASE_QUEUE:CMSSW_10_0_X
ARCHITECTURE:slc6_amd64_gcc630
TAG_COMMIT:9a782422a94819ff938c05b8e9370613c5473440
CMSDIST_COMMIT:1000pre3vecgeom1

[2018-01-18 08:52] smuzaffar commented on #21885
+1

[2018-01-18 08:52] cmsbuild commented on #21885
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-01-18 08:52] cmsbuild commented on #21885
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre3_G4VecGeom1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-01-18 08:52] cmsbuild commented on #21885
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-01-18 08:54] cmsbuild commented on #21885
The build has started for slc6_amd64_gcc630 in cmsbuild43.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1466/console
CMSDIST Branch: [1000pre3vecgeom1](https://github.com/cms-sw/cmsdist/commits/1000pre3vecgeom1), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-18 08:54] cmsbuild commented on #21885
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_G4VecGeom1-slc6_amd64_gcc630/1466

[2018-01-18 08:55] cmsbuild commented on #21885
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1467/console
CMSDIST Branch: [1000pre3vecgeom1](https://github.com/cms-sw/cmsdist/commits/1000pre3vecgeom1), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-18 09:32] dmitrijus commented on #21880
I will migrate/disable DTSegment2DSLPhiQuality later today.

[2018-01-18 09:35] mohsinwaseem commented on #21859
Hi Chris, Fabio

Do you mean replacing

egmGsfElectronIDsForDQM (under sequence with)

with

 cms.Task(egmGsfElectronIDsForDQM)

If that is the only change needed, can I edit the existing PR with online editor instead of creating a new PR?

-----------------
Best Regards
Mohsin
________________________________
From: Chris Jones [notifications@github.com]
Sent: 16 January 2018 17:02
To: cms-sw/cmss

[2018-01-18 10:57] fwyzard commented on #21880
@dan131riley , I guess that locking the mutex within the `book_` method would work around the current crash.
However there are other `DQMStore` member variables that affect where and how the `MonitorElements` are booked, so one needs to make sure they are not modified by different modules during the respective booking operations (e.g. the DQM "current folder").

[2018-01-18 11:27] mrodozov opened #21887 "Unit test in SimG4Core/Geometry failing in ROOT IBs after integrating VecGeom"
The following test:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_ROOT6_X_2018-01-17-2300/unitTestLogs/SimG4Core/Geometry
started failing after integrating the following:
https://github.com/cms-sw/cmsdist/pull/3664
on line https://github.com/cms-sw/cmssw/blob/master/SimG4Core/Geometry/test/Cons_.cpp#L51
as the method GetCubicVolume is now putting one extra bit into the

[2018-01-18 11:27] cmsbuild commented on #21887
A new Issue was created by  @mrodozov Mircho Rodozov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-18 11:35] smuzaffar commented on #21887
assign simulation

[2018-01-18 11:36] cmsbuild commented on #21887
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-18 13:06] fabiocos opened #21889 "features needed for 94X for XeXe processing"
HI community is requesting urgently a 9_4_3 build for the XeXe MC campaign.

#21761 is requested.

@mandrenguyen Please list all the other necessary PRs for this campaign, or confirm that there is none

[2018-01-18 13:06] cmsbuild commented on #21889
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-18 13:11] mandrenguyen commented on #21889
The list of other needed requests is as follows:  {}

[2018-01-18 13:28] cmsbuild commented on #21885
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_G4VecGeom1-slc6_amd64_gcc630/14

[2018-01-18 14:08] Dr15Jones commented on #21769
We had another gcc630 crash
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_X_2018-01-18-1100/pyRelValMatrixLogs/run/136.722_RunDoubleEG2016B+RunDoubleEG2016B+HLTDR2_2016+RECODR2_2016reHLT_skimDoubleEG_HIPM+HARVESTDR2/step3_RunDoubleEG2016B+RunDoubleEG2016B+HLTDR2_2016+RECODR2_2016reHLT_skimDoubleEG_HIPM+HARVESTDR2.log

with the backtrace
[code]

[2018-01-18 14:16] pcanal commented on #21769
Is that with or without Dan's PR?

[2018-01-18 14:18] fabiocos commented on #21769
@Dr15Jones @davidlange6  @smuzaffar from this thread I believe that this is not going to be solved by tomorrow, if we want to build a pre4 by the week-end. Was this affecting also pre3 during its preparation?

[2018-01-18 14:23] pcanal commented on #21769
@Dr15Jones @smuzaffar Can I get a debug build and the instruction to run the crash example?

[2018-01-18 14:27] Dr15Jones commented on #21769
@smuzaffar @fabiocos Starting with Dan's report yesterday, these are the first ever times that gcc630 using ROOT 6.10 that we've seen these failures. When did we switch back the C++ ABI for gcc630? Does it coincide with the beginning of these failures?

[2018-01-18 14:28] smuzaffar commented on #21769
cmssw ROOT6 IBs contain debug build of root. So you can use CMSSW_10_0_ROOT6_X_2018-01-17-2300 and I guess @Dr15Jones can send you the instructions to try to re-produce the crash.

[2018-01-18 14:30] civanch commented on #21887
Gabriele Cosmo confirm that the codes in native and VecGeom are not identical for Cons. Because the computations of weights between native and VecGeom are not identical, some precision lost for the last bit is possible. Me may ignore this problem or we should change unit test adding some tolerance in comparison will be allowed. Making PR is not difficult but I am not 100% sure we have to do it pro

[2018-01-18 14:33] dan131riley commented on #21769
I believe CMS ROOT builds do not include my PR yet.  With that PR I've been unable to reproduce the crashes in 100s of runs, so AFAICT that PR does fix the problem, we should merge into the IBs and find out.

[2018-01-18 14:35] Dr15Jones commented on #21769
@dan131riley We may be hitting a new failure on ROOT 6 (which is master) related to fitting
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_ROOT6_X_2018-01-17-2300/pyRelValMatrixLogs/run/250203.18_H125GGgluonfusion_13UP18+H125GGgluonfusion_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP18_PU25/step2_H125GGgluonfusion_13UP18+H125GGgluonfusion_13UP18INPUT+DIGIPRMX

[2018-01-18 14:41] smuzaffar commented on #21769
The first to use old c++ abi for gcc630 was CMSSW_10_0_X_2018-01-17-0800

[2018-01-18 14:42] dan131riley commented on #17971
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_0_X_2018-01-17-2300/pyRelValMatrixLogs/run/25405.0_ZTT_13+FS_ZTT_13_UP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS/step1_ZTT_13+FS_ZTT_13_UP15_PU25+HARVESTUP15FS+MINIAODMCUP15FS.log

Another TDirectory /THashList crash following a FallbackFileOpenError, first one i've spotted since the TDirectory::TContext scope was narrowed in the I

[2018-01-18 14:43] Dr15Jones commented on #21769
Do the gcc700 builds use the new C++ API or the old one?

[2018-01-18 14:43] smuzaffar commented on #21769
old abi.

[2018-01-18 14:45] Dr15Jones commented on #21769
So my hypothesis now is the old ABI is what is triggering the failures. Possibly it is just changing some timings or maybe changed where synchronization barriers are added by the compiler.

[2018-01-18 14:48] cmsbuild commented on #21885
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_G4VecGeom1-slc6_amd64_gcc630/1467

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-18 14:48] smuzaffar commented on #21885
upload all

[2018-01-18 14:49] cmsbuild commented on #21885
Queing Jenkins upload for slc6_amd64_gcc630

[2018-01-18 14:49] cmsbuild commented on #21885
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/975/console

[2018-01-18 14:50] cmsbuild commented on #21885
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre3_G4VecGeom1-slc6_amd64_gcc630/975
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-18 14:51] cmsbuild commented on #21885
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-18 14:53] dan131riley commented on #21769
Or a change in the memory layout, like a use-after-free bug that only manifests with the copy-on-write std::string in the old ABI.

[2018-01-18 15:03] smuzaffar opened #21891 "Build CMSSW_10_0_0_pre3_G4VecGeom2"
RELEASE_QUEUE:CMSSW_10_0_X
ARCHITECTURE:slc6_amd64_gcc630
CMSSW_COMMIT:9a782422a94819ff938c05b8e9370613c5473440
CMSDIST_COMMIT:1000pre3vecgeom2

[2018-01-18 15:04] smuzaffar commented on #21891
+1

[2018-01-18 15:04] cmsbuild commented on #21891
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-01-18 15:04] cmsbuild commented on #21891
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre3_G4VecGeom2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-01-18 15:04] cmsbuild commented on #21891
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-01-18 15:05] #21885 closed

[2018-01-18 15:05] cmsbuild commented on #21891
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1468/console
CMSDIST Branch: [1000pre3vecgeom2](https://github.com/cms-sw/cmsdist/commits/1000pre3vecgeom2), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-18 15:19] Dr15Jones commented on #21859
It has to be another pull request (since the other one was already merged). As for the change, do
[code]
Since Tasks go as a second argument to a Sequence.

[2018-01-18 15:31] fabiocos commented on #21889
#21841 integrated as well

changes in vtx smearing name and parameters are claimed to be harmless as they were not used in production so far.

[2018-01-18 15:46] cmsbuild commented on #21891
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_G4VecGeom2-slc6_amd64_gcc630/1468

[2018-01-18 15:55] cmsbuild commented on #21891
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1470/console
CMSDIST Branch: [1000pre3vecgeom2](https://github.com/cms-sw/cmsdist/commits/1000pre3vecgeom2), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-18 16:46] Dr15Jones opened #21892 "Add stream ID to framework 'Begin processing' log message"
In order to help measure the time each event took to processes just using the framework log file, we need to know which event is being processed by which stream.

[2018-01-18 16:47] cmsbuild commented on #21892
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-18 16:47] Dr15Jones commented on #21892
assign core

[2018-01-18 16:47] cmsbuild commented on #21892
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-18 17:38] Dr15Jones commented on #21727
+1

[2018-01-18 17:38] #21727 closed

[2018-01-18 17:38] cmsbuild commented on #21727
This issue is fully signed and ready to be closed.

[2018-01-18 17:50] fabiocos commented on #21859
BTW I see a similar problem in 94X, that I am not sure when entered there

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_9_4_X_2018-01-16-2300/pyRelValMatrixLogs/run/136.7802_RunHLTPhy2017B_AODextra+RunHLTPhy2017B_AODextra+DQMHLTonAODextra_2017+HARVESTDQMHLTonAOD_2017/step2_RunHLTPhy2017B_AODextra+RunHLTPhy2017B_AODextra+DQMHLTonAODextra_2017+HARVESTDQMHLTonAOD_2017.log

[2018-01-18 17:51] fabiocos commented on #21859
Interesting, it is present already in 9_4_2

[2018-01-18 19:50] cmsbuild commented on #21891
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_G4VecGeom2-slc6_amd64_gcc630/14

[2018-01-18 19:51] smuzaffar commented on #21891
upload all

[2018-01-18 19:53] cmsbuild commented on #21891
Queing Jenkins upload for slc6_amd64_gcc630

[2018-01-18 19:54] cmsbuild commented on #21891
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/976/console

[2018-01-18 19:55] cmsbuild commented on #21891
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_pre3_G4VecGeom2-slc6_amd64_gcc630/976
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-18 19:55] cmsbuild commented on #21891
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-18 21:11] cmsbuild commented on #21891
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_pre3_G4VecGeom2-slc6_amd64_gcc630/1470

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-19 02:56] slava77 opened #21894 "refactor PF HCAL rechit and cluster configuration (follow up to #21845)"
python configuration for a variety of phase0/1/2 options is copy-pasting the same values in many places. Also, some values are logically expected to be the same but are instead copy-pasted, which is rather dangerous.

Some comments outlining what to do are in https://github.com/cms-sw/cmssw/pull/21845/files#r161890999

@mariadalfonso @bachtis @gpetruc @arizzi

[2018-01-19 02:57] slava77 commented on #21894
assign reconstruction

[2018-01-19 02:57] cmsbuild commented on #21894
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-19 02:57] cmsbuild commented on #21894
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-19 10:14] cmsbuild commented on #21876
ping

[2018-01-19 10:18] cmsbuild commented on #21876
The build has started for slc7_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1472/console
CMSDIST Branch: [forCMSSW_10_0_0_MWGR1](https://github.com/cms-sw/cmsdist/commits/forCMSSW_10_0_0_MWGR1), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-19 13:36] cmsbuild commented on #21876
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_MWGR1-slc7_amd64_gcc630/1472
Some te

[2018-01-19 13:36] cmsbuild commented on #21876
Queing Jenkins upload for slc7_amd64_gcc630

[2018-01-19 13:37] cmsbuild commented on #21876
The upload has started for slc7_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/977/console

[2018-01-19 13:39] cmsbuild commented on #21876
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0_MWGR1-slc7_amd64_gcc630/977
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-19 13:39] cmsbuild commented on #21876
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-19 14:43] cmsbuild commented on #21876
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0_MWGR1-slc7_amd64_gcc630/1472

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-19 16:21] fabiocos commented on #21891
release-notes since CMSSW_10_0_0_pre3

[2018-01-19 16:22] cmsbuild commented on #21891
Generating release notes since CMSSW_10_0_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-01-19 16:22] cmsbuild commented on #21891
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_0_0_pre3_G4VecGeom2 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_10_0_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_0_pre3_G4VecGeom2

Cheers,
cms-bot

You can also click <a href

[2018-01-19 16:22] cmsbuild commented on #21891
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0_pre3_G4VecGeom2

[2018-01-19 16:35] mrodozov commented on #21887
I've alternated the test to accept comparisons with precision 1e-12, to clean the error and still have the test. I hope this tolerance is reasonable, the PR is in the link above

[2018-01-19 18:02] fabiocos opened #21899 "Build CMSSW_9_4_3"

[2018-01-19 18:02] cmsbuild commented on #21899
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-01-19 18:04] fabiocos commented on #21899
+1

[2018-01-19 18:04] cmsbuild commented on #21899
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2018-01-19 18:04] cmsbuild commented on #21899
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-01-19 18:05] cmsbuild commented on #21899
The build has started for slc6_amd64_gcc630 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1473/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-01-19 18:05] cmsbuild commented on #21899
The build has started for slc7_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1474/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-01-19 20:56] cmsbuild commented on #21899
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_3-slc7_amd64_gcc630/1474
Some tests ( r

[2018-01-19 21:56] cmsbuild commented on #21899
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_3-slc7_amd64_gcc630/1474

Tests results:
21 21 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-19 23:29] cmsbuild commented on #21899
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_3-slc6_amd64_gcc630/1473
Some tests ( r

[2018-01-20 00:35] cmsbuild commented on #21899
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_3-slc6_amd64_gcc630/1473

Tests results:
21 21 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-20 06:55] cmsbuild commented on #21876
The cleanup has started for slc6_amd64_gcc630

[2018-01-20 06:55] cmsbuild commented on #21876
The cleanup has started for slc6_amd64_gcc630

[2018-01-20 06:55] cmsbuild commented on #21876
The cleanup has started for slc7_amd64_gcc630

[2018-01-20 06:55] #21876 closed

[2018-01-20 07:01] cmsbuild commented on #21876
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_MWGR1-slc7_amd64_gcc630/878

[2018-01-20 07:47] fabiocos commented on #21899
upload all

[2018-01-20 07:48] cmsbuild commented on #21899
Queing Jenkins upload for slc6_amd64_gcc630

[2018-01-20 07:48] cmsbuild commented on #21899
Queing Jenkins upload for slc7_amd64_gcc630

[2018-01-20 07:50] cmsbuild commented on #21899
The upload has started for slc6_amd64_gcc630 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/978/console

[2018-01-20 07:50] cmsbuild commented on #21899
The upload has started for slc7_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/979/console

[2018-01-20 07:50] fabiocos opened #21905 "Build CMSSW_10_0_0"

[2018-01-20 07:51] cmsbuild commented on #21905
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-01-20 07:51] cmsbuild commented on #21899
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_3-slc7_amd64_gcc630/979
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-20 07:51] cmsbuild commented on #21899
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-20 07:52] fabiocos commented on #21905
+1

[2018-01-20 07:52] cmsbuild commented on #21905
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-01-20 07:52] cmsbuild commented on #21905
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2018-01-20 07:53] cmsbuild commented on #21905
The build has started for slc6_amd64_gcc630 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1475/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-20 07:54] cmsbuild commented on #21905
The build has started for slc6_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1476/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-20 07:54] cmsbuild commented on #21899
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_3-slc6_amd64_gcc630/978
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-20 07:54] cmsbuild commented on #21899
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-20 07:54] cmsbuild commented on #21905
The build has started for slc7_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1478/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-20 07:54] cmsbuild commented on #21905
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1477/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-20 07:55] cmsbuild commented on #21905
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1479/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-01-20 11:49] cmsbuild commented on #21905
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0-slc7_amd64_gcc630/1478
Some tests (

[2018-01-20 12:40] cmsbuild commented on #21905
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0-slc6_amd64_gcc700/1476
Some tests (

[2018-01-20 12:44] fabiocos commented on #21899
release-notes since CMSSW_9_4_2

[2018-01-20 12:44] cmsbuild commented on #21899
Generating release notes since CMSSW_9_4_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-01-20 12:44] cmsbuild commented on #21899
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2018-01-20 12:45] cmsbuild commented on #21899
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_3

[2018-01-20 12:48] cmsbuild commented on #21905
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0-slc7_amd64_gcc700/1479
Some tests (

[2018-01-20 12:58] cmsbuild commented on #21905
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0-slc7_amd64_gcc630/1478

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-20 13:47] cmsbuild commented on #21905
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0-slc6_amd64_gcc700/1476

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-20 13:50] cmsbuild commented on #21905
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0-slc6_amd64_gcc630/1475
Some tests (

[2018-01-20 13:51] cmsbuild commented on #21905
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0-slc7_amd64_gcc700/1479

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-20 14:15] cmsbuild commented on #21905
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0-slc7_aarch64_gcc700/1477
Some test

[2018-01-20 15:02] cmsbuild commented on #21905
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0-slc6_amd64_gcc630/1475

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-20 16:40] cmsbuild commented on #21905
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_0-slc7_aarch64_gcc700/1477

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-20 19:04] fabiocos commented on #21905
upload all

[2018-01-20 19:04] cmsbuild commented on #21905
Queing Jenkins upload for slc6_amd64_gcc630

[2018-01-20 19:05] cmsbuild commented on #21905
Queing Jenkins upload for slc6_amd64_gcc700

[2018-01-20 19:05] cmsbuild commented on #21905
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-01-20 19:05] cmsbuild commented on #21905
Queing Jenkins upload for slc7_amd64_gcc630

[2018-01-20 19:05] cmsbuild commented on #21905
Queing Jenkins upload for slc7_amd64_gcc700

[2018-01-20 19:07] cmsbuild commented on #21905
The upload has started for slc6_amd64_gcc700 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/981/console

[2018-01-20 19:07] cmsbuild commented on #21905
The upload has started for slc6_amd64_gcc630 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/980/console

[2018-01-20 19:07] cmsbuild commented on #21905
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/982/console

[2018-01-20 19:07] cmsbuild commented on #21905
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0-slc6_amd64_gcc700/981
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-20 19:07] cmsbuild commented on #21905
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-20 19:08] cmsbuild commented on #21905
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0-slc7_aarch64_gcc700/982
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-20 19:08] cmsbuild commented on #21905
The upload has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/983/console

[2018-01-20 19:08] cmsbuild commented on #21905
The upload has started for slc7_amd64_gcc630 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/984/console

[2018-01-20 19:08] cmsbuild commented on #21905
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0-slc7_amd64_gcc700/983
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-20 19:08] cmsbuild commented on #21905
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-20 19:08] cmsbuild commented on #21905
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0-slc7_amd64_gcc630/984
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-20 19:09] cmsbuild commented on #21905
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-20 19:11] cmsbuild commented on #21905
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_0-slc6_amd64_gcc630/980
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-20 19:11] cmsbuild commented on #21905
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-20 19:12] fabiocos commented on #21905
release-notes since CMSSW_10_0_0_pre3

[2018-01-20 19:13] cmsbuild commented on #21905
Generating release notes since CMSSW_10_0_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-01-20 19:13] cmsbuild commented on #21905
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_0_0 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_0_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_0

Cheers,
cms-bot

You c

[2018-01-20 19:13] cmsbuild commented on #21905
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_0

[2018-01-21 15:23] cmsbuild commented on #21891
The cleanup has started for slc6_amd64_gcc630

[2018-01-21 15:23] #21891 closed

[2018-01-21 15:24] cmsbuild commented on #21891
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0_pre3_G4VecGeom2-slc6_amd64_gcc630/879

[2018-01-21 17:55] Dr15Jones opened #21906 "Make prefetching work with Run and LuminosityBlock transitions"
Right now prefetching only works with Events. We need it to work with the other transitions as well so that the framework can schedule running modules based on dependencies.

[2018-01-21 17:55] cmsbuild commented on #21906
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-21 17:56] Dr15Jones commented on #21906
assign core

[2018-01-21 17:56] cmsbuild commented on #21906
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-22 11:54] cmsbuild commented on #21899
The cleanup has started for slc6_amd64_gcc630

[2018-01-22 11:54] cmsbuild commented on #21899
The cleanup has started for slc7_amd64_gcc630

[2018-01-22 11:54] #21899 closed

[2018-01-22 12:01] cmsbuild commented on #21899
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_3-slc6_amd64_gcc630/880

[2018-01-22 12:01] cmsbuild commented on #21899
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_3-slc7_amd64_gcc630/881

[2018-01-22 12:40] fabiocos commented on #21884
According to what said at today's generators meeting, the problem is likely connected to the change in abi option for gcc, as this causes the existing sherpack to be invalid, and the symbols in it not to be recognised. A recompiled sherpack should solve the issue, to be followed by the GEN group.

[2018-01-22 15:03] dan131riley commented on #21769
I haven't been able to reproduce the "Assertion `s0.IsValid()' failed" error, but here's another indication that all is still not right in the ROOT6 IBs:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_ROOT6_X_2018-01-19-2300/pyRelValMatrixLogs/run/250207.17_NuGun_UP17+NuGun_UP17INPUT+DIGIPRMXUP17_PU25+RECOPRMXUP17_PU25+HARVESTUP17_PU25/step3_NuGun_UP17+NuGun_UP17INPUT+D

[2018-01-22 18:23] cmsbuild commented on #21905
The cleanup has started for slc6_amd64_gcc700

[2018-01-22 18:23] cmsbuild commented on #21905
The cleanup has started for slc7_amd64_gcc630

[2018-01-22 18:23] cmsbuild commented on #21905
The cleanup has started for slc7_amd64_gcc700

[2018-01-22 18:31] cmsbuild commented on #21905
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_0-slc7_amd64_gcc700/886

[2018-01-23 11:07] arizzi commented on #21864
EGM POG updated IDs should be included:
- first version based on prompt and MC V1 expected this week (PR for 10XY already exists)
- second version based on rereco and MC V2 in 2-3 weeks

[2018-01-23 11:11] arizzi commented on #21864
new btaggers from #19893 (that seem finally ready to be integrated?) are also needed

Need a backport in 94X of #19893 with new algorithms enabled only in the miniaodV2 campaign

[2018-01-23 12:25] #21889 closed

[2018-01-23 12:33] fabiocos opened #21928 "Possible needs for MWGR1 beyond 10_0_0"
10_0_0 integrated already 2018 scenarios for the T0. On the basis of the first replay test and other PRs, I see possibly needed:

#21926 trivial fix to prevent skims from crashing
#21914 DQM fix, ok but would be better to avoid hardcoded magic numbers (set it as a parameter)
#21907 Is this the end of the story GT-wise?
#21917 simple fix...
#21923 temporary fix changing the default behaviour, onlin

[2018-01-23 12:34] cmsbuild commented on #21928
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-23 12:35] fabiocos commented on #21928
assign dqm, alca, reconstruction

[2018-01-23 12:35] cmsbuild commented on #21928
New categories assigned: dqm,reconstruction,alca

@kmaeshima,@vanbesien,@jfernan2,@slava77,@cerminar,@perrotta,@arunhep,@vazzolini,@dmitrijus,@franzoni,@lpernie,@ghellwig you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-23 16:19] Martin-Grunewald commented on #21928
#21908

[2018-01-23 16:19] slava77 commented on #21851
@kirschen
please clarify if you have a plan to make a PR with the change proposed by you when the issue was opened.
Thank you.

[2018-01-23 16:21] slava77 commented on #21346
+1

fixed in  #21348

[2018-01-23 16:21] #21346 closed

[2018-01-23 16:23] cmsbuild commented on #21346
This issue is fully signed and ready to be closed.

[2018-01-23 16:24] slava77 commented on #21313
I wanted to check on the status of the fix.

@mandrenguyen @abaty
please take a note of this issue.

[2018-01-23 16:29] slava77 commented on #21250
@BetterWang

you proposed a protection in https://github.com/cms-sw/cmssw/issues/21250#issuecomment-346438436

If I understand correctly, there was no fix in CMSSW yet.
Please clarify if you can make a PR.
Thank you.

[2018-01-23 16:53] smuzaffar commented on #21769
@dan131riley , https://github.com/root-project/root/pull/1513 is now in ROOT6 and ROOT612 IBs. root fix is not in v6-10-00-patches branch yet. Should we cherry pick?

[2018-01-23 16:54] Dr15Jones commented on #21769
Yes, we should try a cherry-pick

[2018-01-23 17:13] slava77 commented on #21864
The deadline for PR submission is set to Jan 29 (based on the decision in ORP on Jan 23)

[2018-01-24 08:28] pablodecm commented on #21864
[**@slava77**](https://github.com/slava77) commented on [23 Jan 2018, 14:47 CET](https://github.com/cms-sw/cmssw/issues/21864#issuecomment-359795315 "2018-01-23T13:47:14Z - Replied by Github Reply Comments"):

The training files are in https://github.com/cms-data/RecoBTag-Combined since tag v10-00-08, how are the data tags and releases related? Which 94X release you suggest rebasing over?

[2018-01-24 08:54] fabiocos commented on #21928
after the ORP of 23 January and before CMSSW_10_0_X_2018-01-23-2300 the following PRs were integrated:

#21907 #21908 #21913 #21914 #21917 #21926

According to the discussion no patch on top of 10_0_0 was deemed as necessary, and the replay at T0 (apart for skims) was successful.

[2018-01-24 08:56] perrotta commented on #21864
Pablo de Castro <notifications@github.com> ha scritto:

@pablodecm: make a new PR (do not rebase #19893!!!) as usual starting
from the latest 94X IB:
http://cms-sw.github.io/showIB.html
(which by the way right now corresponds to CMSSW_9_4_3)

[2018-01-24 09:01] pablodecm commented on #21864
@perrotta I meant rebasing the features in https://github.com/cms-sw/cmssw/pull/19893 over the latest 94XIB and pushing in a PR, not rebasing that PR. Any info on the availability of the mentioned cms-data externals in CMSSW_9_4_3?

[2018-01-24 09:27] fabiocos commented on #21928
PR #21881 was integrated before CMSSW_10_0_X_2018-01-24-1100

[2018-01-24 10:12] perrotta commented on #21864
Thank you (it was just to be sure...)

About your externals, as far as I can see they are only merged in 10_0_X:
https://github.com/cms-sw/cmsdist/pull/3573
while the tag in 94X is still the previous one:
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_9_4_X/gcc630/data-RecoBTag-Combined.spec

They should be requested for 94X as well.

[2018-01-24 11:22] mbluj commented on #21864
Dear All,
as stated on last reco meeting Tau POG wants to update tau-Ids with recent BDT training. We plan prepare a PR by next Monday.
BTW, is there a special Era expected for reMiniAOD w/ 94X or new features (here tau-Id) should become a part of the standard MiniAOD configuration?

[2018-01-24 12:47] slava77 commented on #21864
On 1/24/18 3:22 AM, mbluj wrote:

There was no intention to make a new era/modifier for this processing
(the input AOD/AODSIM is 940/940patch1).
Let's see what shows up in the pull requests to decide.

[2018-01-24 13:02] arizzi commented on #21864
@slava77 so if they have to modify modules that also run in reco you suggest to do it via cloning in top level miniaod cffs? Wouldn't this prevent the possibility of making more MiniAODV1?

[2018-01-24 13:09] mbluj commented on #21864
On Wed, Jan 24, 2018 at 2:02 PM, arizzi <notifications@github.com> wrote:

It is exactly a way we want to proceed.

Yes, it will prevent of making more MiniAODv1 with updated releases unless
a new Era is introduced. But do you expect such use case? Will it make
sense to produce MiniAODv1 with (current) releases designed for it?

[2018-01-24 13:13] slava77 commented on #21864
On 1/24/18 5:02 AM, arizzi wrote:

Yes, it can prevent making new V1 requests if they have to be made in
the same release >9_4_3).
Is there a an actual long-term use case for miniAODv1?

[2018-01-24 14:46] vgvassilev commented on #21618
Wasn't that resolved by merging of #21702? Should we close it?

[2018-01-24 14:48] davidlt commented on #21618
Once you provide a feedback that the original problem is solved we can close :)

[2018-01-24 15:53] slava77 commented on #21864
@mbluj
please clarify what is the future plan for tau.
If we keep the mainstream tau reco solely in AOD/RECO step, then I agree that making a modifier is more appropriate.
Which parts of tau reco and ID sequence are intended to be rerun in this reminiV2?
Is it the same that is remade for the legacy80X?
In this case it may be better to create a modifier (e.g. runTauInMiniAOD) so that it can be reus

[2018-01-24 16:05] mbluj commented on #21864
On Wed, Jan 24, 2018 at 4:53 PM, Slava Krutelyov <notifications@github.com>
wrote:

The minimal change is to run tau-Ids of the interest w/o underlying reco
part and basic discriminants. In this setup it is smaller than what is done
for legacy80X where reco part is run. However, the bigger setup consisting
reco can be also considered for simplicity (basically same as for legacy80X
which makes main

[2018-01-24 16:16] slava77 commented on #21864
On 1/24/18 8:05 AM, mbluj wrote:

I'd rather wait for that PR to comment.

[2018-01-24 20:37] Dr15Jones commented on #21892
This is included in #21949

[2018-01-24 20:49] Dr15Jones commented on #21892
done

[2018-01-24 20:49] #21892 closed

[2018-01-24 20:58] wddgit commented on #21906
I reviewed the code related to prefetching and it looks as though Chris had already implemented this prefetching and forgot that he had done it. From a one pass read through of the code, it looks good already. Note that there are two functions that call doWorkNoPrefetchingAsync, but these are only used for stream transitions and since we do not put products into the Run or LuminosityBlock on strea

[2018-01-24 20:59] Dr15Jones commented on #21906
+1

[2018-01-24 20:59] #21906 closed

[2018-01-24 20:59] cmsbuild commented on #21906
This issue is fully signed and ready to be closed.

[2018-01-24 21:04] Dr15Jones opened #21951 "Measure time waiting for EventSetup mutex"
The framework should be instrumented to measure the time a thread takes waiting to acquire the EventSetup mutex. This is would be useful for the CPU efficiency task force. Ultimately this would be reported in the same way we report average event times.

[2018-01-24 21:05] cmsbuild commented on #21951
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-24 21:05] Dr15Jones commented on #21951
Assign core

[2018-01-24 21:06] cmsbuild commented on #21951
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-24 21:52] Dr15Jones commented on #21769
@smuzaffar exactly with CMSSW_10_0_ROOT612_X and CMSSW_10_0_ROOT6_X IB did the fgUsed change go in?

[2018-01-24 21:56] Dr15Jones commented on #21862
To help distinguish Run/LuminosityBlock work from Event work, we could use light greeen and light blue when a module in a stream is processing a Run or LuminosityBlock.

[2018-01-25 02:25] Dr15Jones commented on #21769
With the failures still on going, I took another look at the code. I believe the problem stems from the use of the 'M' option to the histogram fits:

https://github.com/cms-sw/cmssw/blob/05efa9aff933fb1209cc26ad488338421e378022/RecoVertex/BeamSpotProducer/src/PVFitter.cc#L331

That option is 'More' which explicitly turns on the use of 'Minuit' which the ROOT people expressly said they do not trust

[2018-01-25 02:29] Dr15Jones commented on #21769
Update, digging deeper, it looks like Minuit is the default for non-linear fitting
https://github.com/root-project/root/blob/4fa59f4fb80fd914cb84144e5218e55397810c01/math/mathcore/src/MinimizerOptions.cxx#L95

although if the plugin load fails, it does seem to fall back to Minuit2
https://github.com/root-project/root/blob/v6-10-00-patches/math/mathcore/src/FitConfig.cxx#L223

[2018-01-25 03:08] Dr15Jones commented on #21769
OK, I believe I found exactly where our thread safety lies. The wrapper for `TMinuit` is `TMinuitMinimizer`. We are passing in our own TF1 object to the fit this ultimately calls `TMinuitMinimizer::SetFunction` which has this gem

https://github.com/root-project/root/blob/8f66431755137822f726c4594b680997324439b5/math/minuit/src/TMinuitMinimizer.cxx#L237

Which points to here
https://github.com/roo

[2018-01-25 08:13] kirschen commented on #21851
Hi, sorry for the delay. Yes, I can take care of the small PR throwing an exception if none of the predefined functions are found in the next couple of days.

[2018-01-25 08:13] kirschen commented on #21851
Will link it here, then.

[2018-01-25 09:26] fabiocos opened #21952 "SimG4Core/Geometry unit test failure in 10_1_X"
One SimG4Core/Geometry unit test is failing in 10_1_X, where Geant4 10.04 + VECGEOM has been set as default:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-01-24-2300/unitTestLogs/SimG4Core/Geometry

The failure seems to happen here

https://github.com/cms-sw/cmssw/blob/master/SimG4Core/Geometry/test/Cons_.cpp#L51

@civanch @bsunanda @ianna Could you please check

[2018-01-25 09:26] cmsbuild commented on #21952
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-25 09:28] fabiocos commented on #21952
I see that the issue is already discussed in #21887

assign simulation geometry

[2018-01-25 09:30] ianna commented on #21952
assign geometry

[2018-01-25 09:30] cmsbuild commented on #21952
New categories assigned: geometry

@Dr15Jones,@ianna,@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-25 09:32] civanch commented on #21887
+1

[2018-01-25 09:32] cmsbuild commented on #21887
This issue is fully signed and ready to be closed.

[2018-01-25 09:37] civanch commented on #21952
The fix in pending in #21898 - precision lost in the last digit in computation of mass of  G4Cone.

[2018-01-25 09:42] fabiocos commented on #21952
It should be fixed by #21898 , now merged

[2018-01-25 09:44] #21952 closed

[2018-01-25 10:03] makortel opened #21954 "Include cuda-api-wrappers as an external"
We would like to get cuda-api-wrappers (https://github.com/eyalroz/cuda-api-wrappers, "Thin C++-flavored wrappers for the CUDA runtime API") included in CMSSW as an external. In addition of making the code more C++-like, it greatly simplifies certain things (like passing lambda or `std::function` as a callback for asynchronous processing).

@fwyzard @felicepantaleo @VinInn @vkhristenko @diguida

[2018-01-25 10:04] cmsbuild commented on #21954
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-25 10:05] fabiocos opened #21955 "Build error in Calibration/EcalAlCaRecoProducers since CMSSW_10_0_X_2018-01-23-2300"
A build error in the package Calibration/EcalAlCaRecoProducers is appearing since CMSSW_10_0_X_2018-01-23-2300

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_X_2018-01-23-2300/Calibration/EcalAlCaRecoProducers

It looks like to be triggered by patch releases, while it is not present in full builds, and cannot be trivially reproduced (by me) in a normal work area.

The a

[2018-01-25 10:05] fwyzard commented on #21954
how do I assign this to myself ?

[2018-01-25 10:05] cmsbuild commented on #21955
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-25 10:22] diguida commented on #21954
@makortel thanks for creating the issue. I was writing to @smuzaffar privately about this...

@fwyzard this could be an useful exercise for me to re-gain confidence on CMSSW development and start working deeply with CUDA. Would be ok for you to support me?

[2018-01-25 10:44] smuzaffar commented on #21955
@Dr15Jones , @fabiocos
OK , I understand the issue now. We have added a feature in pkgtools/cmsBuild to make use of existing installation (e.g. /cvmfs/cms-ib.cern.ch/week0 ) area instead of downloading rpms from cmsrep. This is done by creating symlinks in build area. This saves a lot of downloading from cmsrep and 5 to 7 mins of installation time.

So for patch release we end up having
/build/are

[2018-01-25 10:52] smuzaffar commented on #21955
I see that here https://github.com/cms-sw/cmssw/blob/master/Calibration/EcalAlCaRecoProducers/plugins/SelectedElectronFEDListProducer.cc#L631
[code]
which is call during edmWriteConfig and it is going to create edm::FileInPath and search for the file. Can this be changed to desc.add<std::string> and create edm::FileInPath at runtime?

[2018-01-25 10:55] diguida commented on #21954
@menasce this is something you might want to watch as well.

[2018-01-25 11:28] fwyzard commented on #21954
@smuzaffar could you grant me the permissions to fork into cms-externals ?

[2018-01-25 15:14] fabiocos commented on #21955
@smuzaffar see #21958 it should circumvent the problem

assign alca

[2018-01-25 15:25] Dr15Jones commented on #21769
I've dug into TMinuit and found function local statics which are thread safety problems:
https://github.com/root-project/root/blob/8f66431755137822f726c4594b680997324439b5/math/minuit/src/TMinuit.cxx#L3375

In particular
   - mngrad() line 3375
   - mnimpr() line 4304 No need to have this static since val get reset in mnrn15 anyway
   - mnprin line 6317 This could be trying concurrent memory chang

[2018-01-25 15:30] Dr15Jones commented on #21955
@wddgit could we add a class static to `FileInPath` which would default to `true` but if set to `false` would cause all `FileInPath`s to not look for their files? Then the executable which creates the _cfi files would be the only place where we set that class static to `false`.

[2018-01-25 15:31] dan131riley commented on #21769
TMinuit is a minefield (I commented on mnrn15 previously).  Changing the default fitter for TH1::Fit() seems like a good idea, but that's a big change that will likely effect lots of packages.  The alternative is to avoid TH1::Fit() and instead do everything explicitly through Minuit2.

[2018-01-25 15:34] smuzaffar commented on #21954
@fwyzard , I have forked the repo and you have write rights to cms-externals now.

[2018-01-25 15:39] wddgit commented on #21955
OK. I will work on this now. I am assuming you want this before the other things I am working on.

[2018-01-25 15:50] Dr15Jones commented on #21955
@wddgit yes, this seems to be a priority.

[2018-01-25 17:59] Dr15Jones commented on #21769
OK, I just checked our version of TMinuit.cc and the statics there have all been fixed
https://github.com/cms-sw/root/blob/cms/v6-10-00-patches/798ed3251f/math/minuit/src/TMinuit.cxx

So that can't be the issue.

[2018-01-25 18:14] fabiocos opened #21963 "Set dedicated L1 DQM efficiency sequences according to PD"
The change in PR #21754 implies that efficiencies are computed by dedicated sequences for electrons and tau/muons. RelVals need to be adapted accordingly.

@thomreis @dmitrijus Could you please provide the suggested modification to

https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_steps.py

to add explicitly the electron and muon sequences where needed?

[2018-01-25 18:14] cmsbuild commented on #21963
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-25 18:41] thomreis commented on #21963
Yes this is correct.

For the T0 configuration @L1TEgamma should be added to the SingleElectron configuration here https://github.com/dmwm/T0/blob/master/etc/ProdOfflineConfiguration.py#L571
@L1TMuon should be added to the SingleMuon configuration here https://github.com/dmwm/T0/blob/master/etc/ProdOfflineConfiguration.py#L586
These are the 2017 datasets but I assume there will be a corresponding

[2018-01-25 18:53] slava77 commented on #21780
@fabozzi

we have a fix (upstream of the PV sorting) which gets rid of bad tracks.
It was merged in 10_1_X.
Ideally, it should still go through the pre-release relval/validation campaign before being considered for a backport.

I see that the number of events affected by this issue in data rereco in 94X is tiny.
We can still make a patch (940patch2?), but I'd make this effort only if there is a co

[2018-01-25 19:03] Dr15Jones commented on #21769
I was talking with Philppe and he brought up an interesting point. Do we know for certain that all of our 3rd party code is compiled with the old ABI? If some were expecting the new ABI we could hit a memory problem which could cause overwrites.

[2018-01-25 21:50] fwyzard commented on #21954
Done with cms-sw/cmsdist#3691 for 10.1.x and cms-sw/cmsdist#3692 for 10.0.x .

[2018-01-25 21:57] fwyzard commented on #21954
@diguida, sorry, I've been in a rush all day, and unable to get in touch with you.

What I have done is
  - follow the instructions for building a new externals at https://twiki.cern.ch/twiki/bin/view/CMS/SDTExternalsWithCMSSW
  - copy the spec files for a simple cmake-based external (e.g. xrootd.spec and xrootd-toolfile.spec) to cuda-api-wrappers.spec and cuda-api-wrappers-toolfile.spec
  - test

[2018-01-25 22:01] fwyzard commented on #21954
Possible improvements for the future:
  - add a `make install` target to the upstream software
  - add a BuildFile.xml to build the cuda-api-wrappers examples within CMSSW

[2018-01-25 23:01] wddgit commented on #21955
PRs #21966 and #21967 should resolve this issue and implement the solution Chris suggested with FileInPath.

[2018-01-26 01:33] Dr15Jones commented on #21880
assign dqm

[2018-01-26 01:34] cmsbuild commented on #21880
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-26 01:42] Dr15Jones opened #21968 "Make DQMFileSaver multiple concurrent Lumis safe"
The DQMFileSaver needs to be updated to be safe when the framework uses multiple concurrent LuminosityBlocks. The following changes are needed (there may be others as well).

   - Remove the increment of `nlumi_` from beginLumi and move it to endLumi begin sure to capture the value as part of the increment.
   - in `safeForOffline`
      - create a barrier in the `for` loop when calling `save` the

[2018-01-26 01:42] Dr15Jones commented on #21968
assign dqm

[2018-01-26 01:42] Dr15Jones commented on #21968
@fwyzard this should interest you.

[2018-01-26 01:43] cmsbuild commented on #21968
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-26 01:43] cmsbuild commented on #21968
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-26 07:06] smuzaffar commented on #21769
@Dr15Jones , I will check the build logs to see if any package is explicitly compiled with new ABI. As far as I know, every package build should be using our compiler and build with old ABI now. The packages which we pick from system could have new ABI but as far as I know we do not depend on any C++ package from system.

I doubt, but it could be possible that new feature of cmsBuild (re-use of in

[2018-01-26 07:34] smuzaffar commented on #21769
@Dr15Jones , @dan131riley can you please check if CMSSW_10_0_0 release for slc6_amd64_gcc630 produce this crash? This release uses old C++ ABI and we do not use cmsBuild reference repository features for building releases. But CMSSW_10_0_0 release do not use fgUse root fix  https://github.com/cms-sw/root/commit/5efb8d6442f61b66a7020b3adc4f2280a5bdee7d

[2018-01-26 08:27] fabiocos commented on #21955
@wddgit thank you, I have merged both of them.
@Dr15Jones this should close the issue, I will close my PR as this workaround should not be needed any more

[2018-01-26 08:27] #21955 closed

[2018-01-26 08:43] dmitrijus commented on #21968
Hi,
`DQMFileSaver` is to be deprecated

It has been split into following 'new' file savers:

For online DQM: https://github.com/cms-sw/cmssw/blob/master/DQMServices/FileIO/python/DQMFileSaverPB_cfi.py
For HLT: https://github.com/cms-sw/cmssw/blob/master/DQMServices/FileIO/python/DQMFileSaverPB_cfi.py

`DQMFileSaver` should only be used for `safeForOffline` case (only in harvesting).
Ideally, the p

[2018-01-26 08:50] diguida commented on #21954
@fwyzard no problem. Thanks a lot for the pointers to up-to-date instructions and the steps followed by you! I have seen the PR you did to the base repo, now I will check you PR to CMSDIST.

[2018-01-26 09:05] #21928 closed

[2018-01-26 09:06] fabiocos commented on #21887
This looks solved in CMSSW_10_1_X_2018-01-25-2300. I assume this issue can be closed.

[2018-01-26 09:57] #21887 closed

[2018-01-26 10:42] pablodecm commented on #21864
@slava77 brief status update on DeepFlavour/TF backport: waiting for merging of https://github.com/cms-sw/cmsdist/pull/3689 and https://github.com/cms-sw/cmsdist/pull/3688, so they appear in the IBs to do the backport the PR. Could we do something to speed up those merges?

[2018-01-26 13:01] slava77 commented on #21864
On 1/26/18 2:42 AM, Pablo de Castro wrote:

Only https://github.com/cms-sw/cmsdist/pull/3688 is needed to test a
backport of DeepFlavour/TF .
This means that we can test the backport in jenkins when you make it.
(the setup of tests does not allow two cmsdist PRs to be tested together
with a cmssw PR).
So, I suggest that you test the backport in your local area with just a
copy of the files needed

[2018-01-26 13:03] fabiocos opened #21972 "MixingModule thread-safety issue"
A thread-safety problem has been discovered in the MixingModule code.

Here is the diagnosis and suggested solution by C. Jones (@Dr15Jones from your message):

BMixingModule is a stream module, but it is using a GlobalCache

	class BMixingModule : public stream::EDProducer<GlobalCache<MixingCache::Config>>

which allows sharing of the 'const' cache objects between the streams. However, the implem

[2018-01-26 13:03] cmsbuild commented on #21972
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-26 13:07] smuzaffar commented on #21864
both  cms-sw/cmsdist#3689 and cms-sw/cmsdist#3688 are merged for next IB (23h00). As @slava77  mentioned , you only need cms-sw/cmsdist#3688 the PR

[2018-01-26 13:10] slava77 commented on #21864
On 1/26/18 5:07 AM, Malik Shahzad Muzaffar wrote:

Shahzad, thank you for the quick response.

Pablo
, I'm looking forward for the PR.

[2018-01-26 13:14] slava77 commented on #21864
It appears that the Jan 29 deadline is no more. Expect a confirmed updated target some time next week. This at best adds 1-2 weeks.

[2018-01-26 13:19] fabiocos commented on #21972
assign simulation

[2018-01-26 13:19] cmsbuild commented on #21972
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-26 14:16] Dr15Jones commented on #21769
I tried to take a different tack and see if we could be having one global overwrite the values of another global. To that end I used nm to look at the relative positions of the global objects in the shared object file. I didn't see anything obvious, but I'm also not an expert at interpreting the output of nm. What I got was the following

[code]

One interesting bit is TMinuitMinimizer::fgUseStati

[2018-01-26 14:43] Dr15Jones commented on #21769
I have a new hypothesis I'm trying. What if we are having a stack overwrite? At the end of the stack are the thread-local storage objects for a given thread. If the stack grows to much, the operating system will reassign some memory already given to thread-local storage object to objects on the stack. So changes to one will affect the other. The stack for the extra threads is bounded (we set it to

[2018-01-26 15:26] Dr15Jones commented on #21769
My first try at lowering the stack to 9MB did not lead to a crash. However, I did get this message in the log
[code]
Which does seem to indicate a problem.

[2018-01-26 15:37] davidlange6 commented on #21769
Interesting - if you are fitting empty histograms this can be "normal"

[2018-01-26 15:42] Dr15Jones commented on #21769
My second attempt did not crash either. I did get
[code]
But that may not be unusual.

[2018-01-26 15:59] Dr15Jones commented on #21769
On the third attempt I got
[code]
It did not print anything about the 'free parameters' this time.

[2018-01-26 16:19] smuzaffar commented on #21769
In today's IB (for slc7_amd64_gcc630) we have this crash https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_10_1_X_2018-01-26-1100/pyRelValMatrixLogs/run/1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT/step2_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT.log

[code]

[2018-01-26 17:02] mbluj commented on #21864
A PR updating MVAIso tau-Ids has just been submitted #21977

[2018-01-26 17:03] fabiocos commented on #21769
I was unable to reproduce them anyway...

[2018-01-26 17:28] Dr15Jones commented on #21769
I dropped the stack size to only 8MB but the job still ran. I did get the following, however
[code]

[2018-01-26 17:46] Dr15Jones commented on #21769
Running again with 8MB stack gave the exact same 5 printouts about the function.

[2018-01-26 18:18] Dr15Jones commented on #21769
Third time running with 8MB stack and the job seems to have run fine without any warning outputs.

My take away is if it is a stack overwrite, the conditions to trigger it are extremely difficult to reproduce.

[2018-01-26 19:51] Dr15Jones commented on #21769
I believe I have found the problem. When one calls `TH2::ProjectionX("foo")` ROOT needs to return a `TH1*` back. It does this by looking in its global list of all known `TObjects` for one with the name "foo" and if it finds it, it reuses it. If it can't find it, it makes a new `TH1` (which automatically adds itself to the global list of known objects) and returns that new one.

The code used by `P

[2018-01-26 19:59] Dr15Jones commented on #21769
FYI we spotted this using helgrind on a simplified test program that was doing the same operations as AlcaBeamMonitor.

[2018-01-26 20:07] pcanal commented on #21769
This surprising behavior is, for better or worse, the intended behavior.  The doc says:
[code]
This is to support the case where indeed the user want to have an 'update' of an existing projection rather than a brand new each time.   See http://savannah.web.cern.ch/savannah/HEP_Applications/savroot/bugs/54340.html.

Pending a better interface (object based rather than name based), the 'right' solut

[2018-01-26 22:28] Dr15Jones commented on #21769
I just discovered another problem. The code does the C style cast:
[code]
However THF2::ProjectionX returns a `TH1D` not a `TH1F`! This code gets the incorrect size of the data.

[2018-01-26 22:47] Dr15Jones commented on #21769
Even with the needed changes to Projection calling, I still had a test run where I got the log message
[code]

[2018-01-26 22:51] Dr15Jones commented on #21769
See #21995 and #21996

[2018-01-28 16:15] Dr15Jones opened #22003 "Add OutputModule write calls to ActivityRegistry"
The calls to OutputModule writeLumi and writeRun do not have callbacks in the ActivityRegistry.

[2018-01-28 16:15] cmsbuild commented on #22003
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-28 16:16] Dr15Jones commented on #22003
Assign core

[2018-01-28 16:16] cmsbuild commented on #22003
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-01-29 09:21] fabiocos opened #22008 "IB TimeOut problem in wf 4.28"
Since the integration of #21812 a TimeOut problem has been noted in IBs for wf 4.28, happening in the new function introduced https://github.com/cms-sw/cmssw/pull/21812/files#diff-8088e8a2ce59cf00741f550664bb17fbR1005

Experts have been asked to investigate and provide a fix
@abrinke1 @chadfreer please comment here in case and open a PR as soon as the fix is available

[2018-01-29 09:23] cmsbuild commented on #22008
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-01-29 12:15] fabiocos commented on #21963
@thomreis can we finalize this move by this week? Otherwise better to temporarily reintegrate the old sequence definition in L1TMon, until this is not done

[2018-01-29 12:19] thomreis commented on #21963
@fabiocos yes, I will work on it this week.
Shall I make a PR for the dmwm/T0 myself or who is responsible for the autoDQM file there?

[2018-01-29 17:50] dan131riley commented on #21769
There could potentially be an issue in GlobalMuonMatchAnalyzer:

https://github.com/cms-sw/cmssw/blob/master/Validation/RecoMuon/src/GlobalMuonMatchAnalyzer.cc#L280

but I don't see any indication that module is actually used in production.  Most of the other uses of Projection are DQMEDHarvester modules, which makes them `edm::one::EDProducer`.

[2018-01-29 18:36] fabozzi commented on #21780
@slava77
I do not think there is plan in PPD to recover these failed lumisections in EOYReReco2017 (which would require another round of reprocessing with the patch release)

@franzoni @mklute can comment if I am wrong on this

[2018-01-30 07:40] fwyzard commented on #21972
glad to see DQM is not the only part of CMSSW being bitten by non-thread-safe ROOT histograms...

[2018-01-30 10:37] fabiocos commented on #21972
#22000 implements the simplest solution by Chris, but more suggestions are provided there. We also urgently need to back-port this fix to 94X in order to be prepared for the production of a new premixing library.

[2018-01-30 11:10] civanch commented on #21972
@fabiocos , #22040 PR is proposed for testing
Concerning proper thread safe upgrade: I would follow @davidlange6 proposal to remove TF1 from the game, because what is needed is basically manipulation with an array nothing more.

[2018-01-30 13:38] mdhildreth commented on #21972
I agree!

[2018-01-30 15:49] pablodecm commented on #21864
@slava77 backport PR for DeepFlavour created at https://github.com/cms-sw/cmssw/pull/22042

[2018-01-30 17:31] fabiocos opened #22046 "Build CMSSW_9_3_6_patch1"

[2018-01-30 17:31] cmsbuild commented on #22046
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-01-30 17:33] fabiocos commented on #22046
+1

[2018-01-30 17:33] cmsbuild commented on #22046
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_6_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-01-30 17:33] cmsbuild commented on #22046
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-01-30 17:34] cmsbuild commented on #22046
The build has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1480/console
CMSDIST Branch: [REL/CMSSW_9_3_6/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_6/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-01-30 17:34] cmsbuild commented on #22046
The build has started for slc7_amd64_gcc630 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1481/console
CMSDIST Branch: [REL/CMSSW_9_3_6/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_6/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-01-30 17:56] cmsbuild commented on #22046
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6_patch1-slc7_amd64_gcc630/1481
Some te

[2018-01-30 18:00] cmsbuild commented on #22046
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6_patch1-slc6_amd64_gcc630/1480
Some te

[2018-01-30 18:49] cmsbuild commented on #22046
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6_patch1-slc7_amd64_gcc630/1481

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-30 18:57] cmsbuild commented on #22046
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6_patch1-slc6_amd64_gcc630/1480

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-01-31 07:53] fabiocos commented on #22046
upload all

[2018-01-31 07:53] cmsbuild commented on #22046
Queing Jenkins upload for slc6_amd64_gcc630

[2018-01-31 07:54] cmsbuild commented on #22046
Queing Jenkins upload for slc7_amd64_gcc630

[2018-01-31 07:56] cmsbuild commented on #22046
The upload has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/985/console

[2018-01-31 07:56] cmsbuild commented on #22046
The upload has started for slc7_amd64_gcc630 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/986/console

[2018-01-31 07:56] cmsbuild commented on #22046
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_6_patch1-slc6_amd64_gcc630/985
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-31 07:57] cmsbuild commented on #22046
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-31 07:57] cmsbuild commented on #22046
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_6_patch1-slc7_amd64_gcc630/986
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-01-31 07:57] cmsbuild commented on #22046
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-01-31 08:39] fabiocos commented on #22046
release-notes

[2018-01-31 08:40] cmsbuild commented on #22046
Generating release notes since CMSSW_9_3_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-01-31 08:40] cmsbuild commented on #22046
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_6_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_6_patch1

Cheers,
cms-bot

You can also click <a href="m

[2018-01-31 08:41] cmsbuild commented on #22046
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_6_patch1

[2018-01-31 15:31] dan131riley commented on #21972
+1 to removing the TF1, I really should have done that when I fixed the random number generator

[2018-01-31 15:44] dan131riley commented on #21769
still crashing with Chris's Projection fix and my Minuit fix.

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc700/CMSSW_10_1_X_2018-01-30-2300/pyRelValMatrixLogs/run/136.811_RunSingleMu2017D+RunSingleMu2017D+HLTDR2_2017+RECODR2_2017reHLT_skimSingleMu_Prompt_Lumi+HARVEST2017/step3_RunSingleMu2017D+RunSingleMu2017D+HLTDR2_2017+RECODR2_2017reHLT_skimSingleMu_Prompt_Lumi+HARVEST2017.log
ht

[2018-01-31 21:39] BetterWang commented on #21250
A PR #22063 is made to fix the problem.

[2018-02-01 08:09] makortel commented on #21954
Both cmsdist PRs have been merged and the external seems to work, so I close the issue.

[2018-02-01 09:38] #21954 closed

[2018-02-01 10:17] fabiocos commented on #22008
@abrinke1 @chadfreer any news about this problem?

[2018-02-01 10:28] chadfreer commented on #22008
I am still debugging. I do not get errors on any of our DQM runs so it is slow testing. While testing I checked the time for steps and notice that we are getting soft lockups on Step4.

Message from syslogd@lxplus009 at Feb  1 07:05:32 ...
kernel:BUG: soft lockup - CPU#6 stuck for 67s! [cmsRun:15704]

Still unclear why. I am continuing to look into it.

[2018-02-01 11:31] smuzaffar commented on #22008
In gdb I see this stack trace , does this give any hint?
[code]

[2018-02-01 11:51] davidlange6 commented on #22008
is this repeatable?

there are some opportunities for infinite loops

eg
https://cmssdt.cern.ch/lxr/source/DQMServices/Core/src/QTest.cc#1036

but none involving GetBinContent (assuming I understand the incorrectly indented code in the right way)

[2018-02-01 12:00] chadfreer commented on #22008
I am testing using
runTheMatrix.py -l 4.28 -i all

Technically, these while loops should never be entered more than once. I removed while loops this morning to see if time out issues still persist. The test is still running.

[2018-02-01 12:03] davidlange6 commented on #22008
workflow 4.28 should run  quickly... how long does each step take?

[2018-02-01 12:07] chadfreer commented on #22008
step 1: negligible amount of time

step 2: 3-5 minutes

step 3: 10-20 minutes

step 4: timing out originally (with removed while loops its been running ~90 minutes)

[2018-02-01 12:12] davidlange6 commented on #22008
90 minutes is pretty much unacceptable... it looks like it was 3 minutes last week.

[2018-02-01 12:26] fabiocos opened #22070 "Testing wf 1325.7 on PRs (nanoAOD)"
The wf 1325.7 is included in the short matrix used for PR tests, but:

1) it is not part of the comparison list. @slava77 is it possible to add it in the cms-bot list?

2) when I try on cmsdev15 to manually run it (in the 10_1_X IB) I fail in downloading the input files, as they look to be only at FNAL and not on T2_CH_CERN:

13:16 cmsdev15 680> dasgoclient --limit 0 --query 'site dataset=/RelValT

[2018-02-01 12:27] davidlange6 commented on #22008
if NoisyChannel::runTest needs to work with some large data, it probably needs to be reimplemented to avoid GetBinContent lookups inside of a 4-deep loop. TH2F::GetBinContent is not as lightweight as one might think.

[2018-02-01 12:27] cmsbuild commented on #22070
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-01 12:27] chadfreer commented on #22008
I agree. Just to be clear though, I am running this test just on my lxplus. So even when I did the test with this function removed it was taking significantly longer than 3 minutes (~40-60).

Either way, this function is causing problems and will continue working to debug.

[2018-02-01 12:33] chadfreer commented on #22008
Again, I agree. I have a second session where I am reworking functions to be called once per set of loops so we have 1-deep loops for 1D histograms and 2-deep loops for 2D histograms.

[2018-02-01 12:36] smuzaffar commented on #22008
For me, step4 is runnig for last 1h15 and gdb stacktrace shows that it is still in QualityTester::performTests()
[code]

[2018-02-01 12:41] davidlange6 commented on #22008
btw- why does this code run anything on a run 1 workflow?

[2018-02-01 12:59] fabiocos commented on #22070
@slava77 it looks like that a harvesting step is not present, so anyway no output to compare for the time being...

[2018-02-01 13:07] smuzaffar commented on #22070
@fabiocos , in IBs we use SITECONF from `/cvmfs/cms-ib.cern.ch` where we have configured xrootd global re-director allow us to acces files from `T1_US_FNAL_Disk`

[2018-02-01 13:31] chadfreer commented on #22008
I don’t know the answer to that. I tested this exclusively in run 2 workflows for the DQM.

[2018-02-01 16:46] fabiocos opened #22074 "Clean CSCMotherboard code (follow up of #21933)"
#21933 provides a temporary fix for a bug duplicating ALCTs and CLCTs in the event. The fix is sub-optimal as it implies passing copies of the digis to the correlateLCTs function. The code should be cleaned in order to avoid performance penalties.

@dildick did you check it perhaps? It would be advisable to fix this by 10_1_X

[2018-02-01 16:46] cmsbuild commented on #22074
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-01 16:47] fabiocos commented on #22074
assign l1

[2018-02-01 16:47] cmsbuild commented on #22074
New categories assigned: l1

@thomreis,@nsmith-,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-01 16:50] fabiocos commented on #21972
the simple fix has been integrated in 9_4_X, 10_0_X and 10_1_X . I keep the issue open as a reminder for the more general fix discussed, until it is proposed.

[2018-02-01 16:53] fabiocos commented on #22008
@dmitrijus @thomreis could you please clarify the effect of this code on Run1 data? Is this expected to work, as I assume it should if it is not explicitly switched off?

[2018-02-01 16:56] dildick commented on #22074
@fabiocos I will propose a solution soon. How much time do I have before 10_1_X closes?

[2018-02-01 16:58] davidlange6 commented on #22008
all the infrastructure to run only relevant code on each type of data is there...(and used extensively by l1)

[2018-02-01 18:39] thomreis commented on #22008
Run 1 workflows also run NoisyChannel quality tests. In 4.28 one ME must qualify for the new average2D function by being of the TH2F type with nbinsY != 0.

Do I see this correctly that in the first stack trace in `NoisyChannel::getAverage2D(int, int, TH1 const*)` the function `TH1::GetBinContent(int)` is called? Because in the code of getAverage2D I only see `GetBinContent(int, int)` calls like i

[2018-02-01 18:53] thomreis commented on #22008
Looks like the NoisyChannel test is running in an infinite loop over these MEs over and over again.
[code]

[2018-02-01 19:38] slava77 opened #22079 "make the corrected energy the default in CaloCluster"
The CaloCluster corrected energy was introduced in https://github.com/cms-sw/cmssw/pull/686
Now that e.g. in #22071 we start to spread the use correctedEnergy, it seems like the choice was not the best for general utility.

From just a general perspective, I think that "energy()" is supposed to correspond to the best known value and the user should not guess that a better value is "hidden" in a co

[2018-02-01 19:38] cmsbuild commented on #22079
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-01 20:27] slava77 commented on #22079
assign reconstruction

[2018-02-01 20:27] cmsbuild commented on #22079
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-01 21:09] lgray commented on #22079
@slava77 Yes, this was originally done to make sure that there were no changes at all to physics quantities.

[2018-02-01 21:26] bendavid commented on #22079
I would be concerned that downstream analysis code for pog/dpg workflows might assume energy() is the raw energy and have unexpected changes introduced by this.

[2018-02-01 21:38] slava77 commented on #22079
On 2/1/18 1:26 PM, Josh Bendavid wrote:

cases available in CMSSW should be relatively easy to spot.

What's happening on the other side, btw: is every place that is supposed
to use a corrected energy actually picking it up?

[2018-02-02 07:53] cmsbuild commented on #22046
The cleanup has started for slc6_amd64_gcc630

[2018-02-02 07:53] cmsbuild commented on #22046
The cleanup has started for slc7_amd64_gcc630

[2018-02-02 07:53] #22046 closed

[2018-02-02 07:57] cmsbuild commented on #22046
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_6_patch1-slc6_amd64_gcc630/887

[2018-02-02 07:57] cmsbuild commented on #22046
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_6_patch1-slc7_amd64_gcc630/888

[2018-02-02 08:35] fabiocos opened #22081 "Build CMSSW_9_4_4"

[2018-02-02 08:35] cmsbuild commented on #22081
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-02-02 08:40] fabiocos commented on #22081
+1

[2018-02-02 08:43] cmsbuild commented on #22081
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2018-02-02 08:43] cmsbuild commented on #22081
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-02-02 08:45] cmsbuild commented on #22081
The build has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1482/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-02-02 08:45] cmsbuild commented on #22081
The build has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1483/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-02-02 09:02] thomreis commented on #22008
Was wrong. It is not infinite but all L1 quality testers run the same quality test on the same histograms, for every LS, even if the histogram is not related to the quality test. This seems wrong but before #21812 this took much less time per iteration and thus was not discovered perhaps.

[2018-02-02 09:10] thomreis commented on #22008
It looks as if these are the slow ones:
[code]

[2018-02-02 09:23] fabiocos opened #22085 "Build CMSSW_10_0_1"

[2018-02-02 09:24] cmsbuild commented on #22085
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-02-02 09:24] fabiocos commented on #22085
+1

[2018-02-02 09:24] cmsbuild commented on #22085
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_0_X

[2018-02-02 09:24] cmsbuild commented on #22085
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-02-02 09:27] cmsbuild commented on #22085
The build has started for slc6_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1484/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-02 09:27] cmsbuild commented on #22085
The build has started for slc7_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1485/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-02 11:00] cmsbuild commented on #22081
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_4-slc7_amd64_gcc630/1483
Some tests ( r

[2018-02-02 11:29] thomreis commented on #22008
Question to DQM experts @dmitrijus @jfernan2
If a quality test gets activated in the xml file it stays activated for all QualityTester modules after the one that's activating it by loading the xml file. Is this behaviour expected? If yes, why?
This means that after all QualityTester modules have been running once all tests are run for every subsequent call of a QualityTester module.

In the exampl

[2018-02-02 11:42] dildick commented on #22074
@tahuang1991 FYI

[2018-02-02 11:49] thomreis commented on #22008
@abrinke1 just add `process.Tracer = cms.Service("Tracer")` somewhere in your python configuration file (https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookWriteFrameworkModule).

[2018-02-02 12:05] cmsbuild commented on #22081
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_4-slc7_amd64_gcc630/1483

Tests results:
21 21 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-02 12:26] cmsbuild commented on #22081
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_4-slc6_amd64_gcc630/1482
Some tests ( r

[2018-02-02 12:26] #22070 closed

[2018-02-02 12:30] fabiocos opened #22089 "Timeout in wf 250206.18 (IB 2018-01-31-1100)"
A timeout problem has been observed in wf 250206.18

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-01-31-1100/pyRelValMatrixLogs/run/250206.18_ZMM_13UP18+ZMM_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP18_PU25/step3_ZMM_13UP18+ZMM_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP18_PU25.log

@Dr15Jones the diagnosis by Chris is that it could

[2018-02-02 12:31] cmsbuild commented on #22089
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-02 13:37] cmsbuild commented on #22085
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_1-slc7_amd64_gcc630/1485
Some tests (

[2018-02-02 13:44] cmsbuild commented on #22081
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_4-slc6_amd64_gcc630/1482

Tests results:
21 21 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-02 14:41] cmsbuild commented on #22085
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_1-slc7_amd64_gcc630/1485

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-02 15:11] cmsbuild commented on #22085
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_1-slc6_amd64_gcc630/1484
Some tests (

[2018-02-02 15:19] fabiocos commented on #22081
upload all

[2018-02-02 15:19] cmsbuild commented on #22081
Queing Jenkins upload for slc6_amd64_gcc630

[2018-02-02 15:19] cmsbuild commented on #22081
Queing Jenkins upload for slc7_amd64_gcc630

[2018-02-02 15:21] cmsbuild commented on #22081
The upload has started for slc6_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/987/console

[2018-02-02 15:21] cmsbuild commented on #22081
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/988/console

[2018-02-02 15:23] cmsbuild commented on #22081
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_4-slc7_amd64_gcc630/988
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-02 15:23] cmsbuild commented on #22081
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-02 15:23] cmsbuild commented on #22081
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_4-slc6_amd64_gcc630/987
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-02 15:23] cmsbuild commented on #22081
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-02 15:28] fabiocos commented on #22081
release-notes since CMSSW_9_4_3

[2018-02-02 15:28] cmsbuild commented on #22081
Generating release notes since CMSSW_9_4_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-02-02 15:28] cmsbuild commented on #22081
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_4 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_4

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2018-02-02 15:29] cmsbuild commented on #22081
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_4

[2018-02-02 16:16] cmsbuild commented on #22085
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_1-slc6_amd64_gcc630/1484

Tests results:
22 22 20 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-02 16:19] fabiocos commented on #22085
upload all

[2018-02-02 16:20] cmsbuild commented on #22085
Queing Jenkins upload for slc6_amd64_gcc630

[2018-02-02 16:20] cmsbuild commented on #22085
Queing Jenkins upload for slc7_amd64_gcc630

[2018-02-02 16:21] cmsbuild commented on #22085
The upload has started for slc6_amd64_gcc630 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/989/console

[2018-02-02 16:21] cmsbuild commented on #22085
The upload has started for slc7_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/990/console

[2018-02-02 16:22] cmsbuild commented on #22085
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_1-slc7_amd64_gcc630/990
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-02 16:22] cmsbuild commented on #22085
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-02 16:27] cmsbuild commented on #22085
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_1-slc6_amd64_gcc630/989
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-02 16:27] cmsbuild commented on #22085
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-02 16:29] fabiocos commented on #22085
release-notes

[2018-02-02 16:29] cmsbuild commented on #22085
Generating release notes since CMSSW_10_0_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-02-02 16:29] cmsbuild commented on #22085
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_0_1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_0_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-02-02 16:30] cmsbuild commented on #22085
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_1

[2018-02-04 14:38] cmsbuild commented on #22081
The cleanup has started for slc6_amd64_gcc630

[2018-02-04 14:38] cmsbuild commented on #22081
The cleanup has started for slc7_amd64_gcc630

[2018-02-04 14:38] #22081 closed

[2018-02-04 14:40] cmsbuild commented on #22081
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_4-slc6_amd64_gcc630/889

[2018-02-04 14:41] cmsbuild commented on #22081
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_4-slc7_amd64_gcc630/890

[2018-02-04 15:38] cmsbuild commented on #22085
The cleanup has started for slc6_amd64_gcc630

[2018-02-04 15:38] cmsbuild commented on #22085
The cleanup has started for slc7_amd64_gcc630

[2018-02-04 15:38] #22085 closed

[2018-02-04 15:47] cmsbuild commented on #22085
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_1-slc6_amd64_gcc630/891

[2018-02-04 16:52] fabiocos commented on #22008
@thomreis thanks for the debugging

@abrinke1 do you have an estimate for the fix? I would like to solve this problem before 10_1_0_pre1 is built, if possible.
Nominally the deadline for it is tomorrow

[2018-02-05 10:15] thomreis commented on #21963
Hi @fabiocos I am running some matrix tests at the moment to see if my changes to relval_steps.py have the desired effect.
I had in mind to run for RECODR2_2016 and RECODR2_2017 steps with the corresponding harvesting steps HARVESTDR2 and HARVEST2017. This would mean that the modules are running on more datasets than needed but apart from the skims there is no distinction between datasets for the

[2018-02-05 13:36] abrinke1 commented on #22008
Please see new PR #22114

[2018-02-05 14:16] ahinzmann opened #22115 "Jet Flavour Clustering on packed PUPPI jets"
JetFlavourClustering works fine on any CHS or PUPPI jet collection, except for the case of packed PUPPI jets as in MiniAOD, where the constituents point to the PF packed candidates without PUPPI weight applied.
It gives a warning about non-matching pT, but in principle the code could also deal with it directly
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/JetMCAlgos/plugins/JetFlavourCl

[2018-02-05 14:16] cmsbuild commented on #22115
A new Issue was created by  @ahinzmann .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-05 14:47] slava77 commented on #22115
assign reconstruction,analysis

[2018-02-05 14:47] cmsbuild commented on #22115
New categories assigned: analysis,reconstruction

@slava77,@perrotta,@monttj you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-05 15:04] dan131riley commented on #21769
This crash has disappeared from the CMSSW_10_1_X IBs for the last week.  That, and my failure to reproduce the bug with various debug hacks, support the idea that the problem is related to memory layout.  We do have two new examples of "pure virtual method called" in the ROOT6 and ROOT612 builds, which now give stack traces since PR #22097

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_g

[2018-02-05 23:00] Dr15Jones commented on #21769
So I've taken a detailed look at the failures from this weekend. Here is what I've found:

The call to the virtual function is done here:
 https://github.com/cms-sw/root/blob/cms/v6-12-00-patches/f1ec796/math/mathcore/inc/Math/IFunction.h#L94

which, I believe is from the `DoEval` virtual call where the virtual function table has been reset to point at the base class table and the base class does

[2018-02-06 01:01] dan131riley commented on #21769
std::unique_ptr, actually.  I had this theory about reference counts getting overwritten leading to early destruction, but that doesn’t work with unique_ptr.  I also have this theory that there are still multiple problems.

[2018-02-06 01:39] Dr15Jones commented on #21769
Though they first put the object in a std::unique_ptr, the member data is actually a std::shared_ptr.

[2018-02-06 11:11] gpetruc commented on #21864
Also #22125 is needed.

[2018-02-06 11:51] fabiocos commented on #22008
it looks to fix the problem, thanks

[2018-02-06 11:51] #22008 closed

[2018-02-06 12:09] arizzi commented on #21864
for the records, we also have this to fix
https://hypernews.cern.ch/HyperNews/CMS/get/physTools/3572.html
(@gpetruc just reminded me)

[2018-02-06 13:18] slava77 commented on #21864
On 2/6/18 4:09 AM, arizzi wrote:

please make a github issue for this, unless it's already tracked
somewhere (github or jira or alike)

[2018-02-06 13:49] dmitrijus commented on #21963
assign dqm

[2018-02-06 13:50] cmsbuild commented on #21963
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-06 13:51] dmitrijus commented on #21963
assign pdmv

[2018-02-06 13:51] cmsbuild commented on #21963
New categories assigned: pdmv

@fabozzi,@prebello,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-06 15:40] Dr15Jones commented on #21769
@dan131riley If a memory overwrite affected a reference count, we'd still only see the problem when the destructor of a std::shared_ptr holding that object had its destructor called. In the above call stack, I do not see anywhere where such a shared_ptr destructor is called.

[2018-02-06 16:08] Dr15Jones opened #22135 "Assert in WaitingTaskList failing during stream end Run"
We have seen several instances of IB RelVal jobs failing with
[code]

at the stream end Run transition.

[2018-02-06 16:08] cmsbuild commented on #22135
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-06 16:09] Dr15Jones commented on #22135
assign core

[2018-02-06 16:09] cmsbuild commented on #22135
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-06 16:12] Dr15Jones commented on #22135
A failure:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-04-0000/pyRelValMatrixLogs/run/7.4_Cosmics_UP17+Cosmics_UP17+DIGICOSPEAK_UP17+RECOCOSPEAK_UP17+ALCACOS_UP17+HARVESTCOS_UP17/step1_Cosmics_UP17+Cosmics_UP17+DIGICOSPEAK_UP17+RECOCOSPEAK_UP17+ALCACOS_UP17+HARVESTCOS_UP17.log

[code]

[2018-02-06 16:12] Dr15Jones commented on #22135
A failure:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc700/CMSSW_10_1_X_2018-02-04-0000/pyRelValMatrixLogs/run/7.0_Cosmics+Cosmics+DIGICOS+RECOCOS+ALCACOS+HARVESTCOS/step1_Cosmics+Cosmics+DIGICOS+RECOCOS+ALCACOS+HARVESTCOS.log

[code]

[2018-02-06 16:14] Dr15Jones commented on #22135
A failure:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_1_X_2018-02-05-1100/pyRelValMatrixLogs/run/106.0_bJpsiX+bJpsiX+DIGI+RECO/step1_bJpsiX+bJpsiX+DIGI+RECO.log

[code]

[2018-02-06 16:19] Dr15Jones commented on #22135
These appear to happen only on generators steps which have extremely short event processing times because they have a filter which is rejecting the majority of the events.

[2018-02-06 16:26] ferencek commented on #22115
@ahinzmann, re-running jet flavor on slimmed jets regardless of their type is not a supported workflow. This is simply because the packed candidates are stored in MiniAOD with reduced precision compared to AOD (from which slimmed jets are derived and later compressed) so by re-clustering packed candidates there is no guarantee you will get the exact same jets (and without the Puppi weight applied,

[2018-02-06 16:28] Dr15Jones commented on #22135
I have attempted to reproduce the problem by running the job automatically in gdb. After hundreds of attempts, it never once failed. So the conditions needed to replicate the problem are difficult to setup.

[2018-02-06 16:36] rappoccio commented on #22115
@ferencek I'm confused... if we want to recluster from scratch using MiniAOD as input, we need to do that on the packed candidates. Can you clarify?

[2018-02-06 17:22] pcanal commented on #21769
The v6.12 patch branch of ROOT was just updated with a change that makes the plugin manager to be (back to be) thread safe. In particular this will insure that requested minimizer will be actually used.
Could you update the version of ROOT used for these tests?

[2018-02-06 22:02] ferencek commented on #22115
@rappoccio, reclustering from scratch is fine. Problems appear if you take slimmed jets already stored in MiniAOD, collect their constituents and then recluster those collected constituents. Because of some loss in precision in the components of the constituent 4-vectos incurred during the AOD->MiniAOD compression, the clustering history can change a bit leading to jets that are somewhat different

[2018-02-06 23:13] rappoccio commented on #22115
So we cannot recluster from MiniAOD. That’s what I was asking.

This is probably not so great a solution in the long term. We cannot go back to AOD every time we recluster the jets in the future, since MINIAOD is going to be more widely distributed.

[2018-02-06 23:34] ferencek commented on #22115
Well, we can cluster jets from scratch using packed candidates stored in MiniAOD. There is just no guarantee those will exactly match what one gets in AOD. I guess this was the price we agreed to pay for reduced event size when MiniAOD was introduced.

[2018-02-07 05:52] fabiocos opened #22139 "features needed for 10_0_2"
List of PR requested to finalize 10_0_2 for DR processing of 2018 MC preproduction.

List received by February 6:

#22002 HCAL, HLT (merged)
#22088 HCAL
#22117 HCAL, HLT (merged)
#22111 HCAL (merged)
#22036 HCAL
#22123 HLT (merged)
#21947 HLT

[2018-02-07 05:52] cmsbuild commented on #22139
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-07 06:03] fabiocos commented on #22139
#22087 is needed for the final HE scale setting
@arunhep @lpernie the test in 10_1_X is failing, could you please check?

[2018-02-07 08:12] fabiocos commented on #22139
@Dr15Jones @smuzaffar for the AlcaBeamMonitor crashes, we have already integrated #21996 .
I assume that we need to backport https://github.com/cms-sw/cmsdist/pull/3686 . I do not recall other mitigation actions, do you?

[2018-02-07 08:40] fabiocos commented on #22139
@franzoni

[2018-02-07 08:45] arunhep commented on #22139
@fabiocos

I think you meant to say https://github.com/cms-sw/cmssw/pull/22078

it was because of some temporary file missing. retriggered the tests. Should be fine

[2018-02-07 08:46] ahinzmann commented on #22115
ok, then it turns out the only use-case is when backporting the flavor-recluster to 80X to rerun the lastest flavor definition on MiniAOD if one wants to avoid reclustering to keep the correct momentum, but is ok with loosing some precision for the flavour definition. This happens in computations of the 2016 legacy JEC.

[2018-02-07 08:50] #22115 closed

[2018-02-07 09:11] smuzaffar commented on #22139
@fabiocos , cmsdist PR with updated root is here https://github.com/cms-sw/cmsdist/pull/3718

[2018-02-07 09:35] fwyzard commented on #22139
@fabiocos , please consider

#22107 Various updates to CMSSW that are not directly related to GPU development (10.0.x)
  - both changes are trivial, but being in CondFormats and DataFormats they bring in plenty of dependency in the developer's area

#21947 Instrument cmssw for nvidia nvprof/nvvm (10.0.x)
  - new functionality, useful for profiling both CPU and GPU modules

#22113 work around clang

[2018-02-07 10:25] kpedro88 commented on #19666
@sandrofonseca ping (not sure of Helena's username)

[2018-02-07 10:27] kpedro88 commented on #21465
@rekovic ping

[2018-02-07 13:20] ferencek commented on #22115
@ahinzmann, isn't 2016 legacy re-reco planned to be done in 94X where presumably everything that is needed is already implemented. Why is there need to backport to 80X or run jet flavor on top of MiniAOD?

[2018-02-07 16:38] Dr15Jones opened #22151 "HardwareSortingMethods slice the objects passed to it"
The methods `SortJets`, `SortEGammas` and `SortTaus` are passed in a container of classes inheriting from `L1Candidate`. Each function then copies those objects to containers of `L1Candidate` which slices the object such that all the extra member data from the original objects are lost. Those containers are manipulated and finally they copy those `L1Candidate` objects to objects of the original ty

[2018-02-07 16:38] cmsbuild commented on #22151
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-07 16:38] Dr15Jones commented on #22151
assign l1

[2018-02-07 16:38] cmsbuild commented on #22151
New categories assigned: l1

@thomreis,@nsmith-,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-08 08:58] fabiocos commented on #22139
@arunhep @lpernie is the situation with GT clarified? Tracking differences are observed also in the 10_1_X PR (#22075 already integrated, and I see some of them in #22137). I repeated a test after the last IB and results look basically the same.

[2018-02-08 09:17] fabiocos commented on #22139
#22153 (pileup scenario for 2018) has been merged as well

[2018-02-08 09:21] fabiocos commented on #22139
Relevant missing pieces to close 10_0_2:

#22088 merged in 10_1_X, if ok merge it in 10_0_X, @thomreis @rekovic L1 signature needed
#22036 merged already in 10_1_X, it could be merged in 10_0_X, @dmitrijus @jfernan2  DQM signature needed
#22078 @franzoni  situation to be clarified (likely the last relevant piece missing to begin the DR MC preproduction).

[2018-02-08 13:09] arunhep commented on #22139
@fabiocos I am trying to run tests with more events and also with different GTs to factorize the updates. I will report the outcome in the PR itself.

[2018-02-08 13:09] deguio commented on #22139
#22159 contains the updated configuration for HCAL regional reco at HLT.
thanks to @silviodonato

[2018-02-08 14:03] thomreis commented on #21963
Changes for RelVal configuration in PR #22160

[2018-02-08 14:21] ianna opened #22161 "cmsShow crashes in CMSSW_10_1_X IB with 2017 reco geometry"
To reproduce the crash:

[code]

[code]
Note, it works fine with cmsShow -g cmsGeomRun1.root

FYI @alja

[2018-02-08 14:21] cmsbuild commented on #22161
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-08 15:13] dan131riley commented on #21788
Two more VariableMetricBuilder assertion failures:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_ROOT612_X_2018-02-07-2300/pyRelValMatrixLogs/run/250203.18_H125GGgluonfusion_13UP18+H125GGgluonfusion_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP18_PU25/step2_H125GGgluonfusion_13UP18+H125GGgluonfusion_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25+HARVESTUP1

[2018-02-08 16:14] fabiocos commented on #22139
#22036, #22088 and #22159 have been signed and integrated (and 10_1_X is in sync). We need to converge on the GT, after that I consider that all the crucial needs for 10_0_2 have been integrated and the release is ready to be built (if we get a clean IB as expected).

[2018-02-08 16:29] Dr15Jones commented on #22139
@fabiocos I do not know of any other changes we have for AlcaBeamMonitor.

[2018-02-08 22:04] Dr15Jones commented on #21769
@pcanal I have found another problem. It is here
https://github.com/root-project/root/blob/4fa59f4fb80fd914cb84144e5218e55397810c01/math/mathcore/src/MinimizerOptions.cxx#L90

There is a race condition in setting `Minim::gDefaultMinimizer`. The thread sanitizer running on a smaller test program uncovered this. The race would be in manipulating a `std::string` and that is a class that is different

[2018-02-08 23:31] fabiocos opened #22165 "Build CMSSW_10_0_2"

[2018-02-08 23:31] cmsbuild commented on #22165
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-02-08 23:32] fabiocos commented on #22165
+1

[2018-02-08 23:33] cmsbuild commented on #22165
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_0_X

[2018-02-08 23:33] cmsbuild commented on #22165
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-02-08 23:34] cmsbuild commented on #22165
The build has started for slc6_amd64_gcc630 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1486/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-08 23:34] cmsbuild commented on #22165
The build has started for slc7_amd64_gcc630 in cmsbuild62.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1487/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-09 02:11] Dr15Jones commented on #21788
Here was the function from CMSSW which is calling Minuit2.
https://github.com/cms-sw/cmssw/blob/29b3b7e63a4ae2bdc6fcb3f9a08f85b2936af9dd/RecoLocalCalo/HcalRecAlgos/src/HybridMinimizer.cc#L302

As a guess, I'd say the problem may originate from here
https://github.com/root-project/root/blob/4fa59f4fb80fd914cb84144e5218e55397810c01/math/mathcore/src/GenAlgoOptions.cxx#L29

where setting a default is

[2018-02-09 03:52] pcanal commented on #21769
see https://github.com/root-project/root/pull/1611

[2018-02-09 04:04] cmsbuild commented on #22165
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_2-slc7_amd64_gcc630/1487
Some tests (

[2018-02-09 05:09] cmsbuild commented on #22165
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_2-slc7_amd64_gcc630/1487

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-09 05:24] cmsbuild commented on #22165
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_2-slc6_amd64_gcc630/1486
Some tests (

[2018-02-09 06:30] cmsbuild commented on #22165
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_2-slc6_amd64_gcc630/1486

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-09 07:56] rekovic commented on #21465
@kpedro88
A fix is available.  Will make a PR later today.

[2018-02-09 14:00] dan131riley commented on #21769
That would explain the crashes in `FitConfig::CreateMinimizer()`, like #21796 , where the crash in `__memcmp_sse4_1` basically means it had to be in the equivalent of `strcmp()`.   Embarrassingly I looked at `DefaultMinimizerType()` and still missed it, think I need a vacation...

[2018-02-09 14:32] makortel commented on #21704
@perrotta

In my private developer area I have already moved `DigiToRawPreMixing` customizations to be done with a `cms.Modifier` in `DigiToRaw`. I'll make a PR after #22166 gets merged (it can wait #21681 as well if that won't require too much time to converge).

[2018-02-09 14:39] #22139 closed

[2018-02-09 15:55] dan131riley commented on #21788
AFAICT we never set a default--setting a break on `ROOT::Math::GenAlgoOptions::Default(char const*)` never gets a hit.  Definitely a potential problem there, but doesn't seem to be a cause of our problems.  We do call `GenAlgoOptions::FindDefault(const char*)`, but that should be ok as long as nothing is ever inserted.

[2018-02-09 15:57] Dr15Jones commented on #21788
@dan131riley yeah, after posting my comment I couldn't find any calls in CMSSW or ROOT that would set the Default. Thanks for checking.

[2018-02-09 16:33] perrotta commented on #21704
Thank you @makortel !
I think that you can go ahead with your PR as soon as #22166 gets merged:  #21681 still needs some work, and (a tiny) part of that work could be to rebase it once your new PR will get also merged.

[2018-02-09 16:52] Dr15Jones opened #22168 "Avoid calling TClass::GetClass for all setRefCoreStreamer calls"
The clall to `TClass::GetClass` in `setRefCoreStreamer` is meant to do a lazy evaluation for putting our own custom Streamers into ROOT. At present, the custom streamers are just there to customize the writing. The reading is customized by an IO rule. Setting the Streamer at read is probably historic, from the time before the IO rules.

It would probably be possible to move the actually change of

[2018-02-09 16:52] Dr15Jones commented on #22168
assign core

[2018-02-09 16:52] cmsbuild commented on #22168
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-09 16:52] cmsbuild commented on #22168
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-09 16:59] bbockelm commented on #22168
In the discussion with Philippe, the only case where we may not want the streamer set globally if a particular object would need to be serialized differently on output versus input (for example, if we wanted to use a custom streamer for `edm::Ref` on read but write out `edm::Ref` in a ntuple that can be read by bare ROOT.

We didn't think this applied to CMSSW, but felt it was reasonable to point

[2018-02-09 20:20] Dr15Jones commented on #21951
+1
accomplished with #22163

[2018-02-09 20:20] #21951 closed

[2018-02-09 20:21] cmsbuild commented on #21951
This issue is fully signed and ready to be closed.

[2018-02-09 20:59] fabiocos commented on #22165
upload all

[2018-02-09 20:59] cmsbuild commented on #22165
Queing Jenkins upload for slc6_amd64_gcc630

[2018-02-09 20:59] cmsbuild commented on #22165
Queing Jenkins upload for slc7_amd64_gcc630

[2018-02-09 21:00] cmsbuild commented on #22165
The upload has started for slc6_amd64_gcc630 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/991/console

[2018-02-09 21:01] cmsbuild commented on #22165
The upload has started for slc7_amd64_gcc630 in cmsbuild62.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/992/console

[2018-02-09 21:03] cmsbuild commented on #22165
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_2-slc7_amd64_gcc630/992
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-09 21:03] cmsbuild commented on #22165
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-09 21:06] cmsbuild commented on #22165
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_2-slc6_amd64_gcc630/991
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-09 21:06] cmsbuild commented on #22165
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-09 21:17] fabiocos commented on #22165
release-notes

[2018-02-09 21:17] cmsbuild commented on #22165
Generating release notes since CMSSW_10_0_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-02-09 21:17] cmsbuild commented on #22165
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_0_2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_0_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_2

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-02-09 21:18] cmsbuild commented on #22165
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_2

[2018-02-09 22:21] fabiocos opened #22172 "Build CMSSW_10_1_0_pre1"

[2018-02-09 22:22] cmsbuild commented on #22172
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-02-09 22:22] fabiocos commented on #22172
+1

[2018-02-09 22:23] cmsbuild commented on #22172
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-02-09 22:23] cmsbuild commented on #22172
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2018-02-09 22:25] cmsbuild commented on #22172
The build has started for slc6_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1488/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-09 22:25] cmsbuild commented on #22172
The build has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1489/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-09 22:25] cmsbuild commented on #22172
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1490/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-09 22:27] cmsbuild commented on #22172
The build has started for slc7_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1491/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-09 22:27] cmsbuild commented on #22172
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1492/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-10 02:50] cmsbuild commented on #22172
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre1-slc7_amd64_gcc630/1491
Some tes

[2018-02-10 03:16] cmsbuild commented on #22172
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre1-slc7_aarch64_gcc700/1490

[2018-02-10 03:34] cmsbuild commented on #22172
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre1-slc6_amd64_gcc700/1489
Some tes

[2018-02-10 03:55] cmsbuild commented on #22172
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre1-slc7_amd64_gcc630/1491

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-10 04:37] cmsbuild commented on #22172
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre1-slc6_amd64_gcc630/1488
Some tes

[2018-02-10 04:44] cmsbuild commented on #22172
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre1-slc6_amd64_gcc700/1489

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-10 08:15] cmsbuild commented on #22172
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre1-slc7_amd64_gcc700/1492
Some tes

[2018-02-10 09:24] cmsbuild commented on #22172
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre1-slc7_amd64_gcc700/1492

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-10 13:08] fabiocos commented on #22172
upload all

[2018-02-10 13:08] cmsbuild commented on #22172
Queing Jenkins upload for slc6_amd64_gcc630

[2018-02-10 13:08] cmsbuild commented on #22172
Queing Jenkins upload for slc6_amd64_gcc700

[2018-02-10 13:08] cmsbuild commented on #22172
Queing Jenkins upload for slc7_amd64_gcc630

[2018-02-10 13:08] cmsbuild commented on #22172
Queing Jenkins upload for slc7_amd64_gcc700

[2018-02-10 13:09] cmsbuild commented on #22172
The upload has started for slc6_amd64_gcc630 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/993/console

[2018-02-10 13:09] cmsbuild commented on #22172
The upload has started for slc7_amd64_gcc630 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/995/console

[2018-02-10 13:09] cmsbuild commented on #22172
The upload has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/994/console

[2018-02-10 13:10] cmsbuild commented on #22172
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre1-slc7_amd64_gcc630/995
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-10 13:10] cmsbuild commented on #22172
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-10 13:11] cmsbuild commented on #22172
The upload has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/996/console

[2018-02-10 13:11] cmsbuild commented on #22172
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre1-slc6_amd64_gcc700/994
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-10 13:11] cmsbuild commented on #22172
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-10 13:13] cmsbuild commented on #22172
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre1-slc7_amd64_gcc700/996
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-10 13:13] cmsbuild commented on #22172
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-10 13:13] cmsbuild commented on #22172
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre1-slc6_amd64_gcc630/993
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-10 13:14] cmsbuild commented on #22172
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-10 15:09] fabiocos commented on #22172
release-notes since CMSSW_10_0_2

[2018-02-10 15:10] cmsbuild commented on #22172
Generating release notes since CMSSW_10_0_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-02-10 15:10] cmsbuild commented on #22172
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_1_0_pre1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_0_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_0_pre1

Cheers,
cms-bot

[2018-02-10 15:10] cmsbuild commented on #22172
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_0_pre1

[2018-02-11 20:24] cmsbuild commented on #22165
The cleanup has started for slc6_amd64_gcc630

[2018-02-11 20:24] cmsbuild commented on #22165
The cleanup has started for slc7_amd64_gcc630

[2018-02-11 20:24] #22165 closed

[2018-02-11 20:33] cmsbuild commented on #22165
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_2-slc7_amd64_gcc630/894

[2018-02-11 20:33] cmsbuild commented on #22165
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_2-slc6_amd64_gcc630/893

[2018-02-12 14:23] cmsbuild commented on #22172
The cleanup has started for slc7_aarch64_gcc700

[2018-02-12 14:23] cmsbuild commented on #22172
The cleanup has started for slc6_amd64_gcc630

[2018-02-12 14:23] cmsbuild commented on #22172
The cleanup has started for slc6_amd64_gcc700

[2018-02-12 14:23] cmsbuild commented on #22172
The cleanup has started for slc7_amd64_gcc630

[2018-02-12 14:23] cmsbuild commented on #22172
The cleanup has started for slc7_amd64_gcc700

[2018-02-12 14:23] #22172 closed

[2018-02-12 14:25] cmsbuild commented on #22172
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre1-slc7_aarch64_gcc700/897

[2018-02-12 14:32] cmsbuild commented on #22172
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre1-slc6_amd64_gcc700/896

[2018-02-12 14:33] cmsbuild commented on #22172
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre1-slc6_amd64_gcc630/895

[2018-02-12 14:34] cmsbuild commented on #22172
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre1-slc7_amd64_gcc630/898

[2018-02-12 14:47] cmsbuild commented on #22172
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre1-slc7_amd64_gcc700/899

[2018-02-12 15:28] #22074 closed

[2018-02-12 15:56] rappoccio commented on #20558
Implemented in https://github.com/cms-externals/fastjet-contrib/pull/13. I think this issue can be closed for now.

[2018-02-12 16:23] fabiocos commented on #22089
@Dr15Jones there was any further understanding of this issue? I do not recall to have seen it again

[2018-02-12 16:26] fabiocos commented on #22161
assign geometry, visualization

[2018-02-12 16:26] cmsbuild commented on #22161
New categories assigned: geometry,visualization

@Dr15Jones,@Dr15Jones,@ianna,@mdhildreth,@civanch,@alja you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-12 16:42] Dr15Jones commented on #22089
Since it has never reoccurred (even trying to run the same workflow using the same release) there is no further progress. I did attempt to look through the entire code path and I made some minor changes.

[2018-02-12 17:14] dan131riley opened #22182 "DQM/Phase2OuterTracker ParameterSet memory management"
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-11-1100/pyRelValMatrixLogs/run/20834.11_TTbar_14TeV_Timing+TTbar_14TeV_TuneCUETP8M1_2023D20_GenSimHLBeamSpotFull14_Timing+DigiFull_Timing_2023D20+RecoFullGlobal_Timing_2023D20+HARVESTFullGlobal_Timing_2023D20/step3_TTbar_14TeV_Timing+TTbar_14TeV_TuneCUETP8M1_2023D20_GenSimHLBeamSpotFull14_Timing+DigiFull_Timing_202

[2018-02-12 17:14] cmsbuild commented on #22182
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-12 17:32] Dr15Jones commented on #22182
assign dqm

[2018-02-12 17:32] cmsbuild commented on #22182
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-12 17:39] Dr15Jones commented on #22182
The copy of a ParameterSet is inefficient, but should not lead to a crash.

[2018-02-12 18:00] slava77 commented on #21250
+1

the fix is now available in CMSSW_10_1_0_pre1 and later (from CMSSW_10_1_X_2018-02-04-0000)

[2018-02-12 18:00] cmsbuild commented on #21250
This issue is fully signed and ready to be closed.

[2018-02-12 18:09] slava77 opened #22185 "Phase2_timing era leads to changes in standard reco via IVF dependence"
Historically (2016/2017) the Phase2_timing era was required to have no changes to the standard reco quantities compared to Phase2 era, so that the TDR production without MTD can provide good service to production with MTD tests. This was broken since integration of  #20640 (present in CMSSW_10_0_0_pre2).

One possible resolution for Phase2_timing is to introduce a configuration parameter which exp

[2018-02-12 18:10] slava77 commented on #22185
assign reconstruction,upgrade

[2018-02-12 18:10] cmsbuild commented on #22185
New categories assigned: upgrade,reconstruction

@kpedro88,@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-12 18:44] dan131riley commented on #22182
After digging into the implementation, I agree it shouldn't lead to a crash, even with the old ABI COW strings it ought to be safe.  Will have to try memcheck on it.

[2018-02-12 18:51] dan131riley commented on #22182
And to clarify, I'd change

    edm::ParameterSet psTTStub_Barrel_XY =  conf_.getParameter<edm::ParameterSet("TH2TTStub_Position");

to

    const edm::ParameterSet& psTTStub_Barrel_XY =  conf_.getParameterSet("TH2TTStub_Position");

since there isn't a `const&` version of the templated `getParameter<>`

[2018-02-12 19:40] alja commented on #22161
@ianna
Looks like there is a problem with the default geometry file. I will look at it.
Thanks,
Alja

[2018-02-12 22:03] pcanal commented on #21788
@dan131riley How can I attempt to reproduce this failure?

[2018-02-13 12:26] rekovic commented on #21465
@kpedro88
10_1_X  fix is in https://github.com/cms-sw/cmssw/pull/22191

[2018-02-13 14:25] hqucms commented on #21314
Just wondering: is there any update on this?

[2018-02-13 15:11] slava77 commented on #21851
@kirschen
I wanted to check on the status of that small PR.
Please update.
Thank you.

[2018-02-13 16:35] slava77 opened #22197 "matrix test workflows with run2_miniAOD_94XFall17"
The goal is to provide regular test/support of re-miniAOD based on 94X Fall17/Nov17 production campaign.

run2_miniAOD_94XFall17 was introduced since #21811  (master branch or 10_1_X)

@fabozzi
I think that equivalents of 136.7721 and 1325.5 should suffice

We can start with the master branch, but quite likely a backport to 10_0_X or/and 9_4_X will be needed as well.

[2018-02-13 16:35] cmsbuild commented on #22197
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-13 16:36] slava77 commented on #22197
assign pdmv

[2018-02-13 16:36] cmsbuild commented on #22197
New categories assigned: pdmv

@fabozzi,@prebello,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-13 16:57] dan131riley commented on #21769
I think I've found the cause of the pure virtual calls.  With IMT enabled, ROOT::Fit::ExecutionPolicy is getting set to kMultithread.  So here:

https://github.com/cms-sw/root/blob/cms/v6-12-00-patches/f1ec796/math/mathcore/src/FitUtil.cxx#L1555

we get TThreadExecutor::MapReduce() called on the EvaluatePoissonLogL() function leading to stack traces like

[code]

This obviously breaks the TMinuitM

[2018-02-13 17:01] Dr15Jones commented on #21769
@dan131riley Nice! Setting this globally is fine with me since every call to `TH1::Fit` is susceptible to this problem.

[2018-02-13 17:13] pcanal commented on #21769
What do you mean?

[2018-02-13 18:39] slava77 commented on #22197
@fabozzi
thank you for the quick resolution.
For 1325.5 and 1325.51 I have just now realized that the input is RECOSIM. This can be error-prone for a production miniAOD test which should be done with AODSIM.
Is there a reason to not pick up an AODSIM from the production campaign?

[2018-02-13 19:46] Dr15Jones commented on #21769
@dan131riley I've looked in more detail at the code in the traceback you gave. I do not believe there is an issue with thread_local storage since the thread_local storage is only accessed in `TMinuitMinimizer::Fcn` and then result object is then called on that same thread. I do agree that IF the function obtained from the thread_local is not itself thread-safe then `kMultithread` would cause a pro

[2018-02-13 21:15] slava77 opened #22201 "optimize timing of photonIDValueMapProducer"
The CPU performance of  PhotonIDValueMapProducer has been degrading slowly with significant increases brought in by #18645 (https://github.com/cms-sw/cmssw/pull/18645#issuecomment-301148015) and then by #21975 .
The cost is more than 10% of the total miniAOD time in a test on wf 136.829 (DoubleEG Run2017F).

I expect that a factor of 10 or so speedup should be possible, perhaps at a cost of not re

[2018-02-13 21:15] cmsbuild commented on #22201
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-13 21:15] slava77 commented on #22201
assign reconstruction

[2018-02-13 21:16] cmsbuild commented on #22201
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-13 21:17] slava77 commented on #20558
I'd keep it open until we can actually enable it in the Phase-2 workflows.

[2018-02-13 21:49] dan131riley commented on #21769
@Dr15Jones @pcanal after tracing through some confusion about various versions of `SetFunction()`, I agree it isn't obvious that the problem is there.  I'll have to stare at it some more, as it still seems like the best suspect we have given the ownership stack.

[2018-02-14 01:06] Dr15Jones opened #22203 "Missing lock in legacy DQMEDAnalyzer"
A thread safety issue caused a DQM assert to fail:https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_10_1_X_2018-02-13-1100/pyRelValMatrixLogs/run/21234.11_TTbar_14TeV_Timing+TTbar_14TeV_TuneCUETP8M1_2023D21_GenSimHLBeamSpotFull14_Timing+DigiFullTrigger_Timing_2023D21+RecoFullGlobal_Timing_2023D21+HARVESTFullGlobal_Timing_2023D21/step3_TTbar_14TeV_Timing+TTbar_14TeV_TuneCUETP8M1_

[2018-02-14 01:06] cmsbuild commented on #22203
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-14 01:06] Dr15Jones commented on #22203
assign dqm

[2018-02-14 01:06] cmsbuild commented on #22203
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-14 01:07] Dr15Jones commented on #22203
@fwyzard thought you should know.

[2018-02-14 01:07] Dr15Jones commented on #22203
@fabiocos This happened in the CMSSW_10_1_X_2018-02-13-1100 IB.

[2018-02-14 01:36] Dr15Jones commented on #21769
@dan131riley Another reason it seems unlikely that `kMultithread` is the problem is the invalid virtual call happens way earlier on the stack call. With the function we crash in so simple
https://github.com/root-project/root/blob/913ac6a71bc1f0874e5ce8c49933e0ef2b5b9dd7/math/mathcore/inc/Math/IFunction.h#L92

I'd expect the crash to happen as we are going down the stack (i.e. in the call to `opera

[2018-02-14 01:48] Dr15Jones commented on #21769
@dan131riley I just thought of how TBB and thread_local could cause the problem. Say we are in a call to `AlcaBeamMonitor` and make it all the way down to `ROOT::TThreadExecutor::MapReduce`. Say the 'native' thread finishes before the other threads and TBB decides to steal another task. It grabs ANOTHER `AlcaBeamMonitor` to run on the same thread that already has a `AlcaBeamMonitor`. The second mo

[2018-02-14 01:59] Dr15Jones commented on #21769
This exact problem is outlined in
https://www.threadingbuildingblocks.org/docs/help/tbb_userguide/work_isolation.html
which even states there is a bad interaction with thread_local.

where the relavant ROOT code is here: https://github.com/root-project/root/blob/6147b6dd18552083c4a21a0607bae25bb63cde5e/core/imt/src/TThreadExecutor.cxx#L91

[2018-02-14 02:04] Dr15Jones commented on #21769
@pcanal the ROOT code needs to be protected with either a `task_arena` or `task_arena::isolate` as suggested in the TBB documentation I pointed to in the earlier comment.

[2018-02-14 07:33] fwyzard commented on #22203
Looks like we should protect the remaining legacy DQM modules' book() calls, while the DQM team takes care of the bloverall migration.

OTOH, why do we have *Phase II* modules created in late 2014 that are not compliant with the multithreaded DQM ?

[2018-02-14 07:38] fwyzard commented on #22203
@dr15jones thanks for the heads up.

[2018-02-14 09:04] fabozzi commented on #22197
AODSIM from official campaigns are much larger than ~9K events.
For IB or PR tests this is not an issue, since what is important there is the "-n" option of the cmsDriver.
However, in case we want to inject a relval test through computing infrastructure, all the input events will be processed.
Therefore I will search for a relval AODSIM input.

[2018-02-14 09:06] fabiocos opened #22207 "Crash in wf 1325.5 caused by PR 22131"
After the integration of #22131 a reproducible crash is observed in the IB in wf 1325.5, see

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-14-0000/pyRelValMatrixLogs/run/1325.5_TTbar_13_reminiaodINPUT+TTbar_13_reminiaodINPUT+REMINIAOD_mc2016+HARVESTDR2_REMINIAOD_mc2016/step2_TTbar_13_reminiaodINPUT+TTbar_13_reminiaodINPUT+REMINIAOD_mc2016+HARVESTDR2_REMINIAOD