[2022-03-13 13:53] cmsbuild commented on #37209
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre1-cs8_aarch64_gcc11/1962

[2022-03-13 13:53] cmsbuild commented on #37209
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre1-cs8_ppc64le_gcc11/1964

[2022-03-13 13:53] cmsbuild commented on #37209
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre1-cs8_amd64_gcc10/1963

[2022-03-13 13:53] cmsbuild commented on #37209
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre1-slc7_aarch64_gcc11/1965

[2022-03-13 13:53] cmsbuild commented on #37209
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre1-slc7_amd64_gcc10/1966

[2022-03-13 13:54] cmsbuild commented on #37209
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre1-slc7_ppc64le_gcc11/1968

[2022-03-13 13:54] cmsbuild commented on #37209
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre1-slc7_amd64_gcc11/1967

[2022-03-13 14:52] silviodonato commented on #35376
I agree that probably this is not the main cause of the CPU/GPU differences that we observe, but anyway it is a clear different behavior between the two algorithms that need be uniformed either in the CPU or in the GPU code.

I understand that it is not feasible to have no differences, but we should really try to understand and to reduce that as much as possible.  I think it is very difficult to a

[2022-03-13 15:11] silviodonato commented on #35376
Btw. the other (minor) difference is a difference of a 1 in the cluster charge.
I've seen that it comes directly from the `pixel.adc` which sometimes differs of 1 between CPU and GPU.
Is it a known problem? (floating point error?)

[2022-03-13 16:38] VinInn commented on #35376
You can try to change ```set``` in ```add``` in the line I quoted above (on CPU).

[2022-03-13 16:52] VinInn commented on #35376
this is the CPU code for calibration
https://cmssdt.cern.ch/dxr/CMSSW/source/CalibTracker/SiPixelESProducers/src/SiPixelGainCalibrationService.cc#31
and this one for GPU
https://cmssdt.cern.ch/dxr/CMSSW/source/RecoLocalTracker/SiPixelClusterizer/plugins/gpuCalibPixel.h#66
there is clearly opportunity for fma.

Once can force the same fma on both (but with standard cmssw that will expensive on CPU

[2022-03-13 17:25] VinInn commented on #35376
I am sure that DeepTau can be made more reproducible if one applies pixel-track selections closer to those used for instance in PF for scouting.

[2022-03-13 19:29] tvami opened #37227 "MiniAOD warnings in 12_4_0_pre1 using 2021 data"
Modifying the  2021 data based prompt reco wf `138.4` by adding the MiniAOD step, i.e. doing
[code]

 * A ROOT problem:
I get the following warning
[code]

 * EGM problem
There is also a msg about unused products:
[code]

[2022-03-13 19:29] cmsbuild commented on #37227
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-13 19:30] tvami commented on #37227
assign xpog,reco

[2022-03-13 19:30] cmsbuild commented on #37227
New categories assigned: xpog

@mariadalfonso,@gouskos,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-13 19:32] cmsbuild commented on #37227
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-13 19:32] jordan-martins commented on #37155
Hi all,
I am closing this issue. We decided to move with the customise solution as Phat indicated before.
Thanks,
Jordan

[2022-03-13 19:32] #37155 closed

[2022-03-13 20:55] mmusich opened #37228 "`o2oRun_SiStripDAQ.py` not fully migrated to py3"
Title say it all, blocks SiStrip DAQ O2Os in 12.2.X:

Upon trial, results in:

[code]
occurring here:

https://github.com/cms-sw/cmssw/blob/3005f891815094a28c4562ba49ac54bbeec46eb6/CondTools/SiStrip/scripts/o2oRun_SiStripDAQ.py#L59

cc:
@quinnanm @rgerosa

[2022-03-13 20:55] mmusich commented on #37228
assign db

[2022-03-13 20:55] mmusich commented on #37228
assign tracker-dpg

[2022-03-13 20:55] cmsbuild commented on #37228
New categories assigned: db

@ggovi,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-13 20:55] cmsbuild commented on #37228
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-13 20:55] cmsbuild commented on #37228
New categories assigned: trk-dpg

@connorpa,@mmusich,@tsusa you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-13 21:10] tvami commented on #37228
Hi Marco, how does one test this? I think the solution is simply what I put in https://github.com/cms-sw/cmssw/pull/37230

[2022-03-13 21:12] silviodonato commented on #35376
Yes, it works. Now the total cluster charge matches within 10-20 adc, apart from a few events where we reconstruct a different number of clusters.

[2022-03-13 21:18] tvami commented on #37228
I'd need a config file for testing, is that available somewhere?

[2022-03-13 21:21] francescobrivio commented on #37228
@tvami since the issue reported by Marco is in a different line wrt your fix, maybe we could try what [this stacktracke issue](https://stackoverflow.com/questions/48169667/how-to-handle-subprocess-popen-output-in-both-python-2-and-python-3) suggests, i.e. to add `.decode()` after `communicate()[0]` in py3.
(But I'm also not sure how to test it...)

[2022-03-13 21:23] tvami commented on #37228
Yeah I think both direction could work, in mine you dont open the file in a bitwise manner, while in yours you decode it.

For testing, for now I'd do
[code]

based on https://cms-conddb.cern.ch/cmsDbBrowser/logs/show_O2O_log/Prod/SiStripDetVOff_1hourDelay/2022-03-13%2022:05:21.285959

but it would be nice to have a confirmation from the Strips O2O experts.

[2022-03-13 21:24] ferencek commented on #35376
The issue of duplicate pixels was already discussed in this HyperNews thread https://hypernews.cern.ch/HyperNews/CMS/get/pixelOfflineSW/1485.html The bottom line is that there is no easy way to tell what is more correct so one needs to make a choice and accept it will not always be the correct thing to do.

[2022-03-13 23:30] tvami commented on #37228
Ok I can successfully reproduce the problem with
[code]

and then apparently I need both your suggestion @francescobrivio  and mine to move on. But I think it works now

[2022-03-14 00:45] qliphy commented on #37012
@gk199 @cms-sw/l1-l2  Any follow up on this?  Thanks!

https://github.com/cms-sw/cmssw/pull/36919#issuecomment-1047976919

[2022-03-14 03:44] slava77 commented on #37227
https://mattermost.web.cern.ch/cms-o-and-c/pl/dy6wygg9mifzpj9nte7eoiz5pa
so, it became an issue now ;)

[2022-03-14 08:17] iarspider opened #37234 "[SKYLAKE_X] Segmentation violation in MuonShowerInformationFiller::fillHitsByStation (Relval 136.844)"
Stacktrace:

[code]

Full log: [here](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_SKYLAKEAVX512_X_2022-03-10-2300/pyRelValMatrixLogs/run/136.844_RunCharmonium2017B+RunCharmonium2017B+HLTDR2_2017+RECODR2_2017reHLT_skimCharmonium_Prompt+HARVEST2017_skimCharmonium/step3_RunCharmonium2017B+RunCharmonium2017B+HLTDR2_2017+RECODR2_2017reHLT_skimCharmonium_Prompt+HARVEST2017_s

[2022-03-14 08:17] cmsbuild commented on #37234
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-14 08:20] iarspider commented on #37234
assign reconstruction

[2022-03-14 08:20] cmsbuild commented on #37234
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-14 08:37] silviodonato commented on #35376
I tried to use fma (also in other parts of the code) in
- CalibTracker/SiPixelESProducers/interface/SiPixelGainCalibrationService.h
- RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.cc
- RecoLocalTracker/SiPixelClusterizer/plugins/gpuCalibPixel.h

but it didn't improve the situation.

Btw. these are the configurations used (to run on Run2 data)
- GPU
[code]
- CPU
[code]
in pa

[2022-03-14 08:43] silviodonato commented on #35376
@ferencek @tsusa Ideally I would take the average or the maximum of the two pixel digis, but clearly I'm not the expert here and anyway the effect should be small.
I'm ok with any criteria, but please use the same strategy in both the CPU and GPU code.

[2022-03-14 08:50] VinInn commented on #35376
Let me point out that all those effects are smaller than any systematic error introduced by detector effects.
If a trigger selects different events ay a level higher than 5%  just for those tiny differences, it means that its real systematic error is huge.

[2022-03-14 09:22] silviodonato commented on #35376
The problem is not only in the L2 Tau reco, but also in

- HLT_QuadPFJet105_88_76_15_DoublePFBTagDeepCSV_1p3_7p7_VBF1_v8 (10.63%)

and then the particle flow

- HLT_PFMETNoMu120_PFMHTNoMu120_IDTight_v20 (2.65%)

I will try again forcing the PF track selection everywhere using
[code]

@dsperka could you confirm that you used `ptMax = cms.double( 500.0 )` on purpose?

[2022-03-14 11:18] jpata commented on #37234
are there any instructions to reproduce? does it only crash on SKYLAKE, or other architectures too?

[2022-03-14 11:39] jpata commented on #37227
I cannot see the mattermost discussion above for some reason, can someone copy it here?

I checked that these warnings do not appear in CMSSW_12_3_0_pre1, so one can bisect which release they appeared in.

At first glance, the first warning (ignoring return value) looks like something gets processed with cling during execution?

The second warning (early delete) indicates that `gedElPFIsoDeposit`

[2022-03-14 11:58] jpata commented on #37227
Potentially related to this PR?
https://github.com/cms-sw/cmssw/pull/35953

[2022-03-14 12:20] tvami commented on #37228
+db

[2022-03-14 12:20] jpata commented on #37227
The early-delete related warning seems to be from https://github.com/cms-sw/cmssw/pull/36882.
As far as I can tell, `gedElPFIsoValueChargedAll03` or `gedElPFIsoDepositChargedAll` is not persisted with the config above.

[2022-03-14 12:24] mmusich commented on #37228
thanks @tvami. Please notice that in order to move the SiStrip O2O node to use 12.2.X a patch production release with #37236 included will be needed (even if at this point one could keep running the O2O in 11.1.X)

[2022-03-14 12:24] tvami commented on #37227
assign core

[2022-03-14 12:24] cmsbuild commented on #37227
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-14 12:26] jpata commented on #37227
Note: this does not imply that it's a core issue. Rather, it looks like the cmsDriver config does not `keep` the `gedElPFIsoValueChargedAll03` object, so it's never produced, so the early delete correctly ignores it (if I understood correctly).

[2022-03-14 12:36] tvami commented on #37227
Oh ok, sorry, sure I remove them then?

[2022-03-14 12:38] dan131riley commented on #37234
Previous discussion in #33663.

[2022-03-14 12:42] jpata commented on #37234
if this is the same issue as https://github.com/cms-sw/cmssw/issues/33663, perhaps we should move all discussion there and close this?

[2022-03-14 12:43] silviodonato commented on #35376
About scouting, 17 events, out of 1268,  have a gpu - cpu met difference larger than 5 GeV.
[code]

[2022-03-14 12:44] jpata commented on #33663
attn @cms-sw/muon-pog-l2

[2022-03-14 12:54] #37234 closed

[2022-03-14 13:11] fwyzard commented on #35376
On the HN Danek wrote that it is hard to know the reason without doing a more detailed study, and that he would try to monitor it to see if there are any systematic effects.
Do you know if there was any follow up ?

Unless some way to distinguish the _good_ and _bad_ pixel hits can be found, I would suggest one of the following:
  - if the downstream code can properly handle duplicate pixels, the

[2022-03-14 13:16] mmusich commented on #35376
while keeping either one of the duplicates has some (50%?) chances of doing the right thing, this is clearly wrong in all cases. Moreover if the duplicate pixels end up being one at the edge of the cluster, might screw-up the determination of the position in the CPE code.

[2022-03-14 13:17] VinInn commented on #35376
is It possible that the problem of pixels not belonging to the event is not limited to duplicate pixels?
When duplicate we can detect. If not: we still have spurious hits around (even in a legit cluster)

[2022-03-14 13:26] makortel commented on #37227
The early deletion warning indeed came with https://github.com/cms-sw/cmssw/pull/36882. As far as I can tell, these producers have not been consumed for a long time, and therefore they have not been run (and been silently deleted since 11_3_0_pre1). #36882 made that visible because their products are being asked to be deleted early in
https://github.com/cms-sw/cmssw/blob/689d470d0efe7691546d2aa460

[2022-03-14 13:34] makortel commented on #37227
@pcanal We're getting the following warning in CMSSW jobs

Back in https://mattermost.web.cern.ch/cms-o-and-c/pl/dy6wygg9mifzpj9nte7eoiz5pa I traced this to
[code]
pointing towards `PATTriggerObjectStandAloneSelector`. The configuration I looked at the time of that had `cut = cms.string('!filterLabels.empty()')`. `pat::TriggerObjectStandalone::filterLabels()` returns `const std::vector<std::string

[2022-03-14 13:34] jpata commented on #37227
@cms-sw/egamma-pog-l2 please take note and remove `gedElPFIsoDeposits` if possible from the configs.

[2022-03-14 14:12] VinInn commented on #35376
would "a bit flip" make duplicate more likely? (a pixel in the same cluster with a bit-flipped may generate a duplicate?)
Could the duplicate rate used to globally estimate the effect?
Do we know if it occurs all the time and everywhere?

[2022-03-14 14:39] fwyzard commented on #35376
In the presence of something completely unexpected ("duplicate" pixels), how can you be certain that taking one or the other is correct ?

Also, the "right" one could be
  - always the first one
  - always the last one
  - one at random

If it is always the first one or always the last one, and we implement the other case in the unpacker, we are effectively always making the wrong choice -- which

[2022-03-14 14:39] gk199 commented on #37012
(also updated on PR #36919)
Neither the initial suggested fix, nor further modifications I tried, resolved the issue. Will continue looking at this, and guidance from L1 will be much appreciated.

[2022-03-14 14:43] mmusich commented on #35376
I am not certain, but without knowing for sure (that requires more studies) summing pixels would be exchanging a possible mistake for a certain mistake.

[2022-03-14 14:51] fwyzard commented on #35376
OK, I guess I see things differently, but in the end it doesn't matter: as long as we don't know, any algorithm that is fully reproducible should be an improvement over the present situation, and I'm fine with that.

The problem is that, as @VinInn pointed out "first" and "last" are not easy to implement in a parallel algorithm.

[2022-03-14 15:06] khurtado opened #37240 "ROOT files with duplicated GUIDs observed on production T0 replay workflows"
This is related to a WMCore issue:

https://github.com/dmwm/WMCore/issues/10870

**Bug description**
When deploying T0 replays with a significant amount of jobs, one of the WMCore components fail complaining about duplicated LFNs. Our LFN patterns look like this:

[code]
where: `2AE85F14-94A1-EC11-BBF5-FA163EC7AA59` is the GUID extracted from the ROOT file through the framework XML job report.

So

[2022-03-14 15:06] cmsbuild commented on #37240
A new Issue was created by  @khurtado Kenyi Hurtado.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-14 15:10] cmsbuild commented on #37240
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-14 15:13] smorovic commented on #36487
To compile with all dependencies I had to also remove mutex and queue access from the code:
https://github.com/smorovic/cmssw/commit/813afb820fc7cc13677e20bb282e81a10c2a665c

According to logs, I still don't see concurrency in condition loading, so presumably this is due to CondDBESSource serializing it (I am using the unmodified version). Next I will try with Giacomo's changes.
@govi please let m

[2022-03-14 15:33] makortel commented on #37240
@khurtado What CMSSW version was used in these tests? Was there only one GUID collision in the replay or many? Do you have any information about the hosts that produced the files whose GUIDs collided?

[2022-03-14 15:36] makortel commented on #37240
The process-level GUID is created here
https://github.com/cms-sw/cmssw/blob/62d26a25201604dae1a25c3ccf434613cda1cc18/FWCore/Utilities/src/processGUID.cc#L4-L7
Notably this calls the `edm::Guid()` constructor with `usetime == false` leading to
https://github.com/cms-sw/cmssw/blob/62d26a25201604dae1a25c3ccf434613cda1cc18/FWCore/Utilities/src/Guid.cc#L21-L27
branch being taken.

[2022-03-14 15:54] khurtado commented on #37240
@makortel
They were using:
`CMSSW_12_0_2_patch1` with scram arch: `slc7_amd64_gcc900`

You can find logs of different set of jobs generating files with the same guid here:
```/afs/cern.ch/user/c/cmst0/public/JobAccountant/jobs```

Logs seem to have 2 replays, one with many incidents, involving 2 files/jobs but one of them (in `g5` directory) involves 3 files/jobs:

[code]

The condor logfiles have

[2022-03-14 16:16] khurtado commented on #37240
I unfortunately don't have direct ssh access to these machines. I can probably submit some condor jobs matching to these hosts, but I don't know how long they would take to match and run. I will check if there is anybody with direct access to them for a quick check or submit those jobs otherwise.

Do you know if `/dev/urandom` and `/proc/sys/kernel/random/entropy_avail` can vary depending on wethe

[2022-03-14 19:07] dan131riley commented on #37240
Am I reading the logs correctly, that the duplicates are all in the DQMIO output?  DQMIO does not use the code Matti pointed to, it calls `TFile::GetUUID()` instead:

https://github.com/cms-sw/cmssw/blob/ce4f5b212642a02e5c7ccff8403fdbf6f0306865/DQMServices/FwkIO/plugins/DQMRootOutputModule.cc#L327-L338

That UUID comes from `TUUID()`, see comments here: https://github.com/root-project/root/blob/bd

[2022-03-14 19:40] pcanal commented on #37227
@Axel-Naumann Any idea for this?

[2022-03-14 19:44] makortel commented on #37240
On a closer look my reference to `edm::processGUID()` was incorrect anyway, `RootOutputFile` doesn't use it either but calls `edm::createGlobalIdentifier()`
https://github.com/cms-sw/cmssw/blob/ce4f5b212642a02e5c7ccff8403fdbf6f0306865/IOPool/Output/src/RootOutputFile.cc#L199
https://github.com/cms-sw/cmssw/blob/ce4f5b212642a02e5c7ccff8403fdbf6f0306865/IOPool/Output/src/RootOutputFile.cc#L230-L239

[2022-03-14 19:44] khurtado commented on #37240
@dan131riley We do see more occurrences in DQMIO, but If you look at the json in the `g3` or or `g4` directories from the T0 folks, you will see there are other datatiers with the problem. E.g.:

[code]

(The logArchive.tar.gz are using our own `uuid` mechanism from python, so we need to fix that independently of the ROOT files).

Question: If we have this known problem with DQMIO, why can't this

[2022-03-14 19:53] makortel commented on #37240
(FYI @cms-sw/dqm-l2 since we mentioned DQM modules)

[2022-03-14 20:45] makortel commented on #29142
Just to clarify, this would be about measuring the time between
* `acquire()` returns
* `WaitingTaskWithArenaHolder::doneWaiting()` is called

? The former already has a signal (`PostModuleEventAcquire`), so the question becomes how to deal with the latter. To think out loud some further thoughts
* How to deal with `WaitingTaskWithArenaHolder::makeWaitingTaskHolderAndRelease()`
* The question is n

[2022-03-14 21:05] kpedro88 commented on #29142
Yes, that is what I think we should measure.

I suppose a general ActivityRegistry signal could be useful in some cases - I don't know how all of our timing/profiling services work under the hood, but some of them might need it.

Can we just make `doneWaiting()` issue the signal whenever it's called? I guess the problem then would be double-counting if ExternalWork were used in a blocking mode. Co

[2022-03-14 23:51] makortel commented on #29142
No, the waiting system should stay independent of `ActivityRegistry` (its abstraction is on lower level).

`edm::async()` would be a function taking `edm::WaitingTaskWithArenaHolder` and a functor arguments. The functor would be run on a separate, non-TBB thread, and it would call the blocking synchronization on a given API, but not deal with `WaitingTaskWithArenaHolder` explicitly. The internals

[2022-03-14 23:55] kpedro88 commented on #29142
So in SONIC terms, you're basically proposing to use PseudoAsync for everything, even true Async. If this doesn't add substantial overhead, it could be feasible. My question, though, is how do we "enforce" (ideally, automate) this usage - would the ExternalWork interface change?

[2022-03-15 00:48] qliphy opened #37243 "Build CMSSW_12_2_1_patch2"

[2022-03-15 00:49] cmsbuild commented on #37243
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-03-15 00:49] qliphy commented on #37243
+1

[2022-03-15 00:49] cmsbuild commented on #37243
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_1_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-03-15 00:49] cmsbuild commented on #37243
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-03-15 00:51] cmsbuild commented on #37243
The build has started for cc8_amd64_gcc9 in cmsbuild92-rh8.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3401/console
CMSDIST Branch: [REL/CMSSW_12_2_1/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_1/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-15 00:52] cmsbuild commented on #37243
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3402/console
CMSDIST Branch: [REL/CMSSW_12_2_1/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_1/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-15 00:54] cmsbuild commented on #37243
The build has started for slc7_amd64_gcc10 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3403/console
CMSDIST Branch: [REL/CMSSW_12_2_1/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_1/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-15 00:56] cmsbuild commented on #37243
The build has started for slc7_amd64_gcc900 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3404/console
CMSDIST Branch: [REL/CMSSW_12_2_1/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_1/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-15 01:21] makortel commented on #29142
Well, I'm not really proposing anything yet, just thinking out loud. Enforcement is clearly a weak point here.

By the way, do you know how Triton client implements the asynchronous call? Does it itself have some thread(s) waiting around?

[2022-03-15 02:49] cmsbuild commented on #37243
The build has started for slc7_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3405/console
CMSDIST Branch: [REL/CMSSW_12_2_1/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_1/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-15 02:51] cmsbuild commented on #37243
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch2-slc7_ppc64le_gcc9/3402
Some t

[2022-03-15 02:55] cmsbuild commented on #37243
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch2-cc8_amd64_gcc9/3401
Some tests (

[2022-03-15 03:30] cmsbuild commented on #37243
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch2-slc7_amd64_gcc10/3403
Some tes

[2022-03-15 03:38] cmsbuild commented on #37243
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch2-cc8_amd64_gcc9/3401

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-15 04:18] cmsbuild commented on #37243
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch2-slc7_ppc64le_gcc9/3402

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-15 04:19] cmsbuild commented on #37243
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch2-slc7_amd64_gcc10/3403

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-15 04:26] cmsbuild commented on #37243
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch2-slc7_amd64_gcc900/3404
Some t

[2022-03-15 05:06] cmsbuild commented on #37243
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch2-slc7_aarch64_gcc9/3405
Some t

[2022-03-15 05:14] cmsbuild commented on #37243
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch2-slc7_amd64_gcc900/3404

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-15 06:14] cmsbuild commented on #37243
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch2-slc7_aarch64_gcc9/3405

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-15 07:20] Axel-Naumann commented on #37227
@jalopezg-r00t FYI!

[2022-03-15 07:41] qliphy commented on #37243
upload all

[2022-03-15 07:41] cmsbuild commented on #37243
Queing Jenkins upload for slc7_amd64_gcc900

[2022-03-15 07:42] cmsbuild commented on #37243
Queing Jenkins upload for slc7_aarch64_gcc9

[2022-03-15 07:42] cmsbuild commented on #37243
Queing Jenkins upload for cc8_amd64_gcc9

[2022-03-15 07:42] cmsbuild commented on #37243
Queing Jenkins upload for slc7_ppc64le_gcc9

[2022-03-15 07:42] cmsbuild commented on #37243
Queing Jenkins upload for slc7_amd64_gcc10

[2022-03-15 07:42] cmsbuild commented on #37243
The upload has started for cc8_amd64_gcc9 in cmsbuild92-rh8.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2262/console

[2022-03-15 07:44] cmsbuild commented on #37243
The upload has started for slc7_amd64_gcc900 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2265/console

[2022-03-15 07:44] cmsbuild commented on #37243
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2263/console

[2022-03-15 07:44] cmsbuild commented on #37243
The upload has started for slc7_amd64_gcc10 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2264/console

[2022-03-15 07:44] cmsbuild commented on #37243
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1_patch2-cc8_amd64_gcc9/2262

[2022-03-15 07:44] cmsbuild commented on #37243
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2266/console

[2022-03-15 07:46] cmsbuild commented on #37243
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1_patch2-slc7_ppc64le_gcc9/2266

[2022-03-15 07:46] cmsbuild commented on #37243
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1_patch2-slc7_aarch64_gcc9/2263

[2022-03-15 07:48] cmsbuild commented on #37243
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1_patch2-slc7_amd64_gcc900/2265

[2022-03-15 07:49] cmsbuild commented on #37243
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1_patch2-slc7_amd64_gcc10/2264

[2022-03-15 07:52] qliphy commented on #37243
release-notes

[2022-03-15 07:52] cmsbuild commented on #37243
Generating release notes since CMSSW_12_2_1_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-03-15 07:52] cmsbuild commented on #37243
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_2_1_patch2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_2_1_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_1

[2022-03-15 07:58] cmsbuild commented on #37243
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_1_patch2

[2022-03-15 08:05] jpata commented on #37227
FWIW pre4 + 35953 does not raise the "gnoring return value of function" warning.

[2022-03-15 08:08] jpata commented on #37227
According to the [release notes](https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre5), pre5 introduced root 6.24. As I understand, "ignoring return value of function" is related to that.

[2022-03-15 09:19] silviodonato commented on #35376
The most significant effect is when we do not reconstruct a pixel clusters because of duplicates.
Example (see above, event 181451699, detId 303042568, x, y = 159, 292).
- GPUs see two duplicated pixels with charge [22019, 100].
- CPUs reconstruct no cluster, because they see only one pixel with charge 100, that is below the pixel cluster threshold.

My 2 cents: we should take the maximum of the N

[2022-03-15 09:25] VinInn commented on #35376
On the other hand duplicates may be due to bit-flip: most probably the original pixel was closeby even in the same cluster.
In such a case the sum looks to me more correct.

I think a detailed study is needed. We do not even know if duplicates pixels are contiguous in the rawdata or not.
We do not know the rate, the location, the occupancy.
We do not know if correlated with luminosity, fluency or

[2022-03-15 09:39] Axel-Naumann commented on #37227
Oh, this is using ROOT v6.24?! Fine, we need to backport https://github.com/root-project/root/pull/9244 - @jalopezg-r00t can you do the necessary?

[2022-03-15 09:57] VinInn commented on #35376
I posted the relevant line above:
on CPU just load the latest
on GPU clusterize them independently: at CPE time they will be summed.
have not checked what template does

[2022-03-15 10:58] jalopezg-r00t commented on #37227
Yes, we were missing a backport to v6.24.  PR up here: https://github.com/root-project/root/pull/10120!

[2022-03-15 15:14] mkirsano commented on #36662
All these packages can be compiled against HepMC3. I tried photospp, tauolapp. Another question is if they can be compiled against both. But the critical path is the integration of HepMC3Product in edm. Then we can start to look at all the chain (G4, analysis, validation etc.)

[2022-03-15 18:19] mmusich commented on #37228
+1
   * for the record
   * a series of successful SiStrip-DAQ O2O with the newly available CMSSW release [CMSSW_12_2_1_patch2](https://github.com/cms-sw/cmssw/releases/CMSSW_12_2_1_patch2) was [performed this afternoon](https://cms-conddb.cern.ch/cmsDbBrowser/logs/O2O_logs/Prod/2022-03-15/2022-03-16/SiStrip/None)

[2022-03-15 18:19] cmsbuild commented on #37228
This issue is fully signed and ready to be closed.

[2022-03-15 19:10] dan131riley commented on #37240
It seems weird that the dups are either just DQMIO, or all of ALCARECO, DQMIO, RAW, and the logArchive.  The actual logs only cover the DQMIO case--can we get some logs for jobs where the whole set is duplicated?  I think we understand the DQMIO-only case, but the other case is still a mystery to me.

It got overlooked--until I started investigating this issue, I hadn't realized `TFile::TUUID()` w

[2022-03-15 19:43] kpedro88 commented on #29142
Yes, Triton uses an `std::thread` for the asynchronous call: https://github.com/triton-inference-server/client/blob/cd3bc6859d150b6e07408537779f35242dac9117/src/c%2B%2B/library/grpc_client.cc#L947-L960

[2022-03-16 06:24] SiewYan commented on #36705
assign generators

[2022-03-16 08:56] mmusich commented on #35376
In case people active in this thread want to contribute to the discussion, the issue about duplicate pixels is going to be tackled today at the [Joint TRK DPG/POG meeting](https://indico.cern.ch/event/1119493/#8-duplicate-pixel-problem)

[2022-03-16 08:56] mmusich commented on #35668
@cms-sw/reconstruction-l2 @cms-sw/heterogeneous-l2 AFAIU, this issue is ready to be signed and closed.

[2022-03-16 09:06] fwyzard commented on #35668
Thanks @mmusich , I had not seen the #37193 PR .

[2022-03-16 09:06] fwyzard commented on #35668
+heterogeneous

[2022-03-16 10:08] jpata commented on #35668
+reconstruction

[2022-03-16 10:08] cmsbuild commented on #35668
This issue is fully signed and ready to be closed.

[2022-03-16 14:35] jalopezg-r00t commented on #37227
The required patch has been merged into ROOT's `v6-24-00-patches` branch some hours ago.  Let us know if we can do anything else.  :slightly_smiling_face:

[2022-03-16 17:55] VinInn commented on #35376
Following Danek presentation I made a small test using this code
that detect (and remove)  a duplicate pixel (the second one) in digis.
It should make GPU reproduce current CPU behaviour.
trivial to remove both.

[code]

Run 5000 events in  Run 323775, Event 33310106, LumiSection 53
and got
[innocent@patatrack02 raw]$ grep dup dup.log | wc
   8158   41289  153656
[innocent@patatrack02 raw]$ grep d

[2022-03-16 23:19] cvuosalo opened #37258 "[DD4hep] Runs 1-2 migration complicated by change in materials"
This issue is a reminder. PR #28313 made some changes to material and tracker material XML files without creating new versions. These changes affected the XML files used by Runs 1-2. When working on Runs 1-2 DD4hep migration and comparing versions of DB and XML geometry, one needs to take into account these changes in the materials created by this PR #28313 in 11_1.

[2022-03-16 23:19] cmsbuild commented on #37258
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-16 23:20] cvuosalo commented on #37258
type documentation

[2022-03-16 23:20] cvuosalo commented on #37258
assign geometry

[2022-03-16 23:20] cmsbuild commented on #37258
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-17 06:19] #37215 closed

[2022-03-17 06:53] cmsbuild commented on #37243
The cleanup has started for slc7_aarch64_gcc9

[2022-03-17 06:53] cmsbuild commented on #37243
The cleanup has started for slc7_amd64_gcc900

[2022-03-17 06:53] cmsbuild commented on #37243
The cleanup has started for slc7_ppc64le_gcc9

[2022-03-17 06:53] cmsbuild commented on #37243
The cleanup has started for cc8_amd64_gcc9

[2022-03-17 06:53] cmsbuild commented on #37243
The cleanup has started for slc7_amd64_gcc10

[2022-03-17 06:53] #37243 closed

[2022-03-17 06:54] cmsbuild commented on #37243
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1_patch2-slc7_aarch64_gcc9/1970

[2022-03-17 06:54] cmsbuild commented on #37243
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1_patch2-slc7_amd64_gcc10/1971

[2022-03-17 06:54] cmsbuild commented on #37243
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1_patch2-slc7_amd64_gcc900/1972

[2022-03-17 06:55] cmsbuild commented on #37243
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1_patch2-cc8_amd64_gcc9/1969

[2022-03-17 06:55] cmsbuild commented on #37243
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1_patch2-slc7_ppc64le_gcc9/1973

[2022-03-17 09:41] VinInn commented on #35376
so in event Run 323775, Event 32123778, LumiSection 53
module "1" is plenty of duplicate pixels and most of them are NOT contiguous
see a (partial) dump below (those 0,0 are the duplicate removed)

notice how many times 159 208 appears...

[code]

[2022-03-17 11:30] VinInn commented on #35376
yes @ferencek , you are right.
Ok trivial to keep the second and remove the first. Still occurrences seem to be random (see above) so detecting contiguous duplicates in not enough

[2022-03-18 03:53] srimanob commented on #37150
As clarification that compression is done by default, I think this ticket can be closed.

[2022-03-18 03:53] #37150 closed

[2022-03-18 07:43] perrotta opened #37268 "Spurious failing comparisons entries in PR tests for MuonCSCDigisV/CSCDigiTask/CLCT"
Since some while, spurious failing comparisons entries show up in PR tests for MuonCSCDigisV/CSCDigiTask/CLCT.
They are not reproducible (repeated tests may show different comparisons).
A few examples can be seen in the comparisons of PRs  #37260 (for wf 10042), #37263 (for wf 1330), ...

In all plots that I have inspected the visible bins looks identical. and therefore the difference could be in

[2022-03-18 07:43] cmsbuild commented on #37268
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-18 07:43] perrotta commented on #37268
assign dqm

[2022-03-18 07:43] cmsbuild commented on #37268
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-18 12:11] jfernan2 commented on #37268
@barvic   please also have a look as CSC Validation developer. Thanks

[2022-03-18 12:33] sscruz commented on #36012
@srimanob sorry for being late on this. We have discussed a bit internally and agreed that the reason why choice was made in the past is still valid (although as Carlo points out this is likely not to make a difference). So because of that we think it's reasonable to keep the CSC and DT alignment as it is. Let us know if there are other constraints we should take into account.
Cheers,
Sergio (also

[2022-03-18 19:42] sifuluo commented on #37268
I've found the direct cause for this issue. And we will have a discussion to pick a solution to it asap.

[2022-03-18 21:39] cvuosalo commented on #36012
+1

[2022-03-19 14:40] VinInn opened #37280 "plenty of pragma warning in eigen (caused by new version of CUDA?)"
[code]

[code]

please fix, development is impossible with all these spurious warning

[2022-03-19 14:40] cmsbuild commented on #37280
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-21 13:09] makortel commented on #37280
assign core.heterogeneous

[2022-03-21 13:10] cmsbuild commented on #37280
New categories assigned: heterogeneous,core

@fwyzard,@Dr15Jones,@smuzaffar,@makortel,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-21 13:11] makortel commented on #37280
Are our tests not reporting warnings from `nvcc`?

[2022-03-21 13:27] makortel commented on #37049
Seems that the team handles do not work across organizations (`cms-sw` vs `cms-ml`).

[2022-03-21 15:42] smuzaffar opened #37289 "On demand generation of baseline for pull requests relvals comparison jobs"
Hi @cms-sw/all-l2 ,
  FYI, https://github.com/cms-sw/cms-bot/pull/1728 pull request changes the way we generate IB baseline for pull requests relvals comparison jobs. Idea is to stop generating baseline for all IBs and only generate when a PR needs it. First PR to test against an IB will trigger the generation of baseline. As both PR tests and baseline generation run in parallel so PR test results

[2022-03-21 15:42] cmsbuild commented on #37289
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-21 15:43] smuzaffar commented on #37289
type improvements

[2022-03-21 16:38] VinInn commented on #35376
So I implemented also the N^2 duplicate finding at module level (in the clusterizer)
Here the timing results

[code]

[2022-03-21 16:40] JanFSchulte opened #37290 "Duplication of PropagateToMuon class in MuonAnalysis/MuonAssociators and HLTriggerOffline/Muon"
The code to propagate muon tracks from the IP to the second muon station is duplicated in two packages, see https://github.com/cms-sw/cmssw/blob/master/HLTriggerOffline/Muon/interface/PropagateToMuon.h and https://github.com/cms-sw/cmssw/blob/master/MuonAnalysis/MuonAssociators/interface/PropagateToMuon.h

As they are diverging more and more, with the code in MuonAnalysis/MuonAssociators being dev

[2022-03-21 16:50] perrotta commented on #37290
[Here](https://github.com/cms-sw/cmssw/pull/37180#issuecomment-1073793899) is the link to the start of the discussion in the PR mentioned in the main description of this github issue

[2022-03-21 17:22] VinInn commented on #35376
To those who wish to test the above please
```	git cms-merge-topic VinInn:DupPix```
in today (or later) 12_4_X

[2022-03-21 17:36] makortel commented on #37290
assign dqm, analysis

[2022-03-21 17:36] cmsbuild commented on #37290
New categories assigned: dqm,analysis

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@santocch,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-21 17:42] tvami commented on #37289
type performance-improvements

[2022-03-21 18:46] fwyzard commented on #35376
@VinInn thank you very much for the detailed test !

As you suggested, removing only the nearby duplicates has a negligible impact, from `845 ± 2 ev/s` to `843 ± 3`, but doing the full scan has a huge cost, bringing the throughput down to `789 ± 3 ev/s`.

And I understand that the cost would have to be paid in any case, not only in the hopefully rare runs and modules which are affected.

[2022-03-21 19:21] cvuosalo commented on #34294
Resolved by #36372.

[2022-03-21 19:21] cvuosalo commented on #34294
+1

[2022-03-21 19:21] #34294 closed

[2022-03-21 19:21] cmsbuild commented on #34294
This issue is fully signed and ready to be closed.

[2022-03-22 07:44] perrotta commented on #37268
Supposedly fi*ed by #37282.
Let see if really the failing comparisons disappear from forthcoming PR tests before finally closing this issue

[2022-03-22 13:53] sarafiorendi opened #37301 "crab does not automatically recognise output file if defined as cms.FinalPath"
Hi,
I noticed that when defining an output module PoolOutputModule as cms.FinalPath, instead of the usual cms.EndPath, crab does not automatically recognise the output file to be transferred (and, if not explicitly set, does not consider it)

There is indeed this error message at submission time:
"
Warning: CRAB could not detect any output file in the CMSSW configuration nor was any explicitly spe

[2022-03-22 14:00] silviodonato commented on #37301
Even though this problem is probably related to CRAB itself, let me tag @cms-sw/core-l2 @dpiparo

[2022-03-22 14:01] makortel commented on #37301
Adding @belforte

[2022-03-22 14:09] perrotta commented on #37268
If the fix works as expected, two backports to 12_3_X and 12_2_X should also be prepared, because the bug is also present in those two release cycles

[2022-03-22 14:26] belforte commented on #37301
OK. let me review how CRAB obtains the list of output files and we can discuss if there's a robust way to get it from the pset which can avoid depending on "possibly changing" internals of the framework. If the latter, I'd rather deprecate than change.

[2022-03-22 14:43] makortel commented on #37301
Just to clarify, in this case the `cms.FinalPath` was added to the configuration language. The `cms.EndPath` stays, and is the preferred place for OutputModules for nearly all offline use cases.

[2022-03-22 14:50] belforte commented on #37301
yeah, that's what I guessed too. I am not happy about CRAB chasing after CMSSW forever, that's all.

[2022-03-22 15:05] perrotta commented on #37012
Fixed by https://github.com/cms-sw/cmssw/pull/37257, with backport to 12_3_X in https://github.com/cms-sw/cmssw/pull/37253
This issue can be closed then, pleae @dan131riley or anyone else comment if you want to let it open

[2022-03-22 15:05] #37012 closed

[2022-03-22 15:09] perrotta commented on #35243
Fixed by https://github.com/cms-sw/cmssw/pull/35352
See https://github.com/cms-sw/cmssw/issues/35243#issuecomment-923813524

[2022-03-22 15:09] #35243 closed

[2022-03-22 15:48] jfernan2 commented on #34795
+1
Then I understand this issue can be closed

[2022-03-22 16:23] missirol commented on #34629
Just noting the HLT-Validation tests failing in [`CMSSW_12_2_X_2022-03-16-2300`](https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_2_X_2022-03-16-2300/slc7_amd64_gcc900/HLT_Integration_HIon_MC.log):
[code]
I don't think I have seen this yet in `12_3_X`, but I can't be certain.

[2022-03-22 16:31] Martin-Grunewald commented on #34629
Yes, because the HIon menu is essentially unchanged.

[2022-03-22 16:44] belforte commented on #37301
thanks  @silviodonato   @Dr15Jones and @makortel
Here's the code which CRAB uses, untouched since 8 years, and which I did not write, do not understand, am scared of breaking etc. etc.
https://github.com/dmwm/CRABClient/blob/37caaf2fbfdec47cecc7c9a5820f14e3252ca11e/src/python/CRABClient/JobType/CMSSWConfig.py#L183-L236
Can you suggest how it should be changed, or even better replaced with a call t

[2022-03-22 18:25] smrenna commented on #36705
Okay, I think I can confirm that something strange is happening in _Pythia83_.
I should have a solution soon.

[2022-03-22 19:17] makortel commented on #37301
Thanks @belforte. In principle it would be straightforward to extend the fragment to support `FinalPath` (in a way that works also in earlier CMSSW releases) with something along
[code]

Stefano, do you take it from here, or would you prefer e.g. me to make a PR to CRABClient? (in the latter case, how could I test it? the diff above is completely untested)

[2022-03-22 20:58] belforte commented on #37301
I can take from here. But I need a functional example PSET to test with. @sarafiorendi

[2022-03-22 21:20] belforte commented on #37301
@sarafiorendi preferred way is that you add the example to the CRABClient issue referred above, thanks

[2022-03-22 21:39] smrenna commented on #36705
Note, if you want only 46 weights, you could use this scheme:
UncertaintyBands:List = {cmsVar isr:muRfac=0.707 fsr:muRfac=0.707 isr:muRfac=1.414 fsr:muRfac=1.414 isr:muRfac=0.5 fsr:muRfac=0.5 isr:muRfac=2.0 fsr:muRfac=2.0 isr:muRfac=0.25 fsr:muRfac=0.25 isr:muRfac=4.0 fsr:muRfac=4.0 fsr:G2GG:muRfac=0.5 fsr:G2GG:muRfac=2.0 fsr:G2QQ:muRfac=0.5 fsr:G2QQ:muRfac=2.0 fsr:Q2QG:muRfac=0.5 fsr:Q2QG:muRfac=

[2022-03-22 21:41] smrenna commented on #36705
Also, note, this does _not_ explain:
[code]
Except that 134 = 44 x 3 + 2.

[2022-03-23 08:30] jfernan2 commented on #37268
@sifuluo could you please make the backports? Thanks

[2022-03-23 09:49] francescobrivio opened #37315 "Comparison failed for tests of wf `39434.911`"
In recent PRs test results there is a message saying:
[code]
But nonetheless the default comparison reports more than 50k differences for this wf.
Some examples:
 - #37265
 - #37294
 - #37288
 - ...

[2022-03-23 09:49] cmsbuild commented on #37315
A new Issue was created by  @francescobrivio .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-23 09:50] francescobrivio commented on #37315
assign reconstruction

[2022-03-23 09:50] cmsbuild commented on #37315
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-23 10:05] belforte commented on #37301
thanks @makortel , your fix works. I will create new CRAB Client release, you can close this.

[2022-03-23 10:06] perrotta commented on #37268
@sifuluo @jfernan2 I am observing that in some PR tests based on CMSSW_12_4_X_2022-03-22-1100, which already includes https://github.com/cms-sw/cmssw/pull/37282, the spurious differences in the DQM comparisons for MuonCSCDigisV/CSCDigiTask/CLCT are still there, see for example wf [10042.0](https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_4_X_2022-03-22-1100+cadc83/49072/10

[2022-03-23 12:28] jpata commented on #37315
.911 is dd4hep, we often had differences in it not related to reco. did something change, or is it still a geometry-related issue?

[2022-03-23 12:32] #35668 closed

[2022-03-23 12:32] #34795 closed

[2022-03-23 12:54] makortel commented on #37301
Thanks @belforte!

[2022-03-23 12:54] makortel commented on #37301
assign core

[2022-03-23 12:55] makortel commented on #37301
+1

[2022-03-23 12:55] cmsbuild commented on #37301
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-23 12:55] cmsbuild commented on #37301
This issue is fully signed and ready to be closed.

[2022-03-23 12:59] #37301 closed

[2022-03-23 12:59] makortel commented on #37315
I believe the message

refers only to the "validateJR" / "reco comparisons", and not to RelMon-based comparisons or DQM bin by bin.

[2022-03-23 13:00] cmsbuild commented on #37315
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-23 13:13] perrotta commented on #37315
There are however also quite a lot of differences in the bin by bin DQM comparisons for that workflow in the test outputs, as you can verify by opening any of the links to the PR tests listed in the issue description above.

[2022-03-23 13:22] makortel commented on #37315
Right, but the existence of the differences (whose cause should be identified) is a separate issue from one piece of comparisons infrastructure not recognizing this workflow.

[2022-03-23 13:48] sifuluo commented on #37268
Let's see if this one solves it

[2022-03-23 14:43] fwyzard opened #37323 "ECAL unpacker: HLT hangs with CMSSW_12_3_0_pre6 when running on GPUs"
During a high statistics stress test running the HLT over 2018 data on GPUs with CMSSW_12_3_0_pre6, some of the jobs are getting stuck.

The original configuration from one of the stuck jobs can be extracted from [config.zip](https://github.com/cms-sw/cmssw/files/8333799/config.zip).
The fully expanded python configuration is available in [config.py](https://github.com/cms-sw/cmssw/files/8333806/c

[2022-03-23 14:43] fwyzard commented on #37323
assign heterogeneous

[2022-03-23 14:43] cmsbuild commented on #37323
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-23 14:51] fwyzard commented on #37323
@VinInn FYI, since we were chatting about this...

[2022-03-23 15:02] Dr15Jones commented on #37323
Does an exception go off in the event?

[2022-03-23 15:20] makortel commented on #37323
@fwyzard Could you enable this printout
https://github.com/cms-sw/cmssw/blob/8204ef9abce4ead22a957e14751b38f9f1b05e07/HeterogeneousCore/CUDACore/src/ScopedContext.cc#L17-L23
and try again?

[2022-03-23 15:22] makortel commented on #37323
Thinking further, is it possible for the GPU code itself to get into e.g. infinite loop? (or, do you know if the GPU is busy or idle when  after a while the job gets stuck?)

[2022-03-23 15:24] fwyzard commented on #37323
Yes, that's what I was just checking, and it looks like one kernel thread is stuck in
[code]

[2022-03-23 15:25] fwyzard commented on #37323
... which is the beginning of a `while` loop:
[code]

[2022-03-23 15:42] cvuosalo commented on #37315
39434.911 is Phase 2 D88 DD4hep. It is quite new and may be still under development.
@srimanob Could you please comment about the stability of this workflow?

This workflow runs DD4hep from XML files. That makes it very sensitive to any perturbations in the source files or test process.

[2022-03-23 15:42] cvuosalo commented on #37315
assign upgrade

[2022-03-23 15:45] fwyzard commented on #37323
@thomreis could you check what's happening and suggest a solution ?

[2022-03-23 15:47] fwyzard commented on #37323
assign ecal-dpg

[2022-03-23 16:02] cmsbuild commented on #37323
New categories assigned: ecal-dpg

@simonepigazzini,@jainshilpi,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-23 16:05] srimanob commented on #37315
How can we test the stability of the workflow offline? I mean how do we know if some unexpected random will happen somewhere without this kind of PR test.

The test was done with ttbar 9k events, but that is to compare between DDD and DD4hep. I never try to compare DD4hep with DD4hep from 2 runs to see its stability.

[2022-03-23 16:16] VinInn commented on #37323
are ALL streams hanging there?
If not why the job is not finishing  but that event?
and why the original job was stuck in ```free``` etc?

Conversely: why an infinite loop in a single kernel make the job hanging in random places?
(kernel queue gets full?)
will try to reproduce...

[2022-03-23 16:20] francescobrivio commented on #37315
@cvuosalo @srimanob what I find strange is that in all the tests there are ~50k failed differences over ~100k total comparisons (see [this log](https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_4_X_2022-03-22-1100+cadc83/49072/39434.911_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/) for example). So, if basically hal

[2022-03-23 16:29] cmsbuild commented on #37315
New categories assigned: upgrade

@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-23 16:35] srimanob commented on #37315
@francescobrivio
Yes, I saw it. I can comment it out for now. Clearly, this is not expected.  However, as I said, I still have no idea why and how I can test it offline. SInce now we allow to create baseline in PR test (https://github.com/cms-sw/cmssw/issues/37289), this may help when I try to enable it.

[2022-03-23 16:50] VinInn commented on #37323
my trivial test
[code]

and it stopped after 20 events  (th elumisection is 100 events)
23-Mar-2022 17:40:16 CET  Initiating request to open file file:/data/store/relval/CMSSW_12_0_0_pre6/RelValTTbar_14TeV/GEN-SIM-DIGI-RAW/PU_120X_mcRun3_2021_realistic_v4_JIRA_129-v1/00000/05b47cfa-73e0-478b-8c34-1a21d760d2c0.root
23-Mar-2022 17:40:24 CET  Successfully opened file file:/data/store/relval/CMSSW_12_

[2022-03-23 16:51] Dr15Jones commented on #37323
@VinInn could you add `process.add_(cms.Service("Tracer"))` to your test? That will likely help determine what is happening.

[2022-03-23 16:55] Dr15Jones commented on #37323
Hmm, given the expected large output for using the Tracer multi-threaded, it might be better to use the StallMonitor and tell it to write out its file. That file will contain all the same info but will be more compact and probably easier to write a script to look for where each stream is stuck.

[2022-03-23 16:56] VinInn commented on #37323
I have added (because already there)
[code]

[2022-03-23 17:19] makortel commented on #37323
I'm not able to read either file, I get just `Operation not permitted`. I have no idea why, e.g. `getfacl` claims `group::r--` (same for `other`).

[2022-03-23 18:20] fwyzard commented on #37323
Looks like the GPU code needs the equivalent of `DCCEventBlock::next_tower_search(...)``:
https://github.com/cms-sw/cmssw/blob/767a838b1b9c90d1a12396f566d580b16826a934/EventFilter/EcalRawToDigi/src/DCCEventBlock.cc#L78-L129

[2022-03-23 18:21] smrenna commented on #36705
@agrohsje  to help debug this, could you run using the variations defined as above (one big string) and see what are the number of weights in the GenEventInfoProduct?    Also, can you list their names/values?

[2022-03-23 18:29] agrohsje commented on #36705
Will test.

[2022-03-23 18:45] VinInn commented on #37323
here are the file
[stallMonitor.log](https://github.com/cms-sw/cmssw/files/8335698/stallMonitor.log)
[stuck.log](https://github.com/cms-sw/cmssw/files/8335699/stuck.log)

[2022-03-23 19:02] makortel commented on #37323
Thanks @VinInn. The last action in all EDM streams is
[code]

The `produce()` gets called 12 times for this module.

[2022-03-23 19:04] makortel commented on #37323
Umm
[code]
leads to total of 12800 threads. Could it be that the GPU just keeps spinning the infinite while loop in all the threads and not scheduling the later kernels to run?

[2022-03-23 19:06] makortel commented on #37315
@srimanob Could you elaborate what you mean with "test it offline"? Is it e.g. about comparing the DQM root files of different invocations of the workflow?

[2022-03-23 20:01] fwyzard commented on #37323
Not the whole grid, but there is one block in an infinite loop, so the
kernel never completes.

[2022-03-23 20:02] agrohsje commented on #36705
@smrenna, that helped us going down to 90 (2*44+2), ideally we reduce the 2->1 and then we are good to go for run 3. :-)
The weight names look good, i.e. I see
LuminosityBlocks->Scan("GenLumiInfoHeader_generator__GEN.obj.weightNames_","","colsize=30")
 *        0 *        0 *                        nominal *
*        0 *        1 *                       Baseline *
*        0 *        2 *

[2022-03-23 20:12] smrenna commented on #36705
So why are the weights getting doubled by the GenInfoProduct?

[2022-03-23 20:14] makortel commented on #37323
@fwyzard Do you refer to Vincenzo's test case or the actual case with ECAL? If the former, why only one block would be stuck?

In general, I'd assume one block spinning in infinite loop not to prevent other kernels (from other EDM streams) being run. Do you still have the full Tracer log of https://github.com/cms-sw/cmssw/issues/37323#issuecomment-1076480889?

[2022-03-23 20:56] fwyzard commented on #37323
The ECAL case.

[2022-03-23 22:02] srimanob commented on #37315
Hi @makortel
I mean I don't expect the change in .911 DD4hep phase-2 wf. With the test results on several PRs that show failure on comparison, should I test it locally somehow. For example, run twices with and without PR and compare locallly?

By the way, last fresh test of the following PR does not show perculiar on the workflow comparison,
- https://github.com/cms-sw/cmssw/pull/37324

[2022-03-23 23:03] srimanob commented on #37087
@cms-sw/hcal-dpg-l2
(Parallel with email, sorry. I just realize that I never ping you on git before)

[2022-03-23 23:06] srimanob commented on #35520
To complete the info before closing the issue, the following PR makes `--procModifier` to be a list.
https://github.com/cms-sw/cmssw/pull/35523

[2022-03-23 23:06] #35520 closed

[2022-03-23 23:08] srimanob commented on #36012
This PR can close. The alignment is available in Phase-2 DD4hep workflow.

[2022-03-23 23:08] #36012 closed

[2022-03-23 23:40] makortel commented on #37315
Right, run twice or many times. The comparison failure appears to be random, so it is hard to say beforehand how many times to run. In the past we've seen occurrence rates between O(1 %) and O(100 %) or so with the (Run 3) DD4Hep workflow.

[2022-03-24 00:04] Saptaparna commented on #36705
@agrohsje Can you please point to a set up that allows me to reproduce the issue? I tried this: https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_test/EGM-Run3Winter22wmLHEGS-00003 but the weights don't seem to be filled at all.

[2022-03-24 00:46] makortel commented on #37323
I just tested the recipe in the description (without any code changes) on 4 threads, and that ended up in
[code]

[2022-03-24 06:49] fwyzard commented on #37323
Yep, that's very similar to the [backtrace](https://github.com/cms-sw/cmssw/files/8333863/backtrace01.txt) I attached.

My interpretation is:
  - the ECAL kernel is stuck in an infinite loop (not shown in the host trace)
  - `cudaFreeHost` holds the CUDA internal lock, while waiting for the kernel to complete
  - the other CUDA API calls are waiting to acquire the CUDA lock

[2022-03-24 08:30] agrohsje commented on #36705
Hi @Saptaparna . I can see 134 weights in your example. Maybe you had a typo in the root command?

[2022-03-24 08:39] agrohsje commented on #36705
@smrenna : that is the question. I used the cms list and specification in P8.303:
UncertaintyBands:List = {isrRedHi isr:muRfac=0.707,fsrRedHi fsr:muRfac=0.707,isrRedLo isr:muRfac=1.414,fsrRedLo fsr:muRfac=1.414,isrDefHi isr:muRfac=0.5,fsrDefHi fsr:muRfac=0.5,isrDefLo isr:muRfac=2.0,fsrDefLo fsr:muRfac=2.0,isrConHi isr:muRfac=0.25,fsrConHi fsr:muRfac=0.25,isrConLo isr:muRfac=4.0,fsrConLo fsr:muRfac

[2022-03-24 09:46] clacaputo commented on #37315
I think this problem should be addressed by this https://github.com/cms-sw/cms-bot/commit/31e5f20d2670b54ae41e2100a668d1cf86128121

[2022-03-24 10:02] VinInn commented on #37323
Why kernels in other streams do not continue?
Are we re-using cuda-streams in different cmssw-streams?

[2022-03-24 10:14] fwyzard commented on #37323
In the original case ?
Because every (framework) stream is stuck on a lock, and cannot submit any more work.

When I modified the ECAL code to use the host caching allocator, it removed the call to `cudaFreeHost` and the corresponding CUDA lock, so the other (framework) streams could make progress for a few more events.

I did not investigate _why_ things ended up getting stuck the few events late

[2022-03-24 10:44] VinInn commented on #37323
Even in my simple test.
Maybe we have to implement a simple test in patatrack-standalone.

[2022-03-24 12:55] jpata commented on #37140
kind ping on this.

[2022-03-24 14:43] fwyzard commented on #37323
If a kernel is running, I don't think the GPU has any reasons to preempt its threads and schedule something else.
If it were waiting on a lock or some other synchronisation, it might be a different story.

[2022-03-24 14:58] VinInn commented on #37323
so I changed the test in
[code]

so just one block in in an infinite loop

and the job arrives at the end of the second lumisection
[code]
the file containts 1000 events
and
[code]

the working threads seems to be stuck at
[code]

[2022-03-24 16:17] Saptaparna commented on #36705
Very strange! I generated the file by using the test command from McM and then did this: `Events->Scan("GenEventInfoProduct_generator__GEN.obj.weights_")`. However, clicking through the branch, I can see the weights. So, at least the file was generated correctly.

[2022-03-24 16:26] srimanob commented on #37315
I've prepared the pull request to disable it in case we still face _random_ issue of failure comparison.
https://github.com/cms-sw/cmssw/pull/37337

[2022-03-24 16:41] agrohsje commented on #36705
You need to replace GEN with SIM. Your example is wmLHEGS.

[2022-03-24 16:46] Saptaparna commented on #36705
I know. I just did that. I am using this example to set up other diagnostic tests, hence the questions.

[2022-03-24 17:08] Saptaparna commented on #36705
One more question: how do I associate a weight with an "id"? Is there an easy way to do that? Otherwise, I'll write a quick edanalyzer.

[2022-03-24 19:05] khurtado commented on #37240
@dan131riley Sorry for the delay. We found a bug in the script that finds these duplicated LFNs. After fixing it, it seems the. only problem is DQMIO.

[2022-03-25 00:09] makortel commented on #37323
I crafted a small test ExternalWork-EDProducer that for one stream captures the `edm::WaitingTaskWithArenaHolder` and never calls the `doneWaiting()`. With that I was able reproduce the behavior of job getting stuck (starved) after processing `numberOfConcurrentLuminosityBlocks` x `numberEventsInLuminosityBlock` events (although some times with 4 concurrent lumis it processed one lumi further, and

[2022-03-25 00:09] makortel commented on #37323
assign core

[2022-03-25 00:10] cmsbuild commented on #37323
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-25 09:20] jpata commented on #37227
@smuzaffar just to check - should v6-24-00-patches be propagated to https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_4_X/master/root.spec ?

[2022-03-25 09:23] smuzaffar commented on #37227
yes

[2022-03-25 09:24] smuzaffar commented on #37227
I will take care of it

[2022-03-25 09:37] smuzaffar commented on #37227
https://github.com/cms-sw/cmsdist/pull/7722 updates root in 12.4.X to head of v6-24-00-patches

[2022-03-25 14:24] wddgit commented on #37323
I took a quick look. There is a lot I don't understand in the discussion above, but there is one point that might or might not be relevant. If I am remembering correctly, the concurrent lumi system has a behavior that the oldest lumi will block it getting beyond the oldest lumi  by more than the limit on the number of concurrent lumis. For example, if 4 concurrent lumis are allowed and you are try

[2022-03-25 14:29] fwyzard commented on #37323
@wddgit IIUC, this would explain the behaviour seen in the tests.

[2022-03-25 14:36] Dr15Jones commented on #37323
I have no recollection that is how I made the Limited Serial Queues work. The limited queue is just made up of N SerialTaskQueues where they all are given the chance to run a given task but only the first one does so. In the case of pausing, only the queue that grabbed the task will be paused. All the other queues should still run normally.

[2022-03-25 14:38] wddgit commented on #37323
My recollection is that each concurrent lumi has a SerialTaskQueue of its own. There is a task put in all these queues for every lumi. Continuing the example, one queue is stuck on lumi 2 and has waiting in its queue tasks for lumis 3, 4,  and 5 that must be completed before the lumis are considered complete (things holding resources are captured in the lambda in the queue). These tasks must run e

[2022-03-25 14:40] VinInn commented on #35376
I spent last few days in trying to understand why the Fishbone was not reproducible on GPU (even after doing full combinatorial)

at the end was this
[code]

I hpe everybody appreciates the level of sophistication required to obtain bit-wise reproducibility in present of not  ordered collection

[2022-03-25 15:02] perrotta commented on #37268
Ok, https://github.com/cms-sw/cmssw/pull/37319 looks like it has fixed the issue, or at least I did not see those failing comparisons any more in the PR tests since it was merged in master in CMSSW_12_4_X_2022-03-24-1100

Now backports of the combined fix, #37282 + #37319, should be prepared for:
- CMSSW_12_2_X (to fix the bug introduced with #37179)
- CMSSW_12_3_X (to fix the bug introduced with

[2022-03-25 16:09] silviodonato commented on #35376
Many thanks Vincenzo!

[2022-03-25 16:16] VinInn commented on #35376
I would like to point out that a similar combinatorial algorithm running on CPU using GPU output will NOT reproduce either (unless the collection is somehow sorted).

[2022-03-25 16:35] JanFSchulte commented on #37290
Addressed in #37348

[2022-03-25 16:58] wddgit commented on #37323
I remember running into this behavior 3 or 4 years ago, puzzling it out and understanding it. I've been looking for the last 2 hours trying to remember the exact resource that blocks things, but I don't see it yet... It must still be there since you are seeing the behavior now. I'll continue after lunch.

[2022-03-25 18:28] wddgit commented on #37323
Thanks Matti for the comment on Slack. I just noticed it. Now I see the reason for the behavior. All streams must process all lumis. So in the example, one stream would be stuck on lumi 2 and never get to lumis 3, 4, and 5. So lumis 3, 4,  and 5 would still be incomplete. The concurrent luminosity block LimitedTaskQueue would be full and no more lumis would start. (It has nothing to do with resour

[2022-03-25 18:29] makortel commented on #37323
My recollection from earlier discussions is that the behavior of all streams seeing all lumis is intentional (irrespective on how it is actually implemented). Maybe we'd need to think about that again?

[2022-03-25 19:42] srimanob opened #37351 "FastSim in Run-3, driver to follow up"
Following the first attempt to make FastSim Run-3 workflow with
https://github.com/cms-sw/cmssw/pull/37347

There are three issues that we should follow up.
1. Sequence for Validation, DQM and Harvesting (*).
2. Sequence for Nano (**)
3. If we should include GEM or not (i.e. use Run3 modifier as FullSim, no need to exclude it as Run-2)

(*)
cmsDriver:
`cmsDriver.py TTbar_14TeV_TuneCP5_cfi  --relva

[2022-03-25 19:42] cmsbuild commented on #37351
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-25 19:58] makortel commented on #37351
assign fastsim, dqm, xpog

[2022-03-25 19:58] cmsbuild commented on #37351
New categories assigned: fastsim,dqm,xpog

@jfernan2,@sbein,@ahmad3213,@ssekmen,@mariadalfonso,@mdhildreth,@rvenditti,@lveldere,@gouskos,@emanueleusai,@fgolf,@pbo0,@civanch,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-26 16:39] dan131riley opened #37362 "Infinite(?) recursion in Basic2DGenericTopoClusterizer::buildTopoCluster() in WF 138.3"
We're getting segmentation faults in WF 138.3 that don't leave a stack trace, particularly in ASAN builds.  With a partial debug build, I get a stack trace with over 17,000 stack frames:
[code]

[2022-03-26 16:40] cmsbuild commented on #37362
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-26 16:58] dan131riley commented on #36991
Below is a more detailed stack trace identifying the buffer overflow at line 2614.  Possibly just need a check for `std::find()`   at line 2612 not finding the requested element?

https://github.com/cms-sw/cmssw/blob/961a8d445c50620ab955ddf8f417dcb058cef7d3/Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc#L2612-L2614

[code]

[2022-03-26 17:01] jfernan2 commented on #36991
ping @lecriste @rovere
Thanks

[2022-03-26 20:06] Dr15Jones opened #37363 "PileUp::endStream() has a race condition in JobReport"
As discussed in https://cms-talk.web.cern.ch/t/crab-jobs-failed-with-exit-code-50115/8567/19 , the `PileUp::endStream()` calls can happen concurrently.

https://github.com/cms-sw/cmssw/blob/40f81cc631c5c1d2cab343a84a722cb120f02637/Mixing/Base/src/PileUp.cc#L198-L204

Those calls call EmbeddedRootSource::endJob()

https://github.com/cms-sw/cmssw/blob/7356243aa00b72d631153095cf6b8dca5e58efba/IOPool/

[2022-03-26 20:06] Dr15Jones commented on #37363
assign core

[2022-03-26 20:07] cmsbuild commented on #37363
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-26 20:07] cmsbuild commented on #37363
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-26 22:36] Dr15Jones commented on #37362
assign reconstruction

[2022-03-26 22:36] cmsbuild commented on #37362
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-27 12:21] perrotta commented on #37268
+1
- Fixed by https://github.com/cms-sw/cmssw/pull/37282
 and https://github.com/cms-sw/cmssw/pull/37319, and their backports to 12_2_X and 12_3_X

[2022-03-27 12:22] #37268 closed

[2022-03-28 06:10] smuzaffar commented on #37227
https://github.com/cms-sw/cmsdist/pull/7722 is ready using the tip (commit: 4b08829) of root v6-24-00-patches but I still see the warning
[code]

[2022-03-28 06:27] smuzaffar commented on #37227
by the way, this warning is also present in root `master` and `v6.26` based cmssw IBs

[2022-03-28 07:23] jalopezg-r00t commented on #37227
The applied patch should fix the original issue reported in this ticket (i.e. invoking a `[[nodiscard]]` function via CallFunc interface does not emit a warning if the result is not used).  However, using such function at the prompt still emits a warning if the result is not directly used.

Can you try this and confirm that it does not generate a diagnostic?

[2022-03-28 07:42] smuzaffar commented on #37227
thanks @jalopezg-r00t , I confirm that with latest root v6.24-patches it does not generate the warning.

[2022-03-28 07:42] smuzaffar commented on #37227
https://github.com/cms-sw/cmsdist/pull/7722 has been merged and will be available for 11h00 IBs

[2022-03-28 09:37] lecriste commented on #36991
Thanks for detailed stack trace @dan131riley.
I think [this](https://github.com/lecriste/cmssw/commit/12e1b447e0b944c3a1f56fccc3a3113509e5a497) will fix the issue but I don't know hot to reproduce that report.
Where can I find this `monitor_workflow.py`?

`cmsDriver.py step3  -s RAW2DIGI,L1Reco,RECO,RECOSIM,PAT,VALIDATION:@phase2Validation+@miniAODValidation,DQM:@phase2+@miniAODDQM --conditions au

[2022-03-28 10:03] mmusich opened #37373 "G4Exception in Run3Winter22 MC samples"
Dear all,
we've been observing a G4-related exception in the GS step for the creation of samples for Tracking POG studies within the Run3Winter22 MC campaign in `CMSSW_12_2_1`.
This has prevented the completion of about 1/3 of the needed statistics (see [PmP)](https://cms-pdmv.cern.ch/pmp/historical?r=TRK-Run3Winter22GS-00001,TRK-Run3Winter22GS-00004,TRK-Run3Winter22wmLHEGS-00002,TRK-Run3Winter22G

[2022-03-28 10:03] mmusich commented on #37373
@kskovpen @vmariani FYI

[2022-03-28 10:04] cmsbuild commented on #37373
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-28 10:05] mmusich commented on #37373
assign simulation

[2022-03-28 10:06] cmsbuild commented on #37373
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-28 11:38] civanch commented on #37373
This problem is known and there is fix/work around. Should it be backported to 12_2_X now or it is too late?

[2022-03-28 11:40] mmusich commented on #37373
I would let PPD decide.
@rappoccio FYI

[2022-03-28 11:42] mmusich commented on #37373
@civanch for my education, what is the concerned PR in master?

[2022-03-28 11:44] qliphy commented on #37373
In the meantime, @civanch  Please make a backport PR the sooner the better which may still be able to be included if the timeline is allowed.

[2022-03-28 11:46] civanch commented on #37373
Improved handling of low-energy tracks which stack in geometry. Main part of the fix is even in 12_2_X but recently we faced that the back trace is corrupted and  the track is not necessary killed by Geant4. The most recent updated was not propagated to previous releases.

[2022-03-28 11:54] kmaeshima commented on #37373
yes, please backport to 12_2_X asap.  We are planning to build it this week, with other fixes.   thanks.  Sal & Kaori

[2022-03-28 13:02] jpata commented on #37362
Thanks, I'm able to reproduce this with the latest ASAN build CMSSW_12_4_ASAN_X_2022-03-25-1100.
I'm going to check CMSSW_12_4_ASAN_X_2022-03-21-1100 as well.
Are earlier ASAN builds available somewhere to check when the problem first appeared?

[2022-03-28 14:11] #37363 closed

[2022-03-28 14:57] dan131riley commented on #36991
You don't need it, you can reproduce by setting up an ASAN work area and doing `runTheMatrix.py -l 35434.0 -t 4`

[2022-03-28 15:01] SohamBhattacharya commented on #37227
Hi @jpata , could you please clarify if this is still required from E/Gamma, or it's already been fixed?

[2022-03-28 15:03] jordan-martins opened #37385 "Pythia8EGun generator module requires synchronization on LuminosityBlock boundaries"
We have 2 Guns (which we know does not work with the concurrent modules) samples from the Run3Winter22 campaign that are failing 100% at the GEN step with a very odd error to us:

[code]

It seems that it has some stream defined anywhere but we (PdmV nor PnR) can not identify from where this config is set up (and we haven't set up anything on our own). Here are the two wfs:

[wf1](https://dmytro.w

[2022-03-28 15:04] cmsbuild commented on #37385
A new Issue was created by  @jordan-martins Jordan Martins.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-28 15:11] dan131riley commented on #37362
We don't have earlier ASAN builds, as far as I know.  My recollection is that WF 138.3 has been failing in ASAN for at least a few months, but there's previously been no followup because the failures never leave a stack trace.

[2022-03-28 15:59] makortel commented on #37385
assign generators

[2022-03-28 15:59] cmsbuild commented on #37385
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-28 16:31] civanch commented on #37373
PRs #37375 and #37381 should significantly reduce number of fatal exceptions and provide more correct treatment of exceptions.

[2022-03-28 16:34] makortel commented on #37385
The `Pythia8EGun` is declared as one of the module types for which cmsDriver should explicitly set the `numberOfConcurrentLuminosityBlocks = 1`
https://github.com/cms-sw/cmssw/blob/7f2d0d87f04b68a05cb5872399b6a52aacf2e62a/Configuration/Generator/python/concurrentLumisDisable.py#L1-L11

so in that sense this behavior is expected (more details on "why" in https://github.com/cms-sw/cmssw/issues/25090

[2022-03-28 17:37] makortel commented on #37227
+core

[2022-03-28 22:22] missirol opened #37392 "failure of HLT-Validation tests in reading `edm::HepMCProduct`"
The HLT-Validation tests failed in `CMSSW_12_4_X_2022-03-28-1100`, with the error in [1], e.g.
https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_4_X_2022-03-28-1100/slc7_amd64_gcc10/RelVal_DigiL1Raw_GRun_MC.log

  - The same tests passed in the previous 12_4_X IB, and they are passing in earlier releases (e.g. 12_3_X).
  - Locally, the error can be reproduced in `CMSSW_12_4_X_20

[2022-03-28 22:22] cmsbuild commented on #37392
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-28 22:44] makortel commented on #37392
assign hlt, generators

[2022-03-28 22:44] makortel commented on #37392
FYI @mkirsano

[2022-03-28 22:44] cmsbuild commented on #37392
New categories assigned: hlt,generators

@mkirsano,@missirol,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-28 23:56] makortel commented on #37392
@missirol Could you give a recipe to reproduce? (this test is not part of addOnTests, right?)

[2022-03-29 06:29] missirol commented on #37392
Here it goes:
[code]
`RelValOLD` will fail, while `RelValNEW` will not. The only difference between the two is the input file (and HLT does not actually run here, see the `steps`).

---

Indeed, it is not. It is part of additional tests designed by HLT which run as "HLT-Validation" tests in IB [*]. Afaiu, the HLT-Validation tests run in "DEFAULT" IBs, but not in other IB flavours (e.g. DEVEL IBs).

[2022-03-29 06:33] smuzaffar commented on #37392
correct, the HLT tests are only run for default IBs and are not part of PR tests. @mkirsano any idea?

[2022-03-29 07:32] jpata commented on #37227
@SohamBhattacharya they are still in the configs https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoEgamma/EgammaElectronProducers/python/electronPFIsolationValues_cff.py#L98, and if Egamma is no longer using them, they should be removed.

[2022-03-29 09:00] civanch commented on #37373
+1

[2022-03-29 09:00] cmsbuild commented on #37373
This issue is fully signed and ready to be closed.

[2022-03-29 12:15] Dr15Jones commented on #37392
assign core

[2022-03-29 12:15] cmsbuild commented on #37392
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-29 12:52] mmusich commented on #36405
Seems the idea didn't fly so far, so let me try to initiate the discussion.

   * I (personally) don't know the reason of saving `LocalPoint pos_`.  I would need some of the actual users of the data to comment about it.
   * `float charge_ /*cluster charge*/; float pathlength_ /*path inside the module*/;` not sure how precise this needs to be for physics purposes, perhaps could be truncated.
   *

[2022-03-29 12:58] jpata commented on #37362
I looked into this a bit, and it seems `buildTopoCluster` recurses over all the rechits, which can easily be 50k or more.
https://github.com/cms-sw/cmssw/blob/5f75b2d25170c527f84074e9e817231cedd8ba8b/RecoParticleFlow/PFClusterProducer/plugins/Basic2DGenericTopoClusterizer.cc#L121

This does not crash the normal release, but it does crash ASAN (possibly a canary in the coalmine).
We should look for

[2022-03-29 13:14] drkovalskyi commented on #37240
Hi everyone. This issue affects the Tier0 operations and the detector commissioning. Is there any chance to speed it up?

[2022-03-29 14:13] dan131riley commented on #37240
We will need to switch back to the `createGlobalIdentifier()`, I'm still looking into whether we can restore the DQMIO files to the input files FJR, I should have a PR tomorrow at the latest.

[2022-03-29 14:16] drkovalskyi commented on #37240
Thanks Dan.

[2022-03-29 14:34] perrotta commented on #37240
That is exactly what I meant: if the PR is ready by tomorrow(ish), we can wait and build 12_2_2 with it.
Otherwise we build 12_2_2 now, since there are other requests for it, and another patch later on when the fix is available (not the preferred option)

[2022-03-29 15:16] Dr15Jones commented on #37392
@pcanal it looks like we have hit a problem reading back a file we could read before.

[2022-03-29 15:17] Dr15Jones commented on #37392
@makortel did we change the compiler recently?

[2022-03-29 15:23] makortel commented on #37392
Adding some debug symbols to the first stack frames
[code]

[2022-03-29 15:31] smuzaffar commented on #37392
I have opened a revert of pythia8 change https://github.com/cms-sw/cmsdist/pull/7731 and will try to run the test mentioned [here](https://github.com/cms-sw/cmssw/issues/37392#issuecomment-1081454800)

[2022-03-29 17:34] perrotta opened #37403 "Build CMSSW_12_4_0_pre2"

[2022-03-29 17:34] cmsbuild commented on #37403
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-03-29 17:35] perrotta commented on #37403
+1

[2022-03-29 17:36] cmsbuild commented on #37403
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-03-29 17:36] cmsbuild commented on #37403
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, slc7_amd64_gcc11, slc7_amd64_gcc10, cs8_ppc64le_gcc11, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2022-03-29 17:38] cmsbuild commented on #37403
The build has started for slc7_amd64_gcc11 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3408/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:38] cmsbuild commented on #37403
The build has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3407/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:38] cmsbuild commented on #37403
The build has started for cs8_amd64_gcc10 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3406/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:38] pcanal commented on #37392
It may be related to the improvements/fixes I am currently making to the support for `std::pair`.

[2022-03-29 17:40] cmsbuild commented on #37403
The build has started for slc7_ppc64le_gcc11 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3410/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:40] cmsbuild commented on #37403
The was an error for slc7_ppc64le_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-slc7_ppc64le_gcc11/3410

[2022-03-29 17:40] cmsbuild commented on #37403
The build has started for cs8_ppc64le_gcc11 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3409/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:40] cmsbuild commented on #37403
The was an error for cs8_ppc64le_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-cs8_ppc64le_gcc11/3409

[2022-03-29 17:41] cmsbuild commented on #37403
The build has started for cs8_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3411/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:41] cmsbuild commented on #37403
The was an error for cs8_aarch64_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-cs8_aarch64_gcc11/3411

[2022-03-29 17:41] cmsbuild commented on #37403
The was an error for slc7_aarch64_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-slc7_aarch64_gcc11/3412

[2022-03-29 17:45] smuzaffar commented on #37403
@perrotta , I am looking in to these errors

[2022-03-29 17:48] iarspider commented on #37403
build cmssw-tool-conf

[2022-03-29 17:53] cmsbuild commented on #37403
The build has started for slc7_amd64_gcc10 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3413/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:55] cmsbuild commented on #37403
The build has started for slc7_ppc64le_gcc11 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3414/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:55] cmsbuild commented on #37403
The build has started for slc7_amd64_gcc11 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3415/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:56] cmsbuild commented on #37403
The build has started for cs8_ppc64le_gcc11 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3416/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:57] cmsbuild commented on #37403
The build has started for alma8_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3417/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 17:57] cmsbuild commented on #37403
The was an error for alma8_amd64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-alma8_amd64_gcc10/3417

[2022-03-29 17:58] cmsbuild commented on #37403
The build has started for cs8_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3418/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 18:01] smuzaffar commented on #37403
thanks @iarspider , yes there was a typo in release-build script. In such cases, we need to retry the jenkins job to restart the build. The bot build command here does not work. I have restarted all the build-release jobs now

[2022-03-29 18:04] makortel commented on #37392
So `DataFormats/HepMCCandidate` does not depend on `hepmc` (it's basically just a copy of the information). With `strace` I didn't see any other libraries whose name include `hepmc` or `pythia` except those related to `PhysicsTools/HepMCCandAlgos` package.

[2022-03-29 18:07] cmsbuild commented on #37403
The build has started for alma8_amd64_gcc10 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3419/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 18:09] smuzaffar commented on #37403
alma8 issue fixed, we had a arch name check in `PKGTOOLS/scripts/prepare-cmsdist` which was not recognizing alma8_amd64 as valid arch. This is fixed now and alma release is also in build process

[2022-03-29 19:41] cmsbuild commented on #37403
The build has started for slc7_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3420/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 19:49] cmsbuild commented on #37403
The build has started for cs8_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3421/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-29 23:42] dan131riley commented on #37240
#37405 has the PR for master (comments and criticisms are welcome).  Backports will likely wait until tomorrow morning (US EDT).

[2022-03-30 02:09] cmsbuild commented on #37403
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-cs8_ppc64le_gcc11/3416
Some tes

[2022-03-30 02:16] cmsbuild commented on #37403
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-slc7_ppc64le_gcc11/3414
Some t

[2022-03-30 03:11] cmsbuild commented on #37403
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-cs8_ppc64le_gcc11/3416

Tests results:
47 46 45 34 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 03:18] cmsbuild commented on #37403
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-slc7_ppc64le_gcc11/3414

Tests results:
47 46 45 34 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 03:36] cmsbuild commented on #37403
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-slc7_amd64_gcc10/3413
Some tests

[2022-03-30 03:45] cmsbuild commented on #37403
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-cs8_amd64_gcc10/3418
Some tests (

[2022-03-30 03:51] cmsbuild commented on #37403
The build has finished sucessfully for the architecture alma8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-alma8_amd64_gcc10/3419
Some tes

[2022-03-30 04:02] cmsbuild commented on #37403
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-slc7_amd64_gcc11/3415
Some tests

[2022-03-30 04:27] cmsbuild commented on #37403
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-slc7_amd64_gcc10/3413

Tests results:
47 46 45 34 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 04:32] cmsbuild commented on #37403
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-cs8_amd64_gcc10/3418

Tests results:
47 46 45 34 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 04:39] cmsbuild commented on #37403
The tests have finished for alma8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-alma8_amd64_gcc10/3419

Tests results:
47 46 45 34 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 04:51] cmsbuild commented on #37403
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-slc7_amd64_gcc11/3415

Tests results:
47 46 45 34 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 05:46] cmsbuild commented on #37403
The build has started for slc7_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3423/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-30 05:53] smuzaffar commented on #37403
I have restarted build-release job for slc7_aarch64_gcc11 which failed last night due to no space left on disk. There is  cms user who has over 50GB of data on this machine ( under `/data/dsouthwi` ). I have asked the user to clean this up.

[2022-03-30 06:02] smuzaffar commented on #37392
OK looks like it is not related to pythia8/hepmc update. We also had updated root for https://github.com/cms-sw/cmsdist/pull/7722 for this IB where we saw this issue. We updated root to tip of v6.24.patches branch to fix the issue reported https://github.com/cms-sw/cmssw/issues/37227.  @pcanal https://github.com/root-project/root/compare/292e441...4b08829  are the root changes which were included

[2022-03-30 06:02] perrotta commented on #37403
Thank you Shahzad.
Do I understand correctly that until David cleans that space out there will be no hope of having that arch built?

[2022-03-30 06:13] smuzaffar commented on #37403
Not really, we still have 65GB disk free which should be enough to build the release. Last night this 65GB was not enough as we were building nearly all the externals (as we have updated pip3/setuptools). But as most of the externals we built and upload during the last run so existing free space should be enough to build the release.

[2022-03-30 06:19] cmsbuild commented on #37403
The was an error for cs8_aarch64_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-cs8_aarch64_gcc11/3421

[2022-03-30 06:21] cmsbuild commented on #37403
The build has started for cs8_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3424/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-30 06:55] qliphy opened #37407 "Build CMSSW_12_2_2"

[2022-03-30 06:55] cmsbuild commented on #37407
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-03-30 06:56] qliphy commented on #37407
+1

[2022-03-30 06:56] cmsbuild commented on #37407
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-03-30 06:56] cmsbuild commented on #37407
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-03-30 06:57] cmsbuild commented on #37407
The build has started for cc8_amd64_gcc9 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3425/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-30 06:58] cmsbuild commented on #37407
The build has started for slc7_amd64_gcc900 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3427/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-30 06:58] cmsbuild commented on #37407
The build has started for slc7_amd64_gcc10 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3426/console
CMSDIST Branch: [IB/CMSSW_12_2_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-30 07:00] cmsbuild commented on #37407
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3428/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-30 07:48] smuzaffar commented on #37407
@qliphy , can we please abort this release ? As it is also building aarch64 release which means it is going to use the same build machine which is running out of disk. I would suggest to start it only once we have uploaded the cmssw 12.4.0.pre2

[2022-03-30 07:56] perrotta commented on #37407
Yes, correct @smuzaffar : sorry we did not think at it,
For my education: to abort it is it enough to close this issues, or any specific command is requested instead?

[2022-03-30 07:57] smuzaffar commented on #37407
I think abort is enough

[2022-03-30 08:03] perrotta commented on #37407
abort
(I found it)

[2022-03-30 08:04] cmsbuild commented on #37407
Deleting CMSSW_12_2_2:

  - Release successfully deleted

  - cmssw tag CMSSW_12_2_2 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_12_2_2/slc7_amd64_gcc900. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_2_2/slc7_amd64_gcc10. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_2_2/slc7_aarch64_gcc9. Probaly i

[2022-03-30 08:04] cmsbuild commented on #37407
The was an error for slc7_amd64_gcc900.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_amd64_gcc900/3427

[2022-03-30 08:06] qliphy commented on #37407
thanks @smuzaffar @perrotta  Indeed we should let 12_4_0_pre2 build get finished first.

[2022-03-30 09:40] SohamBhattacharya commented on #37227
@jpata Noted, I'll make a PR removing them and also [1] as pointed out by @tvami .

[1] https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaElectronProducers/python/electronPFIsolationDeposits_cff.py#L24-L37

[2022-03-30 09:55] SanghyunKo commented on #36705
Hi all, as @agrohsje already confirmed, I also see 46 weights in the HepMC file after adopting @smrenna's comment.
The reason of having 91 weights in `GenEventInfoProduct` is that Pythia8.3 is directly adding PS weights to `HepMC::GenEvent` at the following:
[code]
while in 8.2, the weights weren't added there so in `Pythia8Hadronizer.cc` we have an additional block to add PS weights manually:
[co

[2022-03-30 11:41] cmsbuild commented on #37403
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-slc7_aarch64_gcc11/3423
Some t

[2022-03-30 11:57] smrenna commented on #36705
Great work!   I am on spring break but can look at this one when I am back.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sanghyun Ko ***@***.***>
Sent: Wednesday, March 30, 2022 5:56:02 AM
To: cms-sw/cmssw ***@***.***>
Cc: Stephen Mrenna ***@***.***>; Mention ***@***.***>
Subject: Re: [cms-sw/cmssw] 134 PS weights instead of 46 in Pythia 8.3 (Issue #36705)

Hi

[2022-03-30 12:23] cmsbuild commented on #37403
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-slc7_aarch64_gcc11/3423

Tests results:
47 45 42 32 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-03-30 12:52] makortel commented on #37392
unassign hlt,generators

[2022-03-30 13:40] pcanal commented on #37392
@smuzaffar https://github.com/root-project/root/pull/10230 might/should help.

[2022-03-30 14:07] smuzaffar commented on #37392
thanks @pcanal , is there a v6-24-patches version of it?

[2022-03-30 14:11] jpata commented on #27741
not going to be addressed.

[2022-03-30 14:11] #27741 closed

[2022-03-30 14:19] smuzaffar commented on #37403
@perrotta , @qliphy , please do not wait for cs8_aarch64 release to be available. if there is no other reason then please go ahead and start the upload. cs8_aarch64 might take few more hours to build. once upload of this is done then you can start the cmssw 12.2.2 build ( as that one only has one release for aarch)

[2022-03-30 17:36] perrotta commented on #37403
upload all

[2022-03-30 17:37] cmsbuild commented on #37403
Queing Jenkins upload for slc7_amd64_gcc10

[2022-03-30 17:37] cmsbuild commented on #37403
Queing Jenkins upload for cs8_amd64_gcc10

[2022-03-30 17:37] cmsbuild commented on #37403
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-03-30 17:37] cmsbuild commented on #37403
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-03-30 17:37] cmsbuild commented on #37403
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-03-30 17:37] cmsbuild commented on #37403
Queing Jenkins upload for slc7_amd64_gcc11

[2022-03-30 17:37] cmsbuild commented on #37403
Queing Jenkins upload for alma8_amd64_gcc10

[2022-03-30 17:38] cmsbuild commented on #37403
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2268/console

[2022-03-30 17:38] cmsbuild commented on #37403
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2270/console

[2022-03-30 17:38] cmsbuild commented on #37403
The upload has started for alma8_amd64_gcc10 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2267/console

[2022-03-30 17:38] cmsbuild commented on #37403
The upload has started for cs8_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2269/console

[2022-03-30 17:39] cmsbuild commented on #37403
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2271/console

[2022-03-30 17:39] cmsbuild commented on #37403
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre2-slc7_aarch64_gcc11/2270

[2022-03-30 17:39] cmsbuild commented on #37403
The upload has started for slc7_amd64_gcc11 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2272/console

[2022-03-30 17:40] cmsbuild commented on #37403
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre2-cs8_ppc64le_gcc11/2271

[2022-03-30 17:40] cmsbuild commented on #37403
The upload has started for slc7_amd64_gcc10 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2273/console

[2022-03-30 17:41] cmsbuild commented on #37403
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre2-slc7_amd64_gcc11/2272

[2022-03-30 17:42] cmsbuild commented on #37403
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2274/console

[2022-03-30 17:42] cmsbuild commented on #37403
The upload has successfully finished for alma8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre2-alma8_amd64_gcc10/2267

[2022-03-30 17:43] cmsbuild commented on #37403
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre2-slc7_ppc64le_gcc11/2274

[2022-03-30 17:45] cmsbuild commented on #37403
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre2-slc7_amd64_gcc10/2273

[2022-03-30 17:46] cmsbuild commented on #37403
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre2-cs8_amd64_gcc10/2269

[2022-03-30 17:56] cmsbuild commented on #37403
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre2-cs8_aarch64_gcc11/3424

Tests results:
47 45 42 32 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-03-30 18:06] perrotta commented on #37403
release-notes

[2022-03-30 18:06] cmsbuild commented on #37403
Generating release notes since CMSSW_12_4_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-03-30 18:06] cmsbuild commented on #37403
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_4_0_pre2 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
alma8_amd64_gcc10
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_4_0_pre1 can be found at:

h

[2022-03-30 18:07] perrotta opened #37416 "Build CMSSW_12_2_2"

[2022-03-30 18:07] #37407 closed

[2022-03-30 18:07] perrotta commented on #37416
+1

[2022-03-30 18:08] cmsbuild commented on #37416
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-03-30 18:08] cmsbuild commented on #37416
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-03-30 18:09] cmsbuild commented on #37416
The build has started for slc7_amd64_gcc10 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3431/console
CMSDIST Branch: [IB/CMSSW_12_2_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-30 18:09] cmsbuild commented on #37416
The build has started for cc8_amd64_gcc9 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3430/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-30 18:09] cmsbuild commented on #37416
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3429/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-03-30 18:10] cmsbuild commented on #37403
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_0_pre2

[2022-03-30 18:22] pcanal commented on #37392
You can try: https://github.com/root-project/root/pull/10280

[2022-03-30 18:27] smuzaffar commented on #37392
many thanks @pcanal , I have started the tests https://github.com/cms-sw/root/pull/167 . Once the cmssw dev area is available then I will run the HLT too

[2022-03-30 19:56] #36991 closed

[2022-03-30 20:00] makortel commented on #36991
Oh, the automatic closing works via commit messages too.

[2022-03-30 20:31] cmsbuild commented on #37416
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_ppc64le_gcc9/3429
Some tests (

[2022-03-30 21:05] cmsbuild commented on #37416
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_aarch64_gcc9/3433
Some tests (

[2022-03-30 21:10] makortel commented on #37385
The problem in ConfigBuilder is fixed in https://github.com/cms-sw/cmssw/pull/37417. I'll make backports to 12_3_X and 12_2_X after the review of that has completed.

[2022-03-30 21:24] cmsbuild commented on #37416
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_amd64_gcc10/3431
Some tests ( ru

[2022-03-30 21:28] cmsbuild commented on #37416
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_ppc64le_gcc9/3429

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 21:28] cmsbuild commented on #37416
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-cc8_amd64_gcc9/3430
Some tests ( runThe

[2022-03-30 22:07] cmsbuild commented on #37416
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_aarch64_gcc9/3433

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 22:11] cmsbuild commented on #37416
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_amd64_gcc10/3431

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 22:14] cmsbuild commented on #37416
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-cc8_amd64_gcc9/3430

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 22:34] cmsbuild commented on #37416
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_amd64_gcc900/3432
Some tests (

[2022-03-30 23:20] cmsbuild commented on #37416
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2-slc7_amd64_gcc900/3432

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-30 23:27] tvami commented on #36405
Here is a summary from the HSCP team:
* charge_ and pathlenght_: we definitely need them. They are already float and not double. An option may be to use float16 instead for "float (32)" or "[half](https://en.wikipedia.org/wiki/Half-precision_floating-point_format#IEEE_754_half-precision_binary_floating-point_format:_binary16)". There are already float16 used in cmssw. The accuracy for numbers arou

[2022-03-30 23:43] #37373 closed

[2022-03-30 23:47] qliphy commented on #37416
upload all

[2022-03-30 23:48] cmsbuild commented on #37416
Queing Jenkins upload for slc7_amd64_gcc900

[2022-03-30 23:48] cmsbuild commented on #37416
Queing Jenkins upload for slc7_aarch64_gcc9

[2022-03-30 23:48] cmsbuild commented on #37416
Queing Jenkins upload for slc7_ppc64le_gcc9

[2022-03-30 23:48] cmsbuild commented on #37416
Queing Jenkins upload for slc7_amd64_gcc10

[2022-03-30 23:48] cmsbuild commented on #37416
The upload has started for slc7_amd64_gcc10 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2276/console

[2022-03-30 23:49] cmsbuild commented on #37416
The upload has started for cc8_amd64_gcc9 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2275/console

[2022-03-30 23:49] cmsbuild commented on #37416
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_2-slc7_amd64_gcc10/2276

[2022-03-30 23:50] cmsbuild commented on #37416
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_2-cc8_amd64_gcc9/2275

[2022-03-30 23:50] cmsbuild commented on #37416
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2279/console

[2022-03-30 23:50] cmsbuild commented on #37416
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_2-slc7_aarch64_gcc9/2277

[2022-03-30 23:52] cmsbuild commented on #37416
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_2-slc7_ppc64le_gcc9/2279

[2022-03-30 23:55] cmsbuild commented on #37416
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_2-slc7_amd64_gcc900/2278

[2022-03-30 23:57] qliphy commented on #37416
release-notes

[2022-03-30 23:58] cmsbuild commented on #37416
Generating release notes since CMSSW_12_2_1_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-03-30 23:58] cmsbuild commented on #37416
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_2_2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_2_1_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_2_2

Cheers

[2022-03-31 06:18] smuzaffar commented on #37392
@pcanal , https://github.com/root-project/root/pull/10280 looks good, PR tests passed https://github.com/cms-sw/root/pull/167#issuecomment-1084043391 and also the additonal HLT tests mentioned https://github.com/cms-sw/cmssw/issues/37392#issuecomment-1081454800 worked too

[2022-03-31 06:51] mmusich commented on #36405
@tvami thanks for reply:

would somebody of your group be available to study the effect of reducing to float16 ?

can't it be checked, e.g., by checking the barycenter of the corresponding cluster? Do you really need post-CPE precision?

This is not the right approach. Let's study what is really needed and then trim it down to the bare minimum please. For example could the code that calculates you

[2022-03-31 07:13] dvannerom commented on #36405
Hello Marco,

Sorry I missed this email which is actually very important for us FCP analyzers.

- We need the local position of the hits to be able to ignore "edge hits". Hits near the edge of a module typically show a lower dE/dx and we need to clean these out of our hit sample for a given track. In our analyzer, this looks something like that:
`hit_localX.push_back(dedx->pos(i).x());`
`hit_local

[2022-03-31 07:15] jfernan2 commented on #36991
+1
For the records

[2022-03-31 07:15] cmsbuild commented on #36991
This issue is fully signed and ready to be closed.

[2022-03-31 10:59] haozturk commented on #34393
Hi folks, we started to see this issue with more and more RAW files, I wanted to give a gentle bump to this issue to understand how to proceed with the processing of such files. A recent example:
`/store/data/Run2018C/ParkingBPH3/AOD/20Jun2021_UL2018-v1/260005/FA1D9039-7044-7443-887D-68FBDBB732D5.root`

[2022-03-31 15:05] clacaputo opened #37425 "Can we move PixelTracks used for HI reco to patatrack PixelTracks, using GPU?"
This issue is intended to initiate a discussion about whether the pixeltracks used for HI reco can be moved to patatrack pixel tracks that also run on GPU.

This would be an advantage also for 2022 data taking since the HI reco happens during the Christmas period at CERN also using the HLT farm that has gpus.

[2022-03-31 15:06] clacaputo commented on #37425
assign reconstruction
assign heterogeneous

[2022-03-31 15:06] cmsbuild commented on #37425
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-31 15:18] clacaputo commented on #37425
Tagging HI reco contact: @mandrenguyen

[2022-03-31 15:27] haozturk commented on #34393
My previous example was an AOD, sorry to misword it. Here is a RAW file which had a similar issue recently: `/store/data/Run2018B/MuonEG/RAW/v1/000/318/874/00000/589245CE-197B-E811-BA56-FA163E34467F.root`

[2022-03-31 18:20] mandrenguyen commented on #37425
To give some context, we have been running stand-alone pixel tracking in the offline heavy-ion reconstruction for a while.
We recently moved to the fit model used by patatrack #36558
We are running the patatrack code online, as is done in pp.  I understand that this code is visible offline, as well.
I don't know of any good reason not to simply run the patatrack code.
 I propose to organize a chat

[2022-04-01 01:44] makortel commented on #34393
I tested the `/store/data/Run2018B/MuonEG/RAW/v1/000/318/874/00000/589245CE-197B-E811-BA56-FA163E34467F.root` with `cmsDriver.py test -s RAW2DIGI --conditions auto:run2_data --datatier RECO --eventcontent RECO --data --process reRECO --scenario pp --era Run2_2018 --no_exec` (and adding the file there manually), that AFAICT should be sufficient to read `FEDRawDataCollection_rawDataCollector__LHC` e

[2022-04-01 09:01] VinInn commented on #37425
I suggest you just try and eventually report issues.

[2022-04-01 09:22] thomreis commented on #37323
PR #37430 should fix this issue.

[2022-04-01 11:45] germanfgv commented on #37240
Hi @perrotta @dan131riley, thank you for you prompt actions. I see that this has been backported into `CMSSW_12_2_X`. I would like to know, when will the patch release be available? I'm guessing it will be `CMSSW_12_2_2_patch1`.

[2022-04-01 11:49] qliphy commented on #37240
@germanfgv yes, this will be included in CMSSW_12_2_2_patch1.  We are just trying to include another PR:  https://github.com/cms-sw/cmssw/pull/37417  (to be backported)        Hopefully 12_2_2_patch1 can be made in the weekend.

[2022-04-01 12:39] haozturk commented on #34393
Hi @makortel yes it was retried multiple times. Please find the details below:

1. [The workflow](https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=ReReco-Run2018B-MuonEG-15Feb2022_UL2018-00001)
2. [Full log for a failed job](https://cms-unified.web.cern.ch/cms-unified/joblogs/cmsunified_ACDC0_Run2018B_MuonEG_15Feb2022_UL2018_220308_203145_6338/8021/DataProcessing/1005240d-6f7b-45

[2022-04-01 12:44] perrotta opened #37432 "Build CMSSW_12_2_2_patch1"
Made upon T0 request to include #37414 (Avoid DQMIO file GUID collisions)

[2022-04-01 12:45] makortel commented on #37240
I think it would be better to proceed without #37417 (even if it would lead to two separate patch releases).

[2022-04-01 12:45] cmsbuild commented on #37432
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-04-01 12:45] perrotta commented on #37432
+1

[2022-04-01 12:45] cmsbuild commented on #37432
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_2_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-04-01 12:45] cmsbuild commented on #37432
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-04-01 12:47] cmsbuild commented on #37432
The build has started for slc7_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3434/console
CMSDIST Branch: [REL/CMSSW_12_2_2/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_2/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-01 12:48] perrotta commented on #37432
abort

[2022-04-01 12:49] cmsbuild commented on #37432
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3435/console
CMSDIST Branch: [REL/CMSSW_12_2_2/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_2/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-01 12:49] cmsbuild commented on #37432
Deleting CMSSW_12_2_2_patch1:

  - Release successfully deleted

  - cmssw tag CMSSW_12_2_2_patch1 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_12_2_2_patch1/slc7_amd64_gcc900. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_2_2_patch1/slc7_amd64_gcc10. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_2_2_

[2022-04-01 12:49] cmsbuild commented on #37432
The was an error for slc7_ppc64le_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_2_patch1-slc7_ppc64le_gcc9/3435

[2022-04-01 12:50] perrotta opened #37433 "Build CMSSW_12_2_3"
Made upon T0 request to include #37414 (Avoid DQMIO file GUID collisions)
It has to be a full release because the 12_2_X queue includes now also a cmsdist update

[2022-04-01 12:50] #37432 closed

[2022-04-01 12:50] cmsbuild commented on #37433
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-04-01 12:52] perrotta commented on #37433
+1

[2022-04-01 12:53] cmsbuild commented on #37433
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-04-01 12:53] cmsbuild commented on #37433
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-04-01 12:55] cmsbuild commented on #37433
The build has started for slc7_aarch64_gcc9 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3436/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-01 12:57] cmsbuild commented on #37433
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3437/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-01 13:07] perrotta commented on #37240
CMSSW_12_2_3 is going to be built: https://github.com/cms-sw/cmssw/issues/37433

[2022-04-01 13:07] jpata commented on #34290
type performance-improvements

[2022-04-01 13:08] jpata commented on #34289
type performance-improvements

[2022-04-01 13:08] jpata commented on #31158
type performance-improvements

[2022-04-01 13:08] jpata commented on #35969
type performance-improvements

[2022-04-01 13:10] cmsbuild commented on #37433
The build has started for cc8_amd64_gcc9 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3438/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-01 13:11] jpata commented on #32114
type performance-improvements

[2022-04-01 13:11] jpata commented on #30968
type performance-improvements

[2022-04-01 13:17] cmsbuild commented on #37433
The build has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3439/console
CMSDIST Branch: [IB/CMSSW_12_2_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-01 15:15] makortel commented on #34393
Thanks @haozturk, I was in fact able to reproduce the issue with that file. I'll run some more tests.

[2022-04-01 15:38] cmsbuild commented on #37433
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3-slc7_ppc64le_gcc9/3437
Some tests (

[2022-04-01 15:38] cmsbuild commented on #37433
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3-slc7_aarch64_gcc9/3436
Some tests (

[2022-04-01 15:46] germanfgv commented on #37240
@perrotta the release is built! how long would it be until it is updated in `/cvmfs`?

[2022-04-01 15:49] germanfgv commented on #37240
ohh.. I see the process is still going on for  `slc7_amd64_gcc900`. Nvm!

[2022-04-01 15:57] davidlange6 commented on #37433
why was the cmsdist change needed for this build? Doesn't asking for a patch just take the old cmsdist build?

[2022-04-01 16:08] cmsbuild commented on #37403
The cleanup has started for slc7_aarch64_gcc11

[2022-04-01 16:08] cmsbuild commented on #37403
The cleanup has started for slc7_amd64_gcc10

[2022-04-01 16:08] cmsbuild commented on #37403
The cleanup has started for cs8_ppc64le_gcc11

[2022-04-01 16:08] cmsbuild commented on #37403
The cleanup has started for cs8_amd64_gcc10

[2022-04-01 16:08] cmsbuild commented on #37403
The cleanup has started for slc7_amd64_gcc11

[2022-04-01 16:08] cmsbuild commented on #37403
The cleanup has started for slc7_ppc64le_gcc11

[2022-04-01 16:08] cmsbuild commented on #37403
The cleanup has started for alma8_amd64_gcc10

[2022-04-01 16:08] #37403 closed

[2022-04-01 16:09] cmsbuild commented on #37403
The workspace for alma8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre2-alma8_amd64_gcc10/1974

[2022-04-01 16:09] cmsbuild commented on #37403
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre2-cs8_aarch64_gcc11/1975

[2022-04-01 16:09] cmsbuild commented on #37403
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre2-cs8_amd64_gcc10/1976

[2022-04-01 16:09] cmsbuild commented on #37403
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre2-cs8_ppc64le_gcc11/1977

[2022-04-01 16:09] cmsbuild commented on #37403
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre2-slc7_aarch64_gcc11/1978

[2022-04-01 16:09] cmsbuild commented on #37403
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre2-slc7_amd64_gcc11/1980

[2022-04-01 16:09] cmsbuild commented on #37403
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre2-slc7_amd64_gcc10/1979

[2022-04-01 16:09] cmsbuild commented on #37403
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre2-slc7_ppc64le_gcc11/1981

[2022-04-01 16:33] perrotta commented on #37433
Because in the meanwhile (and already before today's joint meeting) we had already merged #37380, which implied that cmsdist update.

[2022-04-01 16:34] makortel commented on #34393
I was able to reproduce the failure on 1 thread (and skipping events close to the "problematic one", `492405610:307:318874`.

[2022-04-01 16:34] cmsbuild commented on #37433
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3-slc7_aarch64_gcc9/3436

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-01 16:35] cmsbuild commented on #37433
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3-slc7_ppc64le_gcc9/3437

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-01 16:37] davidlange6 commented on #37433
I guess we will  the weekend then.. There is a revert button for such problems.

[2022-04-01 16:37] perrotta commented on #37240
At 3pm we said that the release will take "a few hours" and that it would have been hopefully ready before evening at Fermilab: we are still in track, I guess...

[2022-04-01 16:41] davidlange6 commented on #37240
Yea, sorry I missed the fact that it was full build at 3pm - seems to rely on someone working through the fnal evening to make this converge (at best). Given that no one spoke for this extra development its unfortunate that we make someone work Friday evening just for it.

[2022-04-01 16:46] davidlange6 commented on #37240
Probably a good reason to recover the ability to start branches in GitHub to facilitate patches in cases where the tip of the release branch has moved forward in some way. Useful for data taking.

[2022-04-01 16:48] cmsbuild commented on #37433
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3-slc7_amd64_gcc10/3439
Some tests ( ru

[2022-04-01 16:49] perrotta commented on #37240
@davidlange6 CMSSW_12_2_2 full build took less than six hous two days ago. That's why I asked today at the joint meeting by when it was needed, And the answer was "before this evening at Fermilab". If I am not wrong now it is almost noon at Fermilab, and I think we are perfectly in schedule for what was asked for.

[2022-04-01 16:53] cmsbuild commented on #37433
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3-cc8_amd64_gcc9/3438
Some tests ( runThe

[2022-04-01 17:34] cmsbuild commented on #37433
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3-slc7_amd64_gcc10/3439

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-01 17:39] cmsbuild commented on #37433
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3-cc8_amd64_gcc9/3438

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-01 17:49] #37290 closed

[2022-04-01 18:02] makortel commented on #34393
Actually the problematic file is `/store/data/Run2018B/MuonEG/RAW/v1/000/318/874/00000/52727573-1A7B-E811-8786-02163E0176AF.root`. The job processes data from two files, and the first file `/store/data/Run2018B/MuonEG/RAW/v1/000/318/874/00000/589245CE-197B-E811-BA56-FA163E34467F.root` gets processed fine.

[2022-04-01 18:11] cmsbuild commented on #37433
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3-slc7_amd64_gcc900/3440
Some tests (

[2022-04-01 18:11] makortel commented on #34393
With the right file already my simple `RAW2DIGI` test fails in the same way in 10_6_30, 10_6_30_patch1, 12_2_1, 12_4_0_pre2.

[2022-04-01 18:57] cmsbuild commented on #37433
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3-slc7_amd64_gcc900/3440

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-01 19:05] perrotta commented on #37433
upload all

[2022-04-01 19:05] cmsbuild commented on #37433
Queing Jenkins upload for slc7_aarch64_gcc9

[2022-04-01 19:05] cmsbuild commented on #37433
Queing Jenkins upload for cc8_amd64_gcc9

[2022-04-01 19:06] cmsbuild commented on #37433
Queing Jenkins upload for slc7_amd64_gcc10

[2022-04-01 19:08] cmsbuild commented on #37433
The upload has started for cc8_amd64_gcc9 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2280/console

[2022-04-01 19:08] cmsbuild commented on #37433
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2281/console

[2022-04-01 19:08] cmsbuild commented on #37433
The upload has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2282/console

[2022-04-01 19:09] cmsbuild commented on #37433
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_3-cc8_amd64_gcc9/2280

[2022-04-01 19:09] cmsbuild commented on #37433
The upload has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2284/console

[2022-04-01 19:09] cmsbuild commented on #37433
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_3-slc7_aarch64_gcc9/2281

[2022-04-01 19:09] cmsbuild commented on #37433
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_3-slc7_amd64_gcc10/2282

[2022-04-01 19:10] cmsbuild commented on #37433
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_3-slc7_ppc64le_gcc9/2283

[2022-04-01 19:11] cmsbuild commented on #37433
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_3-slc7_amd64_gcc900/2284

[2022-04-01 19:13] perrotta commented on #37433
release-notes

[2022-04-01 19:13] cmsbuild commented on #37433
Generating release notes since CMSSW_12_2_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-04-01 19:13] cmsbuild commented on #37433
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_2_3 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_2_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_2_3

Made upon T0

[2022-04-01 19:18] cmsbuild commented on #37433
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_3

[2022-04-01 19:19] perrotta commented on #37240
Release CMSSW_12_2_3 is ready, see https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_3

[2022-04-01 21:23] germanfgv commented on #37240
Thanks @perrotta. It is not in `cvmfs` yet, but we will try it as soon as it gets there.

[2022-04-01 22:08] cmsbuild commented on #37416
The cleanup has started for slc7_aarch64_gcc9

[2022-04-01 22:08] cmsbuild commented on #37416
The cleanup has started for slc7_amd64_gcc900

[2022-04-01 22:08] cmsbuild commented on #37416
The cleanup has started for slc7_ppc64le_gcc9

[2022-04-01 22:08] cmsbuild commented on #37416
The cleanup has started for cc8_amd64_gcc9

[2022-04-01 22:08] cmsbuild commented on #37416
The cleanup has started for slc7_amd64_gcc10

[2022-04-01 22:08] #37416 closed

[2022-04-01 22:08] cmsbuild commented on #37416
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_2-cc8_amd64_gcc9/1982

[2022-04-01 22:08] cmsbuild commented on #37416
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_2-slc7_aarch64_gcc9/1983

[2022-04-01 22:08] cmsbuild commented on #37416
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_2-slc7_amd64_gcc10/1984

[2022-04-01 22:08] cmsbuild commented on #37416
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_2-slc7_amd64_gcc900/1985

[2022-04-01 22:09] cmsbuild commented on #37416
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_2-slc7_ppc64le_gcc9/1986

[2022-04-02 00:51] makortel commented on #34393
The file fails similarly in 10_1_7 that was used in data taking at the time (on HLT at least, not sure of Tier0 repacking, DAS reports 10_1_X as the release for the corresponding dataset).

@pcanal Does this mean the file has been corrupted or something?

I was able to process the file locally by dropping the LuminosityBlock 307.

[2022-04-03 07:42] #37323 closed

[2022-04-03 17:23] cmsbuild commented on #37433
The cleanup has started for slc7_aarch64_gcc9

[2022-04-03 17:23] cmsbuild commented on #37433
The cleanup has started for slc7_amd64_gcc900

[2022-04-03 17:23] cmsbuild commented on #37433
The cleanup has started for slc7_ppc64le_gcc9

[2022-04-03 17:23] cmsbuild commented on #37433
The cleanup has started for cc8_amd64_gcc9

[2022-04-03 17:23] cmsbuild commented on #37433
The cleanup has started for slc7_amd64_gcc10

[2022-04-03 17:23] #37433 closed

[2022-04-03 17:23] cmsbuild commented on #37433
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_3-slc7_aarch64_gcc9/1988

[2022-04-03 17:23] cmsbuild commented on #37433
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_3-slc7_amd64_gcc10/1989

[2022-04-03 17:23] cmsbuild commented on #37433
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_3-cc8_amd64_gcc9/1987

[2022-04-03 17:23] cmsbuild commented on #37433
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_3-slc7_ppc64le_gcc9/1991

[2022-04-03 17:23] cmsbuild commented on #37433
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_3-slc7_amd64_gcc900/1990

[2022-04-03 23:29] mrodozov commented on #33945
finally this can be put to rest 😀 thanks @missirol for concluding what was wrong

[2022-04-03 23:29] #33945 closed

[2022-04-04 13:39] perrotta opened #37454 "Build CMSSW_12_2_3_patch1"
Made upon request from HLT to deploy at HLT the following fix:
#37436: ECAL GPU unpacker - Add detection of corrupted DCC tower headers and recovery
(it also includes a couple of other backports merged in 12_2_X in the meanwhile)

[2022-04-04 13:39] cmsbuild commented on #37454
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-04-04 13:40] perrotta commented on #37454
+1

[2022-04-04 13:40] cmsbuild commented on #37454
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_3_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-04-04 13:40] cmsbuild commented on #37454
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-04-04 13:42] cmsbuild commented on #37454
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3441/console
CMSDIST Branch: [REL/CMSSW_12_2_3/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_3/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-04 13:42] cmsbuild commented on #37454
The build has started for cc8_amd64_gcc9 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3442/console
CMSDIST Branch: [REL/CMSSW_12_2_3/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_3/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-04 13:42] cmsbuild commented on #37454
The build has started for slc7_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3445/console
CMSDIST Branch: [REL/CMSSW_12_2_3/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_3/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-04 14:27] cmsbuild commented on #37454
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3_patch1-slc7_amd64_gcc10/3443
Some tes

[2022-04-04 14:28] cmsbuild commented on #37454
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3_patch1-slc7_amd64_gcc900/3444
Some t

[2022-04-04 14:32] cmsbuild commented on #37454
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3_patch1-slc7_aarch64_gcc9/3445
Some t

[2022-04-04 14:47] perrotta commented on #37454
upload all

[2022-04-04 14:48] cmsbuild commented on #37454
Queing Jenkins upload for slc7_amd64_gcc900

[2022-04-04 14:48] cmsbuild commented on #37454
Queing Jenkins upload for slc7_aarch64_gcc9

[2022-04-04 14:48] cmsbuild commented on #37454
Queing Jenkins upload for cc8_amd64_gcc9

[2022-04-04 14:48] cmsbuild commented on #37454
Queing Jenkins upload for slc7_ppc64le_gcc9

[2022-04-04 14:48] cmsbuild commented on #37454
Queing Jenkins upload for slc7_amd64_gcc10

[2022-04-04 14:49] cmsbuild commented on #37454
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2286/console

[2022-04-04 14:49] cmsbuild commented on #37454
The upload has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2288/console

[2022-04-04 14:49] cmsbuild commented on #37454
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_3_patch1-slc7_aarch64_gcc9/2286

[2022-04-04 14:49] cmsbuild commented on #37454
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_3_patch1-slc7_amd64_gcc10/2287

[2022-04-04 14:50] cmsbuild commented on #37454
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_3_patch1-slc7_ppc64le_gcc9/2289

[2022-04-04 14:50] cmsbuild commented on #37454
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_3_patch1-cc8_amd64_gcc9/2285

[2022-04-04 14:52] cmsbuild commented on #37454
Generating release notes since CMSSW_12_2_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-04-04 14:55] cmsbuild commented on #37454
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_3_patch1

[2022-04-04 15:13] makortel commented on #36938
The `ConditionalTask` in #37305 comes with two caveats:
* modules in `ConditionalTask` that are depended on only by `SwitchProducer` case-EDModules get treated as unscheduled modules
* modules in `ConditionalTask` but not consumed by any module in the `Path` or the `ConditionalTasks` associated with the `Path` get treated as unscheduled modules

We are going to work on these (with the `SwithcProdu

[2022-04-04 15:28] cmsbuild commented on #37454
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_3_patch1-slc7_aarch64_gcc9/3445

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-04 17:15] silviodonato commented on #37207
https://github.com/cms-sw/cmssw/pull/37359

[2022-04-04 17:28] silviodonato commented on #35376
https://github.com/cms-sw/cmssw/pull/37359

[2022-04-04 20:46] perrotta opened #37457 "Build CMSSW_12_2_4_CORALTEST"
RELEASE_QUEUE: CMSSW_12_2_X
ARCHITECTURE: slc7_amd64_gcc900

[2022-04-04 20:47] cmsbuild commented on #37457
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-04-04 20:48] perrotta commented on #37457
+1

[2022-04-04 20:49] cmsbuild commented on #37457
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_4_CORALTEST. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-04-04 20:49] cmsbuild commented on #37457
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2022-04-04 20:51] cmsbuild commented on #37457
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3446/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-04-05 01:34] cmsbuild commented on #37457
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4_CORALTEST-slc7_amd64_gcc900/3446
Som

[2022-04-05 01:53] qliphy commented on #37457
upload all

[2022-04-05 01:53] cmsbuild commented on #37457
Queing Jenkins upload for slc7_amd64_gcc900

[2022-04-05 01:53] cmsbuild commented on #37457
The upload has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2290/console

[2022-04-05 01:56] cmsbuild commented on #37457
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_4_CORALTEST-slc7_amd64_gcc900/2290

[2022-04-05 01:58] qliphy commented on #37457
release-notes

[2022-04-05 02:00] qliphy commented on #37457
release-notes since CMSSW_12_2_3_patch1

[2022-04-05 02:01] cmsbuild commented on #37457
Generating release notes since CMSSW_12_2_3_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-04-05 02:01] cmsbuild commented on #37457
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_2_4_CORALTEST is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_12_2_3_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_2_4_CORALTEST

Cheers,
cms-bot

You can also click <a href="mailto:hn

[2022-04-05 02:04] cmsbuild commented on #37457
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_4_CORALTEST

[2022-04-05 02:21] cmsbuild commented on #37457
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4_CORALTEST-slc7_amd64_gcc900/3446

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-05 10:33] perrotta commented on #37126
@cms-sw/core-l2 @qliphy I think this can be closed, correct?

[2022-04-05 10:39] perrotta commented on #36808
@dan131riley @cms-sw/reconstruction-l2 given https://github.com/cms-sw/cmssw/pull/36819 (as commented above) I think this can be closed. Please reopen if you think that there is still some further work to do

[2022-04-05 10:39] #36808 closed

[2022-04-05 10:53] qliphy commented on #37126
The issue should be fixed now, at least not in recent IB.

[2022-04-05 10:53] #37126 closed

[2022-04-05 13:51] makortel commented on #37126
+1

[2022-04-05 13:51] cmsbuild commented on #37126
This issue is fully signed and ready to be closed.

[2022-04-05 15:51] srimanob opened #37469 "GEN and SIM cannot split in Run-3 due to missing edmHepMCProduct_LHCTransport output from GEN"
For Run3, splitting between GEN and SIM will create a failure in SIM step due to the missing of
`edm::HepMCProduct                     "LHCTransport"              ""            "GEN"`
This product is transient as far as I see the GEN Eventcontent defined in
https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/Configuration/python/GeneratorInterface_EventContent_cff.py#L13-L25
Is this exp

[2022-04-05 15:51] cmsbuild commented on #37469
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-05 15:52] srimanob commented on #37469
assign simulation

[2022-04-05 15:52] cmsbuild commented on #37469
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-06 08:20] davidlange6 opened #37477 "Circular dependency in DataFormats/L1T"
L1TMuonPhase2 depends on L1Trigger
L1Trigger depends on L1TMuonPhase2

Does anyone understand why the dictionaries stuff depending on L1TMuonPhase2 was added to L1Trigger?
(this is from the last month..)

https://github.com/cms-sw/cmssw/blob/master/DataFormats/L1Trigger/src/classes.h#L39

(actually maybe there are no dictionaries - just these includes?)

[2022-04-06 08:20] cmsbuild commented on #37477
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-06 08:28] davidlange6 commented on #37477
well, nothing obviously breaks if I remove these includes from classes.h. I'll just try a PR.

[2022-04-06 08:34] perrotta commented on #37477
Thank you David! I think that just removing them won't hurt anything

[2022-04-06 08:50] davidlange6 commented on #37477
well, I guess those lines were added for a reason...

[2022-04-06 09:20] perrotta commented on #37477
Let ask it to @cecilecaillol, who's the author of #37287
The same question was already implicitly asked with the now closed PR #37368, that I originally opened some time ago as a supposed fix for an issue with a FWLite error (which was then dedicatedly fixed independently by @smuzaffar with https://github.com/cms-sw/cmsdist/pull/7725, and thus I closed that PR of mine)

[2022-04-06 11:06] cecilecaillol commented on #37477
The lines can be removed. They were added around the same time as the GMT muons but they are not needed.

[2022-04-06 12:53] cmsbuild commented on #37454
The cleanup has started for slc7_aarch64_gcc9

[2022-04-06 12:53] cmsbuild commented on #37454
The cleanup has started for slc7_amd64_gcc900

[2022-04-06 12:53] cmsbuild commented on #37454
The cleanup has started for slc7_ppc64le_gcc9

[2022-04-06 12:53] cmsbuild commented on #37454
The cleanup has started for cc8_amd64_gcc9

[2022-04-06 12:53] cmsbuild commented on #37454
The cleanup has started for slc7_amd64_gcc10

[2022-04-06 12:53] #37454 closed

[2022-04-06 12:53] cmsbuild commented on #37454
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_3_patch1-cc8_amd64_gcc9/1992

[2022-04-06 12:53] cmsbuild commented on #37454
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_3_patch1-slc7_ppc64le_gcc9/1996

[2022-04-06 13:19] missirol commented on #36938
@makortel @Dr15Jones (cc: @fwyzard)

Continuing from the discussion started in https://github.com/cms-sw/cmssw/pull/37305#issuecomment-1087662561, I'm trying to do one check related to `ConditionalTasks`, and I see something I don't understand. I share it here in case others can have a look.

In this check, I took the HLT menu available in CMSSW, customised it with the addition of GPU modules (thi

[2022-04-06 13:37] makortel commented on #36938
Thanks @missirol for the test. The stack strace looks strange (not hinting to anything obvious). I'm taking a look.

[2022-04-06 15:56] pcanal commented on #37113
The issues related to this (handling of `std::pair`) have all been merged in the v6.24, v6.26 and main branches.

[2022-04-06 18:41] makortel commented on #36938
I was able to reproduce the crash, and to craft a simple test case that also crashes when run with >= 2 **streams** (i.e. 1-thread 2-stream case crashes). It turns out there is a deeper issue in how `ConditionalTask` and `SwitchProducer` interact that leads to the crash. In short the two don't really work together yet (cases that don't crash are more of accidental), but it seems that this aspect s

[2022-04-06 20:12] smuzaffar commented on #37392
thanks @pcanal , I have open a PR https://github.com/cms-sw/cmsdist/pull/7762 to include root v6-24-00-patches changes in to cmssw

[2022-04-07 00:08] cmsbuild commented on #37457
The cleanup has started for slc7_amd64_gcc900

[2022-04-07 00:08] #37457 closed

[2022-04-07 00:08] cmsbuild commented on #37457
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_4_CORALTEST-slc7_amd64_gcc900/1997

[2022-04-07 08:39] silviodonato opened #37482 "L1REPACK:uGT is broken"
Running in `CMSSW_12_4_0_pre2` on real data
[code]

which is equivalent adding
[code]
to the HLT configuration
crashes giving
[code]

It is clear that `simGmtShowerDigis` does not exist in data.

@missirol do you remember what is the first release giving this error?

[2022-04-07 08:39] silviodonato commented on #37482
assign @cms-sw/l1-l2

[2022-04-07 08:39] cmsbuild commented on #37482
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-07 08:46] silviodonato opened #37483 "CTPPSPixelDataFormatter: CTPPSPixelRawToDigi:hltCTPPSPixelDigis unphysical col and/or row ..."
Running the latest HLT menu in Run-2 data and `12_4_0_pre2` gives a lot of warnings from PPS

[code]

gives 2519 times a warning like
[code]
I ran over only 100 events.

I know that the PPS detector underwent some big changes between run-2 and run-3 data, so probably the warning is "correct", but it is very annoying to get so many warnings.

[2022-04-07 08:47] cmsbuild commented on #37483
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-07 08:49] silviodonato commented on #37483
assign @cms-sw/ctpps-dpg-l2
cc @cms-sw/hlt-l2

[2022-04-07 08:52] pmandrik opened #37484 "std::filesystem::directory_iterator infinite loop"
After the migration of DQM P5 machine to OS version CentOS 7.9 OS and kernel version (7.9.2009, 3.10.0-1160.53.1.el7) following issue has been observed: there is a probability for a job of a random DQM client to stuck during the execution. The freeze is not related to the executed client type and not triggered by end of the run condition. Version of CMSSW is 12_2_3_patch1. We found the stuck clien

[2022-04-07 08:52] cmsbuild commented on #37484
A new Issue was created by  @pmandrik .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-07 09:17] davidlange6 commented on #37484
this doesn't strike me as correct code:
[code]

the intent is to iterate over all directories in runPath, is that correct?

[2022-04-07 09:26] pmandrik commented on #37484
Hello, @davidlange6 ,
yes, all entries in runPath. If the directory_iterator reports an error or is advanced past the last directory entry, it should become equal to the default-constructed iterator, this code has been running for years without any detected problems. Also, issue reproduced with modern one approach:
`for (auto const & di : std::filesystem::directory_iterator{ runPath }) {`

[2022-04-07 09:42] davidlange6 commented on #37484
ok - indeed, that loop is correct as it is now that I read more the docs.

[2022-04-07 12:07] Martin-Grunewald commented on #37482
```l1t::MuonShower```s are new L1T objects, not available in Run2 data. So I suppose one should run ```--l1-emulator Full``` rather than just ```uGT``` when processing Run2 data.

[2022-04-07 12:13] dinyar commented on #37482
Hi,

Yeah, I agreed with @Martin-Grunewald, using the full repack should fix this. That said, I *thought* I had successfully worked around the case when the shower digis aren't available, so I'll have a look. Can you let me know how urgent this is so I can schedule it appropriately?

Cheers,
Dinyar

[2022-04-07 12:31] missirol commented on #37482
Thanks, @dinyar .

Yes, it does (that's what we already suggest in the HLT twiki instructions, in case anybody is wondering).

The question is whether the `uGT`-only emulation is supported in recent releases. For example, I think the same failure occurs in 12_3_X if one tries to re-emulate the uGT on 2018 data with the 2018 menu [*].

I'll leave this to others. I would not call it urgent since we

[2022-04-07 13:03] iarspider opened #37486 "[GPU] The "hbhereco@cpu" collection is not available"
RelVals 10824.523, 10824.583 and 10824.587 are failing in GPU IB since CMSSW_12_4 2022-04-05-2300 with the following error:

[code]

[2022-04-07 13:03] cmsbuild commented on #37486
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-07 13:04] iarspider commented on #37486
assign dqm

[2022-04-07 13:05] cmsbuild commented on #37486
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-07 13:09] silviodonato commented on #37483
A "minimal" configuration to reproduce the warning is
[code]

[2022-04-07 13:12] cecilecaillol commented on #36561
This issue can be closed. The code for tau-> 3mu decays was merged https://github.com/cms-sw/cmssw/pull/36758

[2022-04-07 13:16] cecilecaillol commented on #36561
+l1

[2022-04-07 13:16] cmsbuild commented on #36561
This issue is fully signed and ready to be closed.

[2022-04-07 13:19] makortel commented on #37484
assign dqm

[2022-04-07 13:31] makortel commented on #37482
assign l1

[2022-04-07 13:32] cmsbuild commented on #37482
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-07 13:36] makortel commented on #37483
assign reconstruction

[2022-04-07 13:37] makortel commented on #37486
assign heterogeneous

[2022-04-07 13:37] cmsbuild commented on #37483
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-07 13:37] #36561 closed

[2022-04-07 13:37] cmsbuild commented on #37486
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-07 13:51] cecilecaillol commented on #36596
I dont see warnings anymore, I think this issue can be closed.

[2022-04-07 13:51] cecilecaillol commented on #36596
+l1

[2022-04-07 13:51] cmsbuild commented on #36596
This issue is fully signed and ready to be closed.

[2022-04-07 13:51] makortel commented on #37486
FYI @cms-sw/hcal-dpg-l2

[2022-04-07 14:02] fwyzard commented on #37486
From a quick look, I'd say that the HCAL DQM needs to be configured differently for Run-2 (`10824.xxx`) and Run-3 (`11634.xxx`).

[2022-04-07 14:04] fwyzard commented on #37486
Maybe it would be enough to replace `hbhereco` with `hbheprereco` .

[2022-04-07 14:07] mseidel42 commented on #37486
Adding @lwang046

[2022-04-07 14:10] spigad opened #37488 "cpu features discovery on power ( and arm ) architecture"
While debugging the monitoring info for Marconi 100 jobs we realized that CPU features are not propagated back from the job itself.

David pointed me to the code that does the proc/cpuinfo parsing. It cannot work on Power arch ( https://cmsdoc.cern.ch/~spiga/m100-proc) cause it is lookig for "model_name" but on ppc there is just "model".  We also checked arm on lxplus8-arm and it is still differnt

[2022-04-07 14:10] cmsbuild commented on #37488
A new Issue was created by  @spigad .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-07 14:24] makortel commented on #37488
Taking a snippet from https://cmsdoc.cern.ch/~spiga/m100-proc
[code]

`lxplus8-arm` shows
[code]
which is even more cryptic for this use case.

While searching about this topic I came across https://www.cnx-software.com/2018/02/14/human-readable-decoding-of-proc-cpuinfo-for-arm-processors/ that suggested `lscpu`. On quick try on a few x86 machines and `lxplus8-arm` that gave meaningful output (e.g

[2022-04-07 14:24] makortel commented on #37488
adding @dan131riley

[2022-04-07 14:29] cecilecaillol commented on #34704
+l1

[2022-04-07 15:10] fabferro commented on #37483
I can see this fragment in HLT configuration code

fragment.hltCTPPSPixelDigis = cms.EDProducer( "CTPPSPixelRawToDigi",
isRun3 = cms.bool( True ),
includeErrors = cms.bool( True ),
inputLabel = cms.InputTag( "rawDataCollector" ),
mappingLabel = cms.string( "RPix" )
)

If this is run with the flag isRun3=True, then the data unpacker uses Run3 code. That can generates the error messages you see.
Thi

[2022-04-07 16:43] makortel commented on #37488
@dan131riley @Dr15Jones Any thoughts?

[2022-04-07 16:56] missirol commented on #37483
@fabferro , thanks for the explanation.

@silviodonato , this looks a case that should be handled in the HLT customisation `customiseFor2018Input`. What do you think?

Looks like we can unassign RECO, and assign HLT.

[2022-04-07 16:56] missirol commented on #37483
unassign reconstruction

[2022-04-07 16:57] missirol commented on #37483
assign hlt

[2022-04-07 16:57] cmsbuild commented on #37483
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-07 18:18] silviodonato commented on #37483
yes, indeed. We might also use our HLTrigger.Configuration.Eras import modifyHLTforEras

[2022-04-08 03:30] #37280 closed

[2022-04-08 06:07] missirol commented on #37482
As a side comment: the 2018 example I gave in https://github.com/cms-sw/cmssw/issues/37482#issuecomment-1091677413 is not really a good one, as `hltGetConfiguration` itself does not support the L1T re-emulation for older eras ([here](https://github.com/cms-sw/cmssw/blob/70e484dafd1dc4f4179b66bb0581570686fe0add/HLTrigger/Configuration/python/CustomConfigs.py#L126), for recent releases, the `Run3` e

[2022-04-08 07:04] cecilecaillol commented on #36404
L1 modules fixed in https://github.com/cms-sw/cmssw/pull/37489

[2022-04-08 07:04] cecilecaillol commented on #36404
+l1

[2022-04-08 07:33] Martin-Grunewald commented on #37482
See above PRs fixing the issue: the uGT repacker uses the unchanged, unpacked digi collections of the low-level L1T objects, by overriding the corresponding inputtags for the unpacker and the packer. The newly added  input tag describing the new MuonShower collection had to be added for both.

[2022-04-08 09:07] ggovi commented on #36487
Hello, I've tried to implement a multi-thread pre-loading of condition, to be executed at run start.
Here is the prototype:
https://github.com/ggovi/cmssw/tree/condcore-conddb-essources-concurrency-1-123X

It needs to be discussed, as in the present implementation it does not provide any advantage.

[2022-04-08 11:11] smuzaffar commented on #37280
eigen patch  https://gitlab.com/libeigen/eigen/-/merge_requests/716 has been added to cms and now these warnings are gone https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc10/CMSSW_12_4_X_2022-04-08-0600/HeterogeneousCore/CUDAUtilities .
Yes, we are only tracking gcc warnings. We will update our log parser to include nvcc warnings too.

[2022-04-08 12:45] tvami commented on #36487
Hi @ggovi @smorovic do you think opening a draft PR would be helpful for the discussion?

[2022-04-08 14:32] makortel commented on #37484
Looking [N4659](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2017/n4659.pdf) (i.e. last draft of C++17)

(ok, cppreference mentions that also [here](https://en.cppreference.com/w/cpp/filesystem))

Isn't

a file system race (many processes access or modify the directory)?

Quick search also pointed to https://stackoverflow.com/questions/66609601/why-abort-method-is-called-sometimes-when-i-ite

[2022-04-08 14:48] dan131riley commented on #37484
As the stackoverflow answers point out, the underlying libc `readdir()` has the same issues, so I guess you'll need some kind of inter-process mutex to do this safely, e.g. https://www.boost.org/doc/libs/1_78_0/doc/html/boost/interprocess/file_lock.html

[2022-04-09 06:08] jordan-martins opened #37512 "cmsLHEtoEOSManager.py python3 vs python2 in 8_0_X builder"
Dear all,

We have an issue with our pLHE requests that use the CMSSW_8_0_31 when we try to create the pSet at the injection time from McM. The bulk of the error can be found in [1].

We are using ConfigBuilder.py from here:
/cvmfs/cms.cern.ch/slc6_amd64_gcc530/cms/cmssw/CMSSW_8_0_31/python/Configuration/Applications/ConfigBuilder.py

Line 420 does:
textOfFiles=os.popen('cmsLHEtoEOSManager.py -l '

[2022-04-09 06:08] cmsbuild commented on #37512
A new Issue was created by  @jordan-martins Jordan Martins.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-09 06:57] davidlange6 commented on #37512
assign gen

(But this script is not part of cmssw I guess, so this may be the wrong place to file an issue against it)

[2022-04-09 07:07] davidlange6 commented on #37512
assign generators

[2022-04-09 07:07] cmsbuild commented on #37512
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-04-09 07:21] qliphy opened #37513 "Build CMSSW_12_3_0"

[2022-04-09 07:22] cmsbuild commented on #37513
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-04-09 07:22] qliphy commented on #37513
+1

[2022-04-09 07:22] cmsbuild commented on #37513
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-04-09 07:22] cmsbuild commented on #37513
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, slc7_amd64_gcc11, slc7_amd64_gcc10, cs8_ppc64le_gcc11, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2022-04-09 07:23] cmsbuild commented on #37513
The build has started for cs8_amd64_gcc10 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3447/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-09 07:24] cmsbuild commented on #37513
The build has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3448/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-09 07:24] cmsbuild commented on #37513
The build has started for slc7_amd64_gcc11 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3449/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-09 07:39] cmsbuild commented on #37513
The build has started for cs8_ppc64le_gcc11 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3450/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-09 08:13] cmsbuild commented on #37513
The build has started for cs8_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3451/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-09 08:23] cmsbuild commented on #37513
The build has started for slc7_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3452/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-09 09:11] cmsbuild commented on #37513
The build has started for slc7_ppc64le_gcc11 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3453/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-04-09 10:30] smuzaffar commented on #37512
A simple fix would be to fix https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/LHEInterface/scripts/cmsLHEtoEOSManager.py by adding [a]  and integrate it in cmssw 12.4.X. This will then automatically deploy under `/cvmfs/cms.cern.ch/share/overrides/bin/cmsLHEtoEOSManager.py` for all releases to use. We have done this for few other common tools used by all release e.g. https://github.c

[2022-04-09 13:57] cmsbuild commented on #37513
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-cs8_aarch64_gcc11/3451
Some tests (

[2022-04-09 14:14] cmsbuild commented on #37513
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-cs8_ppc64le_gcc11/3450
Some tests (

[2022-04-09 14:16] cmsbuild commented on #37513
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-slc7_amd64_gcc10/3448
Some tests ( ru

[2022-04-09 14:20] cmsbuild commented on #37513
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-slc7_aarch64_gcc11/3452
Some tests

[2022-04-09 14:39] cmsbuild commented on #37513
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-slc7_amd64_gcc11/3449
Some tests ( ru

[2022-04-09 14:41] cmsbuild commented on #37513
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-cs8_aarch64_gcc11/3451

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-04-09 14:47] cmsbuild commented on #37513
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-cs8_amd64_gcc10/3447
Some tests ( runT

[2022-04-09 15:01] cmsbuild commented on #37513
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-slc7_amd64_gcc10/3448

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-09 15:10] cmsbuild commented on #37513
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-slc7_aarch64_gcc11/3452

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-04-09 15:25] cmsbuild commented on #37513
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-slc7_amd64_gcc11/3449

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-09 15:31] cmsbuild commented on #37513
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-cs8_amd64_gcc10/3447

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-09 15:34] cmsbuild commented on #37513
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-cs8_ppc64le_gcc11/3450

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-04-09 15:54] cmsbuild commented on #37513
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0-slc7_ppc64le_gcc11/3453
Some tests

[2022-04-09 16:18] qliphy commented on #37513
upload all

[2022-04-09 16:19] cmsbuild commented on #37513
Queing Jenkins upload for slc7_amd64_gcc10

[2022-04-09 16:19] cmsbuild commented on #37513
Queing Jenkins upload for cs8_amd64_gcc10

[2022-04-09 16:19] cmsbuild commented on #37513
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-04-09 16:19] cmsbuild commented on #37513
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-04-09 16:19] cmsbuild commented on #37513
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-04-09 16:19] cmsbuild commented on #37513
Queing Jenkins upload for cs8_ppc64le_gcc11

[2022-04-09 16:19] cmsbuild commented on #37513
Queing Jenkins upload for slc7_amd64_gcc11

[2022-04-09 16:22] cmsbuild commented on #37513
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2291/console

[2022-04-09 16:22] cmsbuild commented on #37513
The upload has started for cs8_amd64_gcc10 in cmsbuild23.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2292/console

[2022-04-09 16:23] cmsbuild commented on #37513
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2294/console

[2022-04-09 16:23] cmsbuild commented on #37513
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2293/console

[2022-04-09 16:23] cmsbuild commented on #37513
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0-cs8_amd64_gcc10/2292

[2022-04-09 16:24] cmsbuild commented on #37513
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0-cs8_ppc64le_gcc11/2293

[2022-04-09 16:24] cmsbuild commented on #37513
The upload has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2295/console

[2022-04-09 16:24] cmsbuild commented on #37513
The upload has started for slc7_amd64_gcc11 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2296/console

[2022-04-09 16:24] cmsbuild commented on #37513
The upload has successfully finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0-cs8_aarch64_gcc11/2291

[2022-04-09 16:25] cmsbuild commented on #37513
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2297/console

[2022-04-09 16:25] cmsbuild commented on #37513
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0-slc7_amd64_gcc10/2295