[2021-05-05 08:22] cmsbuild commented on #33630
A new Issue was created by  @mariadalfonso .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-05 08:32] smuzaffar commented on #33630
@mariadalfonso , you are missing python3 in your container ci-tools/ci-worker:cc7 . As announced https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/5318.html , please update your Dockerfile and install python3 also. SCRAM V3 is based on python 3 (as compare to SCRAM V2 which was using PERL)

[2021-05-05 08:33] smuzaffar commented on #33630
@mariadalfonso , I think all you need is to add python3 here https://gitlab.cern.ch/cms-nanoAOD/nanoAOD-integration/-/blob/master/.gitlab-ci.yml#L14

[2021-05-05 09:12] #33544 closed

[2021-05-05 11:59] sudhaahuja commented on #32550
I also wanted to add that my term as EXO trigger val contact ended long back in 2018. I no longer work in CMS also and have moved to ATLAS. You can remove me from the mailing list. Thanks.

[2021-05-05 12:18] angirar commented on #32550
@namppl @borzari
Adding other trigger contact and the current EXO HLT DQM validator on the thread to take a look as well.

[2021-05-05 13:11] makortel commented on #32550
For this specific issue you can/need to do it yourself by clicking the unsubscribe button at the top-right corner of the page
![image](https://user-images.githubusercontent.com/33993/117146111-7b869e00-ad79-11eb-84bc-216a6fffbca9.png)

[2021-05-05 13:13] mariadalfonso commented on #33630
ok this addition now triggered another problem i.e. we are still calling SCRAMV1
https://gitlab.cern.ch/cms-nanoAOD/nanoAOD-integration/-/jobs/13655799

[2021-05-05 13:19] smuzaffar commented on #33630
@mariadalfonso , ok looks like in the container python's `socket.getfqdn()` is not returning any thing.  This is an optional call to check the state of a release. I will fix scram to ignore if `getfqdn()` call does not return any thing.

[2021-05-05 13:38] gartung commented on #33297
https://gartung.web.cern.ch/gartung/cgi-bin/igprof-navigator/igprof.cmsRun.3406.1620157591.347206-c/cumulative

[2021-05-05 14:09] dan131riley opened #33636 "segfaults in ThreadSafeLogMessageLoggerScribe on slc7_ppc64le_gcc9"
@gartung following the update to TBB 2021.2.0 in #33474 and https://github.com/cms-sw/cmsdist/pull/6792 we're seeing what looks like a race condition in the message logger on ppc:
[code]

[2021-05-05 14:09] cmsbuild commented on #33636
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-05 14:20] dan131riley commented on #33636
Also a weird segfault in `edm::SerialTaskQueue::pickNextTask()`:
[code]

[2021-05-05 14:28] makortel commented on #33636
assign core

[2021-05-05 14:28] cmsbuild commented on #33636
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-05 14:59] slava77 commented on #25796
ping
@cms-sw/generators-l2
please clarify if we have a fragment in the release already

[2021-05-05 15:02] gartung commented on #33297
Memory profiling looks more accurate after the patch
https://gartung.web.cern.ch/gartung/cgi-bin/igprof-navigator/igprofMEM_step3/cumulative

[2021-05-05 15:14] gartung commented on #33636
Possibly from the deletion of a hash key from a tbb::concurrent_unordered_map
https://github.com/cms-sw/cmssw/blob/e1e024fb5fcb5aa6591ab8a0baab29d529758d9e/FWCore/MessageLogger/src/MessageSender.cc#L83

[2021-05-05 15:15] slava77 commented on #25796
it seems like
https://github.com/cms-sw/cmssw/blob/master/Configuration/Generator/python/QCD_Pt15To7000_Flat_14TeV_TuneCP5_cff.py
is pretty close to one of the recent 11_2_X requests
https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_setup/EGM-Run3Winter21GS-00001 which made it to /QCD_Pt-15to7000_TuneCUETP8M1_Flat_14TeV-pythia8/Run3Winter21GS-for_DNN_112X_mcRun3_2021_realistic_v15_ext1-v1/G

[2021-05-05 15:18] gartung commented on #33636
tbb::concurrent_unordered_map.clear() is called here
https://github.com/cms-sw/cmssw/blob/e1e024fb5fcb5aa6591ab8a0baab29d529758d9e/FWCore/MessageLogger/src/MessageSender.cc#L184

[2021-05-05 15:38] slava77 commented on #33442
I see https://cmssdt.cern.ch/circles/web/piechart.php?local=false&dataset=CMSSW_12_0_X_2021-05-04-2300%2Fslc7_ppc64le_gcc9%2F11634.21%2Fstep4_PAT.resources&resource=time_thread&colours=default&groups=packages&threshold=0

but now I realized that I've asked for a wrong workflow number, I was supposed to ask for 11834.21 (it has pileup and matches what we run in IBs).

@smuzaffar
please start a job

[2021-05-05 15:44] smuzaffar commented on #33442
@slava77 , ok restarted for both aarch64 and ppc64le.

[2021-05-05 16:13] felicepantaleo commented on #33630
Thanks @smuzaffar , I'm also experiencing the same problem in singularity

[2021-05-05 16:36] felicepantaleo commented on #33630
solved by adding
[code]
in my case the hostname from `x1extreme` became `x1extreme.cc7`

[2021-05-05 16:36] smuzaffar commented on #33630
can you try again. I just have pushed scram V3_00_22 which should fix this issue

[2021-05-05 17:32] agrohsje commented on #25796
@slava77 why not adding the example that @qliphy linked above: https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_fragment/JME-RunIIFall18GS-00004/0

[2021-05-05 17:52] smuzaffar commented on #33630
SCRAM V3_00_23 is now availableon cvmfs, can you please try again?

[2021-05-05 18:11] jfernan2 commented on #32550
I cannot update the list of contacts on:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/DQMContacts#Exotica
because it belongs to TSG-steam, so I'd encourage everybody in the thread to review the e-groups they belong too and make sure they are up to date, and idrectly add/remove yourself to not be bugged or be contacted when needed, in particular:
https://e-groups.cern.ch/e-groups/Egroup.do?egroupNa

[2021-05-05 21:01] slava77 commented on #25796
if it's still commonly used by JME POG, sure (we are two years since the initial discussion).
I suppose there should be at least the comEnergy update if we go with JME-RunIIFall18GS-00004.

[2021-05-06 06:13] smuzaffar commented on #33442
@slava77 , profiling is nor available for ppc64le https://cmssdt.cern.ch/circles/web/piechart.php?local=false&dataset=CMSSW_12_0_X_2021-05-04-2300%2Fslc7_ppc64le_gcc9%2F11834.21%2Fstep4_PAT_PU.resources&resource=time_thread&colours=default&groups=packages&threshold=0

For aarch64, it is still running. Last time it was timed out after 12 hours

[2021-05-06 06:57] qliphy opened #33641 "Build CMSSW_12_0_0_pre1"

[2021-05-06 06:58] cmsbuild commented on #33641
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-05-06 06:59] qliphy commented on #33641
+1

[2021-05-06 06:59] cmsbuild commented on #33641
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-05-06 06:59] cmsbuild commented on #33641
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2021-05-06 07:02] cmsbuild commented on #33641
The build has started for cc8_amd64_gcc9 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2997/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-06 07:02] cmsbuild commented on #33641
The build has started for slc7_amd64_gcc900 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2998/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-06 07:03] silviodonato opened #33642 "warning: 'tid' may be used uninitialized in this function in EventFilter/Utilities/src/FedRawDataInputSource.cc"
We are getting a compilation warning since
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc900/CMSSW_12_0_X_2021-05-05-1100/EventFilter/Utilities

The origin of the error is #33474 which show
![image](https://user-images.githubusercontent.com/6177433/117255237-b0fabc80-ae49-11eb-8e60-b9b4a9615bf5.png)

https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-a7c09

[2021-05-06 07:03] cmsbuild commented on #33642
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-06 07:04] silviodonato commented on #33642
assign core,externals

[2021-05-06 07:04] cmsbuild commented on #33642
New categories assigned: core,externals

@Dr15Jones,@smuzaffar,@smuzaffar,@mrodozov,@iarspider,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-06 07:19] smuzaffar commented on #33642
@silviodonato this has been fixed for 23h00 IB via https://github.com/cms-sw/cmssw/pull/33631

[2021-05-06 07:19] qliphy commented on #33642
There is a fix here:  https://github.com/cms-sw/cmssw/pull/33631

[2021-05-06 07:20] agrohsje commented on #25796
I pinged Laurent to clarify the performance of the different approaches. For UL both the CP5 based more elaborated reweighting function was used:
https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_fragment/JME-RunIISummer19UL16GEN-00002/0
but also the bias selection:
https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_fragment/JME-RunIISummer19UL16GEN-00001/0
I also checked if reweighti

[2021-05-06 07:23] #33642 closed

[2021-05-06 07:40] smuzaffar commented on #33630
@mariadalfonso @felicepantaleo , can you please re-run your tests. This issue should be fix now.

[2021-05-06 07:46] mariadalfonso commented on #33630
@smuzaffar
indeed I confirm that with IB CMSSW_12_0_X_2021-05-05-2300, nano test are now happily going

Thank you

[2021-05-06 08:24] cmsbuild commented on #33641
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2999/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-06 08:50] cmsbuild commented on #33641
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3000/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-06 09:17] cmsbuild commented on #33641
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3001/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-06 12:34] dan131riley commented on #33533
@mmusich likely #33399.  I'm guessing that this line:

https://github.com/cms-sw/cmssw/blob/601fbc54e314860dd9f9fcae3569794388e3c306/Calibration/TkAlCaRecoProducers/plugins/TrackDistanceValueMapProducer.cc#L123

needs a check that `v_dR2.size() > 0`

[2021-05-06 12:40] mmusich commented on #33533
@dan131riley
1) why only on PPC?
2) how does one test this architecture?

[2021-05-06 12:51] dan131riley commented on #33533
@mmusich

1. whether an invalid vector operation segfaults, or just produces garbage, is a matter of chance and the details of the memory layout.  x86_64 Is our most forgiving platform, so these kinds of problems are more likely to show up on ppc or arm64.  I am somewhat surprised it hasn't shown up in the address sanitizer builds.
2. The short answer is let the IBs do it.  The ppc and arm64 machi

[2021-05-06 12:53] mmusich commented on #33533
see https://github.com/cms-sw/cmssw/pull/33648

[2021-05-06 13:03] cmsbuild commented on #33641
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre1-cc8_ppc64le_gcc9/2999
Some tests

[2021-05-06 13:04] cmsbuild commented on #33641
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre1-cc8_amd64_gcc9/2997
Some tests ( r

[2021-05-06 13:36] cmsbuild commented on #33641
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre1-slc7_ppc64le_gcc9/3000
Some tes

[2021-05-06 13:41] cmsbuild commented on #33641
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre1-slc7_aarch64_gcc9/3001
Some tes

[2021-05-06 13:47] cmsbuild commented on #33641
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre1-cc8_amd64_gcc9/2997

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-06 13:53] cmsbuild commented on #33641
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre1-cc8_ppc64le_gcc9/2999

Tests results:
35 32 14 4 3 0 0 0 0 tests passed, 2 2 18 2 0 0 0 0 0 failed

[2021-05-06 14:35] cmsbuild commented on #33641
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre1-slc7_amd64_gcc900/2998
Some tes

[2021-05-06 14:35] cmsbuild commented on #33641
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre1-slc7_aarch64_gcc9/3001

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-06 14:48] cmsbuild commented on #33641
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre1-slc7_ppc64le_gcc9/3000

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-06 15:08] silviodonato commented on #33641
upload all

[2021-05-06 15:09] cmsbuild commented on #33641
Queing Jenkins upload for cc8_amd64_gcc9

[2021-05-06 15:09] cmsbuild commented on #33641
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-05-06 15:09] cmsbuild commented on #33641
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-05-06 15:09] cmsbuild commented on #33641
Queing Jenkins upload for slc7_amd64_gcc900

[2021-05-06 15:09] cmsbuild commented on #33641
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-05-06 15:09] cmsbuild commented on #33641
The upload has started for cc8_amd64_gcc9 in cmsbuild15.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1911/console

[2021-05-06 15:09] cmsbuild commented on #33641
The upload has started for slc7_amd64_gcc900 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1914/console

[2021-05-06 15:09] cmsbuild commented on #33641
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1913/console

[2021-05-06 15:09] silviodonato opened #33650 "Build CMSSW_11_3_0"

[2021-05-06 15:10] cmsbuild commented on #33641
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1912/console

[2021-05-06 15:10] cmsbuild commented on #33650
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-05-06 15:10] cmsbuild commented on #33641
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre1-cc8_amd64_gcc9/1911

[2021-05-06 15:11] cmsbuild commented on #33641
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre1-cc8_ppc64le_gcc9/1912

[2021-05-06 15:11] cmsbuild commented on #33641
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre1-slc7_aarch64_gcc9/1913

[2021-05-06 15:11] cmsbuild commented on #33641
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1915/console

[2021-05-06 15:11] cmsbuild commented on #33641
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre1-slc7_amd64_gcc900/1914

[2021-05-06 15:11] silviodonato commented on #33650
+1

[2021-05-06 15:12] cmsbuild commented on #33650
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_X

[2021-05-06 15:12] cmsbuild commented on #33650
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2021-05-06 15:12] cmsbuild commented on #33641
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre1-slc7_ppc64le_gcc9/1915

[2021-05-06 15:13] cmsbuild commented on #33650
The build has started for cc8_amd64_gcc9 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3003/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-06 15:14] silviodonato commented on #33641
release-notes

[2021-05-06 15:14] cmsbuild commented on #33650
The build has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3004/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-06 15:14] cmsbuild commented on #33641
Unable to find previous release for CMSSW_12_0_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2021-05-06 15:14] cmsbuild commented on #33650
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3002/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-06 15:14] silviodonato commented on #33641
release-notes since CMSSW_11_3_0_pre6

[2021-05-06 15:15] cmsbuild commented on #33641
Generating release notes since CMSSW_11_3_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-05-06 15:15] cmsbuild commented on #33641
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_0_0_pre

[2021-05-06 15:15] cmsbuild commented on #33641
Generating release notes since CMSSW_11_3_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-05-06 15:15] cmsbuild commented on #33641
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_0_0_pre

[2021-05-06 15:17] cmsbuild commented on #33641
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre1

[2021-05-06 15:17] cmsbuild commented on #33650
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3005/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-06 15:19] cmsbuild commented on #33641
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre1

[2021-05-06 15:21] cmsbuild commented on #33641
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre1-slc7_amd64_gcc900/2998

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-06 18:38] cmsbuild commented on #33650
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0-slc7_ppc64le_gcc9/3002
Some tests (

[2021-05-06 19:06] cmsbuild commented on #33650
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0-cc8_amd64_gcc9/3003
Some tests ( runThe

[2021-05-06 19:45] cmsbuild commented on #33650
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0-slc7_ppc64le_gcc9/3002

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-05-06 19:50] cmsbuild commented on #33650
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0-slc7_amd64_gcc900/3004
Some tests (

[2021-05-06 20:33] cmsbuild commented on #33650
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0-slc7_amd64_gcc900/3004

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-06 21:46] slava77 commented on #33442
the fraction of `DeepTauId` is pretty similar between slc7_ppc64le_gcc9 and slc7_amd64_gcc900.
So, I guess the problem that I observed initially is not as simple as having a generic non-AVX case.

Regarding running on aarch64; I still do not see the output with aarch in the regular place for piecharts.
If there is a way to read step2.root (or even step3.root for this specific case) produced in a r

[2021-05-06 23:27] cmsbuild commented on #33650
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0-slc7_aarch64_gcc9/3005
Some tests (

[2021-05-07 02:15] cmsbuild commented on #33650
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0-slc7_aarch64_gcc9/3005

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-07 06:37] perrotta commented on #33572
Possible issues arising from not having a well structured fillDescription method in the MuonSeedGenerator plugin are reported in https://github.com/cms-sw/cmssw/pull/33563#issuecomment-833671401

[2021-05-07 06:51] silviodonato commented on #33650
upload all

[2021-05-07 06:51] cmsbuild commented on #33650
Queing Jenkins upload for cc8_amd64_gcc9

[2021-05-07 06:51] cmsbuild commented on #33650
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-05-07 06:51] cmsbuild commented on #33650
Queing Jenkins upload for slc7_amd64_gcc900

[2021-05-07 06:51] cmsbuild commented on #33650
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-05-07 06:54] cmsbuild commented on #33650
The upload has started for cc8_amd64_gcc9 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1916/console

[2021-05-07 06:54] cmsbuild commented on #33650
The upload has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1918/console

[2021-05-07 06:54] cmsbuild commented on #33650
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1917/console

[2021-05-07 06:55] cmsbuild commented on #33650
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0-cc8_amd64_gcc9/1916

[2021-05-07 06:55] cmsbuild commented on #33650
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1919/console

[2021-05-07 06:56] cmsbuild commented on #33650
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0-slc7_amd64_gcc900/1918

[2021-05-07 06:56] cmsbuild commented on #33650
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0-slc7_ppc64le_gcc9/1919

[2021-05-07 06:57] cmsbuild commented on #33650
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0-slc7_aarch64_gcc9/1917

[2021-05-07 06:58] silviodonato commented on #33650
release-notes

[2021-05-07 06:58] cmsbuild commented on #33650
Generating release notes since CMSSW_11_3_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-05-07 06:58] cmsbuild commented on #33650
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_3_0 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_0

Cheers,
cms-bot

You can

[2021-05-07 07:01] cmsbuild commented on #33650
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0

[2021-05-07 10:06] ianna opened #33656 "[DD4hep] ExtrudedPolygone usage in HGCal description"
as reported by @bsunanda Simulation step 1 fails using a test HGCal geometry configuration with the following exception:
[code]
to reproduce it in CMSSW:

There are multiple warning presumably coming from [VecGeom](https://github.com/amadio/vecgeom/blob/63bfe04fafc777b2d8aaaf6576ff985459c4a8f9/VecGeom/volumes/TessellatedStruct.h#L309) where `kTolerance` is `1e-9`:
[code]
though DD4hep Geant4Conver

[2021-05-07 10:07] cmsbuild commented on #33656
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-07 10:07] ianna commented on #33656
assign simulation

[2021-05-07 10:07] cmsbuild commented on #33656
New categories assigned: simulation

@civanch,@mdhildreth you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-07 10:08] ianna commented on #33656
assign geometry

[2021-05-07 10:08] cmsbuild commented on #33656
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-07 12:35] MarkusFrankATcernch commented on #33608
@cvuosalo @Dr15Jones @ianna
Hi Folks,

the issue about the Geant4AssemblyVolume's destructor mentioned above by Chris cannot be resolved quickly.
A resolution of this problem was discussed in yesterday's DD4hep meeting.

The base G4AssemblyVolume is a non-polymorph class ie. there is no vtable entry.
Adding now a virtual destructor in the sub-class changes this and actually is a killer when Geant4

[2021-05-07 13:14] JanFSchulte opened #33661 "Implementation of muon L1 prefiring weights"
Hi,

we have performed a measurement of the L1 prefire probability for muons during Run 2, see https://indico.cern.ch/event/1034615/contributions/4344897/attachments/2237683/3793236/20210503_L1Prefiring_JSchulte.pdf .

We are now implementing a weight producer for CMSSW to make a correction available for analysis, following the existing weight producer for ECAL prefiring: https://github.com/cms-sw

[2021-05-07 13:15] cmsbuild commented on #33661
A new Issue was created by  @JanFSchulte Jan-Frederik Schulte.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-07 13:26] mariadalfonso commented on #33661
@bendavid
as the Wmass group will be among the main users

@lathomas since he implemented the ECAL one

[2021-05-07 13:28] bendavid commented on #33661
I would say it's desirable to have both the combined and individual weights (so that users can in general just use the combined one, but so that comparisons of the individual contributions are still possible at nanoaod  level, and also so that a custom measurement can still be used for one of the pieces, while keeping the default for the others if needed.)

[2021-05-07 13:53] lathomas commented on #33661
I agree with Josh that having a single weight would be easier for most analyses.
That can obviously can be achieved with separate producers or a single one. I don't have a strong opinion on what approach is the best. I guess separate producers is a bit more code to write (since one then need to combine the various products in a single one). Maybe @slava77 @jpata have a preference?

[2021-05-07 14:47] ianna commented on #33656
@MarkusFrankATcernch do the definition and conversion look the same to you? DDD to G4 conversion does not cause issues with G4, but DD4hep to G4 does...
https://cmssdt.cern.ch/lxr/source/Fireworks/Geometry/plugins/TGeoMgrFromDdd.cc#0331
[code]
DDG4SolidConverter:  https://cmssdt.cern.ch/lxr/source/SimG4Core/Geometry/src/DDG4SolidConverter.cc#0240
[code]
https://dd4hep.web.cern.ch/dd4hep/reference/

[2021-05-07 15:40] JanFSchulte commented on #33661
Ok, makes sense to me. I have added a combined weight producer that produces a combined weight as well as separate weights for jets, photons, and muons.

[2021-05-07 16:10] makortel opened #33663 "Segfault in MuonShowerInformationFiller in SKYLAKEAVX512_X"
Workflow 136.844 step 3 segfaults in CMSSW_12_0_SKYLAKEAVX512_X_2021-05-06-2300
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_SKYLAKEAVX512_X_2021-05-06-2300/pyRelValMatrixLogs/run/136.844_RunCharmonium2017B+RunCharmonium2017B+HLTDR2_2017+RECODR2_2017reHLT_skimCharmonium_Prompt+HARVEST2017/step3_RunCharmonium2017B+RunCharmonium2017B+HLTDR2_2017+RECODR2_2017reHLT_

[2021-05-07 16:10] makortel commented on #33663
assign reconstruction

[2021-05-07 16:10] cmsbuild commented on #33663
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-07 16:10] cmsbuild commented on #33663
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-07 16:35] makortel commented on #33608
Hi Markus,

Does `Geant4AssemblyVolume` need to inherit from `G4AssemblyVolume`, or would composition work? (from quick peek in to DD4hep code the need for inheritance was not obvious to me)

[2021-05-07 17:09] ianna commented on #33608
please, request an IB with https://github.com/AIDASoft/DD4hep/pull/825 patch
This should solve the problem.

[2021-05-07 18:26] makortel commented on #33663
So far no, this is the only instance. I was first thinking if NaN or Inf could cause it, but the code is calling `std::stable_sort` that IIUC should not have the problems with "weird" floating point values that `std::sort` has.

I'm not sure if it is worth to put much effort here unless the problem shows up again.  I also realize I have no idea what (vector) architecture the job was ran on.

[2021-05-07 18:31] slava77 opened #33665 "todo: create a miniAOD wf for bParking UL data in 12X and 106X; review use of run2_miniAOD_UL in connection with bParking"
There is a plan to produce bParking UL AOD in 10_6_X with updates included in #33589 (and maybe more?). Execution of this miniAOD is expected to be done with `Run2_2018,bParking,run2_miniAOD_UL` modifiers specified/enabled (simultaneously).

Since this data is currently not available, a privately produced file can be used to setup the workflow.

Due to differences in AOD content made in 106X UL pr

[2021-05-07 18:32] cmsbuild commented on #33665
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-07 18:32] slava77 commented on #33665
assign reconstruction

[2021-05-07 18:32] cmsbuild commented on #33665
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-07 18:41] cvuosalo commented on #32141
@mrodozov @makortel Could access to a Power PC machine be granted to simulation/geometry developers? We would need to run a debugger on the code on PPC to try to figure out what is going wrong.

[2021-05-07 18:43] cvuosalo commented on #33608
@civanch It looks like the G4AssemblyVolume destructor problem has been solved.

[2021-05-07 18:58] MarkusFrankATcernch commented on #33608
@makortel @ianna
```Does Geant4AssemblyVolume need to inherit from G4AssemblyVolume, or would composition work? (from quick peek in to DD4hep code the need for inheritance was not obvious to me)```

This is actually the approach it took to resolve this problem.

[2021-05-08 12:19] VinInn opened #33667 "CUDA is incompatible with lto"
Just discovered (and confirmed by this old thread     https://forums.developer.nvidia.com/t/link-time-optimization-with-cuda-on-linux-flto/55530/5 )
that CUDA is not compatible with lto
[code]

Maybe is time to think to separate CUDA code in its own libraries

[2021-05-08 12:19] cmsbuild commented on #33667
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-08 12:22] VinInn commented on #33667
@fwyzard @felicepantaleo fyi

[2021-05-08 13:18] VinInn commented on #33663
in the log it says it is using 'haswell" aka AVX2.
btw what "thePoint" is doing in all those structures????

[2021-05-08 13:22] VinInn commented on #33663
do they realize that they are calling atan2 each time? (same with all those perp and mag)
Again: Obfuscation at its apex.

[2021-05-08 13:23] cmsbuild commented on #33641
The cleanup has started for slc7_aarch64_gcc9

[2021-05-08 13:23] cmsbuild commented on #33641
The cleanup has started for cc8_amd64_gcc9

[2021-05-08 13:23] cmsbuild commented on #33641
The cleanup has started for cc8_ppc64le_gcc9

[2021-05-08 13:23] cmsbuild commented on #33641
The cleanup has started for slc7_ppc64le_gcc9

[2021-05-08 13:23] #33641 closed

[2021-05-08 13:23] cmsbuild commented on #33641
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre1-cc8_amd64_gcc9/1663

[2021-05-08 13:23] cmsbuild commented on #33641
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre1-cc8_ppc64le_gcc9/1664

[2021-05-08 13:23] cmsbuild commented on #33641
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre1-slc7_aarch64_gcc9/1665

[2021-05-08 13:23] cmsbuild commented on #33641
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre1-slc7_ppc64le_gcc9/1667

[2021-05-08 13:23] cmsbuild commented on #33641
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_0_pre1-slc7_amd64_gcc900/1666

[2021-05-08 13:37] VinInn commented on #33663
actually it's worse as globalPosition is not cached, so it also makes a toGlobal transformation each time

[2021-05-08 17:36] mrodozov commented on #32141
I’ll check monday how to add you in the users list that can use the common account .
its somewhere in the xml parsing which creates some type of detector object from that file , I ran it on x86 to see what it does when it works. to get the debug mode I was recompiling ROOT with glibcxx_debug doesnt work from the box. this is needed to compile dd4hep with this flag . then one can see what happens i

[2021-05-08 21:39] makortel commented on #33667
assign core, heterogeneous

[2021-05-08 21:39] cmsbuild commented on #33667
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@fwyzard,@makortel,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-09 05:08] cmsbuild commented on #33650
The cleanup has started for slc7_aarch64_gcc9

[2021-05-09 05:08] cmsbuild commented on #33650
The cleanup has started for cc8_amd64_gcc9

[2021-05-09 05:08] cmsbuild commented on #33650
The cleanup has started for slc7_amd64_gcc900

[2021-05-09 05:08] cmsbuild commented on #33650
The cleanup has started for slc7_ppc64le_gcc9

[2021-05-09 05:08] #33650 closed

[2021-05-09 05:08] cmsbuild commented on #33650
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0-cc8_amd64_gcc9/1668

[2021-05-09 05:08] cmsbuild commented on #33650
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0-slc7_ppc64le_gcc9/1671

[2021-05-09 05:08] cmsbuild commented on #33650
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0-slc7_amd64_gcc900/1670

[2021-05-09 05:08] cmsbuild commented on #33650
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0-slc7_aarch64_gcc9/1669

[2021-05-09 13:15] dan131riley commented on #33663
I'd start by caching the values to be sorted.  It's at least conceivable that there are different code paths that swap the ordering of two entries, maybe due to different vectorization at different stages of the sort.

[2021-05-09 16:17] civanch commented on #33608
@ianna , I do not think we have to ask a special IB. May be we should ask to update externals with  AIDASoft/DD4hep#825 ? Or new extra patches are foreseen in few days? DD4Hep still is not the baseline, so including improvements to master directly seems to be fine.

[2021-05-10 00:57] makortel opened #33668 "cmsRunGP fails to build on cc8_ppc64le"
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_ppc64le_gcc9/CMSSW_12_0_X_2021-05-09-0000/FWCore/Framework

[2021-05-10 00:57] makortel commented on #33668
assign core

[2021-05-10 00:57] cmsbuild commented on #33668
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-10 00:57] cmsbuild commented on #33668
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-10 13:05] mrodozov commented on #33668
for some reason on ppc the lib forlder of libunwind is not lib but lib64
I'm fixing the folder, not sure how it gets the lib64 name yet
nothing is specified in the configure so probably that will be it
[code]

[2021-05-10 14:19] mariadalfonso commented on #32628
@swozniewski @kandrosov @lwezenbe @mbluj
is there a better understanding of this ?

[2021-05-10 14:19] cvuosalo commented on #33608
@mrodozov Could we please get include the latest version of the DD4hep master in CMSSW? We need this fix: https://github.com/AIDASoft/DD4hep/pull/825
Thanks.

[2021-05-10 14:32] cvuosalo commented on #32141
@dpiparo FYI -- we are working on getting access to PPC

[2021-05-10 15:36] mrodozov commented on #32141
@cvuosalo I opened a ticket for user access with OpenLab on the powerpc machines for your username
if they disagree to grant it we'll use the service account we have

[2021-05-10 15:50] fabiocos commented on #24452
Pending list by @kpedro88 , partly addressed in #33680

- [ ] https://github.com/cms-sw/cmssw/pull/25063/files#r243429181
- [ ] https://github.com/cms-sw/cmssw/pull/25063/files#r243420792
- [ ] https://github.com/cms-sw/cmssw/pull/25063/files#r230146631
- [ ] https://github.com/cms-sw/cmssw/pull/25063/files#r242384007
- [ ] https://github.com/cms-sw/cmssw/pull/25063/files#r243436615
- [ ] https://

[2021-05-10 18:35] dan131riley opened #33682 "WF 280.0 failures on aarch64"
We're seeing occasional failures of WF 280.0 on aarch64.  There's a segfault in TBB during exiting, but the relevant bit is why it's exiting--AMPT is printing the message:
[code]
and calling exit:
[code]
Looking at the code for `AMPTHadronizer::call_amptset()` there are a couple of obvious problems:
https://github.com/cms-sw/cmssw/blob/4252a8a664ef8178526a5924c8bf0a2bbb625f21/GeneratorInterface/AM

[2021-05-10 18:36] cmsbuild commented on #33682
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-10 20:23] makortel commented on #33682
Looks like a duplicate of https://github.com/cms-sw/cmssw/issues/33452. @dan131riley Could you copy the new details there?

[2021-05-10 20:24] silviodonato opened #33683 "Build CMSSW_11_3_0_patch1"

[2021-05-10 20:25] cmsbuild commented on #33683
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-05-10 20:28] silviodonato commented on #33683
+1

[2021-05-10 20:28] cmsbuild commented on #33683
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_X

[2021-05-10 20:28] cmsbuild commented on #33683
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2021-05-10 21:19] cmsbuild commented on #33683
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_patch1-slc7_amd64_gcc900/3008
Some t

[2021-05-10 21:19] cmsbuild commented on #33683
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_patch1-slc7_ppc64le_gcc9/3006
Some t

[2021-05-10 21:30] cmsbuild commented on #33683
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_patch1-slc7_aarch64_gcc9/3009
Some t

[2021-05-10 22:16] cmsbuild commented on #33683
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_patch1-cc8_amd64_gcc9/3007

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-10 22:25] cmsbuild commented on #33683
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_0_patch1-slc7_aarch64_gcc9/3009

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-11 00:19] qliphy commented on #33683
upload all

[2021-05-11 00:20] cmsbuild commented on #33683
Queing Jenkins upload for slc7_amd64_gcc900

[2021-05-11 00:20] cmsbuild commented on #33683
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-05-11 00:21] cmsbuild commented on #33683
The upload has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1920/console

[2021-05-11 00:23] cmsbuild commented on #33683
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_patch1-slc7_ppc64le_gcc9/1923

[2021-05-11 00:24] cmsbuild commented on #33683
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_patch1-slc7_aarch64_gcc9/1921

[2021-05-11 00:25] cmsbuild commented on #33683
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_patch1-cc8_amd64_gcc9/1920

[2021-05-11 00:29] cmsbuild commented on #33683
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_0_patch1-slc7_amd64_gcc900/1922

[2021-05-11 00:38] qliphy commented on #33683
release-notes

[2021-05-11 00:39] cmsbuild commented on #33683
Generating release notes since CMSSW_11_3_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-05-11 00:42] cmsbuild commented on #33683
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_0_patch1

[2021-05-11 09:28] silviodonato commented on #33683
@mrodozov no, I have not touched anything related to arm. btw. I see that the arm release has been added here https://github.com/cms-sw/cms-bot/blob/master/releases.map#L2939

[2021-05-11 11:04] mrodozov commented on #33668
this is fixed now

[2021-05-11 11:17] dan131riley commented on #33452
It's calling FORTRAN exit with a success code I guess.  We also see occasional segfaults in TBB while exiting, but the relevant bit is why it's exiting--AMPT is printing the message:
[code]
and calling exit:
[code]
Looking at the code for `AMPTHadronizer::call_amptset()` there are a couple of obvious problems:
https://github.com/cms-sw/cmssw/blob/4252a8a664ef8178526a5924c8bf0a2bbb625f21/GeneratorI

[2021-05-11 11:18] dan131riley commented on #33682
Duplicate.

[2021-05-11 11:31] mrodozov commented on #33683
hm, one of the two machines went into weird state and that might have been the issue.

[2021-05-11 12:10] kdlong opened #33690 "LHERunInfoProduct headers missing in externalLHEProducer?"
Testing in CMSSW_12_0_0_pre1 (and some nightly builds) the LHE header of externalLHEProducer does not seem to be filled. In particular, I take a DY sample (or a Z' sample) and generate LHE events, then just read the product with FWLite, and runInfo.headers_size() gives zero.

Hopefully someone can verify this, but I see that there are some recent changes to ExternalLHEProducer. Could this issue ha

[2021-05-11 12:30] qliphy commented on #33690
assign generators

[2021-05-11 12:30] cmsbuild commented on #33690
New categories assigned: generators

@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-11 12:32] qliphy commented on #33690
adding also @justinasr

@kdlong  Not sure whether #33674 can fix this, but it will be included in next nightly build, and you may check then again.

[2021-05-11 12:33] mrodozov commented on #32141
@cvuosalo openlab granted the access to the ppc machines

[2021-05-11 12:38] agrohsje commented on #33690
Hi @qliphy @Dr15Jones, could it be caused by this PR:
https://github.com/cms-sw/cmssw/commit/b3d43f277097d61e247c4c8c327ab515f64acd2d#diff-655dfc6de4acb390723e3869d0d1bfeab1c79f0366e980abb256483f7cc393c4 ?

[2021-05-11 12:57] justinasr commented on #33690
I don't think I did anything dangerous, essence of my PR is to add an `if` around `throw Exception`. Code check shuffled `#includes` a little, could that cause issues? I mean, `tbb/task_arena.h` and `tbb/task_group.h` [1].

[1] https://github.com/cms-sw/cmssw/pull/33624/files

[2021-05-11 12:58] dildick commented on #32634
@seungjin-yang I'll submit a (modified) PR.

[2021-05-11 13:17] Dr15Jones commented on #33690
b3d43f2#diff-655dfc6de4acb390723e3869d0d1bfeab1c79f0366e980abb256483f7cc393c4 ?

It certainly could. In that change the 'extra' call to `put` that data at end run was removed since it was interfering with the `put` of that data at begin run. However, the put at the begin run does have an 'if' block around it so it has the posibility to not do the `put`.

[2021-05-11 13:18] makortel commented on #33668
+1

[2021-05-11 13:18] #33668 closed

[2021-05-11 13:18] cmsbuild commented on #33668
This issue is fully signed and ready to be closed.

[2021-05-11 14:04] kdlong commented on #33690
@davidlange6 the NanoGen workflows should show it, 546-548, as the missing header will ruin the weight storage (this is how I found this, but not through DQM). These variables should be empty:  https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/nanoDQM_cfi.py#L420-L433

I don't think they are run unless requested, but it could be useful to run them for all GEN changes as it re

[2021-05-11 14:56] Dr15Jones commented on #33690
It appears to me that the following needs to be done

1. reproduce the problem
2. create unit tests to avoid the problem happening again
3. understand why the LHE file format did not have the Run information as part of its header

once that is done then one will know what the fix has to be.

[2021-05-11 16:10] kdlong commented on #33690
@Dr15Jones I'm confused by some of this.

2) It's not really a unit test, but the NanoGen workflows already show if the LHEHeader is invalid. One could also add something like LHERunInfoProduct.headers_size() > 0 to the validation plots

3) I don't follow this. There's nothing wrong with the LHE files. What do you mean by "the LHE file format" then?

[2021-05-11 17:18] dan131riley commented on #33636
These crashes are in (at least) wf 31434.0, 34834.999, 35034.0, 35434.0, 36234.0, and 36634.0.  All three are Phase2C11* Extended2026* variants with HGCal.  They mostly track back to MessageLogger messages in `HGCalDDDConstants::isValidCell8()`:

https://github.com/cms-sw/cmssw/blob/f6e2225db8297ae15fe9df9298ea40a4fd89202d/Geometry/HGCalCommonData/src/HGCalDDDConstants.cc#L1601-L1603

but also a f

[2021-05-11 17:23] Dr15Jones commented on #33636
@dan131riley it looks to me like the HGCalDDDConstants was meant to be behind a `#ifdef EDM_ML_DEBUG` since all the other verbatim statements are done that way.

[2021-05-11 17:26] davidlange6 commented on #32141
@mrodozov - you might put root and dd4hep in debug mode for the IB tonight (but not debug for the llvm in root!)

[2021-05-11 19:36] makortel commented on #33361
@pcanal Do you have any plans to backport the fix to ROOT 6.14? Assuming "no", we could patch CMSSW to ignore in this particular message in 10_6_X. Does that have any risks? Would it be better to silently drop the message, or show it in the logs (via LogWarning)?

[2021-05-11 21:31] makortel commented on #33361
The example case mentioned in the PR description processes 79 events, and within them one event triggers the printout. So probably showing the logs, so perhaps showing the printout would be ok (and not explode the log file sizes).

[2021-05-11 21:48] makortel commented on #33361
I made a PR doing the change in https://github.com/cms-sw/cmssw/pull/33697 (for 10_6_X only) as I'll be away for the rest of the week. @pcanal I'd still like to hear from you if this workaround is proper.

[2021-05-11 23:54] pcanal commented on #33361
The patch is (likely) to be straightforward to backport.   however it is not complete yet.

[2021-05-12 00:34] slava77 opened #33698 "scram build problems on afs with tmp softlinked to local dir"
The following problem started happening in my build setup (here #33645 is tested, but it probably doesn't matter)

[code]

here `/myafspath/CMSSW_12_0_X_2021-05-11-1100-test33645/tmp` is a softlink to a local filesystem

I think that this is related to scram v3

[2021-05-12 00:35] cmsbuild commented on #33698
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-12 00:36] slava77 commented on #33698
assign core

[2021-05-12 07:20] davidlange6 commented on #32141
hi @mrodozov - thanks - the traceback in the IB looks more sane now - can you reproduce the traceback of one of the unit tests with debug symbols for Geometry/EcalCommonData and DetectorDescription/DDCMS packages

[code]

[2021-05-12 07:53] ianna commented on #32141
@VinInn - we've failed to eliminate CLHEP apparently. This comes from our code: a DDLAlgorithm that is a piece of C++ code embedded in our XML description.

DD4hep depends on CLHEP system of units and physical constants because of Geant4. It translates the detector description to Geant4 geometry.

[2021-05-12 08:26] fabiocos commented on #24452
@srimanob as far as I can see, all the issues in the list by Kevin are addressed in #33680 .

[2021-05-12 08:34] srimanob commented on #24452
Thanks very much, @fabiocos
When #33680 is merged, this issue can be closed.

[2021-05-12 08:37] fabiocos commented on #24452
@perrotta I believe that most of the original items of yours were already addressed, and for the few remaining https://github.com/cms-sw/cmssw/issues/24452#issuecomment-721844725 I already commented.

[2021-05-12 08:45] mmusich commented on #33533
After #33648 went in (it was merged in `CMSSW_12_0_X_2021-05-11-2100`) it really solved the issue in the `slc7_ppc64le_gcc9` build: see [log of step5](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_ppc64le_gcc9/CMSSW_12_0_X_2021-05-11-2100/pyRelValMatrixLogs/run/11634.24_TTbar_14TeV+2021_0T+TTbar_14TeV_TuneCP5_GenSimINPUT+Digi+Reco+HARVEST+ALCA/step5_TTbar_14TeV+2021_0T+TTbar_14TeV_TuneCP5_GenS

[2021-05-12 09:06] vlimant commented on #32628
what are the different hardware leading to different outcome through TF? can this be reproduced "stand-alone" (i.e. without CMSSW) ?

[2021-05-12 09:12] fabiocos commented on #21972
@makortel @civanch @silviodonato @qliphy this old issue seems to me still open, please confirm

[2021-05-12 09:15] fabiocos commented on #22718
@silviodonato @qliphy @makortel this is an old discussion, some newer work was done along this spirit but no major reorganization happened to my mind. Leaving open this issue without any action seems of little help to me.

[2021-05-12 09:17] fabiocos commented on #22754
@makortel there was a recent discussion in Mattermost about this, not sure whether keeping this issue open is still meaningful

[2021-05-12 09:18] VinInn commented on #32141
@ianna please open an issue about removing CLHEP (and long double) from Detector Description

[2021-05-12 09:19] fabiocos commented on #22996
@jfernan2 @silviodonato @qliphy not sure which kind of updates are available nowadays, some cleaning was ongoing already when I left the release manager task. Probably this issue should be closed and something newer opened in case there are residual problems are present, please provide comments and suggestions.

[2021-05-12 09:20] fabiocos commented on #23200
@Martin-Grunewald @silviodonato @qliphy is the problem reported here still present?

[2021-05-12 09:22] fabiocos commented on #23403
@jfernan2 @silviodonato @qliphy is this issue still present?

[2021-05-12 09:23] fabiocos commented on #25702
@Martin-Grunewald @silviodonato @qliphy is this issue stil present?

[2021-05-12 09:24] fabiocos commented on #26269
@smuzaffar @ggovi does this issue still make sense?

[2021-05-12 09:25] fabiocos commented on #26494
@silviodonato @qliphy FYI this was never closed, please comment if the problem is no more there

[2021-05-12 09:26] fabiocos commented on #27082
@smuzaffar is there any news about this? Is this request still on the radar?

[2021-05-12 09:27] ianna opened #33703 "[Geometry][Detector Description] Remove CLHEP and long double"
Remember to remove CLHEP dependency from Geometry subsystem especially from the DD Algorithms.

Open issues with CLHEP mentioned:
https://github.com/cms-sw/cmssw/search?q=CLHEP&state=open&type=issues
CMSSW code using CLHEP:
https://github.com/cms-sw/cmssw/search?l=C%2B%2B&q=CLHEP&type=code

@VinInn - FYI

[2021-05-12 09:27] fabiocos commented on #27491
@silviodonato @qliphy not sure whether this is issue is still there

[2021-05-12 09:27] cmsbuild commented on #33703
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-12 09:28] fabiocos commented on #28585
@srimanob @peruzzim do I properly understand that this issue can be considered as solved?

[2021-05-12 10:04] perrotta commented on #24452
Ok, thank you Fabio.

About "modernization of ReferenceCountingPointer", this was proposed by @lgray in the comment at L74 of RecoMTD/DetLayers/src/MTDRingForwardDoubleLayer.cc in #24285: I agree that this goes beyond the MTD domain, since it touches all tracking geometries in CMSSW.

[2021-05-12 10:27] VinInn commented on #33703
most of the "new" long double comes from the use of user-defined literals

their effect can be seen in this simple code

https://godbolt.org/z/956fn9aWh

not sure if intended/desirable

[2021-05-12 10:33] VinInn commented on #33703
the "issue: is solved changing the return of the ```operator""``` to double
```constexpr double operator"" _pi(long double x) ```

https://godbolt.org/z/KKPYc935n

[2021-05-12 10:36] ianna commented on #33703
@VinInn - would you submit a PR?

[2021-05-12 10:38] VinInn commented on #33703
the code in question is
https://cmssdt.cern.ch/lxr/source/DataFormats/Math/interface/angle_units.h

not the inconsistency with

https://cmssdt.cern.ch/lxr/source/DataFormats/Math/interface/CMSUnits.h#0025

[2021-05-12 10:40] VinInn commented on #33703
Sorry @ianna ,
I am neither the author nor the maintainer of these files and even less of their clients.
I think that those responsible for such code and its performance shall take action

[2021-05-12 10:44] ianna commented on #33703
Sure, thanks for tracing the issue.

[2021-05-12 10:44] VinInn commented on #33703
Btw: have not found the CLHEP usage in Detector Description.
The only "serious" one is for Phase0 forward pixels

[2021-05-12 10:47] ArnabPurohit commented on #33572
Hello @perrotta, thanks for pointing us to these issues. I have already started looking into this issue and will come with an answer as soon as possible after discussing internally with the Muon POG team.

[2021-05-12 10:53] ianna commented on #33703
Its usage is hidden in Geometry:
https://github.com/cms-sw/cmssw/blob/4252a8a664ef8178526a5924c8bf0a2bbb625f21/Geometry/EcalCommonData/src/DDEcalEndcapTrapX.cc

On 12 May 2021, at 12:45, Vincenzo Innocente ***@***.***> wrote:

Btw: have not found the CLHEP usage in Detector Description.
The only "serious" one is for Phase0 forward pixels

—
You are receiving this because you were mentioned.
Reply

[2021-05-12 10:54] ianna commented on #33703
and this link is only one example

[2021-05-12 11:52] ianna commented on #33703
@VinInn - do you know per chance who uses/needs Basic3DVectorLD?

[2021-05-12 12:08] mrodozov commented on #32141
sorry I missed that last part for some time

[2021-05-12 12:13] ianna commented on #33703
possibly partially fixed by https://github.com/cms-sw/cmssw/pull/33705

[2021-05-12 12:23] mrodozov commented on #32628
see this
https://github.com/cms-sw/cmssw/issues/33180
and this
https://github.com/cms-sw/cmssw/issues/33442
if it helps although it's not strictly related to this workflow

[2021-05-12 12:52] mrodozov commented on #32141
I added Geometry/EcalCommonData and DetectorDescription/DDCMS and compiled them with

` USER_CXXFLAGS="-O3 -g3 -DEDM_ML_DEBUG" scram b -v -j 100`

Now it's showing just a bit more from DD4Hep before it ends in Transform3D

[code]

[2021-05-12 13:04] VinInn commented on #32141
my understanding is that gcc do not manage to trace variable for debugging purposes: so I suspect the stack trace is not reliable
according to doc one my try to increase the "variable tracking size limit "

[2021-05-12 13:21] dan131riley commented on #33636
Another one in `edm::SerialTaskQueue::pickNextTask()`:
[code]

[2021-05-12 13:31] ianna commented on #32141
@mrodozov - thanks! Which command produces this? Is it a unit test or a workflow?
Is there a debug section enabled in the configuration XML? Something like:
[code]
One need to enable printout from the plugins to get more information on which algorithm is failing. Is it this one: https://cmssdt.cern.ch/lxr/source/Geometry/EcalCommonData/plugins/dd4hep/DDEcalBarrelNewAlgo.cc

[2021-05-12 13:44] dan131riley commented on #33636
Another in `edm::service::ThreadSafeLogMessageLoggerScribe::log()`.  This one is notable because it's wf
136.812, which is Run2_2017, not upgrade:
[code]

[2021-05-12 13:50] Dr15Jones commented on #33636
@smuzaffar @mrodozov would it be possible to build the PPC IB with debug symbols? Getting line numbers for the crash would be super useful.

[2021-05-12 13:52] mrodozov commented on #32141
ah yes when I add Geometry/EcalCommonData and DetectorDescription/DDCMS then I always use the
`scram b runtests_testDD4hepFilteredViewGet`
which is using
$CMSSW_BASE/src/DetectorDescription/DDCMS/test/python/testDDFilteredView.py
which I run with
gdb --args cmsRun -n 1 $CMSSW_BASE/src/DetectorDescription/DDCMS/test/python/testDDFilteredView.py

[2021-05-12 13:56] mrodozov commented on #33636
I'll check if I can bring the _DBG_ IB for PPC

[2021-05-12 14:34] silviodonato commented on #27491
The issue was "solved" by reverting #27491(#27481), but the code of the RPC TriggerPrimitives was never merged.
@cms-sw/l1-l2 do you know what is the plan about this?
Let me also add in cc @folguera, author of #30344 (DT TPG)

[2021-05-12 14:37] VinInn commented on #32141
at least on x86

I added ```(gdb) b sincosl```
and it never breaks

if instead I add
```(gdb) b sincos```
it will stop somewhere in
[code]
that is expected....

try on PPC, still I doubt it really calls sincosl  (one can even grep the shared lib) on dump the linked symbols

[2021-05-12 14:46] Dr15Jones commented on #33636
In general, for non-production architectures, would it make sense to always build debug symbols but not necessarily with optimization disabled, i.e. just `-g` flag? Since we are using these IBs primarily for for testing of the software having the tracebacks include line numbers would greatly aid fixing problems.

[2021-05-12 14:49] VinInn commented on #32141
[code]

no sincosl

[2021-05-12 14:55] davidlange6 commented on #32141
eg, run an IB with this added to gcc
--param=max-vartrack-size=<some big number>
(I saw one example of 60000000)

[2021-05-12 14:56] davidlange6 commented on #32141
@ianna  - can you give @mrodozov  a recipe for adding verbose info (if not already done)?

[2021-05-12 14:56] fabiocos commented on #27491
@silviodonato more than a solution that was the temporarily protection. I see that the new package proposed in #26967 is not there, so the problem is not there, at least in the original form, but it is unclear to me what is the follow-up (if any).

Unless you have a good reason to keep this issue open, I would close it.

[2021-05-12 14:57] VinInn commented on #32141
here it is
[code]

[2021-05-12 15:01] VinInn commented on #32141
not in x86_64
[code]

[2021-05-12 15:27] mrodozov commented on #32141
I think i tried it the first time adding it to the USER_CXXFLAGS I can try it to the IB flags

[2021-05-12 15:31] silviodonato commented on #26494
@fabiocos The problem is still there. Is https://github.com/cms-sw/cmssw/pull/33711 what you are asking for?

[2021-05-12 15:33] silviodonato commented on #27491
I agree let's close the issue. @rekovic @cecilecaillol be aware that the RPC TriggerPrimitives are not merged yet (after 2 year since #26967)

[2021-05-12 15:33] #27491 closed

[2021-05-12 15:50] davidlange6 commented on #32141
I’d worry that you should add it also for the root/dd4hep compilation..

[2021-05-12 15:51] ianna commented on #32141
@mrodozov , please, try to add to the debug section. Please, insert after:
[code]
the following fragment:
[code]
in :
 ['Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml'](https://cmssdt.cern.ch/lxr/source/Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml)

[2021-05-12 15:52] ianna commented on #32141
IMHO, it's in our code :-(

[2021-05-12 15:54] mrodozov commented on #32141
Like this ?

[code]

[2021-05-12 15:55] civanch commented on #32141
@VinInn , CLHEP is used by Geant4, so when build Geant4 geometry DD4Hep should use it.

CLHEP is not used in Reconstruction of CMS. In the new DD4Hep detector description geometry is created in CLHEP units for simulation, in ROOT units for reconstruction.

[2021-05-12 16:02] cvuosalo opened #33712 "[DD4hep] [Cosmetic] Harmless warning messages about overwriting some constants should be quieted by removing duplicate definitions"
When the DD4hep geometry is built, the following warning messages are output:
[code]
Step 1 of the DD4hep workflow 11634.911 shows these messages.
The problem is that these variables have duplicate definitions in XML files and in `DetectorDescription/DDCMS/plugins/dd4hep/DDDefinitions2Objects.cc`. The duplicate definitions need to be found and removed so these constants are only defined once.
Thes

[2021-05-12 16:02] cmsbuild commented on #33712
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-12 16:05] cvuosalo commented on #33712
@ianna FYI, as you requested

[2021-05-12 16:05] cvuosalo commented on #33712
assign geometry

[2021-05-12 16:05] cmsbuild commented on #33712
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-12 16:07] cvuosalo commented on #33703
assign geometry

[2021-05-12 16:08] cmsbuild commented on #33703
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-12 16:09] silviodonato commented on #22718
Thanks for the reminder @fabiocos . Just to clarify, for example instead of having https://github.com/cms-sw/cmssw/blob/master/Configuration/Eras/python/Era_Run2_2016_pA_cff.py
should we use  ( Run2_2016 era ) + ( pA modifier) instead of a single modified Era?

[2021-05-12 16:16] silviodonato commented on #22996
I agree, I think we can close this issue. @jfernan2 ?

[2021-05-12 16:18] jfernan2 commented on #22996
Yes, fine from my side

[2021-05-12 16:26] #22996 closed

[2021-05-12 16:36] fabiocos commented on #22718
the basic argument raised by @davidlange6 at that time, and which I share, is to use Eras to identify specific data taking periods (and 2016_pA is a specific data taking period, different wrt the regular pp 2016) and modifiers to identify possible variants of the default to be used in a given data taking period: for instance ```dd4hep```, which is not linked to a specific data taking period but to

[2021-05-12 16:36] cvuosalo commented on #32141
These algorithm files use CLHEP for historical reasons, but they could be changed to use ROOT utilities instead:
[code]
They contain code like `CLHEP::HepRotationX(180._deg)`. As discussed above, `_deg` returns `long double`, so this code calls the `long double` version of CLHEP, which apparently has problems on PPC.
This usage is unnecessary. The user-defined literals can use `double` instead of

[2021-05-12 16:40] ianna commented on #32141
Yes, I agree. We've discussed that first we want to migrate them as is, validate, and only then modify to improve them :-)

[2021-05-12 16:51] mrodozov commented on #33636
There might be a problem when building in debug all "experimental" IBs because we use shared resources for that and it might take longer for testing. But we can try few times and check if it actually does, if it doesn't maybe yes. For PPC this may fly under the radar but I doubt it on Arm machines which are slow even now

[2021-05-12 17:07] Dr15Jones commented on #33636
My suggestion is to try just generating debug symbol, `-g`, but leave optimization on. That should allow the code to run nearly as fast as before but be able to give us more debugging info in the case of a crash.

[2021-05-12 17:19] silviodonato opened #33713 "Build CMSSW_10_2_26_patch1"

[2021-05-12 17:19] silviodonato commented on #33713
+1

[2021-05-12 17:20] cmsbuild commented on #33713
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-05-12 17:20] cmsbuild commented on #33713
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_26_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2021-05-12 17:20] cmsbuild commented on #33713
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-05-12 17:22] cmsbuild commented on #33713
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3011/console
CMSDIST Branch: [REL/CMSSW_10_2_26/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_26/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-12 17:22] cmsbuild commented on #33713
The build has started for slc6_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3010/console
CMSDIST Branch: [REL/CMSSW_10_2_26/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_26/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-12 17:58] civanch commented on #32141
@cvuosalo, @ianna , why not simply fix literal _deg - it should return 'double' and not 'long_double'? Do we really need 'long_double' in literals?

[2021-05-12 17:59] cmsbuild commented on #33713
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_26_patch1-slc7_amd64_gcc700/3011
Some

[2021-05-12 18:03] civanch commented on #32141
In this particular place do we really need rotation for 180 degrees? The transformation matrix may be simply hard-coded instead of artificial increase of accuracy. I would guess CLHEP::HepRotationX(180._deg) is not needed at all.

[2021-05-12 18:05] cmsbuild commented on #33713
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_26_patch1-slc6_amd64_gcc700/3010
Some

[2021-05-12 18:37] cmsbuild commented on #33713
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_26_patch1-slc7_amd64_gcc700/3011

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-12 18:38] cvuosalo commented on #32141
@civanch It is being fixed in #33705.

[2021-05-12 18:42] cmsbuild commented on #33713
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_26_patch1-slc6_amd64_gcc700/3010

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-12 19:36] mrodozov commented on #33636
We can try that yes. The DEBUG PPC IB will appear with -1700 hour some time soon

[2021-05-12 20:52] wddgit opened #33716 "Secondary File Input Check that Secondary File is an Ancestor"
For secondary file input, there is a requirement that the secondary input files must be ancestors of the primary input file.
See https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuidePoolInputSources#Example_5_Merging_files_with_dif This requirement has always existed.

There is a check that is supposed to notice if they are not and print a helpful message with an exception. See checkHistoryConsis

[2021-05-12 20:52] cmsbuild commented on #33716
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-12 21:33] wddgit commented on #33716
Note I just changed the documentation to reflect that the actual requirement is that secondary files be ancestors. For some reason before it included the possibility that the secondary files have the same list of process names in the ProcessHistory. This is not what has been in the code...

[2021-05-12 22:31] civanch commented on #32141
@cvuosalo , thanks for the fix! Likely testUnits needs a revision. Concerning rotation for 180 degrees - this may be replaced by a special utility.

[2021-05-12 22:53] cmsbuild commented on #33683
The cleanup has started for slc7_aarch64_gcc9

[2021-05-12 22:53] cmsbuild commented on #33683
The cleanup has started for cc8_amd64_gcc9

[2021-05-12 22:53] cmsbuild commented on #33683
The cleanup has started for slc7_amd64_gcc900

[2021-05-12 22:53] cmsbuild commented on #33683
The cleanup has started for slc7_ppc64le_gcc9

[2021-05-12 22:53] #33683 closed

[2021-05-12 22:54] cmsbuild commented on #33683
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_patch1-slc7_aarch64_gcc9/1673

[2021-05-12 22:54] cmsbuild commented on #33683
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_patch1-slc7_ppc64le_gcc9/1675

[2021-05-12 22:54] cmsbuild commented on #33683
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_patch1-cc8_amd64_gcc9/1672

[2021-05-12 22:54] cmsbuild commented on #33683
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_3_0_patch1-slc7_amd64_gcc900/1674

[2021-05-13 00:49] makortel commented on #33716
assign core

[2021-05-13 00:49] cmsbuild commented on #33716
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-13 05:48] Martin-Grunewald commented on #23200
Looks resolved to me...

[2021-05-13 05:48] Martin-Grunewald commented on #25702
Looks resolved to me...

[2021-05-13 07:23] silviodonato commented on #33713
upload all

[2021-05-13 07:23] cmsbuild commented on #33713
Queing Jenkins upload for slc6_amd64_gcc700

[2021-05-13 07:23] cmsbuild commented on #33713
Queing Jenkins upload for slc7_amd64_gcc700

[2021-05-13 07:25] cmsbuild commented on #33713
The upload has started for slc6_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1924/console

[2021-05-13 07:25] cmsbuild commented on #33713
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_26_patch1-slc6_amd64_gcc700/1924

[2021-05-13 07:26] cmsbuild commented on #33713
The upload has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1925/console

[2021-05-13 07:26] cmsbuild commented on #33713
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_26_patch1-slc7_amd64_gcc700/1925

[2021-05-13 08:03] fabiocos commented on #25702
Not sure which validation was performed, anyway the class has evolved quite a lot since the time of this issue. @silviodonato @qliphy unless you have a different advice, but given the answer of @Martin-Grunewald I would close this PR

[2021-05-13 08:04] fabiocos commented on #23200
I do still see the ```LogInfo```, it would be interesting to understand whether going back to a ```LogError``` is now feasible.

[2021-05-13 08:11] fabiocos commented on #26494
@silviodonato I think that should be ok, I close this issue

[2021-05-13 08:11] #26494 closed

[2021-05-13 11:49] silviodonato commented on #33713
release-notes

[2021-05-13 11:49] cmsbuild commented on #33713
Generating release notes since CMSSW_10_2_26.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-05-13 11:49] silviodonato commented on #25702
+1

[2021-05-13 11:49] cmsbuild commented on #33713
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_26_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_26 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_26_patch1

Cheers,
cms-bot

You can also click <a h

[2021-05-13 11:50] cmsbuild commented on #33713
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_26_patch1

[2021-05-13 11:51] #33713 closed

[2021-05-13 13:23] Dr15Jones commented on #33636
@mrodozov so we had another seg fault in the 2300 build on ppc but there were no additional debug information. Was the debug only applied to one specific build?

[2021-05-13 13:28] mrodozov commented on #33636
to the one specific build only in 1700, yes. the one in 2300 was with the existing compiler options (no debug info yet)

[2021-05-13 13:37] silviodonato commented on #27082
I see that the fix has been merged in LLVM main, https://reviews.llvm.org/rG0becc4d721d0036e2e38d581bc487e27f78eb8a9
but unfortunately it seems that it missed LLVM 12.0.

In other words, I see the commit https://github.com/llvm/llvm-project/commit/0becc4d721d0036e2e38d581bc487e27f78eb8a9
is included in https://github.com/llvm/llvm-project/blob/main/clang-tools-extra/test/clang-tidy/checkers/readab

[2021-05-13 13:53] dan131riley commented on #33636
@mrodozov The 1700 build failed, it was compiled with "-g -O0" and we apparently still have some modules that won't build correctly with optimization off.  We should try to fix those, but in the meantime is it possible to do what @Dr15Jones suggested, add "-g" but leave the normal optimization flags?

[2021-05-13 15:28] wddgit commented on #33716
Original hypernews thread that started us to look at this:

https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3921/1/1/1/1/1/1/1/3/2/1.html

[2021-05-13 15:29] #25702 closed

[2021-05-13 16:43] qliphy opened #33726 "Build CMSSW_10_6_25"

[2021-05-13 16:44] cmsbuild commented on #33726
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-05-13 16:45] qliphy commented on #33726
+1

[2021-05-13 16:46] cmsbuild commented on #33726
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_25. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-05-13 16:46] cmsbuild commented on #33726
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-05-13 16:48] cmsbuild commented on #33726
The build has started for slc7_amd64_gcc700 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3012/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-13 16:48] cmsbuild commented on #33726
The build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3013/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-13 18:04] mrodozov commented on #33636
I'm searching where are the options for the \_DBG\_ IBs so I can turn this optimization to 3 from 0

[2021-05-13 18:32] dan131riley commented on #33636
Looks like https://github.com/cms-sw/cmsdist/blob/4f5e67a29b506c0312331b3c6a1ce4496e616f6e/cmssw-queue-override.file#L16-L18

[2021-05-13 18:43] mrodozov commented on #33636
done. github is not very useful for searching basic things 😃 (I did search for _DBG_ rather then DBG only tho)

[2021-05-13 18:48] mrodozov commented on #33636
started an IB for -2100 (and the right date this time)

[2021-05-13 19:40] cmsbuild commented on #33726
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_25-slc7_amd64_gcc820/3013
Some tests (

[2021-05-13 20:18] cmsbuild commented on #33726
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_25-slc7_amd64_gcc700/3012
Some tests (

[2021-05-13 20:20] cmsbuild commented on #33726
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_25-slc7_amd64_gcc820/3013

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-13 20:57] cmsbuild commented on #33726
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_25-slc7_amd64_gcc700/3012

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-14 00:43] qliphy commented on #33726
upload all

[2021-05-14 00:44] cmsbuild commented on #33726
Queing Jenkins upload for slc7_amd64_gcc700

[2021-05-14 00:44] cmsbuild commented on #33726
Queing Jenkins upload for slc7_amd64_gcc820

[2021-05-14 00:44] cmsbuild commented on #33726
The upload has started for slc7_amd64_gcc700 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1926/console

[2021-05-14 00:46] cmsbuild commented on #33726
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_25-slc7_amd64_gcc700/1926

[2021-05-14 00:46] cmsbuild commented on #33726
The upload has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1927/console

[2021-05-14 00:47] cmsbuild commented on #33726
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_25-slc7_amd64_gcc820/1927

[2021-05-14 05:01] qliphy commented on #33726
release-notes

[2021-05-14 05:01] cmsbuild commented on #33726
Generating release notes since CMSSW_10_6_24.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-05-14 05:01] cmsbuild commented on #33726
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_25 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_24 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_25

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2021-05-14 05:05] cmsbuild commented on #33726
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_25

[2021-05-14 07:21] fabiocos commented on #27082
@silviodonato ok, let's wait fir next round, just please keep this in mind

[2021-05-14 09:19] civanch commented on #33703
@ianna , detector description creates Geant4 geometry and materials, so it depends on Geant4, Geant4 depends on CLHEP. So, we should not plan remove CLHEP dependence, all what can be done is to revise utilities in CMSSW to make them consistent.

I would suspect that switch from 'long long double' to 'long double' will break regression for the PR, which will do this, but also assume, that this may

[2021-05-14 09:39] VinInn commented on #32141
this code https://godbolt.org/z/3j1zn7rrr https://godbolt.org/z/3j1zn7rrr despite the explicit double and -mlong-double-64
btw it DOES NOT COMPILE with -mlong-double-128
it calls sincos on x86_64

Where can I log in on a ppc to test it with gcc9 and (check if segfaults)?

[2021-05-14 10:25] ianna commented on #33703
@civanch - I respectfully disagree. Neither `DetectorDescription` nor `Geometry` subsystem depend on Geant4. There is no need to for CLHEP there. It introduces yet another, e.g. alternative way of transformation definition and adds an extra layer of CLHEP to ROOT transformation conversion. The first confuses the developers, the latter adds to the precision errors.

let's hope it does

[2021-05-14 10:42] civanch commented on #33703
@ianna , if a sub-library does not depend on Geant4 there is likely no need to depend on CLHEP. I agree, that we should avoid unnecessary units conversions and trying to have as less units conversions as possible.

[2021-05-14 12:13] VinInn commented on #32141
ok this is even more tricky
on x86_64 -mlong-double support -64 -80 -128
what is strange is that -mlong-double-64 is calling sincosl TILL gcc11 where now calls sincos !!!!
So if godbolt is correct they have changed/fixed something very recently...

[2021-05-14 12:15] VinInn commented on #32141
so on x86_64:
gcc version 9.3.0 (GCC)
[code]

gcc version 12.0.0 20210514 (experimental) [master revision df18a13:515cc33a:40a2f88838e5119799649a74692cbf38d774b706] (GCC)
[code]

[2021-05-14 12:17] VinInn commented on #32141
on pcc
gcc version 9.3.0 (GCC)
[code]
[code]

[2021-05-14 12:19] VinInn commented on #32141
btw
[code]

[2021-05-14 12:20] VinInn commented on #32141
if anybody install gcc 11.1 on pcc we can give a try

[2021-05-14 12:24] VinInn commented on #32141
so the solution is:
remove ```-std=c++17``` from the compilation flags!

[2021-05-14 12:28] dan131riley commented on #33636
Bad/good/bad news story.

Bad: even with optimization on, there's still a bunch of stuff that doesn't compile with EDM_ML_DEBUG defined, so there's lots in the latest build that still didn't compile.  We need a campaign to make DBG builds work.

Good: enough worked that we did get a bunch of stack traces, partly because EDM_ML_DEBUG turned on a bunch more logging.  Representative stack trace below

[2021-05-14 12:31] dan131riley commented on #33636
Yep, so it's probably a likely source of the crash because it gets executed a lot more than intended, similar to how turning on EDM_ML_DEBUG produces a much higher likelihood of crashes (and compilation failures).

[2021-05-14 12:42] mrodozov commented on #32141
If you mean only for the pieces where `long double` is used we can try to device something clever

It's about time to get it as external and have a gcc11 IB anyway, maybe I'll start Monday, in the meantime I can try to use the container and install it with dnf

[2021-05-14 12:47] VinInn commented on #32141
let's see what gcc11 produces.
I never blame the compiler in first instance. Maybe this time it was really a compiler defect.
I would really like to find what they fixed and why

[2021-05-14 12:59] mrodozov commented on #33636
I started fixing the obvious stuff although I'm not sure with what rate I fix things and new failures are put for example in L1Trigger 😃
The one in FWCore/Framework is my bad because of an external (libunwind still fail to install in lib (vs lib64) although I "fixed" it) -> https://github.com/cms-sw/cmsdist/pull/6886
The others:
https://github.com/cms-sw/cmssw/pull/33719
https://github.com/cms-sw/

[2021-05-14 13:26] VinInn commented on #32141
one more variation
[code]

here is using float128 for long double though.

[2021-05-14 14:10] Dr15Jones opened #33734 "Failure in building a _DBG release"
CMSSW_12_0_DBG_X_2021-05-13-2300 had several compilation failures. This issue is meant to track progress on fixing them.

The packages with compilation failures are
- CondTools/Ecal
- L1Trigger/CSCTrackFinder
- L1Trigger/DTTriggerPhase2
- SimTransport/PPSProtonTransport
- Validation/HGCalValidation

[2021-05-14 14:10] cmsbuild commented on #33734
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-14 14:11] Dr15Jones commented on #33734
#33719 fixes Validation/HGCalValidation

[2021-05-14 14:11] Dr15Jones commented on #33734
assign core

[2021-05-14 14:12] cmsbuild commented on #33734
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-14 14:12] Dr15Jones commented on #33636
See #33734 to track issues with DBG build

[2021-05-14 14:12] Dr15Jones commented on #33734
I'll look into the build failure of CondTools/Ecal.

[2021-05-14 14:38] gartung commented on #33734
Copied from TBB issue
https://github.com/cms-sw/cmssw/pull/33719
https://github.com/cms-sw/cmssw/pull/33718

[2021-05-14 14:42] Dr15Jones commented on #33734
@smuzaffar @mrodozov So I created a CMSSW_12_0_DBG_X_2021-05-13-2300 work area (at FNAL), checked out CondTools/Ecal and it compiled without issue. Why didn't this fail like the IB?

[2021-05-14 14:45] Dr15Jones commented on #33734
@smuzaffar @mrodozov I can answer my own question, doing `scram b -v` I see that debugging is actually NOT turned on implicitly when using that build. What are all the environment variable I must set to get the same build environment?

[2021-05-14 15:12] Dr15Jones commented on #33734
So I discovered that compiling using `USER_CXXFLAGS` set to `-O0 -g3` compiled fine but using `-O3 -g3 -DEDM_ML_DEBUG` lead to the compilation failure.

[2021-05-14 15:13] mrodozov commented on #33734
I had that issue already yesterday, sorry for not mentioning it, I've used the USER_CXXFLAGS="-g -03 _DEDM_ML_DEBUG" in front of scram commands like:
`USER_CXXFLAGS="-g -03 _DEDM_ML_DEBUG"  scram b -j 100`

[2021-05-14 15:32] dan131riley commented on #33734
Best to use `-g -O0 -DEDM_ML_DEBUG`, as some of the failures are from conditional debug code, and some are from code that doesn't compile without the optimizer.

[2021-05-14 18:39] mrodozov commented on #33636
the framework missing lib should be fixed with https://github.com/cms-sw/cmsdist/pull/6906 (tested on ppc to make sure this time)

[2021-05-14 19:37] cvuosalo opened #33738 "[Geometry] Redundant vacuum materials should be deleted"
The following elementary materials defined in geometry XML files are redundant:
[code]
The vacua are all identical and should be replaced with the standard `materials:Vacuum`. `zdcmaterials:Galactic` is unused and should be deleted.

[2021-05-14 19:37] cmsbuild commented on #33738
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-14 19:39] cvuosalo commented on #33738
assign geometry

[2021-05-14 19:39] cmsbuild commented on #33738
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-14 19:39] Dr15Jones commented on #33734
See #33737

[2021-05-14 19:40] Dr15Jones commented on #33734
Interesting, the use of `-O3 -g` actually allowed the compiler to see that the original code would read outside of the array. Using `-O0` or `-O2` did not find the problem.

[2021-05-14 20:36] smuzaffar commented on #33734
@Dr15Jones , you need to use
[code]
Once back to work, I will update the configuratin to make these flags defaults for the _DBG IBs

[2021-05-14 21:27] Dr15Jones commented on #33734
See #33739 #33740 and #33741

[2021-05-14 21:29] Dr15Jones commented on #33636
The place where the MessageLogger and where `edm::SerialTaskQueue::pickNextTask()` are failing both are using a `tbb::concurrent_queue`.

[2021-05-15 07:11] VinInn opened #33743 "understand long double behaviour on PPC"
PowerPC differs from x86_64 in the way long double are handled natively as it supports float128 (in hardware in PPC9)

at the moment the behavior is a bit weird to say the least (see #32141 )
for instance
[code]

1) would be useful to build gcc 11.1 to understand if the behavior is more sane (and eventually subit bug reports to gcc if not)
2) understand if for our use cases is better ``` -mlong-do

[2021-05-15 07:12] cmsbuild commented on #33743
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-15 07:12] VinInn opened #33744 "build gcc 11.1 and test c++20"
It may have come the time to start testing c++20 features

[2021-05-15 07:13] cmsbuild commented on #33744
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-16 03:08] cmsbuild commented on #33726
The cleanup has started for slc7_amd64_gcc700

[2021-05-16 03:08] cmsbuild commented on #33726
The cleanup has started for slc7_amd64_gcc820

[2021-05-16 03:08] #33726 closed

[2021-05-16 03:08] cmsbuild commented on #33726
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_25-slc7_amd64_gcc700/1676

[2021-05-16 03:08] cmsbuild commented on #33726
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_25-slc7_amd64_gcc820/1677

[2021-05-16 22:54] Dr15Jones commented on #33636
So looking at the failure in the _DBG build, the method in TBB that is failing is the following (from: /cvmfs/cms-ib.cern.ch/nweek-02680/slc7_amd64_gcc900/external/tbb/v2021.2.0/include/oneapi/tbb/detail/_concurrent_queue_base.h )

[code]
It fails at line 189 with a segmentation fault. The most likely reason is `p == nullptr`. Presumably line 182 is meant to test that (if TBB is built with its deb

[2021-05-17 10:00] fabiocos commented on #24452
Now that #33680 has been merged, I would consider this issue as basically solved, accounting for the comments above.

[2021-05-17 10:04] perrotta commented on #24452
+reconstruction

[2021-05-17 10:07] #24452 closed

[2021-05-17 12:11] slava77 commented on #33564
@camclean @alefisico @lathomas @kirschen
please take a look or suggest a JME expert to follow this

[2021-05-17 13:40] dan131riley commented on #33636
We got a segfault in `ThreadSafeLogMessageLoggerScribe::log()` on slc7_aarch64_gcc9, which shifts my prior from a PPC-specific bug to a more generic logic error in `tbb::concurrent_queue`.
[code]

[2021-05-17 13:53] makortel commented on #21972
Looks still relevant to me too.

[2021-05-17 13:55] makortel commented on #22754
The mattermost discussion was somewhat inconclusive, so I'd keep the issue open.

[2021-05-17 14:05] dan131riley commented on #21972
Yes, still relevant.  I put it onto my todo list and will make an entry for the agile board.

[2021-05-17 14:08] makortel commented on #22718
Just to note (without thinking much the big picture yet) that "modified Eras" implemented as "remove a Modifier from the Era" are currently difficult to implement as a separate Era and Modifier.

[2021-05-17 14:31] makortel commented on #33743
assign core

[2021-05-17 14:32] cmsbuild commented on #33743
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-17 14:33] mrodozov commented on #32141
this is fixed and now we have 33743 , closing this

[2021-05-17 14:33] #32141 closed

[2021-05-17 14:34] mrodozov commented on #32090
this is fixed now by #33705

[2021-05-17 14:34] #32090 closed

[2021-05-17 14:34] mrodozov commented on #32089
fixed by #33705

[2021-05-17 14:34] #32089 closed

[2021-05-17 14:34] mrodozov commented on #32088
fixed by #33705

[2021-05-17 14:34] #32088 closed

[2021-05-17 14:35] mrodozov commented on #32079
fixed by #33705

[2021-05-17 14:35] #32079 closed

[2021-05-17 15:04] mrodozov commented on #33744
assign externals

[2021-05-17 15:04] cmsbuild commented on #33744
New categories assigned: externals

@smuzaffar,@mrodozov,@iarspider you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-17 19:19] wddgit opened #33756 "Framework Secondary File Input for "Sibling" Files"
Currently, the secondary file feature requires a file on the secondary input file list be an ancestor of the primary files. An exception is thrown if this is not the case.

As we were discussing a problem related to secondary file input, Chris suggested it might work if we relaxed that requirement to allow sibling files to also be used for secondary file input. By sibling we mean if two files were

[2021-05-17 19:19] cmsbuild commented on #33756
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-17 19:25] wddgit opened #33757 "Framework BranchIDList Cleanup"
Currently, when we do drop all products from an earlier process, we do not delete the BranchIDList corresponding to that earlier process. We could consider doing that so that a file would look as though the original process had never run.

This would require careful study of how BranchIDLists are managed and the indexes to them stored in Events. We also discussed whether we should look for other d

[2021-05-17 19:25] cmsbuild commented on #33757
A new Issue was created by  @wddgit W. David Dagenhart.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-17 20:37] mrodozov commented on #32084
This problem is present now in the ASAN IBs and it's probably related to Python types not properly passed trough C types
I suspect something wrong with the python part

Most failures in ASAN now are originating from CondTools, CondCore and Alignment all of which end up in frontier_client .

[2021-05-17 21:29] makortel commented on #33756
assign core

[2021-05-17 21:29] cmsbuild commented on #33756
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-17 21:31] makortel commented on #33757
assign core

[2021-05-17 21:31] cmsbuild commented on #33757
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-17 23:41] slava77 commented on #32628
there is one more case in #33706
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-87155f/15037/summary.html

curiously, this time the change shows up also in particleNetMD, which is based on ONNX.
Based on jenkins details
the baseline here was running on cmsbuild73 (SSE4.1 SSE4.2 AVX AVX2 FMA), vs the PR test on cms-vocms0315 (SSE4.1 SSE4.2 AVX).

@hqucms
is the ONNX in thi

[2021-05-18 00:02] hqucms commented on #32628
@slava77 Yes, ONNXRuntime has different kernels for AVX and AVX2.

[2021-05-18 06:29] perrotta opened #33761 "Obsolete/unused RPC code to be either cleaned up or updated"
There is some code in the RPC local reco which is evidently never or only privately used, as also pointed out in the review of #33753 where the example was hit  of the  RPCSeedOverlapper in RecoMuon/MuonSeedGenerator and the two related configs
- DQM/RPCMonitorDigi/python/RPCMuonSeeds_cfi.py
- DQM/RPCMonitorDigi/python/RPCSeedGenerator_cff.py

Some update will be needed to update that RPCSeedOverl

[2021-05-18 06:30] perrotta commented on #33761
assign reconstruction

[2021-05-18 06:30] cmsbuild commented on #33761
New categories assigned: reconstruction

@slava77,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-18 06:30] cmsbuild commented on #33761
A new Issue was created by  @perrotta .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-18 08:43] mariadalfonso commented on #33661
@lathomas  and @bendavid
please comment on https://github.com/cms-sw/cmssw/pull/33758

[2021-05-18 08:43] mariadalfonso commented on #33661
assign xpog

[2021-05-18 08:44] cmsbuild commented on #33661
New categories assigned: xpog

@fgolf,@mariadalfonso,@gouskos you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-18 13:52] wddgit commented on #33716
The fix was merged.

[2021-05-18 13:52] #33716 closed

[2021-05-18 15:03] jfernan2 opened #33766 "Strange differences in DQM after harvesting step4 despite same step3 files"
PR https://github.com/cms-sw/cmssw/pull/33610 modified Muon Validation but showed differences in Tracking and Vertexing DQM folders for workflows 9.0  (a Run1 MC) and 135.4 (a FS Run2 sample) ONLY

The following comment has instructiosn to reprodce the issue:
https://github.com/cms-sw/cmssw/pull/33610#issuecomment-843236483

Step3 EDM DQMIO roto files are identical with and without the PR, but ste

[2021-05-18 15:03] cmsbuild commented on #33766
A new Issue was created by  @jfernan2 .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-18 15:08] makortel commented on #33766
assign dqm

[2021-05-18 15:08] cmsbuild commented on #33766
New categories assigned: dqm

@jfernan2,@kmaeshima,@rvenditti,@andrius-k,@ErnestaP,@ahmad3213 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-18 15:08] makortel commented on #33766
The fits in `DQMGenericClient` maintain state between fit calls, so adding a new histogram to be fitted can show numerical changes in all other histograms produced by those fits.

[2021-05-18 15:29] jfernan2 commented on #33766
OK, but the PR is not adding NEW histograms, just modifying some of them in the Muon folder:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_0_X_2021-05-17-1100+b486f6/42833/dqm-histo-comparison-summary.html

Modifying some histograms may affect the fits in other ones? This was checked by @abbiendi  in one of his tests, and he arrived to the conclusion (if I got it right.

[2021-05-18 15:44] abbiendi commented on #33766
yes, I have not added new plots at all and in particular not added new fits to be done

[2021-05-18 15:49] davidlange6 commented on #33766
That is a pretty undesirable feature in general. (And would explain what was seen in the PR from what I read) Can it be changed?

[2021-05-18 16:04] silviodonato opened #33769 "Build CMSSW_11_2_4_patch1"

[2021-05-18 16:05] silviodonato commented on #33769
+1

[2021-05-18 16:05] cmsbuild commented on #33769
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_4_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-05-18 16:05] cmsbuild commented on #33769
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-05-18 16:10] cmsbuild commented on #33769
The build has started for cc8_amd64_gcc9 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3014/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-18 16:10] cmsbuild commented on #33769
The build has started for slc7_amd64_gcc900 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3015/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-18 16:35] makortel commented on #33766
Looking back my earlier comments on the subject it seems that already a change in one of the histograms-to-be-fitted can cause changes in other histograms from the fits, e.g. https://github.com/cms-sw/cmssw/pull/12577#issuecomment-161418926 and https://github.com/cms-sw/cmssw/pull/8888#issuecomment-98633381.

Here is some earlier discussion on similar topic https://github.com/cms-sw/cmssw/issues/2

[2021-05-18 16:35] cmsbuild commented on #33769
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3016/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-18 16:41] cmsbuild commented on #33769
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3017/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-18 16:49] cmsbuild commented on #33769
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3018/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-18 17:04] davidlange6 commented on #33766
I didn’t know this feature of root..

So we could add
fitFcn->SetParameters(histoY->Integral(),
                                     histoY->GetMean(),
                                     histoY->GetRMS());

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/DQMServices/Components/plugins/DQMGenericClient.cc#L1156

(At least for this piece of code)

[2021-05-18 17:07] cmsbuild commented on #33769
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-slc7_amd64_gcc900/3015
Some t

[2021-05-18 17:14] cmsbuild commented on #33769
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-cc8_amd64_gcc9/3014
Some tests (

[2021-05-18 17:17] cmsbuild commented on #33769
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3019/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-18 17:43] cmsbuild commented on #33769
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-cc8_ppc64le_gcc9/3016
Some tes

[2021-05-18 17:45] cmsbuild commented on #33769
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-slc7_ppc64le_gcc9/3018
Some t

[2021-05-18 17:47] cmsbuild commented on #33769
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-slc7_amd64_gcc900/3015

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-18 17:54] cmsbuild commented on #33769
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-cc8_amd64_gcc9/3014

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-18 18:28] cmsbuild commented on #33769
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-slc7_aarch64_gcc9/3019
Some t

[2021-05-18 18:57] cmsbuild commented on #33769
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-cc8_aarch64_gcc9/3017
Some tes

[2021-05-18 19:00] cmsbuild commented on #33769
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-cc8_ppc64le_gcc9/3016

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-05-18 19:04] cmsbuild commented on #33769
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-slc7_ppc64le_gcc9/3018

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-18 19:34] cmsbuild commented on #33769
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-slc7_aarch64_gcc9/3019

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-18 21:29] cmsbuild commented on #33769
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch1-cc8_aarch64_gcc9/3017

Tests results:
34 31 14 4 3 0 0 0 0 tests passed, 2 2 17 2 0 0 0 0 0 failed

[2021-05-19 00:15] qliphy commented on #33769
upload all

[2021-05-19 00:16] cmsbuild commented on #33769
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-05-19 00:16] cmsbuild commented on #33769
Queing Jenkins upload for cc8_amd64_gcc9

[2021-05-19 00:16] cmsbuild commented on #33769
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-05-19 00:16] cmsbuild commented on #33769
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-05-19 00:16] cmsbuild commented on #33769
Queing Jenkins upload for slc7_amd64_gcc900

[2021-05-19 00:16] cmsbuild commented on #33769
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-05-19 00:16] cmsbuild commented on #33769
The upload has started for cc8_amd64_gcc9 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1929/console

[2021-05-19 00:16] cmsbuild commented on #33769
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1931/console

[2021-05-19 00:17] cmsbuild commented on #33769
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1928/console

[2021-05-19 00:17] cmsbuild commented on #33769
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1930/console

[2021-05-19 00:17] cmsbuild commented on #33769
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch1-cc8_amd64_gcc9/1929

[2021-05-19 00:18] cmsbuild commented on #33769
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1932/console

[2021-05-19 00:18] cmsbuild commented on #33769
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch1-cc8_ppc64le_gcc9/1930

[2021-05-19 00:18] cmsbuild commented on #33769
The upload has started for slc7_amd64_gcc900 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1933/console

[2021-05-19 00:18] cmsbuild commented on #33769
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch1-slc7_aarch64_gcc9/1931

[2021-05-19 00:18] cmsbuild commented on #33769
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch1-slc7_ppc64le_gcc9/1932

[2021-05-19 00:18] cmsbuild commented on #33769
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch1-cc8_aarch64_gcc9/1928

[2021-05-19 00:21] cmsbuild commented on #33769
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_4_patch1-slc7_amd64_gcc900/1933

[2021-05-19 01:53] qliphy commented on #33769
release-notes

[2021-05-19 01:54] cmsbuild commented on #33769
Generating release notes since CMSSW_11_2_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-05-19 01:54] cmsbuild commented on #33769
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_2_4_patch1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_2_4 can be found at:

https://github.com/cms-sw/cmssw/releas

[2021-05-19 01:56] cmsbuild commented on #33769
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_4_patch1

[2021-05-19 07:35] jfernan2 commented on #33766
It looks like that piece of code does not fix the issue :-(
https://github.com/cms-sw/cmssw/pull/33610#issuecomment-843591769
Any other idea? Thanks

[2021-05-19 07:51] davidlange6 commented on #33766
It's not that the suggested change makes the results the same as in the current ib (ie, the comparison you point to). Rather it should make results independent of the set of (and order of) fits run

On May 19, 2021 9:36 AM, jfernan2 ***@***.***> wrote:

It looks like that piece of code does not fix the issue :-(
#33610 (comment)<https://github.com/cms-sw/cmssw/pull/33610#issuecomment-843591769>
An

[2021-05-19 07:59] abbiendi commented on #33766
yes, I think this was expected.
The crucial comparison would be with the IB with your new fixes but without my PR

[2021-05-19 08:13] davidlange6 commented on #33766
Yes, thats right.

[2021-05-19 08:16] jfernan2 commented on #33766
It seems I got it all wrong, sorry

[2021-05-19 13:13] makortel commented on #33194
+geometry

This has been fixed

[2021-05-19 13:13] cmsbuild commented on #33194
This issue is fully signed and ready to be closed.

[2021-05-19 13:14] makortel commented on #33102
+core

Has been fixed

[2021-05-19 13:14] cmsbuild commented on #33102
This issue is fully signed and ready to be closed.

[2021-05-19 13:14] makortel commented on #32550
Any news?

[2021-05-19 13:32] #33194 closed

[2021-05-19 13:38] #33102 closed

[2021-05-19 14:06] borzari commented on #32550
@makortel I am taking a look at the issue. I have come with a way to solve the problem stated by @Dr15Jones, that would be to limit the index `j` to the size of the `dxys` vector when filling the histogram, and this would be sufficient to prevent the code to try to access a non-existing element of the `dxys` vector.

However, what I am trying to understand now is the reason to why the sizes of `dx

[2021-05-19 14:16] dildick opened #33781 "L1Trigger/L1TMuon package not rebuilt in #33727 tests"
PR #33727 is continuing to fail integration tests. The code does not appear to be compiling properly. Upon closer inspection, it seems that the L1Trigger/L1TMuon package not rebuilt. See also this comment by Jia Fu: https://github.com/cms-sw/cmssw/pull/33727#issuecomment-843224391.

[2021-05-19 14:17] cmsbuild commented on #33781
A new Issue was created by  @dildick Sven Dildick.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-19 15:00] makortel commented on #33781
assign core

[2021-05-19 15:06] makortel commented on #33781
I see `L1Trigger/L1TMuon` declares dependence on `DataFormats/L1TMuon`
https://github.com/cms-sw/cmssw/blob/3092d812cd79e9b6cafb82435618b4464b5cdd5c/L1Trigger/L1TMuon/BuildFile.xml#L8
that further depends on `DataFormats/CSCDigi`
https://github.com/cms-sw/cmssw/blob/3092d812cd79e9b6cafb82435618b4464b5cdd5c/DataFormats/L1TMuon/BuildFile.xml#L4
so the recompilation should be triggered.

We'd really

[2021-05-19 15:13] makortel commented on #33781
`L1Trigger/L1TMuon` should declare a direct dependence on `DataFormats/CSCDigi` because it has files in `src` that `#include` headers from `DataFormats/CSCDigi`, e.g.
https://github.com/cms-sw/cmssw/blob/3092d812cd79e9b6cafb82435618b4464b5cdd5c/L1Trigger/L1TMuon/src/MuonTriggerPrimitive.cc#L6

[2021-05-19 15:18] dildick commented on #33781
Ok. What about the export section? What does that do in the BuildFile?

[2021-05-19 15:40] makortel commented on #33781
Honestly I don't know (I have some guesses but prefer to not spell them out). @smuzaffar?

[2021-05-19 15:42] makortel commented on #33781
I tried to reproduce with
[code]
and that does check out `L1Trigger/L1TMuon`.

[2021-05-19 15:53] davidlange6 commented on #33781
its not possible to conclude from the scram b printout what was not checked out. checkdeps does not primarily rely on buildfile information in any case. It is looking at dependencies in libraries. @makortel has done the right test. now what happens if git cms-addpkg... is replaced with git cms-merge-topic 33727 and scram b?

[2021-05-19 15:55] lathomas commented on #33564
Hello.
I'm digging. In the mentioned event, the jet size here is 1 (while it is zero for usual events).
https://github.com/cms-sw/cmssw/blob/master/JetMETCorrections/Type1MET/interface/PFJetMETcorrInputProducerT.h#L167
The jet is apparently made of a single muon of pt = 10 TeV and nothing else...
This can be fixed by checking whether cand->isAvailable() here:
https://github.com/cms-sw/cmssw/blob/m

[2021-05-19 16:08] makortel commented on #33781
[code]
reproduces the problem, i.e. `L1Trigger/L1TMuon` is not checked out.

[2021-05-19 16:48] davidlange6 commented on #33781
which instead should have happened given this include:

```/cvmfs/cms-ib.cern.ch/week1/slc7_amd64_gcc900/cms/cmssw/CMSSW_12_0_X_2021-05-16-0000/src/L1Trigger/L1TMuon/src/MuonTriggerPrimitive.cc:#include "DataFormats/CSCDigi/interface/CSCCorrelatedLCTDigi.h"```

I can look at it more tomorrow.

[2021-05-19 16:52] makortel commented on #33781
Thanks David!

[2021-05-19 17:39] smuzaffar commented on #33781
@makortel , @davidlange6 I am looking in to it now. I think there is bug in git-cms-checkdeps.

[2021-05-19 17:52] smuzaffar commented on #33781
https://github.com/cms-sw/cmssw/pull/33783 should fix this issue

[2021-05-19 18:45] #33781 closed

[2021-05-20 06:22] civanch commented on #33608
+1

[2021-05-20 06:22] cmsbuild commented on #33608
This issue is fully signed and ready to be closed.

[2021-05-20 09:57] ericcano opened #33797 "Unit test failing in `RecoPixelVertexing/PixelTrackFitting/test/testEigenGPUNoFit.cu`"
The test `TEST INVERSE 5x5` in `RecoPixelVertexing/PixelTrackFitting/test/testEigenGPUNoFit.cu` fails. The GPU inverse is not computed:
[code]
Looking at the compiled code, the corresponding kernel (`kernelInverse5x5`) is an empty function:
[code]
as opposed to `kernelInverse4x4` in spite of having very similar contents.

Compilation gives a warning that might be related:
[code]

[2021-05-20 09:57] cmsbuild commented on #33797
A new Issue was created by  @ericcano Eric Cano.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-20 12:30] dan131riley commented on #33608
Latest ASAN looks clean.

[2021-05-20 12:30] #33608 closed

[2021-05-20 13:09] makortel commented on #33797
assign reconstruction, heterogeneous

FYI @VinInn

[2021-05-20 13:09] cmsbuild commented on #33797
New categories assigned: heterogeneous,reconstruction

@slava77,@fwyzard,@perrotta,@makortel,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-20 13:17] smuzaffar commented on #33781
please see https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideBuildFile#BuildFileExport . In past `export` section was used to only expot those dependencies which are used by the public interface (headers files) of the package. But that option was dropped as on OSX we had to keep the build and export dependencies same. Now the only thing one need to have in `<export>` section is the generated s

[2021-05-20 13:19] VinInn commented on #33797
I would advice to fix all compilation warnings in Eigen.

[2021-05-20 13:44] VinInn commented on #33797
This is what we (well mostly @fwyzard ) used to do.

[2021-05-20 18:59] mrodozov commented on #33743
@VinInn I built gcc11 on PPC which can be used now on ibmminsky-1 sourcing from here
`source /scratch/mrodozov/gcc11/build_gcc11/slc7_ppc64le_gcc9/external/gcc/11.1.0/etc/profile.d/init.sh`

gcc11:

[code]

gcc9:

[code]

[2021-05-20 19:05] mrodozov commented on #33743
with -mlong-double-128 it fails to compile:

[code]

[2021-05-20 23:52] lathomas commented on #33564
Hello @mandrenguyen
I think I understand the problem now and it is in fact solved for the future.

At the moment ak4PFJetsCHS and ak4PFJets are currently not recomputed for MINIAOD production. They are read directly from AOD (on purpose I believe).
Now, the AOD jet collections used to be buggy before the following change happened:
https://github.com/cms-sw/cmssw/pull/30898/files#diff-6b6cc8be88a99

[2021-05-21 00:08] cmsbuild commented on #33769
The cleanup has started for cc8_aarch64_gcc9

[2021-05-21 00:08] cmsbuild commented on #33769
The cleanup has started for slc7_aarch64_gcc9

[2021-05-21 00:08] cmsbuild commented on #33769
The cleanup has started for cc8_amd64_gcc9

[2021-05-21 00:08] cmsbuild commented on #33769
The cleanup has started for cc8_ppc64le_gcc9

[2021-05-21 00:08] cmsbuild commented on #33769
The cleanup has started for slc7_amd64_gcc900

[2021-05-21 00:08] cmsbuild commented on #33769
The cleanup has started for slc7_ppc64le_gcc9

[2021-05-21 00:08] #33769 closed

[2021-05-21 00:08] cmsbuild commented on #33769
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch1-cc8_amd64_gcc9/1679

[2021-05-21 00:08] cmsbuild commented on #33769
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch1-slc7_aarch64_gcc9/1681

[2021-05-21 00:08] cmsbuild commented on #33769
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch1-cc8_ppc64le_gcc9/1680

[2021-05-21 00:08] cmsbuild commented on #33769
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch1-slc7_amd64_gcc900/1682

[2021-05-21 00:08] cmsbuild commented on #33769
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch1-slc7_ppc64le_gcc9/1683

[2021-05-21 00:09] cmsbuild commented on #33769
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_4_patch1-cc8_aarch64_gcc9/1678

[2021-05-21 08:15] mariadalfonso commented on #33661
@JanFSchulte
one general question: the Up and Down variations now include both the statistical and systematic component, right ?
if you have both sources available, would it be possible to add them separately ? it can help the Wmass like analysis

[2021-05-21 10:11] VinInn commented on #33743
Ok. this is in line with what I "expected".
we could consider to compile EVERYTHING with -mabi=ieeelongdouble
it is an ABI change, so it needs "understanding".
Maybe we shall investigate with "experts" and those using or planning to use PPC (HPC?).
CINECA?
what about OpenLab?
@tommasoboccali

[2021-05-21 10:22] VinInn commented on #33743
summary:
gcc11 seems to cure the weird behavior observed till gcc10.3. So no bug report to gcc!

[2021-05-21 13:18] mrodozov commented on #33743
ok we can try it, but reading this suggests changing the ABI with this flag may need glibc adjustment and "other stuff"
https://www.talospace.com/2018/12/the-saga-of-power-isa-128-bit-long.html (it's a nice overview)

the externals we use with additional flag for long double on PPC are not that many:

[code]

It's only OpenBLAS and fmt that are not CERN related externals.
where's long double used

[2021-05-21 13:21] VinInn commented on #33743
I suspected that changing ABI would led to havoc... Apparently is useless as well.
Maybe on PPC9 (if/when we ever would have the opportunity to run on one of those)

[2021-05-21 13:29] VinInn commented on #33743
My understanding  (and preference) is to forget about "long double" and eventually use float128 (with all  leading "_" required)

[2021-05-21 14:07] JanFSchulte commented on #33661
@mariadalfonso

Yes, right now stat. and syst. uncertainty are added in quadrature and only the total variation is provided by the weight producer (same as for ECAL). I can add the variations for stat. and syst. separately if that is desired and it is ok to add that many more entries to the nanoAOD.

[2021-05-21 15:12] dan131riley opened #33812 "aarch64 segfault in edm::PrincipalGetAdapter::getPutTokenIndex()"
Only seen once so far, AFAIK:
[code]

[2021-05-21 15:13] cmsbuild commented on #33812
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-21 15:14] makortel commented on #33812
assign core

[2021-05-21 15:15] cmsbuild commented on #33812
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-21 15:27] mariadalfonso commented on #33661
maybe worth to update the ` L1PreFiringWeightMuon_Up L1PreFiringWeightMuon_Down`:
to something like `L1PreFiringWeightMuon_StatUp L1PreFiringWeightMuon_StatDown ,  L1PreFiringWeightMuon_SystUp L1PreFiringWeightMuon_SystDown` as only these will be used for precision measurement

@bendavid will be ok ?

[2021-05-21 16:46] Dr15Jones commented on #33812
As best I can tell, the data structures associated with `edm::PrincipalGetAdapter::getPutTokenIndex(` are set at the beginning of the job and never change. Therefore this can not be a problem with that structure interacting with threading. Possibly something is writing out of its memory bounds?

[2021-05-21 16:55] Dr15Jones commented on #33812
So the call would be part of `iEvent.put`
https://github.com/cms-sw/cmssw/blob/869b639f02758a01e511539361a2f144b1c33d8a/RecoParticleFlow/PFTracking/plugins/PFConversionProducer.cc#L159-L160

which just uses a default constructed `std::string`

https://github.com/cms-sw/cmssw/blob/869b639f02758a01e511539361a2f144b1c33d8a/FWCore/Framework/interface/Event.h#L133-L135

which then calls the function in

[2021-05-21 21:49] ericcano commented on #33797
Eigen was switched back to upstream on `CMSSW_11_3_0_pre5`. The test was not yet in `CMSSW_11_3_0_pre5`, but might have been developped against the previous Eigen version.
I could test this easily (it works) with:
[code]

[2021-05-22 16:28] mrodozov commented on #33743
Reading this:
https://gcc.gnu.org/wiki/Ieee128PowerPC#Background
says clearly moving from the default to __float128 for ppc64le is desirable:

`PowerPC 64-bit Linux little endian server | It may be desirable to change the default to IEEE 754R 128-bit floating point`

from the GCC configure docs:
https://gcc.gnu.org/install/configure.html
`
The default long double format is to use IBM extended doub

[2021-05-24 14:35] bendavid commented on #33661
Yes this splitting sounds reasonable (and for events with one muon it's should be enough that we can use the provided variations directly.)

For events with multiple muons in order to do this strictly correctly, I think precision analyses will anyways need to recompute the variations on the fly (since e.g. if you have one muon in the central region and one in the forward region, there are two diff

[2021-05-24 15:14] JanFSchulte commented on #33661
Thanks for confirming. I have implemented the split.

[2021-05-25 07:50] colizz commented on #33544
Hello,

I just observed a new segfault in H7. I use `CMSSW_12_0_X_2021-05-24-2300` to test the process `JME-RunIISummer20UL16wmLHEGEN-00003`. Here are the commands:
[code]

The segfault occurs randomly when the events are processed at around 500-2000:
[code]
@Dominic-Stafford @agrohsje Would you mind also taking a look at this? Many thanks.

[2021-05-25 10:49] agrohsje commented on #33544
Let me add @theofil . @Dominic-Stafford @theofil will you follow-up ?

[2021-05-25 10:56] Dominic-Stafford commented on #33544
Thanks for bringing this up- it's not immediately obvious to me what's going wrong here, but I've started running it to have a look

[2021-05-25 12:19] theofil commented on #33544
I've been able to reproduce the error just after  "the 3278th record" but I
haven't yet found any explanation for it.

Do we know which is the latest release in which the same fragment

https://cms-pdmv.cern.ch/mcm/public/restapi/requests/get_fragment/JME-RunIISummer20UL16wmLHEGEN-00003

was able to be run without problems ?

best,
Kostas

On Tue, May 25, 2021 at 12:56 PM Dominic-Stafford ***@***.

[2021-05-25 12:31] makortel commented on #33544
(it would be better to open a new issue for a new segfault, especially if the cause would likely be different)

[2021-05-25 13:31] colizz commented on #33544
@theofil Thanks for the test. I don't have idea yet when the issue starts to appear. (It looks odd to me because my first test in the same condition has no error, but then segfault starts to appears regularly at 50-2000 event in my later run.)

@makortel ok, sure.

[2021-05-25 15:38] colizz commented on #33690
Yes this happens to be the fix - just notice the issue.

[2021-05-25 16:08] agrohsje commented on #33690
fix working. let's close this.

[2021-05-25 16:08] agrohsje commented on #33690
+generators

[2021-05-25 16:08] cmsbuild commented on #33690
This issue is fully signed and ready to be closed.

[2021-05-26 00:03] #33690 closed

[2021-05-26 08:23] VinInn commented on #33743
To summarize my proposal:
1) remove flag ```-mlong-double-64```
2) either
2a) change ```constexpr double operator"" _pi(long double x) { return x * piRadians; }```
tp ```constexpr double operator"" _pi(long double x) { return double(x) * M_PI; }
or
2b) remove ```_pi```  and use *std::pi() or equivalent;

[2021-05-26 10:36] jan-kaspar commented on #31061
From https://docs.google.com/spreadsheets/d/1cUypk2EK4xVcEpFGtaNqXrWZEoFz_E9l4gNN3YoBQH4/edit#gid=0 I picked up `RecoPPS/Local` for migration, but actually as far as I can tell, all modules are already using the esConsumes/token mechanism. Can you please confirm that I haven't overlooked anything? @fabferro FYI

[2021-05-26 10:44] jan-kaspar commented on #31061
From https://docs.google.com/spreadsheets/d/1cUypk2EK4xVcEpFGtaNqXrWZEoFz_E9l4gNN3YoBQH4/edit#gid=0 I picked up `Validation/CTPPS` for migration, but actually as far as I can tell, all modules are already using the esConsumes/token mechanism. Can you please confirm that I haven't overlooked anything? @fabferro FYI

[2021-05-26 11:51] jfernan2 commented on #31061
I confirm that scram build checker on Validation/CTPSS only yields:
/tmp/jfernan/CMSSW_12_0_X_2021-05-25-2300/src/Validation/CTPPS/test/TestDriver.cc:3:1: warning: Non-const variable 'char ** environ' is static and might be thread-unsafe [threadsafety.GlobalStatic]
RUNTEST()
^
/cvmfs/cms-ib.cern.ch/week0/slc7_amd64_gcc900/cms/cmssw-patch/CMSSW_12_0_X_2021-05-25-2300/src/FWCore/Utilities/interface/

[2021-05-26 12:33] jan-kaspar commented on #31061
Thanks @jfernan2 - I've updated the spread sheet noting that there is nothing to migrate.

[2021-05-26 13:51] qliphy opened #33849 "Build CMSSW_12_0_0_pre2"

[2021-05-26 13:51] cmsbuild commented on #33849
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-05-26 13:52] qliphy commented on #33849
+1

[2021-05-26 13:52] cmsbuild commented on #33849
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-05-26 13:52] cmsbuild commented on #33849
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2021-05-26 13:52] cmsbuild commented on #33849
The build has started for cc8_amd64_gcc9 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3020/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-26 13:54] cmsbuild commented on #33849
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3022/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-26 13:54] cmsbuild commented on #33849
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3023/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-26 14:28] cmsbuild commented on #33849
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3024/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-26 18:30] cmsbuild commented on #33849
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2-slc7_aarch64_gcc9/3024
Some tes

[2021-05-26 19:15] cmsbuild commented on #33849
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2-slc7_ppc64le_gcc9/3023
Some tes

[2021-05-26 19:19] cmsbuild commented on #33849
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2-cc8_amd64_gcc9/3020
Some tests ( r

[2021-05-26 19:24] cmsbuild commented on #33849
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2-cc8_ppc64le_gcc9/3022
Some tests

[2021-05-26 19:24] cmsbuild commented on #33849
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2-slc7_aarch64_gcc9/3024

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-26 19:58] cmsbuild commented on #33849
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2-slc7_amd64_gcc900/3021
Some tes

[2021-05-26 20:00] cmsbuild commented on #33849
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2-cc8_amd64_gcc9/3020

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-26 20:31] cmsbuild commented on #33849
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2-cc8_ppc64le_gcc9/3022

Tests results:
35 32 14 4 3 0 0 0 0 tests passed, 2 2 18 2 0 0 0 0 0 failed

[2021-05-26 20:31] cmsbuild commented on #33849
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2-slc7_ppc64le_gcc9/3023

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-26 20:39] cmsbuild commented on #33849
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_0_pre2-slc7_amd64_gcc900/3021

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-27 00:17] qliphy commented on #33849
upload all

[2021-05-27 00:18] cmsbuild commented on #33849
Queing Jenkins upload for cc8_amd64_gcc9

[2021-05-27 00:18] cmsbuild commented on #33849
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-05-27 00:18] cmsbuild commented on #33849
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-05-27 00:18] cmsbuild commented on #33849
Queing Jenkins upload for slc7_amd64_gcc900

[2021-05-27 00:18] cmsbuild commented on #33849
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-05-27 00:18] cmsbuild commented on #33849
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1936/console

[2021-05-27 00:18] cmsbuild commented on #33849
The upload has started for cc8_amd64_gcc9 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1934/console

[2021-05-27 00:19] cmsbuild commented on #33849
The upload has started for slc7_amd64_gcc900 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1937/console

[2021-05-27 00:19] cmsbuild commented on #33849
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1935/console

[2021-05-27 00:20] cmsbuild commented on #33849
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre2-slc7_aarch64_gcc9/1936

[2021-05-27 00:20] cmsbuild commented on #33849
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1938/console

[2021-05-27 00:20] cmsbuild commented on #33849
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre2-cc8_ppc64le_gcc9/1935

[2021-05-27 00:22] cmsbuild commented on #33849
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre2-slc7_ppc64le_gcc9/1938

[2021-05-27 00:22] cmsbuild commented on #33849
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre2-slc7_amd64_gcc900/1937

[2021-05-27 00:24] cmsbuild commented on #33849
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_0_pre2-cc8_amd64_gcc9/1934

[2021-05-27 00:55] makortel commented on #33470
This was resolved to be a server side issue in INC2779832.

[2021-05-27 00:55] #33470 closed

[2021-05-27 00:56] makortel commented on #33470
+core

[2021-05-27 00:56] cmsbuild commented on #33470
This issue is fully signed and ready to be closed.

[2021-05-27 01:26] qliphy commented on #33849
release-notes

[2021-05-27 01:26] cmsbuild commented on #33849
Generating release notes since CMSSW_12_0_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-05-27 01:26] cmsbuild commented on #33849
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_0_0_pre2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_0_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_0_0_pre

[2021-05-27 01:30] cmsbuild commented on #33849
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_0_pre2

[2021-05-27 15:18] czangela opened #33868 "Possible thread unsafe operation in workflow 136.8855"
I tried to run some custom validation after some modifications to the `ErrorChecker*` / `PixelDataFormatter`, but I couldn't proceed *multithreaded*, because I was getting inconsistent results.

For replication, one can follow these steps:

---
### 1. Check out latest IB release
[code]

### 2. Add relevant packages
[code]

### 3. Track FED error collection

There are more ways to do this, I used `

[2021-05-27 15:35] Dr15Jones commented on #33868
One item of note, LogDebug is thread safe (meaning each message will be output in its entirety without any 'overlaps') however the order in which items are printed is not guaranteed and the MessageLogger is allowed to discard messages if too many are happening at one time. You can see the count of discarded messages at the end of the log file.

[2021-05-27 19:43] #33849 closed

[2021-05-27 19:43] silviodonato opened #33872 "Build CMSSW_11_3_1"

[2021-05-27 19:44] cmsbuild commented on #33872
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-05-27 19:46] silviodonato commented on #33872
+1

[2021-05-27 19:47] cmsbuild commented on #33872
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_X

[2021-05-27 19:47] cmsbuild commented on #33872
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2021-05-27 19:48] cmsbuild commented on #33872
The build has started for slc7_amd64_gcc900 in cms-vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3026/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-27 19:48] cmsbuild commented on #33872
The build has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3025/console
CMSDIST Branch: [IB/CMSSW_11_3_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-27 19:49] cmsbuild commented on #33872
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3027/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-27 19:50] cmsbuild commented on #33872
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3028/console
CMSDIST Branch: [IB/CMSSW_11_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_3_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-05-27 20:20] cvuosalo commented on #33656
Added this issue to the DD4hep issues list: https://github.com/AIDASoft/DD4hep/issues/836

[2021-05-27 20:56] #33868 closed

[2021-05-27 20:58] Dr15Jones commented on #33868
@czangela what was the resolution?

[2021-05-27 22:04] mrodozov opened #33874 "Unit test failure due to wrong username/passwrd in CondTools"
23 unit tests are failing currently due to inability to authenticate (as it seems)
The list can be seen here
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-1b5abc/15350/unitTests/failed.html

[2021-05-27 22:19] mrodozov commented on #33874
assign db

[2021-05-27 22:19] cmsbuild commented on #33874
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-27 22:47] cmsbuild commented on #33872
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1-slc7_aarch64_gcc9/3028
Some tests (

[2021-05-27 22:50] cmsbuild commented on #33872
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1-slc7_ppc64le_gcc9/3027
Some tests (

[2021-05-27 23:34] cmsbuild commented on #33872
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1-cc8_amd64_gcc9/3025
Some tests ( runThe

[2021-05-27 23:44] cmsbuild commented on #33872
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1-slc7_aarch64_gcc9/3028

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-28 00:17] cmsbuild commented on #33872
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1-cc8_amd64_gcc9/3025

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-28 00:32] cmsbuild commented on #33872
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1-slc7_amd64_gcc900/3026
Some tests (

[2021-05-28 00:49] cmsbuild commented on #33872
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1-slc7_ppc64le_gcc9/3027

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-05-28 01:14] cmsbuild commented on #33872
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1-slc7_amd64_gcc900/3026

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-05-28 03:06] qliphy commented on #33872
upload all

[2021-05-28 03:06] cmsbuild commented on #33872
Queing Jenkins upload for cc8_amd64_gcc9

[2021-05-28 03:06] cmsbuild commented on #33872
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-05-28 03:07] cmsbuild commented on #33872
Queing Jenkins upload for slc7_amd64_gcc900

[2021-05-28 03:07] cmsbuild commented on #33872
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-05-28 03:08] cmsbuild commented on #33872
The upload has started for cc8_amd64_gcc9 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1939/console

[2021-05-28 03:08] cmsbuild commented on #33872
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1940/console

[2021-05-28 03:09] cmsbuild commented on #33872
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_1-cc8_amd64_gcc9/1939

[2021-05-28 03:09] cmsbuild commented on #33872
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1942/console

[2021-05-28 03:11] cmsbuild commented on #33872
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_1-slc7_ppc64le_gcc9/1942

[2021-05-28 03:13] cmsbuild commented on #33872
The upload has started for slc7_amd64_gcc900 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1941/console

[2021-05-28 03:59] cmsbuild commented on #33872
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_1-slc7_amd64_gcc900/1941

[2021-05-28 05:06] qliphy commented on #33872
release-notes

[2021-05-28 05:06] cmsbuild commented on #33872
Generating release notes since CMSSW_11_3_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-05-28 05:07] cmsbuild commented on #33872
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_3_1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_1

Cheers,
cms-bot

You ca

[2021-05-28 05:15] cmsbuild commented on #33872
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_1

[2021-05-28 07:38] #33872 closed

[2021-05-28 08:08] ericcano commented on #33797
The modifications from the branch we previously used (https://github.com/cms-externals/eigen-git-mirror/tree/cms/master/d812f411c3f9) were cherry picked on top of Eigen's HEAD revision (https://gitlab.com/libeigen/eigen/-/commit/391094c50743f28f9174f455661f650bf07e0177). The test now gives a partially correct matrix:
[code]

[2021-05-28 08:11] czangela commented on #33868
I didn't find the # of dropped messages entry at the end of the log file, but I'm quite sure it was that.

[2021-05-28 09:28] ericcano commented on #33797
The integration of the previous modifications (plus a small addition) led to no compilation warning related to __host__ functions call. The unit test now runs succesfuly. This version of Eigen is in this branch: https://gitlab.com/ericcano/eigen/-/commits/cms-reimport-issues

We still have this compile-time warning:
[code]
and also link time warnings:
[code]

[2021-05-28 13:21] fwyzard commented on #33797
That kernel seems to be simply
[code]

Is it possible that `inverse()` is recursive for 5x5 matrices ?

[2021-05-28 14:09] ericcano commented on #33797
This is plausible as from 5x5 (included) a generic method is used while Cramer's rule is used for smaller matrices (https://discord.com/channels/777904510169382942/777904791136370758/845316483633774622).

[2021-05-30 08:08] qliphy commented on #33874
@cms-sw/db-l2   Unit failures still show in the 11_3_X and 12_0_X  IBs, would you please have a check soon?

For example:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_0_X_2021-05-29-1100/unitTestLogs/CondTools/SiStrip#/25
ORA-01017: invalid username/password; logon denied

and
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-05-29-1100/uni

[2021-05-30 13:00] mrodozov commented on #33874
there is a PR from DB https://github.com/cms-sw/cmssw/pull/33859 which mentions authentication only I'm not sure if it has something to do with that

[2021-05-30 16:28] Dr15Jones opened #33896 "Duplicate versions of HcalHBHEMuonSimAnalyzer"
The module HcalHBHEMuonSimAnalyzer appears in both
- Calibration/HcalCalibAlgos/test/HcalHBHEMuonSimAnalyzer.cc
- Calibration/IsolatedParticles/plugins/HcalHBHEMuonSimAnalyzer.cc

From a cursory glance, they appear to be identical.

[2021-05-30 16:28] cmsbuild commented on #33896
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-30 19:51] ggovi commented on #33874
The tests are failing as a consequence of a massive invalidation of passwords for read-only accounts, caused by the recent Oracle server upgrade.
The passwords involved in Ecal and RunInfo test have been fixed centrally and they should require no additional action.
For the Strip-test, have contacted the concerned O2O experts.

[2021-05-31 00:16] qliphy commented on #33896
assign alca

[2021-05-31 00:16] cmsbuild commented on #33896
New categories assigned: alca

@francescobrivio,@malbouis,@pohsun,@tlampen,@yuanchao you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-31 00:18] qliphy commented on #33896
@bsunanda   Would you please have a check?   It seems that you added Calibration/HcalCalibAlgos/test/HcalHBHEMuonSimAnalyzer.cc  recently in https://github.com/cms-sw/cmssw/pull/33810/

[2021-05-31 13:47] andresailer commented on #33656
In DD4hep, this should loop not only over nz, but over the number of points in the polygon separately. I.e. line 155 should have its own loop, as is done in the CMS code line 0252-0253
[code]

[2021-05-31 15:10] bsunanda commented on #33656
I understand that this affects the dd4hep code. Should it come as a new patched version of dd4hep? Regards             Sunanda
________________________________
From: Andre Sailer ***@***.***
Sent: 31 May 2021 15:47
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] [DD4hep] ExtrudedPolygone usage in HGCal description (#33656)

In DD4hep, this should loop not only over nz, b

[2021-05-31 15:30] andresailer commented on #33656
Yes, should be this: https://github.com/AIDASoft/DD4hep/pull/838 as soon as the tests pass and maybe someone had a second look at this I can merge it to DD4hep

[2021-05-31 15:43] slava77 opened #33917 "features for bParking UL rereco and miniAOD in 10_6_X (10_6_26?)"
This issue is to collect PRs/features for integration towards b-parking dataset rereco and miniAOD in 10_6_X

Deadline for integration is June 7, 2021 (PRs should be merged by this date)

RECO/AOD part:
- no modifications are expected

miniAOD:
- [ ] #33589 lowPt electrons ID and regression
- [ ] #33878: Adding the correction structure to all electrons
- [ ] #33877 Making miniAOD low pt tracks thr

[2021-05-31 15:43] slava77 commented on #33917
assign reconstruction,xpog

[2021-05-31 15:43] cmsbuild commented on #33917
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@mariadalfonso,@gouskos,@perrotta,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-31 15:43] cmsbuild commented on #33917
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-31 15:57] slava77 commented on #33917
@rappoccio (tagging for PPD, I don't have Andreas' git at hand)

[2021-06-01 11:22] mandrenguyen commented on #33564
Thank you @lathomas
A PR to master implementing this fix may be found here:
https://github.com/cms-sw/cmssw/pull/33928

[2021-06-01 13:29] silviodonato opened #33929 "Build CMSSW_11_3_1_patch1"

[2021-06-01 13:30] cmsbuild commented on #33929
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-01 13:31] silviodonato commented on #33929
+1

[2021-06-01 13:31] cmsbuild commented on #33929
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_1_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_3_X

[2021-06-01 13:31] cmsbuild commented on #33929
Queuing Jenkins build for the following architectures: slc7_ppc64le_gcc9, slc7_aarch64_gcc9, cc8_amd64_gcc9, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2021-06-01 13:39] cmsbuild commented on #33929
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3029/console
CMSDIST Branch: [REL/CMSSW_11_3_1/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_3_1/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-01 13:41] cmsbuild commented on #33929
The build has started for slc7_aarch64_gcc9 in techlab-arm64-01-thunderx2-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3030/console
CMSDIST Branch: [REL/CMSSW_11_3_1/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_3_1/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-01 13:48] makortel opened #33931 "Compilation errors in L1EGammaCrystalsEmulatorProducer.cc in DBG builds"
The compilation of `L1Trigger/L1CaloTrigger/plugins/L1EGammaCrystalsEmulatorProducer.cc` fails in DBG builds
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_ppc64le_gcc9/CMSSW_12_0_DBG_X_2021-05-28-2300/L1Trigger/L1CaloTrigger

[2021-06-01 13:48] makortel commented on #33931
assign l1

[2021-06-01 13:48] cmsbuild commented on #33931
New categories assigned: l1

@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-01 13:48] cmsbuild commented on #33931
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-01 13:53] makortel commented on #33931
The code in question is
https://github.com/cms-sw/cmssw/blob/7cdba48db0e4ebf3638b32f09af699eda400fb70/L1Trigger/L1CaloTrigger/plugins/L1EGammaCrystalsEmulatorProducer.cc#L1044-L1066

Looking at the first error, the `crystalID_cluster_L2Card` is defind in
https://github.com/cms-sw/cmssw/blob/7cdba48db0e4ebf3638b32f09af699eda400fb70/L1Trigger/L1CaloTrigger/plugins/L1EGammaCrystalsEmulatorProducer.cc

[2021-06-01 13:55] cmsbuild commented on #33929
The build has started for cc8_amd64_gcc9 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3031/console
CMSDIST Branch: [REL/CMSSW_11_3_1/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_3_1/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-01 13:57] cmsbuild commented on #33929
The build has started for slc7_amd64_gcc900 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3032/console
CMSDIST Branch: [REL/CMSSW_11_3_1/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_3_1/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-01 14:46] cmsbuild commented on #33929
The was an error for cc8_amd64_gcc9.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1_patch1-cc8_amd64_gcc9/3031

[2021-06-01 14:54] cmsbuild commented on #33929
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1_patch1-slc7_ppc64le_gcc9/3029
Some t

[2021-06-01 14:58] cmsbuild commented on #33929
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1_patch1-slc7_aarch64_gcc9/3030
Some t

[2021-06-01 15:02] makortel commented on #32550
@borzari Thanks for looking into this! I fully agree it is better to understand and fix the root cause rather than sweeping the immediate symptoms under the carpet. Let me nevertheless ask if you have managed to progress in your investigation?

[2021-06-01 15:03] cmsbuild commented on #33929
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1_patch1-slc7_amd64_gcc900/3032
Some t

[2021-06-01 15:46] cmsbuild commented on #33929
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1_patch1-slc7_amd64_gcc900/3032

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-01 16:06] cmsbuild commented on #33929
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1_patch1-slc7_aarch64_gcc9/3030

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-01 16:30] silviodonato commented on #33929
upload all

[2021-06-01 16:30] cmsbuild commented on #33929
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-06-01 16:30] cmsbuild commented on #33929
Queing Jenkins upload for slc7_amd64_gcc900

[2021-06-01 16:30] cmsbuild commented on #33929
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-06-01 16:31] cmsbuild commented on #33929
The upload has started for slc7_amd64_gcc900 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1944/console

[2021-06-01 16:31] cmsbuild commented on #33929
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1943/console

[2021-06-01 16:32] cmsbuild commented on #33929
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_1_patch1-slc7_amd64_gcc900/1944

[2021-06-01 16:32] cmsbuild commented on #33929
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_1_patch1-slc7_aarch64_gcc9/1943

[2021-06-01 16:32] cmsbuild commented on #33929
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1945/console

[2021-06-01 16:33] cmsbuild commented on #33929
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_1_patch1-slc7_ppc64le_gcc9/1945

[2021-06-01 16:51] dan131riley opened #33936 "python problems in TSAN builds"
TSAN builds are currently completely broken.  The basic problem is that builds of any data format library fail at the `edmCheckClassVersion` step:
[code]
The issue looks to be essentially the same as this:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=81493

Our python build is not built with the address sanitizer, so libtsan doesn't get loaded until edmCheckClassVersion tries to dlopen() a librar

[2021-06-01 16:52] cmsbuild commented on #33936
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-01 16:58] makortel commented on #33936
assign core

[2021-06-01 16:58] cmsbuild commented on #33936
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-01 17:03] cmsbuild commented on #33929
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1_patch1-slc7_ppc64le_gcc9/3029

Tests results:
37 36 35 26 16 4 1 1 1 tests passed, 1 0 0 0 0 0 0 0 0 failed

[2021-06-01 17:10] cmsbuild commented on #33929
The build has started for cc8_amd64_gcc9 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3033/console
CMSDIST Branch: [REL/CMSSW_11_3_1/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_3_1/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-01 17:10] Dr15Jones commented on #33936
@dan131riley what about using LD_PRELOAD?

[2021-06-01 17:17] slava77 commented on #33917
from https://hypernews.cern.ch/HyperNews/CMS/get/recoDevelopment/1716/1.html
code introduced in #33774 is discussed (potentially) as an addition in the MC dataset processing.
@mtosi @vmariani

[2021-06-01 17:55] cmsbuild commented on #33929
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1_patch1-cc8_amd64_gcc9/3033
Some tests (

[2021-06-01 17:56] cmsbuild commented on #33929
Queing Jenkins upload for cc8_amd64_gcc9

[2021-06-01 17:56] cmsbuild commented on #33929
The upload has started for cc8_amd64_gcc9 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1946/console

[2021-06-01 17:58] cmsbuild commented on #33929
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_3_1_patch1-cc8_amd64_gcc9/1946

[2021-06-01 18:00] dan131riley commented on #33936
Segmentation fault during startup, apparently while processing library binding for `dlsym`:
[code]

[2021-06-01 18:17] hatakeyamak commented on #27767
@slava77 with this above PR, which also addressed some HCAL flag setting, can we consider this issue can be closed?

[2021-06-01 18:37] cmsbuild commented on #33929
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_3_1_patch1-cc8_amd64_gcc9/3033

Tests results:
38 37 36 27 17 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-06-01 18:44] silviodonato commented on #33929
release notes

[2021-06-01 18:53] mrodozov opened #33937 "Test in CondCore/CondDB faling after IOVArray::Iterator use of ++ operator"
The test testConditionDatabase_0.cpp fails in ASAN IBs
after using the ++ operator of the created iterator,
for example, if the test is as it is it fails after te first check [0]
after adding this:

[code]

result:

[code]

If I remove the ++ operator it doesn't change the object but also doesn't fail:

[code]
[code]

Note also that I changed the second array element to be 176->44

[code]

and if

[2021-06-01 18:53] mrodozov commented on #33937
assign db

[2021-06-01 18:53] cmsbuild commented on #33937
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-01 18:53] cmsbuild commented on #33937
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-01 18:57] Dr15Jones commented on #33937
@mrodozov do you have more of the stack trace from the ASAN report?

[2021-06-01 19:03] mrodozov commented on #33937
this is the (usual) report
[code]

[2021-06-01 19:05] silviodonato commented on #33929
release-notes

[2021-06-01 19:05] cmsbuild commented on #33929
Generating release notes since CMSSW_11_3_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-01 19:05] cmsbuild commented on #33929
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_3_1_patch1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
slc7_aarch64_gcc9
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_11_3_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_3_1_patch1

Cheers,
cm

[2021-06-01 19:12] cmsbuild commented on #33929
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_3_1_patch1

[2021-06-01 19:36] slava77 commented on #33665
assign pdmv

as a part of this issue, is it possible to get some AOD files in the next few days using CMSSW_10_6_25 for the bParking dataset?
I think that 5-10K events based on wf 136.898 for data (here RECO is made by default, making it AOD would be useful) and 1304.181 for MC.
This is based on workflows with bParking modifier that are available in the matrix in 10_6_X.

[2021-06-01 19:37] cmsbuild commented on #33665
New categories assigned: pdmv

@jordan-martins,@chayanit,@wajidalikhan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-06-01 20:16] makortel commented on #33937
In principle the `operator*()` should check if `next; reached the end after `next++` before `*next`.

[2021-06-02 00:59] qliphy opened #33939 "Build CMSSW_9_4_21"

[2021-06-02 00:59] cmsbuild commented on #33939
Request received. I will start to build the release after one of the following approve the issue: @silviodonato, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2021-06-02 00:59] qliphy commented on #33939
+1

[2021-06-02 01:00] cmsbuild commented on #33939
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_21. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2021-06-02 01:00] cmsbuild commented on #33939
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-06-02 01:00] cmsbuild commented on #33939
The build has started for slc6_amd64_gcc630 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3034/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-02 01:01] cmsbuild commented on #33939
The build has started for slc7_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3035/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-02 02:54] borzari commented on #32550
@makortel Yes I did, and I think I corrected the issue (I am doing a local test with it now, by running over different datasets, not only the RelValZMM ones). The reason to why the sizes of `dxys` and `matches` don't match is that in the mixed categories of the validation, the ones that monitor trigger paths that trigger over electrons AND muons essentially, the vectors (actually is a map of vecto

[2021-06-02 03:26] slava77 commented on #33917
updates in the issue description/list from earlier today:

New:
    - #33922 "Adding offlineVerticesWithBS to miniAOD" was added to the list (master version #33778 was merged May 28)
- Status update:
    - #33877 Making miniAOD low pt tracks threshold tunable (merged June 1, 2021)
    - notes for other PRs were extended to mention the master PR (where it was not already mentioned)

[2021-06-02 03:55] cmsbuild commented on #33939
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_21-slc7_amd64_gcc630/3035
Some tests (

[2021-06-02 04:26] cmsbuild commented on #33939
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_21-slc6_amd64_gcc630/3034
Some tests (

[2021-06-02 05:10] cmsbuild commented on #33939
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_21-slc6_amd64_gcc630/3034

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2021-06-02 05:47] qliphy commented on #33939
upload all

[2021-06-02 05:47] cmsbuild commented on #33939
Queing Jenkins upload for slc6_amd64_gcc630

[2021-06-02 05:47] cmsbuild commented on #33939
Queing Jenkins upload for slc7_amd64_gcc630

[2021-06-02 05:49] cmsbuild commented on #33939
The upload has started for slc6_amd64_gcc630 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1947/console

[2021-06-02 05:50] cmsbuild commented on #33939
The upload has started for slc7_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1948/console

[2021-06-02 05:52] cmsbuild commented on #33939
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_21-slc7_amd64_gcc630/1948

[2021-06-02 05:52] cmsbuild commented on #33939
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_21-slc6_amd64_gcc630/1947

[2021-06-02 06:00] qliphy commented on #33939
upload all

[2021-06-02 06:08] qliphy commented on #33939
release-notes

[2021-06-02 06:08] cmsbuild commented on #33939
Generating release notes since CMSSW_9_4_20.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-06-02 06:08] cmsbuild commented on #33939
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_21 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_20 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_21

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2021-06-02 06:18] cmsbuild commented on #33939
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_21

[2021-06-02 06:57] ggovi commented on #33937
Good catch. Thanks, I've a fix ready.

[2021-06-02 07:17] #33929 closed

[2021-06-02 07:20] ggovi commented on #33937
Addressed by https://github.com/cms-sw/cmssw/pull/33941
The code consuming condition does not use the IOVArray iteration. So, in principle no high priority for back-ports. But let me know your advice.

[2021-06-02 07:25] mrodozov commented on #33937
thanks, I was checking how to make the iterator check if it's at the end I guess when you know the context is easier 😃
I'm checking if this fixes other unit tests (many of them has the same symptoms) and I'll report back here

[2021-06-02 09:15] qliphy opened #33942 "Build CMSSW_11_2_4_patch2"

[2021-06-02 09:47] qliphy commented on #33942
+1

[2021-06-02 09:51] cmsbuild commented on #33942
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_4_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-06-02 09:51] cmsbuild commented on #33942
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-too

[2021-06-02 09:53] cmsbuild commented on #33942
The build has started for cc8_amd64_gcc9 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3036/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-02 09:53] cmsbuild commented on #33942
The build has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3037/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-02 10:25] cmsbuild commented on #33942
The build has started for cc8_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3038/console
CMSDIST Branch: [REL/CMSSW_11_2_4/cc8_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/cc8_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-02 10:35] cmsbuild commented on #33942
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-slc7_amd64_gcc900/3037
Some t

[2021-06-02 10:35] cmsbuild commented on #33942
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-cc8_amd64_gcc9/3036
Some tests (

[2021-06-02 10:38] cmsbuild commented on #33942
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3039/console
CMSDIST Branch: [REL/CMSSW_11_2_4/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_4/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-06-02 11:00] mrodozov commented on #33937
ok this fixes at least 12 out of 22 failures in ASAN IBs
now checking the rest

[2021-06-02 11:02] jpata commented on #32756
+reconstruction

Should this be closed (unsure about the procedure)?

[2021-06-02 11:07] cmsbuild commented on #33942
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-cc8_ppc64le_gcc9/3038
Some tes

[2021-06-02 11:15] srimanob commented on #32756
+Upgrade

No issue has been reported so far.

[2021-06-02 11:15] cmsbuild commented on #33942
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_4_patch2-cc8_amd64_gcc9/3036

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed