[2022-06-01 10:16] cmsbuild commented on #38163
The build has started for slc7_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3529/console
CMSDIST Branch: [REL/CMSSW_12_3_4/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-01 10:45] jpata commented on #38127
+reconstrution
- addressed by the backport in https://github.com/cms-sw/cmssw/pull/38151 (it was already fixed in master)

[2022-06-01 10:52] cmsbuild commented on #38163
The build has started for el8_ppc64le_gcc10 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3531/console
CMSDIST Branch: [REL/CMSSW_12_3_4/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-01 11:17] cmsbuild commented on #38163
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch3-el8_aarch64_gcc10/3530
Some t

[2022-06-01 11:30] cmsbuild commented on #38163
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch3-el8_ppc64le_gcc10/3531
Some t

[2022-06-01 11:42] cmsbuild commented on #38163
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch3-slc7_amd64_gcc10/3529

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-01 11:48] cmsbuild commented on #38163
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch3-el8_amd64_gcc10/3528

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-01 12:21] cmsbuild commented on #38163
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch3-el8_aarch64_gcc10/3530

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-01 12:48] cmsbuild commented on #38163
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch3-el8_ppc64le_gcc10/3531

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-01 13:46] fabiocos commented on #38163
@qliphy @perrotta is this ready to be uploaded?

[2022-06-01 14:46] perrotta commented on #38163
upload all
(tests on CMSSW_12_3_X_2022-06-01-1200 are almost done, and there are no visible issues)

[2022-06-01 14:46] cmsbuild commented on #38163
Queing Jenkins upload for el8_amd64_gcc10

[2022-06-01 14:46] cmsbuild commented on #38163
Queing Jenkins upload for el8_aarch64_gcc10

[2022-06-01 14:47] cmsbuild commented on #38163
The upload has started for slc7_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2372/console

[2022-06-01 14:48] cmsbuild commented on #38163
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch3-el8_ppc64le_gcc10/2371

[2022-06-01 14:49] cmsbuild commented on #38163
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch3-el8_aarch64_gcc10/2369

[2022-06-01 15:23] Dr15Jones opened #38175 "GsfElectronProducer Reading off the end of a std::vector"
Running a PR test under ASAN showed the problem in the addOnTest hlt_mc_PIon
[code]

This appears to be related to the use of the DNN.

[2022-06-01 15:23] Dr15Jones commented on #38175
Assign reconstruction.

[2022-06-01 15:24] Dr15Jones commented on #38175
assign reconstruction

[2022-06-01 15:25] cmsbuild commented on #38175
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-01 15:35] #38141 closed

[2022-06-02 00:35] makortel commented on #30044
I was wondering how the ParameterSetRegistry is handled (since we were thinking to exploit that for the storage). I guess this
https://github.com/cms-sw/cmssw/blob/6a9931be81faa47b885b3a3bd5bc28c61f65dd75/IOPool/Streamer/src/StreamerOutputModuleBase.cc#L26-L42
means it is stored as part of the INI files. If I understood https://github.com/cms-sw/cmssw/pull/37831#issuecomment-1142614770 correctly,

[2022-06-02 05:05] qliphy opened #38192 "RootEmbeddedFileSequence no input files specified for secondary input source"
Appear in recent IB:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_X_2022-06-01-2300/pyRelValMatrixLogs/run/500202.0_TTbar_13+TTbar_13INPUT+DIGIPRMXUP15_PU50+RECOPRMXUP15_PU50+HARVESTUP15_PU50/step2_TTbar_13+TTbar_13INPUT+DIGIPRMXUP15_PU50+RECOPRMXUP15_PU50+HARVESTUP15_PU50.log#/27-27

Step: DIGI Spec: ['pdigi_valid']
Step: DATAMIX Spec:
the query is file dataset = /RelV

[2022-06-02 05:05] qliphy commented on #38192
https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=%2FRelValPREMIXUP15_PU50%2FCMSSW_10_4_0_pre1-PU50ns_103X_mcRun2_startup_v1-v1%2FPREMIX

It seems  /RelValMinBias_13/CMSSW_10_6_0-106X_mcRun2_asymptotic_v3-v1/GEN-SIM is deleted.

[2022-06-02 05:05] cmsbuild commented on #38192
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-02 05:05] qliphy commented on #38192
assign pdmv

[2022-06-02 05:06] cmsbuild commented on #38192
New categories assigned: pdmv

@bbilin,@jordan-martins,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-02 05:43] smuzaffar commented on #38192
@qliphy , though dataset has been deleted but we have cached the results. I can run `runTheMatrix.py -i all -l 25200.0 --command ' -n 1 ' -t 4 ` locally using ibeos cache. there might be a glitch with github due to which some tests failed to get the das cached results from github.

[2022-06-02 06:10] qliphy commented on #38192
thanks @smuzaffar

[2022-06-02 07:27] jpata commented on #38175
type egamma

[2022-06-02 07:28] jpata commented on #38175
Thanks Chris for the investigation!

@valsdav @a-kapoor @swagata87 @cms-sw/egamma-pog-l2 please take note of this issue.

[2022-06-02 07:56] a-kapoor commented on #38175
Looking at it now.

[2022-06-02 08:30] smorovic commented on #30044
Hi @makortel, correct. We only keep one copy (from one process) and discard others, which isn't sufficient for a heterogeneous farm.
In addition, process lifetime is 'dynamic' over a HLT run, since a crashed process can be restarted, and in some cases even a machine can be added over the lifetime of a run.

First option, already discussed, is to store it in the event payload. If ProcesBlock is tin

[2022-06-02 13:10] jpata commented on #36282
@cms-sw/alca-l2 @cms-sw/dqm-l2

In this thread https://cms-talk.web.cern.ch/t/high-memory-usage-in-promptreco-jobs-for-run-352516/11040/13
it was pointed out that a problematic module with a memory leak was not present in this workflow (fixed in https://github.com/cms-sw/cmssw/pull/38177) and hence was not detected at integration time, only by having the jobs killed by an RSS watchdog at Tier0.

S

[2022-06-02 13:10] Jetmet commented on #36282
这是来自QQ邮箱的假期自动回复邮件。您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-06-02 13:13] jpata commented on #36282
@jfernan2 looks like your comment above https://github.com/cms-sw/cmssw/issues/36282#issuecomment-981823572 tagged a bunch of unrelated accounts.

@smuzaffar is there a way to revert this?

[2022-06-02 13:25] smuzaffar commented on #36282
@jpata , I do not know of any way to undo it. each user can trun off their notifications by clicking to `Unsubscribe` button

[2022-06-02 13:39] tvami opened #38198 "Profiling a T0 prompt AlCa and DQM workflows"
Follow up to the issue 36282
and cmsTalk
https://cms-talk.web.cern.ch/t/high-memory-usage-in-promptreco-jobs-for-run-352516/11040

So the issue is that the wf chosen in github issue 36282 is based on the MET dataset, thus `AlCaHcalHBHEMuonProducer` is not run on it. (It's attached to the MinBias and SingleMuon).

This is a general issue for testing, certain ALCARECOs belong to certain PDs (as defi

[2022-06-02 13:40] cmsbuild commented on #38198
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-02 13:41] cmsbuild commented on #38198
New categories assigned: dqm,alca

@jfernan2,@ahmad3213,@yuanchao,@micsucmed,@rvenditti,@emanueleusai,@francescobrivio,@malbouis,@tvami,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-02 13:43] cmsbuild commented on #38198
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-02 13:44] smuzaffar commented on #36282
only thing I can suggest is to open a new issue (duplicate of this) and lock the conversation here :-)

[2022-06-02 13:44] makortel commented on #38198
How many events is processed for the plots in http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/results/summary_plot_html/CMSSW_12_4_step3_136.889.html ? (I'm confused of the x axis)

[2022-06-02 13:48] Dr15Jones commented on #38175
I think the underlying problem is with the interface presented by `egammaTools::EgammaDNNHelper::evaluate`. The function internally decides which model to run but the data structure returned from the function gives no way to know which model was applied to which elements. If the model info was returned from the function there would be no need to attempt to reapply the criteria externally to figure

[2022-06-02 14:06] jpata commented on #38198
It's 5k events: https://github.com/cms-sw/cms-bot/blob/master/reco_profiling/profileRunner.py#L95.

The plot has event IDs on the x axis, we need to change that (cc @xoqhdgh1002) to be just numbers.

[2022-06-02 14:08] jfernan2 commented on #36282
I am sorry, perhaps I should have used quotation marks for the modules...

[2022-06-02 14:16] makortel commented on #38198
Thanks, good. That should be sufficient for this particular leak (or even smaller) to be visible (this would have been ~1.2 GB after 5k events).

[2022-06-02 14:39] tvami commented on #36282
I did that and announced it on the cmsTalk
https://cms-talk.web.cern.ch/t/high-memory-usage-in-promptreco-jobs-for-run-352516/11040/13

[2022-06-02 14:43] CeliaFernandez opened #38201 "Remove StandAlone muon duplicates"
There are few cases of StandAlone muons reconstructed in the proximity of Global Muons with different outer track, but very similar parameters. In most of these cases, the number of hits of both outer tracks of Global and StandAlone muons coincide, which suggests that these secondary StandAlone muons are indeed duplicates of the StandAlone muon that seeded the Global muon reconstruction. The prese

[2022-06-02 14:44] cmsbuild commented on #38201
A new Issue was created by  @CeliaFernandez Celia Fernndez Madrazo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-02 14:48] makortel commented on #38201
assign reconstruction

[2022-06-02 18:20] a-kapoor commented on #38175
@Dr15Jones

Okay! Here is a [commit](https://github.com/cms-sw/cmssw/compare/master...a-kapoor:checking_std_abs) I created with just the cout statement in GsfElectronProducer.cc

Maybe there is a "using std" hidden somewhere but it is not in GsfElectronProducer.cc. Could it be picking from somewhere else?

[2022-06-02 18:32] Dr15Jones commented on #38175
Guess one of the included headers is bring something in. I didn't find any evidence it comes from CMSSW. But for now, it doesn't matter since you've determined it is NOT an int conversion going on.

[2022-06-02 19:35] a-kapoor commented on #38175
Indeed. I am working on fixing the actual problem and will get back on this thread.

[2022-06-03 07:55] #38138 closed

[2022-06-03 08:42] iarspider opened #38222 "[DBG_X] Undefined variable ekin_ in TrackingAction.cc"
The build of CMSSW_12_5_DBG_X_2022-06-02-2300 IB failed with the following error:
[code]

It seems that the line https://github.com/cms-sw/cmssw/blob/master/SimG4Core/Application/src/TrackingAction.cc#L127 should read either
[code]
(`ekin` without underscore) or
[code]
(`ekin` without underscore and divided by `CLHEP::GeV`).

Pinging @civanch for comments

[2022-06-03 08:42] cmsbuild commented on #38222
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-03 08:43] iarspider commented on #38222
assign simulation

[2022-06-03 08:44] cmsbuild commented on #38222
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-03 09:14] smuzaffar opened #38223 "GCC12 build error: Address of object will never be NULL"
For GCC 12 IBs, we get few [build errors](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/el8_amd64_gcc12/CMSSW_12_5_X_2022-06-01-1600/TopQuarkAnalysis/TopKinFitter) like [a]. This is coing from https://github.com/cms-sw/cmssw/blob/master/TopQuarkAnalysis/TopKinFitter/interface/CovarianceMatrix.h#L101 . Shouldn't this code be changed to
[code]

[a]
[code]

[2022-06-03 09:18] civanch commented on #38222
@iarspider , it is fixed in #38224

[2022-06-03 09:18] cmsbuild commented on #38222
This issue is fully signed and ready to be closed.

[2022-06-03 09:19] iarspider commented on #38222
Thanks @civanch !

[2022-06-03 12:13] qliphy opened #38229 "Issues with wfs 25040X in IB tests"
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc11/CMSSW_12_5_X_2022-06-03-1100/pyRelValMatrixLogs/run/250400.18_ZEE_13+FS_ZEE_13_PRMXUP18_PU50+HARVESTUP18FS+MINIAODMCUP18FS/step1_ZEE_13+FS_ZEE_13_PRMXUP18_PU50+HARVESTUP18FS+MINIAODMCUP18FS.log#/

  File "/cvmfs/cms-ib.cern.ch/nweek-02735/el8_amd64_gcc11/cms/cmssw-patch/CMSSW_12_5_X_2022-06-03-1100/src/SimGeneral/PreMixingModule/python/m

[2022-06-03 12:13] qliphy commented on #38229
Seem to be Related to https://github.com/cms-sw/cmssw/pull/37823

[2022-06-03 12:13] cmsbuild commented on #38229
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-03 12:14] qliphy commented on #38229
assign simulations

[2022-06-03 13:05] gartung commented on #37816
Still seeing the occasional segfault in cpu profiling
[code]

[2022-06-03 13:08] cmsbuild commented on #38163
The cleanup has started for el8_aarch64_gcc10

[2022-06-03 13:08] cmsbuild commented on #38163
The cleanup has started for el8_amd64_gcc10

[2022-06-03 13:08] cmsbuild commented on #38163
The cleanup has started for el8_ppc64le_gcc10

[2022-06-03 13:08] #38163 closed

[2022-06-03 13:08] makortel commented on #38223
assign analysis

(if this even works anymore)

[2022-06-03 13:08] cmsbuild commented on #38163
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch3-el8_aarch64_gcc10/2078

[2022-06-03 13:08] cmsbuild commented on #38163
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch3-el8_ppc64le_gcc10/2080

[2022-06-03 13:08] cmsbuild commented on #38163
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch3-slc7_amd64_gcc10/2081

[2022-06-03 13:08] cmsbuild commented on #38223
New categories assigned: analysis

 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-03 13:12] makortel commented on #38223
So `pat::PATObject<T>` inherits from `T`, so the compiler complains that `dynamic_cast<T const*>()` always succeeds for `pat::PATObject<T> const*`. I think the code could be changed to something along
[code]
as well.

[2022-06-03 14:52] mmusich commented on #38229
I propose a fix here: https://github.com/cms-sw/cmssw/pull/38236

[2022-06-03 15:15] qliphy opened #38237 "Build CMSSW_12_3_5"
To include several fixes or updates:  #38221  #38215  #38160
Notice #38117 was also included, which changes data format. Thus we build a full release here.

Depending on 12_3_X new IB test outcome, we will then proceed after this build.

[2022-06-03 15:15] cmsbuild commented on #38237
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-06-03 15:17] qliphy commented on #38237
+1

[2022-06-03 15:18] cmsbuild commented on #38237
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-06-03 15:18] cmsbuild commented on #38237
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to fini

[2022-06-03 15:33] cmsbuild commented on #38237
The build has started for slc7_amd64_gcc10 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3534/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-03 16:41] skinnari commented on #35010
@perrotta @cecilecaillol how can we run and reproduce the errors for "34634.21 step2" to check a possible fix? @ryanm124

[2022-06-03 17:33] cmsbuild commented on #38237
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_5-el8_ppc64le_gcc10/3532
Some tests (

[2022-06-03 17:35] makortel commented on #35010
@skinnari You can take the latest UBSAN IB `CMSSW_12_5_UBSAN_X_2022-06-01-1100` and run `runTheMatrix.py -l 35634.21` there.

[2022-06-03 17:45] makortel commented on #28608
It seems to me that after #37278 the chances for these modules to break will increase.

[2022-06-03 18:23] cmsbuild commented on #38237
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_5-el8_ppc64le_gcc10/3532

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-03 18:52] cmsbuild commented on #38237
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_5-slc7_amd64_gcc10/3534
Some tests ( ru

[2022-06-03 18:52] cmsbuild commented on #38237
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_5-el8_amd64_gcc10/3533
Some tests ( runT

[2022-06-03 19:36] cmsbuild commented on #38237
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_5-el8_amd64_gcc10/3533

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-03 19:37] cmsbuild commented on #38237
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_5-slc7_amd64_gcc10/3534

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-04 02:41] qliphy commented on #38237
upload all

[2022-06-04 02:41] cmsbuild commented on #38237
Queing Jenkins upload for slc7_amd64_gcc10

[2022-06-04 02:41] cmsbuild commented on #38237
Queing Jenkins upload for el8_amd64_gcc10

[2022-06-04 02:41] cmsbuild commented on #38237
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-06-04 02:42] cmsbuild commented on #38237
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2374/console

[2022-06-04 02:42] cmsbuild commented on #38237
The upload has started for el8_amd64_gcc10 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2373/console

[2022-06-04 02:42] cmsbuild commented on #38237
The upload has started for slc7_amd64_gcc10 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2375/console

[2022-06-04 02:43] cmsbuild commented on #38237
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_5-el8_ppc64le_gcc10/2374

[2022-06-04 02:44] cmsbuild commented on #38237
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_5-el8_amd64_gcc10/2373

[2022-06-04 02:47] cmsbuild commented on #38237
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_5-slc7_amd64_gcc10/2375

[2022-06-04 04:34] qliphy commented on #38237
release-notes

[2022-06-04 04:34] cmsbuild commented on #38237
Generating release notes since CMSSW_12_3_4_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-06-04 04:34] cmsbuild commented on #38237
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_3_5 is now available for the following architectures:

slc7_amd64_gcc10 (production)
el8_ppc64le_gcc10
el8_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_3_4_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_3_5

To include several fixes or updates:  #38

[2022-06-04 04:38] cmsbuild commented on #38237
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_5

[2022-06-04 14:46] #38229 closed

[2022-06-05 12:10] JamieSlome opened #38249 "Add SECURITY.md"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@whokilleddb) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a se

[2022-06-05 12:10] cmsbuild commented on #38249
A new Issue was created by  @JamieSlome Jamie Slome.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-05 16:25] #38222 closed

[2022-06-06 02:38] cmsbuild commented on #38237
The cleanup has started for slc7_amd64_gcc10

[2022-06-06 02:38] cmsbuild commented on #38237
The cleanup has started for el8_amd64_gcc10

[2022-06-06 02:38] cmsbuild commented on #38237
The cleanup has started for el8_ppc64le_gcc10

[2022-06-06 02:38] #38237 closed

[2022-06-06 02:38] cmsbuild commented on #38237
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_5-el8_amd64_gcc10/2082

[2022-06-06 02:39] cmsbuild commented on #38237
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_5-el8_ppc64le_gcc10/2083

[2022-06-06 02:39] cmsbuild commented on #38237
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_5-slc7_amd64_gcc10/2084

[2022-06-06 06:27] #38192 closed

[2022-06-06 15:49] Dr15Jones commented on #38249
assign core

[2022-06-06 15:50] cmsbuild commented on #38249
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-06 15:53] Dr15Jones opened #38260 "TritonService throwing multiple exceptions"
In CMSSW_12_5_X_2022-06-05-2300 IB running workflow 10805.31 for step 3 we got an abort caused by an exception being thrown while an exception is being unwound. The C++ run time says it was of type TritonException

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_X_2022-06-05-2300/pyRelValMatrixLogs/run/10805.31_SingleGammaPt35+2018_photonDRN+SingleGammaPt35_pythia8_GenSimIN

[2022-06-06 15:53] cmsbuild commented on #38260
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-06 16:59] Dr15Jones commented on #38260
The relevant information appears to be

[code]

with stack trace
[code]

[2022-06-06 17:51] #37289 closed

[2022-06-06 20:06] gartung commented on #37816
Updated libunwind to the head of master to further help with segfaults in the dwarf_* functions
 https://github.com/cms-sw/cmsdist/pull/7910

[2022-06-07 01:17] #38223 closed

[2022-06-07 05:00] smuzaffar commented on #38223
thanks @makortel for the suggestion. https://github.com/cms-sw/cmssw/pull/38263 should fix this issue

[2022-06-07 08:30] iarspider opened #38268 "TotemTimingRecHitProducer: Failed to retrieve a sensor for subDet=5 arm=0 station=2 rp=0"
Step 3 of relval 136.8562 is failing with the following exception:
[code]

Full log: [link](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_X_2022-06-06-2300/pyRelValMatrixLogs/run/136.8562_RunZeroBias1_hBStarRP+RunZeroBias1_hBStarRP+HLTDR2_2018_hBStar+RECODR2_2018reHLT_Offline_hBStar+HARVEST2018_hBStar/step3_RunZeroBias1_hBStarRP+RunZeroBias1_hBStarRP+HLTDR2_2018_hBStar+RE

[2022-06-07 08:31] cmsbuild commented on #38268
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-07 11:05] SanghyunKo commented on #36705
Hi all, @Dongwoon77 had checked some basic ISR up/down & FSR up/down variables with DY01234JetsToLL MLM + Pythia8 PS weights between P8240 and P8306 with the patch I made.

https://dongwoon.web.cern.ch/p240vsp306/plots_comp/Generator_GenWeight.html

You can navigate to the leadJetPt & leadLepPt ISR & FSR up/down plots, whereas they represent leading jet & lepton Pt above 20 GeV weighted to corresp

[2022-06-07 14:41] ryanm124 commented on #35010
@makortel I've setup a `CMSSW_12_5_0_pre1` repository and have switched to the `CMSSW_12_5_UBSAN_X_2022-06-01-1100` branch but am getting a `ValueError: Undefined workflows` for both 35634.21 and the 34634.21. Please let me know what modifications need to be made to run the L1T related workflows and to get the output errors in the form shown in previous replies.

[2022-06-07 15:47] qliphy opened #38274 "Build CMSSW_12_2_4_patch1"

[2022-06-07 15:48] cmsbuild commented on #38274
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_4_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-06-07 15:50] cmsbuild commented on #38274
The build has started for slc7_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3537/console
CMSDIST Branch: [REL/CMSSW_12_2_4/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_4/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-06-07 15:50] cmsbuild commented on #38274
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3536/console
CMSDIST Branch: [REL/CMSSW_12_2_4/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_4/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-06-07 15:52] cmsbuild commented on #38274
The build has started for slc7_amd64_gcc900 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3538/console
CMSDIST Branch: [REL/CMSSW_12_2_4/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_4/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-06-07 16:21] cmsbuild commented on #38274
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4_patch1-slc7_ppc64le_gcc9/3536
Some t

[2022-06-07 16:34] smuzaffar commented on #35010
@ryanm124 , you need to do something like
[code]
you can see the ubsan errors in `10007.0_*/step2_*.log`

[2022-06-07 16:38] cmsbuild commented on #38274
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4_patch1-slc7_amd64_gcc900/3538
Some t

[2022-06-07 16:39] smuzaffar commented on #35010
looks like these `34634.21, 35634.21` workflows are not part of release any more

[2022-06-07 16:47] cmsbuild commented on #38274
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4_patch1-cc8_amd64_gcc9/3535
Some tests (

[2022-06-07 17:07] qliphy commented on #38274
upload all

[2022-06-07 17:07] cmsbuild commented on #38274
Queing Jenkins upload for slc7_aarch64_gcc9

[2022-06-07 17:08] cmsbuild commented on #38274
Queing Jenkins upload for cc8_amd64_gcc9

[2022-06-07 17:08] cmsbuild commented on #38274
Queing Jenkins upload for slc7_ppc64le_gcc9

[2022-06-07 17:08] cmsbuild commented on #38274
The upload has started for cc8_amd64_gcc9 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2376/console

[2022-06-07 17:10] cmsbuild commented on #38274
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2377/console

[2022-06-07 17:10] cmsbuild commented on #38274
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_4_patch1-slc7_aarch64_gcc9/2377

[2022-06-07 17:10] cmsbuild commented on #38274
The upload has started for slc7_amd64_gcc900 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2378/console

[2022-06-07 17:10] cmsbuild commented on #38274
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_4_patch1-cc8_amd64_gcc9/2376

[2022-06-07 17:11] cmsbuild commented on #38274
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_4_patch1-slc7_amd64_gcc900/2378

[2022-06-07 17:11] cmsbuild commented on #38274
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2379/console

[2022-06-07 17:11] cmsbuild commented on #38274
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_4_patch1-slc7_ppc64le_gcc9/2379

[2022-06-07 17:11] qliphy commented on #38274
release-notes

[2022-06-07 17:11] cmsbuild commented on #38274
Generating release notes since CMSSW_12_2_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-06-07 17:11] cmsbuild commented on #38274
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_2_4_patch1 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9

The release notes of what changed with respect to CMSSW_12_2_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_2_4_patch1

Cheers,
cm

[2022-06-07 17:16] cmsbuild commented on #38274
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_4_patch1

[2022-06-07 17:25] cmsbuild commented on #38274
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4_patch1-slc7_amd64_gcc900/3538

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-07 17:25] cmsbuild commented on #38268
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-07 17:35] cmsbuild commented on #38274
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4_patch1-cc8_amd64_gcc9/3535

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-07 17:36] cmsbuild commented on #38274
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4_patch1-slc7_aarch64_gcc9/3537

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-07 18:43] rappoccio commented on #35010
Hi @smuzaffar I don't see this build in the architecture (slc7_amd64_gcc10). I also don't see it in el8_aarch64_gcc10 either, can you take a look?

[2022-06-07 18:53] rappoccio commented on #35010
Thanks @smuzaffar. I got it working. Are there machines set up with el8 yet? I'm using cmsdev31, maybe it's a stupid question... can we use the el8 builds on the sl7 machines?

@ryanm124 you have to set the SCRAM_ARCH like

[code]

then

[code]

[2022-06-07 19:05] smuzaffar commented on #35010
@rappoccio , no we do not have any dev machines with el8 but you can run `cmssw-el8` ( it should be in your path when you log in to cmsdevXX or lxplus machines). `cmssw-el8` should start a singularity container for `el8` env. so in order to create UBSAN area you can do
[code]

[2022-06-08 07:52] rappoccio commented on #35010
Thanks @smuzaffar ! It works. @ryanm124 hope this helps.

[2022-06-08 11:01] VinInn commented on #38175
[code]

[2022-06-08 13:57] ryanm124 commented on #35010
I've got it working now, thanks all.

[2022-06-08 15:47] adewit opened #38289 "process.dumpPython() in cmsRun config 12_4_0_pre3 creates config with syntax error in some cases"
Aplogies if this has already been reported/fixed, but I noticed that in CMSSW 12_4_0_pre3 calling process.dumpPython() at the end of a cmsRun config (to extract the full configuration), produces a configuration that won't run, at least for my use case.

The problem is that it prints `process.patAlgosToolsTask = cms.{}(*[...` instead of `process.patAlgosToolsTask=cms.Task(*[...`.  It's easy enough

[2022-06-08 15:47] cmsbuild commented on #38289
A new Issue was created by  @adewit .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-08 15:54] mmusich commented on #38289
duplicate of https://github.com/cms-sw/cmssw/issues/37837?

[2022-06-08 15:59] kandrosov commented on #37169
Within the tau POG we didn't encounter such errors before (at least not recently). The only case I remember, where taus were not decayed by the generator, is for the long-lived searches, where the tau production vertex was very far from 0 and `ParticleDecays:limitTau0` was on, so taus were decayed by geant and not pythia.

[2022-06-08 16:00] qliphy opened #38290 "Build CMSSW_12_5_0_pre2"
Launch the build while waiting for IB test results in parallel

[2022-06-08 16:01] qliphy commented on #38290
+1

[2022-06-08 16:01] cmsbuild commented on #38290
Queuing Jenkins build for the following architectures: el8_aarch64_gcc10, el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-06-08 16:04] cmsbuild commented on #38290
The build has started for el8_amd64_gcc11 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3540/console
CMSDIST Branch: [IB/CMSSW_12_5_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-08 16:04] cmsbuild commented on #38290
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3543/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-08 16:04] cmsbuild commented on #38290
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3542/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-08 16:59] adewit commented on #38289
It is indeed! I should have scrolled further back :-) thanks for pointing it out - good to hear that it's already been addressed and apologies for the noise.

[2022-06-08 16:59] #38289 closed

[2022-06-08 20:13] cmsbuild commented on #38290
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre2-el8_ppc64le_gcc10/3542
Some tes

[2022-06-08 20:22] cmsbuild commented on #38290
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre2-el8_aarch64_gcc10/3543
Some tes

[2022-06-08 21:03] cmsbuild commented on #38290
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre2-el8_ppc64le_gcc10/3542

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-08 21:03] cmsbuild commented on #38290
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre2-el8_aarch64_gcc10/3543

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-08 22:01] cmsbuild commented on #38290
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre2-slc7_amd64_gcc10/3541
Some tests

[2022-06-08 22:21] cmsbuild commented on #38290
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre2-el8_amd64_gcc11/3540
Some tests (

[2022-06-08 22:23] cmsbuild commented on #38290
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre2-el8_amd64_gcc10/3539
Some tests (

[2022-06-08 22:49] cmsbuild commented on #38290
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre2-slc7_amd64_gcc10/3541

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-08 23:09] cmsbuild commented on #38290
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre2-el8_amd64_gcc11/3540

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-08 23:10] cmsbuild commented on #38290
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre2-el8_amd64_gcc10/3539

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-09 05:19] qliphy commented on #38290
upload all

[2022-06-09 05:20] cmsbuild commented on #38290
Queing Jenkins upload for slc7_amd64_gcc10

[2022-06-09 05:20] cmsbuild commented on #38290
Queing Jenkins upload for el8_amd64_gcc10

[2022-06-09 05:20] cmsbuild commented on #38290
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-06-09 05:20] cmsbuild commented on #38290
Queing Jenkins upload for el8_aarch64_gcc10

[2022-06-09 05:20] cmsbuild commented on #38290
Queing Jenkins upload for el8_amd64_gcc11

[2022-06-09 05:20] cmsbuild commented on #38290
The upload has started for el8_amd64_gcc11 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2382/console

[2022-06-09 05:21] cmsbuild commented on #38290
The upload has started for el8_amd64_gcc10 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2381/console

[2022-06-09 05:22] cmsbuild commented on #38290
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre2-el8_amd64_gcc11/2382

[2022-06-09 05:22] cmsbuild commented on #38290
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre2-el8_aarch64_gcc10/2380

[2022-06-09 05:22] cmsbuild commented on #38290
The was error uploading el8_ppc64le_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre2-el8_ppc64le_gcc10/2383

[2022-06-09 05:23] cmsbuild commented on #38290
The upload has started for slc7_amd64_gcc10 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2384/console

[2022-06-09 05:24] cmsbuild commented on #38290
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre2-slc7_amd64_gcc10/2384

[2022-06-09 05:31] cmsbuild commented on #38290
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre2-el8_amd64_gcc10/2381

[2022-06-09 05:44] qliphy commented on #38290
@smuzaffar  el8_ppc64le_gcc10 upload has errors.  Would you please have a look? Thanks!

[2022-06-09 06:00] smuzaffar commented on #38290
@qliphy , ` ibmminsky-1` machine has AFS issues and it currently not accessible. We have opened a ticket. I will rerun the upload for it as soon as it is working again

[2022-06-09 06:43] Sam-Harper commented on #36917
@Dr15Jones , @smuzaffar , @makortel , any chance of this?

I now have a convenient workaround for my specific issue but it would be nice if we could get this.

[2022-06-09 06:54] smuzaffar commented on #36917
@Sam-Harper , according to https://pypi.org/project/requesocks/#description `requests[socks] `  is already bundled in `requests` package which is available in cmssw env. So what else are we missing in cmssw?

[2022-06-09 07:25] cmsbuild commented on #38290
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2385/console

[2022-06-09 07:34] cmsbuild commented on #38290
Generating release notes since CMSSW_12_5_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-06-09 07:34] cmsbuild commented on #38290
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_5_0_pre2 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_5_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_0_pre2

[2022-06-09 07:59] Sam-Harper commented on #36917
Hi @smuzaffar

Are you sure requests[socks] is actually installed?  I testedin CMSSW_12_5_0_pre1

![image](https://user-images.githubusercontent.com/5021403/172792660-ca4ac7e0-e55d-4121-9856-0470e1db955a.png)

I can resolve this easily by simply doing

[code]

which unfortunately is only possible on a machine with direct connection to the internet

[2022-06-09 08:44] missirol commented on #36938
Hi @Dr15Jones , Matti ,

while testing recent HLT menus with `ConditionalTask`s, @Sam-Harper found a problem which we are trying to understand.

I think I managed to translate the issue into a minimal example, which you find below [*].

Running `cmsRun cfg.py enableGPU`, one gets the following error message
[code]

The error is related to the branch of the SwitchProducer which is not enabled (beca

[2022-06-09 08:47] smuzaffar commented on #36917
ah right , our `requests` package is not installed with `socks` support. Can you please check if installing `PySocks3.9==2.0` locally works?

[2022-06-09 09:10] missirol commented on #36938
I forgot to add that the test in https://github.com/cms-sw/cmssw/issues/36938#issuecomment-1150844273 was done in `12_4_0_pre4`.

[2022-06-09 09:45] missirol commented on #36938
False alarm. The problem was that I was testing in `CMSSW_12_4_0_pre4`.

@fwyzard clarified to me that the issue is not present in `CMSSW_12_5_0_pre2`, as well as recent `CMSSW_12_4_X` IBs (e.g. `CMSSW_12_4_X_2022-06-08-2300`).

This is most likely because #38006 (#38015) not only fixes https://github.com/cms-sw/cmssw/issues/36938#issuecomment-1128887595 , but also https://github.com/cms-sw/cmssw/

[2022-06-09 10:03] smuzaffar commented on #36917
@Sam-Harper, can you please check if installing `pysocks` works with proxy?

[2022-06-09 12:13] clacaputo commented on #37704
+reconstruction:

- fix provided in #38173 and merged in `CMSSW_12_5_0_pre2`

[2022-06-09 14:00] Dr15Jones commented on #36938
@missirol glad you were able to solve the problem! Also go to hear that the last version of ConditionalTask is working for you.

[2022-06-09 14:16] qliphy opened #38305 "Build CMSSW_12_3_5_patch1"
To include https://github.com/cms-sw/cmssw/pull/38232  in order to have a possible backup plan of pausing the T0 prompt reco

[2022-06-09 14:17] cmsbuild commented on #38305
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-06-09 14:17] qliphy commented on #38305
+1

[2022-06-09 14:17] cmsbuild commented on #38305
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to fini

[2022-06-09 14:19] cmsbuild commented on #38305
The build has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3544/console
CMSDIST Branch: [REL/CMSSW_12_3_5/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_5/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-09 14:19] cmsbuild commented on #38305
The build has started for slc7_amd64_gcc10 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3545/console
CMSDIST Branch: [REL/CMSSW_12_3_5/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_5/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-09 14:19] cmsbuild commented on #38305
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3546/console
CMSDIST Branch: [REL/CMSSW_12_3_5/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_5/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-09 15:04] cmsbuild commented on #38305
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_5_patch1-el8_ppc64le_gcc10/3546
Some t

[2022-06-09 15:16] cmsbuild commented on #38305
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_5_patch1-slc7_amd64_gcc10/3545
Some tes

[2022-06-09 15:23] cmsbuild commented on #38274
The cleanup has started for slc7_aarch64_gcc9

[2022-06-09 15:23] cmsbuild commented on #38274
The cleanup has started for slc7_amd64_gcc900

[2022-06-09 15:23] cmsbuild commented on #38274
The cleanup has started for slc7_ppc64le_gcc9

[2022-06-09 15:23] cmsbuild commented on #38274
The cleanup has started for cc8_amd64_gcc9

[2022-06-09 15:23] #38274 closed

[2022-06-09 15:24] cmsbuild commented on #38274
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_4_patch1-slc7_amd64_gcc900/2087

[2022-06-09 15:24] cmsbuild commented on #38274
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_4_patch1-slc7_aarch64_gcc9/2086

[2022-06-09 15:24] cmsbuild commented on #38274
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_4_patch1-cc8_amd64_gcc9/2085

[2022-06-09 15:24] cmsbuild commented on #38274
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_4_patch1-slc7_ppc64le_gcc9/2088

[2022-06-09 15:54] cmsbuild commented on #38305
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_5_patch1-el8_ppc64le_gcc10/3546

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-09 16:08] qliphy commented on #38305
upload all

[2022-06-09 16:09] cmsbuild commented on #38305
Queing Jenkins upload for slc7_amd64_gcc10

[2022-06-09 16:09] cmsbuild commented on #38305
Queing Jenkins upload for el8_amd64_gcc10

[2022-06-09 16:09] cmsbuild commented on #38305
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-06-09 16:10] cmsbuild commented on #38305
The upload has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2386/console

[2022-06-09 16:10] cmsbuild commented on #38305
The upload has started for slc7_amd64_gcc10 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2388/console

[2022-06-09 16:10] cmsbuild commented on #38305
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2387/console

[2022-06-09 16:10] cmsbuild commented on #38305
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_5_patch1-el8_amd64_gcc10/2386

[2022-06-09 16:11] cmsbuild commented on #38305
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_5_patch1-slc7_amd64_gcc10/2388

[2022-06-09 16:11] cmsbuild commented on #38305
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_5_patch1-el8_ppc64le_gcc10/2387

[2022-06-09 16:12] qliphy commented on #38305
release-notes

[2022-06-09 16:13] cmsbuild commented on #38305
Generating release notes since CMSSW_12_3_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-06-09 16:13] cmsbuild commented on #38305
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_3_5_patch1 is now available for the following architectures:

slc7_amd64_gcc10 (production)
el8_ppc64le_gcc10
el8_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_3_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_3_5_patch1

To include https://github.co

[2022-06-09 16:16] cmsbuild commented on #38305
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_5_patch1-el8_amd64_gcc10/3544

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-09 16:17] cmsbuild commented on #38305
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_5_patch1

[2022-06-09 17:38] mmusich commented on #35758
type tracking

[2022-06-09 17:47] civanch commented on #37469
+1

[2022-06-09 17:47] cmsbuild commented on #37469
This issue is fully signed and ready to be closed.

[2022-06-09 17:48] civanch commented on #37258
@cvuosalo , it seems that @bsunanda  resolve this issue or I am wrong?

[2022-06-09 17:57] civanch commented on #25090
+1

[2022-06-09 17:58] cmsbuild commented on #25090
This issue is fully signed and ready to be closed.

[2022-06-09 20:00] cvuosalo commented on #37258
@bsunanda This issue relates to the creation of new DD4hep Runs 1-2 geometry DB payloads and how to compare them with the existing Runs 1-2 XML geometry and DB geometry. This step won't be done until the Runs 1-2 DD4hep migration has been mostly completed.
This issue is merely a reminder that the Runs 1-2 XML geometry has diverged from the DB geometry.

[2022-06-10 04:04] bsunanda commented on #37258
I was distracted with HGCAL geometry development during the past few weeks. I shall restart with the legacy scenario soon.
________________________________
From: Carl Vuosalo ***@***.***
Sent: 09 June 2022 22:00
To: cms-sw/cmssw
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmssw] [DD4hep] Runs 1-2 migration complicated by change in materials (Issue #37258)

@bsunanda<https://github.com/bsuna

[2022-06-10 04:53] smuzaffar commented on #37169
it occured again in 12.5.X IBs
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_X_2022-06-09-2300/pyRelValMatrixLogs/run/148.0_HydjetQ_MinBias_XeXe_5442GeV_2017+HydjetQ_MinBias_XeXe_5442GeV_2017+DIGIHI2017+RECOHI2017+HARVESTHI2017/step3_HydjetQ_MinBias_XeXe_5442GeV_2017+HydjetQ_MinBias_XeXe_5442GeV_2017+DIGIHI2017+RECOHI2017+HARVESTHI2017.log#/83

[code]

[2022-06-10 08:36] jpata commented on #35758
It was discussed here: https://github.com/cms-sw/cmssw/pull/38288 that looper reco will be disabled for Run2_2018 and Run3.

In the future, it might be good to investigate other periods of Run2 for a consistent setup.

[2022-06-10 08:43] smuzaffar commented on #36917
great, I will include it in cmssw software stack then

[2022-06-10 08:46] Sam-Harper commented on #36917
thank you so much, this life much easier on restricted network machines!

[2022-06-10 10:21] clacaputo commented on #37704
seem cmsbot didn't update reconstruction tag after my comment https://github.com/cms-sw/cmssw/issues/37704#issuecomment-1151044374

[2022-06-10 10:21] clacaputo commented on #37704
+reconstruction:

- fix provided in https://github.com/cms-sw/cmssw/pull/38173 and merged in CMSSW_12_5_0_pre2.

[2022-06-10 10:33] thomreis commented on #37704
Still did not do it. Perhaps try without the ":"?

[2022-06-10 12:40] jpata commented on #37827
type performance-improvements

[2022-06-10 13:25] cmsbuild commented on #37704
This issue is fully signed and ready to be closed.

[2022-06-10 13:26] clacaputo commented on #37704
Indeed, I don't know why I put `:`. Thanks

[2022-06-10 13:35] jpata commented on #37549
It looks like at least half of the MuonIdProducer time is matching tracks to muon chambers: https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/TrackingTools/TrackAssociator/src/TrackDetectorAssociator.cc#L693

For each track, it gets the nearby muon chamber detIds, extrapolates the track and does some cross-matching (if I undestgand correctly).
https://github.com/cms-sw/

[2022-06-10 18:56] #36917 closed

[2022-06-11 00:53] #25090 closed

[2022-06-11 00:54] #37469 closed

[2022-06-11 05:38] cmsbuild commented on #38290
The cleanup has started for el8_aarch64_gcc10

[2022-06-11 05:38] cmsbuild commented on #38290
The cleanup has started for slc7_amd64_gcc10

[2022-06-11 05:38] cmsbuild commented on #38290
The cleanup has started for el8_amd64_gcc10

[2022-06-11 05:38] cmsbuild commented on #38290
The cleanup has started for el8_ppc64le_gcc10

[2022-06-11 05:38] cmsbuild commented on #38290
The cleanup has started for el8_amd64_gcc11

[2022-06-11 05:38] #38290 closed

[2022-06-11 05:39] cmsbuild commented on #38290
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre2-el8_aarch64_gcc10/2089

[2022-06-11 05:39] cmsbuild commented on #38290
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre2-el8_amd64_gcc10/2090

[2022-06-11 05:39] cmsbuild commented on #38290
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre2-el8_amd64_gcc11/2091

[2022-06-11 05:39] cmsbuild commented on #38290
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre2-el8_ppc64le_gcc10/2092

[2022-06-11 05:39] cmsbuild commented on #38290
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre2-slc7_amd64_gcc10/2093

[2022-06-11 14:23] cmsbuild commented on #38305
The cleanup has started for slc7_amd64_gcc10

[2022-06-11 14:23] cmsbuild commented on #38305
The cleanup has started for el8_amd64_gcc10

[2022-06-11 14:23] cmsbuild commented on #38305
The cleanup has started for el8_ppc64le_gcc10

[2022-06-11 14:23] #38305 closed

[2022-06-11 14:23] cmsbuild commented on #38305
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_5_patch1-el8_amd64_gcc10/2094

[2022-06-11 14:23] cmsbuild commented on #38305
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_5_patch1-slc7_amd64_gcc10/2096

[2022-06-11 14:23] cmsbuild commented on #38305
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_5_patch1-el8_ppc64le_gcc10/2095

[2022-06-13 07:41] smuzaffar commented on #37888
@ggovi , looks like our temporary solution to use `cmstracker035` tunnel is not working any more ( unit test is failing again). Can @cms-sw/db-l2 team setup a stable tunnel to be used by IBs/PRs tests?

[2022-06-13 09:16] smuzaffar commented on #37888
thanks to `Alessandro Giassi` , the tunnel to online DB is working again but we need to comeup with a stable solution. For now I have opened a SNOW ticket to ask for `cmsusr` cluster access for cmsbot. I guess we can setup a small 2 cores node in CMS SDT openstack project to setup this tunnel

[2022-06-13 11:04] #38268 closed

[2022-06-13 11:29] jpata commented on #38089
-reconstruction
- duplicate of https://github.com/cms-sw/cmssw/issues/37867

[2022-06-13 11:42] tvami commented on #38268
+alca
 * for the record

[2022-06-13 11:42] cmsbuild commented on #38268
This issue is fully signed and ready to be closed.

[2022-06-13 12:41] a-kapoor commented on #38175
@Dr15Jones @jpata @swagata87 @lfinco
A pull request with the fix and more transparent model selection scheme is now opened: [#38356](https://github.com/cms-sw/cmssw/pull/38356)

[2022-06-13 16:08] missirol commented on #31185
+hlt

This long-standing issue was addressed in [CMSHLT-2325](https://its.cern.ch/jira/browse/CMSHLT-2325).

  - The list of TCDS FEDs was updated from `[1023,1024]` to `[1024,1025]` [*].
  - The HLT module was renamed from `hltFEDSelector` to `hltFEDSelectorTCDS` for clarity.

[*] @smorovic explained that `1024` is the primary TCDS FED which we currently use, `1025` is the FED reserved for second

[2022-06-13 16:09] cmsbuild commented on #31185
This issue is fully signed and ready to be closed.

[2022-06-13 16:33] missirol commented on #37598
The problem hasn't shown up in the IBs of the last ten days, or so.

I don't know why; I just wonder if anything related to the DB (and/or the queries to it) has changed.

[2022-06-14 08:45] iarspider opened #38364 "[CLANG_X] Segmentation violation in MillePedeDQMModule::dqmEndJob"
Test Calibration/TkAlCaRecoProducers/testCalibrationTkAlCaRecoProducers failed in CLANG build:
[code]

Full log: [link](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_CLANG_X_2022-06-13-2300/unitTestLogs/Calibration/TkAlCaRecoProducers#/90)

[2022-06-14 08:45] cmsbuild commented on #38364
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-14 08:46] iarspider commented on #38364
assign alca

[2022-06-14 08:46] cmsbuild commented on #38364
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-14 08:47] iarspider commented on #38364
The same issue is observed in [RelVal 1001.0](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_CLANG_X_2022-06-13-2300/pyRelValMatrixLogs/run/1001.0_RunMinBias2011A+RunMinBias2011A+TIER0EXP+ALCAEXP+ALCAHARVDSIPIXELCALRUN1+ALCAHARVD1+ALCAHARVD2+ALCAHARVD3+ALCAHARVD4+ALCAHARVD5+ALCAHARVD7+ALCAHARVD8/step8_RunMinBias2011A+RunMinBias2011A+TIER0EXP+ALCAEXP+ALCAHARVDSIPIXELCALRUN1

[2022-06-14 09:09] tvami commented on #38364
type trk

[2022-06-14 09:11] mmusich commented on #38364
@dmeuser please have a look.

[2022-06-14 13:45] Dr15Jones commented on #38260
We may have seen the same problem with a bit more reporting in the CMSSW_12_5_X_2022-06-14-1100 IB:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_5_X_2022-06-14-1100/pyRelValMatrixLogs/run/10805.31_SingleGammaPt35+2018_photonDRN+SingleGammaPt35_pythia8_GenSimINPUT+Digi+RecoFakeHLT+HARVESTFakeHLT+ALCA+Nano/step3_SingleGammaPt35+2018_photonDRN+SingleGammaPt35_pythia8_GenSim

[2022-06-14 13:54] Dr15Jones opened #38370 "SonicCallFailed exception in IB"
In IB CMSSW_12_5_X_2022-06-13-2300, workflow 10805.31, step3 we had the exception

[code]

there were a total of 3 exceptions, which happened on stream 0, 2 and 3. This was preceeded by the following warning on all three streams

[code]

[2022-06-14 13:55] Dr15Jones commented on #38370
assign reconstruction

[2022-06-14 13:55] cmsbuild commented on #38370
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-14 13:55] cmsbuild commented on #38370
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-14 13:55] Dr15Jones commented on #38370
@kpedro88 FYI

[2022-06-14 14:12] kpedro88 commented on #38370
this was previously raised in #37767. if we're going to track it here now, can we close that one?

tagging @ssrothman here. we may need to consider some more automated handling of timeouts: in general, if we set them based on GPU performance, they could be too short for CPU performance (which tends to be slower by some factor, depending on the DNN architecture and data volume).

[2022-06-14 14:31] ssrothman commented on #38370
As I mentioned in the previous issue, I still don't understand why a single call should take 10 seconds even on cpu, as the expected runtime is more like 10s of ms. @kpedro88 is this several order of magnitude timing variance normal/expected?

[2022-06-14 14:42] kpedro88 commented on #38370
It does seem like too much of a change to come from normal variation. Maybe the first event can be slow if the server is still loading necessary components into memory? We could think about increasing the timeout for the first event.

[2022-06-14 14:45] ssrothman commented on #38370
Is the crash always on the first event?

[2022-06-14 14:56] kpedro88 commented on #38370
In this IB, it seems to be on the first event in each stream. It's also possible that some of our ongoing investigations into the performance of the CPU fallback server will reveal a different configuration to speed up inference and avoid this issue. For example, we're trying out a scheme that deploys one model instance per cmsRun thread, whereas the current default configuration just has one mode

[2022-06-14 15:02] ryanm124 commented on #35010
Apologies for the delay. It seems `CMSSW_12_5_UBSAN_X_2022-06-01-1100` has deprecated so I've switched to `CMSSW_12_5_UBSAN_X_2022-06-06-1100`. Using this branch, I created a helper function in `RPCtoDTTranslator.cc` which takes an integer, makes it positive if it's not already, bit shifts, then reintroduces the sign of the original integer. When running the 10007.0 workflow, there are no longer U

[2022-06-14 15:18] ssrothman commented on #38370
There are no optimizations explicitly turned on in the DRN config files, although maybe there are some on by default when you use torch/torch-geometric?

[2022-06-14 15:43] cvuosalo commented on #36978
Task completed with merged PR #38239.

[2022-06-14 15:43] #36978 closed

[2022-06-14 15:43] cmsbuild commented on #36978
This issue is fully signed and ready to be closed.

[2022-06-15 07:21] tvami commented on #38364
+alca

[2022-06-15 07:21] cmsbuild commented on #38364
This issue is fully signed and ready to be closed.

[2022-06-15 15:52] aandvalenzuela commented on #38364
Hi,

We have seen the same test Calibration/TkAlCaRecoProducers/testCalibrationTkAlCaRecoProducers failing in DEFAULT IBs on platform  el8_amd64_gcc10:

[code]

We suspect it could be related to this issue because of the following error messages we get when reproducing the issue locally:
[code]
Full log: [link](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_ppc64le_gcc10/CMSSW_12_5_X_2022-06-14-

[2022-06-15 16:35] mmusich commented on #38364
This was already fixed

[2022-06-15 17:26] perrotta commented on #38364
The fix should be [#38367](https://github.com/cms-sw/cmssw/pull/38367), which has been merged since today's CMSSW_12_5_X_2022-06-15-1100, after which IB that unit tests didn't fail

[2022-06-15 21:28] perrotta opened #38380 "Build CMSSW_12_4_0"

[2022-06-15 21:28] cmsbuild commented on #38380
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-06-15 21:29] perrotta commented on #38380
+1

[2022-06-15 21:29] cmsbuild commented on #38380
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-06-15 21:29] cmsbuild commented on #38380
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-06-15 21:30] cmsbuild commented on #38380
The build has started for slc7_amd64_gcc10 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3548/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-16 00:40] cmsbuild commented on #38380
The build has started for el8_aarch64_gcc10 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3550/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-16 02:45] cmsbuild commented on #38380
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0-el8_ppc64le_gcc10/3549
Some tests (

[2022-06-16 02:49] cmsbuild commented on #38380
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0-slc7_amd64_gcc10/3548
Some tests ( ru

[2022-06-16 03:02] cmsbuild commented on #38380
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0-el8_amd64_gcc10/3547
Some tests ( runT

[2022-06-16 03:48] cmsbuild commented on #38380
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0-el8_amd64_gcc10/3547

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-16 03:55] cmsbuild commented on #38380
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0-el8_ppc64le_gcc10/3549

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-16 04:29] cmsbuild commented on #38380
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0-el8_aarch64_gcc10/3550
Some tests (

[2022-06-16 05:17] cmsbuild commented on #38380
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0-el8_aarch64_gcc10/3550

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-16 06:35] perrotta commented on #38380
upload all

[2022-06-16 06:35] cmsbuild commented on #38380
Queing Jenkins upload for slc7_amd64_gcc10

[2022-06-16 06:35] cmsbuild commented on #38380
Queing Jenkins upload for el8_amd64_gcc10

[2022-06-16 06:35] cmsbuild commented on #38380
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-06-16 06:35] cmsbuild commented on #38380
Queing Jenkins upload for el8_aarch64_gcc10

[2022-06-16 06:36] cmsbuild commented on #38380
The was error uploading el8_aarch64_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0-el8_aarch64_gcc10/2389

[2022-06-16 06:36] cmsbuild commented on #38380
The upload has started for el8_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2390/console

[2022-06-16 06:36] cmsbuild commented on #38380
The upload has started for slc7_amd64_gcc10 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2392/console

[2022-06-16 06:36] cmsbuild commented on #38380
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2391/console

[2022-06-16 06:37] cmsbuild commented on #38380
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0-el8_amd64_gcc10/2390

[2022-06-16 06:37] cmsbuild commented on #38380
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0-slc7_amd64_gcc10/2392

[2022-06-16 06:38] cmsbuild commented on #38380
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0-el8_ppc64le_gcc10/2391

[2022-06-16 06:58] perrotta commented on #38380
@smuzaffar I cannot apparently access the link
Should it be retried? Or is there any machine which is down?

[2022-06-16 07:01] cmsbuild commented on #38380
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2393/console

[2022-06-16 07:02] smuzaffar commented on #38380
aarch64 machine again had a disk full that is why upload failed. I have restart the upload for this arch

[2022-06-16 07:03] cmsbuild commented on #38380
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0-el8_aarch64_gcc10/2393

[2022-06-16 07:44] perrotta commented on #38380
release-notes

[2022-06-16 07:45] cmsbuild commented on #38380
Generating release notes since CMSSW_12_4_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-06-16 07:45] cmsbuild commented on #38380
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_4_0 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_0

Cheers,
cms-bot

You can

[2022-06-16 11:41] jpata commented on #37867
+reconstruction
- addressed in https://github.com/cms-sw/cmssw/pull/38339, https://github.com/cms-data/RecoEgamma-ElectronIdentification/pull/26, at least for most of the models

[2022-06-16 11:41] cmsbuild commented on #37867
This issue is fully signed and ready to be closed.

[2022-06-16 12:09] jpata commented on #38198
@tvami, should we take any action here? Is there a new workflow we should switch to that would be more representative?

[2022-06-16 13:21] cmsbuild commented on #38175
This issue is fully signed and ready to be closed.

[2022-06-16 13:29] #38175 closed

[2022-06-16 14:17] jpata commented on #38198
We test about 5k now, so it wouldn't be a big change. Is there a workflow so we can give a try, and you can see if the results are useful for ALCA?

[2022-06-16 16:14] tvami commented on #38198
@tocheng is going to create a new wf that you can use. He promised to look at this tomorrow.

[2022-06-17 14:04] smuzaffar opened #38407 "Oracle test failing for IBs"
@cms-sw/db-l2 , for last couple of days, an [Oracle test](https://github.com/cms-sw/cmssw/blob/master/OnlineDB/Oracle/test/test.cpp)  to check OCCI library and newer GCC ABI compatibility is failing. It is failing in all IBs (12.5.X, 12.4.X, 12.3.X). Test is failing as it was expecting to fail with the following exception
[code]
but now it is failing with
[code]
As it is failing in all IBs so it c

[2022-06-17 14:05] smuzaffar commented on #38407
assign db

[2022-06-17 14:05] cmsbuild commented on #38407
New categories assigned: db

@ggovi,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-17 14:05] cmsbuild commented on #38407
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-17 15:47] perrotta opened #38409 "L1T PF developments need to be fixed and cleaned"
The L1T Phase2 PR #38230 was merged even if it still needed some additional fix and cleanings. That was considered the more practical way to merge all the code included in that huge PR, deferring the needed adjustments to some more agile follow-up PR.

In fact, one or two fix PRs were supposed to be prepared shortly after that merge, see https://github.com/cms-sw/cmssw/pull/38230#issuecomment-1151

[2022-06-17 15:47] cmsbuild commented on #38409
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-17 15:47] perrotta commented on #38409
assign l1, upgrade

[2022-06-17 15:48] cmsbuild commented on #38409
New categories assigned: upgrade,l1

@epalencia,@AdrianoDee,@srimanob,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-17 15:56] davidlange6 commented on #38409
to add to whatever the existing list is, why was this needed?

https://github.com/cms-sw/cmssw/blob/master/DataFormats/L1TParticleFlow/interface/datatypes.h#L4
(line 4-11)

I had hoped we were done adding such constructs to cmssw....

[2022-06-18 05:53] cmsbuild commented on #38380
The cleanup has started for el8_aarch64_gcc10

[2022-06-18 05:53] cmsbuild commented on #38380
The cleanup has started for slc7_amd64_gcc10

[2022-06-18 05:53] cmsbuild commented on #38380
The cleanup has started for el8_amd64_gcc10

[2022-06-18 05:53] cmsbuild commented on #38380
The cleanup has started for el8_ppc64le_gcc10

[2022-06-18 05:53] #38380 closed

[2022-06-18 05:53] cmsbuild commented on #38380
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0-el8_aarch64_gcc10/2097

[2022-06-18 05:54] cmsbuild commented on #38380
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0-el8_ppc64le_gcc10/2099

[2022-06-18 05:54] cmsbuild commented on #38380
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0-slc7_amd64_gcc10/2100

[2022-06-18 05:54] cmsbuild commented on #38380
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0-el8_amd64_gcc10/2098

[2022-06-18 07:01] #37867 closed

[2022-06-20 09:55] smuzaffar commented on #38407
@ggovi , this unit tests start working fine again ( https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_DEVEL_X_2022-06-19-2300/unitTestLogs/OnlineDB/Oracle#/ ) . Any idea what was changed which broke this test and what was updated/changed which fixed this test?

[2022-06-20 10:11] smuzaffar commented on #38407
ok it could be that tnsnames.ora was missing or not properly mounted in singularity. I am closing the issue

[2022-06-20 10:11] #38407 closed

[2022-06-20 10:45] thomreis commented on #37025
2D histograms addressed in PR #38427

[2022-06-20 13:58] smuzaffar commented on #37888
https://github.com/cms-sw/cmssw/pull/38434 should fix this issue. `cms_omds_adg` which is already part of CERN tnsnames.ora is now used to coonect to online DB.

[2022-06-20 14:16] cmsbuild commented on #37888
This issue is fully signed and ready to be closed.

[2022-06-20 14:19] #37888 closed

[2022-06-20 17:13] bendavid commented on #31920
Maybe this issue is fully resolved in more recent CMSSW/geant4 versions, but I've done some more debugging of some rare pathological cases I've still encountered in CMSSW_10_6_X.

The problem is that in ```G4VoxelNavigation::ComputeStep``` in some cases somehow ```fVoxelNode``` becomes out of sync with ```motherPhysical```, and then things get messed up here https://github.com/cms-externals/geant4

[2022-06-21 00:42] qliphy opened #38447 "Build CMSSW_11_2_5_patch2"

[2022-06-21 00:42] cmsbuild commented on #38447
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-06-21 00:43] qliphy commented on #38447
+1

[2022-06-21 00:44] cmsbuild commented on #38447
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_5_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2022-06-21 00:44] cmsbuild commented on #38447
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2022-06-21 00:45] cmsbuild commented on #38447
The build has started for slc7_amd64_gcc900 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3551/console
CMSDIST Branch: [REL/CMSSW_11_2_5/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_5/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-06-21 01:49] cmsbuild commented on #38447
Queing Jenkins upload for slc7_amd64_gcc900

[2022-06-21 01:49] cmsbuild commented on #38447
The upload has started for slc7_amd64_gcc900 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2394/console

[2022-06-21 01:53] qliphy commented on #38447
release-notes

[2022-06-21 01:53] cmsbuild commented on #38447
Generating release notes since CMSSW_11_2_5_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-06-21 01:53] cmsbuild commented on #38447
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_11_2_5_patch2 is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_11_2_5_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_2_5_patch2

Cheers,
cms-bot

You can also click <a href="mailto:hn

[2022-06-21 01:58] cmsbuild commented on #38447
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_5_patch2

[2022-06-21 16:09] cecilecaillol commented on #38409
https://github.com/cms-sw/cmssw/pull/38442 addresses both the issue of the obsolete files and of the DQM. It needs HLT changes to pass the tests

[2022-06-21 18:49] swagata87 opened #38453 "HLT crashes in GPU and CPU in collision runs"
Dear experts,

During the week of June 13-20, following 3 types of HLT crashes happened in collision runs. HLT was using `CMSSW_12_3_5`.

1) `type 1`
[code]
This crash happened on June 13th, during stable beams, collision at 900 GeV.  Run number: 353709. The crash happened in a CPU(fu-c2a05-35-01).  Elog: http://cmsonline.cern.ch/cms-elog/1143438. Full crash report: https://swmukher.web.cern.ch/sw

[2022-06-21 18:50] cmsbuild commented on #38453
A new Issue was created by  @swagata87 Swagata Mukherjee.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-21 19:03] Dr15Jones commented on #38453
assign hlt, reconstruction

[2022-06-21 19:03] cmsbuild commented on #38453
New categories assigned: hlt,reconstruction

@jpata,@missirol,@clacaputo,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-21 19:04] Dr15Jones commented on #38453
@swagata87 could you provide the full stack traces for the job that failed with the segmentation violations?

[2022-06-22 07:20] swagata87 commented on #38453
Experts are working on providing a recipe to reproduce the crashes offline. (tagging @mzarucki and @fwyzard )
Once that is available, that can be posted here so that tracker DPG can have a look. The code that triggered the crashes are under tracker DPG.

[2022-06-22 15:42] fwyzard commented on #38453
@swagata87 thank you for providing these instructions !

@tsusa you can use the online GPU machines to reproduce the issue:
[code]

In my test the problem did not happen every time, I had to run the job a few times before it crashed:
[code]

It eventually crashed, though I'm not 100% sure if it was due to the same problem :-/

[2022-06-22 15:47] fwyzard commented on #38453
Yes, looks like the same crash:
[code]

[2022-06-22 16:04] Dr15Jones commented on #38453
As a guess, I think the problem is an extremely large amount of data is being requested to be copied which leads to some memory overwrite into a protected memory space. This is just based on what edm::Event::emplaceImpl is doing which is basically calling

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/DataFormats/SiPixelRawData/interface/SiPixelErrorsSoA.h#L13-L14

[2022-06-22 16:29] Dr15Jones commented on #38453
So cms::cuda::SimpleVector does not initialize any of its member data in its constructor

https://github.com/cms-sw/cmssw/blob/1c3608474c4821e4dafbd6f4defb5fa03121cb6d/HeterogeneousCore/CUDAUtilities/interface/SimpleVector.h#L16

If the first call to SiPixelDigiErrorsSoAFromCUDA::acquire hits this condition
https://github.com/cms-sw/cmssw/blob/d573dd29448b13dea818ed927bba7a63814ba29a/EventFilter/S

[2022-06-22 16:58] civanch opened #38473 "Enable new features in Geant4 to speed-up SIM step"
Gamma general process of Geant4 has been validated on top of 12_5_0_pre2 (see discussion in #38194). It is expected to provide ~2% speedup.

Optimization of access to magnetic field and alternative variant of Dormand-Prince stepper are introduced in #38849 . This bring ~3% speedup for the Run3 SIM step.

It is proposed to increase Geant4 tracking cut from 1 keV to 20 keV, which will allow to remov

[2022-06-22 16:58] cmsbuild commented on #38473
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-22 16:59] civanch commented on #38473
assign simulation

[2022-06-22 20:57] fwyzard commented on #38453
@Dr15Jones thanks for investigating the issue.

This is intended, because a `SimpleVector` is often allocated by the host in GPU memory, so the constructor cannot be run.
However the does leave open the possibility of using uninitialised memory :-(

A minimal fix could be
[code]
With it I have been able to run over 20 times on the same input as before without triggering any errors.

[2022-06-22 21:35] trtomei commented on #38453
Hm, looks like I am late to the party... but, if it's any help, here are instructions for the error seen in Run 353744 (AFAICT you have been testing with Run 353941). Running in Hilton this time:

[code]

I also see the same problem, it crashes only every once in a while. It's probably the same bug, but I add it here for completeness.

[2022-06-22 23:53] #38447 closed

[2022-06-23 06:02] fwyzard commented on #38453
@trtomei could you clarify
  - what was the original error stream file ? is it `/store/error_stream/run353709/run353709_ls0085_index000141_fu-c2a05-35-01_pid90386.raw`
  - are you running with or without GPUs ?
  - does the error happen consistently, or only randomly ?

Running online, I have not been able to reproduce the error using the `.raw` input file, neither with nor without GPUs.

[2022-06-23 07:48] ianna opened #38480 "Fast&Full Simulation Performance Optimisation"
@bsunanda @civanch  @sbein - as a follow up of the [Simulation meeting](https://indico.cern.ch/event/1172072/) performance results analysis, please,  find the following recommendations.

**CPU improvement estimate is ~5%.**

Please, note that resolving the last two items would eliminate the calls that are quite high in [the MEM_TOTAL report](https://nhoerman.web.cern.ch/nhoerman/cgi-bin/igprof-nav

[2022-06-23 07:48] cmsbuild commented on #38480
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-23 08:12] civanch commented on #38480
assign geometry

[2022-06-23 08:16] civanch commented on #38480
@ianna , @bsunanda , is HcalSimulationParameters filled once per run in only one thread or it filled many times?

[2022-06-23 10:24] tocheng commented on #38198
@tvami
Please let me know if this is what is needed.
https://github.com/cms-sw/cmssw/compare/master...tocheng:ALCA_PCL_Run3_CMSSW_12_5_X?expand=1

[2022-06-23 10:29] tvami commented on #38198
Hi @tocheng
these are the ALCARECOs in the alcareco matrix connected to the single muon:

SingleMuon | TkAlMuonIsolated, HcalCalIterativePhiSym, MuAlCalIsolatedMu, HcalCalHO, HcalCalHBHEMuonProducerFilter, SiPixelCalSingleMuonLoose, SiPixelCalSingleMuonTight
-- | --

I think you missed some of them, please add those! Thanks!

[2022-06-23 10:36] tvami commented on #38198
And maybe we could add another one, which is purely a technical wf that adds *all* the ALCARECOs to the MinBias PD... this of course would physically be incorrect, but would test everything under one wf...

[2022-06-23 12:23] kpedro88 commented on #38260
There are two issues here:
1. "Transport closed" means that the server connection was already closed before the unregister request was sent. Right now, the unregister request comes in the producer `endStream()` function, and the fallback server shutdown command is issued in the `TritonService` `postEndJob()` function. Is it guaranteed that `postEndJob()` happens after `endStream()`? If so, then we

[2022-06-23 13:24] Dr15Jones commented on #38260
Yes, end job happens after all end streams.

[2022-06-23 22:15] cvuosalo commented on #31113
87 references are left. They must be all unused configs. None of the references are in Geometry files.

[2022-06-23 22:15] cvuosalo commented on #31113
+1

[2022-06-23 22:24] cvuosalo commented on #30901
type documentation

[2022-06-25 07:29] qliphy opened #38506 "Unit failure: test_PixelBaryCentreTool had ERRORS"
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_X_2022-06-24-2300/unitTestLogs/Alignment/TrackerAlignment#/12-12

Local test output as below:
cmsrel CMSSW_12_0_X_2021-07-26-1100
cd CMSSW_12_0_X_2021-07-26-1100/src/
cmsenv
git cms-addpkg Alignment/TrackerAlignment
git cms-merge-topic 34542
scram b -j9
cd Alignment/TrackerAlignment/test/
source pixelPositions.sh

----- Begin

[2022-06-25 07:30] cmsbuild commented on #38506
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-25 07:34] qliphy commented on #38506
seems to be related to #38449

[2022-06-25 07:38] qliphy commented on #38506
assign alca

[2022-06-25 07:38] cmsbuild commented on #38506
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-06-25 07:50] perrotta commented on #38506
urgent

[2022-06-25 11:04] mmusich commented on #38506
fixed at  #38508

[2022-06-26 07:40] tvami commented on #38506
+alca
 * resolved in https://github.com/cms-sw/cmssw/pull/38508

[2022-06-26 07:40] cmsbuild commented on #38506
This issue is fully signed and ready to be closed.

[2022-06-26 07:54] #38506 closed

[2022-06-26 12:25] trtomei commented on #38453
@fwyzard To clarify:
 - Original error stream file was indeed: `/store/error_stream/run353709/run353709_ls0085_index000141_fu-c2a05-35-01_pid90386.raw`
 - I understand I am using GPUs, as I am using the Skylake machine ( `hilton-c2e36-35-04`), using the `process.options = cms.untracked.PSet(  accelerators = cms.untracked.vstring( '*' ) )` option, and I see the lines
[code]
 - For me, the error hap

[2022-06-27 08:40] iarspider opened #38516 "[GCC11] GEMDQMBase::MEStationInfo::nMinIdxChamber_ may be used undefined"
In gcc11 builds, the following warning is emitted:
[code]

(e.g. [link](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/el9_amd64_gcc11/CMSSW_12_5_X_2022-06-26-2300/DQM/GEM)).

[2022-06-27 08:40] cmsbuild commented on #38516
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-27 08:42] iarspider commented on #38516
assign dqm

[2022-06-27 09:49] kpedro88 opened #38518 "Avoid spurious comparison differences from additional merges"
Certain PRs tend to bring in other PRs during testing, as listed under "The following merge commits were also included on top of IB + this PR after doing git cms-merge-topic" in the bot's message. (For example, this has happened in almost all tests of #37963, I think because it modifies `Configuration/ProcessModifiers`.) This can lead to spurious differences in the comparison results, because the

[2022-06-27 13:34] smuzaffar commented on #37169
happened again for CMSSW_12_5_X_2022-06-26-2300 with same error

[2022-06-27 22:03] perrotta opened #38530 "Build CMSSW_12_3_6"
Requested by DQM, it includes also updates for data taking and T0

[2022-06-27 22:05] perrotta commented on #38530
+1

[2022-06-27 22:05] cmsbuild commented on #38530
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-06-27 22:06] cmsbuild commented on #38530
The build has started for el8_amd64_gcc10 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3553/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-28 01:02] cmsbuild commented on #38530
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_6-el8_ppc64le_gcc10/3552
Some tests (

[2022-06-28 01:24] cmsbuild commented on #38530
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_6-slc7_amd64_gcc10/3554
Some tests ( ru

[2022-06-28 02:09] cmsbuild commented on #38530
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_6-slc7_amd64_gcc10/3554

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-28 02:31] cmsbuild commented on #38530
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_6-el8_ppc64le_gcc10/3552

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-28 02:59] cmsbuild commented on #38530
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_6-el8_amd64_gcc10/3553
Some tests ( runT

[2022-06-28 04:05] cmsbuild commented on #38530
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_6-el8_amd64_gcc10/3553

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-28 06:02] perrotta commented on #38530
upload all

[2022-06-28 06:02] cmsbuild commented on #38530
Queing Jenkins upload for slc7_amd64_gcc10

[2022-06-28 06:02] cmsbuild commented on #38530
Queing Jenkins upload for el8_amd64_gcc10

[2022-06-28 06:02] cmsbuild commented on #38530
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-06-28 06:04] cmsbuild commented on #38530
The upload has started for el8_amd64_gcc10 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2395/console

[2022-06-28 06:05] cmsbuild commented on #38530
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2396/console

[2022-06-28 06:06] cmsbuild commented on #38530
The upload has started for slc7_amd64_gcc10 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2397/console

[2022-06-28 06:07] cmsbuild commented on #38530
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_6-el8_ppc64le_gcc10/2396

[2022-06-28 06:09] cmsbuild commented on #38530
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_6-slc7_amd64_gcc10/2397

[2022-06-28 06:13] cmsbuild commented on #38530
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_6-el8_amd64_gcc10/2395

[2022-06-28 06:24] perrotta commented on #38530
release-notes

[2022-06-28 06:24] cmsbuild commented on #38530
Generating release notes since CMSSW_12_3_5_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-06-28 06:24] cmsbuild commented on #38530
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_3_6 is now available for the following architectures:

slc7_amd64_gcc10 (production)
el8_ppc64le_gcc10
el8_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_3_5_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_3_6

Requested by DQM, it includes also update

[2022-06-28 06:27] cmsbuild commented on #38530
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_6

[2022-06-28 11:05] msessini commented on #37169
Hello @smuzaffar,
Could you provide me an access to this 'step2.root' file mentioned in your log ? It will help me investigate about this issue.

Thank you,
Mario

[2022-06-28 11:54] smuzaffar commented on #37169
@msessini , sorry we do not keep the generated root files. I would suggest to run `runTheMatrix.py -l 148.0 --ibeos --job-reports -t 4` few time to see if you can reproduce this error.

[2022-06-28 12:17] franzglessgen commented on #35519
Thanks for the notification, I am going on holiday this week so I'll start to clean up the code mid July if that's okay.

[2022-06-28 12:24] tvami commented on #35519
@franzglessgen please note https://github.com/cms-sw/cmssw/pull/38529

[2022-06-28 12:31] franzglessgen commented on #35519
Oh it has been done already, thanks for the info!

[2022-06-28 12:41] #35519 closed

[2022-06-29 09:11] smuzaffar commented on #37169
@msessini , I have managed to get the failure locally, please find the step2.root file [here](https://muzaffar.web.cern.ch/wf148/)

[2022-06-29 09:16] msessini commented on #37169
Hello @smuzaffar,
Thank you, I could reproduce the error locally on my side too I will look into it.

Mario

[2022-06-29 09:34] qliphy opened #38550 "Build CMSSW_12_4_1"
Following the plan as discussed at today's joint Ops meeting:  https://indico.cern.ch/event/1176335/

- CMSSW_12_4_1 for data taking and mkfit pixelles validation: no MC production with this release
- CMSSW_12_4_2 will follow for MC production, including SIM/DIGIS of PU samples for premixing

[2022-06-29 09:35] cmsbuild commented on #38550
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-06-29 09:35] qliphy commented on #38550
+1

[2022-06-29 09:35] cmsbuild commented on #38550
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-06-29 09:36] cmsbuild commented on #38550
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-06-29 09:49] cmsbuild commented on #38550
The build has started for el8_aarch64_gcc10 in olarm-99-102b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3558/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-29 12:22] cmsbuild commented on #38550
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1-el8_ppc64le_gcc10/3557
Some tests (

[2022-06-29 12:50] tvami commented on #35005
Hi @laurenhay I understand you are supposed to fix the JME part, is that correct?

[2022-06-29 13:13] cmsbuild commented on #38550
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1-el8_ppc64le_gcc10/3557

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-29 13:14] cmsbuild commented on #38550
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1-slc7_amd64_gcc10/3556
Some tests ( ru

[2022-06-29 13:31] cmsbuild commented on #38550
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1-el8_amd64_gcc10/3555
Some tests ( runT

[2022-06-29 14:03] cmsbuild commented on #38550
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1-slc7_amd64_gcc10/3556

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-29 14:18] cmsbuild commented on #38550
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1-el8_amd64_gcc10/3555

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-29 15:02] khurtado opened #38554 "XML Job report (bug?) in release CMSSW_12_2_3_patch1"
Hello,

In production, we are seeing the following issue when trying to parse an XML job report produced by release `CMSSW_12_2_3_patch1`

[code]
Which translated to this section of the XML:

[code]

and I'm gueessing `</Branch>` should rather go before `</PFN>`
Is this release one of the releases where there was a reported issue with XML job reports?

[2022-06-29 15:02] cmsbuild commented on #38554
A new Issue was created by  @khurtado Kenyi Hurtado.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-29 15:05] Dr15Jones commented on #38554
assign core

[2022-06-29 15:10] dpiparo commented on #37698
@AdrianoDee maybe do you know how to tackle this?

[2022-06-29 15:14] Dr15Jones commented on #38554
CMSSW_12_2_3_patch1 does not appear to have integrated this pull request #38019. That pull request appears to have been added first to CMSSW_12_2_4_patch1.

[2022-06-29 15:36] Dr15Jones commented on #38554
+1

[2022-06-29 15:36] cmsbuild commented on #38554
This issue is fully signed and ready to be closed.

[2022-06-29 16:33] perrotta commented on #38550
@smuzaffar build for el8_aarch64_gcc10 seems stuck since several hours: is there anything that can be done for it?

[2022-06-29 20:14] smuzaffar commented on #38550
not really, it is now building cmssw which can take couple of hours. previously job failed as the nodes where it was running was disconnected from jenkins
[code]

[2022-06-29 20:19] perrotta commented on #38550
Ah, ok, great: thank you @smuzaffar!
The log was stuck several hours in the same place also during the previous attempt... but let hope it can finish succesfully now

[2022-06-29 20:19] smuzaffar commented on #38550
cmssw buildis nearly finished , all 2450 libs are built. I think it will take half an hour more before it is ready to be uploaded

[2022-06-29 20:23] smuzaffar commented on #38550
the build logs go to a log file that is why those are not visible in jenkins.

[2022-06-29 20:25] perrotta commented on #38550
Thank you again for the details!

[2022-06-29 20:27] smuzaffar commented on #38550
thanks to @iarspider who took care of failed release build process.

[2022-06-29 20:50] cmsbuild commented on #38550
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1-el8_aarch64_gcc10/3559
Some tests (

[2022-06-29 20:55] perrotta commented on #38550
upload all

[2022-06-29 20:55] cmsbuild commented on #38550
Queing Jenkins upload for slc7_amd64_gcc10

[2022-06-29 20:55] cmsbuild commented on #38550
Queing Jenkins upload for el8_amd64_gcc10

[2022-06-29 20:55] cmsbuild commented on #38550
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-06-29 20:55] cmsbuild commented on #38550
Queing Jenkins upload for el8_aarch64_gcc10

[2022-06-29 20:56] cmsbuild commented on #38550
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2398/console

[2022-06-29 20:57] cmsbuild commented on #38550
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_1-el8_aarch64_gcc10/2398

[2022-06-29 20:57] cmsbuild commented on #38550
The upload has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2401/console

[2022-06-29 20:58] cmsbuild commented on #38550
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_1-el8_ppc64le_gcc10/2400

[2022-06-29 20:59] cmsbuild commented on #38550
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_1-slc7_amd64_gcc10/2401

[2022-06-29 21:05] Dr15Jones opened #38560 "TritonInputCpuShmResource::copyInput is passed nullptr"
The UBSAN IB is reporting these error
[code]

[2022-06-29 21:06] cmsbuild commented on #38560
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-06-29 21:06] Dr15Jones commented on #38560
@kpedro88 FYI

[2022-06-29 21:07] Dr15Jones commented on #38560
The line in question is the call to `std::memcpy`
https://github.com/cms-sw/cmssw/blob/15cb5981249ff34d9dc226dbdaeec9fef68ed196/HeterogeneousCore/SonicTriton/src/TritonMemResource.cc#L111-L114

and according to the standard, https://en.cppreference.com/w/cpp/string/byte/memcpy , passing a nullptr as either the first or second argument is undefined behavior.

[2022-06-29 21:09] cmsbuild commented on #38550
Generating release notes since CMSSW_12_4_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-06-29 21:09] cmsbuild commented on #38550
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_4_1 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_1

Following the plan as discusse

[2022-06-29 21:14] cmsbuild commented on #38550
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_1

[2022-06-29 21:39] cmsbuild commented on #38550
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1-el8_aarch64_gcc10/3559

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-30 04:38] cmsbuild commented on #38530
The cleanup has started for slc7_amd64_gcc10

[2022-06-30 04:38] cmsbuild commented on #38530
The cleanup has started for el8_amd64_gcc10

[2022-06-30 04:38] cmsbuild commented on #38530
The cleanup has started for el8_ppc64le_gcc10

[2022-06-30 04:38] #38530 closed

[2022-06-30 04:39] cmsbuild commented on #38530
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_6-slc7_amd64_gcc10/2104

[2022-06-30 04:39] cmsbuild commented on #38530
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_6-el8_ppc64le_gcc10/2103

[2022-06-30 04:39] cmsbuild commented on #38530
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_6-el8_amd64_gcc10/2102

[2022-06-30 12:57] jpata commented on #35519
+reconstruction
- solved in https://github.com/cms-sw/cmssw/pull/38529

[2022-06-30 12:57] cmsbuild commented on #35519
This issue is fully signed and ready to be closed.

[2022-06-30 14:17] kpedro88 commented on #38560
The `size_ > 0` check was intended to protect against this, but that was defeated by: https://github.com/cms-sw/cmssw/blob/15cb5981249ff34d9dc226dbdaeec9fef68ed196/HeterogeneousCore/SonicTriton/src/TritonMemResource.cc#L55-L56
This is needed to construct the object in a sensible way. Keeping a separate `sizeOrig_` to use for the check avoids most cases in which the UB can occur.

However, it can s

[2022-06-30 14:20] Dr15Jones commented on #38560
assign heterogeneous

[2022-06-30 14:27] kpedro88 commented on #38260
Since this exception only happens near the end of the job, it could just be converted to a warning. Unless there's another, better way to handle repeated exceptions like this.

If we do decide we want to track it and issue an exception, we could try to do it through `TritonService` somehow, but this may require additional synchronization.

[2022-06-30 21:37] perrotta opened #38574 "Build CMSSW_12_4_1_patch1"
Bug fix to allow correctly selecting the era to  enable/disable mkFit for pixelLessStep

[2022-06-30 21:37] cmsbuild commented on #38574
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-06-30 21:38] perrotta commented on #38574
+1

[2022-06-30 21:38] cmsbuild commented on #38574
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_1_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-06-30 21:38] cmsbuild commented on #38574
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-06-30 21:39] cmsbuild commented on #38574
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3560/console
CMSDIST Branch: [REL/CMSSW_12_4_1/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_1/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-30 21:40] cmsbuild commented on #38574
The build has started for el8_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3561/console
CMSDIST Branch: [REL/CMSSW_12_4_1/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_1/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-30 21:40] cmsbuild commented on #38574
The build has started for slc7_amd64_gcc10 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3562/console
CMSDIST Branch: [REL/CMSSW_12_4_1/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_1/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-30 21:40] cmsbuild commented on #38574
The build has started for el8_aarch64_gcc10 in olarm-99-102b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3563/console
CMSDIST Branch: [REL/CMSSW_12_4_1/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_1/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-06-30 22:16] cmsbuild commented on #38574
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1_patch1-el8_ppc64le_gcc10/3560
Some t

[2022-06-30 22:36] cmsbuild commented on #38574
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1_patch1-el8_amd64_gcc10/3561
Some tests

[2022-06-30 23:14] cmsbuild commented on #38574
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1_patch1-slc7_amd64_gcc10/3562

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-30 23:23] cmsbuild commented on #38574
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1_patch1-el8_amd64_gcc10/3561

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-30 23:34] cmsbuild commented on #38574
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1_patch1-el8_ppc64le_gcc10/3560

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-06-30 23:35] cmsbuild commented on #38574
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1_patch1-el8_aarch64_gcc10/3563
Some t

[2022-07-01 02:32] cmsbuild commented on #38574
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_1_patch1-el8_aarch64_gcc10/3563

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-01 02:41] qliphy commented on #38574
upload all

[2022-07-01 02:53] cmsbuild commented on #38574
Queing Jenkins upload for slc7_amd64_gcc10

[2022-07-01 02:53] cmsbuild commented on #38574
Queing Jenkins upload for el8_amd64_gcc10

[2022-07-01 02:53] cmsbuild commented on #38574
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-07-01 02:53] cmsbuild commented on #38574
Queing Jenkins upload for el8_aarch64_gcc10

[2022-07-01 02:54] cmsbuild commented on #38574
The upload has started for el8_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2403/console

[2022-07-01 02:54] cmsbuild commented on #38574
The upload has started for slc7_amd64_gcc10 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2405/console

[2022-07-01 02:54] cmsbuild commented on #38574
The upload has started for el8_aarch64_gcc10 in olarm-102.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2402/console

[2022-07-01 02:54] cmsbuild commented on #38574
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2404/console

[2022-07-01 02:55] cmsbuild commented on #38574
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_1_patch1-el8_amd64_gcc10/2403

[2022-07-01 02:56] cmsbuild commented on #38574
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_1_patch1-el8_ppc64le_gcc10/2404

[2022-07-01 02:56] cmsbuild commented on #38574
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_1_patch1-slc7_amd64_gcc10/2405

[2022-07-01 02:57] cmsbuild commented on #38574
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_1_patch1-el8_aarch64_gcc10/2402

[2022-07-01 04:09] qliphy commented on #38574
release-notes

[2022-07-01 04:09] cmsbuild commented on #38574
Generating release notes since CMSSW_12_4_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-07-01 04:09] cmsbuild commented on #38574
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_4_1_patch1 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_1_patch1

Bug fix to

[2022-07-01 04:12] cmsbuild commented on #38574
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_1_patch1

[2022-07-01 05:01] perrotta opened #38575 "Build CMSSW_12_5_0_pre3"

[2022-07-01 05:02] cmsbuild commented on #38575
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-07-01 05:02] perrotta commented on #38575
+1

[2022-07-01 05:03] cmsbuild commented on #38575
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-07-01 05:03] cmsbuild commented on #38575
Queuing Jenkins build for the following architectures: el8_aarch64_gcc10, el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-07-01 05:03] cmsbuild commented on #38575
The build has started for el8_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3564/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-01 05:05] cmsbuild commented on #38575
The build has started for el8_amd64_gcc11 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3565/console
CMSDIST Branch: [IB/CMSSW_12_5_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-01 05:05] cmsbuild commented on #38575
The build has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3566/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-01 05:25] cmsbuild commented on #38575
The build has started for el8_aarch64_gcc10 in olarm-99-102a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3567/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-01 05:57] cmsbuild commented on #38575
The build has started for el8_ppc64le_gcc10 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3568/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-01 08:09] AdrianoDee commented on #37698
Hi @dpiparo, @jpata, indeed I may have some insight but I'm not sure how much this could help. I think the place where these allocations happens is

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoPixelVertexing/PixelTriplets/src/CellularAutomaton.cc#L59-L61

for the `CAHitQuadrupletGenerator`

and here

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd

[2022-07-01 11:27] cmsbuild commented on #38575
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre3-slc7_amd64_gcc10/3566
Some tests

[2022-07-01 11:30] cmsbuild commented on #38575
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre3-el8_ppc64le_gcc10/3568
Some tes

[2022-07-01 11:53] cmsbuild commented on #38575
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre3-el8_amd64_gcc11/3565
Some tests (

[2022-07-01 11:56] cmsbuild commented on #38575
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre3-el8_amd64_gcc10/3564
Some tests (

[2022-07-01 12:14] cmsbuild commented on #38575
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre3-slc7_amd64_gcc10/3566

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-01 12:21] cmsbuild commented on #38575
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre3-el8_ppc64le_gcc10/3568

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-01 12:43] cmsbuild commented on #38575
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre3-el8_amd64_gcc10/3564

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-01 19:24] cmsbuild commented on #38550
The cleanup has started for el8_aarch64_gcc10

[2022-07-01 19:24] cmsbuild commented on #38550
The cleanup has started for slc7_amd64_gcc10

[2022-07-01 19:24] cmsbuild commented on #38550
The cleanup has started for el8_amd64_gcc10

[2022-07-01 19:24] cmsbuild commented on #38550
The cleanup has started for el8_ppc64le_gcc10

[2022-07-01 19:24] #38550 closed

[2022-07-01 19:24] cmsbuild commented on #38550
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_1-el8_ppc64le_gcc10/2107

[2022-07-01 19:24] cmsbuild commented on #38550
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_1-el8_aarch64_gcc10/2105

[2022-07-01 19:24] cmsbuild commented on #38550
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_1-el8_amd64_gcc10/2106

[2022-07-01 19:24] cmsbuild commented on #38550
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_1-slc7_amd64_gcc10/2108

[2022-07-01 19:56] perrotta commented on #38575
@smuzaffar @iarspider :  build for el8_aarch64_gcc10 is ongoing since almost 15 hours. Did we end up on an extremely slow machine, or there is something wrong somewhere?

[2022-07-01 20:15] smuzaffar commented on #38575
yes @perrotta it is building on slow node ( olarm-102). It is also taking more time as many externals  (around 115 ) including tensorflow ( which normally takes 2 hours on good build nodes.

Anyway, release is nearly finished. All the shared libraries are built and now rpm is in post processing stage ( finding dependencies etc.)

[2022-07-01 20:38] cmsbuild commented on #38575
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre3-el8_aarch64_gcc10/3567
Some tes

[2022-07-01 21:06] perrotta commented on #38575
upload all

[2022-07-01 21:06] cmsbuild commented on #38575
Queing Jenkins upload for slc7_amd64_gcc10

[2022-07-01 21:06] cmsbuild commented on #38575
Queing Jenkins upload for el8_amd64_gcc10

[2022-07-01 21:06] cmsbuild commented on #38575
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-07-01 21:06] cmsbuild commented on #38575
Queing Jenkins upload for el8_aarch64_gcc10

[2022-07-01 21:06] cmsbuild commented on #38575
Queing Jenkins upload for el8_amd64_gcc11

[2022-07-01 21:07] cmsbuild commented on #38575
The upload has started for el8_aarch64_gcc10 in olarm-102.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2406/console

[2022-07-01 21:08] cmsbuild commented on #38575
The upload has started for el8_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2407/console

[2022-07-01 21:08] cmsbuild commented on #38575
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre3-el8_aarch64_gcc10/2406

[2022-07-01 21:08] cmsbuild commented on #38575
The upload has started for el8_amd64_gcc11 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2408/console

[2022-07-01 21:08] cmsbuild commented on #38575
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2409/console

[2022-07-01 21:09] cmsbuild commented on #38575
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre3-el8_amd64_gcc10/2407

[2022-07-01 21:09] cmsbuild commented on #38575
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre3-el8_amd64_gcc11/2408

[2022-07-01 21:09] cmsbuild commented on #38575
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre3-el8_ppc64le_gcc10/2409

[2022-07-01 21:10] cmsbuild commented on #38575
The upload has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2410/console

[2022-07-01 21:25] cmsbuild commented on #38575
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre3-slc7_amd64_gcc10/2410

[2022-07-01 21:25] perrotta commented on #38575
release-notes

[2022-07-01 21:26] cmsbuild commented on #38575
Generating release notes since CMSSW_12_5_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-07-01 21:26] cmsbuild commented on #38575
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_5_0_pre3 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_5_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_0_pre3

[2022-07-01 21:30] cmsbuild commented on #38575
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0_pre3

[2022-07-01 23:18] cmsbuild commented on #38575
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre3-el8_aarch64_gcc10/3567

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-03 02:23] cmsbuild commented on #38574
The cleanup has started for el8_aarch64_gcc10

[2022-07-03 02:23] cmsbuild commented on #38574
The cleanup has started for slc7_amd64_gcc10

[2022-07-03 02:23] cmsbuild commented on #38574
The cleanup has started for el8_amd64_gcc10

[2022-07-03 02:23] cmsbuild commented on #38574
The cleanup has started for el8_ppc64le_gcc10

[2022-07-03 02:23] #38574 closed

[2022-07-03 02:24] cmsbuild commented on #38574
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_1_patch1-el8_aarch64_gcc10/2109

[2022-07-03 02:24] cmsbuild commented on #38574
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_1_patch1-el8_amd64_gcc10/2110

[2022-07-03 02:24] cmsbuild commented on #38574
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_1_patch1-el8_ppc64le_gcc10/2111

[2022-07-03 02:24] cmsbuild commented on #38574
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_1_patch1-slc7_amd64_gcc10/2112

[2022-07-03 09:17] dasguptasuman opened #38586 "segmentation faults in hcalIsoTrkAnalyzer_cff.py"
one segmentation fault occurs when including the 'run3_data' global tag. This is the output  ---

03-Jul-2022 11:00:32 CEST  Initiating request to open file root://eoscms.cern.ch//eos/cms/store/data/Run2022A/Commissioning/ALCARECO/HcalCalIsoTrk-PromptReco-v1/000/352/322/00000/51b3d367-ab3f-4a1b-b157-31fe3e76eedf.root
%MSG-w XrdAdaptor:  file_open 03-Jul-2022 11:00:34 CEST pre-events
Data is served

[2022-07-03 09:17] cmsbuild commented on #38586
A new Issue was created by  @dasguptasuman .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-03 12:41] Dr15Jones commented on #38586
Assign geometry

[2022-07-03 12:41] cmsbuild commented on #38586
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-03 19:38] cmsbuild commented on #38575
The cleanup has started for el8_aarch64_gcc10

[2022-07-03 19:38] cmsbuild commented on #38575
The cleanup has started for slc7_amd64_gcc10

[2022-07-03 19:38] cmsbuild commented on #38575
The cleanup has started for el8_amd64_gcc10

[2022-07-03 19:38] cmsbuild commented on #38575
The cleanup has started for el8_ppc64le_gcc10

[2022-07-03 19:38] cmsbuild commented on #38575
The cleanup has started for el8_amd64_gcc11

[2022-07-03 19:38] #38575 closed

[2022-07-03 19:39] cmsbuild commented on #38575
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre3-el8_aarch64_gcc10/2113

[2022-07-03 19:39] cmsbuild commented on #38575
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre3-el8_amd64_gcc10/2114

[2022-07-03 19:39] cmsbuild commented on #38575
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre3-el8_amd64_gcc11/2115

[2022-07-03 19:39] cmsbuild commented on #38575
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre3-el8_ppc64le_gcc10/2116

[2022-07-03 19:39] cmsbuild commented on #38575
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre3-slc7_amd64_gcc10/2117

[2022-07-04 19:51] srimanob opened #38594 "Drop of C9-C16 Phase-2 geometry"
Following the HGCAL proposal in
[https://docs.google.com/document/d/1fCIpJJQLw0vGCKyR9LRmFmWVcAQZOlHk5jK-ESQLJnQ/edit?usp=sharing](https://docs.google.com/document/d/1fCIpJJQLw0vGCKyR9LRmFmWVcAQZOlHk5jK-ESQLJnQ/edit?usp=sharing),
they propose to preserve only V16 and V17 of HGCAL (== C17-C19).

So the affected geometries include
- D49 = T15+C9+M4+I10+O4+F2 (HLT TDR baseline)
- D60 = T15+C10+M4+I10

[2022-07-04 19:52] cmsbuild commented on #38594
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-04 19:53] srimanob commented on #38594
FYI @kpedro88 @bsunanda @AdrianoDee

@trtomei @fwyzard
Do you still need to keep D49 for HLT?

[2022-07-04 19:54] srimanob commented on #38594
assign upgrade

[2022-07-04 19:55] cmsbuild commented on #38594
New categories assigned: upgrade

@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-04 19:55] srimanob commented on #38594
FYI @cms-sw/simulation-l2 @cms-sw/hgcal-dpg-l2

[2022-07-04 19:57] kpedro88 commented on #38594
* will need to add a new scenario with HF nose (compatible with one of the latest HGCal geometries)
* @srimanob @AdrianoDee we may want to take this opportunity to reset the workflow numbers... it's possibly been three years since we last did this in #27449

[2022-07-05 07:43] fabiocos commented on #38594
from the MTD point of view keeping just scenario I15 is ok, this will allow us to drop support in the code for obsolete scenarios (like single disc ring-shaped ETL in D49), simplifying the structure. Some initial cleaning is already proposed for BTL in #38589 (not needing this proposal), in preparation of a new BTL geometry (and MTD scenario) to be added in the coming weeks/months.

[2022-07-05 13:29] makortel commented on #38586
FYI @cms-sw/alca-l2 @cms-sw/hcal-dpg-l2

[2022-07-05 13:37] tvami commented on #38586
@bsunanda can you please have a look?

[2022-07-05 14:12] dasguptasuman commented on #38586
It runs successfully without segmentation violation for the release CMSSW_12_4_0_pre4.

[2022-07-05 15:33] dasguptasuman commented on #38586
It does not work for the CMSSW_12_3_6  version.

[2022-07-05 15:38] tvami commented on #38586
ahh I'm re-reading this now

why are you using that GT? That's meant for a ReReco campaign. Which is planned in about 1 year from now.

https://twiki.cern.ch/twiki/bin/view/CMS/LatestOnlineGTs
-->  what if you try with `123X_dataRun3_Prompt_v12` ?

[2022-07-05 15:38] tvami commented on #38586
assign alca

[2022-07-05 15:38] cmsbuild commented on #38586
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-05 15:38] tvami commented on #38586
unassign geometry

[2022-07-05 15:39] tvami commented on #38586
-1
 * wrong GT is used

[2022-07-05 16:19] dasguptasuman commented on #38586
Same issue is also observed for "123X_dataRun3_Prompt_v12" global Tag.

This is path of the config file: **/afs/cern.ch/user/d/dasgupsu/public/hcal_calibration/alcareco_treemaker/collision_900GeV/CMSSW_12_3_6/src/Calibration/HcalCalibAlgos/test/python/isoTrackAlCaAnalysis_cfg.py**

This is path of the log file:**/afs/cern.ch/user/d/dasgupsu/public/hcal_calibration/alcareco_treemaker/collision_900G

[2022-07-05 22:16] makortel commented on #38518
assign core

[2022-07-05 22:16] cmsbuild commented on #38518
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-05 22:22] makortel commented on #38518
In principle comparing "IB+PR" to "IB" (i.e. avoiding the "extra PR(s)") could be done as well to avoid the impact of "extra PR(s)". This approach would increase a risk of missing negative interference between the PR and "extra PR(s)" in the PR tests and seeing those only in IBs.

I'm a bit concerned on the computational cost, but we'd really need numbers to decide. @smuzaffar, any thoughts?

[2022-07-05 22:25] makortel commented on #38516
FYI @cms-sw/gem-dpg-l2

[2022-07-05 22:26] makortel commented on #38516
Or, was this actually fixed already in #38517? @iarspider

[2022-07-06 05:31] perrotta commented on #38518
I inagine that this would roughly double the computational cost of PR tests.
If we decide to procede that way, I think it should be allowed only on demand for a very limited number of PRs, perhaps with the authorization being restricted only to a few specific users.

[2022-07-06 06:31] srimanob commented on #38594
This is handled in https://github.com/cms-sw/cmssw/pull/38596 (Thanks @bsunanda)

[2022-07-06 06:50] iarspider commented on #38516
@makortel it was fixed with #38517

[2022-07-06 06:50] #38516 closed

[2022-07-06 08:00] perrotta opened #38604 "Move to a safer syntax for the cloned parameters in Geometry upgrade configs"
See e..g. https://github.com/cms-sw/cmssw/pull/38596#pullrequestreview-1029644944

Some cleaning is needed for several configs in Geometry/ForwardCommonData/python:
- hfnoseParametersInitialization_cfi.py
- hfnoseV15ParametersInitialization_cfi.py
- hfnoseParametersInitialization_cfi.py

[2022-07-06 08:01] perrotta commented on #38604
assign geometry
attn @bsunanda

[2022-07-06 08:03] iarspider opened #38605 "[SKYLAKE512_X] Multiple RelVal failures due to SIGSEGV in PulseChiSqSNNLS::DoFit"
Example logs: [one](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_SKYLAKEAVX512_X_2022-07-05-2300/pyRelValMatrixLogs/run/4.23_ValSkim2011A+ValSkim2011A+HLTDSKIM+RECODR1reHLT+HARVESTDR1reHLT/step3_ValSkim2011A+ValSkim2011A+HLTDSKIM+RECODR1reHLT+HARVESTDR1reHLT.log#/181-181), [two](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_SKYLAKEAVX512_X_2022-

[2022-07-06 08:04] iarspider commented on #38605
assign reconstruction

[2022-07-06 08:05] cmsbuild commented on #38605
New categories assigned: reconstruction

@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-06 10:00] smuzaffar commented on #38605
@makortel , @Dr15Jones  looks like plugin manager is loading plugins from `lib/el8_amd64_gcc10` instead of `lib/el8_amd64_gcc10/haswell` . for these multiarch  build we have all shared libs and plugins available under `lib/el8_amd64_gcc10/haswell` too and we have edm plugin cache file symlink
[code]
could this symlink be causing plugin managers to load plugins from `lib/el8_amd64_gcc10` ?

[2022-07-06 11:54] kpedro88 commented on #38518
@smuzaffar this is a good point... I was thinking that a check on "IB available for tests" as the condition to trigger tests would work, but indeed it may not in such a case. Maybe @makortel's suggestion is the only practical option.

[2022-07-06 12:25] smuzaffar commented on #38518
I see that `git-cms-init` supports passing tag to initialize the `cmssw/src` area. I will see if I can make use of that to run a clean pr test. I will add a test parameters `use_ib_tag = true` to let bot use the tab instead of branch for tests.

[2022-07-06 14:52] Dr15Jones commented on #38605
So the plugin system use `std::filesystem::exists` to check the .edmplugincache is actually in the path given. The `exists` says it follows symlinks

https://en.cppreference.com/w/cpp/filesystem/exists

[2022-07-06 15:19] smuzaffar commented on #38605
I printed out the cache files read by plugin manager and it reads [a] . So plugin manager is reading all the caches . problem is when we have patch release then LD_LIBRARY_PATH does not contain the full release `lib/arch/haswell` . I will fix the configuration

[a]
[code]

[2022-07-06 16:02] makortel commented on #38605
While taking a quick peek earlier on this, I was a bit surprised by seeing `CMSSW_12_5_SKYLAKEAVX512_X_2022-07-03-2300` (last full release) `lib/$(SCRAM_ARCH)/haswell` to have (almost (*)) as many shared objects as `lib/$(SCRAM_ARCH)`. I had the impression that only a small subset of packages ("where vectorization makes sense") would be compiled for many vector instruction sets. What am I missing?

[2022-07-06 17:40] ChrisSandever opened #38619 "Follow up PR for PR #37695 ECAL Phase 2 weights method amplitude reconstruction on GPU"
PR #37695 ECAL Phase 2 weights method amplitude reconstruction on GPU, added a producer to reconstruct uncalibrated RecHits a converter and modified certain other converters. It completed the reconstruction on a GPU for Phase-2.

This PR will need to be followed up by a separate PR to modify the added modules.
The planned modifications are as follows:
-To change the modules (EcalPhase2DigiToGPUPro

[2022-07-06 17:40] cmsbuild commented on #38619
A new Issue was created by  @ChrisSandever Christopher Rhys Sandever.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-06 19:01] tvami commented on #38586
Something seems to be going wrong at the run transitions,

If I run on
[code]
alone, it works, if I run on
[code]
alone, it also works. But when both of them are inputs, it segfaults

[2022-07-06 19:09] tvami commented on #38586
looking at the code
https://github.com/cms-sw/cmssw/blob/942cf0fb51630f6e9a514e34824c1b309ddcc463/Calibration/HcalCalibAlgos/plugins/HcalIsoTrkAnalyzer.cc#L300-L307
`tok_ddrec_` has a `edm::Transition::BeginRun`

[2022-07-06 19:35] makortel commented on #38586
Does the IOV of `IdealMagneticFieldRecord` change between runs 352567 and 352568?

Looking at its definition
https://github.com/cms-sw/cmssw/blob/86937de21338aa5477a0405b3ebb082811bcbd7e/MagneticField/Records/interface/IdealMagneticFieldRecord.h#L11-L13
`RunInfoRcd` sounds like something whose IOV could change for every Run.

Could it be that in some specific situations (since the log in the issue

[2022-07-07 05:09] tvami commented on #38586
MFGeometryFileRcd --> a single IOV from 1 to inf
MagFieldConfigRcd  --> 2 IOVs, they change at 220641
RunInfoRcd --> this is huge, one of our biggest tags, 98580 IOVs, as expected, changes for every run, so yes, that changes from 352567 and 352568

[2022-07-07 05:09] smuzaffar commented on #38605
https://github.com/cms-sw/cmsdist/pull/7980 should fix the LD_LIBRARY_PATH issue for multi-vec patch release IBs.

[2022-07-07 05:22] qliphy opened #38623 "Build CMSSW_12_4_2"

[2022-07-07 05:23] cmsbuild commented on #38623
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-07-07 05:23] qliphy commented on #38623
+1

[2022-07-07 05:24] cmsbuild commented on #38623
The build has started for el8_amd64_gcc10 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3569/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-07 05:24] cmsbuild commented on #38623
The build has started for slc7_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3570/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-07 05:34] cmsbuild commented on #38623
The build has started for el8_aarch64_gcc10 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3571/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-07 06:11] cmsbuild commented on #38623
The build has started for el8_ppc64le_gcc10 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3572/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-07 06:12] smuzaffar commented on #38605
thanks @makortel for reporting this. Yes looks like dd4hep plugins shared libs were not copied for extra archs. https://github.com/cms-sw/cmsdist/pull/7980 should fix this issue too

[2022-07-07 08:11] tvami opened #38624 "Segfault in dd4hep geometry when changing runs"
There seems to be something fishy happening with the dd4hep geometry at run boundaries. Probably related to https://github.com/cms-sw/cmssw/issues/38586 as well.

[code]
leads to
[code]

[2022-07-07 08:11] cmsbuild commented on #38624
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-07 08:11] tvami commented on #38624
assign geometry

[2022-07-07 08:12] cmsbuild commented on #38624
New categories assigned: geometry

@mdhildreth,@ianna,@Dr15Jones,@makortel,@bsunanda,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-07 08:12] tvami commented on #38586
We just noticed what one of the AlCa harvestors is also having a very similar behaviour, I opened another issue for that
https://github.com/cms-sw/cmssw/issues/38624

[2022-07-07 08:13] tvami commented on #38586
assign geometry
 * I never should have removed it, sorry

[2022-07-07 08:13] cmsbuild commented on #38586
New categories assigned: geometry

@mdhildreth,@ianna,@Dr15Jones,@makortel,@bsunanda,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-07 08:44] cmsbuild commented on #38623
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_2-slc7_amd64_gcc10/3570
Some tests ( ru

[2022-07-07 09:29] cmsbuild commented on #38623
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_2-el8_ppc64le_gcc10/3572
Some tests (

[2022-07-07 09:31] civanch commented on #38624
Geometry should not change I guess. If there is an attempt whatever may happens.

[2022-07-07 09:33] cmsbuild commented on #38623
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_2-slc7_amd64_gcc10/3570

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-07 09:42] qliphy commented on #38623
upload all

[2022-07-07 09:43] cmsbuild commented on #38623
Queing Jenkins upload for el8_amd64_gcc10

[2022-07-07 09:43] cmsbuild commented on #38623
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-07-07 09:43] cmsbuild commented on #38623
Queing Jenkins upload for el8_aarch64_gcc10

[2022-07-07 09:43] cmsbuild commented on #38623
The upload has started for el8_amd64_gcc10 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2412/console

[2022-07-07 09:44] cmsbuild commented on #38623
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2413/console

[2022-07-07 09:44] cmsbuild commented on #38623
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_2-el8_amd64_gcc10/2412

[2022-07-07 09:44] cmsbuild commented on #38623
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_2-slc7_amd64_gcc10/2414

[2022-07-07 09:44] cmsbuild commented on #38623
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_2-el8_ppc64le_gcc10/2413

[2022-07-07 09:45] qliphy commented on #38623
release-notes

[2022-07-07 09:46] cmsbuild commented on #38623
Generating release notes since CMSSW_12_4_1_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-07-07 09:46] cmsbuild commented on #38623
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_4_2 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_1_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_2

Cheers,
cms-bot

You ca

[2022-07-07 09:49] ttedeschi opened #38626 "Crash for run 355207-355208 in express StreamHLTMonitor"
As pointed out here https://cms-talk.web.cern.ch/t/paused-jobs-for-run-355207-collisions/12561 the following error is encountered when running ```express_StreamHLTMonitor``` workflow for both runs 355207 and 255208

[code]

full info can be found here:
```/afs/cern.ch/user/c/cmst0/public/PausedJobs/ExpressHLTMonitor/job/WMTaskSpace/cmsRun1```

a possible fix, even a temporary one, should be found

[2022-07-07 10:04] cmsbuild commented on #38626
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-07 10:39] cmsbuild commented on #38623
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_2-el8_ppc64le_gcc10/3572

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-07 11:11] mmusich commented on #38624
I am confused by the fact that while removing the [SiPixelLorentzAnglePCLHarvester](https://github.com/cms-sw/cmssw/blob/master/CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvester.cc) from the executed path the issue is not seen, when it is re-inserted the crash happens before cmsRun hits the `beginRun` of that module.

[2022-07-07 11:24] mmusich commented on #38624
tracer says:

[code]

[2022-07-07 11:26] jfernan2 commented on #38626
FYI @marco-link @johnalison @JyothsnaKomaragiri @natalia-korneeva @SWuchterl as BTV HLT DQM And Validation Code Developers
https://twiki.cern.ch/twiki/bin/viewauth/CMS/DQMContacts#Btag_and_vertexing

[2022-07-07 11:38] NiclasEich commented on #38626
BTV HLT DQM developers (@marco-link @terrill37 me) are working on it and can replicate the error.

[2022-07-07 13:05] mmusich commented on #38626
seems the place in which it fails is at

https://github.com/cms-sw/cmssw/blob/1157e3664510ba0f9300604d3e85dab99771ffbe/DQMOffline/Trigger/plugins/BTVHLTOfflineSource.cc#L798

[2022-07-07 13:29] NiclasEich commented on #38626
Indeed, we have implemented a sanity check for null-pointer in the following `push_back` calls, which resolves the error.

We are currently preparing the PRs and checking the tests.

[2022-07-07 13:52] tvami commented on #38624
urgent

[2022-07-07 14:07] missirol commented on #38626
Thanks to the people who are debugging.

I'm in favour of a(ny) fix being integrated asap, but it would also be useful to know the reason behind this failure. Is some track collection missing in the input file wrt what the DQM client needs/expects?

Knowing better the reason behind the problem might suggest a workaround that we could apply to the HLT menu to be used online this weekend. This could

[2022-07-07 14:08] Dr15Jones commented on #38624
The `Tracer` service info isn't as useful as it could be since the framework doesn't announce when it is doing prefetching for ED modules during Run and LuminosityBlock transitions. Looks like something we should add.

[2022-07-07 14:09] Dr15Jones opened #38634 "Add Run and LuminosityBlock prefetching signals to ActivityRegistry"
Have the registry announce when an ED module has requested data prefetching during the Run and LuminosityBlock based transitions.

[2022-07-07 14:28] marco-link commented on #38626
Opened the PR.
Thanks @mmusich for working on this in parallel (you were ~20 minutes ahead of us :grinning:)

I'll prepare backports for 12_3_X and 12_4_X.

[2022-07-07 14:55] mmusich commented on #38624
naively applying the instruction at https://twiki.cern.ch/twiki/bin/viewauth/CMS/RecoIntegration#Run_memory_analysis_with_valgrin I get the file at:

http://musich.web.cern.ch/musich/display/valgrind.txt

I see a lot of `UninitCondition` going on with dd4hep calls, but I would need guidance to understand if that's an issue or not.

[2022-07-07 15:06] makortel commented on #38624
One problem with ` SiPixelLorentzAnglePCLHarvester` (although I don't see how it could cause this crash) is that it stores a pointer to the `MagneticField` in `beginRun()`
https://github.com/cms-sw/cmssw/blob/d9d4aec32230b7d62e51c4622dfd654e8cea106a/CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvester.cc#L131-L136
and the pointer gets used in `dqmEndJob()` (which corresponds to the

[2022-07-07 15:22] civanch commented on #38624
The line 585
float theMagField = magField->nominalValue() / 10.;
may be moved to beginRun, "theMagField" may be class member, no actions will be done with field endRun

[2022-07-07 15:24] civanch commented on #38624
@makortel , we independently say the same thing... It should work if the problem is an access to magField pointer.

[2022-07-07 15:29] makortel commented on #38624
It seems to me that the problem in the issue description is not that though, but a crash when `VolumeBasedMagneticFieldESProducer` constructs `cms::DDDetector` for a second (or more) time in the job following the IOV of `IdealMagneticFieldRecord` changing. The stale pointer has not been accessed yet in `dqmEndJob()`.

[2022-07-07 15:38] civanch commented on #38624
Field value and the detector geometry should not be changed within run, at least, I never see such requirement. May be make a simple fix in this module - it will be correct even if it is not the main reason of the crash.

[2022-07-07 15:41] makortel commented on #38624
The crash occurs at the beginning of second (or more) Run, and the job processes data (DQM histograms?) from several Runs. I.e. within a Run the magnetic field stays constant.

[2022-07-07 15:52] civanch commented on #38624
I would guess that whatever order of beginRun, endRun, endDQmRun, it is natural to have class member "float theMagField" and fill it from EventSetup just after getData(..)

[2022-07-07 17:21] #38605 closed

[2022-07-07 19:08] civanch commented on #38624
what I see in the trace:

SiPixelLorentzAnglePCLHarvester not there, problem is in
magneticfield::DD4hep_VolumeBasedMagneticFieldESProducerFromDB::produce()

in the line
auto ddet = make_unique<cms::DDDetector>("cmsMagneticField:MAGF", sblob, true);

in the second thread, in the first thread everything is OK.

May this should be run in one thread only?

[2022-07-07 19:15] mmusich commented on #38624
as far as I can tell this *is* run single-threaded:

[code]

[2022-07-07 20:01] cvuosalo commented on #38624
In the DD4hep file `Detector.h` it says:
[code]
@bsunanda Could you please consult with Markus about whether our use of `getInstance` should be changed?

[2022-07-07 20:15] cvuosalo commented on #38624
In https://github.com/cms-sw/cmssw/blob/1a0d12726d29767bb4fec4440d4c1c181c10c627/DetectorDescription/DDCMS/src/DDDetector.cc#L32

the Detector instance is fetched by name. Then extensions are added to it. The stack trace of the crash seems to show that `addExtension` causes the crash. Could it be that when the magnetic field detector instance is fetched the second time, and the same extensions are

[2022-07-08 00:50] civanch commented on #38624
both in the trace shown on top and in the local test the crash happens in the second thread...

[2022-07-08 01:03] qliphy opened #38645 "Build CMSSW_10_2_29"
As requested here: https://github.com/cms-sw/cmssw/issues/37528#issuecomment-1173927466

[2022-07-08 01:04] cmsbuild commented on #38645
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-07-08 01:04] qliphy commented on #38645
+1

[2022-07-08 01:04] cmsbuild commented on #38645
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_29. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2022-07-08 01:04] cmsbuild commented on #38645
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2022-07-08 01:05] cmsbuild commented on #38645
The build has started for slc6_amd64_gcc700 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3573/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-07-08 01:05] cmsbuild commented on #38645
The build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3574/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-07-08 04:23] cmsbuild commented on #38645
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_29-slc7_amd64_gcc700/3574
Some tests (

[2022-07-08 04:46] ianna commented on #38624
I think, creating a DD4hep Detector is not threadsafe.

[2022-07-08 05:00] cmsbuild commented on #38645
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_29-slc7_amd64_gcc700/3574

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2022-07-08 05:07] cmsbuild commented on #38645
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_29-slc6_amd64_gcc700/3573
Some tests (

[2022-07-08 05:43] cmsbuild commented on #38645
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_29-slc6_amd64_gcc700/3573

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2022-07-08 05:43] perrotta commented on #38645
upload all

[2022-07-08 05:44] cmsbuild commented on #38645
Queing Jenkins upload for slc6_amd64_gcc700

[2022-07-08 05:44] cmsbuild commented on #38645
Queing Jenkins upload for slc7_amd64_gcc700

[2022-07-08 05:44] cmsbuild commented on #38645
The upload has started for slc6_amd64_gcc700 in cmsbuild81.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2415/console

[2022-07-08 05:44] cmsbuild commented on #38645
The upload has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2416/console

[2022-07-08 05:45] cmsbuild commented on #38645
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_29-slc6_amd64_gcc700/2415

[2022-07-08 05:45] cmsbuild commented on #38645
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_29-slc7_amd64_gcc700/2416

[2022-07-08 06:03] qliphy commented on #38645
release-notes

[2022-07-08 06:03] cmsbuild commented on #38645
Generating release notes since CMSSW_10_2_28_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-07-08 06:03] cmsbuild commented on #38645
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_29 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_28_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_29

As requested here: https://github.com/cms-sw/cmssw/is

[2022-07-08 06:13] cmsbuild commented on #38645
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_29

[2022-07-08 06:13] mmusich commented on #38624
is it a cmsRun thread? or a TBB thread?

how can one configure the job to avoid multi-threading, considering https://github.com/cms-sw/cmssw/issues/38624#issuecomment-1178108323 ?

[2022-07-08 07:17] perrotta opened #38648 "Build CMSSW_12_3_7"
Last minute data-taking related fixes

[2022-07-08 07:17] cmsbuild commented on #38648
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-07-08 07:18] perrotta commented on #38648
+1

[2022-07-08 07:18] cmsbuild commented on #38648
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-07-08 07:18] cmsbuild commented on #38648
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to fini

[2022-07-08 07:20] cmsbuild commented on #38648
The build has started for el8_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3575/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-08 07:20] cmsbuild commented on #38648
The build has started for slc7_amd64_gcc10 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3576/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-08 08:16] cmsbuild commented on #38648
The build has started for el8_ppc64le_gcc10 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3577/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-07-08 09:10] civanch commented on #38624
A minor update of #34640 is done, which is working to me locally. In this modification I am trying to ensure that geometry is built once, no limits on number of creation of magnetic field. In the configuration file alcaConfig.py number of threads is declared as 1 but in the run the class is called twice... I do not have full understanding how this happens.

[2022-07-08 09:52] aandvalenzuela opened #38650 "[LTO_X - CalibTracker] Solve -Wodr compiler warnings"
Hello,

We have seen some compiler warnings of the type `-Wodr` in LTO_X IBs ([CMSSW_12_5_LTO_X_2022-07-07-1100](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/thu/12.5.LTO-thu-11/CMSSW_12_5_LTO_X_2022-07-07-1100) and [CMSSW_12_5_LTO_X_2022-07-06-1100](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/wed/12.5.LTO-wed-11/CMSSW_12_5_LTO_X_2022-07-06-11

[2022-07-08 09:52] cmsbuild commented on #38650
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-08 10:17] missirol opened #38651 "Crash of `HLTEcalPhiSymFilter` in run `354669`"
This issue reports 1 crash of the module `HLTEcalPhiSymFilter` seen at HLT online during run 354669 [1].

 - the crash only happened once so far

 - GPUs were enabled in the menu (nodes of new HLT farm), but the module that crashed was (at the time) explicitly consuming ECAL digis/rechits produced on CPU [2]

 - the exception call was added recently (#38322 by @thomreis), error message:
[code]

 -

[2022-07-08 10:17] cmsbuild commented on #38651
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-08 10:42] cmsbuild commented on #38648
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7-slc7_amd64_gcc10/3576
Some tests ( ru

[2022-07-08 10:46] tvami commented on #38586
+alca
 * resolution is in [#38640](https://github.com/cms-sw/cmssw/pull/38640)

[2022-07-08 10:48] mmusich commented on #38650
assign alca

[2022-07-08 10:48] mmusich commented on #38650
see fix at https://github.com/cms-sw/cmssw/pull/38652

[2022-07-08 10:48] cmsbuild commented on #38650
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-08 10:52] cmsbuild commented on #38648
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7-el8_amd64_gcc10/3575
Some tests ( runT

[2022-07-08 11:18] tvami commented on #38198
@tocheng please submit the PR, at this point we have good Run-3, 13.6 TeV input data

[2022-07-08 11:26] smuzaffar opened #38654 "issue adding @lveldere github user to cms-sw organization"
Looks like the github user @lveldere is in some bad state and bot is not able to invite/add it to cms-sw organization. @lveldere is marked as L2 for @cms-sw/fastsim-l2  ( https://github.com/cms-sw/cms-bot/blob/035b3a5e3da2951a8c475a2b917a53e6bcd05304/categories.py#L61 ) . @cms-sw/fastsim-l2 can you please confirm that @lveldere should still be in fastsim team ? If no then I can cleanup cms-bot

[2022-07-08 11:27] cmsbuild commented on #38654
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-08 11:28] cmsbuild commented on #38648
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7-slc7_amd64_gcc10/3576

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-08 11:38] cmsbuild commented on #38648
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7-el8_amd64_gcc10/3575

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-08 11:42] cmsbuild commented on #38648
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7-el8_ppc64le_gcc10/3577
Some tests (

[2022-07-08 12:16] tvami commented on #38651
assign ecal-dpg

[2022-07-08 12:23] smuzaffar commented on #38654
assign fastsim

[2022-07-08 12:23] cmsbuild commented on #38654
New categories assigned: fastsim

@sbein,@ssekmen,@mdhildreth,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-08 12:56] perrotta commented on #38648
upload all

[2022-07-08 12:56] cmsbuild commented on #38648
Queing Jenkins upload for slc7_amd64_gcc10

[2022-07-08 12:56] cmsbuild commented on #38648
Queing Jenkins upload for el8_amd64_gcc10

[2022-07-08 12:56] cmsbuild commented on #38648
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-07-08 12:57] cmsbuild commented on #38648
The upload has started for el8_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2417/console

[2022-07-08 12:57] cmsbuild commented on #38648
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2418/console

[2022-07-08 12:58] cmsbuild commented on #38648
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_7-el8_ppc64le_gcc10/2418

[2022-07-08 12:58] cmsbuild commented on #38648
The upload has started for slc7_amd64_gcc10 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2419/console

[2022-07-08 12:59] cmsbuild commented on #38648
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_7-el8_amd64_gcc10/2417

[2022-07-08 13:00] cmsbuild commented on #38648
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_7-el8_ppc64le_gcc10/3577

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-07-08 13:05] cmsbuild commented on #38648
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_7-slc7_amd64_gcc10/2419

[2022-07-08 13:10] Dr15Jones commented on #38624
In the trace back at the beginning of this PR, the crash does not happen in the 2nd thread, it happens in the first one. To find the cause of the crash, look for `sig_dostack_then_abort` in the stack trace of the thread. The function just before that one is where the crash happened.

[2022-07-08 13:13] perrotta commented on #38648
release-notes

[2022-07-08 13:14] cmsbuild commented on #38648
Generating release notes since CMSSW_12_3_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-07-08 13:27] aandvalenzuela opened #38656 "[LTO_X - Calibration/HcalAlCaRecoProducers] -Wodr compiler warnings"
Hello,

We have seen some compiler warnings of the type `-Wodr` in LTO_X IBs ([CMSSW_12_5_LTO_X_2022-07-07-1100](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/thu/12.5.LTO-thu-11/CMSSW_12_5_LTO_X_2022-07-07-1100) and [CMSSW_12_5_LTO_X_2022-07-06-1100](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/wed/12.5.LTO-wed-11/CMSSW_12_5_LTO_X_2022-07-06-11

[2022-07-08 13:28] cmsbuild commented on #38656
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-08 13:28] aandvalenzuela commented on #38656
assign alca

[2022-07-08 13:28] cmsbuild commented on #38656
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-08 13:31] civanch commented on #38624
@Dr15Jones , you explain us, what the second thread means, I personally was very confused. All my crashes are similar to what @tvami published in this issue. The fix in recent PRs is for pure single thread runs. Basically in produce(..) method it is protected from creation of geometry more than once. Why in this configuration this produced is called twice for me not clear. In my checks, it was cal

[2022-07-08 13:34] aandvalenzuela commented on #38656
In fact, we have seen this warning in other packages of the same category. I will now report them below.

[2022-07-08 13:47] makortel commented on #38654
IIRC Lucas left CMS years ago.

[2022-07-08 13:49] Dr15Jones commented on #38624
@civanch try adding the Tracer service to your job and then put the job output somewhere we can all look at.

[2022-07-08 15:22] civanch commented on #38654
It is safe to remove Lucas now.

[2022-07-08 15:37] namapane commented on #38624
That's exactly what I'm trying to warn about. Rebuilding the MF for a different current may require a **different** geometry to be built as well. This is because the MF geometry must match the one used to define a specified set of data tables, and these are different for different current values, even for the same data taking period.
in particular, as of now:
- the 3.8, 3.5, and 3T maps for any IO

[2022-07-09 01:07] #38650 closed

[2022-07-09 05:29] tvami commented on #38650
+alca

[2022-07-09 05:29] cmsbuild commented on #38650
This issue is fully signed and ready to be closed.

[2022-07-09 05:35] tvami commented on #38656
@bsunanda please have a look at this issue, thanks!

[2022-07-09 06:57] bsunanda commented on #38656
OK - I shall. Just a question - what is the coding rule for name of a NameSpace should the first letter be Capital or could it be small as well?

[2022-07-09 07:05] tvami commented on #38656
"For namespaces use lower case, e.g. namespace edm."
2.7 in https://cms-sw.github.io/cms_coding_rules.html

[2022-07-09 07:38] bsunanda commented on #38656
Pleas see if #38662 can resolve this issue

[2022-07-09 07:53] cmsbuild commented on #38623
The cleanup has started for el8_aarch64_gcc10

[2022-07-09 07:53] cmsbuild commented on #38623
The cleanup has started for slc7_amd64_gcc10

[2022-07-09 07:53] cmsbuild commented on #38623
The cleanup has started for el8_amd64_gcc10

[2022-07-09 07:54] cmsbuild commented on #38623
The cleanup has started for el8_ppc64le_gcc10

[2022-07-09 07:54] #38623 closed

[2022-07-09 07:54] cmsbuild commented on #38623
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_2-el8_aarch64_gcc10/2118

[2022-07-09 07:54] cmsbuild commented on #38623
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_2-el8_amd64_gcc10/2119

[2022-07-09 07:54] cmsbuild commented on #38623
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_2-el8_ppc64le_gcc10/2120

[2022-07-09 07:54] cmsbuild commented on #38623
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_2-slc7_amd64_gcc10/2121

[2022-07-09 12:42] perrotta opened #38669 "Make a more robust fix to deal with possible multiple creations of the MF geometries"
I'm copying here the [comment ](https://github.com/cms-sw/cmssw/pull/38653#issuecomment-1179001530) of @namapane related to the PR #38640 and its backports #38641 and #38653, intended to urgently fix a crash reported when changng runs with dd4hep (see https://github.com/cms-sw/cmssw/issues/38624)

The fix was merged, but for a more permanent and robust solution the following points should be addre

[2022-07-09 12:43] cmsbuild commented on #38669
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-09 12:48] tvami commented on #38669
assign geometry

[2022-07-09 12:49] cmsbuild commented on #38669
New categories assigned: geometry

@mdhildreth,@ianna,@Dr15Jones,@makortel,@bsunanda,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-09 13:49] mmusich commented on #38669
assign alca
   * point 2) of the above https://github.com/cms-sw/cmssw/issues/38669#issue-1299665866 requires a fix in the alca code

[2022-07-09 13:50] cmsbuild commented on #38669
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-09 15:43] tvami commented on #38624
I'm closing this issue in favour of https://github.com/cms-sw/cmssw/issues/38669

[2022-07-09 15:43] #38624 closed

[2022-07-10 04:08] cmsbuild commented on #38645
The cleanup has started for slc6_amd64_gcc700

[2022-07-10 04:08] cmsbuild commented on #38645
The cleanup has started for slc7_amd64_gcc700

[2022-07-10 04:08] #38645 closed

[2022-07-10 04:09] cmsbuild commented on #38645
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_29-slc6_amd64_gcc700/2122

[2022-07-10 04:09] cmsbuild commented on #38645
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_29-slc7_amd64_gcc700/2123

[2022-07-10 11:23] cmsbuild commented on #38648
The cleanup has started for slc7_amd64_gcc10

[2022-07-10 11:23] cmsbuild commented on #38648
The cleanup has started for el8_amd64_gcc10

[2022-07-10 11:23] cmsbuild commented on #38648
The cleanup has started for el8_ppc64le_gcc10

[2022-07-10 11:23] #38648 closed

[2022-07-10 11:24] cmsbuild commented on #38648
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_7-el8_ppc64le_gcc10/2125

[2022-07-10 11:24] cmsbuild commented on #38648
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_7-el8_amd64_gcc10/2124

[2022-07-10 11:24] cmsbuild commented on #38648
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_7-slc7_amd64_gcc10/2126

[2022-07-11 00:39] qliphy commented on #38669
Also copying comment from @Dr15Jones here to be addressed together, as another future todo.

[2022-07-11 07:26] aandvalenzuela opened #38679 "[LTO - DQM] Compiler warnings -Wodr and -Wstrict-overflow in dqm category"
Hello,

We have seen some compiler warnings of the type `-Wodr` and `-Wstrict-overflow` in LTO_X IBs ([CMSSW_12_5_LTO_X_2022-07-07-1100](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/thu/12.5.LTO-thu-11/CMSSW_12_5_LTO_X_2022-07-07-1100) and [CMSSW_12_5_LTO_X_2022-07-06-1100](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/wed/12.5.LTO-wed-11/CMSSW_

[2022-07-11 07:26] cmsbuild commented on #38679
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-07-11 07:26] aandvalenzuela commented on #38679
assign dqm

[2022-07-11 07:26] cmsbuild commented on #38679
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-07-11 07:44] aandvalenzuela opened #38680 "[LTO - L1] Compiler warnings -Wodr and -Wstrict-overflow in L1 category"
Hello,

We have seen some compiler warnings of the type `-Wodr` and `-Wstrict-overflow` in LTO_X IBs ([CMSSW_12_5_LTO_X_2022-07-07-1100](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/thu/12.5.LTO-thu-11/CMSSW_12_5_LTO_X_2022-07-07-1100) and [CMSSW_12_5_LTO_X_2022-07-06-1100](https://cmssdt.cern.ch/SDT/cgi-bin/showBuildLogs.py/el8_amd64_gcc10/www/wed/12.5.LTO-wed-11/CMSSW_

[2022-07-11 07:44] aandvalenzuela commented on #38680
assign l1