[2021-09-23 15:30] missirol commented on #35344
Thanks, Marco. I'll try to see if this can help with #35309.

[2021-09-23 16:09] silviodonato commented on #35376
The difference between HLT_PFHT350_v19 and HLT_PFHT370_v17 is only in the L1seeds, caloHT cut (320 vs 300), and PFHT cut (370 vs 350). All the filters cut on the same objects (hltHtMhtJet30 and hltPFHTJet30).

[2021-09-23 16:10] mmasciov commented on #32219
@makortel: if it is OK with you, given that recent measurements by @dsperka showed that HitPattern for Run3ScoutingMuon shall not be heavy at all, I'll go with option (2). I.e., I'll make a frozen copy of HitPattern for scouting, and use such copy in Run3ScoutingMuon.

[2021-09-23 16:12] mmasciov commented on #32219
As for the timeline, this option should be fast, and in time for 12_1_0 (before 19th of October).

[2021-09-23 16:16] makortel commented on #32219
Thanks @mmasciov, that option is fine. For the record, could you give pointer to

?

[2021-09-23 17:16] mmasciov commented on #32219
The latest slides showing that muons are little in size should be: https://indico.cern.ch/event/1066775/contributions/4492263/attachments/2301466/3914859/scouting_event_content_xpog.pdf
However, @dsperka may have more recent/accurate numbers.

[2021-09-23 21:11] Dr15Jones commented on #35082
It happened here as well

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_ROOT624_X_2021-09-22-2300/pyRelValMatrixLogs/run/39034.0_TTbar_14TeV+2026D87+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger/step1_TTbar_14TeV+2026D87+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger.log#/599-599

[2021-09-24 00:57] #32939 closed

[2021-09-24 02:10] tvami commented on #35005
@panwarlsweet (for JetMET) @cms-sw/l1-l2 @lathomas (for L1T) could you please look into this?

[2021-09-24 02:21] tvami commented on #28283
@panwarlsweet here is another ASAN issue, please pass this info to JETMET

[2021-09-24 02:23] tvami commented on #28203
@Dr15Jones is this issue resolved in https://github.com/cms-sw/cmssw/pull/28216
Can it be closed now?

[2021-09-24 02:26] tvami commented on #27393
Hi @lathomas could you please look into the L1T side of this issue? Thanks!

[2021-09-24 07:43] fwyzard opened #35395 "add support for "expected to fail" tests ?"
In few places in CMSSW we have unit tests that fail gracefully (`exit 0`) under some known conditions.
A couple of examples:
  - the GPU-based tests fail gracefully if the test machine does not have a supported GPU
  - after #35328, the Triton-based test will not run and fail gracefully on non-amd64 architectures

Maybe we should consider adding a new category of "expected failures" for the tests

[2021-09-24 07:43] fwyzard commented on #35395
assign core

[2021-09-24 07:43] cmsbuild commented on #35395
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-24 07:43] cmsbuild commented on #35395
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-24 08:46] VinInn commented on #32219
If possible I would change current HitPattern to
[code]

[2021-09-24 09:03] bundocka commented on #27393
Laurent is away at the moment. @rekovic needs to look at this. I will contact him privately.

[2021-09-24 09:25] smuzaffar commented on #35005
For https://cmssdt.cern.ch/SDT/jenkins-artifacts/ubsan_logs/CMSSW_12_1_UBSAN_X_2021-09-22-1600/logs/fb/fbd60ecf74cca6d7f126814ab38a80d5/log error, looks like https://github.com/cms-sw/cmssw/blob/master/CondFormats/JetMETObjects/src/SimpleJetCorrector.cc#L88 complains about zero size array. This happens when
[code]

[2021-09-24 09:43] #34547 closed

[2021-09-24 09:43] #35206 closed

[2021-09-24 10:17] smuzaffar opened #35398 "Relvals failures in DBG IBs"
Nearly all the relvals are failing [a] in DBG IBs (https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_1/2021-09-23-2300?selectedArchs=slc7_amd64_gcc900&selectedFlavors=DBG_X&selectedStatus=failed ) . Looks like error is generated at https://github.com/cms-sw/cmssw/blob/master/TrackingTools/TrackFitters/interface/DebugHelpers.h#L84

[a]
[code]

[2021-09-24 10:17] cmsbuild commented on #35398
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-24 10:18] smuzaffar commented on #35398
assign reconstruction

[2021-09-24 10:18] cmsbuild commented on #35398
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-24 12:21] slava77 commented on #32219
if the past can be a reference for possible developments, the size of the array is not the only thing that can change; other data members (indices) can change as well.

[2021-09-24 12:28] jpata commented on #31385
To add to the discussion at the PF meeting today, I'm not aware that this is a physics problem or a bug. Rather, I brought this up here as a possibility to simplify the linking code, and perhaps reduce the runtime, by avoiding ref lookups and track extrapolation if the answer for HCAL-BREM will always be -1 by construction. So I expect physics will change the same if you write

[code]

But if ther

[2021-09-24 12:42] slava77 commented on #35398
this looks like a duplicate of #34097

please post a note there and let's close this issue

[2021-09-24 14:34] Dr15Jones commented on #28203
@tvami I do not know if #28216 dealt with all the issues mentioned here. We are concurrently running ES modules and we haven't seen any known problems stemming from this code.

[2021-09-24 14:36] Dr15Jones commented on #28203
#28312 does appear to have made the necessary changes

[2021-09-24 14:38] tvami commented on #28203
Great!

[2021-09-24 14:49] makortel commented on #29412
https://github.com/cms-sw/cmssw/pull/35362 has a minimal fix against the NaNs. The next question is then to what release cycles this should be backported to? @qliphy @perrotta Could you comment which release cycles are still considered active? (or are all those in the ORP spreadsheet such)

[2021-09-24 15:28] tvami commented on #27393
Thanks @bundocka !

[2021-09-24 15:46] tvami commented on #28203
+db
 * as discussed above, this was resolved in https://github.com/cms-sw/cmssw/pull/28312

[2021-09-24 15:46] cmsbuild commented on #28203
This issue is fully signed and ready to be closed.

[2021-09-24 21:30] Dr15Jones commented on #34873
@nsmith- I just did a deep dive into our super archaic storage code (left over from before CMSSW existed and we were using CERN's POOL system). Turns out the statistics being sent are not about the primary file but instead are from every interaction with event ROOT file opened via the call to TFile::Open anywhere in the cmsRun job. This is baked into the heart of that system with a series of singl

[2021-09-24 22:25] cvuosalo commented on #35109
+1

[2021-09-24 22:25] cmsbuild commented on #35109
This issue is fully signed and ready to be closed.

[2021-09-25 00:31] makortel commented on #35109
On the other hand the comparison differences have appeared rather rarely.

[2021-09-25 01:28] #28203 closed

[2021-09-25 01:29] #29412 closed

[2021-09-25 01:29] #35142 closed

[2021-09-25 12:22] perrotta opened #35416 "Build CMSSW_10_6_29"
To (re)start the fastsim campaigns with mini-v2

[2021-09-25 12:23] cmsbuild commented on #35416
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-09-25 12:24] perrotta commented on #35416
+1

[2021-09-25 12:25] cmsbuild commented on #35416
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_29. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2021-09-25 12:25] cmsbuild commented on #35416
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2021-09-25 12:26] cmsbuild commented on #35416
The build has started for slc7_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3191/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-25 12:27] cmsbuild commented on #35416
The build has started for slc7_amd64_gcc820 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3192/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-09-25 16:40] cmsbuild commented on #35416
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_29-slc7_amd64_gcc700/3191
Some tests (

[2021-09-25 17:20] cmsbuild commented on #35416
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_29-slc7_amd64_gcc700/3191

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-25 17:22] cmsbuild commented on #35416
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_29-slc7_amd64_gcc820/3192
Some tests (

[2021-09-25 18:04] cmsbuild commented on #35416
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_29-slc7_amd64_gcc820/3192

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-09-25 18:04] perrotta commented on #35416
upload all

[2021-09-25 18:05] cmsbuild commented on #35416
Queing Jenkins upload for slc7_amd64_gcc700

[2021-09-25 18:05] cmsbuild commented on #35416
Queing Jenkins upload for slc7_amd64_gcc820

[2021-09-25 18:08] cmsbuild commented on #35416
The upload has started for slc7_amd64_gcc700 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2069/console

[2021-09-25 18:08] cmsbuild commented on #35416
The upload has started for slc7_amd64_gcc820 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2070/console

[2021-09-25 18:08] cmsbuild commented on #35416
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_29-slc7_amd64_gcc820/2070

[2021-09-25 18:09] cmsbuild commented on #35416
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_29-slc7_amd64_gcc700/2069

[2021-09-25 18:55] perrotta commented on #35416
release-notes

[2021-09-25 18:56] cmsbuild commented on #35416
Generating release notes since CMSSW_10_6_28_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-09-25 18:56] cmsbuild commented on #35416
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_29 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_28_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_29

To (re)start the fastsim campaigns with mini-v2

Chee

[2021-09-25 18:59] cmsbuild commented on #35416
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_29

[2021-09-26 02:24] slava77 commented on #34981
I think that in quite a few cases it's not a result of preference.
IMHO, less verbose syntax should be better.
In https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideEDMGetDataFromEvent#consumes we still have `consumes<T> is the function most often used.` could this possibly be amended to suggest a simpler syntax?

[2021-09-26 10:14] smuzaffar commented on #35398
closing as it is duplicate of #34097.

[2021-09-26 10:14] #35398 closed

[2021-09-26 16:09] Dr15Jones commented on #34981
@slava77 I made a stab at updating the twiki page where I made the simpler syntax more prominent. Please feel free to do any further editing.

[2021-09-26 17:55] slava77 commented on #34981
It looks good to me.
thank you.

[2021-09-27 07:49] tsusa commented on #35376
@fwyzard is there a similar comparison between gpu and cpu (non-legacy wf) ?

[2021-09-27 08:01] fwyzard commented on #35376
Hi @tsusa,

the instructions above under **Pixel local reconstruction changes** should compare
  - the legacy pixel tracks (on CPU) running on top of the legacy pixel local reconstruction (on CPU)
  - the legacy pixel tracks (on CPU) running on top of the new pixel local reconstruction (on GPU)

while those under **Pixel track reconstruction changes** should compare
  - the Patatrack pixel tracks

[2021-09-27 08:39] tsusa commented on #35376
Hi @fwyzard,
yes, the comparison
- the legacy pixel tracks (on CPU) running on top of the cpu pixel local reconstruction (on CPU)
- the legacy pixel tracks (on CPU) running on top of the new pixel local reconstruction (on GPU)

[2021-09-27 08:46] fwyzard commented on #35376
You can make this comparison by creating the configuration for the **Pixel local reconstruction changes**, running it on the CPU (e.g. setting `CUDA_VISIBLE_DEVICES=` or running on a machine without GPUs) and comparing the results with those of the legacy reconstruction.

[2021-09-27 09:49] VinInn commented on #35376
legacy pixel local reconstruction is NOT supposed to be identical to "new pixel local reconstruction", (and not required to)

[2021-09-27 10:08] fwyzard commented on #35376
Well, this is news to me.
Why not ?
What is different ?

[2021-09-27 10:11] mmusich commented on #35376
e.g. treatment of the generic CPE errors?
https://indico.cern.ch/event/968978/contributions/4078289/attachments/2134046/3594257/Pixel%20GPU%20code%20Validation.pdf#page=11

[2021-09-27 10:22] fwyzard commented on #35376
ah, yes - still, how _much_ different do we expect it to be ?

(and anyway this is outside the scope of the discrepancy discussed in this issue, which should use the new reconstruction for both CPU and GPU workflows)

[2021-09-27 10:24] mmusich commented on #35376
There are plots in the talk linked above. I let you judged by yourself.
Mind that the situation has been improved by https://github.com/cms-sw/cmssw/pull/34286

[2021-09-27 11:14] smuzaffar commented on #35395
@fwyzard , I really do not understand what you are asking for. Instead of adding new category for tests , should not a test decide itself that in which conditions it should fail? If it helps , we can add a startup script e.g. `config/SCRAM/runtests.sh --known-exit-codes 1,2,19 -- command opts` which still exits with exit code `0` if `command` fails with known exit codes?

[2021-09-27 12:01] fwyzard commented on #35395
@smuzaffar let me give a concrete example.

Given the current test system (a test can only succeed == good or fail == bad) the tests that require CUDA have been written to fail gracefully (`exit 0`) if CUDA is not available or a GPU is not present.

This means that we have no way of knowing, looking only at the test results, if for a given architecture CUDA is ok and the test ran successfully, or

[2021-09-27 12:50] smuzaffar commented on #35395
for sure I am not getting the point here :-) should the two outcome enough to cover all 4 of these
`PASS`: test was expected to pass and it passed OR test was expected to fail and it failed
`FAIL`: test was expected to pass but it failed OR test was expected to fail but it passed

e.g. following two should be parked as `PASS`
[code]
and following two should be parked as `FAIL`
[code]

Now if a tes

[2021-09-27 13:55] makortel opened #35426 "Using PluginDescription for VPSet leads to validation failure if the vector contains different plugins"
https://github.com/cms-sw/cmssw/pull/35385#issuecomment-927725483 shows that using a `PluginDescription` for vector of ParameterSets for different helper plugins along
[code]
leads to PSet validation to fail if the contained PSets point to different helper plugins.

[2021-09-27 13:55] makortel commented on #35426
assign core

[2021-09-27 13:55] cmsbuild commented on #35426
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-27 13:55] cmsbuild commented on #35426
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-27 14:01] makortel commented on #35426
I think this happens because
* `addVPSet()` takes one `ParameterSetDescription` as a common validation template https://github.com/cms-sw/cmssw/blob/c1cb2f142a0d5a0f70961eb8102da9ff87d6b1a5/FWCore/ParameterSet/interface/ParameterSetDescription.h#L148-L151
* VPSet validation uses the same `ParameterSetDescription` object to validate each element https://github.com/cms-sw/cmssw/blob/c1cb2f142a0d5a0f

[2021-09-27 14:09] srimanob commented on #33004
+Upgrade

[2021-09-27 14:12] srimanob commented on #33004
@cms-sw/pdmv-l2
I believe this issue can be closed,  https://github.com/cms-sw/cmssw/issues/32756#issuecomment-824831837

[2021-09-27 15:54] bbilin commented on #33004
+1

[2021-09-27 15:55] cmsbuild commented on #33004
This issue is fully signed and ready to be closed.

[2021-09-27 17:08] cmsbuild commented on #35416
The cleanup has started for slc7_amd64_gcc700

[2021-09-27 17:08] #35416 closed

[2021-09-27 17:08] cmsbuild commented on #35416
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_29-slc7_amd64_gcc700/1787

[2021-09-27 17:08] cmsbuild commented on #35416
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_29-slc7_amd64_gcc820/1788

[2021-09-27 19:07] wddgit commented on #35426
We discussed this at the Core meeting today.

Here is the documentation for configuration validation with plugin helpers:

https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideConfigurationValidationAndHelp#A_Plugin_Module_Using_Another_He

Here are a couple initial comments.

1. The current design does not support putting helper plugin ParameterSets into VPSet's. This is not a bug. This is the o

[2021-09-28 00:31] #33004 closed

[2021-09-28 09:14] fabiocos commented on #28479
I am not aware of recent (or even not so recent) uses of the simulation-based time smearing in MTD performance studies. Nowadays we have a reasonable simulation of MTD which allows us to reconstruct timing from the expected behaviour of the detector, without relying on the MC truth to assign time to the vertices.

As far as I can see, removing TrackTimeValueMapProducer implies cleaning RecoVertex/

[2021-09-28 09:49] ggovi commented on #33989
Finally found a different approach:
https://github.com/cms-sw/cmssw/pull/35442

[2021-09-28 10:50] fabiocos commented on #28479
phase2_timing is also used independently by ECAL as far as I can see, so even if the trackTimeValueMapProducer is removed it might not become completely obsolete

[2021-09-28 13:36] Dr15Jones commented on #34873
@nsmith- we need further feedback from you to understand what changes could be done to still work with your use case.

[2021-09-28 13:46] civanch commented on #35094
@fabferro , @clemencia , is there progress?

[2021-09-28 13:54] nsmith- commented on #34873
I'm a bit puzzled how it is _all_ files, because empirically we never see any pileup files in our monitoring that receives these messages. Is it possibly related to the thread safety issues of the existing implementation?
For the sake of rucio popularity we really only need a record of each file use (i.e. one record per LFN per job), the single and vector read statistics would likely still be inte

[2021-09-28 13:56] Dr15Jones commented on #34873
@nsmith-

Although only 1 file name is reported, the statistics (e.g. bytes read) are actually the accumulated statistics for ALL ROOT files being used in the job.

[2021-09-28 13:58] nsmith- commented on #34873
And I assume reporting the isolated statistics per file is more challenging?

[2021-09-28 14:05] srimanob commented on #28479
@cms-sw/ecal-dpg-l2
Do I understand correctly that ECAL uses `phase2_timing` but independently from MTD part, i.e. uses for ECAL timing but no need of MTD information?

@kdlong @juska Could you please comment on above question by @fabiocos

Thanks.

[2021-09-28 14:12] Dr15Jones commented on #34873
I think part of the problem is a misinterpretation of the sent information. The info is not a 'per file' message, it is instead a snapshot of the accumulated state of the job at that instant in time. For the UDP message, that state is an arbitrary time. For the statistic sender service it is when the primary file was closed.

It seems now the request is to also send information when secondary/embe

[2021-09-28 14:21] nsmith- commented on #34873
I see, I didn't realize it was an accumulated statistic over the duration of the job. I guess since there is a `unique_id` field one can track job progress from these and only analyze the last such record received to not double-count in any analysis of these statistics. In this case, it should be fine to just send messages more often, i.e. when any secondary/embedded file is closed. For file popul

[2021-09-28 14:22] Dr15Jones commented on #34873
@bbockelm what was your intent when you added the CondorStatusService and StatisticsSenderService?

[2021-09-28 14:53] Dr15Jones commented on #34873
So it looks like the StatisticsSenderService has three pieces of information that would need to be handled differently if we report more than just the primary file. These are _file_lfn_ , _server_host_ , and _server_domain_ .

It seems like we already have a problem. Right now the XrdAdaptor::RequestManager appears to change the _server\_\*_ information when ever ANY file changes its server. So ri

[2021-09-28 15:16] juska commented on #28479
I have no idea, maybe Kenneth does but he's on vacation this week.
Should we ask somebody from ECAL maybe?

On 9/28/21 4:06 PM, Phat Srimanobhas wrote:

[2021-09-28 15:18] srimanob commented on #28479
Hi @juska
Oh, I mean the question on keeping `trackTimeValueMapProducer`
https://github.com/cms-sw/cmssw/issues/28479#issuecomment-929008175

Sorry for my quick text, and make confusion.

[2021-09-28 15:21] juska commented on #28479
Ok thanks for the clarification @srimanob . Unfortunately I still don't have an educated opinion. Maybe we should wait for @bendavid to respond.

[2021-09-28 15:32] bendavid commented on #28479
I could imagine that the "fast sim" approach might still be useful for debugging purposes (ie comparing "realistic" vs "ideal" timing information for input to 4d vertexing or other downstream algorithms), though I'm not aware of any use along these lines recently.

[2021-09-28 15:52] kskovpen opened #35453 "Failure in 12_1_0_pre2 release validation for ROOT624"
Hello,

We see the failures of this sort:

[code]

happening at the DQMIO step during the 12_1_0_pre2 release validation. More info: https://cms-unified.web.cern.ch/cms-unified/showlog/?search=CMSSW_12_1_0_pre2_ROOT624__fullsim_noPU_2021_14TeV-QCD_Pt_1800_2400_14-00001

@jfernan2 has already pointed out that it might be related to these lines: https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc

[2021-09-28 15:52] cmsbuild commented on #35453
A new Issue was created by  @kskovpen .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-28 15:55] makortel commented on #35453
assign dqm

[2021-09-28 15:56] cmsbuild commented on #35453
New categories assigned: dqm

@emanueleusai,@jfernan2,@pbo0,@rvenditti,@ahmad3213,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-28 15:58] makortel commented on #35453
Here are some earlier incarnations of a similar problem https://github.com/cms-sw/cmssw/issues/27472, https://github.com/cms-sw/cmssw/issues/32142

[2021-09-28 15:58] perrotta commented on #35453
@davidlange6

[2021-09-28 15:58] Dr15Jones commented on #35453
So the x labels appear to be the module labels in a path
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/DQMOffline/Trigger/plugins/HLTFiltersDQMonitor.cc#L198-L208

I have definitely seen that when people build Paths, they have the same module appear multiple times within a Path (the framework will only run it the first time in the path).

[2021-09-28 16:04] clemencia commented on #35094
I have a branch http://github.com/clemencia/cmssw/tree/RPDigiProducer_esConsumes that compiles but I have difficulties testing that it runs correctly (related to 2016 configuration). I get the exception ProductNotFound ( and I think it is because I don't have g4SimHits in the totem strips.)

[code]

[2021-09-28 16:20] jfernan2 commented on #35453
Adding  Egamma HLT DQM And Validation Code Developer(s):
@sushilchauhan @gomber @arunhep @swagata87 @lfinco @swagata87
@archiron @beaudett @cmkuo @nancymarinelli @guitargeek

[2021-09-28 16:31] nancymarinelli commented on #35453
Hello
and what the failure would be ??
You talk about HLS and Validation code. Can you restrict the field ?

It would be possibly helpful .......
Nancy

________________________________________
Nancy Marinelli
Research Professor
University of Notre Dame, IN, US
CERN, Bdg 40/3-A01, 1211 Geneva
SWITZERLAND
Phone +41-22-76-70809
fax +41-22-76-78940

On 28.09.21 18:21, jfernan2 wrote:

[2021-09-28 16:35] jfernan2 commented on #35453
@nancymarinelli please read the thread above in github, not in the email

[2021-09-28 16:49] swagata87 commented on #35453
trying to tag the other EGM-HLT convenor @ram1123

[2021-09-28 17:35] makortel commented on #35453
(following the discussion in core sw meeting) One difference wrt. the earlier cases (that were caught in IBs) is that earlier the failing workflow was 137.8 on 2018 data, whose last step is HARVESTING that merges two DQMIO files.

[2021-09-28 20:44] jbsauvan commented on #31061
The migration for HGCAL trigger modules is done in #35459

[2021-09-29 07:03] smuzaffar opened #35463 "[UBSAN][ALCA] unit tests failed due to uninitialization"
A unit test `EcnaCalculationsExample` in package `CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos` failed with error [a]. Looks like the data meber `fCnaParCout` used https://github.com/cms-sw/cmssw/blob/master/CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/src/TEcnaRun.cc#L249 is only initialized after the `Init()` call https://github.com/cms-sw/cmssw/blob/master/CalibCalorimetry/EcalCorrela

[2021-09-29 07:03] smuzaffar commented on #35463
assign alca

[2021-09-29 07:03] cmsbuild commented on #35463
New categories assigned: alca

@francescobrivio,@tvami,@malbouis,@yuanchao you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-29 07:03] cmsbuild commented on #35463
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-29 08:56] missirol commented on #35453
Thanks for the hints. Indeed, I overlooked this when I wrote that piece of DQM. I tried to implement a fix in https://github.com/cms-sw/cmssw/pull/35467.

[2021-09-29 09:08] smuzaffar commented on #33377
+core
this has been done via  cms-sw/cmsdist#6799

[2021-09-29 09:08] #33377 closed

[2021-09-29 09:09] cmsbuild commented on #33377
This issue is fully signed and ready to be closed.

[2021-09-29 09:53] smuzaffar commented on #35463
https://github.com/cms-sw/cmssw/pull/35470 should fix this issue

[2021-09-29 11:11] #33521 closed

[2021-09-29 12:47] tvami commented on #22454
Let me second this initiative, for example it would have been very nice for 35441

[2021-09-29 13:01] #35453 closed

[2021-09-29 13:22] fabiocos commented on #28479
@bendavid we have asked our UPSG contact to investigate whether there is any practical use of this nowadays, although I am not so sure about what mat be really learnt nowadays from a comparison with a MC-truth smearing based reconstruction.
I have a branch ready for the suppression of this class https://github.com/fabiocos/cmssw/commits/fc-timevaluemap but before proposing it I will wait for feedb

[2021-09-29 14:08] jfernan2 commented on #35453
+1
For the records

[2021-09-29 14:08] cmsbuild commented on #35453
This issue is fully signed and ready to be closed.

[2021-09-29 16:16] thomreis commented on #28479
The ECAL `phase2_timing` use is independent of the MTD as far as I understand. This was used for early studies of a timing layer by slicing ECAL and taking a time out of one of these slides. The corresponding producer is now obsolete and we will probably remove it as well.

[2021-09-29 19:58] #35463 closed

[2021-09-29 21:16] wddgit commented on #35426
After looking at this more closely I realized the previous comment wasn't correct and should be disregarded. The current version does support VPSets but with the restriction that all elements have the same plugin type. I submitted PR #35477 to remove that restriction.

Other kinds of VPSets must have all elements passing validation with the same ParameterSetDescription, but in this special case it

[2021-09-30 08:01] fabiocos commented on #28479
If I interpret correctly the comment of @thomreis about the ECAL contribution to ```phase2_timing```, that modifier could become completely obsolete

[2021-09-30 08:14] thomreis commented on #28479
At least we (ECAL) will not use it anymore, yes.

[2021-09-30 12:34] VinInn commented on #35376
run twice on gpu. Got:
[code]

[2021-09-30 13:58] makortel opened #35488 "Empty Trajectory exception in HLT step in many workflows"
(At least) 5 workflows fail in the HLT step with exception like below
[code]
* 11630.0: path `HLT_DoubleTrkMu_16_6_NoFiltersNoVtx_v1` module `HLT_DoubleTrkMu_16_6_NoFiltersNoVtx_v1` ([log](http://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_X_2021-09-30-1100/pyRelValMatrixLogs/run/11630.0_QCD_Pt_3000_3500_14TeV+2021+QCD_Pt_3000_3500_14TeV_TuneCUETP8M1_GenSimINPUT+Digi+Reco+HAR

[2021-09-30 13:58] makortel commented on #35488
assign hlt, reconstruction

[2021-09-30 13:58] cmsbuild commented on #35488
New categories assigned: hlt,reconstruction

@slava77,@Martin-Grunewald,@jpata,@missirol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-30 13:58] cmsbuild commented on #35488
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-30 13:58] makortel commented on #35488
https://github.com/cms-sw/cmssw/pull/35309 looks like a likely cause

[2021-09-30 14:17] dan131riley opened #35489 "buffer overflow in RecHitsSortedInPhi on NaN"
ASAN found a heap buffer overflow in `RecHitsSortedInPhi::RecHitsSortedInPhi()`, very likely because phi for the track was NaN, which doesn't sort well.
[code]

[2021-09-30 14:17] cmsbuild commented on #35489
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-30 14:19] makortel commented on #35489
assign hlt,reconstruction

[2021-09-30 14:19] cmsbuild commented on #35489
New categories assigned: hlt,reconstruction

@slava77,@Martin-Grunewald,@jpata,@missirol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-30 14:31] missirol commented on #35488
FYI @swagata87 (in case she has a guess on what the right fix is)

[2021-09-30 14:34] swagata87 commented on #35488
I am running `runTheMatrix.py -l 11630.0` to see if I can reproduce the issue,

I think I should have put a check like `if (!t.empty())` in
TrackingTools/TrajectoryFiltering/interface/MinHitsTrajectoryFilter.h before accessing `t.lastMeasurement()`

this is what I suspect.. checking..

[2021-09-30 14:54] missirol commented on #35489
@dan131riley @makortel how can i reproduce the issue? (forgive my ignorance here..)

[2021-09-30 15:42] swagata87 commented on #35488
I could reproduce the issue in `11630.0`,
applied a fix in `TrackingTools/TrajectoryFiltering/interface/MinHitsTrajectoryFilter.h`,
and reran `11630.0` w/o any problem this time

I'll check with other workflows reported here also (`11650.911, 11723.17, 13034.0, 13034.99`), and if all of them run fine then I will submit a bugfix PR with the fix.

The WFs are taking a long time to run, but I think I

[2021-09-30 15:43] slava77 commented on #35488
@vmariani @mmusich
this may be of interest to you

IIUC, @swagata87 is available to check the fit. Thank you.

[2021-09-30 15:51] slava77 commented on #35489
@vmariani @mmusich
please take a note

[2021-09-30 16:33] VinInn commented on #35376
this is for running only pixel tracking patatrack on GPU vs CPU (so Calo si always Legacy)
i.e.
[code]

[code]

[2021-09-30 17:10] VinInn commented on #35376
and with larger statistics
[code]

[2021-09-30 17:17] makortel commented on #35488
I could agree with that.

[2021-09-30 18:03] makortel commented on #32867
I'll assume this got fixed with https://github.com/cms-sw/cmssw/pull/35388. If not, we'll open a new issue.

[2021-09-30 18:03] makortel commented on #32867
+1

[2021-09-30 18:03] #32867 closed

[2021-09-30 18:03] cmsbuild commented on #32867
This issue is fully signed and ready to be closed.

[2021-09-30 18:07] makortel commented on #29412
@qliphy @perrotta Could you comment which release cycles are still considered active? (or are all those in the ORP spreadsheet such)

[2021-09-30 19:26] fwyzard commented on #35376
Please note that for running with a recent IB, you will need https://github.com/cms-sw/cmssw/pull/35497 .
Thanks to Vincenzo for reporting the problem and testing the fix.

[2021-09-30 19:32] fwyzard commented on #35376
I've finally tried it, and this comparison does not show *any* differences.
This is in line with the fact that the customisation uses the legacy pixel local reconstruction when running on the CPU, instead of the new SoA-based one.

[2021-10-01 00:17] qliphy commented on #29412
@makortel   For open cycles, you can refer to
https://indico.cern.ch/event/1019627/contributions/4292570/attachments/2225107/3768685/210413_ORP.pdf
+ 12_0_X and 12_1_X

And as discussed at ORP in Aug,
 7_1, 8_0, 9_3, 11_2 IBs have been removed.

We will update the ORP speadsheet later.

[2021-10-01 06:43] agrohsje commented on #35082
Dear @mkirsano, @SiewYan , lhapdf 6.4.0 including NNPDF 4.0 is now out. I would suggest to update cmsdist. Are you available?
This allows us to study the potential PDFs for Run 3 as well as a possible answer to the problem of thread safety.

[2021-10-01 07:07] mmusich commented on #35489
so... it took a lot of time to run in an ASAN_X build but this change:
[code]
seems to be able to remove the address sanitizer issues in step2 of wf. 11834.0.
Would it be acceptable for a PR?

[2021-10-01 07:14] VinInn commented on #35376
I have compared CMSSW_12_1_X_2021-09-23-2300 with CMSSW_12_1_SKYLAKEAVX512_X_2021-09-23-2300 on CPU
(Patatrack wf as above)

result:
[code]

[2021-10-01 07:23] VinInn commented on #35376
and here comparing cpu vs gpu in CMSSW_12_1_SKYLAKEAVX512_X_2021-09-23-2300 (for TK patatrack only)
[code]

[2021-10-01 07:46] VinInn commented on #35376
Maybe we should change the issue in "HLT Regression due to differences in floating point operation reassociation(and math-lib precision)"

[2021-10-01 07:58] VinInn commented on #35376
and here in CMSSW_12_1_SKYLAKEAVX512_X_2021-09-23-2300 comparing cmsRun with cmsRunVDT
[code]

[2021-10-01 09:48] VinInn commented on #35489
or
[code]

[2021-10-01 11:27] mmusich commented on #35489
as is , it does not compile.
[code]

the interface is:https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoTracker/TkHitPairs/interface/RecHitsSortedInPhi.h#L36

This, instead:

[code]
does compile and resolves the issue, though I observe some more warnings that were not before with the solution at https://github.com/cms-sw/cmssw/issues/35489#issuecomment-931966547

[c

[2021-10-01 11:56] VinInn commented on #35489
I think we should cure the cause not the symptoms..
1) understand how could be that the position of a HIT becomes NaN
2) eventually filter them out in filling the HitWIthPhi data structure

[2021-10-01 11:59] VinInn commented on #35489
HLT is full of those warning (even in MC). Again would be useful to understand their origin

[2021-10-01 12:15] mkirsano commented on #35082
Yes, OK

[2021-10-01 12:38] dan131riley commented on #35489
Definitely not, that was @VinInn trolling.  Preferences, in order best to least preferred:

1. fix the underlying cause--how are we even getting NaNs?
2. filter out NaNs in RecHitsSortedInPhi
3. modify the comparison function to sort NaNs in a consistent order (your first proposal)

Right out: anything with memcpy().

[2021-10-01 12:42] VinInn commented on #35489
Definitively not trolling.
That's the standard way to deal with NaN in comparison

v.

[2021-10-01 12:54] mmusich commented on #35489
@dan131riley :

I have difficulties to reconcile this what you wrote earlier:

Also I don't understand how

can be OK. I guess they still need to be put somewhere in the list.

[2021-10-01 12:56] VinInn commented on #35489
Hits with NaN (or other illness) do not require to be loaded in RecHitsSortedInPhi that is used to build Doublets for seeds.

[2021-10-01 13:13] makortel commented on #32502
In addition of reporting "LogWarning" and "LogError" style messages, https://github.com/cms-sw/cmssw/pull/35473 demonstrates a case where the job should really be terminated in case of "this should never happen" kind of logic error.

In https://github.com/cms-sw/cmssw/pull/35473#discussion_r719703601 @fwyzard suggested

whose performance implications we could try.

[2021-10-01 13:17] VinInn commented on #35489
I am uneasy with adding two ifs in the less operator...
The condition is indeed very rare: (not able to trap it yet)
maybe we just trap nan in the constructor of "HitWithPhi" and assign 0 (the logic is wrapping so assigning pi+eps will not help
at least is done once and not twice for each couple of hits..

[2021-10-01 13:29] VinInn commented on #35489
back to 1)

added
[code]

generated this
[code]

and see no error report
[code]

We can put a warning (or even an error) and see if ever triggers...

[2021-10-01 14:28] makortel commented on #31760
I see had forgotten to add one idea for "forcing `SwitchProducer` choice" (from a chat with @Dr15Jones some time ago). We could make each `SwitchProducer` instance configurable on choice, e.g. `setCase_("cuda")` or `forceCase_("cuda")` (in general in some cases being able to force a case instance-by-instance can make sense, e.g. different ways to run on CPU). To make it easy to set it for all `Swi

[2021-10-01 14:31] fwyzard commented on #31760
Would this be persisted across `edmConfigDump` or pickling/unpickling ?

[2021-10-01 14:35] makortel commented on #31760
Good question. My first thought is that it should be persistent in those ways, because it is set explicitly.

(maybe it should also be possible to unset it, e.g. passing `None` to those functions)

[2021-10-01 15:27] makortel commented on #34873
@nsmith- #35505 makes the secondary and embedded file closures to cause and UDP packet to be sent. The statistics are reset only on primary file closures (like currently). Can you comment if this is ok for the downstream that interprets the statistics? (the packet has timestamps for the beginning and end of the statistics collection period)

[2021-10-01 17:49] VinInn commented on #35489
is step2 reproducible?
I run again on a different release (and with 4 threads) and get a different output
[code]

[2021-10-01 19:27] perrotta opened #35508 "Build CMSSW_12_0_2"
Added updates for
- P5 data taking
- Geometry studies (do not affect standard productions)

[2021-10-01 19:28] cmsbuild commented on #35508
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-10-01 20:08] perrotta commented on #35508
+1

[2021-10-01 20:08] cmsbuild commented on #35508
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_0_X

[2021-10-01 20:08] cmsbuild commented on #35508
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-10-01 20:08] cmsbuild commented on #35508
The build has started for cc8_amd64_gcc9 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3193/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-01 20:08] cmsbuild commented on #35508
The build has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3194/console
CMSDIST Branch: [IB/CMSSW_12_0_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-01 20:11] cmsbuild commented on #35508
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3195/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-01 20:12] cmsbuild commented on #35508
The build has started for slc7_ppc64le_gcc9 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3196/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-01 20:20] cmsbuild commented on #35508
The build has started for slc7_amd64_gcc900 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3197/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-02 00:29] makortel commented on #31760
Based on https://github.com/cms-sw/cmssw/issues/31760#issuecomment-932279958 and https://github.com/cms-sw/cmssw/issues/31760#issuecomment-932286064 I crafted https://github.com/cms-sw/cmssw/pull/35510.

[2021-10-02 00:39] cmsbuild commented on #35508
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3198/console
CMSDIST Branch: [IB/CMSSW_12_0_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-02 01:42] cmsbuild commented on #35508
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-slc7_ppc64le_gcc9/3196
Some tests (

[2021-10-02 01:59] cmsbuild commented on #35508
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-cc8_ppc64le_gcc9/3195
Some tests ( ru

[2021-10-02 02:22] cmsbuild commented on #35508
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-slc7_amd64_gcc10/3194
Some tests ( ru

[2021-10-02 02:31] cmsbuild commented on #35508
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3199/console
CMSDIST Branch: [IB/CMSSW_12_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_0_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-02 02:44] cmsbuild commented on #35508
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-slc7_ppc64le_gcc9/3196

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-02 02:51] cmsbuild commented on #35508
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-cc8_ppc64le_gcc9/3195

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-10-02 02:55] cmsbuild commented on #35508
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-cc8_amd64_gcc9/3193
Some tests ( runThe

[2021-10-02 03:07] cmsbuild commented on #35508
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-slc7_amd64_gcc10/3194

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-02 03:42] cmsbuild commented on #35508
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-cc8_amd64_gcc9/3193

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-02 04:04] cmsbuild commented on #35508
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-slc7_amd64_gcc900/3197
Some tests (

[2021-10-02 04:52] cmsbuild commented on #35508
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-slc7_amd64_gcc900/3197

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-02 10:31] VinInn opened #35513 "Regression of ASAN build"
I have compared running a hlt menu on 1000 events
in
/cvmfs/cms-ib.cern.ch/week0/slc7_amd64_gcc10/cms/cmssw/CMSSW_12_1_ASAN_X_2021-09-29-2300
vs
/cvmfs/cms-ib.cern.ch/week0/slc7_amd64_gcc10/cms/cmssw/CMSSW_12_1_X_2021-09-29-2300

and results differs

for instance
error found are different

ASAN
[code]
Normal build
[code]

and hlt results as well
[code]

I do not think this was expected

[2021-10-02 10:31] cmsbuild commented on #35513
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-02 13:05] perrotta commented on #35508
Tests for the cc8_aarch64_gcc9 architecture were already failing in previous releases: it is not used in productions, and I wouldn't worry about it.

On the other hand, build does not seem to be concluded for cc8_aarch64_gcc9 (but how tests could get done, then?) and slc7_aarch64_gcc9. @smuzaffar @qliphy is there anything I can do to restart them? Or should we just forget them and upload all the r

[2021-10-02 13:22] cmsbuild commented on #35508
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-cc8_aarch64_gcc9/3198
Some tests ( ru

[2021-10-02 13:40] qliphy commented on #35508
cc8_aarch64_gcc9 build now gets finished.
slc7_aarch64_gcc9 build looks like to be still ongoing.

[2021-10-02 14:21] cmsbuild commented on #35508
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-slc7_aarch64_gcc9/3199
Some tests (

[2021-10-02 15:23] perrotta commented on #35508
upload all

[2021-10-02 15:24] cmsbuild commented on #35508
Queing Jenkins upload for slc7_amd64_gcc900

[2021-10-02 15:24] cmsbuild commented on #35508
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-10-02 15:24] cmsbuild commented on #35508
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-10-02 15:24] cmsbuild commented on #35508
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-10-02 15:24] cmsbuild commented on #35508
Queing Jenkins upload for cc8_amd64_gcc9

[2021-10-02 15:24] cmsbuild commented on #35508
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-10-02 15:24] cmsbuild commented on #35508
Queing Jenkins upload for slc7_amd64_gcc10

[2021-10-02 15:25] cmsbuild commented on #35508
The upload has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2071/console

[2021-10-02 15:25] cmsbuild commented on #35508
The upload has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2074/console

[2021-10-02 15:25] cmsbuild commented on #35508
The upload has started for cc8_amd64_gcc9 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2072/console

[2021-10-02 15:26] cmsbuild commented on #35508
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2073/console

[2021-10-02 15:26] cmsbuild commented on #35508
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2-cc8_aarch64_gcc9/2071

[2021-10-02 15:26] cmsbuild commented on #35508
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2-slc7_aarch64_gcc9/2074

[2021-10-02 15:26] cmsbuild commented on #35508
The upload has started for slc7_amd64_gcc900 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2076/console

[2021-10-02 15:26] cmsbuild commented on #35508
The upload has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2075/console

[2021-10-02 15:27] cmsbuild commented on #35508
The upload has successfully finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2-cc8_ppc64le_gcc9/2073

[2021-10-02 15:27] cmsbuild commented on #35508
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2077/console

[2021-10-02 15:28] cmsbuild commented on #35508
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2-slc7_amd64_gcc10/2075

[2021-10-02 15:28] cmsbuild commented on #35508
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2-slc7_amd64_gcc900/2076

[2021-10-02 15:28] cmsbuild commented on #35508
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2-slc7_ppc64le_gcc9/2077

[2021-10-02 15:40] cmsbuild commented on #35508
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2-cc8_amd64_gcc9/2072

[2021-10-02 15:44] cmsbuild commented on #35508
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-cc8_aarch64_gcc9/3198

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-10-02 15:56] perrotta commented on #35508
release-notes

[2021-10-02 15:57] cmsbuild commented on #35508
Generating release notes since CMSSW_12_0_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-10-02 15:57] cmsbuild commented on #35508
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_0_2 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_0_1 can be found at:

https://github.com/cms-sw/cmssw/re

[2021-10-02 16:06] cmsbuild commented on #35508
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_2

[2021-10-02 17:14] cmsbuild commented on #35508
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2-slc7_aarch64_gcc9/3199

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-02 17:34] tvami commented on #33989
+db
 * got resolved in https://github.com/cms-sw/cmssw/pull/35442

[2021-10-02 17:34] cmsbuild commented on #33989
This issue is fully signed and ready to be closed.

[2021-10-03 01:42] #33989 closed

[2021-10-03 08:47] VinInn opened #35516 "How to ensure consistency in the configuration of Heterogeneous Producers?"
Heterogeneous Producers (aka Switch Producers ) may be composed of device-dependent producers sharing little common code. This can have a variety of reasons besides a missing "Heterogeneous Framework":
1) the algorithms used on different devices may be very different due to specific device optimization
2) the Host version matches in the Switch Producer the "SoA" importer.

Some notable examples of

[2021-10-03 08:47] cmsbuild commented on #35516
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-03 08:51] VinInn commented on #35488
How this could ever be happened?
HLT is essentially broken. This kind of issue should be caught before merging!

[2021-10-03 09:42] VinInn commented on #35376
about regression in Pixel local reco: see https://hypernews.cern.ch/HyperNews/CMS/get/pixelOfflineSW/1587/2/1.html

[2021-10-03 12:53] VinInn commented on #35376
The fixes to make the GPU as close as possible to CPU for what concern Pixel Clusterizer produces these changes
[code]

The modification (channelThreshold to 1000 (actually is "wrong" on CPU, clusterThreshold lower by ONE electron) are well below the systematics due to the pixel detector behavior evolution even in a single run.
The fact that the rate of some triggers changes by more than 10% is an

[2021-10-04 03:50] nsmith- commented on #34873
Is there a marker to tell whether the current file is a primary file in the packet? If that's the case then at least it is possible to reconstruct the correct statistics, if I understand correctly.

[2021-10-04 07:10] jpata opened #35519 "Duplication of clusterizers for bricked pixels"
The following files were duplicated with minor modifications in https://github.com/cms-sw/cmssw/pull/35441.

- RecoLocalTracker/SiPixelClusterizer
  - plugins/PixelThresholdClusterizer.h -> plugins/PixelThresholdClusterizerForBricked.h
  - plugins/PixelThresholdClusterizer.cc -> pluginsPixelThresholdClusterizerForBricked.cc
- RecoLocalTracker/SiPixelRecHits
  - interface/PixelCPEGeneric.h -> inter

[2021-10-04 07:10] jpata commented on #35519
assign reconstruction

[2021-10-04 07:10] cmsbuild commented on #35519
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-04 07:11] cmsbuild commented on #35519
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-04 07:29] srimanob opened #35520 "cmsDriver with same options twice (e.g. procModifiers)"
Hi,

Could someone please remind if we have a discussion on using the same option more than one time in cmsDriver. For example, using `--procModifiers` twice,
`cmsDriver.py step3  -s RAW2DIGI:RawToDigi_pixelOnly,RECO:reconstruction_pixelTrackingOnly,VALIDATION:@pixelTrackingOnlyValidation,DQM:@pixelTrackingOnlyDQM --conditions auto:phase1_2021_dd4hep --datatier GEN-SIM-RECO,DQMIO -n 10 --eventcont

[2021-10-04 07:29] cmsbuild commented on #35520
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-04 07:31] rekovic commented on #27393
Looking again at the issue.
There should be no obvious reason why these conditions are being fetched as opposed to being part of a GT(s).
https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/L1Trigger/L1TMuon/python/simGmtStage2Digis_cfi.py#L23
https://github.com/cms-sw/cmssw/blob/8587c76d0a2ee041152b0c0ac289d851a13ef247/L1Trigger/L1TCalorimeter/python/simDigis_cff.py#L49

[2021-10-04 07:34] davidlange6 commented on #35520
Multiple occurrences of an option are supported by the parser used by cmsDriver to parse the command line options. Eg,

https://github.com/cms-sw/cmssw/blob/master/Configuration/Applications/python/Options.py#L123

So if you want the same option being specified more than once to track all occurrences, then the option parsing can do that.

[2021-10-04 07:42] Purva-Chaudhari opened #35522 "Ambiguity in boost erase_all usage"
According to the comments, boost::erase_all is being used to remove all whitespace using the syntax
```boost::erase_all(<string>, " \t");```

Usecase examples:
* [FWCore/Framework/src/EventSelector.cc](https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/FWCore/Framework/src/EventSelector.cc#:~:text=boost%3A%3Aerase_all(pathspecifier%2C%20%22%20%5Ct%22)%3B%20%20//%20whites

[2021-10-04 07:43] cmsbuild commented on #35522
A new Issue was created by  @Purva-Chaudhari .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-04 07:49] srimanob commented on #35520
Thanks @davidlange6
That is my point if we are OK to make `--procModifiers` in that way, or we see cons to make it.

[2021-10-04 07:57] smuzaffar commented on #35138
As suggested by @Dr15Jones during the Core SW meeting, now we filter out UBSAN runtime errors of type
[code]

[2021-10-04 07:58] #35069 closed

[2021-10-04 08:00] smuzaffar commented on #35010
[code]
are addressed by https://github.com/cms-sw/cmssw/pull/35521

[2021-10-04 08:15] smuzaffar commented on #35010
@cms-sw/l1-l2 , there are over 8K errors of type
[code]
this is because of https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc#L219 where we are converting `L1TUtmTriggerMenu*` to `esTriggerMenu*`. Looks like cmsw class https://github.com/cms-sw/cmssw/blob/master/CondFormats/L1TObjects/interface/L1TUtmTriggerMenu.h is copy of https://gitlab.cern.ch/cms-l1t-

[2021-10-04 08:26] smuzaffar commented on #35010
may be /esTriggerMenu can be templated and we can use `L1TUtmAlgorithm, L1TUtmCondition and L1TUtmScale` instead of `es*`

[2021-10-04 08:32] srimanob commented on #35520
I make a draft PR, in case of discussion
https://github.com/cms-sw/cmssw/pull/35523

[2021-10-04 09:07] swagata87 commented on #34097
Hi,
I tried to address this problem here
https://github.com/cms-sw/cmssw/pull/35524

this is still a draft PR because after fixing this issue, the debug mode uncovers more issues, which needs to be solved, in order to successfully run the workflows in debug mode. But in the meantime, tracking experts might want to check if my changes are okay to address the Gsf tracking assert issue.

[2021-10-04 12:45] makortel commented on #35520
assign operations

[2021-10-04 12:45] cmsbuild commented on #35520
New categories assigned: operations

@fabiocos,@perrotta,@qliphy,@davidlange6 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-04 12:47] makortel commented on #35513
assign core,hlt,reconstruction

[2021-10-04 12:48] cmsbuild commented on #35513
New categories assigned: core,hlt,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@Martin-Grunewald,@makortel,@jpata,@missirol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-04 12:49] makortel commented on #35513
I'm not sure if ASAN can impact (e.g. the order of) floating point computations, or if this should be interpreted as a symptom of some code reading from incorrect memory locations (that are still technically valid so ASAN doesn't catch those).

[2021-10-04 12:59] makortel commented on #35516
assign core, heterogeneous

[2021-10-04 12:59] cmsbuild commented on #35516
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@fwyzard,@makortel,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-04 12:59] jpata commented on #35488
Is there a test we can add in the short matrix to catch this early? As I understand, some of the short matrix wfs run HLT, so it's not clear to me why the tests fail.

[2021-10-04 13:05] jpata commented on #35488
Noting here that the culprit PR was signed by HLT. I'm happy to hear the suggestions of experts how we can improve test coverage to catch this early.

[2021-10-04 13:07] Martin-Grunewald commented on #35488
PR tests did not catch this bug, plain and simple. Some bugs are only uncovered by IB tests as they involve many more workflows/statistics.

[2021-10-04 13:10] VinInn commented on #35513
Maybe we should check offline reco: just to make sure is not a HLT only feature....

[2021-10-04 13:16] fwyzard commented on #35516
Ciao Vincenzo, I see two kinds of problems here:
  - cases where we deal with two modules that share the same code, or at least the same high-level interface, like the case of modules built using cusaCompat (or, looking ahead, Alpaka)
  - cases where we deal with two completely different modules, like the current pixel local reco modules

I've given some thought about solving the first case, but I

[2021-10-04 13:19] makortel commented on #35516
As of today additional PSets can be used to hold and propagate common parameters, although with the way that HLT is configured in ConfDB (or what I recall from that) a `refToPSet_` would need to be used, that would likely imply changes in how the parameters are specified in the relevant modules.

In the longer term with a portability technology, where the behavior of an EDModule for each backend i

[2021-10-04 13:25] makortel commented on #35522
assign core, dqm

[2021-10-04 13:25] cmsbuild commented on #35522
New categories assigned: core,dqm

@Dr15Jones,@smuzaffar,@emanueleusai,@jfernan2,@pbo0,@rvenditti,@makortel,@ahmad3213,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-04 13:29] makortel commented on #35522
I see the
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/FWCore/Framework/src/EventSelector.cc#L89-L96
was originally added in 7e5adf1ffdd5cc095df393fc91a7fcc29ee86511 but that didn't really help. I can't imagine why the intention would be "remove `" \t"`" and not "remove all spaces and tabs".

@Dr15Jones Would you have any other thoughts?

[2021-10-04 13:32] Dr15Jones commented on #35522
Not a clue as to what it is actually doing as apposed to what it was intended to do.

[2021-10-04 13:33] makortel commented on #35522
The DQM one in
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/DQMServices/StreamerIO/plugins/DQMStreamerReader.cc#L346-L355
was added in add3601f46b3 / 92abd55f8036c602dcbf6323cfb055c38f43e572 / #5441. That didn't really help either. I'd guess the intention would be to "remove all whitespace" and not `" \t"` specifically, but @cms-sw/dqm-l2 should confirm.

[2021-10-04 13:50] fwyzard commented on #35516
hi Matti,
taking it a step further, we could simply the configuration even more if we used a single EDProduct to hold multiple optional copies of a SoA-based data strucure:
  - each "heterogeneous" or "portable" (I do like the name!) variant (cpu, cuda, etc) produces the same type
  - this type has a map (or other similar solution) to keep track of multiple copies of the output data: on the host,

[2021-10-04 13:50] makortel commented on #35488
The list of failing workflows over IBs also suggests that there is some randomness there, possibly caused by running the DIGI step multithreaded (the DIGI step random number sequence for a given SIM event can change according to the EDM stream the SIM event gets processed by in the DIGI step, and that "stream assignment" can be affected e.g. my machine load).

[2021-10-04 13:50] makortel commented on #35488
Anyway, the fix has been merged, so closing the issue.

[2021-10-04 13:50] #35488 closed

[2021-10-04 14:06] VinInn commented on #35516
a portable datatype already exists
https://cmssdt.cern.ch/dxr/CMSSW/source/CUDADataFormats/Common/interface/HeterogeneousSoA.h#12

[2021-10-04 14:08] cmsbuild commented on #35508
The cleanup has started for slc7_aarch64_gcc9

[2021-10-04 14:08] cmsbuild commented on #35508
The cleanup has started for slc7_amd64_gcc900

[2021-10-04 14:08] cmsbuild commented on #35508
The cleanup has started for slc7_ppc64le_gcc9

[2021-10-04 14:08] cmsbuild commented on #35508
The cleanup has started for cc8_amd64_gcc9

[2021-10-04 14:08] cmsbuild commented on #35508
The cleanup has started for slc7_amd64_gcc10

[2021-10-04 14:08] #35508 closed

[2021-10-04 14:08] cmsbuild commented on #35508
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_2-cc8_aarch64_gcc9/1789

[2021-10-04 14:08] cmsbuild commented on #35508
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_2-cc8_ppc64le_gcc9/1791

[2021-10-04 14:08] cmsbuild commented on #35508
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_2-slc7_aarch64_gcc9/1792

[2021-10-04 14:08] cmsbuild commented on #35508
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_2-cc8_amd64_gcc9/1790

[2021-10-04 14:08] cmsbuild commented on #35508
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_2-slc7_amd64_gcc10/1793

[2021-10-04 14:08] cmsbuild commented on #35508
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_2-slc7_amd64_gcc900/1794

[2021-10-04 14:08] cmsbuild commented on #35508
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_2-slc7_ppc64le_gcc9/1795

[2021-10-04 14:23] VinInn commented on #35516
I think that "getting rid of the  explicit "from CUDA" and "to CUDA" modules" is something we should move to higher priority.
I agree that if  the CPU-module is a Legacy the only solution to guarantee a single configuration is that the code is properly modified to have a single  "driver-producer" (so Legacy-algo is not anymore strictly speaking "Legacy") that can fit in an Andrea-like solution

[2021-10-04 14:27] VinInn commented on #35513
I run reco on 200 events. Reco itself as much less error than HLT (only one event affected): but is different.

[code]

[2021-10-04 14:30] fwyzard commented on #35516
Yes, that is what I'm considering as a good starting point.

I would like to figure out wether to
  - avoid the duplication between `cms::cuda::host::unique_ptr<T>` and `std::unique_ptr<T>`, or maybe not; depends also on how we decide to handle different backends in the same job;
  - figure out if we should potentially have one copy per GPU (e.g. when running with 2x T4), or not;
  - make the list

[2021-10-04 15:23] jfernan2 commented on #35522
For the DQM case, I cannot guess if the intention was to remove both spaces and tabs or just a typo... the change was done way before I entered DQM.
My understanding is that only hltPaths are admitted as inputs and some non-empty characters might be given in the list of strings, so my question is: would something like this work?
boost::erase_all(hltPath, "\t");
boost::erase_all(hltPath, "");

and

[2021-10-04 16:26] tvami commented on #28812
+db
 * resolved in https://github.com/cms-sw/cmssw/pull/35517
 * intestingly I wrote ```resolves https://github.com/cms-sw/cmssw/issues/28812``` in the description of that PR but it didnt close this issue

[2021-10-04 17:03] makortel commented on #35516
Hi Andrea,

We tried that in the early days and the attempt at that time failed https://indico.cern.ch/event/746161/#18-evolution-of-the-heterogene (slide 4 in particular). I'm not saying it could not be done (I hope we're wiser now anyway), but at least we should not repeat the same mistakes.

I'm concerned of the coupling all device technologies (CUDA, ROCm, etc) in a single place. If done, such

[2021-10-04 17:28] makortel opened #35529 "CSCDigiValidation leads to an exception in TF1::AddToGlobalList"
Workflow 5.3 step 1 failed in CMSSW_12_1_X_2021-10-04-1300 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_X_2021-10-04-1300/pyRelValMatrixLogs/run/5.3_SingleMuPt100+SingleMuPt100FS+HARVESTFS/step1_SingleMuPt100+SingleMuPt100FS+HARVESTFS.log#/

[2021-10-04 17:29] makortel commented on #35529
assign dqm

[2021-10-04 17:29] cmsbuild commented on #35529
New categories assigned: dqm

@emanueleusai,@jfernan2,@pbo0,@rvenditti,@ahmad3213,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-04 17:29] cmsbuild commented on #35529
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-04 17:32] makortel commented on #35529
In earlier IB's I saw this
* CMSSW_12_1_X_2021-10-04-1100 workflows 135.2, 2018.9
* CMSSW_12_1_X_2021-10-03-2300 workflows 45.0, 250406.0
* CMSSW_12_1_X_2021-10-03-0000 workflows 1361.181, 1366.0, 25406.0
* CMSSW_12_1_X_2021-10-02-1100 workflow 30.0

[2021-10-04 17:33] makortel commented on #35529
It is not immediately clear to me which of PRs merged in CMSSW_12_1_X_2021-10-02-1100 could have caused this error.

[2021-10-04 17:55] Dr15Jones commented on #34873
I left the packet info exactly as it had been so as to not cause any problems with code reading those packets. Though I'd think it would be pretty easy to differentiate primary from pileup given pileup LNFs tend to have 'MinimumBias' in their name.

If you want something else done, please let us know. This information is not used in anyway by the framework so you can basically say what you want.

[2021-10-04 18:19] nsmith- commented on #34873
For pileup I agree, but if we also now catch secondary inputs (which, granted, do not ever get used in production jobs.. at least not yet) then it may be more difficult. It should be harmless to add a new field to the json, but I'll ping @vkuznet to confirm, since iirc he wrote the server daemon that parses these packets and injects them into the MONIT infrastructure.

[2021-10-04 18:25] dan131riley commented on #35529
Discussed in https://github.com/cms-sw/cmssw/pull/35329#issuecomment-932760674
PR https://github.com/cms-sw/cmssw/pull/35528

[2021-10-04 18:47] mmylly opened #35531 "Failing analyses report CPU efficiency higher than 100%"
In T2 FI HIP site we experience average CPU efficiency higher than 100% when jobs fail with an exit code "8021 - FileReadError".
We've observed these using the monit-grafana tool.

[2021-10-04 18:48] cmsbuild commented on #35531
A new Issue was created by  @mmylly Mikael Myllymki.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-04 19:07] makortel commented on #35531
Could you elaborate a little bit? E.g. are these jobs short or long? Does this observation have any further implications (that may be specific to T2_FI_HIP, or not)? Would you have links to job logs or reports in Grafana?

[2021-10-04 22:14] cvuosalo commented on #34206
This issue has been resolved. DD4hep workflow 11634.912 reads DD4hep geometry from the DB.

[2021-10-04 22:14] cvuosalo commented on #34206
+1

[2021-10-04 23:58] tvami commented on #30775
@smuzaffar is this among the plans? I think it would be very nice!

[2021-10-05 00:03] tvami commented on #32567
@jpata I think this was resolved in https://github.com/cms-sw/cmssw/pull/33105 so the issue can be closed, right?

[2021-10-05 00:11] tvami commented on #34206
@cms-sw/core-l2 please sign this issue, since it's been resolved. Thanks!

[2021-10-05 00:19] makortel commented on #34206
+core

[2021-10-05 00:20] cmsbuild commented on #34206
This issue is fully signed and ready to be closed.

[2021-10-05 01:21] #28812 closed

[2021-10-05 01:32] #34206 closed

[2021-10-05 02:03] makortel commented on #35516
After thinking this a bit more, I think a fundamental question here is "what does it mean if a consumer asks for a product `foo` on device _D_?" Does it mean that
1. a producer to produce `foo` in _D_ is run (as currently), or
2. a producer to produce `foo` in the "best available device" is run, and then `T` is transferred from that device to _D_ (if _D_ is not on that device)

In a system with 1.

[2021-10-05 06:52] jfernan2 commented on #35522
+1
Solved in https://github.com/cms-sw/cmssw/pull/35530

[2021-10-05 06:56] jfernan2 commented on #35529
+1
Solved in https://github.com/cms-sw/cmssw/pull/35528

[2021-10-05 06:56] cmsbuild commented on #35529
This issue is fully signed and ready to be closed.

[2021-10-05 08:06] smuzaffar commented on #30775
yes it is also on my to do list :-)

[2021-10-05 08:25] jpata commented on #32529
A kind ping on this. This is again coming up on https://github.com/cms-sw/cmssw/pull/35403, where the safe use of `tensorflow::Session` across threads is needed.
The question arises if we want to introduce `const_cast` also in that PR, or if this can be fixed at the CMSSW TF interface.

cc @vlimant @gkasieczka

[2021-10-05 08:47] jpata commented on #32567
+reconstruction

yes, thanks for the reminder.

[2021-10-05 08:47] #32567 closed

[2021-10-05 08:47] cmsbuild commented on #32567
This issue is fully signed and ready to be closed.

[2021-10-05 09:04] kirschen commented on #28283
Hi @tvami , not sure I got what ASAN stands for, but good to look into it. @laurenhay - would you mind taking a look?

[2021-10-05 11:48] lathomas commented on #35005
Hello @rekovic, could you take a look?

[2021-10-05 12:07] smuzaffar opened #35538 "[UBSAN] uninitiaized data member"
I am trying to debug the UBSAN errors [a] and I noticed that `EcalEBTrigPrimTestAlgo::theMapping_` is not initialized any where ( at least I can not find its ref any where in the cc file). @cms-sw/l1-l2 @cms-sw/upgrade-l2  any idea how this data member is suppose to initialize?

[a] https://cmssdt.cern.ch/SDT/jenkins-artifacts/ubsan_logs/CMSSW_12_1_X_2021-10-01-2300/
[code]

[2021-10-05 12:07] smuzaffar commented on #35538
assign l1,upgrade

[2021-10-05 12:07] cmsbuild commented on #35538
New categories assigned: upgrade,l1

@AdrianoDee,@srimanob,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-05 12:07] cmsbuild commented on #35538
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-05 12:11] smuzaffar commented on #35538
here is stacktrace for these errors
[code]

[2021-10-05 12:16] tvami commented on #28283
Address Sanitizer, I guess the correct spelling would be ASan :)

[2021-10-05 12:22] tvami commented on #34309
Hi @eyigitba what is the status of this issue? Has the source of the problem been resolved for test beam data? If not, have you had the chance to work out the proper solution (in the end I remembered this not 10 days later but 21 days later :P ) ? If not to that too, we should just submit the dirty solution of the commenting out the code asap...

[2021-10-05 12:23] tvami commented on #34309
assign alca
 * so that I dont forget about this

[2021-10-05 12:23] cmsbuild commented on #34309
New categories assigned: alca

@francescobrivio,@tvami,@malbouis,@yuanchao you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-05 12:36] eyigitba commented on #34309
Hi @tvami , I forgot to follow up on this. To my knowledge the situation is not fixed on the firmware side yet and since I haven't heard back from L1T offline software I doubt a permanent solution is already implemented in L1T unpackers. Should I submit a backport with the "dirty" solution for now?

[2021-10-05 12:39] tvami commented on #34309
:(

Yes please, thank you!

[2021-10-05 12:39] eyigitba commented on #34309
The backport will be to 12_0_X, right?

[2021-10-05 12:46] makortel commented on #35522
+1

[2021-10-05 12:46] cmsbuild commented on #35522
This issue is fully signed and ready to be closed.

[2021-10-05 12:46] #35529 closed

[2021-10-05 12:48] makortel commented on #32529
Umm, `tensorflow::Session` itself should be thread safe nowadays, no? I recall a `Session` object already being shared between streams / threads somewhere in reco.

[2021-10-05 13:34] jpata opened #35541 "Safe and efficient use of tensorflow in reco"
I'm checking the various producers to understand if the `tensorflow::GraphDef` and `tensorflow::Session` are used correctly, efficiently and coherently across reco modules:

- [TrackTfClassifier](https://github.com/cms-sw/cmssw/blob/9ab5533786e1e7ac2d85d6507a874129848aed0a/RecoTracker/FinalTrackSelectors/plugins/TrackTfClassifier.cc): GraphDef and Session owned by an [EventSetup](https://github.co

[2021-10-05 13:34] jpata commented on #35541
assign reconstruction

[2021-10-05 13:34] cmsbuild commented on #35541
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-05 13:34] cmsbuild commented on #35541
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-05 14:01] jpata commented on #32529
but sadly the Run() member function is not marked const. If we don't want to have mutable/const_cast in many places (with appropriate documentation that those are safe), perhaps a simple wrapper of our own could be worth it?

This was the discussion the last time. It looks to me that this could be implemented in https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/TensorFlow/src/TensorFlow.cc#

[2021-10-05 14:08] makortel commented on #32529
Thanks for the reminder and sorry for the noise (should have read the issue description more carefully...).

[2021-10-05 14:46] Dr15Jones commented on #35538
So the value for `theMapping` is never actually set in the class. It is defined here

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/SimCalorimetry/EcalEBTrigPrimAlgos/interface/EcalEBTrigPrimTestAlgo.h#L127

and used here

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/SimCalorimetry/EcalEBTrigPrimAlgos/src/EcalEBTrigPrimTestAlgo.cc#L1

[2021-10-05 14:51] Dr15Jones commented on #35538
So this appears to work at all (at least some of the times) becuase for barrel IDs, the function being called does not use any member data of the class.

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/Geometry/EcalMapping/src/EcalElectronicsMapping.cc#L532-L559

[2021-10-05 16:46] rovere commented on #34901
should we close this?

[2021-10-05 16:59] #34901 closed

[2021-10-05 17:06] tvami commented on #34309
unassign alca
 * now all the possible releases around (11_3, 12_0, 12_1, and future) have the dirty fix for this
 * we proposed a solution for long term in https://github.com/cms-sw/cmssw/issues/34309#issuecomment-908437144 about a month ago
 * from this on, there is no other AlCa interest in here, thanks @eyigitba for your responses and fixes

[2021-10-05 17:27] smuzaffar commented on #35538
hopefully https://github.com/cms-sw/cmssw/pull/35544 should fix this. I just initialized the `theMapping_` data member ( just like the one done here https://cmssdt.cern.ch/lxr/source/L1TriggerConfig/L1ScalesProducers/src/L1CaloEcalScaleConfigOnlineProd.cc#0052 )

[2021-10-05 18:19] slava77 commented on #34774
@jordan-martins
do we have feedback already from the fastsim UL pilots?
If the jobs are running fine, perhaps this issue can be closed.

[2021-10-06 08:56] perrotta opened #35552 "Build CMSSW_12_1_0_pre4"

[2021-10-06 08:57] cmsbuild commented on #35552
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-10-06 08:57] cmsbuild commented on #35552
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-10-06 08:58] cmsbuild commented on #35552
The build has started for slc7_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3209/console
CMSDIST Branch: [IB/CMSSW_12_1_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-06 08:59] cmsbuild commented on #35552
The build has started for slc7_amd64_gcc900 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3210/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-06 08:59] cmsbuild commented on #35552
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3211/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-06 09:22] cmsbuild commented on #35552
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3212/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-06 09:45] thomreis commented on #35538
Just initialising the member may make the UBSAN error go away but it will not give correct results neither. EcalElectronicsMapping should come from ES usually.

[2021-10-06 09:57] smuzaffar commented on #35538
thanks @thomreis for looking in to this.
As @Dr15Jones mentioned https://github.com/cms-sw/cmssw/issues/35538#issuecomment-934483643 that none of the EcalElectronicsMapping data members are accessed during the call to `theMapping_->getTriggerElectronicsId(dataFrames[0].id());`  that is why simple  initialization of the member ( as done in  #35544) will not introduce any changes and will hide the U

[2021-10-06 10:35] thomreis commented on #35538
Since this is a Phase 2 algo and there will be no endcap I guess this can stay with just a simple initialisation. The algo will be retired anyway once we have a proper TP emulation.

[2021-10-06 10:47] thomreis commented on #33425
@tvami this issue should be handled in #35557.

[2021-10-06 11:46] cmsbuild commented on #35552
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3213/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-06 12:53] tvami commented on #33425
assign db

[2021-10-06 16:14] cmsbuild commented on #35552
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre4-slc7_ppc64le_gcc9/3211

Tests results:
40 39 38 29 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-06 16:41] perrotta opened #35560 "Build CMSSW_12_1_0_pre4_ROOT624"

[2021-10-06 16:41] cmsbuild commented on #35560
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-10-06 16:41] perrotta commented on #35560
@smuzaffar

[2021-10-06 16:45] cmsbuild commented on #35560
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre4_ROOT624. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2021-10-06 16:45] cmsbuild commented on #35560
Queuing Jenkins build for the following architectures: slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2021-10-06 17:02] smuzaffar commented on #35560
@perrotta , every thing looks good for this build.
https://github.com/cms-sw/cmssw/issues/35560#issuecomment-936663168 and https://github.com/cms-sw/cmssw/issues/35560#issuecomment-936665670 shows that correct cmssw and cmsdist branches were used. Jenkins job is also using the correct cmsdist branch ( git checkout IB/CMSSW_12_1_X/rootnext ).

[2021-10-06 17:28] cmsbuild commented on #35552
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre4-slc7_amd64_gcc10/3209
Some tests

[2021-10-06 18:11] cmsbuild commented on #35552
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre4-slc7_amd64_gcc900/3210
Some tes

[2021-10-06 18:17] cmsbuild commented on #35552
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre4-cc8_amd64_gcc9/3208

Tests results:
40 39 38 29 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-06 18:18] cmsbuild commented on #35552
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre4-slc7_amd64_gcc10/3209

Tests results:
40 39 38 29 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-06 18:59] cmsbuild commented on #35552
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre4-slc7_amd64_gcc900/3210

Tests results:
40 39 38 29 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-06 19:26] mmylly commented on #35531
We examined this behaviour from the last months and noticed this clear correlation. We expect that these contain wide range of different analyses jobs. There's multiple occasions even during the past week as can be observed from Grafana [1].
When zooming to periods of unphysical cpu efficiency, the failure rate is really high and the main exit code is 8021.
Not sure if this is the right place to r

[2021-10-06 20:00] cmsbuild commented on #35552
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3215/console
CMSDIST Branch: [IB/CMSSW_12_1_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-06 20:01] cmsbuild commented on #35552
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3216/console
CMSDIST Branch: [IB/CMSSW_12_1_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_1_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-06 21:10] cmsbuild commented on #35560
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre4_ROOT624-slc7_amd64_gcc900/3214

[2021-10-07 07:17] smuzaffar opened #35565 "runTheMatrix.py `--command` option broken"
Looks like https://github.com/cms-sw/cmssw/pull/35263 change broke the `--command` option e.g the igprof jobs for 12.1.X are failing with error
[code]

Strange thing is that the following works

- `runTheMatrix.py -w upgrade -l 23434.21 --command ' -n 10 --profile pp'`
  which shows that `opt.command` is ` -n 10 --profile pp`

- `runTheMatrix.py -w upgrade -l 23434.21 --command='-n 10 --profile pp

[2021-10-07 07:17] smuzaffar commented on #35565
FYI @srimanob

[2021-10-07 07:28] smuzaffar commented on #35565
FYI @ddaina

[2021-10-07 07:45] smuzaffar commented on #35565
I think issue is with `argparse` ( https://github.com/cms-sw/cmssw/pull/35263/files#diff-d025624692806aeb382410b51b6bb2e5c5e783710d03f4c3f41400e6cce40310R107 )

[2021-10-07 10:18] perrotta commented on #35552
By the way @smuzaffar @ddaina I don't see the logs in https://github.com/cms-sw/cmssw/issues/35552#issuecomment-937023994 and https://github.com/cms-sw/cmssw/issues/35552#issuecomment-937024362 being updated any more.
Were those two builds actually restared? Where I can find the logs?

[2021-10-07 13:16] belforte commented on #35531
there's been instances in the past where the scripts feeding info to Grafana were not taking proper account of multiple core usage, thus leading to >100% CPU efficiency numbers. I thought it was fixed though.
And indeed correlation with a particular CMSSW exit code is hard to rationalize.
I suggest to hand the problem over to CMS Computing Monitoring people and have them dig out a couple of specif

[2021-10-07 13:58] hqucms opened #35574 "Default python version in CMSSW_12_X"
As I understand, from CMSSW_12_X the python2 support has been dropped. However, it seems that if one just runs `python` after setting up CMSSW, it still points to python2.7 instead of python3 (at least in `CMSSW_12_1_X_2021-10-05-2300` that I tried). Wouldn't it make more sense to make the default python to be python3?

[2021-10-07 14:03] makortel commented on #35574
assign core

[2021-10-07 15:16] ChrisMisan commented on #35012
@jan-kaspar

I checked the code in TotemSampicFrame.h and it seems that the error descriptions are pretty accurate, there are multiple read operations from unaligned pointer addresses. In cpp array data is aligned according to it's elements size and one can't move a pointer few bytes forward and start reading data with different alignment, in case of line 128:

- totemSampicInfoPtr_ is pointing to

[2021-10-07 16:05] cmsbuild commented on #35552
Queing Jenkins upload for slc7_amd64_gcc900

[2021-10-07 16:06] cmsbuild commented on #35552
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-10-07 16:07] cmsbuild commented on #35552
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2086/console

[2021-10-07 16:10] cmsbuild commented on #35560
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre4_ROOT624-slc7_amd64_gcc900/2091

[2021-10-07 16:16] cmsbuild commented on #35552
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_1_0_pre4-cc8_aarch64_gcc9/3215
Some tests

[2021-10-07 16:22] cmsbuild commented on #35552
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_1_0_pre4-slc7_amd64_gcc900/2089

[2021-10-07 16:49] cmsbuild commented on #35552
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_1_0_pre4 is now available for the following architectures:

slc7_amd64_gcc900 (production)
cc8_amd64_gcc9
cc8_aarch64_gcc9
slc7_aarch64_gcc9
cc8_ppc64le_gcc9
slc7_amd64_gcc10
slc7_ppc64le_gcc9

The release notes of what changed with respect to CMSSW_12_1_0_pre3 can be found at:

https://github.com/cms-

[2021-10-07 16:56] perrotta commented on #35560
release-notes "CMSSW_12_1_0_pre4"

[2021-10-07 17:03] perrotta commented on #35560
release-notes since CMSSW_12_1_0_pre4

[2021-10-07 17:04] cmsbuild commented on #35560
ATTENTION!!! The production architecture (slc7_amd64_gcc820) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2021-10-07 17:47] Dr15Jones opened #35578 "FFTJet* modules still needed?"
The FFTJetProducer, FFTJetPileupProcessor, FFTJetCorrectorDBReader,  and FFTJetCorrectionProducer modules are thread unsafe, do not use esConsumes and still inherit from the legacy modules. A quick check on FFTJetProducer and FFTJetCorrectionProducer did not show up any instances of configurations using the modules.

[2021-10-07 17:47] cmsbuild commented on #35578
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-07 18:01] slava77 commented on #35578
@igv4321
please take a note of this issue and perhaps comment.
One option is to modernize the code, the other is to remove.

@Dr15Jones is this urgent for the core group?

[2021-10-07 18:05] davidlange6 commented on #35574
I guess the master branch of cmssw no soon longer define "python" (this is already true in the devel branch). Then the question becomes if we want cmssw to behave differently than the os. Personally I don't think cmssw should behave differently than standards

At least on the cern systems:

On centos7: python->python2
On centos8: python -> nothing.

[2021-10-07 18:11] makortel commented on #35578
Since they appear to be unused, these are not urgent, but they would be good to be addressed in some way within the next months.

[2021-10-07 18:37] Dr15Jones commented on #35578
@slava77 for perspective, the package and things using it are generating something like 400+ warnings in the CMSDEPRECATED IB, which is more than 10% of all warnings.

[2021-10-07 20:48] smuzaffar commented on #35560
release-notes since CMSSW_12_1_0_pre4

[2021-10-07 20:51] cmsbuild commented on #35560
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_1_0_pre4_ROOT624 is now available for the following architectures:

slc7_amd64_gcc900 (production)

The release notes of what changed with respect to CMSSW_12_1_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_1_0_pre4_ROOT624

Cheers,
cms-bot

You can also click <a href="mail

[2021-10-07 20:56] cmsbuild commented on #35560
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre4_ROOT624

[2021-10-07 20:57] cmsbuild commented on #35560
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_1_0_pre4_ROOT624

[2021-10-07 21:00] smuzaffar commented on #35560
@perrotta , bot was not able to find the correct arch for the release that is why you get the message https://github.com/cms-sw/cmssw/issues/35560#issuecomment-937986175 .

[2021-10-08 07:33] smuzaffar commented on #34000
@davidlange6 , @vgvassilev we still have around 80 workflows failing due to this
[code]

[2021-10-08 07:45] jpata opened #35583 "CHS/Puppi vertex unification follow-up"
At the PPD meeting on October 7, some unexpected changes were reported in the JP b-tagger [1] going from 12_1_0_pre2->pre3.
A possible culprit PR could be #33885, where the track-vertex association was modified.
@arizzi has left some [comments](https://github.com/cms-sw/cmssw/pull/33885#issuecomment-937757018) on the original PR.

Additionally, the following points were brought up by Andrea (pleas

[2021-10-08 07:45] jpata commented on #35583
assign reconstruction

[2021-10-08 07:45] cmsbuild commented on #35583
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-08 12:50] jpata opened #35586 "Issues with ALCA and DQM modules on the MC express stream"
As discussed in the Joint PPD/TRG/O&C Ops Meeting last week and today: https://indico.cern.ch/event/1083099/, there was a request to establish a throughput estimate for the express stream.
However, we are not successful in running the express configuration on MC, it looks like a problem with ALCA and DQM.

## Attempt 1
Taking the ALCA modules from https://github.com/dmwm/T0/blob/master/etc/ProdOff

[2021-10-08 12:50] cmsbuild commented on #35586
New categories assigned: dqm,alca

@jfernan2,@ahmad3213,@yuanchao,@rvenditti,@emanueleusai,@francescobrivio,@pbo0,@malbouis,@tvami,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-08 13:03] mmusich commented on #35586
The issue with AlCa is just lack of the Express AlCaRecoTriggerBits in MC. That's a combination that was  never contemplated before.

[2021-10-08 13:24] makortel commented on #35541
I don't see any reason why that should be `std::atomic`. The `graph_def` is written to exactly once (`initializeGlobalCache()`), then read once per stream (in `edm::stream` module constructor, that are guaranteed to be called serially), and finally destructed once (`globalEndJob()`).

The variable could easily be `std::unique_ptr<tensorflow::GraphDef>`, and given that `tensorflow::createSession()`

[2021-10-08 13:35] Dr15Jones commented on #35541
If the `GraphDef` doesn't need to be changed after it is created, then just a `std::unique_ptr<const tensorflow::GraphDef>` would work.

[2021-10-08 15:43] smuzaffar commented on #35574
in this case, one is using cms provided tools/externals (and as we only support python3 for 12.1.X) so they should migrate to python3 or follow the trick david mentioned to above.

[2021-10-08 17:06] tvami commented on #35586
Hi All,

We've created a new GT: 121X_mcRun3_2021_realistic_forpp900GeV_v2
I tested it with the recipe from above and now I only see the DQM problem.
More info in
https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/4485/2/1/1.html

[2021-10-08 21:55] cvuosalo commented on #33712
+1

[2021-10-08 21:56] #33712 closed

[2021-10-09 01:22] makortel opened #35596 "Failures in 23434.9921 and 34834.9921 workflows"
Workflows 23434.9921 and 34834.9921 fail in step6 in CMSSW_12_1_X_2021-10-08-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_X_2021-10-08-1100/pyRelValMatrixLogs/run/23434.9921_TTbar_14TeV+2026D49PU_PMXS1S2ProdLike+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+PREMIX_PremixHLBeamSpot14PU+DigiTriggerPU+RecoGlobalPU+MiniAODPU+NanoPU/step6_TTbar_14TeV+2026D49P

[2021-10-09 01:23] cmsbuild commented on #35596
New categories assigned: upgrade,xpog

@mariadalfonso,@AdrianoDee,@gouskos,@srimanob,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-09 06:36] srimanob commented on #35596
Thanks for reporting @makortel @qliphy

The issue comes from the wrong input to the nano step.
[code]

Nano step handles inputs from either (1) Mini from the same step as RECO or (2) Mini as a separated step. So, we specify clearly in the  Nano step which input should be picked. In this failure, it is the case (2). However, workflow .9921 have an additional step in the beginning to make a mixing l

[2021-10-09 14:23] tvami commented on #35586
+alca
 * I believe this is resolved from the AlCa point of view, let us know if you need further action from our side

[2021-10-09 14:53] cmsbuild commented on #35552
The cleanup has started for slc7_aarch64_gcc9

[2021-10-09 14:53] cmsbuild commented on #35552
The cleanup has started for cc8_ppc64le_gcc9

[2021-10-09 14:53] cmsbuild commented on #35552
The cleanup has started for slc7_ppc64le_gcc9

[2021-10-09 14:53] cmsbuild commented on #35552
The cleanup has started for cc8_amd64_gcc9

[2021-10-09 14:53] cmsbuild commented on #35552
The cleanup has started for slc7_amd64_gcc10

[2021-10-09 14:53] cmsbuild commented on #35552
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre4-cc8_ppc64le_gcc9/1805

[2021-10-09 14:53] cmsbuild commented on #35552
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre4-cc8_amd64_gcc9/1804

[2021-10-09 14:53] cmsbuild commented on #35552
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre4-slc7_amd64_gcc10/1807

[2021-10-09 14:53] cmsbuild commented on #35552
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre4-slc7_ppc64le_gcc9/1809

[2021-10-09 18:53] #35560 closed

[2021-10-09 18:53] cmsbuild commented on #35560
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre4_ROOT624-slc7_amd64_gcc900/1810

[2021-10-10 02:02] qliphy opened #35601 "Failure in workflow 1041.0"
CMSSW_12_1_X_2021-10-09-1100  shows failure in  workflow 1041.0
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_X_2021-10-09-1100/pyRelValMatrixLogs/run/1041.0_RunExpressPhy2017F+RunExpressPhy2017F+TIER0EXPPPSCAL+ALCASPLITPPSCAL+ALCAHARVDPPSCAL/step4_RunExpressPhy2017F+RunExpressPhy2017F+TIER0EXPPPSCAL+ALCASPLITPPSCAL+ALCAHARVDPPSCAL.log#/19-19

ALCAHARVEST:PPSTimingCalib

[2021-10-10 02:03] cmsbuild commented on #35601
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-10 02:03] qliphy commented on #35601
This is due to https://github.com/cms-sw/cmssw/pull/35556
I could reproduce the error with CMSSW_12_1_X_2021-10-08-2300 + #35556

@ggovi

[2021-10-10 02:04] cmsbuild commented on #35601
New categories assigned: db

@ggovi,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-10 06:58] qliphy opened #35603 "Build CMSSW_11_2_5_patch1"

[2021-10-10 06:58] cmsbuild commented on #35603
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-10-10 06:58] cmsbuild commented on #35603
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_2_5_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_2_X

[2021-10-10 07:01] cmsbuild commented on #35603
The build has started for slc7_ppc64le_gcc9 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3217/console
CMSDIST Branch: [REL/CMSSW_11_2_5/slc7_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_5/slc7_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-10 07:03] cmsbuild commented on #35603
The build has started for slc7_amd64_gcc900 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3218/console
CMSDIST Branch: [REL/CMSSW_11_2_5/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_5/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-10 07:55] cmsbuild commented on #35603
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5_patch1-slc7_ppc64le_gcc9/3217
Some t

[2021-10-10 08:35] cmsbuild commented on #35603
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5_patch1-slc7_amd64_gcc900/3218

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-10 08:50] cmsbuild commented on #35603
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5_patch1-slc7_ppc64le_gcc9/3217

Tests results:
36 35 34 25 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-10 09:09] cmsbuild commented on #35601
This issue is fully signed and ready to be closed.

[2021-10-10 11:56] qliphy commented on #35603
upload all

[2021-10-10 11:56] cmsbuild commented on #35603
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-10-10 11:58] cmsbuild commented on #35603
The upload has started for slc7_amd64_gcc900 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2093/console

[2021-10-10 11:59] cmsbuild commented on #35603
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2094/console

[2021-10-10 12:00] cmsbuild commented on #35603
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_5_patch1-slc7_ppc64le_gcc9/2094

[2021-10-10 12:16] qliphy commented on #35603
release-notes

[2021-10-10 12:17] cmsbuild commented on #35603
Generating release notes since CMSSW_11_2_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2021-10-11 06:14] #35596 closed

[2021-10-11 08:55] cmsbuild commented on #35603
The build has started for slc7_aarch64_gcc9 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3219/console
CMSDIST Branch: [REL/CMSSW_11_2_5/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_11_2_5/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-11 10:33] cmsbuild commented on #35603
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_2_5_patch1-slc7_aarch64_gcc9/3219
Some t

[2021-10-11 10:34] cmsbuild commented on #35603
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-10-11 10:37] cmsbuild commented on #35603
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_2_5_patch1-slc7_aarch64_gcc9/2095

[2021-10-11 10:56] mariadalfonso commented on #34136
+xpog

[2021-10-11 12:07] iarspider opened #35607 "[UBSAN] 'value' may be used uninitialized in GBRForestTools.cc"
[UBSAN](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc10/CMSSW_12_1_UBSAN_X_2021-10-08-2300/CommonTools/MVAUtils)

[code]

[source](https://github.com/cms-sw/cmssw/blob/master/CommonTools/MVAUtils/src/GBRForestTools.cc#L159-L163)

Maybe check return values of all `QueryFooAttribute` calls - just in case the XML format changes?

[2021-10-11 12:11] iarspider commented on #35607
assign reconstruction

[2021-10-11 17:12] mmusich commented on #34607
this can be signed and closed, right?

[2021-10-11 17:23] jfernan2 commented on #34607
+1

[2021-10-11 18:43] #34607 closed

[2021-10-11 22:28] abhih1 commented on #35037
@mmusich I have just submitted this PR for this error: https://github.com/cms-sw/cmssw/pull/35613. Please have a look.

[2021-10-12 10:23] cmsbuild commented on #35603
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_2_5_patch1-slc7_aarch64_gcc9/1811

[2021-10-12 11:38] iarspider opened #35621 "[TSAN] warning: 'muonPosition' may be used uninitialized in this function in PATMuonProducer.cc"
[Log file](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc10/CMSSW_12_1_TSAN_X_2021-10-08-1100/PhysicsTools/PatAlgos)
[code]

[2021-10-12 11:38] cmsbuild commented on #35621
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-12 11:39] iarspider commented on #35621
assign reconstruction

[2021-10-12 13:40] iarspider opened #35624 "[GPU] 11634.X RelVal failures during processing of Python configuration"
[Example log file](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_GPU_X_2021-10-11-2300/pyRelValMatrixLogs/run/11634.502_TTbar_14TeV+2021_Patatrack_PixelOnlyGPU+TTbar_14TeV_TuneCP5_GenSimINPUT+Digi+Reco+HARVEST/step2_TTbar_14TeV+2021_Patatrack_PixelOnlyGPU+TTbar_14TeV_TuneCP5_GenSimINPUT+Digi+Reco+HARVEST.log#/)

[code]

Only occurs in GPU IBs

[2021-10-12 13:43] makortel commented on #35624
assign heterogeneous

[2021-10-12 19:52] makortel commented on #35624
I should have a fix in #35630.

[2021-10-12 21:26] francescobrivio opened #35634 "Crash in `visualization` DQM clients during SPLASH test"
A crash in the vizualization DQM clients was reported by @pmandrik during the SPLASH test. The clients crashing are:
[visualization-live_cfg.py](https://github.com/cms-sw/cmssw/blob/master/DQM/Integration/python/clients/visualization-live_cfg.py)
[visualization-live-secondInstance_cfg.py](https://github.com/cms-sw/cmssw/blob/master/DQM/Integration/python/clients/visualization-live-secondInstance_c

[2021-10-13 01:05] qliphy opened #35636 "Build CMSSW_11_1_9"

[2021-10-13 01:06] cmsbuild commented on #35636
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_11_1_X

[2021-10-13 01:06] cmsbuild commented on #35636
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, cc8_amd64_gcc8
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the bui

[2021-10-13 05:22] cmsbuild commented on #35636
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_9-slc7_amd64_gcc820/3221
Some tests (

[2021-10-13 06:01] cmsbuild commented on #35636
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_1_9-slc7_amd64_gcc820/3221

Tests results:
36 35 33 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-13 06:55] qliphy commented on #35636
upload all

[2021-10-13 06:55] cmsbuild commented on #35636
Queing Jenkins upload for slc7_amd64_gcc820

[2021-10-13 06:57] cmsbuild commented on #35636
The upload has started for cc8_amd64_gcc8 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2096/console

[2021-10-13 07:05] qliphy commented on #35636
release-notes

[2021-10-13 07:06] cmsbuild commented on #35636
You can use this template for announcing the release:

Hi all,

The production release CMSSW_11_1_9 is now available for the following architectures:

slc7_amd64_gcc820 (production)
cc8_amd64_gcc8

The release notes of what changed with respect to CMSSW_11_1_8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_1_9

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnno

[2021-10-13 07:09] cmsbuild commented on #35636
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_1_9

[2021-10-13 08:39] mmylly commented on #35531
Thank you for the comments, we managed to track down some individual jobs where this was experienced and we will now investigate this further. We will also try this dashboard you recommended and report back if the we find the cause.

[2021-10-13 08:52] mmusich commented on #35634
@francescobrivio
I think the customization in `Configuration/DataProcessing/python/RecoTLR.py` only takes care of explicitly customized workflows (such as 138.2)
For the general case, something is missing here:

https://github.com/cms-sw/cmssw/blob/df9a14409e2b2b6cb80832d0129c4890968f1202/RecoVertex/BeamSpotProducer/python/BeamSpot_cfi.py#L7-L9

see please https://github.com/cms-sw/cmssw/pull/3563

[2021-10-13 10:05] fwyzard commented on #35624
Done in https://github.com/cms-sw/cms-bot/pull/1648 .

[2021-10-13 13:29] francescobrivio commented on #35634
@pmandrik could you run again the playback including PR https://github.com/cms-sw/cmssw/pull/35653 (backport to 120X kindly provided by @mmusich) ?

[2021-10-13 13:56] jan-kaspar commented on #35012
Should be addressed in https://github.com/cms-sw/cmssw/pull/35654.

Should be addressed in https://github.com/cms-sw/cmssw/pull/35592

[2021-10-13 14:16] pmandrik commented on #35634
Hello, we checked that Event Display clients run fine with this PR for ppEra_Run3 scenario at the playback, thanks

[2021-10-14 09:38] thomreis commented on #33425
Hi @tvami with #35557 merged I think we can close this issue.

[2021-10-14 10:47] silviodonato opened #35668 "SiPixelRecHitSoAFromLegacy::produce(... Assertion `clust.originalId() == ic' failed"
I was trying to look at some GPU/CPU difference in the HLT menu, and I got the error in the title.

You can find all details in `/afs/cern.ch/work/s/sdonato/public/CMSSW_12_1_0_pre4/src`.

I downloaded an HLT path and applied the customization functions `customizeHLTforPatatrack` and `customizeHLTforPatatrack`, running on some 2018 data, using:
[code]

I got the following error with GPU enabled (b

[2021-10-14 10:47] cmsbuild commented on #35668
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-14 10:48] silviodonato commented on #35668
assign heterogeneous

[2021-10-14 11:59] cmsbuild commented on #33425
This issue is fully signed and ready to be closed.

[2021-10-14 12:54] makortel commented on #35668
assign reconstruction, heterogeneous

[2021-10-14 12:55] cmsbuild commented on #35668
New categories assigned: heterogeneous,reconstruction

@slava77,@jpata,@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-14 12:59] makortel commented on #35668
Let me ask first a naive question: is the combination of 2018 data and `--era Run3` supposed to work? (I don't know the exact implications of `--era` in `hltGetConfiguration`)

[2021-10-14 13:10] makortel commented on #34831
This one has been fixed, right?

[2021-10-14 13:22] jpata commented on #35586
Thanks @tvami, ALCA seems fixed. Trying now on CMSSW_12_0_2, there is still a DQM error. @cms-sw/dqm-l2 for my understanding is this something that should work, or is this not supported?

Config:
[code]

Exception:
[code]

Input file:
[code]

[2021-10-14 13:26] VinInn commented on #34831
"fixed" yes.

[2021-10-14 16:01] silviodonato commented on #35376
thanks, indeed it was `--era Run2`! :-)

[2021-10-14 16:13] mmusich commented on #35586
for my education what's wrong with it?
I see this configuration has been run in the past many times (grepping for cmssw issues https://github.com/cms-sw/cmssw/search?q=RunExpressProcessing&type=issues), though usually on data and not on MC

I am not sure `Configuration/DataProcessing` scripts  allow to do that (even though one might presume yes if Tier-0 is able to).

[2021-10-14 16:16] jfernan2 commented on #35586
BTW: (I believe that) related to this issue and without aiming to justify DQM configurations, we have been trying to know what DOES EXACTLY Tier0 run in this JIRA ticket without success for more than two years

https://its.cern.ch/jira/browse/CMSTZ-427

If this test config file is a good aproximation it can be a perfectly fine starting point

[2021-10-15 05:08] cmsbuild commented on #35636
The cleanup has started for slc7_amd64_gcc820

[2021-10-15 05:08] #35636 closed

[2021-10-15 05:08] cmsbuild commented on #35636
The workspace for cc8_amd64_gcc8 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_9-cc8_amd64_gcc8/1814

[2021-10-15 05:08] cmsbuild commented on #35636
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_1_9-slc7_amd64_gcc820/1815

[2021-10-15 14:05] jpata commented on #35583
@cms-sw/jetmet-pog-l2 kind ping on this

[2021-10-15 14:17] arizzi commented on #35583
I think andreas is off till next week

[2021-10-15 16:20] #35634 closed

[2021-10-15 21:25] fwyzard commented on #35624
`process.AlCa_LumiPixelsCounts_Random_v1` and `process.AlCa_LumiPixelsCounts_ZeroBias_v1` are created by https://github.com/cms-sw/cmssw/blob/aefd5fd648c1a94d78f0c42a59a117376c8b89f1/HLTrigger/Configuration/python/customizeHLTforPatatrack.py#L232-L253

to work around a problem in the definition of the paths (that do not use the `HLTDoLocalPixelSequence`) and the Patatrack customisation (that assum

[2021-10-16 07:52] perrotta opened #35699 "Build CMSSW_12_0_2_patch2"
It includes the additions requested for the test beams at P5

[2021-10-16 07:52] cmsbuild commented on #35699
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2021-10-16 07:54] perrotta commented on #35699
+1

[2021-10-16 07:54] cmsbuild commented on #35699
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_0_2_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_0_X

[2021-10-16 07:54] cmsbuild commented on #35699
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, cc8_aarch64_gcc9, slc7_aarch64_gcc9, cc8_ppc64le_gcc9, slc7_amd64_gcc10, slc7_amd64_gcc900, slc7_ppc64le_gcc9
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are

[2021-10-16 07:56] cmsbuild commented on #35699
The build has started for cc8_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3224/console
CMSDIST Branch: [REL/CMSSW_12_0_2/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_2/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-16 07:57] cmsbuild commented on #35699
The build has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3228/console
CMSDIST Branch: [REL/CMSSW_12_0_2/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_2/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-16 07:59] cmsbuild commented on #35699
The build has started for cc8_ppc64le_gcc9 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3226/console
CMSDIST Branch: [REL/CMSSW_12_0_2/cc8_ppc64le_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_2/cc8_ppc64le_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-16 08:39] cmsbuild commented on #35699
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2_patch2-slc7_ppc64le_gcc9/3227
Some t

[2021-10-16 08:42] cmsbuild commented on #35699
The build has finished sucessfully for the architecture cc8_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2_patch2-cc8_ppc64le_gcc9/3226
Some tes

[2021-10-16 08:56] cmsbuild commented on #35699
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2_patch2-slc7_amd64_gcc900/3228
Some t

[2021-10-16 09:11] cmsbuild commented on #35699
The build has started for cc8_aarch64_gcc9 in techlab-arm64-thunderx-02b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3229/console
CMSDIST Branch: [REL/CMSSW_12_0_2/cc8_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_2/cc8_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-16 09:22] francescobrivio commented on #35699
Hi @perrotta thanks for starting the build!
Is there a quick link to see which PRs entered this release wrt patch1?

[2021-10-16 09:29] cmsbuild commented on #35699
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2_patch2-slc7_amd64_gcc10/3223

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-16 09:34] cmsbuild commented on #35699
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2_patch2-cc8_amd64_gcc9/3222

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-16 09:37] cmsbuild commented on #35699
The tests have finished for cc8_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2_patch2-cc8_ppc64le_gcc9/3226

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-10-16 11:35] cmsbuild commented on #35699
The build has started for slc7_aarch64_gcc9 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3232/console
CMSDIST Branch: [REL/CMSSW_12_0_2/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_0_2/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2021-10-16 12:12] cmsbuild commented on #35699
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2_patch2-slc7_aarch64_gcc9/3232
Some t

[2021-10-16 12:54] tvami commented on #33945
Hi @mrodozov did this check reveal if there was anything left that truncates the 64?

[2021-10-16 13:09] cmsbuild commented on #35699
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2_patch2-slc7_aarch64_gcc9/3232

Tests results:
39 38 37 28 18 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2021-10-16 13:10] cmsbuild commented on #35699
The build has finished sucessfully for the architecture cc8_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2_patch2-cc8_aarch64_gcc9/3233
Some tes

[2021-10-16 14:01] cmsbuild commented on #35699
The tests have finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_0_2_patch2-cc8_aarch64_gcc9/3233

Tests results:
37 34 14 4 3 0 0 0 0 tests passed, 2 2 20 2 0 0 0 0 0 failed

[2021-10-16 14:11] cmsbuild commented on #35699
Queing Jenkins upload for slc7_amd64_gcc900

[2021-10-16 14:11] cmsbuild commented on #35699
Queing Jenkins upload for cc8_ppc64le_gcc9

[2021-10-16 14:11] cmsbuild commented on #35699
Queing Jenkins upload for cc8_aarch64_gcc9

[2021-10-16 14:11] cmsbuild commented on #35699
Queing Jenkins upload for slc7_aarch64_gcc9

[2021-10-16 14:11] cmsbuild commented on #35699
Queing Jenkins upload for slc7_ppc64le_gcc9

[2021-10-16 14:13] cmsbuild commented on #35699
The upload has started for cc8_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2098/console

[2021-10-16 14:13] cmsbuild commented on #35699
The upload has started for cc8_amd64_gcc9 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2099/console

[2021-10-16 14:13] cmsbuild commented on #35699
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2101/console

[2021-10-16 14:14] cmsbuild commented on #35699
The upload has started for cc8_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2100/console

[2021-10-16 14:14] cmsbuild commented on #35699
The upload has successfully finished for cc8_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2_patch2-cc8_aarch64_gcc9/2098

[2021-10-16 14:14] cmsbuild commented on #35699
The upload has started for slc7_amd64_gcc900 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2103/console

[2021-10-16 14:14] cmsbuild commented on #35699
The upload has started for slc7_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2102/console

[2021-10-16 14:14] cmsbuild commented on #35699
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2_patch2-slc7_aarch64_gcc9/2101

[2021-10-16 14:15] cmsbuild commented on #35699
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2104/console

[2021-10-16 14:16] cmsbuild commented on #35699
The upload has successfully finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2_patch2-slc7_ppc64le_gcc9/2104

[2021-10-16 14:16] cmsbuild commented on #35699
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_0_2_patch2-slc7_amd64_gcc10/2102

[2021-10-16 18:43] iarspider opened #35706 "[UBSAN] warning: '<anonymous>' may be used uninitialized in this function (L1TriggerConfig/GMTConfigProducers/interface/RecordHelper.h)"
[Log example](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc10/CMSSW_12_1_UBSAN_X_2021-10-15-2300/L1TriggerConfig/GMTConfigProducers)

[code]

[2021-10-16 18:43] cmsbuild commented on #35706
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-17 05:51] srimanob opened #35707 "Set DD4hep as default of Run-3 workflow"
This issue is to keep track on the migration of Run-3 DD4hep as a default workflow. I currently see 2 pieces that need to be worked out,

- Condition: Currently, DDD is the default, and DD4hep use autoCondModifier
- Configuration, Driver: Workaround is needed to allow us to use `--procModifier` twice in runTheMatrix. The current behaviour of runTheMatrix is to pick the last one. `--procModifer` is

[2021-10-17 05:51] cmsbuild commented on #35707
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-17 05:51] srimanob commented on #35707
assign upgrade, pdmv, alca

[2021-10-17 05:52] cmsbuild commented on #35707
New categories assigned: pdmv,upgrade,alca

@bbilin,@wajidalikhan,@yuanchao,@AdrianoDee,@jordan-martins,@srimanob,@francescobrivio,@kskovpen,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-17 07:47] tvami commented on #35707
Hi Phat, are there news about the high stat validation results already? Did everything go as expected?

[2021-10-17 10:42] srimanob commented on #35707
Hi @tvami
PdmV currently opens the validation campaign,
https://cms-pdmv.cern.ch/valdb/?srch=dd4hep&selected=12_1_0_pre4_2021_DD4HEPvsDDD&Reconstruction=true&RFull=true
based on regular relval stat.

For high stat relvals, I would ask @cms-sw/pdmv-l2  for the current status.

[2021-10-18 06:40] jfernan2 commented on #35586
Yes, I confirm @mmusich explanation: @express is more for RelVals while the default DQM sequence in CMSSW is @standardDQM

[2021-10-18 07:32] rovere opened #35712 "Add a `D86` workflow to the set of tests run during PR testing"
Dear all,
while reviewing PR #35563, it appears evident that any changes to the geometry related to`D86` or more recent version are completely missed while doing PR testing. Since this will be the **default** geometry (after all bugs and problems are fixed), we would like to have at least one workflow regularly tested that uses `D86` at every PR.
More so if we think about this specific period in w

[2021-10-18 07:32] rovere commented on #35712
assign upgrade

[2021-10-18 08:12] cmsbuild commented on #35707
New categories assigned: geometry,simulation

@cvuosalo,@mdhildreth,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-18 12:38] cmsbuild commented on #35699
The cleanup has started for slc7_aarch64_gcc9

[2021-10-18 12:38] cmsbuild commented on #35699
The cleanup has started for cc8_ppc64le_gcc9

[2021-10-18 12:38] cmsbuild commented on #35699
The cleanup has started for slc7_amd64_gcc10

[2021-10-18 12:39] cmsbuild commented on #35699
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_2_patch2-slc7_amd64_gcc900/1821

[2021-10-18 12:39] cmsbuild commented on #35699
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_0_2_patch2-slc7_ppc64le_gcc9/1822

[2021-10-18 13:16] jfernan2 commented on #35586
No, Tier0 configs are driven in this file:
https://github.com/dmwm/T0/blob/master/etc/ProdOfflineConfiguration.py
as you know. However, if no explicit sequence is set, default is @standardDQM
However, as it has been discussed in this thread, it won't work for AlCa due to missing products
Do we need to set a default sequence which works for every stream?
Thanks

[2021-10-18 18:25] nsmith- commented on #34873
One question, so if I understand the `read_bytes` and related fields are only an accumulator for the entire job and get reset each time a new primary file is opened? What is `read_bytes_at_close` for?

[2021-10-19 01:31] qliphy opened #35723 "IB unit test Issue with CondTools/SiPhase2Tracker"
There is a unit failure as shown in today's new IB:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_X_2021-10-18-1100/unitTestLogs/CondTools/SiPhase2Tracker#/

"MessageLogger Summary" got stuck and killed.

This seems to be from #35661
I could reproduce locally as below:

cmsrel CMSSW_12_1_X_2021-10-17-2300
cd CMSSW_12_1_X_2021-10-17-2300/src
git cms-addpkg CondTools/SiPh

[2021-10-19 01:32] qliphy commented on #35723
assign dqm
adding @alejands

[2021-10-19 04:54] fwyzard commented on #35624
@makortel thanks for the proposed fix.

Mhm, the whole idea of the  `cms.ProcessFragment`  was for it to have the same behaviour as a  `cms.Process` , at least in terms of customisation functions. What would need to be added for it to have the same special replacement functionality ?

[2021-10-19 05:57] slava77 commented on #35012
+reconstruction

reco items are done as summarized in https://github.com/cms-sw/cmssw/issues/35012#issuecomment-945017513

[2021-10-19 08:24] tvami opened #35726 "Possible bug in DQMStore::leaveLumi()"
There seems to be a bug in DQMStore::leaveLumi(), please see
https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/2289.html
for the  PromptReco_Run345687_HLTPhysics wf
and then
https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/2289/2.html
PromptReco_Run345595_HcalNZS

While the first one (345687) had this special DQM key in for a test, the second run seems very much like a vanilla run, which

[2021-10-19 08:24] cmsbuild commented on #35726
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-19 08:38] tvami commented on #35726
I guess I could also add that I see a lot of msg like
[code]

[2021-10-19 09:54] smorovic opened #35729 "Using debug jemalloc version with CMSSW_12_0_2"
Hello,

I would like to retool CMSSW to a debug jemalloc version to investigate memory corruption issues seen during 15-17 Oct in HLT (although crashes have, as of now, disappeared after Monday morning after appearing all wekend). Crashes are possibly related to condition data, since there have been coinciding with network issues, but we are not certain about it. Still we'd like to have tools read

[2021-10-19 13:01] makortel commented on #35726
Concurrent lumis have been used in RelVals since 11_3_0_pre1 when they were enabled by default in multithreaded jobs (in principle at least, then if all RelVal jobs would process only one lumi per job that would lead to the feature effectively not being tested).

[2021-10-19 13:08] smuzaffar commented on #35729
@smorovic , regard your question about using jemalloc-debug , yes updating config/toolbox/slc7_amd64_gcc900/tools/selected/jemalloc.xml ( just update the JEMALLOC_BASE to point to jemalloc-debug install location) and scram setup + cmsenv is enough to for cmsRun to start using jemalloc debug

[2021-10-19 14:00] slava77 commented on #34097
+reconstruction

looking at the first IB after #35524 was merged
CMSSW_12_1_X_2021-10-14-2300 in DBG_X the logs for e.g. wf 5.1 now does not show the assert.
There is still an exception, but this was already noticed in tests of #35524  https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc900/CMSSW_12_1_DBG_X_2021-10-14-2300/pyRelValMatrixLogs/run/5.1_TTbar+TTbarFS+HARVESTFS/step1_TTbar+T

[2021-10-19 15:24] jfernan2 commented on #35726
@makortel @Dr15Jones  unless you have a smart idea, I don't see an easy way to debug all the offedning modules in a fast way.
I wonder if there is any option in the FW to skip files with no events at processing level....which may give us some time

[2021-10-20 08:17] smorovic commented on #35729
Thank you, @smuzaffar for sorting this out.
I will then close the issue.

[2021-10-20 08:17] #35729 closed

[2021-10-20 11:44] #35723 closed

[2021-10-20 11:51] cmsbuild commented on #35723
This issue is fully signed and ready to be closed.

[2021-10-20 12:45] davidlange6 commented on #35726
You need to change things in the release. - one of the last two choices will work.

[2021-10-20 13:47] tvami commented on #35586
Is there any news on this?

[2021-10-20 15:23] jfernan2 commented on #35726
Thanks a lot @Dr15Jones

Since it looks that this is only happening for files with no events (as you found out yesterday), given the fact that other processed runs (with files which DO contain events) have not crashed so far, do you see feasible to add some protection/check for this kind of files in PreGlobalBeginLumi or endRunProduce?

Or do you think that any other solution should be found? Than

[2021-10-20 17:34] jfernan2 commented on #35726
Thank you very much!

[2021-10-20 20:01] slava77 opened #35758 "review and possibly disable looper reconstruction for HeavyIons pp_on_*"
This is a follow up to https://github.com/cms-sw/cmssw/pull/35721#discussion_r732195821

in that PR the looper reconstruction was disabled for pp starting from Run-2.

To reduce divergence in the configuration and perhaps even improve the HI tracking, including getting somewhat faster tracking,
the proposal for the software is to drop removal of `trackingNoLoopers` in  the HI `pp_on_*` eras.

@aba

[2021-10-20 20:02] slava77 commented on #35758
assign reconstruction

[2021-10-20 20:02] cmsbuild commented on #35758
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-21 00:40] makortel commented on #35624
In order to support the same functionality as `cms.Process` it would need a lot of rather complicated code from `cms.Process`, at least everything that is in or called by `cms.Process.__setattr__` (so copy-paste is not an option).

[2021-10-21 00:40] makortel commented on #35624
+1

[2021-10-21 06:13] fwyzard commented on #35624
`cms.ProcessFragment` is just a thin wrapper around a `cms.Process`, and should forward all `setattr`/`getattr`/`delattr` calls to the underlying object:
[code]

Do you have any idea why the fix made for the `cms.Process` did not work for the `cms.ProcessFragment` ?

[2021-10-21 09:14] iarspider opened #35760 "[ASAN] heap-buffer-overflow in GsfElectronProducer::produce"
Many RelVals failed in ASAN IB. For example, [this one](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_1_ASAN_X_2021-10-20-2300/pyRelValMatrixLogs/run/159.4_ZEE_14_HI_2021+ZEE_14_HI_2021+DIGIHI2021PPRECO+RECOHI2021PPRECO+HARVESTHI2021PPRECO/step3_ZEE_14_HI_2021+ZEE_14_HI_2021+DIGIHI2021PPRECO+RECOHI2021PPRECO+HARVESTHI2021PPRECO.log#/)

More detailed stack trace (with debug

[2021-10-21 14:54] jfernan2 commented on #35726
+1
For the records

[2021-10-21 15:20] mmusich commented on #35586
I suspect that the current CMSSW setup doesn't allow to do that to unless one applies the patch at https://github.com/cms-sw/cmssw/issues/35586#issuecomment-943536648

[2021-10-21 15:30] jfernan2 commented on #35586
Yes, of course, with the patch in, otherwise there is no option, Sorry that I was not explicit enough. I can make the PR unless someone else prefers to take care of it

[2021-10-22 13:51] slava77 opened #35785 "crash in HBHEPhase1Reconstructor in PromptReco_Run345915_ZeroBias19"
https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/2294.html

/afs/cern.ch/user/c/cmst0/public/PausedJobs/PilotBeam/job_128876/tarball

The stack trace is pointing to
[code]

run details https://cmsoms.cern.ch/cms/runs/report?cms_run=345915&cms_run_sequence=GLOBAL-RUN

since I have not seen crashes in HBHEPhase1Reconstructor in a while, it would be nice to have the HCAL experts to have a look a

[2021-10-23 01:36] #34873 closed

[2021-10-23 14:37] mmusich opened #35798 "Various warning messages from `MkFitOutputConverter`"
After integration of mkFit we observe a large number of warnings coming from `MkFitOutputConverter` of the type:

[code]

and:

[code]

examples:

[wf. 11634.7 step3](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-52af3e/19857/runTheMatrix-results/11634.7_TTbar_14TeV+2021_trackingMkFit+TTbar_14TeV_TuneCP5_GenSim+Digi+Reco+HARVEST/step3_TTbar_14TeV+2021_trackingMkFit+TTbar

[2021-10-25 11:11] mmusich opened #35827 "`makeTrackValidationPlots.py` crashes in recent IBs"
Reproduce with:
[code]

drivers correspond to `runTheMatrix.py --list 11634.1 --useInput all --dryRun -t 8`.
The macro is *extremely* noisy (produces thousands of `Did not find XXX from DQM_V0001_R000000001__Global__CMSSW_X_Y_Z__RECO.root:/DQMData/Run 1/YYY`) and at the end crashes with:

[code]

followed by a score of:

[code]

[2021-10-28 07:18] perrotta opened #35868 "Unit test failures in DQMServices/Demo and RecoTauTag/HLTProducers in the 12_1_X IBs"
We are going to uild CMSSW_12_1_0_pre5. After the last nightly IBs we are noticing two new unit test failures reported for the two systems in the subject.

The message generated by **TestDQMServicesDemo** is rather cryptic:
[code]
Moreover, we tried to reproduce locally
[code]
and the tests ended without error: it could be a glitch then. We will wait for the next IB and see if it reproduces. In an

[2021-10-28 19:07] perrotta opened #35891 "Build CMSSW_12_1_0_pre5"
Made with CMSSW_12_1_X_2021-10-28-1100 + #35883

[2021-10-29 07:39] qliphy opened #35893 "Build CMSSW_12_2_0_pre1"

[2021-10-30 02:04] #35827 closed

[2021-10-30 06:25] mmusich commented on #35868
Is there any progress in understanding the `TestDQMServicesDemo` failure? It is showing up in all the   "urgent" PRs targeting fixes for the online DQM during the beam test.
Thanks

[2021-10-30 07:13] #34694 closed

[2021-10-30 07:14] #32550 closed

[2021-10-30 07:14] #33766 closed

[2021-10-30 07:15] #33396 closed

[2021-10-30 07:42] qliphy commented on #35868
Looking into a previous IB log without this issue:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_1_X_2021-10-27-1100/unitTestLogs/DQMServices/Demo#/

dropped waiting message count 0
++ dqmiolistmes.py alltypes.root -r 1
++ wc -l
+ '[' 66 = 66 ']'
++ dqmiolistmes.py alltypes.root -r 1 -l 1
++ wc -l
+ '[' 66 = 66 ']'
++ /data/cmsbld/jenkins/workspace/ib-run-qa/CMSSW_12_1_X_

[2021-10-30 07:44] qliphy commented on #35868
The script exits at
https://github.com/cms-sw/cmssw/blob/master/DQMServices/Demo/test/runtests.sh#L14
and doesn't execute next lines

[2021-10-31 03:38] cmsbuild commented on #35891
The cleanup has started for cc8_aarch64_gcc9

[2021-10-31 03:38] cmsbuild commented on #35891
The cleanup has started for slc7_aarch64_gcc9

[2021-10-31 03:38] cmsbuild commented on #35891
The cleanup has started for slc7_amd64_gcc900

[2021-10-31 03:38] cmsbuild commented on #35891
The cleanup has started for cc8_ppc64le_gcc9

[2021-10-31 03:38] cmsbuild commented on #35891
The cleanup has started for slc7_ppc64le_gcc9

[2021-10-31 03:38] cmsbuild commented on #35891
The cleanup has started for cc8_amd64_gcc9

[2021-10-31 03:38] cmsbuild commented on #35891
The cleanup has started for slc7_amd64_gcc10

[2021-10-31 03:38] #35891 closed

[2021-10-31 03:38] cmsbuild commented on #35891
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre5-cc8_aarch64_gcc9/1837

[2021-10-31 03:38] cmsbuild commented on #35891
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre5-cc8_ppc64le_gcc9/1839

[2021-10-31 03:38] cmsbuild commented on #35891
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre5-slc7_aarch64_gcc9/1840

[2021-10-31 03:38] cmsbuild commented on #35891
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre5-slc7_amd64_gcc10/1841

[2021-10-31 03:38] cmsbuild commented on #35891
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre5-slc7_ppc64le_gcc9/1843

[2021-10-31 03:38] cmsbuild commented on #35891
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre5-slc7_amd64_gcc900/1842

[2021-10-31 11:53] cmsbuild commented on #35893
The cleanup has started for cc8_aarch64_gcc9

[2021-10-31 11:53] cmsbuild commented on #35893
The cleanup has started for slc7_aarch64_gcc9

[2021-10-31 11:53] cmsbuild commented on #35893
The cleanup has started for slc7_amd64_gcc900

[2021-10-31 11:53] cmsbuild commented on #35893
The cleanup has started for cc8_ppc64le_gcc9

[2021-10-31 11:53] cmsbuild commented on #35893
The cleanup has started for slc7_ppc64le_gcc9

[2021-10-31 11:53] cmsbuild commented on #35893
The cleanup has started for cc8_amd64_gcc9

[2021-10-31 11:53] cmsbuild commented on #35893
The cleanup has started for slc7_amd64_gcc10

[2021-10-31 11:53] #35893 closed

[2021-10-31 11:53] cmsbuild commented on #35893
The workspace for cc8_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre1-cc8_aarch64_gcc9/1844

[2021-10-31 11:53] cmsbuild commented on #35893
The workspace for cc8_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre1-cc8_ppc64le_gcc9/1846

[2021-10-31 11:53] cmsbuild commented on #35893
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre1-cc8_amd64_gcc9/1845

[2021-10-31 11:53] cmsbuild commented on #35893
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre1-slc7_aarch64_gcc9/1847

[2021-10-31 11:53] cmsbuild commented on #35893
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre1-slc7_amd64_gcc10/1848

[2021-10-31 11:53] cmsbuild commented on #35893
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre1-slc7_amd64_gcc900/1849

[2021-10-31 11:53] cmsbuild commented on #35893
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_0_pre1-slc7_ppc64le_gcc9/1850

[2021-10-31 13:44] missirol commented on #35868
Looks like `CMSSW_12_1_X_2021-10-27-2300` picked up version `4.1.5` of `uproot` (the previous IB had `3.13.0`), and there were some API changes that broke the DQM unit test. A possible fix is in #35921.

What's unclear to me is why for some PR tests with recent IBs this unit-test error does not show up (see for example PR 35911).

[2021-10-31 16:13] silviodonato opened #35923 "PFCluster depth 0.9999 instead of 1.0 in hltParticleFlowClusterHBHE"
We have found the origin of the differences GPU/CPU related to HCAL. These differences appeared only in PFJets, while there was a perfect CPU/GPU match in CaloJets.

The problem is in the `depth` variable, that is an `int` in `PFRecHit` and a `double` in `PFCluster`.
In the HLT menu we have:

`hltParticleFlowRecHitHBHE` [`PFRecHitProducer`] ->
`hltParticleFlowClusterHBHE` [`PFClusterProducer`] ->

[2021-10-31 16:13] cmsbuild commented on #35923
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-31 16:20] silviodonato commented on #35923
cc @cms-sw/heterogeneous-l2

[2021-10-31 16:37] fwyzard commented on #35923
assign reconstruction pf hcal-dpg heterogeneous

[2021-10-31 16:38] fwyzard commented on #35923
assign reconstruction

[2021-10-31 16:38] fwyzard commented on #35923
assign pf

[2021-10-31 16:38] fwyzard commented on #35923
assign hcal-dpg

[2021-10-31 16:38] fwyzard commented on #35923
assign heterogeneous

[2021-10-31 16:38] cmsbuild commented on #35923
New categories assigned: hcal-dpg,heterogeneous,pf,reconstruction

@slava77,@jpata,@georgia14,@mseidel42,@fwyzard,@makortel,@kdlong,@igv4321,@juska you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-10-31 16:40] silviodonato commented on #35923
I made a printout of the `depth()` of the `hltParticleFlowClusterHBHE` for both CPU and GPU.
The problem appears in both cases. So I strongly suspect that also our current CPU reconstruction is bugged.
[code]

[2021-10-31 16:41] fwyzard commented on #35923
If I read the code correctly, for the rechits the depth comes from a single "segment", while for the clusters it is the weighted average of the input rechits.

Could you dump the depth of the rechits ?

[2021-10-31 16:55] silviodonato commented on #35923
The PFRecHits are all **integer** numbers between 1 and 7.
They start with 155 times `1`, then 15 times `2`, then again 167 time `1` and so on.
Note that there is no `0`.
In some PFClusters I got some `0.9999999999999999`, so it must be the floating point approximation.

You can find the reconstructed objects in `/afs/cern.ch/work/s/sdonato/public/HCalGPUevent/output_HCAL_GPU.root` and ..CPU.root

[2021-10-31 16:59] hatakeyamak commented on #35923
HLT's `hltParticleFlowClusterHBHE` or offline's `particleFlowClusterHBHE` are supposedly layer-wise clusters, where we don't intend to mix different depths. Probably somebody can look at constituent rechits and their depth to get insight what's going on in these cases.

[2021-10-31 17:21] fwyzard commented on #35923
Obviously, because each rechit can only belong to any one specific segment, so they have an **integer** value for the depth.

Which makes sense.
My question was whether on CPU and on GPU we have the same exact number of rechits, and if they have the same integer depth, or not.

I agree. I am simply wondering why the results of the floating point approximations are different; since the code (and th

[2021-10-31 17:27] fwyzard commented on #35923
Ah, understood. Maybe a more robust implementation would be to just assign the depth based on the integer value, instead of computing the weighted average.

[2021-10-31 19:39] cmsbuild commented on #35891
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_1_0_pre5-cc8_amd64_gcc9/1838

[2021-10-31 20:59] silviodonato commented on #35923
Yes, there is some tiny difference in the energy at the level of 10^-5/10^-6 in hltParticleFlowClusterHBHE this might explain the different value offline.

@cms-sw/reconstruction-l2

[2021-11-01 01:59] srimanob opened #35927 "PPSAssociationCuts causes EventSetupConflict"
Looking on the PR test of https://github.com/cms-sw/cmssw/pull/35925
It shows the EventSetupConflict from the PPSAssociationCuts

It seems to relate to the new GT which include PPS Association cuts, for example,
https://cms-conddb.cern.ch/cmsDbBrowser/list/Prod/gts/121X_mcRun2_asymptotic_l1stage1_v8
https://hypernews.cern.ch/HyperNews/CMS/get/calibrations/4507/1.html

FYI @cms-sw/ctpps-dpg-l2 @cms

[2021-11-01 02:00] cmsbuild commented on #35927
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-01 02:01] srimanob commented on #35927
assign alca, ctpps-dpg-l2

[2021-11-01 02:01] cmsbuild commented on #35927
New categories assigned: ctpps-dpg,alca

@vavati,@yuanchao,@fabferro,@jan-kaspar,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-01 02:04] qliphy commented on #35927
The fix has been merged (https://github.com/cms-sw/cmssw/pull/35766#issuecomment-955694738), let's wait for the new IB test results

[2021-11-01 02:05] srimanob commented on #35927
Thx @qliphy

[2021-11-01 06:11] qliphy opened #35928 "CTPPS related issue in several IB workflows"
Although the issues mentioned in https://github.com/cms-sw/cmssw/issues/35927 should have been fixed mostly by #35766
There appears several CTPPS related issues in IB:

https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_12_2/2021-10-31-2300?selectedArchs=slc7_amd64_gcc900&selectedFlavors=X&selectedStatus=failed

**For example,  workflow 136.8311**
https://cmssdt.cern.ch/SDT/cgi-bin/logreader

[2021-11-01 06:11] cmsbuild commented on #35928
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-01 06:11] qliphy commented on #35928
The issues should be related to #35766 or #35914

@malbouis @CTPPS

[2021-11-01 06:12] qliphy commented on #35928
assign dqm, db, alca

[2021-11-01 06:13] cmsbuild commented on #35928
New categories assigned: dqm,db,alca

@jfernan2,@ahmad3213,@yuanchao,@rvenditti,@emanueleusai,@ggovi,@francescobrivio,@francescobrivio,@pbo0,@malbouis,@malbouis,@tvami,@tvami,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-01 06:16] tvami commented on #35928
@jan-kaspar can you please have a look?

[2021-11-01 06:20] tvami commented on #35927
+alca
 * resolved already in https://github.com/cms-sw/cmssw/pull/35766

[2021-11-01 06:23] tvami commented on #35928
I'm somewhat puzzled how these didnt come up in https://github.com/cms-sw/cmssw/pull/35766 ' test,
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-c5d209/20110/runTheMatrixINPUT-results/136.796_RunMET2017C+RunMET2017C+HLTDR2_2017+RECODR2_2017reHLT_skimMET_Prompt+HARVEST2017/
and
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-c5d209/20110/runTheMat

[2021-11-01 06:45] srimanob commented on #35927
Thx, PR passes the test now with https://github.com/cms-sw/cmssw/pull/35766

[2021-11-01 06:45] #35927 closed

[2021-11-01 07:44] malbouis commented on #35928
In addition to those two above, also wf 136.8642 was tested in #35914 without crashes.

[2021-11-01 08:55] jan-kaspar commented on #32448
We have added some cloning, e.g.:
  * https://github.com/cms-sw/cmssw/blob/master/Validation/CTPPS/python/simu_config/year_2016_cff.py
  * https://github.com/cms-sw/cmssw/blob/master/Validation/CTPPS/python/simu_config/profile_2016_postTS2_cff.py

But please double check that this is sufficient.

[2021-11-01 09:02] perrotta commented on #35868
In the PR tests, unit tests are only run for the packages affected by the PR itself

[2021-11-01 09:05] missirol commented on #35868
Okay, that explains it. Thanks!

[2021-11-01 09:10] jordan-martins opened #35929 "[DATA ReRECO] Logic error in BParking UL ReRECO"
Hi,
We are seeing very minor errors (only a couple of jobs exiting code 8001) in production concerning a logic error in the context of the BParking UL ReRECO at AOD step. Two automatic JIRAS in Computing has been opened [1] and [2]. The particular error is described in [3]

We would like advice on how to solve the issue or even if we should just bypass and accept missing stats from these jobs.

Th

[2021-11-01 09:11] cmsbuild commented on #35929
A new Issue was created by  @jordan-martins Jordan Martins.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-01 09:12] qliphy commented on #35928
@tvami @malbouis  Thanks.  Yes, it is curious. Let's wait for next IB results.  In the meantime, I will do some local tests.

[2021-11-01 09:16] jordan-martins commented on #35929
In addition to the erros presented above, we also see:
`Fatal Exception (Exit code: 8001)
An exception of category 'GeometryMismatch' occurred while
[0] Processing stream begin Run run: 316766 stream: 2
[1] Calling method for module PFElecTkProducer/'uncleanedOnlyPfTrackElec'
[2] Using EventSetup component TransientTrackBuilderESProducer/'' to make data TransientTrackBuilder/'TransientTrackBuilder

[2021-11-01 11:05] VinInn commented on #35923
if the issue is limited to rounding of integers I suggest to change the limit of ```category [0-1]  [1-2]``` etc to [0-1.1] [1.01-2.01] etc

[2021-11-01 11:08] makortel commented on #35928
If it problem is a threading issue (e.g. a race condition), it would not show up in PR tests (unless multithreaded tests were enabled explicitly), but would show up IB tests.

[2021-11-01 11:11] francescobrivio opened #35936 "Range check issue in CTPPS breaking IB"
There is a(nother) crash observed in the last IB (spotted by @mmusich) which seems also related to CTPPS:
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_2_X_2021-10-31-2300/pyRelValMatrixLogs/run/136.8642_RunJetHT2018BHEfail+RunJetHT2018BHEfail+HLTDR2_2018+RECODR2_2018reHLT_skimJetHT_Prompt_HEfail+HARVEST2018_HEfail/step3_RunJetHT2018BHEfail+RunJetHT2018BHEfail+HLTDR2_2018

[2021-11-01 11:11] cmsbuild commented on #35936
A new Issue was created by  @francescobrivio .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-01 11:11] fwyzard commented on #35923
or even `[0-1.5]`, `[1.5-2.5]`, etc ...

or use `std::round()` for the depth ...

[2021-11-01 11:12] francescobrivio commented on #35936
Not sure who should be assigned here.
FYI @cms-sw/ctpps-dpg-l2

[2021-11-01 11:23] francescobrivio commented on #35928
Just to make it more evident there is another crash (spotted by @mmusich) in the same IB and still related to CTPPS:
[code]
from: https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_12_2_X_2021-10-31-2300/pyRelValMatrixLogs/run/136.8642_RunJetHT2018BHEfail+RunJetHT2018BHEfail+HLTDR2_2018+RECODR2_2018reHLT_skimJetHT_Prompt_HEfail+HARVEST2018_HEfail/step3_RunJetHT2018BHEfail+RunJetH

[2021-11-01 11:26] VinInn commented on #35936
good that the issue is cough. Still production code should not use .```at```.  Please use ```operator[]```

[2021-11-01 11:31] francescobrivio commented on #35928
Thanks @makortel for the suggestion, I believe @malbouis is testing this.
Then maybe it would be worth to enable multithreading by default also in the PR test in order to avoid such issues in the future...

[2021-11-01 11:32] malbouis commented on #35928
As a comment, I'm not sure how useful it is, but I have ran workflows 136.8311 and 136.796 with the latest IB and observed no crashes. Will try it with --nThreads > 1 in one of these to see if I'm able to reproduce the error.

[2021-11-01 11:33] alkaloge commented on #28119
@mariadalfonso @gouskos @fabiocos @peruzzim
The problem is still there in 10_6_5, deepTau iDs are still not available

[2021-11-01 11:41] makortel commented on #35928
Multi-threading in PR tests would effectively destroy bitwise reproducibility of simulated workflows, e.g. because different GEN events could be simulated in different EDM streams leading to different random number sequences between runs.

[2021-11-01 11:48] jan-kaspar commented on #35928
I have run `runTheMatrix -l 136.796,136.816,136.8642,23234.103 --ibeos` on LXPLUS and it yielded `4 4 3 3 tests passed, 0 0 1 0 failed`. Thus I cannot reproduce many of the failures anymore. I continue debugging 136.8642, which is the failure I can reproduce (and also reported by Francesco above: https://github.com/cms-sw/cmssw/issues/35928#issuecomment-956150936).

[2021-11-01 11:49] jan-kaspar commented on #35936
We can switch to []. For my education, why should it be preferred over at?

[2021-11-01 11:50] mmusich commented on #35936
much faster

[2021-11-01 11:55] jan-kaspar commented on #35936
Thanks!

[2021-11-01 12:13] malbouis commented on #35928
I guess testing the multithreaded option is not as straightforward as I thought.
I tried rerunning step 3 of wf 136.8311 while enabling --nThreads 2 but I get the following error:

%MSG-i ThreadStreamSetup:  (NoModuleName) 01-Nov-2021 13:07:29 CET pre-events
setting # threads 2
setting # streams 2
%MSG
----- Begin Fatal Exception 01-Nov-2021 13:07:47 CET-----------------------
An exception of cate

[2021-11-01 12:26] qliphy commented on #35928
Instead of just running step3 of wf 136.8311,  I tried to run locally with 4 threads:
     runTheMatrix.py -l 136.8311 --job-reports -t 4 --ibeos
under both   CMSSW_12_2_X_2021-11-01-1100 and CMSSW_12_2_X_2021-10-31-2300
and both work well without any issue.

[2021-11-01 12:31] silviodonato commented on #35923
I though the thresholds were set by
[code]
but I was wrong, they come from `RecoParticleFlow/PFClusterProducer/plugins/PFMultiDepthClusterizer.cc` (eg. https://github.com/cms-sw/cmssw/blob/master/RecoParticleFlow/PFClusterProducer/plugins/PFMultiDepthClusterizer.cc#L178-L182)

I checked that https://github.com/silviodonato/cmssw/commit/2077cfd519ed174a887bf762f18f2ff0d4053405 solves the problem as

[2021-11-01 12:37] Dr15Jones commented on #35928
A very quick look at the PPS code I found

https://github.com/cms-sw/cmssw/blob/6681a5f2279e7b4a7d32f5ff9e75eb81ef45bbc3/CondFormats/PPSObjects/interface/PPSAssociationCuts.h#L55-L56

where a mutable is likely to be the cause of thread-safety problems.

[2021-11-01 12:40] Dr15Jones commented on #35928
Indeed, it looks like those vectors are filled from a `const` function

https://github.com/cms-sw/cmssw/blob/6681a5f2279e7b4a7d32f5ff9e75eb81ef45bbc3/CondFormats/PPSObjects/src/PPSAssociationCuts.cc#L60-L63

This is not thread-safe.

[2021-11-01 12:43] Dr15Jones commented on #35928
NOTE: the DB does have a mechanism to modify the object right after read from DB but before it is put out into the EventSetup. That allows one to avoid using mutables and provides a thread-safe way to update objects coming out of storage.

[2021-11-01 12:44] jan-kaspar commented on #35928
Thanks @Dr15Jones ! Could you please give me a pointer to this mechanism? I can open a fix RP shortly then.

[2021-11-01 12:44] mariadalfonso commented on #35923
@hatakeyamak
The HCAL-readout-depth numbering (color in the figure well defined integer) is different than the "deepness" of a PFcluster. see the cartoon for HE.
So a cluster can have rechits in different HCAL-depth even if the rechits have the same z position.
Where this conversion is handled ?
![HE](https://user-images.githubusercontent.com/5656714/139672797-1c3ad242-3988-4a17-8b4b-2c8775b8d219.

[2021-11-01 12:46] Dr15Jones commented on #35928
@jan-kaspar I can try to find it but this is really the domain for @cms-sw/db-l2

[2021-11-01 12:47] jan-kaspar commented on #35928
Thanks @Dr15Jones ! Anyone's help appreciated. I will try googling in the meantime.

[2021-11-01 12:53] makortel commented on #35929
assign reconstruction

[2021-11-01 12:53] cmsbuild commented on #35929
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-01 12:55] Dr15Jones commented on #35928
So it looks like you must call `REGISTER_PLUGIN_INIT` when registering your new EventSetup data product object and pass in an 'Initializer' class which will update the object before handing it to the EventSetup for access. I found examples at

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/CondCore/SiPixelPlugins/plugins/plugin.cc#L58

[2021-11-01 12:56] jan-kaspar commented on #35928
Thanks again, I will give it a try!

[2021-11-01 12:57] Dr15Jones commented on #35928
In general, one should never use mutable data for data products for the Run, LuminosityBlock, Event or the EventSetup.

[2021-11-01 13:01] alkaloge commented on #28119
for completeness, this can be fixed if one uses this recipe
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuidePFTauID#Running_of_the_DeepTauIDs_ver_20

[2021-11-01 13:01] jan-kaspar commented on #35928
Got it! @grzanka @fabferro Possibly good to point this out in the next PPS SW meeting (so as we prevent making this mistake again).

[2021-11-01 13:05] haozturk commented on #34393
Hi folks, do we have any update on this issue? I keep seeing production job failures occasionally. Not sure how to proceed w/ the corresponding workflows, e.g. https://its.cern.ch/jira/browse/CMSCOMPPR-21389

[2021-11-01 13:12] davidlange6 commented on #34393
You could either exclude or reproduce the input file that creates this problem in the merge workflow.

[2021-11-01 13:22] haozturk commented on #34393
For my education; does this error occur because there is something wrong w/ the input file? If so, what's exactly wrong?

[2021-11-01 13:24] jan-kaspar commented on #35936
I understand that the operator[] preference holds for std::vector. Does the same apply for std::map? For map, there is a complication that operator[] is not const, while at() can be - thus useful for const getters e.g. here:
  https://github.com/cms-sw/cmssw/blob/master/CondFormats/PPSObjects/interface/PPSAssociationCuts.h#L73

[2021-11-01 13:35] pcanal commented on #34393
There is something 'odd' with the file.  It is an older file that is not well clustered (pre-date the code that strengthen the entry clustering in TTree) and `TTreeCache` is failing to properly predict which basket to read.

[2021-11-01 13:38] makortel commented on #35936
Correct. For `operator[]()` the validity of the index should be checked elsewhere or come from other guarantees. (i.e. it is best to organize code such that such guarantees can be cheaply given).

No, as you pointed out. In `std::map` the difference between `operator[]()` and `at()` is that in case the key does not exist yet, `[]` adds a new element, whereas `at()` throws an exception (and if one

[2021-11-01 13:57] VinInn commented on #35936
```at``` shall not be used even in case of ```map``` we do not want exception to be thrown.
```find``` shall be used

[2021-11-01 13:57] makortel commented on #35929
This error looks something maybe @cms-sw/geometry-l2 or @cms-sw/alca-l2 could comment about?

[2021-11-01 13:58] makortel commented on #35929
This looks like a transient error in Frontier access. Or is it a persistent failure?

[2021-11-01 13:58] VinInn commented on #35936
BTW:  ```map```  should be avoided in reco code. There is essentially no use case for that.

[2021-11-01 14:04] jan-kaspar commented on #35928
Hopefully, here's a fix: https://github.com/cms-sw/cmssw/pull/35941

[2021-11-01 14:04] jan-kaspar commented on #35936
Hopefully, here's a fix: #35941.

[2021-11-01 14:30] slava77 commented on #35923
@laurenhay @marksan87
just in case you have not noticed this already for PF

[2021-11-01 14:38] haozturk commented on #34393
Okay, so we should either re-produce it w/ a new release or skip it as David suggested.

[2021-11-01 14:41] davidlange6 commented on #34393
Its a problem with an input file, yes. (Likely one of the n)

[2021-11-01 14:45] slava77 commented on #35929
yeah, I wish that this was not a part of the issue, since it's overtaking the attention from the actual problem.

[2021-11-01 16:53] santocch commented on #28283
+1

[2021-11-01 16:53] cmsbuild commented on #28283
This issue is fully signed and ready to be closed.

[2021-11-01 18:42] silviodonato commented on #35923
@cms-sw/pf-l2
I think you should check and fix all the selections based on `dz` and `0`
Example 1. `if (dz < 0.0f` in https://github.com/cms-sw/cmssw/blob/master/RecoParticleFlow/PFClusterProducer/plugins/PFMultiDepthClusterizer.cc#L178-L182

Example 2. https://github.com/cms-sw/cmssw/blob/master/RecoParticleFlow/PFClusterProducer/plugins/PFMultiDepthClusterizer.cc#L220-L224
which is equivalent to

[2021-11-01 20:16] cvuosalo commented on #35929
@makortel Concerning the exception:
[code]
that looks like a configuration problem, so I don't see now it could be an error that affects only a few jobs. Could the transient Frontier errors be related to this exception?

[2021-11-01 20:29] makortel commented on #35929
Thanks @cvuosalo.

It probably is, the log I was able to find
https://cms-unified.web.cern.ch/cms-unified/joblogs/pdmvserv_Run2018A_ParkingBPH5_20Jun2021_UL2018_210812_201823_8542/8001/DataProcessing/c8a3243a-211b-4b76-a1dc-3d98338f7d4c-289-0-logArchive/job/WMTaskSpace/cmsRun1/cmsRun1-stdout.log
contains
[code]
and also
[code]
which certainly looks like the root cause. I only wonder why the other

[2021-11-01 20:41] bainbrid commented on #35929
@slava77 I presume by "actual problem", you mean this:

[code]

I can take a look, but not immediately, and most probably not for a few days. How urgent is this? It seems from the comments that it's a rare problem, affecting only a small fraction of jobs?

I note that both examples given [here](https://github.com/cms-sw/cmssw/issues/35929#issue-1040944414) are triggered initially by the `gsfTracks

[2021-11-01 21:02] francescobrivio commented on #35929
Not sure if this help, but I think we already saw this error in the past while developing the BeamSpotOnline infrastucture.
I read some old emails but I cannot find the solution, all I remember is that at that time we identified an issue with the rotation of the squids, maybe @smorovic remembers exactly what was done. Other two people working on this were Dave Dykstra and Barry Blumenfeld (sorry i

[2021-11-02 13:29] tvami commented on #35936
assign alca

[2021-11-02 13:29] cmsbuild commented on #35936
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-02 16:03] jpata commented on #35583
From the meeting today, it seems like we are waiting for a confirmation from @cms-sw/btv-pog-l2 what is the issue with JP from this PR. We need to be prepared to revert the PR unless the issue is understood & fixed this week.

@ahinzmann @anna.benecke@uclouvain.be could you please prepare a draft PR which reverts the original #33885, so that we can have it tested and ready to be merged before the

[2021-11-02 16:11] ahinzmann commented on #35583
yes. is there a recipe to create a revert-PR? (like the recipe available for backports)
However, before reverting, we would anyways need understanding if pre3 or pre2 is more reasonable for BTV.
from this plot, it seems like in pre3 AOD and MiniAOD JP ROC is in sync, while in pre2 AOD JP was better than JP at MiniAOD.
![image](https://user-images.githubusercontent.com/4518137/139899390-24b9a483-08

[2021-11-02 16:26] jpata commented on #35583
I'm not aware of a CMS recipe, but a usual git flow seems to work.

[code]

@cms-sw/btv-pog-l2 should comment on this. In addition, BTV please confirm definitely that the culprit for JP differences is this PR (differences in JP appear after that PR and nothing else).

Thanks!

[2021-11-02 17:58] missirol commented on #35868
+hlt

the HLT side of this issue was addressed in #35867

[2021-11-02 18:00] jfernan2 commented on #35868
+1
Fixed in  #35921and #35390 for the DQM side

[2021-11-02 18:01] cmsbuild commented on #35868
This issue is fully signed and ready to be closed.

[2021-11-02 18:04] perrotta commented on #35868
Thank you all!
Closing this issue

[2021-11-02 18:04] #35868 closed

[2021-11-02 19:31] jordan-martins opened #35959 "[HIN MC] MixingModule error"
Hi all,

We have a very old HIN MC campaign that has been used in the past (by what I can fetch in McM, successfully) and we resumed this by HIN request that is throwing the error listed in [1]. I place a JIRA ticket in [2] for further x-checks. I would like to ask for advice on how to proceed since I never saw this error message.

Thanks,
Jordan

[1]
Fatal Exception (Exit code: 8026)
An exception

[2021-11-02 19:31] cmsbuild commented on #35959
A new Issue was created by  @jordan-martins Jordan Martins.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-02 19:40] makortel commented on #35959
assign core, simulation

[2021-11-02 19:40] cmsbuild commented on #35959
New categories assigned: core,simulation

@mdhildreth,@Dr15Jones,@smuzaffar,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-02 19:48] makortel commented on #35959
I see from the log that the workflow was run on CMSSW_8_0_30. I don't understand why `RootEmbeddedFileSequence` would throw this kind of exception in case of mixing.

One thing that may be worth to note is that the number of pileup files is enormous (DAS shows 5660 files for the pileup dataset, I did not check if the job configuration lists them all).

[2021-11-02 19:51] jordan-martins opened #35960 "[HIN DATA] BasicSingleVertexState::could not invert error matrix"
Hi all,

HIN Colleagues requested a ReRECO described in this JIRA [1]. However, we are seeing several failures in the reconstruction step listed in [2]. Computing JIRAS can be checked in [3]. Could you kindly advise action to be taken in order to turn around this issue, please?

Thanks,
Jordan

[1] https://its.cern.ch/jira/browse/PDMVRERECO-37
[2]
Fatal Exception (Exit code: 8002)
An exception of

[2021-11-02 19:51] cmsbuild commented on #35960
A new Issue was created by  @jordan-martins Jordan Martins.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-02 19:53] makortel commented on #35960
assign reconstruction

[2021-11-02 19:53] cmsbuild commented on #35960
New categories assigned: reconstruction

@slava77,@jpata you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-02 20:07] makortel commented on #35959
The lumi 32929 is in the file `/store/himc/pPb816Spring16GS/ReggeGribovPartonMC_EposLHC_pPb_4080_4080_DataBS/GEN-SIM/MB_80X_mcRun2_pA_v4-v2/90000/6657FD55-5D08-E711-9A5E-00237DF28460.root`, but that file does not contain event 3292828. In that sense the error is correct.

Next I wonder where this combination of lumi and event numbers came from.

[2021-11-02 20:19] makortel commented on #35959
The MixingModule is being run in the playback mode. It was run also in the GEN step.

[2021-11-02 20:25] slava77 commented on #35960
IIUC, this is for CMSSW_7_5_8_patch7

It looks like 3 jobs out of 50 failed
https://cms-unified.web.cern.ch/cms-unified/showlog/?search=ReReco-HIRun2015-HIMinimumBias2-29Jul2021-00001

I'm proposing not to fix this old release, and as a mitigation propose for the comp ops to mask out the lumi-sections (or event events) and rerun.

@jordan-martins please clarify if it is possible to run recovery wi

[2021-11-02 20:27] slava77 commented on #35960
@mandrenguyen
please take a note (although I think that we discussed this already in a JIRA)

[2021-11-02 20:34] jordan-martins commented on #35959
Hi @makortel , thanks!
Indeed this is right. GS uses a HiMixGEN with one PU as input. Then, DIGI step uses another PU as input.

GS: https://cmsweb.cern.ch/das/request?input=/ReggeGribovPartonMC_EposLHC_pPb_4080_4080/pPb816Spring16GS-80X_mcRun2_asymptotic_v17-v1/GEN-SIM

DIGI: https://cmsweb.cern.ch/das/request?input=/ReggeGribovPartonMC_EposLHC_PbP_4080_4080_DataBS/pPb816Spring16GS-MB_80X_mcRun2_

[2021-11-02 20:39] slava77 commented on #35960
Just counting the 8002 errors:
- 6 out of 95 in https://cms-unified.web.cern.ch/cms-unified/showlog/?search=ReReco-HIRun2015-HIMinimumBias1-29Jul2021-00001
- 3 out of 50 in https://cms-unified.web.cern.ch/cms-unified/showlog/?search=ReReco-HIRun2015-HIMinimumBias2-29Jul2021-00001
- 1 out of 51 in https://cms-unified.web.cern.ch/cms-unified/showlog/?search=ReReco-HIRun2015-HIMinimumBias3-29Jul2021-

[2021-11-02 20:41] slava77 commented on #35960
it looks like this is used for LUM-20-002
@cms-sw/lumi-pog-l2
please check/clarify if "will not fix" is an acceptable solution for the 4.5% of the jobs in this reprocessing

[2021-11-02 20:53] makortel commented on #35959
In this dataset lumi 32929 is in file `/store/himc/pPb816Spring16GS/ReggeGribovPartonMC_EposLHC_pPb_4080_4080/GEN-SIM/80X_mcRun2_asymptotic_v17-v1/90000/E088194D-5E71-E611-A2CC-0025905C9740.root` and there event 3292828 is in that lumi.

Visually the overlap in event numbers in the lumi 32929 between these two datasets looks to be zero.

What I recall the MixingModule's playback mode is intended t

[2021-11-02 20:54] makortel commented on #35959
unassign core

[2021-11-02 21:00] mandrenguyen commented on #35959
@makortel MixingModule is invoked in the HI event overlay workflows in both GEN and DIGI in order to match the sim vertex of the foreground and background events.  The same file needs to be available in both steps.

[2021-11-02 21:05] makortel commented on #35959
Thanks @mandrenguyen. But in https://github.com/cms-sw/cmssw/issues/35959#issuecomment-958145802 the datasets (and therefore files) are different for GEN and DIGI.

[2021-11-02 21:18] mandrenguyen commented on #35959
Yeah, that's why it crashes.  I'm missing the context.  Why would one want to do this?

[2021-11-02 22:10] cvuosalo commented on #33373
There are about 100 files with `DD4Hep` instead of `DD4hep`. It would be a fair amount of work to change them all while being sure not to make any mistakes or typos. I'm not sure it is worth the effort.

[2021-11-03 06:40] jordan-martins commented on #35959
@makortel and @mandrenguyen thanks a lot for this info! Checking McM it seems that the DR campaign had its last update in 2017 (even before I came to CMS :) ) I think the problem is solved and the conclusion is that the campaign has this wrong configuration in it on our side. I will assess which should be the correct PU (my guess says that should be the one with pA in the name).

Thank u again,
Jo

[2021-11-03 13:44] jpata opened #35966 "Run3 production-like workflow contains duplicated NANO step since 12_1_0_pre5"
We noticed that in 12_1_0_pre5, when running

[code]

the output contains a new "step6", which is a duplicate of the previous NANO step, without some PU flags. Is this expected?

[code]

cc @cms-sw/xpog-l2 @cms-sw/pdmv-l2

[2021-11-03 13:44] cmsbuild commented on #35966
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-03 13:48] makortel commented on #35966
assign xpog, pdmv

[2021-11-03 13:48] cmsbuild commented on #35966
New categories assigned: pdmv,xpog

@mariadalfonso,@bbilin,@wajidalikhan,@jordan-martins,@gouskos,@fgolf,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-03 14:25] slava77 opened #35969 "need to speedup/refactor EgammaHcalIsolation"
This is a follow-up to some initial work done already in #35955

a better refactoring of the code should be considered in near future. Some options are
- accumulate all needed isolation types in one loop over rechits
    - compute multiple cone isolation in a single loop over rechits, e.g.  0.3 and 0.4
- precompute (η,φ) of rechits in a separate producer in a `ValueMap` and use it when dR computat

[2021-11-03 14:25] cmsbuild commented on #35969
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-03 14:25] slava77 commented on #35969
assign reconstruction,@cms-sw/egamma-pog-l2

[2021-11-03 14:29] makortel commented on #35969
assign reconstruction, egamma-pog

[2021-11-03 14:29] cmsbuild commented on #35969
New categories assigned: reconstruction,egamma-pog

@slava77,@jpata,@lfinco,@swagata87 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-03 15:12] jpata commented on #35583
In case it's helpful, I checked 12_1_0_pre2 (ref) vs. 12_1_0_pre2+#33885 (new) on the Run3 workflow 11834.21 with 1000 events. All the plots can be found here: https://jpata.web.cern.ch/jpata/reco/chs_puppi_vtx_issue_35583/

I don't see a major difference in JP from the PR. The differences in RECO/PAT quantities look small, similar to what JMAR has reported and what was originally seen on the PR #

[2021-11-03 17:03] slava77 commented on #35583
this looks like just the fwlite comparison plots.
Do you have the DQM comparisons?

[2021-11-03 17:56] abdoulline commented on #35785
@slava77
Slava, I suppose we can close the issue?

[2021-11-03 18:15] slava77 commented on #35785
+reconstruction

via #35944 (and the mitigation  in #35806)

[2021-11-03 18:15] #35785 closed

[2021-11-03 18:16] cmsbuild commented on #35785
This issue is fully signed and ready to be closed.

[2021-11-03 20:34] gkrintir commented on #35960
hi @slava77 that's an acceptable solution, many thx

[2021-11-03 20:50] mariadalfonso commented on #35966
should not happen.
may this be related to this recent PR ?
https://github.com/cms-sw/cmssw/pull/35412

@kskovpen and @srimanob

[2021-11-03 22:30] civanch commented on #33373
@cvuosalo , how many files start from DD4hep? If more than 10-20 then we cannot fix this.

[2021-11-03 22:48] smuzaffar commented on #31851
+core
fixed by #33268

[2021-11-03 22:48] #31851 closed

[2021-11-03 22:49] smuzaffar commented on #30939
since we moved to py3 so this is not an issue any more

[2021-11-03 22:49] #30939 closed

[2021-11-03 22:51] smuzaffar commented on #30597
closing it, it was just for information purpose

[2021-11-03 22:51] #30597 closed

[2021-11-03 22:55] smuzaffar commented on #34387
@Martin-Grunewald , HLT tests run for all release cycles. Can we stop runing these tests for old release cycles e.g. 5.3.X up to 10.X?

[2021-11-03 22:58] smuzaffar commented on #34194
closing this , it has been partially resolved by #34229 and now unit test runs with in 25mins.

[2021-11-03 22:58] #34194 closed

[2021-11-04 00:49] qliphy commented on #35928
After mergeing #35941 new IB tests look good.

[2021-11-04 00:49] #35928 closed

[2021-11-04 01:00] qliphy opened #35979 "IB Failure with workflow 23234.103"
It appeared firstly from IB CMSSW_12_2 2021-10-31-2300, and persists up to most recent IB.

Previously we thought it is due to #35744 ,  and  #35941 may fix this as a byproduct
https://github.com/cms-sw/cmssw/pull/35744#issuecomment-955963491
The PR test with #35941 enabled with multithreading worked well with 23234.103
https://github.com/cms-sw/cmssw/pull/35941#issuecomment-958147557

However, af

[2021-11-04 01:00] cmsbuild commented on #35979
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-11-04 01:03] qliphy commented on #35979
assign dqm,l1

[2021-11-04 01:03] cmsbuild commented on #35979
New categories assigned: dqm,l1

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@rekovic,@pbo0,@cecilecaillol,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-11-04 06:03] Martin-Grunewald commented on #34387
Hmm, why? Any specific reason?
(I'd like keep them alive for all open releases with IBs - but am always in favor of closing releases!)

[2021-11-04 06:26] jordan-martins commented on #35960
Hi @slava77 , thanks a lot! Indeed, the concern was if acceptable to take the lost in stats. We will ask for a bypass.
FYI @gkrintir

[2021-11-04 06:30] jordan-martins commented on #35960
Please, close this issue. Thanks a lot!

[2021-11-04 06:41] perrotta commented on #34309
@mmusich after merging of #35940 in the master and #35877 in CMSSW_12_0_X I think this can be closed

[2021-11-04 06:47] perrotta commented on #34774
@jordan-martins @cms-sw/fastsim-l2 I think this issue can be closed now: please do so

[2021-11-04 06:49] perrotta commented on #34586
@qliphy @cms-sw/generators-l2 can this issus get closed now?

[2021-11-04 06:52] perrotta commented on #34633
@makortel can this issue be considered closed by #34908?

[2021-11-04 06:55] perrotta commented on #33797
@ericcano given your comment in https://github.com/cms-sw/cmssw/issues/33797#issuecomment-891921269 I think we can close this issue. Please reopen if I misunderstood

[2021-11-04 06:55] #33797 closed

[2021-11-04 06:59] perrotta commented on #33002
@kpedro88 given https://github.com/cms-sw/cmssw/issues/33002#issuecomment-914245864 can we close this issue?

[2021-11-04 07:22] mmusich commented on #34309
@perrotta what about 12.1.x? Isn't there a plan to process global run data with that?

[2021-11-04 07:28] #34774 closed

[2021-11-04 07:29] #35960 closed

[2021-11-04 07:29] #35959 closed

[2021-11-04 07:50] perrotta commented on #34309
Uhm... maybe not, but it costs nothing backporting #35940 (from @BenjaminRS) to CMSSW_12_1_X
I have prepared #35980, identical to the PR in master: it can be merged as soon as the tests finish, and therefore enter the forthcoming CMSSW_12_1_0

[2021-11-04 07:56] mmusich commented on #34309
Thanks

[2021-11-04 07:56] #34309 closed

[2021-11-04 08:35] jfernan2 commented on #35928
+1
For the records

[2021-11-04 08:38] francescobrivio commented on #35936
+alca

 - IBs clean now see https://github.com/cms-sw/cmssw/issues/35928#issuecomment-960345718

[2021-11-04 08:38] cmsbuild commented on #35936
This issue is fully signed and ready to be closed.

[2021-11-04 08:38] #35936 closed

[2021-11-04 08:39] qliphy commented on #34586
Yes, should be fixed now by #35262

[2021-11-04 08:39] #34586 closed

[2021-11-04 08:42] smuzaffar commented on #34387
Takes a lot of build resources (e.g. over 3 hours per IB on a 24 core machine). Although we do not build older release cycles every day but on Sunday (when we force build all IBs) it slows down the builds.

[2021-11-04 08:59] Martin-Grunewald commented on #34387
Well, I would be in favor of closing more currently active CMSSW releases to lighten the load, but if it helps then ok, stop the tests for old releases but keep them for 11 and up.

[2021-11-04 12:35] johnalison commented on #35583
Heres an update from the BTV side:
   - The miniAOD vs DQM differences are understood and the mini and DQM are indeed both consistent.
      (The original difference was b/c the miniAOD comparison was using the RECOOnly sample, the DQM was not)
   - The changes in JP tagger are seen in standard validation samples but not in the RECOOnly sample

pre3:
https://cernbox.cern.ch/index.php/s/Uyneg8k0rY0

[2021-11-04 13:18] Dr15Jones commented on #35979
I believe I've traced down the problem to a thread safety issue in ROOT.

The call to `QuantilesX` does

https://github.com/root-project/root/blob/de7bcdff077be4ec08892c1d8349d9f8e62dd420/hist/hist/src/TH2.cxx#L2460-L2463

and in `DoQuantiles` there is a call to `DoProjection` which uses the histogram name "tmp".
https://github.com/root-project/root/blob/de7bcdff077be4ec08892c1d8349d9f8e62dd420/hi

[2021-11-04 13:31] makortel commented on #34633
Yes

[2021-11-04 13:31] #34633 closed

[2021-11-04 13:41] Dr15Jones commented on #35979
NOTE: It appears `ProjectionX` and `ProjectionY` have a similar problem if one is not careful to pass in unique names to the functions.

[2021-11-04 13:52] drankincms commented on #35979
@Dr15Jones thanks a lot for tracking this down! Ok, I will go ahead and implement `QuantilesX()` by hand. @qliphy I will go ahead and submit a PR to fix this once it's ready.

[2021-11-04 13:59] Dr15Jones commented on #35979
@drankincms it looks like if you first set ROOT to a unique new directory it will place the "tmp" into that directory which should isolate you from any other threads.

[2021-11-04 14:28] swagata87 commented on #35760
hopefully the issue will be fixed by this PR https://github.com/cms-sw/cmssw/pull/35984