[2016-06-08 10:11] davidlange6 opened #14817 "Build CMSSW_8_0_10_patch2"
Patch release to incorporate HLT fixes already in 8_0_8 patches branch

[2016-06-08 10:11] cmsbuild commented on #14817
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-06-08 10:11] davidlange6 commented on #14817
+1

[2016-06-08 10:11] cmsbuild commented on #14817
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_10_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-06-08 10:11] cmsbuild commented on #14817
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-06-08 10:12] cmsbuild commented on #14817
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/701/console
CMSDIST Branch: [REL/CMSSW_8_0_10/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_10/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-08 10:13] cmsbuild commented on #14817
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/702/console
CMSDIST Branch: [REL/CMSSW_8_0_10/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_10/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-08 10:14] cmsbuild commented on #14817
The build has started for slc7_amd64_gcc530 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/703/console
CMSDIST Branch: [REL/CMSSW_8_0_10/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_10/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-08 10:27] davidlange6 commented on #14814
upload all

[2016-06-08 10:27] cmsbuild commented on #14814
Queing Jenkins upload for slc6_amd64_gcc493

[2016-06-08 10:28] cmsbuild commented on #14814
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/440/console

[2016-06-08 10:37] cmsbuild commented on #14814
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_5_patch1-slc7_amd64_gcc493/699
Some tes

[2016-06-08 10:37] cmsbuild commented on #14814
Queing Jenkins upload for slc7_amd64_gcc493

[2016-06-08 10:38] cmsbuild commented on #14814
The upload has started for slc7_amd64_gcc493 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/441/console

[2016-06-08 10:52] cmsbuild commented on #14817
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch2-slc6_amd64_gcc493/701
Some te

[2016-06-08 11:21] cmsbuild commented on #14817
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch2-slc6_amd64_gcc493/701

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-08 11:23] cmsbuild commented on #14814
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_5_patch1-slc6_amd64_gcc493/440
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-08 11:24] cmsbuild commented on #14784
The cleanup has started for slc6_amd64_gcc493

[2016-06-08 11:24] cmsbuild commented on #14784
The cleanup has started for slc6_amd64_gcc530

[2016-06-08 11:24] cmsbuild commented on #14784
The cleanup has started for slc7_amd64_gcc530

[2016-06-08 11:24] #14784 closed

[2016-06-08 11:24] cmsbuild commented on #14784
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_8_patch3-slc6_amd64_gcc530/405

[2016-06-08 11:24] cmsbuild commented on #14784
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_8_patch3-slc6_amd64_gcc493/404

[2016-06-08 11:25] davidlange6 commented on #14817
upload all

[2016-06-08 11:25] cmsbuild commented on #14817
Queing Jenkins upload for slc6_amd64_gcc493

[2016-06-08 11:26] cmsbuild commented on #14817
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/442/console

[2016-06-08 11:27] cmsbuild commented on #14814
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_5_patch1-slc7_amd64_gcc493/699

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-06-08 11:29] cmsbuild commented on #14814
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_5_patch1/slc6_amd64_gcc493/681/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-06-08 11:30] cmsbuild commented on #14784
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_8_patch3-slc7_amd64_gcc530/406

[2016-06-08 11:35] davidlange6 commented on #14814
release-notes

[2016-06-08 11:36] cmsbuild commented on #14814
Generating release notes since CMSSW_7_6_5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-06-08 11:36] cmsbuild commented on #14814
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_6_5_patch1 is now available for the following architectures:

slc6_amd64_gcc493 (production)

The release notes of what changed with respect to CMSSW_7_6_5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_5_patch1

Backport fix to ECAL conditions extrapolation

Cheers,
cms-bot

[2016-06-08 11:37] cmsbuild commented on #14814
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_5_patch1

[2016-06-08 11:40] cmsbuild commented on #14817
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch2-slc6_amd64_gcc530/702
Some te

[2016-06-08 11:41] cmsbuild commented on #14817
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/443/console

[2016-06-08 11:59] cmsbuild commented on #14817
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch2-slc6_amd64_gcc530/702

Tests results:
140.53_RunHI2011+RunHI2011+RECOHID11+HARVESTDHI Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN  - time date Wed Jun  8 13:46:45 2016-date Wed Jun  8 13:43:56 2016; exit: 1 0 0
9 9 8 7 5 1 1 1 tests passed, 1 0

[2016-06-08 11:59] cmsbuild commented on #14817
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch2-slc7_amd64_gcc530/703
Some te

[2016-06-08 12:00] cmsbuild commented on #14817
Queing Jenkins upload for slc7_amd64_gcc530

[2016-06-08 12:01] cmsbuild commented on #14817
The upload has started for slc7_amd64_gcc530 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/444/console

[2016-06-08 12:01] davidlange6 commented on #14817
upload all

(das error)

[2016-06-08 12:22] cmsbuild commented on #14814
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_5_patch1-slc7_amd64_gcc493/441
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-08 12:27] cmsbuild commented on #14814
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_5_patch1/slc7_amd64_gcc493/682/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-06-08 12:46] cmsbuild commented on #14817
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch2-slc7_amd64_gcc530/703

Tests results:
134.911_RunSinglePh2015D+RunSinglePh2015D+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2 Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN  - time date Wed Jun  8 14:13:35 2016-date Wed Jun  8 14:08:07 201

[2016-06-08 12:59] schneiml commented on #14800
@davidlt Thanks for reporting. There was indeed another issue with references pointing into a growing vector. The last commit on #14760 should fix this now.

[2016-06-08 13:12] cmsbuild commented on #14817
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_10_patch2-slc6_amd64_gcc493/442
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-08 13:18] cmsbuild commented on #14817
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_10_patch2/slc6_amd64_gcc493/683/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-06-08 13:47] davidlange6 commented on #14817
release-notes

[2016-06-08 13:47] cmsbuild commented on #14817
ATTENTION!!! The production architecture (slc6_amd64_gcc530) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-06-08 14:09] cmsbuild commented on #14817
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_10_patch2-slc6_amd64_gcc530/443
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-08 14:15] cmsbuild commented on #14817
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_10_patch2/slc6_amd64_gcc530/684/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-06-08 14:15] cmsbuild commented on #14817
Generating release notes since CMSSW_8_0_10_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-06-08 14:15] cmsbuild commented on #14817
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_10_patch2 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_10_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_10_patch2

Patch release to incorporate HLT fix

[2016-06-08 14:17] cmsbuild commented on #14817
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_10_patch2

[2016-06-08 14:51] ianna commented on #14807
@davidlt - please, check it with https://github.com/cms-sw/cmssw/pull/14756

I'll submit my changes when this PR is merged.

[2016-06-08 14:56] cmsbuild commented on #14817
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_10_patch2-slc7_amd64_gcc530/444
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-08 15:01] cmsbuild commented on #14817
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_10_patch2/slc7_amd64_gcc530/685/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-06-08 15:53] fioriNTU opened #14821 "watchlist for Tracker DQM packages"
Hi,

I would like to be in the watchlist for the following packages (basically all Tracker DQM ones):

DQM/SiPixelCommon
DQM/SiPixelMonitorClient
DQM/SiPixelMonitorCluster
DQM/SiPixelMonitorDigi
DQM/SiPixelMonitorRawData
DQM/SiPixelMonitorRecHit
DQM/SiPixelMonitorTrack
DQM/SiPixelPhase1Clusters
DQM/SiPixelPhase1Common
DQM/SiPixelPhase1Config/python
DQM/SiPixelPhase1Digis
DQM/SiPixelPhase1RecHits
D

[2016-06-08 15:54] cmsbuild commented on #14821
A new Issue was created by  @fioriNTU .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-08 20:29] davidlt commented on #14807
I still had local checkout, thus I tested. Seems to resolve it, but less x-check this once the PR is merged.

[2016-06-10 09:38] cmsbuild commented on #14814
The cleanup has started for slc6_amd64_gcc493

[2016-06-10 09:38] cmsbuild commented on #14814
The cleanup has started for slc7_amd64_gcc493

[2016-06-10 09:38] #14814 closed

[2016-06-10 09:39] cmsbuild commented on #14814
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_5_patch1-slc6_amd64_gcc493/407

[2016-06-10 09:43] cmsbuild commented on #14814
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_5_patch1-slc7_amd64_gcc493/408

[2016-06-10 11:54] cmsbuild commented on #14817
The cleanup has started for slc6_amd64_gcc493

[2016-06-10 11:54] cmsbuild commented on #14817
The cleanup has started for slc6_amd64_gcc530

[2016-06-10 11:54] cmsbuild commented on #14817
The cleanup has started for slc7_amd64_gcc530

[2016-06-10 11:54] #14817 closed

[2016-06-10 11:55] cmsbuild commented on #14817
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_10_patch2-slc6_amd64_gcc493/409

[2016-06-10 11:56] cmsbuild commented on #14817
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_10_patch2-slc6_amd64_gcc530/410

[2016-06-10 11:56] cmsbuild commented on #14817
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_10_patch2-slc7_amd64_gcc530/411

[2016-06-10 13:36] kpedro88 opened #14840 "[Core] Feature request: ability to list all changes from a given Era"
With Phase1 and Phase2 development ongoing, the number of Eras and associated configuration changes is increasing dramatically.

Right now the only way to identify all the changes from a given Era is searching on GitHub, using grep, etc.

It would be nice to add a feature to the framework which would keep track of all the changes applied by each Era, so that this information could be collected and

[2016-06-10 13:37] cmsbuild commented on #14840
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-10 13:43] Dr15Jones commented on #14840
assign core

[2016-06-10 13:43] cmsbuild commented on #14840
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-10 16:39] ianna commented on #13286
@smuzaffar - I think, this has been fixed a while ago. Should it be closed?

[2016-06-10 16:44] ianna commented on #14113
@kpedro88 - I think, you have cleaned up one of the Dev scenarios, but not the files in Configuration/Geometry. Which ones should be removed?

[2016-06-10 16:46] kpedro88 commented on #14113
@ianna - I deleted many things from Configuration/Geometry in #14802. Did I miss something?

[2016-06-10 16:51] ianna commented on #14113
@kpedro88 - oops, I looked at an old indexing.

@davidlt - please, close the issue. It is fixed.

[2016-06-12 07:54] davidlange6 opened #14851 "Build CMSSW_8_0_11"

[2016-06-12 07:54] cmsbuild commented on #14851
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-06-12 07:57] davidlange6 commented on #14851
+1

[2016-06-12 07:58] cmsbuild commented on #14851
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-06-12 07:58] cmsbuild commented on #14851
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-06-12 08:00] cmsbuild commented on #14851
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/704/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-12 08:00] cmsbuild commented on #14851
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/706/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-12 08:01] cmsbuild commented on #14851
The build has started for slc7_amd64_gcc530 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/705/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-12 09:46] cmsbuild commented on #14851
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_11-slc6_amd64_gcc493/704
Some tests ( r

[2016-06-12 10:08] cmsbuild commented on #14851
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_11-slc6_amd64_gcc493/704

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-12 11:52] cmsbuild commented on #14851
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_11-slc6_amd64_gcc530/706
Some tests ( r

[2016-06-12 12:06] cmsbuild commented on #14851
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_11-slc7_amd64_gcc530/705
Some tests ( r

[2016-06-12 12:15] cmsbuild commented on #14851
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_11-slc6_amd64_gcc530/706

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-12 12:34] cmsbuild commented on #14851
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_11-slc7_amd64_gcc530/705

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-12 13:37] davidlange6 commented on #14851
upload all

[2016-06-12 13:38] cmsbuild commented on #14851
Queing Jenkins upload for slc6_amd64_gcc493

[2016-06-12 13:38] cmsbuild commented on #14851
Queing Jenkins upload for slc6_amd64_gcc530

[2016-06-12 13:38] cmsbuild commented on #14851
Queing Jenkins upload for slc7_amd64_gcc530

[2016-06-12 13:38] cmsbuild commented on #14851
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/445/console

[2016-06-12 13:39] cmsbuild commented on #14851
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/446/console

[2016-06-12 13:40] cmsbuild commented on #14851
The upload has started for slc7_amd64_gcc530 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/447/console

[2016-06-12 14:25] cmsbuild commented on #14851
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_11-slc6_amd64_gcc493/445
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-12 14:44] cmsbuild commented on #14851
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_11/slc6_amd64_gcc493/686/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-06-12 14:56] cmsbuild commented on #14851
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_11-slc7_amd64_gcc530/447
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-12 15:01] davidlange6 opened #14852 "Build CMSSW_8_1_0_pre7"

[2016-06-12 15:01] cmsbuild commented on #14852
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-06-12 15:01] davidlange6 commented on #14852
+1

[2016-06-12 15:01] cmsbuild commented on #14852
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-06-12 15:02] cmsbuild commented on #14852
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc530, fc22_ppc64le_gcc530, slc6_amd64_gcc493, slc7_amd64_gcc530, slc6_amd64_gcc600
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building

[2016-06-12 15:03] cmsbuild commented on #14852
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/708/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-12 15:03] cmsbuild commented on #14852
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/710/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-12 15:03] cmsbuild commented on #14852
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/707/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-12 15:03] cmsbuild commented on #14852
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/709/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-12 15:03] cmsbuild commented on #14852
The build has started for slc6_amd64_gcc600 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/712/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-12 15:04] cmsbuild commented on #14852
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/711/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-12 15:17] cmsbuild commented on #14851
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_11/slc7_amd64_gcc530/687/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-06-12 15:29] cmsbuild commented on #14852
The was an error for fc22_ppc64le_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-fc22_ppc64le_gcc530/707

[2016-06-12 15:35] cmsbuild commented on #14851
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_11-slc6_amd64_gcc530/446
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-12 15:51] cmsbuild commented on #14851
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_11/slc6_amd64_gcc530/688/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-06-12 18:02] davidlange6 commented on #14851
release-notes

[2016-06-12 18:03] cmsbuild commented on #14851
Generating release notes since CMSSW_8_0_10_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-06-12 18:03] cmsbuild commented on #14851
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_11 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_10_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_11

Cheers,
cms-bot

You can also click <a

[2016-06-12 18:06] cmsbuild commented on #14852
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-slc6_amd64_gcc493/709
Some tests

[2016-06-12 18:33] cmsbuild commented on #14852
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-slc6_amd64_gcc493/709

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-12 20:12] cmsbuild commented on #14852
The build has finished sucessfully for the architecture slc6_amd64_gcc600 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-slc6_amd64_gcc600/712
Some tests

[2016-06-12 20:26] cmsbuild commented on #14852
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-slc6_amd64_gcc530/710
Some tests

[2016-06-12 20:34] cmsbuild commented on #14852
The tests have finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-slc6_amd64_gcc600/712

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-12 20:44] davidlange6 commented on #14852
upload all

[2016-06-12 20:45] cmsbuild commented on #14852
Queing Jenkins upload for slc6_amd64_gcc493

[2016-06-12 20:45] cmsbuild commented on #14852
Queing Jenkins upload for slc6_amd64_gcc530

[2016-06-12 20:45] cmsbuild commented on #14852
Queing Jenkins upload for slc6_amd64_gcc600

[2016-06-12 20:45] cmsbuild commented on #14852
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/448/console

[2016-06-12 20:45] cmsbuild commented on #14852
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/449/console

[2016-06-12 20:45] cmsbuild commented on #14852
The upload has started for slc6_amd64_gcc600 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/450/console

[2016-06-12 20:48] cmsbuild commented on #14852
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-slc6_amd64_gcc530/710

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-12 20:57] cmsbuild commented on #14852
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/714/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-12 21:29] cmsbuild commented on #14852
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre7-slc6_amd64_gcc493/448
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-12 21:41] cmsbuild commented on #14852
The was error installing slc6_amd64_gcc493.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre7/slc6_amd64_gcc493/689/

[2016-06-12 22:12] cmsbuild commented on #14852
The upload has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre7-slc6_amd64_gcc600/450
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-12 22:52] cmsbuild commented on #14852
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-slc7_amd64_gcc530/711
Some tests

[2016-06-12 22:53] cmsbuild commented on #14852
Queing Jenkins upload for slc7_amd64_gcc530

[2016-06-12 22:54] cmsbuild commented on #14852
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/451/console

[2016-06-12 23:28] cmsbuild commented on #14852
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-slc7_amd64_gcc530/711

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-12 23:47] cmsbuild commented on #14852
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre7-slc7_amd64_gcc530/451
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-13 00:11] cmsbuild commented on #14852
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre7/slc7_amd64_gcc530/690/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-06-13 00:44] cmsbuild commented on #14852
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre7-slc6_amd64_gcc530/449
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-13 01:04] cmsbuild commented on #14852
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre7/slc6_amd64_gcc530/691/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-06-13 02:19] cmsbuild commented on #14852
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-slc7_aarch64_gcc530/708
Some t

[2016-06-13 02:19] cmsbuild commented on #14852
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-06-13 02:19] cmsbuild commented on #14852
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/452/console

[2016-06-13 02:32] cmsbuild commented on #14852
The build has finished sucessfully for the architecture fc22_ppc64le_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-fc22_ppc64le_gcc530/714
Some t

[2016-06-13 02:32] cmsbuild commented on #14852
Queing Jenkins upload for fc22_ppc64le_gcc530

[2016-06-13 02:33] cmsbuild commented on #14852
The upload has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/453/console

[2016-06-13 03:02] cmsbuild commented on #14852
The tests have finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-fc22_ppc64le_gcc530/714

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-13 03:05] cmsbuild commented on #14852
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre7-slc7_aarch64_gcc530/708

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-13 03:11] cmsbuild commented on #14852
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre7-slc7_aarch64_gcc530/452
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-13 03:40] cmsbuild commented on #14852
The upload has successfully finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre7-fc22_ppc64le_gcc530/453
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-13 05:39] cmsbuild commented on #14852
The upload has started for slc6_amd64_gcc600 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/454/console

[2016-06-13 05:45] cmsbuild commented on #14852
The upload has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre7-slc6_amd64_gcc600/454
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-13 05:47] cmsbuild commented on #14852
The was error installing slc6_amd64_gcc600.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre7/slc6_amd64_gcc600/692/

[2016-06-13 06:09] cmsbuild commented on #14852
The was error installing slc6_amd64_gcc600.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre7/slc6_amd64_gcc600/693/

[2016-06-13 06:28] davidlange6 commented on #14852
release-notes

[2016-06-13 06:28] cmsbuild commented on #14852
Generating release notes since CMSSW_8_1_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-06-13 06:28] cmsbuild commented on #14852
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre7 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_1_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre7

Cheers,
cms-bot

You can also click <a href="mailt

[2016-06-13 06:31] cmsbuild commented on #14852
The was error installing slc6_amd64_gcc600.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre7/slc6_amd64_gcc600/694/

[2016-06-13 06:32] cmsbuild commented on #14852
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre7

[2016-06-13 07:44] cmsbuild commented on #14852
The installation has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre7/slc6_amd64_gcc600/695/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-06-13 15:09] fioriNTU commented on #14821
Can you tell me if this is the standard procedure to watch packages or if I can do something myself to speed up things? Having this issue solved would save me tons of mails.

Thanks.

[2016-06-13 18:15] richard-cms opened #14862 "Use of "-frounding-math" (required by CGAL) causes constexpr to break."
I'm from the HI community. We keep most of our analysis code as a fork of CMSSW mainline, and I am attempting to port it from CMSSW_7_5_X to CMSSW_8_0_X. I've run into a bit of a pathological issue.

The RecoHI/HiJetAlgos/plugins/Buildfile.xml adds "-frounding-math" to the CXXFLAGS as required by the CGAL dependency (used by the Voronoi jet algorithm). Unfortunately starting in CMSSW_8_0_X this se

[2016-06-13 18:15] cmsbuild commented on #14862
A new Issue was created by  @richard-cms R. Alex Barbieri.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-14 09:24] riga opened #14870 "Invalid include path in CommonTools/Utils/interface/normalizedPhi.h"
Hi all,

I think that there are some broken include paths, e.g. in [CommonTools/Utils/interface/normalizedPhi.h](https://github.com/cms-sw/cmssw/blob/CMSSW_8_1_X/CommonTools/Utils/interface/normalizedPhi.h):

[code]

which should be

[code]

I couldn't check yet, but maybe there are more broken includes. This should be backported to 80X as well.

Cheers,
Marcel

[2016-06-14 09:24] cmsbuild commented on #14870
A new Issue was created by  @riga Marcel R..

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-14 15:52] davidlange6 commented on #14862
@richard-cms - can you summarize my having a cgal dependency requires this flag?

[2016-06-14 16:08] cmsbuild commented on #14851
The cleanup has started for slc6_amd64_gcc493

[2016-06-14 16:08] cmsbuild commented on #14851
The cleanup has started for slc6_amd64_gcc530

[2016-06-14 16:08] cmsbuild commented on #14851
The cleanup has started for slc7_amd64_gcc530

[2016-06-14 16:08] #14851 closed

[2016-06-14 16:09] cmsbuild commented on #14851
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_11-slc6_amd64_gcc530/413

[2016-06-14 16:09] cmsbuild commented on #14851
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_11-slc6_amd64_gcc493/412

[2016-06-14 16:16] cmsbuild commented on #14851
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_11-slc7_amd64_gcc530/414

[2016-06-14 18:57] cmsbuild commented on #14851
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_11-slc7_amd64_gcc530/415

[2016-06-15 04:38] cmsbuild commented on #14852
The cleanup has started for fc22_ppc64le_gcc530

[2016-06-15 04:38] cmsbuild commented on #14852
The cleanup has started for slc7_aarch64_gcc530

[2016-06-15 04:38] cmsbuild commented on #14852
The cleanup has started for fc22_ppc64le_gcc530

[2016-06-15 04:38] cmsbuild commented on #14852
The cleanup has started for slc6_amd64_gcc530

[2016-06-15 04:38] cmsbuild commented on #14852
The cleanup has started for slc6_amd64_gcc600

[2016-06-15 04:38] cmsbuild commented on #14852
The cleanup has started for slc7_amd64_gcc530

[2016-06-15 04:38] #14852 closed

[2016-06-15 04:39] cmsbuild commented on #14852
The workspace for slc6_amd64_gcc600 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre7-slc6_amd64_gcc600/417

[2016-06-15 04:40] cmsbuild commented on #14852
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre7-slc6_amd64_gcc530/416

[2016-06-15 04:48] cmsbuild commented on #14852
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre7-slc7_amd64_gcc530/418

[2016-06-15 08:54] davidlt opened #14890 "Add CMSSW configuration (multi-threading) information into FrameworkJobReport"
I was looking into CMSSW generated job reports (XML) and I couldn't notice any information about it's configuration.

We are using the following Python file to enable multi-threading in CMSSW: https://github.com/cms-sw/cmssw/blob/CMSSW_8_1_X/FWCore/Concurrency/python/dropNonMTSafe.py

The following options are listed:
- `numberOfThreads`
- `sizeOfStackForThreadsInKB`
- `numberOfStreams`

Could we

[2016-06-15 08:54] davidlt commented on #14890
assign core

[2016-06-15 08:55] cmsbuild commented on #14890
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-15 08:55] cmsbuild commented on #14890
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-15 12:50] davidlange6 commented on #14821
assign core
@smuzaffar @degano @iahmad-khan

[2016-06-15 12:51] cmsbuild commented on #14821
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-15 12:52] boudoul commented on #14840
Hi all , I have no idea whether this requested feature is complicated or not to implement, but It would certainly help a lot

[2016-06-15 12:53] davidlange6 commented on #14821
@fioriNTU you can also just make a pull request for
https://github.com/cms-sw/cms-bot/blob/master/watchers.yaml

[2016-06-15 13:20] iahmad-khan commented on #14821
Fixed in https://github.com/cms-sw/cms-bot/pull/712

[2016-06-15 13:22] richard-cms commented on #14862
@davidlange6

The flag appears to be a hard dependency for CGAL - there is an error reported during compilation of that module if "-frounding-math" is removed. I don't know the details of why CGAL requires it. A quick google search shows that several projects are annoyed by this hard requirement.

[2016-06-15 13:41] davidlt commented on #14862
Googling suggests it's used by `CGAL::Interval_nt` and quick look at code suggest it has run-time checks. There is away to disable these run-time check. E.g. it's done for Intel C++ out-of-the-box. Here is the macro which controls it: `-DCGAL_DISABLE_ROUNDING_MATH_CHECK`. See `Number_types/include/CGAL/Interval_nt.h`. You also need to disable it if you want to use valgrind.

[2016-06-15 13:59] richard-cms commented on #14862
@davidlange6 Thanks for the find! We'll test it a bit to see if we can do without the rounding.

[2016-06-15 15:35] davidlange6 opened #14892 "Build CMSSW_7_1_24"
2016 sim beamspot
New frontier client

[2016-06-15 15:42] cmsbuild commented on #14892
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-06-15 15:44] davidlange6 commented on #14892
+1

[2016-06-15 15:44] cmsbuild commented on #14892
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_24. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2016-06-15 15:44] cmsbuild commented on #14892
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-06-15 15:45] cmsbuild commented on #14892
The build has started for slc6_amd64_gcc481 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/715/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-15 17:01] kpedro88 opened #14895 "[Core] Split Eras.py into multiple files"
We constantly have to deal with collisions in https://github.com/cms-sw/cmssw/blob/CMSSW_8_1_X/Configuration/StandardSequences/python/Eras.py, because all the different development efforts (Run2, Phase1, Phase2) have to modify this file often.

Ideally, we could at least split the Era definitions into a few separate files to reduce pointless collisions (and reduce the volume packages selected by c

[2016-06-15 17:01] cmsbuild commented on #14895
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-15 17:52] cmsbuild commented on #14892
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_24-slc6_amd64_gcc481/715
Some tests ( r

[2016-06-15 18:01] wddgit commented on #14242
This is fixed by PR #14896

[2016-06-15 18:05] cmsbuild commented on #14892
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_24-slc6_amd64_gcc481/715

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2016-06-15 18:36] bouril opened #14897 "Crash in egHLT::trigTools::getFiltersPassed CMSSW_8_1_THREADED_X_2016-06-12-2300"
Build CMSSW_8_1_THREADED_X_2016-06-12-2300

1335.0 Wjet_Pt_80_120_13

egHLT::trigTools::getFiltersPassed

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-06-12-2300/pyRelValMatrixLogs/run/1335.0_Wjet_Pt_80_120_13+Wjet_Pt_80_120_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15/step3_Wjet_Pt_80_120_13+Wjet_Pt_80_120_13INPUT+DIGIUP15+RECOUP15+HARVESTUP15.log

Thread 3 (T

[2016-06-15 18:36] cmsbuild commented on #14897
A new Issue was created by  @bouril Dimitri Bourilkov.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-15 18:48] bouril opened #14898 "DQMHcal crash in CMSSW_8_1_THREADED_X_2016-06-10-2300"
Build CMSSW_8_1_THREADED_X_2016-06-10-2300

4.45 RunJet2012A

DQMHcal problem

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-06-10-2300/pyRelValMatrixLogs/run/4.45_RunJet2012A+RunJet2012A+HLTD+RECODR1reHLT+HARVESTDR1reHLT/step3_RunJet2012A+RunJet2012A+HLTD+RECODR1reHLT+HARVESTDR1reHLT.log

Thread 2 (Thread 0x7fb2c873f700 (LWP 32294)):
#0  0x0000003fccadf2

[2016-06-15 18:48] cmsbuild commented on #14898
A new Issue was created by  @bouril Dimitri Bourilkov.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-16 08:05] davidlange6 commented on #14892
it looks like the 71x IB has all the same problems it did yesterday. I'll go ahead with the release upload

[2016-06-16 08:05] davidlange6 commented on #14892
upload all

[2016-06-16 08:06] cmsbuild commented on #14892
Queing Jenkins upload for slc6_amd64_gcc481

[2016-06-16 08:06] cmsbuild commented on #14892
The upload has started for slc6_amd64_gcc481 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/455/console

[2016-06-16 08:44] cmsbuild commented on #14892
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_24-slc6_amd64_gcc481/455
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-16 08:45] smuzaffar commented on #14728
@thuer,@covarell,@perrozzi,@govoni any issues removing this tool for cmssw?

[2016-06-16 09:10] cmsbuild commented on #14892
The installation has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_1_24/slc6_amd64_gcc481/696/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-06-16 09:36] davidlange6 commented on #14892
release-notes

[2016-06-16 09:41] cmsbuild commented on #14892
Generating release notes since CMSSW_7_1_23.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-06-16 09:41] cmsbuild commented on #14892
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_24 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_23 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_24

2016 sim beamspot
New frontier client

Cheers,
cms-bot

You can also click <a hre

[2016-06-16 09:43] cmsbuild commented on #14892
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_24

[2016-06-16 11:12] davidlange6 opened #14902 "Build CMSSW_8_0_12"
Primary features:
- CT-PPS reco backport completion
- cosmics during collisions reco added
- tweak to reduce I/O in premixing workflow to help reduce the overall I/O load on sites when generating the large premixed sample

[2016-06-16 11:12] davidlange6 commented on #14902
+1

[2016-06-16 11:13] cmsbuild commented on #14902
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-06-16 11:13] cmsbuild commented on #14902
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_12. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-06-16 11:13] cmsbuild commented on #14902
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-06-16 11:14] cmsbuild commented on #14902
The build has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/716/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-16 11:15] cmsbuild commented on #14902
The build has started for slc7_amd64_gcc530 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/717/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-16 11:58] cmsbuild commented on #14902
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/718/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-16 15:02] cmsbuild commented on #14902
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_12-slc6_amd64_gcc493/716
Some tests ( r

[2016-06-16 15:49] cmsbuild commented on #14902
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_12-slc6_amd64_gcc530/718
Some tests ( r

[2016-06-16 15:52] cmsbuild commented on #14902
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_12-slc6_amd64_gcc493/716

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-16 16:11] cmsbuild commented on #14902
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_12-slc6_amd64_gcc530/718

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-16 16:47] davidlange6 opened #14908 "Build CMSSW_8_0_10_patch3"

[2016-06-16 16:47] davidlange6 commented on #14908
+1

[2016-06-16 16:47] cmsbuild commented on #14908
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-06-16 16:48] cmsbuild commented on #14908
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_10_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_10_patchX

[2016-06-16 16:48] cmsbuild commented on #14908
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-06-16 17:12] cmsbuild commented on #14908
The build has started for slc7_amd64_gcc530 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/719/console
CMSDIST Branch: [REL/CMSSW_8_0_10/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_10/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-16 17:57] cmsbuild commented on #14908
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/720/console
CMSDIST Branch: [REL/CMSSW_8_0_10/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_10/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-16 18:07] cmsbuild commented on #14902
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_12-slc7_amd64_gcc530/717
Some tests ( r

[2016-06-16 18:13] cmsbuild commented on #14908
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/721/console
CMSDIST Branch: [REL/CMSSW_8_0_10/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_10/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-06-16 18:25] cmsbuild commented on #14908
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch3-slc7_amd64_gcc530/719
Some te

[2016-06-16 18:27] cmsbuild commented on #14908
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch3-slc6_amd64_gcc493/720
Some te

[2016-06-16 18:48] cmsbuild commented on #14908
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch3-slc6_amd64_gcc493/720

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-16 18:56] cmsbuild commented on #14902
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_12-slc7_amd64_gcc530/717

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-16 18:58] cmsbuild commented on #14908
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch3-slc7_amd64_gcc530/719

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-16 19:00] davidlange6 commented on #14908
upload all

[2016-06-16 19:01] cmsbuild commented on #14908
Queing Jenkins upload for slc6_amd64_gcc493

[2016-06-16 19:01] cmsbuild commented on #14908
Queing Jenkins upload for slc7_amd64_gcc530

[2016-06-16 19:01] cmsbuild commented on #14908
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/456/console

[2016-06-16 19:01] cmsbuild commented on #14908
The upload has started for slc7_amd64_gcc530 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/457/console

[2016-06-16 19:32] cmsbuild commented on #14908
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch3-slc6_amd64_gcc530/721
Some te

[2016-06-16 19:33] cmsbuild commented on #14908
Queing Jenkins upload for slc6_amd64_gcc530

[2016-06-16 19:33] cmsbuild commented on #14908
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/458/console

[2016-06-16 19:47] cmsbuild commented on #14908
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_10_patch3-slc6_amd64_gcc493/456
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-16 19:50] cmsbuild commented on #14908
The was error installing slc6_amd64_gcc493.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_10_patch3/slc6_amd64_gcc493/697/

[2016-06-16 19:53] cmsbuild commented on #14908
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_10_patch3-slc6_amd64_gcc530/721

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-16 20:39] cmsbuild commented on #14908
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_10_patch3-slc6_amd64_gcc530/458
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-16 20:46] cmsbuild commented on #14908
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_10_patch3/slc6_amd64_gcc530/698/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-06-16 21:25] cmsbuild commented on #14908
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_10_patch3-slc7_amd64_gcc530/457
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-16 21:31] cmsbuild commented on #14908
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_10_patch3/slc7_amd64_gcc530/699/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-06-16 21:35] davidlange6 commented on #14908
release-notes

[2016-06-16 21:36] cmsbuild commented on #14908
Generating release notes since CMSSW_8_0_10_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-06-16 21:36] cmsbuild commented on #14908
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_10_patch3 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_10_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_10_patch3

Cheers,
cms-bot

You can also click

[2016-06-16 21:36] davidlange6 commented on #14902
upload all

[2016-06-16 21:37] cmsbuild commented on #14902
Queing Jenkins upload for slc6_amd64_gcc493

[2016-06-16 21:37] cmsbuild commented on #14902
Queing Jenkins upload for slc6_amd64_gcc530

[2016-06-16 21:37] cmsbuild commented on #14902
Queing Jenkins upload for slc7_amd64_gcc530

[2016-06-16 21:37] cmsbuild commented on #14908
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_10_patch3

[2016-06-16 21:37] cmsbuild commented on #14902
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/460/console

[2016-06-16 21:37] cmsbuild commented on #14902
The upload has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/459/console

[2016-06-16 21:37] cmsbuild commented on #14902
The upload has started for slc7_amd64_gcc530 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/461/console

[2016-06-16 22:16] cmsbuild commented on #14902
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_12-slc6_amd64_gcc493/459
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-16 22:37] cmsbuild commented on #14902
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_12/slc6_amd64_gcc493/700/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-06-16 22:54] cmsbuild commented on #14902
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_12-slc7_amd64_gcc530/461
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-16 23:12] cmsbuild commented on #14902
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_12/slc7_amd64_gcc530/701/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-06-16 23:37] cmsbuild commented on #14902
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_12-slc6_amd64_gcc530/460
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-16 23:54] cmsbuild commented on #14902
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_12/slc6_amd64_gcc530/702/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-06-17 01:48] cmsbuild commented on #14908
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_10_patch3/slc6_amd64_gcc493/703/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-06-17 02:06] cmsbuild commented on #14852
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre7/slc6_amd64_gcc493/704/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-06-17 04:59] davidlange6 commented on #14902
release-notes

On 17 Jun 2016, at 01:54, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_12/slc6_amd64_gcc530/702/
To generate the release notes for the release write "release-notes since <previous-release>

[2016-06-17 05:00] cmsbuild commented on #14902
Generating release notes since CMSSW_8_0_11.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-06-17 05:00] cmsbuild commented on #14902
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_12 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_11 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_12

Primary features:
- CT-PPS reco backport comp

[2016-06-17 05:01] cmsbuild commented on #14902
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_12

[2016-06-17 13:16] Dr15Jones opened #14914 "Change PluginFactory to return a std::unique_ptr"
The present implementation of PluginFactory returns a bare pointer to the newly created item. This should be changed to a std::unique_ptr to help enforce proper memory management.

[2016-06-17 13:16] cmsbuild commented on #14914
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-17 13:17] Dr15Jones commented on #14914
assign core

[2016-06-17 13:17] cmsbuild commented on #14914
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-17 17:21] smuzaffar commented on #14870
Thanks @riga for spotting this. I guess no code in cmssw is including CommonTools/Utils/interface/normalizedPhi.h that is why we do not get compilation errors.

[2016-06-17 17:24] slava77 commented on #14870
we should just remove this file, as well as deltaPhi.h and deltaR.h in the same directory

[2016-06-17 17:28] smuzaffar commented on #14870
Looks like there is some external code which uses it
https://github.com/search?q=+CommonTools%2FUtils%2Finterface%2FnormalizedPhi.h&type=Code&utf8=%E2%9C%93

I guess that code works in 76X and earlier releases but same code fails for 8XX releases.

[2016-06-17 17:29] riga commented on #14870
Yep, that's exactly what we observed when transitioning to 80X.

[2016-06-17 17:30] slava77 commented on #14870
@smuzaffar
I couldn't find an example in your search that wasn't just a copy of CommonTools/Utils package (sombody's forks?)

[2016-06-17 17:36] slava77 commented on #14870
the CommonTools/Utils/src/normalizedPhi.cc was removed in 80X
https://github.com/cms-sw/cmssw/pull/12843
if somebody's setup put's back an old (pre-80X) version of CommonTools/Utils on top of 80X or later release, they are on their own.

[2016-06-17 17:48] smuzaffar commented on #14870
agree @slava77
@riga, right approch should be that you update your code to include DataFormats/Math/interface/normalizedPhi.h instead of  CommonTools/Utils/interface/normalizedPhi.h

[2016-06-17 17:52] slava77 commented on #14870
@riga
which file did you have including CommonTools/Utils/interface/normalizedPhi.h?
If it happened to be CommonTools/Utils/src/normalizedPhi.cc, then your setup is likely malformed.

[2016-06-17 18:08] riga commented on #14870
Turned out that CommonTools/Utils/interface/normalizedPhi.h was included in the code base of one of our subgroups, I'll just tell them to use DataFormats/Math/interface/normalizedPhi.h instead.

Thanks for the input!

[2016-06-17 18:29] smuzaffar commented on #14762
#14732 is merged also.

[2016-06-17 18:29] #14762 closed

[2016-06-17 21:20] davidlt opened #14919 "[Error] Warning: IO rule for class HcalDetId data member: DetId::id_ was specified as a target in the rule but doesn't seem to appear in target class"
This fails `DataFormats/HcalDetId` dictionary.

[code]

All warnings are being treated as errors.

[code]

[2016-06-17 21:20] cmsbuild commented on #14919
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-17 21:21] davidlt commented on #14919
@kpedro88 @bsunanda

Caused by #12883

[2016-06-17 21:22] davidlt commented on #14919
assign simulation

[2016-06-17 21:23] cmsbuild commented on #14919
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-18 07:38] cmsbuild commented on #14892
The cleanup has started for slc6_amd64_gcc481

[2016-06-18 07:38] #14892 closed

[2016-06-18 07:40] cmsbuild commented on #14892
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_24-slc6_amd64_gcc481/419

[2016-06-18 19:43] cmsbuild commented on #14908
The cleanup has started for slc6_amd64_gcc493

[2016-06-18 19:43] cmsbuild commented on #14908
The cleanup has started for slc6_amd64_gcc530

[2016-06-18 19:43] cmsbuild commented on #14908
The cleanup has started for slc7_amd64_gcc530

[2016-06-18 19:43] #14908 closed

[2016-06-18 19:44] cmsbuild commented on #14908
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_10_patch3-slc6_amd64_gcc493/420

[2016-06-18 19:45] cmsbuild commented on #14908
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_10_patch3-slc6_amd64_gcc530/421

[2016-06-18 20:00] cmsbuild commented on #14908
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_10_patch3-slc7_amd64_gcc530/422

[2016-06-19 03:08] cmsbuild commented on #14902
The cleanup has started for slc6_amd64_gcc493

[2016-06-19 03:08] cmsbuild commented on #14902
The cleanup has started for slc6_amd64_gcc530

[2016-06-19 03:08] cmsbuild commented on #14902
The cleanup has started for slc7_amd64_gcc530

[2016-06-19 03:08] #14902 closed

[2016-06-19 03:09] cmsbuild commented on #14902
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_12-slc6_amd64_gcc493/423

[2016-06-19 03:10] cmsbuild commented on #14902
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_12-slc6_amd64_gcc530/424

[2016-06-19 03:17] cmsbuild commented on #14902
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_12-slc7_amd64_gcc530/425

[2016-06-20 06:12] davidlt opened #14921 "Failing runtestRecoLocalCaloHGCalRecProducers (needs cleanup)"
`runtestRecoLocalCaloHGCalRecProducers` test is failing:
[code]

`GeometryExtended2023LRecoReco_cff.py` and `GeometryExtended2023LReco_cff.py` has been deleted a month ago.
[code]

Cleanup list:
[code]

[2016-06-20 06:12] cmsbuild commented on #14921
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-20 06:13] davidlt commented on #14921
/cc @ianna @thomaslenzi @lgray

[2016-06-20 06:13] davidlt commented on #14921
assign reconstruction

[2016-06-20 06:14] cmsbuild commented on #14921
New categories assigned: reconstruction

@cvuosalo,@slava77 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-20 06:18] davidlt opened #14922 "Failing DetectorDescriptionRegressionTestDOMCount unit test (needs clean up)"
`DetectorDescriptionRegressionTestDOMCount ` is failing:
[code]

The file has been removed  almost two weeks ago:
[code]

[code]
/cc @kpedro88 @ianna

[2016-06-20 06:18] davidlt commented on #14922
assign geometry

[2016-06-20 06:18] cmsbuild commented on #14922
New categories assigned: geometry

@Dr15Jones,@ianna,@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-20 06:18] cmsbuild commented on #14922
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-20 09:31] smuzaffar commented on #14922
this is fixed here #14906

[2016-06-20 10:55] lgray commented on #14921
Fixed in: https://github.com/cms-sw/cmssw/pull/14872

[2016-06-20 11:11] smuzaffar commented on #14921
thanks @lgray

[2016-06-20 12:50] davidlt commented on #14921
But it doesn't clean `RecoLocalTracker/SiPhase2Clusterizer/test/ClustersValidationTest_flat_cfg` Thus we still have one more file referencing old stuff.

[2016-06-21 11:24] thomaslenzi commented on #14921
I opened PR #14931 to fix this issue.

[2016-06-21 14:03] dan131riley commented on #13669
This should be fixed by https://sft.its.cern.ch/jira/browse/ROOT-8217

[2016-06-21 14:05] Dr15Jones commented on #13669
assign core

[2016-06-21 14:05] cmsbuild commented on #13669
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-21 14:05] Dr15Jones commented on #13669
+1

[2016-06-21 14:06] cmsbuild commented on #13669
This issue is fully signed and ready to be closed.

[2016-06-21 19:32] bouril opened #14940 "Crash in DetectPatterns(ZonesOutput) from libL1TriggerL1TMuonEndCap.so 8_1_THREADED_X_2016-06-18-1100"
CMSSW_8_1_THREADED_X_2016-06-18-1100

1314.0 WpM_13    crash in
DetectPatterns(ZonesOutput) from libL1TriggerL1TMuonEndCap.so

BEFORE (start of log)  there is a warning:
L1Trigger/L1TGlobal/python/StableParameters_cff.py is deprecated, please use GlobalParameters_cff.py instead.

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-06-18-1100/pyRelValMatrixLogs/

[2016-06-21 19:33] cmsbuild commented on #14940
A new Issue was created by  @bouril Dimitri Bourilkov.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-21 19:46] Dr15Jones commented on #14940
assign core

[2016-06-21 19:46] cmsbuild commented on #14940
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-21 19:49] Dr15Jones commented on #14940
@dan131riley

[2016-06-21 19:50] Dr15Jones commented on #14940
@dan131riley I believe #14941 fixes this?

[2016-06-21 20:00] dan131riley commented on #14940
Yes, this is the crash that #14941 fixes.

-dan

[2016-06-21 20:01] Dr15Jones commented on #14940
+1

[2016-06-21 20:01] cmsbuild commented on #14940
This issue is fully signed and ready to be closed.

[2016-06-22 11:52] ianna commented on #14922
+1

[2016-06-22 11:53] cmsbuild commented on #14922
This issue is fully signed and ready to be closed.

[2016-06-22 11:56] ianna commented on #14807
@davidlt - could not find the instructions you've mentioned earlier. Could you, please, link them here? Thanks.

[2016-06-22 13:56] richard-cms commented on #14862
After testing for a while we think this is a working solution. Thanks again for the help, I'm closing the issue.

[2016-06-22 13:56] #14862 closed

[2016-06-22 14:50] Dr15Jones commented on #14898
assign core

[2016-06-22 14:50] cmsbuild commented on #14898
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-22 14:51] Dr15Jones commented on #14898
@dan131riley looks like this happened again
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-06-21-2300/pyRelValMatrixLogs/run/134.703_RunDoubleMuon2015B+RunDoubleMuon2015B+HLTDR2_50ns+RECODR2_50nsreHLT+HARVESTDR2/step3_RunDoubleMuon2015B+RunDoubleMuon2015B+HLTDR2_50ns+RECODR2_50nsreHLT+HARVESTDR2.log

[2016-06-22 15:05] Dr15Jones opened #14952 "Threading problems in XrdAdaptor::RequestManager"
In the threaded IB we had a timeout on a job which only ran a few minutes:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-06-20-1100/pyRelValMatrixLogs/run/136.729_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2/step2_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2.log

Looking at the stack trace, all t

[2016-06-22 15:05] cmsbuild commented on #14952
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-22 15:05] Dr15Jones commented on #14952
@dan131riley @bbockelm

[2016-06-22 15:05] Dr15Jones commented on #14952
assign core

[2016-06-22 15:05] cmsbuild commented on #14952
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-22 15:37] Dr15Jones commented on #14952
I think the problem is how XRootD handles a 'timed out' message. Looking for printouts containing "(timed out)" in XRootD finds:

https://github.com/xrootd/xrootd/blob/745bcb720cb42902b8d8e757606105857621fcb5/src/XrdCl/XrdClXRootDTransport.cc#L1051

Note that the routine returns `DigestMsg`. The only place I could find that calls `MessageReceived` is

https://github.com/xrootd/xrootd/blob/745bcb72

[2016-06-22 18:18] Dr15Jones commented on #14952
I think a possible solution would be to replace the Semaphore with a `std::conditional_variable` and do a `wait_for` to allow a time out. Unfortunately there is no way for us to know when it is safe to delete the `ResonseHandler` since we can't be sure that XRootD actually never going to send a message to the handler. This would mean we should create the handler on the heap (held by a `std::shared

[2016-06-22 18:48] kpedro88 opened #14954 "[AlCa/DB] removal of HcalCholeskyMatrix DB object"
Procedural question for @mmusich and @ggovi:

After #14856, the HcalCholeskyMatrix object is not used anywhere in the HCAL code. What remains is to remove the object from related database code (and from the GTs).

If I make a PR simply deleting every reference to the relevant objects (checking https://github.com/cms-sw/cmssw/search?utf8=%E2%9C%93&q=hcalcholeskymatrices&type=Code and https://github

[2016-06-22 18:48] cmsbuild commented on #14954
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-23 11:59] mmusich commented on #14954
@kpedro88 if you really want to remove it for good the first step is to remove the record from the Global Tag (everywhere it exists), otherwise removing the DB code before cleaning the GT we will have exceptions in the relval tests.
I believe we want to limit ourselves to 81X for the time being.
@ggovi @franzoni feel free to add details.

[2016-06-23 12:13] abdoulline commented on #14954
Marco, I'm a bit confused...

I thought we proceed this way (inverting impementation of DB object):
(1) remove it's usage (access from user code) - this one is not used...
(2) remove/desactivate acces from CMSSW to HcalCholeskyMatrix in DB
(3) remove unused (then) DB records
(4) remove definition of the object in CondFormats

So that (1)-(2) can be done in one move, then follows (3) cleanup of DB.

[2016-06-23 12:16] mmusich commented on #14954
Salavat the point is that before removing the CondForma the GT needs to be clean. What you'll do before, disabling access in CMSSW of unused conditions doesn't concern us.

[2016-06-23 12:31] abdoulline commented on #14954
OK, thank you.
I just thought (2) is needed at the beginning, as it explicitly initiates (unused) conditions accessing then in DB.
I presume we can proceed with (1)-(4). So that (4) is naturally the last step...

[2016-06-23 14:31] dan131riley commented on #14898
@Dr15Jones this looks like another memory overrun, we're getting these in memcheck:

==83065== Thread 3:
==83065== Invalid read of size 2
==83065==    at 0x4E51FD9D: getBunchNumber (EventFilter/HcalRawToDigi/interface/HcalHTRData.h:116)
==83065==    by 0x4E51FD9D: RawTask::_process(edm::Event const&, edm::EventSetup const&) (DQM/HcalTasks/plugins/RawTask.cc:276)
==83065==    by 0x4E618529: hcaldqm

[2016-06-23 14:47] Dr15Jones commented on #14898
I think create a pull request which uses the check and in the comments of the pull request talk about having a check further up stream. That way the discussion can happen in the right place (with the pull request) and hopefully with the right people.

[2016-06-23 17:56] kpedro88 commented on #14459
@davidlt is there any progress on resolving this problem?

[2016-06-23 21:02] davidlt commented on #14459
Nothing from my side. Fastest option is to ask for `CERN-CA-certs` package to be installed (for admins it's just a few lines in their puppet/ansible/chef/etc configuration) or set `SSL_CERT_DIR` environment variable e.g. in CRAB3. CRAB3 allows writing your own bash script to launch `cmsRun`.

[2016-06-24 06:53] vkuznet commented on #14459
Hi,
on my side I adjusted das client to read from SSL context and provide ability
to specify capath. The code is in github, and I asked Shahzad to provide me
instruction how to update CMSSW area, but so far didn't heard from him.
Valentin.

On  0, davidlt <notifications@github.com> wrote:

[2016-06-24 10:00] belforte commented on #14459
@davidlt I do not thing it is CRAB3 duty to make local sites trust CERN CA's for SSL usage. If SSL_CERT_DIR env. var. needs to be defined, it is for the site to do, or to put CERN CA's in /etc/pki/....
By the way, I look forward for CRAB3 client setup to be part of scram, like it is currently for das_cli.

[2016-06-24 10:53] davidlt commented on #14459
@belforte I wasn't suggesting that it's "CRAB3 duty". I am only suggesting a possible workaround (from user level), which means you don't need to wait until the actual resolution.

@smuzaffar could we deploy a new DAS into CMS common area on CVMFS and AFS?

[2016-06-24 11:08] belforte commented on #14459
@davidlt do you mean (FNAL) user can do this to solve ?
export SSL_CERT_DIR=/etc/grid-security/certificates
iif so we can write a FAQ (but maybe @kpedro88 can get it put in FNAL's login ?)

@vkuznet will new DAS version free (FNAL) users from the need to do that ?

[2016-06-24 11:15] basilschneider commented on #14459
I've been using
`export SSL_CERT_DIR=/etc/grid-security/certificates`
for a while now on the FNAL servers and didn't have any issues any more since then.

[2016-06-24 11:52] vkuznet commented on #14459
Stefano,
the CAPATH is node/OS dependent and we can't be 100% free. But I added
as one of the T3 users suggested the ability to pass capath to das client
and make it default to X509_CERT_DIR. We tested setup on T3 and everything was
working fine.
Valentin.

On  0, Stefano Belforte <notifications@github.com> wrote:

[2016-06-24 12:22] davidlt commented on #14919
ping^1

[2016-06-24 12:25] belforte commented on #14459
Maybe whatever whoever sets x509_cert_dir could set SSL one and save you the hassle?
Sent from Stefano's mobile
On Jun 24, 2016 13:52, Valentin Kuznetsov <notifications@github.com> wrote:Stefano,
the CAPATH is node/OS dependent and we can't be 100% free. But I added
as one of the T3 users suggested the ability to pass capath to das client
and make it default to X509_CERT_DIR. We tested setup on T3

[2016-06-24 12:43] bsunanda commented on #14919
@davidlt Could you please specify what is wrong - for older version (11 or before) the id_ of the parent class need to be modified by the method newForm. There is a change in the internal format. What needs to be changed for that?

[2016-06-24 13:25] ianna commented on #13286
+1

[2016-06-24 13:25] cmsbuild commented on #13286
This issue is fully signed and ready to be closed.

[2016-06-24 13:25] ianna commented on #14113
+1

[2016-06-24 13:25] cmsbuild commented on #14113
This issue is fully signed and ready to be closed.

[2016-06-24 14:51] kpedro88 commented on #14459
At first I was wary of resetting SSL_CERT_DIR because of @davidlt's comment "but it would break everything else." But now I'm using `setenv SSL_CERT_DIR '/etc/pki/tls/certs:/etc/grid-security/certificates'` and things seem to be fine.

@belforte, I sadly have no power over cmslpc global environment settings, or this would have been resolved a long time ago.

[2016-06-24 15:12] belforte commented on #14459
who has it ? Lisa ? Burt ? Dave M. ? Does any of them read this ?

[2016-06-24 15:18] holzman commented on #14459
FWIW, I forwarded this to Dave Mason.

- B

[2016-06-24 15:58] kpedro88 opened #14975 "Adding Phase2 workflows to PR tests"
I would like to add Phase2 workflows to the PR tests. I just checked that they are working in the latest IB CMSSW_8_1_X_2016-06-24-1100.

Currently we have 3 geometries/scenarios: LReco, GReco, and tilted. The corresponding WF numbers are 110xx, 106xx, 112xx. (PU workflows can be ignored for now while geometries are changing rapidly.)

Is it possible to have tests for all of them?

Which physics p

[2016-06-24 15:58] cmsbuild commented on #14975
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-24 19:57] slava77 commented on #14975
Please pick at most two.

[2016-06-24 20:35] slava77 commented on #14975
@kpedro88
also, the workflows should be visible in regular matrix (not the one -w upgrade)

[2016-06-24 22:58] kpedro88 commented on #14975
Okay, I guess we should choose LReco (to include HGCal) and GReco (to have the full workflow). tilted should be identical to GReco except for the tracker geometry; we just have to be vigilant about propagating any geometry XML changes.

I don't know how to make upgrade workflows visible in the regular matrix. Any help would be appreciated...

[2016-06-25 05:18] kpedro88 commented on #14975
It actually turned out to be pretty easy when I realized @boudoul did most of the hard work in #14731. Thanks!

Discussion can be continued in #14977.

[2016-06-25 05:18] #14975 closed

[2016-06-26 17:34] davidlange6 opened #14984 "Build CMSSW_8_1_0_pre8"

[2016-06-26 17:36] cmsbuild commented on #14984
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-06-26 17:37] davidlange6 commented on #14984
build cmssw-tool-conf

[2016-06-26 17:38] cmsbuild commented on #14984
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc530, slc7_aarch64_gcc530, fc22_ppc64le_gcc530, slc7_amd64_gcc530, slc6_amd64_gcc493, slc6_amd64_gcc600
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-co

[2016-06-26 17:39] cmsbuild commented on #14984
The cmssw-tool-conf build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/722/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-26 17:40] cmsbuild commented on #14984
The cmssw-tool-conf build has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/723/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-26 17:40] cmsbuild commented on #14984
The cmssw-tool-conf build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/724/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-26 17:40] cmsbuild commented on #14984
The cmssw-tool-conf build has started for slc6_amd64_gcc600 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/725/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-26 17:41] cmsbuild commented on #14984
The cmssw-tool-conf build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/726/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-26 18:59] cmsbuild commented on #14984
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc493 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc493/722

[2016-06-26 19:20] cmsbuild commented on #14984
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc530 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc530/724

[2016-06-26 19:26] davidlange6 commented on #14984
+1

[2016-06-26 19:27] cmsbuild commented on #14984
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-06-26 19:27] cmsbuild commented on #14984
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2016-06-26 19:28] cmsbuild commented on #14984
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/727/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-26 19:30] cmsbuild commented on #14984
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/728/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-26 19:48] cmsbuild commented on #14984
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc600 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc600/725

[2016-06-26 19:48] cmsbuild commented on #14984
Queuing Jenkins build for the following architectures: slc6_amd64_gcc600
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-06-26 19:49] cmsbuild commented on #14984
The build has started for slc6_amd64_gcc600 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/729/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-26 20:19] cmsbuild commented on #14984
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc530 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc7_amd64_gcc530/726

[2016-06-26 20:24] cmsbuild commented on #14984
The build has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/730/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-26 20:48] cmsbuild commented on #14984
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc530 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc7_aarch64_gcc530/723

[2016-06-26 20:48] cmsbuild commented on #14984
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-06-26 20:49] cmsbuild commented on #14984
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/731/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-26 21:20] cmsbuild commented on #14984
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc493/727
Some tests

[2016-06-26 21:48] cmsbuild commented on #14984
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc493/727

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-26 21:49] cmsbuild commented on #14984
The build has finished sucessfully for the architecture slc6_amd64_gcc600 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc600/729
Some tests

[2016-06-26 22:07] cmsbuild commented on #14984
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc530/728
Some tests

[2016-06-26 22:15] cmsbuild commented on #14984
The tests have finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc600/729

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-26 22:29] cmsbuild commented on #14984
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc530/728

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-27 03:46] cmsbuild commented on #14984
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc7_amd64_gcc530/730
Some tests

[2016-06-27 04:40] cmsbuild commented on #14984
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc7_amd64_gcc530/730

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-27 05:03] davidlange6 commented on #14984
upload all

On 27 Jun 2016, at 06:41, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc7_amd64_gcc530/730

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because you w

[2016-06-27 05:03] cmsbuild commented on #14984
Queing Jenkins upload for slc6_amd64_gcc493

[2016-06-27 05:03] cmsbuild commented on #14984
Queing Jenkins upload for slc6_amd64_gcc530

[2016-06-27 05:03] cmsbuild commented on #14984
Queing Jenkins upload for slc6_amd64_gcc600

[2016-06-27 05:03] cmsbuild commented on #14984
Queing Jenkins upload for slc7_amd64_gcc530

[2016-06-27 05:04] cmsbuild commented on #14984
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/462/console

[2016-06-27 05:04] cmsbuild commented on #14984
The upload has started for slc6_amd64_gcc600 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/464/console

[2016-06-27 05:04] cmsbuild commented on #14984
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/463/console

[2016-06-27 05:06] cmsbuild commented on #14984
The upload has started for slc7_amd64_gcc530 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/465/console

[2016-06-27 05:31] cmsbuild commented on #14984
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc7_aarch64_gcc530/731
Some t

[2016-06-27 05:35] cmsbuild commented on #14984
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-06-27 05:39] cmsbuild commented on #14984
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc493/462
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-27 05:40] cmsbuild commented on #14984
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/466/console

[2016-06-27 06:08] cmsbuild commented on #14984
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre8/slc6_amd64_gcc493/705/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-06-27 06:09] cmsbuild commented on #14984
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc530/463
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-27 06:29] cmsbuild commented on #14984
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-slc7_aarch64_gcc530/731

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-27 06:30] cmsbuild commented on #14984
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre8/slc6_amd64_gcc530/706/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-06-27 06:31] cmsbuild commented on #14984
The upload has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre8-slc6_amd64_gcc600/464
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-27 06:48] cmsbuild commented on #14984
The installation has successfully finished for slc6_amd64_gcc600
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre8/slc6_amd64_gcc600/707/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-06-27 06:56] cmsbuild commented on #14984
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre8-slc7_amd64_gcc530/465
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-27 06:57] davidlange6 commented on #14984
release-notes

[2016-06-27 06:57] cmsbuild commented on #14984
Generating release notes since CMSSW_8_1_0_pre7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-06-27 06:57] cmsbuild commented on #14984
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_1_0_pre8 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc6_amd64_gcc600

The release notes of what changed with respect to CMSSW_8_1_0_pre7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_1_0_pre8

Cheers,
cms-bot

You can also cl

[2016-06-27 07:01] cmsbuild commented on #14984
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre8

[2016-06-27 07:23] cmsbuild commented on #14984
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_1_0_pre8-slc7_aarch64_gcc530/466
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-27 07:24] cmsbuild commented on #14984
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre8/slc7_amd64_gcc530/708/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-06-27 09:13] cmsbuild commented on #14984
The cmssw-tool-conf build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/732/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-27 10:49] cmsbuild commented on #14984
The cmssw-tool-conf build has finished sucessfully for the architecture fc22_ppc64le_gcc530 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre8-fc22_ppc64le_gcc530/732

[2016-06-27 16:45] ianna commented on #14807
@davidlt - which build nodes have x86_64 installed? Thanks.

[2016-06-28 07:51] Dr15Jones opened #15010 "Consider simpler ParameterSet validation"
Right now developers must write a `fillDescription` method of a module to do ParameterSet validation. For simple cases we could provide a more simple mechanism via defining a C++ struct.

## Clang Parser
A developer could write a simple C++ struct and we have a parser based on clang parse it to find the types and names of the members to correspond to parameters and then write a function which take

[2016-06-28 07:51] cmsbuild commented on #15010
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-28 07:51] Dr15Jones commented on #15010
assign core

[2016-06-28 07:51] cmsbuild commented on #15010
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-28 07:52] Dr15Jones commented on #15010
I checked and passing `this` in the member data declaration does work.

[2016-06-28 07:54] Dr15Jones commented on #15010
Dealing with PSets embedded in PSets would take some more thought.

[2016-06-28 08:20] Dr15Jones commented on #15010
This simple test does work
[code]

[2016-06-28 16:19] Dr15Jones commented on #14952
This problem happened again on 2016-06-24
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-06-24-0400/pyRelValMatrixLogs/run/136.729_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2/step2_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2.log

[2016-06-28 20:57] davidlange6 opened #15039 "Build CMSSW_8_0_13"

[2016-06-28 20:58] davidlange6 commented on #15039
+1

[2016-06-28 20:58] cmsbuild commented on #15039
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-06-28 20:59] cmsbuild commented on #15039
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_13. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-06-28 20:59] cmsbuild commented on #15039
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-06-28 21:01] cmsbuild commented on #15039
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/733/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-28 21:01] cmsbuild commented on #15039
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/735/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-28 21:01] cmsbuild commented on #15039
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/734/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-28 23:03] cmsbuild commented on #15039
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13-slc6_amd64_gcc493/733
Some tests ( r

[2016-06-28 23:34] cmsbuild commented on #15039
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13-slc6_amd64_gcc493/733

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-29 00:54] cmsbuild commented on #15039
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13-slc6_amd64_gcc530/735
Some tests ( r

[2016-06-29 01:23] cmsbuild commented on #15039
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13-slc6_amd64_gcc530/735

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-29 02:41] cmsbuild commented on #15039
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13-slc7_amd64_gcc530/734
Some tests ( r

[2016-06-29 03:22] cmsbuild commented on #15039
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13-slc7_amd64_gcc530/734

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-29 05:08] cmsbuild commented on #14984
The cleanup has started for slc7_aarch64_gcc530

[2016-06-29 05:08] cmsbuild commented on #14984
The cleanup has started for slc6_amd64_gcc493

[2016-06-29 05:08] cmsbuild commented on #14984
The cleanup has started for slc6_amd64_gcc530

[2016-06-29 05:08] cmsbuild commented on #14984
The cleanup has started for slc6_amd64_gcc600

[2016-06-29 05:09] cmsbuild commented on #14984
The cleanup has started for slc7_amd64_gcc530

[2016-06-29 05:09] #14984 closed

[2016-06-29 05:10] cmsbuild commented on #14984
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre8-slc6_amd64_gcc493/426

[2016-06-29 05:12] cmsbuild commented on #14984
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre8-slc6_amd64_gcc530/427

[2016-06-29 05:12] cmsbuild commented on #14984
The workspace for slc6_amd64_gcc600 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre8-slc6_amd64_gcc600/428

[2016-06-29 05:12] cmsbuild commented on #14984
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre8-slc7_aarch64_gcc530/429

[2016-06-29 05:13] cmsbuild commented on #14984
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre8-slc6_amd64_gcc493/431

[2016-06-29 05:14] cmsbuild commented on #14984
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre8-slc6_amd64_gcc530/432

[2016-06-29 05:19] cmsbuild commented on #14984
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_1_0_pre8-slc7_amd64_gcc530/430

[2016-06-29 08:03] davidlange6 commented on #15039
upload all

[2016-06-29 08:03] cmsbuild commented on #15039
Queing Jenkins upload for slc6_amd64_gcc493

[2016-06-29 08:03] cmsbuild commented on #15039
Queing Jenkins upload for slc6_amd64_gcc530

[2016-06-29 08:03] cmsbuild commented on #15039
Queing Jenkins upload for slc7_amd64_gcc530

[2016-06-29 08:04] cmsbuild commented on #15039
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/467/console

[2016-06-29 08:04] cmsbuild commented on #15039
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/468/console

[2016-06-29 08:04] cmsbuild commented on #15039
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/469/console

[2016-06-29 08:09] Dr15Jones commented on #14897
@dan131riley This appears to have happen again but this time two threads in the same job crashed ! That's a new one to me: https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-06-28-2300/pyRelValMatrixLogs/run/250205.0_ZTT_13+ZTT_13INPUT+DIGIPRMXUP15_PU25+RECOPRMXUP15_PU25+HARVESTUP15_PU25/step3_ZTT_13+ZTT_13INPUT+DIGIPRMXUP15_PU25+RECOPRMXUP15_PU25+HARVESTUP15_

[2016-06-29 08:45] cmsbuild commented on #15039
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_13-slc6_amd64_gcc493/467
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-29 09:04] cmsbuild commented on #15039
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_13/slc6_amd64_gcc493/709/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-06-29 09:05] Dr15Jones commented on #14897
Something I had missed before is the crash happens in `edm::InputTag::InputTag(std::string const&)` but the only explicit calls to construct an `edm::InputTag` in that code uses the three argument form of the constructor. Therefore the crash happens in code that the compile added because a string was passed to an function that required an `edm::InputTag`.

[2016-06-29 09:10] Dr15Jones commented on #14897
So I think I figured out why `edm::InputTag::InputTag(std::string const&)` is being called. I think it is from line 56
http://cmslxr.fnal.gov/lxr/source/DQMOffline/Trigger/interface/EgHLTTrigTools.h?v=CMSSW_8_1_X_2016-06-26-2300#0056
and line 79
http://cmslxr.fnal.gov/lxr/source/DQMOffline/Trigger/interface/EgHLTTrigTools.h?v=CMSSW_8_1_X_2016-06-26-2300#0079

line 56 is
[code]
What this line does

[2016-06-29 09:25] cmsbuild commented on #15039
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_13-slc6_amd64_gcc530/468
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-29 09:44] cmsbuild commented on #15039
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_13/slc6_amd64_gcc530/710/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-06-29 10:01] cmsbuild commented on #15039
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_13-slc7_amd64_gcc530/469
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-29 10:31] davidlange6 commented on #15039
release-notes

[2016-06-29 10:38] cmsbuild commented on #15039
Generating release notes since CMSSW_8_0_12.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-06-29 10:38] cmsbuild commented on #15039
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_13 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_12 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_13

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2016-06-29 10:40] cmsbuild commented on #15039
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_13

[2016-06-29 11:14] Dr15Jones commented on #14897
I got rid of the unnecessary conversions #15051

[2016-06-29 14:47] ianna commented on #14807
+1

@davidlt - run @vocms0301 with CMSSW_8_1_X_2016-06-28-2300 and 11024.0 - the issue is not reproducible.
[code]

[2016-06-29 14:48] cmsbuild commented on #14807
This issue is fully signed and ready to be closed.

[2016-06-29 14:49] ianna commented on #14808
+1

See comment to https://github.com/cms-sw/cmssw/issues/14807

[2016-06-29 14:49] cmsbuild commented on #14808
This issue is fully signed and ready to be closed.

[2016-06-29 15:27] Dr15Jones commented on #14897
assign core

[2016-06-29 15:27] cmsbuild commented on #14897
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-06-29 15:28] Dr15Jones commented on #14897
Found another instance of the crash
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-06-28-1100/pyRelValMatrixLogs/run/1306.0_SingleMuPt1_UP15+SingleMuPt1_UP15INPUT+DIGIUP15+RECOUP15+HARVESTUP15/step3_SingleMuPt1_UP15+SingleMuPt1_UP15INPUT+DIGIUP15+RECOUP15+HARVESTUP15.log

[2016-06-29 16:05] Dr15Jones commented on #14952
@bbockelm
A related problem appears to be:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-06-26-0000/pyRelValMatrixLogs/run/136.729_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2/step2_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2.log

where the relevant log is:
[code]

Here the main thread has finis

[2016-06-29 18:37] dan131riley commented on #14897
I'm having a hard time imagining how edm::InputTag().encode() produces a string that crashes edm::InputTag().  Also odd that in both the latest two crashes another thread is in basically the same spot deep inside TotemRPGeometryESModule.  Will see if these reproduce...

[2016-06-29 18:44] Dr15Jones commented on #14897
I agree about `edm::InputTag().encode()` probably being a victim of a 'drive-by' memory hit :).

[2016-06-30 04:20] davidlange6 opened #15073 "Build CMSSW_8_0_13_patch1"
Issues to fix on both HLT and DQM. (they are not fixed yet, but we expect a patch today)

[2016-06-30 04:20] cmsbuild commented on #15073
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-06-30 16:23] davidlange6 commented on #15073
+1

[2016-06-30 16:23] cmsbuild commented on #15073
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_13_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-06-30 16:23] cmsbuild commented on #15073
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-06-30 16:25] cmsbuild commented on #15073
The build has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/736/console
CMSDIST Branch: [REL/CMSSW_8_0_13/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_13/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-30 16:26] cmsbuild commented on #15039
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_13/slc7_amd64_gcc530/712/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-06-30 17:45] cmsbuild commented on #15073
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13_patch1-slc7_amd64_gcc530/736
Some te

[2016-06-30 18:01] cmsbuild commented on #15073
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/737/console
CMSDIST Branch: [REL/CMSSW_8_0_13/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_13/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-30 18:36] cmsbuild commented on #15073
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/738/console
CMSDIST Branch: [REL/CMSSW_8_0_13/slc6_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_13/slc6_amd64_gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-06-30 18:45] cmsbuild commented on #15073
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13_patch1-slc7_amd64_gcc530/736

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-30 18:53] cmsbuild commented on #15073
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13_patch1-slc6_amd64_gcc493/737
Some te

[2016-06-30 19:19] cmsbuild commented on #15073
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13_patch1-slc6_amd64_gcc493/737

Tests results:
1001.0_RunMinBias2011A+RunMinBias2011A+TIER0EXP+ALCAEXP+ALCAHARVD1+ALCAHARVD2+ALCAHARVD3+ALCAHARVD4+ALCAHARVD5 Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN Step5-NOTRUN Step6-NOTRUN

[2016-06-30 19:30] cmsbuild commented on #15073
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13_patch1-slc6_amd64_gcc530/738
Some te

[2016-06-30 19:58] cmsbuild commented on #15073
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13_patch1-slc6_amd64_gcc530/738

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2016-06-30 20:07] davidlange6 commented on #15073
upload all

On 30 Jun 2016, at 21:58, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_13_patch1-slc6_amd64_gcc530/738

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

—
You are receiving this because yo

[2016-06-30 20:07] cmsbuild commented on #15073
Queing Jenkins upload for slc6_amd64_gcc493

[2016-06-30 20:07] cmsbuild commented on #15073
Queing Jenkins upload for slc6_amd64_gcc530

[2016-06-30 20:07] cmsbuild commented on #15073
Queing Jenkins upload for slc7_amd64_gcc530

[2016-06-30 20:08] cmsbuild commented on #15073
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/471/console

[2016-06-30 20:08] cmsbuild commented on #15073
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/470/console

[2016-06-30 20:08] cmsbuild commented on #15073
The upload has started for slc7_amd64_gcc530 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/472/console

[2016-06-30 20:42] cmsbuild commented on #15073
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_13_patch1-slc6_amd64_gcc493/470
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-30 20:49] cmsbuild commented on #15073
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_13_patch1/slc6_amd64_gcc493/713/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-06-30 21:07] cmsbuild commented on #15073
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_13_patch1-slc6_amd64_gcc530/471
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-30 21:12] cmsbuild commented on #15073
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_13_patch1/slc6_amd64_gcc530/714/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-06-30 21:46] cmsbuild commented on #15073
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_13_patch1-slc7_amd64_gcc530/472
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-06-30 21:50] cmsbuild commented on #15073
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_13_patch1/slc7_amd64_gcc530/715/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-07-01 07:31] davidlange6 commented on #15073
release-notes

[2016-07-01 07:32] cmsbuild commented on #15073
Generating release notes since CMSSW_8_0_13.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-07-01 07:32] cmsbuild commented on #15073
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_8_0_13_patch1 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_13 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_13_patch1

Issues to fix on both HLT

[2016-07-01 07:33] cmsbuild commented on #15073
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_13_patch1

[2016-07-01 08:39] cmsbuild commented on #15039
The cleanup has started for slc6_amd64_gcc493

[2016-07-01 08:39] cmsbuild commented on #15039
The cleanup has started for slc6_amd64_gcc530

[2016-07-01 08:39] cmsbuild commented on #15039
The cleanup has started for slc7_amd64_gcc530

[2016-07-01 08:39] #15039 closed

[2016-07-01 08:41] cmsbuild commented on #15039
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_13-slc6_amd64_gcc530/434

[2016-07-01 08:41] cmsbuild commented on #15039
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_13-slc6_amd64_gcc493/433

[2016-07-01 08:47] cmsbuild commented on #15039
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_13-slc7_amd64_gcc530/435

[2016-07-03 05:38] cmsbuild commented on #15073
The cleanup has started for slc6_amd64_gcc493

[2016-07-03 05:38] cmsbuild commented on #15073
The cleanup has started for slc6_amd64_gcc530

[2016-07-03 05:38] cmsbuild commented on #15073
The cleanup has started for slc7_amd64_gcc530

[2016-07-03 05:38] #15073 closed

[2016-07-03 05:39] cmsbuild commented on #15073
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_13_patch1-slc6_amd64_gcc530/437

[2016-07-03 05:39] cmsbuild commented on #15073
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_13_patch1-slc6_amd64_gcc493/436

[2016-07-03 05:43] cmsbuild commented on #15073
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_13_patch1-slc7_amd64_gcc530/438

[2016-07-04 14:06] cmsbuild commented on #14984
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_1_0_pre8/slc7_amd64_gcc530/716/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-07-04 20:38] aminnj opened #15105 "Issue with FormulaEvaluator"
@Dr15Jones

CMSSW FormulaEvaluator disagrees with C/TFormula in 8_0_12, 8_0_10_patch2, and CMSSW_8_1_DEVEL_X_2016-07-03-0000 (which should be patched for something related to this previously)

Test script illustrating problem (recipe at the top):
http://uaf-6.t2.ucsd.edu/~namin/dump/test_formula.C

This is urgently needed for L2 JEC for ICHEP. The gaussian part (specifically, -[4]*(log10(x)-[5])*(

[2016-07-04 20:38] cmsbuild commented on #15105
A new Issue was created by  @aminnj Nick Amin.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-04 21:52] Dr15Jones commented on #15105
Using ` -[4]*((log10(x)-[5])*(log10(x)-[5]))` does work. This matches closer to what formulas were originally used.

[2016-07-04 21:57] Dr15Jones commented on #15105
Using `-1*[4]*(log10(x)-[5])*(log10(x)-[5])` also works.

[2016-07-04 22:06] Dr15Jones commented on #15105
So I have determined that the expression `-[4]*(log10(x)-[5])*(log10(x)-[5])` when parsed by the FormulaEvaluator is losing one of the `(log10(x)-[5])` from the calculation.

[2016-07-04 22:26] kpedro88 commented on #15105
@Dr15Jones thanks for taking a look quickly. It seems like this could point to a bug, but since there are alternative forms that work, @aminnj, could you use one of those in the meantime?

[2016-07-04 22:27] aminnj commented on #15105
Thanks for such a quick response! I will just go ahead and redistribute JEC text files with -1*[4] instead of [4], since I've also verified that it works.

[2016-07-04 22:29] Dr15Jones commented on #15105
I have found the bug and will be making a bug fix (it is only a change of using a different member data for a function call :( )

[2016-07-04 22:34] Dr15Jones commented on #15105
See #15106

[2016-07-04 22:34] Dr15Jones commented on #15105
assign core

[2016-07-04 22:36] cmsbuild commented on #15105
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-04 22:43] Dr15Jones commented on #15105
The CMSSW_8_0_X version is #15107.

[2016-07-05 10:19] ianna opened #15115 "FWCore/Catalog Test Throws an Exception but Reports Success"
Due to the exception, the test skips XML parsing from a file.

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-07-04-2300/unitTestLogs/FWCore/Catalog

[code]

[2016-07-05 10:20] cmsbuild commented on #15115
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-05 13:46] Dr15Jones commented on #15115
@ianna the error can properly be handled by changing file FWCore/Catalog/test/FileLocator_t.cpp on line 81 to add a `return 1;` to the block
[code]

[2016-07-05 13:48] cmsbuild commented on #15115
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-05 15:19] wddgit opened #15123 "Remove template instantiating code from classes.h files"
With ROOT 6, the ROOT experts tell us it is no longer necessary to
have code in the classes.h files that causes template instances to
be explicitly instantiated. The only thing we need in those files is
the "#include" lines. We needed this code for ROOT 5. Removing
those lines simplifies our code and it also helps speed things up and
use less memory when using a ROOT script or pyROOT in a way that

[2016-07-05 15:20] cmsbuild commented on #15123
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-05 15:21] Dr15Jones commented on #15123
assign core

[2016-07-05 15:22] cmsbuild commented on #15123
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-05 15:33] Dr15Jones commented on #15105
+1

[2016-07-05 15:35] cmsbuild commented on #15105
This issue is fully signed and ready to be closed.

[2016-07-05 15:46] Dr15Jones opened #15124 "Crash in frontier client"
The CMSSW_8_1_THREADED_X IBs have been having several instances of segmentation violations in the frontier client with the traceback:

[code]

Although these were in the threaded IBs, the problem occurs when the framework is initializing everything and there is only one working thread running in the application.

[2016-07-05 15:47] cmsbuild commented on #15124
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-05 15:59] Dr15Jones commented on #14897
I noticed that there are two different crashes, one is `egHLT::trigTools::getFiltersPassed` the other is `egHLT::trigTools::setFiltersObjPasses<egHLT::OffPho>` although they both crash in `edm::InputTag::InputTag(std::string const&)`.

[2016-07-05 15:59] Dr15Jones commented on #15124
Seen in
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-07-01-1100/pyRelValMatrixLogs/run/500200.1_ProdZEE_13_pmx50ns+ProdZEE_13+DIGIPRMXUP15_PROD_PU50+RECOPRMXUP15PROD_PU50/step1_ProdZEE_13_pmx50ns+ProdZEE_13+DIGIPRMXUP15_PROD_PU50+RECOPRMXUP15PROD_PU50.log

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-07-01-1100

[2016-07-05 16:02] Dr15Jones commented on #14952
This same problem has been seen in

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-07-03-1100/pyRelValMatrixLogs/run/136.729_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2/step2_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2.log
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_

[2016-07-05 16:07] Dr15Jones commented on #14952
I found an example where this occurred in the single threaded IBs:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc493/CMSSW_8_1_X_2016-07-03-1100/pyRelValMatrixLogs/run/136.729_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2/step2_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2.log

[2016-07-05 16:08] Dr15Jones commented on #14952
And another in the single threaded:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-07-01-2300/pyRelValMatrixLogs/run/136.729_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2/step2_RunSingleEl2016B+RunSingleEl2016B+HLTDR2_2016+RECODR2_2016reHLT+HARVESTDR2.log

[2016-07-05 16:15] Dr15Jones commented on #15124
I have also found examples where the problem happens in the single threaded CMSSW_8_1_X IBs:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_X_2016-07-04-1100/pyRelValMatrixLogs/run/3.0_ProdQCD_Pt_3000_3500+ProdQCD_Pt_3000_3500+DIGIPROD1+RECOPROD1/step2_ProdQCD_Pt_3000_3500+ProdQCD_Pt_3000_3500+DIGIPROD1+RECOPROD1.log

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd

[2016-07-05 17:07] dan131riley commented on #14897
So far I've completely failed to reproduce this one, even running hundreds of (automated) trials of three different workflows, so it seems like I'm missing some necessary condition.

Both crashes are in calls to TriggerEvent::filterIndex(), which converts the InputTag back to a string:

    trigger::size_type filterIndex(const edm::InputTag& filterTag) const {
      const std::string encodedFilter

[2016-07-05 17:52] Dr15Jones commented on #14897
Seems like a reasonable guess to me. The idea of the mutex timing causing the appearance of synchronization like behavior is really interesting.

[2016-07-05 18:55] DrDaveD commented on #15124
How do I find out more about these runs, any frontier warning messages, how to reproduce?  The stack traces in the log files do not give enough information to be useful in determining the cause.  I tried looking in the directories the log files are in and get 404 Not found.

[2016-07-05 19:06] Dr15Jones commented on #15124
@smuzaffar Do we have any additional information about these rel val jobs?

[2016-07-05 19:08] Dr15Jones commented on #15124
@smuzaffar Do we have the proper time stamp on the log files to tell us when they ended? That might help to coordinate with the frontier logs.

[2016-07-05 19:50] davidlange6 opened #15125 "Build CMSSW_7_5_8_patch5"

[2016-07-05 19:51] cmsbuild commented on #15125
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-07-05 19:52] davidlange6 commented on #15125
+1

[2016-07-05 19:52] cmsbuild commented on #15125
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2016-07-05 19:52] cmsbuild commented on #15125
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-07-05 19:53] cmsbuild commented on #15125
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/739/console
CMSDIST Branch: [REL/CMSSW_7_5_8/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_8/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-05 20:23] cmsbuild commented on #15125
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch5-slc6_amd64_gcc491/739
Some tes

[2016-07-05 20:47] cmsbuild commented on #15125
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch5-slc6_amd64_gcc491/739

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-07-06 06:12] davidlange6 commented on #15125
upload all

[2016-07-06 06:12] cmsbuild commented on #15125
Queing Jenkins upload for slc6_amd64_gcc491

[2016-07-06 06:13] cmsbuild commented on #15125
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/473/console

[2016-07-06 06:23] davidlange6 opened #15127 "Build CMSSW_8_0_14"

[2016-07-06 06:24] cmsbuild commented on #15127
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-07-06 06:27] davidlange6 commented on #15127
+1

[2016-07-06 06:27] cmsbuild commented on #15127
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_14. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-07-06 06:27] cmsbuild commented on #15127
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-07-06 06:29] cmsbuild commented on #15127
The build has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/741/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-06 06:30] cmsbuild commented on #15127
The build has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/742/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-06 06:32] cmsbuild commented on #15127
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/740/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-06 06:53] cmsbuild commented on #15125
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_8_patch5-slc6_amd64_gcc491/473
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-06 07:01] cmsbuild commented on #15125
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_8_patch5/slc6_amd64_gcc491/717/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-07-06 09:42] cmsbuild commented on #15127
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_14-slc6_amd64_gcc493/740
Some tests ( r

[2016-07-06 09:43] cmsbuild commented on #15127
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_14-slc6_amd64_gcc530/741
Some tests ( r

[2016-07-06 10:07] cmsbuild commented on #15127
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_14-slc6_amd64_gcc530/741

Tests results:
1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Wed Jul  6 11:56:49 2016-date Wed Jul  6 11:54:20 2016;

[2016-07-06 10:09] cmsbuild commented on #15127
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_14-slc6_amd64_gcc493/740

Tests results:
1000.0_RunMinBias2011A+RunMinBias2011A+TIER0+SKIMD+HARVESTDfst2+ALCASPLIT Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Wed Jul  6 11:56:59 2016-date Wed Jul  6 11:54:08 2016;

[2016-07-06 11:52] cmsbuild commented on #15127
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_14-slc7_amd64_gcc530/742
Some tests ( r

[2016-07-06 12:33] cmsbuild commented on #15127
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_14-slc7_amd64_gcc530/742

Tests results:
1001.0_RunMinBias2011A+RunMinBias2011A+TIER0EXP+ALCAEXP+ALCAHARVD1+ALCAHARVD2+ALCAHARVD3+ALCAHARVD4+ALCAHARVD5 Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN Step5-NOTRUN Step6-NOTRUN Step7-

[2016-07-06 19:59] davidlange6 commented on #15125
release-notes

[2016-07-06 19:59] cmsbuild commented on #15125
Generating release notes since CMSSW_7_5_8_patch4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-07-06 19:59] cmsbuild commented on #15125
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_8_patch5 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_8_patch4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_8_patch5

Cheers,
cms-bot

You can also click <a href="mailto:hn-cm

[2016-07-06 20:01] cmsbuild commented on #15125
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch5

[2016-07-06 20:04] davidlange6 commented on #15127
upload all

[2016-07-06 20:05] cmsbuild commented on #15127
Queing Jenkins upload for slc6_amd64_gcc493

[2016-07-06 20:05] cmsbuild commented on #15127
Queing Jenkins upload for slc6_amd64_gcc530

[2016-07-06 20:05] cmsbuild commented on #15127
Queing Jenkins upload for slc7_amd64_gcc530

[2016-07-06 20:05] cmsbuild commented on #15127
The upload has started for slc6_amd64_gcc530 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/475/console

[2016-07-06 20:05] cmsbuild commented on #15127
The upload has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/474/console

[2016-07-06 20:06] cmsbuild commented on #15127
The upload has started for slc7_amd64_gcc530 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/476/console

[2016-07-06 20:41] bbockelm commented on #14952
Hi Chris,

The approach looks correct - we've had to do similar things (self-referential objects, forced timeouts) in other cases to get around eccentricities in the Xrootd client.

I believe it's an upstream bug that a callback is never triggered.  Can you report it?

Brian

[2016-07-06 20:45] cmsbuild commented on #15127
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_14-slc6_amd64_gcc493/474
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-06 21:06] cmsbuild commented on #15127
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_14/slc6_amd64_gcc493/718/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-07-06 21:25] cmsbuild commented on #15127
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_14-slc6_amd64_gcc530/475
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-06 21:40] cmsbuild commented on #15127
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_14/slc6_amd64_gcc530/719/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-07-06 21:57] cmsbuild commented on #15127
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_14-slc7_amd64_gcc530/476
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-07-06 22:16] cmsbuild commented on #15127
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_14/slc7_amd64_gcc530/720/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-07-07 05:14] davidlange6 commented on #15127
release-notes

On 07 Jul 2016, at 00:17, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc7_amd64_gcc530
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_14/slc7_amd64_gcc530/720/
To generate the release notes for the release write "release-notes since <previous-release>

[2016-07-07 05:15] cmsbuild commented on #15127
Generating release notes since CMSSW_8_0_13_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-07-07 05:15] cmsbuild commented on #15127
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_14 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc6_amd64_gcc493
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_13_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_14

Cheers,
cms-bot

You can also click <a

[2016-07-07 05:16] cmsbuild commented on #15127
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_14

[2016-07-07 08:32] smuzaffar commented on #15124
@Dr15Jones  , you can download
https://cmssdt.cern.ch/buildlogs/slc7_amd64_gcc530/www/mon/8.1-mon-11/CMSSW_8_1_X_2016-07-04-1100/pyRelValMatrixLogs.zip for the full logs of this release. Unfortunately log files does not have the original timestamp
[code]
but In workflow.log I see that workflow 3.0 started at Mon Jul  4 15:20:38 2016 and ended at Mon Jul  4 14:24:39 2016

[2016-07-07 12:02] DrDaveD commented on #15124
I downloaded and unpacked that zip file.  There's a huge number of files.  I found the subdirectory @smuzaffar listed but see no stack trace with frontier in it there.  In fact I see no mention of frontier in any of the files in any subdirectory other than standard info messages containing "FrontierProd" or "GlobalTag".  Are you sure you selected a relevant set of log files?

[2016-07-07 12:26] smuzaffar commented on #15124
my bad @DrDaveD , I send you the url for slc7_amd64_gcc530. The one with errors is slc6_amd64_gcc530 i.e.
https://cmssdt.cern.ch/buildlogs/slc6_amd64_gcc530/www/mon/8.1-mon-11/CMSSW_8_1_X_2016-07-04-1100/pyRelValMatrixLogs.zip
and then see the log 3.0_ProdQCD_Pt_3000_3500+ProdQCD_Pt_3000_3500+DIGIPROD1+RECOPROD1/step2_ProdQCD_Pt_3000_3500+ProdQCD_Pt_3000_3500+DIGIPROD1+RECOPROD1.log

[2016-07-07 14:45] DrDaveD commented on #15124
@smuzaffar OK I see the same stack trace as before but nothing else helpful.  Is there a way to get a stack trace with -g symbols?  Is this generated from the Continuous Integration system?  If so I suspect frontier client warning messages have not been enabled as they have been for wmagent & crab.  Can someone please export the environment variable FRONTIER_LOG_LEVEL=warning at the beginning of e

[2016-07-07 15:07] Dr15Jones commented on #15124
@DrDaveD the URLs in the comments above contain the only frontier related errors I have ever seen. Given that the error appear to happen in groups, perhaps it is something to do with excessive load or strange timeouts?

[2016-07-07 15:20] Dr15Jones opened #15145 "Seg Fault at beginning of event loop in threaded job"
This job crashed with a segmentation fault:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-07-06-2300/pyRelValMatrixLogs/run/140.2_PhotonJets_Pt_10_13_HI+PhotonJets_Pt_10_13_HIINPUT+DIGIHI+RECOHI+HARVESTHI/step3_PhotonJets_Pt_10_13_HI+PhotonJets_Pt_10_13_HIINPUT+DIGIHI+RECOHI+HARVESTHI.log

What is interesting is only two of the threads had begun processin

[2016-07-07 15:21] DrDaveD commented on #15124
Come to think of it over the past few days we have been having strange timeouts on one of the 4 servers only on the FrontierInt servlet which I believe is primarily used by relvals.  It may be related, but it is hard to say.

[2016-07-07 15:22] cmsbuild commented on #15145
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-07 15:22] Dr15Jones commented on #15145
assign core

[2016-07-07 15:22] cmsbuild commented on #15145
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-07 15:24] Dr15Jones commented on #15145
@dan131riley

[2016-07-07 15:38] dan131riley commented on #15145
A somewhat similar no-traceback crash:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-07-04-1100/pyRelValMatrixLogs/run/1004.0_RunHI2011+RunHI2011+TIER0EXPHI+ALCAEXPHI+ALCAHARVD1HI+ALCAHARVD2HI+ALCAHARVD3HI+ALCAHARVD5HI/step2_RunHI2011+RunHI2011+TIER0EXPHI+ALCAEXPHI+ALCAHARVD1HI+ALCAHARVD2HI+ALCAHARVD3HI+ALCAHARVD5HI.log

I looked at that one a bit on Tue

[2016-07-07 16:08] smuzaffar commented on #15124
@DrDaveD , yes it is generated from IBs. I can set FRONTIER_LOG_LEVEL=warning for the ibs relval tests to see it gives you more information.

Looking to cms kibana https://cmskibana-dev.cern.ch/_plugin/kibana/#dashboard/temp/AVXGF6QfrgA6wSUaOTJd
I see the exitcode 35584  occurred for following releases/workflows. Looks like the error is random.

![screenshot-2](https://cloud.githubusercontent.com/

[2016-07-07 16:12] Dr15Jones commented on #15124
@smuzaffar unfortunately 35584 just means segmentation fault and frontier is not the only cause of them :).

[2016-07-07 16:15] Dr15Jones commented on #15145
The no-traceback crashes happen periodically and I've not made an effort of making issues for them since I could normally find ones with full tracebacks to look at :). We should definitely start cataloging these no-traceback ones. My suspicion is they are from code generated by cling.

[2016-07-07 16:36] Dr15Jones commented on #14952
@bbockelm what is the purpose of using the handler and why does it have to be asynchronous since it appears the open command is synchronous?

[2016-07-07 16:54] DrDaveD commented on #15124
Is there any way to get a stack trace with -g debug symbols?

[2016-07-07 19:04] DrDaveD commented on #15124
I looked at the logs of the frontier server with strange timeouts (cmsfrontier1) and they do not appear to correlate to this CMSSW_8_1_X_2016-07-04-1100 job at all.  So I await more input from either client warning messages or detailed stack backtraces.

[2016-07-07 21:34] davidlt commented on #15124
In DEVEL IBs we can recompile frontier_client with debug symbols if that helps.

[2016-07-07 22:02] DrDaveD commented on #15124
@davidlt Yes that would be a big help

[2016-07-08 12:26] fwyzard opened #15151 "backport PRs to CMSSW 8.0.x to improve HLT performance"
Backport these PRs to CMSSW 8.0.x
   - [ ] #15279 backport of
       - #13594 Gsf cleanup and debug
       - #13831 Speedup Gsf component merging, return components by const reference
<br><br>
   - [x] #15280 backport of
       - #13819 Speed seeding for HLT
<br><br>
   - [x] #15240 backport of
       - #13959 SpeedUp ParticleFlow for HLT
       - #14070 remove memory fence
<br><br>
   - [x] #1523

[2016-07-08 12:27] cmsbuild commented on #15151
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-08 15:11] slava77 commented on #15151
PFblock updates are #14138 -> #14441 -> #14754 -> #14844 (the last 3 are bug fixes to crashes)
Please add them to the list (or add notes to the list .. or just not forget this comment)

[2016-07-08 15:22] slava77 commented on #15151
A significant fraction of PRs has bit-wise different results for a variety of reasons.
These nominally require validation in this release as well.
Reliance on 81X validation is possible, but it is weakened because in 81X changes apply both to MC and data and may have been validated as a result of consistent change.

Given the way we use 80X, I think that it's best to factor out backports that pres

[2016-07-08 18:08] cmsbuild commented on #15125
The cleanup has started for slc6_amd64_gcc491

[2016-07-08 18:08] #15125 closed

[2016-07-08 18:09] cmsbuild commented on #15125
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_8_patch5-slc6_amd64_gcc491/439

[2016-07-09 03:23] cmsbuild commented on #15127
The cleanup has started for slc6_amd64_gcc493

[2016-07-09 03:23] cmsbuild commented on #15127
The cleanup has started for slc6_amd64_gcc530

[2016-07-09 03:23] cmsbuild commented on #15127
The cleanup has started for slc7_amd64_gcc530

[2016-07-09 03:23] #15127 closed

[2016-07-09 03:24] cmsbuild commented on #15127
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_14-slc6_amd64_gcc530/441

[2016-07-09 03:24] cmsbuild commented on #15127
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_14-slc6_amd64_gcc493/440

[2016-07-09 03:30] cmsbuild commented on #15127
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_14-slc7_amd64_gcc530/442

[2016-07-11 13:23] mariadalfonso opened #15161 "subscribe to CMSSW packages"
This is a response to the HN post:
https://hypernews.cern.ch/HyperNews/CMS/get/git/43/1.html

I'd like to watch the following subdirs:

RecoLocalCalo/HcalRecProducers
RecoLocalCalo/HcalRecAlgos
DataFormats/HcalRecHit
DataFormats/HcalDigi
DataFormats/HcalDetId
CalibCalorimetry/HcalAlgos/
SimCalorimetry/HcalSimAlgos/
SimCalorimetry/HcalSimProducers

[2016-07-11 13:23] cmsbuild commented on #15161
A new Issue was created by  @mariadalfonso .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-13 09:42] ghellwig opened #15188 "Failing tests due to missing files at T2_CH_CERN"
Since ~yesterday we experience test failures because files have been removed from T2_CH_CERN that are needed for the matrix tests.

For instance the following query in 1000.0 and 1001.0 gives empty results as is expected since the files seem to be gone:
[code]

FYI @davidlange6 @smuzaffar

[2016-07-13 09:42] cmsbuild commented on #15188
A new Issue was created by  @ghellwig Gregor Mittag.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-13 09:55] davidlt commented on #15188
We had a high number of GEN-SIM data removed from T2_CH_CERN and most of it is not available in HDDs in Europe. We have already requested a good fraction of that data to be transferred back to T2_CH_CERN, but it will take time.

[2016-07-13 09:56] ghellwig commented on #15188
But this is not GEN-SIM, i.e. do we have a separate issue here?

[2016-07-13 10:55] mmusich commented on #15188
indeed:

[code]

[2016-07-13 10:55] mmusich commented on #15188
This is seriously blocking PR integration. Can we bring it back to T2 ASAP?

[2016-07-13 11:03] franzoni commented on #15188
@davidlt
there's a dedicated pool of relvals in phedex which is IB specific, can you make sure that whichever re-transfer you've commanded is into that pool (so to avoid DDM or other deletions to create this situation again ?)

@hengne @fabozzi
can you please take care of checking what needs be retransferred back to CERN ? It's not only gen-sim minssing, as @ghellwig reports, it's also RAW inputs

[2016-07-13 11:33] davidlt commented on #15188
Yeah, most of data was GEN-SIM, but not all. Majority if that is being transferred under "IB RelVals". This data wasn't part of "IB RelVals" otherwise we would have got an email on deletion request.

[2016-07-13 12:37] fabozzi commented on #15188
I have requested transfer of
/MinimumBias/Run2011A-v1/RAW#f6f3c7cc-7fbf-11e0-b519-003048caaace
to T2_CH_CERN

[2016-07-13 15:12] Dr15Jones opened #15193 "Proposal: Allow way to specify groups of modules to work as a Task in unscheduled"
The way scheduled processing jobs are configured is we load configurations into the job containing many modules and many `Sequences`. These sequences are put into `Paths` and then at the last step we put `Paths` in a `Schedule` to declare which Paths (and therefore which modules) we actually want to run. This leaves many modules and `Sequences` in the `Process` which are not meant to be used.

The

[2016-07-13 15:13] cmsbuild commented on #15193
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-13 15:13] Dr15Jones commented on #15193
@slava77 Would this solve the problem you were having dealing with unscheduled?

[2016-07-13 15:14] Dr15Jones commented on #15193
@makortel Since you've had lots of experience with the configuration system, I was wondering what your thoughts on this proposal are?

[2016-07-13 15:14] Dr15Jones commented on #15193
assign core

[2016-07-13 15:14] cmsbuild commented on #15193
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-13 15:15] Dr15Jones commented on #15193
@fwyzard How might this proposal affect HLT configurations?

[2016-07-13 15:37] slava77 commented on #15193
On 7/13/16 8:13 AM, Chris Jones wrote:

It sounds like it will.
Thank you.

[2016-07-13 20:42] makortel commented on #15193
@Dr15Jones Interesting idea. I have three questions/thoughts for starters:

1. `Task` would store `EDFilters` in unordered set. What would dictate their order of execution? I believe the order of filters is an important property (e.g. in HLT)
2. I guess one point would be to collect all `ESProducers` etc. needed by the EDModules in a `Task` to the same `Task`. Although it would mean "more work" wh

[2016-07-13 20:56] Dr15Jones commented on #15193
If an `EDFilter` were on a `Task` it would be there because only its data product is needed but not its filter decision. Unfortunately we have many `EDFilters` which really should be `EDProducers`. This is just a way to accomodate them.

One could specify a `Task` only containing `ESModules` and then associate that `Task` to a `Task` defining `EDModule` activities.

Yes. A `Task` is pretty much th

[2016-07-13 21:09] makortel commented on #15193
Aa, so the `Task` would not be a replacement of the `Sequence`, but a separate abstraction for modules not needing explicit execution order (which would continue to be served with `Sequence`). Would the filter decision of an `EDFilter` in a `Task` be ignored? Could one associate a `Task` to a `Sequence` too?

[2016-07-13 21:13] Dr15Jones commented on #15193
Correct, `Sequences` would still be around but hopefully eventually not containing `EDProducers` anymore.

The filter decision of an `EDFilter` would be ignored since that is how an unscheduled `EDFilter` is handled now.

I was thinking one could associate a `Task` to a `Sequence` as well.

[2016-07-14 08:37] ghellwig commented on #15188
Thanks @fabozzi the block is back at T2_CH_CERN
Shall I close this issue or is further action needed, e.g. some protection against accidental deletion?

[2016-07-14 20:53] mmusich commented on #15188
Hi @fabozzi,
I keep getting errors in  #15174
[code]
apparently due to missing block at Tier2:
`/RelValTTbar_13/CMSSW_8_0_0-80X_mcRun2_asymptotic_v4-v1/GEN-SIM-RECO#f8ba9fec-da12-11e5-a23c-02163e016cc2`

I've opened a phedex transfer request:

https://cmsweb.cern.ch/phedex/prod/Request::View?request=737475

could you please approve it?

[2016-07-15 07:28] mmusich commented on #15188
For the record the VOC approved it. Re-trying once again.

[2016-07-15 19:37] DrDaveD commented on #15124
So I take it this problem hasn't happened again after enabling debugging information?

[2016-07-18 10:20] smuzaffar commented on #14728
ping?

[2016-07-18 12:09] govoni commented on #14728
I think it's ok

[2016-07-18 14:21] dan131riley commented on #15145
Another one:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc530/CMSSW_8_1_THREADED_X_2016-07-15-2300/pyRelValMatrixLogs/run/140.53_RunHI2011+RunHI2011+RECOHID11+HARVESTDHI/step2_RunHI2011+RunHI2011+RECOHID11+HARVESTDHI.log

I did figure out that the reason the first one only has two threads processing events is because that workflow only has two events :)

I'm going to start catalogin

[2016-07-18 16:35] Dr15Jones commented on #15145
A thread waiting in edm::SharedResourcesAcquirer::lock() usually means the thread wants to run a legacy module but another thread is already running one.

The thread running  edm::Principal::prefetch() is the one running the legacy module since it has edm::EDProducer::doEvent in the call stack. That same thread also has the EventSetup mutex lock since it is running an ESProducer.

P.S. I'm somewhe

[2016-07-19 09:55] makortel commented on #15151
Backport of #14179 is in #15226.

[2016-07-19 14:04] makortel commented on #15151
Backport of #14048 is in #15231.

[2016-07-19 15:44] slava77 commented on #14803
+1

done in #14825

[2016-07-19 15:44] cmsbuild commented on #14803
This issue is fully signed and ready to be closed.

[2016-07-19 15:51] slava77 commented on #14804
+1

done in #14825

[2016-07-19 15:51] slava77 commented on #14805
+1

done in #14825

[2016-07-19 15:51] cmsbuild commented on #14804
This issue is fully signed and ready to be closed.

[2016-07-19 15:51] slava77 commented on #14806
+1

done in #14825

[2016-07-19 15:52] cmsbuild commented on #14805
This issue is fully signed and ready to be closed.

[2016-07-19 15:53] cmsbuild commented on #14806
This issue is fully signed and ready to be closed.

[2016-07-20 03:05] #14922 closed

[2016-07-20 03:05] #15105 closed

[2016-07-20 03:10] smuzaffar opened #15239 "IB RelVals failing due to pure virtual method called"
https://cms-sw.github.io/relvalLogDetail.html#slc6_amd64_gcc493;CMSSW_8_1_X_2016-07-19-2300

many relvals failed and gdb show this
[code]

@ianna , any idea (may be LHEReader is missing some implementation)?

[2016-07-20 03:10] cmsbuild commented on #15239
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-20 06:17] ianna commented on #15239
@smuzaffar - I'm checking

[2016-07-20 06:22] ianna commented on #15239
@smuzaffar - LHEReader uses smart pointers to hold XMLDocument and XMLHeader:
http://cmslxr.fnal.gov/source/GeneratorInterface/LHEInterface/interface/LHEReader.h?v=CMSSW_8_1_X_2016-07-18-2300#0043
It looks like it causes inconsistent memory cleanup by Xerces.

[2016-07-20 07:32] makortel commented on #15151
Backport of #13959 is in #15240. It also includes one commit from #13831.

@slava77
#14247 also depends on the same commit. I guess the options are
* make a PR backporting #14247 including the same commit
   * it should not cause conflicts since the same commit would be part of both PRs, so it would be only visible in the diff of both PRs
* wait #13959 to be merged and make a PR backporing #14247

[2016-07-20 07:36] davidlange6 commented on #15151
The routine validation done in CMS is not MC to data, but rather MC to MC and data to data. So I’m not sure I follow this argument or what additional information would be learned from a 80x detailed comparison. but yes, anything that can get factored out into a bit-wise the same PR is best.  Meanwhile, it might be wise to go back and look at the validation checks done already in 81x..

On Jul 8, 2

[2016-07-20 11:49] slava77 commented on #15151
Hi Matti

On 7/20/16 12:32 AM, Matti Kortelainen wrote:

I prefer to do in stages if possible and reasonable for PRs on different
topics.
If the change in #15240 (not #13959 from 81X) is ~trivial (no
regressions), we should go this way.

I think it's better to combine in this case: both are rather technical
and are on the same topic as a large part of RefCore changes in what is
now #15240

Slava

[2016-07-20 12:05] slava77 commented on #15151
On 7/20/16 12:36 AM, David Lange wrote:

My point was that if the same physics feature (change in resolution,
efficiency etc)
 appears both in MC and in data in a given relval campaign, the release
is validated.
The scope of the backport, however, is to put only features that do not
change physics.

There is only information about presence or lack of changes sometimes at
jenkins level of 10 or at

[2016-07-20 12:15] davidlange6 commented on #15151
On Jul 20, 2016, at 2:05 PM, Slava Krutelyov <notifications@github.com<mailto:notifications@github.com>> wrote:

On 7/20/16 12:36 AM, David Lange wrote:

My point was that if the same physics feature (change in resolution,
efficiency etc)
appears both in MC and in data in a given relval campaign, the release
is validated.

This is not generally the method applied in CMS, no. MC is checked against

[2016-07-20 12:55] slava77 commented on #15151
On 7/20/16 5:15 AM, David Lange wrote:

Are you saying that there were no changes in tracking performance since
April?
This is the only simple way to qualify the backports from 81X to 80X as
validated for the purpose
of integration back to 80X under the policy of no physics changes in an
active production release.

If we are giving up on the policy of no physics changes in a production
release, th

[2016-07-20 13:00] davidlange6 commented on #15151
On Jul 20, 2016, at 2:55 PM, Slava Krutelyov <notifications@github.com<mailto:notifications@github.com>> wrote:

On 7/20/16 5:15 AM, David Lange wrote:

Are you saying that there were no changes in tracking performance since
April?
This is the only simple way to qualify the backports from 81X to 80X as
validated for the purpose
of integration back to 80X under the policy of no physics changes in a

[2016-07-20 15:56] davidlange6 commented on #15239
Hi @ianna - how do we fix (at least temporarily) this issue?

On Jul 20, 2016, at 8:22 AM, Ianna Osborne <notifications@github.com<mailto:notifications@github.com>> wrote:

@smuzaffar<https://github.com/smuzaffar> - LHEReader uses smart pointers to hold XMLDocument and XMLHeader:
http://cmslxr.fnal.gov/source/GeneratorInterface/LHEInterface/interface/LHEReader.h?v=CMSSW_8_1_X_2016-07-18-2300#0043

[2016-07-20 16:20] slava77 commented on #15151
On 7/20/16 5:15 AM, David Lange wrote:

BTW, most of the changes in this backport thread are not in tracking

[2016-07-20 19:51] makortel commented on #15151
@slava77

Ok, will do. (and thanks for pointing out my mix of 81X and 80X PRs, I corrected them now in my comment). Actually #14247 shows extremely tiny differences in two plots for 25202.0 and 136.731 (plots from ttbar)
![image](https://cloud.githubusercontent.com/assets/33993/17000618/96cfee10-4ec3-11e6-8b2b-5a2bf9f4f6a6.png)
![image](https://cloud.githubusercontent.com/assets/33993/17000629/a21

[2016-07-20 20:48] slava77 commented on #15151
On 7/20/16 12:51 PM, Matti Kortelainen wrote:

Looking at the PR code: there is a change from double to float in the math.
Clearly, this will not give bit-wise identity.
If you feel like making an incremental diff with doubles put back, it
will give a more pedantic
confirmation of the expected behavior.
I would not insist on this though, considering that differences in the
plots are so small.

[2016-07-21 03:39] slava77 commented on #14644
+1

fixed in  #15183

[2016-07-21 03:39] cmsbuild commented on #14644
This issue is fully signed and ready to be closed.

[2016-07-21 03:41] slava77 commented on #14921
+1

fixed in #14872 and then a related topic is fixed in #14931

[2016-07-21 03:41] cmsbuild commented on #14921
This issue is fully signed and ready to be closed.

[2016-07-21 03:42] slava77 commented on #14334
+1

fixed in #14366 (merged since a while now): changed to edm::stream::EDProducer

[2016-07-21 03:42] cmsbuild commented on #14334
This issue is fully signed and ready to be closed.

[2016-07-21 03:44] slava77 commented on #14252
+1

fixed in #14455 (merged May 14)

[2016-07-21 03:44] cmsbuild commented on #14252
This issue is fully signed and ready to be closed.

[2016-07-21 05:08] fwyzard commented on #15151
@cmsbuild assign HLT

[2016-07-21 05:41] ianna commented on #15239
@davidlange6 - I'm preparing a PR.

[2016-07-21 08:00] ianna commented on #15239
@davidlange6 - https://github.com/cms-sw/cmssw/pull/15246 should fix it.

[2016-07-21 08:25] davidlange6 opened #15247 "Build CMSSW_8_1_0_pre9"

[2016-07-21 08:26] cmsbuild commented on #15247
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the "+1"

[2016-07-21 08:27] davidlange6 commented on #15247
+1

[2016-07-21 08:28] cmsbuild commented on #15247
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_1_0_pre9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_1_X

[2016-07-21 08:28] cmsbuild commented on #15247
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc493, slc6_amd64_gcc530, slc6_amd64_gcc600, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2016-07-21 08:29] cmsbuild commented on #15247
The build has started for slc7_amd64_gcc530 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/743/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-21 08:30] cmsbuild commented on #15247
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/744/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-21 08:30] cmsbuild commented on #15247
The build has started for slc6_amd64_gcc493 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/745/console
CMSDIST Branch: [IB/CMSSW_8_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/stable), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-21 08:30] cmsbuild commented on #15247
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/746/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc530), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-21 09:16] cmsbuild commented on #15247
The build has started for slc6_amd64_gcc600 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/747/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-21 09:41] davidlt opened #15248 "C++ Modules support (based on Clang)"
The current very basic draft exist here: https://github.com/davidlt/cmssw/tree/cpp-modules
It can only be used with DEVEL IBs as it requires Clang pre-3.9. We will be updating Clang as needed in DEVEL IBs.

How to use it?

[code]

[2016-07-21 09:42] cmsbuild commented on #15248
A new Issue was created by  @davidlt .

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-21 09:42] davidlt commented on #15248
@vgvassilev: iostream.h -> iostream

[2016-07-21 10:02] cmsbuild commented on #15247
The was an error for slc6_amd64_gcc600.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_1_0_pre9-slc6_amd64_gcc600/747

[2016-07-21 10:17] cmsbuild commented on #15247
The build has started for slc6_amd64_gcc600 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/748/console
CMSDIST Branch: [IB/CMSSW_8_1_X/gcc600](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_1_X/gcc600), PKGTOOLS Branch: [V00-24-XX](https://github.com/cms-sw/pkgtools/commits/V00-24-XX)

[2016-07-21 10:18] smuzaffar commented on #15247
Looks like there was error while extracting swig sources
[code]
I have restarted the gcc600 release build