[2022-10-13 23:33] wddgit commented on #39728
Fixed in PR #39729

[2022-10-13 23:33] #39728 closed

[2022-10-14 01:42] trtomei commented on #38453
The files in ROOT format are in: /afs/cern.ch/user/t/tomei/public/issue38453

[2022-10-14 07:24] silviodonato commented on #39693
In Run 360330
[code]

[2022-10-14 11:18] mariadalfonso commented on #39693
this particular event was investigated by @wang-hui
offline-cpu code give the following warning
[code]

see here https://github.com/cms-sw/cmssw/blob/master/RecoLocalCalo/HcalRecProducers/src/HBHEPhase1Reconstructor.cc#L520

There is a shift in the SOI, I do not see this condition in the the hlt-gpu code so that's why crash on this.
I will implement some fix today so that HLT will not crash.

Of c

[2022-10-14 11:19] mariadalfonso commented on #39693
Hi where I can find the events here ?
would be good to have these events copied somewhere so that we can classify all these exceptions.

[2022-10-14 11:32] missirol commented on #39693
They are available on the online GPU machines, e.g. ` gpu-c2a02-35-01.cms `, at

`/store/error_stream/run{357898,359998,360295}/*raw`

For an example of how to rerun HLT directly on `*.raw` files, see https://github.com/cms-sw/cmssw/issues/39045#issuecomment-1214193410.

FYI: @cms-sw/heterogeneous-l2

[2022-10-14 12:23] cmsbuild commented on #39697
The cleanup has started for el8_aarch64_gcc10

[2022-10-14 12:23] cmsbuild commented on #39697
The cleanup has started for slc7_amd64_gcc10

[2022-10-14 12:23] cmsbuild commented on #39697
The cleanup has started for el8_amd64_gcc10

[2022-10-14 12:23] cmsbuild commented on #39697
The cleanup has started for el8_ppc64le_gcc10

[2022-10-14 12:23] cmsbuild commented on #39697
The cleanup has started for el8_amd64_gcc11

[2022-10-14 12:23] #39697 closed

[2022-10-14 12:24] cmsbuild commented on #39697
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre3_LossyCompression-el8_amd64_gcc11/2204

[2022-10-14 12:24] cmsbuild commented on #39697
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre3_LossyCompression-el8_amd64_gcc10/2203

[2022-10-14 12:24] cmsbuild commented on #39697
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre3_LossyCompression-slc7_amd64_gcc10/2206

[2022-10-14 12:24] cmsbuild commented on #39697
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre3_LossyCompression-el8_aarch64_gcc10/2202

[2022-10-14 13:18] haozturk commented on #39591
Thanks @stlammel I rely on your and @smuzaffar's judgement on this as I'm not an expert on the issue. I just want to highlight that more and more el8 workflows are coming to production and we're banning more than 30 sites for such workflows. This might increase the delivery time of the requests and lower the utilization of the banned sites. So, the sooner we fix it, the less trouble we'll have. I'

[2022-10-14 14:33] jenimal commented on #39591
Are there any downsides of doing this? if not can we make it happen ASAP?
Thanks,
Jen

[2022-10-14 15:02] fwyzard commented on #39693
Seems to be happening a lot more frequently in recent runs:

[2022-10-14 15:02] fwyzard commented on #39693
assign heterogeneous

[2022-10-14 15:02] cmsbuild commented on #39693
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-14 15:11] francescobrivio commented on #39693
Just to add a bit of information on "recent runs":
this morning there was the update of the HCAL conditions that caused some trobules exactly in the run range `360329–360333` (as described in [this CMSTalk post](https://cms-talk.web.cern.ch/t/hlt-express-prompt-hcal-conditions-update/16263)) and which consequently caused some processing issues in Tier0 (see [this CMSTalk post](https://cms-talk.web

[2022-10-14 15:21] rappoccio opened #39735 "Recurring error: module 'std.codecvt' is incompatible with feature 'header_existence'"
There is currently a recurring error (see [here](https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_6_X_2022-10-13-2300+234fc6/53398/validateJR/all_OldVSNew_TTbar14TeV2026D88wf20834p0/all_OldVSNew_TTbar14TeV2026D88wf20834p0.log) for instance) in some validation WFs that seems to be related to `validate.C` (see link [here](https://github.com/cms-sw/cmssw/pull/39711#issuecomme

[2022-10-14 15:21] cmsbuild commented on #39735
A new Issue was created by  @rappoccio .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-14 15:21] rappoccio commented on #39735
Affecting at least https://github.com/cms-sw/cmssw/pull/39711

[2022-10-14 15:22] rappoccio commented on #39735
assign reconstruction

[2022-10-14 15:22] cmsbuild commented on #39735
New categories assigned: reconstruction

@mandrenguyen,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-14 15:27] rappoccio commented on #39045
Status as of today: https://github.com/cms-sw/cmssw/pull/39711 is merged, will wait for IBs this evening and then merge this 12_4 PR when completed, and cut a 12_4_10_patch1.

[2022-10-14 15:30] makortel commented on #39735
The error message is
[code]

Could the appearance be related to https://github.com/cms-sw/cms-bot/pull/1856?

Is this pointing to some error in our ROOT setup? @vgvassilev @pcanal

[2022-10-14 15:43] fwyzard commented on #39693
One thing that I can reproduce is that the `soi` (what is it ?) computed on GPU is "wrong" for the same event as for the CPU:
[code]
and
[code]

[2022-10-14 16:06] fwyzard commented on #39693
Looking at the legacy code in `RecoLocalCalo/HcalRecProducers/src/HBHEPhase1Reconstructor.cc`
  - if the `soi` is bad, it prints a warning and sets a `badSOI` flag:
[code]
  - the `badSOI` flag is set in the `channelInfo`:
[code]
  - the last argument of `setChannelInfo` sets the `dropped_` flag, which is read via the `bool isDropped()` method
  - which in turn makes the producer skip this channel

[2022-10-14 16:21] vgvassilev commented on #39735
Which version of ROOT are you using. Do you have this commit: root-project/root@f8bcafcfca79d0dae34cd09c2db06b33627c927d ?

[2022-10-14 16:26] vgvassilev commented on #39735
@makortel, @smuzaffar can you confirm that https://github.com/root-project/root/pull/11571 fixes the issue for you?

[2022-10-14 16:36] makortel commented on #39735
The ROOT version is 6.24, more specifically https://github.com/cms-sw/root/commits/cms/v6-24-00-patches/b5aa8fd i.e. https://github.com/root-project/root/commit/b5aa8fdface9b66b351db51269d4b40e2185231f + https://github.com/cms-sw/root/commit/556667e7d6bf2f279efc6f2a5ec85d2aba1b3768. It does not contain https://github.com/root-project/root/commit/f8bcafcfca79d0dae34cd09c2db06b33627c927d.

[2022-10-14 16:49] fwyzard commented on #39693
By the way, a source of problems is that `soiSamples` was uninitialised, henve the random value `-87`.

[2022-10-14 17:00] missirol commented on #39234
I think the original issue has been addressed by EGM and MUO POGs, by tweaking or demoting the warning messages. At least now HLT is not forced anymore to mask the warnings of those producers.

It's not clear to me if there are still reconstruction issues to follow up on (see https://github.com/cms-sw/cmssw/issues/39234#issuecomment-1232537510). I leave it to others to continue that discussion in

[2022-10-14 17:13] mmusich commented on #39234
Trying to follow-up on a seemingly unrelated issue, I stumbled on the fact that in the alca FullTrack validation produced for one of the Tracker alignment updates, the number of e/gamma @ HLT related messages was drastically reduced when using the more updated conditions. Perhaps it's a lead to the actual problem.

[2022-10-14 17:30] makortel opened #39737 "TH1Merger::CheckForDuplicateLabels error in workflow 4.6"
Workflow 4.6 step 3 fails in CMSSW_12_6_X_2022-10-14-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_X_2022-10-14-1100/pyRelValMatrixLogs/run/4.6_MinimumBias2010A+MinimumBias2010A+RECOSKIMALCA+HARVESTDR1/step3_MinimumBias2010A+MinimumBias2010A+RECOSKIMALCA+HARVESTDR1.log#/

[2022-10-14 17:30] makortel commented on #39737
assign dqm

[2022-10-14 17:30] cmsbuild commented on #39737
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@syuvivida,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-14 17:30] cmsbuild commented on #39737
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-14 17:33] makortel commented on #39737
The IB had two PRs merged in, https://github.com/cms-sw/cmssw/pull/39472 and https://github.com/cms-sw/cmssw/pull/39716. On a cursory look neither look like a potential culprit to me (no updates in externals), so I'm puzzled what exactly would be causing this error to appear in CMSSW_12_6_X_2022-10-14-1100

[2022-10-14 18:30] fwyzard commented on #39693
OK.

In the meantime, I've prepared what I think is a fix to skip the channels affected by this problem, trying to follow the same approach used in the legacy rechit reconstruction: https://github.com/cms-sw/cmssw/pull/39738 .

[2022-10-14 18:34] fwyzard commented on #39693
+heterogeneous

[2022-10-15 08:43] smuzaffar commented on #39735
I have started the tests for https://github.com/root-project/root/pull/11571 here https://github.com/cms-sw/root/pull/176

[2022-10-15 08:46] fwyzard commented on #39693
The same error has been reported in [runs 360393 and 360400](https://cmsonline.cern.ch/webcenter/portal/cmsonline/Common/Elog?_piref683379043.strutsAction=%2FviewMessageDetails.do%3FmsgId%3D1160178).

Running with the candidate fix from #39740 lets all HLT jobs complete, with some HCAL-related messages:
[code]
[code]
[code]

[2022-10-15 08:57] smuzaffar commented on #39735
@makortel , no this is not related to https://github.com/cms-sw/cms-bot/pull/1856. [log file](https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_6_X_2022-10-13-2300+234fc6/53398/validateJR/all_OldVSNew_TTbar14TeV2026D88wf20834p0/all_OldVSNew_TTbar14TeV2026D88wf20834p0.log) has message like
[code]

which means the tests were still using old cms-bot. With latest cms-bot `valid

[2022-10-16 11:22] makortel commented on #36404
@tvami @dzuolo Any news on this? Thanks!

[2022-10-16 11:26] makortel commented on #36404
@cms-sw/dqm-l2 I suppose these modules could just be removed. When do you think that could be done? Could you take care of that? Thanks!

[2022-10-16 15:34] perrotta opened #39741 "Build CMSSW_12_4_10_patch1"
Requested by HLT, to integrate online fixes

[2022-10-16 15:34] cmsbuild commented on #39741
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-10-16 15:35] perrotta commented on #39741
+1

[2022-10-16 15:35] cmsbuild commented on #39741
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_10_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-10-16 15:35] cmsbuild commented on #39741
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-10-16 15:36] cmsbuild commented on #39741
The build has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3664/console
CMSDIST Branch: [REL/CMSSW_12_4_10/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-16 15:36] cmsbuild commented on #39741
The build has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3665/console
CMSDIST Branch: [REL/CMSSW_12_4_10/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-16 15:37] cmsbuild commented on #39741
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3666/console
CMSDIST Branch: [REL/CMSSW_12_4_10/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-16 16:10] cmsbuild commented on #39741
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch1-el8_ppc64le_gcc10/3666
Some

[2022-10-16 16:19] cmsbuild commented on #39741
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch1-slc7_amd64_gcc10/3665
Some te

[2022-10-16 16:30] cmsbuild commented on #39741
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch1-el8_amd64_gcc10/3664
Some test

[2022-10-16 17:00] cmsbuild commented on #39741
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch1-el8_ppc64le_gcc10/3666

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-16 17:06] cmsbuild commented on #39741
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch1-slc7_amd64_gcc10/3665

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-16 17:17] cmsbuild commented on #39741
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch1-el8_amd64_gcc10/3664

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-17 04:31] perrotta commented on #39741
upload all

[2022-10-17 04:32] cmsbuild commented on #39741
Queing Jenkins upload for slc7_amd64_gcc10

[2022-10-17 04:32] cmsbuild commented on #39741
Queing Jenkins upload for el8_amd64_gcc10

[2022-10-17 04:32] cmsbuild commented on #39741
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-10-17 04:32] cmsbuild commented on #39741
The upload has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2500/console

[2022-10-17 04:33] cmsbuild commented on #39741
The upload has started for slc7_amd64_gcc10 in cmsbuild80.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2501/console

[2022-10-17 04:33] cmsbuild commented on #39741
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2502/console

[2022-10-17 04:34] cmsbuild commented on #39741
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch1-el8_amd64_gcc10/2500

[2022-10-17 04:34] cmsbuild commented on #39741
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch1-slc7_amd64_gcc10/2501

[2022-10-17 04:35] cmsbuild commented on #39741
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch1-el8_ppc64le_gcc10/2502

[2022-10-17 04:39] emanueleusai commented on #36404
ok I will take care of it this week

[2022-10-17 04:44] perrotta commented on #39741
release-notes

[2022-10-17 04:44] cmsbuild commented on #39741
Generating release notes since CMSSW_12_4_10.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-10-17 04:44] cmsbuild commented on #39741
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_4_10_patch1 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_4_10 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_10_patch1

Requested by HLT, to inte

[2022-10-17 04:52] cmsbuild commented on #39741
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_10_patch1

[2022-10-17 06:56] perrotta commented on #39045
By the way, the release is ready now: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_10_patch1

[2022-10-17 08:06] cmsbuild commented on #39741
The build has started for el8_aarch64_gcc10 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3667/console
CMSDIST Branch: [REL/CMSSW_12_4_10/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-17 08:52] swagata87 commented on #39570
+1

   - A rare GSF crash was happening in HLT, with the message `MultiTrajectoryState mixes states with and without errors`.
   - To the best of my knowledge, this crash happened in long collision runs 359686 (Oct 1), 359806 (Oct 5), 359871 (Oct 5), 359998 (Oct 7), 360019 (Oct 8), 360225 (Oct 12); all taken with `12_4_9`.
   - HLT then switched to `12_4_10` which included a potential fix for this

[2022-10-17 09:00] cmsbuild commented on #39741
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch1-el8_aarch64_gcc10/3667
Some

[2022-10-17 09:01] cmsbuild commented on #39741
Queing Jenkins upload for el8_aarch64_gcc10

[2022-10-17 09:02] cmsbuild commented on #39741
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2503/console

[2022-10-17 09:03] cmsbuild commented on #39741
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch1-el8_aarch64_gcc10/2503

[2022-10-17 09:03] smuzaffar commented on #39735
@vgvassilev , https://github.com/root-project/root/pull/11571 worked for CMS. Comparison results [here](https://github.com/cms-sw/root/pull/176#issuecomment-1280052737) do not show any crashes

[2022-10-17 10:02] cmsbuild commented on #39741
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch1-el8_aarch64_gcc10/3667

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-17 12:47] tvami commented on #36404
Nothing yet, @francescobrivio do we have anybody else in the beamspot team who could do this? Simone maybe?

[2022-10-17 16:10] dzuolo commented on #36404
Dear colleagues,
Unfortunately at the moment nobody from the beamspot team is available to work on this topic due to a lack of time and/or knowledge of the core software. @gennai is for sure the most qualified person but he is busy with other activities. Would like to add something simone?

[2022-10-17 16:19] silviodonato commented on #39714
I really don't know about these validation modules that need to re-ran the MixingModule

[2022-10-17 18:14] Dr15Jones commented on #36404
Just did

#39746
L1TriggerConfig/CSCTFConfigProducers
L1TriggerConfig/DTTPGConfigProducers
L1TriggerConfig/L1GeometryProducers
L1TriggerConfig/RCTConfigProducers

[2022-10-17 20:32] smuzaffar commented on #39735
@vgvassilev any idea why we suddenly hit this issue? Note that we have not changed root in CMSSW 12.6.X since May 2022. IBs and PR tests always run under singularity container which was re-built and is in use since 4th OCT 2022. Both CMSSW_12_5_X and CMSSW_12_6_X IBs use the same ROOT and same singularity container. Tests in CMSSW_12_5_X do not fail e.g. https://cmssdt.cern.ch/SDT/jenkins-artifact

[2022-10-17 20:34] smuzaffar commented on #39735
@makortel , @cms-sw/orp-l2 how should we proceed? should we cherry-pick just [this](https://github.com/root-project/root/commit/f8bcafcfca79d0dae34cd09c2db06b33627c927d) in 12.6.X ?

[2022-10-17 20:35] vgvassilev commented on #39735
Did you switch recently to newer version of gcc, libstdc++ or bumped the language version? If you have then likely that is the cause.

[2022-10-17 20:42] smuzaffar commented on #39735
ah could it be that rebuilt of `root` in new singularity container causes this. We do have rebuilt root for 12.6.X IBs ( due to dependency update). Let me rebuilt root for 12.5.X too and see if that fails too

[2022-10-17 20:42] vgvassilev commented on #39735
[code]

 Our test started using `bits/fs_path.h` which seems to include `codecvt` and then we got the failure. So yes, I think you are right to say we integrated something that triggered this issue...

[2022-10-17 21:42] wddgit commented on #36404
I just did L1Trigger/L1TMuonOverlap. I was just starting L1TriggerConfig, your comment was just in time. I'll do RecoJets/JetAnalyzers next.

[2022-10-18 05:47] smuzaffar commented on #39735
[CMSSW_12_5_X PR tests](https://github.com/cms-sw/cmsdist/pull/8132#issuecomment-1281821878) with root rebuilt in new container are all good . So the failure we see in 12.6.X is due to some new code in cmssw 12.6.X itself. PR tests based on `CMSSW_12_6_X_2022-10-13-1100` IB were good and they start failing for `CMSSW_12_6_X_2022-10-13-2300` and above. Looking at the PRs merged for `CMSSW_12_6_X_20

[2022-10-18 08:04] makortel opened #39754 "Non-reproducibility in JetMET/{Jet,MET}Validation histograms in phase2 workflows"
It seems that we have non-reproducibility in some `JetMET/{Jet,MET}Validation` histograms that are visible in PR tests. So far seen (at least) in
* https://github.com/cms-sw/cmssw/pull/39727#issuecomment-1281510418
* https://github.com/cms-sw/cmssw/pull/39645#issuecomment-1270408489
* https://github.com/cms-sw/cmssw/pull/39651#issuecomment-1274392350

[2022-10-18 08:04] cmsbuild commented on #39754
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-18 08:05] makortel commented on #39754
assign dqm

FYI @cms-sw/jetmet-pog-l2

[2022-10-18 08:05] cmsbuild commented on #39754
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@syuvivida,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-18 08:57] smuzaffar commented on #39754
These were first seen in https://github.com/cms-sw/cmssw/pull/39699 ([see logs](https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_6_X_2022-10-17-1100+69bdc3/53467/validateJR.html)]

[2022-10-18 09:12] makortel commented on #39754
An earlier test in https://github.com/cms-sw/cmssw/pull/39699#issuecomment-1278855112 reports only 6 DQM histograms with comparison differences, which would suggest that #39699 would not be responsible for the differences (or it at least the answer is less clear).

On the other hand, the occurrence of these differences seem to be random and not very frequent, so it could be that the PR responsible

[2022-10-18 15:09] silviodonato opened #39756 "Issues related to FastTimerService and HLT"
I just want to report here two problems about FastTimerService and the HLT online DQM .

1) [DQM: HLT / TimerService / Running on AMD EPYC 7763 64-Core Processor with 24 streams on 32 threads](https://cmsweb.cern.ch/dqm/online/start?runnr=360459;dataset=/Global/Online/ALL;sampletype=online_data;filter=all;referencepos=overlay;referenceshow=customise;referencenorm=True;referenceobj1=refobj;referenc

[2022-10-18 15:10] cmsbuild commented on #39756
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-18 15:15] makortel commented on #39756
assign hlt

[2022-10-18 16:30] missirol commented on #39756
(Noted, I will try to understand this in the next days, unless it is considered important to fix this asap.)

FYI: @fwyzard

[2022-10-18 16:38] fwyzard commented on #39756
The reason is that the `FastTimerServiceClient` that is responsible for filling those plots is trying to read the information about luminosity and pileup from SCAL, which does not exist any more in Run-3.

I inquired about it a few months ago, and according to @mmusich's [answer](https://cms-talk.web.cern.ch/t/access-to-the-online-luminosity-from-the-hlt-or-online-dqm/12712) the solution would be

[2022-10-18 16:40] fwyzard commented on #39756
@silviodonato keep in mind that as long as the cpu usage is below ~70%, it's almost like running without hyperthreading, so it would make sense to observe a timing roughly a factor 2 (I'd expect 1.8x) faster than on a fully used machine.

[2022-10-18 17:57] jenimal commented on #39591
@stlammel any followup?  As Hasan says above, we are going to trust your expertise on this. We currently do not see the downside of switching so if there is one we need to know. Otherwise lets get moving on it.

Jen

[2022-10-18 19:07] fwyzard commented on #39756
OK, some more information: I've re-run over the first lumisections of run 360459 (the same one of @silviodonato's plot), using similar conditions as what we have online (`CMSSW_12_4_10`, same menu and global tag, 8 jobs times 32 threads/24 streams) and looked at the **CPU time** (Silvio's plot is for CPU time):

![image](https://user-images.githubusercontent.com/4069793/196517825-bc4058ce-083a-4e4

[2022-10-18 20:39] makortel commented on #39350
@Dr15Jones presumably #39717 should have fixed this issue, right?

[2022-10-19 02:53] cmsbuild commented on #39741
The cleanup has started for el8_aarch64_gcc10

[2022-10-19 02:53] cmsbuild commented on #39741
The cleanup has started for slc7_amd64_gcc10

[2022-10-19 02:53] cmsbuild commented on #39741
The cleanup has started for el8_amd64_gcc10

[2022-10-19 02:53] cmsbuild commented on #39741
The cleanup has started for el8_ppc64le_gcc10

[2022-10-19 02:53] #39741 closed

[2022-10-19 02:54] cmsbuild commented on #39741
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_10_patch1-el8_aarch64_gcc10/2207

[2022-10-19 02:54] cmsbuild commented on #39741
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_10_patch1-el8_amd64_gcc10/2208

[2022-10-19 02:54] cmsbuild commented on #39741
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_10_patch1-el8_ppc64le_gcc10/2209

[2022-10-19 02:54] cmsbuild commented on #39741
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_10_patch1-slc7_amd64_gcc10/2210

[2022-10-19 08:51] silviodonato commented on #39756
Thanks a lot @fwyzard ! So
- we should/can check the timing including the hyper-threading effect by looking at the first lumisections
- the DQM plot doesn't include the "others" part (~10%).

[2022-10-19 09:18] fwyzard commented on #39756
Yes, but only for runs that start already in stable beams, otherwise there is very little to run.

Correct - and the difference is more significative for "real time" than for "cpu time".

[2022-10-19 12:45] Dr15Jones commented on #39350
@makortel hopefully, but I was unable to test it. We should see by the end of today’s IB.

[2022-10-19 13:52] rappoccio opened #39775 "Build CMSSW_12_4_10_patch2"
Urgent fix for datataking to deploy https://github.com/cms-sw/cmssw/pull/39740.

[2022-10-19 13:54] cmsbuild commented on #39775
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-10-19 13:54] rappoccio commented on #39775
+1

[2022-10-19 13:55] cmsbuild commented on #39775
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-10-19 13:56] cmsbuild commented on #39775
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3669/console
CMSDIST Branch: [REL/CMSSW_12_4_10/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-19 13:56] cmsbuild commented on #39775
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3668/console
CMSDIST Branch: [REL/CMSSW_12_4_10/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-19 14:00] cmsbuild commented on #39775
The build has started for el8_amd64_gcc10 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3670/console
CMSDIST Branch: [REL/CMSSW_12_4_10/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-19 14:08] cmsbuild commented on #39775
The build has started for slc7_amd64_gcc10 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3671/console
CMSDIST Branch: [REL/CMSSW_12_4_10/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-19 14:17] cmsbuild commented on #39775
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch2-el8_ppc64le_gcc10/3668
Some

[2022-10-19 14:30] cmsbuild commented on #39775
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch2-el8_aarch64_gcc10/3669
Some

[2022-10-19 14:37] cmsbuild commented on #39775
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch2-el8_amd64_gcc10/3670
Some test

[2022-10-19 14:39] cmsbuild commented on #39775
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch2-slc7_amd64_gcc10/3671
Some te

[2022-10-19 14:50] rappoccio commented on #39775
el8_amd64_gcc10

[2022-10-19 14:50] rappoccio commented on #39775
upload all

[2022-10-19 14:51] cmsbuild commented on #39775
Queing Jenkins upload for el8_amd64_gcc10

[2022-10-19 14:51] cmsbuild commented on #39775
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-10-19 14:51] rappoccio commented on #39775
release-notes

[2022-10-19 14:51] cmsbuild commented on #39775
Queing Jenkins upload for el8_aarch64_gcc10

[2022-10-19 14:51] cmsbuild commented on #39775
The upload has started for slc7_amd64_gcc10 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2507/console

[2022-10-19 14:51] cmsbuild commented on #39775
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2506/console

[2022-10-19 14:52] cmsbuild commented on #39775
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch2-el8_ppc64le_gcc10/2506

[2022-10-19 14:52] cmsbuild commented on #39775
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch2-el8_aarch64_gcc10/2504

[2022-10-19 14:52] cmsbuild commented on #39775
ATTENTION!!! The production architecture (el8_amd64_gcc10) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2022-10-19 14:52] cmsbuild commented on #39775
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch2-slc7_amd64_gcc10/2507

[2022-10-19 14:53] cmsbuild commented on #39775
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch2-el8_amd64_gcc10/2505

[2022-10-19 14:53] cmsbuild commented on #39775
Generating release notes since CMSSW_12_4_10_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-10-19 14:53] cmsbuild commented on #39775
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_4_10_patch2 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_10_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_10_patch2

[2022-10-19 14:57] cmsbuild commented on #39775
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_10_patch2

[2022-10-19 15:08] cmsbuild commented on #39775
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch2-el8_ppc64le_gcc10/3668

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-19 15:18] cmsbuild commented on #39775
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch2-el8_aarch64_gcc10/3669

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-19 15:25] cmsbuild commented on #39775
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch2-el8_amd64_gcc10/3670

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-19 15:27] cmsbuild commented on #39775
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch2-slc7_amd64_gcc10/3671

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-19 15:28] missirol commented on #38453
@cms-sw/tracking-pog-l2

In this issue, one HLT crash is not yet solved, and I would say we need help from tracking experts in order to find a fix.

The crash is reproducible offline (see https://github.com/cms-sw/cmssw/issues/38453#issuecomment-1278364360), it comes from the (HLT) pixel reconstruction, and it only happens on CPU, not on GPU (for what we have seen so far).

Removing some `assert`

[2022-10-19 16:02] fwyzard commented on #38453
I have a vague recollection of a comment from @VinInn that we should simply remove the `assert`...

I think now it's OK to have ntuplets with 5 his, so an alternative could be to change the condition to `<= 5` ?

[2022-10-19 16:08] missirol commented on #38453
At least, removing the `assert`s [1,2] does not lead to any other crashes, fwiw.

And just for my understanding: the fact that, for the same event, we do not see a ntuplet with size=5 on GPU can be expected?

[1] https://github.com/cms-sw/cmssw/blob/CMSSW_12_4_10_patch2/RecoPixelVertexing/PixelTriplets/plugins/GPUCACell.h#L293
[2] https://github.com/cms-sw/cmssw/blob/CMSSW_12_4_10_patch2/RecoPixel

[2022-10-19 16:08] VinInn commented on #38453
It does not happen on GPU because assert are removed.
this is a sort of sextuplet candidate (rare? impossible?)
anyhow if on GPU does not cause havoc I would either change the condition following @fwyzard advice or just remove the assert.
mind the assert at the end of the function as well

[2022-10-19 16:11] missirol commented on #38453
Okay, thanks, but still I tried to just print the ntuplet size while running on GPU, and I didn't see a size=5..

[2022-10-19 16:14] VinInn commented on #38453
will try to have a look on cpu how this track looks like (and if possible compare to the one on GPU)

[2022-10-19 17:05] missirol commented on #38453
The PRs with the `4 -> 5` change are #39780 (12_6_X), #39781 (12_5_X), and #39782 (12_4_X).

[2022-10-20 05:09] perrotta opened #39785 "Build CMSSW_12_5_1"
Release for the Phase2 L1T MC production

[2022-10-20 05:10] cmsbuild commented on #39785
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-10-20 05:11] perrotta commented on #39785
+1

[2022-10-20 05:12] cmsbuild commented on #39785
The build has started for el8_amd64_gcc11 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3673/console
CMSDIST Branch: [IB/CMSSW_12_5_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-20 05:12] cmsbuild commented on #39785
The build has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3672/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-20 05:12] cmsbuild commented on #39785
The build has started for slc7_amd64_gcc10 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3674/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-20 06:20] cmsbuild commented on #39785
The build has started for el8_ppc64le_gcc10 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3676/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-20 08:24] makortel opened #39786 "Two instances of a function-local static variable on gcc11"
I noticed something peculiar on `lxplus-gpu` that is nowadays `cs9`. It can be reproduced with (e.g.)
[code]
which results in
[code]

The stack trace of the segfault is
[code]
i.e. from `cms::alpakatools::CachingAllocator<alpaka::DevCpu, alpaka::QueueCudaRtNonBlocking>, void>::freeAllCached()`, but called from the `CachingAllocator` destructor rather than from
https://github.com/cms-sw/cmssw/blob/

[2022-10-20 08:24] cmsbuild commented on #39786
New categories assigned: heterogeneous,core

@fwyzard,@Dr15Jones,@smuzaffar,@makortel,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-20 08:24] cmsbuild commented on #39786
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-20 08:29] makortel commented on #39786
Found this

from gcc documentation https://gcc.gnu.org/faq.html#dso. Also two open tickets that _might_ be connected
* https://gcc.gnu.org/bugzilla/show_bug.cgi?id=46097
* https://gcc.gnu.org/bugzilla/show_bug.cgi?id=66830

In this case in both code paths leading to the `CachingAllocator` the underlying shared objects (`pluginHeterogeneousCoreAlpakaServicesPluginsCudaAsync.so`, `pluginHeterogeneou

[2022-10-20 08:33] makortel commented on #39786
I was surprised to see that without setting `SCRAM_ARCH` on `lxplus-gpu` the `el8_amd64_gcc10` gets picked up, and running it actually works. With `el8_amd64_gcc11` I see the same behavior as in the issue description.

[2022-10-20 08:50] cmsbuild commented on #39785
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_1-slc7_amd64_gcc10/3674
Some tests ( ru

[2022-10-20 09:01] cmsbuild commented on #39785
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_1-el8_amd64_gcc11/3673
Some tests ( runT

[2022-10-20 09:02] cmsbuild commented on #39785
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_1-el8_aarch64_gcc10/3675
Some tests (

[2022-10-20 09:06] cmsbuild commented on #39785
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_1-el8_amd64_gcc10/3672
Some tests ( runT

[2022-10-20 09:08] cmsbuild commented on #39785
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_1-el8_ppc64le_gcc10/3676
Some tests (

[2022-10-20 09:21] cmsbuild commented on #39785
Queing Jenkins upload for slc7_amd64_gcc10

[2022-10-20 09:21] cmsbuild commented on #39785
Queing Jenkins upload for el8_amd64_gcc10

[2022-10-20 09:21] cmsbuild commented on #39785
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-10-20 09:21] cmsbuild commented on #39785
Queing Jenkins upload for el8_aarch64_gcc10

[2022-10-20 09:21] cmsbuild commented on #39785
The upload has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2509/console

[2022-10-20 09:21] cmsbuild commented on #39785
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2508/console

[2022-10-20 09:22] cmsbuild commented on #39785
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_1-el8_aarch64_gcc10/2508

[2022-10-20 09:22] cmsbuild commented on #39785
The upload has started for el8_amd64_gcc11 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2510/console

[2022-10-20 09:22] mmusich commented on #38453
@cms-sw/hlt-l2 (now speaking with the ORM hat, in order to better coordinate the creation of the next patch releases):
   * will this issue fully solved after the merge of the backports of https://github.com/cms-sw/cmssw/pull/39780 ?
   * is there any other outstanding HLT crash with recent data that still needs to followed up (outside of this ticket)?

[2022-10-20 09:23] cmsbuild commented on #39785
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_1-el8_amd64_gcc10/2509

[2022-10-20 09:23] cmsbuild commented on #39785
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2511/console

[2022-10-20 09:23] cmsbuild commented on #39785
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_1-el8_amd64_gcc11/2510

[2022-10-20 09:23] cmsbuild commented on #39785
The upload has started for slc7_amd64_gcc10 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2512/console

[2022-10-20 09:24] cmsbuild commented on #39785
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_1-el8_ppc64le_gcc10/2511

[2022-10-20 09:24] cmsbuild commented on #39785
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_1-slc7_amd64_gcc10/2512

[2022-10-20 09:27] perrotta commented on #39785
release-notes

[2022-10-20 09:29] cmsbuild commented on #39785
Generating release notes since CMSSW_12_5_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-10-20 09:29] cmsbuild commented on #39785
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_5_1 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_5_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_1

Release for th

[2022-10-20 09:37] missirol commented on #38453
Yes, that is my understanding.

There are two more issues, but those crashes have been rare: #39568 , which ECAL has promised to look into, and #38651, which might somehow have been a glitch (seen only once).

FOG (@trtomei) can tell us if there are any new online crashes without a CMSSW issue.

[2022-10-20 09:37] cmsbuild commented on #39785
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_1

[2022-10-20 09:37] cmsbuild commented on #39785
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_1-slc7_amd64_gcc10/3674

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-20 09:40] missirol commented on #38453
+hlt

[2022-10-20 09:44] cmsbuild commented on #39785
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_1-el8_aarch64_gcc10/3675

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-20 09:47] cmsbuild commented on #39785
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_1-el8_amd64_gcc11/3673

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-20 09:53] cmsbuild commented on #39785
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_1-el8_amd64_gcc10/3672

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-20 10:01] cmsbuild commented on #39785
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_1-el8_ppc64le_gcc10/3676

Tests results:
50 49 48 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-20 10:07] VinInn commented on #38453
so the tuplet in question is joining layers 0,3,10,7,12,  so all 6 BPIX1,2,3 and FPIX1,2,3
geometrically almost impossible but ok.
Now why not on GPU?

how can I run hlt_for_debug.py on GPU and NOT on CPU?

[2022-10-20 10:21] VinInn commented on #38453
Anyhow if we "observe" sextuplets we need to allow sextuplets in the code .... so the fix of the asserts is ok (the arrays were already over-dimensioned)

[2022-10-20 10:38] VinInn commented on #38453
The sextuplet is on GPU as well

[2022-10-20 10:55] VinInn commented on #38453
in case you are interested here are the coordinates of the hits
[code]

[2022-10-20 13:13] fwyzard commented on #39786
So, it seems to be an issue with GCC 11 ?

(not saying that we should not look for a solution, just asking if you think it's something that was working with GCC 10 and broke with GCC 11)

[2022-10-20 13:18] dan131riley commented on #39786
We see a low rate of segfaults that look to be dlopen related, so it seems at least plausible that this has been around for a while.

[2022-10-20 13:23] makortel commented on #39786
I wanted to see the behavior with the `serial_sync` backend (to see if `gcc` or `nvcc` in the link would make any difference). I hacked this piece
https://github.com/cms-sw/cmssw/blob/ed920883f8da116c2aec30e08f46e43c00851989/HeterogeneousCore/AlpakaInterface/interface/CachedBufAlloc.h#L26-L35
to actually use the caching allocator, and see similar behavior (i.e. I see two allocator instances create

[2022-10-20 13:23] makortel commented on #39786
As far as I can tell this behavior seems specific to GCC 11. On the same `lxplus-gpu` node, using `el8_amd64_gcc10` works, whereas `el8_amd64_gcc11` and `el9_amd64_gcc11` crash.

[2022-10-20 13:25] missirol commented on #38453
Looks like this was already solved. I add one comment for documentation purposes.

The complication comes from the fact that the HLT menu includes 2 prescaled triggers that run the pixel CPU-only reco (which is why we saw the crash online). To ensure that only the pixel GPU reco is running, one solution is to remove them, but that's tricky to do starting from the full menu [1]; alternatively, one

[2022-10-20 13:25] fwyzard commented on #39786
I think we are doing both:
[code]

and
https://github.com/cms-sw/cmssw/blob/ed920883f8da116c2aec30e08f46e43c00851989/FWCore/PluginManager/src/SharedLibrary.cc#L34-L35

[2022-10-20 13:25] missirol commented on #38453
If it's not too much trouble to explain, I would be interested to know how to extract the information on layer pairs and r-z coordinates for a given candidate.

I see the crash at `Run 360224, Event 82169671, LumiSection 81`; if I run CPU-only, I can see `tmpNtuplet.size == 5` inside `find_ntuplets`, but I don't see that if I run the same event on GPU, and this got me confused.

[2022-10-20 13:34] VinInn commented on #38453
[code]

[2022-10-20 13:37] VinInn commented on #38453
btw the method ```.back()``` of VecArray is badly broken (does not compile because cannot compile)

[2022-10-20 13:53] missirol commented on #38453
Thanks a lot for the info.

[2022-10-20 14:00] makortel commented on #39786
One thing I noticed while investigating this issue was that the https://github.com/cms-sw/cmssw/blob/ed920883f8da116c2aec30e08f46e43c00851989/HeterogeneousCore/AlpakaTest/test/BuildFile.xml#L1 test is not run in GPU_X IBs. @smuzaffar what should be done in order to get it run in GPU_X IBs? (although that alone would not have helped to discover this issue because GPU_X IBs are run only for `gcc10`)

[2022-10-20 15:44] aandvalenzuela opened #39797 "Unit test `testDiMuonVertexMonitor` in `DQMOffline/Alignment` failing for `ROOT6` IBs"
Hello,

Since a few days, test `testDiMuonVertexMonitor` in  `DQMOffline/Alignment` module has been failing due to time out in `ROOT6` IBs. See yesterday's failure at [CMSSW_12_6_ROOT6_X_2022-10-19-2300](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_ROOT6_X_2022-10-19-2300/unitTestLogs/DQMOffline/Alignment#/). It also hangs when running the test locally.

This failure was

[2022-10-20 15:45] cmsbuild commented on #39797
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-20 15:47] Dr15Jones commented on #39797
If you run the job locally using the debugger, can you get a traceback from where it is stuck?

[2022-10-20 16:01] Dr15Jones commented on #36404
Just did

#39798
L1Trigger/DTTrackFinder
L1Trigger/DTTrigger
L1Trigger/GlobalTrigger
L1Trigger/L1GctAnalyzer
L1Trigger/L1TCalorimeter
L1Trigger/L1TGEM
L1Trigger/L1TMuonEndCap

[2022-10-20 16:17] makortel commented on #39797
assign dqm

[2022-10-20 16:17] cmsbuild commented on #39797
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@syuvivida,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-20 17:23] VinInn commented on #39786
are there also two copies of ``` cms::alpakatools::host()::host```?

[2022-10-20 17:36] VinInn commented on #39786
[code]
vs
[code]

[2022-10-20 17:38] VinInn commented on #39786
while
[code]
vs
[code]

[2022-10-20 19:01] smuzaffar commented on #39786
Currently, for GPU builds we only run tests for packages which has direct `cuda` dependency. We can also add package with direct `alpaka` dependency too

We only have two `ppc64le` nodes which are already overloaded due to various IBs/Release and PR tests. So I am afraid we add `ppc64le_gcc11` yet

[2022-10-20 19:21] makortel commented on #39786
Thanks. In this case the `HeterogeneousCore/AlpakaTest/test/BuildFile.xml` does not declare any dependencies (because the runs a script that runs `cmsRun`). Should the `<test/>` be made dependent on `alpaka`? Or would an overall dependence on `alpaka` be sufficient?

There is also
https://github.com/cms-sw/cmssw/blob/42baf3c5016a1f79556bd29b50141a13d7c65b98/HeterogeneousCore/AlpakaInterface/test/B

[2022-10-20 19:42] makortel commented on #39786
Thanks @VinInn.

Indeed, inserting a printout in `cms::alpakatools::detail::enumerate_host()` shows multiple printouts (3 in my test, which I presume are from `libDataFormatsPortableTestObjectsSerialSync.so`, `libHeterogeneousCoreAlpakaServicesSerialSync.so`, `pluginHeterogeneousCoreAlpakaTestPluginsPortableSerialSync.so`). And this happens also with gcc 10.

[2022-10-20 19:43] smuzaffar commented on #39786
@makortel , direct dependency with in the package ( either in `Package/BuildFile.xml` or `Package/{plugins,test,bin}/BuildFile.xml` )  is good enough for bot to check out that package and run all its tests. Note that we run all tests for these package (just in case if there are tests which process the output of some GPU based test).

[2022-10-20 20:51] missirol commented on #38453
(This issue is solved; the rest below is just me trying to learn things.)

With Vincenzo's diff, I get what he wrote: same sextuplet on CPU and GPU.

In my previous attempts, I had additional printouts in `GPUCACell::find_ntuplets`, and in that case I couldn't see the sextuplet on GPU. I think this is somewhat reproducible: I ran 30 times with this diff [*] and I could see the sextuplet on GPU in

[2022-10-21 08:27] VinInn commented on #38453
This is surprising as we do not expect GPU vs CPU differences at this point of processing
will try to investigate more

[2022-10-21 08:38] jaimeleonh opened #39809 "Issue in matching between HLT object and L1 object"
When running the nanoAOD production, in https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/plugins/TriggerObjectTableProducer.cc#L252-L255 there's a loop that tries to find the L1 object that best matches (in dR) with the desired HLT object. However, the `best` value is not getting updated, so the last L1object from the collection whose dR with the HLT object is smaller than `sel.l1D

[2022-10-21 08:38] cmsbuild commented on #39809
A new Issue was created by  @jaimeleonh Jaime Leon Holgado.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-21 08:51] VinInn commented on #38453
looking to the code I would have not expected multiple copies of "host" either.
somehow those functions get a "hidden" linking.
Maybe we should try to write a small demonstrator.

OK for host is obvious it is declared ```static``` that in old good C means local to the compilation unit!

[2022-10-21 08:51] VinInn commented on #39786
looking to the code I would have not expected multiple copies of "host" either.
somehow those functions get a "hidden" linking.
Maybe we should try to write a small demonstrator.

OK for host is obvious it is declared static that in old good C means local to the compilation unit!

@VinInn

Add heading textAdd bold text, <Cmd+b>Add italic text, <Cmd+i>
Add a quote, <Cmd+Shift+.>Add code, <Cmd+e>Add

[2022-10-21 11:33] makortel commented on #39809
assign xpog

[2022-10-21 11:33] cmsbuild commented on #39809
New categories assigned: xpog

@swertz,@vlimant you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-21 11:47] makortel commented on #39786
Good catch, thanks! @fwyzard, do you have any objections for removing the `static` from
https://github.com/cms-sw/cmssw/blob/c81258cf188a2ee7e3e86abec514a72e11348f0b/HeterogeneousCore/AlpakaInterface/interface/host.h#L24
(I believe the replication was not intentional)

[2022-10-21 12:14] fwyzard commented on #39786
You're right, I'll make a PR.

[2022-10-21 12:30] fwyzard commented on #39786
See https://github.com/cms-sw/cmssw/pull/39813 and https://github.com/cms-sw/cmssw/pull/39814 .

[2022-10-21 12:36] missirol opened #39815 "looking for slimmer summary info from `MessageLogger`"
@fwyzard noted in [CMSHLT-2510](https://its.cern.ch/jira/browse/CMSHLT-2510) that the log file of a typical HLT job includes hundreds (or even thousands) of lines which are arguably not so useful (example in [*]).

These lines come from the so-called "MessageLogger Summary". They could be suppressed by setting
[code]
, but this also removes the final few summary lines, with total counts of errors

[2022-10-21 12:36] cmsbuild commented on #39815
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-21 12:46] VinInn commented on #39786
there is a gcc 11.3 out. maybe would be worth to test it to see if this issue has been fixed

[2022-10-21 12:53] cmsbuild commented on #39775
The cleanup has started for slc7_amd64_gcc10

[2022-10-21 12:53] cmsbuild commented on #39775
The cleanup has started for el8_amd64_gcc10

[2022-10-21 12:54] cmsbuild commented on #39775
The cleanup has started for el8_ppc64le_gcc10

[2022-10-21 12:54] #39775 closed

[2022-10-21 12:54] cmsbuild commented on #39775
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_10_patch2-el8_amd64_gcc10/2212

[2022-10-21 12:54] cmsbuild commented on #39775
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_10_patch2-slc7_amd64_gcc10/2214

[2022-10-21 13:11] VinInn commented on #38453
@missirol
I'm sorry. running on patatrack02 even changing GPU I observed always (6 out of 6) both GPU and CPU printout.
1) on which machine are you running?
2) how exactly are you switching between cpu and gpu?
(in my case I'm just running ```cmsRun hlt_for_debug.py``` from a copy of issue38453 directory using CMSSW_12_4_10_patch2)

[2022-10-21 13:14] VinInn commented on #38453
btw: printf from GPU is not guaranteed to appear if there are too many.

[2022-10-21 13:28] rappoccio commented on #39669
Hi, All,

This still needs attention, is it still the case that @nhduongvn is preparing a fix here?

[2022-10-21 13:32] missirol commented on #38453
Sorry for the trouble, then. I tested on `gpu-c2a02-39-03`; to run CPU-only, I add `process.options.accelerators = ['cpu']` to the config [*].

Thanks, didn't know, it might explain what I (didn't) see.

[*]
[code]

[2022-10-21 13:32] nhduongvn commented on #39669
Hi Sal, all,
The fix was provided and merged:
https://github.com/cms-sw/cmssw/pull/39727

[2022-10-21 13:40] rappoccio opened #39817 "Review and optimize Fractional Prescale GlobalBoard loops"
In #39464, there is an open issue that was decided to resolve at a later time (https://github.com/cms-sw/cmssw/pull/39464/files#r979213382).

Suggestions:

* From @fwyzard [here](https://github.com/cms-sw/cmssw/pull/39464/files#r992536291)
* From @perrotta [here](https://github.com/cms-sw/cmssw/pull/39464/files#r983523251)

[2022-10-21 13:40] cmsbuild commented on #39817
A new Issue was created by  @rappoccio .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-21 13:48] rappoccio commented on #39669
Thanks @nhduongvn, but we still need back ports to 12_5 and 12_4. @makortel is there some update there?

Otherwise, can we just move to a more recent file for the DQM checks and bypass this entirely to just use a more recent run that's still available? @cms-sw/dqm-l2 ?

[2022-10-21 13:54] rappoccio commented on #39669
@stlammel we won't release 12_6 until December, we can't really leave the IBs broken for 2 months.

[2022-10-21 15:04] missirol commented on #39345
Regarding https://github.com/cms-sw/cmssw/issues/39345#issuecomment-1240929822, I realised only today, thanks to others, that the path `/afs/cern.ch/user/c/confdb/www/` is actually a sym-link to `/eos/home-c/confdb/www`.

@smuzaffar , do the machines running IB tests have access to `/eos/home-c/confdb/www`?

(If they do, we could maybe avoid the extra downloads during IBs by changing `/afs/cern.ch

[2022-10-21 15:39] makortel commented on #39817
assign l1

[2022-10-21 15:40] cmsbuild commented on #39817
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-21 15:48] VinInn commented on #39786
spent the afternoon is some monkey typing. Eventually
[code]

do not ask. It is fact (and a bug in the compiler, probably)

[2022-10-21 15:59] VinInn commented on #39786
more
[code]

[code]

[2022-10-21 16:04] stlammel commented on #39669
Hallo Sal, @rappoccio
   i am a bit confused: The old versions, including 12_4, 12_5, should work fine
without the backport. Only the 12_6 pre-releases are broken and the next
pre-release will fix this.
   Thanks,
- Stephan

[2022-10-21 16:20] VinInn commented on #39786
This is ok as well
[code]

[2022-10-21 16:36] VinInn commented on #39786
btw the default compiler is
```gcc version 11.3.1 20220421 (Red Hat 11.3.1-2) (GCC)```

[2022-10-21 18:12] makortel commented on #39815
assign core

[2022-10-21 18:12] cmsbuild commented on #39815
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-21 18:54] makortel commented on #39669
Given the trouble we've had with https://github.com/cms-sw/cmssw/pull/37278 I'm not comfortable in backporting it (and all the necessary fixes) to 12_4_X or 12_5_X until the data taking is over (to avoid any risk for Tier0).

Said that, I think the unit tests would get fixed by just dropping the `--catalog` option to `edmFileUtil`, i.e. backporting just https://github.com/cms-sw/cmssw/pull/39266 .

[2022-10-21 19:53] mmusich commented on #39669
based on my private test[^1], this won't be sufficient to fix the unit tests.

[^1]: cmsrel CMSSW_12_5_X_2022-10-21-1100
cd CMSSW_12_5_X_2022-10-21-1100/src/
cmsenv
git cms-addpkg DQM/Integration
git cherry-pick 9a056d437411de96fc23edd6948539c0fbe0d166
scramv1 b -j 20
cd DQM/Integration/python/clients/
voms-proxy-init -voms cms
cmsRun sistrip_dqm_sourceclient-live_cfg.py unitTest=True

[2022-10-21 21:09] fwyzard commented on #39786
This also works:
[code]
on `el8_amd64_gcc11`:
[code]
and `cmsRun HeterogeneousCore/AlpakaTest/test/writer.py` works fine.

[2022-10-21 21:28] fwyzard commented on #39786
This also works:
[code]
(it's not a useful implementation, it's just a check)

[2022-10-21 22:05] smuzaffar commented on #39345
@missirol , no we do not have access to afs or eos

[2022-10-21 22:09] smuzaffar commented on #39669
Right, dropping the `--catelog` option does not work for 12.5 and earliler releases. One simple fix is to either use a file known to das ( acessiable via xrootd redirectors ) or use `ibeos` protocol i.e. use `--catalog file:/cvmfs/cms-ib.cern.ch/SITECONF/local/PhEDEx/storage.xml?protocol=ibeos`

[2022-10-22 06:54] missirol commented on #38453
I think this is indeed the explaination [*]. Case closed, and sorry again for the noise.

[*] I checked this by keeping the large number of printouts, but also adding
[code]
and the program crashed 10/10 times on GPU (running only on the event in question), meaning each time there was a sextuplet on GPU.

[2022-10-22 07:38] cmsbuild commented on #39785
The cleanup has started for el8_aarch64_gcc10

[2022-10-22 07:38] cmsbuild commented on #39785
The cleanup has started for slc7_amd64_gcc10

[2022-10-22 07:38] cmsbuild commented on #39785
The cleanup has started for el8_amd64_gcc10

[2022-10-22 07:38] cmsbuild commented on #39785
The cleanup has started for el8_ppc64le_gcc10

[2022-10-22 07:38] cmsbuild commented on #39785
The cleanup has started for el8_amd64_gcc11

[2022-10-22 07:38] #39785 closed

[2022-10-22 07:39] cmsbuild commented on #39785
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_1-el8_aarch64_gcc10/2215

[2022-10-22 07:39] cmsbuild commented on #39785
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_1-el8_amd64_gcc10/2216

[2022-10-22 07:39] cmsbuild commented on #39785
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_1-el8_amd64_gcc11/2217

[2022-10-22 07:39] cmsbuild commented on #39785
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_1-el8_ppc64le_gcc10/2218

[2022-10-22 07:39] cmsbuild commented on #39785
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_1-slc7_amd64_gcc10/2219

[2022-10-22 08:45] VinInn opened #39825 "use of enabled_if in place of static_assert"
I have noticed in code recently merged a use of SFINAE mechanisms (```enabled_if```) where IMHO ```static_assert``` would be more adequate. In particular the compiler error seems more readable.

Take for instance the following test code mimicking  the one in HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
(see also issue #39786 that prompted this investigation)

[code]
when compiled

[2022-10-22 08:45] cmsbuild commented on #39825
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-22 08:46] VinInn commented on #39825
FYI @fwyzard  @dpiparo @makortel @Dr15Jones

[2022-10-22 09:02] VinInn commented on #39786
also this works (and IMHO , as argued  in the above issue, I find it also a more adequate syntax)
[code]

[2022-10-22 09:33] fwyzard commented on #39786
But this would give a compile time error instead of failing to match the template parameters (OK, which would also give a different compile time error in this case).

By the way, a curious observation: in my tests `getCachingDeviceAllocator()::allocator` is always compiled correctly (in terms of what we want it to do), only `getCachingHostAllocator()::allocator` shows the different behaviour in GC

[2022-10-22 09:38] fwyzard commented on #39786
Ah, and just to exclude a possible culprit, I think the assembler and linker are not at fault here, the difference is there already in the GCC assembly output:

#### gcc 10:
[code]

#### gcc 11:
[code]

[2022-10-22 09:52] VinInn commented on #39786
yep. To report a bug (regression) one needs to reproduce it in a simpler example. I've failed until now.

[2022-10-22 10:06] VinInn commented on #39786
btw: why such a complex machinery to construct and destruct a bunch of allocators?
(in HeterogeneousCore/AlpakaInterface/interface/getDeviceCachingAllocator.h)
a simple std::vector would not have been enough?

[2022-10-23 09:37] fwyzard commented on #39786
OK, I think I found the source of the problem. In `HeterogeneousCore/AlpakaInterface/interface/traits.h` I used
[code]
instead of
[code]

So, as [explained on StackOverflow](https://stackoverflow.com/a/48041749/2050986), `is_device_v` is a local variable, and it looks like recent versions of GCC make the template specialisation based on it local as well.

Adding the missing `inline` to the declara

[2022-10-23 09:48] fwyzard commented on #39786
Fixed by #39826.

[2022-10-23 10:02] fwyzard commented on #39786
Because a `CachingAllocator` does not have a default constructor, and is not copyable or movable.

Doing `make_unique<Allocator[]>(size)` does not work either, because of the lack of a default constructor.

[2022-10-23 10:06] VinInn commented on #39786
I think a ```std::vector<std::unique_ptr<Allocator>>``` should work.

[2022-10-23 10:10] VinInn commented on #39786
Ok, it may make sense. Not easy to reproduce with a small example anyhow.

[2022-10-23 10:25] fwyzard commented on #39786
If you want to play with it, this is the reproducer I manage to cook:
#### `test.cc`
[code]

#### `Makefile`
[code]

By the way, clang generates a `V` weak object, possibly with a default value (both with and without the `inline`).

[2022-10-23 10:49] VinInn commented on #39786
Thanks. Useful to have a self contained example.

[2022-10-23 13:37] mmusich commented on #39669
this indeed works.
I have opened the following PRs:
   * https://github.com/cms-sw/cmssw/pull/39829 (12.5.X)
   * https://github.com/cms-sw/cmssw/pull/39830 (12.4.X)

Let me know if some other cycles could use an update.

[2022-10-24 06:30] alintulu commented on #39570
This crash happened again in two runs over the weekend ([ELOG](http://cmsonline.cern.ch/cms-elog/1162459)). Both were taken with 12_4_10_patch2 .

[2022-10-24 06:49] mmusich commented on #39570
@alintulu you might want to report a recipe to reproduce (also offline).

[2022-10-24 07:46] swagata87 commented on #39570
Hi Marco,
I was checking this a little bit. I could not reproduce the crash in run 360919, but could reproduce the crash in 360895. And what I found is that, your suggestion [here](https://github.com/cms-sw/cmssw/issues/35929#issuecomment-1216358471) , which was related to a different crash, can avoid this crash in 360895. But it prints some messages like this:
[code]

[2022-10-24 08:52] fwyzard commented on #39570
+heterogeneous

[2022-10-24 08:59] missirol commented on #39714
Hi @kskovpen ,

regarding https://github.com/cms-sw/cmssw/issues/39714#issuecomment-1277609417, we should try to fix the wfs that should use `--hltProcess reHLT` but currently aren't. I made an attempt in #39834, but I'm not familiar with that part of CMSSW, so feel free to open a better PR.

[2022-10-24 09:31] mmusich commented on #39693
@cms-sw/hcal-dpg-l2 please consider signing this issue.
@trtomei please consider closing this issue (as per [today's joint ops document](https://docs.google.com/document/d/1mDdCUu8PxEeWPLzG1SnKFQMFcxPR5bfGNMAQdJ1pG1s/edit#heading=h.ujw8h4xet7es) no more issues of this type were noticed in recent runs)

[2022-10-24 09:36] mmusich commented on #39570
@swagata87 it looks like the same kind of problem also hit Prompt Reco.

There is a paused job for run 360888 in the ParkingDoubleMuonLowMass2 PD:
[code]
Tier-0 will post the coordinates to reproduce shorty.

[2022-10-24 10:26] mmusich commented on #35929
there was an instance of the same problem in prompt reco for run 360888 in the dataset parkingdoublemuonlowmass2 (full details at [cmsTalk](https://cms-talk.web.cern.ch/t/logic-error-in-reco-job-for-run-360888-dataset-parkingdoublemuonlowmass2/16641)).
The issue can be reproduced (quickly) by using the pkl file from:

`/afs/cern.ch/user/c/cmst0/public/PausedJobs/Run2022F/LogicError/job_844315`

an

[2022-10-24 11:41] swagata87 commented on #39570
thanks, I've now managed to check the prompt-reco crash also, and I confirm that [your patch](https://github.com/cms-sw/cmssw/issues/35929#issuecomment-1288800329) solves the crash. So I think it makes sense to put in the fix to avoid further crashes.

Your fix was originally meant for a crash with message `MultiTrajectoryState mixes states with different signs of local p_z`, which  happened both

[2022-10-24 11:44] andrea21z commented on #37973
Both PRs (#39724 and #39726 ) have been merged, so this issue is solved.

[2022-10-24 12:06] fwyzard commented on #39570
@mmusich can you explain to me what the suggested changes do ?

If `updatedTSOS.localParameters().pzSign()` is negative, won't this flip the sign of `pzSign` for each component ?

[2022-10-24 12:23] wang-hui commented on #39693
Hi @mmusich the patch of this issue has been merged in #39738.
We HCAL DPG are happy with the patch.

[2022-10-24 12:27] mmusich commented on #39693
@wang-hui then please sign-off this issue.
Thanks.

[2022-10-24 12:28] cmsbuild commented on #39693
This issue is fully signed and ready to be closed.

[2022-10-24 12:35] missirol commented on #39693
please close

[2022-10-24 12:35] #39693 closed

[2022-10-24 12:54] fwyzard commented on #39570
Mhm, I'm not sure I follow.

During the first iteration (when `i == 0`) the `if` clause is skipped and the `else` clause is always processed, so effectively `pzSign` is set to the sign of of `KFUpdator().update(predictedComponents.front(), aRecHit)`.

Then for the following interations
  - if `pzSign` has a different sign than `updatedTSOS.localParameters().pzSign()`, the component is skipped
  -

[2022-10-24 12:55] fwyzard commented on #39570
(of course, maybe I misunderstood the whole logic...)

[2022-10-24 12:56] fwyzard commented on #39570
Now, all of these checks may prevent the crashes, but I'm not sure if actually there is an underlying issue that one should address, and these are just symptoms ?

[2022-10-24 13:37] mmusich commented on #39570
right, I see it can become a problem when there are many states to be added with multiple sign flips. I was wrongly assuming that it would not try to add more than two states...

this is a valid point, though one would need one more loop to collect all the signs.

that's precisely my comment at: https://github.com/cms-sw/cmssw/issues/39234#issuecomment-1232537510, see also https://github.com/cms-s

[2022-10-24 14:28] #39786 closed

[2022-10-24 14:37] mmusich commented on #39570
while logically correct, this doesn't solve the issue at https://cms-talk.web.cern.ch/t/logic-error-in-reco-job-for-run-360888-dataset-parkingdoublemuonlowmass2/16641 :(

[2022-10-24 15:55] makortel commented on #39669
I still don't understand why just dropping the `--catalog` would not work. In CMSSW_12_5_X_2022-10-21-1100 I get
[code]
The last two cases resolve to exactly the same PFN.

Also running `scram b use-ibeos runtests` on `DQM/Integration` seems to work with dropping `--catalog`.

Anyway, given that https://github.com/cms-sw/cmssw/pull/39829 and https://github.com/cms-sw/cmssw/pull/39830 are already m

[2022-10-24 16:02] mmusich commented on #39669
This didn't work for me,  see https://github.com/cms-sw/cmssw/issues/39669#issuecomment-1287375943

[2022-10-24 16:15] makortel commented on #39669
I guess because the recipe in https://github.com/cms-sw/cmssw/issues/39669#issuecomment-1287375943 did not include overriding the `CMS_PATH` (that I expect `scram b use-ibeos runtests` to do, among other things).

[2022-10-24 16:31] smuzaffar commented on #39669
humm, yes dropping `--catalog` with correct CMS_PATH also worked for me .... no idea why I had the impression that this was not working.

[2022-10-24 17:37] missirol commented on #39817
https://github.com/cms-sw/cmssw/pull/39832 potentially solves this issue. It's under review.

[2022-10-24 22:21] makortel commented on #39815
MessageLogger does not keep track of the number of processed runs / lumis / events. Did you perhaps refer to the behavior of `process.options.wantSummary = true` (which also prints out a lot of information)?

In general you could write your own Service to do your preferred accounting and to print out the summary in your preferred format.

Currently the number of events accepted with `SelectEvents`

[2022-10-24 22:22] makortel commented on #39825
assign core

[2022-10-24 22:23] cmsbuild commented on #39825
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-24 22:44] fwyzard commented on #39815
I'd say only offline tests -- as far as I know the DAQ system does not parse the HLT textual output during normal operations, only the stack traces in case of crashes.

[2022-10-25 06:33] missirol commented on #39815
Yes, this is the "final summary" I was referring to.

I think we were just generally thinking that some `wantSummary`-like info could be useful in an ideal 'compact summary'.

Offline we normally use `process.options.wantSummary = True`, and indeed there the "MessageLogger Summary" outputs are not the biggest piece of the log files ([example](https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Valida

[2022-10-25 10:03] aandvalenzuela commented on #39797
@Dr15Jones, from what I can see in the IB logs, the test always hangs in the same step when running https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Alignment/test/testDiMuonVertexMonitor.sh#L18 in `dealing with bin: 4`. Then, the test is killed after one hour since we don't expect tests running for so long.

[code]

[2022-10-25 10:04] mmusich commented on #39570
So I have made a bit of archeology dig.
The crash reported in prompt reco ([cmsTalk](https://cms-talk.web.cern.ch/t/logic-error-in-reco-job-for-run-360888-dataset-parkingdoublemuonlowmass2/16641)) already appeared once this year (see https://github.com/cms-sw/cmssw/issues/39026) and I solved it by proposing https://github.com/cms-sw/cmssw/pull/39056.
With the state of the code as of 2b81038ca2d3d3

[2022-10-25 10:19] mmusich commented on #39669
that's interesting, because when I first tried to drop `--catalog` (, i.e. backporting just https://github.com/cms-sw/cmssw/pull/39266) also I have the distinct impression that also `scram b use-ibeos runtests` wasn't working, then I passed to use single client tests (as in the recipe of https://github.com/cms-sw/cmssw/issues/39669#issuecomment-1287375943) in order to make tests run faster.
I am w

[2022-10-25 11:54] rappoccio commented on #39669
Thanks a lot for the efforts here! I think we can now close the issue as the IBs are now correctly completing. Thanks everyone!

[2022-10-25 11:54] #39669 closed

[2022-10-25 11:54] missirol opened #39840 "move logic of HLT-Beamspot choice from `ESProducer` to `EDProducer`"
During LS2, a new workflow has been introduced to produce the beamspot collection used in the HLT reconstruction (see, for example, [this talk](https://indico.cern.ch/event/941467/contributions/3957896/attachments/2080201/3493886/beamspot_27072020_TkPOG.pdf), although I'm sure there were many more).

This includes a `ESProducer` which chooses which `BeamSpotObjects` is used for a given IOV (with L

[2022-10-25 11:55] cmsbuild commented on #39840
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-25 12:01] mmusich commented on #39840
assign reconstruction, tracking-pog

[2022-10-25 12:02] cmsbuild commented on #39840
New categories assigned: tracking-pog,reconstruction

@slava77,@mmusich,@mandrenguyen,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-25 12:13] swagata87 commented on #39570
https://github.com/cms-sw/cmssw/pull/39656 is a rather simple PR. As I understand, all it does is to make sure that the states we are allowing to go further in the reco chain has a positive definite curvilinear error matrix, so that the states are more well behaved. This should not lead to the crash. We are probably missing something elsewhere.

Also, I noticed that the frequency of this crash at

[2022-10-25 13:08] makortel commented on #39797
@aandvalenzuela Could you run that particular process in `gdb` (or attach the `gdb` to an already hanging process with `gdb -p <PID>`) and print the stack trace with `thread apply all bt`?

[2022-10-25 13:13] davidlange6 opened #39842 "Paths differing by case"
It looks like cms has grown some files that differ just by case

  'Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalWafer8-algorithm.xml'
  'Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalwafer8-algorithm.xml'

  'L1Trigger/Phase2L1ParticleFlow/plugins/L1METPFProducer.cc'
  'L1Trigger/Phase2L1ParticleFlow/plugins/L1MetPfProducer.cc'

  'Validation/HGCalValidation/macros/MakePlots.C'
  '

[2022-10-25 13:13] cmsbuild commented on #39842
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-25 13:19] makortel commented on #39842
assign geometry,l1,dqm

[2022-10-25 13:20] cmsbuild commented on #39842
New categories assigned: geometry,dqm,l1

@jfernan2,@mdhildreth,@epalencia,@ahmad3213,@micsucmed,@rvenditti,@ianna,@Dr15Jones,@emanueleusai,@syuvivida,@rekovic,@makortel,@bsunanda,@cecilecaillol,@civanch,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-25 13:20] mmusich commented on #39570
unfortunately it does (I invite you to cross-check)
After re-implementing the Sylvester criterion in a tidier way:

[code]

and running the reconstruction of the incriminated electron (see recipe at https://github.com/cms-sw/cmssw/issues/35929#issuecomment-1288800329) with the full Sylvester criterion and only the check on the full error matrix determinant (commenting out the first three clauses)

[2022-10-25 13:37] Dr15Jones commented on #39815
Another advantage of using `process.MessageLogger.cerr.enableStatistics = False` is it will make the job slightly faster and use slightly less memory as the framework doesn't have to do the work of generating and keeping those statistics as each logged message is sent.

[2022-10-25 13:38] aandvalenzuela commented on #39797
Hello @makortel,
I tried to do so, but I get a server error when trying to read the root file for this second step.

The first step of the test (https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Alignment/test/testDiMuonVertexMonitor.sh#L12) succeeds:
[code]
But when running the second step (https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Alignment/test/testDiMuonVertexMonitor.sh#L18)

[2022-10-25 13:41] dan131riley commented on #39350
#39717 fixed the ASAN buffer overflow, but we're still getting segfaults.  UBSAN reports
[code]
https://github.com/cms-sw/cmssw/blob/fa01ae41a33c9ecaa9771e2259c455a6e942f068/GeneratorInterface/HydjetInterface/src/HydjetHadronizer.cc#L387-L395

[2022-10-25 13:42] aandvalenzuela commented on #39797
I am running the test on the same machine where the IB ran last night, `cmsbuild07`.

[2022-10-25 13:44] Dr15Jones commented on #39350
@dan131riley this is supposed to be fixed with #39784 which is still waiting on review.

[2022-10-25 13:45] makortel commented on #39797
Could you try setting `SITECONFIG_PATH=/cvmfs/cms-ib.cern.ch/SITECONF/local`? Then `cmsRun` should read the file from the ibeos cache.

[2022-10-25 15:18] rappoccio opened #39846 "Build CMSSW_12_4_10_patch3"
Release to deploy #39681 and #39619 (and assorted other additions) for FOG request.

[2022-10-25 15:18] cmsbuild commented on #39846
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-10-25 15:41] rappoccio commented on #39846
+1

[2022-10-25 15:42] cmsbuild commented on #39846
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-10-25 15:43] cmsbuild commented on #39846
The build has started for el8_amd64_gcc10 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3677/console
CMSDIST Branch: [REL/CMSSW_12_4_10/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-25 15:43] cmsbuild commented on #39846
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3679/console
CMSDIST Branch: [REL/CMSSW_12_4_10/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-25 15:43] cmsbuild commented on #39846
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3680/console
CMSDIST Branch: [REL/CMSSW_12_4_10/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_4_10/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-25 16:14] cmsbuild commented on #39846
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch3-el8_ppc64le_gcc10/3680
Some

[2022-10-25 16:27] cmsbuild commented on #39846
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch3-el8_aarch64_gcc10/3679
Some

[2022-10-25 16:29] cmsbuild commented on #39846
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch3-slc7_amd64_gcc10/3678
Some te

[2022-10-25 16:35] cmsbuild commented on #39846
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch3-el8_amd64_gcc10/3677
Some test

[2022-10-25 16:54] perrotta commented on #39846
upload all

[2022-10-25 16:54] cmsbuild commented on #39846
Queing Jenkins upload for slc7_amd64_gcc10

[2022-10-25 16:54] cmsbuild commented on #39846
Queing Jenkins upload for el8_amd64_gcc10

[2022-10-25 16:54] cmsbuild commented on #39846
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-10-25 16:55] cmsbuild commented on #39846
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2513/console

[2022-10-25 16:55] cmsbuild commented on #39846
The upload has started for el8_amd64_gcc10 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2514/console

[2022-10-25 16:55] cmsbuild commented on #39846
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2515/console

[2022-10-25 16:55] cmsbuild commented on #39846
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch3-el8_ppc64le_gcc10/2515

[2022-10-25 16:55] cmsbuild commented on #39846
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch3-el8_aarch64_gcc10/2513

[2022-10-25 16:56] cmsbuild commented on #39846
The upload has started for slc7_amd64_gcc10 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2516/console

[2022-10-25 16:56] cmsbuild commented on #39846
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch3-slc7_amd64_gcc10/2516

[2022-10-25 16:57] cmsbuild commented on #39846
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_10_patch3-el8_amd64_gcc10/2514

[2022-10-25 16:58] perrotta commented on #39846
release-notes

[2022-10-25 16:58] cmsbuild commented on #39846
Generating release notes since CMSSW_12_4_10_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-10-25 16:58] cmsbuild commented on #39846
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_4_10_patch3 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_10_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_10_patch3

[2022-10-25 17:00] cmsbuild commented on #39846
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_10_patch3

[2022-10-25 17:01] rappoccio commented on #39846
upload all

[2022-10-25 17:05] cmsbuild commented on #39846
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch3-el8_ppc64le_gcc10/3680

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-25 17:15] cmsbuild commented on #39846
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch3-el8_aarch64_gcc10/3679

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-25 17:16] cmsbuild commented on #39846
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch3-slc7_amd64_gcc10/3678

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-25 17:22] cmsbuild commented on #39846
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_10_patch3-el8_amd64_gcc10/3677

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-25 19:40] makortel commented on #39825
I discussed the question briefly with @Dr15Jones and we think it depends on the use case, because SFINAE and `static_assert` serve different purpose (SFINAE being about taking some action based on the template argument type(s), and `static_assert` being about enforcing some properties of the argument type(s); similar to `if` vs. `assert()` in normal program flow).

The various function overloads i

[2022-10-25 22:06] missirol commented on #39817
#39832 is now merged, and I think it addresses the follow-ups asked in #39464.

[2022-10-26 07:27] cecilecaillol commented on #39817
+l1

[2022-10-26 07:27] cmsbuild commented on #39817
This issue is fully signed and ready to be closed.

[2022-10-26 07:38] fwyzard commented on #39825
As soon as CUDA gains c++20 support (but I have no idea when that is, it's been "Soon™" for the best part of this year) we should move these checks to Concepts; so I'm not sure if it's worth making changes in the meantime, but I will follow what the common feeling is.

That said I disagree that SFINAE is _not_ about enforcing properties of the argument type; IMHO it does so in a way that other tem

[2022-10-26 09:04] VinInn commented on #39825
My concern is also to provide "future" developers of clear examples and guidance as in c++ the same result can be obtained in too many ways.

[2022-10-26 12:50] francescobrivio commented on #39570
@swagata87 do you have any update on this?
At the moment (luckily) only one job in Prompt is affected, but the sooner we fix this the better.

Cheers,
Francesco as ORM

[2022-10-26 13:37] smuzaffar commented on #39797
I have opened a root issue here https://github.com/root-project/root/issues/11637

[2022-10-26 13:47] clacaputo commented on #37973
+reconstruction

- see https://github.com/cms-sw/cmssw/issues/37973#issuecomment-1288913104

[2022-10-26 13:48] cmsbuild commented on #37973
This issue is fully signed and ready to be closed.

[2022-10-26 13:58] swagata87 commented on #39570
Hello Francesco,

Apart from what Marco has already pointed out, that removing the sub-matrices' positive definite check done by Sylvester criterion cures this crash, I don't have other fix right now.

That particular prompt reco event is puzzling, as, despite all protections in [GsfMultiStateUpdator](https://github.com/cms-sw/cmssw/blob/CMSSW_12_4_X/TrackingTools/GsfTracking/src/GsfMultiStateUpda

[2022-10-26 13:59] makortel commented on #39825
There is also the constraint from ROOT, i.e. until the LLVM within ROOT gets updated from 9 to 13 (which IIUC should happen for 6.28) concepts can't be used in code that gets exposed to dictionary generation.

This is along what I tried to convey with "SFINAE being about taking some action based on the type" above.

I'd think we'd get quite far already with the "`if` vs `assert`" analogy.. Like if

[2022-10-26 14:05] mmusich commented on #39570
it might be worth noticing that messages as in [1] are triggered by this check:

https://github.com/cms-sw/cmssw/blob/2a2ca2ee216a44c2743301dc2dc32b4c7c93f4ad/TrackingTools/TrajectoryState/src/BasicTrajectoryState.cc#L94-L98

which doesn't implement the full  Sylvester criterion , but a poor-man version implemented here:

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42

[2022-10-26 14:12] fwyzard commented on #39825
Ah, I didn't know about that, thanks for the information.
Do we have a timeline for the adoption of 6.28 ? Like, does it match the 13.0 time scale or is it expected after that ?

[2022-10-26 15:02] makortel commented on #39825
A realistic timeline for adopting 6.28 would be for 2024 data taking. The validation of 6.26 (for next year) is still in progress, and 6.28 has not been released yet (also the PR bringing in LLVM 13 seems still to be open). Even assuming 6.28 would get released by the end of 2022, based on past experience the time window to move to it for CMSSW_13_0_0 would be too short.

[2022-10-26 15:17] fwyzard commented on #39825
OK, definitely for 2024 then.

Still, once we have c++20 in the rest of CMSSW, maybe we can write something like
[code]

to use concepts in our code, and let ROOT ignore them ?

[2022-10-26 17:14] swagata87 commented on #39570
I still need to understand it better, by doing more checks;
but looks like this patch[1] solve the prompt reco crash in that event in run 360888.
So it is checking if `LocalTrajectoryError` of the single states are positive definite or not. If not, they are discarded.
I checked it from 12_4_10_patch2.

Also, [the warning messages that I was talking about](https://github.com/cms-sw/cmssw/issues/395

[2022-10-26 19:32] iarspider opened #39865 "range_check error in HydjetGeneratorFilter"
In CMSSW_12_6_X_2022-10-26-1100 relval [159.03](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc11/CMSSW_12_6_X_2022-10-26-1100/pyRelValMatrixLogs/run/159.03_HydjetQ_MinBias_5020GeV_2021_ppReco+HydjetQ_MinBias_5020GeV_2021_ppReco+DIGIHI2021PPRECO+RAWPRIMESIMHI18+RECOHI2022PROD+MINIHI2022PROD/step1_HydjetQ_MinBias_5020GeV_2021_ppReco+HydjetQ_MinBias_5020GeV_2021_ppReco+DIGIHI2021PPRECO+RA

[2022-10-26 19:32] iarspider commented on #39865
assign generators

[2022-10-26 19:32] cmsbuild commented on #39865
New categories assigned: generators

@mkirsano,@menglu21,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-26 19:32] cmsbuild commented on #39865
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-26 23:04] guitargeek commented on #39797
Hi! Apparently I messed up something in the new implementation of subrange fits in ROOT master, but fortunately you can quickly circumvent the problem by not doing a subrange fit, like I suggest here:
https://github.com/cms-sw/cmssw/pull/39867

The range parameter was redundant anyway.

[2022-10-27 04:52] perrotta commented on #39865
See ongoing discussion in https://github.com/cms-sw/cmssw/pull/39784 with @Dr15Jones @wouf

[2022-10-27 04:56] perrotta opened #39868 "Build CMSSW_12_6_0_pre4"
Github issue https://github.com/cms-sw/cmssw/issues/39865 is still open, I'd expect errors when running some HI relvals

[2022-10-27 04:56] cmsbuild commented on #39868
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-10-27 04:56] perrotta commented on #39868
+1

[2022-10-27 04:57] cmsbuild commented on #39868
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-10-27 04:57] cmsbuild commented on #39868
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-10-27 05:01] cmsbuild commented on #39868
The build has started for el8_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3681/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-27 05:03] cmsbuild commented on #39868
The build has started for el8_amd64_gcc11 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3682/console
CMSDIST Branch: [IB/CMSSW_12_6_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-27 05:06] cmsbuild commented on #39868
The build has started for slc7_amd64_gcc10 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3683/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-27 05:15] cmsbuild commented on #39868
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3684/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-27 06:57] cmsbuild commented on #39868
The build has started for el8_ppc64le_gcc10 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3685/console
CMSDIST Branch: [IB/CMSSW_12_6_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_6_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-10-27 07:11] smuzaffar commented on #39735
@makortel , @perrotta @rappoccio any objections on including https://github.com/cms-sw/root/pull/176 ( suggested by @vgvassilev [here](https://github.com/cms-sw/cmssw/issues/39735#issuecomment-1279216972) )? This should fix these DQM comparison failures

[2022-10-27 08:00] perrotta commented on #39735
@smuzaffar we have already started building pre4.
Are you suggesting to stop the build, merge that one, and restart the build afterwards?
Of course, after pre4 that fix is welcome in master

[2022-10-27 08:05] cecilecaillol commented on #39453
Fixed in https://github.com/cms-sw/cmssw/pull/39624

[2022-10-27 08:05] cecilecaillol commented on #39453
+l1

[2022-10-27 08:05] cmsbuild commented on #39453
This issue is fully signed and ready to be closed.

[2022-10-27 08:06] cecilecaillol commented on #39338
Fixed in https://github.com/cms-sw/cmssw/pull/39411

[2022-10-27 08:06] cecilecaillol commented on #39338
+l1

[2022-10-27 08:06] cmsbuild commented on #39338
This issue is fully signed and ready to be closed.

[2022-10-27 08:10] cecilecaillol commented on #38944
This seems related to ap_* classes rather than CMSSW so I dont think there is anything we can do from the l1 side

[2022-10-27 08:10] cecilecaillol commented on #38944
+l1

[2022-10-27 08:12] smuzaffar commented on #39735
no, do not stop pre4, we can include it after pre4.

[2022-10-27 08:32] swertz commented on #39809
Thanks for reporting @jaimeleonh , this looks like a bug indeed. I will make a PR to fix it and backport it to 124X. However we are planning to change the way trigger object info is stored in nano as this is not the only issue with the TriggerObjectTableProducer...

[2022-10-27 10:14] cmsbuild commented on #39868
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre4-el8_aarch64_gcc10/3684
Some tes

[2022-10-27 11:00] cmsbuild commented on #39868
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre4-slc7_amd64_gcc10/3683
Some tests

[2022-10-27 11:08] cmsbuild commented on #39868
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre4-el8_amd64_gcc11/3682
Some tests (

[2022-10-27 11:10] cmsbuild commented on #39868
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre4-el8_aarch64_gcc10/3684

Tests results:
47 46 45 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-27 11:11] cmsbuild commented on #39868
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre4-el8_amd64_gcc10/3681
Some tests (

[2022-10-27 11:47] cmsbuild commented on #39868
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre4-slc7_amd64_gcc10/3683

Tests results:
47 46 45 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-27 11:51] cmsbuild commented on #39868
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre4-el8_ppc64le_gcc10/3685
Some tes

[2022-10-27 11:53] perrotta commented on #39868
upload all

[2022-10-27 11:53] cmsbuild commented on #39868
Queing Jenkins upload for el8_amd64_gcc10

[2022-10-27 11:53] cmsbuild commented on #39868
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-10-27 11:53] cmsbuild commented on #39868
Queing Jenkins upload for el8_aarch64_gcc10

[2022-10-27 11:53] cmsbuild commented on #39868
Queing Jenkins upload for el8_amd64_gcc11

[2022-10-27 11:53] cmsbuild commented on #39868
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre4-el8_amd64_gcc11/3682

Tests results:
47 46 45 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-27 11:54] cmsbuild commented on #39868
The upload has started for el8_amd64_gcc11 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2519/console

[2022-10-27 11:54] cmsbuild commented on #39868
The upload has started for el8_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2518/console

[2022-10-27 11:54] cmsbuild commented on #39868
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2517/console

[2022-10-27 11:54] cmsbuild commented on #39868
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre4-el8_amd64_gcc11/2519

[2022-10-27 11:55] cmsbuild commented on #39868
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre4-el8_ppc64le_gcc10/2520

[2022-10-27 11:55] cmsbuild commented on #39868
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre4-el8_amd64_gcc10/2518

[2022-10-27 11:55] cmsbuild commented on #39868
The upload has started for slc7_amd64_gcc10 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2521/console

[2022-10-27 11:56] cmsbuild commented on #39868
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre4-slc7_amd64_gcc10/2521

[2022-10-27 11:57] cmsbuild commented on #39868
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre4-el8_amd64_gcc10/3681

Tests results:
47 46 45 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-27 11:57] cmsbuild commented on #39868
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_6_0_pre4-el8_aarch64_gcc10/2517

[2022-10-27 12:01] perrotta commented on #39868
release-notes

[2022-10-27 12:02] cmsbuild commented on #39868
Generating release notes since CMSSW_12_6_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-10-27 12:02] cmsbuild commented on #39868
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_6_0_pre4 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_aarch64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_6_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_6_0_pre4

[2022-10-27 12:06] cmsbuild commented on #39868
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_6_0_pre4

[2022-10-27 12:50] cmsbuild commented on #39868
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_6_0_pre4-el8_ppc64le_gcc10/3685

Tests results:
47 46 45 33 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-10-27 15:08] cmsbuild commented on #39846
The cleanup has started for el8_aarch64_gcc10

[2022-10-27 15:09] cmsbuild commented on #39846
The cleanup has started for slc7_amd64_gcc10

[2022-10-27 15:09] cmsbuild commented on #39846
The cleanup has started for el8_amd64_gcc10

[2022-10-27 15:09] cmsbuild commented on #39846
The cleanup has started for el8_ppc64le_gcc10

[2022-10-27 15:09] #39846 closed

[2022-10-27 15:09] cmsbuild commented on #39846
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_10_patch3-el8_amd64_gcc10/2221

[2022-10-27 20:47] #39735 closed

[2022-10-27 22:30] makortel commented on #36404
`AlcaBeamMonitorClient` is now migrated in #39888 (in a suboptimal way though, that does not use DQM base classes and prevents concurrent lumis).

I know, but I replied to your (@tvami) comment in https://github.com/cms-sw/cmssw/issues/36404#issuecomment-1261113441.

[2022-10-28 06:56] missirol commented on #39817
please close

[2022-10-28 06:56] #39817 closed

[2022-10-28 06:58] missirol commented on #39714
@silviodonato , the fix is in place, but I'm not sure if TSG needs backports of this or not.

[2022-10-28 07:05] silviodonato commented on #39714
Thanks Marino, from the TSG point of view the backport is not necessary as the "alca relvals" are already running with re-HLT.
I don't know if @cms-sw/pdmv-l2 needs the backport (cc @kjpena)

[2022-10-28 07:11] mmusich commented on #39714
This was mostly driven by the need to be able to compare fairly target and reference in the tracking @ HLT technical validations (ROOT6, gcc11, etc.) in the master cycle, so the main use case is addressed with https://github.com/cms-sw/cmssw/pull/39834. On the other hand this looks like a "bug" worth fixing at least down to 12.4.x (for private usage?)

[2022-10-28 07:24] #39714 closed

[2022-10-28 07:45] missirol commented on #39714
I'll just open the backports and let people decide.

[2022-10-28 11:47] vlimant commented on #39197
@tvami I am a bit confused looking at the Rcd report in a recent nano workflows

`runTheMatrix.py --what nano --site "" --command '--number 5 --customise_commands "process.GlobalTag.DumpStat=cms.untracked.bool(True)"' -l 2500.601,2500.332  --job-report`

it seems to pull in a very very large number of records. I have done something wrong ?

[2022-10-28 13:17] elfontan commented on #39570
Dear all,
let me add for book-keeping the link to the [e-log ](http://cmsonline.cern.ch/cms-elog/1163735) for a few additional crashes of this type happened during runs 361107 and 361239.
Error streams have been saved:

_/store/lustre/error/run361107_:
- /store/error_stream/run361107/run361107_ls0085_index000135_fu-c2b03-36-01_pid1607962.raw
- /store/error_stream/run361107/run361107_ls0110_index00

[2022-10-28 15:51] makortel opened #39911 "ProductNotFound exception in workflow 20834.501"
Workflow 20834.501 step 5 fails in CMSSW_12_6_X_2022-10-28-1100 with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_X_2022-10-28-1100/pyRelValMatrixLogs/run/20834.501_TTbar_14TeV+2026D88_Patatrack_PixelOnlyCPU+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal+ALCAPhase2/step5_TTbar_14TeV+2026D88_Patatrack_PixelOnlyCPU+TTbar_14TeV_TuneC

[2022-10-28 15:51] cmsbuild commented on #39911
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-28 15:52] makortel commented on #39911
assign alca

FYI @mmusich

[2022-10-28 15:52] cmsbuild commented on #39911
New categories assigned: alca

@yuanchao,@francescobrivio,@malbouis,@saumyaphor4252,@tvami,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-28 16:25] makortel opened #39914 "Crashes in workflows 534 and 536 (Sherpa)"
Step 1 of workflows 534.0 and 536.0 are crashing starting from CMSSW_12_6_X_2022-10-27-2300.

Log of the crash 534.0
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc11/CMSSW_12_6_X_2022-10-27-2300/pyRelValMatrixLogs/run/534.0_sherpa_ZtoLL_2j_MEPSatNLO_13TeV_MASTER+sherpa_ZtoLL_2j_MEPSatNLO_13TeV_MASTER+HARVESTGEN/step1_sherpa_ZtoLL_2j_MEPSatNLO_13TeV_MASTER+sherpa_ZtoLL_2j_MEPSatN

[2022-10-28 16:25] makortel commented on #39914
assign generators

[2022-10-28 16:25] cmsbuild commented on #39914
New categories assigned: generators

@mkirsano,@menglu21,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-28 16:25] cmsbuild commented on #39914
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-28 16:28] makortel commented on #39914
Something to note in both cases the crash report comes presumably from Sherpa rather than CMSSW (IB dashboard also reports these jobs to exit with SIGKILL).

I don't see anything immediately obvious merged in CMSSW_12_6_X_2022-10-27-2300 that would cause the failures. The updates of Rivet and YODA (https://github.com/cms-sw/cmsdist/pull/8109) are related to generators, but can they play any role h

[2022-10-28 16:47] mmusich commented on #39911
assign @cms-sw/upgrade-l2

[2022-10-28 16:48] mmusich commented on #39911
I would have naively though that this

https://github.com/cms-sw/cmssw/blob/d296a53eef0dca4c0579e0f3625b74cb5272c0cf/Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py#L658-L660

would have protected the workflow, but certainly I am missing something.

[2022-10-28 16:56] mmusich commented on #39911
OK
[code]

solves.
PR will come in a minute.

[2022-10-28 17:01] mmusich commented on #39911
see https://github.com/cms-sw/cmssw/pull/39917

[2022-10-28 18:40] makortel commented on #39911
The same exception occurs also in 20834.21, 20834.5, and 20834.502 (the list might not be exhaustive as the tests are still being run)

[2022-10-28 20:06] Dr15Jones commented on #39480
So I was able to replicate the problem with a debug build under gdb. The crash I see happens on line 173

https://github.com/cms-sw/cmssw/blob/8faa02169a1e1a0f11df7e927eab9d5179a58015/Geometry/HcalCommonData/src/HcalDDDRecConstants.cc#L171-L173

but the problem originates on line 171 as the value of `ieta` is 28 and the length of `ietaMap` is only 16.

For the problem I see, the values are being d

[2022-10-28 20:55] mmusich commented on #39911
PR https://github.com/cms-sw/cmssw/pull/39917 has been updated accordingly

I will update it as more appear (if any)

[2022-10-28 21:23] Dr15Jones commented on #39480
So the values used to fill `ietaMap` come from this ES module

[code]

which gets its data from DD4hep

The values pulled from the loop filling the structure are
[code]

The DD4Hep description appears to come from this module
[code]

Is this the correct geometry file for this pileup?

[2022-10-29 03:04] bsunanda commented on #39480
Hi

I believe they are using a pileup file from runs 1,2, or 3 for phase2 where the ieta value is restricted to 16. I shall make a protection to make a more realistic diagnostic. The ieta value for this channel is 28 where the maximum ieta vaue should be 16 (there is no HE in run4). Thanks Chris for providing the diagnosis.

Sunanda
________________________________
From: Chris Jones ***@***.***
Se

[2022-10-29 06:23] #39911 closed

[2022-10-29 10:08] cmsbuild commented on #39868
The cleanup has started for el8_aarch64_gcc10

[2022-10-29 10:08] cmsbuild commented on #39868
The cleanup has started for slc7_amd64_gcc10

[2022-10-29 10:08] cmsbuild commented on #39868
The cleanup has started for el8_amd64_gcc10

[2022-10-29 10:08] cmsbuild commented on #39868
The cleanup has started for el8_ppc64le_gcc10

[2022-10-29 10:08] cmsbuild commented on #39868
The cleanup has started for el8_amd64_gcc11

[2022-10-29 10:08] #39868 closed

[2022-10-29 10:09] cmsbuild commented on #39868
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre4-el8_aarch64_gcc10/2224

[2022-10-29 10:09] cmsbuild commented on #39868
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre4-el8_amd64_gcc10/2225

[2022-10-29 10:09] cmsbuild commented on #39868
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre4-el8_ppc64le_gcc10/2227

[2022-10-29 10:09] cmsbuild commented on #39868
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre4-el8_amd64_gcc11/2226

[2022-10-29 10:09] cmsbuild commented on #39868
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_6_0_pre4-slc7_amd64_gcc10/2228

[2022-10-30 11:09] swagata87 commented on #39570
Coming back to HLT crashes. Some of the recent Gsf crashes were not reproducible. However, now we have a HLT crash which I could reproduce in GPU machine `gputest-milan-01` (as before, it is not reproducible in `lxplus-gpu`). The crash happened in run `361297` at `2022-10-28 23:49:21`. Recipe to reproduce the crash:
[code]
Crashes with this message:
[code]
Then, I reran with my fix (https://github

[2022-10-31 07:17] mmusich commented on #39797
please close
   * this is fixed by https://github.com/cms-sw/cmssw/pull/39867.

[2022-10-31 07:17] #39797 closed

[2022-10-31 08:20] cecilecaillol commented on #39842
L1METPFProducer.cc removed

[2022-10-31 08:20] cecilecaillol commented on #39842
+l1

[2022-10-31 12:20] rappoccio opened #39933 "Homogenize positive-definite criteria in GSF code"
As described [here](https://github.com/cms-sw/cmssw/pull/39873#discussion_r1006911796) there are two separate ways to check for positive-definiteness in the GSF code. To urgently fix the prompt reco, this was put through, but a proper solution is needed.

[2022-10-31 12:21] cmsbuild commented on #39933
A new Issue was created by  @rappoccio .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-31 12:21] rappoccio commented on #39933
assign @swagata87

[2022-10-31 12:21] rappoccio commented on #39933
assign @cms-sw/egamma-pog-l2

[2022-10-31 12:39] swagata87 commented on #39933
assign egamma-pog

[2022-10-31 12:39] cmsbuild commented on #39933
New categories assigned: egamma-pog

@lfinco,@swagata87 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-31 13:07] makortel commented on #39480
Umm, I'd expect runTheMatrix workflows to have consistent pileup files (@cms-sw/pdmv-l2).

The workflows 20834.911 and 23634.0 (that are the ones failing after the re-numbering of phase 2 workflows) do not have pileup. (checking workflows 39434.911 and 38634.0, that were mentioned in the issue description, from 12_5_X shows they don't have pileup either)

[2022-10-31 15:13] tvami commented on #39197
hi @vlimant sorry, I was on vacation until now. It does give a huge list all the time, but then when the record is accessed it also shows which IOV is accessed. It's true that it's not very user friendly to read the output.

[2022-10-31 15:27] vlimant commented on #39197
ok, thanks for confirming. having filtered the record with no payload I somehow still have a larger set than in your latest comment.
Is there a simple way to trace what module loaded a specific record ?

[2022-10-31 15:30] rvenditti opened #39936 "gemChamberVFATBX0GENeg11 with duplicate labels makes T0 crash on 12_5 reply"
As pointed in https://github.com/dmwm/T0/pull/4774, the reply on 12_5_1 failed (at merging DQMIO step?) because of duplicate labels in gemChamberVFATBX0GENeg11 histogram.
Error:
----- Begin Fatal Exception 31-Oct-2022 15:01:26 CET-----------------------
An exception of category 'FatalRootError' occurred while
   [0] Calling InputSource::readRun_
   Additional Info:
      [a] Fatal Root Error: @SUB

[2022-10-31 15:31] cmsbuild commented on #39936
A new Issue was created by  @rvenditti .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-31 15:31] rvenditti commented on #39936
can @cms-sw/gem-dpg-l2  kindly have a look?

[2022-10-31 15:32] makortel commented on #39936
assign dqm

[2022-10-31 15:32] cmsbuild commented on #39936
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@syuvivida,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-10-31 15:38] vlimant commented on #39197
latest I got is under https://cernbox.cern.ch/s/JqTmbbfQSjdtyDc

[2022-10-31 15:51] tvami commented on #39197
interesting, so I was looking at `136.8523` which is for data... so it seems the MC has more dependencies.

No, not that I know of

[2022-10-31 15:57] Dr15Jones commented on #39197
If you run a single threaded job and add in
[code]

you will see a module do a prefetch request and then see which EventSetup modules are triggered.

[2022-11-01 00:13] tvami commented on #39483
hi @laurenhay are you available for doing the fix for this?

[2022-11-01 09:24] mmusich commented on #39936
Looks like the problematic ME is actually in the L1T stack:

https://github.com/cms-sw/cmssw/blob/7f0cfadc07fa1c3e66d44c55b2138b8a91fd471a/DQM/L1TMonitor/src/L1TStage2EMTF.cc#L403-L427

adding to the discussion the original author @nickh2000 of PR https://github.com/cms-sw/cmssw/pull/38818 (@eyigitba FYI)

[2022-11-01 11:30] missirol opened #39948 "runtime error from `BeamOnlineMonitor` on Run-2 data"
An instance of the `BeamOnlineMonitor` plugin runs online at HLT (it is normally not used when running the HLT offline).

Trying to run on 2018 HIon data [1], one encounters a runtime error from this plugin [2].

The error originates from `BeamSpotOnlineObjects::startTime()`, because `stringParams_` is somehow empty:
https://github.com/cms-sw/cmssw/blob/CMSSW_12_5_1/DQM/BeamMonitor/plugins/OnlineB

[2022-11-01 11:30] cmsbuild commented on #39948
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-01 11:50] eyigitba commented on #39936
@mmusich , thanks for notifying me. Does this crash happen in the merging jobs? Could it be due to a missing line such as this one not being set for that one histogram?
[code]

[2022-11-01 12:24] mmusich commented on #39948
@missirol
this happens because the first IoV of `BeamSpotOnlineHLT` was likely written before the CondFormat was changed in PR https://github.com/cms-sw/cmssw/pull/35338 and therefore you are trying to resolve a data member that doesn't exist (quick reminder schema evolution is still not supported for condition data formats)
I see two possibilities:
   * change the code `BeamOnlineMonitor` in orde

[2022-11-01 12:28] mmusich commented on #39936
hi @eyigitba

as far as I understand the underlying ROOT version in 12.5.X really doesn't like to have a histogram with two bin labels containing the same name (for reasons that admittedly I don't understand , and @cms-sw/core-l2 might shed some light upon).
You can see similar occurence of this problem fixed here: https://github.com/cms-sw/cmssw/pull/39853

[2022-11-01 12:48] nickh2000 commented on #39936
Hi @mmusich,

If you agree, we can proceed by changing these duplicate labels and submitting a backported PR.

How do you suggest we test this change?

(fyi @eyigitba )

[2022-11-01 12:52] mmusich commented on #39936
yes, sure.

in the [issue description](https://github.com/cms-sw/cmssw/issues/39936#issue-1430043983) there's a pointer to the failing job from tier-0: `/afs/cern.ch/user/c/cmst0/public/PausedJobs/HIReplay2022/job_244/job/WMTaskSpace/cmsRun1`.
If you run `PSet.py` that you can find in that folder, you should be able to test the fix (without it crashes).

[2022-11-01 13:27] nickh2000 commented on #39936
HI @mmusich,

Thank you for your advice. How do I recreate new DQMIO files for the merging process?

[2022-11-01 13:40] mmusich commented on #39936
something like:
[code]

should create the DQMIO files.
Notice that I haven't looked to where to find the RAW data for inputing the wf, but I guess @rvenditti or @francescobrivio @germanfgv  can help you with that.

[2022-11-01 13:44] makortel commented on #39948
assign hlt,alca,db

[2022-11-01 13:45] cmsbuild commented on #39948
New categories assigned: hlt,db,alca

@yuanchao,@missirol,@ggovi,@francescobrivio,@francescobrivio,@malbouis,@malbouis,@saumyaphor4252,@saumyaphor4252,@tvami,@tvami,@Martin-Grunewald,@ChrisMisan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-01 13:51] makortel commented on #39480
After https://github.com/cms-sw/cmssw/pull/39920 workflow 20834.911 step 2 fails with an exception
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_X_2022-10-31-2300/pyRelValMatrixLogs/run/20834.911_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal+ALCAPhase2/step2_TTbar_14TeV+2026D88_DD4hep+TTbar_14TeV_TuneCP5_GenS

[2022-11-01 13:58] Dr15Jones commented on #39480
The configuration of the mixing module in the job that is failing is
[code]

[2022-11-01 14:13] Dr15Jones commented on #39480
So in this workflow, step1 does the GEN+SIM step and then step 2 (where the problem is seen) does the digi step. It looks like the SIM step thinks the geometry of the detector is different from what the SIM step thinks. I checked the parameters passed to cmsDriver.py in both steps, and they seem consistent

step 1
[code]

step 2
[code]

[2022-11-01 14:17] missirol commented on #39948
Thanks for all the info, @mmusich.

Indeed this was just a technical test, maybe not even a use case for anybody else, so I'd not ask changes or new tags.

I did miss that those tags had placeholder values for their first IOV. Iiuc, in this case the online-beamspot producer falls back on the Run-2 tag, so at least the beamspot used in the HLT reco should be okay physics-wise even in this case (but

[2022-11-01 14:27] francescobrivio commented on #39948
Noted! yes please keep this ticket open.

[2022-11-01 15:56] ianna commented on #39480
IMHO, we must move this and all other constants as records to DB and pick them up from a GT.

[2022-11-01 16:24] makortel commented on #39480
The failing workflows do not use pileup, so I don't see how their update would help.

[2022-11-01 16:27] srimanob commented on #39480
Hi @makortel
OK.

I think for wf point-of-view, i.e. to get consistent geometry of pileup wf, should this be updated?

[2022-11-01 16:32] makortel commented on #39480
Could the heap-buffer-overlow in `HcalDDDSimConstants::getPhiCons()` occurring in SIM step, reported in the issue description, be a smoking gun for the root cause? I'm wondering if that could lead to corrupt output that then causes the trouble in DIGI?

[2022-11-01 16:33] francescobrivio commented on #39936
@cms-sw/orp-l2 this is the issue that needs to be fixed in DQM before deploying 12_5_X in Tier0

[2022-11-01 17:09] smuzaffar commented on #39914
yes this couldbe related to rivet/yoda update. I am testing a revert of https://github.com/cms-sw/cmsdist/pull/8109 it [here](https://github.com/cms-sw/cmsdist/pull/8163)

[2022-11-01 18:33] laurenhay commented on #39483
@tvami yes! thanks for the ping. Will tackle this asap

[2022-11-01 21:13] mmusich commented on #39936
A possibile solution is proposed in https://github.com/cms-sw/cmssw/pull/39952

[2022-11-02 00:10] bsunanda commented on #39480
This exception happens in the SIM step (step1) and not in the DIGI step (step2). So clearly eta assignment gets wrong even at the time of assigning it - does it happen for all CMSSW architectures and only for Phase2 dd4hep case?

[2022-11-02 05:22] srimanob commented on #39480
Hi @bsunanda @perrotta

I think my conclusion in last ORP was wrong if I read original report by @dan131riley https://github.com/cms-sw/cmssw/issues/39480#issue-1382477184 and also comment from @makortel https://github.com/cms-sw/cmssw/issues/39480#issuecomment-1297062002. The issue also sees in DDD workflow, i.e. in 23634.0 (it is NoPU D95 wf, `2026D95+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiT

[2022-11-02 06:29] perrotta commented on #39865
urgent
(marking urgent the issues affecting relvals in the IBs)

[2022-11-02 06:29] perrotta commented on #39480
urgent
(marking urgent the issues affecting relvals in the IBs)

[2022-11-02 06:31] perrotta commented on #39936
urgent
(marking urgent the issues affecting T0 replays)

[2022-11-02 06:36] perrotta commented on #39809
This looks like having been fixed in master by #39893
Also the backport in 12_4 is available, #39932, while the one in 12_5_X is still missing: I suggest to keep this issue open until also the backport in the intermediate release is available

[2022-11-02 06:36] perrotta commented on #39809
urgent

[2022-11-02 06:38] perrotta commented on #39737
urgent
(marking urgent the issues affecting relvals in the IBs)

[2022-11-02 06:45] perrotta commented on #39568
urgent
(marking urgent the issues affecting online workflows)

[2022-11-02 06:46] perrotta commented on #39680
@missirol can this be considered fixed, and close therefore the issue?

[2022-11-02 06:48] perrotta commented on #38453
@swagata87 @missirol can this issue be considered concluded, and therefore closed?

[2022-11-02 06:49] missirol commented on #39680
I think so, but imho it would be better if the experts confirm, e.g. @cms-sw/heterogeneous-l2 @cms-sw/ecal-dpg-l2 .

[2022-11-02 06:49] perrotta commented on #39453
Close it, as it looks like it has been fixed

[2022-11-02 06:49] #39453 closed

[2022-11-02 06:50] missirol commented on #38453
In my understanding, yes (I signed it). Swagata can confirm and close.

[2022-11-02 06:51] perrotta commented on #39445
urgent
(marking urgent the issues affecting relvals in the IBs)

[2022-11-02 06:54] perrotta commented on #39045
@missirol, can this be considered fixed, and therefore close the issue?

[2022-11-02 07:02] missirol commented on #39045
I think so, but it would be good to have signature/confirmation from experts, e.g. @cms-sw/heterogeneous-l2 @cms-sw/trk-dpg-l2 .

(in any case, I'll close it by the end of the week)

[2022-11-02 07:19] swagata87 commented on #38453
yes, I am closing this issue. Thanks everyone!

[2022-11-02 07:20] #38453 closed

[2022-11-02 08:17] vlimant commented on #39086
please close

[2022-11-02 08:18] vlimant commented on #37351
please close

[2022-11-02 08:18] #37351 closed

[2022-11-02 08:23] vlimant commented on #32347
ping @michaelwassmer

[2022-11-02 08:24] vlimant commented on #33084
please close

we reopen if needed

[2022-11-02 08:25] #33084 closed

[2022-11-02 08:31] vlimant commented on #36552
related to #32628

[2022-11-02 08:31] vlimant commented on #32628
related to #36552

[2022-11-02 08:41] missirol commented on #37598
Another instance of this issue was in `CMSSW_12_4_X_2022-11-01-1100`.

https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_4_X_2022-11-01-1100/el8_amd64_gcc10/HLT_Integration_PIon_MC.log

[2022-11-02 09:05] AdrianoDee commented on #39482
+upgrade
solved by https://github.com/cms-sw/cmssw/pull/39810

[2022-11-02 09:57] swertz opened #39958 "run2_common modifier is present in Run3 era"
The `run2_common` modifier is added to the `Run2_2016` era [here](https://github.com/cms-sw/cmssw/blob/master/Configuration/Eras/python/Era_Run2_2016_cff.py#L18), and gets propagated through copies to `Run2_2018`. The `Run3` era is then [copied](https://github.com/cms-sw/cmssw/blob/master/Configuration/Eras/python/Era_Run3_cff.py#L17) from `Run2_2018`, but without excluding `run2_common`. As a con

[2022-11-02 09:57] cmsbuild commented on #39958
A new Issue was created by  @swertz Sbastien Wertz.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-02 10:12] perrotta commented on #39958
@swertz this is expected, as far as I know.
New eras are based on previous ones: if you need to apply any modification to them, another modifier is needed on top.
Run3 detector is Run2 + modifier, not some old Run1 config + whatever was added for Run2 on top of it + whatever else is needed specific for Run3

[2022-11-02 11:06] thomreis commented on #39680
+ecal-dpg-l2

We still see integrity errors from the HW in the ECAL from time to time but the unpacker seems to handle them gracefully now.

[2022-11-02 11:08] thomreis commented on #39680
+ecal-dpg

[2022-11-02 11:35] vlimant commented on #39452
modifying the branch to branch comparison script to cope with pure-root output and finding all edm flat table automatically https://github.com/cms-sw/cms-bot/pull/1872

[2022-11-02 11:43] fwyzard commented on #39680
+heterogeneous

[2022-11-02 11:44] fwyzard commented on #39045
+heterogeneous

[2022-11-02 12:44] smuzaffar commented on #39086
let me reopen this as I want to check why bot did not recognize https://github.com/cms-sw/cmssw/issues/39086#issuecomment-1299781991 comment

[2022-11-02 12:45] #39086 closed

[2022-11-02 12:47] smuzaffar commented on #39086
@vlimant , looks like bot is working properly. It could be that webhook about your [comment](https://github.com/cms-sw/cmssw/issues/39086#issuecomment-1299781991) did not reach bot, in such cases just commenting again should work

[2022-11-02 14:11] rappoccio opened #39961 "Build CMSSW_12_4_11"
New release needed for datataking with several fixes for crashes in HLT and prompt reco. Also contains various monitoring + dqm updates, as well as fix for pythia8 tau bug.

[2022-11-02 14:12] rappoccio commented on #39961
+1

[2022-11-02 14:12] cmsbuild commented on #39961
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_11. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_4_X

[2022-11-02 14:13] cmsbuild commented on #39961
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-11-02 14:37] smuzaffar commented on #39914
https://github.com/cms-sw/cmsdist/pull/8163 (reverts rivet/yoda update) has been merged and looks like this has fixed the workflow 534/536 issue. @mseidel42 is looking in to if [Sherpa-internal Rivet interface n CMSSW](https://github.com/cms-sw/cmsdist/pull/8109#issuecomment-1298833137) is really needed

[2022-11-02 14:37] #39914 closed

[2022-11-02 14:46] swertz commented on #39958
For the detector it makes sense but for POG-related content, Run3 != Run2 and 2022 != 2018 and we need to be able to specify Run2-only changes (e.g. currently, things like `run2_egamma_2018` are pulled in the `Run3` era). `run2_common` would have been the intuitive one to use, but because of what I wrote above, that will get pulled into the `Run3` era.

Anyway, in the situation I had in mind we ca

[2022-11-02 15:07] cmsbuild commented on #39809
This issue is fully signed and ready to be closed.

[2022-11-02 15:17] perrotta commented on #39958
What I wrote for the "detector"  actually holds for any development: they are all based on previous year one. Therefore, if you want to update your algo, analisy, etc. config you know from where you start from: Run3 is based on Run2 (and Phase2 on Run3, etc.). You need to revert explicitely whatever you don't want to forward port.

[2022-11-02 15:19] #39809 closed

[2022-11-02 15:20] makortel commented on #39958
Correct.

Actually, (according to the design intent) for things present at Run 1 detector, the default configuration should match the Run 1 detector, and Run 2 (or early) customizations are applied on top, etc for Run 3 and Phase2. The things that were added later, the default should correspond the detector where it was added, and customizations for later eras are applied on top of that.

------

[2022-11-02 15:25] swertz commented on #39958
That's precisely my original question: I had assumed `run2_common` modifier could be used to revert things for Run2, but it won't work because it is included in the `Run3` era. Others like `run2_egamma_2018` have the same issue. What is the recommended era/modifier to use to revert things for Run2?

I think we can agree with that @vlimant

[2022-11-02 17:37] makortel commented on #39480
@bsunanda

The **exception** (introduced in https://github.com/cms-sw/cmssw/pull/39920) appears to be occurring only in workflow 20834.911 step 2, i.e. Phase 2 D88 DD4Hep without pileup, and pretty consistently across all IB flavors.

The **ASAN failure** (mentioned in the description of this issue) appears to be  occurring in the following workflows in a random fashion (i.e. each of the workflow

[2022-11-02 19:46] mrceyhun opened #39966 "Invalid json values in StatisticsSenderService UDP packages to CMSSW Popularity service"
**Affected service**
As CMS Monitoring, our CMSSSW Popularity service(cms udp collector) collects UDP packages which are sent from CMSSW services. The url and the port of the service can be found in site configurations: i.e. `/cvmfs/cms.cern.ch/SITECONF/T0_CH_CERN/JobConfig/site-local-config_EOS_PILOT_EC.xml`, `<statistics-destination name=` part. And AFAIK, this CMSSW service sends the UDP packag

[2022-11-02 19:47] cmsbuild commented on #39966
A new Issue was created by  @mrceyhun Ceyhun.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-02 19:53] makortel commented on #39966
assign core

[2022-11-02 19:53] cmsbuild commented on #39966
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-02 19:53] makortel commented on #39966
@mrceyhun Could you share me privately (e.g. via mattermost or email) the full JSON?

[2022-11-02 20:13] makortel commented on #39966
We had this problem earlier in https://github.com/cms-sw/cmssw/issues/29412 and https://github.com/cms-sw/cmssw/issues/35142, and a related problem in https://github.com/cms-sw/cmssw/issues/36349. The NaNs were fixed with https://github.com/cms-sw/cmssw/pull/35362, and the latter problem with https://github.com/cms-sw/cmssw/pull/35505. Both fixes should have been backported to all relevant old rel

[2022-11-03 02:58] bsunanda commented on #39480
Dear All,

Most likely I found the bug. But this bug has been there from the very first days of CMSSW and I believe it has affected all workflows from Run1 onward. It only gave wrong results and did not cause the crash till we removed HE. I am trying to make a PR out of this. Regards
Sunanda
________________________________
From: Matti Kortelainen ***@***.***
Sent: 02 November 2022 18:37
To: cms-s

[2022-11-03 06:20] perrotta commented on #39961
ping bot

[2022-11-03 06:22] perrotta commented on #39961
@smuzaffar the build seems to be stuck here: is there any problem?

[2022-11-03 08:42] smuzaffar commented on #39961
ping

[2022-11-03 08:43] mmusich opened #39973 "Migrate `DQM/BeamMonitor` plugins to avoid blocking concurrent lumisections"
This is a needed follow-up to https://github.com/cms-sw/cmssw/issues/36404#issuecomment-1294192208.
`AlcaBeamMonitorClient` is now migrated in https://github.com/cms-sw/cmssw/pull/39888 (in a suboptimal way though, that does not use DQM base classes and prevents concurrent lumis).
This issue is to keep track of the problem.

@dzuolo @francescobrivio @gennai

[2022-11-03 08:43] mmusich commented on #39973
assign tracking-pog, dqm

[2022-11-03 08:44] cmsbuild commented on #39973
New categories assigned: dqm,tracking-pog

@jfernan2,@ahmad3213,@slava77,@mmusich,@micsucmed,@rvenditti,@emanueleusai,@syuvivida,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-03 08:44] cmsbuild commented on #39973
A new Issue was created by  @mmusich Marco Musich.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-03 08:44] cmsbuild commented on #39961
The build has started for el8_amd64_gcc10 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3686/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-03 08:44] cmsbuild commented on #39961
The build has started for slc7_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3687/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-03 08:44] cmsbuild commented on #39961
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3688/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-03 08:47] smuzaffar commented on #39961
@perrotta , previously there was a SSL error [a] which cause the job to fail and did not trigger the actual build process. I had to revert the labels so that bot can reprocess your `+1`. release is building now

[a] https://cmssdt.cern.ch/jenkins/job/query-build-release-issues/387952/console
[code]

[2022-11-03 08:57] perrotta commented on #39961
Thank you @smuzaffar

[2022-11-03 09:40] cmsbuild commented on #39961
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3689/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-03 11:05] michaelwassmer commented on #32347
Sorry for the delay. It's on my to-do list with a high priority.

[2022-11-03 11:59] cmsbuild commented on #39961
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11-el8_ppc64le_gcc10/3688
Some tests (

[2022-11-03 12:42] cmsbuild commented on #39961
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11-slc7_amd64_gcc10/3687
Some tests ( r

[2022-11-03 12:52] cmsbuild commented on #39961
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11-el8_ppc64le_gcc10/3688

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-03 13:03] cmsbuild commented on #39961
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11-el8_amd64_gcc10/3686
Some tests ( run

[2022-11-03 13:05] francescobrivio commented on #39961
@perrotta @rappoccio could you `upload all` already?

[2022-11-03 13:06] perrotta commented on #39961
upload all

[2022-11-03 13:06] cmsbuild commented on #39961
Queing Jenkins upload for slc7_amd64_gcc10

[2022-11-03 13:06] cmsbuild commented on #39961
Queing Jenkins upload for el8_amd64_gcc10

[2022-11-03 13:07] cmsbuild commented on #39961
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-11-03 13:07] cmsbuild commented on #39961
The upload has started for slc7_amd64_gcc10 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2524/console

[2022-11-03 13:07] cmsbuild commented on #39961
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2523/console

[2022-11-03 13:08] cmsbuild commented on #39961
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11-slc7_amd64_gcc10/2524

[2022-11-03 13:09] cmsbuild commented on #39961
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11-el8_amd64_gcc10/2522

[2022-11-03 13:09] cmsbuild commented on #39961
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11-el8_ppc64le_gcc10/2523

[2022-11-03 13:12] perrotta commented on #39961
release-notes

[2022-11-03 13:13] cmsbuild commented on #39961
Generating release notes since CMSSW_12_4_10_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-11-03 13:13] cmsbuild commented on #39961
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_4_11 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_4_10_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_11

New release needed for datataking with

[2022-11-03 13:14] cmsbuild commented on #39961
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11-el8_aarch64_gcc10/3689
Some tests (

[2022-11-03 13:15] cmsbuild commented on #39961
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_11

[2022-11-03 13:16] cmsbuild commented on #39961
Queing Jenkins upload for el8_aarch64_gcc10

[2022-11-03 13:16] cmsbuild commented on #39961
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2525/console

[2022-11-03 13:17] cmsbuild commented on #39961
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_11-el8_aarch64_gcc10/2525

[2022-11-03 13:17] perrotta opened #39976 "Build CMSSW_12_5_2"
For the HI test data taking in 2022

[2022-11-03 13:18] cmsbuild commented on #39976
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-11-03 13:18] perrotta commented on #39976
+1

[2022-11-03 13:19] cmsbuild commented on #39976
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_5_X

[2022-11-03 13:19] cmsbuild commented on #39976
Queuing Jenkins build for the following architectures: el8_aarch64_gcc10, el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-11-03 13:20] cmsbuild commented on #39976
The build has started for el8_amd64_gcc11 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3691/console
CMSDIST Branch: [IB/CMSSW_12_5_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-03 13:20] cmsbuild commented on #39976
The build has started for el8_amd64_gcc10 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3690/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-03 13:21] cmsbuild commented on #39976
The build has started for slc7_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3692/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-03 13:21] cmsbuild commented on #39976
The build has started for el8_aarch64_gcc10 in olarm-99-102c.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3693/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-03 13:21] cmsbuild commented on #39976
The build has started for el8_ppc64le_gcc10 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3694/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-03 13:31] cmsbuild commented on #39961
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11-slc7_amd64_gcc10/3687

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-03 13:46] makortel commented on #36404
@emanueleusai These are now one of the few last legacy modules. Would you be able to take care of them soon? Or should we (`core`) make an attempt to remove them?

[2022-11-03 13:52] cmsbuild commented on #39961
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11-el8_amd64_gcc10/3686

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-03 14:04] cmsbuild commented on #39961
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_11-el8_aarch64_gcc10/3689

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-03 14:10] srimanob commented on #38594
Done.

[2022-11-03 14:11] srimanob commented on #37976
Done.

[2022-11-03 14:11] #37976 closed

[2022-11-03 14:17] missirol commented on #39680
please close

[2022-11-03 14:17] #39680 closed

[2022-11-03 14:18] missirol commented on #39045
please close

[2022-11-03 14:18] #39045 closed

[2022-11-03 14:25] srimanob commented on #37087
Seem the issue of HCAL DetID is fixed in https://github.com/cms-sw/cmssw/pull/39967

[2022-11-03 14:29] srimanob opened #39977 "DAQ sources from muonGEMDigis not found in Phase-2 DD4hep"
After testing CMSSW_12_6_0_pre4 with https://github.com/cms-sw/cmssw/pull/39967, I see a new warning message which has not been reported in https://github.com/cms-sw/cmssw/issues/37087 before.

[code]

Workflow to test: 20834.911

[2022-11-03 16:17] makortel commented on #39966
With further correlation attempts with @mrceyhun it seems plausible that the jobs used CMSSW versions in 10_6_X (part of the UL campaigns) earlier than 10_6_29_patch1 (which was the first to contain the fix https://github.com/cms-sw/cmssw/pull/35505). So it seems there we can't really do anything.

(I also noticed that no 10_6_X release has been cut after the backport of #37220 was merged)

[2022-11-03 16:17] makortel commented on #39966
+1

[2022-11-03 16:20] cmsbuild commented on #39966
This issue is fully signed and ready to be closed.

[2022-11-03 16:20] makortel commented on #39966
@cmsbuild, please close

[2022-11-03 16:21] makortel commented on #39966
Written that, if any further investigation indicates that a CMSSW version with the fix still results in invalid JSON, let's reopen this issue (or open a new one).

[2022-11-03 16:23] #39966 closed

[2022-11-03 17:11] cmsbuild commented on #39976
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2-el8_ppc64le_gcc10/3694
Some tests (

[2022-11-03 17:37] cmsbuild commented on #39976
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2-slc7_amd64_gcc10/3692
Some tests ( ru

[2022-11-03 17:39] cmsbuild commented on #39976
The build has finished sucessfully for the architecture el8_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2-el8_amd64_gcc11/3691
Some tests ( runT

[2022-11-03 17:40] silviodonato opened #39982 "Addition of the CPU ID info"
Dear @cms-sw/core-l2 ,
do we have somewhere the information about which CPU has been used to run CMSSW?

In https://its.cern.ch/jira/browse/CMSHLT-2257 we realized that there are sizable differences between Intel and AMD (at least at the HLT), related to the -Ofast flag.
In https://its.cern.ch/jira/browse/PDMVRELVALS-159 we are planning to run an offline validation AMD vs Intel, but it seems diffi

[2022-11-03 17:41] cmsbuild commented on #39982
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-03 17:42] cmsbuild commented on #39976
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2-el8_amd64_gcc10/3690
Some tests ( runT

[2022-11-03 18:02] cmsbuild commented on #39976
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2-el8_ppc64le_gcc10/3694

Tests results:
50 49 48 35 21 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-03 18:06] makortel commented on #39982
assign core

[2022-11-03 18:06] cmsbuild commented on #39982
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-03 18:20] makortel commented on #39982
The framework job report should contain the CPU model if the `CPU` service is in the Process, and its `reportCPUProperties` parameter is set to `True` (default is `False`).

As part of https://github.com/cms-sw/cmssw/issues/30044 we are going to store the CPU model (among other information) in the data files such that it can be obtained programmatically, but this development will still take quite

[2022-11-03 18:25] cmsbuild commented on #39976
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2-el8_amd64_gcc11/3691

Tests results:
50 49 48 35 21 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-03 18:27] cmsbuild commented on #39976
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2-slc7_amd64_gcc10/3692

Tests results:
50 49 48 35 21 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-03 18:29] cmsbuild commented on #39976
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2-el8_amd64_gcc10/3690

Tests results:
50 49 48 35 21 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-03 21:10] osschar opened #39983 "[ MkFit ] throw cms::Exception when built within CMSSW"
When mkFit runs in CMSSW it would be preferred to throw cms::Exception rather than various std::exception types defined in stdexcept header -- which is what MkFitCore and MkFitCMS are doing to also support the standalone mode of operation.

Note that semantics of std::exceptions is different than that of cms::Exception, i.e., std::exception_type("message") vs. cms::Exception("exception_type", "mes

[2022-11-03 21:10] cmsbuild commented on #39983
A new Issue was created by  @osschar Matev Tadel.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-03 21:31] rappoccio commented on #39976
upload el8_amd64_gcc10

[2022-11-03 21:32] perrotta commented on #39976
upload all

[2022-11-03 21:32] rappoccio commented on #39976
upload all

[2022-11-03 21:33] cmsbuild commented on #39976
Queing Jenkins upload for slc7_amd64_gcc10

[2022-11-03 21:33] cmsbuild commented on #39976
Queing Jenkins upload for el8_amd64_gcc10

[2022-11-03 21:33] cmsbuild commented on #39976
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-11-03 21:33] cmsbuild commented on #39976
Queing Jenkins upload for el8_amd64_gcc11

[2022-11-03 21:35] cmsbuild commented on #39976
The upload has started for el8_amd64_gcc10 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2526/console

[2022-11-03 21:35] cmsbuild commented on #39976
The upload has started for el8_amd64_gcc11 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2527/console

[2022-11-03 21:36] cmsbuild commented on #39976
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_2-el8_amd64_gcc10/2526

[2022-11-03 21:36] cmsbuild commented on #39976
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2528/console

[2022-11-03 21:36] cmsbuild commented on #39976
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_2-el8_amd64_gcc11/2527

[2022-11-03 21:36] cmsbuild commented on #39976
The upload has started for slc7_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2529/console

[2022-11-03 21:37] cmsbuild commented on #39976
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_2-el8_ppc64le_gcc10/2528

[2022-11-03 21:37] cmsbuild commented on #39976
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_2-slc7_amd64_gcc10/2529

[2022-11-03 21:53] makortel commented on #39983
assign reconstruction

FYI @cms-sw/tracking-pog-l2

[2022-11-03 21:54] cmsbuild commented on #39983
New categories assigned: reconstruction

@mandrenguyen,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-03 22:13] perrotta commented on #39976
release-notes

[2022-11-03 22:13] cmsbuild commented on #39976
Generating release notes since CMSSW_12_5_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-11-03 22:13] cmsbuild commented on #39976
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_5_2 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
slc7_amd64_gcc10
el8_amd64_gcc11

The release notes of what changed with respect to CMSSW_12_5_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_2

For the HI test data taking in 2

[2022-11-03 22:17] cmsbuild commented on #39976
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_2

[2022-11-04 01:44] cmsbuild commented on #39976
Queing Jenkins upload for el8_aarch64_gcc10

[2022-11-04 01:45] cmsbuild commented on #39976
The upload has started for el8_aarch64_gcc10 in olarm-102.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2530/console

[2022-11-04 01:46] cmsbuild commented on #39976
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_2-el8_aarch64_gcc10/2530

[2022-11-04 03:43] #39977 closed

[2022-11-04 03:45] srimanob opened #39984 "Phase-2: DAQ sources from muonGEMDigis are not found"
After testing CMSSW_12_6_0_pre4 with https://github.com/cms-sw/cmssw/pull/39967, I see a warning message which does not show up in Phase-2 DDD workflow, and it was appear in the first-try Phase-2 DD4hep reported in https://github.com/cms-sw/cmssw/issues/37087. Seem to be new.

[code]

Workflow to test: 20834.911

[2022-11-04 03:45] cmsbuild commented on #39984
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-04 05:08] cmsbuild commented on #39976
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2-el8_aarch64_gcc10/3693

Tests results:
50 49 48 35 21 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-04 06:49] perrotta commented on #39984
If it showed up in 12_6_0_pre4, a possible origin is in https://github.com/cms-sw/cmssw/pull/39487
@yeckang @jshlee @quark2 could you please have a look and check the origin of the message reported in this issue?

[2022-11-04 06:50] perrotta commented on #39984
assign daq, gem-dpg

[2022-11-04 06:50] cmsbuild commented on #39984
New categories assigned: gem-dpg,daq

@kamon,@watson-ij,@jshlee,@smorovic,@emeschi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-04 07:37] #39756 closed

[2022-11-04 07:45] missirol commented on #39756
+hlt

[2022-11-04 07:46] cmsbuild commented on #39756
This issue is fully signed and ready to be closed.

[2022-11-04 13:38] rappoccio opened #39987 "CMSSW_12_4_11 did not fix GSF tracking issue in prompt reco"
Details are spelled out [here](https://cms-talk.web.cern.ch/t/replay-testing-for-cmssw-12-4-11/17062/4) for the crash. This was hoped to be solved with 12_4_11 but the issue is still present.

[2022-11-04 13:38] rappoccio commented on #39987
assign @cms-sw/egamma-pog-l2

[2022-11-04 13:38] cmsbuild commented on #39987
A new Issue was created by  @rappoccio .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-04 13:42] makortel commented on #39987
assign reconstruction, egamma-pog

[2022-11-04 13:42] cmsbuild commented on #39987
New categories assigned: reconstruction,egamma-pog

@mandrenguyen,@lfinco,@clacaputo,@swagata87 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-04 13:43] mmusich commented on #39987
as a clarification, there is an issue, but it's of different nature than the other one (before an assertion was triggered, while here there is a segmentation fault)

[2022-11-05 12:24] cmsbuild commented on #39961
The cleanup has started for el8_aarch64_gcc10

[2022-11-05 12:24] cmsbuild commented on #39961
The cleanup has started for slc7_amd64_gcc10

[2022-11-05 12:24] cmsbuild commented on #39961
The cleanup has started for el8_amd64_gcc10

[2022-11-05 12:24] cmsbuild commented on #39961
The cleanup has started for el8_ppc64le_gcc10

[2022-11-05 12:24] #39961 closed

[2022-11-05 12:24] cmsbuild commented on #39961
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11-el8_aarch64_gcc10/2229

[2022-11-05 12:24] cmsbuild commented on #39961
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11-el8_amd64_gcc10/2230

[2022-11-05 12:24] cmsbuild commented on #39961
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11-el8_ppc64le_gcc10/2231

[2022-11-05 12:24] cmsbuild commented on #39961
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_11-slc7_amd64_gcc10/2232

[2022-11-05 21:23] cmsbuild commented on #39976
The cleanup has started for el8_aarch64_gcc10

[2022-11-05 21:23] cmsbuild commented on #39976
The cleanup has started for slc7_amd64_gcc10

[2022-11-05 21:23] cmsbuild commented on #39976
The cleanup has started for el8_amd64_gcc10

[2022-11-05 21:23] cmsbuild commented on #39976
The cleanup has started for el8_ppc64le_gcc10

[2022-11-05 21:23] cmsbuild commented on #39976
The cleanup has started for el8_amd64_gcc11

[2022-11-05 21:23] #39976 closed

[2022-11-05 21:24] cmsbuild commented on #39976
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_2-el8_aarch64_gcc10/2233

[2022-11-05 21:24] cmsbuild commented on #39976
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_2-el8_amd64_gcc10/2234

[2022-11-05 21:24] cmsbuild commented on #39976
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_2-el8_ppc64le_gcc10/2236

[2022-11-05 21:24] cmsbuild commented on #39976
The workspace for el8_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_2-el8_amd64_gcc11/2235

[2022-11-05 21:24] cmsbuild commented on #39976
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_2-slc7_amd64_gcc10/2237

[2022-11-07 08:40] cecilecaillol commented on #32304
@jpata I think this issue is solved by https://github.com/cms-sw/cmssw/pull/39169. Can we close the issue?

[2022-11-07 08:44] vlimant commented on #39069
please close

[2022-11-07 08:52] vlimant commented on #37157
@missirol : I think it's better to close this issue and open a specific one for https://github.com/cms-sw/cmssw/pull/37181#issuecomment-1063149619 so that it gets assigned properly without ambiguity.

[2022-11-07 08:52] vlimant commented on #37157
please close

[2022-11-07 08:52] #37157 closed

[2022-11-07 08:55] missirol commented on #37157
+hlt

[2022-11-07 09:04] missirol commented on #38125
Stumbled upon this old issue. @cms-sw/core-l2 , do you think this can be closed? (the crash hasn't reappeared, to my knowledge)

[2022-11-07 14:10] slava77 commented on #39987
There doesn't seem to be much room for a place to crash:

BasicMultiTrajectoryState::BasicMultiTrajectoryState(const
std::vector<TSOS>& tsvec)
    : BasicTrajectoryState(tsvec.front().surface()), theStates(tsvec) {

I see that if everything fails the input vector is empty.

I would suggest to edit GaussianStateConversions::tsosFromMultiGaussianState
so that it returns a default-constructed object

[2022-11-07 14:15] slava77 commented on #39987
or is there a good reason to make `BasicMultiTrajectoryState::BasicMultiTrajectoryState(const std::vector<TSOS>& tsvec)` accept empty vectors?

[2022-11-07 14:16] makortel commented on #38125
+core

(although the problem was not really in core code)

[2022-11-07 14:16] makortel commented on #38125
@cmsbuild, please close

[2022-11-07 14:16] #38125 closed

[2022-11-07 14:16] cmsbuild commented on #38125
This issue is fully signed and ready to be closed.

[2022-11-07 14:27] mmusich commented on #39987
something like:
[code]

?
I guess it would still be nice to able to actually reproduce offline

[2022-11-07 16:00] missirol opened #40007 "function to get module name from PSet without "decorations""
#37181 (which fixed #37157) required adding a check to strip the name of a module in the global PSet from its "decorations" (e.g. `!` for "not", `-` for "ignore").

A question from @makortel there remained unanswered, i.e. https://github.com/cms-sw/cmssw/pull/37181#issuecomment-1063149619.

It's about the use of a "central" function to obtain the bare name of a module without any "decorations".

[2022-11-07 16:01] cmsbuild commented on #40007
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-07 16:22] makortel commented on #40007
assign core

[2022-11-07 16:23] cmsbuild commented on #40007
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-07 18:23] swagata87 commented on #39987
Thank you Slava and Marco.

I could not reproduce the actual crash yet. So I tried to simulate the crash...

Basically, I tried to check what happens if no state pass the following loop in `GsfMultiStateUpdator.cc`:
https://github.com/cms-sw/cmssw/blob/fae4959bb505961c27e033025323abeb393613d6/TrackingTools/GsfTracking/src/GsfMultiStateUpdator.cc#L34-L40
by doing the following:
[code]
The above con

[2022-11-07 18:38] slava77 commented on #39987
where was the crash this time?

[2022-11-07 19:43] swagata87 commented on #39987
this time it crashed like this:
[code]

[2022-11-07 20:07] makortel commented on #37790
+core

[2022-11-07 20:07] makortel commented on #37790
I suppose we can close this

[2022-11-07 20:07] cmsbuild commented on #37790
This issue is fully signed and ready to be closed.

[2022-11-07 20:08] #37790 closed

[2022-11-07 21:14] makortel commented on #39445
This problem got fixed by https://github.com/cms-sw/cmssw/pull/39967

[2022-11-07 21:14] makortel commented on #39445
@cmsbuild, please close

[2022-11-07 21:14] #39445 closed

[2022-11-07 21:15] makortel commented on #39480
This problem got fixed by https://github.com/cms-sw/cmssw/pull/39967

[2022-11-07 21:15] makortel commented on #39480
@cmsbuild, please close

[2022-11-08 08:16] missirol opened #40013 "HLT-Validation tests failing in IBs of `CMSSW <= 12_1_X`"
The HLT-Validation tests are failing in IBs of `CMSSW_12_1_X` and lower release cycles, e.g.
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_12_1_X

The main [*] reason of these failures is access to EDM files used by these tests (these files were removed from the CERN Tier-2, some days or weeks ago) [**].

TSG has copies of these files in its EOS area, so the fix is simple: we can replace th

[2022-11-08 08:17] cmsbuild commented on #40013
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-08 08:17] cmsbuild commented on #40013
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-08 08:49] cecilecaillol commented on #31424
@giovanni-mocellin Can you please followup on that?

[2022-11-08 10:03] iarspider opened #40014 "Unit test OnlineDB/Oracle/test_occi_std_length fails everywhere"
Log: [link](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_6_X_2022-11-07-1100/unitTestLogs/OnlineDB/Oracle#/)

Error message:
[code]

Failing since CMSSW_12_6_X_2022-11-07-1100 .

[2022-11-08 10:03] iarspider commented on #40014
assign db

[2022-11-08 10:03] cmsbuild commented on #40014
New categories assigned: db

@ggovi,@francescobrivio,@malbouis,@saumyaphor4252,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-08 10:04] cmsbuild commented on #40014
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-08 12:20] swagata87 commented on #39987
From technical POV, it looks like I have found a way to bypass the (simulated) crash.

If we use [your patch in TsosGaussianStateConversions](https://github.com/cms-sw/cmssw/issues/39987#issuecomment-1305697141), plus the following change in `GsfTrajectoryFitter`:
[code]
then it runs. Currently tested on 20 events only.

We still need to check/understand,
 - check on more events, at least a few hu

[2022-11-08 12:23] mmusich commented on #39987
@swagata87

I see the `Module: GoodSeedProducer:trackerDrivenElectronSeeds (crashed)` crash when I apply this patch (that you suggested to simulate the crash):

[code]

as far as I can tell, it's not the same crash as the one reported by Tier-0: `Module: GsfTrackProducer:lowPtGsfEleGsfTracks (crashed)`.

How can we sure we're curing the right problem? (by the I still couldn't reproduce offline the

[2022-11-08 12:44] swagata87 commented on #39987
Hi Marco,

I agree and share your concern that there is no guarantee that we are fixing the actual issue that T0 encountered.
Below one can see the differences in the output message from T0 replay crash and our simulated crash:

Real crash in replay (copied from T0 cmsTalk)
[code]

Simulated crash
[code]

[2022-11-08 13:47] swagata87 commented on #39987
Thank you Marco. If you take care of preparing the PR then in the meanwhile I can do all the sanity checks I was planning to do, to make sure there is no adverse effect anywhere in e/gamma reconstruction due to these changes.

[2022-11-08 16:33] mmusich commented on #39987
I think we should try to reproduce on `el8` which is prod architecture at tier0 (but not on standard lxplus nodes)

[2022-11-09 09:09] swagata87 commented on #39987
- As suggested by Marco, I am now trying in `el8` from a `lxplus8` machine. So far, no crash. I will notify here, if I can reproduce the crash in `el8`. Last time I tried in `slc7`
- The jenkins tests of the proposed fix PR (https://github.com/cms-sw/cmssw/pull/40017) is completed. I do not see any regression. I also did not see any regression in the sanity checks I did, mostly for egamma objects.

[2022-11-09 13:16] mpresill commented on #39987
Hello, it's ORM here,
I would like to bring your attention to a probably related crash for Prompt at T0:
[https://cms-talk.web.cern.ch/t/abort-signal-in-promptreco-for-jetmet-in-run-361468/17307](https://cms-talk.web.cern.ch/t/abort-signal-in-promptreco-for-jetmet-in-run-361468/17307) .
We are currently trying to reproduce the crash to see the specific event.

[2022-11-09 13:22] mmusich commented on #39987
@mpresill

based on the stack trace:

[code]

it seems it's coming from https://github.com/cms-externals/fastjet-contrib/blob/283910e44f2c3c81133fc68c8f4942b9c53da6e3/Nsubjettiness/Njettiness.cc#L179-L204

I would suggest opening a different issue (and pinging a different set of experts)

[2022-11-09 13:51] mpresill opened #40032 "Abort signal in PromptReco for JetMET in run 361468"
Hello,

We have a paused Reco job in run 361468. The problem seems to be at module `BoostedDoubleSVProducer`.
At this [link](https://cms-talk.web.cern.ch/t/abort-signal-in-promptreco-for-jetmet-in-run-361468/17307) CMS talk from T0  you can see some relevant lines in the job’s log.

Stack trace here:
[code]

Probably linked to https://github.com/cms-externals/fastjet-contrib/blob/283910e44f2c3c811

[2022-11-09 13:51] cmsbuild commented on #40032
A new Issue was created by  @mpresill .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-09 14:01] francescobrivio commented on #40032
assign btv-pog,reconstruction

[2022-11-09 14:01] cmsbuild commented on #40032
New categories assigned: reconstruction,btv-pog

@mandrenguyen,@clacaputo,@soureek,@johnalison you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-09 14:07] francescobrivio commented on #40032
Minimal recipe to reproduce the crash:
[code]
Edit `PSet.py` to be:
[code]
Run:
[code]

[2022-11-09 14:18] Dr15Jones commented on #40032
The actual assert message appears just before the stack trace in the log and is
[code]

[2022-11-09 16:06] francescobrivio commented on #40032
Thanks Chris!
Indeed @mmusich suggested (privately) that this looks similar to an old (2015!!) issue https://github.com/cms-sw/cmssw/pull/12680#issuecomment-163124490 which apparently you fixed in `externals` IIUC the old PR :)

[2022-11-10 02:36] rappoccio opened #40036 "Build CMSSW_12_5_2_patch1"
Updates for HIN datataking.

[2022-11-10 02:37] cmsbuild commented on #40036
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @dpiparo, @rappoccio. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2022-11-10 02:37] rappoccio commented on #40036
+1

[2022-11-10 02:37] cmsbuild commented on #40036
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_2_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_5_X

[2022-11-10 02:37] cmsbuild commented on #40036
Queuing Jenkins build for the following architectures: el8_aarch64_gcc10, el8_ppc64le_gcc10, el8_amd64_gcc10, el8_amd64_gcc11, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wil

[2022-11-10 02:38] cmsbuild commented on #40036
The build has started for slc7_amd64_gcc10 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3697/console
CMSDIST Branch: [REL/CMSSW_12_5_2/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_5_2/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-10 02:38] cmsbuild commented on #40036
The build has started for el8_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3695/console
CMSDIST Branch: [REL/CMSSW_12_5_2/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_5_2/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-10 03:03] cmsbuild commented on #40036
The build has started for el8_ppc64le_gcc10 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3698/console
CMSDIST Branch: [REL/CMSSW_12_5_2/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_5_2/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-10 03:07] cmsbuild commented on #40036
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3699/console
CMSDIST Branch: [REL/CMSSW_12_5_2/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_5_2/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-11-10 03:41] cmsbuild commented on #40036
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2_patch1-slc7_amd64_gcc10/3697
Some tes

[2022-11-10 03:56] cmsbuild commented on #40036
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2_patch1-el8_amd64_gcc10/3695
Some tests

[2022-11-10 04:08] cmsbuild commented on #40036
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2_patch1-el8_ppc64le_gcc10/3698
Some t

[2022-11-10 04:16] cmsbuild commented on #40036
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2_patch1-el8_aarch64_gcc10/3699
Some t

[2022-11-10 04:29] cmsbuild commented on #40036
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2_patch1-slc7_amd64_gcc10/3697

Tests results:
50 49 48 35 21 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-10 04:41] cmsbuild commented on #40036
The tests have finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2_patch1-el8_amd64_gcc11/3696

Tests results:
50 49 48 35 21 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-10 04:46] cmsbuild commented on #40036
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2_patch1-el8_amd64_gcc10/3695

Tests results:
50 49 48 35 21 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-10 05:06] cmsbuild commented on #40036
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2_patch1-el8_aarch64_gcc10/3699

Tests results:
50 49 48 35 21 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-10 05:19] cmsbuild commented on #40036
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_2_patch1-el8_ppc64le_gcc10/3698

Tests results:
50 49 48 35 21 5 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-11-10 08:22] Martin-Grunewald commented on #22522
However, checking out the PR seems to work fine in the PR tests: https://github.com/cms-sw/cmssw/pull/40031
So what is the magic used?

[2022-11-10 13:36] rappoccio commented on #40036
upload all

[2022-11-10 13:37] cmsbuild commented on #40036
Queing Jenkins upload for slc7_amd64_gcc10

[2022-11-10 13:37] cmsbuild commented on #40036
Queing Jenkins upload for el8_amd64_gcc10

[2022-11-10 13:37] cmsbuild commented on #40036
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-11-10 13:37] cmsbuild commented on #40036
Queing Jenkins upload for el8_aarch64_gcc10

[2022-11-10 13:37] cmsbuild commented on #40036
Queing Jenkins upload for el8_amd64_gcc11

[2022-11-10 13:39] cmsbuild commented on #40036
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_2_patch1-el8_aarch64_gcc10/2531

[2022-11-10 13:39] cmsbuild commented on #40036
The upload has started for el8_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2532/console

[2022-11-10 13:40] cmsbuild commented on #40036
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_2_patch1-el8_amd64_gcc10/2532

[2022-11-10 13:40] cmsbuild commented on #40036
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2534/console

[2022-11-10 13:40] cmsbuild commented on #40036
The upload has started for el8_amd64_gcc11 in cmsbuild73.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2535/console

[2022-11-10 13:41] cmsbuild commented on #40036
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_2_patch1-el8_ppc64le_gcc10/2534

[2022-11-10 13:41] cmsbuild commented on #40036
The upload has successfully finished for el8_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_2_patch1-el8_amd64_gcc11/2535

[2022-11-10 13:41] rappoccio commented on #40036
release-notes

[2022-11-10 13:42] cmsbuild commented on #40036
Generating release notes since CMSSW_12_5_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-11-10 13:42] cmsbuild commented on #40036
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_5_2_patch1 is now available for the following architectures:

el8_amd64_gcc10 (production)
el8_ppc64le_gcc10
el8_amd64_gcc11
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_5_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_2_patch1

Updates for