[2019-05-21 16:11] fabiocos commented on #26860
+1

[2019-05-21 16:11] cmsbuild commented on #26860
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_41. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-05-21 16:11] cmsbuild commented on #26860
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-05-21 16:12] cmsbuild commented on #26860
The build has started for slc6_amd64_gcc481 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2046/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-05-21 17:57] cmsbuild commented on #26860
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_41-slc6_amd64_gcc481/2046
Some tests (

[2019-05-21 18:07] cmsbuild commented on #26860
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_41-slc6_amd64_gcc481/2046

Tests results:
7 3 2 2 2 tests passed, 0 4 0 0 0 failed

[2019-05-21 19:17] makortel commented on #26584
The GEM PR #26320 got merged, but it's probably best to wait #26862 to get merged as well before trying out the simpler interface with the Geometry/GEMGeometryBuilder package.

[2019-05-21 20:36] #26658 closed

[2019-05-21 20:59] fabiocos commented on #26860
upload all

[2019-05-21 20:59] cmsbuild commented on #26860
Queing Jenkins upload for slc6_amd64_gcc481

[2019-05-21 21:00] cmsbuild commented on #26860
The upload has started for slc6_amd64_gcc481 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1338/console

[2019-05-21 21:01] cmsbuild commented on #26860
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_41-slc6_amd64_gcc481/1338

[2019-05-21 21:07] fabiocos commented on #26860
release-notes

[2019-05-21 21:07] cmsbuild commented on #26860
Generating release notes since CMSSW_7_1_40.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-05-21 21:07] cmsbuild commented on #26860
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_41 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_40 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_41

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2019-05-21 21:08] cmsbuild commented on #26860
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_41

[2019-05-22 08:29] fabiocos opened #26879 "PR 26822 crashing many test workflows"
After the integration of #26822 several test workflows crash in the modified module in CMSSW_11_0_X_2019-05-21-2300:

[code]

The PR is temporarily reverted by #26878 waiting for a fix of the problem, in order to have a working IB

[2019-05-22 08:29] cmsbuild commented on #26879
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-22 08:30] fabiocos commented on #26879
assign dqm

@mmusich FYI

[2019-05-22 08:30] cmsbuild commented on #26879
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-22 08:41] #24795 closed

[2019-05-22 12:48] mmusich commented on #26879
please check https://github.com/cms-sw/cmssw/pull/26887

[2019-05-22 13:39] fioriNTU commented on #19605
@ahinzmann and @ramankhurana  are there any news on this?

[2019-05-22 13:46] fioriNTU commented on #19604
@slava77 @makortel @arizzi @mtosi @JanFSchulte any progress about this issue?

[2019-05-22 13:58] ahinzmann commented on #19605
@iatakisi can you followup on this?

[2019-05-23 07:27] fabiocos commented on #26496
@dpiparo thanks, as far as I can see this fix has removed a long list of warnings in the textual report.

[2019-05-23 12:16] fioriNTU commented on #26727
@fabiocos do you think this issue can be closed, given the spontaneous fix with the new ROOT version?

[2019-05-23 14:40] makortel commented on #26584
#26862 got merged, I'll take care of Geometry/GEMGeometryBuilder.

[2019-05-23 15:35] makortel commented on #26584
Done in #26908.

[2019-05-23 19:08] cmsbuild commented on #26860
The cleanup has started for slc6_amd64_gcc481

[2019-05-23 19:08] #26860 closed

[2019-05-23 19:13] cmsbuild commented on #26860
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_41-slc6_amd64_gcc481/1351

[2019-05-23 19:21] slava77 opened #26913 "self-subtractions : possible bugs"
as a follow up to https://github.com/cms-sw/cmssw/pull/26868#issuecomment-495163121
I made some egrep of the CMSSW code base for repeated patterns [1].

This is not exhaustive (e.g. function calls with arguments like ```x(y) - x(y)``` are not covered) and perhaps a better tool/parsing should be added.
@fabiocos @smuzaffar perhaps we even have something automated? Clang static analyzer report does

[2019-05-23 19:23] cmsbuild commented on #26913
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-23 19:33] makortel commented on #26913
On a quick look this class is a good candidate for dead code (not used anywhere in CMSSW, last non-technical-migration change was in 2010 (in 2008 for this specific fragment).

[2019-05-24 14:22] kpedro88 opened #26932 "Speed up OuterTrackerMonitorTrackingParticles with high PU"
In #26915 it was reported that the module [OuterTrackerMonitorTrackingParticles](https://github.com/cms-sw/cmssw/blob/master/Validation/SiOuterTrackerV/plugins/OuterTrackerMonitorTrackingParticles.cc) takes ~400 s/evt in high PU.

It looks like there is a nested loop, which could be the cause. There may be a way to perform the same operations more efficiently. attn: @emacdonald16

[2019-05-24 14:22] kpedro88 commented on #26932
assign upgrade,dqm

[2019-05-24 14:24] cmsbuild commented on #26932
New categories assigned: dqm,upgrade

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-24 14:24] cmsbuild commented on #26932
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-24 18:53] slava77 commented on #26500
+1

(essentially) resolved by #26615

[2019-05-24 18:53] #26500 closed

[2019-05-24 18:53] cmsbuild commented on #26500
This issue is fully signed and ready to be closed.

[2019-05-24 18:58] slava77 commented on #26238
+1

it seems like magic words in https://github.com/cms-sw/cmssw/pull/26241#issuecomment-495754167 did not make this closed

[2019-05-24 18:58] cmsbuild commented on #26238
This issue is fully signed and ready to be closed.

[2019-05-24 19:04] slava77 commented on #26016
do I understand correctly that this dependence can stay and this issue can be closed?

[2019-05-24 19:05] slava77 commented on #25526
+1

this is supposedly closed by #26270

[2019-05-24 19:05] #25526 closed

[2019-05-24 19:06] cmsbuild commented on #25526
This issue is fully signed and ready to be closed.

[2019-05-24 19:08] slava77 commented on #25472
@kpedro88
was there anything done on this topic?
```git grep "static [^$]* lastLayerEE"``` appears to return the same set as in the issue description using the latest IB CMSSW_11_0_X_2019-05-23-1100

[2019-05-24 19:09] kpedro88 commented on #25472
No, nothing has been done on this topic, nor other pending HGCal cleanup issues.

[2019-05-24 19:09] slava77 commented on #25434
@jan-kaspar @fabferro
was there some progress on this issue?
Please clarify.
Thank you.

[2019-05-24 19:13] slava77 commented on #25230
@ferencek @mverzett @kskovpen @andrzejnovak @jmduarte @hqucms
was there any significant progress on this topic of speeding up ML b-tags in the recent months?
Please comment.
Thank you.

[2019-05-24 19:20] slava77 commented on #25090
@gartung @Dr15Jones
is this issue still active?

Perhaps a new list can be made, since the old list is 6 months old now.

[2019-05-24 19:28] slava77 commented on #24309
+1

this was apparently fixed in #25767

[2019-05-24 19:29] kpedro88 opened #26938 "Phase 2 geometry cleanup in 11_X"
In the new release cycle, it is time to clean up the proliferation of Phase 2 geometries. The full list is here: https://github.com/cms-sw/cmssw/tree/master/Configuration/Geometry

Notes:
* D17 was HGCal TDR baseline
* D35 was MTD TDR baseline
* D41 is L1 TDR baseline (ongoing)

Here are my proposals for what to keep. These are intentionally quite limited. Any request to add another subdetector ve

[2019-05-24 19:29] kpedro88 commented on #26938
assign upgrade,geometry

[2019-05-24 19:29] cmsbuild commented on #24309
This issue is fully signed and ready to be closed.

[2019-05-24 19:29] cmsbuild commented on #26938
New categories assigned: geometry,upgrade

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@kpedro88,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-24 19:29] cmsbuild commented on #26938
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-24 19:30] #24164 closed

[2019-05-24 19:33] slava77 commented on #23676
@guitargeek @Sam-Harper
should we just close this with "will not fix"?

[2019-05-24 19:39] slava77 commented on #23216
@Sam-Harper @bendavid @hatakeyamak
is this topic on the list of features for the refactored/refurbished PFEGammaAlgo?

[2019-05-24 19:40] slava77 commented on #23131
+1

this was resolved since a while

[2019-05-24 19:40] #23131 closed

[2019-05-24 19:48] slava77 commented on #22655
+1

This was effectively resolved in #25536 (merged Jan 2019)

[2019-05-24 19:48] #22655 closed

[2019-05-24 19:48] cmsbuild commented on #22655
This issue is fully signed and ready to be closed.

[2019-05-24 19:52] slava77 commented on #22201
this is eventually resolved with #25092 #26409 #26389

[2019-05-24 19:53] #22201 closed

[2019-05-24 19:53] cmsbuild commented on #22201
This issue is fully signed and ready to be closed.

[2019-05-24 19:59] slava77 commented on #21083
+1

resolved with #21289 (and more recent developments)

[2019-05-24 19:59] #21083 closed

[2019-05-24 20:00] cmsbuild commented on #21083
This issue is fully signed and ready to be closed.

[2019-05-24 20:02] slava77 commented on #20558
@rappoccio @kpedro88
where are we with re-enabling ECFs in phase-2?

[2019-05-24 20:05] slava77 commented on #20173
@hatakeyamak @bendavid
I was trying to clean up old open issue.
Would this one be somehow addressed by #25703?

[2019-05-24 20:10] kpedro88 commented on #20558
My suggestions earlier in this thread were implemented by the fastjet-contrib authors. This made the ECF calculation much faster, but I doubt it is fast enough to run on the full collection of jet constituents in 200PU. I do not think @rappoccio's suggestions of reducing the number of constituents has been tested in CMSSW yet.

[2019-05-24 20:10] slava77 commented on #19805
In 10_6_0
workflow
[code]

@pmaksim1 please check or pass it to somebody

[2019-05-24 20:26] slava77 commented on #18948
+1

this is essentially resolved by #26485

[2019-05-24 20:26] #18948 closed

[2019-05-24 20:27] cmsbuild commented on #18948
This issue is fully signed and ready to be closed.

[2019-05-24 20:28] slava77 commented on #18730
@VinInn @Dr15Jones @makortel
was this issue resolved?

[2019-05-24 20:29] hatakeyamak commented on #23216
I wasn't aware of this, but seems like something to keep in mind.
@Sam-Harper @bendavid what do you think?

[2019-05-24 20:29] hatakeyamak commented on #20173
Will look into it...

[2019-05-24 20:35] slava77 commented on #18443
@mverzett @kskovpen
in RecoBTag/Combined/python/pfDeepCSVJetTags_cfi.py in  106X we are still using RecoBTag/Combined/data/DeepFlavourNoSL.json for Run1 and 2016

I wanted to check if this is still a correct choice even for the UL rereco.
Please clarify.
Thank you.

[2019-05-24 20:40] slava77 commented on #18227
@perrotta
we have also #20950 which is still open.
Should we consolidate into one?

[2019-05-24 20:43] slava77 commented on #17774
+1

resolved by #26187 in Mar 2019

[2019-05-24 20:43] #17774 closed

[2019-05-24 20:44] slava77 commented on #17593
+1

based on https://github.com/cms-sw/cmssw/issues/17593#issuecomment-431942495 from Oct 2018

[2019-05-24 20:44] #17593 closed

[2019-05-24 20:45] cmsbuild commented on #17593
This issue is fully signed and ready to be closed.

[2019-05-24 20:51] slava77 commented on #17529
@hatakeyamak @bendavid
it looks like this PF code was not updated.
Is it still needed or should we just delete it?

[2019-05-24 20:55] slava77 commented on #17362
+1

this was resolved in #18165 in April 2017

[2019-05-24 20:55] #17362 closed

[2019-05-24 20:55] makortel commented on #18730
I suppose "no".

[2019-05-24 20:56] cmsbuild commented on #17362
This issue is fully signed and ready to be closed.

[2019-05-24 20:58] slava77 commented on #17169
+1

looking at CMSSW_11_0_X_2019-05-23-1100, there is nothing left in reco

only CalibTracker/SiStripQuality/interface/SiStripQualityHistos.h and DQMServices/Core/interface/DQMNet.h still have this

[2019-05-24 23:54] pmaksim1 commented on #18227
Guys, perfect timing.  We are rewriting the calibration code -- which by itself is not in CMSSW, but, for the sake of consistency, should use the same objects and reconstruction algorithms as CMSSW.   So there will be a change in SiPixelTemplate, which I'll want to put back into CMSSW.

So I'll try to go through as many of these as I can, and then we can iterate.

[2019-05-24 23:58] pmaksim1 commented on #19805
@slava77 Which workflow was this?  (Would help me set up the job with the gdb.)

[2019-05-24 23:59] pmaksim1 commented on #19805
Is it one of the matrix ones?

[2019-05-25 01:30] slava77 commented on #19805
sorry, I was supposed to say "workflow 136.889"

[2019-05-25 19:49] fabiocos opened #26943 "Build CMSSW_10_6_0_patch1"

[2019-05-25 19:49] cmsbuild commented on #26943
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-05-25 19:50] fabiocos commented on #26943
+1

[2019-05-25 19:51] cmsbuild commented on #26943
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-05-25 19:51] cmsbuild commented on #26943
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-05-25 19:53] cmsbuild commented on #26943
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2047/console
CMSDIST Branch: [REL/CMSSW_10_6_0/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_0/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-25 19:53] cmsbuild commented on #26943
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2048/console
CMSDIST Branch: [REL/CMSSW_10_6_0/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_0/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-25 20:53] fabiocos commented on #26943
@smuzaffar looking at the list of packages it is not slim but neither overwhelming

[2019-05-25 21:16] smuzaffar commented on #26943
@fabiocos , yes total 113 packages, should be fine for patch release.

[2019-05-25 21:33] cmsbuild commented on #26943
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_patch1-slc7_amd64_gcc820/2048
Some t

[2019-05-25 21:39] cmsbuild commented on #26943
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_patch1-slc7_amd64_gcc700/2047
Some t

[2019-05-25 23:35] cmsbuild commented on #26943
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_patch1-slc7_amd64_gcc820/2048

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-25 23:57] cmsbuild commented on #26943
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_patch1-slc7_amd64_gcc700/2047

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-26 08:49] fabiocos commented on #26943
upload all

[2019-05-26 08:50] cmsbuild commented on #26943
Queing Jenkins upload for slc7_amd64_gcc700

[2019-05-26 08:50] cmsbuild commented on #26943
Queing Jenkins upload for slc7_amd64_gcc820

[2019-05-26 08:52] cmsbuild commented on #26943
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1339/console

[2019-05-26 08:52] cmsbuild commented on #26943
The upload has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1340/console

[2019-05-26 08:53] cmsbuild commented on #26943
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_patch1-slc7_amd64_gcc820/1340

[2019-05-26 08:53] cmsbuild commented on #26943
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_patch1-slc7_amd64_gcc700/1339

[2019-05-26 08:54] fabiocos commented on #26943
release-notes

[2019-05-26 08:55] cmsbuild commented on #26943
Generating release notes since CMSSW_10_6_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-05-26 08:55] cmsbuild commented on #26943
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_0_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_0_patch1

Cheers,
cms-bot

You can also click <a href

[2019-05-26 08:55] cmsbuild commented on #26943
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_patch1

[2019-05-26 09:12] fabiocos commented on #26727
@fioriNTU the problem in itself is no more present with the move to ROOT 6.14. I think that the issue is still not fully understood, and anyway a check and clean of anomalous definitions of histograms should be considered in the work plan. This might be tracked in a separate issue, do you agree?

[2019-05-27 07:18] mmusich commented on #26879
Hi @jfernan2 @fabiocos
as far as I can see `CMSSW_11_0_X_2019-05-26-0000` which has PR  #26887 in it doesn't have relval crashes (at least in the  [slc7_amd64_gcc700](https://cms-sw.github.io/relvalLogDetail.html#slc7_amd64_gcc700;CMSSW_11_0_X_2019-05-26-0000) architecture).
Can this issue be signed and closed?

[2019-05-27 07:30] jfernan2 commented on #26879
+1

[2019-05-27 07:30] cmsbuild commented on #26879
This issue is fully signed and ready to be closed.

[2019-05-27 07:46] fabiocos commented on #26879
@mmusich thank you for the quick fix

[2019-05-27 07:46] #26879 closed

[2019-05-27 07:54] fabiocos commented on #26938
@kpedro88 I think this is something we should do in 11_0_X, in any case for possible legacy comparison studies older releases with older geometries are not disappearing. We need anyway to be careful in not creating problems to possible ongoing further checks.

[2019-05-27 08:06] mverzett commented on #25230
Not really, we are looking into ways to reduce the input size and eventually the graph size, but we are a long way from a usable solution.

[2019-05-27 08:09] mverzett commented on #18443
@slava77 , yes, for Phase0 detector configuration is still the correct model to use.
Thanks for the thorough checks!

[2019-05-27 08:56] jan-kaspar commented on #25434
Hi @slava77 , not yet - we are still busy with preparations for the UL re-reco. This issue is already included on our TODO list:
  https://github.com/CTPPS/cmssw/issues/40
for the calmer period afterwards. I hope this is OK.

[2019-05-27 10:06] guitargeek commented on #23676
I agree. Looking at https://github.com/CERN-PH-CMG/cmg-cmssw/pull/749 it seems the FWLite community has written new code to deal with the IDs anyway.

Should I just close it like that or you have to do something to mark it was "will not fix"?

[2019-05-27 10:43] ktht opened #26954 "Sudden spike in memory consumption when running NanoAOD"
Issue originally described here: https://github.com/cms-nanoAOD/cmssw/issues/373
It doesn't seem to be specific to NanoAOD framework, though. Literally any module or task causes the memory to jump between the events, and the jump is proportional to the memory consumed by the tasks and modules. Looks like some interruption triggered by the offending event causes the workflow to re-allocate memory f

[2019-05-27 10:43] cmsbuild commented on #26954
A new Issue was created by  @ktht Karl Ehatht.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-27 13:41] fabiocos opened #26956 "Build CMSSW_10_2_15"

[2019-05-27 13:41] cmsbuild commented on #26956
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-05-27 13:42] fabiocos commented on #26956
build cmssw-tool-conf

[2019-05-27 13:42] cmsbuild commented on #26956
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-05-27 13:43] cmsbuild commented on #26956
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2049/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-27 13:43] cmsbuild commented on #26956
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2050/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-27 15:09] slava77 commented on #23676
yes, please close.

[2019-05-27 15:10] #23676 closed

[2019-05-27 17:39] Dr15Jones commented on #26954
@bbockelm @pcanal @dan131riley  FYI

[2019-05-27 17:46] Dr15Jones commented on #26954
I used IgProf's memory profiler along with IgProfService. I told the service to dump the memory profile after each event. I the told igprof-analyse to look at the MEM_TOTAL difference between the two dumps. It reports
[code]

I then copied the one event to a new ROOT file and looked at the sizes of the TBranches in the new file. There was absolutely nothing out of the ordinary.

[2019-05-28 02:49] cmsbuild commented on #26956
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15-slc6_amd64_gcc700/2049

[2019-05-28 03:26] cmsbuild commented on #26956
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15-slc7_amd64_gcc700/2050

[2019-05-28 07:06] fabiocos commented on #26956
+1

[2019-05-28 07:06] cmsbuild commented on #26956
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_15. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-05-28 07:06] cmsbuild commented on #26956
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-05-28 07:07] cmsbuild commented on #26956
The build has started for slc6_amd64_gcc700 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2051/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-28 07:08] cmsbuild commented on #26943
The cleanup has started for slc7_amd64_gcc700

[2019-05-28 07:08] cmsbuild commented on #26943
The cleanup has started for slc7_amd64_gcc820

[2019-05-28 07:08] #26943 closed

[2019-05-28 07:08] cmsbuild commented on #26956
The build has started for slc7_amd64_gcc700 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2052/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-28 07:13] cmsbuild commented on #26943
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_patch1-slc7_amd64_gcc820/1353

[2019-05-28 07:15] cmsbuild commented on #26943
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_patch1-slc7_amd64_gcc700/1352

[2019-05-28 09:28] cmsbuild commented on #26956
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15-slc7_amd64_gcc700/2052
Some tests (

[2019-05-28 11:05] cmsbuild commented on #26956
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15-slc7_amd64_gcc700/2052

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-28 12:55] cmsbuild commented on #26956
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15-slc6_amd64_gcc700/2051
Some tests (

[2019-05-28 14:41] cmsbuild commented on #26956
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15-slc6_amd64_gcc700/2051

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-28 14:50] Dr15Jones commented on #22135
And yet another one
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_0_X_2019-05-27-2300/pyRelValMatrixLogs/run/7.2_Cosmics_UP18+Cosmics_UP18+DIGICOS_UP18+RECOCOS_UP18+ALCACOS_UP18+HARVESTCOS_UP18/step1_Cosmics_UP18+Cosmics_UP18+DIGICOS_UP18+RECOCOS_UP18+ALCACOS_UP18+HARVESTCOS_UP18.log#/

[code]

This one is interesting since the main thread is in the process of doing a spa

[2019-05-28 15:22] fabiocos commented on #26956
upload all

[2019-05-28 15:22] cmsbuild commented on #26956
Queing Jenkins upload for slc6_amd64_gcc700

[2019-05-28 15:22] cmsbuild commented on #26956
Queing Jenkins upload for slc7_amd64_gcc700

[2019-05-28 15:23] cmsbuild commented on #26956
The upload has started for slc6_amd64_gcc700 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1341/console

[2019-05-28 15:23] cmsbuild commented on #26956
The upload has started for slc7_amd64_gcc700 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1342/console

[2019-05-28 15:26] cmsbuild commented on #26956
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_15-slc6_amd64_gcc700/1341

[2019-05-28 15:28] cmsbuild commented on #26956
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_15-slc7_amd64_gcc700/1342

[2019-05-28 15:32] fabiocos commented on #26956
release-notes

[2019-05-28 15:32] cmsbuild commented on #26956
Generating release notes since CMSSW_10_2_14.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-05-28 15:32] cmsbuild commented on #26956
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_15 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_14 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_15

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-r

[2019-05-28 15:34] cmsbuild commented on #26956
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_15

[2019-05-28 15:46] dan131riley commented on #26954
I inserted my own version of `TBuffer::Expand()` that prints out the old and new sizes every time it is called.  Comparing the problematic event with the one before it, there isn't any single allocation responsible, instead lots of buffer allocations expand.  The top two, with `gDebug` set to 2:

[code]

If I merely copy that one event (no analysis), I see the same final sizes for the buffer expan

[2019-05-28 16:45] kpedro88 opened #26971 "Build CMSSW_9_3_15_patch1"

[2019-05-28 16:46] cmsbuild commented on #26971
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-05-28 16:47] kpedro88 commented on #26971
+1

[2019-05-28 16:48] cmsbuild commented on #26971
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_15_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2019-05-28 16:48] cmsbuild commented on #26971
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-05-28 16:49] pcanal commented on #26954
Can you share 2 of the single event files so that I can look at what makes them different?

[2019-05-28 16:50] cmsbuild commented on #26971
The build has started for slc6_amd64_gcc630 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2053/console
CMSDIST Branch: [REL/CMSSW_9_3_15/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_15/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-28 16:50] cmsbuild commented on #26971
The build has started for slc7_amd64_gcc630 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2054/console
CMSDIST Branch: [REL/CMSSW_9_3_15/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_15/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-28 17:14] cmsbuild commented on #26971
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch1-slc6_amd64_gcc630/2053
Some t

[2019-05-28 17:30] dan131riley commented on #26954
I just noticed that the single event file does not show the anomalous memory allocations: a copy job reading the single-event file takes a normal amount of memory.  Copying the first 1000 events the output file also does not show the anomalous behavior.  So the single event output files I have aren't useful for debugging, as the copy operation apparently fixes the problem.

I've been using CMSSW_1

[2019-05-28 17:49] cmsbuild commented on #26971
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch1-slc7_amd64_gcc630/2054
Some t

[2019-05-28 18:07] cmsbuild commented on #26971
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch1-slc6_amd64_gcc630/2053

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-05-28 18:48] cmsbuild commented on #26971
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch1-slc7_amd64_gcc630/2054

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-05-28 18:59] makortel commented on #26584
All related PRs have been merged, so this issue can be closed.

[2019-05-28 18:59] #26584 closed

[2019-05-28 19:42] dan131riley commented on #26954
CMSSW_9_4_7 shows the anomalous memory usage too.  If I fast-clone the input file (which isn't possible with CMSSW_10_2_10 due to data format changes), the cloned output file shows the same behavior.  If I skim off selected events, disabling fast cloning, then the output file doesn't show the problem.  So there doesn't seem to be a way to produce a small output file that replicates the problem.

[2019-05-28 19:44] pcanal commented on #26954
Do I understand correctly that you have a file (a) that when read has a large/high memory peak but once you slow copy it to a new file (b) that 2nd file does *not* exhibit the high memory peak?

[2019-05-28 20:03] kpedro88 commented on #26971
upload all

[2019-05-28 20:04] cmsbuild commented on #26971
Queing Jenkins upload for slc6_amd64_gcc630

[2019-05-28 20:04] cmsbuild commented on #26971
Queing Jenkins upload for slc7_amd64_gcc630

[2019-05-28 20:04] cmsbuild commented on #26971
The upload has started for slc7_amd64_gcc630 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1344/console

[2019-05-28 20:04] cmsbuild commented on #26971
The upload has started for slc6_amd64_gcc630 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1343/console

[2019-05-28 20:05] cmsbuild commented on #26971
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_15_patch1-slc7_amd64_gcc630/1344

[2019-05-28 20:05] cmsbuild commented on #26971
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_15_patch1-slc6_amd64_gcc630/1343

[2019-05-28 20:11] kpedro88 commented on #26971
release-notes since CMSSW_9_3_15

[2019-05-28 20:11] cmsbuild commented on #26971
Generating release notes since CMSSW_9_3_15.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-05-28 20:11] cmsbuild commented on #26971
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_15_patch1 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_15 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_15_patch1

Cheers,
cms-bot

You can also click <a href

[2019-05-28 20:12] cmsbuild commented on #26971
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_15_patch1

[2019-05-28 20:24] kpedro88 opened #26973 "Build CMSSW_10_2_15_patch1"

[2019-05-28 20:25] cmsbuild commented on #26973
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-05-28 20:26] kpedro88 commented on #26973
+1

[2019-05-28 20:27] cmsbuild commented on #26973
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_15_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-05-28 20:27] cmsbuild commented on #26973
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-05-28 20:27] cmsbuild commented on #26973
The build has started for slc6_amd64_gcc700 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2055/console
CMSDIST Branch: [REL/CMSSW_10_2_15/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_15/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-28 20:28] cmsbuild commented on #26973
The build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2056/console
CMSDIST Branch: [REL/CMSSW_10_2_15/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_15/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-28 20:29] dan131riley commented on #26954
Yes, that appears to be the case.

[2019-05-28 20:33] pcanal commented on #26954
So I am guessing that the input file is 'poorly' clustered and that there is one large basket somewhere ...

[2019-05-28 20:56] cmsbuild commented on #26973
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15_patch1-slc6_amd64_gcc700/2055
Some

[2019-05-28 21:48] cmsbuild commented on #26973
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15_patch1-slc7_amd64_gcc700/2056
Some

[2019-05-28 22:36] cmsbuild commented on #26973
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15_patch1-slc6_amd64_gcc700/2055

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-28 23:43] cmsbuild commented on #26973
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15_patch1-slc7_amd64_gcc700/2056

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-29 00:10] kpedro88 commented on #26973
upload all

[2019-05-29 00:11] cmsbuild commented on #26973
Queing Jenkins upload for slc6_amd64_gcc700

[2019-05-29 00:11] cmsbuild commented on #26973
Queing Jenkins upload for slc7_amd64_gcc700

[2019-05-29 00:13] cmsbuild commented on #26973
The upload has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1346/console

[2019-05-29 00:13] cmsbuild commented on #26973
The upload has started for slc6_amd64_gcc700 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1345/console

[2019-05-29 00:13] cmsbuild commented on #26973
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_15_patch1-slc7_amd64_gcc700/1346

[2019-05-29 00:14] cmsbuild commented on #26973
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_15_patch1-slc6_amd64_gcc700/1345

[2019-05-29 00:18] kpedro88 commented on #26973
release-notes since CMSSW_10_2_15

[2019-05-29 00:21] cmsbuild commented on #26973
Generating release notes since CMSSW_10_2_15.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-05-29 00:21] cmsbuild commented on #26973
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_15_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_15 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_15_patch1

Cheers,
cms-bot

You can also click <a h

[2019-05-29 00:22] cmsbuild commented on #26973
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_15_patch1

[2019-05-29 10:20] ferencek commented on #26913
Hi @slava77, indeed, this looks like a bug and a comma is missing there. The ghost track feature is not really in active use which probably explains why this went unnoticed all this time.

[2019-05-29 13:16] slava77 commented on #26913
What would be the right fix?
It seems like the error = 0 (current incidental default) has a special meaning.
Grepping for similar calls, I see other defaults like ```Measurement1D(-1, 1)``` in
https://github.com/cms-sw/cmssw/blob/ba500c0d38075ac562531832c437568ab6e2dfc0/RecoBTag/SecondaryVertex/src/GhostTrackComputer.cc#L78-L85

Would this be a more correct value than what will be from a simple ad

[2019-05-29 13:25] Dr15Jones commented on #26748
assign core

[2019-05-29 13:25] cmsbuild commented on #26748
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-05-29 13:46] kpedro88 opened #26993 "Build CMSSW_10_6_0_patch2"

[2019-05-29 13:48] cmsbuild commented on #26993
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-05-29 13:55] kpedro88 commented on #26993
+1

[2019-05-29 13:55] cmsbuild commented on #26993
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-05-29 13:55] cmsbuild commented on #26993
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-05-29 13:56] cmsbuild commented on #26993
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2057/console
CMSDIST Branch: [REL/CMSSW_10_6_0/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_0/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-29 13:56] cmsbuild commented on #26993
The build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2058/console
CMSDIST Branch: [REL/CMSSW_10_6_0/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_0/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-05-29 15:41] cmsbuild commented on #26993
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_patch2-slc7_amd64_gcc820/2058
Some t

[2019-05-29 15:42] cmsbuild commented on #26993
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_patch2-slc7_amd64_gcc700/2057
Some t

[2019-05-29 17:13] ferencek commented on #26913
`Measurement1D` is used to store a track impact parameter and related uncertainty. The impact parameter can be signed so generally speaking `Measurement1D(-1.0, 1.0)` could be a valid entry. `Measurement1D(-1., -1.)` is clearly an invalid entry because of the negative error but the problem with this is that `Measurement1D::significance()` would return 1 which could look completely legitimate. Pers

[2019-05-29 17:45] cmsbuild commented on #26993
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_patch2-slc7_amd64_gcc820/2058

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-29 17:57] cmsbuild commented on #26993
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_patch2-slc7_amd64_gcc700/2057

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-05-29 17:59] kpedro88 commented on #26993
upload all

[2019-05-29 17:59] cmsbuild commented on #26993
Queing Jenkins upload for slc7_amd64_gcc700

[2019-05-29 18:00] cmsbuild commented on #26993
Queing Jenkins upload for slc7_amd64_gcc820

[2019-05-29 18:02] cmsbuild commented on #26993
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1347/console

[2019-05-29 18:03] cmsbuild commented on #26993
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_patch2-slc7_amd64_gcc700/1347

[2019-05-29 18:03] cmsbuild commented on #26993
The upload has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1348/console

[2019-05-29 18:03] cmsbuild commented on #26993
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_patch2-slc7_amd64_gcc820/1348

[2019-05-29 18:41] alja commented on #26913
@slava77  The phi range check in the FWTauProxyBuilderBase.cc is not necessary.  I have submitted #27001 for this.

[2019-05-29 20:45] makortel commented on #26748
#26997 had a case where record `CaloTPGRecord` depends on `HcalLutMetadataRcd`, which further depends on `HcalRecNumberingRecord`. I tried to use a token `edm::ESGetToken<HcalTopology, HcalRecNumberingRecord>` to get data from `CaloTPGRecord`, but that didn't work because `DependentRecordImplementation::get()` does not look beyond the first level of dependent-on records.

We decided to take the si

[2019-05-30 00:02] kpedro88 commented on #26993
release-notes since CMSSW_10_6_0_patch1

[2019-05-30 00:02] cmsbuild commented on #26993
Generating release notes since CMSSW_10_6_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-05-30 00:02] cmsbuild commented on #26993
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_0_patch2 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_0_patch2

Cheers,
cms-bot

You can also click

[2019-05-30 00:03] cmsbuild commented on #26993
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_0_patch2

[2019-05-30 13:39] cmsbuild commented on #26956
The cleanup has started for slc6_amd64_gcc700

[2019-05-30 13:39] cmsbuild commented on #26956
The cleanup has started for slc7_amd64_gcc700

[2019-05-30 13:39] #26956 closed

[2019-05-30 13:45] cmsbuild commented on #26956
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_15-slc6_amd64_gcc700/1356

[2019-05-30 13:46] cmsbuild commented on #26956
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_15-slc7_amd64_gcc700/1357

[2019-05-30 13:47] cmsbuild commented on #26956
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_15-slc7_amd64_gcc700/1355

[2019-05-30 13:48] cmsbuild commented on #26956
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_15-slc6_amd64_gcc700/1354

[2019-05-30 18:24] cmsbuild commented on #26971
The cleanup has started for slc6_amd64_gcc630

[2019-05-30 18:24] cmsbuild commented on #26971
The cleanup has started for slc7_amd64_gcc630

[2019-05-30 18:24] #26971 closed

[2019-05-30 18:27] cmsbuild commented on #26971
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_15_patch1-slc7_amd64_gcc630/1359

[2019-05-30 18:30] cmsbuild commented on #26971
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_15_patch1-slc6_amd64_gcc630/1358

[2019-05-30 20:01] makortel commented on #26748
Another example such pattern is in #27012 with `HcalTPGRecord` depending on `HcalDbRecord`, which further depends on `HcalTimeSlewRecord`, and the code gets `edm::ESGetToken<HcalTimeSlew, HcalTimeSlewRecord>` from `HcalTPGRecord`.

[2019-05-30 22:23] cmsbuild commented on #26973
The cleanup has started for slc6_amd64_gcc700

[2019-05-30 22:23] cmsbuild commented on #26973
The cleanup has started for slc7_amd64_gcc700

[2019-05-30 22:23] #26973 closed

[2019-05-30 22:27] cmsbuild commented on #26973
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_15_patch1-slc7_amd64_gcc700/1361

[2019-05-30 22:29] cmsbuild commented on #26973
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_15_patch1-slc6_amd64_gcc700/1360

[2019-05-31 13:36] slava77 commented on #26913
Currently, only the issue in RecoLocalMuon/GEMSegment/plugins/ME0SegAlgoRU.cc is remaining.

@nickmccoll  perhaps you know what would be a correct fix here
https://github.com/cms-sw/cmssw/blob/ba500c0d38075ac562531832c437568ab6e2dfc0/RecoLocalMuon/GEMSegment/plugins/ME0SegAlgoRU.cc#L325-L327

[2019-05-31 14:36] perrotta commented on #26913
Well, the correct fix is obvious, that is replace one of the ```h1``` with ```h2```
What has actually to be checked before implementing it blindly is to asses its effect on the physics performance, which will likely be touched because this ```areHitsCloseInEta``` is used in the segment building. Here some hint or investigations from the GEM local reco experts is needed.

[2019-05-31 17:03] jshlee commented on #26913
yes it should be the diff of h1 and h2, we will look into the effects on segment reco.

[2019-05-31 19:45] makortel commented on #26748
#27043 is an RFC PR for a case where 2 ESProducers determine in `produce()` which of 6 possible input product labels to use based on the value of magnetic field.

[2019-05-31 20:38] nickmccoll commented on #26913
@slava77 wow, that is a bad bug on my part! This is a part of the seeding, and is effectively a vertex constraint that was supposed to be, but apparently not, implemented. I would think that fixing it should just reduce the background rate (e.g. wide angle punch throughs), but it should be double checked.

[2019-05-31 22:08] cmsbuild commented on #26993
The cleanup has started for slc7_amd64_gcc700

[2019-05-31 22:08] cmsbuild commented on #26993
The cleanup has started for slc7_amd64_gcc820

[2019-05-31 22:08] #26993 closed

[2019-05-31 22:12] cmsbuild commented on #26993
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_patch2-slc7_amd64_gcc700/1362

[2019-05-31 22:12] cmsbuild commented on #26993
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_0_patch2-slc7_amd64_gcc820/1363

[2019-06-03 07:25] fabiocos opened #27082 "Clang-tidy: add braces after control statements"
This issue is meant to keep track of the proposed update to clang-tidy instructions in #21478 that has been kept on hold so far due to problems in the application, preventing a safe use of this option.

The update proposed by @fwyzard is meant to add braces after control statements, e.g. change

[code]
to
[code]

As mentioned by @smuzaffar in https://github.com/cms-sw/cmssw/pull/21478#issuecomment

[2019-06-03 07:25] cmsbuild commented on #27082
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-03 07:26] fabiocos commented on #27082
assign core

[2019-06-03 07:26] cmsbuild commented on #27082
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-03 13:41] ktht commented on #26954
I found yet another example (there appears to be many more as I just started looking why my CRAB jobs failed): in file `/store/data/Run2017F/SingleElectron/MINIAOD/31Mar2018-v1/30000/68217F4A-1139-E811-B2EE-0025905B85E8.root` the 901st event (again !) causes abnormal increase in the memory consumption:
[code]

[2019-06-03 14:23] dan131riley commented on #26954
For MINIAOD we set the PoolOutputModule autoFlushSize to -900:
[code]
This calls
[code]
That flips the ROOT sign convention, setting the event TTree to flush all branch buffers to disk every 900 events.  All the other common data formats are flushing at a size boundary, not a number of events.  So if @pcanal is correct then it would appear that this setting is leading to poor clustering?

[2019-06-03 16:08] wddgit commented on #26618
A couple things that have always bugged me about the Skeletons package. It inserts this into the header files

// -*- C++ -*-

This is supposed to tell emacs to open the file in C++ mode. The problem is that the scripts do not put it on the first line of the file in headers, because of the header guards. If it is not on the first line, I think it just gets ignored by emacs. Seems like we should ei

[2019-06-04 06:33] fioriNTU commented on #26727
@fabiocos , sorry I have overlooked your proposal. I agree that this issue is not fully understood, so, if you think it is worth, let's keep this open. I do not think that opening a different issue on anomalous definition of histograms would help, I believe that we (DQM) should check more carefully for such cases in the PR review process.

[2019-06-04 12:39] kpedro88 commented on #25472
Some of these moved to a separate package:
https://github.com/cms-sw/cmssw/blob/dda418599a177a85d76e161c366159746f9a66ae/RecoLocalCalo/HGCalRecProducers/interface/HGCalClusteringAlgoBase.h#L78
and RecoLocalCalo/HGCalRecProducers/plugins/HGCalCLUEAlgo.cc, RecoLocalCalo/HGCalRecProducers/plugins/HGCalImagingAlgo.cc

Also, there are some hardcoded values (not even constants) here:
https://github.com/

[2019-06-04 15:23] kpedro88 commented on #26938
@emiglior @ghugo83 please advise about T15 and any other tracker considerations

[2019-06-04 15:49] ghugo83 commented on #26938
Hi,
Hmm take care with T5, I would say it is important to keep it for reference, since it was used for the Phase II Tracker TDR.
T11 could be removed (and re-introduced later based on latest Tracker geometry, with 25x100 -> 50x50).
T14 <-> T15 comparison has not been fully discussed yet.

[2019-06-04 15:53] kpedro88 commented on #26938
@ghugo83 in general, we aren't keeping old TDR workflows alive forever in the latest releases. The D4 geometry used for the tracker TDR has already been deprecated and removed a while ago. These geometries are still present in the old releases if more studies are needed. In the end, we will only build one version of the Phase 2 detector, so indefinite support for dozens of past variations is not f

[2019-06-04 15:56] kpedro88 opened #27095 "Deprecate code support for HGCal v8"
#26938 includes removing the HGCal v8 geometry, which does not have the variable silicon/scintillator boundary and uses the old DetId scheme (`HGCalDetId` for EE/FH, `HcalDetId` for BH). Once this geometry is no longer supported, we could consider cleaning the code to remove the proliferation of switches to handle this old version. This would greatly simplify future development.

attn: @rovere @cs

[2019-06-04 15:57] ghugo83 commented on #26938
Hi @kpedro88 , Yes if you can guarantee an old release containing T5 stay alive that will be fine.

[2019-06-04 15:57] cmsbuild commented on #27095
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-04 15:57] kpedro88 commented on #27095
assign upgrade,geometry,simulation,reconstruction,l1,dqm

[2019-06-04 15:57] cmsbuild commented on #27095
New categories assigned: upgrade,geometry,simulation,reconstruction,l1,dqm

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@jfernan2,@slava77,@andrius-k,@schneiml,@fioriNTU,@rekovic,@perrotta,@kmaeshima,@ianna,@kpedro88,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-04 16:00] kpedro88 commented on #27095
also attn: @jbsauvan

[2019-06-04 16:01] ghugo83 commented on #26938
Hmm I see D17 (HGCal TDR) and D19 are still using T5.

[2019-06-04 16:02] kpedro88 commented on #26938
@ghugo83 yes, this issue proposes removing those workflows in the 11_X cycle, as described in the first post. They will remain available in the older release cycles.

[2019-06-04 16:04] ghugo83 commented on #26938
@kpedro88 Ok, thanks.

[2019-06-05 02:39] makortel commented on #26748
#27099 is another RFC PR for a similar case. It as also 2 ESProducers that determine in `produce()` which of 2 possible input product labels to use based on a value of another input product.

[2019-06-05 07:37] fabiocos opened #27100 "Clang warning in FWRecoGeometryESProducer.cc"
In CMSSW_11_0_X_2019-04-2300 a new clang warning is reported in FWRecoGeometryESProducer.cc
[code]

Looking at the code the declaration at line https://github.com/cms-sw/cmssw/blob/master/Fireworks/Geometry/src/FWRecoGeometryESProducer.cc#L317 seems to be effectively unused. To be clarified by experts what is the desired code behaviour .

[2019-06-05 07:38] cmsbuild commented on #27100
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-05 07:38] fabiocos commented on #27100
assign visualization

[2019-06-05 07:38] cmsbuild commented on #27100
New categories assigned: visualization

@Dr15Jones,@alja you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-05 11:08] cmsbuild commented on #26993
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2059/console
CMSDIST Branch: [REL/CMSSW_10_6_0/slc7_aarch64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_0/slc7_aarch64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-05 11:55] fabiocos commented on #26938
@ghugo83 @emiglior old releases will clearly stay untouched, the proposal of @kpedro88 refers to 11_0_X and the future

[2019-06-05 12:40] cmsbuild commented on #26993
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_patch2-slc7_aarch64_gcc700/2059
So

[2019-06-05 12:49] fabiocos commented on #26618
@wddgit @smuzaffar would adding ```// clang-format off``` at the beginning of these file just do what we need?

[2019-06-05 14:31] alja commented on #27100
@fabiocos Thanks, I will fix the bug.

[2019-06-05 14:53] perrotta opened #27119 "Reduce cpu for DeepTauID 2017v2"
With PR #26796 the DeepTauID 2017v2 is going to be integrated into the miniAOD production chain. The physics reach of that ID outperforms the one of the other tau IDs.

Unfortunately, the timing performance is not yet fast enough for having it run in normal nanoAOD productions. According to what reported in that PR the performance with 1k ttbar events is:

Memory:
- size of three training files: 2

[2019-06-05 14:53] perrotta commented on #27119
assign reconstruction

[2019-06-05 14:54] cmsbuild commented on #27119
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-05 14:54] cmsbuild commented on #27119
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-05 16:15] cmsbuild commented on #26993
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1350/console

[2019-06-05 16:15] cmsbuild commented on #26993
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_0_patch2-slc7_aarch64_gcc700/1350

[2019-06-05 18:53] alja commented on #27100
@ianna
Do you know how to test if "GEM endcap station 2" is existing ?

[2019-06-05 19:33] #26932 closed

[2019-06-05 20:04] slava77 commented on #26776
+1

I think that this issue was resolved with #26804, which was merged recently.

[2019-06-05 20:07] #26776 closed

[2019-06-05 21:51] cmsbuild commented on #26993
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_0_patch2-slc7_aarch64_gcc700/2059

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-06 07:05] fabiocos opened #27124 "Build CMSSW_7_1_42"

[2019-06-06 07:05] cmsbuild commented on #27124
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-06-06 07:06] fabiocos commented on #27124
+1

[2019-06-06 07:06] cmsbuild commented on #27124
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_42. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-06-06 07:06] cmsbuild commented on #27124
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-06-06 07:08] cmsbuild commented on #27124
The build has started for slc6_amd64_gcc481 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2060/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-06-06 07:37] fabiocos commented on #26832
Every listed PR has been merged. More known developments from EGM group will be followed through the usual review/ORP path

[2019-06-06 07:37] #26832 closed

[2019-06-06 10:16] cmsbuild commented on #27124
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_42-slc6_amd64_gcc481/2060
Some tests (

[2019-06-06 10:29] cmsbuild commented on #27124
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_42-slc6_amd64_gcc481/2060

Tests results:
7 3 2 2 2 tests passed, 0 4 0 0 0 failed

[2019-06-06 10:59] schneiml opened #27125 "Constructor argument for `edm::GlobalCache<T>`"
While trying to convert `DQMEDAnalyzer` to `edm::stream`, I hit the following problem:
- To share state between the per-stream instances of `edm::stream` modules, I need to use a `edm::GlobalCache<T>`.
- `edm::GlobalCache<T>` changes the _constructor_ signature used by the EDM framework. [0]
- This means now ~400 derived CMSSW plugins would need to be changed to accept the additional argument.

To

[2019-06-06 10:59] cmsbuild commented on #27125
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-06 11:20] Dr15Jones commented on #27125
assign core

[2019-06-06 11:20] cmsbuild commented on #27125
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-06 13:57] Dr15Jones commented on #27125
That is incorrect. If you call `globalCache()` in the constructor, you get back nullptr.  The value is not set until after the constructor finishes (which hopefully makes sense once you think about it).

It is possible to override the framework behavior for a particular `GlobalCache` type. To do so add the following to your `DQMEDAnalyzer.h` file before the declaration of the `EDAnalyzer` but afte

[2019-06-06 14:32] schneiml commented on #27125
Ah, I did not expect that, given that the `globalCache` is supposedly initialized before the constructor is called. Anyways I don't really care, since I only need the cache around `beginStream`. [1]

The suggestion of specializing the template probably works, though I would not use such intrusive code without approval of cmssw-core. I'll see how far that snippet gets us. Thanks!

[1] That is at le

[2019-06-06 15:16] fabiocos commented on #27124
upload all

[2019-06-06 15:16] cmsbuild commented on #27124
Queing Jenkins upload for slc6_amd64_gcc481

[2019-06-06 15:17] cmsbuild commented on #27124
The upload has started for slc6_amd64_gcc481 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1351/console

[2019-06-06 15:18] cmsbuild commented on #27124
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_42-slc6_amd64_gcc481/1351

[2019-06-06 15:19] fabiocos commented on #27124
release-notes

[2019-06-06 15:19] cmsbuild commented on #27124
Generating release notes since CMSSW_7_1_41.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-06-06 15:19] cmsbuild commented on #27124
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_42 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_41 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_42

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2019-06-06 15:21] cmsbuild commented on #27124
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_42

[2019-06-06 15:54] schneiml commented on #27125
Seems to work: https://github.com/andrius-k/cmssw/commit/4024276d171ea0937f1b52960dd02293f59cffe7

Thanks!

[2019-06-06 15:54] #27125 closed

[2019-06-06 20:39] #25472 closed

[2019-06-07 09:59] fabiocos opened #27145 "Build CMSSW_10_2_15_patch2"

[2019-06-07 09:59] cmsbuild commented on #27145
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-06-07 10:00] fabiocos commented on #27145
+1

[2019-06-07 10:00] cmsbuild commented on #27145
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_15_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-06-07 10:00] cmsbuild commented on #27145
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-06-07 10:08] cmsbuild commented on #27145
The build has started for slc6_amd64_gcc700 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2061/console
CMSDIST Branch: [REL/CMSSW_10_2_15/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_15/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-07 10:10] cmsbuild commented on #27145
The build has started for slc7_amd64_gcc700 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2062/console
CMSDIST Branch: [REL/CMSSW_10_2_15/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_15/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-07 10:43] cmsbuild commented on #27145
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15_patch2-slc6_amd64_gcc700/2061
Some

[2019-06-07 11:05] cmsbuild commented on #27145
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15_patch2-slc7_amd64_gcc700/2062
Some

[2019-06-07 12:31] cmsbuild commented on #27145
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15_patch2-slc6_amd64_gcc700/2061

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-07 12:56] cmsbuild commented on #27145
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_15_patch2-slc7_amd64_gcc700/2062

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-07 13:10] fabiocos commented on #27145
upload all

[2019-06-07 13:10] cmsbuild commented on #27145
Queing Jenkins upload for slc6_amd64_gcc700

[2019-06-07 13:10] cmsbuild commented on #27145
Queing Jenkins upload for slc7_amd64_gcc700

[2019-06-07 13:11] cmsbuild commented on #27145
The upload has started for slc6_amd64_gcc700 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1352/console

[2019-06-07 13:11] cmsbuild commented on #27145
The upload has started for slc7_amd64_gcc700 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1353/console

[2019-06-07 13:12] cmsbuild commented on #27145
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_15_patch2-slc7_amd64_gcc700/1353

[2019-06-07 13:12] cmsbuild commented on #27145
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_15_patch2-slc6_amd64_gcc700/1352

[2019-06-07 14:08] fabiocos commented on #27145
release-notes

[2019-06-07 14:08] cmsbuild commented on #27145
Generating release notes since CMSSW_10_2_15_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-06-07 14:08] cmsbuild commented on #27145
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_15_patch2 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_15_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_15_patch2

Cheers,
cms-bot

You can also cli

[2019-06-07 14:09] cmsbuild commented on #27145
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_15_patch2

[2019-06-07 17:27] fabiocos opened #27150 "Build CMSSW_11_0_0_pre1"

[2019-06-07 17:27] cmsbuild commented on #27150
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-06-07 17:28] fabiocos commented on #27150
+1

[2019-06-07 17:28] cmsbuild commented on #27150
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-06-07 17:28] cmsbuild commented on #27150
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2019-06-07 17:29] cmsbuild commented on #27150
The build has started for slc7_amd64_gcc700 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2063/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-07 17:29] cmsbuild commented on #27150
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2064/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-07 17:29] cmsbuild commented on #27150
The build has started for slc7_amd64_gcc900 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2065/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-07 17:30] cmsbuild commented on #27150
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2066/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-08 00:11] cmsbuild commented on #27150
The was an error for slc7_amd64_gcc900.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre1-slc7_amd64_gcc900/2065

[2019-06-08 00:24] cmsbuild commented on #27150
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre1-slc7_amd64_gcc820/2064
Some tes

[2019-06-08 00:31] cmsbuild commented on #27150
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre1-slc7_amd64_gcc700/2063
Some tes

[2019-06-08 02:44] cmsbuild commented on #27150
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre1-slc7_amd64_gcc820/2064

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-08 02:46] cmsbuild commented on #27150
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre1-slc7_amd64_gcc700/2063

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-08 07:09] fabiocos commented on #27150
@smuzaffar looking at the console it seems to me that also the aarch64 build has failed, not sure why...

[2019-06-08 07:12] fabiocos commented on #27150
[code]

a problem with the build node? I will move forward with the upload of the amd64 architecture, in case we may try again with aarch64 today

[2019-06-08 07:12] fabiocos commented on #27150
upload all

[2019-06-08 07:12] cmsbuild commented on #27150
Queing Jenkins upload for slc7_amd64_gcc700

[2019-06-08 07:12] cmsbuild commented on #27150
Queing Jenkins upload for slc7_amd64_gcc820

[2019-06-08 07:13] cmsbuild commented on #27150
The upload has started for slc7_amd64_gcc700 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1354/console

[2019-06-08 07:14] cmsbuild commented on #27150
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1355/console

[2019-06-08 07:17] cmsbuild commented on #27150
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre1-slc7_amd64_gcc820/1355

[2019-06-08 07:19] cmsbuild commented on #27150
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre1-slc7_amd64_gcc700/1354

[2019-06-08 07:24] fabiocos commented on #27150
release-notes since CMSSW_10_6_0

[2019-06-08 07:24] cmsbuild commented on #27150
Generating release notes since CMSSW_10_6_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-06-08 07:24] cmsbuild commented on #27150
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre1

Cheers,
cms-bot

You can also click <a href="mailto:

[2019-06-08 07:25] cmsbuild commented on #27150
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre1

[2019-06-08 07:29] cmsbuild commented on #27150
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2067/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-08 09:20] cmsbuild commented on #27150
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre1-slc7_aarch64_gcc700/2067
Some

[2019-06-08 09:21] cmsbuild commented on #27150
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-06-08 09:22] cmsbuild commented on #27150
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1356/console

[2019-06-08 09:23] cmsbuild commented on #27150
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre1-slc7_aarch64_gcc700/1356

[2019-06-08 12:40] cmsbuild commented on #27150
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre1-slc7_aarch64_gcc700/2067

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-08 13:24] cmsbuild commented on #27124
The cleanup has started for slc6_amd64_gcc481

[2019-06-08 13:24] #27124 closed

[2019-06-08 13:28] cmsbuild commented on #27124
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_42-slc6_amd64_gcc481/1364

[2019-06-09 09:18] smuzaffar commented on #27150
@fabiocos , yes there was some problem with node itself. I had retsrated the release and it looks good now.

[2019-06-09 12:08] cmsbuild commented on #27145
The cleanup has started for slc6_amd64_gcc700

[2019-06-09 12:08] cmsbuild commented on #27145
The cleanup has started for slc7_amd64_gcc700

[2019-06-09 12:08] #27145 closed

[2019-06-09 12:12] cmsbuild commented on #27145
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_15_patch2-slc7_amd64_gcc700/1366

[2019-06-09 12:13] cmsbuild commented on #27145
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_15_patch2-slc6_amd64_gcc700/1365

[2019-06-10 05:38] cmsbuild commented on #27150
The cleanup has started for slc7_aarch64_gcc700

[2019-06-10 05:38] cmsbuild commented on #27150
The cleanup has started for slc7_amd64_gcc700

[2019-06-10 05:38] cmsbuild commented on #27150
The cleanup has started for slc7_amd64_gcc820

[2019-06-10 05:38] #27150 closed

[2019-06-10 05:39] cmsbuild commented on #27150
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre1-slc7_aarch64_gcc700/1367

[2019-06-10 05:44] cmsbuild commented on #27150
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre1-slc7_amd64_gcc820/1369

[2019-06-10 05:45] cmsbuild commented on #27150
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre1-slc7_amd64_gcc700/1368

[2019-06-10 13:23] fabiocos commented on #27100
@alja are you using the ```id``` variable, called nowhere else, just to throw an exception in https://github.com/cms-sw/cmssw/blob/master/DataFormats/MuonDetId/interface/GEMDetId.h#L95 in case this does not exist? From the C++ point of view why not adding a test on the ```station``` method of ```id``` checking whether it is 2 or not?

[2019-06-10 14:58] ktht commented on #26954
Dear experts, assuming that the issue is indeed due to poor clustering of the 900th event in the input MiniAOD files, can you propose a fix to the users who want to run custom NanoAOD production? Any special settings or functions the users could try when reading the input MiniAOD files?

[2019-06-10 15:00] kpedro88 commented on #26938
@emiglior what was the feedback from the meeting?

[2019-06-10 17:52] alja commented on #27100
@fabiocos @ianna
To my understanding line https://github.com/cms-sw/cmssw/blob/master/Fireworks/Geometry/src/FWRecoGeometryESProducer.cc#L319 should be:
 m_geomRecord->slaveGeometry(id);

But, to my surprise accessing GEMDetId id(1, 1, 2, 1, 1, 1) throws an exception.
All I want to do is make a check GEM endcap station 2 exists in the running geometry scenario.

[2019-06-11 09:46] fabiocos commented on #27100
@alja @jshlee I see that this block fo code has been added by Jason, he might give some suggestion

[2019-06-11 11:43] arizzi commented on #27119
@perrotta I'm not sure I understand the comparison what is the input to the 0.11s/ev ? what are the differences with the 1.06s/ev workflow?

[2019-06-11 12:35] perrotta commented on #27119
@arizzi all the details are in the (longish) thread of #26796
As far as I understand 0.11s/ev is for a test job which only runs the tau id's; while 1.06s/ev is calculated with a full re-miniAOD job  with 1000 events in a ttbar sample. The important point to notice, according to me, is that the new ID would consume some 8% of the overall CPU time taken by miniAOD.

[2019-06-11 12:57] mbluj commented on #27119
Yes, I confirm what @perrotta wrote above: the point is that DeepTauID as it is now consume ~8% of CPU time needed to build MiniAOD as got with ttbar sample of 1k events. For other samples fraction of CPU time consumed by DeepTauID is different (number and type of tau candidates and jets counts), but on the same ballpark.

[2019-06-11 14:25] dan131riley commented on #26954
@pcanal is there a simple way to determine if the input file is poorly clustered?

[2019-06-11 16:54] gartung opened #27176 "Stitched: remove use of PhysicsTools/Utilities/scripts/edmCopyPickMerge from FWCore/Integration/test scripts"
edmCopyPickMerge used by test script FWCore/Integration/test/run_TestSwitchProducer.sh

[2019-06-11 16:55] gartung commented on #27176
@Dr15Jones @smuzaffar

[2019-06-11 16:55] cmsbuild commented on #27176
A new Issue was created by  @gartung Patrick Gartung.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-11 18:42] pcanal commented on #26954
Hi Dan,

First compare the result of ```thetree->Print("clusters")``` in the 'broken' and 'working' case.

If nothing obvious, then we have to look at the number of baskets per branch and see if any branches are anomalous. (Also we might want to check the reported basketsize).

If all of those fails, then we would need to find which branch in particular (if any) is actually provoking the peak.

[2019-06-11 19:11] makortel opened #27178 "Use of DQMStore in SiStripBadModuleFedErrESSource"
The `SiStripBadModuleFedErrESSource` reads histograms from DQMStore in its `produce()` method
https://github.com/cms-sw/cmssw/blob/7b107049ae78e1b2b01945ed3aa9a0c36245aec3/CalibTracker/SiStripESProducers/plugins/real/SiStripBadModuleFedErrESSource.cc#L121-L130

This approach is problematic because
- framework does not guarantee that the DQMStore would be filled at "begin run" time (by the DQM inpu

[2019-06-11 19:11] cmsbuild commented on #27178
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-11 19:12] makortel commented on #27178
Some possible ways to fix the issue
- make the ESSource to read the necessary information directly from a file
- transform the ESSource to an EDProducer that reads the histograms as run products and provides the information downstream as run products

[2019-06-11 21:50] makortel commented on #27176
@Dr15Jones Do we have a (generic) configuration/way for merging files under FWCore?

[2019-06-12 13:17] emiglior commented on #26938
@kpedro88

since the Tracker design is not yet frozen, there are concerns about removing T5 geometry in case we are asked (in a future review) to compare results with TDR layout vs. results with current layout using the same configuration of simulation and local reco (and we chronically lack manpower for backporting new developments....)

About T15 vs. T14, T15 is heavier but more realistic. It wi

[2019-06-12 13:28] fabiocos commented on #27178
assign alca

@mmusich FYI

[2019-06-12 13:29] cmsbuild commented on #27178
New categories assigned: alca

@christopheralanwest,@franzoni,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-12 13:41] mmusich commented on #27178
@fabiocos thanks, we are already in contact with Matti about this.

I am not sure how this can work when the DQM is run together with the rest of reconstruction at Tier-0 jobs. Can you clarify?

[2019-06-12 14:52] kpedro88 commented on #26938
@emiglior an alternative proposal:
a. acknowledging that the only geometry/workflow currently containing T5 has a several-year-old version of HGCal and no MTD
b. also acknowledging that keeping dozens of ancient Phase 2 geometries active in the latest development release is not a viable path for progress (and in fact actively interferes with many ongoing efforts), especially if the only reason is

[2019-06-12 21:05] makortel commented on #27178
You're right, in that mode it would not work.

[2019-06-13 20:29] emiglior commented on #26938
@kpedro88 do you mean to keep in the release the "T5" files of Geometry/TrackerCommonData (etc.) but remove the definitions and workflows of 2023D17 and 2023D19?

[2019-06-13 21:40] kpedro88 commented on #26938
Yes, exactly. Other components of D17 (e.g. the old HGCal) will definitely be removed, so those workflows will not function anyway.

[2019-06-14 07:55] fabiocos opened #27207 "Build CMSSW_11_0_0_pre2"

[2019-06-14 07:55] cmsbuild commented on #27207
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-06-14 07:58] fabiocos commented on #27207
build cmssw-tool-conf

[2019-06-14 07:58] cmsbuild commented on #27207
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-06-14 07:58] fabiocos commented on #27207
@smuzaffar we should by now have integrated all the externals we agreed for this build

[2019-06-14 07:59] cmsbuild commented on #27207
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2069/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-14 07:59] cmsbuild commented on #27207
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2071/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-14 07:59] cmsbuild commented on #27207
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2068/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-14 07:59] cmsbuild commented on #27207
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuilder12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2070/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-14 09:40] cmsbuild commented on #27207
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_amd64_gcc700/2069

[2019-06-14 09:56] cmsbuild commented on #27207
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_aarch64_gcc700/2068

[2019-06-14 09:56] cmsbuild commented on #27207
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_amd64_gcc820/2070

[2019-06-14 13:24] fabiocos commented on #27207
+1

[2019-06-14 13:24] cmsbuild commented on #27207
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-06-14 13:24] cmsbuild commented on #27207
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to

[2019-06-14 13:26] cmsbuild commented on #27207
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2072/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-14 13:26] cmsbuild commented on #27207
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2073/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-14 13:26] cmsbuild commented on #27207
The build has started for slc7_amd64_gcc820 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2074/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-14 13:50] kpedro88 commented on #26938
As another item to address in this issue, we should stop using "2023" for Phase2 workflows (since that year will actually be Run3) and move to "2026" or something even further in the future.

[2019-06-14 13:54] boudoul commented on #26938
for the 2023--> 2026, do you want me to take care (as I did for 2021 ?) -

[2019-06-14 13:55] kpedro88 commented on #26938
@boudoul thanks, but I think I can just take care of it when I implement all the geometry deprecations (once we have a final agreement in this issue).

[2019-06-14 13:57] boudoul commented on #26938
perfect thanks

[2019-06-14 15:20] cmsbuild commented on #27207
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_aarch64_gcc700/2072
Some

[2019-06-14 15:51] cmsbuild commented on #27207
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_amd64_gcc820/2074
Some tes

[2019-06-14 16:00] cmsbuild commented on #27207
There was an error building cmssw-tool-conf for slc7_amd64_gcc900
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_amd64_gcc900/2071

[2019-06-14 16:13] cmsbuild commented on #27207
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2075/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-14 17:40] cmsbuild commented on #27207
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_amd64_gcc820/2074

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-14 18:54] cmsbuild commented on #27207
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_aarch64_gcc700/2072

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-14 19:45] cmsbuild commented on #27207
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_amd64_gcc700/2073
Some tes

[2019-06-14 22:07] cmsbuild commented on #27207
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_amd64_gcc700/2073

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-15 05:28] fabiocos commented on #27207
upload all

[2019-06-15 05:29] cmsbuild commented on #27207
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-06-15 05:29] cmsbuild commented on #27207
Queing Jenkins upload for slc7_amd64_gcc700

[2019-06-15 05:29] cmsbuild commented on #27207
Queing Jenkins upload for slc7_amd64_gcc820

[2019-06-15 05:29] cmsbuild commented on #27207
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1357/console

[2019-06-15 05:30] cmsbuild commented on #27207
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1358/console

[2019-06-15 05:30] cmsbuild commented on #27207
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre2-slc7_aarch64_gcc700/1357

[2019-06-15 05:30] cmsbuild commented on #27207
The upload has started for slc7_amd64_gcc820 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1359/console

[2019-06-15 05:32] cmsbuild commented on #27207
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre2-slc7_amd64_gcc820/1359

[2019-06-15 05:36] cmsbuild commented on #27207
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre2-slc7_amd64_gcc700/1358

[2019-06-15 05:36] fabiocos commented on #27207
release-notes

[2019-06-15 05:37] cmsbuild commented on #27207
Generating release notes since CMSSW_11_0_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-06-15 05:37] cmsbuild commented on #27207
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre2 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_11_0_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre2

Cheers,
cms-bot

You can also click <a href="ma

[2019-06-15 05:38] cmsbuild commented on #27207
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre2

[2019-06-15 06:04] cmsbuild commented on #27207
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre2-slc7_amd64_gcc900/2075

[2019-06-15 12:42] Dr15Jones commented on #27176
Since the necessary configuration is so trivial, I've always just written it by hand.

[2019-06-16 01:07] bbockelm commented on #26954
I can't recall why we manually adjusted the number of events for the MiniAOD.  I would assume it's chasing some other clustering issue when the compression ratio is inconsistent?  For NanoAOD, we had to work around the ROOT logic completely...

[2019-06-16 13:50] Dr15Jones commented on #26669
@smuzaffar could we conditionally compile just one file without UBSAN?

[2019-06-16 19:18] smuzaffar commented on #26669
yes @Dr15Jones ,
[code]
in the package/BuildFile.xml should drop all the ubsan flags for Serialization.cc file only.

[2019-06-17 03:38] cmsbuild commented on #27207
The cleanup has started for slc7_aarch64_gcc700

[2019-06-17 03:38] cmsbuild commented on #27207
The cleanup has started for slc7_amd64_gcc700

[2019-06-17 03:38] cmsbuild commented on #27207
The cleanup has started for slc7_amd64_gcc820

[2019-06-17 03:38] #27207 closed

[2019-06-17 03:39] cmsbuild commented on #27207
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre2-slc7_aarch64_gcc700/1370

[2019-06-17 03:46] cmsbuild commented on #27207
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre2-slc7_amd64_gcc820/1374

[2019-06-17 03:47] cmsbuild commented on #27207
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre2-slc7_amd64_gcc700/1371

[2019-06-17 03:49] cmsbuild commented on #27207
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre2-slc7_amd64_gcc700/1373

[2019-06-17 03:52] cmsbuild commented on #27207
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre2-slc7_amd64_gcc820/1372

[2019-06-17 08:27] fabiocos opened #27219 "Failure in wf 136.7801 (and others) after integration of PR #26814"
After the integration of #26814 in CMSSW_11_0_X_2019-06-16-2300 there are a few failures in some IB test workflows (136.7801, 136.7803, 1040.0) all with the same problem:

[code]

The problem happens in the DQM sequence when the photonIdValueMapProducer is invoked

[2019-06-17 08:27] cmsbuild commented on #27219
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-17 08:28] fabiocos commented on #27219
assign reconstruction,dqm

@guitargeek please have a look at this

[2019-06-17 08:28] cmsbuild commented on #27219
New categories assigned: dqm,reconstruction

@jfernan2,@slava77,@andrius-k,@schneiml,@fioriNTU,@perrotta,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-17 08:29] fabiocos commented on #27219
The problem is reproducible, and adding #26814 on top of CMSSW_11_0_X_2019-06-16-0000 is enough to see it

[2019-06-17 08:40] guitargeek commented on #27219
Ok no big deal I hope, there was a usage of the `photonIDValueMapProducer` which was not tested in the bot tests and that requires the gedPhotons collection instead of the slimmedPhotons, which I made the new default instead of auto-detecting the right collection:

https://github.com/cms-sw/cmssw/blob/master/DQMOffline/Trigger/python/HLTEGTnPMonitor_cfi.py#L992

I will just fix it in the same way

[2019-06-17 09:02] guitargeek commented on #27219
Hi @fabiocos, I proposed a bugfix: https://github.com/cms-sw/cmssw/pull/27221.

[2019-06-17 12:22] emiglior commented on #26938
@kpedro88 I think this proposal is fine
@pwittich, @ghugo83  what do you think?

[2019-06-17 15:12] smuzaffar commented on #26669
@Dr15Jones , if we have to drop ubsan flags for all Serialization.cc then I would suggest to introduce `BOOST_SERIALIZATION_CXXFLAGS` and `REM_BOOST_SERIALIZATION_CXXFLAGS` flags and set them via top level config/BuildFile.xml (where we set UBSAN falgs too).

[2019-06-17 16:57] makortel commented on #27176
Done in #27229.

[2019-06-17 17:40] Dr15Jones commented on #27176
assign core

[2019-06-17 17:40] cmsbuild commented on #27176
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-17 17:40] Dr15Jones commented on #27176
+1

[2019-06-17 17:40] cmsbuild commented on #27176
This issue is fully signed and ready to be closed.

[2019-06-18 09:19] ghugo83 commented on #26938
@emiglior Yes, that's fine.

[2019-06-18 14:37] fabiocos commented on #26938
@kpedro88 @emiglior @ghugo83 I have a small update for MTD, used to produce material budget plots, that I would like to keep in the release as starting point for next developments. Of course in principle I might get it without a scenario, but seen this discussion, I believe it might make sense to have a D43 that is D41 (the most recent production state of the art) + this updated MTD + tracker T15

[2019-06-18 18:52] dan131riley commented on #26954
I'm not having much success making sense of this.

Looking at the first example input file, according to `edmFileUtil -b` the first 4 branches in the Events tree have basket size of 131072 and everything else supposedly has basket size 16384, like this:

[code]

which obviously can't be right.

If I make a copy of the entire file with the standard MINIAOD output module config, I get:

[code]

Ther

[2019-06-18 19:35] #27176 closed

[2019-06-18 19:40] smuzaffar opened #27243 "Enable more GCC C++ warning flags"
With GCC 8 and 9 there are new command-line options to control C++ compiler warnings
- Available in GCC 9 (https://gcc.gnu.org/gcc-9/changes.html)
  - `-Wdeprecated-copy`, implied by `-Wextra`, warns about the C++11 deprecation of implicitly declared copy constructor and assignment operator if one of them is user-provided. `-Wdeprecated-copy-dtor` also warns if the destructor is user-provided, as

[2019-06-18 19:40] cmsbuild commented on #27243
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-19 03:49] bbockelm commented on #26954
Note the reported basket size is the "default" basket size for the branch.  Once `OptimizeBaskets` is run (which is triggered at the end of the first auto-fill interval), these are all changed and the "basket size" becomes meaningless.  For example, if the first 900 events for a given branch each hold >16KB uncompressed, you will see as a result 900 baskets.

I think the only open question here is

[2019-06-19 07:42] fabiocos opened #27245 "Build CMSSW_10_6_1"

[2019-06-19 07:42] cmsbuild commented on #27245
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-06-19 07:44] fabiocos commented on #27245
@fwyzard do you need an aarch64 build of this?

[2019-06-19 08:03] smuzaffar opened #27248 "Missing step2 keyword in runTheMatrix.py for workflow 1370"
For following workflows the step2 keyword is missing in the cmsDriver command.
This breaks the IB pages and show these workflow failing in wrong step https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/relVal/CMSSW_11_0/2019-06-18-2300?selectedArchs=slc7_amd64_gcc700&selectedFlavors=X&selectedStatus=failed

Although we have fixed the parsing but any idea why step2 keyword is not added for these workflows?

[2019-06-19 08:03] cmsbuild commented on #27248
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-19 08:10] fwyzard commented on #27245
Thanks for asking, but I don't think we do: for the next Patatrack release we will move to the 11.x series.

[2019-06-19 08:15] fabiocos commented on #27245
@fwyzard ok, thanks

[2019-06-19 08:15] fabiocos commented on #27245
+1

[2019-06-19 08:15] cmsbuild commented on #27245
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-06-19 08:15] cmsbuild commented on #27245
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-06-19 08:16] cmsbuild commented on #27245
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2076/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-19 08:16] cmsbuild commented on #27245
The build has started for slc7_amd64_gcc820 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2077/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-06-19 10:53] cmsbuild commented on #27245
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1-slc7_amd64_gcc820/2077
Some tests (

[2019-06-19 11:36] fabiocos commented on #27248
assign pdmv

[2019-06-19 11:36] cmsbuild commented on #27248
New categories assigned: pdmv

@pgunnell,@prebello,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-19 11:43] fabiocos commented on #27248
This is related to #26875 by @chayanit . In the case of this workflow the GEN-SIM part is split into two pieces, step2 here is the equivalent of step1 elsewhere, f.i. 10824.0, that has the name of the GEN fragment as well, but it is not seen as it is replaced by the das query when ```-i all``` is requested

[2019-06-19 11:53] fabiocos commented on #27248
@smuzaffar as the purpose of this test workflow in my understanding is exactly to check the whole GEN-SIM chain, I wonder to which extend it makes sense to run this test with ```-i all```...

[2019-06-19 12:18] chayanit commented on #27248
@fabiocos , indeed the GEN-SIM of these workflows are 2 steps i.e. LHE and Hadronisation. I have never tried to run these wfs with -i all option as they are only injected for complete set requested by PPD but never used for validation campaign (@pgunnell can comment). In order to make -i all works, this will be a bit tricky. We never had fullsim wfs that produced 2 steps of GENSIM before.

[2019-06-19 12:42] cmsbuild commented on #27245
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1-slc7_amd64_gcc820/2077

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-19 12:42] Dr15Jones opened #27275 "Circular dependency within the Alignment SubSystem"
Alignment/TrackerAlignment links to Alignment/CommonAlignment.

Alignment/CommonAlignment/src/AlignableObjectId.cc includes "Alignment/TrackerAlignment/interface/AlignableTracker.h"

UBSAN requires that libraries must link to all libraries from which they use classes with virtual functions. Therefore Alignment/CommonAlignment would have to link to Alignment/CommonAlignment which causes a circular

[2019-06-19 12:43] cmsbuild commented on #27275
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-19 13:58] schneiml opened #27277 "Dictionaries for new DQM Dataformat"
Dear framework experts,

the new DataFormat for DQM proposed in #26603 has evolved a bit over the last weeks and we got to actually using it as a product. The latest version can be found here:
https://github.com/schneiml/cmssw/blob/726d7c14e5c71977923c674674f64f84c041042f/DataFormats/Histograms/interface/MonitorElementCollection.h

Now edm tells me
[code]

but trying to add an entry to `classes_de

[2019-06-19 13:59] cmsbuild commented on #27277
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-19 14:10] Dr15Jones commented on #27277
@pcanal suggestions?

[2019-06-19 14:14] Dr15Jones commented on #27277
@schneiml when you say 'Now edm tells me' what exactly tells you that? scram? cmsRun?

[2019-06-19 14:14] pcanal commented on #27277
There is no need for a dictionary for unique_ptr<T>.

Where does the error message comes from?  Which version of ROOT are you using?

We remove this (or similar) message from TClass::GetMissingDictionaries in v6.14/06 and v6.16/00.

[2019-06-19 14:28] schneiml commented on #27277
@Dr15Jones “edm tells me” == I do cmsrun and get [1].
@pcanal ROOT as provided by CMSSW 11 [2].

[1]
[code]

[2]

[code]

[code]

[2019-06-19 15:11] dan131riley commented on #26954
So we expect poor layout in the first auto-fill interval, especially for large objects, and we expect a bunch of buffer expansions at the end of the first interval when the basket size gets adjusted.  One obvious question is why we haven't seen this problem with memory consumption before?  Is there something unusual about these datasets?

Current compression settings come from PR #19589.  The PR a

[2019-06-19 15:20] pcanal commented on #26954
I am not sure what you mean.  After the OptimizeBaskets, the value show in TTree::Print for each branch is indeed the basket size that OptimizeBaskets picked.  [Also in the current algorithm the initiali basket size has some influence on the resulting basket size]

[2019-06-19 15:22] pcanal commented on #26954
Indeed if the user provided size is not 'adequate' it will still be used until the end of the first auto-fill interval (assumingly there is not enough information until then to have a good guess of the 'proper' size.

[2019-06-19 15:25] Dr15Jones commented on #27277
On a quick glance, `ProductRegistry::initializeLookupTables` calls  `TClass::GetMissingDictionaries` to get the list of missing dictionaries.

[2019-06-19 15:26] cmsbuild commented on #27245
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1-slc7_amd64_gcc700/2076
Some tests (

[2019-06-19 15:38] pcanal commented on #26954
it seems that something is preventing the call to OptimizeBasket during this file's production.

[code]

This and the rest of Dan's investigation are consistent with each entry containing an LHEEventProduct of size 15538.783, so indeed only one fits in each 16K baskets.   So for this branch, we will get 1 basket per entry until the end of the first cluster at which point the basket is resize to be

[2019-06-19 15:49] pcanal commented on #27277
I can not trivially reproduce the problem ...

[2019-06-19 16:57] schneiml commented on #27277
@pcanal "trivial" instructions for reproducing, copy&paste into a lxplus7 shell:
[code]

Should run through in < 2minutes. Needs CMS stuff (cmsrel, cmsev etc.), obviously.

[2019-06-19 17:34] cmsbuild commented on #27245
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1-slc7_amd64_gcc700/2076

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-06-19 18:27] dan131riley commented on #26954
It looks like we have the ability to set the initial basket size for a class as an attribute in the data dictionary:

 https://github.com/cms-sw/cmssw/blob/fbec54cb4785ecbc2a81c1f86a17d6d28ea747d4/DataFormats/Provenance/src/BranchDescription.cc#L218-L219

We aren't using that at all.  Should we consider doing it for classes that are usually large and practically never split (particularly LHEEventP

[2019-06-19 18:53] pcanal commented on #26954
Yes, I would recommend at the very least to try it out :)

[2019-06-19 19:39] fabiocos commented on #27245
upload all

[2019-06-19 19:39] cmsbuild commented on #27245
Queing Jenkins upload for slc7_amd64_gcc700

[2019-06-19 19:39] cmsbuild commented on #27245
Queing Jenkins upload for slc7_amd64_gcc820

[2019-06-19 19:40] cmsbuild commented on #27245
The upload has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1360/console

[2019-06-19 19:40] cmsbuild commented on #27245
The upload has started for slc7_amd64_gcc820 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1361/console

[2019-06-19 19:41] cmsbuild commented on #27245
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_1-slc7_amd64_gcc820/1361

[2019-06-19 19:42] cmsbuild commented on #27245
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_1-slc7_amd64_gcc700/1360

[2019-06-19 19:42] fabiocos commented on #27245
release-notes

[2019-06-19 19:43] cmsbuild commented on #27245
Generating release notes since CMSSW_10_6_0_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-06-19 19:43] cmsbuild commented on #27245
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_0_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_1

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2019-06-19 19:44] cmsbuild commented on #27245
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_1

[2019-06-19 20:00] pcanal commented on #27277
The instructions worked to give me a reproducer.  Thanks.

[2019-06-20 09:01] schneiml commented on #27277
Some more experiments on my side show that the problem is not related to the `unique_ptr`; even without `unique_ptr` the problem hits on a plain `MonitorElementData*`. Changing the entries in `MonitorElementCollection` to values avoids the issue.

This is good enough for now, though it does make the object ownership rather messy and I'd really prefer pointers for readability as well as performance

[2019-06-20 11:38] fabiocos commented on #27248
@chayanit these workflows need to work correctly also with the ```-i all``` option. This is what already happens for 25215.XX , I am not sure what is the purpose of this different treatment at this point, could you please clarify? In order to circumvent the problem I will remove the ```INPUT``` version of the LHE steps, and force the whole chain to be always run. A new PR will arrive soon, I would

[2019-06-20 11:50] fabiocos commented on #27248
@smuzaffar @chayanit please see #27285

[2019-06-20 11:51] chayanit commented on #27248
Hi @fabiocos, to clarify, we have 1370.xx as noPU samples, while 25215.xx for PU samples which can skip GEN-SIM that produced already by 1370.xx and run directly in DIGI+Reco steps with MinBias.

There could be the case that 1370.xx taking GEN-SIM from previous release using -i all but this is very tricky. I can't think of the better solution to solve this, maybe we can remove INPUT version to for

[2019-06-20 11:53] zucchett opened #27286 "Which format for associating int to jets (ValueMap/TagInfo/...)"
Dear framework experts,

we are considering a novel approach for b-tagging very high pT jets based on the pixel hit multiplicity. We need to add the pixel hit multiplicity information to AOD, which can be limited to 20 integers per jet (4 pixel layers x 5 jet-pixel hit association cones - the char data type can also be used to save space). Before implementing these features, we would like to check

[2019-06-20 11:54] cmsbuild commented on #27286
A new Issue was created by  @zucchett Alberto Zucchetta.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-20 11:58] fabiocos commented on #27248
@chayanit I understand the difference between the two samples, but I do not understand the purpose of it. If we want to test the pLHE specific workflow, starting from an input file does not help. If we want to test samples with PU we have plenty of them already. If we want to make physics checks on the generator, we likely do not need a whole reconstructed sample (and in general RelVals are not th

[2019-06-20 12:06] chayanit commented on #27248
ah ok, now I got your point. The purpose to have pLHE relvals is just to test the whole machinery for MC production, according to this JIRA (https://its.cern.ch/jira/browse/PDMVRELVALS-27). We do not need to check neither physics nor testing sample specific. PPD just want to have one workflow (for 3 MC years) in the list and make sure that the machinery works properly.

[2019-06-20 12:09] fabiocos commented on #27248
@chayanit as I was guessing. At this point one may even wonder why you need to test
 them with PU, in principle this is tested in many other workflows and it factorizes from pLHE

[2019-06-20 12:23] Dr15Jones commented on #27286
assign core, reconstruction

[2019-06-20 12:24] cmsbuild commented on #27286
New categories assigned: core,reconstruction

@Dr15Jones,@smuzaffar,@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-20 12:25] chayanit commented on #27248
@fabiocos, as far as I understood and experienced when I was MC contact, pLHE requests many times cause issues and break the MC production in which we normally produce with PU (even though those are premixing). So I think they just want to have complete set with PU to make sure that it won't break in new releases.

[2019-06-20 12:52] slava77 commented on #26846
It looks like we can make some use of the new PSet feature recently introduced in #27191 . It is available from CMSSW_11_0_X_2019-06-18-1100 and should appear  starting from 11_0_0_pre3.

[2019-06-20 13:08] prebello commented on #27248
@fabiocos PdmV is making some tests to fix it. We will reply soon. Thank you.

[2019-06-20 14:27] slava77 commented on #26846
Now in the SWGuide: https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideAboutPythonConfigFile#Parameters_without_defaults

[2019-06-20 14:43] schneiml opened #27291 "Ordering of `globalEndLuminosityBlockProduce`"
Dear Framework experts,

The manual [1] promises regarding `globalEndLuminosityBlockProduce`

I have reasons to believe that this is a lie.

[code]

Reproducer in [2].

Additional questions: Is there a reason to declare `LuminosityBlockSummary` when we don't really need the cache? I used it simply because it matches what we do, but we can also keep all the data in the (`GlobalCache`'d) `DQMStore`

[2019-06-20 14:43] cmsbuild commented on #27291
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-20 15:13] Dr15Jones commented on #27291
assign core

[2019-06-20 15:14] cmsbuild commented on #27291
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-20 15:15] Dr15Jones commented on #27291
@makortel could you look into this?

[2019-06-20 15:19] makortel commented on #27291
I'll take a look.

[2019-06-20 15:43] makortel commented on #27291
I can reproduce (thanks for the recipe @schneiml).

[2019-06-20 16:48] pcanal commented on #27277
humm it seems to be using:
[code]
which uses
[code]
which is
[code]
which does
[code]
which indeed will always return a nullptr for std::unique_ptr<..>.

[2019-06-20 16:50] pcanal commented on #27277
So it looks like the code in either FWCore/Utilities/src/DictionaryTools.cc or DataFormats/Provenance/src/ProductRegistry.cc:382 needs to tweaked to look at the pointee whenever it sees a raw pointer or a unique_ptr.

[2019-06-20 17:55] makortel commented on #27291
Calls to both `globalEndLuminosityBlockProduce()` and `globalEndLuminosityBlockSummary()` originate from `edm::stream::ProducingModuleAdaptor::doEndLuminosityBlock()`
https://github.com/cms-sw/cmssw/blob/1844a22b8a592316952ccd99e6c3fee085caad54/FWCore/Framework/interface/stream/ProducingModuleAdaptor.h#L189-L193
and the order there is indeed what @schneiml observes.

Digging from the history, the

[2019-06-20 17:56] makortel commented on #27291
@Dr15Jones If you agree, I'll enhance the unit test to test also the order, and switch the order in `ProducingModuleAdaptor`.

[2019-06-20 18:23] makortel commented on #27291
@Dr15Jones global modules seem to have the same issue, calls to both `globalEndLuminosityBlockProduce()` and `globalEndLuminosityBlockSummary()` originate from `edm::global::EDProducerBase::doEndLuminosityBlock()`
https://github.com/cms-sw/cmssw/blob/1844a22b8a592316952ccd99e6c3fee085caad54/FWCore/Framework/src/global/EDProducerBase.cc#L150-L153

[2019-06-20 18:25] makortel commented on #27291
one modules do not have `edm::LuminosityBlockSummaryCache<T>`, so nothing needs to be done there.

[2019-06-20 18:36] makortel commented on #27291
Not surprisingly, limited modules also have the same issue
https://github.com/cms-sw/cmssw/blob/1844a22b8a592316952ccd99e6c3fee085caad54/FWCore/Framework/src/limited/EDProducerBase.cc#L127-L130

[2019-06-20 18:48] dan131riley opened #27293 ""Graceful runtime" incompatible with fast cloning?"
@bbockelm A thread in comp-tools[1] raised the issue that the "graceful runtime" feature in PR #4742 doesn't work well with fast cloning as it can leave branches with different numbers of entries.  We disable fast cloning when a maximum number of events is set, should we do the same when rampdown is configured?  (Since it apparently took almost 5 years for this to show up, it probably isn't very u

[2019-06-20 18:49] cmsbuild commented on #27293
A new Issue was created by  @dan131riley Dan Riley.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-20 19:56] makortel commented on #27291
@Dr15Jones By quick look it seems that we have the same issue with `globalEndRunProduce()` and `globalEndRunSummary()` as well

stream
https://github.com/cms-sw/cmssw/blob/1844a22b8a592316952ccd99e6c3fee085caad54/FWCore/Framework/interface/stream/ProducingModuleAdaptor.h#L140-#L144

global
https://github.com/cms-sw/cmssw/blob/1844a22b8a592316952ccd99e6c3fee085caad54/FWCore/Framework/src/global/EDP

[2019-06-20 20:36] Dr15Jones commented on #27291
@makortel go ahead and make the change.

[2019-06-21 07:36] fabiocos commented on #27293
assign core

[2019-06-21 07:36] cmsbuild commented on #27293
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-21 10:57] fabiocos commented on #27219
Problem fixed

[2019-06-21 10:57] #27219 closed

[2019-06-21 13:53] jfernan2 commented on #25782
@sudhaahuja @phylsix @swagata87 @angirar @DryRun @lbenato @namppl can you please have a look as HLT DQM and Validation code developers for Exotica? Thank you in advance

[2019-06-21 13:58] jfernan2 commented on #24522
Since #24682 was merged, should this issue be closed?

[2019-06-21 14:51] makortel commented on #27291
Fixed in #27306, thanks @schneiml for reporting.

[2019-06-21 17:13] makortel commented on #26748
Another example is in #27292 (with two ESProducers) with `SiStripBackPlaneCorrectionRcd` depending on `TrackerTopologyRcd`, that further depends on `IdealGeometryRecord`, and the code gets `edm::ESGetToken<GeometricDet, IdealGeometryRecord>` from `SiStripBackPlaneCorrectionRcd`.

[2019-06-21 17:53] cmsbuild commented on #27245
The cleanup has started for slc7_amd64_gcc700

[2019-06-21 17:53] cmsbuild commented on #27245
The cleanup has started for slc7_amd64_gcc820

[2019-06-21 17:53] #27245 closed

[2019-06-21 17:58] cmsbuild commented on #27245
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_1-slc7_amd64_gcc700/1375

[2019-06-21 18:09] cmsbuild commented on #27245
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_1-slc7_amd64_gcc820/1376

[2019-06-24 14:30] schneiml commented on #27277
@Dr15Jones @pcanal can we get this fixed on CMSSW side?

[2019-06-25 15:10] schneiml commented on #27291
Thanks for the quick fix!

Though that still leaves me with the question whether I *should* use `globalEnd{LuminosityBlock,Run}Summary`. For now I don't, and that seems to be fine [1], but I wonder if the framework has an opinion there. We *do*  take a (per-`globalCache`) lock for a while there. [2]

[1] Well I am currently debugging a problem where my product's memory gets corrupted, but I hope t

[2019-06-25 15:39] Dr15Jones commented on #27291
First item, never inherit from an std standard container:
https://github.com/cms-sw/cmssw/blob/0cd4bca7aed775df65d999dbb13b813b13fb23ee/DataFormats/Histograms/interface/MonitorElementCollection.h#L247

Second, why make master_ a shared_ptr instead of just holding an instance of the object?
https://github.com/cms-sw/cmssw/blob/0cd4bca7aed775df65d999dbb13b813b13fb23ee/DQMServices/Core/interface/DQME

[2019-06-25 16:44] schneiml commented on #27291
@Dr15Jones
re inheriting from containers: Any specific reasons? I might be fine with a typedef, but forwarding all the interface is not such a big deal either.

re `shared_ptr`: that one is actually shared (between all the edm::stream copies of the module). Each one also has their private instance, but the coordination of sharing MEs that can be filled concurrently is in the master.

re `EDPutToke

[2019-06-25 18:48] Dr15Jones commented on #27291
Inheriting from the std containers is considered very bad form by the world-wide C++ communitee. I'm sure it also violates our new coding guidelines as well. So please do
[code]
A vector is MUCH better to store than a std::set.

What is shared is the DQMStoreGroup. There is no reason then to have its members be a `std::shared_ptr`.

Add it to the DQMStoreGroup.

[2019-06-25 19:50] Dr15Jones commented on #27277
@makortel could you look into this?

[2019-06-25 19:56] makortel commented on #27277
@Dr15Jones Will do.

[2019-06-25 20:40] #27291 closed

[2019-06-25 21:28] makortel commented on #27277
I wonder if `TypeWithDict::byName()` would be a good place for stripping off the `unique_ptr`. It seems to be doing the job already for e.g. raw pointers
https://github.com/cms-sw/cmssw/blob/9ef01ce62c21a09cf614bc1b0d8263ce21251386/FWCore/Reflection/src/TypeWithDict.cc#L112-#L124

Do we have tests for `TypeWithDict`?

[2019-06-26 08:15] ianna opened #27343 "Add a Production Cut on Proton equal to the one on Electron for MTD, Tracker and CTPPS"
See #27299

[2019-06-26 08:15] cmsbuild commented on #27343
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-26 08:18] schneiml commented on #27291
I agree, but I cannot allow a copy (or even move [1]) constructor in `MonitorElementData`. It contains a mutex and a ROOT object pointer.

What we should use is any collection of `unique_ptr<MonitorElementData>`, but #27277.

Also, having order enforced is a nice thing, but we could also do that on a vector (and the query using the free `std::lower_bound` should work about the same).

That is true

[2019-06-26 09:03] kpedro88 commented on #27343
assign geometry,simulation

[2019-06-26 09:03] kpedro88 commented on #27343
@ianna what about HGCal?

[2019-06-26 09:04] cmsbuild commented on #27343
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-26 09:32] kpedro88 commented on #27343
HGCal is already addressed in the aforementioned PR

[2019-06-26 10:18] schneiml commented on #27291
Update: Implemented some of that.

Though the token story is not so simple, I cannot create them in the constructor since I cannot rely on the subsystem subclasses to pass the GlobalCache on to me. So instead I build this hack, which seems to work, but I'd like explicit approval for that (or suggestions for alternatives, as usual).
https://github.com/cms-sw/cmssw/blob/1050b2ee76c948f7270aa5455b5fa

[2019-06-26 13:39] schneiml commented on #27291
Update2: I tried to move to a vector-backed version of `MonitorElementCollection`. But, as long as we cannot have products with pointers this is pointless, ROOT (?) requires the elements to be copyable (STL would be fine with moveable, as I understand), and when provided with a copy constructor the vector implementation will also happily call it all the time.

Now, my reason to look into that was

[2019-06-26 14:40] schneiml commented on #27277
FYI: I found a different, but related bug, reported over there: https://github.com/cms-sw/cmssw/issues/27291#issuecomment-505879046
I think actually I need that one fixed.

[2019-06-26 14:48] Dr15Jones commented on #27291
I personally wouldn't make `DQMStore` know about `DQMStoreGroup`. Instead, since `DQMStore` is local to a module it is not unreasonable to say that the DQMStore::DQMStoreMaster has to live longer than the `DQMStore`. With that policy, you could just pass a `DQMStore::DQMStoreMaster*` to the `DQMStore`. I personally find setting strict 'ownership' and 'referencing' policies to usually be superior t

[2019-06-26 15:02] schneiml commented on #27291
Thanks @Dr15Jones, the two-phased approach seems reasonable.

For the `DQMStoreMaster`, making the `DQMStore` aware of it is worth it, I think, if only to give the mutex a nice place. As far as I see there is no _pointer to thing and a mutex to access it_ type in stl, which is really what I would like there.

Moving to hierarchical ownership is something that came to mind, but if I can guarantee s

[2019-06-27 02:26] jkotrc opened #27371 "Build CMSSW_7_6_7"

[2019-06-27 02:27] cmsbuild commented on #27371
No architecures to build found for CMSSW_7_6_7. Please check that you entered a valid release name or that the IBs are currently enabled for CMSSW_7_6_X

[2019-06-27 07:38] fabiocos commented on #27343
I do not fully follow the logic choice of detectors to be updated first, anyway with this PR we can track is left to be done.

@vargasa @jan-kaspar please see the needs of Tracker and CTPPS

[2019-06-27 08:23] Martin-Grunewald opened #27372 "Move PR tests to 2021 workflows in CMSSW_11"
With PR ttps://github.com/cms-sw/cmssw/pull/27331, the HLT menu used for @relval2018 becomes the stripped down Fake2 menu (as was done for @relval2017 about a year ago),
no longer GRun (full menu).
There is now @relval2021 which points to the GRun menu incorporating Run-3 changes.
Thus, PR validation workflows should be changed to use 2021 workflows, rather than 2018 workflows (CMSSW_11 only).

[2019-06-27 08:24] cmsbuild commented on #27372
A new Issue was created by  @Martin-Grunewald Martin Grunewald.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-27 10:28] perrotta opened #27374 "Fix jets with crazy momenta in miniAOD"
BoostedDoubleSVProd is experiencing some crash in nanoAOD productions from miniAOD, see  https://its.cern.ch/jira/browse/CMSCOMPPR-6445

The origin of the crash was identified as due to subjets components that have nan's in their momenta values. A debug of one such case revealed that those subjets with nan's were originating from jets having crazy momenta (|p|=82 TeV in the example pinpointed in #

[2019-06-27 10:28] perrotta commented on #27374
assign reconstruction

[2019-06-27 10:28] cmsbuild commented on #27374
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-27 10:28] cmsbuild commented on #27374
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-27 10:33] perrotta commented on #27286
Dear @zucchett, will you or one of the other proponents be able to join or connect to the reco meeting tomorrow (https://indico.cern.ch/event/830302), so that you can shortly present the issue and have it discussed there? There is still room in agenda, and I can add a slot for you.

[2019-06-27 11:34] kpedro88 commented on #27372
assign pdmv

[2019-06-27 11:34] cmsbuild commented on #27372
New categories assigned: pdmv

@pgunnell,@prebello,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-27 15:31] zucchett commented on #27286
Yes, we can prepare few slides to explain our case and discuss the solutions.

[2019-06-27 15:40] Dr15Jones commented on #27275
fixed in #27384

[2019-06-27 15:41] Dr15Jones commented on #27275
assign alca

[2019-06-27 15:41] cmsbuild commented on #27275
New categories assigned: alca

@christopheralanwest,@franzoni,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-27 16:41] hqucms commented on #25230
@slava77
In some recent studies, we found that there is a significant difference (4-5x) between standalone MXNet and MXNet in CMSSW in the inference speed. After some investigation, the cause seems to be the linking with the BLAS library. The standalone MXNet is statically linked to OpenBLAS. The one in CMSSW, despite being dynamically linked to OpenBLAS [0], seems not calling into OpenBLAS when r

[2019-06-27 17:09] perrotta commented on #27286
I have added a 10' slot for you at the end of tomorrow's reco meeting agenda for discussing this issue:
https://indico.cern.ch/event/830302/

[2019-06-27 17:27] slava77 commented on #25230
@mrodozov @smuzaffar @fabiocos
please take a look and comment on https://github.com/cms-sw/cmssw/issues/25230#issuecomment-506422754
It looks like we have multiple libraries providing the symbols and perhaps the libopenblas.so should replace the rest

[2019-06-28 07:21] emiglior commented on #26938
@fabiocos @pwittich @ghugo83  please keep in mind that the main motivation for introducing T15 "now" was to check using RelVals the effect on tracking of some of the proposed engineering solutions.
Some of these solutions evolved in the meanwhile and the effort is to keep the material bill in between the T14 and T15 scenarios.

[2019-06-28 07:46] smuzaffar commented on #25230
@slava77 , looks like root MathMore library (which was loaded first) is linked against gslcblas. We are lokking in to root configuration to see if it can use openblas.

[2019-06-28 10:03] davidlange6 opened #27393 "Developers overriding production location for retrieving conditions in configurations"
Breaks centrally determined location for retrieving conditions (which of course can change even if it rarely does). All of these should rely on the global tag to determine from where the conditions are to be taken (or they should not be loaded into production workflows)

https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/L1Trigger/L1TMuon/python/simGmtStage2Digis_cfi.py#

[2019-06-28 10:03] cmsbuild commented on #27393
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-28 10:03] davidlange6 commented on #27393
assign l1,db,reco

[2019-06-28 10:04] cmsbuild commented on #27393
New categories assigned: db,l1

@ggovi,@benkrikler,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-28 10:05] davidlange6 commented on #27393
assign reconstruction

[2019-06-28 10:05] cmsbuild commented on #27393
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-28 10:24] ggovi commented on #27393
My personal opinion is that a cfg file containing a Condition Customization ( defined with one or more toGet statements ) should be NEVER invoked ( directly or included ) in a production workflow, since:
- it overrides the mapping record/tag provided by the official Global Tag, referencing some Tag that could stay outside the control ( in terms of testing and validation )
- it potentially breaks r

[2019-06-28 10:57] slava77 commented on #27374
in which jet collection are these jets and does the problem come from miniAOD or from AOD?

[2019-06-28 12:09] slava77 commented on #27393
for cmssw/RecoTauTag/RecoTau/python/tools/runTauIdMVA.py
@mbluj @steggema @swozniewski please comment and perhaps follow up with a resolution

[2019-06-28 12:17] fabiocos commented on #27393
for the L1Trigger instances: @rekovic could you please address this issue?

[2019-06-28 12:32] andrzejnovak commented on #27374
https://github.com/cms-sw/cmssw/blob/master/RecoBTag/TensorFlow/test/test_deep_doublex_cfg.py#L48

[2019-06-28 12:38] ggovi commented on #27393
Can we add alca in this loop?

[2019-06-28 12:40] kpedro88 commented on #27393
assign alca

[2019-06-28 12:41] cmsbuild commented on #27393
New categories assigned: alca

@christopheralanwest,@franzoni,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-06-28 12:47] mrodozov commented on #25230
@hqucms
 File is not there anymore, would you put it somewhere on afs or any other place we can copy it so we can test with CMSSW pls ?
Thanks

[2019-06-28 12:55] perrotta commented on #27374
Curiously enough, in the same miniAOD input file there are also a few CaloJets with about 80/90 TeV energy:
![CaloJets](https://user-images.githubusercontent.com/4069749/60343601-a8670e80-99b4-11e9-9a64-e6a399fcce76.jpg)

[2019-06-28 13:52] mbluj commented on #27393
Hello,
comments on https://github.com/cms-sw/cmssw/blob/82c4a527471bca6fc4897fd4feb3f7d7fcb73928/RecoTauTag/RecoTau/python/tools/runTauIdMVA.py#L41
1. TauID payloads, i.e. BDT training files and pt-dependent WP definitions, are mapped via python configuration file `RecoTauTag/Configuration/python/loadRecoTauTagMVAsFromPrepDB_cfi.py` rather than via a GlobalTag. In fact the payloads do not define w

[2019-06-28 14:19] hqucms commented on #25230
Thank you for looking into this!
@mrodozov I copied the file to my EOS space:
/eos/cms/store/user/hqu/forTesting/TT-M1000.root

[2019-06-28 14:45] makortel commented on #27277
I have now fixed
* what @pcanal suggested in https://github.com/cms-sw/cmssw/issues/27277#issuecomment-504100606
* the underscore from `std::default_delete` @schneiml reported in https://github.com/cms-sw/cmssw/issues/27291#issuecomment-505879046

I'm testing producing `std::vector<std::unique_ptr<int>>` and have added dictionary to be generated for `edm::Wrapper<std::vector<std::unique_ptr<int>>>

[2019-06-28 14:47] makortel commented on #27277
@schneiml

Actually `std::shared_ptr` should work already (as does `std::unique_ptr` in some cases at least) since we do have a "friendly-name" translation for `std::shared_ptr` and `std::unique_ptr`. What you discovered in https://github.com/cms-sw/cmssw/issues/27291#issuecomment-505879046 is that the default template argument to the deleter of `std::unique_ptr`, i.e. `std::default_delete`, needs

[2019-06-28 15:18] Dr15Jones opened #27401 "UBSAN does not like std::make_shared"
Doing a very simple test

https://godbolt.org/z/R1EJNZ

shows that compiling with UBSAN and then using a std::make_shared gives reports of the form
[code]

Therefore when looking at UBSAN reports, we will have lots of false positives coming from our use of `std::make_shared`.

[2019-06-28 15:18] cmsbuild commented on #27401
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-06-28 15:41] smuzaffar commented on #25230
https://github.com/cms-sw/cmsdist/pull/5063 should allow us to link against `openblas` instead of `gslcblas`. Once integrated in IB then we will inform you so that you can re-run the tests

[2019-06-28 16:45] pcanal commented on #27277
FYI, std::shared_ptr is not yet support by the I/O.

[2019-06-28 16:46] pcanal commented on #27277
In the generated source file, what is the spelling used?

[2019-06-28 18:53] makortel commented on #27277
@pcanal
So in the `classes_def.xml` I added
[code]
and the `DataFormatsWrappedStdDictionaries_xr.cc` has e.g.
[code]

[2019-06-30 13:40] makortel commented on #26748
https://github.com/cms-sw/cmssw/pull/27413 is another RFC PR for a similar case. The PR has one ESProducer, which decides which of the configured payloads to use based on `m_avg_current` member of `RunInfo` ESProduct.

[2019-07-01 08:25] fabiocos opened #27417 "Test wf 20234.99 frequently failing in HGCal validation"
In recent days, starting with CMSSW_11_0_X_2019-06-27-1100, test wf 20234.99 (old scenario D17 with PU) has started to frequently fail with a TimeOut error:
[code]
This issues appears after the integration of #27337, where the HGCal validation code was updated. Even if the module does not fail, one should compare the TimeReport before this update
[code]
with that for instance in CMSSW_11_0_X_2019-

[2019-07-01 08:25] cmsbuild commented on #27417
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-01 08:27] fabiocos commented on #27417
assign dqm,upgrade

@apsallid FYI

[2019-07-01 08:27] cmsbuild commented on #27417
New categories assigned: dqm,upgrade

@jfernan2,@andrius-k,@schneiml,@fioriNTU,@kmaeshima,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-01 08:42] fabiocos commented on #27417
@kpedro88 we have few Phase2 tests with PU so far in the IB:
[code]
and in 27634.21 (scenario D35) as far as I can see the hgcalValidation does not seem to run:
[code]
Is this desired/done on purpose? I would imagine it is not...

[2019-07-01 13:12] slava77 commented on #27393
+1

the only case affecting reco is clarified in https://github.com/cms-sw/cmssw/issues/27393#issuecomment-506741888
this looks like a reasonable use case for private tests, which does not affect the production setup.

[2019-07-01 16:07] kpedro88 commented on #27417
@fabiocos yes, DQM is deliberately disabled in the 27634.21 "prod-like" workflow. This one is designed to be used for profiling (but we haven't finished setting up the other components yet).

[2019-07-01 16:35] fabiocos commented on #27417
@kpedro88 ok, because that workflow is meant to mimic the prod workflow. I would at this point suggest to have a more modern scenario anyway where to probe validation with PU

[2019-07-01 16:37] kpedro88 commented on #27417
I'll update that in the course of the big cleanup (when all the WF numbers will change anyway)

[2019-07-01 21:05] smuzaffar commented on #25230
@slava77  and @hqucms , running this test with  cms-sw/cmsdist#5063 I get these numbers

TimeReport   0.003751     0.003751     0.003751  pfDeepBoostedJetTags
TimeReport   0.003788     0.003788     0.003788  pfMassDecorrelatedDeepBoostedJetTags

@slava77 , if you need to test it then I can include it in GCC 8 IBs.

[2019-07-01 21:16] kpedro88 commented on #25230
It would be great to backport this to 10_6_X so UL reco and analysis can profit from the speed improvement.

[2019-07-02 05:10] slava77 commented on #25230
tests in  cms-sw/cmsdist#5063 showed a small regression in some b-tag discriminant.
We need to understand the origins of that before merging to the master branch or backporting.

[2019-07-02 10:27] hqucms commented on #25230
Thank you @smuzaffar !
These numbers are consistent with my tests -- they are better than the ones I quote in https://github.com/cms-sw/cmssw/issues/25230#issuecomment-506422754, which I think is due to the enabling of `DYNAMIC_ARCH`.

[2019-07-02 12:57] fabiocos commented on #25230
@kpedro88 @slava77 as the production for 2017 UL is about to start, if this is not merely technical we need to understand up to which point we may afford to backport things

[2019-07-02 13:08] slava77 commented on #25230
The impact of cms-sw/cmsdist#5063 is small for the UL.
The backports may be more important for the releases where these taggers have to run in nano.

[2019-07-02 13:23] davidlange6 commented on #27393
these are the payloads that were needed to run digi+reco without frontier - it does contradict the conclusion of @slava77 and @mbluj

https://gitlab.cern.ch/hep-benchmarks/hep-workloads/blob/cae5bd13ac1aaf3df01f224db642f2c00df26d93/cms/reco/cms-reco/generate_GlobalTag.sh

[2019-07-02 13:31] slava77 commented on #27393
please elaborate what's in this file.
Thank you.

[2019-07-02 13:34] davidlange6 commented on #27393
all the payloads not in the GT that without which a digi-reco-miniaod workflow will not run

[2019-07-02 13:36] davidlange6 commented on #27393
which I think is not to say (if or if not) they are actually read and used..but rather that our applications depend on them being present to function - perhaps due to purely technical reasons

[2019-07-02 13:36] davidlange6 commented on #27393
(sorry, didn't mean to close this)

[2019-07-02 13:43] slava77 commented on #27393
I think that the origin is in https://github.com/cms-sw/cmssw/blob/82c4a527471bca6fc4897fd4feb3f7d7fcb73928/RecoTauTag/Configuration/python/loadRecoTauTagMVAsFromPrepDB_cfi.py#L5

not in the https://github.com/cms-sw/cmssw/blob/82c4a527471bca6fc4897fd4feb3f7d7fcb73928/RecoTauTag/RecoTau/python/tools/runTauIdMVA.py#L41

[2019-07-02 13:45] mbluj commented on #27393
Sorry, but I am lost... The "tau" payloads are used by tauIDs, but they are not mapped via a GlobalTag, but as defined in a python configuration file (cfi). In my understanding the original issue was the fact that there are in CMSSW configuration files or python tools modifying location for retrieving such payloads, but as I already wrote it is **not the case** for the "tau" payloads.

[2019-07-02 13:52] schneiml opened #27424 "GetterOfProducts and required products"
Dear framework experts,

the new DQM prototype uses `GetterOfProducts` as suggested by @wddgit and this fundamentally seems to work fine. However, now I have a number of questions on how dependencies are handled.

First the idea of how things should work: The DQM source modules (100's) are `EDProducers` producing products of type `MonitorElementCollection` (all products will be of that type) with

[2019-07-02 13:52] cmsbuild commented on #27424
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-02 13:53] mbluj commented on #27393
Yes, I confirm this. If one finds it potentially danger that the connection string of the "tauDB service" (ESSource) is defined independently from the service (ESSource) used by GlobalTag we can correct it by cloning the service used by GlobalTag, so that the tauDB ESSource will be linked to GlobalTag's one.

[2019-07-02 13:56] Dr15Jones commented on #27424
Assign core

[2019-07-02 13:56] Dr15Jones commented on #27424
@wddgit could you look into these questions?

[2019-07-02 13:56] cmsbuild commented on #27424
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-02 13:58] davidlange6 commented on #27393
so the concept of reading db payloads outside of the GT was discussed and approved by alca/db or this was just done without consulting them?

[2019-07-02 14:06] mbluj commented on #27393
It is in CMSSW since 2013 or so... I guess it was agreed, but as I have not participated directly in this development I cannot be entirely sure. Regardless, nowadays the question can be if it is OK for alca/db to stay with what is in CMSSW for long time, and if it is not fine how to migrate this to GT (with some schedule).

[2019-07-02 14:12] wddgit commented on #27424
@Dr15Jones   OK. I will take a look this morning.

[2019-07-02 14:12] mbluj commented on #27393
BTW, payloads with training weights of BDT-based tauIDs were put to DB to replace the (.root) files containing the weights as the files are not easy for handling. Currently training files for DNN-based algorithms (b-tagging, tauID, etc.) are again outside DB and hence not controlled by GT...

[2019-07-02 14:14] slava77 commented on #27393
https://hypernews.cern.ch/HyperNews/CMS/get/swDevelopment/3215/1/2/2/1/1/2/1/1.html

[2019-07-02 14:15] slava77 commented on #27393
@mmusich do you have a record of what happened since after https://hypernews.cern.ch/HyperNews/CMS/get/swDevelopment/3215/1/2/2/1/1/2/1/1.html
?
Please check/comment.
Thank you.

[2019-07-02 14:29] mbluj commented on #27393
Thank you Slava! Now the situation is more or less clear: the tauID payloads are in appropriate DB, but still not under GT control. Can mapping of the payloads added to GT or are already there? When it is done we can remove mapping from cfi.

[2019-07-02 14:30] schneiml commented on #27424
@wddgit oops, [3] did not work originally. Fixed.

[2019-07-02 14:38] mmusich commented on #27393
Hi @slava77, so, as far as I recall the problem with this issue is that there is a very large amount of tau (payloads, labels) pairs to manage in GT.  Including them in GT would roughly speaking double the size of the Global Tag.
At the time of the HN message with the old condition management system including 150 tag/labels would have taken simply too much time (not to speak of the fatigue of maki

[2019-07-02 14:55] mbluj commented on #27393
I am dealing with the cfi file, so I can easily agree that the work is not fun, but when it is done it will be much less work in future. Anyway, LS2 is good occasion to clean tauID payloads - many are kept only for backward compatibility and there is not need to add them to GT -- to be discussed with tau conveners @steggema, @rmanzoni, @roger-wolf. Maybe CondFormat can be redone too, but it surely

[2019-07-02 15:04] makortel opened #27427 "Segfault in edm::checkForModuleDependencyCorrectness()"
A simple configuration
[code]
leads to a segfault in `edm::checkForModuleDependencyCorrectness()`:
[code]

Thanks to @slava77 for reporting the issue (from which the configuration above is a simple reproducer)

[2019-07-02 15:04] cmsbuild commented on #27427
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-02 15:05] makortel commented on #27427
@Dr15Jones I'm going to take a look

[2019-07-02 15:12] Dr15Jones commented on #27427
assign core

[2019-07-02 15:12] cmsbuild commented on #27427
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-02 15:53] makortel commented on #27427
The problem is here
https://github.com/cms-sw/cmssw/blob/6afa4832de9410b7594a67bc010d8909afa8f5b4/FWCore/Framework/src/throwIfImproperDependencies.cc#L172
with `m_stack.size()` being `0`.

[2019-07-02 15:56] fabiocos opened #27429 "Build CMSSW_9_3_15_patch2"

[2019-07-02 15:56] cmsbuild commented on #27429
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-02 15:58] fabiocos commented on #27429
+1

[2019-07-02 15:58] cmsbuild commented on #27429
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_15_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2019-07-02 15:58] cmsbuild commented on #27429
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-07-02 16:00] cmsbuild commented on #27429
The build has started for slc6_amd64_gcc630 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2078/console
CMSDIST Branch: [REL/CMSSW_9_3_15/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_15/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-02 16:00] cmsbuild commented on #27429
The build has started for slc7_amd64_gcc630 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2079/console
CMSDIST Branch: [REL/CMSSW_9_3_15/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_15/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-02 16:22] makortel commented on #27427
@Dr15Jones I'm tempted to add
[code]
before the aforementioned line. It fixes this case, unit tests of FWCore/Framework and FWCore/Integration pass, but I'm still not fully sure if this is the real fix.

[2019-07-02 16:42] cmsbuild commented on #27429
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch2-slc7_amd64_gcc630/2079
Some t

[2019-07-02 16:43] cmsbuild commented on #27429
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch2-slc6_amd64_gcc630/2078
Some t

[2019-07-02 17:38] cmsbuild commented on #27429
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch2-slc7_amd64_gcc630/2079

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-07-02 17:41] cmsbuild commented on #27429
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch2-slc6_amd64_gcc630/2078

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-07-02 19:17] wddgit commented on #27424
I am not sure I answered your question. But take a look at what is below and if something is still unclear please ask again and I will look at it some more and try again. And if there is some bug in the Framework behavior we really want to know about it so we can fix it. Hope this helps.

First of all, neither consumes nor GetterOfProducts will complain if a product is not there. This is by design

[2019-07-02 19:31] wddgit commented on #27424
Sigh. I am not thinking clearly today. We are discussing run and luminosity products. Unscheduled behavior only applies to events. begin/end run/lumi methods are always called.

[2019-07-03 07:26] fabiocos commented on #27429
upload all

[2019-07-03 07:27] cmsbuild commented on #27429
Queing Jenkins upload for slc6_amd64_gcc630

[2019-07-03 07:27] cmsbuild commented on #27429
Queing Jenkins upload for slc7_amd64_gcc630

[2019-07-03 07:28] cmsbuild commented on #27429
The upload has started for slc6_amd64_gcc630 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1362/console

[2019-07-03 07:28] cmsbuild commented on #27429
The upload has started for slc7_amd64_gcc630 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1363/console

[2019-07-03 07:29] cmsbuild commented on #27429
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_15_patch2-slc7_amd64_gcc630/1363

[2019-07-03 07:29] cmsbuild commented on #27429
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_15_patch2-slc6_amd64_gcc630/1362

[2019-07-03 07:32] fabiocos commented on #27429
release-notes

[2019-07-03 07:33] cmsbuild commented on #27429
Generating release notes since CMSSW_9_3_15_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-03 07:33] cmsbuild commented on #27429
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_15_patch2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_15_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_15_patch2

Cheers,
cms-bot

You can also click

[2019-07-03 07:33] fabiocos opened #27431 "Build CMSSW_10_6_1_patch1"

[2019-07-03 07:33] cmsbuild commented on #27429
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_15_patch2

[2019-07-03 07:34] cmsbuild commented on #27431
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-03 07:35] schneiml commented on #27424
Ah. That answers one big part of the question.

Ok, this is well possible. I somehow thought the framework produced these messages already at the scheduling stage, but it is a longe time that I actually saw one of them.

Ok, I'll probably do that.

I'll give that a try. Actually my confusion was mostly because I expected the run/lumi transitions not to be called when unscheduled and not needed, an

[2019-07-03 07:35] #27424 closed

[2019-07-03 09:58] fabiocos commented on #27431
+1

[2019-07-03 09:59] cmsbuild commented on #27431
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_1_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-07-03 09:59] cmsbuild commented on #27431
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-07-03 10:01] cmsbuild commented on #27431
The build has started for slc7_amd64_gcc700 in cmsbuild90.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2080/console
CMSDIST Branch: [REL/CMSSW_10_6_1/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_1/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-03 10:02] cmsbuild commented on #27431
The build has started for slc7_amd64_gcc820 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2081/console
CMSDIST Branch: [REL/CMSSW_10_6_1/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_1/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-03 10:23] schneiml opened #27434 "getMany in OutputModule"
Dear framework experts,

while converting the `DQMRootOuptutModule` to work with the new DQM products, I hit the problem that the `edm::RunForOutput` et. al. seem to not support `getManyByType`.

Trying to use the `GetterOfProducts` instead (which is slightly overkill here, `getManyByType` would suffice) fails because `callWhenNewProductsRegistered` does not exist for the `OutputModule`.

Sample c

[2019-07-03 10:23] cmsbuild commented on #27434
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-03 10:53] cmsbuild commented on #27431
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch1-slc7_amd64_gcc820/2081
Some t

[2019-07-03 10:57] cmsbuild commented on #27431
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch1-slc7_amd64_gcc700/2080
Some t

[2019-07-03 12:42] Dr15Jones commented on #27434
@wddgit please explain how outputCommands work in OutputModules.

[2019-07-03 13:07] cmsbuild commented on #27431
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch1-slc7_amd64_gcc700/2080

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-03 13:16] cmsbuild commented on #27431
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_1_patch1-slc7_amd64_gcc820/2081

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-03 13:21] fabiocos commented on #27431
update all

[2019-07-03 13:21] fabiocos commented on #27431
upload all

[2019-07-03 13:21] cmsbuild commented on #27431
Queing Jenkins upload for slc7_amd64_gcc700

[2019-07-03 13:21] cmsbuild commented on #27431
Queing Jenkins upload for slc7_amd64_gcc820

[2019-07-03 13:23] cmsbuild commented on #27431
The upload has started for slc7_amd64_gcc700 in cmsbuild90.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1364/console

[2019-07-03 13:24] cmsbuild commented on #27431
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_1_patch1-slc7_amd64_gcc700/1364

[2019-07-03 13:25] cmsbuild commented on #27431
The upload has started for slc7_amd64_gcc820 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1365/console

[2019-07-03 13:26] cmsbuild commented on #27431
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_1_patch1-slc7_amd64_gcc820/1365

[2019-07-03 13:30] makortel commented on #27427
@Dr15Jones I tried to reproduce the problem also with unit tests in https://github.com/cms-sw/cmssw/blob/master/FWCore/Framework/test/throwIfImproperDependencies_t.cppunit.cc
with
[code]
but that succeeds. I took a look what is different between the unit test and cmsRun, and found out that the `iPathIndexToModuleIndexOrder` used in
https://github.com/cms-sw/cmssw/blob/e53969d701b24787b5b62bfe835d9

[2019-07-03 13:32] fabiocos commented on #27431
release-notes

[2019-07-03 13:32] cmsbuild commented on #27431
Generating release notes since CMSSW_10_6_1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-07-03 13:32] cmsbuild commented on #27431
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_1_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_1_patch1

Cheers,
cms-bot

You can also click <a href

[2019-07-03 13:33] cmsbuild commented on #27431
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_1_patch1

[2019-07-03 13:55] mbluj commented on #27393
Just to let you know: tau POG is starting an effort to finally map our payloads via GT. This will go together with review of tauIDs (this should reduce no. of payloads to map) which is anyway scheduled for this Summer. I hope you will hear more about this at next Reco/AT meeting.

[2019-07-03 15:01] fabiocos commented on #27417
Running the Timing Service on 10 events of workflow 20234.99:

[code]

where

[code]

and

[code]

Running igprof PERF_TICKS analysis on the first event (taking forever):

[code]

[2019-07-03 15:10] fabiocos commented on #27417
@apsallid the problem looks clearly located in https://cmssdt.cern.ch/lxr/source/Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc#1644
Is there any progress? Otherwise I think it makes sense to temporarily revert #27337, as it is now it looks unmanageable on samples with PU

[2019-07-03 17:10] wddgit commented on #27434
I am coming into this discussion not knowing all the context and I am not quite sure now deep and detailed an answer is needed. Please ask more if this does not answer the question or if you have more questions. @Dr15Jones if this is not what you had in mind or If you want me to spend time to give a more detailed answer, let me know.

OutputModule classes are configurable with an interface that lo

[2019-07-03 17:35] schneiml commented on #27434
Thanks @wddgit. Since I don't know much about output modules (and there seems to be no FW Guide page on how to write them, and there are also not too many examples to look at...) I don't get much about the terminology there, but I'll have a look tomorrow.

Some differences to the `PoolOutputModule` that might be relevant:
- The `DQMRootOutputModule` only cares about products of a single type, `Mon

[2019-07-03 19:24] wddgit commented on #27434
As far as I know, there is no documentation about writing output modules. It is a rare activity and each case seems to be different. The only way forward seems to be studying the OutputModule base class code, PoolOutputModule as an example, and the DQMRootOutputModule code.

Unless there are changes in the Framework code, I agree that getManyByType and GetterOfProducts are not going to work in an

[2019-07-03 21:07] apsallid commented on #27417
@fabiocos
Unfortunately, I am away and I cannot look for the next few days into it. My suspicion is that this is due to the current multicluster algorithm which could easily produce above 100 multiclusters from a simple single photon particle gun of 35 GeV. I imaging what this could do with PU. With TICL multiclusters i personally expect that this should not happen (@rovere , @felicepantaleo , @am

[2019-07-04 07:15] fabiocos opened #27437 "Build CMSSW_11_0_0_pre3"

[2019-07-04 07:16] cmsbuild commented on #27437
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-07-04 07:17] fabiocos commented on #27437
build cmssw-tool-conf

[2019-07-04 07:17] cmsbuild commented on #27437
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-07-04 07:18] cmsbuild commented on #27437
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2082/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-04 07:18] cmsbuild commented on #27437
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild21.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2083/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-04 07:19] cmsbuild commented on #27437
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2084/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-04 07:19] cmsbuild commented on #27437
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2085/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-04 08:44] schneiml commented on #27434
Quick status update:
- I dug a bit in the `PoolOuptutModule` and its base classes, and found `keptProducts()`, which is accessible and populated automatically by the base class and contains the tokens that I am looking for.
- However, for a product to ever make it there, the product needs to be `persistent="true"` in `classes_def.xml`. To my suprise, it is possible to make the DQM products persist

[2019-07-04 09:28] fabiocos commented on #27417
@apsallid for what I can see, the time is spent into the final loop over caloparticles starting in https://cmssdt.cern.ch/lxr/source/Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc#2077

[2019-07-04 09:53] cmsbuild commented on #27437
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc700/2082

[2019-07-04 10:37] cmsbuild commented on #27437
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc900/2084

[2019-07-04 10:47] cmsbuild commented on #27437
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc820/2083

[2019-07-04 12:20] smuzaffar commented on #27437
@fabiocos , if you +1 here then it will start building pre3 with new externals (https://github.com/cms-sw/cmsdist/pull/5063 )

[2019-07-04 13:38] slava77 commented on #27374
So, it's slimmedJetsAK8. (IIRC, this is based on PUPPI).
The question is if this comes from AOD or does this appear in PUPPI in miniAOD ?

[2019-07-04 13:44] fabiocos commented on #27437
build cmssw-tool-conf

[2019-07-04 13:45] fabiocos commented on #27437
+1

@smuzaffar ok, let's go directly for the complete build

[2019-07-04 13:45] cmsbuild commented on #27437
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-07-04 13:45] cmsbuild commented on #27437
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2019-07-04 13:47] cmsbuild commented on #27437
The build has started for slc7_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2086/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-04 13:47] cmsbuild commented on #27437
The build has started for slc7_amd64_gcc820 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2087/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-04 13:47] cmsbuild commented on #27437
The build has started for slc7_amd64_gcc900 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2088/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-04 13:48] cmsbuild commented on #27437
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2089/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-07-04 16:00] ianna opened #27443 "Simulation: ECal Barrel Overlaps"
Starting Ecal detector description migration from DD to DD4hep it should be noted that there is a number of overlaps (e.g. 37 extrusions of a 0.02 cm) detected in the ECal barrel geometry description using CMSSW_11_0_X_2019-07-04-1100 IB and 2017 geometry scenario:
<img width="1002" alt="Screen Shot 2019-07-04 at 17 54 30" src="https://user-images.githubusercontent.com/1390682/60678572-32b3e480-9e

[2019-07-04 16:01] ianna commented on #27443
assign simulation

[2019-07-04 16:01] cmsbuild commented on #27443
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-07-04 16:01] cmsbuild commented on #27443
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-04 19:22] cmsbuild commented on #27437
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc900/2088
Some tes

[2019-07-04 20:40] cmsbuild commented on #27437
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc820/2087
Some tes

[2019-07-04 21:14] cmsbuild commented on #27437
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc900/2088

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-04 21:41] cmsbuild commented on #27437
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc700/2086
Some tes

[2019-07-04 22:48] cmsbuild commented on #27437
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc820/2087

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-04 23:40] cmsbuild commented on #27437
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_amd64_gcc700/2086

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-07-05 03:06] cmsbuild commented on #27437
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre3-slc7_aarch64_gcc700/2089
Some

[2019-07-05 05:38] cmsbuild commented on #27429
The cleanup has started for slc6_amd64_gcc630