[2015-12-16 01:21] cmsbuild commented on #12803
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/500/console
CMSDIST Branch: [REL/CMSSW_7_4_15/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_4_15/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-16 02:19] cmsbuild commented on #12803
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_4_15_patch2-slc6_amd64_gcc491/500
Some te

[2015-12-16 02:30] cmsbuild commented on #12803
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_4_15_patch2-slc6_amd64_gcc491/500

Tests results:
8 6 3 2 2 0 0 tests passed, 2 2 3 0 0 0 0 failed

[2015-12-16 04:02] slava77 commented on #12803
oops.
the external is missing: https://github.com/cms-sw/cmsdist/pull/1935 was in IBs since a while (Nov 2), but that's not long ago enough to be in 7_4_15 (Oct 12 build)

[2015-12-16 05:04] davidlange6 commented on #12803
abort

[2015-12-16 05:04] davidlange6 opened #12804 "Build CMSSW_7_4_16"

[2015-12-16 05:04] davidlange6 commented on #12803
ah - i’ll build a full build then

[2015-12-16 05:04] cmsbuild commented on #12803
Deleting CMSSW_7_4_15_patch2:

  -Release successfully deleted

  -cmssw tag CMSSW_7_4_15_patch2 successfully deleted.

  -cmsdist tag REL/CMSSW_7_4_15_patch2/slc6_amd64_gcc491 successfully deleted.

You must create a new issue to start over the build.

[2015-12-16 05:05] cmsbuild commented on #12804
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-16 05:09] davidlange6 commented on #12804
+1

[2015-12-16 05:09] cmsbuild commented on #12804
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_4_16. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_4_X

[2015-12-16 05:09] cmsbuild commented on #12804
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-12-16 05:10] cmsbuild commented on #12804
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/501/console
CMSDIST Branch: [IB/CMSSW_7_4_X/root6](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_4_X/root6), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-16 08:20] cmsbuild commented on #12804
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_4_16-slc6_amd64_gcc491/501
Some tests ( r

[2015-12-16 08:34] #12803 closed

[2015-12-16 08:42] cmsbuild commented on #12804
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_4_16-slc6_amd64_gcc491/501

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-12-16 08:50] davidlange6 commented on #12804
upload all

[2015-12-16 08:50] cmsbuild commented on #12804
Queing Jenkins upload for slc6_amd64_gcc491

[2015-12-16 08:51] cmsbuild commented on #12804
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/284/console

[2015-12-16 08:53] cmsbuild commented on #12772
The cleanup has started for slc6_amd64_gcc491

[2015-12-16 08:53] #12772 closed

[2015-12-16 08:54] cmsbuild commented on #12772
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_8_patch1-slc6_amd64_gcc491/245

[2015-12-16 09:22] cmsbuild commented on #12804
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_4_16-slc6_amd64_gcc491/284
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-16 09:32] ghellwig commented on #12804
Dear David,
are there plans to build another 74X release soon? I am asking because there are some pending PR for 74X, some of them are already approved, but not yet merged. Especially #12795 contains changes that are needed to have a working version in 2016.

Best regards,
Gregor

[2015-12-16 09:47] cmsbuild commented on #12804
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_4_16/slc6_amd64_gcc491/553/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2015-12-16 10:30] davidlange6 commented on #12804
release-notes

[2015-12-16 10:30] cmsbuild commented on #12804
Generating release notes since CMSSW_7_4_15_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-16 10:30] cmsbuild commented on #12804
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_4_16 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_4_15_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_4_16

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2015-12-16 10:31] davidlange6 commented on #12804
yes - from time to time (we test things first in the development releases, however, which is in any case the release that will be used for 2016)

[2015-12-16 10:33] cmsbuild commented on #12804
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_4_16

[2015-12-16 19:15] Dr15Jones opened #12809 "Make ProductProvenanceRetriever thread-safe"
The ProductProvenaceRetriever is used by the EventPrincipal and therefore can be reach by multi-threads simultaneously.

[2015-12-16 19:16] cmsbuild commented on #12809
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-16 19:16] Dr15Jones commented on #12809
assign core

[2015-12-16 19:16] cmsbuild commented on #12809
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-16 19:38] Dr15Jones opened #12810 "Make edm::Worker thread safe"
When multiple threads are allowed to work on one Event we will need the edm::Worker to be thread safe.

[2015-12-16 19:38] cmsbuild commented on #12810
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-16 19:38] Dr15Jones commented on #12810
assign core

[2015-12-16 19:39] cmsbuild commented on #12810
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-17 02:13] davidlange6 opened #12812 "Build CMSSW_8_0_0_pre4"

[2015-12-17 02:13] cmsbuild commented on #12812
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-17 02:15] davidlange6 commented on #12812
+1

[2015-12-17 02:15] cmsbuild commented on #12812
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2015-12-17 02:15] cmsbuild commented on #12812
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2015-12-17 02:16] cmsbuild commented on #12812
The build has started for slc7_amd64_gcc493 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/502/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-17 02:17] cmsbuild commented on #12812
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/503/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-17 06:04] cmsbuild commented on #12812
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre4-slc6_amd64_gcc493/503
Some tests

[2015-12-17 06:27] cmsbuild commented on #12812
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre4-slc6_amd64_gcc493/503

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-12-17 09:07] davidlange6 opened #12814 "Build CMSSW_5_3_32"

[2015-12-17 09:07] cmsbuild commented on #12814
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-17 09:45] cmsbuild commented on #12812
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre4-slc7_amd64_gcc493/502
Some tests

[2015-12-17 10:30] cmsbuild commented on #12812
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre4-slc7_amd64_gcc493/502

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-12-17 10:34] davidlange6 commented on #12812
upload all
(thought I did this already)

[2015-12-17 10:35] davidlange6 commented on #12814
+1

[2015-12-17 10:35] cmsbuild commented on #12812
Queing Jenkins upload for slc6_amd64_gcc493

[2015-12-17 10:35] cmsbuild commented on #12812
Queing Jenkins upload for slc7_amd64_gcc493

[2015-12-17 10:35] cmsbuild commented on #12814
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_32. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2015-12-17 10:35] cmsbuild commented on #12814
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-12-17 10:36] cmsbuild commented on #12812
The upload has started for slc7_amd64_gcc493 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/286/console

[2015-12-17 10:37] smuzaffar commented on #12812
great. Jenkins tests for slc7 work now. We were missing the site-conf in docker environment.

[2015-12-17 10:42] cmsbuild commented on #12814
The build has started for slc6_amd64_gcc472 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/504/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-17 11:11] cmsbuild commented on #12812
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/287/console

[2015-12-17 11:14] cmsbuild commented on #12812
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre4-slc7_amd64_gcc493/286
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-17 11:37] cmsbuild commented on #12812
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre4/slc7_amd64_gcc493/554/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2015-12-17 11:47] cmsbuild commented on #12812
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre4-slc6_amd64_gcc493/287
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-17 12:06] davidlange6 commented on #12812
release-notes
________________________________________
From: cmsbuild [notifications@github.com]
Sent: 17 December 2015 12:37
To: cms-sw/cmssw
Cc: David Lange
Subject: Re: [cmssw] Build CMSSW_8_0_0_pre4 (#12812)

The installation has successfully finished for slc7_amd64_gcc493
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre4/slc7_amd64_gcc4

[2015-12-17 12:06] cmsbuild commented on #12812
ATTENTION!!! The production architecture (slc6_amd64_gcc493) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2015-12-17 12:10] cmsbuild commented on #12812
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre4/slc6_amd64_gcc493/555/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2015-12-17 12:10] cmsbuild commented on #12812
Generating release notes since CMSSW_8_0_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-17 12:10] cmsbuild commented on #12812
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_0_0_pre4 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_0_pre4

Cheers,
cms-bot

You can also click <a href="mailt

[2015-12-17 12:13] cmsbuild commented on #12814
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_32-slc6_amd64_gcc472/504
Some tests ( r

[2015-12-17 12:14] cmsbuild commented on #12812
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre4

[2015-12-17 12:20] davidlange6 commented on #12814
upload all

[2015-12-17 12:20] cmsbuild commented on #12814
Queing Jenkins upload for slc6_amd64_gcc472

[2015-12-17 12:21] cmsbuild commented on #12814
The upload has started for slc6_amd64_gcc472 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/288/console

[2015-12-17 12:47] cmsbuild commented on #12814
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_32-slc6_amd64_gcc472/288
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-17 12:53] cmsbuild commented on #12814
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_32-slc6_amd64_gcc472/504

Tests results:
8 8 7 7 3 tests passed, 0 0 0 0 0 failed

[2015-12-17 13:06] cmsbuild commented on #12814
The installation has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_5_3_32/slc6_amd64_gcc472/556/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2015-12-17 15:45] davidlange6 commented on #12814
release-notes

[2015-12-17 15:46] cmsbuild commented on #12814
Generating release notes since CMSSW_5_3_31.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-17 15:46] cmsbuild commented on #12814
You can use this template for announcing the release:

Hi all,

The production release CMSSW_5_3_32 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_31 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_32

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2015-12-17 15:48] cmsbuild commented on #12814
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_32

[2015-12-17 16:30] Dr15Jones commented on #12809
Looks like we should work on getting ```EventPrincipal``` to be able to hold a ```const ProductProvenanceRetriever```.

[2015-12-18 09:33] cmsbuild commented on #12804
The cleanup has started for slc6_amd64_gcc491

[2015-12-18 09:33] #12804 closed

[2015-12-18 09:34] cmsbuild commented on #12804
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_4_16-slc6_amd64_gcc491/246

[2015-12-18 10:03] davidlange6 opened #12823 "Build CMSSW_7_4_16_patch1"

[2015-12-18 10:03] cmsbuild commented on #12823
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2015-12-18 10:04] davidlange6 commented on #12823
+1

[2015-12-18 10:04] cmsbuild commented on #12823
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_4_16_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_4_X

[2015-12-18 10:04] cmsbuild commented on #12823
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2015-12-18 10:06] cmsbuild commented on #12823
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/505/console
CMSDIST Branch: [REL/CMSSW_7_4_16/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_4_16/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2015-12-18 11:06] cmsbuild commented on #12823
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_4_16_patch1-slc6_amd64_gcc491/505
Some te

[2015-12-18 11:27] cmsbuild commented on #12823
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_4_16_patch1-slc6_amd64_gcc491/505

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2015-12-18 13:13] davidlange6 commented on #12823
upload all

________________________________
From: cmsbuild [notifications@github.com]
Sent: 18 December 2015 12:27
To: cms-sw/cmssw
Cc: David Lange
Subject: Re: [cmssw] Build CMSSW_7_4_16_patch1 (#12823)

The tests have finished for slc6_amd64_gcc491
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_4_16_patch1-slc6_amd64_gcc491/505

Tests results:

[2015-12-18 13:13] cmsbuild commented on #12823
Queing Jenkins upload for slc6_amd64_gcc491

[2015-12-18 13:14] cmsbuild commented on #12823
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/289/console

[2015-12-18 13:37] cmsbuild commented on #12823
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_4_16_patch1-slc6_amd64_gcc491/289
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2015-12-18 13:46] cmsbuild commented on #12823
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_4_16_patch1/slc6_amd64_gcc491/557/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2015-12-18 13:51] davidlange6 commented on #12823
release-notes

[2015-12-18 13:52] cmsbuild commented on #12823
Generating release notes since CMSSW_7_4_16.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2015-12-18 13:52] cmsbuild commented on #12823
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_4_16_patch1 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_4_16 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_4_16_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2015-12-18 13:54] cmsbuild commented on #12823
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_4_16_patch1

[2015-12-19 11:08] cmsbuild commented on #12812
The cleanup has started for slc6_amd64_gcc493

[2015-12-19 11:08] cmsbuild commented on #12812
The cleanup has started for slc7_amd64_gcc493

[2015-12-19 11:08] #12812 closed

[2015-12-19 11:09] cmsbuild commented on #12812
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre4-slc6_amd64_gcc493/247

[2015-12-19 11:34] cmsbuild commented on #12812
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre4-slc7_amd64_gcc493/248

[2015-12-19 14:48] cmsbuild commented on #12814
The cleanup has started for slc6_amd64_gcc472

[2015-12-19 14:48] #12814 closed

[2015-12-19 14:49] cmsbuild commented on #12814
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_32-slc6_amd64_gcc472/249

[2015-12-20 12:53] cmsbuild commented on #12823
The cleanup has started for slc6_amd64_gcc491

[2015-12-20 12:53] #12823 closed

[2015-12-20 12:54] cmsbuild commented on #12823
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_4_16_patch1-slc6_amd64_gcc491/250

[2015-12-20 17:09] Dr15Jones opened #12835 "Remove knowledge of DelayedReader from EventPrincipal"
Only the ```InputProductHolder``` ever needs to 'speak' with the InputSource. When made, the ```InputProductHolder``` could internally have the ```DelayedReader``` and pass to it the ```StreamID``` to use when doing the lookup. This would remove the need for ```EventPrincipal``` to know about ```DelayedReader```.
Then when the framework knows which Stream will be processing the event it would tell

[2015-12-20 17:09] cmsbuild commented on #12835
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-20 17:11] Dr15Jones commented on #12835
A future change after this would be to research the possiblilty of having a unique ```InputProductHolder``` type for each Source type. This way we could move the work done by ```DelayedReader``` into that class and encapsulate the knowledge of exactly what data product is being requested. This would allow the ```InputProductHolder``` for the ```PoolSource``` to know exactly which ```TBranch``` it

[2015-12-20 17:11] Dr15Jones commented on #12835
assign core

[2015-12-20 17:11] cmsbuild commented on #12835
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-22 00:40] wmtan commented on #12696
@Dr15Jones PR #12838 fixes this in a trivial way. The circular dependency was bogus.

[2015-12-22 15:10] Dr15Jones opened #12840 "Refactor framework code to use propagate_const"
By using propagate_const throughout the framework code we can more easily reason about the const correctness of the code.

[2015-12-22 15:11] cmsbuild commented on #12840
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-22 15:12] Dr15Jones opened #12841 "Require EventSetup data products use edm::propagate_const"
By using edm::propagate_const we can have the compiler enforce const thread-safety.

[2015-12-22 15:12] cmsbuild commented on #12841
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-22 15:12] Dr15Jones commented on #12840
assign core

[2015-12-22 15:12] Dr15Jones commented on #12840
@wmtan you might find this one interesting

[2015-12-22 15:12] cmsbuild commented on #12840
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-22 15:58] wmtan commented on #12840
@Dr15Jones Yes. Unless you have a higher priority, I can do this next.

[2015-12-22 18:49] Dr15Jones commented on #12840
Thread safety for Events is the highest priority so any of the issues related to that would be good. I know you enjoy refactoring so I just wanted to be sure you saw this one.

[2015-12-22 22:45] slava77 opened #12842 "Process dump python psets first [or how to modify outputCommands from ConfigBuilder]"
Context: DataProcessing-like configuration building is done with an instance of cms.Process and then manipulations by ConfigBuilder, the final configuration is made by Process::dumpPython call (there is no intermediate text config file like for configurations made by cmsDriver).

Symptoms: process instance made by ConfigBuilder in python can not have its output module outputCommands modified. (Not

[2015-12-22 22:46] cmsbuild commented on #12842
A new Issue was created by  @slava77 (Slava Krutelyov).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to re

[2015-12-22 22:46] slava77 commented on #12842
assign core

[2015-12-22 22:54] slava77 commented on #12842
looks like I can't assign issues to categories (at least not to core)

[2015-12-22 23:09] Dr15Jones commented on #12842
assign core

[2015-12-22 23:09] cmsbuild commented on #12842
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-29 17:17] Dr15Jones opened #12850 "Use consumes information to setup Views"
Use the consumes information to find which View types we need to deal with and then only add entries for those types into the Principals.

[2015-12-29 17:17] cmsbuild commented on #12850
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-29 17:17] Dr15Jones commented on #12850
assign core

[2015-12-29 17:17] cmsbuild commented on #12850
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-30 15:40] Dr15Jones commented on #12233
@wmtan Is this one finished? If so, could you add the pull request number to this topic thread?

[2015-12-30 15:43] Dr15Jones opened #12853 "Provide a way to validate PSets of plugins within modules"
Many modules use the plugin architecture to load their own helper classes. They do this by passing part of their PSet to the factory to instantiate the proper object. We need a standard way of validating those parts of the PSet which are used by a plugin.

[2015-12-30 15:43] cmsbuild commented on #12853
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-30 15:43] Dr15Jones commented on #12853
assign core

[2015-12-30 15:43] cmsbuild commented on #12853
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-30 15:45] Dr15Jones opened #12854 "Allow specification of refToPSet in the C++ PSet validation code"
When generating the python ```_cfi.py``` files from the C++ ParameterSet validation specification, it would be handy to be able to specify that certain default values are expected to come from a refToPSet.

[2015-12-30 15:45] cmsbuild commented on #12854
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-30 15:46] Dr15Jones commented on #12854
assign core

[2015-12-30 15:46] cmsbuild commented on #12854
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-30 20:10] Dr15Jones commented on #12696
+1

[2015-12-30 20:10] cmsbuild commented on #12696
This issue is fully signed and ready to be closed.

[2015-12-30 20:10] #12696 closed

[2015-12-30 20:27] Dr15Jones commented on #12842
@slava77 can you provide a simple example of a configuration that when one does ```process.dumpPython()``` the resultant output is unrunnable?

[2015-12-30 21:40] Dr15Jones opened #12858 "Replace edm::Service<> access with extensions"
The ```edm::Service<>``` interface is extremely problematic with with threading plus many services are not meant to be called by user code. Therefore I propose breaking the concept of a Service into two parts: Service and Extension.

A Service would be configurable and could watch the state changes of the framework. Services would not be accessible to user code.

An Extension would be configurable

[2015-12-30 21:40] cmsbuild commented on #12858
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2015-12-30 21:40] Dr15Jones commented on #12858
assign core

[2015-12-30 21:40] cmsbuild commented on #12858
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-30 22:02] slava77 commented on #12842
in CMSSW_7_5_6 (just because I had a test setup there)
- pick  slava77:CMSSW_7_5_6/sign636/dataProcessingOutputs and compile
- run the following to produce what comes out from Process::dumpPython call somewhere inside the DataProcessing setup
 ``` python Configuration/DataProcessing/test/RunPromptReco.py  --scenario ppRun2 --global-tag  75X_dataRun2_v3  --lfn /whatever --reco --dqmio  --alcareco T

[2015-12-30 22:17] Dr15Jones commented on #12842
Maybe posting the part of the configuration which is trying to access ```ALCARECOEventContent``` would be sufficient.

[2015-12-30 22:47] wmtan commented on #12233
@Dr15Jones This one was finished weeks ago with PR #12753, as was indicated three weeks ago.

[2015-12-31 01:28] Dr15Jones commented on #12233
+1
Sorry about missing the earlier comment.

[2015-12-31 01:28] cmsbuild commented on #12233
This issue is fully signed and ready to be closed.

[2015-12-31 04:17] slava77 commented on #12842
I copied the config to ~slava77/public/py/RunPromptRecoCfg_issue12842.py on lxplus

[2016-01-04 16:42] Dr15Jones commented on #12842
It took a while but I at least tracked down exactly what was happening. In Configuration/Applications/python/ConfigBuilder.py we have the following code

[code]

What this code does is remove the ```Core``` approved standard member fuction ```dumpPython``` for the instance of the class held by ```outputModule.outputCommands``` and replaces it with the function ```doNotInlineEventContent```. As far

[2016-01-05 16:12] Dr15Jones opened #12868 "scram run tests should clearly show if test passes or fails"
At the moment whether a test run by scram passes or fails is not consistently shown in the log files. Different tests print (or fail to print) their success. We should have scram output to the log whether the executable returns a 0 (a success) or a different value (a failure). This would allow one to ```grep``` a log to find exactly which tests fail.

[2016-01-05 16:12] cmsbuild commented on #12868
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2016-01-05 16:12] Dr15Jones commented on #12868
assign core

[2016-01-05 16:12] cmsbuild commented on #12868
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-05 16:13] Dr15Jones commented on #12868
@smuzaffar this would save me a lot of effort when looking at log files

[2016-01-05 16:31] smuzaffar commented on #12868
Normally we grep for 'had ERRORS' as scram prints a message like this
[code]
after each failed tests. What else you want to see @Dr15Jones

[2016-01-05 19:14] Dr15Jones commented on #12868
I guess I would hope to see
[code]

[2016-01-05 19:17] Dr15Jones commented on #12842
At the Core meeting we decided to have ```Process.dumpPython``` write all known PSets first. This allows the code to work but does not address what I consider a very poor behaviour inside ConfigBuilder.py.

[2016-01-05 21:13] Dr15Jones commented on #12842
#12870 makes the requested change

[2016-01-06 05:45] davidlange6 opened #12873 "Build CMSSW_7_5_8_patch1"
for HI DIGI-RECO fix in L1 trigger usage of GT

[2016-01-06 05:45] davidlange6 commented on #12873
+1

[2016-01-06 05:46] cmsbuild commented on #12873
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-01-06 05:46] cmsbuild commented on #12873
There was an error while attempting to create CMSSW_7_5_8_patch1. Please check if it already exists https://github.com/cms-sw/cmssw/releases

[2016-01-06 05:48] davidlange6 commented on #12873
whoops.

[2016-01-06 05:48] #12873 closed

[2016-01-06 05:48] davidlange6 opened #12874 "Build CMSSW_7_5_8_patch2"
for HI DIGI-RECO fix in L1 trigger usage of GT

[2016-01-06 05:48] davidlange6 commented on #12874
+1

[2016-01-06 05:49] cmsbuild commented on #12874
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-01-06 05:49] cmsbuild commented on #12874
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2016-01-06 05:49] cmsbuild commented on #12874
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-01-06 05:50] cmsbuild commented on #12874
The build has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/506/console
CMSDIST Branch: [REL/CMSSW_7_5_8/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_8/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-06 06:24] cmsbuild commented on #12874
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch2-slc6_amd64_gcc491/506
Some tes

[2016-01-06 06:50] cmsbuild commented on #12874
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch2-slc6_amd64_gcc491/506

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-01-06 06:58] davidlange6 commented on #12874
upload all

[2016-01-06 06:58] cmsbuild commented on #12874
Queing Jenkins upload for slc6_amd64_gcc491

[2016-01-06 06:59] cmsbuild commented on #12874
The upload has started for slc6_amd64_gcc491 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/290/console

[2016-01-06 07:25] cmsbuild commented on #12874
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_8_patch2-slc6_amd64_gcc491/290
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-06 07:34] cmsbuild commented on #12874
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_8_patch2/slc6_amd64_gcc491/558/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-01-06 07:54] davidlange6 commented on #12874
release-notes

On Jan 6, 2016, at 8:34 AM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The installation has successfully finished for slc6_amd64_gcc491
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_8_patch2/slc6_amd64_gcc491/558/
To generate the release notes for the release write "release-notes since <previous-

[2016-01-06 07:55] cmsbuild commented on #12874
Generating release notes since CMSSW_7_5_8_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-01-06 07:55] cmsbuild commented on #12874
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_8_patch2 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_8_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_8_patch2

for HI DIGI-RECO fix in L1 trigger usage of GT

Cheers,
c

[2016-01-06 07:57] cmsbuild commented on #12874
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch2

[2016-01-07 13:35] davidlange6 opened #12887 "Build CMSSW_7_4_16_patch2"
Attempt to properly include the correct PU scenario for ECAL (again)

[2016-01-07 13:35] cmsbuild commented on #12887
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-01-07 13:35] davidlange6 commented on #12887
+1

[2016-01-07 13:35] cmsbuild commented on #12887
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_4_16_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_4_X

[2016-01-07 13:35] cmsbuild commented on #12887
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-01-07 13:36] cmsbuild commented on #12887
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/507/console
CMSDIST Branch: [REL/CMSSW_7_4_16/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_4_16/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-07 13:54] cmsbuild commented on #12887
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_4_16_patch2-slc6_amd64_gcc491/507
Some te

[2016-01-07 14:16] cmsbuild commented on #12887
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_4_16_patch2-slc6_amd64_gcc491/507

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-01-07 14:23] davidlange6 commented on #12887
upload all

[2016-01-07 14:23] cmsbuild commented on #12887
Queing Jenkins upload for slc6_amd64_gcc491

[2016-01-07 14:24] cmsbuild commented on #12887
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/291/console

[2016-01-07 15:08] cmsbuild commented on #12887
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_4_16_patch2-slc6_amd64_gcc491/291
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-07 15:17] cmsbuild commented on #12887
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_4_16_patch2/slc6_amd64_gcc491/559/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-01-07 16:29] davidlange6 commented on #12887
release-notes

[2016-01-07 16:29] cmsbuild commented on #12887
Generating release notes since CMSSW_7_4_16_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-01-07 16:29] cmsbuild commented on #12887
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_4_16_patch2 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_4_16_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_4_16_patch2

Attempt to properly include the correct PU scenario fo

[2016-01-07 16:32] cmsbuild commented on #12887
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_4_16_patch2

[2016-01-08 06:58] cmsbuild commented on #12874
The cleanup has started for slc6_amd64_gcc491

[2016-01-08 06:58] #12874 closed

[2016-01-08 06:59] cmsbuild commented on #12874
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_8_patch2-slc6_amd64_gcc491/251

[2016-01-08 15:44] DrDaveD commented on #11845
@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones, can you please assign this to @diguida?

Salvatore, what's the status of the PR you promised?

[2016-01-08 15:47] diguida commented on #11845
@DrDaveD
sorry for not keeping you posted. I have a branch in my local area.
Let me push it to my repo: I will link it here.

[2016-01-08 16:52] Dr15Jones opened #12896 "Optimize ProductProvenance and Parentage constructor using move semantics"
Add constructors ```ProductProvenance(BranchID const&, std::vector<BranchID>&&)``` and ```Parentage(std::vecgtor<BranchID>&&)```. Modify code in framework to use these operations.

[2016-01-08 16:53] cmsbuild commented on #12896
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2016-01-08 16:56] Dr15Jones commented on #12896
assign core

[2016-01-08 16:56] cmsbuild commented on #12896
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-08 18:01] smuzaffar commented on #11845
assign alca

[2016-01-08 18:01] cmsbuild commented on #11845
New categories assigned: alca

@diguida,@mmusich,@cerminar,@franzoni you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-09 13:50] AndrewLevin commented on #12690
Hi,

As I wrote here

https://hypernews.cern.ch/HyperNews/CMS/get/physTools/3437/1/1.html

I think it is a major problem if we can only read the LHERunInfoProduct at the end of a run. I am reading at the beginning of a run to change which data I store when I process the events. For example, I want to store only some of the lhe weights (there are like 500 of them) and I would like to use the LHERun

[2016-01-09 15:33] cmsbuild commented on #12887
The cleanup has started for slc6_amd64_gcc491

[2016-01-09 15:33] #12887 closed

[2016-01-09 15:34] cmsbuild commented on #12887
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_4_16_patch2-slc6_amd64_gcc491/252

[2016-01-11 16:04] Dr15Jones commented on #12896
#12907

[2016-01-11 21:07] Dr15Jones commented on #12809
#12894

[2016-01-11 21:07] Dr15Jones commented on #12809
+1

[2016-01-11 21:07] cmsbuild commented on #12809
This issue is fully signed and ready to be closed.

[2016-01-12 19:50] bbockelm opened #12922 "MPI-based master/worker mode"
The current mode of running CMSSW (a set of N independent processes across M hosts) translates poorly to the largest of clusters we have access to.  Particularly, some schedulers are oriented to a small number (<50) of large (>1024 cores) jobs, where the jobs' processes are solely launched and managed via MPI.   I propose we add a simple master/worker mode to CMSSW that will allow us to run on suc

[2016-01-12 19:51] cmsbuild commented on #12922
A new Issue was created by  @bbockelm (Brian Bockelman).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to r

[2016-01-12 19:53] Dr15Jones commented on #12922
assign core

[2016-01-12 19:54] cmsbuild commented on #12922
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-12 20:54] Dr15Jones commented on #12868
What I'd like to be able to do is run ```tail -f``` on a ```scram b runtests``` output and pipe that to grep to see what tests have finished and what status they had. So being able to do
[code]
would work.

[2016-01-13 08:18] smuzaffar commented on #12868
@Dr15Jones , I shall update the build rules to print the following for tests passed
[code]

[2016-01-13 13:31] diguida commented on #11845
@DrDaveD I have just made a test against the `FrontierPrep` servlet, with and without the security signature. Here you can find the results: it works, and the security challenge looks ok.

[code]

[2016-01-13 13:32] diguida commented on #11845
@DrDaveD can you please cross-check on the frontier logs? Thanks

[2016-01-13 15:35] DrDaveD commented on #11845
@diguida yes that's good for fnget.py, but how about from CMSSW?

[2016-01-13 15:39] Dr15Jones opened #12932 "remove canDeleteEarly feature of the framework"
A long time ago we added a feature that let one say an Event data product could be deleted before the end of processing of the Event. No configuration outside of the framework unit tests make use of this feature.
This feature is dangerous since it requires exact knowledge of each module which may use the data product so the product is not deleted before those modules are run. For modules just gett

[2016-01-13 15:39] cmsbuild commented on #12932
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2016-01-13 15:39] Dr15Jones commented on #12932
assign core

[2016-01-13 15:39] cmsbuild commented on #12932
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-13 15:54] slava77 commented on #12932
In HI processing (likely also in HL-LHC pileup environment) the total memory used often has a large fraction (about a half, maybe) consumed by transient products. If we could use the canDeleteEarly feature there in a safe way, we could save on some needed resources.

[2016-01-13 15:54] diguida commented on #11845
See here:
https://github.com/cms-sw/cmssw/compare/CMSSW_8_0_X...diguida:add_frontier_security_option?w=1
I am checking with an extensive unit test that it works fine...

[2016-01-13 15:58] diguida commented on #11845
@bbockelm to watch

[2016-01-13 15:59] DrDaveD commented on #11845
So far I see only the one fnget.py query with &sec=sig in the server logs.

[2016-01-13 16:19] diguida commented on #11845
Just sent with my unit test:

[code]

[2016-01-13 16:28] DrDaveD commented on #11845
Looks good.

[2016-01-13 18:56] Dr15Jones commented on #12896
+1

[2016-01-13 18:56] cmsbuild commented on #12896
This issue is fully signed and ready to be closed.

[2016-01-14 10:27] diguida commented on #11845
https://github.com/cms-sw/cmssw/pull/12941 is now a PR

[2016-01-14 10:27] diguida commented on #11845
+1
Feature added in a PR.

[2016-01-14 10:27] cmsbuild commented on #11845
This issue is fully signed and ready to be closed.

[2016-01-14 14:39] Dr15Jones opened #12946 "Make merge interface of Principal only called by Sources"
When putting data into the Run or LuminosityBlock Principal we call 'putOrMerge'. However, we should never be merging code coming from a Producer.

[2016-01-14 14:39] cmsbuild commented on #12946
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2016-01-14 15:02] Dr15Jones commented on #12946
assign core

[2016-01-14 15:02] cmsbuild commented on #12946
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-14 15:06] Dr15Jones opened #12948 "Make EventSetup Record types just be facades"
Instead of having EventSetup Record classes inherit from a class which does the actual work of the Record, have them only be facades. This design would have one create an EventSetup Record on the stack just before calling an ESProducer and have that class hold a pointer to the class that actual does the work. This change would allow the internals of the EventSetup system to be vastly simplified si

[2016-01-14 15:06] cmsbuild commented on #12948
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2016-01-14 15:06] Dr15Jones commented on #12948
assign core

[2016-01-14 15:06] cmsbuild commented on #12948
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-14 15:07] Dr15Jones opened #12949 "Remove use of boost::shared_ptr from EventSetup system"
We should switch all ESProducers to use std::shared_ptr instead of boost::shared_ptr.

[2016-01-14 15:07] cmsbuild commented on #12949
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2016-01-14 15:07] Dr15Jones commented on #12949
assign core

[2016-01-14 15:07] cmsbuild commented on #12949
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-15 04:58] davidlange6 opened #12958 "Build CMSSW_7_5_8_patch3"
Primary purpose: First two rare crashes in re-reco processing

[2016-01-15 04:58] cmsbuild commented on #12958
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-01-15 04:58] davidlange6 commented on #12958
+1

[2016-01-15 04:58] cmsbuild commented on #12958
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2016-01-15 04:58] cmsbuild commented on #12958
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-01-15 05:01] cmsbuild commented on #12958
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/508/console
CMSDIST Branch: [REL/CMSSW_7_5_8/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_8/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-15 05:30] cmsbuild commented on #12958
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch3-slc6_amd64_gcc491/508
Some tes

[2016-01-15 05:49] cmsbuild commented on #12958
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch3-slc6_amd64_gcc491/508

Tests results:
4.53_RunPhoton2012B+RunPhoton2012B+HLTD+RECODreHLT+HARVESTDreHLT Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN  - time date Fri Jan 15 06:30:47 2016-date Fri Jan 15 06:30:43 2016; exit: 1 0 0 0
9

[2016-01-15 05:49] slava77 commented on #12958
On 1/14/16 8:58 PM, David Lange wrote:

is this the right release/patch/message?

https://github.com/cms-sw/cmssw/compare/CMSSW_7_5_8_patch2...CMSSW_7_5_8_patch3

 contains only 12897 with cabling map label

[2016-01-15 06:06] davidlange6 commented on #12958
Argh. No... Will try again tomorrow with 76x

On Jan 14, 2016, at 9:50 PM, Slava Krutelyov <notifications@github.com<mailto:notifications@github.com>> wrote:

On 1/14/16 8:58 PM, David Lange wrote:

is this the right release/patch/message?

https://github.com/cms-sw/cmssw/compare/CMSSW_7_5_8_patch2...CMSSW_7_5_8_patch3

contains only 12897 with cabling map label

—
Reply to this email directly or

[2016-01-15 06:07] davidlange6 commented on #12958
Abort

On Jan 14, 2016, at 9:50 PM, cmsbuild <notifications@github.com<mailto:notifications@github.com>> wrote:

The tests have finished for slc6_amd64_gcc491
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch3-slc6_amd64_gcc491/508

Tests results:
4.53_RunPhoton2012B+RunPhoton2012B+HLTD+RECODreHLT+HARVESTDreHLT Step0-DAS_ERROR Step1-NOTRUN

[2016-01-15 06:07] cmsbuild commented on #12958
Deleting CMSSW_7_5_8_patch3:

  -Release successfully deleted

  -cmssw tag CMSSW_7_5_8_patch3 successfully deleted.

  -cmsdist tag REL/CMSSW_7_5_8_patch3/slc6_amd64_gcc491 successfully deleted.

You must create a new issue to start over the build.

[2016-01-15 09:10] smuzaffar commented on #12868
this is now done in CMSSW_8_0_X

[2016-01-15 09:10] smuzaffar commented on #12868
+1

[2016-01-15 09:11] cmsbuild commented on #12868
This issue is fully signed and ready to be closed.

[2016-01-15 13:36] davidlange6 opened #12961 "Build CMSSW_7_6_3_patch1"

[2016-01-15 13:37] cmsbuild commented on #12961
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-01-15 13:37] davidlange6 commented on #12961
+1

[2016-01-15 13:37] cmsbuild commented on #12961
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_3_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2016-01-15 13:37] cmsbuild commented on #12961
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2016-01-15 13:38] cmsbuild commented on #12961
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/509/console
CMSDIST Branch: [REL/CMSSW_7_6_3/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_6_3/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-15 14:21] cmsbuild commented on #12961
The build has started for slc7_amd64_gcc493 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/510/console
CMSDIST Branch: [REL/CMSSW_7_6_3/slc7_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_6_3/slc7_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-15 14:43] cmsbuild commented on #12961
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3_patch1-slc6_amd64_gcc493/509
Some tes

[2016-01-15 15:08] cmsbuild commented on #12961
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3_patch1-slc6_amd64_gcc493/509

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-01-15 16:00] davidlange6 commented on #12961
upload all

[2016-01-15 16:00] cmsbuild commented on #12961
Queing Jenkins upload for slc6_amd64_gcc493

[2016-01-15 16:01] cmsbuild commented on #12961
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/292/console

[2016-01-15 16:26] cmsbuild commented on #12961
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_3_patch1-slc6_amd64_gcc493/292
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-15 16:31] cmsbuild commented on #12961
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3_patch1-slc7_amd64_gcc493/510
Some tes

[2016-01-15 16:32] cmsbuild commented on #12961
Queing Jenkins upload for slc7_amd64_gcc493

[2016-01-15 16:32] cmsbuild commented on #12961
The upload has started for slc7_amd64_gcc493 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/293/console

[2016-01-15 16:34] cmsbuild commented on #12961
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_3_patch1/slc6_amd64_gcc493/560/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-01-15 16:53] cmsbuild commented on #12961
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_3_patch1-slc7_amd64_gcc493/293
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-15 17:00] cmsbuild commented on #12961
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_3_patch1/slc7_amd64_gcc493/561/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-01-15 17:07] cmsbuild commented on #12961
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3_patch1-slc7_amd64_gcc493/510

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-01-15 17:11] davidlange6 commented on #12961
release-notes

[2016-01-15 17:11] cmsbuild commented on #12961
Generating release notes since CMSSW_7_6_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-01-15 17:11] cmsbuild commented on #12961
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_6_3_patch1 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_7_6_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_3_patch1

Cheers,
cms-bot

You can also click <a href="m

[2016-01-15 17:14] cmsbuild commented on #12961
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_3_patch1

[2016-01-15 20:04] Dr15Jones opened #12968 "Remove setting of ProcessHistory in ProductHolderBase"
The ProductHolders do not need to hold onto the `edm::ProcessHistory` describing the history of the entire job. The only reason we appear to do it is `edm::Provenance` class has it just so one can call `getProcessConfiguration` which then allows one to get the `ParameterSet` for the module that made the data product. This would speed up setup of the Principal since we would not be looping through

[2016-01-15 20:04] cmsbuild commented on #12968
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2016-01-15 20:04] Dr15Jones commented on #12968
assign core

[2016-01-15 20:05] cmsbuild commented on #12968
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-17 04:57] davidlange6 opened #12972 "Build CMSSW_7_6_3_patch2"
Primary purpose: Fix for B=0 primary vertex reco

[2016-01-17 04:57] cmsbuild commented on #12972
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-01-17 04:59] davidlange6 commented on #12972
+1

[2016-01-17 04:59] cmsbuild commented on #12972
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_3_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_6_X

[2016-01-17 04:59] cmsbuild commented on #12972
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2016-01-17 05:01] cmsbuild commented on #12972
The build has started for slc7_amd64_gcc493 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/511/console
CMSDIST Branch: [REL/CMSSW_7_6_3/slc7_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_6_3/slc7_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-17 05:01] cmsbuild commented on #12972
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/512/console
CMSDIST Branch: [REL/CMSSW_7_6_3/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_6_3/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-17 05:08] cmsbuild commented on #12958
The cleanup has started for slc6_amd64_gcc491

[2016-01-17 05:08] #12958 closed

[2016-01-17 05:10] cmsbuild commented on #12958
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_8_patch3-slc6_amd64_gcc491/253

[2016-01-17 05:40] cmsbuild commented on #12972
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3_patch2-slc6_amd64_gcc493/512
Some tes

[2016-01-17 05:53] cmsbuild commented on #12972
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3_patch2-slc7_amd64_gcc493/511
Some tes

[2016-01-17 06:04] cmsbuild commented on #12972
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3_patch2-slc6_amd64_gcc493/512

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-01-17 06:25] cmsbuild commented on #12972
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_6_3_patch2-slc7_amd64_gcc493/511

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-01-17 13:08] davidlange6 commented on #12972
Upload all

[2016-01-17 13:09] cmsbuild commented on #12972
Queing Jenkins upload for slc6_amd64_gcc493

[2016-01-17 13:09] cmsbuild commented on #12972
Queing Jenkins upload for slc7_amd64_gcc493

[2016-01-17 13:09] cmsbuild commented on #12972
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/294/console

[2016-01-17 13:10] cmsbuild commented on #12972
The upload has started for slc7_amd64_gcc493 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/295/console

[2016-01-17 13:43] cmsbuild commented on #12972
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_3_patch2-slc6_amd64_gcc493/294
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-17 13:52] cmsbuild commented on #12972
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_3_patch2/slc6_amd64_gcc493/562/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-01-17 14:29] cmsbuild commented on #12972
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_6_3_patch2-slc7_amd64_gcc493/295
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-17 14:34] cmsbuild commented on #12972
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_6_3_patch2/slc7_amd64_gcc493/563/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-01-17 15:05] davidlange6 commented on #12972
release-notes

[2016-01-17 15:05] cmsbuild commented on #12972
Generating release notes since CMSSW_7_6_3_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-01-17 15:05] cmsbuild commented on #12972
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_6_3_patch2 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_7_6_3_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_6_3_patch2

Primary purpose: Fix for B=0 primary ve

[2016-01-17 15:07] cmsbuild commented on #12972
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_6_3_patch2

[2016-01-17 16:13] cmsbuild commented on #12961
The cleanup has started for slc6_amd64_gcc493

[2016-01-17 16:13] cmsbuild commented on #12961
The cleanup has started for slc7_amd64_gcc493

[2016-01-17 16:13] #12961 closed

[2016-01-17 16:14] cmsbuild commented on #12961
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_3_patch1-slc6_amd64_gcc493/254

[2016-01-17 16:17] cmsbuild commented on #12961
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_3_patch1-slc7_amd64_gcc493/255

[2016-01-19 14:08] cmsbuild commented on #12972
The cleanup has started for slc6_amd64_gcc493

[2016-01-19 14:08] cmsbuild commented on #12972
The cleanup has started for slc7_amd64_gcc493

[2016-01-19 14:08] #12972 closed

[2016-01-19 14:08] cmsbuild commented on #12972
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_3_patch2-slc6_amd64_gcc493/256

[2016-01-19 14:12] cmsbuild commented on #12972
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_6_3_patch2-slc7_amd64_gcc493/257

[2016-01-20 21:56] Dr15Jones opened #13017 "Do not allow ROOT to use rootlogon.C from edmCheckClassVersion"
We have seen that a user's rootlogon.C file interfered with library loading from edmCheckClassVersion. We should see if there is a way to guarantee that rootlogon.C is not called by that executable.

[2016-01-20 21:56] cmsbuild commented on #13017
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2016-01-20 22:00] Dr15Jones commented on #13017
assign core

[2016-01-20 22:00] cmsbuild commented on #13017
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-20 22:00] Dr15Jones commented on #13017
@pcanal Any ideas what could be done?

[2016-01-21 15:57] davidlange6 opened #13022 "Build CMSSW_8_0_0_pre5"

[2016-01-21 15:58] cmsbuild commented on #13022
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-01-21 15:59] davidlange6 commented on #13022
+1

[2016-01-21 15:59] cmsbuild commented on #13022
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre5. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-01-21 15:59] cmsbuild commented on #13022
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc493
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-01-21 16:01] cmsbuild commented on #13022
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/514/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-21 16:01] cmsbuild commented on #13022
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/513/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-21 16:02] cmsbuild commented on #13022
The build has started for slc7_amd64_gcc493 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/515/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-21 18:41] pcanal commented on #13017
@Dr15Jones You can pass the '-n' option when creating the TApplication or TRint object.

[2016-01-21 19:31] Dr15Jones opened #13024 "StatisticsSenderService::setCurrentServer needs to be thread-safe"
The StatisticsSenderService::setCurrentServer is called by RequestManager::updateCurrentServer(). The value cached internally by the RequestManager for a new server is thread-safe but each TFile gets its own RequestManager so there is nothing stopping simultaneous calls to StatisticsSenderService::setCurrentServer.

[2016-01-21 19:32] cmsbuild commented on #13024
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to requ

[2016-01-21 19:32] Dr15Jones commented on #13024
assign core

[2016-01-21 19:33] cmsbuild commented on #13024
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-21 20:07] cmsbuild commented on #13022
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre5-slc6_amd64_gcc493/513
Some tests

[2016-01-21 20:28] Dr15Jones commented on #13024
#13025

[2016-01-21 20:30] cmsbuild commented on #13022
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre5-slc6_amd64_gcc493/513

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-01-21 20:51] cmsbuild commented on #13022
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre5-slc6_amd64_gcc530/514
Some tests

[2016-01-21 21:12] cmsbuild commented on #13022
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre5-slc6_amd64_gcc530/514

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-01-21 22:34] cmsbuild commented on #13022
The build has finished sucessfully for the architecture slc7_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre5-slc7_amd64_gcc493/515
Some tests

[2016-01-21 22:53] davidlange6 commented on #13022
upload all

[2016-01-21 22:54] cmsbuild commented on #13022
Queing Jenkins upload for slc6_amd64_gcc493

[2016-01-21 22:54] cmsbuild commented on #13022
Queing Jenkins upload for slc6_amd64_gcc530

[2016-01-21 22:54] cmsbuild commented on #13022
Queing Jenkins upload for slc7_amd64_gcc493

[2016-01-21 22:54] cmsbuild commented on #13022
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/297/console

[2016-01-21 22:54] cmsbuild commented on #13022
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/296/console

[2016-01-21 22:54] cmsbuild commented on #13022
The upload has started for slc7_amd64_gcc493 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/298/console

[2016-01-21 23:06] cmsbuild commented on #13022
The tests have finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre5-slc7_amd64_gcc493/515

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-01-21 23:40] cmsbuild commented on #13022
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre5-slc6_amd64_gcc493/296
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-22 00:00] cmsbuild commented on #13022
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre5/slc6_amd64_gcc493/564/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-01-22 00:03] cmsbuild commented on #13022
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre5-slc6_amd64_gcc530/297
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-22 00:30] cmsbuild commented on #13022
The was error installing slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre5/slc6_amd64_gcc530/565/

[2016-01-22 00:32] cmsbuild commented on #13022
The upload has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre5-slc7_amd64_gcc493/298
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-22 00:53] cmsbuild commented on #13022
The installation has successfully finished for slc7_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre5/slc7_amd64_gcc493/566/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-01-22 01:02] davidlange6 commented on #13022
release-notes

[2016-01-22 01:03] cmsbuild commented on #13022
Generating release notes since CMSSW_8_0_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-01-22 01:03] cmsbuild commented on #13022
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_0_0_pre5 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc7_amd64_gcc493

The release notes of what changed with respect to CMSSW_8_0_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_0_pre5

Cheers,
cms-bot

You can also click <a href="mailt

[2016-01-22 01:07] cmsbuild commented on #13022
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre5

[2016-01-22 07:50] smuzaffar opened #13028 "CMS-BOT Pull Requests commands"
<cmsbot></cmsbot>For CMSSW **Pull requests**, following commands in first line of a comment are recognized
- **```+1|approve[d]|sign[ed]|+category```**: L1/L2's to approve it
- **```-1|reject[ed]|-category```**: L1/L2's to reject it
- **```assign <category>[,<category>[,...]]```**: Any L1/L2's to request signatures from other categories
- **```unassign <category>[,<category>[,...]]```**: Any L1/L2

[2016-01-22 07:50] cmsbuild commented on #13028
A new Issue was created by  @smuzaffar (Malik Shahzad Muzaffar).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L

[2016-01-22 07:56] smuzaffar opened #13029 "CMS-BOT Issue commands"
<cmsbot></cmsbot>For CMSSW **Issues**, following commands in first line of a comment are recognized
- **+1|approve[d]|sign[ed]|+category**: L1/L2's to approve it
- **-1|reject[ed]|-category**: L1/L2's to reject it
- **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: Any L1/L2's to request signatures from other categories
- **unassign &lt;category&gt;[,&lt;category&gt;[,...]]**: Any L1/L2's to r

[2016-01-22 08:08] cmsbuild commented on #13028
A new Issue was created by  @smuzaffar (Malik Shahzad Muzaffar).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-01-22 09:07] smuzaffar commented on #13029
https://github.com/cms-sw/cmssw/issues/13028

[2016-01-22 09:51] cmsbuild commented on #13022
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre5/slc6_amd64_gcc530/567/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-01-24 00:03] cmsbuild commented on #13022
The cleanup has started for slc6_amd64_gcc493

[2016-01-24 00:03] cmsbuild commented on #13022
The cleanup has started for slc6_amd64_gcc530

[2016-01-24 00:03] cmsbuild commented on #13022
The cleanup has started for slc7_amd64_gcc493

[2016-01-24 00:03] #13022 closed

[2016-01-24 00:04] cmsbuild commented on #13022
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre5-slc6_amd64_gcc530/259

[2016-01-24 00:05] cmsbuild commented on #13022
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre5-slc6_amd64_gcc493/258

[2016-01-24 00:05] cmsbuild commented on #13022
The workspace for slc7_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre5-slc7_amd64_gcc493/260

[2016-01-26 20:57] Dr15Jones opened #13079 "Trace down apparent infinite loop in HepPDT::ParticleID::abspid()"
When running multi-threaded the mixing module eventually got into an infinite loop

[code]

[2016-01-26 20:58] cmsbuild commented on #13079
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-01-26 20:59] Dr15Jones commented on #13079
@driley13 Dan, do you want to see if you can find this one?

[2016-01-26 20:59] Dr15Jones commented on #13079
assign core

[2016-01-26 20:59] Dr15Jones commented on #13079
assign simulation

[2016-01-26 20:59] cmsbuild commented on #13079
New categories assigned: core,simulation

@Dr15Jones,@smuzaffar,@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-26 21:00] Dr15Jones commented on #13079
I found the traceback in the IB report

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc493/CMSSW_8_0_THREADED_X_2016-01-21-2300/pyRelValMatrixLogs/run/32.0_H130GGgluonfusion+H130GGgluonfusionINPUT+DIGI+RECO+HARVEST/step2_H130GGgluonfusion+H130GGgluonfusionINPUT+DIGI+RECO+HARVEST.log

[2016-01-26 21:05] driley13 commented on #13079
You have the wrong Dan.
-Dan

Sent from Outlook Mobile

On Tue, Jan 26, 2016 at 1:00 PM -0800, "Chris Jones" <notifications@github.com> wrote:

I found the traceback in the IB report

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc493/CMSSW_8_0_THREADED_X_2016-01-21-2300/pyRelValMatrixLogs/run/32.0_H130GGgluonfusion+H130GGgluonfusionINPUT+DIGI+RECO+HARVEST/step2_H130GGgluonfusion+H130G

[2016-01-26 21:07] Dr15Jones commented on #13079
@dan131riley Dan, do you want to try to take a look at this one?

[2016-01-26 21:09] Dr15Jones opened #13081 "Trace origin of crash when running multi-threaded with XROOTD"
The following traceback was found in the integration build after going to a multi-threaded mixing module which stresses the thread-safety fo XROOTD and out interface to it much harder:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc493/CMSSW_8_0_THREADED_X_2016-01-21-2300/pyRelValMatrixLogs/run/25205.0_ZTT_13+ZTT_13INPUT+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25/step3_ZTT_13+ZTT_13

[2016-01-26 21:09] cmsbuild commented on #13081
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-01-26 21:09] Dr15Jones commented on #13081
assign core

[2016-01-26 21:09] cmsbuild commented on #13081
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-26 21:10] Dr15Jones commented on #13081
@bbockelm looks like a new crash in the CMS xrootd interface.

[2016-01-26 21:22] Dr15Jones opened #13082 "Find thread-safety problem in JobReport"
The threaded IB shows a crash in JobReport once the mixing module became threaded:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc493/CMSSW_8_0_THREADED_X_2016-01-21-2300/pyRelValMatrixLogs/run/25208.0_SMS-T1tttt_mGl-1500_mLSP-100_13+SMS-T1tttt_mGl-1500_mLSP-100_13INPUT+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25/step3_SMS-T1tttt_mGl-1500_mLSP-100_13+SMS-T1tttt_mGl-1500_mLSP-100_13IN

[2016-01-26 21:22] cmsbuild commented on #13082
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-01-26 21:22] Dr15Jones commented on #13082
assign core

[2016-01-26 21:22] cmsbuild commented on #13082
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-26 21:28] Dr15Jones commented on #13082
#13083 is meant to fix this

[2016-01-26 21:28] bbockelm commented on #13081
What's the best way to re-run the above IB by hand?

Just guessing from the stdout and lack of other details, I would guess there's an issue with the delayed close callback.

[2016-01-26 21:31] davidlt commented on #13081
RelVals? `runTheMatrix.py -i all -j <core_count>` This would replay all ~350 workflows. You can also add `-l <num>,<num>,..` just to run specific workflows.

[2016-01-26 21:32] Dr15Jones commented on #13081
I doubt the problem is easily repeatable. To rerun the job do
[code]

[2016-01-26 21:34] davidlt commented on #13081
There are 72-virtual-core x86_64 machines (sadly only with 64GB of RAM) and we could hammer some workflows very hard (high number of threads and multiple cmsRun processes) just reveal threading issues faster.

[2016-01-26 21:38] bbockelm commented on #13081
Bah.  No, looking closer at the traceback, it's probably `XrdAdaptor::ClientRequest::HandleResponse`.

Not entirely sure though; tough to tell with inlining.  Any way to recover symbols?

[2016-01-26 21:38] dan131riley commented on #13079
helgrind finds it too...will take a look

==85956== Possible data race during read of size 8 at 0x45EF9558 by thread #1
==85956== Locks held: none
==85956==    at 0x1DB288F3: std::_Rb_tree<HepPDT::ParticleID, std::pair<HepPDT::ParticleID const, HepPDT::ParticleData>, std::_Select1st<std::pair<HepPDT::ParticleID const, HepPDT::ParticleData> >, HepPDT::ParticleDataTableComparison, std::allocator<std

[2016-01-26 21:43] Dr15Jones opened #13084 "Race condition while reading from a file in the mixing module"
The IB showed the following failure after the mixing module became multi-thread efficient:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc493/CMSSW_8_0_THREADED_X_2016-01-22-2300/pyRelValMatrixLogs/run/25203.0_H125GGgluonfusion_13+H125GGgluonfusion_13INPUT+DIGIUP15_PU25+RECOUP15_PU25+HARVESTUP15_PU25/step3_H125GGgluonfusion_13+H125GGgluonfusion_13INPUT+DIGIUP15_PU25+RECOUP15_PU25+HARV

[2016-01-26 21:43] cmsbuild commented on #13084
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-01-26 21:45] driley13 commented on #13079
You're sending these to the wrong Dan.
-Dan

Sent from Outlook Mobile

On Tue, Jan 26, 2016 at 1:38 PM -0800, "Dan Riley" <notifications@github.com> wrote:

helgrind finds it too...will take a look

==85956== Possible data race during read of size 8 at 0x45EF9558 by thread #1

==85956== Locks held: none

==85956==    at 0x1DB288F3: std::_Rb_tree<HepPDT::ParticleID, std::pair<HepPDT::ParticleID con

[2016-01-26 21:45] Dr15Jones commented on #13084
@bbockelm @dan131riley
Dan, looks like a similar error to the one you reported at the meeting. But it looks like another thread was affected in a slightly differerent way.

[2016-01-26 21:46] Dr15Jones commented on #13084
assign core

[2016-01-26 21:46] cmsbuild commented on #13084
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-27 00:30] bbockelm commented on #13081
Discussing with Chris, we now think the problem is in `QualityMetricFactory::get()`.  We think this is corrupting memory (particularly, the stack) as the stacktrace above shouldn't be possible.

This singleton isn't thread-safe and is used when there are concurrent opens (i.e., something we don't do often _except_ for the new threaded mixing module).  So, it should be fixed regardless of whether i

[2016-01-27 02:44] bbockelm commented on #13084
The original error in this one is:
[code]

This is in the ROOT TFile plugin system.

After this failure, the file open was retried via AAA (original attempt was via EOS).  I can't quite figure out why EOS failed in the first place.

As for the error:
[code]
it's not clear to me what causes this - unless `RootEmbeddedFileSequence::readOneSpecified` is suppressing an exception?

[2016-01-27 03:16] bbockelm commented on #13081
I believe #13085 may fix this issue.

[2016-01-27 03:21] bbockelm commented on #13084
To be clear, I don't currently believe the original problem is with Xrootd.  The underlying cause may be some combination of ROOT and the `RootEmbeddedFileSequence` (or something it calls) possibly swallowing an exception from the TFile (maybe unrelated, but notice the mixing module has two copies of the same file open at once -- is this going to be a problem?).

That said, the failure in the fall

[2016-01-27 08:53] davidlange6 opened #13089 "Build CMSSW_5_3_32_patch1"
Primary purpose of this release: To include Bd_JpsiPPbar.dec

[2016-01-27 08:53] cmsbuild commented on #13089
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-01-27 08:54] davidlange6 commented on #13089
+1

[2016-01-27 08:54] cmsbuild commented on #13089
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_32_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2016-01-27 08:54] cmsbuild commented on #13089
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-01-27 08:55] cmsbuild commented on #13089
The build has started for slc6_amd64_gcc472 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/516/console
CMSDIST Branch: [REL/CMSSW_5_3_32/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_5_3_32/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-27 09:29] cmsbuild commented on #13089
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_32_patch1-slc6_amd64_gcc472/516
Some te

[2016-01-27 09:45] davidlange6 commented on #13089
upload all

[2016-01-27 09:45] cmsbuild commented on #13089
Queing Jenkins upload for slc6_amd64_gcc472

[2016-01-27 09:46] cmsbuild commented on #13089
The upload has started for slc6_amd64_gcc472 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/299/console

[2016-01-27 09:54] cmsbuild commented on #13089
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_32_patch1-slc6_amd64_gcc472/299
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-27 10:00] cmsbuild commented on #13089
The installation has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_5_3_32_patch1/slc6_amd64_gcc472/568/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-01-27 10:11] cmsbuild commented on #13089
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_32_patch1-slc6_amd64_gcc472/516

Tests results:
8 8 7 7 3 tests passed, 0 0 0 0 0 failed

[2016-01-27 10:55] davidlange6 commented on #13089
release-notes

[2016-01-27 10:55] cmsbuild commented on #13089
Generating release notes since CMSSW_5_3_32.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-01-27 10:55] cmsbuild commented on #13089
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_5_3_32_patch1 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_32 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_32_patch1

Primary purpose of this release: To include Bd_JpsiPPbar.dec

[2016-01-27 10:58] cmsbuild commented on #13089
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_32_patch1

[2016-01-27 15:09] dan131riley commented on #13084
This is in replay, so when it's called RootEmbeddedFileSequence::readOneSpecified() gets an event ID and a file hash; if the hash doesn't match the currently open file, it's supposed to search through the list of files it gets from the VectorInputSource to find the one with the matching hash.  It doesn't have the name of the file it's looking for, but I could add the hash to the exception message.

[2016-01-27 15:17] Dr15Jones commented on #13084
@pcanal I think the ```TStorageFactorySystem``` error may be because the ROOT plugin system isn't thread safe and we had multiple threads hit it simultaneously.

[2016-01-27 15:23] Dr15Jones commented on #13084
The error message from ROOT is strange since 0 arguments is allowed for the constructor
http://cmslxr.fnal.gov/source/IOPool/TFileAdaptor/interface/TStorageFactorySystem.h?v=CMSSW_8_0_0_pre5#0020

It is almost as if cling had a lookup failure when trying to find the allowed constructors.

[2016-01-27 15:24] dan131riley commented on #13084
There's a potentially big problem with replay thrashing file opens since replay events won't necessarily go to the same streams they did originally, so we lose locality with the input file.  May have to consider some scheme for sharing a single input file instead of a file per thread or somehow get smarter about sharing input files.

[2016-01-27 15:47] Dr15Jones commented on #13084
@pcanal I think I may have found the problem. ```TPluginHandler``` which are 'global' resources are not threads safe when one asks them to create the plugin:
https://root.cern.ch/doc/master/TPluginManager_8h_source.html#l00156

note that one first changes the state of ```fCallEnv``` and then later calls ```Execute```. Clearly two threads reading that point at the same time will interfere.  Also th

[2016-01-27 16:52] davidlange6 opened #13092 "Build CMSSW_7_5_8_patch3"
Primary reasons for release:
 -- Fix to pp ref run HLT menu
 -- Fix to PF reco for crash seen in prompt reco

[2016-01-27 16:52] cmsbuild commented on #13092
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-01-27 16:53] davidlange6 commented on #13092
+1

[2016-01-27 16:54] cmsbuild commented on #13092
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_5_X

[2016-01-27 16:54] cmsbuild commented on #13092
Queuing Jenkins build for the following architectures: slc6_amd64_gcc491
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-01-27 16:55] cmsbuild commented on #13092
The build has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/517/console
CMSDIST Branch: [REL/CMSSW_7_5_8/slc6_amd64_gcc491](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_5_8/slc6_amd64_gcc491), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-01-27 17:28] cmsbuild commented on #13092
The build has finished sucessfully for the architecture slc6_amd64_gcc491 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch3-slc6_amd64_gcc491/517
Some tes

[2016-01-27 17:52] cmsbuild commented on #13092
The tests have finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_5_8_patch3-slc6_amd64_gcc491/517

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-01-27 18:00] davidlange6 commented on #13092
upload all

[2016-01-27 18:00] cmsbuild commented on #13092
Queing Jenkins upload for slc6_amd64_gcc491

[2016-01-27 18:01] cmsbuild commented on #13092
The upload has started for slc6_amd64_gcc491 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/300/console

[2016-01-27 18:26] cmsbuild commented on #13092
The upload has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_5_8_patch3-slc6_amd64_gcc491/300
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-01-27 18:36] cmsbuild commented on #13092
The installation has successfully finished for slc6_amd64_gcc491
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_5_8_patch3/slc6_amd64_gcc491/569/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-01-27 22:00] pcanal commented on #13084
@Dr15Jones Try commit 1525ff7 we should fix the problem.

[2016-01-28 07:11] davidlange6 commented on #13092
release-notes

[2016-01-28 07:11] cmsbuild commented on #13092
Generating release notes since CMSSW_7_5_8_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-01-28 07:11] cmsbuild commented on #13092
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_5_8_patch3 is now available for the following architectures:

slc6_amd64_gcc491 (production)

The release notes of what changed with respect to CMSSW_7_5_8_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_5_8_patch3

Primary reasons for release:
 -- Fix to pp ref run HLT me

[2016-01-28 07:13] cmsbuild commented on #13092
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_5_8_patch3

[2016-01-28 10:48] davidlange6 opened #13102 "Update CLHEP version in 80x"
@civanch should make a request

[2016-01-28 10:49] cmsbuild commented on #13102
A new Issue was created by  @davidlange6 (David Lange).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-01-28 10:49] davidlange6 commented on #13102
assign simulation

[2016-01-28 10:49] cmsbuild commented on #13102
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-28 11:21] mverzett opened #13104 "Add tests to jenkings"
Dear Release Managers,

with PR #13101 I introduced few unit tests to check that the code used by the SiStrip calibration and local reconstruction group does not break under upstream code changes.

I do not expect the code to break under very common circumstances but, as an example, the requirement of the consumes<>() mechanism in all ED modules in 8.0.X indeed broke the code at runtime.

In order

[2016-01-28 11:21] cmsbuild commented on #13104
A new Issue was created by  @mverzett (Mauro Verzetti).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-01-28 11:33] civanch commented on #13102
A new issue for externals is created: https://github.com/cms-externals/clhep/issues/1 which requires making a new branch for cms-externals/clhep
@degano , likely you can do this? Or I have to do PR with this new branch inside clhep?

[2016-01-28 13:36] slava77 commented on #13104
@mverzett
you should add these tests (assuming they are very short) to the unit tests (edit the BuildFile) in the package where you want the tests to be run.
All full builds of the release and all PR tests with code in your package or in packages it depends on will have these tests running.
https://github.com/cms-sw/cmssw/blob/CMSSW_8_0_X/PhysicsTools/PatAlgos/test/BuildFile.xml

Please try to min

[2016-01-28 14:10] mverzett commented on #13104
OK, I will implement it as you suggested. How do I test that I implemented it correctly? ```scram test``` in the proper sub-package?

[2016-01-28 14:18] slava77 commented on #13104
On 1/28/16 6:10 AM, Mauro Verzetti wrote:

scram b runtests

[2016-01-28 15:04] mverzett commented on #13104
Hi @slava77 ,
I implemented as you suggested (one python cfg running everything, on 3 events). Two questions:
  * Should I add some printout information before/after?
  * The running script will be a binary per se, does not need to be compiled, which keyword should I use in the Buildfile? The example you sent me uses a .cpp script

Thank you again

[2016-01-28 15:29] slava77 commented on #13104
I think that the example from PatAlgos applies directly here. The runtestPhysicsToolsPatAlgos.cpp is just a placeholder, the rest is the "shellName TestDirectoryName scriptNameInTheTestDir" are somewhat intuitive
[code]

[2016-01-28 15:45] Dr15Jones opened #13111 "MulticoreRunLumiEventChecker should use std::thread"
`MulticoreRunLumiEventChecker`is right now using `boost::thread`. This should be switched to using `std::thread`.

[2016-01-28 15:45] cmsbuild commented on #13111
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-01-28 15:45] Dr15Jones commented on #13111
assign core

[2016-01-28 15:45] cmsbuild commented on #13111
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-28 18:45] Dr15Jones commented on #13082
+1

[2016-01-28 18:45] cmsbuild commented on #13082
This issue is fully signed and ready to be closed.

[2016-01-28 18:45] Dr15Jones commented on #13024
+1

[2016-01-28 18:45] cmsbuild commented on #13024
This issue is fully signed and ready to be closed.

[2016-01-28 18:46] Dr15Jones commented on #13017
Turns out the problem is actually with .rootlogon.C

[2016-01-28 18:49] Dr15Jones commented on #13017
#13113

[2016-01-28 19:14] Dr15Jones opened #13114 "Allow EventSetup Producers to return std::shared_ptr or std::unique_ptr"
The produce methods of ESProducers should be allowed to return `std::shared_ptr` or `std::unique_ptr`. At the moment we only support `boost::shared_ptr` or bare pointers.

[2016-01-28 19:14] cmsbuild commented on #13114
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-01-28 19:14] Dr15Jones commented on #13114
assign core

[2016-01-28 19:14] cmsbuild commented on #13114
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-29 09:58] cmsbuild commented on #13089
The cleanup has started for slc6_amd64_gcc472

[2016-01-29 09:58] #13089 closed

[2016-01-29 09:59] cmsbuild commented on #13089
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_32_patch1-slc6_amd64_gcc472/261

[2016-01-29 14:10] davidlange6 opened #13127 "workflow test updates"
Remove workflows 13600 and 13661 from the list tested in the 62xSLHC and SLHCdev IBs and PRs

[2016-01-29 14:10] cmsbuild commented on #13127
A new Issue was created by  @davidlange6 (David Lange).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-01-29 14:10] davidlange6 commented on #13127
assign core

[2016-01-29 14:11] cmsbuild commented on #13127
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-29 14:14] smuzaffar commented on #13127
working on it

[2016-01-29 14:24] smuzaffar commented on #13127
+1
Done here cms-sw/cms-bot#607

[2016-01-29 14:24] cmsbuild commented on #13127
This issue is fully signed and ready to be closed.

[2016-01-29 14:24] #13127 closed

[2016-01-30 06:13] cmsbuild commented on #13092
The cleanup has started for slc6_amd64_gcc491

[2016-01-30 06:13] #13092 closed

[2016-01-30 06:14] cmsbuild commented on #13092
The workspace for slc6_amd64_gcc491 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_5_8_patch3-slc6_amd64_gcc491/262

[2016-02-01 15:39] smuzaffar commented on #13017
#13147 should also fix the edmCheckClassTransients script

[2016-02-01 15:39] #12868 closed

[2016-02-01 20:35] Dr15Jones opened #13155 "Explore use of proxy with configuration Modifier"
At the moment the python configuration `Modifier` class requires that any `toModify` calls apply changes to the configuration object immediately in order to have down stream objects (e.g. clones) see those changes. This can lead to strange behaviors if an `import` is done before the `Modifier` has been chosen.

Instead of making the change immediately, it could be possible to replace the parameter

[2016-02-01 20:36] cmsbuild commented on #13155
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-01 20:36] Dr15Jones commented on #13155
assign core

[2016-02-01 20:36] cmsbuild commented on #13155
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-02 15:37] Dr15Jones opened #13167 "Allow clone and Modifier.toModify to specify hierarchical parameters"
It should be possible to specify a parameter of a parameter hierarchically in the module `clone` method or in `Modifier.toModify`. This would allow
[code]
which would be equivalent to
[code]

[2016-02-02 15:37] cmsbuild commented on #13167
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-02 15:38] Dr15Jones commented on #13167
assign core

[2016-02-02 15:38] cmsbuild commented on #13167
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-03 18:24] Dr15Jones opened #13180 "Provide a way in configuration validation to specify containers of a set length"
There are times where a container of parameters is required to be of a set length. We'd like to have the configuration validation system be able to enforce such a requirement. One suggestion was to possibly allow the use of `std::array<>` as a C++ parameter type.

[2016-02-03 18:24] cmsbuild commented on #13180
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-03 18:26] Dr15Jones commented on #13180
assign core

[2016-02-03 18:26] cmsbuild commented on #13180
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-03 18:32] Dr15Jones commented on #13180
The problem with using `std::array<>` as a drop in replacement for `std::vector<>` is the type specified in the python configuration is a one to one mapping to a C++ type. If we were to allow one python type to be used by multiple C++ types the system couldn't properly enforce that the same C++ type was used every single time that parameter is requested.

This does bring up the possibility that we

[2016-02-04 15:45] Dr15Jones opened #13194 "Discuss adding a clear method to Sequence"
A request has been made to add a `clear()` method to the python Sequence class.

[2016-02-04 15:45] cmsbuild commented on #13194
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-04 15:46] Dr15Jones commented on #13194
assign core

[2016-02-04 15:46] cmsbuild commented on #13194
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-04 15:47] Dr15Jones commented on #13194
@makortel Can you give the use case where you want to do a `clear()`? Also, is there a reason that just reassigning the variable to a newly made `Sequence` is insufficient?

[2016-02-04 15:49] Dr15Jones opened #13195 "Sort module timing report by time spent in the module"
The _Module Summary_ part of the timing report lists the modules in the order in which they happen to have been added to the internal schedule. This order has no significance to a user. @VinInn suggested that the report should be sorted by decreasing time spent in a module. This would allow one to quickly see which modules are taking the most time.

[2016-02-04 15:50] cmsbuild commented on #13195
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-04 15:50] Dr15Jones commented on #13195
assign core

[2016-02-04 15:50] cmsbuild commented on #13195
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-04 15:54] Dr15Jones opened #13196 "Switched to better way of not reading .rootlogon.* file once update ROOT"
Use the following change in ROOT once we have that change in CMSSW:

https://sft.its.cern.ch/jira/browse/ROOT-7935

This would affect script such as edmCheckClassVersion.

[2016-02-04 15:54] cmsbuild commented on #13196
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-04 15:54] Dr15Jones commented on #13196
assign core

[2016-02-04 15:54] cmsbuild commented on #13196
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-04 16:05] slava77 commented on #13195
Grouping by dependence order would be more natural, something that's predictable from parsing the python.
Grouping by time spent or by incidental execution order is all random and seems of a limited use.

[2016-02-04 16:18] makortel commented on #13194
It comes from my third prototype for using eras to switch tracking configuration for phase1:
* HN message https://hypernews.cern.ch/HyperNews/CMS/get/edmFramework/3597/1/2/1/1/1/1/1/1/1/1.html
* prototype https://github.com/cms-sw/cmssw/compare/CMSSW_8_0_X_2016-01-26-1100...makortel:phase1EraMinimal_v3_2

I need to clear and re-use the existing object e.g. here
https://github.com/cms-sw/cmssw/comp

[2016-02-04 16:58] Dr15Jones commented on #13194
I'm thinking the `++` comes from either a module or a Sequence you added to `iterTracking` without also _binding_ to `process`. I'll see if I can track it down and provide a meaningful way of preventing or at least catching such a problem.

[2016-02-04 17:15] Dr15Jones commented on #13195
I can see ordering by timing making it easy for someone looking at the job as a whole and trying to access what is taking all the time.

I can see ordering by module label to make it easy to find a particular module of interest.

[2016-02-04 17:32] Dr15Jones commented on #13194
It appears that the problem you were having stems from
[code]

I think the following should have worked
[code]

A better solution would be for me to add a `replaceWith` method in `Modifier` so that in RecoTracker.FinalTrackSelectors.preDuplicateMergingGeneralTracks_cfi you could have

[code]

[2016-02-04 20:15] Dr15Jones commented on #13194
#13198

[2016-02-04 20:18] makortel commented on #13194
I understood your suggestion such that instead of wrapping `preDuplicateMergingGeneralTracks` to a sequence and modifying the sequence, I should do
[code]
I tried that, and but the `++` is still there, and also the `process.reconstruction` still contains sequences from the original `iterTracking`. (I also tried to apply the same recipe to `earlyGeneralTracks_cfi`, but no luck).

Could it be that r

[2016-02-04 20:19] makortel commented on #13194
Ok, I can give a try with that tomorrow :)

[2016-02-04 20:30] Dr15Jones commented on #13194
I'm not trying to put you on the spot. I'm very willing to "roll up my sleeves" and try myself. :). The concrete examples are very helpful for a place to start :).

[2016-02-04 20:42] makortel commented on #13194
Thanks. You should be able to repeat what I'm doing by taking CMSSW_8_0_X_2016-01-26-1100...makortel:phase1EraMinimal_v3_2 to any IB later than CMSSW_8_0_X_2016-01-26-1100. I'm using /afs/cern.ch/user/m/mkortela/public/phase1/step3_reco.py as the job configuration, but I guess that in any post-#12806 IB the step3 of `runTheMatrix -w upgrade -l 10000.0` should do the job too.

[2016-02-05 01:00] Dr15Jones commented on #13194
I tried building the code with your changes but the shear number of packages that `git cmd-merge-topic` checked out seems to be it will not finish compiling before I go to bed tonight :).

[2016-02-05 08:43] makortel commented on #13194
Weird, makortel:phase1EraMinimal_v3_2 should not change that many thins other places depend on.

[2016-02-05 10:24] davidlange6 opened #13201 "Python extra verbose in 80x IBs"
[dlange@cmsdev01 src]$ python
Python 2.7.11 (default, Jan 21 2016, 17:19:47)
[GCC 5.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.
Name collision 'vt52' between
    vt52|dec vt52
and vt52|dec vt52
...now  dec vt52
Cannot remove alias 'dec vt52'
Name collision 'vt100-nav' between
    vt100-nav|vt100 without advanced video option
and vt100-nav|vt100 without adv

[2016-02-05 10:24] davidlange6 commented on #13201
assign core

[2016-02-05 10:24] cmsbuild commented on #13201
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-05 10:24] cmsbuild commented on #13201
A new Issue was created by  @davidlange6 (David Lange).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-05 16:18] makortel commented on #13194
Based on your private suggestion, I decided to ditch the ProcessModifier approach in the phase1EraMinimal_v3_2, and made another prototype with `toReplaceWith()` https://github.com/cms-sw/cmssw/compare/CMSSW_8_0_X...makortel:phase1EraMinimal_v4 (it includes #13198 since there was no IB yet at the time, and then I was too lazy to rebase). I tested in CMSSW_8_0_X_2016-02-04-2300 with `-w upgrade -l

[2016-02-05 19:37] Dr15Jones commented on #13194
I've also been exploring not using ProcessModifier based on your initial prototype
https://github.com/Dr15Jones/cmssw/commit/3178b2b66c70115337b4500fb8fd1a163dacdf30

I'm not all the way through the modifications but I thought people might be interested in the change. It is likely close to what Matti has done.

[2016-02-06 03:14] Dr15Jones commented on #13194
I did finish my version of the change
https://github.com/Dr15Jones/cmssw/commit/3d37b712c75ece37cbc3e502ff18404351b54c80

[2016-02-06 23:11] Dr15Jones opened #13209 "Use 'None' to denote that a parameter should be removed"
In the module `clone` method and in the `Modifier.toModify` method when specifying a value for a parameter we could allow the value of `None` to mean the parameter should be removed.

[2016-02-06 23:11] cmsbuild commented on #13209
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-06 23:30] Dr15Jones commented on #13209
assign core

[2016-02-06 23:30] cmsbuild commented on #13209
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-06 23:38] Dr15Jones opened #13210 "Use a dict to specify how to change subvalues of a PSet"
In the module `clone` method and in the `Modifier.toModify` method one sometimes needs to modify methods which are found down a chain of PSets. The present method is unwieldy and error prone

[code]

Instead, we could accept a python dictionary to specify the subvalue to change
[code]
or one can even use the standard python `dict` function to write
[code]

[2016-02-06 23:39] cmsbuild commented on #13210
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-06 23:39] Dr15Jones commented on #13210
@makortel I think this might make some of the modifications simpler

[2016-02-06 23:39] Dr15Jones commented on #13210
assign core

[2016-02-06 23:39] cmsbuild commented on #13210
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-07 09:46] davidlange6 opened #13211 "Build CMSSW_7_1_21"

[2016-02-07 09:47] cmsbuild commented on #13211
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-02-07 09:47] davidlange6 commented on #13211
+1

[2016-02-07 09:47] cmsbuild commented on #13211
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_21. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2016-02-07 09:47] cmsbuild commented on #13211
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-02-07 09:48] cmsbuild commented on #13211
The build has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/518/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-07 12:50] cmsbuild commented on #13211
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_21-slc6_amd64_gcc481/518
Some tests ( r

[2016-02-07 13:06] cmsbuild commented on #13211
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_21-slc6_amd64_gcc481/518

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2016-02-07 13:07] davidlange6 commented on #13211
upload all

[2016-02-07 13:08] cmsbuild commented on #13211
Queing Jenkins upload for slc6_amd64_gcc481

[2016-02-07 13:08] cmsbuild commented on #13211
The upload has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/301/console

[2016-02-07 14:04] cmsbuild commented on #13211
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_21-slc6_amd64_gcc481/301
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-07 15:09] cmsbuild commented on #13211
The installation has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_1_21/slc6_amd64_gcc481/570/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. Yo

[2016-02-07 15:16] davidlange6 commented on #13211
release-notes

[2016-02-07 15:16] cmsbuild commented on #13211
Generating release notes since CMSSW_7_1_20_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-02-07 15:16] cmsbuild commented on #13211
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_21 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_20_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_21

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cer

[2016-02-07 15:18] cmsbuild commented on #13211
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_21

[2016-02-07 17:28] davidlange6 opened #13213 "Build CMSSW_8_0_0_pre6"

[2016-02-07 17:28] cmsbuild commented on #13213
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-02-07 17:33] davidlange6 commented on #13213
+1

[2016-02-07 17:33] cmsbuild commented on #13213
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-02-07 17:34] cmsbuild commented on #13213
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, fc22_ppc64le_gcc530, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2016-02-07 17:35] cmsbuild commented on #13213
The build has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/519/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-07 17:48] cmsbuild commented on #13213
The build has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/520/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-07 17:50] cmsbuild commented on #13213
The build has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/521/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-07 18:22] cmsbuild commented on #13213
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/526/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-07 20:03] cmsbuild commented on #13213
The was an error for fc22_ppc64le_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre6-fc22_ppc64le_gcc530/526

[2016-02-07 20:21] cmsbuild commented on #13213
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/527/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-07 20:35] cmsbuild commented on #13213
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre6-slc6_amd64_gcc530/520
Some tests

[2016-02-07 20:50] cmsbuild commented on #13213
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre6-slc6_amd64_gcc530/520

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-07 20:52] davidlange6 commented on #13213
upload all

[2016-02-07 20:52] cmsbuild commented on #13213
Queing Jenkins upload for slc6_amd64_gcc530

[2016-02-07 20:53] cmsbuild commented on #13213
The upload has started for slc6_amd64_gcc530 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/302/console

[2016-02-07 21:20] cmsbuild commented on #13213
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre6-slc6_amd64_gcc530/302
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-07 21:39] cmsbuild commented on #13213
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre6/slc6_amd64_gcc530/571/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-02-07 22:01] cmsbuild commented on #13213
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre6-slc6_amd64_gcc493/519
Some tests

[2016-02-07 22:02] cmsbuild commented on #13213
Queing Jenkins upload for slc6_amd64_gcc493

[2016-02-07 22:02] cmsbuild commented on #13213
The upload has started for slc6_amd64_gcc493 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/303/console

[2016-02-07 22:24] cmsbuild commented on #13213
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre6-slc6_amd64_gcc493/303
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-07 22:24] cmsbuild commented on #13213
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre6-slc6_amd64_gcc493/519

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-07 22:46] cmsbuild commented on #13213
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0_pre6/slc6_amd64_gcc493/572/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide

[2016-02-07 23:58] cmsbuild commented on #13213
The build has finished sucessfully for the architecture fc22_ppc64le_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre6-fc22_ppc64le_gcc530/527
Some t

[2016-02-07 23:59] cmsbuild commented on #13213
Queing Jenkins upload for fc22_ppc64le_gcc530

[2016-02-08 00:22] cmsbuild commented on #13213
The tests have finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre6-fc22_ppc64le_gcc530/527

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-08 01:23] cmsbuild commented on #13213
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre6-slc7_amd64_gcc530/521
Some tests

[2016-02-08 01:23] cmsbuild commented on #13213
Queing Jenkins upload for slc7_amd64_gcc530

[2016-02-08 01:24] cmsbuild commented on #13213
The upload has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/305/console

[2016-02-08 01:24] cmsbuild commented on #13213
The upload has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/306/console

[2016-02-08 01:24] cmsbuild commented on #13213
The was error uploading slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre6-slc7_amd64_gcc530/306

[2016-02-08 01:45] cmsbuild commented on #13213
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre6-slc7_amd64_gcc530/305
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-08 01:49] cmsbuild commented on #13213
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0_pre6-slc7_amd64_gcc530/521

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-08 05:18] cmsbuild commented on #13213
The upload has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/307/console

[2016-02-08 05:43] cmsbuild commented on #13213
The upload has successfully finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre6-fc22_ppc64le_gcc530/307
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-08 05:59] davidlange6 commented on #13213
release-notes

[2016-02-08 06:00] cmsbuild commented on #13213
Generating release notes since CMSSW_8_0_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-02-08 06:00] cmsbuild commented on #13213
You can use this template for announcing the release:

Hi all,

The development release CMSSW_8_0_0_pre6 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc6_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_0_pre5 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_0_pre6

Cheers,
cms-bot

You can also click <a href="mailt

[2016-02-08 06:04] cmsbuild commented on #13213
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_pre6

[2016-02-08 08:50] makortel commented on #13210
@Dr15Jones Indeed it would, thanks. Is this issue a duplicate of #13167? (I like the syntax of this issue more, especially the `dict` variant that avoids quotes).

[2016-02-08 09:58] cmsbuild commented on #13213
The upload has started for slc7_amd64_gcc530 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/309/console

[2016-02-08 10:05] cmsbuild commented on #13213
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0_pre6-slc7_amd64_gcc530/309
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-08 12:33] makortel commented on #13194
Thanks Chris. I see our final results are conceptually the same (with some differences in implementation).

Regarding the related issues #13210 (use dict to modify nested PSet parameters) would indeed be useful, and #13209 (use None to remove a parameter) would also be nice, but not strictly necessary. In my "v3" prototype I did delete certain parameters so they would get their default value, but

[2016-02-08 13:22] Dr15Jones commented on #13167
Replaced by #13210

[2016-02-08 13:22] #13167 closed

[2016-02-08 19:37] Dr15Jones commented on #13210
#13224

[2016-02-08 19:38] Dr15Jones commented on #13210
+1

[2016-02-08 19:38] cmsbuild commented on #13210
This issue is fully signed and ready to be closed.

[2016-02-08 19:38] Dr15Jones commented on #13209
#13224

[2016-02-08 19:38] Dr15Jones commented on #13209
+1

[2016-02-08 19:38] cmsbuild commented on #13209
This issue is fully signed and ready to be closed.

[2016-02-08 21:14] wmtan commented on #13195
This issue should be solved by PR #13225

[2016-02-08 21:19] Dr15Jones commented on #13194
-1
The Modifier.toReplaceWith can do the work and is more general.

[2016-02-08 21:20] Dr15Jones commented on #12949
+1
#13158

[2016-02-08 21:21] cmsbuild commented on #12949
This issue is fully signed and ready to be closed.

[2016-02-09 14:18] cmsbuild commented on #13211
The cleanup has started for slc6_amd64_gcc481

[2016-02-09 14:18] #13211 closed

[2016-02-09 14:19] cmsbuild commented on #13211
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_21-slc6_amd64_gcc481/263

[2016-02-09 15:44] Dr15Jones opened #13231 "DataFormats/FWLite/test should not depend on PhysicsTools/CondLiteIO"
We should move the test that connects PhysicsTools/CondLiteIO as a dependency to DataFormats/FWLite.

[2016-02-09 15:44] cmsbuild commented on #13231
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-10 05:03] cmsbuild commented on #13213
The cleanup has started for fc22_ppc64le_gcc530

[2016-02-10 05:03] cmsbuild commented on #13213
The cleanup has started for slc7_amd64_gcc530

[2016-02-10 05:03] cmsbuild commented on #13213
The cleanup has started for fc22_ppc64le_gcc530

[2016-02-10 05:03] cmsbuild commented on #13213
The cleanup has started for slc6_amd64_gcc493

[2016-02-10 05:03] cmsbuild commented on #13213
The cleanup has started for slc6_amd64_gcc530

[2016-02-10 05:03] #13213 closed

[2016-02-10 05:04] cmsbuild commented on #13213
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre6-slc6_amd64_gcc530/266

[2016-02-10 05:06] cmsbuild commented on #13213
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre6-slc6_amd64_gcc493/265

[2016-02-10 05:13] cmsbuild commented on #13213
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre6-slc7_amd64_gcc530/267

[2016-02-10 06:59] cmsbuild commented on #13213
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre6-slc7_amd64_gcc530/268

[2016-02-10 07:05] cmsbuild commented on #13213
There was an error deletng the workspace for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre6-fc22_ppc64le_gcc530/269

[2016-02-10 07:08] cmsbuild commented on #13213
There was an error deletng the workspace for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre6-fc22_ppc64le_gcc530/270

[2016-02-10 07:09] cmsbuild commented on #13213
There was an error deletng the workspace for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre6-fc22_ppc64le_gcc530/271

[2016-02-10 07:18] cmsbuild commented on #13213
The workspace for fc22_ppc64le_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0_pre6-fc22_ppc64le_gcc530/273

[2016-02-10 09:32] VinInn opened #13236 "warning (eventually error) generated by CLHEP"
this code

[code]

produce a warning
/afs/cern.ch/cms/slc7_amd64_gcc530/external/clhep/2.2.0.4/include/CLHEP/Random/Randomize.h:70:18: warning: 'CLHEP::HepRandomGenActive' defined but not used [-Wunused-variable]
 static const int HepRandomGenActive = HepRandom::createInstance();

please ask to be fixed

[2016-02-10 09:32] cmsbuild commented on #13236
A new Issue was created by  @VinInn (Vincenzo Innocente).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-10 10:23] VinInn commented on #13236
[code]

is most probably not needed in
/afs/cern.ch/cms/slc7_amd64_gcc530/external/geant4/10.00.p03/include/Geant4/G4SteppingManager.hh:62,

removing it will most probably cause havoc in G4....

[2016-02-10 10:59] davidlange6 opened #13238 "Build CMSSW_6_2_0_SLHC28"
Release for fast timing reco production.

[2016-02-10 11:00] cmsbuild commented on #13238
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-02-10 11:04] davidlange6 commented on #13238
+1

[2016-02-10 11:05] cmsbuild commented on #13238
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_6_2_0_SLHC28. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_6_2_X_SLHC

[2016-02-10 11:05] cmsbuild commented on #13238
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-02-10 11:40] cmsbuild commented on #13238
The build has started for slc6_amd64_gcc472 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/528/console
CMSDIST Branch: [IB/CMSSW_6_2_X/devel-gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_6_2_X/devel-gcc472), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-10 13:27] cmsbuild commented on #13238
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_6_2_0_SLHC28-slc6_amd64_gcc472/528
Some tes

[2016-02-10 13:27] cmsbuild commented on #13238
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_6_2_0_SLHC28-slc6_amd64_gcc472/528

Tests results:
grep: /build/cmsbuild/auto-builds/CMSSW_6_2_0_SLHC28-slc6_amd64_gcc472/build/CMSSW_6_2_0_SLHC28-tests/matrixTests/runall-report-step123-.log: No such file or directory

[2016-02-10 13:32] davidlange6 commented on #13238
upload all

[2016-02-10 13:33] cmsbuild commented on #13238
Queing Jenkins upload for slc6_amd64_gcc472

[2016-02-10 13:33] cmsbuild commented on #13238
The upload has started for slc6_amd64_gcc472 in vocms029.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/310/console

[2016-02-10 14:02] cmsbuild commented on #13238
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_6_2_0_SLHC28-slc6_amd64_gcc472/310
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-10 14:30] cmsbuild commented on #13238
The installation has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_6_2_0_SLHC28/slc6_amd64_gcc472/573/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provi

[2016-02-11 13:47] davidlange6 commented on #13238
release-notes

[2016-02-11 13:47] cmsbuild commented on #13238
Generating release notes since CMSSW_6_2_0_SLHC27.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-02-11 13:47] cmsbuild commented on #13238
You can use this template for announcing the release:

Hi all,

The production release CMSSW_6_2_0_SLHC28 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_6_2_0_SLHC27 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_6_2_0_SLHC28

Release for fast timing reco production.

Cheers,
cms-bot

You

[2016-02-11 13:49] cmsbuild commented on #13238
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_6_2_0_SLHC28

[2016-02-11 16:23] smuzaffar opened #13254 "new FWLite dependencies"
#13204 brings in extra FWLite dependencies e.g

DataFormats/HGCRecHit
Geometry/HGCalGeometry

for which many other Geometry packages are needed. Either dependency chain should be cleaned up or please update https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_8_0_X/stable/fwlite_build_set.file

[2016-02-11 16:23] cmsbuild commented on #13254
A new Issue was created by  @smuzaffar (Malik Shahzad Muzaffar).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-11 16:24] smuzaffar commented on #13254
assign visualization

[2016-02-11 16:24] cmsbuild commented on #13254
New categories assigned: visualization

@Dr15Jones,@alja you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-11 20:56] osschar commented on #13254
I guess we should add DataFormats/HGCRecHit to the fwlite_build_set.file (unless it pulls in extra non-fwlite stuff, that is).

Fireworks/Geometry is not part of fwlite so addition of Geometry/HGCalGeometry is not a problem.

[2016-02-11 21:14] smuzaffar commented on #13254
I have not checked but looks like they do bring in a lot other packages too.

[2016-02-11 21:26] osschar commented on #13254
Looking at  DataFormats/HGCRecHit/BuildFile.xml and dependencies it seems DataFormats/ForwardDetId is the missing one. This in turn requires FWCore/Utilities and DataFormats/DetId which are both already part of fwlite.

[2016-02-12 17:20] Dr15Jones opened #13268 "Having a meaningful exception message when the same produces call is made"
A module had two identical `produces()` call and the exception message was
[code]

We should change this to make it clear that the problem is one module making two identical `produces` calls.

[2016-02-12 17:20] cmsbuild commented on #13268
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-12 17:21] Dr15Jones commented on #13268
assign core

[2016-02-12 17:21] cmsbuild commented on #13268
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-13 12:48] cmsbuild commented on #13238
The cleanup has started for slc6_amd64_gcc472

[2016-02-13 12:48] #13238 closed

[2016-02-13 12:48] cmsbuild commented on #13238
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_6_2_0_SLHC28-slc6_amd64_gcc472/274

[2016-02-15 13:46] smuzaffar opened #13286 "DetectorDescription/RegressionTest unit test failing"
For 80X, DetectorDescriptionRegressionTestDOMCount unit test is failing with error
[code]

please provide a fix for this

[2016-02-15 13:47] cmsbuild commented on #13286
A new Issue was created by  @smuzaffar (Malik Shahzad Muzaffar).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-15 13:47] smuzaffar commented on #13286
assign geometry

[2016-02-15 13:47] cmsbuild commented on #13286
New categories assigned: geometry

@Dr15Jones,@ianna,@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-15 14:57] bbockelm opened #13288 "Allow Service to register for end-of-job exception"
There's no way for a service to "see" when an exception has been thrown.  The FJR gets this information as integration with the Job Report is done inside cmsRun.cpp.

It would be nice if services could register with "endWithException" (or similarly named signal) so they could introspect the inspection.

For example, I would like the CondorStatusService to see exceptions so we can forward them alon

[2016-02-15 14:57] cmsbuild commented on #13288
A new Issue was created by  @bbockelm (Brian Bockelman).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-15 14:59] Dr15Jones opened #13289 "Allow Services to know if cmsRun is ending abnormally"
Add an additional activity which is called if cmsRun is shutting down because of an exception. The JobReport service is already informed but other services may also need that information. Therefore a general purpose activity is more appropriate.

[2016-02-15 14:59] cmsbuild commented on #13289
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-15 14:59] Dr15Jones commented on #13289
assign core

[2016-02-15 14:59] cmsbuild commented on #13289
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-15 15:03] bbockelm commented on #13288
Whoops.  Opened this at the same time as Chris.  I'll close this version.

[2016-02-15 15:03] #13288 closed

[2016-02-15 15:04] bbockelm commented on #13289
#13288 was a duplicate of this.

[2016-02-15 22:36] alja commented on #13254
Looking at the commit #13204 only DataFormats/HGCRecHit package is needed in FWLite pacakge Fireworks/Calo.

The package  Fireworks/Geometry is not part of FWLite. This is the one that has dependency to Geometry/HGCalGeometry.

I'm on a family leave till February 29th. I will double check this when I come back.

[2016-02-16 15:43] smuzaffar opened #13304 "IB QA tests regenerates .pyc files for release"
IBs are installed in read/write volumes of AFS and the way IB unit tests are run (by creating src symlink pointing to $CMSSW_RELEASE_BASE/src) means if either .pyc file is missing in release or .pyc file has a older timestamp than the corresponding .py file then it will be re-generated during the unit tests.

We should make sure that IB installation is read-only and QA tests should not create syml

[2016-02-16 15:43] smuzaffar commented on #13304
assign core

[2016-02-16 15:43] cmsbuild commented on #13304
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-16 15:44] cmsbuild commented on #13304
A new Issue was created by  @smuzaffar (Malik Shahzad Muzaffar).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-16 16:14] archiron commented on #12922
I am interested in this discussion, and I was wondering if it has been moved elsewhere

[2016-02-16 16:17] Dr15Jones commented on #12922
There has been no discussion since we don't have any manpower at this time.

[2016-02-16 20:41] #13195 closed

[2016-02-17 15:33] Dr15Jones opened #13326 "Consider way to have configuration validation be able to specify eras"
It could be useful to have `fillDescriptions` be able to specify how to modify parameters for different _eras_.

[2016-02-17 15:33] cmsbuild commented on #13326
A new Issue was created by  @Dr15Jones (Chris Jones).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-17 15:34] Dr15Jones commented on #13326
assign core

[2016-02-17 15:34] cmsbuild commented on #13326
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-02-17 21:49] davidlange6 opened #13332 "Build CMSSW_8_0_0"
Ok- the chance of me having both the HCAL and L1 parts working is really small, but I don't have much to lose.

[2016-02-17 21:54] cmsbuild commented on #13332
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-02-17 21:54] davidlange6 commented on #13332
+1

[2016-02-17 21:59] cmsbuild commented on #13332
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-02-17 21:59] cmsbuild commented on #13332
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc493, fc22_ppc64le_gcc530, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2016-02-17 22:01] cmsbuild commented on #13332
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/529/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-17 22:01] cmsbuild commented on #13332
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/532/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-17 22:01] cmsbuild commented on #13332
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/531/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-17 22:02] cmsbuild commented on #13332
The build has started for slc7_amd64_gcc530 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/533/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-18 00:10] cmsbuild commented on #13332
The was an error for slc7_aarch64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc7_aarch64_gcc530/529

[2016-02-18 00:38] cmsbuild commented on #13332
The was an error for slc6_amd64_gcc493.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc6_amd64_gcc493/531

[2016-02-18 01:24] cmsbuild commented on #13332
The was an error for slc6_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc6_amd64_gcc530/532

[2016-02-18 02:30] cmsbuild commented on #13332
The was an error for slc7_amd64_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc7_amd64_gcc530/533

[2016-02-18 03:07] cmsbuild commented on #13332
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/534/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-18 05:02] cmsbuild commented on #13332
The was an error for fc22_ppc64le_gcc530.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-fc22_ppc64le_gcc530/534

[2016-02-18 06:22] davidlt commented on #13332
Looks to be due to ROOT change done yesterday. `TColor` constructor is ambiguous. Simply put compiler does not understand which one to use, CMSSW needs to be more explicit.
[code]

It's one of latest commits in root branch. Here they added extra constructor: https://root.cern.ch/gitweb?p=root.git;a=commitdiff;h=8ebf9227adcf410134a5733086616ed70de55da3

[2016-02-18 06:23] davidlt commented on #13332
I don't think that you need to revert ROOT change, it's easier and faster to fix those 4 errors in CMSSW.

[2016-02-18 06:30] davidlange6 commented on #13332
Right.  Looks like two places to update (we wanted the tool or update for dqm)
________________________________________
From: davidlt [notifications@github.com]
Sent: 18 February 2016 07:22
To: cms-sw/cmssw
Cc: David Lange
Subject: Re: [cmssw] Build CMSSW_8_0_0 (#13332)

Looks to be due to ROOT change done yesterday. TColor constructor is ambiguous. Simply put compiler does not understand which on

[2016-02-18 06:30] davidlange6 commented on #13332
abort
________________________________________
From: cmsbuild [notifications@github.com]
Sent: 18 February 2016 06:02
To: cms-sw/cmssw
Cc: David Lange
Subject: Re: [cmssw] Build CMSSW_8_0_0 (#13332)

The was an error for fc22_ppc64le_gcc530.
You can see the log here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-fc22_ppc64le_gcc530/534

�
Reply to this email directly

[2016-02-18 06:30] cmsbuild commented on #13332
Deleting CMSSW_8_0_0:

  -Release successfully deleted

  -cmssw tag CMSSW_8_0_0 successfully deleted.

  -I was not able to delete the cmsdist tag REL/CMSSW_8_0_0/slc7_aarch64_gcc530. Probably it had not been created.

  -I was not able to delete the cmsdist tag REL/CMSSW_8_0_0/fc22_ppc64le_gcc530. Probably it had not been created.

  -I was not able to delete the cmsdist tag REL/CMSSW_8_0_0/slc7

[2016-02-18 06:35] davidlt commented on #13332
I will see if I can come up with PR now.

[2016-02-18 06:49] davidlt commented on #13332
Will make PR in few minutes.

[2016-02-18 07:01] davidlt commented on #13332
Here: https://github.com/cms-sw/cmssw/pull/13335

[2016-02-18 07:07] #13332 closed

[2016-02-18 07:07] davidlange6 opened #13336 "Build CMSSW_8_0_0"

[2016-02-18 07:08] cmsbuild commented on #13336
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-02-18 07:10] davidlange6 commented on #13336
+1

[2016-02-18 07:10] cmsbuild commented on #13336
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-02-18 07:10] cmsbuild commented on #13336
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc530, slc6_amd64_gcc493, fc22_ppc64le_gcc530, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf fir

[2016-02-18 07:12] cmsbuild commented on #13336
The build has started for slc7_aarch64_gcc530 in moonshot-arm64-14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/535/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-18 07:13] cmsbuild commented on #13336
The build has started for slc7_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/539/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-18 07:13] cmsbuild commented on #13336
The build has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/537/console
CMSDIST Branch: [IB/CMSSW_8_0_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/stable), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-18 07:13] cmsbuild commented on #13336
The build has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/538/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-18 07:46] cmsbuild commented on #13336
The build has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/540/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-18 09:54] cmsbuild commented on #13336
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc6_amd64_gcc530/538
Some tests ( ru

[2016-02-18 10:14] cmsbuild commented on #13336
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc6_amd64_gcc530/538

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-18 10:27] davidlange6 commented on #13336
upload all

[2016-02-18 10:27] cmsbuild commented on #13336
Queing Jenkins upload for slc6_amd64_gcc530

[2016-02-18 10:28] cmsbuild commented on #13336
The upload has started for slc6_amd64_gcc530 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/311/console

[2016-02-18 10:36] cmsbuild commented on #13336
The build has finished sucessfully for the architecture slc6_amd64_gcc493 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc6_amd64_gcc493/537
Some tests ( ru

[2016-02-18 10:36] cmsbuild commented on #13336
Queing Jenkins upload for slc6_amd64_gcc493

[2016-02-18 10:37] cmsbuild commented on #13336
The upload has started for slc6_amd64_gcc493 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/312/console

[2016-02-18 10:58] cmsbuild commented on #13336
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0-slc6_amd64_gcc530/311
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-18 11:02] cmsbuild commented on #13336
The tests have finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc6_amd64_gcc493/537

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-18 11:17] cmsbuild commented on #13336
The installation has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0/slc6_amd64_gcc530/574/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-02-18 11:18] davidlange6 commented on #13336
release-notes

[2016-02-18 11:19] cmsbuild commented on #13336
ATTENTION!!! The production architecture (slc6_amd64_gcc493) is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2016-02-18 11:23] cmsbuild commented on #13336
The upload has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0-slc6_amd64_gcc493/312
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-18 11:25] cmsbuild commented on #13336
The build has finished sucessfully for the architecture fc22_ppc64le_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-fc22_ppc64le_gcc530/540
Some tests

[2016-02-18 11:26] cmsbuild commented on #13336
Queing Jenkins upload for fc22_ppc64le_gcc530

[2016-02-18 11:26] cmsbuild commented on #13336
The upload has started for fc22_ppc64le_gcc530 in power8-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/313/console

[2016-02-18 11:46] cmsbuild commented on #13336
The upload has successfully finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0-fc22_ppc64le_gcc530/313
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-18 11:49] cmsbuild commented on #13336
The installation has successfully finished for slc6_amd64_gcc493
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0/slc6_amd64_gcc493/575/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-02-18 11:49] cmsbuild commented on #13336
Generating release notes since CMSSW_8_0_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-02-18 11:49] cmsbuild commented on #13336
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_0 is now available for the following architectures:

slc6_amd64_gcc493 (production)
slc6_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_0

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2016-02-18 11:50] cmsbuild commented on #13336
The tests have finished for fc22_ppc64le_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-fc22_ppc64le_gcc530/540

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-18 11:53] cmsbuild commented on #13336
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0

[2016-02-18 11:53] davidlt commented on #13336
I guess, this might be the first release to have x86_64, ppc64le and aarch64 builds. If I didn't forgot anything by mistake ;). I got aarch64 machines hooked like one hour before @davidlange6 triggered CMSSW_8_0_0 last night. It takes 6-7 hours to build CMSSW on aarch64 (m400) machines. So they should be the last to show up.

[2016-02-18 13:21] cmsbuild commented on #13336
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc7_amd64_gcc530/539
Some tests ( ru

[2016-02-18 13:21] cmsbuild commented on #13336
Queing Jenkins upload for slc7_amd64_gcc530

[2016-02-18 13:22] cmsbuild commented on #13336
The upload has started for slc7_amd64_gcc530 in cmsbuild17.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/314/console

[2016-02-18 13:53] cmsbuild commented on #13336
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0-slc7_amd64_gcc530/314
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-18 13:58] cmsbuild commented on #13336
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc7_amd64_gcc530/539

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-18 14:16] cmsbuild commented on #13336
The installation has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_8_0_0/slc7_amd64_gcc530/576/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You

[2016-02-18 15:43] cmsbuild commented on #13336
The build has finished sucessfully for the architecture slc7_aarch64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc7_aarch64_gcc530/535
Some tests

[2016-02-18 15:43] cmsbuild commented on #13336
Queing Jenkins upload for slc7_aarch64_gcc530

[2016-02-18 15:44] cmsbuild commented on #13336
The upload has started for slc7_aarch64_gcc530 in moonshot-arm64-14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/315/console

[2016-02-18 16:23] cmsbuild commented on #13336
The upload has successfully finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_0-slc7_aarch64_gcc530/315
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-18 16:25] cmsbuild commented on #13336
The tests have finished for slc7_aarch64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_0-slc7_aarch64_gcc530/535

Tests results:
10 10 9 7 5 1 1 tests passed, 0 0 0 0 0 0 0 failed

[2016-02-19 08:37] franzoni opened #13403 "closed PR's appear in "PR pending plot""
Hello,

in this useful plot: http://cms-sw.github.io/stats/pending-prs.html

there's pull requests counted as "pending" which are instead closed ( 9713) or merged (e.g. 10178 10176 9750).

Cheers,
Giovanni

[2016-02-19 08:37] cmsbuild commented on #13403
A new Issue was created by  @franzoni (Giovanni Franzoni).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-19 10:46] davidlange6 opened #13406 "Build CMSSW_7_1_21_patch1"

[2016-02-19 10:46] cmsbuild commented on #13406
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-02-19 10:47] davidlange6 commented on #13406
+1

[2016-02-19 10:48] cmsbuild commented on #13406
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_21_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2016-02-19 10:48] cmsbuild commented on #13406
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2016-02-19 10:50] cmsbuild commented on #13406
The build has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/541/console
CMSDIST Branch: [REL/CMSSW_7_1_21/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_21/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-19 11:43] cmsbuild commented on #13406
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_21_patch1-slc6_amd64_gcc481/541
Some te

[2016-02-19 12:01] cmsbuild commented on #13406
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_21_patch1-slc6_amd64_gcc481/541

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2016-02-19 12:43] davidlange6 commented on #13406
upload all

[2016-02-19 12:44] cmsbuild commented on #13406
Queing Jenkins upload for slc6_amd64_gcc481

[2016-02-19 12:44] cmsbuild commented on #13406
The upload has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/316/console

[2016-02-19 13:04] cmsbuild commented on #13406
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_21_patch1-slc6_amd64_gcc481/316
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2016-02-19 13:14] davidlange6 commented on #13406
release-notes

[2016-02-19 13:15] cmsbuild commented on #13406
The installation has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/deploy-release-afs/CMSSW_7_1_21_patch1/slc6_amd64_gcc481/577/
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you prov

[2016-02-19 13:15] cmsbuild commented on #13406
Generating release notes since CMSSW_7_1_21.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2016-02-19 13:15] cmsbuild commented on #13406
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_21_patch1 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_21 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_21_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2016-02-19 13:17] cmsbuild commented on #13406
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_21_patch1

[2016-02-20 10:23] cmsbuild commented on #13336
The cleanup has started for fc22_ppc64le_gcc530

[2016-02-20 10:23] cmsbuild commented on #13336
The cleanup has started for slc7_aarch64_gcc530

[2016-02-20 10:23] cmsbuild commented on #13336
The cleanup has started for slc6_amd64_gcc493

[2016-02-20 10:23] cmsbuild commented on #13336
The cleanup has started for slc6_amd64_gcc530

[2016-02-20 10:23] cmsbuild commented on #13336
The cleanup has started for slc7_amd64_gcc530

[2016-02-20 10:23] #13336 closed

[2016-02-20 10:24] cmsbuild commented on #13336
The workspace for slc6_amd64_gcc493 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0-slc6_amd64_gcc493/276

[2016-02-20 10:24] cmsbuild commented on #13336
The workspace for slc7_aarch64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0-slc7_aarch64_gcc530/278

[2016-02-20 10:24] cmsbuild commented on #13336
The workspace for fc22_ppc64le_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0-fc22_ppc64le_gcc530/275

[2016-02-20 10:25] cmsbuild commented on #13336
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0-slc6_amd64_gcc530/277

[2016-02-20 10:40] cmsbuild commented on #13336
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_0-slc7_amd64_gcc530/279

[2016-02-21 12:18] cmsbuild commented on #13406
The cleanup has started for slc6_amd64_gcc481

[2016-02-21 12:18] #13406 closed

[2016-02-21 12:19] cmsbuild commented on #13406
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_21_patch1-slc6_amd64_gcc481/280

[2016-02-22 07:48] davidlange6 opened #13420 "Build CMSSW_8_0_0_patch1"

[2016-02-22 07:49] cmsbuild commented on #13420
Request received. I will start to build the release after one of the following approve the issue: @smuzaffar, @degano, @slava77, @davidlange6. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for

[2016-02-22 07:51] davidlange6 commented on #13420
+1

[2016-02-22 07:51] cmsbuild commented on #13420
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2016-02-22 07:51] cmsbuild commented on #13420
Queuing Jenkins build for the following architectures: slc6_amd64_gcc493, slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to f

[2016-02-22 07:52] cmsbuild commented on #13420
The build has started for slc6_amd64_gcc493 in vocms0302.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/542/console
CMSDIST Branch: [REL/CMSSW_8_0_0/slc6_amd64_gcc493](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_0/slc6_amd64_gcc493), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)

[2016-02-22 07:52] cmsbuild commented on #13420
The build has started for slc7_amd64_gcc530 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/543/console
CMSDIST Branch: [REL/CMSSW_8_0_0/slc7_amd64_gcc530](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_8_0_0/slc7_amd64_gcc530), PKGTOOLS Branch: [V00-22-XX](https://github.com/cms-sw/pkgtools/commits/V00-22-XX)