[2019-08-23 20:29] Dr15Jones commented on #27860
assign reconstruction

[2019-08-23 20:29] cmsbuild commented on #27860
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-23 20:35] Dr15Jones commented on #27860
Probably even better to get rid of `DiamondVFATFrame` all together and instead change its member functions to just be standalone functions which take as an argument a `VFATFrame`.

[2019-08-23 20:49] makortel commented on #27277
After an intensive pair debugging session with @Dr15Jones we concluded that the proper fix is actually something completely different, and is implemented in #27861.

[2019-08-23 23:22] slava77 commented on #27860
@forthommel
please check and follow up.
Thank you.

[2019-08-25 12:34] forthommel commented on #27860
@Dr15Jones, @slava77, many thanks for the follow up! This might actually be a good candidate explanation for this weird behaviour observed in the diamond digis unpacking in the validation of releases with `gcc70x` → `gcc82x` (see private thread).

Would something along https://github.com/cms-sw/cmssw/compare/master...forthommel:pps_diamond-unpacking_fix-11_0_X do the trick? Unfortunately the memor

[2019-08-26 09:05] perrotta opened #27869 "Implement packer/unpacker for RPC-CPPF"
As discussed during  the [reco meeting on Aug 23](https://indico.cern.ch/event/841640), the RPCCPPF packer is not available yet, and the RPCDigiMerger for MC cannot be at the moment be configured the same way as for data. The temporary solution proposed in PR #27672 was signed by reco and should be accepted now in CMSSW,

In the meanwhile, RPC people commited in preparing a more stable and correct

[2019-08-26 09:05] cmsbuild commented on #27869
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-26 09:06] perrotta commented on #27869
assign reconstruction, simulation

[2019-08-26 09:06] cmsbuild commented on #27869
New categories assigned: reconstruction,simulation

@mdhildreth,@slava77,@perrotta,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-26 13:25] Dr15Jones commented on #27860
I suggest just removing the object and use _free_ functions, e.g.

[code]

then the only place that uses those functions becomes
[code]

[2019-08-26 23:04] kpedro88 opened #27875 "Build CMSSW_10_2_16_patch1"

[2019-08-26 23:05] cmsbuild commented on #27875
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-08-26 23:06] cmsbuild commented on #27875
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-08-26 23:06] cmsbuild commented on #27875
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-08-26 23:07] kpedro88 opened #27876 "Build CMSSW_9_3_15_patch3"

[2019-08-26 23:07] cmsbuild commented on #27875
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_patch1-slc7_amd64_gcc700/2129

[2019-08-26 23:07] cmsbuild commented on #27875
The build has started for slc6_amd64_gcc700 in cmsbuild26.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2128/console
CMSDIST Branch: [REL/CMSSW_10_2_16/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_16/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-26 23:07] cmsbuild commented on #27876
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-08-26 23:09] cmsbuild commented on #27876
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_15_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2019-08-26 23:09] cmsbuild commented on #27876
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-08-26 23:10] cmsbuild commented on #27876
The build has started for slc6_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2130/console
CMSDIST Branch: [REL/CMSSW_9_3_15/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_15/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-26 23:10] cmsbuild commented on #27876
The build has started for slc7_amd64_gcc630 in cmsbuild90.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2131/console
CMSDIST Branch: [REL/CMSSW_9_3_15/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_15/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-08-26 23:44] cmsbuild commented on #27876
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch3-slc7_amd64_gcc630/2131
Some t

[2019-08-27 00:08] cmsbuild commented on #27876
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch3-slc6_amd64_gcc630/2130
Some t

[2019-08-27 00:23] cmsbuild commented on #27875
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_patch1-slc6_amd64_gcc700/2128
Some

[2019-08-27 00:43] cmsbuild commented on #27876
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch3-slc7_amd64_gcc630/2131

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-08-27 01:08] cmsbuild commented on #27876
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_15_patch3-slc6_amd64_gcc630/2130

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-08-27 02:10] cmsbuild commented on #27875
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_patch1-slc6_amd64_gcc700/2128

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-08-27 13:52] cmsbuild commented on #27876
Queing Jenkins upload for slc6_amd64_gcc630

[2019-08-27 13:52] cmsbuild commented on #27876
Queing Jenkins upload for slc7_amd64_gcc630

[2019-08-27 13:52] cmsbuild commented on #27876
The upload has started for slc6_amd64_gcc630 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1394/console

[2019-08-27 13:52] cmsbuild commented on #27876
The upload has started for slc7_amd64_gcc630 in cmsbuild90.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1395/console

[2019-08-27 13:53] cmsbuild commented on #27876
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_15_patch3-slc6_amd64_gcc630/1394

[2019-08-27 13:53] cmsbuild commented on #27876
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_15_patch3-slc7_amd64_gcc630/1395

[2019-08-27 14:11] smuzaffar commented on #27875
yes 10.2.16 was only build for slc6 https://github.com/cms-sw/cmssw/issues/27580
I would say go ahead with upload.

[2019-08-27 14:15] cmsbuild commented on #27875
Queing Jenkins upload for slc6_amd64_gcc700

[2019-08-27 14:16] cmsbuild commented on #27875
The upload has started for slc6_amd64_gcc700 in cmsbuild26.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1396/console

[2019-08-27 14:17] cmsbuild commented on #27875
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_16_patch1-slc6_amd64_gcc700/1396

[2019-08-27 14:24] cmsbuild commented on #27876
Generating release notes since CMSSW_9_3_15_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-08-27 14:24] cmsbuild commented on #27876
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_15_patch3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_15_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_15_patch3

Cheers,
cms-bot

You can also click

[2019-08-27 14:24] cmsbuild commented on #27875
Generating release notes since CMSSW_10_2_16.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-08-27 14:24] cmsbuild commented on #27875
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_16_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_2_16 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_16_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms

[2019-08-27 14:24] cmsbuild commented on #27876
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_15_patch3

[2019-08-27 14:25] cmsbuild commented on #27875
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16_patch1

[2019-08-27 23:41] #27277 closed

[2019-08-28 12:14] slava77 opened #27889 "features for UL re-miniAOD in 10_6_X"
This is to keep track of features needed for the UL re-miniAOD.
The 2017 will likely happen first.
The target start date is still unclear (it will probably be around October 2019).

As of Aug 7  (after #31072 was merged) the re-miniAOD definitions aiming for UL re-miniAOD should use a  ```run2_miniAOD_UL```  modifier, if the configuration is to be controlled by a modifier.

[as of Dec 9]
- [x] #27

[2019-08-28 12:15] cmsbuild commented on #27889
New categories assigned: operations,xpog,reconstruction

@slava77,@fabiocos,@franzoni,@fgolf,@perrotta,@davidlange6,@kpedro88,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-28 12:15] cmsbuild commented on #27889
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-29 12:38] cmsbuild commented on #27875
The cleanup has started for slc6_amd64_gcc700

[2019-08-29 12:38] #27875 closed

[2019-08-29 12:38] cmsbuild commented on #27876
The cleanup has started for slc6_amd64_gcc630

[2019-08-29 12:38] cmsbuild commented on #27876
The cleanup has started for slc7_amd64_gcc630

[2019-08-29 12:38] #27876 closed

[2019-08-29 12:42] cmsbuild commented on #27876
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_15_patch3-slc6_amd64_gcc630/1424

[2019-08-29 12:42] cmsbuild commented on #27875
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_16_patch1-slc6_amd64_gcc700/1423

[2019-08-29 12:42] cmsbuild commented on #27876
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_15_patch3-slc7_amd64_gcc630/1425

[2019-08-29 13:07] schneiml commented on #27277
Hi Matti,

I will try, though that involves undoing a bunch of workarounds all over the place, so it may take a bit. I'll report later.

Thanks anyways!

[2019-08-30 11:21] TSA26 opened #27904 "Missing file HepPDT/ParticleDataTable.hh"
Following error emerge when tried to compile ParticleTreeDrawer.cc:

[2019-08-30 11:21] cmsbuild commented on #27904
A new Issue was created by  @TSA26 Toni Saric.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-30 11:26] smuzaffar commented on #27904
you might be missing `<use name="SimGeneral/HepPDTRecord"/>` in your BuildFile.xml?

[2019-09-02 13:47] andrius-k commented on #27780
Thank you @Dr15Jones! Just got back from vacation myself and found out that @schneiml used your advice to produce successfully compiling code while I was gone. let me test it and I will get back to you with the results.

[2019-09-02 14:07] smuzaffar commented on #27904
@TSA26, did adding the missing dependency fixed your issue? can we close this issue?

[2019-09-03 08:19] peruzzim opened #27918 "GenEventInfoProduct weights size grows at lumisection change"
On request of PPD and release managers, I'm reporting here to follow up on https://its.cern.ch/jira/browse/CMSCOMPPR-8777.

It has been found that the size of the vector returned by the `weights()` method of GenEventInfoProduct is not constant within a MINIAOD file in the UL2017 MC production (in CMSSW_10_6_2). This was exposed by the fact that NANOAOD production code reads this object to store PS

[2019-09-03 08:19] cmsbuild commented on #27918
A new Issue was created by  @peruzzim .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-03 09:58] fabiocos opened #27919 "Failure of wf 140.54 after integration of #27887"
The test wf 140.54 is reproducibly failing since CMSSW_11_0_X_2019-08-30-2300 after the integration of #27887. This PR modifies the jet reconstruction sequences, adopting tasks, but this does not appear to properly work for the pA_2016 modifier involved in the 140.54 test.

The error is:
[code]

where the DQM module https://cmssdt.cern.ch/lxr/source/DQMOffline/RecoB/python/bTagAnalysisData_cfi.py

[2019-09-03 10:00] cmsbuild commented on #27919
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-03 11:40] fabiocos commented on #27919
assign reconstruction

@jeongeun FYI

[2019-09-03 11:40] cmsbuild commented on #27919
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-03 12:25] perrotta commented on #27919
@jeongeun could you please have a look?

[2019-09-03 13:07] fabiocos commented on #27918
assign generators

[2019-09-03 13:08] cmsbuild commented on #27918
New categories assigned: generators

@alberto-sanchez,@qliphy,@efeyazgan,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-03 15:37] slava77 commented on #27889
it sounds like there is still time for deploying the fix in the 2018 UL.
I propose to make ```run2_tau_ul_2018``` and ```run2_tau_ul_2016``` modifiers which can be added to ```Run2_2018``` and ```Run2_2016``` eras.
There is not need to propagate these to the master.

@fabiocos @kpedro88 @srimanob this is as a follow up to the discussion today in the ORP.
Please check if this proposal makes sense t

[2019-09-03 19:03] Dr15Jones commented on #27918
From using `edmProvDump` on the file in the original comment, the only GenEventInfoProduct comes from the module with the `generator` label in the `GEN` process. The provenance for that is

[code]

So the module which is creating the `GenEventInfoProduct` is `Pythia8HadronizerFilter`.

[2019-09-03 19:21] Dr15Jones commented on #27918
The weights for `GenEventInfoProduct` seem to be filled by `Pythia8HadronizerFilter` here

https://github.com/cms-sw/cmssw/blob/982c595daa9fdde39b7a5925f706b457b178607d/GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc#L678-L733

[2019-09-03 19:47] Dr15Jones commented on #27918
The `GenLumiInfoHeader` which is generated by `Pythia8HadronizerFilter` contains a method called `weightNames()`. If I do
[code]
Then I get the results
[code]
So the 2nd LuminosityBlock in the job has more weights (matching what we see in GenEventInfoProduct) with the extra ones appearing to start at index 47 and being a repeat of all the `isr:` ones.

[2019-09-04 04:48] qliphy commented on #27918
I tested locally
(1) HIG-RunIISummer19UL17wmLHEGEN-00356 (CMSSW_10_6_0_patch2)
and
(2) HIG-RunIIFall17wmLHEGS-00769 (CMSSW_9_3_6_patch1)
(3) HIG-RunIIFall18wmLHEGS-02121(CMSSW_10_2_15_patch2 )
with either
LuminosityBlocks->Scan("GenLumiInfoHeader_generator__SIM.obj.weightNames()")
or
LuminosityBlocks->Scan("GenLumiInfoHeader_generator__GEN.obj.weightNames()")

I could reproduce the issue with (1),

[2019-09-04 07:30] jeongeun commented on #27919
Sorry for the late response.
I found 1 file  `cmssw/Configuration/StandardSequences/python/Reconstruction_Data_cff.py` which uses `jetCorrectorsForReco`.
I think the *last line* in Reconstruction_Data_cff.py file might create the errors in 140.54.
 `jetCorrectorsForReco.replace(ak4PFCHSL1FastL2L3CorrectorChain, ak4PFCHSL1FastL2L3ResidualCorrectorChain)`)
Fix => **Change Chain to Task**
Now I'm doi

[2019-09-04 08:12] peruzzim commented on #27889
I agree with the above, but please let's keep it active also under the generic devel modifier, so we will remember to add it also to 2017 in a future re-miniAOD of that.

[2019-09-04 09:10] qliphy commented on #27918
Tested further with EGM-RunIIWinter19PFCalib17wmLHEGS-00001,  and found the issue appears already with 10_5_X.  Note since 10_5_X, we have Pythia8 2.40

I also notice "fMasterGen->info.nWeights()" (a Pythia8 function to access uncertainty weights) is increasing with LuminosityBlock
https://github.com/cms-sw/cmssw/blob/CMSSW_10_6_X/GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc#L9

[2019-09-04 15:49] fabiocos opened #27930 "Build CMSSW_10_6_3"

[2019-09-04 15:49] cmsbuild commented on #27930
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-09-04 15:50] fabiocos commented on #27930
+1

[2019-09-04 15:50] cmsbuild commented on #27930
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-09-04 15:50] cmsbuild commented on #27930
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-09-04 15:51] cmsbuild commented on #27930
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2132/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-04 15:51] cmsbuild commented on #27930
The build has started for slc7_amd64_gcc820 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2133/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-04 20:08] cmsbuild commented on #27930
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_3-slc7_amd64_gcc820/2133
Some tests (

[2019-09-04 20:26] forthommel commented on #27860
@Dr15Jones @slava77
Did #27873 do the trick for the correction of this unsafe behaviour?

[2019-09-04 20:39] fabiocos opened #27932 "Build CMSSW_11_0_0_pre7"

[2019-09-04 20:39] cmsbuild commented on #27932
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-09-04 20:39] fabiocos commented on #27932
build cmssw-tool-conf

[2019-09-04 20:40] cmsbuild commented on #27932
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-09-04 20:41] cmsbuild commented on #27932
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2135/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-04 20:41] cmsbuild commented on #27932
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2134/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-04 20:42] cmsbuild commented on #27932
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2136/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-04 20:47] slava77 commented on #27860
+1

I did not check explicitly during the PR checkout.
The latest IB with this PR included is not reporting the same error anymore
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc700/CMSSW_11_0_UBSAN_X_2019-08-30-2300/pyRelValMatrixLogs/run/136.862_RunEGamma2018B+RunEGamma2018B+HLTDR2_2018+RECODR2_2018reHLT_skimEGamma_Offline_L1TEgDQM+HARVEST2018_L1TEgDQM/step3_RunEGamma2018B+RunEGamma2

[2019-09-04 20:47] cmsbuild commented on #27860
This issue is fully signed and ready to be closed.

[2019-09-04 20:47] cmsbuild commented on #27932
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2137/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-04 20:49] #27860 closed

[2019-09-04 21:14] cmsbuild commented on #27930
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_3-slc7_amd64_gcc700/2132
Some tests (

[2019-09-04 22:15] cmsbuild commented on #27930
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_3-slc7_amd64_gcc820/2133

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-04 22:44] cmsbuild commented on #27932
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc900/2136

[2019-09-04 23:24] cmsbuild commented on #27930
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_3-slc7_amd64_gcc700/2132

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-04 23:36] cmsbuild commented on #27932
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc820/2135

[2019-09-04 23:40] cmsbuild commented on #27932
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc700/2134

[2019-09-05 00:35] cmsbuild commented on #27932
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_aarch64_gcc700/2137

[2019-09-05 07:28] fabiocos commented on #27932
+1

[2019-09-05 07:29] cmsbuild commented on #27932
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-09-05 07:29] cmsbuild commented on #27932
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_amd64_gcc900, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2019-09-05 07:29] cmsbuild commented on #27932
The build has started for slc7_amd64_gcc700 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2138/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-05 07:30] cmsbuild commented on #27932
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2139/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-05 07:30] cmsbuild commented on #27932
The build has started for slc7_amd64_gcc900 in cmsbuild27.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2140/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-05 07:55] cmsbuild commented on #27932
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2141/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-05 09:08] fabiocos commented on #27919
the problem is solved by #27931

[2019-09-05 09:08] #27919 closed

[2019-09-05 11:00] cmsbuild commented on #27932
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc900/2140
Some tes

[2019-09-05 11:03] cmsbuild commented on #27932
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc820/2139
Some tes

[2019-09-05 12:39] forthommel commented on #27860
@slava77 Thanks for the report! We will investigate together with the experts.

[2019-09-05 13:11] cmsbuild commented on #27932
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc900/2140

Tests results:
34 33 32 26 14 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-05 13:13] cmsbuild commented on #27932
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc820/2139

Tests results:
34 33 32 26 14 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-05 13:22] cmsbuild commented on #27932
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc700/2138
Some tes

[2019-09-05 13:57] fabiocos commented on #27930
upload all

[2019-09-05 13:58] cmsbuild commented on #27930
Queing Jenkins upload for slc7_amd64_gcc700

[2019-09-05 13:58] cmsbuild commented on #27930
Queing Jenkins upload for slc7_amd64_gcc820

[2019-09-05 14:00] cmsbuild commented on #27930
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1397/console

[2019-09-05 14:00] cmsbuild commented on #27930
The upload has started for slc7_amd64_gcc820 in cmsbuild22.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1398/console

[2019-09-05 14:01] cmsbuild commented on #27930
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_3-slc7_amd64_gcc820/1398

[2019-09-05 14:03] cmsbuild commented on #27930
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_3-slc7_amd64_gcc700/1397

[2019-09-05 14:59] fabiocos commented on #27930
release-notes

[2019-09-05 14:59] cmsbuild commented on #27930
Generating release notes since CMSSW_10_6_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-09-05 14:59] cmsbuild commented on #27930
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_3 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2019-09-05 15:00] cmsbuild commented on #27930
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_3

[2019-09-05 15:49] cmsbuild commented on #27932
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc700/2138

Tests results:
34 33 32 26 14 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-05 16:00] #26071 closed

[2019-09-05 16:10] slava77 commented on #27839
Note the names of the products currently used in tests of type recoHGCalMultiClusters
[code]

The redundancy in the instance name should be reduced.

[2019-09-05 16:23] fabiocos commented on #27932
upload all

[2019-09-05 16:24] cmsbuild commented on #27932
Queing Jenkins upload for slc7_amd64_gcc700

[2019-09-05 16:24] cmsbuild commented on #27932
Queing Jenkins upload for slc7_amd64_gcc820

[2019-09-05 16:24] cmsbuild commented on #27932
Queing Jenkins upload for slc7_amd64_gcc900

[2019-09-05 16:25] cmsbuild commented on #27932
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1400/console

[2019-09-05 16:25] cmsbuild commented on #27932
The upload has started for slc7_amd64_gcc900 in cmsbuild27.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1401/console

[2019-09-05 16:25] cmsbuild commented on #27932
The upload has started for slc7_amd64_gcc700 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1399/console

[2019-09-05 16:26] cmsbuild commented on #27932
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc900/1401

[2019-09-05 16:26] cmsbuild commented on #27932
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc820/1400

[2019-09-05 16:29] cmsbuild commented on #27932
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre7-slc7_amd64_gcc700/1399

[2019-09-05 19:42] fabiocos commented on #27932
release-notes

[2019-09-05 19:44] cmsbuild commented on #27932
Generating release notes since CMSSW_11_0_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-09-05 19:44] cmsbuild commented on #27932
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre7 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre7

Cheers,
cms-bot

You can also

[2019-09-05 19:45] cmsbuild commented on #27932
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre7

[2019-09-05 20:18] cmsbuild commented on #27932
The build has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2142/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-06 03:53] cmsbuild commented on #27932
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_aarch64_gcc700/2142
Some

[2019-09-06 03:54] cmsbuild commented on #27932
Queing Jenkins upload for slc7_aarch64_gcc700

[2019-09-06 03:54] cmsbuild commented on #27932
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-thunderx-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1402/console

[2019-09-06 03:55] cmsbuild commented on #27932
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre7-slc7_aarch64_gcc700/1402

[2019-09-06 13:32] fabiocos commented on #26348
The issue is addressed in #27928 for simulation wf and #27937 for data wfs. @srimanob please have a look and provide possible feedback/alternative suggestions.

[2019-09-06 13:47] cmsbuild commented on #27932
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre7-slc7_aarch64_gcc700/2142

Tests results:
34 33 32 26 14 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-06 17:23] hatakeyamak commented on #22582
With the convergence of the above PR #27785 I think we can consider this issue is resolved.

[2019-09-06 17:24] hatakeyamak commented on #22582
Not sure who needs to sign it off to make it closed..

[2019-09-06 19:16] kpedro88 commented on #22582
+upgrade

[2019-09-06 19:42] hatakeyamak commented on #22582
I guess reco also needs to sign it off.

[2019-09-06 20:28] slava77 commented on #22582
+1

I checked PU200 wf 20634.0 (D41 ttbar): before this PR [in CMSSW_11_0_X_2019-09-04-1100] there are about 120 warnings per event ```PFBLOCKALGO BUG!!!! Found a SuperCluster in a block by itself!```. After this PR [in CMSSW_11_0_0_pre7] these warnings are gone.
There are no PF-related reco warnings based on a pattern.

[2019-09-06 20:28] cmsbuild commented on #22582
This issue is fully signed and ready to be closed.

[2019-09-07 13:08] cmsbuild commented on #27930
The cleanup has started for slc7_amd64_gcc700

[2019-09-07 13:08] cmsbuild commented on #27930
The cleanup has started for slc7_amd64_gcc820

[2019-09-07 13:08] #27930 closed

[2019-09-07 13:13] cmsbuild commented on #27930
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_3-slc7_amd64_gcc700/1426

[2019-09-07 13:13] cmsbuild commented on #27930
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_3-slc7_amd64_gcc820/1427

[2019-09-07 17:53] cmsbuild commented on #27932
The cleanup has started for slc7_aarch64_gcc700

[2019-09-07 17:53] cmsbuild commented on #27932
The cleanup has started for slc7_amd64_gcc700

[2019-09-07 17:53] cmsbuild commented on #27932
The cleanup has started for slc7_amd64_gcc820

[2019-09-07 17:53] cmsbuild commented on #27932
The cleanup has started for slc7_amd64_gcc900

[2019-09-07 17:53] #27932 closed

[2019-09-07 17:54] cmsbuild commented on #27932
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre7-slc7_aarch64_gcc700/1428

[2019-09-07 17:58] cmsbuild commented on #27932
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre7-slc7_amd64_gcc900/1431

[2019-09-07 17:58] cmsbuild commented on #27932
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre7-slc7_amd64_gcc700/1429

[2019-09-07 17:59] cmsbuild commented on #27932
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre7-slc7_amd64_gcc700/1432

[2019-09-07 18:00] cmsbuild commented on #27932
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre7-slc7_amd64_gcc900/1434

[2019-09-07 18:01] cmsbuild commented on #27932
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre7-slc7_amd64_gcc820/1430

[2019-09-07 18:03] cmsbuild commented on #27932
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre7-slc7_amd64_gcc820/1433

[2019-09-08 13:27] qliphy commented on #27918
Adding @smrenna

It seems to me possibly due to Pythia8 itself.  As mentioned above, the issue appears since 10_5_X, i.e. from Pythia8.240

There are some differences on PS weights definitions  between Pythia8.240 and 8.230:

https://github.com/cms-externals/pythia8/blob/cms/240/src/SimpleSpaceShower.cc#L3136
**src/SimpleSpaceShower.cc:    infoPtr->setNWeights( nWeights + nUncertaintyVariations );

[2019-09-08 19:05] agrohsje commented on #27918
Dear @qliphy,
I found the same suspicious lines and tried to work Friday on a patch. However, the lines seem not a bug, at least the additional weights get initialized
    infoPtr->setNWeights( nWeights + nUncertaintyVariations );
    int newSize = infoPtr->nWeights();
    for(int iWeight = nWeights; iWeight < newSize; ++iWeight) {
      string uVarString = uniqueVars[iWeight - nWeights];
      in

[2019-09-09 00:05] qliphy commented on #27918
But as shown here:
https://github.com/cms-externals/pythia8/blob/cms/240/src/SimpleSpaceShower.cc#L3135
nWeights is defined by infoPtr->nWeights(), while nWeights() is defined here:
https://github.com/cms-externals/pythia8/blob/cms/240/include/Pythia8/Info.h#L179
and
https://github.com/cms-externals/pythia8/blob/cms/240/include/Pythia8/Info.h#L686

so it seems after each initialization, nWeights c

[2019-09-09 00:43] smrenna commented on #27918
Hi, I will definitely look into this tomorrow.

Thanks.

From: Qiang Li <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Sunday, September 8, 2019 at 7:06 PM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Stephen Mrenna <mrenna@fnal.gov>, Mention <mention@noreply.github.com>
Subject: Re: [cms-sw/cmssw] GenEventInfoProduct weights size grows at lumisection change (#

[2019-09-09 10:58] srimanob commented on #27918
@smrenna @qliphy
Not sure that I understand the whole message. The increasing of the nWeights is reasonable (meaningful, usable) or it's not. I am trying to converge that this should be fix in the GEN side or more flexibility to handle this should be added to the NanoAOD. Thanks.

[2019-09-09 11:05] agrohsje commented on #27918
@srimanob
It is not reasonable. It comes from the interplay of CMS re-initialising P8 with every lumisection and the modification of P8 in version 8.240. Depending on Steve's feedback we should modify our P8 implementation.

[2019-09-09 13:52] srimanob commented on #26348
@fabiocos
Regarding the original description, we expect also to enable in data, right?
Currently, we process only 1 lumi/job in data relvals (most, or all), Should we modify this?

For MC, it looks OK to me, thanks.

[2019-09-09 14:58] smrenna commented on #27918
Most likely is that my collaborators don’t 100 percent understand how Pythia8 is used by CMS/ATLAS.

This is on my list of problems to attack for today.

Best,
Steve

From: agrohsje <notifications@github.com>
Reply-To: cms-sw/cmssw <reply@reply.github.com>
Date: Monday, September 9, 2019 at 6:05 AM
To: cms-sw/cmssw <cmssw@noreply.github.com>
Cc: Stephen Mrenna <mrenna@fnal.gov>, Mention <mention@n

[2019-09-09 15:44] smuzaffar commented on #26082
@davidlange6 , can we close this now?

[2019-09-09 15:44] smuzaffar commented on #26022
+core

[2019-09-09 15:45] #26022 closed

[2019-09-09 15:46] smuzaffar commented on #26002
@Dr15Jones , do you still want to keep it open?

[2019-09-09 15:48] smuzaffar commented on #25919
@Dr15Jones  @fabiocos , any reason to keep it open?

[2019-09-09 15:59] fabiocos commented on #25919
I let @Dr15Jones comment, I would say that we are approaching "Outstanding issues to migrating to ROOT 6.18"...

[2019-09-09 16:01] fabiocos commented on #26348
@srimanob for data workflows I propose #27937 as initial test of lumi boundary crossing in the same job (and concurrent lumi processing).

[2019-09-09 16:01] Dr15Jones commented on #25919
This can be closed.

[2019-09-09 16:01] #25919 closed

[2019-09-09 16:07] smrenna commented on #27918
I modified an example file in the Pythia8 distribution, and I confirm that the number of weights change upon a second initialization.

However, I am not 100 percent sure this is what CMSSW does.
All I added was another call to init() half way through the run.

What I don’t know is this:  what does CMSSW expect to happen?
Is all the configuration information presented again to Pythia?
Or, is Pythia

[2019-09-09 19:14] smrenna commented on #27918
Please make the following change to Pythia.cc:
(only last line is changed.  This should start around line 851)

  // Initialize the random number generator.
  if ( settings.flag("Random:setSeed") )
    rndm.init( settings.mode("Random:seed") );

  // Find which frame type to use.
  info.addCounter(1);
  frameType = mode("Beams:frameType");
  info.setNWeights(1);
/\/\/\/\/\/\/\//\/\/\/\/\/\/\/\/
ad

[2019-09-09 19:34] smrenna commented on #27918
Did a pull request in the cms externals branch:

https://github.com/cms-externals/pythia8/pull/14

[2019-09-10 15:48] Dr15Jones commented on #27780
+1

[2019-09-10 15:51] Dr15Jones commented on #22135
This happened again https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_0_ROOT618_X_2019-09-10-0900/pyRelValMatrixLogs/run/7.21_Cosmics_UP17+Cosmics_UP17+DIGICOS_UP17+RECOCOS_UP17+ALCACOS_UP17+HARVESTCOS_UP17/step1_Cosmics_UP17+Cosmics_UP17+DIGICOS_UP17+RECOCOS_UP17+ALCACOS_UP17+HARVESTCOS_UP17.log#/

[code]

[2019-09-10 16:24] andrius-k commented on #27780
Dear Chris @Dr15Jones, framework experts,
Your suggestion, indeed, works but I have a few uncertainties about how the code used to work previously and what exactly should the new version do.

My understanding, after carefully reading the code, is that previously, the data was read from DQMIO files sequentially (first one file then the other, etc.) and everything was being placed into a global inst

[2019-09-10 17:22] makortel commented on #27780
@andrius-k If I read the `DQMEDHarvester` correctly, it allows user code to operate at the end of LuminosityBlock or and the end of the job
https://github.com/cms-sw/cmssw/blob/747a9c4ba1d8bb773153b75d8e12508b07115644/DQMServices/Core/interface/DQMEDHarvester.h#L37-L41

I would then guess that the code reading run histograms uses `dqmEndJob()` at which point all the run histograms would have been

[2019-09-10 18:40] agrohsje commented on #27918
Thanks @smrenna. I tested the pull request and it is working fine. To summarize what I did.
I did a private 10_6_3 fixing P8 with the PR from Steve. Then I was running the parton shower on MG5 events where each event had a different lumi section: The PS weight vector does not change the size, it is always 46 as expected. Then I do the same but with official 10_6_3. I see that  the weight vector in

[2019-09-10 19:11] wddgit commented on #22135
A commit in PR #27948 might help with this, maybe... Commit title "Be more careful about resetting lumi status". It might help because the lumi status objects were being held in functors held up in queues behind other functors that need to run and potentially causing endRun to be started very late. I am not sure about this and did not trace this through in detail enough yet to connect it to these

[2019-09-10 21:06] Dr15Jones commented on #27427
@makortel did you come up with a fix for this?

[2019-09-10 21:09] makortel commented on #27427
@Dr15Jones No, my last comment (https://github.com/cms-sw/cmssw/issues/27427#issuecomment-508093675) shows the point where I got.

[2019-09-10 22:12] wddgit commented on #22135
So I am guessing the cause is that in RunsInFileProcessor::processRun there is no guarantee that something else does not have a copy of the RunResources shared_ptr and that could potentially delay the endRun past the start of the next run. There is a data race where the correct code path almost always wins.  This line is where the shared_ptr gets overwritten, causing endRun to execute on the old r

[2019-09-11 07:57] fabiocos opened #27967 "Build CMSSW_7_1_43_patch1"

[2019-09-11 07:58] cmsbuild commented on #27967
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-09-11 07:58] fabiocos commented on #27967
+1

[2019-09-11 07:58] cmsbuild commented on #27967
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_43_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2019-09-11 07:58] cmsbuild commented on #27967
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-09-11 08:02] fabiocos opened #27968 "Build CMSSW_9_3_16"

[2019-09-11 08:02] fabiocos commented on #27968
+1

[2019-09-11 08:03] cmsbuild commented on #27968
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_16. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2019-09-11 08:03] cmsbuild commented on #27968
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-09-11 08:08] cmsbuild commented on #27967
The build has started for slc6_amd64_gcc481 in cmsbuild94.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2143/console
CMSDIST Branch: [REL/CMSSW_7_1_43/slc6_amd64_gcc481](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_7_1_43/slc6_amd64_gcc481), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2019-09-11 08:10] cmsbuild commented on #27968
The build has started for slc6_amd64_gcc630 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2144/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-11 08:10] cmsbuild commented on #27968
The build has started for slc7_amd64_gcc630 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2145/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-11 08:13] andrius-k commented on #27780
Hi Matti @makortel,
You're right, that's how it works currently. But in the new, product based design there is no global `DQMStore` anymore. It will no longer be possible to use `dqmEndJob` in harvesters because as far as I know, there is no support for job products in the EDM framework.

The only way I see this working is that we open all input files, sort the metadata to have sequential runs and

[2019-09-11 08:38] cmsbuild commented on #27967
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_43_patch1-slc6_amd64_gcc481/2143
Some t

[2019-09-11 08:49] cmsbuild commented on #27967
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_43_patch1-slc6_amd64_gcc481/2143

Tests results:
7 3 2 2 2 tests passed, 0 4 0 0 0 failed

[2019-09-11 08:55] fabiocos commented on #27967
upload all

[2019-09-11 08:56] cmsbuild commented on #27967
Queing Jenkins upload for slc6_amd64_gcc481

[2019-09-11 08:57] cmsbuild commented on #27967
The upload has started for slc6_amd64_gcc481 in cmsbuild94.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1403/console

[2019-09-11 08:58] cmsbuild commented on #27967
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_43_patch1-slc6_amd64_gcc481/1403

[2019-09-11 09:15] fabiocos commented on #27967
release-notes

[2019-09-11 09:16] cmsbuild commented on #27967
Generating release notes since CMSSW_7_1_43.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-09-11 09:16] cmsbuild commented on #27967
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_7_1_43_patch1 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_43 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_43_patch1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2019-09-11 09:17] cmsbuild commented on #27967
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_43_patch1

[2019-09-11 09:52] fabiocos opened #27972 "Build CMSSW_10_2_16_patch2"

[2019-09-11 09:53] cmsbuild commented on #27972
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-09-11 09:53] fabiocos opened #27973 "Build CMSSW_10_6_3_patch1"

[2019-09-11 09:53] cmsbuild commented on #27973
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-09-11 09:53] fabiocos commented on #27972
+1

[2019-09-11 09:54] fabiocos commented on #27973
+1

[2019-09-11 09:54] cmsbuild commented on #27973
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_3_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-09-11 09:54] cmsbuild commented on #27973
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-09-11 09:54] cmsbuild commented on #27972
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-09-11 09:54] cmsbuild commented on #27972
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-09-11 10:03] cmsbuild commented on #27973
The build has started for slc7_amd64_gcc700 in cmsbuild26.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2146/console
CMSDIST Branch: [REL/CMSSW_10_6_3/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_3/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-11 10:04] cmsbuild commented on #27973
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2147/console
CMSDIST Branch: [REL/CMSSW_10_6_3/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_3/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-11 10:12] cmsbuild commented on #27972
The build has started for slc6_amd64_gcc700 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2148/console
CMSDIST Branch: [REL/CMSSW_10_2_16/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_2_16/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-11 10:31] cmsbuild commented on #27972
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_patch2-slc7_amd64_gcc700/2149

[2019-09-11 11:10] cmsbuild commented on #27973
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_3_patch1-slc7_amd64_gcc820/2147
Some t

[2019-09-11 11:11] fabiocos commented on #27972
ok, as there is no CMSSW_10_2_16 for slc7 (it is called CMSSW_10_2_16_UL) even the patch cannot be built. Not a big issue I would say

[2019-09-11 11:18] cmsbuild commented on #27973
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_3_patch1-slc7_amd64_gcc700/2146
Some t

[2019-09-11 11:19] cmsbuild commented on #27972
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_patch2-slc6_amd64_gcc700/2148
Some

[2019-09-11 12:03] cmsbuild commented on #27968
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16-slc6_amd64_gcc630/2144
Some tests (

[2019-09-11 12:14] cmsbuild commented on #27968
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16-slc7_amd64_gcc630/2145
Some tests (

[2019-09-11 12:20] fabiocos commented on #27918
@agrohsje so your check seems to confirm on a few events that the fix is doing what expected without any apparent drawback. At this point I would suggest to integrate this version into a build to perform more extensive checks

[2019-09-11 12:58] cmsbuild commented on #27968
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16-slc6_amd64_gcc630/2144

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-09-11 13:09] cmsbuild commented on #27972
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_16_patch2-slc6_amd64_gcc700/2148

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-11 13:12] qliphy commented on #27918
@fabiocos Yes it would be very nice to have a build and release with this fix included, as the other workaround (e.g. filtering unwanted weights) may still take time.  Thanks!

[2019-09-11 13:16] cmsbuild commented on #27968
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_16-slc7_amd64_gcc630/2145

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-09-11 13:17] cmsbuild commented on #27973
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_3_patch1-slc7_amd64_gcc820/2147

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-11 13:18] fabiocos commented on #27968
upload all

[2019-09-11 13:18] cmsbuild commented on #27968
Queing Jenkins upload for slc6_amd64_gcc630

[2019-09-11 13:18] cmsbuild commented on #27968
Queing Jenkins upload for slc7_amd64_gcc630

[2019-09-11 13:19] cmsbuild commented on #27968
The upload has started for slc6_amd64_gcc630 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1404/console

[2019-09-11 13:19] cmsbuild commented on #27968
The upload has started for slc7_amd64_gcc630 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1405/console

[2019-09-11 13:19] fabiocos commented on #27972
upload all

[2019-09-11 13:20] cmsbuild commented on #27972
Queing Jenkins upload for slc6_amd64_gcc700

[2019-09-11 13:22] cmsbuild commented on #27972
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_16_patch2-slc6_amd64_gcc700/1406

[2019-09-11 13:27] cmsbuild commented on #27968
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_16-slc7_amd64_gcc630/1405

[2019-09-11 13:28] cmsbuild commented on #27973
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_3_patch1-slc7_amd64_gcc700/2146

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-11 13:58] amaltaro opened #27977 "Configuration CRITICAL exception in SimpleMemoryCheck for 10_6_0"
While running some test workflows using CMSSW_10_6_0_patch2/slc7_amd64_gcc700, I noticed a handful of jobs failed because they could not open the file (PID) to retrieve the process stats, as can be seen in this excerpt from the job log
[code]

Given that it's solely fetching statistics for the cmsRun process, I wonder if we should rather catch that exception and just log an error (or warning) and

[2019-09-11 13:59] cmsbuild commented on #27977
A new Issue was created by  @amaltaro Alan Malta Rodrigues.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-11 14:00] fabiocos commented on #27968
release-notes

[2019-09-11 14:00] cmsbuild commented on #27968
Generating release notes since CMSSW_9_3_15_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-09-11 14:00] cmsbuild commented on #27968
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_3_16 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_15_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_16

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2019-09-11 14:00] fabiocos commented on #27972
release-notes

[2019-09-11 14:01] fabiocos commented on #27973
upload all

[2019-09-11 14:01] cmsbuild commented on #27972
Generating release notes since CMSSW_10_2_16_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-09-11 14:01] cmsbuild commented on #27972
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_2_16_patch2 is now available for the following architectures:

slc6_amd64_gcc700 (production)

The release notes of what changed with respect to CMSSW_10_2_16_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_16_patch2

Cheers,
cms-bot

You can also click <a href="mailto

[2019-09-11 14:01] cmsbuild commented on #27973
Queing Jenkins upload for slc7_amd64_gcc700

[2019-09-11 14:01] cmsbuild commented on #27973
Queing Jenkins upload for slc7_amd64_gcc820

[2019-09-11 14:01] cmsbuild commented on #27968
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_16

[2019-09-11 14:02] cmsbuild commented on #27972
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_16_patch2

[2019-09-11 14:03] cmsbuild commented on #27973
The upload has started for slc7_amd64_gcc700 in cmsbuild26.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1407/console

[2019-09-11 14:03] cmsbuild commented on #27973
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1408/console

[2019-09-11 14:04] cmsbuild commented on #27973
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_3_patch1-slc7_amd64_gcc820/1408

[2019-09-11 14:04] cmsbuild commented on #27973
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_3_patch1-slc7_amd64_gcc700/1407

[2019-09-11 14:12] Dr15Jones commented on #27977
Assign core

[2019-09-11 14:13] cmsbuild commented on #27977
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-11 14:38] Dr15Jones commented on #27977
@amaltaro what does ops want to do in this case? If SimpleMemoryTest fails then the framework job report would contain no memory related information.

[2019-09-11 14:46] fabiocos commented on #27973
release-notes

[2019-09-11 14:47] amaltaro commented on #27977
Wait, are you saying these statistics are collected only once in a `cmsRun` lifetime? I though it was following a polling cycle and fetching those from time to time.

By "no memory related information" you meant that the FJR would not have the Memory section in the FJR or that the values would all be 0 (or something else representing that)?

[2019-09-11 14:47] cmsbuild commented on #27973
Generating release notes since CMSSW_10_6_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-09-11 14:47] cmsbuild commented on #27973
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_3_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_3_patch1

Cheers,
cms-bot

You can also click <a href

[2019-09-11 14:48] cmsbuild commented on #27973
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_3_patch1

[2019-09-11 14:51] Dr15Jones commented on #27977
Without looking at the code, I'm not sure exactly what info the SimpleMemoryCheck was trying to do at construction time. Maybe doing a baseline memory check or doing a one time initialization of some information? If the latter than we'd be missing crucial info. If the former then we would have incomplete information about the job.

[2019-09-11 14:56] makortel commented on #27780
@andrius-k

Right, I was trying to understand how the current system was working since you raised some questions on it in https://github.com/cms-sw/cmssw/issues/27780#issuecomment-530015017.

[2019-09-11 16:04] Dr15Jones commented on #27977
I just checked the code, the file is opened once in the job so if that fails, no measurements are possible.

[2019-09-13 07:23] cmsbuild commented on #27967
The cleanup has started for slc6_amd64_gcc481

[2019-09-13 07:23] #27967 closed

[2019-09-13 07:26] cmsbuild commented on #27967
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_43_patch1-slc6_amd64_gcc481/1435

[2019-09-13 12:08] cmsbuild commented on #27972
The cleanup has started for slc6_amd64_gcc700

[2019-09-13 12:08] #27972 closed

[2019-09-13 12:08] cmsbuild commented on #27968
The cleanup has started for slc6_amd64_gcc630

[2019-09-13 12:08] cmsbuild commented on #27968
The cleanup has started for slc7_amd64_gcc630

[2019-09-13 12:08] #27968 closed

[2019-09-13 12:12] cmsbuild commented on #27972
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_16_patch2-slc6_amd64_gcc700/1436

[2019-09-13 12:16] cmsbuild commented on #27968
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_16-slc7_amd64_gcc630/1438

[2019-09-13 12:16] cmsbuild commented on #27968
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_16-slc6_amd64_gcc630/1437

[2019-09-13 12:46] perrotta commented on #27660
+1
- Addressed by @mmusich in #27694, merged in CMSSW since CMSSW_11_0_0_pre7

[2019-09-13 12:46] cmsbuild commented on #27660
This issue is fully signed and ready to be closed.

[2019-09-13 12:49] perrotta commented on #27374
@rappoccio : is there any progress with solving this issue?

[2019-09-13 12:52] perrotta commented on #27286
+1
- This issue was solved by the discussion in the reco meeting and hn, ending up with PR #27738, merged since CMSSW_11_0_0_pre7

[2019-09-13 12:53] cmsbuild commented on #27973
The cleanup has started for slc7_amd64_gcc700

[2019-09-13 12:53] cmsbuild commented on #27973
The cleanup has started for slc7_amd64_gcc820

[2019-09-13 12:53] #27973 closed

[2019-09-13 12:56] perrotta commented on #27533
+1
- Solved by  #27712

[2019-09-13 12:57] cmsbuild commented on #27973
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_3_patch1-slc7_amd64_gcc700/1439

[2019-09-13 12:57] cmsbuild commented on #27533
This issue is fully signed and ready to be closed.

[2019-09-13 12:57] cmsbuild commented on #27973
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_3_patch1-slc7_amd64_gcc820/1440

[2019-09-13 13:03] rappoccio commented on #27374
I wasn't sure who was responsible, sorry. I can do it if there are no others ;)

[2019-09-13 13:13] perrotta commented on #16850
+1
- the struct was removed since 94X, and this is not an issue any more, at least for reco

[2019-09-13 13:20] rappoccio commented on #27374
Actually the truncation is already written, right?

https://cmssdt.cern.ch/lxr/source/DataFormats/Math/interface/libminifloat.h#0022

So we can change float32to16 to float32to16crop?

[2019-09-13 13:44] perrotta commented on #27374
Thank you Sal!

One should truncate only if limits are hit.

What about something like:
[code]

[2019-09-13 13:47] rappoccio commented on #27374
Sure, that also works.

[2019-09-13 13:58] rappoccio commented on #27374
PR #27988

[2019-09-16 14:11] IlyasAzeem opened #27999 "Survey on Pull Request Prioritization"
Dear Pull Requests integrators,
We are an international group of researchers investigating Pull Requests management activities. We implemented an automated approach, named CARTESIAN, for prioritizing Pull Requests (PRs) received by an open-source project according to the likelihood of acceptance/response. We would like to evaluate whether CARTESIAN can help integrators when reviewing PRs.
As we no

[2019-09-16 14:12] cmsbuild commented on #27999
A new Issue was created by  @IlyasAzeem .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-16 16:28] fabiocos opened #28008 "Build CMSSW_11_0_0_pre8"

[2019-09-16 16:29] cmsbuild commented on #28008
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-09-16 16:29] fabiocos commented on #28008
build cmssw-tool-conf

[2019-09-16 16:29] cmsbuild commented on #28008
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-09-16 16:30] cmsbuild commented on #28008
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2150/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc8), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-16 16:30] cmsbuild commented on #28008
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2151/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-16 16:30] cmsbuild commented on #28008
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2152/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-16 17:46] cmsbuild commented on #28008
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre8-slc7_aarch64_gcc820/2152

[2019-09-16 19:36] Dr15Jones opened #28009 "in DEVEL build `python` shell command points to python2 executable"
in the DEVEL IB, e.g. `CMSSW_11_0_DEVEL_X_2019-09-15-2300` the binary used for python,

[cdj@cmslpc41 src]$ which python
/cvmfs/cms-ib.cern.ch/week0/slc7_amd64_gcc820/cms/cmssw/CMSSW_11_0_DEVEL_X_2019-09-15-2300/external/slc7_amd64_gcc820/bin/python

is
[cdj@cmslpc41 src]$ python -V
Python 2.7.15+

Eventhough that build has all the C++ supposed to be using python3.

This is why the unit tests for

[2019-09-16 19:37] cmsbuild commented on #28009
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-16 19:40] Dr15Jones commented on #28009
@davidlange6 FYI

[2019-09-16 19:40] Dr15Jones commented on #28009
assign core

[2019-09-16 19:40] cmsbuild commented on #28009
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-16 19:49] davidlange6 commented on #28009
is this a bug or a feature? Does anyone really change the meaning of 'which python' in distributions?

[2019-09-16 21:45] cmsbuild commented on #28008
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre8-slc7_amd64_gcc820/2150

[2019-09-17 02:14] cmsbuild commented on #28008
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre8-slc7_amd64_gcc900/2151

[2019-09-17 06:24] fabiocos commented on #28008
+1

[2019-09-17 06:24] cmsbuild commented on #28008
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-09-17 06:24] cmsbuild commented on #28008
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to

[2019-09-17 06:25] cmsbuild commented on #28008
The build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2153/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc8), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-17 06:25] cmsbuild commented on #28008
The build has started for slc7_amd64_gcc900 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2154/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-17 06:27] cmsbuild commented on #28008
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2155/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-17 08:20] cmsbuild commented on #28008
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre8-slc7_aarch64_gcc820/2155
Some

[2019-09-17 10:38] cmsbuild commented on #28008
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre8-slc7_amd64_gcc900/2154
Some tes

[2019-09-17 11:40] cmsbuild commented on #28008
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre8-slc7_aarch64_gcc820/2155

Tests results:
34 33 32 26 14 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-17 12:12] cmsbuild commented on #28008
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre8-slc7_amd64_gcc820/2153
Some tes

[2019-09-17 12:55] cmsbuild commented on #28008
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre8-slc7_amd64_gcc900/2154

Tests results:
34 33 32 26 14 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-17 14:22] cmsbuild commented on #28008
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre8-slc7_amd64_gcc820/2153

Tests results:
34 33 32 26 14 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-17 14:59] fabiocos commented on #28008
upload all

[2019-09-17 15:00] cmsbuild commented on #28008
Queing Jenkins upload for slc7_aarch64_gcc820

[2019-09-17 15:00] cmsbuild commented on #28008
Queing Jenkins upload for slc7_amd64_gcc820

[2019-09-17 15:00] cmsbuild commented on #28008
Queing Jenkins upload for slc7_amd64_gcc900

[2019-09-17 15:01] cmsbuild commented on #28008
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1409/console

[2019-09-17 15:01] cmsbuild commented on #28008
The upload has started for slc7_amd64_gcc900 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1411/console

[2019-09-17 15:02] cmsbuild commented on #28008
The upload has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1410/console

[2019-09-17 15:02] cmsbuild commented on #28008
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre8-slc7_aarch64_gcc820/1409

[2019-09-17 15:02] cmsbuild commented on #28008
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre8-slc7_amd64_gcc900/1411

[2019-09-17 15:06] cmsbuild commented on #28008
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre8-slc7_amd64_gcc820/1410

[2019-09-17 15:08] fabiocos commented on #28008
release-notes

[2019-09-17 15:08] cmsbuild commented on #28008
Generating release notes since CMSSW_11_0_0_pre7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-09-17 15:08] cmsbuild commented on #28008
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre8 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre8

Cheers,
cms-bot

You can also click <a href="ma

[2019-09-17 15:09] cmsbuild commented on #28008
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre8

[2019-09-17 15:34] dan131riley commented on #24780
Getting back to this, I had an idea and did a quick proof-of-concept for a possible approach here:

https://github.com/cms-sw/cmssw/compare/master...dan131riley:clustering-EventAuxiliary2

There are 10 items in EventAuxiliary; 5 of them change very frequently, and 5 change very infrequently.  In this approach I run-length encode the 5 that change infrequently and keep the 5 that change frequently

[2019-09-17 15:42] cmsbuild commented on #28008
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre8

[2019-09-17 16:01] fabiocos commented on #28008
@smuzaffar in the release notes there is something odd, all the changes after the update of the architecture seem to miss, a mismatch between IB/CMSSW_11_0_X/master and IB/CMSSW_11_0_X/slc7_amd64_gcc820?

https://github.com/cms-sw/cmsdist/compare/REL/CMSSW_11_0_0_pre8/slc7_amd64_gcc820...IB/CMSSW_11_0_X/master

[2019-09-17 16:09] fabiocos commented on #28008
@smuzaffar indeed the branch used for the build is the gcc820 one which is not in sync with master, see the link in https://github.com/cms-sw/cmssw/issues/28008#issuecomment-531854382

[2019-09-17 19:14] Dr15Jones commented on #24780
@dan131riley I'm in support of this idea. I'd even go so far as to consider modifying the file format to better accomodate some of the changes.

[2019-09-17 19:40] #27660 closed

[2019-09-17 19:47] kpedro88 commented on #20046
Closing this because `CaloTruthAccumulator` has been entirely rewritten and the issue does not seem to have recurred.

[2019-09-17 19:47] #20046 closed

[2019-09-17 20:17] fabiocos commented on #28008
@smuzaffar looking into the Jenkins console output https://cmssdt.cern.ch/jenkins/job/build-release/2153/consoleFull I see that the correct CMSDIST_TAG value looks overwritten:

[code]

[2019-09-17 20:17] smuzaffar commented on #28008
@fabiocos , yes indeed, it picked up the wrong branch. the old lines with `DISABLED=1` was still in config.map but release build process did not ignore that line. https://github.com/cms-sw/cms-bot/compare/34c355cb8681f13450c4ee31bcb60d0bf37fe0e3...master should fix this issue.

I am afraid, we need to mark 11.0.0.pre8 as deprecated and build pre9. But lets wait for tonights IB please

[2019-09-17 20:20] smuzaffar commented on #28008
yes @fabiocos , it matched two lines. The 2nd line is marked disabled but looks like our release build and IB build scripts were not ignoring those line. So 2nd line override the correct value. This is fix now but lets wait for tonight IB before building pre9

I can mark pre8 as deprecated in releases.map file

[2019-09-17 20:20] fabiocos commented on #28008
@smuzaffar pre8 is strictly speaking not wrong, just not exactly what we wanted :-(
I will announce it when also pre9 is ready, to avoid confusion, and send a message to explain.
At this point I profit to merge a couple of more things (sherpa, a data file that is useful)

[2019-09-17 20:21] fabiocos commented on #28008
or I can just skip the announcement and produce release notes for pre9 wrt pre7

[2019-09-17 20:22] fabiocos commented on #28008
Let's see how tonight IB goes, and tomorrow morning I start the new build if everything looks ok

[2019-09-17 20:23] smuzaffar commented on #28008
I just have started an IB (22h00) to see if my changes in bot works for IB. I see that now IB is correctly using master branch
[code]

[2019-09-17 20:25] smuzaffar commented on #28008
yes, I would skip the pre8 announcement and produce release notes for pre9 w.r.t pre7

[2019-09-17 21:13] kpedro88 commented on #17923
closing this:
* couts were fixed in #19155
* L1 step no longer included in premix_stage1

[2019-09-17 21:13] #17923 closed

[2019-09-18 07:21] fabiocos opened #28015 "Build CMSSW_11_0_0_pre9"

[2019-09-18 07:23] cmsbuild commented on #28015
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-09-18 07:24] fabiocos commented on #28015
+1

[2019-09-18 07:24] cmsbuild commented on #28015
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-09-18 07:24] cmsbuild commented on #28015
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to

[2019-09-18 07:26] cmsbuild commented on #28015
The build has started for slc7_amd64_gcc900 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2157/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-18 07:26] cmsbuild commented on #28015
The build has started for slc7_amd64_gcc820 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2156/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-18 07:26] cmsbuild commented on #28015
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2158/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-18 07:47] fabiocos commented on #28015
@smuzaffar the CMSDIST tag looks now ok, I start the build without waiting for the IB to finish, let's see how it goes. At this point I will merge some new CMSSW PRs, they should not interfere anyway with this build as the CMSSW snapshot should be already defined

[2019-09-18 09:53] cmsbuild commented on #28015
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre9-slc7_aarch64_gcc820/2158
Some

[2019-09-18 10:44] cmsbuild commented on #28015
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre9-slc7_amd64_gcc900/2157
Some tes

[2019-09-18 12:42] cmsbuild commented on #28015
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre9-slc7_amd64_gcc900/2157

Tests results:
34 33 32 26 14 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-18 13:23] cmsbuild commented on #28015
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre9-slc7_aarch64_gcc820/2158

Tests results:
34 33 32 26 14 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-18 13:55] fabiocos commented on #28015
@smuzaffar is the slc7_amd64_gcc820 build moving forward? I see it in Jenkins still blocked at 11:39...

[2019-09-18 15:42] cmsbuild commented on #28015
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre9-slc7_amd64_gcc820/2156
Some tes

[2019-09-18 18:00] cmsbuild commented on #28015
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre9-slc7_amd64_gcc820/2156

Tests results:
34 33 32 26 14 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-18 18:21] fabiocos commented on #28015
upload all

[2019-09-18 18:23] cmsbuild commented on #28015
Queing Jenkins upload for slc7_aarch64_gcc820

[2019-09-18 18:23] cmsbuild commented on #28015
Queing Jenkins upload for slc7_amd64_gcc820

[2019-09-18 18:23] cmsbuild commented on #28015
Queing Jenkins upload for slc7_amd64_gcc900

[2019-09-18 18:25] cmsbuild commented on #28015
The upload has started for slc7_amd64_gcc820 in cmsbuild29.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1413/console

[2019-09-18 18:25] cmsbuild commented on #28015
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1412/console

[2019-09-18 18:25] cmsbuild commented on #28015
The upload has started for slc7_amd64_gcc900 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1414/console

[2019-09-18 18:25] cmsbuild commented on #28015
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre9-slc7_aarch64_gcc820/1412

[2019-09-18 18:26] cmsbuild commented on #28015
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre9-slc7_amd64_gcc900/1414

[2019-09-18 18:27] cmsbuild commented on #28015
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre9-slc7_amd64_gcc820/1413

[2019-09-18 18:29] fabiocos commented on #28015
release-notes from CMSSW_11_0_0_pre7

[2019-09-18 18:35] cmsbuild commented on #28015
Generating release notes since CMSSW_11_0_0_pre7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-09-18 18:36] cmsbuild commented on #28015
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre9 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_aarch64_gcc820
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre9

Cheers,
cms-bot

You can al

[2019-09-18 18:37] cmsbuild commented on #28015
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre9

[2019-09-19 13:08] cmsbuild commented on #28008
The cleanup has started for slc7_aarch64_gcc820

[2019-09-19 13:08] cmsbuild commented on #28008
The cleanup has started for slc7_amd64_gcc820

[2019-09-19 13:08] cmsbuild commented on #28008
The cleanup has started for slc7_amd64_gcc900

[2019-09-19 13:08] #28008 closed

[2019-09-19 13:09] cmsbuild commented on #28008
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre8-slc7_aarch64_gcc820/1441

[2019-09-19 13:14] cmsbuild commented on #28008
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre8-slc7_amd64_gcc820/1442

[2019-09-19 13:15] cmsbuild commented on #28008
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre8-slc7_amd64_gcc820/1444

[2019-09-19 13:28] cmsbuild commented on #28008
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre8-slc7_amd64_gcc900/1445

[2019-09-19 20:33] fabiocos opened #28029 "Build CMSSW_10_6_4"

[2019-09-19 20:33] cmsbuild commented on #28029
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-09-19 20:34] fabiocos commented on #28029
+1

[2019-09-19 20:34] cmsbuild commented on #28029
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-09-19 20:34] cmsbuild commented on #28029
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-09-19 20:35] cmsbuild commented on #28029
The build has started for slc7_amd64_gcc700 in cmsbuilder10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2159/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-19 20:35] cmsbuild commented on #28029
The build has started for slc7_amd64_gcc820 in cmsbuilder11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2160/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-19 23:50] cmsbuild commented on #28029
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4-slc7_amd64_gcc820/2160
Some tests (

[2019-09-20 01:38] cmsbuild commented on #28029
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4-slc7_amd64_gcc700/2159
Some tests (

[2019-09-20 01:48] cmsbuild commented on #28029
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4-slc7_amd64_gcc820/2160

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-20 03:36] cmsbuild commented on #28029
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4-slc7_amd64_gcc700/2159

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-20 08:14] fabiocos commented on #28029
abort

unfortunately one of the merged PRs shows some failures and needs to be temporarily reverted

[2019-09-20 08:15] cmsbuild commented on #28029
Deleting CMSSW_10_6_4:

  -Release successfully deleted

  -cmssw tag CMSSW_10_6_4 successfully deleted.

 -cmsdist tag REL/CMSSW_10_6_4/slc7_amd64_gcc700 successfully deleted.

 -cmsdist tag REL/CMSSW_10_6_4/slc7_amd64_gcc820 successfully deleted.

You must create a new issue to start over the build.

[2019-09-20 08:24] fabiocos opened #28034 "Build CMSSW_10_6_4"

[2019-09-20 08:24] cmsbuild commented on #28034
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-09-20 08:26] fabiocos commented on #28034
+1

[2019-09-20 08:26] cmsbuild commented on #28034
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-09-20 08:26] cmsbuild commented on #28034
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-09-20 08:42] cmsbuild commented on #28034
The build has started for slc7_amd64_gcc820 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2162/console
CMSDIST Branch: [IB/CMSSW_10_6_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_6_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-20 09:39] slava77 commented on #27685
+1

[2019-09-20 09:40] cmsbuild commented on #27685
This issue is fully signed and ready to be closed.

[2019-09-20 09:40] slava77 commented on #27657
+1

done in #27986

[2019-09-20 09:40] #27657 closed

[2019-09-20 09:41] cmsbuild commented on #27657
This issue is fully signed and ready to be closed.

[2019-09-20 09:41] slava77 commented on #27553
@guitargeek
please clarify on the status of resolving this issue.
Thank you.

[2019-09-20 09:48] slava77 commented on #27541
@Sam-Harper @guitargeek @jainshilpi
please take a look

[2019-09-20 09:53] #27504 closed

[2019-09-20 09:53] cmsbuild commented on #27504
This issue is fully signed and ready to be closed.

[2019-09-20 09:56] slava77 commented on #27458
@hqucms
do we have the externals in place already to try using ONNX?
What is the plan for deepAK8 (since you might know the most about it)?

[2019-09-20 10:15] hqucms commented on #27458
@slava77
ONNXRuntime 0.5.0 has been integrated in the externals in https://github.com/cms-sw/cmsdist/pull/5080. I did some tests, in general things look good, but from there I noticed that the threading model does not seem to fit with CMSSW very well (basically, each `session` manages its own thread pool). However, there has been some recent developments (https://github.com/microsoft/onnxruntime/p

[2019-09-20 10:32] perrotta commented on #26913
+1
- All cases look like as having been fixed now

[2019-09-20 10:33] cmsbuild commented on #26913
This issue is fully signed and ready to be closed.

[2019-09-20 11:47] #27685 closed

[2019-09-20 12:08] cmsbuild commented on #28034
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4-slc7_amd64_gcc820/2162
Some tests (

[2019-09-20 13:30] guitargeek commented on #27541
I checked out the code, and this check here protects us from the segmentation fault:

https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaElectronAlgos/src/ElectronSeedGenerator.cc#L275

We understand now that `fromTrackerSeeds` is never supposed to be false and therefore we can just remove all branches in the code for this case and then `theMeasurementTracker` will always be set. I'm run

[2019-09-20 14:16] cmsbuild commented on #28034
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4-slc7_amd64_gcc820/2162

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-20 14:25] cmsbuild commented on #28034
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4-slc7_amd64_gcc700/2161
Some tests (

[2019-09-20 16:38] cmsbuild commented on #28015
The cleanup has started for slc7_aarch64_gcc820

[2019-09-20 16:38] cmsbuild commented on #28015
The cleanup has started for slc7_amd64_gcc820

[2019-09-20 16:38] cmsbuild commented on #28015
The cleanup has started for slc7_amd64_gcc900

[2019-09-20 16:38] #28015 closed

[2019-09-20 16:39] cmsbuild commented on #28034
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4-slc7_amd64_gcc700/2161

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-20 16:39] cmsbuild commented on #28015
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre9-slc7_aarch64_gcc820/1446

[2019-09-20 16:46] cmsbuild commented on #28015
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre9-slc7_amd64_gcc820/1447

[2019-09-20 16:47] cmsbuild commented on #28015
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre9-slc7_amd64_gcc900/1448

[2019-09-20 17:48] fabiocos commented on #28034
upload all

[2019-09-20 17:49] cmsbuild commented on #28034
Queing Jenkins upload for slc7_amd64_gcc700

[2019-09-20 17:49] cmsbuild commented on #28034
Queing Jenkins upload for slc7_amd64_gcc820

[2019-09-20 17:49] cmsbuild commented on #28034
The upload has started for slc7_amd64_gcc700 in cmsbuild30.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1415/console

[2019-09-20 17:49] cmsbuild commented on #28034
The upload has started for slc7_amd64_gcc820 in cmsbuild16.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1416/console

[2019-09-20 17:50] cmsbuild commented on #28034
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_4-slc7_amd64_gcc820/1416

[2019-09-20 17:51] cmsbuild commented on #28034
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_4-slc7_amd64_gcc700/1415

[2019-09-20 17:54] fabiocos commented on #28034
release-notes

[2019-09-20 17:55] cmsbuild commented on #28034
Generating release notes since CMSSW_10_6_3_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-09-20 17:55] cmsbuild commented on #28034
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_6_4 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_3_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_4

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2019-09-20 17:55] cmsbuild commented on #28034
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_4

[2019-09-21 21:29] ZihengChen opened #28047 "Index of xBin,yBin can be out of range"
https://github.com/cms-sw/cmssw/blob/92f3a0c522e9accbf3b6846874b778329cb7c2cb/RecoLocalCalo/HGCalRecProducers/interface/HGCalLayerTiles.h#L44

I think the correct std::clamp range should `(0, hgcaltilesconstants::nColumns-1)`
And so as yBin, etaBin, phiBin.
Otherwise segmentation fault could happen.

[2019-09-21 21:29] cmsbuild commented on #28047
A new Issue was created by  @ZihengChen Ziheng Chen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-21 21:30] ZihengChen commented on #28047
@felicepantaleo

[2019-09-22 06:23] cmsbuild commented on #28029
The cleanup has started for slc7_amd64_gcc700

[2019-09-22 06:23] cmsbuild commented on #28029
The cleanup has started for slc7_amd64_gcc820

[2019-09-22 06:23] #28029 closed

[2019-09-22 06:23] cmsbuild commented on #28029
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_4-slc7_amd64_gcc700/1449

[2019-09-22 06:23] cmsbuild commented on #28029
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_4-slc7_amd64_gcc820/1450

[2019-09-22 13:50] Dr15Jones commented on #28047
assign reconstruction

[2019-09-22 13:50] cmsbuild commented on #28047
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-22 16:08] cmsbuild commented on #28034
The cleanup has started for slc7_amd64_gcc700

[2019-09-22 16:08] cmsbuild commented on #28034
The cleanup has started for slc7_amd64_gcc820

[2019-09-22 16:08] #28034 closed

[2019-09-22 16:13] cmsbuild commented on #28034
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_4-slc7_amd64_gcc700/1451

[2019-09-22 16:13] cmsbuild commented on #28034
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_4-slc7_amd64_gcc820/1452

[2019-09-22 16:54] perrotta opened #28049 "Make HGCal Trackster's a class in CMSSW, instead of a struct"
Following the [comment](https://github.com/cms-sw/cmssw/pull/27917#discussion_r321334892) inserted by @slava77 during the review of #27917, non-trivial methods are not really expected for plain structs in data formats.
Trackster in DataFormats/HGCalReco/interface/Trackster.h should be transformed in a normal C++ class.
@riga @felicepantaleo

[2019-09-22 16:54] cmsbuild commented on #28049
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-22 16:54] perrotta commented on #28049
assign reconstruction, upgrade

[2019-09-22 16:55] cmsbuild commented on #28049
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-24 16:02] dan131riley commented on #27724
PR #28064 has been opened to address this.

[2019-09-24 16:12] fioriNTU commented on #27724
Many thanks @dan131riley !

[2019-09-24 16:33] smuzaffar opened #28065 "Pyquen workflow failing in CLANG IBs"
We noticed that since we moved to GCC8 then few Pyquen workflows in CLANG IB are failing. Running one of these workflows locally I get this stack trace

[code]

[2019-09-24 16:33] cmsbuild commented on #28065
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-24 16:39] srimanob commented on #27918
Can we consider that this issue is closed with the fix in https://github.com/cms-sw/cmsdist/pull/5229 (backport to 10_6 https://github.com/cms-sw/cmsdist/pull/5239) ?

Thanks you all.

[2019-09-25 09:19] Sam-Harper commented on #27541
big thank you for fixing this @guitargeek , its very much appreciated!

[2019-09-25 16:53] fabiocos opened #28069 "Build CMSSW_10_6_4_patch1"

[2019-09-25 16:53] cmsbuild commented on #28069
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-09-25 16:54] fabiocos commented on #28069
+1

[2019-09-25 16:54] cmsbuild commented on #28069
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_4_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-09-25 16:54] cmsbuild commented on #28069
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-09-25 16:54] cmsbuild commented on #28069
The build has started for slc7_amd64_gcc820 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2164/console
CMSDIST Branch: [REL/CMSSW_10_6_4/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_4/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-25 16:54] cmsbuild commented on #28069
The build has started for slc7_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2163/console
CMSDIST Branch: [REL/CMSSW_10_6_4/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_4/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-09-25 16:59] fabiocos commented on #28065
assign generator

[2019-09-25 18:02] cmsbuild commented on #28069
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4_patch1-slc7_amd64_gcc820/2164
Some t

[2019-09-25 18:17] cmsbuild commented on #28069
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4_patch1-slc7_amd64_gcc700/2163
Some t

[2019-09-25 20:10] cmsbuild commented on #28069
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4_patch1-slc7_amd64_gcc820/2164

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-25 20:33] cmsbuild commented on #28069
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4_patch1-slc7_amd64_gcc700/2163

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-09-25 20:42] fabiocos commented on #28069
upload all

[2019-09-25 20:43] cmsbuild commented on #28069
Queing Jenkins upload for slc7_amd64_gcc700

[2019-09-25 20:43] cmsbuild commented on #28069
Queing Jenkins upload for slc7_amd64_gcc820

[2019-09-25 20:44] cmsbuild commented on #28069
The upload has started for slc7_amd64_gcc820 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1418/console

[2019-09-25 20:44] cmsbuild commented on #28069
The upload has started for slc7_amd64_gcc700 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1417/console

[2019-09-25 20:44] fabiocos commented on #28065
assign generators

[2019-09-25 20:44] cmsbuild commented on #28069
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_4_patch1-slc7_amd64_gcc820/1418

[2019-09-25 20:44] cmsbuild commented on #28069
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_4_patch1-slc7_amd64_gcc700/1417

[2019-09-25 20:44] cmsbuild commented on #28065
New categories assigned: generators

@alberto-sanchez,@qliphy,@efeyazgan,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-25 20:47] fabiocos commented on #28069
release-notes

[2019-09-25 20:47] cmsbuild commented on #28069
Generating release notes since CMSSW_10_6_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-09-25 20:47] cmsbuild commented on #28069
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_4_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_4_patch1

Cheers,
cms-bot

You can also click <a href

[2019-09-25 20:48] cmsbuild commented on #28069
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_4_patch1

[2019-09-26 00:20] qliphy commented on #28065
adding @SiewYan

[2019-09-26 11:01] schneiml opened #28072 "`EgammaV/ConversionValidator` DQM ouptut is unstable in workflow 11634"
While validating  #28042 I noticed that many plots in the `EgammaV/ConversionValidator` hierarchy are unstable in the PR tests. This seems to only affect workflow 11634, while the same plots seem stable in WF 11624 (which *only* exists in 10_6, while 11634 is *only* in 11?).

We could blacklist it, but this might point to a deeper problem somewhere else.

[code]

Says:
[code]
for wf 11624, but
[co

[2019-09-26 11:02] cmsbuild commented on #28072
A new Issue was created by  @schneiml Marcel Schneider.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-26 11:46] Dr15Jones commented on #28072
assign dqm, reconstruction

[2019-09-26 11:46] cmsbuild commented on #28072
New categories assigned: dqm,reconstruction

@jfernan2,@slava77,@andrius-k,@schneiml,@fioriNTU,@perrotta,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-26 15:37] Dr15Jones opened #28073 "::getenv is not guaranteed to be thread safe"
The POSIX and C standard state that muliple calls to `::getenv` are not guaranteed to be thread safe. The C++ standard `std::getenv` is thread safe. We should change all uses of `::getenv` in CMSSW to use `std::getenv`.

[2019-09-26 15:37] Dr15Jones commented on #28073
assign core, reconstruction, simulation, dam

[2019-09-26 15:38] cmsbuild commented on #28073
New categories assigned: core,reconstruction,simulation

@Dr15Jones,@smuzaffar,@mdhildreth,@slava77,@perrotta,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-26 15:38] cmsbuild commented on #28073
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-26 19:20] civanch commented on #28073
@Dr15Jones , Geant4 has a lot of calls to environment in order to access data files. Should we inform Geant4 about this problem?

[2019-09-26 19:31] Dr15Jones commented on #28073
@civanch

That's probably a good idea.

[2019-09-27 15:26] fabiocos commented on #27918
@srimanob @peruzzim @agrohsje @qliphy as far as I understand the problem has gone, it would be good to have a final confirmation by Marco as well

[2019-09-27 18:17] wddgit commented on #26576
FYI. Just an update on the status of this. I have the Core part of this
implemented along with unit tests and it is all working fine.
(See branch wddgit:producesCollector)

After running cms-checkdeps -a and then scram b -k, I can see
225 compilation errors where I need to migrate code to use
the new producesCollector. Many are multiple calls to produces in the
same file, which makes it easier. I

[2019-09-27 18:53] cmsbuild commented on #28069
The cleanup has started for slc7_amd64_gcc700

[2019-09-27 18:53] cmsbuild commented on #28069
The cleanup has started for slc7_amd64_gcc820

[2019-09-27 18:53] #28069 closed

[2019-09-27 18:57] cmsbuild commented on #28069
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_4_patch1-slc7_amd64_gcc700/1453

[2019-09-27 18:59] cmsbuild commented on #28069
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_4_patch1-slc7_amd64_gcc820/1454

[2019-09-27 19:09] mkirsano commented on #28065
Add @wouf

[2019-10-02 10:38] ianna opened #28106 "DataFormats dependency on Geometry must be forbidden"
Both direct and indirect dependency of the DataFormat classes&packages on any of the classes&packages residing in the Geometry subsystem must be forbidden.

Refactoring should be done if there are any legitimate cases where it's needed.

@smuzaffar - as discussed.

[2019-10-02 10:38] cmsbuild commented on #28106
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-02 10:54] slava77 commented on #28106
isn't this a rule for DF dependencies https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCreatingNewProducts#Restrictions_on_the_package_defi

Or is this an issue to request some automated code checking?

[2019-10-02 11:20] smuzaffar commented on #28106
request is to update dependency violations rules [a] and catch it at PR test time.

[a]
https://github.com/cms-sw/cmssw/blob/master/Utilities/ReleaseScripts/scripts/CMSSWReleaseDependency.rules

[2019-10-03 16:55] hqucms commented on #27458
A preliminary implementation is made in https://github.com/cms-sw/cmssw/pull/28112.

[2019-10-04 18:46] Dr15Jones commented on #28073
#28117 changes all code for core.

[2019-10-04 19:49] fabiocos commented on #28106
@ianna @smuzaffar is this issue a consequence of a problem caught?

[2019-10-07 12:04] peruzzim commented on #27918
If the GEN group has a MINIAOD test file generated with the new Pythia version, I can test NANOAOD on it, but this is something for them to sign off in the end

[2019-10-07 12:07] #26473 closed

[2019-10-07 12:15] peruzzim opened #28119 "NanoAODv6 release preparation"
This is to collect and track items for integration in the release for NanoAODv6:

- [x] #28096 Enable pt-dependent JER-SF and phi-dependent JEC application in PAT
- [x] #28118 Muon FSR recovery for miniaod and nanoaod
- [x] #28122 NanoAODv6 updates, part 2
- [x] #28196 NanoAODv6, config fixes for UL
- [x] #28221 Fix electron PFCandidates RefVector usage in MuonFSRProducer

[2019-10-07 12:17] cmsbuild commented on #28119
A new Issue was created by  @peruzzim .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-07 12:18] peruzzim commented on #28119
assign xpog

[2019-10-07 12:19] cmsbuild commented on #28119
New categories assigned: xpog

@fgolf,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-07 13:13] qliphy commented on #27918
Let me quote below what Alexander has checked in another email thread. Everything looks ok there.
For a further double check, you can run reval 1361.181 with 11_0_0_pre9 or 10_6_4.

Dear all,
as discussed I was running relval workflow 1361.181 in 11_0_0_pre9. I
reduced the number of events per lumi section to 2 and produced 10 events.
The weight names and values in the miniaod [1] look as expected

[2019-10-07 13:23] davidlange6 commented on #26462
but the last command will mean that cmssw aspects won't work...

[2019-10-07 13:50] Dr15Jones commented on #22135
This happened again in CMSSW_11_0_X_2019-10-04-2300 for workflow 7.23 step1:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_0_X_2019-10-04-2300/pyRelValMatrixLogs/run/7.23_Cosmics_UP21+Cosmics_UP21+DIGICOS_UP21+RECOCOS_UP21+ALCACOS_UP21+HARVESTCOS_UP21/step1_Cosmics_UP21+Cosmics_UP21+DIGICOS_UP21+RECOCOS_UP21+ALCACOS_UP21+HARVESTCOS_UP21.log#/

[code]

[2019-10-07 14:44] Dr15Jones commented on #26748
#28120 is part of this

[2019-10-07 16:32] fabiocos commented on #28073
@Dr15Jones @smuzaffar preparing a PR to change all the rest...

[2019-10-07 18:24] kpedro88 commented on #26462
to avoid exporting `PYTHONHOME`, you can alias the commands like:
[code]

[2019-10-07 18:53] belforte commented on #26462
I'd rather stick to the safer: ```(eval `scram unsetenv -sh`; gfal-ls)```

[2019-10-07 20:36] #27541 closed

[2019-10-07 20:54] wddgit commented on #26576
@Dr15Jones @makortel

I just wanted to verify something before moving forward with this. I briefly discussed this with Chris last week. In my current working area I have the following constructors for the new ProducesCollector. Note that this is different than ConsumesCollector because it allows copying. ConsumesCollector only allows moving:
[code]
It is easy to change now, but it would be good to

[2019-10-08 15:26] peruzzim commented on #28119
Branches for a cumulative backport of #28103 and #28122 are also ready:

https://github.com/cms-sw/cmssw/compare/CMSSW_10_2_X...cms-nanoAOD:pr_nanov6_102X
https://github.com/cms-sw/cmssw/compare/CMSSW_10_6_X...cms-nanoAOD:pr_nanov6_106X

and will depend on backports of #28096 (PRs open) and #28118 (PRs not open yet)

[2019-10-08 16:43] hqucms commented on #27458
I also tried this on DeepTau, but with the current configuration (enabling only SSE), ONNXRuntime is actually a bit slower than the current TF backend. However, if we enable AVX, then ONNXRuntime is ~1.5 - 2x faster (seems faster than TF w/ AVX enabled), plus that ONNXRuntime can fall back to SSE on CPUs w/o AVX at runtime (TF built w/ AVX will fail in this case).

[2019-10-08 18:39] slava77 commented on #27458
On 10/8/19 6:43 PM, Huilin Qu wrote:

We observed (or alleged) previously that the dynamic option leads do
different results executed on different architectures.
Does this issue still persist?

[2019-10-08 18:55] hqucms commented on #27458
@slava77
Yes, unfortunately that's still the case.

[2019-10-08 19:55] Dr15Jones commented on #28073
#28124 does the rest

[2019-10-09 07:57] peruzzim commented on #28119
I'm afraid we forgot to update NanoAOD code for the backports of #27184, would like to check with @ahinzmann @lathomas before building _pre10

[2019-10-09 08:56] fabiocos opened #28131 "Build CMSSW_9_4_15"

[2019-10-09 08:56] cmsbuild commented on #28131
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-10-09 08:59] fabiocos commented on #28131
+1

[2019-10-09 08:59] cmsbuild commented on #28131
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_15. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_X

[2019-10-09 08:59] cmsbuild commented on #28131
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-10-09 09:00] cmsbuild commented on #28131
The build has started for slc7_amd64_gcc630 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2166/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-09 09:00] cmsbuild commented on #28131
The build has started for slc6_amd64_gcc630 in cmsbuild98.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2165/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-09 09:02] fabiocos opened #28132 "Build CMSSW_10_2_17"

[2019-10-09 09:02] cmsbuild commented on #28132
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-10-09 09:02] fabiocos commented on #28132
+1

[2019-10-09 09:02] cmsbuild commented on #28132
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_17. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-10-09 09:02] cmsbuild commented on #28132
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-10-09 09:03] cmsbuild commented on #28132
The build has started for slc6_amd64_gcc700 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2167/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-09 09:04] cmsbuild commented on #28132
The build has started for slc7_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2168/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-09 11:44] cmsbuild commented on #28131
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_15-slc7_amd64_gcc630/2166
Some tests (

[2019-10-09 11:55] peruzzim commented on #28119
the jet ID is now updated in #28122

[2019-10-09 12:18] cmsbuild commented on #28132
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_17-slc7_amd64_gcc700/2168
Some tests (

[2019-10-09 12:49] cmsbuild commented on #28131
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_15-slc7_amd64_gcc630/2166

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-10-09 13:29] cmsbuild commented on #28132
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_17-slc6_amd64_gcc700/2167
Some tests (

[2019-10-09 14:09] cmsbuild commented on #28132
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_17-slc7_amd64_gcc700/2168

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-09 14:22] cmsbuild commented on #28131
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_15-slc6_amd64_gcc630/2165
Some tests (

[2019-10-09 15:01] rovere opened #28139 "Clean CE_{E,H} workflows for runTheMatrix"
At present we seem to create HGCAL specific workflows for all scenarios (2017/2018/2021/2023/2016).
We should keep just the last one.

[2019-10-09 15:01] cmsbuild commented on #28139
A new Issue was created by  @rovere Marco Rovere.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-09 15:04] kpedro88 commented on #28139
assign upgrade

[2019-10-09 15:05] cmsbuild commented on #28139
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-09 15:13] cmsbuild commented on #28132
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_17-slc6_amd64_gcc700/2167

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-09 15:59] fabiocos commented on #28131
upload all

[2019-10-09 15:59] fabiocos commented on #28132
upload all

[2019-10-09 15:59] cmsbuild commented on #28131
Queing Jenkins upload for slc6_amd64_gcc630

[2019-10-09 15:59] cmsbuild commented on #28131
Queing Jenkins upload for slc7_amd64_gcc630

[2019-10-09 16:00] cmsbuild commented on #28132
Queing Jenkins upload for slc6_amd64_gcc700

[2019-10-09 16:00] cmsbuild commented on #28132
Queing Jenkins upload for slc7_amd64_gcc700

[2019-10-09 16:00] cmsbuild commented on #28131
The upload has started for slc7_amd64_gcc630 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1420/console

[2019-10-09 16:00] cmsbuild commented on #28131
The upload has started for slc6_amd64_gcc630 in cmsbuild98.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1419/console

[2019-10-09 16:00] cmsbuild commented on #28131
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_15-slc7_amd64_gcc630/1420

[2019-10-09 16:01] cmsbuild commented on #28132
The upload has started for slc6_amd64_gcc700 in cmsbuild25.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1421/console

[2019-10-09 16:01] cmsbuild commented on #28132
The upload has started for slc7_amd64_gcc700 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1422/console

[2019-10-09 16:02] cmsbuild commented on #28132
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_17-slc7_amd64_gcc700/1422

[2019-10-09 16:02] cmsbuild commented on #28132
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_17-slc6_amd64_gcc700/1421

[2019-10-09 16:04] cmsbuild commented on #28131
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_15-slc6_amd64_gcc630/1419

[2019-10-09 16:14] fabiocos commented on #28131
release-notes

[2019-10-09 16:14] fabiocos commented on #28132
release-notes

[2019-10-09 16:15] cmsbuild commented on #28131
Generating release notes since CMSSW_9_4_14_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-10-09 16:15] cmsbuild commented on #28131
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_15 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_4_14_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_15

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2019-10-09 16:16] cmsbuild commented on #28132
Generating release notes since CMSSW_10_2_16_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-10-09 16:16] cmsbuild commented on #28132
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_17 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_16_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_17

Cheers,
cms-bot

You can also click <a href="mailto:h

[2019-10-09 16:16] cmsbuild commented on #28131
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_15

[2019-10-09 16:16] cmsbuild commented on #28132
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_17

[2019-10-10 08:23] peruzzim commented on #28119
everything is now merged to build _pre10 from the xpog side
discussion on backport preparation will follow

[2019-10-10 08:56] peruzzim commented on #28119
List of features to be backported to 10_2_X for NanoAODv6:

- [ ] #28095 Backport jetid updates to 102X
- [ ] #28098 Enable pt-dependent JER-SF and phi-dependent JEC application in PAT [102X backport]
- [ ] #28135 Muon FSR recovery for miniaod and nanoaod [102X]
- [ ] #28145 NanoAODv6 updates [102X]

#28145 depends technically only on #28095 and #28135, but we will need also #28098 to use the inte

[2019-10-10 11:21] fabiocos opened #28146 "Build CMSSW_11_0_0_pre10"

[2019-10-10 11:26] fabiocos commented on #28146
build cmssw-tool-conf

[2019-10-10 11:26] cmsbuild commented on #28146
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-10-10 11:27] cmsbuild commented on #28146
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild84.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2169/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-10 11:28] cmsbuild commented on #28146
The cmssw-tool-conf build has started for slc7_amd64_gcc900 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2170/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-10 11:29] cmsbuild commented on #28146
The cmssw-tool-conf build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2171/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-10 11:55] fabiocos opened #28147 "Build CMSSW_11_0_0_pre10_ROOT618"

[2019-10-10 11:55] cmsbuild commented on #28147
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-10-10 13:00] mrodozov opened #28148 "Frontier client for python is not working in python3"
While trying to make unit tests work in python3 in the PY3 IB,
packages that depend on CondCore/Utilities/python/conddblib.py
and subsequently on the frontier python client distributed with this external:

https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_0_X/master/frontier_client.spec

are failing in here:

https://github.com/mrodozov/cmssw/commit/5d204d2c81b043b6d18b9a862ae395fba5d6dadb#diff-8

[2019-10-10 13:00] cmsbuild commented on #28148
A new Issue was created by  @mrodozov Mircho Rodozov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-10 13:20] fabiocos commented on #28147
build cmssw-tool-conf

[2019-10-10 13:22] cmsbuild commented on #28147
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc7_amd64_gcc820
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-10-10 13:24] cmsbuild commented on #28147
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2172/console
CMSDIST Branch: [IB/CMSSW_11_0_X/rootnext](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/rootnext), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-10 14:34] Dr15Jones opened #28149 "Calling call_pyinit from clang is leading to segmentation fault"
The nightly IB RelVals are crashing in the module PyquenGeneratorFilter, e.g.

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc820/CMSSW_11_0_CLANG_X_2019-10-08-2300/pyRelValMatrixLogs/run/300.0_Pyquen_GammaJet_pt20_2760GeV+Pyquen_GammaJet_pt20_2760GeV+DIGIHIMIX+RECOHIMIX+HARVESTHI2018PPRECO/step1_Pyquen_GammaJet_pt20_2760GeV+Pyquen_GammaJet_pt20_2760GeV+DIGIHIMIX+RECOHIMIX+HARVESTHI201

[2019-10-10 14:34] Dr15Jones commented on #28149
assign generator

[2019-10-10 14:34] cmsbuild commented on #28149
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-10 14:37] Dr15Jones commented on #28149
NOTE: I thing we do not see a crash on gcc just out of luck. Looking at the assembly, gcc and clang are handling the passing of the arguments slightly differently. The problematic 'hidden' variable is the last one on the call order an appears to be passed on the stack while the others are in registers. gcc just happens to have put 0s in the full `size_t` range while clang seems to pack its stack c

[2019-10-10 14:40] Dr15Jones commented on #28149
assign generators

[2019-10-10 15:50] cmsbuild commented on #28146
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10-slc7_aarch64_gcc820/2171

[2019-10-10 16:01] smuzaffar commented on #28148
assign db
@ggovi, we have this patch for frontier_client https://github.com/cms-sw/cmsdist/blob/9f5158fc0fb3aef200da6e53db1cfe1cef5abc5e/frontier_client-2.8.20-add-python-dbapi.patch which basically added 4 python dbapi script in frontier client package. I think we should move these to cmssw itself. these scripts are needed by frontier client itself. Can you please suggest a cmssw package where th

[2019-10-10 16:02] cmsbuild commented on #28148
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-10 16:50] cmsbuild commented on #28146
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10-slc7_amd64_gcc820/2169

[2019-10-10 17:08] cmsbuild commented on #28146
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc900 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10-slc7_amd64_gcc900/2170

[2019-10-10 19:50] wddgit commented on #26576
PR #28154 implements ProducesCollector. If merged, this issue can be closed.

[2019-10-10 20:11] cmsbuild commented on #28147
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10_ROOT618-slc7_amd64_gcc820/

[2019-10-10 20:46] davidlange6 commented on #28148
I agree with this.

However - meanwhile, could we patch the cmsdist patches for frontier client in the externals and get a new IB? Its a pain to use the patch suggested in this issue (plus we can easily check that they will work with python2 that way)

[2019-10-10 20:47] fabiocos commented on #28146
+1

[2019-10-10 20:47] fabiocos commented on #28147
+1

[2019-10-10 20:47] cmsbuild commented on #28146
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-10-10 20:47] cmsbuild commented on #28146
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820, slc7_aarch64_gcc820, slc7_amd64_gcc900
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to

[2019-10-10 20:47] cmsbuild commented on #28147
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre10_ROOT618. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2019-10-10 20:47] cmsbuild commented on #28147
Queuing Jenkins build for the following architectures: slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2019-10-10 20:48] cmsbuild commented on #28146
The build has started for slc7_amd64_gcc820 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2173/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-10 20:48] cmsbuild commented on #28146
The build has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2174/console
CMSDIST Branch: [IB/CMSSW_11_0_X/gcc9](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/gcc9), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-10 20:49] cmsbuild commented on #28147
The build has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2175/console
CMSDIST Branch: [IB/CMSSW_11_0_X/rootnext](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/rootnext), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-11 00:11] cmsbuild commented on #28146
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10-slc7_amd64_gcc900/2174
Some te

[2019-10-11 00:42] cmsbuild commented on #28147
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10_ROOT618-slc7_amd64_gcc820/2175

[2019-10-11 02:10] cmsbuild commented on #28146
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10-slc7_amd64_gcc900/2174

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-11 02:54] cmsbuild commented on #28147
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10_ROOT618-slc7_amd64_gcc820/2175

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-11 04:06] cmsbuild commented on #28146
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10-slc7_amd64_gcc820/2173
Some te

[2019-10-11 06:22] cmsbuild commented on #28146
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10-slc7_amd64_gcc820/2173

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-11 06:43] fabiocos commented on #28146
upload all

[2019-10-11 06:43] fabiocos commented on #28147
upload all

[2019-10-11 06:44] cmsbuild commented on #28146
Queing Jenkins upload for slc7_amd64_gcc820

[2019-10-11 06:44] cmsbuild commented on #28146
Queing Jenkins upload for slc7_amd64_gcc900

[2019-10-11 06:44] cmsbuild commented on #28147
Queing Jenkins upload for slc7_amd64_gcc820

[2019-10-11 06:44] cmsbuild commented on #28146
The upload has started for slc7_amd64_gcc900 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1424/console

[2019-10-11 06:44] cmsbuild commented on #28146
The upload has started for slc7_amd64_gcc820 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1423/console

[2019-10-11 06:44] cmsbuild commented on #28147
The upload has started for slc7_amd64_gcc820 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1425/console

[2019-10-11 06:45] cmsbuild commented on #28146
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre10-slc7_amd64_gcc900/1424

[2019-10-11 06:46] cmsbuild commented on #28147
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre10_ROOT618-slc7_amd64_gcc820/1425

[2019-10-11 06:52] cmsbuild commented on #28146
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre10-slc7_amd64_gcc820/1423

[2019-10-11 07:14] fabiocos commented on #28146
release-notes

[2019-10-11 07:15] cmsbuild commented on #28146
Generating release notes since CMSSW_11_0_0_pre9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-10-11 07:15] cmsbuild commented on #28146
You can use this template for announcing the release:

Hi all,

The development release CMSSW_11_0_0_pre10 is now available for the following architectures:

slc7_amd64_gcc820 (production)
slc7_amd64_gcc900

The release notes of what changed with respect to CMSSW_11_0_0_pre9 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_11_0_0_pre10

Cheers,
cms-bot

You can also click <a href="

[2019-10-11 07:16] cmsbuild commented on #28146
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_11_0_0_pre10

[2019-10-11 07:18] fabiocos commented on #28147
release-notes since CMSSW_11_0_0_pre10

wrong syntax...

[2019-10-11 07:19] cmsbuild commented on #28147
ATTENTION!!! The production architecture () is not ready yet. This needs to be checked before asking me to generate the release notes.
When the production architecture is installed successfully, I will generate the release notes. You don't need to write the command again.

[2019-10-11 07:21] fabiocos commented on #28147
ok for these test builds  normally we do not need to produce any release note, in this case the only difference is in the root version

[2019-10-11 07:28] fabiocos commented on #28139
@rovere @kpedro88 my understanding of the policy used so far is to keep tested the main recent production scenarios (D35 and D41 at present) plus a few more recent experimental ones. A large cleanup of obsolete scenarios was already done this summer by Kevin. Anyway the HGCal community may better comment about the real latest needs (@bsunanda has provided a number of the more recent ones)

[2019-10-11 07:32] cmsbuild commented on #28146
The build has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2177/console
CMSDIST Branch: [IB/CMSSW_11_0_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_11_0_X/master), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-11 07:36] smuzaffar commented on #28146
@fabiocos , aarch64 build was stuck due to build machine issues. As machines are back online so that is why build for aarch64 started now. Feel free to announce the release without waiting for aarch64 build to finish

[2019-10-11 07:37] davidlange6 commented on #28148
#28157 fixes stuff that i suspect @mrodozov already did locally.
I believe the bigger issue is boost python usage - perhaps just using python3 in the boost build will help. but let me look more

[2019-10-11 07:43] kpedro88 commented on #28139
@rovere I thought you meant the special HGCal workflows for TICL tests (.51 and .52), but these are already restricted to 2026 workflows. Can you clarify exactly which workflows you think should be removed?

[2019-10-11 08:21] davidlange6 commented on #28148
with my PR and @mrodozov patches to the frontier client patches (fantastic...)

I get

[2019-10-11 10:09:08,433] INFO: Connecting to pro [frontier://PromptProd/CMS_CONDITIONS]
[2019-10-11 10:09:08,667] ERROR: module 'urllib' has no attribute 'unquote_plus'

which is coming from py2-sqlalchemy/1.3.8/lib/python3.6/site-packages/sqlalchemy/util/compat.py

which means sqlalchemy is getting called thin

[2019-10-11 09:13] rovere commented on #28139
@kpedro88
I explicitly mean remove workflows:

   * 10[094-101].*
   * 10[294-301].*
   * 10[494-501].*
   * 10[694-701].*
   * 10[894-901].*
   * 11[094-101].*
   * 11[294-301].*
   * 11[494-501].*
   * 11[694-701].*
   * 11[894-901].*
   * 12[094-101].*
   * 12[294-301].*
   * 12[494-501].*
   * 12[694-701].*
   * 12[894-901].*
   * 13[094-101].*

[2019-10-11 09:56] cmsbuild commented on #28146
The build has finished sucessfully for the architecture slc7_aarch64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10-slc7_aarch64_gcc820/2177
Som

[2019-10-11 09:56] cmsbuild commented on #28146
Queing Jenkins upload for slc7_aarch64_gcc820

[2019-10-11 09:56] cmsbuild commented on #28146
The upload has started for slc7_aarch64_gcc820 in techlab-arm64-thunderx2-02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1426/console

[2019-10-11 09:57] cmsbuild commented on #28146
The upload has successfully finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_11_0_0_pre10-slc7_aarch64_gcc820/1426

[2019-10-11 10:01] peruzzim commented on #28119
Status update:

- 11_0_0_pre10 is built with the updates merged and should be used for validation
- I have tested the backport to 102X, it runs and gives changes where expected, so I signed it

@srimanob @ameyer-cern

[2019-10-11 10:09] peruzzim opened #28158 "Fix era usage in NanoAOD workflows on UL datasets"
Currently, some era modifiers are improperly used in NanoAOD when running on UL MiniAOD datasets.

The confusion is due to the fact that, until now, a supported MiniAOD input version was corresponding to one data taking year.
For this reason, modifiers intended to identify the MiniAOD input version were used to configure switches that actually relate to data taking conditions, e.g. trigger menus,

[2019-10-11 10:09] cmsbuild commented on #28158
A new Issue was created by  @peruzzim .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-11 10:09] peruzzim commented on #28158
assign xpog

[2019-10-11 10:09] cmsbuild commented on #28158
New categories assigned: xpog

@fgolf,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-11 10:15] davidlange6 commented on #28148
yes, if you look at compat.py it is already checking python version and trying to do the right thing. Thats what I'm puzzled by

[2019-10-11 13:19] cmsbuild commented on #28146
The tests have finished for slc7_aarch64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_11_0_0_pre10-slc7_aarch64_gcc820/2177

Tests results:
34 33 32 26 16 4 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-11 13:56] davidlange6 commented on #28148
so after the PRs of today, the current issue appears to be this one:

[2019-10-11 15:53:47,899] INFO: Connecting to pro [frontier://PromptProd/CMS_CONDITIONS]
[2019-10-11 15:53:47,971] ERROR: (-3, b'[fn-urlparse.c:59]: config error: bad url f')
last run = DEBUG

[2019-10-11 14:23] cmsbuild commented on #28132
The cleanup has started for slc6_amd64_gcc700

[2019-10-11 14:23] cmsbuild commented on #28132
The cleanup has started for slc7_amd64_gcc700

[2019-10-11 14:23] #28132 closed

[2019-10-11 14:23] cmsbuild commented on #28131
The cleanup has started for slc6_amd64_gcc630

[2019-10-11 14:23] cmsbuild commented on #28131
The cleanup has started for slc7_amd64_gcc630

[2019-10-11 14:23] #28131 closed

[2019-10-11 14:26] cmsbuild commented on #28132
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_17-slc6_amd64_gcc700/1455

[2019-10-11 14:28] cmsbuild commented on #28131
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_15-slc7_amd64_gcc630/1458

[2019-10-11 14:30] cmsbuild commented on #28131
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_4_15-slc6_amd64_gcc630/1457

[2019-10-11 14:31] cmsbuild commented on #28132
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_17-slc7_amd64_gcc700/1456

[2019-10-11 14:39] fabiocos commented on #28072
I believe that the first appearance of the issue in a merged PR is for #28011 , so I would say that the problem is present already in 11_0_0_pre9

[2019-10-11 14:50] fabiocos commented on #28149
We are using an old frozen version of HepMC, so I would say that unless an update to v3 is foreseen (and this goes beyond the scope of this fix) we should just provide a patch

[2019-10-11 20:09] mrodozov commented on #28148
I've stuck in the same place. The 'f' is the entire url according to
https://github.com/fermitools/frontier/blob/master/client/http/fn-urlparse.c#L59

[2019-10-12 08:49] davidlange6 commented on #28148
There are failed unit tests in the pr for Cmssw. Hopefully the two problems are related

On 11 Oct 2019, at 22:09, Mircho Rodozov <notifications@github.com> wrote:

﻿

I've stuck in the same place. The 'f' is the entire url according to
https://github.com/fermitools/frontier/blob/master/client/http/fn-urlparse.c#L59

—
You are receiving this because you were mentioned.
Reply to this email directly

[2019-10-13 05:23] cmsbuild commented on #28146
The cleanup has started for slc7_aarch64_gcc820

[2019-10-13 05:23] cmsbuild commented on #28146
The cleanup has started for slc7_amd64_gcc820

[2019-10-13 05:23] cmsbuild commented on #28146
The cleanup has started for slc7_amd64_gcc900

[2019-10-13 05:23] #28146 closed

[2019-10-13 05:24] cmsbuild commented on #28146
The workspace for slc7_aarch64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre10-slc7_aarch64_gcc820/1459

[2019-10-13 05:31] cmsbuild commented on #28146
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre10-slc7_amd64_gcc900/1461

[2019-10-13 05:33] cmsbuild commented on #28146
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre10-slc7_amd64_gcc820/1460

[2019-10-13 05:36] cmsbuild commented on #28146
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre10-slc7_amd64_gcc820/1462

[2019-10-13 05:36] cmsbuild commented on #28146
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_11_0_0_pre10-slc7_amd64_gcc900/1463

[2019-10-13 17:07] kpedro88 commented on #28139
@rovere I see, you want to remove the CloseByParticleGun fragments from non-Phase2 workflow series. There is not currently any functionality to selectively add or remove generator fragments when putting together upgrade workflows. This could be added, but could also lead to inconsistency in workflow numbering, so would need some thought.

[2019-10-13 17:07] kpedro88 commented on #28139
assign pdmv

[2019-10-13 17:07] cmsbuild commented on #28139
New categories assigned: pdmv

@chayanit,@pgunnell,@zhenhu you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-14 08:36] davidlange6 commented on #28148
hi @mrodozov  @ggovi

I think i've fixed the cmssw changes w.r.t. enums (and modernized this stuff a bit)

as for the 'f' issue... this is due (at least) to the python->c interface using unicode. I think one just needs to convert the unicode to byte strings in the interface within frontier_client.py - I didn't make it work yet

eg
buflen = libfc.fn_gzip_str2urlenc(string, len(string), ctypes.byref

[2019-10-14 11:36] rovere commented on #28139
I'm not sure I follow your statement. That's what I did when I added specific TICL workflows: see my commit 068334050829667dbf411379722f1de2b184f802

[2019-10-14 12:18] kpedro88 commented on #28139
Yes, for the "special" workflows labeled `.n` with `n > 0`, this is a common practice. For the "default" workflows labeled with `.0`, this has not traditionally been done. It could be done in a similar way, but I'm concerned about potential inconsistencies. I will think about it some more.

[2019-10-14 15:37] ianna opened #28168 "[DD4hep] [Simulation] [Validation] G4 Materials validation"
Compare G4 material properties produced with the DD4hep Geant4 converter vs produced with the DD one.

@cvuosalo - just making a traceable note what needs to be done to complete the migration

[2019-10-14 15:38] cmsbuild commented on #28168
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-14 16:22] fabiocos commented on #28168
assign geometry,simulation

[2019-10-14 16:23] cmsbuild commented on #28168
New categories assigned: geometry,simulation

@Dr15Jones,@cvuosalo,@mdhildreth,@mdhildreth,@ianna,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-14 17:01] fwyzard opened #28172 "cmsDriver creates configuration that cannot be expanded"
Hi,
in recent CMSSW_11_0_X releases, one of the workflows in the "limited" matrix creates a configuration that runs, but cannot be expanded into a valid python:

[code]

[2019-10-14 17:01] cmsbuild commented on #28172
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-14 17:02] makortel commented on #28172
@Dr15Jones I'm taking a look on how the `None` ends up in the `Task.

[2019-10-14 18:24] makortel commented on #28172
The `None` corresponds the `genPUProtongs` in
https://github.com/cms-sw/cmssw/blob/28ee89b235caa54439092c0de66c224a576b2923/Configuration/StandardSequences/python/Digi_cff.py#L34
The module gets turned to a None by this assignment in a ProcessModifier (specific to premix stage2 job)
https://github.com/cms-sw/cmssw/blob/28ee89b235caa54439092c0de66c224a576b2923/Configuration/StandardSequences/python

[2019-10-14 18:58] makortel commented on #28172
After discussion with @Dr15Jones we ended up with a couple things to be fixed
- [ ] Remove the ProcessModifier in `DigiDM_cff`, add another one in `Digi_cff` that introduces the `genPUProtons` as an EDProducer (and the dependent Tasks) on `~premix_stage2` condition
- [ ] Add an exception to be raised in case one replaces an EDModule that is in a Task/etc with EDAlias (an exception is already throw

[2019-10-14 20:49] makortel commented on #26748
All PRs addressing the  ESProducers and packages mentioned in the description have been merged now, so the issue can be closed.

[2019-10-14 20:49] #26748 closed

[2019-10-15 09:29] fabiocos commented on #26348
@srimanob I believe that a basic handling of this issue has been provided, and I will close it.

[2019-10-15 09:29] #26348 closed

[2019-10-15 09:31] fabiocos commented on #22996
@jfernan2 is your revision of DQM sequences thought to address also this issue?

[2019-10-15 10:04] jfernan2 commented on #22996
@fabiocos  it was not but I am adding it now to the list
Are 1001.2,1040.1 workflows still good to test this?
Thanks

[2019-10-15 10:50] jfernan2 commented on #22996
BTW: I am not sure why 'assign dqm' is retrieving an old list of DQM L2 people since cms-bot categories.py file has the right list....
Where can I fix that? Sorry I failed to find it on github...

[2019-10-15 11:08] davidlange6 commented on #22996
presumably the dqm group hasn't kept it up to date - to do so, make a PR for

https://github.com/cms-sw/cms-bot/blob/308056b21a7832caf8adfd127bc728d7a2473b07/categories.py#L25

[2019-10-15 11:26] jfernan2 commented on #22996
@davidlange6  as I said in my comment, the categories.py file is up to date in what dqm concerns since a long time, just search for @vazzolini,@vanbesien,@dmitrijus there, they are not there but the comment by cmsbuild triggered by "assign dqm" command took a wrong list

[2019-10-15 11:40] davidlange6 commented on #22996
Sorry misunderstood. Maybe we have an obsolete version of the cmsbot repo someplace in Jenkins

David

On 15 Oct 2019, at 13:26, jfernan2 <notifications@github.com> wrote:

﻿

@davidlange6<https://github.com/davidlange6> as I said in my comment, the categories.py file is up to date in what dqm concerns since a long time, just search for @vazzolini<https://github.com/vazzolini>,@vanbesien<https://g

[2019-10-15 11:42] fabiocos commented on #22996
@jfernan2 @davidlange6 please note that the issue itself is quite old, open since April last year...

[2019-10-15 11:43] fabiocos commented on #22996
As now @jfernan2 is going through the sequence cleaning process, I think it is a good idea to check back all the issues that were temporarily hidden during data taking by protections

[2019-10-15 11:44] jfernan2 commented on #22996
you are right... my fault then

[2019-10-15 11:45] jfernan2 commented on #22996
@fabiocos  the point is how to check at present if the fix works, 1001.2,1040.1 workflows  do not show this problem with runTheMatrix.py as far as I can tell from the logs..

[2019-10-15 11:47] fabiocos commented on #22996
@jfernan2 this goes back to the problem of defining a proper express-like test suitable for recent runs. Configuration/DataProcessing can provide a tool to help here.

[2019-10-15 15:10] makortel opened #28179 "Prevent adding e.g. interegers to Schedule"
It is possible to add e.g. integer to a `cms.Schedule` by
[code]
after which the `Schedule` is in a weird state
[code]

We should find a way to prevent adding unsupported objects into `Schedule` (or `FWCore.ParameterSet.Mixins._ValidatingListBase`).

[2019-10-15 15:10] cmsbuild commented on #28179
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-16 07:10] fabiocos opened #28185 "Build CMSSW_10_6_4_patch2"

[2019-10-16 07:10] cmsbuild commented on #28185
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-10-16 07:11] fabiocos commented on #28185
+1

[2019-10-16 07:11] cmsbuild commented on #28185
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_4_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2019-10-16 07:11] cmsbuild commented on #28185
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-10-16 07:11] cmsbuild commented on #28185
The build has started for slc7_amd64_gcc700 in cmsbuild34.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2178/console
CMSDIST Branch: [REL/CMSSW_10_6_4/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_4/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-16 07:11] cmsbuild commented on #28185
The build has started for slc7_amd64_gcc820 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2179/console
CMSDIST Branch: [REL/CMSSW_10_6_4/slc7_amd64_gcc820](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_4/slc7_amd64_gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-16 08:25] cmsbuild commented on #28185
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4_patch2-slc7_amd64_gcc820/2179
Some t

[2019-10-16 08:31] cmsbuild commented on #28185
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4_patch2-slc7_amd64_gcc700/2178
Some t

[2019-10-16 09:37] jfernan2 commented on #22996
@fabiocos I have fixed the issue in the last commit of https://github.com/cms-sw/cmssw/pull/28156
I used the second solution proposed in the issue since it seems more CPU economic...
I have tested it offline and works, but I am afraid it will change again for Express Run3 if Puppy Jets are finally adopted
On the other side  don't really know how to introduce a test for this/Express in github/Jenki

[2019-10-16 10:36] cmsbuild commented on #28185
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4_patch2-slc7_amd64_gcc820/2179

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-16 10:40] cmsbuild commented on #28185
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_4_patch2-slc7_amd64_gcc700/2178

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-10-16 11:09] fabiocos commented on #28185
upload all

[2019-10-16 11:09] cmsbuild commented on #28185
Queing Jenkins upload for slc7_amd64_gcc700

[2019-10-16 11:09] cmsbuild commented on #28185
Queing Jenkins upload for slc7_amd64_gcc820

[2019-10-16 11:10] cmsbuild commented on #28185
The upload has started for slc7_amd64_gcc820 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1428/console

[2019-10-16 11:10] cmsbuild commented on #28185
The upload has started for slc7_amd64_gcc700 in cmsbuild34.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1427/console

[2019-10-16 11:11] cmsbuild commented on #28185
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_4_patch2-slc7_amd64_gcc820/1428

[2019-10-16 11:11] cmsbuild commented on #28185
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_4_patch2-slc7_amd64_gcc700/1427

[2019-10-16 11:37] fabiocos commented on #28185
release-notes

[2019-10-16 11:38] cmsbuild commented on #28185
Generating release notes since CMSSW_10_6_4_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-10-16 11:38] cmsbuild commented on #28185
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_4_patch2 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_4_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_4_patch2

Cheers,
cms-bot

You can also click

[2019-10-16 11:39] cmsbuild commented on #28185
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_4_patch2

[2019-10-16 12:37] mrodozov commented on #21003
closing this as the test will go away

[2019-10-16 12:37] #21003 closed

[2019-10-16 13:03] mrodozov commented on #28148
the tests
CondTools/RunInfo
CondTools/SiStrip
are failing in this urlparse on line 59 when I apply the frontier fixes. I better dig into fixing the encoding stuff.

[2019-10-16 13:35] fabiocos commented on #22996
@jfernan2 thank you, defining a test workflow to mimic the latest express configuration is something we should consider, as discussed multiple times

[2019-10-17 13:56] mrodozov commented on #28148
Update is:
encodin the url in frontier here:

solves this
ERROR: (-3, b'[fn-urlparse.c:59]: config error: bad url f')
but then the conddb using internally sqlachemy fails like this:
1. setup in CondCore/Utilities/scripts/conddb the conddb and sqlalchemy debug logging
[code]
2.
in the main function, then run with py2 first:
python2, run:
`python conddb --yes copy runinfo_start_31X_hlt --destdb runi

[2019-10-17 14:21] mrodozov commented on #28148
Update is:
I think it's actually error is here: (as it says so)
`[2019-10-17 16:16:50,686] ERROR: '>' not supported between instances of 'NoneType' and 'tuple'`
and the ProgrammingError from frontier is just part of the Exception/Warning,
and the real problem is with the Enums :/

[2019-10-17 14:45] davidlange6 commented on #28148
you have all of the fixes to the enums in your tests?

[2019-10-17 15:00] davidlange6 commented on #28148
I realize that the error above was fixed in a few places - python2 allows such a comparison but python3 does not.

but can you paste in your full output?

[2019-10-17 15:03] makortel commented on #25090
The rest are DQM

[2019-10-17 15:05] mrodozov commented on #28148
[code]
the comparison comes from conddb , not from sqlalchemy (I think)

[2019-10-17 16:08] Dr15Jones opened #28203 "cond::persistency::KeyList is not thread safe"
The `KeyList` class is made available in the EventSetup, presumably from `PoolDBESSource`

https://github.com/cms-sw/cmssw/blob/master/CondCore/CondDB/src/T_EventSetup_KeyList.cc#L5

When asking for items from a `KeyList` the code modifies the internals in a non-thread safe manner

https://github.com/cms-sw/cmssw/blob/master/CondCore/CondDB/interface/KeyList.h#L45-L46

A related problem is the mod

[2019-10-17 16:08] cmsbuild commented on #28203
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-17 16:17] cmsbuild commented on #28203
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-17 18:07] Dr15Jones commented on #28203
From further inspection, it appears that the `KeyList` is intended to change the meaning of the values stored in the `IOVProxy` which it holds. Instead of an entry in the `IOVProxy` begin related to time or Run# it is used as an arbitrary index. That arbitrary index is then used to lookup items one-by-one from the DB.

This can be seen in the call
https://github.com/cms-sw/cmssw/blob/master/CondTo

[2019-10-17 19:07] Dr15Jones commented on #25090
Running the step3 of workflow 136.8861 but only using
[code]

produces a configuration with no modules prohibiting concurrent LuminosityBlock running.

[2019-10-17 19:39] Dr15Jones commented on #25090
Running step 3 of using136.8861
[code]

yields the following problematic modules
[code]

[2019-10-17 19:44] Dr15Jones commented on #25090
Running the step3 of workflow 136.8861 using
[code]
yields the following problematic modules
[code]

[2019-10-17 20:28] Dr15Jones commented on #28203
It appears to me like this system is intended to provide an IOV to a `vector<std::string>`. I'm guessing it wasn't implemented like that since there were groups of `std::string` which get repeated over and over and there was a wish to not have those duplicated within the database.

[2019-10-18 09:38] cmsbuild commented on #28185
The cleanup has started for slc7_amd64_gcc700

[2019-10-18 09:38] cmsbuild commented on #28185
The cleanup has started for slc7_amd64_gcc820

[2019-10-18 09:38] #28185 closed

[2019-10-18 09:42] cmsbuild commented on #28185
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_4_patch2-slc7_amd64_gcc820/1465

[2019-10-18 09:42] cmsbuild commented on #28185
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_4_patch2-slc7_amd64_gcc700/1464

[2019-10-18 14:17] Dr15Jones commented on #28203
Upon further inspection, it appears to me that the `mutable` data members in `KeyList`
https://github.com/cms-sw/cmssw/blob/master/CondCore/CondDB/interface/KeyList.h#L60-L61

are unnecessary as they are just set and the cleared after each call to the pair `load` and `get`. So instead, the two functions should be joined to one new `get` which only takes one value which is the `unsigned long long`

[2019-10-21 15:47] peruzzim commented on #28119
RelVals have run, we can build the 10_2_X release for NanoAODv6 productioncampaign.
Please refer above for the list of pull requests to be merged (the last fix #28221 that has also been included and tested in the backport).
It's not needed to build a new 11_0_X, nor a new 10_6_X - actually, for these we should wait for the backport of #28196 that does nothing on the samples supported by 10_2_X and

[2019-10-21 17:40] fabiocos opened #28225 "Build CMSSW_10_3_4"

[2019-10-21 17:41] cmsbuild commented on #28225
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-10-21 17:41] fabiocos commented on #28225
+1

[2019-10-21 17:41] cmsbuild commented on #28225
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-10-21 17:43] cmsbuild commented on #28225
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_4-slc7_amd64_gcc700/2182

[2019-10-21 17:43] cmsbuild commented on #28225
The build has started for slc6_amd64_gcc700 in cmsbuild33.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2181/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-21 17:52] fabiocos commented on #28225
@smuzaffar about https://github.com/cms-sw/cmssw/issues/28225#issuecomment-544627545 :

[code]
seems a problem with the container used, more than with the release itself. Any idea about it?

[2019-10-21 20:06] srimanob commented on #28119
Hi,
What about https://github.com/cms-sw/cmssw/pull/28221
?

[2019-10-21 20:09] srimanob commented on #28119
Hi @peruzzim @fabiocos
So, all we need are merged already, right?
It's a matter to build after few stable IB, correct?

[2019-10-21 22:46] cmsbuild commented on #28225
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_4-slc6_amd64_gcc700/2181
Some tests (

[2019-10-22 08:51] fabiocos commented on #28225
@smuzaffar any suggestion about what to do for slc7?

[2019-10-22 09:17] smuzaffar commented on #28225
let me restart it in jenkins

[2019-10-22 09:18] cmsbuild commented on #28225
The build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2183/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-22 09:56] cmsbuild commented on #28225
The was an error for slc7_amd64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_4-slc7_amd64_gcc700/2183

[2019-10-22 09:57] cmsbuild commented on #28225
The build has started for slc7_amd64_gcc700 in cmsbuild47.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/2184/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-10-22 10:06] fabiocos commented on #28119
@srimanob no, I've just merged the fix #28221, and this was holding the integration of the remaining pieces in 10_2_X. As soon those are signed I may merge and build the release, provided there is no surprise in the IB

[2019-10-22 12:53] cmsbuild commented on #28225
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_4-slc7_amd64_gcc700/2184
Some tests (

[2019-10-22 15:32] lviliani opened #28238 "Issue with LHERunInfoProduct in HTXSRivetProducer"
Hi all,

I think the following hardcoded InputTag prevents the correct usage of the `HTXSRivetProducer` in central production when starting from pLHE requests:
https://github.com/cms-sw/cmssw/blob/5aafe91470d9548a99c34814d0ac2f2bfb018d0c/GeneratorInterface/RivetInterface/plugins/HTXSRivetProducer.cc#L174
In such cases the correct InputTag should be `source` and not `externalLHEProducer`.
Because o

[2019-10-22 15:33] cmsbuild commented on #28238
A new Issue was created by  @lviliani Lorenzo Viliani.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-22 17:37] fabiocos commented on #28238
assign generators

[2019-10-22 17:37] cmsbuild commented on #28238
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@efeyazgan,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-22 19:05] Dr15Jones opened #28241 "LHESource does not support xrootd fallback"
As brought up on the Workflow Management talk in the Fall O&C Week, not having xrootd fallback causes difficulty for WM.

[2019-10-22 19:06] cmsbuild commented on #28241
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-22 19:06] Dr15Jones commented on #28241
FYI @bbockelm @dan131riley

[2019-10-22 19:08] Dr15Jones commented on #28241
assign core, generator

[2019-10-22 19:08] cmsbuild commented on #28241
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks