[2018-11-26 12:33] cmsbuild commented on #25335
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_1_patch3

[2018-11-26 13:20] fabiocos commented on #25291
@Dr15Jones your fix has been merged in CMSSW_10_4_X_2018-11-25-0000. Until an external update is possible, I assume this is the solution to this issue.

[2018-11-26 13:21] Dr15Jones commented on #25291
Yes

[2018-11-26 14:20] cmsbuild commented on #25341
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_7-slc7_amd64_gcc700/1868
Some tests (

[2018-11-26 16:06] cmsbuild commented on #25341
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_7-slc7_amd64_gcc700/1868

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-26 16:18] cmsbuild commented on #25341
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_7-slc6_amd64_gcc700/1867
Some tests (

[2018-11-26 18:11] cmsbuild commented on #25341
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_7-slc6_amd64_gcc700/1867

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-26 21:57] slava77 commented on #25324
@smuzaffar
I wasn't really expecting an automated closing here ```cmsbuild closed this in #25325 31 minutes ago```
please clarify which magic words triggered closing of this issue.

As I mentioned in https://github.com/cms-sw/cmssw/issues/25324#issuecomment-441232222, I prefer to have this open until #25326 (102X), and #25327 (103X) are merged

[2018-11-27 07:55] fabiocos commented on #25341
upload all

[2018-11-27 07:55] cmsbuild commented on #25341
Queing Jenkins upload for slc6_amd64_gcc700

[2018-11-27 07:55] cmsbuild commented on #25341
Queing Jenkins upload for slc7_amd64_gcc700

[2018-11-27 07:57] cmsbuild commented on #25341
The upload has started for slc6_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1219/console

[2018-11-27 07:57] cmsbuild commented on #25341
The upload has started for slc7_amd64_gcc700 in cmsbuild86.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1220/console

[2018-11-27 08:00] cmsbuild commented on #25341
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_7-slc7_amd64_gcc700/1220
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-27 08:00] cmsbuild commented on #25341
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-27 08:05] cmsbuild commented on #25341
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_7-slc6_amd64_gcc700/1219
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-27 08:05] cmsbuild commented on #25341
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-11-27 08:06] fabiocos commented on #25341
release-notes

[2018-11-27 08:07] cmsbuild commented on #25341
Generating release notes since CMSSW_10_2_6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-11-27 08:07] cmsbuild commented on #25341
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_7 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_6 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_7

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-11-27 08:08] cmsbuild commented on #25341
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_7

[2018-11-27 13:48] vkuznet commented on #25336
The DAS fix to remove rucio printouts is applied in this PR: https://github.com/cms-sw/cmsdist/pull/4533

[2018-11-27 14:22] smuzaffar commented on #25324
@slava77 , cms-bot should not close issue automatically, so no idea what had happened. I see that bot had merged #25325 but this should no close this issue. I will check in details later

[2018-11-27 14:31] smuzaffar commented on #25324
@slava77 , it was github which has closed the issue.
https://help.github.com/articles/closing-issues-using-keywords/

[2018-11-27 14:38] #25334 closed

[2018-11-27 14:58] slava77 commented on #25324
On 11/27/18 6:31 AM, Malik Shahzad Muzaffar wrote:

OK, I should watch out what I write then.

[2018-11-28 11:38] cmsbuild commented on #25335
The cleanup has started for slc6_amd64_gcc700

[2018-11-28 11:38] cmsbuild commented on #25335
The cleanup has started for slc7_amd64_gcc700

[2018-11-28 11:38] #25335 closed

[2018-11-28 11:44] cmsbuild commented on #25335
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_1_patch3-slc7_amd64_gcc700/1201

[2018-11-28 11:45] cmsbuild commented on #25335
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_1_patch3-slc6_amd64_gcc700/1200

[2018-11-28 15:44] bbockelm commented on #25292
Won't have time to fix it, but I think I see the bug.

We do explicitly close: https://github.com/cms-sw/cmssw/blob/02d4198c0b6615287fd88e9a8ff650aea994412e/IOPool/Common/bin/EdmCopyUtil.cpp#L69

In the DAVIX adapter, we also explicitly close in the destructor - hence the double-close.

However, when we perform the close, we don't release the pointers, hence we actually pass the "close" along twic

[2018-11-28 16:15] gbitzes commented on #25292
@bbockelm: Yup, I'm making this change, will land on davix 0.7.2.

[2018-11-28 16:36] fabiocos opened #25361 "Build CMSSW_10_4_0_pre3"

[2018-11-28 16:37] cmsbuild commented on #25361
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-11-28 16:39] fabiocos commented on #25361
build cmssw-tool-conf

[2018-11-28 16:40] cmsbuild commented on #25361
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-11-28 16:40] cmsbuild commented on #25361
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild84.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1869/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-28 16:40] cmsbuild commented on #25361
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-002.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1870/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-28 16:41] cmsbuild commented on #25361
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1871/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-28 16:41] cmsbuild commented on #25361
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1872/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-28 16:51] Dr15Jones commented on #25292
@gbitzes Are you changing the CMSSW code or are you changing the davix library to handle multiple close calls?

[2018-11-28 16:52] #25243 closed

[2018-11-28 17:39] gbitzes commented on #25292
@Dr15Jones I'm changing davix so that it no longer segfaults when someone calls ```close()``` twice. It'd be good to fix the CMSSW code in any case, though, so it doesn't call ```close()``` twice in the first place. (but I"m not familiar with CMSSW codebase)

[2018-11-28 18:06] fabiocos opened #25362 "Dependencies on LSF in CMSSW"
In order to determine dependencies on LSF commands in CMSSW to be cleaned in view of the migration to HTCondor, I searched for the string "bsub " in the CMSSW repository at its status in CMSSW_10_4_X_2018-11-28-1100. The following list of entries is found (including the line number):
[code]

[2018-11-28 18:06] cmsbuild commented on #25362
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-28 19:00] Dr15Jones commented on #25292
see #25363

[2018-11-28 19:18] cmsbuild commented on #25361
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc7_amd64_gcc820/1872

[2018-11-28 19:47] cmsbuild commented on #25361
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc7_amd64_gcc700/1871

[2018-11-28 20:53] bbockelm commented on #25292
@Dr15Jones - IIRC, we can specify a minimum CMSSW version to use for stagein of these files.  What's the first release this will land in?

[2018-11-28 20:55] Dr15Jones commented on #25292
Everthing has to first go through 'master' which will become CMSSW_10_4_0

[2018-11-28 21:00] cmsbuild commented on #25361
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc6_amd64_gcc700/1869

[2018-11-28 21:10] fabiocos commented on #25361
+1

[2018-11-28 21:10] cmsbuild commented on #25361
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-11-28 21:10] cmsbuild commented on #25361
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to f

[2018-11-28 21:11] cmsbuild commented on #25361
The build has started for slc6_amd64_gcc700 in cmsbuild84.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1873/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-28 21:12] cmsbuild commented on #25361
The build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1874/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-28 21:12] cmsbuild commented on #25361
The build has started for slc7_amd64_gcc820 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1875/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-28 21:38] slava77 opened #25365 "List of blocked features affecting reco/miniAOD defaults in 94X and 102X"
This issue is to keep track of features that are intended for 94X or 102X, but were blocked due to no-change policy violation in the context of RECO or miniAOD workflows.

In most cases, the changes can eventually be accepted if they can be controlled by configuration switches and if the new proposed feature can be enabled for an existing production process/era modifier.
Neither 102X nor 94X prese

[2018-11-28 21:38] slava77 commented on #25365
assign reconstruction

[2018-11-28 21:38] cmsbuild commented on #25365
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-28 21:39] cmsbuild commented on #25365
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-11-28 21:41] kpedro88 commented on #25365
FormulaEvaluator fix: #24083 (94X, note this is already part of 102X)

[2018-11-28 21:43] slava77 commented on #25365
Thanks.
I added it to the issue description

[2018-11-29 02:13] cmsbuild commented on #25361
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc7_amd64_gcc820/1875
Some tes

[2018-11-29 03:35] cmsbuild commented on #25361
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc7_amd64_gcc700/1874

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-29 03:41] cmsbuild commented on #25361
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc6_amd64_gcc700/1873
Some tes

[2018-11-29 04:03] cmsbuild commented on #25361
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_aarch64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc7_aarch64_gcc700/1870

[2018-11-29 04:03] cmsbuild commented on #25361
Queuing Jenkins build for the following architectures: slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the build of cmssw.

[2018-11-29 04:04] cmsbuild commented on #25361
The build has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-002.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1876/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-11-29 04:37] cmsbuild commented on #25361
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc7_amd64_gcc820/1875

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-29 05:39] cmsbuild commented on #25361
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc6_amd64_gcc700/1873

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-11-29 07:08] cmsbuild commented on #25341
The cleanup has started for slc6_amd64_gcc700

[2018-11-29 07:08] #25341 closed

[2018-11-29 07:13] cmsbuild commented on #25341
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_7-slc7_amd64_gcc700/1205

[2018-11-29 07:13] cmsbuild commented on #25341
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_7-slc6_amd64_gcc700/1204

[2018-11-29 07:16] cmsbuild commented on #25341
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_7-slc6_amd64_gcc700/1202

[2018-11-29 07:16] cmsbuild commented on #25341
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_7-slc7_amd64_gcc700/1203

[2018-11-29 12:04] fabiocos commented on #25361
upload all

[2018-11-29 12:05] cmsbuild commented on #25361
Queing Jenkins upload for slc6_amd64_gcc700

[2018-11-29 12:05] cmsbuild commented on #25361
Queing Jenkins upload for slc7_amd64_gcc700

[2018-11-29 12:05] cmsbuild commented on #25361
Queing Jenkins upload for slc7_amd64_gcc820

[2018-11-29 12:08] cmsbuild commented on #25361
The upload has started for slc6_amd64_gcc700 in cmsbuild84.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1221/console

[2018-11-29 12:08] cmsbuild commented on #25361
The upload has started for slc7_amd64_gcc820 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1222/console

[2018-11-29 12:08] cmsbuild commented on #25361
The upload has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1223/console

[2018-11-29 12:10] cmsbuild commented on #25361
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre3-slc7_amd64_gcc820/1222
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-29 12:10] cmsbuild commented on #25361
CERN AFS installation skipped for slc7_amd64_gcc820 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-11-29 12:11] cmsbuild commented on #25361
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre3-slc7_amd64_gcc700/1223
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-29 12:11] cmsbuild commented on #25361
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-11-29 12:15] cmsbuild commented on #25361
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre3-slc6_amd64_gcc700/1221
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-29 12:15] cmsbuild commented on #25361
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-11-29 12:35] cmsbuild commented on #25361
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc7_aarch64_gcc700/1876
Some

[2018-11-29 12:36] cmsbuild commented on #25361
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-11-29 12:38] cmsbuild commented on #25361
The upload has started for slc7_aarch64_gcc700 in techlab-arm64-moonshot-xgene-002.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1224/console

[2018-11-29 12:38] cmsbuild commented on #25361
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre3-slc7_aarch64_gcc700/1224
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-11-29 13:50] fabiocos commented on #25336
@mmusich I do not see anything wrong with the test itself, actually it served the purpose of triggering an error induced by das. The only drawback is that its failure is not necessarily related only to the Strip Gain code. From the point of view of the problem this issue is solved and can be closed.

[2018-11-29 13:50] #25336 closed

[2018-11-29 13:57] mmusich commented on #25336
@fabiocos OK, thanks, I am glad to hear it is useful.

[2018-11-29 16:24] cmsbuild commented on #25361
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre3-slc7_aarch64_gcc700/1876

Tests results:
33 23 22 19 9 1 0 0 0 tests passed, 0 9 0 0 0 0 0 0 0 failed

[2018-12-01 11:38] cmsbuild commented on #25361
The cleanup has started for slc7_aarch64_gcc700

[2018-12-01 11:38] cmsbuild commented on #25361
The cleanup has started for slc6_amd64_gcc700

[2018-12-01 11:38] cmsbuild commented on #25361
The cleanup has started for slc7_amd64_gcc700

[2018-12-01 11:38] cmsbuild commented on #25361
The cleanup has started for slc7_amd64_gcc820

[2018-12-01 11:38] #25361 closed

[2018-12-01 11:39] cmsbuild commented on #25361
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre3-slc7_aarch64_gcc700/1207

[2018-12-01 11:41] cmsbuild commented on #25361
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre3-slc7_amd64_gcc700/1210

[2018-12-01 11:45] cmsbuild commented on #25361
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre3-slc7_amd64_gcc820/1211

[2018-12-01 11:46] cmsbuild commented on #25361
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre3-slc6_amd64_gcc700/1206

[2018-12-01 11:47] cmsbuild commented on #25361
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre3-slc7_amd64_gcc700/1208

[2018-12-01 11:47] cmsbuild commented on #25361
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre3-slc7_amd64_gcc820/1209

[2018-12-03 05:40] zhenhu opened #25398 "GenParticles2HepMCConverter:genParticles2HepMC crash in BeamHalo workflow"
About half of the NanoAOD jobs failed in the BeamHalo workflow in 10_4_0_pre3, due to a crash in module `GenParticles2HepMCConverter:genParticles2HepMC`

Unified reported the failures here:
https://cms-unified.web.cern.ch/cms-unified/showlog/?search=CMSSW_10_4_0_pre3__fullsim_noPU_2018_set1-1543602345-BeamHalo_13#ERROR

The full job logs:
https://cms-unified.web.cern.ch/cms-unified//joblogs/chayan

[2018-12-03 05:40] cmsbuild commented on #25398
A new Issue was created by  @zhenhu Zhen Hu.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-03 13:10] Dr15Jones commented on #25398
assign generators

[2018-12-03 13:10] cmsbuild commented on #25398
New categories assigned: generators

@perrozzi,@alberto-sanchez,@qliphy,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-12-03 15:52] dan131riley commented on #15145
Still seeing these at a low rate, this is partly a reminder to myself to continue looking at these, especially checking the other threads for clues.

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_4_X_2018-11-30-2300/pyRelValMatrixLogs/run/134.704_RunJetHT2015B+RunJetHT2015B+HLTDR2_50ns+RECODR2_50nsreHLT_HIPM+HARVESTDR2/step3_RunJetHT2015B+RunJetHT2015B+HLTDR2_50ns+RECODR2

[2018-12-03 21:20] slava77 commented on #25324
I see that both #25326 and #25327 were merged.
I'm closing this issue.

[2018-12-03 21:20] #25324 closed

[2018-12-04 08:22] fabiocos opened #25409 "Failure in NanoAOD wf 1325.9"
After the integration of #25373 in the 10_4_X branch, the test wf 1325.9 fails in its step 2 with a configuration problem:

entry filelist:step1_dasquery.log
found files:  ['/store/relval/CMSSW_9_2_12/RelValTTbar_13/MINIAODSIM/PU25ns_92X_upgrade2017_realistic_v11-v1/00000/080E2624-F59D-E711-ACEE-0CC47A7C35A4.root', '/store/relval/CMSSW_9_2_12/RelValTTbar_13/MINIAODSIM/PU25ns_92X_upgrade2017_realis

[2018-12-04 08:25] fabiocos opened #25410 "Build CMSSW_10_4_0_mtd1"
RELEASE_QUEUE:CMSSW_10_4_X
ARCHITECTURE:slc6_amd64_gcc700,slc7_amd64_gcc700
CMSSW_COMMIT:c6061f4d7460bda7507c39db273be2779fdfb29e
CMSDIST_COMMIT:543b39e9d43e9fdb8575ddbfb00fa5e2ef368649

[2018-12-04 08:30] davidlange6 commented on #25410
hi @fabiocos
 can you add to the ORP a comment about a) the expected development/support lifetime of this cycle as well as how you would see the "mtd2" release being tested/built?

[2018-12-04 08:52] cmsbuild commented on #25410
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd1-slc6_amd64_gcc700/1877

[2018-12-04 08:53] cmsbuild commented on #25410
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd1-slc7_amd64_gcc700/1878

[2018-12-04 09:40] fabiocos commented on #25410
+1

[2018-12-04 09:42] cmsbuild commented on #25410
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-12-04 09:42] cmsbuild commented on #25410
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2018-12-04 09:43] cmsbuild commented on #25410
The build has started for slc6_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1879/console
CMSDIST Branch: [543b39e9d43e9fdb8575ddbfb00fa5e2ef368649](https://github.com/cms-sw/cmsdist/commits/543b39e9d43e9fdb8575ddbfb00fa5e2ef368649), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-04 09:44] cmsbuild commented on #25410
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1880/console
CMSDIST Branch: [543b39e9d43e9fdb8575ddbfb00fa5e2ef368649](https://github.com/cms-sw/cmsdist/commits/543b39e9d43e9fdb8575ddbfb00fa5e2ef368649), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-04 10:14] fabiocos commented on #25410
@davidlange6 sure, this is the production build discussed already with @kpedro88 at the Fall O&C week and rediscussed more recently to support the MTD GEN-SIM production, where mtd2 will have to support the DIGI-RECO production. I will add a comment in the spreadsheet, and we can discuss it further at the first occasion. In any case this coincides with 10_4_0_pre2, and it is not supposed to fork a

[2018-12-04 13:36] davidlange6 commented on #25410
proposal:  "will not be a long-lived parallel branch"? Eg, there is mtd1 and mtd2 and thats the end.

[2018-12-04 13:40] cmsbuild commented on #25410
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd1-slc7_amd64_gcc700/1880
Some tes

[2018-12-04 14:09] #25283 closed

[2018-12-04 14:11] Dr15Jones commented on #25200
Ping

[2018-12-04 14:11] Dr15Jones commented on #25197
ping

[2018-12-04 14:15] tahuang1991 commented on #25200
In previous Sven's thread,  https://github.com/tahuang1991/cmssw/commit/20194b66f73c0ab6661b88c89652f529a4c7308c
this commit should already be integrated into our pull request and it solves the problem.

[2018-12-04 14:20] Dr15Jones commented on #25200
We are waiting for the l2s for l1 to sign off on the issue.

[2018-12-04 14:44] cbernet opened #25416 "miniaod: cannot read RunIIFall17 MINIAOD with CMSSW_9_4_11_cand1"
Hello, we encountered a very puzzling issue with the script below.

To test it, install a vanilla `CMSSW_9_4_11_cand1`, initialize your environment, and just run the script.

The problem is that when conversions are read, the gen particles get corrupted. In particular, all tau daughters cannot be accessed. After a segmentation fault, the script prints:

[code]

Are we doing anything wrong? This se

[2018-12-04 14:46] cmsbuild commented on #25416
A new Issue was created by  @cbernet Colin Bernet.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-04 15:22] cmsbuild commented on #25410
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd1-slc7_amd64_gcc700/1880

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-04 15:59] fabiocos commented on #25410
@davidlange6 as I told you yes, we are not intending to have a parallel branch. If you check the tags, this build is just CMSSW_10_4_0_pre2 with another name (essentially a production build). mtd2 should ideally be corresponding to pre4.

[2018-12-04 16:07] cmsbuild commented on #25410
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd1-slc6_amd64_gcc700/1879
Some tes

[2018-12-04 16:23] cbernet commented on #25416
@kpedro88 no particular reason (actually this file was provided by somebody else, I had a v2 file there before and I had not noticed the change). I just tried with v2, and the crash still occurs, unfortunately.

You can reproduce with this file:

[code]

[2018-12-04 16:35] kpedro88 commented on #25416
assign analysis

[2018-12-04 16:35] cmsbuild commented on #25416
New categories assigned: analysis

@fgolf,@monttj,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-12-04 17:14] Dr15Jones commented on #25416
The following code does work
[code]

where I compiled it in a CMSSW_9_4_11_cand1 workarea using
[code]

[2018-12-04 17:16] Dr15Jones commented on #25416
For the C++ code, If I just tried to call `TBranch::GetEntry` without first calling `TTree::GetEntry` I got the following exception message
[code]

That comes from the 'bare' FWLite handler, which is different from using `fwlite::Event`.

[2018-12-04 17:42] Dr15Jones commented on #25416
If I add `reco::Conversion` access to the 'bare' FWLite, it crashes with
[code]

The updated test program is
[code]
compiled with
[code]

[2018-12-04 17:53] Dr15Jones commented on #25416
Running valgrind on the failing 'bare' FWLite give
[code]

which isn't as useful as one could have hoped.

[2018-12-04 18:00] cmsbuild commented on #25410
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd1-slc6_amd64_gcc700/1879

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-04 22:44] Dr15Jones commented on #25416
#25420 should fix the problem. [Thanks to @pcanal for helping find the issue.]

[2018-12-05 05:37] fabiocos commented on #25410
upload all

[2018-12-05 05:37] cmsbuild commented on #25410
Queing Jenkins upload for slc6_amd64_gcc700

[2018-12-05 05:37] cmsbuild commented on #25410
Queing Jenkins upload for slc7_amd64_gcc700

[2018-12-05 05:38] cmsbuild commented on #25410
The upload has started for slc6_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1225/console

[2018-12-05 05:38] cmsbuild commented on #25410
The upload has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1226/console

[2018-12-05 05:40] cmsbuild commented on #25410
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_mtd1-slc7_amd64_gcc700/1226
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-05 05:40] cmsbuild commented on #25410
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-05 05:47] cmsbuild commented on #25410
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_mtd1-slc6_amd64_gcc700/1225
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-05 05:47] cmsbuild commented on #25410
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-05 05:54] fabiocos commented on #25410
release-notes since CMSSW_10_4_0_pre2

[2018-12-05 05:54] cmsbuild commented on #25410
Generating release notes since CMSSW_10_4_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-12-05 05:54] cmsbuild commented on #25410
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_4_0_mtd1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_4_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_mtd1

Cheers,
cms-bot

You can also click <a href="mai

[2018-12-05 05:55] cmsbuild commented on #25410
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd1

[2018-12-05 07:41] cbernet commented on #25416
Thanks a lot for the very fast fix, @Dr15Jones and @pcanal , indeed it works. now trying it in the context of our analysis.

[2018-12-05 15:00] fabiocos opened #25425 "Features needed for NanoAOD processing in 10_2_X (December 2018)"
I want to document here the list of features (PRs) needed to build the next 10_2_X release to support nanoAOD processing. Looking at the present queue (status at 2018/12/13 09:45):

- [x] #25368 master nanoAOD code, to be updated to address #25409

- [x] #25459 ECAL hot crystal filter 2017/2108

- [x] #25372 (with cms-sw/cmsdist#4518 ) it modifies miniAOD physics output (TO BE MERGED SECOND)

- [x

[2018-12-05 15:00] cmsbuild commented on #25425
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-05 15:00] fabiocos commented on #25425
assign analysis

[2018-12-05 15:00] cmsbuild commented on #25425
New categories assigned: analysis

@fgolf,@monttj,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-12-05 17:30] peruzzim commented on #25425
Further features that we were considering can be descoped to a later production, so we have no additions to the list.

Our view on the items:

- #25368: has been updated to address the validation workflow failure, now it seems to fail at merging. We will merge CMSSW_10_2_X in it as soon as #25372 is merged, fixing the conflict (we would not like to rebase because in this way it will merge back cle

[2018-12-05 21:33] perrotta commented on #25425
@fabiocos : about #25266 (you asked how it was validated):
- The code is "deactivated", and therefore it does not enter any workflow
- It has tested being able to run and produce some "reasonable" output with the recipe provided in https://github.com/cms-sw/cmssw/pull/25223#issuecomment-440283562
- The full validation of the physics content of newly added variables is responsability of the JetMET

[2018-12-06 10:18] ianna opened #25434 "CTPPS DetGeomDesc review"
Review  DetGeomDesc and address other issues mentioned in PR #25359

[2018-12-06 10:18] cmsbuild commented on #25434
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-06 10:19] ianna commented on #25434
assign @jan-kaspar

[2018-12-06 10:19] ianna commented on #25434
assign reconstruction

[2018-12-06 10:20] ianna commented on #25434
assign geometry

[2018-12-06 10:20] cmsbuild commented on #25434
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@mdhildreth,@ianna,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-12-06 10:49] peruzzim commented on #25425
Update: please take note, there is a minor change (adding one EGM ID to 2016 nanoAOD workflow, change only in nanoAOD configuration, not in the release) that we would like to add in a second moment, while the PdmV validation takes place.

cms-nanoAOD#272

[2018-12-06 13:34] fabiocos commented on #25409
The issue in itself should be solved now

[2018-12-06 13:38] fabiocos commented on #25425
@peruzzim @fgolf @prebello @zhenhu so far we are testing in the matrix NANO AODs for MC in some dedicated workflows

14:33 cmsdev15 2277> runTheMatrix.py -n | grep NANO
136.7722 RunJetHT2016H_nano+NANOEDM2016_80X+HARVESTNANOAOD2016_80X
136.7952 RunJetHT2017C_94Xv2NanoAODINPUT+NANOEDM2017_94XMiniAODv2+HARVESTNANOAOD2017_94XMiniAODv2
136.8521 RunJetHT2018A_nano+NANOEDM2018+HARVESTNANOAOD2018
1325.6

[2018-12-06 14:46] Dr15Jones commented on #22846
@wddgit did your work on mergeable Run products resolve this issue?

[2018-12-06 15:08] wddgit commented on #22846
@Dr15Jones Yes. I think it did resolve the issue and we can close it. See PR #23776. It was not fixed in exactly the same way as your original comments suggested and there were some limitations on how this works. I think the comments in the PR address discuss those things.

[2018-12-06 15:12] wddgit commented on #22846
Probably it is also useful to put a link to the new TWIKI section I wrote related to this:
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuidePerRunAndPerLumiBlockData#Merging_Run_and_Luminosity_Block

[2018-12-06 15:15] Dr15Jones commented on #22846
+1

[2018-12-06 15:15] cmsbuild commented on #22846
This issue is fully signed and ready to be closed.

[2018-12-06 15:15] #22846 closed

[2018-12-06 15:59] peruzzim commented on #25425
Another very small thing to be added, a filter bit from the backport of #25436

[2018-12-06 21:55] makortel commented on #24193
Superseded by #25439.

[2018-12-06 21:55] #24193 closed

[2018-12-06 21:55] makortel commented on #24190
Superseded by #25439.

[2018-12-06 21:55] #24190 closed

[2018-12-06 21:55] makortel commented on #24188
Superseded by #25439.

[2018-12-06 21:55] #24188 closed

[2018-12-06 22:06] Dr15Jones commented on #24193
+1

[2018-12-06 22:06] cmsbuild commented on #24193
This issue is fully signed and ready to be closed.

[2018-12-06 22:07] Dr15Jones commented on #24190
+1

[2018-12-06 22:07] cmsbuild commented on #24190
This issue is fully signed and ready to be closed.

[2018-12-07 05:08] cmsbuild commented on #25410
The cleanup has started for slc6_amd64_gcc700

[2018-12-07 05:08] cmsbuild commented on #25410
The cleanup has started for slc7_amd64_gcc700

[2018-12-07 05:08] #25410 closed

[2018-12-07 05:14] cmsbuild commented on #25410
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd1-slc7_amd64_gcc700/1215

[2018-12-07 05:18] cmsbuild commented on #25410
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd1-slc6_amd64_gcc700/1214

[2018-12-07 05:18] cmsbuild commented on #25410
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd1-slc6_amd64_gcc700/1212

[2018-12-07 09:33] fabiocos opened #25441 "Build CMSSW_10_2_8"

[2018-12-07 09:35] cmsbuild commented on #25441
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-12-07 09:36] fabiocos commented on #25441
+1

[2018-12-07 09:36] cmsbuild commented on #25441
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_8. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2018-12-07 09:36] cmsbuild commented on #25441
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2018-12-07 09:55] cmsbuild commented on #25441
The build has started for slc6_amd64_gcc700 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1881/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-07 10:00] cmsbuild commented on #25441
The build has started for slc7_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1882/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-07 14:04] cmsbuild commented on #25441
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_8-slc7_amd64_gcc700/1882
Some tests (

[2018-12-07 15:56] cmsbuild commented on #25441
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_8-slc7_amd64_gcc700/1882

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-07 17:43] cmsbuild commented on #25441
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_8-slc6_amd64_gcc700/1881
Some tests (

[2018-12-07 19:44] cmsbuild commented on #25441
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_8-slc6_amd64_gcc700/1881

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-07 19:46] fabiocos commented on #25441
upload all

[2018-12-07 19:47] cmsbuild commented on #25441
Queing Jenkins upload for slc6_amd64_gcc700

[2018-12-07 19:47] cmsbuild commented on #25441
Queing Jenkins upload for slc7_amd64_gcc700

[2018-12-07 19:48] cmsbuild commented on #25441
The upload has started for slc6_amd64_gcc700 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1227/console

[2018-12-07 19:48] cmsbuild commented on #25441
The upload has started for slc7_amd64_gcc700 in cmsbuild66.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1228/console

[2018-12-07 19:50] cmsbuild commented on #25441
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_8-slc7_amd64_gcc700/1228
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-07 19:50] cmsbuild commented on #25441
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-07 19:57] cmsbuild commented on #25441
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_8-slc6_amd64_gcc700/1227
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-07 19:57] cmsbuild commented on #25441
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-07 19:57] fabiocos commented on #25441
release-notes

[2018-12-07 19:58] cmsbuild commented on #25441
Generating release notes since CMSSW_10_2_7.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-12-07 19:58] cmsbuild commented on #25441
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_8 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_7 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_8

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-12-07 19:58] cmsbuild commented on #25441
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_8

[2018-12-08 16:55] Dr15Jones commented on #23798
@lpernie,@franzoni,@pohsun,@arunhep,@cerminar
This problem persists. What are your plans for fixing this error which is causing undefined behavior in the jobs?

[2018-12-08 21:14] tahuang1991 commented on #25200
I will look at this one during the weekend.
Tao

[2018-12-09 19:08] cmsbuild commented on #25441
The cleanup has started for slc6_amd64_gcc700

[2018-12-09 19:08] cmsbuild commented on #25441
The cleanup has started for slc7_amd64_gcc700

[2018-12-09 19:08] #25441 closed

[2018-12-09 19:16] cmsbuild commented on #25441
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_8-slc6_amd64_gcc700/1216

[2018-12-09 19:17] cmsbuild commented on #25441
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_8-slc7_amd64_gcc700/1217

[2018-12-10 19:55] Dr15Jones opened #25463 "ROOT 6 master: Histogram merge error"
IN the ROOT6 IB, we are periodically seeing workflows (e.g. 137.8) failing in the DQM Harvest step from a new ROOT error message

[code]

[2018-12-10 19:56] cmsbuild commented on #25463
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-10 19:56] Dr15Jones commented on #25463
assign dqm

[2018-12-10 19:56] cmsbuild commented on #25463
New categories assigned: dqm

@jfernan2,@andrius-k,@schneiml,@kmaeshima you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-12-10 23:30] tahuang1991 commented on #25200
I found another bug in L1Trigger/CSCTriggerPrimitives/src/CSCUpgradeMotherboard.cc and after fixing  it, I repeated the test by running "running runTheMatrix.py  -l 21634.0" and confirmed that the problem was solved.  either Sven or I will make a pull request to cmssw today later.

[2018-12-11 03:53] tahuang1991 commented on #25200
see here:
https://github.com/cms-sw/cmssw/pull/25467

[2018-12-11 10:00] peruzzim commented on #25425
Status update (Dec 11th, 11am):

#25444 should be ready to merge (ops signature missing)
#25459 should be ready to merge (reco signature missing)
#25372 being tested after protecting miniAOD with modifier
#25368 will need fixing merging conflict when the other ones are merged + activating what is made available by the PR above

[2018-12-11 15:18] kpedro88 opened #25472 "Remove hardcoded lastLayerEE, lastLayerFH in HGCal algorithms"
Based on: https://github.com/cms-sw/cmssw/pull/25411#issuecomment-446176459

Examples where these values are hardcoded:
[code]
[code]

attn: @rovere @amartelli

[2018-12-11 15:18] kpedro88 commented on #25472
assign upgrade, reconstruction

[2018-12-11 15:18] cmsbuild commented on #25472
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-11 15:18] cmsbuild commented on #25472
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-12-11 15:18] kpedro88 commented on #25078
@bsunanda are these all fixed now?

[2018-12-11 15:51] bsunanda commented on #25078
@kpedro88 There may be some more bugs according to Marco. Let me resolve this along with magic #'s

[2018-12-11 21:22] kpedro88 opened #25476 "Build CMSSW_9_3_13_patch2"

[2018-12-11 21:22] cmsbuild commented on #25476
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-12-11 21:23] kpedro88 commented on #25476
+1

[2018-12-11 21:23] cmsbuild commented on #25476
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_13_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-12-11 21:23] cmsbuild commented on #25476
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2018-12-11 21:24] cmsbuild commented on #25476
The build has started for slc6_amd64_gcc630 in cmsbuild45.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1883/console
CMSDIST Branch: [REL/CMSSW_9_3_13/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_13/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-11 21:24] cmsbuild commented on #25476
The build has started for slc7_amd64_gcc630 in cmsbuild94.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1884/console
CMSDIST Branch: [REL/CMSSW_9_3_13/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_13/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-11 21:52] cmsbuild commented on #25476
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch2-slc7_amd64_gcc630/1884
Some t

[2018-12-11 21:58] cmsbuild commented on #25476
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch2-slc6_amd64_gcc630/1883

[2018-12-11 22:01] kpedro88 commented on #25476
Looks like a github problem:
[code]

@smuzaffar can I restart the build from this issue, or do I need to abort and try again?

[2018-12-11 22:41] fabiocos opened #25478 "Build CMSSW_10_4_0_pre4"

[2018-12-11 22:41] cmsbuild commented on #25478
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-12-11 22:42] fabiocos commented on #25478
build cmssw-tool-conf

[2018-12-11 22:42] cmsbuild commented on #25478
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-12-11 22:43] cmsbuild commented on #25478
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild88.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1885/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-11 22:43] cmsbuild commented on #25478
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1886/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-11 22:44] cmsbuild commented on #25478
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1887/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-11 22:44] cmsbuild commented on #25478
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1888/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-11 22:57] cmsbuild commented on #25476
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch2-slc7_amd64_gcc630/1884

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-12-11 23:04] peruzzim commented on #25425
Status update:
#25444 merged
#25459 and #25372 signed, ready for final check and merge
#25368 will be fixed and tested after that (I have done already a private test in a local branch, it runs)

[2018-12-11 23:30] cmsbuild commented on #25478
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre4-slc7_amd64_gcc820/1887

[2018-12-11 23:32] cmsbuild commented on #25478
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre4-slc6_amd64_gcc700/1885

[2018-12-11 23:41] cmsbuild commented on #25478
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre4-slc7_amd64_gcc700/1886

[2018-12-12 02:45] Dr15Jones commented on #25463
The failure has appeared in several CSSW_10_4_ROOT6_X builds, the latest of which was
CMSSW_10_4_X_2018-12-10-2300 which can be seen from the IB dashboard

https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_10_4_X

The link to the most recent failed IB workflow is
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_4_ROOT6_X_2018-12-10-2300/pyRelValMatrixLogs/run/137.8_RunEGa

[2018-12-12 09:36] peruzzim commented on #25425
Status:

#25372 needs merging before #25368 can be modified and tested - anything preventing to move forward?

[2018-12-12 12:53] peruzzim commented on #25365
I would add to the list the DeepAK8 discriminators: #24505 @hqucms
and remove #25187 that is superseded by #25459 (using the new run2_miniAOD_devel modifier)

[2018-12-12 15:03] fabiocos commented on #25478
+1

[2018-12-12 15:03] cmsbuild commented on #25478
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-12-12 15:03] cmsbuild commented on #25478
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2018-12-12 15:04] cmsbuild commented on #25478
The build has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1889/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-12 15:04] cmsbuild commented on #25478
The build has started for slc7_amd64_gcc700 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1890/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-12 15:05] cmsbuild commented on #25478
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1891/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-12 15:05] cmsbuild commented on #25478
The build has started for slc7_amd64_gcc820 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1892/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-12 15:12] fabiocos opened #25485 "Build CMSSW_10_4_0_mtd2"
RELEASE_QUEUE:CMSSW_10_4_X
ARCHITECTURE:slc6_amd64_gcc700,slc7_amd64_gcc700
CMSSW_COMMIT:d74dd1812ca6cb948355c4796b5c39a8500f4ad1
CMSDIST_COMMIT:31b9800a0e3dffb7b4aa8136ad2287451c8ecb25

[2018-12-12 15:12] cmsbuild commented on #25485
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-12-12 15:14] fabiocos commented on #25485
This configuration corresponds to CMSSW_10_4_0_pre4, i.e. the current status of master branches in cmssw and cmsdist repositories

[2018-12-12 15:14] fabiocos commented on #25485
+1

[2018-12-12 15:14] cmsbuild commented on #25485
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-12-12 15:14] cmsbuild commented on #25485
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2018-12-12 15:15] cmsbuild commented on #25485
The build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1893/console
CMSDIST Branch: [31b9800a0e3dffb7b4aa8136ad2287451c8ecb25](https://github.com/cms-sw/cmsdist/commits/31b9800a0e3dffb7b4aa8136ad2287451c8ecb25), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-12 15:16] cmsbuild commented on #25485
The build has started for slc7_amd64_gcc700 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1894/console
CMSDIST Branch: [31b9800a0e3dffb7b4aa8136ad2287451c8ecb25](https://github.com/cms-sw/cmsdist/commits/31b9800a0e3dffb7b4aa8136ad2287451c8ecb25), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-12 18:02] cmsbuild commented on #25478
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre4-slc6_amd64_gcc700/1889
Some tes

[2018-12-12 18:17] cmsbuild commented on #25478
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre4-slc7_aarch64_gcc700/1891
Some

[2018-12-12 19:14] cmsbuild commented on #25485
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd2-slc6_amd64_gcc700/1893
Some tes

[2018-12-12 19:31] cmsbuild commented on #25478
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre4-slc7_amd64_gcc700/1890
Some tes

[2018-12-12 19:45] cmsbuild commented on #25485
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd2-slc7_amd64_gcc700/1894
Some tes

[2018-12-12 19:48] cmsbuild commented on #25478
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre4-slc6_amd64_gcc700/1889

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-12 21:18] cmsbuild commented on #25476
The build has started for slc6_amd64_gcc630 in cmsbuild84.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1895/console
CMSDIST Branch: [REL/CMSSW_9_3_13/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_13/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-12 21:19] fabiocos commented on #25476
@kpedro88 @smuzaffar I have restarted the build in Jenkins (Rebuild), let's see whether the problem happens again

[2018-12-12 21:36] cmsbuild commented on #25478
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre4-slc7_amd64_gcc700/1890

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-12 21:49] cmsbuild commented on #25485
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd2-slc7_amd64_gcc700/1894

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-12 21:50] cmsbuild commented on #25476
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch2-slc6_amd64_gcc630/1895

[2018-12-12 22:33] cmsbuild commented on #25478
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre4-slc7_amd64_gcc820/1892

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-12 22:36] cmsbuild commented on #25478
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_pre4-slc7_aarch64_gcc700/1891

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-13 07:02] cmsbuild commented on #25476
The build has started for slc6_amd64_gcc630 in cmsbuild69.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1896/console
CMSDIST Branch: [REL/CMSSW_9_3_13/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_13/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-13 07:36] cmsbuild commented on #25476
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch2-slc6_amd64_gcc630/1896

[2018-12-13 07:44] cmsbuild commented on #25476
The build has started for slc6_amd64_gcc630 in cmsbuild69.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1897/console
CMSDIST Branch: [REL/CMSSW_9_3_13/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_13/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-13 07:48] smuzaffar commented on #25476
it fails when try to get cmssw sources. I tried locally and it works. I have restarted the job with debug option ON for cmsBuild to see if I get more details of the error

[2018-12-13 08:09] smuzaffar commented on #25476
ok this time getting source from github did not fail, so release is building now.

[2018-12-13 08:11] cmsbuild commented on #25476
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch2-slc6_amd64_gcc630/1897
Some t

[2018-12-13 08:14] fabiocos commented on #25478
upload all

[2018-12-13 08:14] cmsbuild commented on #25478
Queing Jenkins upload for slc6_amd64_gcc700

[2018-12-13 08:14] cmsbuild commented on #25478
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-12-13 08:14] cmsbuild commented on #25478
Queing Jenkins upload for slc7_amd64_gcc700

[2018-12-13 08:14] cmsbuild commented on #25478
Queing Jenkins upload for slc7_amd64_gcc820

[2018-12-13 08:15] cmsbuild commented on #25478
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1230/console

[2018-12-13 08:15] cmsbuild commented on #25478
The upload has started for slc7_amd64_gcc820 in cmsbuild42.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1231/console

[2018-12-13 08:15] cmsbuild commented on #25478
The upload has started for slc6_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1229/console

[2018-12-13 08:16] cmsbuild commented on #25478
The upload has started for slc7_amd64_gcc700 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1232/console

[2018-12-13 08:16] cmsbuild commented on #25478
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre4-slc7_aarch64_gcc700/1230
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-13 08:17] cmsbuild commented on #25478
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre4-slc7_amd64_gcc820/1231
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-13 08:17] cmsbuild commented on #25478
CERN AFS installation skipped for slc7_amd64_gcc820 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-13 08:17] cmsbuild commented on #25478
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre4-slc7_amd64_gcc700/1232
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-13 08:17] cmsbuild commented on #25478
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-13 08:18] cmsbuild commented on #25478
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_pre4-slc6_amd64_gcc700/1229
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-13 08:18] cmsbuild commented on #25478
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-13 08:33] fabiocos commented on #25485
release-notes since CMSSW_10_4_0_pre4

[2018-12-13 08:34] cmsbuild commented on #25485
Generating release notes since CMSSW_10_4_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-12-13 08:34] cmsbuild commented on #25485
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_4_0_mtd2 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_4_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_mtd2

Cheers,
cms-bot

You can also click <a href="mai

[2018-12-13 08:35] cmsbuild commented on #25485
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd2

[2018-12-13 08:48] fabiocos commented on #25425
@peruzzim @fgolf the integration of #25372 for yesterday's 1100 IB failed for a couple of minutes, this caused some failures that have disappeared tonight. As anyway the update of master and 10_2_X for NanoAOD moved in different pieces, after the integration of the master version #25473 I have done a comparison between the 10_4_X and 10_2_X queues and see:

[code]
[code]

Is this intended?

[2018-12-13 08:55] fabiocos commented on #25425
@peruzzim @fgolf @prebello @zhenhu as a side note, the nanoAOD test should be likely extended to account for the configuration "run2_nanoAOD_102Xv1", I may imagine that this could become the new default for the tests on MC, and one data workflow corresponding to this scenario might be added (replacing the old 1325.9 recently removed)

[2018-12-13 09:12] schneiml commented on #25463
The 137.8 is the new multi-run harvesting Workflow. Good to see that it caught something. My crystal ball guess is something that was illegal/does not make sense even in the current production release, and was caught now, probably in some subsystem module that does not expect multi-run harvesting to happen.

However, I can't reproduce that currently; ROOT crashes on initialization on lxplus7 in th

[2018-12-13 09:17] cmsbuild commented on #25476
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch2-slc6_amd64_gcc630/1897

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-12-13 09:23] peruzzim commented on #25425
The differences in `PhysicsTools/NanoAOD/plugins/BuildFile.xml` and `PhysicsTools/NanoAOD/python/nano_cff.py` look harmless, they are probably due to electronMVAVariableHelper being removed from electrons_cff.py but not from nano_cff.py. We will cross check that. @guitargeek

The difference in `DataFormats/NanoAOD/interface/MergeableCounterTable.h` was introduced by #23776 that seems a general fea

[2018-12-13 10:51] cmsbuild commented on #25478
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_pre4

[2018-12-13 10:57] guitargeek commented on #25425
Hi! The change in comes `PhysicsTools/NanoAOD/plugins/BuildFile.xml` from https://github.com/cms-sw/cmssw/pull/24432 and the one in `PhysicsTools/NanoAOD/python/nano_cff.py` from https://github.com/cms-sw/cmssw/pull/25337 with the removal of the ElectronMVAVariableHelper plugin. Both PRs validated to have no effect on the output.

[2018-12-13 12:35] fabiocos opened #25492 "Build CMSSW_10_2_9"

[2018-12-13 12:36] cmsbuild commented on #25492
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-12-13 12:49] cmsbuild commented on #25478
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_pre4

[2018-12-13 13:54] fabiocos commented on #25492
+1

[2018-12-13 13:54] cmsbuild commented on #25492
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_9. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2018-12-13 13:54] cmsbuild commented on #25492
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2018-12-13 13:55] cmsbuild commented on #25492
The build has started for slc6_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1898/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-13 13:55] cmsbuild commented on #25492
The build has started for slc7_amd64_gcc700 in cmsbuild65.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1899/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-13 15:26] fabiocos opened #25494 "Build CMSSW_10_3_2"

[2018-12-13 15:39] kpedro88 commented on #25476
upload all

[2018-12-13 15:40] cmsbuild commented on #25476
Queing Jenkins upload for slc6_amd64_gcc630

[2018-12-13 15:40] cmsbuild commented on #25476
Queing Jenkins upload for slc7_amd64_gcc630

[2018-12-13 15:41] cmsbuild commented on #25476
The upload has started for slc7_amd64_gcc630 in cmsbuild94.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1236/console

[2018-12-13 15:42] cmsbuild commented on #25476
The upload has started for slc6_amd64_gcc630 in cmsbuild69.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1235/console

[2018-12-13 15:42] cmsbuild commented on #25476
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_13_patch2-slc7_amd64_gcc630/1236
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-13 15:42] cmsbuild commented on #25476
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-13 15:43] cmsbuild commented on #25476
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_13_patch2-slc6_amd64_gcc630/1235
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-13 15:43] cmsbuild commented on #25476
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-13 15:49] cmsbuild commented on #25494
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_2-slc7_amd64_gcc700/1901

[2018-12-13 15:49] cmsbuild commented on #25494
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_2-slc6_amd64_gcc700/1900

[2018-12-13 15:54] kpedro88 commented on #25476
release-notes since CMSSW_9_3_13_patch1

[2018-12-13 15:54] cmsbuild commented on #25476
Generating release notes since CMSSW_9_3_13_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-12-13 15:54] cmsbuild commented on #25476
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_13_patch2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_13_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_13_patch2

Cheers,
cms-bot

You can also click

[2018-12-13 15:55] cmsbuild commented on #25476
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_13_patch2

[2018-12-13 16:30] pcanal commented on #25463
@Dr15Jones sorta.  This indicates that some of the headers files that are part of the ROOT pch files have been updated since ROOT was build.  i.e. likely some system headers.

[2018-12-13 17:55] cmsbuild commented on #25492
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_9-slc7_amd64_gcc700/1899
Some tests (

[2018-12-13 19:31] cmsbuild commented on #25492
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_9-slc6_amd64_gcc700/1898
Some tests (

[2018-12-13 19:40] cmsbuild commented on #25492
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_9-slc7_amd64_gcc700/1899

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-13 21:14] cmsbuild commented on #25492
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_9-slc6_amd64_gcc700/1898

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-14 07:15] smuzaffar commented on #25463
@Dr15Jones , we use docker to build run ROOT6 IBs. All of 10.4.X Ibs now run under docker (as nearly all of them are slc7 based).

[2018-12-14 07:46] fabiocos commented on #25492
upload all

[2018-12-14 07:47] cmsbuild commented on #25492
Queing Jenkins upload for slc6_amd64_gcc700

[2018-12-14 07:47] cmsbuild commented on #25492
Queing Jenkins upload for slc7_amd64_gcc700

[2018-12-14 07:48] cmsbuild commented on #25492
The upload has started for slc6_amd64_gcc700 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1237/console

[2018-12-14 07:48] cmsbuild commented on #25492
The upload has started for slc7_amd64_gcc700 in cmsbuild65.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1238/console

[2018-12-14 07:49] fabiocos commented on #25494
+1

[2018-12-14 07:49] cmsbuild commented on #25494
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_3_X

[2018-12-14 07:49] cmsbuild commented on #25494
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2018-12-14 07:50] cmsbuild commented on #25492
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_9-slc7_amd64_gcc700/1238
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-14 07:50] cmsbuild commented on #25492
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-14 07:53] cmsbuild commented on #25492
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_9-slc6_amd64_gcc700/1237
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-14 07:53] cmsbuild commented on #25492
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-14 08:00] cmsbuild commented on #25494
The build has started for slc6_amd64_gcc700 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1902/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-14 08:01] cmsbuild commented on #25494
The build has started for slc7_amd64_gcc700 in cmsbuild89.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1903/console
CMSDIST Branch: [IB/CMSSW_10_3_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_3_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-14 10:38] fabiocos commented on #25492
release-notes

[2018-12-14 10:38] cmsbuild commented on #25492
Generating release notes since CMSSW_10_2_8.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-12-14 10:38] cmsbuild commented on #25492
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_9 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_8 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_9

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-12-14 10:39] cmsbuild commented on #25492
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_9

[2018-12-14 10:56] fabiocos commented on #25425
Needs integrated in CMSSW_10_2_9 #25492

[2018-12-14 10:56] #25425 closed

[2018-12-14 13:56] cmsbuild commented on #25494
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_2-slc6_amd64_gcc700/1902
Some tests (

[2018-12-14 14:33] cmsbuild commented on #25494
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_2-slc7_amd64_gcc700/1903

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-14 15:43] davidlange6 commented on #25463
adding @yamaguchi1024
as we talked of similar issues a week ago in the context of root modules..

[2018-12-14 15:45] cmsbuild commented on #25494
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_3_2-slc6_amd64_gcc700/1902

Tests results:
32 31 30 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-14 15:46] fabiocos commented on #25494
upload all

[2018-12-14 15:47] cmsbuild commented on #25494
Queing Jenkins upload for slc6_amd64_gcc700

[2018-12-14 15:47] cmsbuild commented on #25494
Queing Jenkins upload for slc7_amd64_gcc700

[2018-12-14 15:49] cmsbuild commented on #25494
The upload has started for slc6_amd64_gcc700 in cmsbuild92.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1239/console

[2018-12-14 15:49] cmsbuild commented on #25494
The upload has started for slc7_amd64_gcc700 in cmsbuild89.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1240/console

[2018-12-14 15:51] cmsbuild commented on #25494
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_2-slc7_amd64_gcc700/1240
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-14 15:51] cmsbuild commented on #25494
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-14 15:55] cmsbuild commented on #25494
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_3_2-slc6_amd64_gcc700/1239
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-14 15:56] cmsbuild commented on #25494
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-14 15:56] fabiocos commented on #25494
release-notes

[2018-12-14 15:56] cmsbuild commented on #25494
Generating release notes since CMSSW_10_3_1_patch3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-12-14 15:56] cmsbuild commented on #25494
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_3_2 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_3_1_patch3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_3_2

Cheers,
cms-bot

You can also click <a href="mailto:hn-c

[2018-12-14 15:56] smuzaffar commented on #25463
we have opened a JIRA ticket https://sft.its.cern.ch/jira/browse/ROOT-9843 about this.
On lxplus7 it is due to glibc version update. But our docker container we still have old glibc
[code]

[2018-12-14 15:57] cmsbuild commented on #25494
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_3_2

[2018-12-14 21:34] fabiocos opened #25502 "Build CMSSW_10_4_0_mtd2_patch1"
RELEASE_QUEUE:CMSSW_10_4_X
ARCHITECTURE:slc6_amd64_gcc700,slc7_amd64_gcc700
CMSSW_COMMIT:mtd2_p1
CMSDIST_COMMIT:543b39e9d43e9fdb8575ddbfb00fa5e2ef368649

[2018-12-14 21:35] cmsbuild commented on #25502
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-12-14 21:38] fabiocos commented on #25502
+1

CMSSW tag corresponding to CMSSW_10_4_0_mtd2 + #25496

[2018-12-14 21:39] cmsbuild commented on #25502
There was an error while attempting to create CMSSW_10_4_0_mtd2_patch1. Please check if it already exists https://github.com/cms-sw/cmssw/releases

[2018-12-14 21:44] fabiocos commented on #25502
@smuzaffar a patch does not seem to work

[2018-12-14 21:46] smuzaffar commented on #25502
I am looking in to it

[2018-12-14 22:10] cmsbuild commented on #25502
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd2_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-12-14 22:10] cmsbuild commented on #25502
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2018-12-14 22:10] cmsbuild commented on #25502
The build has started for slc7_amd64_gcc700 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1905/console
CMSDIST Branch: [REL/CMSSW_10_4_0_mtd2/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_4_0_mtd2/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-14 22:11] cmsbuild commented on #25502
The build has started for slc6_amd64_gcc700 in cmsbuild65.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1904/console
CMSDIST Branch: [REL/CMSSW_10_4_0_mtd2/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_4_0_mtd2/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-14 22:16] fabiocos commented on #25502
@smuzaffar thanks, anyway this does not seem to pick the tag but just the master (as the commit is the latest one there...)

[2018-12-14 22:16] smuzaffar commented on #25502
@fabiocos , looks like using tag for `CMSSW_COMMIT` does not work. For now I have used the commit pointing to tag `mtd2_p1` . Release is building and cmssw tag for release points correctly to the `mrd2_p1`.

[2018-12-14 22:39] cmsbuild commented on #25502
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd2_patch1-slc7_amd64_gcc700/1905
S

[2018-12-14 22:41] cmsbuild commented on #25502
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd2_patch1-slc6_amd64_gcc700/1904
S

[2018-12-15 00:30] cmsbuild commented on #25502
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd2_patch1-slc6_amd64_gcc700/1904

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-15 00:33] cmsbuild commented on #25502
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd2_patch1-slc7_amd64_gcc700/1905

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-15 07:37] smuzaffar commented on #25502
@fabiocos why you think that it did not pick the right commit?
mtd2_p1 and CMSSW_10_4_0_mtd2_patch1 points to same commit
https://github.com/cms-sw/cmssw/compare/mtd2_p1...CMSSW_10_4_0_mtd2_patch1
both show the same history
- https://github.com/cms-sw/cmssw/commits/mtd2_p1
- https://github.com/cms-sw/cmssw/commits/CMSSW_10_4_0_mtd2_patch1

am I missing something here?

[2018-12-15 07:38] cmsbuild commented on #25478
The cleanup has started for slc7_aarch64_gcc700

[2018-12-15 07:39] cmsbuild commented on #25478
The cleanup has started for slc6_amd64_gcc700

[2018-12-15 07:39] cmsbuild commented on #25478
The cleanup has started for slc7_amd64_gcc700

[2018-12-15 07:39] cmsbuild commented on #25478
The cleanup has started for slc7_amd64_gcc820

[2018-12-15 07:39] #25478 closed

[2018-12-15 07:39] cmsbuild commented on #25485
The cleanup has started for slc6_amd64_gcc700

[2018-12-15 07:39] cmsbuild commented on #25485
The cleanup has started for slc7_amd64_gcc700

[2018-12-15 07:39] #25485 closed

[2018-12-15 07:41] cmsbuild commented on #25478
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre4-slc7_aarch64_gcc700/1221

[2018-12-15 07:43] cmsbuild commented on #25478
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre4-slc6_amd64_gcc700/1220

[2018-12-15 07:48] cmsbuild commented on #25485
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd2-slc7_amd64_gcc700/1219

[2018-12-15 07:49] cmsbuild commented on #25478
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre4-slc7_amd64_gcc700/1222

[2018-12-15 07:52] cmsbuild commented on #25478
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre4-slc7_amd64_gcc820/1223

[2018-12-15 07:52] cmsbuild commented on #25478
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre4-slc6_amd64_gcc700/1224

[2018-12-15 07:55] cmsbuild commented on #25485
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd2-slc6_amd64_gcc700/1218

[2018-12-15 07:57] cmsbuild commented on #25478
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre4-slc7_amd64_gcc820/1226

[2018-12-15 08:16] cmsbuild commented on #25478
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_pre4-slc7_amd64_gcc700/1225

[2018-12-15 08:33] fabiocos commented on #25502
@smuzaffar you are correct, I was mislead by the reference to https://github.com/cms-sw/cmssw/tree/master in the comment above...

Ok thanks for your help, so one has to explicitly pick the commit corresponding to the tag in case this exercise is needed (hopefully very rarely). Not sure I will upload the build, only if it is needed, but I wanted to have it ready in case.

[2018-12-15 08:53] fabiocos commented on #25502
upload all

[2018-12-15 08:53] cmsbuild commented on #25502
Queing Jenkins upload for slc6_amd64_gcc700

[2018-12-15 08:53] cmsbuild commented on #25502
Queing Jenkins upload for slc7_amd64_gcc700

[2018-12-15 08:55] cmsbuild commented on #25502
The upload has started for slc6_amd64_gcc700 in cmsbuild65.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1241/console

[2018-12-15 08:55] cmsbuild commented on #25502
The upload has started for slc7_amd64_gcc700 in cmsbuild72.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1242/console

[2018-12-15 08:56] cmsbuild commented on #25502
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_mtd2_patch1-slc7_amd64_gcc700/1242
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-15 08:56] cmsbuild commented on #25502
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-15 08:57] cmsbuild commented on #25502
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_mtd2_patch1-slc6_amd64_gcc700/1241
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-15 08:57] cmsbuild commented on #25502
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-15 09:17] fabiocos commented on #25502
release-notes since CMSSW_10_4_0_mtd2

[2018-12-15 09:19] cmsbuild commented on #25502
Generating release notes since CMSSW_10_4_0_mtd2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-12-15 09:19] cmsbuild commented on #25502
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_4_0_mtd2_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_4_0_mtd2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_mtd2_patch1

Cheers,
cms-bot

You can als

[2018-12-15 09:20] cmsbuild commented on #25502
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd2_patch1

[2018-12-15 15:08] cmsbuild commented on #25476
The cleanup has started for slc6_amd64_gcc630

[2018-12-15 15:08] cmsbuild commented on #25476
The cleanup has started for slc6_amd64_gcc630

[2018-12-15 15:09] cmsbuild commented on #25476
The cleanup has started for slc7_amd64_gcc630

[2018-12-15 15:09] #25476 closed

[2018-12-15 15:13] cmsbuild commented on #25476
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_13_patch2-slc7_amd64_gcc630/1227

[2018-12-16 09:38] cmsbuild commented on #25492
The cleanup has started for slc6_amd64_gcc700

[2018-12-16 09:38] cmsbuild commented on #25492
The cleanup has started for slc7_amd64_gcc700

[2018-12-16 09:38] #25492 closed

[2018-12-16 09:46] cmsbuild commented on #25492
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_9-slc6_amd64_gcc700/1228

[2018-12-16 09:46] cmsbuild commented on #25492
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_9-slc7_amd64_gcc700/1229

[2018-12-16 15:08] cmsbuild commented on #25494
The cleanup has started for slc6_amd64_gcc700

[2018-12-16 15:08] cmsbuild commented on #25494
The cleanup has started for slc7_amd64_gcc700

[2018-12-16 15:08] #25494 closed

[2018-12-16 15:09] cmsbuild commented on #25494
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_2-slc6_amd64_gcc700/1232

[2018-12-16 15:12] cmsbuild commented on #25494
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_2-slc7_amd64_gcc700/1233

[2018-12-16 15:16] cmsbuild commented on #25494
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_2-slc6_amd64_gcc700/1230

[2018-12-16 15:17] cmsbuild commented on #25494
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_3_2-slc7_amd64_gcc700/1231

[2018-12-16 19:38] vgvassilev commented on #25463
Shahzad, could you bisect?

[2018-12-18 08:38] thomreis commented on #25121
+1

[2018-12-18 08:38] cmsbuild commented on #25121
This issue is fully signed and ready to be closed.

[2018-12-18 08:40] thomreis commented on #25200
+1

[2018-12-18 08:40] cmsbuild commented on #25200
This issue is fully signed and ready to be closed.

[2018-12-18 08:42] thomreis commented on #24377
Hi @apana did you find out what was going on here?

[2018-12-18 08:44] thomreis commented on #22926
Hi @jiafulow @abrinke1 has this been solved in a PR somewhere?

[2018-12-18 08:48] thomreis commented on #21670
+1

[2018-12-18 08:52] thomreis commented on #25271
+1

[2018-12-18 11:13] abrinke1 commented on #22926
Looks like it's in the master branch:

https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TMuonEndCap/src/PtAssignmentEngine2016.cc#L656

Appears to have been fixed in an April PR:

https://github.com/cms-sw/cmssw/commit/d72c171b6b59b96a89863a594fd0dc871ea52888#diff-712cd625841932b95afeefc5b3e28b96L655

Cheers,
Andrew

On Tue, Dec 18, 2018 at 9:45 AM Thomas Reis <notifications@github.com>
wro

[2018-12-18 13:06] fabiocos commented on #25416
So is this issue solved? It seems so

[2018-12-18 13:09] cbernet commented on #25416
Hi Fabio, yes, it works now.

[2018-12-18 13:09] #25416 closed

[2018-12-18 13:30] #25200 closed

[2018-12-18 13:47] thomreis commented on #22926
+1

Fixed with https://github.com/cms-sw/cmssw/pull/23109

[2018-12-18 13:47] cmsbuild commented on #22926
This issue is fully signed and ready to be closed.

[2018-12-18 14:39] fabiocos opened #25513 "Fastsim fails in CMSSW_10_2_8"
A failure in 2018 premix fastsim workflows has been reported by PdmV. For instance the workflow

ZEE_13TeV_TuneCUETP8M1_cfi --datamix PreMix --conditions auto:phase1_2017_realistic --pileup_input dbs:/RelValFS_PREMIXUP17_PU50/CMSSW_10_2_8-PU25ns_102X_mc2017_realistic_v5_FastSim-v1/PREMIX --fast -n 10 --era Run2_2017_FastSim --eventcontent FEVTDEBUGHLT,DQM --procModifiers premix_stage2 --relval 100

[2018-12-18 14:41] cmsbuild commented on #25513
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-18 14:46] fabiocos commented on #25513
assign fastsim

[2018-12-18 14:46] cmsbuild commented on #25513
New categories assigned: fastsim

@ssekmen,@mdhildreth,@lveldere,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-12-18 16:35] apana commented on #24377
Hi @thomreis,

I'm sorry, I had forgotten about this issue.  I'll look into it now.

[2018-12-18 17:18] fabiocos opened #25515 "Build CMSSW_10_4_0"

[2018-12-18 17:18] cmsbuild commented on #25515
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-12-18 17:19] fabiocos commented on #25515
build cmssw-tool-conf

[2018-12-18 17:19] cmsbuild commented on #25515
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700, slc7_amd64_gcc820, slc7_aarch64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-12-18 17:20] cmsbuild commented on #25515
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1906/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-18 17:20] cmsbuild commented on #25515
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1907/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-18 17:20] cmsbuild commented on #25515
The cmssw-tool-conf build has started for slc7_amd64_gcc820 in cmsbuild90.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1908/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-18 17:21] cmsbuild commented on #25515
The cmssw-tool-conf build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1909/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-18 18:20] slava77 commented on #25502
this doesn't show any pull requests integrated, while there is a difference in the code.
Is this a problem with the release-notes generation or is there a special procedure here (direct commits pushed manually)?

[2018-12-18 20:45] cmsbuild commented on #25515
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0-slc7_amd64_gcc700/1907

[2018-12-18 21:04] cmsbuild commented on #25515
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc820 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0-slc7_amd64_gcc820/1908

[2018-12-18 21:11] cmsbuild commented on #25515
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0-slc6_amd64_gcc700/1906

[2018-12-18 21:47] fabiocos commented on #25515
+1

[2018-12-18 21:47] cmsbuild commented on #25515
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-12-18 21:47] cmsbuild commented on #25515
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for e

[2018-12-18 21:48] cmsbuild commented on #25515
The build has started for slc6_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1910/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-18 21:48] cmsbuild commented on #25515
The build has started for slc7_amd64_gcc700 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1911/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-18 21:49] cmsbuild commented on #25515
The build has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1912/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc820](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc820), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-18 21:50] cmsbuild commented on #25515
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1913/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-19 01:00] cmsbuild commented on #25515
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0-slc7_aarch64_gcc700/1913
Some test

[2018-12-19 01:58] cmsbuild commented on #25515
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0-slc7_amd64_gcc820/1912
Some tests (

[2018-12-19 02:09] cmsbuild commented on #25515
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0-slc7_amd64_gcc700/1911
Some tests (

[2018-12-19 04:02] cmsbuild commented on #25515
The tests have finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0-slc7_amd64_gcc820/1912

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-19 05:17] cmsbuild commented on #25515
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0-slc7_aarch64_gcc700/1913

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-19 06:43] cmsbuild commented on #25515
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0-slc6_amd64_gcc700/1910

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-19 10:53] fabiocos commented on #25502
@slava77 yes, I had seen it, @smuzaffar may better comment, but I guess this is related to the fact that the build has been done using an unorthodox procedure, on the basis of an annotated tag (this is also why I want to have a branch where to manage things in a proper way).

Anyway if you click on the release comparison hn within the release notes you will see the difference correctly reported (a

[2018-12-19 11:43] smuzaffar commented on #25502
@fabiocos @slava77 , this is because there was not merge commits between mtd2 and mtd2_patch branch. It was done directly with commit. I will update the release notes to mention this commit.

Fixes OOTPU for BTLDigitisation: d74dd1812ca6cb948355c4796b5c39a8500f4ad1

[2018-12-19 11:52] smuzaffar commented on #25502
release notes are updated now.

[2018-12-19 12:03] fabiocos commented on #25515
upload all

[2018-12-19 12:03] cmsbuild commented on #25515
Queing Jenkins upload for slc6_amd64_gcc700

[2018-12-19 12:03] cmsbuild commented on #25515
Queing Jenkins upload for slc7_aarch64_gcc700

[2018-12-19 12:03] cmsbuild commented on #25515
Queing Jenkins upload for slc7_amd64_gcc700

[2018-12-19 12:03] cmsbuild commented on #25515
Queing Jenkins upload for slc7_amd64_gcc820

[2018-12-19 12:05] cmsbuild commented on #25515
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1244/console

[2018-12-19 12:05] cmsbuild commented on #25515
The upload has started for slc6_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1243/console

[2018-12-19 12:05] cmsbuild commented on #25515
The upload has started for slc7_amd64_gcc700 in cmsbuild40.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1245/console

[2018-12-19 12:06] cmsbuild commented on #25515
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0-slc7_aarch64_gcc700/1244
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-19 12:06] cmsbuild commented on #25515
The upload has started for slc7_amd64_gcc820 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1246/console

[2018-12-19 12:07] cmsbuild commented on #25515
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0-slc7_amd64_gcc700/1245
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-19 12:07] cmsbuild commented on #25515
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-19 12:08] cmsbuild commented on #25515
The upload has successfully finished for slc7_amd64_gcc820
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0-slc7_amd64_gcc820/1246
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-19 12:08] cmsbuild commented on #25515
CERN AFS installation skipped for slc7_amd64_gcc820 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-19 12:12] cmsbuild commented on #25515
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0-slc6_amd64_gcc700/1243
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-19 12:12] cmsbuild commented on #25515
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-19 12:32] fabiocos commented on #25502
@smuzaffar thank you for updating the release notes

[2018-12-19 16:03] jan-kaspar commented on #25434
@fabferro FYI: this is the discussion I mentioned yesterday at the meeting.

[2018-12-19 16:30] makortel commented on #25513
The (2016) FastSim premixing workflows seem to be working fine in 10_2_X IBs.

[2018-12-19 16:44] makortel commented on #25513
The 2016 FastSim workflows are using `GEN-SIM-DIGI-RAW` as the data tier of the premixing library, while the description quotes `PREMIX` for the attempted 2017. Digging from the history, FastSim indeed used `GEN-SIM-DIGI-RAW` prior to #24184 (that was merged in 10_3_X).

I suppose the fix would be to use `GEN-SIM-DIGI-RAW` as the premixing library format also for 2017 in 10_2_X.

[2018-12-19 17:44] makortel commented on #25513
Or maybe I spoke too fast, the data tier itself shouldn't have an effect.

[2018-12-19 17:52] makortel commented on #25513
How was the premixing library `RelValFS_PREMIXUP17_PU50/CMSSW_10_2_8-PU25ns_102X_mc2017_realistic_v5_FastSim-v1/PREMIX` produced?

[2018-12-19 19:01] prebello commented on #25513
HI @makortel  if you mean the cmsdriver, it is below

SingleNuE10_cfi --conditions auto:phase1_2017_realistic --pileup_input das:/RelValMinBiasFS_13_UP17_ForMixing/CMSSW_10_2_8-102X_mc2017_realistic_v5_FastSim-v1/GEN-SIM-RECO --fast --era Run2_2017_FastSim --eventcontent PREMIX --procModifiers premix_stage1 --relval 100000,500 -s GEN,SIM,RECOBEFMIX,DIGI --datatier PREMIX --pileup AVE_50_BX_25ns

[2018-12-19 19:30] makortel commented on #25513
Thanks @prebello. Comparing to 250399.0, that one includes `L1,DIGI2RAW` in the steps. Leaving `DIGI2RAW` out (since #24184 is not included in 10_2_X) leads to `rawDataCollector` not being produced and to the failure of this issue.

[2018-12-20 02:03] slava77 opened #25526 "revisit HBHE MAHI algorithm hit time"
this is a follow up to #25469

As a part of review of that PR it was uncovered that the hit time was artificially restricted to be around zero due to some incorrect estimate of the pulse shape derivative.
After fixing the issue the hit time distribution is back to be very weakly constrained and perhaps a better logic is needed to compute it.

@jaylawhorn @jaehyeok @mariadalfonso @deguio

[2018-12-20 02:04] cmsbuild commented on #25526
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-20 02:04] slava77 commented on #25526
assign reconstruction

[2018-12-20 02:04] cmsbuild commented on #25526
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-12-20 10:48] yamaguchi1024 commented on #25463
Hi all,

I asked Axel about this histogram merge issue with a link to [this test failure](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_4_ROOT6_X_2018-12-19-2300/pyRelValMatrixLogs/run/137.8_RunEGamma2018C+RunEGamma2018C+HLTDR2_2018+RECODR2_2018reHLT_skimEGamma_Prompt_L1TEgDQM+RunEGamma2018D+HLTDR2_2018+RECODR2_2018reHLT_skimEGamma_Prompt_L1TEgDQM+HARVEST2018_L1TEgDQM_MUL

[2018-12-20 12:51] fabiocos opened #25527 "Build CMSSW_10_4_0_patch1"

[2018-12-20 12:51] cmsbuild commented on #25527
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-12-20 12:51] fabiocos commented on #25527
+1

[2018-12-20 12:52] cmsbuild commented on #25527
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_4_X

[2018-12-20 12:52] cmsbuild commented on #25527
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2018-12-20 12:52] cmsbuild commented on #25527
The build has started for slc6_amd64_gcc700 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1914/console
CMSDIST Branch: [REL/CMSSW_10_4_0/slc6_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_4_0/slc6_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-20 12:52] cmsbuild commented on #25527
The build has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1915/console
CMSDIST Branch: [REL/CMSSW_10_4_0/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_4_0/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-20 14:13] lucastorterotot opened #25528 "Alteration of a stored value"
Dear cms devs,

I discovered that a value read from an EDM root file differs from the value computed at run time. Specifically, I have added a printout [here](https://github.com/lucastorterotot/cmssw/blob/from-CMSSW_9_4_11_cand1-bad_output_MET/RecoMET/METProducers/src/PFMETProducer.cc#L69-L70).

This printout gives `RAW MET -20.12624577188` when running CMSSW.
But when I open the output EDM file,

[2018-12-20 14:13] cmsbuild commented on #25528
A new Issue was created by  @lucastorterotot Lucas Torterotot.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-20 14:46] Dr15Jones commented on #25528
@lucastorterotot although in memory we use doubles for `px()`, when we tell ROOT to store the values, we tell it to only store it as precise as a `float` and we tell it to only store the polar coordinates and calculate the cartesian ones when reading back those floats.:

https://github.com/cms-sw/cmssw/blob/master/DataFormats/Candidate/src/classes_def.xml#L6

[2018-12-20 15:20] cmsbuild commented on #25527
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_patch1-slc6_amd64_gcc700/1914

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-20 15:30] lucastorterotot commented on #25528
Thanks @Dr15Jones for your quick answer. I though this double vs float precision mismatch would be less than 10^(-7), but maybe this is also due to the polar to cartesian coordinate switch.

[2018-12-20 15:30] #25528 closed

[2018-12-20 18:54] fabiocos commented on #25527
upload all

[2018-12-20 18:55] cmsbuild commented on #25527
Queing Jenkins upload for slc6_amd64_gcc700

[2018-12-20 18:55] cmsbuild commented on #25527
Queing Jenkins upload for slc7_amd64_gcc700

[2018-12-20 18:56] cmsbuild commented on #25527
The upload has started for slc6_amd64_gcc700 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1247/console

[2018-12-20 18:56] cmsbuild commented on #25527
The upload has started for slc7_amd64_gcc700 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1248/console

[2018-12-20 18:57] cmsbuild commented on #25527
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_patch1-slc6_amd64_gcc700/1247
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-20 18:57] cmsbuild commented on #25527
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-20 18:57] cmsbuild commented on #25527
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_patch1-slc7_amd64_gcc700/1248
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-20 18:57] cmsbuild commented on #25527
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-20 19:05] fabiocos commented on #25527
release-notes

[2018-12-20 19:06] cmsbuild commented on #25527
Generating release notes since CMSSW_10_4_0.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-12-20 19:06] cmsbuild commented on #25527
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_4_0_patch1 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_4_0 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_patch1

Cheers,
cms-bot

You can also click <a href

[2018-12-20 19:07] cmsbuild commented on #25527
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_patch1

[2018-12-20 19:40] fabiocos opened #25542 "Build CMSSW_10_4_0_mtd3"
RELEASE_QUEUE: CMSSW_10_4_X
ARCHITECTURE:slc6_amd64_gcc700,slc7_amd64_gcc700

[2018-12-20 19:41] cmsbuild commented on #25542
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-12-20 19:41] fabiocos commented on #25542
build cmssw-tool-conf

[2018-12-20 19:41] cmsbuild commented on #25542
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-12-20 19:42] cmsbuild commented on #25542
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in cmsbuild93.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1916/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-20 19:42] cmsbuild commented on #25542
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1917/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-20 20:20] cmsbuild commented on #25542
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd3-slc7_amd64_gcc700/1917

[2018-12-21 05:35] cmsbuild commented on #25542
The build has started for slc6_amd64_gcc700 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1918/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-21 05:36] cmsbuild commented on #25542
The build has started for slc7_amd64_gcc700 in cmsbuild97.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1919/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-12-21 09:52] cmsbuild commented on #25542
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd3-slc7_amd64_gcc700/1919
Some tes

[2018-12-21 11:38] cmsbuild commented on #25515
The cleanup has started for slc7_aarch64_gcc700

[2018-12-21 11:38] cmsbuild commented on #25515
The cleanup has started for slc6_amd64_gcc700

[2018-12-21 11:38] cmsbuild commented on #25515
The cleanup has started for slc7_amd64_gcc700

[2018-12-21 11:38] cmsbuild commented on #25515
The cleanup has started for slc7_amd64_gcc820

[2018-12-21 11:38] #25515 closed

[2018-12-21 11:39] cmsbuild commented on #25515
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0-slc7_aarch64_gcc700/1237

[2018-12-21 11:47] cmsbuild commented on #25515
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0-slc7_amd64_gcc820/1239

[2018-12-21 11:48] cmsbuild commented on #25515
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0-slc6_amd64_gcc700/1236

[2018-12-21 11:55] cmsbuild commented on #25515
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0-slc7_amd64_gcc700/1238

[2018-12-21 11:57] cmsbuild commented on #25542
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd3-slc7_amd64_gcc700/1919

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-21 11:59] cmsbuild commented on #25515
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0-slc7_amd64_gcc700/1241

[2018-12-21 12:00] cmsbuild commented on #25515
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0-slc6_amd64_gcc700/1240

[2018-12-21 12:00] cmsbuild commented on #25515
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0-slc7_amd64_gcc820/1242

[2018-12-21 12:10] mmusich commented on #23798
@Dr15Jones  @lpernie @tocheng @poshun

so, I had a look to this issue and found out that the `DetId`s for which we are reading the end of memory (see map below):

![image](https://user-images.githubusercontent.com/5082376/50338784-b889c700-0515-11e9-8fab-2206e5310b76.png)

correspond to those in which in the IOV of interest (128408 of the tag `SiStripApvGain_GR10_v1_offline`) there is no Strip G1

[2018-12-21 13:58] cmsbuild commented on #25542
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd3-slc6_amd64_gcc700/1918
Some tes

[2018-12-21 15:04] Dr15Jones commented on #23798
@mmusich thank you for the detailed explaination. Once an alca L2 has signed this issue, we can close it.

[2018-12-21 16:41] cmsbuild commented on #25542
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd3-slc6_amd64_gcc700/1918

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2018-12-21 16:51] fabiocos commented on #25542
upload all

[2018-12-21 16:52] cmsbuild commented on #25542
Queing Jenkins upload for slc6_amd64_gcc700

[2018-12-21 16:52] cmsbuild commented on #25542
Queing Jenkins upload for slc7_amd64_gcc700

[2018-12-21 16:52] cmsbuild commented on #25542
The upload has started for slc6_amd64_gcc700 in cmsbuild79.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1249/console

[2018-12-21 16:54] cmsbuild commented on #25542
The upload has started for slc7_amd64_gcc700 in cmsbuild97.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1250/console

[2018-12-21 16:56] cmsbuild commented on #25542
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_mtd3-slc7_amd64_gcc700/1250
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-21 16:56] cmsbuild commented on #25542
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-21 16:59] cmsbuild commented on #25542
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_mtd3-slc6_amd64_gcc700/1249
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-12-21 16:59] cmsbuild commented on #25542
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2018-12-21 17:00] fabiocos commented on #25542
release-notes since CMSSW_10_4_0_patch1

[2018-12-21 17:00] cmsbuild commented on #25542
Generating release notes since CMSSW_10_4_0_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-12-21 17:00] cmsbuild commented on #25542
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_4_0_mtd3 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_4_0_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_mtd3

Cheers,
cms-bot

You can also click <a href="m

[2018-12-21 17:01] cmsbuild commented on #25542
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd3

[2018-12-22 18:08] cmsbuild commented on #25527
The cleanup has started for slc6_amd64_gcc700

[2018-12-22 18:08] cmsbuild commented on #25527
The cleanup has started for slc7_amd64_gcc700

[2018-12-22 18:08] #25527 closed

[2018-12-22 18:14] cmsbuild commented on #25527
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_patch1-slc6_amd64_gcc700/1243

[2018-12-22 18:14] cmsbuild commented on #25527
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_patch1-slc7_amd64_gcc700/1244

[2018-12-23 16:08] cmsbuild commented on #25542
The cleanup has started for slc6_amd64_gcc700

[2018-12-23 16:08] cmsbuild commented on #25542
The cleanup has started for slc7_amd64_gcc700

[2018-12-23 16:08] #25542 closed

[2018-12-23 16:09] cmsbuild commented on #25542
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd3-slc7_amd64_gcc700/1248

[2018-12-23 16:13] cmsbuild commented on #25542
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd3-slc6_amd64_gcc700/1247

[2018-12-23 16:17] cmsbuild commented on #25542
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd3-slc6_amd64_gcc700/1245

[2018-12-23 16:17] cmsbuild commented on #25542
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd3-slc7_amd64_gcc700/1246

[2018-12-28 18:50] slava77 opened #25570 "random differences in wf 150.0"
This is to follow up on random differences showing up in comparisons in jenkins tests in wf 150.0.

Several recent examples:
- #25567 using CMSSW_10_5_X_2018-12-27-1100
- #25549 using CMSSW_10_5_X_2018-12-21-1100 and CMSSW_10_5_X_2018-12-25-1100
- #25560 using CMSSW_10_5_X_2018-12-21-1100
- #25536 using CMSSW_10_5_X_2019-01-01-2300
...
- #25620 using CMSSW_10_5_X_2019-01-09-1100
    - #25620 was m

[2018-12-28 18:50] slava77 commented on #25570
assign reconstruction

[2018-12-28 18:50] cmsbuild commented on #25570
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-12-30 22:47] aminnj opened #25573 "Can't access 94X sample ecal/hcalPFClusterIso in 102X"
I'm trying to get a single analysis setup in 102X for various campaigns and found that when I try to read `ecalPFClusterIso` and `hcalPFClusterIso` from pat::Electron in a 102X (10_2_5) release from a 94X sample, I get only 0s. Reading them from a 102X sample is fine. Reading them in a 94X release from a 94X sample is of course also fine.

I think this is due to https://github.com/cms-sw/cmssw/com

[2018-12-30 22:48] cmsbuild commented on #25573
A new Issue was created by  @aminnj Nick Amin.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-31 03:37] slava77 commented on #25573
assign reconstruction,xpog

[2018-12-31 03:37] cmsbuild commented on #25573
New categories assigned: xpog,reconstruction

@slava77,@fgolf,@perrotta,@peruzzim you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-12-31 16:39] Sam-Harper commented on #25573
Hmm no idea why I never wrote an IO rule to do this. I though I had, possibly was having some problems with the fact that variable switches classes (from pat::Electron to reco::GsfElectron)

Done now: https://github.com/Sam-Harper/cmssw/tree/IORulesForPFClusIso_1025. Not entirely sure its 100% legit though, I feel if it was this easy I would have written it already...

@aminnj,  just git cms-merge

[2018-12-31 19:55] aminnj commented on #25573
Hi Sam, that's great! I tried it out and I get values for the two branches that match what I get from 94X (when I use the scan statements above and also when I use a pat::Electron's ecalPFClusterIso() in an EDAnalyzer). Thanks for the quick response!

[2019-01-03 13:41] #25291 closed

[2019-01-03 23:12] kpedro88 commented on #24436
@qliphy please sign this issue (the problem appears to be resolved)

[2019-01-03 23:13] kpedro88 commented on #21129
@bsunanda ping

[2019-01-04 00:03] qliphy commented on #24436
+1

[2019-01-04 00:04] cmsbuild commented on #24436
This issue is fully signed and ready to be closed.

[2019-01-04 00:21] #24436 closed

[2019-01-06 01:18] alberto-sanchez opened #25590 "trigger muon matching failing for miniaod 10_2_x"
While looking at input file
/store/data/Run2018D/Charmonium/MINIAOD/PromptReco-v2/000/324/791/00000/F47432B9-3E0A-6947-AFF4-D64C0E2518EC.root

I found that the trigger matching embedded to the slimmedMuons, fail for a couple of events in the 100 events processed.

Begin processing the 39th record. Run 324791, Event 1000624718, LumiSection 553 on stream 0 at 05-Jan-2019 18:44:52.744 CST
Trigger 430

[2019-01-06 01:19] cmsbuild commented on #25590
A new Issue was created by  @alberto-sanchez Alberto Sanchez Hernandez.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-07 09:42] aminnj commented on #25573
I'll let Sam give a more complete answer, but for what it's worth, I discovered this originally when trying to calculate "HLT safe" cuts for the SUS RA5 electron ID, which I think in nanoAOD corresponds to:
https://github.com/cms-sw/cmssw/blob/3ebe268b47b1c848fca2aeb2a2379df02b46ebd5/PhysicsTools/NanoAOD/python/electrons_cff.py#L51
https://github.com/cms-sw/cmssw/blob/3ebe268b47b1c848fca2aeb2a2379

[2019-01-07 09:47] Sam-Harper commented on #25573
Its not used in any E/gamma supported ID and hence why it was missed. Otherwise we would have seen it. I mean we back port the fix and have a recipe in place. Its only the HLT safe ID which is not supported by E/gamma as its not that HLT safe.

[2019-01-07 17:21] fabiocos commented on #25573
Indeed this seems to be a show-stopper to the plan of pushing users towards 102X also for 94X sample analysis...

[2019-01-07 18:36] Sam-Harper commented on #25573
Also thinking about it, probably is a show stopper for 102X for 80X sample analysis (for other reasons). Anyways will try and submit all the PRs by next week. 102X, 103X, 104X and 105X.

[2019-01-07 18:55] kpedro88 commented on #25573
@Sam-Harper 104X will only be used for Phase2, so you can probably skip that one.

[2019-01-07 19:40] civanch opened #25598 "Back-port the fix of uninitilized variable #25597 to SIM production releases"
It is useful to back-port #25597 and #25620  to SIM/DIGI production releases.

[2019-01-07 19:41] civanch commented on #25598
+simulation

[2019-01-07 19:41] cmsbuild commented on #25598
A new Issue was created by  @civanch Vladimir Ivantchenko.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-07 20:06] aminnj commented on #25573
Hi Sam, as far as I understand, the IO rules will make 102X fully support 94X samples, but what are the other reasons for 80X?

[2019-01-07 20:42] aminnj commented on #25573
Makes sense. Thanks for the clarification.

[2019-01-07 20:53] Dr15Jones commented on #25598
assign simulation

[2019-01-07 20:54] cmsbuild commented on #25598
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-08 15:41] slava77 commented on #25570
Still no resolution.
Since @fabiocos asked for a valgrind command, here is what I'm using:

1. run wf 150.0 workflow out of the box (I use 10 events)
2. rerun the individual steps with valgrind

valgrind command
``` valgrind --tool=memcheck --suppressions=$CMSSW_RELEASE_BASE/src/Utilities/ReleaseScripts/data/cms-valgrind-memcheck.supp --num-callers=20 --xml=yes --xml-file=valgrind-%p.xml --smc-che

[2019-01-08 22:34] slava77 opened #25604 "call TMinuitMinimizer::UseStaticMinuit(false) centrally"
We have an increasing number of places that call ```TMinuitMinimizer::UseStaticMinuit(false)```.
Instead of having to insert this magic where necessary, it would be better to define this at the job start level globally.

[2019-01-08 22:35] cmsbuild commented on #25604
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-11 14:40] kpedro88 opened #25624 "Build CMSSW_10_4_0_mtd4"
RELEASE_QUEUE: CMSSW_10_4_X
ARCHITECTURE:slc6_amd64_gcc700,slc7_amd64_gcc700

[2019-01-11 14:40] cmsbuild commented on #25624
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-01-11 14:41] kpedro88 commented on #25624
build cmssw-tool-conf

[2019-01-11 14:42] cmsbuild commented on #25624
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc700, slc7_amd64_gcc700
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2019-01-11 14:43] cmsbuild commented on #25624
The cmssw-tool-conf build has started for slc6_amd64_gcc700 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1920/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-11 14:43] cmsbuild commented on #25624
The cmssw-tool-conf build has started for slc7_amd64_gcc700 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1921/console
CMSDIST Branch: [IB/CMSSW_10_4_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_4_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-11 15:04] cmsbuild commented on #25624
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd4-slc6_amd64_gcc700/1920

[2019-01-11 15:05] cmsbuild commented on #25624
The cmssw-tool-conf build has finished sucessfully for the architecture slc7_amd64_gcc700 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd4-slc7_amd64_gcc700/1921

[2019-01-11 19:43] cmsbuild commented on #25624
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd4-slc7_amd64_gcc700/1923
Some tes

[2019-01-11 21:34] cmsbuild commented on #25624
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd4-slc7_amd64_gcc700/1923

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-11 23:32] cmsbuild commented on #25624
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd4-slc6_amd64_gcc700/1922
Some tes

[2019-01-12 01:43] cmsbuild commented on #25624
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_4_0_mtd4-slc6_amd64_gcc700/1922

Tests results:
33 32 31 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-12 03:55] kpedro88 commented on #25624
upload all

[2019-01-12 03:55] cmsbuild commented on #25624
Queing Jenkins upload for slc6_amd64_gcc700

[2019-01-12 03:55] cmsbuild commented on #25624
Queing Jenkins upload for slc7_amd64_gcc700

[2019-01-12 03:58] cmsbuild commented on #25624
The upload has started for slc6_amd64_gcc700 in cmsbuild50.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1251/console

[2019-01-12 03:58] cmsbuild commented on #25624
The upload has started for slc7_amd64_gcc700 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1252/console

[2019-01-12 04:00] cmsbuild commented on #25624
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_mtd4-slc7_amd64_gcc700/1252
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-12 04:00] cmsbuild commented on #25624
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-12 04:06] cmsbuild commented on #25624
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_4_0_mtd4-slc6_amd64_gcc700/1251
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-12 04:06] cmsbuild commented on #25624
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-12 04:11] kpedro88 commented on #25624
release-notes since CMSSW_10_4_0_mtd3

[2019-01-12 04:11] cmsbuild commented on #25624
Generating release notes since CMSSW_10_4_0_mtd3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-01-12 04:11] cmsbuild commented on #25624
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_4_0_mtd4 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_4_0_mtd3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_4_0_mtd4

Cheers,
cms-bot

You can also click <a href="mai

[2019-01-12 04:13] cmsbuild commented on #25624
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_4_0_mtd4

[2019-01-12 16:43] Dr15Jones opened #25638 "Random crashes related to Pythia8GeneratorFilter"
In the IB RelVals, we infrequently see crashes in jobs using Pythia8GeneratorFilter. The tracebacks are not always the same, but they do all seem to relate with putting data into the edm::Event.

[2019-01-12 16:43] cmsbuild commented on #25638
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-12 16:47] Dr15Jones commented on #25638
A recent traceback is from workflow 250206.118 (although similar crashes happen in other workflows as well)
[code]

One aspect of the put would be a call to copy or move the `edm::HepMCProduct'. So if its memory was corrupted, it could lead to a crash.

[2019-01-12 16:54] Dr15Jones commented on #25638
The line where the crash for the traceback given above is
https://github.com/cms-sw/cmssw/blob/1ada420edcc0650a777cee5b3850c12ca01c5aec/GeneratorInterface/Core/interface/HadronizerFilter.h#L284

Where the `edm::HepMCProduct` is created two lines before and has taken ownership of the `HepMC::GenEvent` instance. If that `HepMC::GenEvent` were deleted earlier, it could account for the problem.

[2019-01-12 16:57] Dr15Jones commented on #25638
assign generator

[2019-01-12 16:57] Dr15Jones commented on #25638
assign core

[2019-01-12 16:58] cmsbuild commented on #25638
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-12 17:02] Dr15Jones commented on #25638
The configuration of the module in the job which crashed is
[code]

[2019-01-12 17:08] Dr15Jones commented on #25638
In the configuration, `HepMCFilter` does not exist so no filtering is done, which means the crash can not be caused by memory problems related to the filter. Also `nAttempts` does not exist which means reseting of weights does not happen as well. `ExternalDecays` is set so the memory problem could be related to the use of a decayer.

[2019-01-12 17:20] Dr15Jones commented on #25638
The decayer being used is here
https://github.com/cms-sw/cmssw/blob/1ada420edcc0650a777cee5b3850c12ca01c5aec/GeneratorInterface/EvtGenInterface/plugins/EvtGen/EvtGenInterface.cc

I did not see an obvious memory problem related to `HepMC::GenEvent`. Also, the `lhef::LHEEvent` is not even used in this module instance because it is only used by Tauola decayer.

[2019-01-12 20:44] Dr15Jones commented on #14897
I think we have another piece of the puzzle here. The Address Santitizer found the following:

https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc700/CMSSW_10_5_ASAN_X_2019-01-11-2300/pyRelValMatrixLogs/run/10802.0_SingleElectronPt35+SingleElectronPt35_pythia8_2018_GenSimFullINPUT+DigiFull_2018+RecoFull_2018+HARVESTFull_2018+ALCAFull_2018+NanoFull_2018/step3_SingleElectronPt35+SingleElectr

[2019-01-12 23:15] Dr15Jones opened #25641 "Remove use of strtok in CMSSW"
The C function `strtok` is thread hostile as it internally holds static memory. It can relatively easily be replaced by calling `strtok_r` instead.

[2019-01-12 23:15] Dr15Jones commented on #25641
assign core

[2019-01-12 23:15] cmsbuild commented on #25641
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-12 23:15] cmsbuild commented on #25641
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-14 03:31] cmsbuild commented on #25624
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_4_0_mtd4-slc6_amd64_gcc700/1249

[2019-01-14 13:06] slava77 commented on #25573
@Sam-Harper
please clarify on the status of making a PR with your fix.
Thank you.

[2019-01-14 13:40] Dr15Jones commented on #25638
@fabiocos yes

[2019-01-14 17:14] dan131riley commented on #14897
Good find.  I would bet on strtok() being the cause of the crash.  It writes null characters into the saved string, and the corruption looks like thread 0 writing a null into a localDescript that was on the stack of thread 2.  Good to get both problems fixed, I'll bet it finally resolves this issue.

[2019-01-14 21:05] Dr15Jones commented on #25641
The following pull requests remove all uses of `strtok`: #25654 #25655 #25656 #25657 #25658 #25660

[2019-01-14 22:12] makortel opened #25664 "[RFC] Modernizing product retrieval from Event"
Currently products can be retrieved from `edm::Event` with
[code]
In above the `token_` can also be the untyped `edm::EDGetToken` (or `edm::InputTag` with `getByLabel()`).

These retrieval calls could be modernized by introducing `edm::ValidHandle<T>`, which would check the existence of the product in its constructor. Compared to `edm::Handle`, it would be faster to use as its accessors would not

[2019-01-14 22:12] cmsbuild commented on #25664
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-14 22:32] makortel opened #25665 "[RFC] Modernizing product retrieval from EventSetup"
Currently products can be retrieved from `edm::EventSetup` with
[code]

The interface could be modernized along
[code]

[2019-01-14 22:33] cmsbuild commented on #25665
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-14 22:45] Dr15Jones commented on #25665
assign core

[2019-01-14 22:45] cmsbuild commented on #25665
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-14 22:46] guitargeek commented on #25664
I love that "issue", that interface would be a great update to the framework!

What would you think of shortening `iEvent.getHandle(token_).makeValidHandle();` to `iEvent.getValidHandle(token_)`? Then I can at least say I was foreshadowing the new interface with my weird MultiToken class [1] :D

[1] https://github.com/cms-sw/cmssw/blob/master/RecoEgamma/EgammaTools/interface/MultiToken.h#L95

[2019-01-15 09:07] Sam-Harper commented on #25573
Running the validation now. Takes about an hour or so. After that I'll submit all the PRs. So today. Thanks for the reminder.

[2019-01-15 15:47] Sam-Harper commented on #25573
Okay submitted now.

[2019-01-15 17:44] kpedro88 opened #25674 "Build CMSSW_9_3_13_patch3"

[2019-01-15 17:44] cmsbuild commented on #25674
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-01-15 17:45] kpedro88 commented on #25674
+1

[2019-01-15 17:45] cmsbuild commented on #25674
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_13_patch3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2019-01-15 17:45] cmsbuild commented on #25674
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-01-15 17:46] cmsbuild commented on #25674
The build has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1924/console
CMSDIST Branch: [REL/CMSSW_9_3_13/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_13/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-15 17:47] cmsbuild commented on #25674
The build has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1925/console
CMSDIST Branch: [REL/CMSSW_9_3_13/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_13/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-15 18:14] cmsbuild commented on #25674
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch3-slc7_amd64_gcc630/1925
Some t

[2019-01-15 18:17] cmsbuild commented on #25674
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch3-slc6_amd64_gcc630/1924
Some t

[2019-01-15 19:11] cmsbuild commented on #25674
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch3-slc7_amd64_gcc630/1925

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-01-15 19:21] cmsbuild commented on #25674
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_13_patch3-slc6_amd64_gcc630/1924

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2019-01-15 21:03] kpedro88 commented on #25674
upload all

[2019-01-15 21:04] cmsbuild commented on #25674
Queing Jenkins upload for slc6_amd64_gcc630

[2019-01-15 21:04] cmsbuild commented on #25674
Queing Jenkins upload for slc7_amd64_gcc630

[2019-01-15 21:04] cmsbuild commented on #25674
The upload has started for slc7_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1254/console

[2019-01-15 21:04] cmsbuild commented on #25674
The upload has started for slc6_amd64_gcc630 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1253/console

[2019-01-15 21:05] cmsbuild commented on #25674
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_13_patch3-slc7_amd64_gcc630/1254
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-15 21:05] cmsbuild commented on #25674
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_13_patch3-slc6_amd64_gcc630/1253
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-15 21:05] cmsbuild commented on #25674
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-15 21:05] cmsbuild commented on #25674
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-15 21:33] kpedro88 commented on #25674
release-notes since CMSSW_9_3_13_patch2

[2019-01-15 21:35] cmsbuild commented on #25674
Generating release notes since CMSSW_9_3_13_patch2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-01-15 21:35] cmsbuild commented on #25674
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_13_patch3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_13_patch2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_13_patch3

Cheers,
cms-bot

You can also click

[2019-01-15 21:36] cmsbuild commented on #25674
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_13_patch3

[2019-01-16 09:35] schneiml commented on #18606
@VinInn what is the current status here? I think migrating to an `ESProducer` for some PixelPhase1 stuff is still relevant, we might want to pass that down to Tracker DQM or I can do it myself at some point...

Else, we should close this issue.

[2019-01-16 09:35] davidlange6 commented on #18014
you would have to go back in your inbox to understand at this point, dqm ignored this request from the ORP for 1.5 years...

[2019-01-16 09:39] schneiml commented on #20188
@Dr15Jones if this is fixed, can the issue be closed?

[2019-01-16 09:44] schneiml commented on #21358
@Dr15Jones is this issue still observed somewhere? Where could we check that?

[2019-01-16 09:46] schneiml commented on #21423
@Dr15Jones , @tanmaymudholkar do the two mentioned PRs fix this for good? In that case, the issue should be closed.

[2019-01-16 09:51] schneiml commented on #21880
@fwyzard Was this ever properly resolved?

[2019-01-16 09:53] fwyzard commented on #21880
No idea, this was too long ago.

[2019-01-16 09:54] schneiml commented on #22182
@dan131riley , @Dr15Jones is there anything to do on our (DQM) side? It seems the problem was not fully understood from the core side.

[2019-01-16 10:02] schneiml commented on #22203
@fwyzard we'd like to, but there are still _a lot_ of legacy modules, and a number of them probably only work by accident. We'll try to push the respective subsystems during the long shutdown to fix them.

For now, we can only try to keep them out of the way of the production sequences. If you have any more recent comments on these problems, let us know; we will have another attempt to fix some of

[2019-01-16 10:13] tanmaymudholkar commented on #21423
@schneiml : yes, the issue is fixed in ECAL DQM. Please feel free to close the issue.

[2019-01-16 10:14] schneiml commented on #24376
@slava77 sounds like this should be closed.

[2019-01-16 12:41] Dr15Jones commented on #21423
@schneiml when the DQM L2 are satisfied an issue assigned to dqm is done, you just have to make the ‘+1’ comment like in a pull request to signify the issue can be closed. The original creator of the pull request does not need to be the one to close it.

[2019-01-16 12:48] slava77 commented on #24376
ok, closing.

[2019-01-16 12:48] #24376 closed

[2019-01-16 14:10] Dr15Jones commented on #15369
This looks like this was changed here:
https://github.com/cms-sw/cmssw/commit/e03797c768c1d484e8611f44ce33dc0f4e3fb851#diff-ffc4e69308058437f73ef09fc1b71c28

[2019-01-16 14:11] #15369 closed

[2019-01-16 14:16] Dr15Jones commented on #15769
If there are problems in existing configuration, those configurations will no longer run since we changed the warning message to be a fatal exception more than a year ago.

[2019-01-16 14:17] #15769 closed

[2019-01-16 14:31] Dr15Jones commented on #21358
@schneiml I suggest looking at the git history for the line of code mentioned in this issue and see if it has been changed since this issue was created.

[2019-01-16 14:59] amaltaro commented on #25292
I take it this fix is available for any release >=10.4.0, is that correct?
Since the fix has been merged to master, should we close this issue?

[2019-01-16 15:00] slava77 commented on #24795
@prebello
was there any progress on this issue (perhaps outside this thread).
We have quite a bit of code coming for CTPPS updates and there is apparently no physics quality data in our matrix tests.

@nminafra @jan-kaspar @forthommel
In the PR description I picked up possible runs 319176 or 319270.
Are they good or do we have something better?

In the meantime, are the runs 314890 and 314276 (Com

[2019-01-16 15:13] andrius-k commented on #21423
+1

[2019-01-16 15:14] cmsbuild commented on #21423
This issue is fully signed and ready to be closed.

[2019-01-16 15:41] prebello commented on #24795
@slava77 the actual runs and Lumis in the wfs are
RunhBStarTk={314890: [[500, 700]]}
RunhBStarRP={314276: [[1, 200]]}
so apart from runs, the proper Lumi range information for your purposes is useful
'--conditions':'auto:run2_data_promptlike' (that depends on the release adopted)

[2019-01-16 15:56] slava77 commented on #24795
On 1/16/19 7:41 AM, Patricia Rebello Teles wrote:

Sure, please see the original issue text:
runs 319176 or 319270 can be used.
https://cms-service-dqm.web.cern.ch/cms-service-dqm/CAF/certification/Collisions18/13TeV/PromptReco/Cert_319104-319311_13TeV_PromptReco_SpecialCollisions18_TOTEM_JSON.txt
shows that 319176 [1, 1803] are good
and 319270": [1, 206] is good.
Either an update to the inputs in

[2019-01-16 16:11] Dr15Jones commented on #25292
That is correct

Closing also would mean there is no further request to backport a change.

[2019-01-16 17:19] dan131riley commented on #22182
We did conclude that OuterTrackerMonitorTTStub::beginRun was not responsible for the crash, so I'll close this ticket.  The inefficient copying of ParameterSets is still there in OuterTrackerMonitorTTStub::bookHistograms, but that only runs once per run, so I guess it's not worth keeping the ticket open.

[2019-01-16 17:19] #22182 closed

[2019-01-16 18:30] fabiocos commented on #25570
@slava77 after the merge of #25653 this issue becomes effectively obsolete

[2019-01-16 19:11] slava77 commented on #25570
On 1/16/19 10:30 AM, Fabio Cossutti wrote:

Well, this is simply invisible for the standard short/jenkins tests, not
obsolete in the scope of available runTheMatrix.py workflows.

[2019-01-17 06:48] perrotta commented on #21787
+1
- Fixed by #25668, now merged in the master

[2019-01-17 11:45] fabiocos opened #25689 "Build CMSSW_10_2_10"

[2019-01-17 11:45] cmsbuild commented on #25689
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2019-01-17 11:50] fabiocos commented on #25689
+1

[2019-01-17 11:51] cmsbuild commented on #25689
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_2_10. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_2_X

[2019-01-17 11:51] cmsbuild commented on #25689
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc6_amd64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2019-01-17 11:53] cmsbuild commented on #25689
The build has started for slc6_amd64_gcc700 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1926/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-17 11:54] cmsbuild commented on #25689
The build has started for slc7_amd64_gcc700 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1927/console
CMSDIST Branch: [IB/CMSSW_10_2_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_2_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2019-01-17 15:16] slava77 opened #25690 "migrate PPS data format interfaces to drop get prefix in member access methods"
this is partly coming out from the discussion in #25465

@forthommel @jan-kaspar

[2019-01-17 15:17] slava77 commented on #25690
assign reconstruction

[2019-01-17 15:17] cmsbuild commented on #25690
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-17 15:17] cmsbuild commented on #25690
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-17 15:34] slava77 commented on #25690
On 1/17/19 7:26 AM, jan-kaspar wrote:

I think that it better be "for UL rereco"
IIUC, almost all of your changes are already submitted as PRs under
review or merged.
This leaves enough time for this mostly technical migration to happen by
some time in April.

all

[2019-01-17 15:48] jan-kaspar commented on #25690
Somewhat related question - at some point we should like to consistently rename CTPPS to PPS. What would be your timescale recommendation wrt. the UL re-reco?

[2019-01-17 15:55] forthommel commented on #25690
Indeed, I was about to ask: shall we consider doing these two aesthetic changes in one go? In that sense, it would "allow to break" backward-compatibility of any consumer code and avoid a mixed API state.

[2019-01-17 16:03] cmsbuild commented on #25689
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_10-slc7_amd64_gcc700/1927
Some tests (

[2019-01-17 17:52] cmsbuild commented on #25689
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_10-slc7_amd64_gcc700/1927

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-17 18:15] cmsbuild commented on #25689
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_10-slc6_amd64_gcc700/1926
Some tests (

[2019-01-17 19:13] makortel commented on #25664
We should add to the contract of `Event::get()` that the caller is not permitted to store pointers/references to the returned product (or to anything it contains) that would live beyond the end of the `analyze()`/`produce()`/`filter()` function. Then this piece of information could be used in improving "early deletion" of event products (#16481).

[2019-01-17 20:12] cmsbuild commented on #25689
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_2_10-slc6_amd64_gcc700/1926

Tests results:
31 30 29 24 11 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2019-01-17 20:38] cmsbuild commented on #25674
The cleanup has started for slc6_amd64_gcc630

[2019-01-17 20:38] cmsbuild commented on #25674
The cleanup has started for slc7_amd64_gcc630

[2019-01-17 20:38] #25674 closed

[2019-01-17 20:42] cmsbuild commented on #25674
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_13_patch3-slc6_amd64_gcc630/1253

[2019-01-17 20:43] cmsbuild commented on #25674
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_13_patch3-slc7_amd64_gcc630/1254

[2019-01-18 16:12] fabiocos commented on #25689
upload all

[2019-01-18 16:12] cmsbuild commented on #25689
Queing Jenkins upload for slc6_amd64_gcc700

[2019-01-18 16:12] cmsbuild commented on #25689
Queing Jenkins upload for slc7_amd64_gcc700

[2019-01-18 16:14] cmsbuild commented on #25689
The upload has started for slc6_amd64_gcc700 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1255/console

[2019-01-18 16:14] cmsbuild commented on #25689
The upload has started for slc7_amd64_gcc700 in cmsbuild83.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1256/console

[2019-01-18 16:15] cmsbuild commented on #25689
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_10-slc7_amd64_gcc700/1256
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-18 16:15] cmsbuild commented on #25689
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architecture I will use the production architecture to infer the cm

[2019-01-18 16:19] cmsbuild commented on #25689
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_2_10-slc6_amd64_gcc700/1255
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2019-01-18 16:22] fabiocos opened #25702 "Verify that uniqueness of named bins is not spoiling HLT monitoring"
In order to migrate to the newest ROOT where histograms with named bins are merged via the bin's name, not the index, some code updates were proposed to the HLT monitoring code in #25569.
Although technically working, it would be useful to validate the output of this move, ensuring that the obtained histograms are correct according to the original design.

[2019-01-18 16:23] cmsbuild commented on #25702
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-18 16:23] cmsbuild commented on #25689
Generating release notes since CMSSW_10_2_9.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2019-01-18 16:23] fabiocos commented on #25702
assign hlt

[2019-01-18 16:23] cmsbuild commented on #25689
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_2_10 is now available for the following architectures:

slc6_amd64_gcc700 (production)
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_2_9 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_2_10

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-re

[2019-01-18 16:23] cmsbuild commented on #25702
New categories assigned: hlt

@Martin-Grunewald,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-01-18 16:45] Martin-Grunewald commented on #25702
@mtosi @gennai

[2019-01-19 18:24] srimanob opened #25708 "Crash when reading new LS in LHE dataset and local file"
There are reports about issue on pLHE + GS central production at (*). I've tested and found that if I produce LHE file locally with LS 1 for all events, things run fine. If I start to assign events_per_LS, or using LHE datasets which are centrally produced, I will get crash after running at the new LS.

Do someone have hints? As I check, we have not produced pLHE + GS in central production since l