[2018-02-14 09:07] cmsbuild commented on #22207
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-14 09:07] fabozzi commented on #22197
I see that in short matrix we have a re-miniAOD test:
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/scripts/runTheMatrix.py#L59

Should we add one 94X re-miniAOD wf's in the short matrix as well?

[2018-02-14 09:08] fabiocos commented on #22207
@perrotta @slava77 @rekovic FYI

[2018-02-14 09:25] fwyzard commented on #22203
After playing around and some thinking I'm wondering: the migration of the `DQMEDAnalyzer` from `stream::EDAnalyzer` to `one::EDProducer<edm::Accumulator>`  will not solve these kind of prolems (i.e. the interaction with DQM `edm::EDAnalyzer` legacy modules; in fact, it will exacerbate the problem, because *all* booking will happen in the global `beginRun()` methods.

[2018-02-14 09:26] fwyzard commented on #22203
If my conclusion is correct, maybe the DQM Core team should *first* fix all the legacy DQM modules, and *then* proceed with the migration ?

[2018-02-14 11:27] gpetruc commented on #22207
Uhm, apparently the MC event believes to be using prescale column 1 (read from the event), while the prescale table (retrieved from the event setup has only one column), so the thing crashes.
I can put a protection like in https://github.com/cms-sw/cmssw/blob/master/L1Trigger/L1TGlobal/src/L1TGlobalUtil.cc#L157-L164 but it would be better to understand upstream why this is happening.

[2018-02-14 12:17] rekovic commented on #22207
attn @apana

[2018-02-14 12:55] makortel commented on #21704
Addessed by #22210.

[2018-02-14 13:14] slava77 commented on #22197
On 2/14/18 1:07 AM, fabozzi wrote:

yes, I think so.
But perhaps we need to make it run first (the tau issue) ;)

[2018-02-14 13:20] slava77 commented on #22207
assign l1

[2018-02-14 13:20] cmsbuild commented on #22207
New categories assigned: l1

@thomreis,@nsmith-,@rekovic you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-14 13:27] intrepid42 opened #22214 "Dire performance in CMSSW vs. stand-alone"
Hi, I hope somebody has an idea on this performance problem: I want to generate+analyze pp events using the Dire shower plugin but the code hangs in pythia::next().

* It works when I turn off initial-state shower.
* It works when I set '-s 4000000' and turn off any additional modules (`pgen` some analysis modules)
* It works without problems and 10x faster with a standalone Pythia+Dire installati

[2018-02-14 14:14] fabiocos opened #22220 "Build CMSSW_9_3_6_patch2"

[2018-02-14 14:14] cmsbuild commented on #22220
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-02-14 14:15] fabiocos commented on #22220
+1

[2018-02-14 14:15] cmsbuild commented on #22220
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_6_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-02-14 14:15] cmsbuild commented on #22220
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-02-14 14:16] cmsbuild commented on #22220
The build has started for slc6_amd64_gcc630 in cmsbuild44.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1493/console
CMSDIST Branch: [REL/CMSSW_9_3_6/slc6_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_6/slc6_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-02-14 14:19] cmsbuild commented on #22220
The build has started for slc7_amd64_gcc630 in cmsbuild49.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1494/console
CMSDIST Branch: [REL/CMSSW_9_3_6/slc7_amd64_gcc630](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_9_3_6/slc7_amd64_gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-02-14 14:21] Dr15Jones commented on #21769
@dan131riley could you create a pull request to CMSSW to switch the system to use `kSerial`? I strongly doubt that there are enough entries to make parallel faster anyway.

[2018-02-14 14:42] slava77 commented on #22207
Notably, 1325.5 is "--era Run2_2016,run2_miniAOD_80XLegacy"
the input is a file made in 80X release.

If the column choice was different there and is a property of the 80X data, then the run2_miniAOD_80XLegacy modifier can be used to pick a more appropriate value.

[2018-02-14 14:42] cmsbuild commented on #22220
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6_patch2-slc6_amd64_gcc630/1493
Some te

[2018-02-14 14:42] cmsbuild commented on #22220
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6_patch2-slc7_amd64_gcc630/1494
Some te

[2018-02-14 14:44] slava77 commented on #22207
assign reconstruction

[2018-02-14 14:44] cmsbuild commented on #22207
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-14 14:44] slava77 commented on #22207
@gpetruc
given that we were "happy" running on 1325.5 with the older setting of ReadPrescalesFromFile, perhaps you can modify
that value for run2_miniAOD_80XLegacy and we will have the wf running

[2018-02-14 14:51] Dr15Jones commented on #22135
This happened again
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-14-0000/pyRelValMatrixLogs/run/1325.5_TTbar_13_reminiaodINPUT+TTbar_13_reminiaodINPUT+REMINIAOD_mc2016+HARVESTDR2_REMINIAOD_mc2016/step2_TTbar_13_reminiaodINPUT+TTbar_13_reminiaodINPUT+REMINIAOD_mc2016+HARVESTDR2_REMINIAOD_mc2016.log

with traceback
[code]

[2018-02-14 14:52] gpetruc commented on #22207
On Wed, Feb 14, 2018 at 3:44 PM, Slava Krutelyov <notifications@github.com>
wrote:

we were happy in the sense of "no crashes", but it's not clear to me if we
were reading any sensible value for the L1 prescales.

Giovanni

[2018-02-14 14:55] Dr15Jones commented on #22151
#22150 solves this but is not the best solution.

[2018-02-14 15:26] fabiocos commented on #22214
assign generators

[2018-02-14 15:26] cmsbuild commented on #22214
New categories assigned: generators

@perrozzi,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-14 15:36] cmsbuild commented on #22220
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6_patch2-slc6_amd64_gcc630/1493

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-14 15:38] cmsbuild commented on #22220
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_6_patch2-slc7_amd64_gcc630/1494

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-14 16:56] fabiocos commented on #22220
upload all

[2018-02-14 16:57] cmsbuild commented on #22220
Queing Jenkins upload for slc6_amd64_gcc630

[2018-02-14 16:57] cmsbuild commented on #22220
Queing Jenkins upload for slc7_amd64_gcc630

[2018-02-14 16:57] cmsbuild commented on #22220
The upload has started for slc6_amd64_gcc630 in cmsbuild44.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/997/console

[2018-02-14 16:57] cmsbuild commented on #22220
The upload has started for slc7_amd64_gcc630 in cmsbuild49.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/998/console

[2018-02-14 16:58] cmsbuild commented on #22220
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_6_patch2-slc7_amd64_gcc630/998
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-14 16:58] cmsbuild commented on #22220
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-14 16:59] cmsbuild commented on #22220
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_6_patch2-slc6_amd64_gcc630/997
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-14 16:59] cmsbuild commented on #22220
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-14 17:30] slava77 commented on #22207
right. If this lingers unanswered for more than a day, I'd rather we restore running in 1325.5 around Feb 15

[2018-02-14 17:58] fabiocos commented on #22220
release-notes since CMSSW_9_3_6_patch1

[2018-02-14 17:59] cmsbuild commented on #22220
Generating release notes since CMSSW_9_3_6_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-02-14 17:59] cmsbuild commented on #22220
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_9_3_6_patch2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_9_3_6_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_3_6_patch2

Cheers,
cms-bot

You can also click <a

[2018-02-14 17:59] cmsbuild commented on #22220
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_6_patch2

[2018-02-14 18:57] Dr15Jones commented on #21862
#22224 is a quick modification which adds the information. A more extensive change which uses different colors for the transition types could still be done.

[2018-02-14 19:16] dan131riley commented on #21769
There's no option to set this globally...for `TH1::Fit()` it can only be set by adding "SERIAL" to the options.  I'll do that for the BeamSpotProducer and then see where else it is called.

wrt isolating the fit evaluation, using a separate `task_arena` isn't a good option because of the overheads, `task_arena::isolate` is the better choice.

[2018-02-14 19:25] pcanal commented on #21769
Related question.  Do you know/remember why this code is not using TMinuit2?

[2018-02-14 19:39] Dr15Jones commented on #21769
@pcanal how do you tell `TH1::Fit` to use TMinuit2?

[2018-02-14 19:47] Dr15Jones commented on #22003
Done in #22225

[2018-02-14 19:47] #22003 closed

[2018-02-14 19:56] pcanal commented on #21769
It looks like you need to call ROOT::Math::MinimizerOptions::SetDefaultMinimizer :)

[2018-02-14 23:07] dildick commented on #16218
this issue can be closed

[2018-02-14 23:15] dildick commented on #16121
This issue can be closed. `CSCTriggerGeometry` and `CSCTriggerGeomManager` were removed. `CSCTriggerPrimitivesProducer` was made thread-safe. See #21655 and #20509.

[2018-02-15 00:22] #16218 closed

[2018-02-15 04:34] apana commented on #22207
Hi Slava, Giovanni,

Sorry, I was offline most of the day and only now saw this issue.  I'm looking into it and will report back later today.

[2018-02-15 08:20] fabiocos commented on #22207
@apana I agree with Slava, either this we have a solution by today, or better to revert the change until it is provided.

[2018-02-15 08:52] fabiocos opened #22230 "Crash in EcalDAQ_O2O_test"
The test EcalDAQ_O2O_test in CondTools/Ecal is crashing in the IB for all architectures since CMSSW_10_1_X_2018-02-14-2300 apparently after the inclusion of #22198 affecting it:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-14-2300/unitTestLogs/CondTools/Ecal

This causes a number of PR tests to fails as well. But the test was running smoothly at the time of

[2018-02-15 08:53] cmsbuild commented on #22230
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-15 08:56] fabiocos commented on #22230
@ggovi @smuzaffar do you see anything changed in the test infrastructure that could cause this? The file .netrc mentioned in the crash report is not part of the PR itself.

[2018-02-15 09:00] fabiocos commented on #21884
As the cause and the possible fix is understood, I close this issue. In any case, we will try to move back to new ABI asap and this should solve it.

[2018-02-15 09:00] #21884 closed

[2018-02-15 09:02] fabiocos commented on #21963
@thomreis @fabozzi @prebello The PR with the update of the L1 sequences has been merged, I expect to see in the validation of 10_1_0_pre2 a confirmation that the new functionality is now fully working

[2018-02-15 09:02] #21963 closed

[2018-02-15 09:03] fabiocos commented on #22089
I close the issue as we haven't seen this problema again. We will reopen it in case.

[2018-02-15 09:03] #22089 closed

[2018-02-15 09:09] ggovi commented on #22230
@fabiocos
yes the .netrc has been accidentally overwritten, we are fixing it.

[2018-02-15 09:44] fabiocos opened #22232 "Fix the FastSim input MinBias for PU samples"
The FastSim code migration made before 10_1_0_pre1 build with #20666 is breaking the existing relVal wf with PU because the old MinBias files are incompatible, content-wise, with the new code (different collection name because of different producer name).
10_1_0_pre1 FastSim files should replace the old ones in PyReleaseValidation to prevent crashes.

[2018-02-15 09:44] cmsbuild commented on #22232
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-15 09:45] fabiocos commented on #22232
assign pdmv

[2018-02-15 09:45] cmsbuild commented on #22232
New categories assigned: pdmv

@fabozzi,@prebello,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-15 09:46] fabiocos commented on #22232
Dear PdmV experts, when do you expect we can have the files and the corresponding fix in the IB?

[2018-02-15 10:02] smuzaffar commented on #22230
@fabiocos , @ggovi , net .netrc has been deployed on all build nodes

[2018-02-15 11:30] perrotta opened #22234 "Some clean up needed in CondFormats/GEMObjects"
Please take the following into account before planning further developments in this package:
- ME0ROmap.h and GEMROmap.h are identical, apart the DetID class: do you plan to template them, in order to easen the maintenance of that classes?
- This is even more true for the GEMDeadStrips/ME0DeadStrips and GEMMaskedStrips/ME0MaskedStrips classes, which are exactly identical and don't even need to be

[2018-02-15 11:31] cmsbuild commented on #22234
A new Issue was created by  @perrotta .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-15 11:31] perrotta commented on #22234
assign db

[2018-02-15 11:31] cmsbuild commented on #22234
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-15 15:18] smuzaffar commented on #22230
this is fixed now

[2018-02-15 15:18] #22230 closed

[2018-02-15 15:27] apana commented on #22207
Hi Fabio,

I want to take a little time and make sure I fully investigate the
situation. I also don't want to hold up the release cycle so please feel
free to go ahead and revert the change. I'll try to come up with a proper
fix in the next day or so.

-Len

On Thu, Feb 15, 2018 at 2:20 AM, Fabio Cossutti <notifications@github.com>
wrote:

[2018-02-15 15:42] gpetruc commented on #22207
If this is the only failing workflow, I'll then temporarily reset the parameter to false in the `run2_miniAOD_80XLegacy` era.

Giovanni

[2018-02-15 16:18] gpetruc commented on #22207
done in https://github.com/cms-sw/cmssw/pull/22239

[2018-02-15 16:29] fabiocos commented on #22207
@gpetruc @apana thanks, this is the only wf suffering a crash from the original PR by Giovanni, I think the best thing is finding a proper solution with calm. I will integrate the temporary solution by Giovanni, and when we have the fix from L1 we can just remove it.

[2018-02-15 20:31] Dr15Jones opened #22247 "ASAN found out-of-bound read in TrackCleaner::isCompatible"
The address sanatizer (ASAN) IB found a problem:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc700/CMSSW_10_1_ASAN_X_2018-02-14-0000/pyRelValMatrixLogs/run/302.0_Pyquen_ZeemumuJets_pt10_2760GeV+Pyquen_ZeemumuJets_pt10_2760GeV+DIGIHIMIX+RECOHIMIX+HARVESTHI2018/step3_Pyquen_ZeemumuJets_pt10_2760GeV+Pyquen_ZeemumuJets_pt10_2760GeV+DIGIHIMIX+RECOHIMIX+HARVESTHI2018.log

which from the log

[2018-02-15 20:31] cmsbuild commented on #22247
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-15 20:31] Dr15Jones commented on #22247
assign reconstruction

[2018-02-15 20:31] cmsbuild commented on #22247
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-15 20:57] slava77 commented on #22247
@VinInn  @makortel

please take a look and clarify if you can follow up with a fix or if this should be directed to someone else.
Thank you.

[2018-02-15 22:27] wddgit commented on #22168
PR #22249 should address this issue and when/if merged allow us to close it.

[2018-02-16 02:03] prebello commented on #22232
Dear @fabiocos
The requested input
/RelValMinBiasFS_13_ForMixing/CMSSW_10_1_0_pre1-100X_mcRun2_asymptotic_v2_FastSim-v1/GEN-SIM-RECO
is announced.
It will be tested in the latest IB to open PR with FastSim and GENSIM string updates in 10_1_X, all by tomorrow (Friday).

[2018-02-16 06:33] dildick commented on #22234
Hi Andrea, you bring up a good point. A lot of the code between ME0 and GEM is shared. The GEM DPG group is looking into options to merge the ME0 entirely into the GEM system.

[2018-02-16 07:59] fabiocos commented on #22232
@prebello excellent, thanks, as soon as tests are fine please post a PR, so as we can have running wfs hopefully by the week-end

[2018-02-16 08:13] makortel commented on #22247
This issue is a duplicate of #21313, see discussion there. Quoting the last comment by @VinInn

[2018-02-16 17:08] cmsbuild commented on #22220
The cleanup has started for slc6_amd64_gcc630

[2018-02-16 17:08] cmsbuild commented on #22220
The cleanup has started for slc7_amd64_gcc630

[2018-02-16 17:08] #22220 closed

[2018-02-16 17:12] cmsbuild commented on #22220
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_6_patch2-slc6_amd64_gcc630/900

[2018-02-16 17:13] cmsbuild commented on #22220
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_9_3_6_patch2-slc7_amd64_gcc630/901

[2018-02-16 18:21] prebello commented on #22232
Dear @fabiocos please consider to merge #22255 and #22256 together. Thank you

[2018-02-17 15:04] fabiocos commented on #22232
@prebello they are now both merged

[2018-02-18 16:16] fabiocos commented on #22161
@alja @ianna the fix has been integrated, is this finally solving the problem and closing the issue?

[2018-02-19 16:00] makortel opened #22266 "Undefined behaviour in MixCollection"
I believe there is undefined behaviour in `MixCollection<T>` (a utility class to iterate over `CrossingFrame<T>`s).

`MixCollection<T>` defines an iterator, `MixCollection<T>::MixItr`. Internally `MixItr` holds two `std::vector<const T*>::const_iterator`'s that mark the beginning and end of iteration for some signal or pileup collection of a single `CrossingFrame<T>`
https://github.com/cms-sw/cmss

[2018-02-19 16:00] cmsbuild commented on #22266
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-19 17:51] Dr15Jones commented on #22266
assign simulation

[2018-02-19 17:52] cmsbuild commented on #22266
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-20 10:34] makortel commented on #22266
I realized the issue while investigating https://github.com/cms-sw/cmssw/pull/22069#issuecomment-364043741.

Minimal fix is in #22270.

The `MixCollection<T>::MixItr` has more room for improvement though, e.g. post-fix `operator++()` is implemented (incorrectly) as the pre-fix operator, but I leave it up to a discussion whether those should be addressed as well.

[2018-02-20 13:11] fwyzard commented on #22203
@schneiml, @dmitrijus, @vazzolini, @kmaeshima, @jfernan2, please have a look

[2018-02-20 14:21] dan131riley commented on #21769
Setting serial seems to have a bad interaction with the GSL integrator?

[code]

[2018-02-20 14:32] fabiocos opened #22275 "Failure of wf 562.0 in IB in ExternalLHEProducer"
Since CMSSW_10_1_X_2018-02-19-1100 the wf 562 is failing in the ExternalLHEProducer due to a missing file. The problem is reproducible:

failed with is_open
Failed opening or parsing systematics file events_presys.lhe
XML Error: 0
total 4428
-rw-r--r--.  1 fabiocos zh 4516942 Apr  2  2015 gridpack_generation.log
drwxr-xr-x. 15 fabiocos zh    4096 Apr  2  2015 mgbasedir
drwxr-xr-x.  3 fabiocos zh

[2018-02-20 14:32] cmsbuild commented on #22275
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-20 14:32] fabiocos commented on #22275
assign generator

[2018-02-20 14:33] fabiocos commented on #22275
@perrozzi @efeyazgan could you please check?

[2018-02-20 15:07] Dr15Jones commented on #21769
As a first check, GSL is thread-friendly:
https://www.gnu.org/software/gsl/manual/html_node/Thread_002dsafety.html

[2018-02-20 18:22] wmtford opened #22278 "runTheMatrix.py -i all whitelists CERN even if files are elsewhere"
Some workflows in runTheMatrix.py with the recycle option seek a GEN_SIM dataset that exists only at FNAL. The dasquery step fails because the command contains the requirement site=T2_CH_CERN. Could a command-line option --allsites, valid in conjunction with -i, be added to runTheMatrix.py that would allow the user of suppress this site requirement?

For example, in CMSSW_10_0_0_pre2 the command

[2018-02-20 18:23] cmsbuild commented on #22278
A new Issue was created by  @wmtford Bill Ford.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-20 20:34] Dr15Jones commented on #21769
I was able to catch the GLS problem in the debugger (after many, many tries). The stack trace for the threads are
[code]

[2018-02-20 21:10] slava77 commented on #22247
-1

this is a duplicate of #21313

[2018-02-20 22:23] alja commented on #22161
The PR closes the issue.

[2018-02-21 07:50] fabiocos commented on #22278
assign pdmv

[2018-02-21 07:51] cmsbuild commented on #22278
New categories assigned: pdmv

@fabozzi,@prebello,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-21 07:51] fabiocos commented on #22275
assign generators

[2018-02-21 07:51] cmsbuild commented on #22275
New categories assigned: generators

@perrozzi,@efeyazgan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-21 07:58] fabiocos commented on #22275
@Dr15Jones @smuzaffar from the discussion of yesterday evening I didn't understand whether you were suspecting some problem unrelated to generators. Nothing changed in the IB that could cause this problem, on the other hand the external tarball seems to me quite old. But the problem looks to happen in the incorrect output of the script running madgraph, for what I can see...

[2018-02-21 11:52] smuzaffar commented on #22275
I see bunchof new files were copied under `/cvmfs/cms.cern.ch/phys_generator/gridpacks/slc6_amd64_gcc481/13TeV/madgraph/V5_2.2.2/exo_diboson/Spin-2/BulkGraviton_ZZ_ZlepZhad/narrow/v2` on 19th FEB , may be something have overridden the existing files?

[code]

[2018-02-21 13:27] prebello commented on #22278
@fabiocos PdmV has been dealing with it so far. It is an eventual issue, not always happening.
Therefore PdmV doesn't think that this PR should be considered.

[2018-02-21 13:28] prebello commented on #22278
-1

[2018-02-21 14:12] Dr15Jones opened #22281 "DQMEDHarvesters seg faulting in nightly IB"
We have two RelVals failing with segmentation faults in DQMEDHarvesters
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-20-2300/pyRelValMatrixLogs/run/1004.0_RunHI2011+RunHI2011+TIER0EXPHI+ALCAEXPHI+ALCAHARVD1HI+ALCAHARVD2HI+ALCAHARVD3HI+ALCAHARVD5HI/step6_RunHI2011+RunHI2011+TIER0EXPHI+ALCAEXPHI+ALCAHARVD1HI+ALCAHARVD2HI+ALCAHARVD3HI+ALCAHARVD5HI.log

and

http

[2018-02-21 14:12] cmsbuild commented on #22281
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-21 14:13] Dr15Jones commented on #22281
assign dqm

[2018-02-21 14:13] cmsbuild commented on #22281
New categories assigned: dqm

@kmaeshima,@vanbesien,@jfernan2,@vazzolini,@dmitrijus you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-21 14:13] Dr15Jones commented on #22281
It is likely this problem comes from https://github.com/cms-sw/cmssw/pull/22218

[2018-02-21 14:14] prebello commented on #22278
@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos
Could you please refresh my mind about the reason to maintain T2_CH_CERN in the whitelist as it is?
It seems that years ago @hengne has requested to change it in the past, receiving complains from offline for IB and PR tests.

[2018-02-21 14:14] Dr15Jones commented on #22281
@fwyzard FYI

[2018-02-21 14:19] Dr15Jones commented on #22281
The logs of the job do have error/warning messages from the module
[code]

[2018-02-21 14:26] fabozzi commented on #22197
I have updated the PR changing the 80X input to an AODSIM relval (94X input relval is still waiting Phedex transfer). Also, added 94X reminiAOD to short matrix

[2018-02-21 14:26] pieterdavid commented on #19398
https://github.com/cms-sw/cmssw/pull/22282 closes this issue (as originally defined).
In the process we also looked into the situation for removing the pixel equivalents `PXBDetId` and `PXFDetId`, some input (especially about `PixelBarrelName` and `PixelEndcapName`) would be needed for that, idem for `SiStripDetId`, which also has some (potentially) unsafe methods - see [the twiki page](https://tw

[2018-02-21 14:34] fwyzard commented on #22281
My guess is that [`SiStripGainFromCalibTree`](https://github.com/cms-sw/cmssw/blob/master/CalibTracker/SiStripChannelGain/plugins/SiStripGainFromCalibTree.cc) needs to be migrated from legacy to `DQMEDAnalyzer`.

[2018-02-21 14:34] fabozzi commented on #22278
Hi, the command line option --ibeos introduced recently by @smuzaffar with PR #22072
actually should do the work. Right?

[2018-02-21 14:51] Dr15Jones commented on #21769
I think I understand what is happening. When using non `SERIAL` the code which throws the exception is run within an TBB task. If an exception is thrown in a TBB task, the exception is lost, i.e. TBB catches it and then throws it away.  So it is highly likely that we've had this problem all along, but the exception is just being lost.

[2018-02-21 15:16] dmitrijus commented on #22281
The bigger question is, why does alca harvesting run in multi thread?
This is for sure not intended.

[2018-02-21 15:30] Dr15Jones commented on #22281
Given there are no events processed in the job and the failure happens at endJob, the threads are just being used for concurrent module running. Such concurrency shouldn't matter since if you do not have a data dependency between modules which do depend on one another, the framework will run them in an arbitrary order even in the single threaded case.

[2018-02-21 15:30] fwyzard commented on #22281
given the comments at the beginning of the .h file

I would say that it is definitely intended

[2018-02-21 15:33] cerminar commented on #22281
@dmitrijus Indeed this is not intentional. The step of these workflows are defined in:
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/relval_steps.py#L1789 and following lines. No mention there of the 4 threads

[2018-02-21 15:41] cerminar commented on #22281
Here the culprit (wild guess, I didn't try)
https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/python/WorkFlowRunner.py#L156

ALCAHARVEST needs to be added to the exception I guess

[2018-02-21 15:43] fwyzard commented on #22281
However, the problem is likely not in the harvesting step, but in the module that produces the DQM plots in the first place - which is not using the thread-safe interface to the DQMStore.

[2018-02-21 15:50] dmitrijus commented on #22281
@Dr15Jones The issue is cause by regular legacy framework EDAnalyzer modules, in a sequence.

We asked AlCa to migrate them to DQMEDHarvesters, that would be most ideal.
Last time the answer was "too much work and not necessary, as modules never run in multithread."
Therefore, this is why I made the comment, why do these modules run multithread?

However, that opens up another possible issue: even

[2018-02-21 16:02] schneiml commented on #22281
Judging by [1], there is sth. horribly wrong here. @cerminar 's guess sounds very plausible, though I'd like to know the *entire* runTheMatrix commandline used here, there a lots of interesting options.

At the moment, I simply can't reproduce the issue.

[1] https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-20-2300/pyRelValMatrixLogs/run/1001.0_RunMinBias2011A+Ru

[2018-02-21 16:04] schneiml commented on #22281
The current theory is that the `edm::one` migration uncovered a relval config issue, that accidentally worked before. *What* fails it interesting for us, but not really relevant, since nobody ever expected anthing like that to work.

[2018-02-21 16:06] Dr15Jones commented on #22281
If you go to the page,
https://cms-sw.github.io/relvalLogDetail.html#slc6_amd64_gcc630;CMSSW_10_1_X_2018-02-20-2300
 you can click on the left had side `cmd` to see the actual commands. In this case

[code]

[2018-02-21 16:09] davidlange6 commented on #22281
i fail to see why this should not work let alone be "expected" not to work

[2018-02-21 16:09] schneiml commented on #22281
@Dr15Jones though this is already *after* the bug happend. `--nThreads 4` should never make it into the command line.

[2018-02-21 16:11] davidlange6 commented on #22281
you can find it from here

https://cms-sw.github.io/relvalLogDetail.html#slc7_amd64_gcc630;CMSSW_10_1_X_2018-02-21-1100

[2018-02-21 16:11] schneiml commented on #22281
@davidlange6 We gon't guarantee *anything* for unmigrated, DQM legacy modules running multi threaded ("unmigrated" relative to the threaded migration from many years ago).

ALCA uses many legacy modules.

[2018-02-21 16:11] christopheralanwest commented on #22278
I would like to note that an even more common command does not work as intended:

``
runTheMatrix.py -l limited -i all
``

which is suggested as a [test before submitting any PR](http://cms-sw.github.io/PRWorkflow.html). As a result, a user cannot reproduce all of the PR integration tests. As an [example from a recent PR](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-222

[2018-02-21 16:12] dmitrijus commented on #22281
For a test, https://github.com/cms-sw/cmssw/pull/22285

[2018-02-21 16:21] schneiml commented on #22281
@davidlange6 I see the commandlines that came *out* of runTheMatrix, which are already broken -- we suspect the bug *within* runTheMatrix.

@fwyzard regarding the comments: If this workflow/modules are supposed to work multi-threaded or not is an interesting detail for us. However, as I confirmed with @cerminar, this should not run multi-threaded, and the reason for that are *some* legacy plugins

[2018-02-21 16:21] davidlange6 commented on #22281
Right, as of last night. Presumably you are now in progress of getting them migratied..

[2018-02-21 16:22] perrozzi commented on #22275
Hi, sorry for the late reply.
It's my fault, as I was massively patching all the existing gridpacks to overcome massive failures observed in production, but I screwed it during one of the iterations.
The gridpacks are being repatched while writing and should be available on cvmfs in the next hours, sorry for the inconvenience...

[2018-02-21 16:36] schneiml commented on #22281
Off topic: Running WF like 1001 locally (lxplus/cmsdev) fails (w/o error message!), since DAS returns no files. Removing `site=T2_CH_CERN` fixes that.

Is there a fool-proof way of running these locally, without patching `Configuration/PyReleaseValidation/python/MatrixUtil.py`?

I can reproduce the issue now. #22285 seems *not* to fix it, even though step8 now runs single threaded. Running 1001 wi

[2018-02-21 16:43] davidlange6 commented on #22281
Right- I was answering the question of what was actually run...

legacy plugins are not a reason why something does not run threaded...[maybe not efficiently]

[2018-02-21 17:53] mmusich commented on #22281
@fwyzard

SiStripGainFromCalibTree is *NOT* being run anymore in production mode. This was done in [this PR](https://github.com/cms-sw/cmssw/pull/18363).

@dmitrijus

Last time the answer was "too much work and not necessary, as modules never run in multithread

that's not entirely true, as the whole point of #18363 (that I have unfortunately to say, received zero feedback from DQM core team) was

[2018-02-21 18:09] fwyzard commented on #22281
On 21 Feb 2018 18:54, "Marco Musich" <notifications@github.com> wrote:

@fwyzard <https://github.com/fwyzard>

My guess is that SiStripGainFromCalibTree needs to be migrated from legacy
to DQMEDAnalyzer.

SiStripGainFromCalibTree is *NOT* being run anymore in production mode.
This was done in this PR <https://github.com/cms-sw/cmssw/pull/18363>.

Ciao Marco,
ah, sorry. Then, what module is produci

[2018-02-21 18:14] mmusich commented on #22281
Hi Andrea,
here it is: https://github.com/cms-sw/cmssw/blob/master/CalibTracker/SiStripChannelGain/src/SiStripGainsPCLWorker.cc

[2018-02-21 18:40] dmitrijus commented on #22281
@mmusich Ah, so SiStripGainFromCalibTree threw us of the real issue...

Do you know if SiStripGainsPCLHarvester and SiStripGainsPCLWorker are run together? If they are, that might be the issue... I will do some tests.

it is a welcome change. However, if you did want feedback, you should assigned DQM to the pull request. Or sent core DQM an email.

[2018-02-21 19:02] mmusich commented on #22281
Hello @dmitrijus,

they should not.
AFAIK, based on the steps of wf 1001.0 [log](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-20-2300/pyRelValMatrixLogs/run/1001.0_RunMinBias2011A+RunMinBias2011A+TIER0EXP+ALCAEXP+ALCAHARVD1+ALCAHARVD2+ALCAHARVD3+ALCAHARVD4+ALCAHARVD5/cmdLog)
   * `SiStripGainsPCLWorker`: runs in step 3 [1]
   * `SiStripGainsPCLHarvester `: ru

[2018-02-21 19:23] dmitrijus commented on #22281
Ok, the actual error seems to happen in step3_ALCA.py

[code]

[2018-02-21 19:27] dmitrijus commented on #22281
This does seem familiar...
https://hypernews.cern.ch/HyperNews/CMS/get/dqmDevel/2364.html

[2018-02-21 19:46] mmusich commented on #22281
@dmitrijus, but hasn't this been always the case?
cf eg. the log of `CMSSW_10_1_X_2018-02-20-1100` in which wf 1001.0 run to completion:

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-20-1100/pyRelValMatrixLogs/run/1001.0_RunMinBias2011A+RunMinBias2011A+TIER0EXP+ALCAEXP+ALCAHARVD1+ALCAHARVD2+ALCAHARVD3+ALCAHARVD4+ALCAHARVD5/step3_RunMinBias2011A+RunMinBias2011

[2018-02-21 19:48] mmusich commented on #22281
Actually I find interesting that steps 6 runs OK:
http://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-20-2300/pyRelValMatrixLogs/run/1001.0_RunMinBias2011A+RunMinBias2011A+TIER0EXP+ALCAEXP+ALCAHARVD1+ALCAHARVD2+ALCAHARVD3+ALCAHARVD4+ALCAHARVD5/step6_RunMinBias2011A+RunMinBias2011A+TIER0EXP+ALCAEXP+ALCAHARVD1+ALCAHARVD2+ALCAHARVD3+ALCAHARVD4+ALCAHARVD5.log

while step

[2018-02-21 20:07] dmitrijus commented on #22281
@mmusich The bug is neither in step 6 or 8.

This is where it crashes, yes, but the crash is there because the histogram is missing.
It tries to deference a non existent monitor element (you can see in the logs) and segfaults due to a null pointer dereference.

Question is, why is it missing? Or even better: why is it missing in step8, but not step6. Or even more better: why did it work before, bu

[2018-02-21 20:29] mmusich commented on #22281
@dmitrijus

It tries to deference a non existent monitor element (you can see in the logs) and segfaults due to a null pointer dereference.

I concur with your statement, actually the logs tells this rather clearly:
[code]
which is triggered by this line

https://github.com/cms-sw/cmssw/blob/7941f5ff0c7a9f4e62a99d11c80b324d29414fa6/CalibTracker/SiStripChannelGain/src/SiStripGainsPCLHarvester.cc#L1

[2018-02-21 20:47] Dr15Jones commented on #22281
https://github.com/cms-sw/cmssw/blob/master/DQMServices/Components/plugins/MEtoEDMConverter.cc#L542

Actually, the underlying problem is `MEtoEDMConverter` is a `one::` module and now all the other `DQMEDAnalyzers` are `one::` modules as well. Since the framework doesn't know there are hidden dependencies between the two sets, the order in which they are run is arbitrary. Previously things worked

[2018-02-21 21:45] fwyzard commented on #22281
Is the `DQMRootOutputModule` supposed to replace the `MEtoEDMConverter`, or do they address different use cases ?

[2018-02-21 22:11] cerminar commented on #22281
For PCL we need the dam histos to be in edm files since Tier 0 needs to handle them as any other alcareco. this is why MEtoEDMConverter is needed.

[2018-02-22 07:50] fwyzard commented on #22281
For PCL we need the dam histos to be in edm files since Tier 0 needs to
handle them as any other alcareco. this is why MEtoEDMConverter is needed.

I see.

Does the PCL need histograms and other products in the same file, or in
separate files ?

.A

[2018-02-22 07:56] dmitrijus commented on #22281
T0 handles DQMRootOutputModule too. The only difference is that the file is separate.

[2018-02-22 08:02] cerminar commented on #22281
@fwyzard you got the point: they need to be in the same file. Histograms and other edmproducts are passed to PCL via the alca-skimming step where all the alcareco products are written together.

[2018-02-22 08:04] cerminar commented on #22281
@dmitrijus I tried to explain you how things work several time....apparently without success. Blaming is not an option. This is a functionality needed also by YOUR project. I would suggest a more constructive approach to the problem.

[2018-02-22 08:34] cerminar commented on #22281
@Dr15Jones what are the options to get the right scheduling? I guess one should introduce an explicit dependency?

[2018-02-22 08:44] dmitrijus commented on #22281
@cerminar  The fix is to actually do the second part of our migration, which converts DQMEDAnalyzer modules to an EDProducer and introduce step1 tokens, to properly schedule things. MEtoEDMConverter then needs to consume this token.

 I ask @schneiml, but it might be even done by today.

[2018-02-22 09:08] fabiocos commented on #22275
@smuzaffar yes, we are running external generators through a script spawned by the ExternalLHEProducer module, the script is supposed to use external inputs, the tarballs prepared by the GEN group, to provide a .lhe file encoding an event, that becomes input for the subsequent modules of CMSSW. Something is failing in the external script execution, apparently a problem was added to the input tarba

[2018-02-22 10:17] perrozzi commented on #22275
hi, the problem should now be solved, please let us know if it persists

[2018-02-22 11:08] mrodozov opened #22297 "Compile warnings in CMSSW after integration of new fastjet"
We have 5 deprecation warnings in the RecoJets packages after integrating this https://github.com/cms-sw/cmsdist/pull/3746 where I fixed 1 because it was straightforward what to be done, here https://github.com/cms-sw/cmssw/pull/22286
but the rest are not obvious how to get rid of and require someone with knowledge of what

means. All warnings are listed here, different files in the same subpackag

[2018-02-22 11:09] cmsbuild commented on #22297
A new Issue was created by  @mrodozov Mircho Rodozov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-22 12:02] fabiocos commented on #22275
@perrozzi I confirm that if I rerun wf 562.0 I see no more problems in the step1. I do not know whether there is a validation procedure in place for updates to the tarballs, for sure we caught the problem here because of this test.

[2018-02-22 12:02] #22275 closed

[2018-02-22 12:07] davidlange6 commented on #22275
I believe the original plan was that tarballs are never updated, ensuring also reproducibility of results... This fixup was an exception to that.

[2018-02-22 12:23] perrozzi commented on #22275
@davidlange6 is correct, it's technical update due to increase number of cores in production and issues with /tmp/ dir writing permissions

[2018-02-22 12:39] Dr15Jones commented on #22297
assign reconstruction

[2018-02-22 12:39] cmsbuild commented on #22297
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-22 14:05] fabiocos opened #22300 "Crash in wf 4.28 in PFProducer::particleFlowTmp"
This has appeared in slc6_amd64_gcc630 in CMSSW_10_1_X_2018-02-21-2300

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-21-2300/pyRelValMatrixLogs/run/4.28_HighMet2011A+HighMet2011A+HLTDSKIM+RECODR1reHLT+HARVESTDR1reHLT/step3_HighMet2011A+HighMet2011A+HLTDSKIM+RECODR1reHLT+HARVESTDR1reHLT.log

[2018-02-22 14:05] cmsbuild commented on #22300
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-22 14:28] perrotta commented on #22300
assign reconstruction

[2018-02-22 14:28] fabiocos commented on #22300
For what I can see the problem is not trivially reproducible

[2018-02-22 14:28] cmsbuild commented on #22300
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-22 15:03] Dr15Jones opened #22301 "Make callWhenNewProductsRegistered available to all module types"
The module function `callWhenNewProductsRegistered` should be available to all module types. For the moment, only legacy and stream modules have the function.

[2018-02-22 15:03] cmsbuild commented on #22301
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-22 15:03] Dr15Jones commented on #22301
assign core

[2018-02-22 15:04] cmsbuild commented on #22301
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-22 15:17] knoepfel commented on #18574
`DQMStore::bookTransaction` does not include the `LuminosityBlock` number as a function argument.  In moving toward a more thread-efficient use of the `DQMStore`, it might make sense for this number to be provided.  Other than breaking current code, is there a reason the lumi-block number should not be included in the interface?

[2018-02-22 16:07] slava77 commented on #22300
the stack trace points to a segv in
[code]

[2018-02-22 16:13] slava77 commented on #22300
was there a change in ROOT version?

BTW, https://cms-sw.github.io/relvalLogDetail.html#slc6_amd64_gcc630;CMSSW_10_1_X_2018-02-21-2300 is not showing the workflow step commands correctly : "step3" is actually step2*py and it passed.
It would be nice to see the step3 command.

@smuzaffar please check.
Thank you.

[2018-02-22 16:42] rappoccio commented on #22297
Addressed in #22305.

[2018-02-22 16:51] fabiocos commented on #22281
@dmitrijus @schneiml do you have any update about this? It looks to me that this issue is a practical show-stopper to build 10_1_0_pre2.

I understand from this thread that also PyRelVal should be updated by removing the --nThread 4 option for the ALCAHARVEST step, although this is not the ultimate cause for the problem itself.

[2018-02-22 16:55] schneiml commented on #22281
@fabiocos We did lots of experiments today and found various reasons why this sequence could fail. But even after fixing all of them, it crashes the same way. I will prepare a PR with all the changes, and a longer writeup in the next ~hour.

We likely need support from @Dr15Jones et. al. on this.

[2018-02-22 17:12] Dr15Jones commented on #22281
@schneiml perhaps adding `process.add_(cms.Service("Tracer"))` to your test job might help clarify what order the modules are being run.

[2018-02-22 17:21] #22266 closed

[2018-02-22 17:21] mmusich commented on #19398
https://github.com/cms-sw/cmssw/commit/ffd5bb3bbabd8340717b9c967f4f166918cb3da8 closes the issue

[2018-02-22 17:21] #19398 closed

[2018-02-22 17:35] schneiml commented on #22281
Ok, so here the long form: you find the changes in #22307, and most of them are a good thing in the longer run anyways, but not perfectly done yet.

There are a number of issues with running WF 1001 with the `-t 4` option:
- The detection to turn of MT in HARVASTING did not work for ALCAHARVEST. Fixed in #22285.
- The problem is however likely in step3, which rightly runs MT [1]
- `MEtoEDMConverte

[2018-02-22 17:36] schneiml commented on #22281
@Dr15Jones sounds useful, I'll give it a try.

[2018-02-22 17:39] schneiml commented on #22281
Ah, and since it might not be obvious to the outsiders -- most of the issues outlined above are completely unrelated to #22218, it just happend to make things fail that accidentally worked in the past. And these things were probably only used in the relvals, not Tier0 production.

[2018-02-22 17:46] davidlange6 commented on #22281
the das query is working just fine...

[2018-02-22 17:50] schneiml commented on #22281
@davidlange6 I am pretty sure it returns an empty result on cmsdev machines.

[code]

$ dasgoclient --limit 0 --query 'file dataset=/MinimumBias/Run2011A-v1/RAW run=165121 site=T2_CH_CERN'
$ # no output

[2018-02-22 17:52] davidlange6 commented on #22281
which is the correct result given the query... what is "broken" is elsewhere - in this case, data is not available on T2_CH_CERN.

[2018-02-22 17:54] schneiml commented on #22281
Then, why does `runTheMatrix` try to load it from there? This is the issue I'd like to see fixed...

[2018-02-22 17:57] davidlange6 commented on #22281
there is an on-going GitHub issue on the topic #22278 (not that it will necessarily fix this issue)

[2018-02-22 18:00] schneiml commented on #22281
Ah, great, so I am not the only one confused by this issue and people work on it. Then `--ibeos` is the workaround for now. Thanks for the pointer!

[2018-02-22 18:04] schneiml commented on #22278
@christopheralanwest as [1] shows, there is some `ibeos` magic involved with the IB test. This explains why there are files in the PR tests.

[1] https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-22262/26154/runTheMatrix-results/4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC/cmdLog (ctrl-f 'ibeos')

[2018-02-22 18:38] smuzaffar commented on #22300
@slava77 , look like system is treating the lumi range command as first command. I will fix this tomorrow.
About root version,  CMSSW_10_1_X_2018-02-21-2300 is using 27 days old root version. We have only updated root today for 11h00 IB.

[2018-02-22 19:29] schneiml commented on #22281
@Dr15Jones the Tracer service seems like a really useful tool, saves a ton of manual debug output. However, it actually appears the the `MEtoEDMConverter`s have the same order (`-t 4` or not) and only the `MEtoEDMConvertSiStripGainsAAG` seems to do sth. either way. Which is confusing, since AAG is the content missing, causing the crash in MT.

Also, I don't see `SiStripGainsPCLWorker` anywhere run

[2018-02-22 20:40] mmusich commented on #22281
well, @schneiml, I don't know how you configured your local setup, but `SiStripGainsPCLWorker` is most certainly designed to be run in step3 (which by the way appears to be the case in the relval IB, see eg. https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-02-22-1100/pyRelValMatrixLogs/run/1001.0_RunMinBias2011A+RunMinBias2011A+TIER0EXP+ALCAEXP+ALCAHARVD1+ALCAHARVD2

[2018-02-22 20:42] mmusich commented on #22281
By the way, looking into the tracer output of step3 of `runTheMatrix.py -l 1001.0 -t 4 --ibeos` I see it live and well:
[code]

[2018-02-22 22:53] wmtford commented on #22278
With the --ibeos option I can successfully run runTheMatrix.py as a user on lxplus.  On other cites (cmslpc at FNAL, or my usual T3_US_COLORADO), the dasquery step works, but then step2 fails, presumably because the ibeos environment isn't compatible with these non-CERN sites:
ERROR executing  cd 10808.0_SingleMuPt100+SingleMuPt100_pythia8_2018_GenSimFullINPUT+DigiFull_2018+RecoFull_2018+ALCAFull_

[2018-02-23 03:57] dmitrijus commented on #22281
After a night of debugging, I can certainly say what the bug is:

getAllContents() is currently broken. It only return MonitorElements from a single module (since they are indexed by module id). Or rather, the module with the lower moduleId.
https://github.com/cms-sw/cmssw/blob/master/DQMServices/Core/src/DQMStore.cc#L1887

The "workaround" is to copy ME at endRun, as it was done before, https://g

[2018-02-23 08:47] schneiml commented on #22281
@mmusich I was looking for sth. labeled `SiStripGainsPCLWorker`, since that is also what I saw as a name in some config file. Nervermind, then.SiStripGainsPCLWorker.

@dmitrijus it seems that fixing `getAllContents` logic might make more sense. It looks like that could be done by properly removing the `enableMultiThread` stuff. I'll have to figure out what the intended semantics are.

[2018-02-23 13:38] Dr15Jones commented on #22281
In this particular case, what values for the arguments `runNumber` and `lumi` are passed to `getAllContents()` ?

[2018-02-23 14:49] fabiocos commented on #22207
@apana I understand #22314 is meant to fix this issue, right?

[2018-02-23 15:35] apana commented on #22207
Hi Fabio,

Yes.  BTW, we should also remove the temporary fix for this crash
which was made in PR #22239 ( it sets ReadPrescalesFromFile to True in
run2_miniAOD_80XLegacy workflows).  I probably should have added that
to my PR, but wasn't sure. Please let me know if you would like me to
do that now.

-Len

On Fri, Feb 23, 2018 at 8:49 AM, Fabio Cossutti
<notifications@github.com> wrote:

[2018-02-23 17:42] wddgit commented on #22168
PR #22249 was merged and this issue should be closed.

[2018-02-23 17:45] Dr15Jones commented on #22168
+1

[2018-02-23 17:45] #22168 closed

[2018-02-24 17:36] fabiocos commented on #22207
@apana @gpetruc I have just made #22338 to go back to the original proposal by Giovanni

[2018-02-25 18:24] fabiocos opened #22339 "Build CMSSW_10_0_3"

[2018-02-25 18:24] cmsbuild commented on #22339
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-02-25 18:25] fabiocos commented on #22339
+1

[2018-02-25 18:25] cmsbuild commented on #22339
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_0_X

[2018-02-25 18:25] cmsbuild commented on #22339
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-02-25 18:26] cmsbuild commented on #22339
The build has started for slc6_amd64_gcc630 in cmsbuild37.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1495/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-25 18:26] cmsbuild commented on #22339
The build has started for slc7_amd64_gcc630 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1496/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-25 18:26] fabiocos commented on #22339
Abort

[2018-02-25 18:27] cmsbuild commented on #22339
Deleting CMSSW_10_0_3:

  -Release successfully deleted

  -cmssw tag CMSSW_10_0_3 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_10_0_3/slc6_amd64_gcc630. Probaly it had not been created.

 -I was not able to delete the tag REL/CMSSW_10_0_3/slc7_amd64_gcc630. Probaly it had not been created.

You must create a new issue to start over the build.

[2018-02-25 18:27] cmsbuild commented on #22339
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_3-slc6_amd64_gcc630/1495

[2018-02-25 18:27] #22339 closed

[2018-02-25 18:28] fabiocos opened #22340 "Build CMSSW_10_0_3"

[2018-02-25 18:28] cmsbuild commented on #22340
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-02-25 18:28] fabiocos commented on #22340
+1

[2018-02-25 18:29] cmsbuild commented on #22340
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_0_X

[2018-02-25 18:29] cmsbuild commented on #22340
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-02-25 18:29] cmsbuild commented on #22340
The build has started for slc6_amd64_gcc630 in cmsbuild37.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1497/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-25 18:29] cmsbuild commented on #22340
The build has started for slc7_amd64_gcc630 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1498/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-25 22:16] cmsbuild commented on #22340
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_3-slc7_amd64_gcc630/1498
Some tests (

[2018-02-25 23:19] cmsbuild commented on #22340
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_3-slc7_amd64_gcc630/1498

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-26 00:49] cmsbuild commented on #22340
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_3-slc6_amd64_gcc630/1497
Some tests (

[2018-02-26 01:58] cmsbuild commented on #22340
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_3-slc6_amd64_gcc630/1497

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-02-26 08:40] fabiocos commented on #22340
upload all

[2018-02-26 08:40] cmsbuild commented on #22340
Queing Jenkins upload for slc6_amd64_gcc630

[2018-02-26 08:40] cmsbuild commented on #22340
Queing Jenkins upload for slc7_amd64_gcc630

[2018-02-26 08:42] cmsbuild commented on #22340
The upload has started for slc6_amd64_gcc630 in cmsbuild37.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/999/console

[2018-02-26 08:42] cmsbuild commented on #22340
The upload has started for slc7_amd64_gcc630 in cmsbuild74.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1000/console

[2018-02-26 08:43] cmsbuild commented on #22340
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_3-slc7_amd64_gcc630/1000
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-26 08:43] cmsbuild commented on #22340
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-26 08:47] cmsbuild commented on #22340
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_3-slc6_amd64_gcc630/999
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-02-26 08:47] cmsbuild commented on #22340
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-02-26 08:55] fabiocos commented on #22340
release-notes since CMSSW_10_0_2

[2018-02-26 08:55] cmsbuild commented on #22340
Generating release notes since CMSSW_10_0_2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-02-26 08:55] cmsbuild commented on #22340
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_0_3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_0_2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_3

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-02-26 08:56] cmsbuild commented on #22340
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_3

[2018-02-26 09:13] schneiml commented on #22281
@Dr15Jones note also that #22218 did confuse `moduleId` with `streamId` in some places. This did not cause harm so far, but could explain some weird behaviour.

[2018-02-26 16:18] fabiocos commented on #22281
Is there any update?

@fwyzard I understand that a fix should be applied to the MonitorElement usage (according to your latest comment in #22218)

[2018-02-26 16:35] fwyzard commented on #22281
I just finished checking, and I don't see any inconsistency introduced by #22218; if @schneiml can point them to me I can try to have a fix.

[2018-02-26 20:53] Dr15Jones commented on #20161
Solved via #22362

[2018-02-26 20:53] Dr15Jones commented on #20161
+1

[2018-02-26 20:53] cmsbuild commented on #20161
This issue is fully signed and ready to be closed.

[2018-02-27 06:30] fwyzard commented on #22281
@schneiml pointed out that I missed the changes to the `MonitorElement` constructor itself.
That should be fixed by #22364 .

[2018-02-27 12:28] makortel commented on #21704
#22210 was merged so this issue can be closed now.

[2018-02-27 12:37] perrotta commented on #21704
+1
(Thank you Matti)

[2018-02-27 12:37] #21704 closed

[2018-02-27 15:33] mrodozov commented on #22297
I confirm #22305 fixes the warnings and I'm closing this issue when the PR is merged

[2018-02-27 17:13] dan131riley commented on #21769
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_0_X_2018-02-26-1100/pyRelValMatrixLogs/run/11024.0_TTbar_13+TTbar_13TeV_TuneCUETP8M1_2018PU_GenSimFullINPUT+DigiFullPU_2018PU+RecoFullPU_2018PU+HARVESTFullPU_2018PU/step3_TTbar_13+TTbar_13TeV_TuneCUETP8M1_2018PU_GenSimFullINPUT+DigiFullPU_2018PU+RecoFullPU_2018PU+HARVESTFullPU_2018PU.log

Note that this is from the 10_0_X IB,

[2018-02-27 17:58] fabiocos commented on #22300
I did not noticed it again, close it for the time being

[2018-02-27 17:59] #22300 closed

[2018-02-27 17:59] fabiocos commented on #22207
The issue looks closed with the last PR merge.

[2018-02-27 17:59] #22207 closed

[2018-02-27 19:42] Dr15Jones commented on #21862
#22246 does the color coding

[2018-02-27 19:42] Dr15Jones commented on #21862
+1

[2018-02-27 19:42] #21862 closed

[2018-02-27 19:42] cmsbuild commented on #21862
This issue is fully signed and ready to be closed.

[2018-02-27 19:50] Dr15Jones commented on #16434
#21624 does the job in a different manner.

[2018-02-27 19:50] #16434 closed

[2018-02-27 19:50] Dr15Jones commented on #16434
+1

[2018-02-27 19:50] cmsbuild commented on #16434
This issue is fully signed and ready to be closed.

[2018-02-27 23:36] fwyzard commented on #18574
Let me share some comments, mostly in random order, and mostly based on things that @dmitrijus, @schneiml, @rovere and @knoepfel have said in the past days and weeks...

As far as I know, the main constrain for the `DQMStore` is that it should work and be efficient both within CMSSW, and for its use in the DQM GUI. Any changes to how the `MonitorElement`s are store and indexed need to take into ac

[2018-02-28 08:08] cmsbuild commented on #22340
The cleanup has started for slc6_amd64_gcc630

[2018-02-28 08:08] cmsbuild commented on #22340
The cleanup has started for slc7_amd64_gcc630

[2018-02-28 08:08] #22340 closed

[2018-02-28 08:15] cmsbuild commented on #22340
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_3-slc7_amd64_gcc630/903

[2018-02-28 08:16] cmsbuild commented on #22340
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_3-slc6_amd64_gcc630/902

[2018-02-28 08:52] schneiml commented on #18574
Thanks @fwyzard for this summary of our coffee conversations!

I want to add on top that the proposal from @dmitrijus in the old comment above still stands: maybe the easiest way ahead is to keep one container per DQM module. I could imaging that we can drop the indexing on run and lumi number, since the number of distinct runs and lumis in the store is at any time limited by the number of concurr

[2018-02-28 09:50] Sam-Harper commented on #21864
just to add this to this issue: we need PRs:
https://github.com/cms-sw/cmssw/pull/22309 : enabling E/gamma IDs in miniAOD + scale & smearing corrections
https://github.com/cms-sw/cmssw/pull/22303 : electron MVA ID
https://github.com/cms-sw/cmssw/pull/22302 : rest of e/gamma IDs

for e/gamma

[2018-02-28 10:24] fwyzard commented on #18574
Let me reiterate one concern: before thinking how to rearrange the storage of the `MonitorElement`s and how to let the various modules access them, please take the time to understand the possible impact on the DQM GUI, outside CMSSW.

[2018-02-28 10:38] schneiml commented on #18574
Yes, of course -- we have to test this, since probably nobody really knows atm what the DQMGUI does precisely. My suspicion is that this is covered the same way as said for harvesting above: storing and then loading will erase the moduleId in the current partitioned DQMStore, and DQMGUI most likely sets `enableMultiThread` to false to force all moduleIds to 0. That would also sort of work with a d

[2018-02-28 11:06] perrotta commented on #21668
@Dr15Jones @slava77 : I think this has been solved already, and it can be closed. Correct?

[2018-02-28 11:08] perrotta commented on #18902
@Dr15Jones : I think this has been solved already, and it can be closed. Correct?

[2018-02-28 12:57] Dr15Jones commented on #18902
@perrotta we normally close an issue once the assigned parties have signed off on it.

[2018-02-28 13:00] mommsen commented on #18902
+1
This issue has been addressed by @smorovic in #21658

[2018-02-28 13:03] perrotta commented on #18902
+1

[2018-02-28 13:04] cmsbuild commented on #18902
This issue is fully signed and ready to be closed.

[2018-02-28 13:26] #18902 closed

[2018-02-28 13:55] slava77 commented on #21668
- fixed in the master from 10_0_0
- fixed in 9_4_X from CMSSW_9_4_X_2018-02-18-0000 (after 9_4_4), not in a production build yet (the PR was available since Dec 21).

The effect of missing this in production is that simultaneous dereferencing from a RefVector in multithreaded environment will lead to random values, still more often from the right collection than from a random place in memory that

[2018-02-28 13:56] slava77 commented on #21668
I'd rather keep it open until the fix is in the essential 9_4_X production builds

[2018-02-28 14:07] fabozzi commented on #21668
OK, this means that all 94X campaigns (Fall17, EOYREReco2017, NanoAOD) should move to the new release when available
Is the fix entered also in 94X_MAOD branch?

[2018-02-28 14:19] slava77 commented on #21668
yes

[2018-02-28 16:21] wddgit opened #22389 "Add total number of events processed to Job Report"
This is useful to help in understanding CPU efficiency results

[2018-02-28 16:22] cmsbuild commented on #22389
A new Issue was created by  @wddgit W. David Dagenhart.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-02-28 16:36] Dr15Jones commented on #22389
assign core

[2018-02-28 16:37] cmsbuild commented on #22389
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-02-28 17:47] lpernie commented on #21864
GT with high level corrections PR#22381

[2018-02-28 20:54] fabiocos opened #22397 "Build CMSSW_10_1_0_pre2"

[2018-02-28 20:54] cmsbuild commented on #22397
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-02-28 20:55] fabiocos commented on #22397
+1

[2018-02-28 20:55] cmsbuild commented on #22397
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-02-28 20:55] cmsbuild commented on #22397
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2018-02-28 20:56] cmsbuild commented on #22397
The build has started for slc6_amd64_gcc630 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1499/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-28 20:57] cmsbuild commented on #22397
The build has started for slc6_amd64_gcc700 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1501/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-28 20:57] cmsbuild commented on #22397
The build has started for slc7_amd64_gcc630 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1502/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-28 20:57] cmsbuild commented on #22397
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1500/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-28 20:57] cmsbuild commented on #22397
The build has started for slc7_amd64_gcc700 in cmsbuild03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1503/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-02-28 22:53] cmsbuild commented on #22397
The was an error for slc7_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc7_amd64_gcc630/1502

[2018-03-01 01:41] cmsbuild commented on #22397
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc7_aarch64_gcc700/1500

[2018-03-01 04:08] cmsbuild commented on #22397
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc7_amd64_gcc700/1503
Some tes

[2018-03-01 05:03] cmsbuild commented on #22397
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc6_amd64_gcc700/1501
Some tes

[2018-03-01 05:17] cmsbuild commented on #22397
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc6_amd64_gcc630/1499
Some tes

[2018-03-01 06:19] cmsbuild commented on #22397
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc6_amd64_gcc700/1501

Tests results:
24 24 23 18 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-01 06:43] cmsbuild commented on #22397
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc6_amd64_gcc630/1499

Tests results:
24 24 23 18 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-01 08:13] cmsbuild commented on #22397
The build has started for slc7_amd64_gcc630 in cmsbuild56.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1504/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-01 08:20] cmsbuild commented on #22397
The build has started for slc7_amd64_gcc630 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1505/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-01 12:27] cmsbuild commented on #22397
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc7_amd64_gcc630/1505
Some tes

[2018-03-01 15:05] fabiocos commented on #22397
In order to simplify reminiAOD integration, abort and restart adding #22379

[2018-03-01 15:05] fabiocos commented on #22397
abort

[2018-03-01 15:06] cmsbuild commented on #22397
Deleting CMSSW_10_1_0_pre2:

  -Release successfully deleted

  -cmssw tag CMSSW_10_1_0_pre2 successfully deleted.

 -cmsdist tag REL/CMSSW_10_1_0_pre2/slc6_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_10_1_0_pre2/slc7_amd64_gcc630 successfully deleted.

 -cmsdist tag REL/CMSSW_10_1_0_pre2/slc7_amd64_gcc700 successfully deleted.

 -cmsdist tag REL/CMSSW_10_1_0_pre2/slc6_amd64_gcc700

[2018-03-01 15:07] fabiocos opened #22402 "Build CMSSW_10_1_0_pre2"

[2018-03-01 15:10] cmsbuild commented on #22402
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-01 15:11] fabiocos commented on #22402
+1

[2018-03-01 15:11] cmsbuild commented on #22402
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_0_pre2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-03-01 15:12] cmsbuild commented on #22402
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2018-03-01 15:13] cmsbuild commented on #22402
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-03.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1506/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-01 15:17] cmsbuild commented on #22402
The build has started for slc6_amd64_gcc630 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1507/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-01 15:29] cmsbuild commented on #22402
The build has started for slc6_amd64_gcc700 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1508/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-01 15:29] cmsbuild commented on #22402
The build has started for slc7_amd64_gcc630 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1509/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-01 15:34] cmsbuild commented on #22402
The build has started for slc7_amd64_gcc700 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1510/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-01 16:21] cmsbuild commented on #22402
The was an error for slc7_aarch64_gcc700.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc7_aarch64_gcc700/1506

[2018-03-01 18:35] Dr15Jones commented on #22301
+1

[2018-03-01 18:35] #22301 closed

[2018-03-01 18:35] cmsbuild commented on #22301
This issue is fully signed and ready to be closed.

[2018-03-01 18:57] cmsbuild commented on #22402
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc6_amd64_gcc700/1508
Some tes

[2018-03-01 19:07] cmsbuild commented on #22402
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc7_amd64_gcc630/1509
Some tes

[2018-03-01 19:59] cmsbuild commented on #22402
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc6_amd64_gcc700/1508

Tests results:
24 24 23 18 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-01 20:12] cmsbuild commented on #22402
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc7_amd64_gcc630/1509

Tests results:
24 24 23 18 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-01 20:36] cmsbuild commented on #22402
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc7_amd64_gcc700/1510
Some tes

[2018-03-01 21:05] cmsbuild commented on #22402
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc6_amd64_gcc630/1507
Some tes

[2018-03-01 21:52] cmsbuild commented on #22402
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc7_amd64_gcc700/1510

Tests results:
24 24 23 18 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-01 22:12] cmsbuild commented on #22402
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre2-slc6_amd64_gcc630/1507

Tests results:
24 24 23 18 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-01 22:22] fabiocos commented on #22402
upload all

[2018-03-01 22:22] cmsbuild commented on #22402
Queing Jenkins upload for slc6_amd64_gcc630

[2018-03-01 22:22] cmsbuild commented on #22402
Queing Jenkins upload for slc6_amd64_gcc700

[2018-03-01 22:22] cmsbuild commented on #22402
Queing Jenkins upload for slc7_amd64_gcc630

[2018-03-01 22:22] cmsbuild commented on #22402
Queing Jenkins upload for slc7_amd64_gcc700

[2018-03-01 22:24] cmsbuild commented on #22402
The upload has started for slc6_amd64_gcc630 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1001/console

[2018-03-01 22:24] cmsbuild commented on #22402
The upload has started for slc7_amd64_gcc630 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1002/console

[2018-03-01 22:24] cmsbuild commented on #22402
The upload has started for slc6_amd64_gcc700 in cmsbuild55.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1003/console

[2018-03-01 22:24] cmsbuild commented on #22402
The upload has started for slc7_amd64_gcc700 in cmsbuild18.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1004/console

[2018-03-01 22:26] cmsbuild commented on #22402
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre2-slc7_amd64_gcc700/1004
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-01 22:26] cmsbuild commented on #22402
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-01 22:26] cmsbuild commented on #22402
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre2-slc6_amd64_gcc700/1003
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-01 22:26] cmsbuild commented on #22402
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-01 22:28] cmsbuild commented on #22402
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre2-slc7_amd64_gcc630/1002
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-01 22:28] cmsbuild commented on #22402
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-01 22:28] cmsbuild commented on #22402
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre2-slc6_amd64_gcc630/1001
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-01 22:28] cmsbuild commented on #22402
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-01 22:40] fabiocos commented on #22402
release-notes since CMSSW_10_1_0_pre1

[2018-03-01 22:40] cmsbuild commented on #22402
Generating release notes since CMSSW_10_1_0_pre1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-03-01 22:40] cmsbuild commented on #22402
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_1_0_pre2 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_1_0_pre1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_0_pre2

Cheers,
cms

[2018-03-01 22:41] cmsbuild commented on #22402
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_0_pre2

[2018-03-02 06:23] #22397 closed

[2018-03-02 06:24] smuzaffar commented on #22297
fixed in IBs.

[2018-03-02 06:24] #22297 closed

[2018-03-02 06:26] smuzaffar commented on #22247
duplicate

[2018-03-02 06:26] #22247 closed

[2018-03-02 06:29] smuzaffar commented on #22278
@wmtford , can you please provide the log file of the failed tests with --ibeos?

[2018-03-02 13:18] kirschen commented on #21851
Issue is more generically resolved with this PR:
https://github.com/cms-sw/cmssw/pull/22354

that gives a useful exception with the initial expression reported here
`kirschen@lxplus067 src $ root jec_issue_Dec2017.C
root [0]
Processing jec_issue_Dec2017.C...
terminate called after throwing an instance of 'cms::Exception'
what(): An exception of category 'FormulaEvaluatorParseError' occurred.
Excep

[2018-03-02 18:34] wmtford commented on #22278
Yes, here is the output of runTheMatrix.py:
[matrix_ibeos.txt](https://github.com/cms-sw/cmssw/files/1776164/matrix_ibeos.txt)
The first 8 lines come from the batch system at T3_US_COLORADO.
Files generated by the script:
[step1_dasquery.log](https://github.com/cms-sw/cmssw/files/1776204/step1_dasquery.log)

[step2_DIGI_L1_DIGI2RAW_HLT.py.txt](https://github.com/cms-sw/cmssw/files/1776211/step2_DI

[2018-03-03 21:53] cmsbuild commented on #22402
The cleanup has started for slc7_aarch64_gcc700

[2018-03-03 21:53] cmsbuild commented on #22402
The cleanup has started for slc6_amd64_gcc630

[2018-03-03 21:53] cmsbuild commented on #22402
The cleanup has started for slc6_amd64_gcc700

[2018-03-03 21:53] cmsbuild commented on #22402
The cleanup has started for slc7_amd64_gcc630

[2018-03-03 21:53] cmsbuild commented on #22402
The cleanup has started for slc7_amd64_gcc700

[2018-03-03 21:53] #22402 closed

[2018-03-03 21:54] cmsbuild commented on #22402
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre2-slc7_aarch64_gcc700/906

[2018-03-03 22:00] cmsbuild commented on #22402
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre2-slc6_amd64_gcc700/905

[2018-03-03 22:00] cmsbuild commented on #22402
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre2-slc7_amd64_gcc630/907

[2018-03-03 22:00] cmsbuild commented on #22402
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre2-slc6_amd64_gcc630/904

[2018-03-03 22:00] cmsbuild commented on #22402
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre2-slc7_amd64_gcc700/908

[2018-03-04 16:03] slava77 opened #22448 "Simplify the way to disable MVA IDs in VID"
this is to keep track of the issue brought up in
https://github.com/cms-sw/cmssw/pull/22428#issuecomment-370232502
This is not the first time this issue appears for the MVA in VID.

@lgray (as the original developer) @Sam-Harper

[2018-03-04 16:03] slava77 commented on #22448
assign reconstruction

[2018-03-04 16:03] cmsbuild commented on #22448
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-04 16:03] cmsbuild commented on #22448
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-04 17:11] fabiocos opened #22449 "Several RelVal wf crashing after #22290 integration"
Starting with CMSSW_10_1_X_2018-03-03-1100 after the integration of #22290 several relval workflows (mostly for 2016) are failing in all architectures. The problem is reproducible and due to the change in the GT (tested for 136.773).

[2018-03-04 17:11] cmsbuild commented on #22449
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-04 17:11] fabiocos commented on #22449
assign alca

[2018-03-04 17:11] cmsbuild commented on #22449
New categories assigned: alca

@lpernie,@franzoni,@arunhep,@ghellwig,@cerminar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-04 18:59] Dr15Jones opened #22450 "Allow pre-reading of Event data products in PoolSource"
Standard production jobs process the data from all events in a ROOT file. In addition, they will read all the data products for an event. We should add an option to PoolSource to read the data products immediately. This would help with the case when we are using large number of threads in order to avoid delayed reads of data from events for which the event is no longer in the TTreeCache.

[2018-03-04 18:59] cmsbuild commented on #22450
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-04 18:59] Dr15Jones commented on #22450
assign core

[2018-03-04 19:10] lpernie commented on #22449
Hi @Martin-Grunewald ,
I see [1] after running "runTheMatrix.py -i 136.773".
Do you have any suggestion on this?

[1] %MSG-w L1TObjectsTiming:  L1TObjectsTiming:l1tObjectsTiming@beginRun  04-Mar-2018 19:26:33 CET Run: 283877
Algo "L1_FirstCollisionInTrain" not found in the trigger menu L1Menu_Collisions2016_v10. Could not retrieve algo bit number.

[2018-03-04 20:30] lpernie commented on #22449
Seems to me that there is a problem in 101X_dataRun2_PromptLike_v4.
Not sure why, but the difference [1] with old GT show more difference that is should.
I now created **101X_dataRun2_PromptLike_v5**, that should solve the problem.

[1]https://cms-conddb.cern.ch/cmsDbBrowser/diff/Prod/gts/101X_dataRun2_PromptLike_v4/100X_dataRun2_PromptLike_v1

[2018-03-05 10:16] makortel opened #22454 "Allow extra workflows in PR test comparisons"
Sometimes it would be useful to be able to produce comparisons for ("extra") workflows that are not run for IB baseline by default. E.g. with #22416 one would have to manually run premixing stage2 workflows for IB and IB+PR to convince oneself that there are no changes.

[2018-03-05 10:16] cmsbuild commented on #22454
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-05 10:17] makortel commented on #22454
Let me also copy-paste relevant comment from @kpedro88 https://github.com/cms-sw/cmssw/pull/22416#issuecomment-369949629

[2018-03-05 10:36] davidlange6 commented on #22454
But that approach naively means generating baselines for all workflows... instead if a baseline for a workflow is missing, it could just be generated on demand for the specific test request (and made available only for that request). At worst this doubles the resources needed compared to what is done now.

[2018-03-05 12:47] fabiocos commented on #22449
@lpernie as far as I can see not all the wfs have the same problem, this PR is fixing most of them, but for 134.813 and 136.733 for instance the issue is different and not removed by your fix:

----- Begin Fatal Exception 05-Mar-2018 13:44:34 CET-----------------------
An exception of category 'NoRecord' occurred while
   [0] Processing  Event run: 272133 lumi: 82 event: 1453074 stream: 2
   [1] P

[2018-03-05 15:32] kpedro88 commented on #22454
@davidlange6 yes, I meant that we could generate baselines on demand. But it seems like we might want to keep track of which additional baselines have been generated, in case someone wants to compare the same workflow in a different PR. Maybe this won't happen too often.

[2018-03-05 15:47] davidlange6 commented on #22454
ok, i understood differently - whether caching baseline results is worth the extra complexity is probably up to the code implementer/maintainer..

[2018-03-05 15:48] perrotta commented on #21851
+1
- Solved with #22354, see https://github.com/cms-sw/cmssw/issues/21851#issuecomment-369918408

[2018-03-05 15:48] perrotta commented on #21851
@kirschen : you can close this issue

[2018-03-05 16:13] kirschen commented on #21851
Thanks, all!

[2018-03-05 16:13] #21851 closed

[2018-03-05 16:32] fabiocos commented on #22454
as the baseline is the IB, and it changes every 12 hours, I assume that caching makes sense only if this feature is heavily used (and at present extra workflows do not seem to be run very often as far as I can see...)

[2018-03-06 08:17] rekovic commented on #22449
@lpernie @fabiocos
It looks like GT `101X_dataRun2_PromptLike_v5`
https://cms-conddb.cern.ch/cmsDbBrowser/diff/Prod/gts/101X_dataRun2_PromptLike_v5/100X_dataRun2_PromptLike_v1
does contain the needed "L1TMuonEndCapForestRcd" and solves the problem.

Should this PR be closed then?

[2018-03-06 09:02] fwyzard opened #22472 "Add a warning or error if multiple files compile to the same .o file"
Source files in the same directory with the same base name are compiled by SCRAM into an intermediate .o file with the same name.
For example
[code]
all end up built as
[code]

This is then caught because (assuming `test.cpp` has `main()` and `test.cc` has some worker code) it causes a link error.

A more subtle problem happens if
[code]
or, less unlikely
[code]
implement two different plugins (e.

[2018-03-06 09:10] fwyzard opened #22474 "Add a warning or error if multiple plugins produce the same _cfi.py file"
With the use of `fillDescriptions()` and `edmWriteConfigs` to generate _cfi.py files, it is possible that different plugins in the same package will try to create a _cfi.py file with the same name.

The most common source of the problem is if somebody writes a new plugin, starting from an existing one, that implemented its `fillDescriptions()` with an explicit module label, e.g.
[code]

If the use

[2018-03-06 09:10] cmsbuild commented on #22474
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-06 09:21] fwyzard opened #22475 "Make "cmsrel" setup the nvidia drivers if they are not present"
On a system with an NVIDIA GPU and kernel drivers, CMSSW should use the libraries matching the kernel module's version, which likely means using the libraries available on the system.
This is the default behaviour for a new development area.

On a system without an NVIDIA GPU or the necessary kernel module, CMSSW can use the default libraries, included in the `nvidia-drivers` external package.
Thi

[2018-03-06 09:22] cmsbuild commented on #22475
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-06 09:54] smuzaffar commented on #22472
assign externals

[2018-03-06 09:55] cmsbuild commented on #22472
New categories assigned: externals

@smuzaffar,@gudrutis,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-06 09:56] smuzaffar commented on #22472
@fwyzard , we can update build rules to generate filename.o e.g. plugin.cc.o and plugin.cu.o to avoid this.

[2018-03-06 09:57] smuzaffar commented on #22474
assign core

[2018-03-06 09:57] cmsbuild commented on #22474
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-06 09:59] fwyzard commented on #22472
Sounds good - yes, that should fix the issue.

[2018-03-06 10:10] smuzaffar commented on #22475
assign externals

[2018-03-06 10:11] cmsbuild commented on #22475
New categories assigned: externals

@smuzaffar,@gudrutis,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-06 10:12] smuzaffar commented on #22475
thanks @fwyzard for suggestion. We can add some post hooks for cmsrel which can be run to automatically setup/remove tools based on system.

[2018-03-06 13:45] lpernie commented on #22449
@rekovic , yes, indeed it as been added.

[2018-03-06 13:54] rekovic opened #22483 "Segmentation violation in RecoTauTag/RecoTau in phase-2 workflows"
A segmentation violation occurs in phase-II workflows (200340, 20434 and 21234) if
products are added to EventContent, i.e. with PR https://github.com/cms-sw/cmssw/pull/22415.

This PR only extends the evenContentFEVTDEBUG
for the following products
[code]
which are stored in the output of step-2 of the above wf's.

The crash happens in step-3 of the wf, in apparently non-related part of code, in

[2018-03-06 13:55] cmsbuild commented on #22483
A new Issue was created by  @rekovic .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-06 13:55] rekovic commented on #22483
assign reconstruction

[2018-03-06 13:55] cmsbuild commented on #22483
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-06 14:28] slava77 commented on #22483
@roger-wolf
please take a look
Thank you.

[2018-03-06 14:39] dmitrijus commented on #22281
+1

This is fixed now.

[2018-03-06 14:39] cmsbuild commented on #22281
This issue is fully signed and ready to be closed.

[2018-03-06 14:40] #22281 closed

[2018-03-06 14:51] fabiocos commented on #22449
@lpernie @rekovic as soon as we get the results of the last IB, where the fix has been deployed, if they are positive as I expect we can close this issue

[2018-03-06 15:03] wddgit commented on #22474
@fwyzard  I think I fixed this already in PR #19729 that I think went into 9_3_X. Have you tried this with a release past 9_3_X and still see the problem? If so, I will take another look and see what I missed.

[2018-03-06 15:12] fwyzard commented on #22474
Mhm, I had it on my list of issues, but since this long ago... buy maybe I was still using 9.2.x.
I'll give it a try with 10.1.x and let you know.

[2018-03-06 15:20] makortel commented on #22474
@wddgit What happens in a case where for some package `plugins/BuildFile.xml` declares two plugin libraries, and they contain (different) EDModule classes whose `fillDescriptions()` generate the same name?

[2018-03-06 15:28] smuzaffar commented on #22474
@makortel , yes that is also a bug. scram is going to blindly override. I will add a protection against this.

[2018-03-06 15:32] wddgit commented on #22474
@makortel Yes, that will still be a problem. The check I added only looks for duplicates in one invocation of the edmWriteConfig executable and one invocation only handles one library. It does not know anything about the cfi files of other libraries.

[2018-03-06 20:26] makortel opened #22492 "Add concatenation option to / variant of MatrixUtil.merge()"
From https://github.com/cms-sw/cmssw/pull/22375#discussion_r171902305:
With some parameters (`procModifiers`, `customise`, maybe also `era`) sometimes one wants to concatenate the arguments rather than replace them. For `customise` there are already copy-pasted pattern of "check manually if it exists, then manually append, else set". Now that the need for appending starts to spread (especially wit

[2018-03-06 20:26] cmsbuild commented on #22492
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-06 20:30] makortel commented on #22492
I think the options are either
1. add an optional parameter to `merge()` to tell which parameters should be concatenated
2. add another function (e.g. `mergeAppend()` or `concatenate()` or something) similar to `merge()` to do the concatenation for all parameters

I'm a bit leaning towards 2 as it feels less confusing.

[2018-03-06 20:38] makortel opened #22494 "Explore using Modifier to specify if workflow is for validation or not"
From https://github.com/cms-sw/cmssw/pull/22416#discussion_r172171914:
It might be useful to specify whether a workflow is for validation or not with a `cms.Modiifer` instead of `:pdigi_valid` specifier to `DIGI` step. The current solution needs code like following in `ConfigBuilder`
https://github.com/cms-sw/cmssw/blob/997d1ea4289d52d453446b2d378a44e2010f08a2/Configuration/Applications/python/Con

[2018-03-06 20:39] cmsbuild commented on #22494
A new Issue was created by  @makortel Matti Kortelainen.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-06 20:51] Dr15Jones commented on #22492
assign core

[2018-03-06 20:51] cmsbuild commented on #22492
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-07 12:16] roger-wolf commented on #22483
This is to acknowledge that we are investigating this issue. @mbluj @steggema

[2018-03-07 14:38] Dr15Jones commented on #22494
@davidlange6 your thoughts?

[2018-03-07 16:12] dan131riley commented on #15145
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc700/CMSSW_10_1_X_2018-03-06-2300/pyRelValMatrixLogs/run/500207.0_NuGun_UP15+NuGun_UP15INPUT+DIGIPRMXUP15_PU50+RECOPRMXUP15_PU50+HARVESTUP15_PU50/step3_NuGun_UP15+NuGun_UP15INPUT+DIGIPRMXUP15_PU50+RECOPRMXUP15_PU50+HARVESTUP15_PU50.log

Apparently still not quite fixed, but really rare:

[code]

[2018-03-07 16:19] rekovic commented on #22483
@roger-wolf Tanks.

[2018-03-07 16:31] Dr15Jones opened #22514 "Catch case when produces<...,InRun> is called when module is not a Run producer"
We should catch the cases where in the constructor of a module there is a `produces<..., [not event]>` call but that module does not have as a template argument the appropriate `Producer` class.

E.g. calling `produces<..., InRun>()` when the module does not declare `edm::BeginRunProducer` or `edm::EndRunProducer`.

[2018-03-07 16:32] cmsbuild commented on #22514
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-07 16:32] Dr15Jones commented on #22514
assign core

[2018-03-07 16:32] cmsbuild commented on #22514
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-07 19:29] alja opened #22516 "Fireworks: invalid reads in tree cache prefetching"
## valgrind report:
http://xrd-cache-1.t2.ucsd.edu/alja/valgrind.log.pcanal4

valgrind command:
 valgrind --num-callers=30 --log-file=valgrind.log.pcanal4 --freelist-vol=100000000  --error-limit=no  --track-origins=yes  cmsShow.exe  ~/run310178_ls0007_streamEvDOutput_dqmcluster.root

[2018-03-07 19:29] cmsbuild commented on #22516
A new Issue was created by  @alja Alja Mrak-Tadel.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-07 19:33] alja commented on #22516
@pcanal I could not include the ROOT suppressions . The *match-leak-kinds: possible* is not valid in valgrin in SLC:

alja@xrootd /data/cms/alja/CMSSW_10_0_2_FWLITE/src$ valgrind --num-callers=30 --freelist-vol=100000000  --error-limit=no  --track-origins=yes --suppressions=$ROOTSYS/etc/valgrind-root.supp cmsShow.exe --tree-cache-prefetch ~/run310178_ls0007_streamEvDOutput_dqmcluster.root
==125216

[2018-03-07 19:36] pcanal commented on #22516
Can you remove those lines from the file and retry?

[2018-03-07 21:23] alja commented on #22516
@pcanal http://xrd-cache-1.t2.ucsd.edu/alja/valgrind.log.pcanal5

[2018-03-07 21:33] pcanal commented on #22516
Can you remind me the ROOT version (so that I can align the line numbers)?

[2018-03-07 21:54] alja commented on #22516
@pcanal
ROOT is 6.10/09
From tag , 16 October 2017

here is the spec file:https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_10_0_X/gcc630/root.spec

[2018-03-07 22:57] wddgit commented on #22389
PR #22408 should resolve this issue. I think it can be closed.

[2018-03-07 23:26] Dr15Jones commented on #22389
+1

[2018-03-07 23:26] cmsbuild commented on #22389
This issue is fully signed and ready to be closed.

[2018-03-08 00:06] #19085 closed

[2018-03-08 00:17] #15501 closed

[2018-03-08 00:32] slava77 commented on #15792
[closing]
- pickle for T0 test configs was implemented in #17635
- the task feature available since #17801 apparently improved the situation as well

[2018-03-08 00:32] #15792 closed

[2018-03-08 00:35] slava77 commented on #15999
@Dr15Jones @perrozzi @efeyazgan
I can't recall now if this was resolved.
Is it still worth to keep the issue open?

[2018-03-08 00:45] slava77 commented on #17372
@VinInn @ssekmen @mdhildreth
Are we in position now to advance with this issue?

Recall that the RECO data tier was increased by 10% due to issues in FastSim with PU (#17367)

[2018-03-08 00:56] #17826 closed

[2018-03-08 01:10] slava77 commented on #18193
checking back with still open issues opened by me.
I see that we do not have any tests of PARun2016D.

[2018-03-08 01:15] slava77 commented on #18227
@pmaksim1
I wanted to check on this still open issue.

If I understand correctly, it's still unresolved.
Is this correct?

[2018-03-08 01:29] #19940 closed

[2018-03-08 01:38] slava77 commented on #20658
this is apparently fixed in a mix of #20660 and #21808

[2018-03-08 01:40] slava77 commented on #21129
@bsunanda @kpedro88
is this issue still unresolved?
Please clarify.

[2018-03-08 01:43] cmsbuild commented on #21780
This issue is fully signed and ready to be closed.

[2018-03-08 02:05] pmaksim1 commented on #18227
Alright, fair enough.  I'll go read Morris the Riot Act, since I was lead to believe this was fixed.  Sorry for dropping the ball on this.

[2018-03-08 07:23] geonmo opened #22522 "Old CMSSW release and GitHub problem"
Dear CMSSW Developer,

I found that the git commands were not working on old CMSSW release. (CMSSW_7_6_6)

Here is a log message when I tried git-clone.

[code]

I guess that this error was occurred due to a version of embedded git program.

Could you let me know how to solve this?

Regards,

[2018-03-08 07:23] cmsbuild commented on #22522
A new Issue was created by  @geonmo Geonmo Ryu.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-08 09:20] rekovic commented on #22483
@roger-wolf  @mbluj @steggema
Just to let you know that this is rather urgent as we need to cut a release for L1T Phase2 MC Production early next week.

If it might be of any help to you, I found out that the segfault in RecoTau happens if input to step3 (EventContent of step2.root file) contains this product
[code]
but not if this
[code]

[2018-03-08 12:03] perrozzi commented on #15999
should be solved by these pr
https://github.com/cms-sw/cmssw/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+perrozzi+lheruninfoproduct+

[2018-03-08 16:19] roger-wolf commented on #22483
Hi @rekovic, and others

to let you know I've made some investigations today with the following findings:

   * the crash seems to be related to the use of the class AddFourMomentum and the dynamic_cast in AddFourMomentum::set. I personally could not reach any understanding though about the "why" and the "why now and not before".
   * the instance that is passed as argument to the function is a de

[2018-03-08 16:23] Dr15Jones commented on #22483
@roger-wolf have you tried running a minimal crashing job (one where the configuration has been reduced) within valgrind? I often find that helps find non-obvious interactions.

[2018-03-08 16:29] roger-wolf commented on #22483
@Dr15Jones thanx Chris for the hint. I could try this tomorrow. But I'd need some guidance by someone how to do this I'm afraid.

[2018-03-08 16:31] Dr15Jones commented on #22483
@roger-wolf doing
[code]
should be sufficient

[2018-03-08 16:32] roger-wolf commented on #22483
looks simple :-)... Ok so I'll onbly have to check how minimal the cfg has to be. Thanx a lot!

[2018-03-08 16:34] Dr15Jones commented on #22483
@roger-wolf one thing to be aware of, running valgrind will take about 60x longer than running cmsRun regularly. That is the only reason I suggest trying to minimize the cfg. valgrind can handle the full configuration, but if the cmsRun job already takes 10 minutes, it would then take on the order of 10 hours under valgrind.

[2018-03-08 17:04] rekovic commented on #22483
@roger-wolf

I used a speedier version
[code]
to get the report whose excerpt I provide at the introductory https://github.com/cms-sw/cmssw/issues/22483#issue-302709795 of this issue

[2018-03-09 00:34] slava77 commented on #21864
I have updated the list of features submitted/requested for re-miniAOD v2 as of Mar 8 in the PR description.

[2018-03-09 16:33] kpedro88 opened #22554 "Next 9_3_X release for L1T Phase2"
PRs to include:
* #22190 Enable TrackTriggerAssociatorClustersStubs in L1TrackTrigger sequence
* #22480 [Backport] HGCAL trigger updates - 1
* #22487 [Backport] HGCAL trigger updates - 2
* #22479 Using dasgoclient for das queries in runTheMatrix (93X)
* https://github.com/cms-sw/cmsdist/pull/3815 Update L1Trigger-L1THGCal to tag 05 (93X)

Currently waiting on #22387 to be merged in 10_1_X.

attn:

[2018-03-09 16:33] cmsbuild commented on #22554
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-09 16:38] kpedro88 commented on #22483
assign upgrade

I remember this was happening even a year ago in #17665, but I could never figure out the reason. Seems like a really weird memory bug...

[2018-03-09 16:38] cmsbuild commented on #22483
New categories assigned: upgrade

@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-09 16:44] kpedro88 commented on #22554
assign upgrade,l1

[2018-03-09 16:44] cmsbuild commented on #22554
New categories assigned: upgrade,l1

@rekovic,@nsmith-,@kpedro88,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-09 19:55] Dr15Jones commented on #22389
@wddgit you can go ahead and close this

[2018-03-09 19:56] #22389 closed

[2018-03-09 20:01] Dr15Jones commented on #17375
+1

[2018-03-09 20:01] #17375 closed

[2018-03-09 20:01] cmsbuild commented on #17375
This issue is fully signed and ready to be closed.

[2018-03-10 15:54] slava77 commented on #20700
the same now applies to SoftMuonMvaEstimator introduced with #22419

[2018-03-10 15:58] slava77 commented on #20700
@drkovalskyi @folguera
The soft mu MVA takes up 8 MB of memory and it's instantiated per stream
https://slava77sk.web.cern.ch/slava77sk/reco/cgi-bin/igprof-navigator/CMSSW_10_1_X_2018-03-06-1100-sign1005.136.8311.IgProf.1.MEM_LIVE/825

Please bump up this issue on your priority list, especially if you are planning to deploy any more muon ID MVAs on a few months time scale.

The last I recall is th

[2018-03-10 17:04] fabiocos commented on #22554
@kpedro88 #22387 has been merged for the Sunday night IB

[2018-03-10 17:14] kpedro88 opened #22575 "Make generic package for sim track extrapolation"
See https://github.com/cms-sw/cmssw/pull/22387#discussion_r171256194, which discusses a newly-introduced dependence on FastSim packages in the L1THGCal code. This dependence is needed to use the sim track extrapolation code. It would be preferable to move that code to a separate package in a different Simulation subsystem in order to avoid the unusual dependence.

[2018-03-10 17:14] cmsbuild commented on #22575
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-10 17:14] kpedro88 commented on #22575
assign l1,upgrade,simulation,fastsim
attn: @jbsauvan

[2018-03-10 17:15] cmsbuild commented on #22575
New categories assigned: fastsim,simulation,upgrade,l1

@mdhildreth,@mdhildreth,@rekovic,@nsmith-,@ssekmen,@lveldere,@kpedro88,@thomreis,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-10 19:21] fabiocos opened #22576 "Rationalize the structure of SiPixelPhase1 DQM software"
The DQM SiPixelPhase1 software is made of a number of one-class only packages. The suggestion to merge everything in a single general package has been put on hold by authors on the basis of urgency.
This situation should be cleaned.

[2018-03-10 19:21] cmsbuild commented on #22576
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-10 19:23] fabiocos commented on #22576
@fioriNTU FYI

[2018-03-11 22:09] rekovic commented on #22554
@kpedro88
Thanks for keeping creating this issue that lists and keeps track of needed PRs for L1T Phase2.
I have also kept track and status of the needed PRs on our L1T Phase-2 twiki
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideL1TPhase2Instructions#Descritipon

@fabiocos
Ideally I would also like the EventContent PR https://github.com/cms-sw/cmssw/pull/22415 also kept track of at https:/

[2018-03-12 06:41] rekovic commented on #22554
updated twiki
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideL1TPhase2Instructions#Descritipon

[2018-03-12 09:37] steggema commented on #22483
There is something odd happening:
RecoTauPiZeroStripPlugin2 includes AddFourMomenta.h from CommonTools/CandUtils (*), however, the valgrind log reports an issue in libPhysicsToolsCandUtils, which has a near-clone version of AddFourMomenta.h (**) with the decisive difference that the version in CommonTools/CandUtils has an extra const_cast that makes it work for CompositePtrCandidates (***), which

[2018-03-12 09:43] steggema commented on #22483
Replacing this implementation

https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/PhysicsTools/CandUtils/src/AddFourMomenta.cc

with this

https://github.com/cms-sw/cmssw/blob/09c3fce6626f70fd04223e7dacebf0b485f73f54/CommonTools/CandUtils/src/AddFourMomenta.cc

fixes the crash for me (but it doesn't explain why the wrong version is picked).

[2018-03-12 09:47] makortel commented on #22483
@steggema Good catch, I'd say :)

This is a violation of One Definition Rule, which leads to undefined behaviour (so anything can happen). One of the two (maybe the one in `PhysicsTools` since the `CommonTools`-one is more generic?) has to be removed (or renamed).

[2018-03-12 10:02] makortel commented on #22483
Digging from the history, commit 60bfee78c7f19dad49a76e2511f07f3af5969aea (from 2009...) claims to migrate `AddFourMomenta` (among other classes) from `PhysicsTools` to `CommonTools`, but it was never removed from `PhysicsTools`. So the `PhysicsTools` one should be removed.

[2018-03-12 10:03] fabiocos commented on #22576
@smuzaffar I see that the new DQM/SiPixelPhase1DeadFEDChannels package has been already added in cms-bot, I was about to make the PR for this, thanks.

[2018-03-12 10:08] makortel commented on #22483
Actually nearly all classes "migrated" by 60bfee7 have still a copy in `PhysicsTools`.

[2018-03-12 10:08] #22449 closed

[2018-03-12 10:08] #22232 closed

[2018-03-12 10:10] perrotta commented on #22483
Thank you all for the investigation.
I agree that PhysicsTools/​CandUtils/​​AddFourMomenta must better be removed: @steggema @makortel would any of you take care of it, or should I?
There are still 10 classes in which the "wrong" AddFourMomenta is still included:
http://cmslxr.fnal.gov/search?_filestring=&_string=AddFourMomenta&_casesensitive=1

[2018-03-12 10:13] makortel commented on #22483
@perrotta Feel free to go a head (I'm busy-enough with other stuff). But I'd suggest to extend the scope of the cleanup to all classes of 60bfee7

[2018-03-12 10:18] steggema commented on #22483
@perrotta same here, please feel free to go ahead.

[2018-03-12 10:33] boudoul opened #22582 "Huge log for phase2 workflows"
Greetings,
The phase2 workflows (2023D21, 2023D17 etc...) are still exhibiting very long logs which make testing (and actually scrutinizing the logs ) very complicated . There is below a copy paste of a (small) fraction of the logs  - Looks like it is on thePFTrackProducer:pfTrack .  Could someone investigate if those are harmless and eventually fix or take actions ? I seem to remember a previous

[2018-03-12 10:33] cmsbuild commented on #22582
A new Issue was created by  @boudoul boudoul.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-12 10:45] davidlange6 commented on #22483
it looks quite a bit worse...

a nine(!) year ago migration started but not finished to a bunch of classes?

https://github.com/cms-sw/cmssw/tree/master/PhysicsTools/CandUtils/interface
https://github.com/cms-sw/cmssw/tree/master/CommonTools/CandUtils/interface

hopefully most of this is obsolete stuff?

[2018-03-12 10:52] perrotta commented on #22483
Even worse: in a few cases the include guards were identical for the class in PhysicsTools and in CommonTools: I wonder what happened when either one or the other was called first...
E.g.:
https://github.com/cms-sw/cmssw/tree/master/PhysicsTools/CandUtils/interface/Booster.h
vs
https://github.com/cms-sw/cmssw/tree/master/CommonTools/CandUtils/interface/Booster.h

[2018-03-12 10:57] davidlange6 commented on #22483
for duplicate include guards, the first one included wins. libraries are the complicated part.

[2018-03-12 12:23] Dr15Jones commented on #22582
assign reconstruction, upgrade

[2018-03-12 12:23] cmsbuild commented on #22582
New categories assigned: upgrade,reconstruction

@slava77,@perrotta,@kpedro88 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-12 12:50] slava77 commented on #22483
So, it looks like this issue is a duplicate of #19306

[2018-03-12 13:44] perrotta commented on #22483
Please have a look at #22584
@steggema : could you please check whether it can solve the issue at hand?

[2018-03-12 14:18] steggema commented on #22483
@perrotta I'm sure it will solve the issue since the non-general implementation of AddFourMomenta.cc is removed. I'm not sure how it could be tested specifically, apart from running the matrix tests, since the behaviour is undefined as pointed out by @makortel.

[2018-03-12 14:21] davidlange6 commented on #19306
i looked at whats involved

not including self references, CommonTools headers are included 50 times, ones in PhysicsTools 18 times - so seems the thing to do is to get rid of these

AddFourMomenta.h
src/TopQuarkAnalysis/TopPairBSM/src/BoostedTopProducer.cc
src/HeavyFlavorAnalysis/RecoDecay/src/BPHDecayMomentum.cc
src/HeavyFlavorAnalysis/RecoDecay/src/BPHPlusMinusCandidate.cc
src/PhysicsTools/PatA

[2018-03-12 14:24] knoepfel commented on #18574
Can you point me to the DQM GUI code so I can look at the couplings between it and `DQMStore`?

@fwyzard: I see discussion about how `MonitorElement`s are stored, but not much discussion about the schema of the `MonitorElement` class itself.  What constraints are there for making adjustments to `MonitorElement`?

[2018-03-12 14:47] kpedro88 commented on #22582
These messages have been there forever. I suspect the underlying problem is the lack of effort to adapt ParticleFlow to the extended tracker and HGCal. This is an ongoing area of concern, so I am reluctant just to disable the messages and ignore the problem.

For private runs, you could suppress the messages in your config, following https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideMessageLog

[2018-03-12 15:04] perrotta commented on #19306
@davidlange6 please have a look at #22584

In it I migrated all what above but Thrust.h, which was removed from CommonTools in 2009 by https://github.com/cms-sw/cmssw/commit/37a389609502aa52ef38394480843a27d0466f34#diff-b79b8f5cb1bfcdc21796e551b50a70fe

[2018-03-12 15:12] fwyzard commented on #18574
Hi @knoepfel ,
sorry, I'm afraid I don't really know about that.
.A

[2018-03-12 17:45] christopheralanwest opened #22586 "Include workflow that uses pre-mixing in PR integration tests"
Recently there have been two instances [1, 2] in which pre-mixing release validation has failed for the HCAL because the histograms needed for validation were entirely missing. It seems that this sort of problem could be caught easily in PR integration tests. Would it be possible to include a workflow that uses pre-mixing in the PR integration tests to ensure that such problems are identified prio

[2018-03-12 17:45] cmsbuild commented on #22586
A new Issue was created by  @christopheralanwest .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-12 18:26] schneiml commented on #18574
@knoepfel the authoritative repo of the DQMGUI is this, if I am not mistaken:
https://github.com/rovere/dqmgui

IIRC the it pulls in some CMSSW code at build time, so you won't find a DQMStore in the source code there, but it will be compiled with it when you build it. Which is nontrivial, but there is documentation: https://github.com/rovere/dqmgui/blob/index128/doc/overview/devguide.rst

[2018-03-12 18:36] kpedro88 commented on #22554
Add to the list:
https://github.com/cms-sw/cmsdist/pull/3839

[2018-03-12 19:56] Dr15Jones commented on #20700
@slava77

@Dr15Jones do you know if this situation has changed?

I do not know if that has changed. It seems unlikely.

[2018-03-13 10:44] rekovic commented on #22483
For the record here,
#22584 fixes problems for l1 in Phase2 wfs.  Now, with it, the  #22415 passes tests.

[2018-03-13 10:44] rekovic commented on #22483
assign l1

[2018-03-13 10:44] cmsbuild commented on #22483
New categories assigned: l1

@rekovic,@nsmith-,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-13 10:45] rekovic commented on #22483
+1

[2018-03-13 11:09] perrotta commented on #22483
+1

[2018-03-13 12:29] makortel commented on #22586
I support the request as it would solve also my immediate need for #22454 (in the context of phase2 premixing development).

[2018-03-13 13:02] kpedro88 commented on #22483
+1

[2018-03-13 13:02] cmsbuild commented on #22483
This issue is fully signed and ready to be closed.

[2018-03-13 13:03] kpedro88 commented on #22554
Another:
#22588

[2018-03-13 15:22] Dr15Jones commented on #22514
@wddgit this was solved in #22560 ?

[2018-03-13 15:23] Dr15Jones commented on #22450
solved in #22558

[2018-03-13 15:23] #22450 closed

[2018-03-13 15:23] Dr15Jones commented on #22450
+1

[2018-03-13 15:23] cmsbuild commented on #22450
This issue is fully signed and ready to be closed.

[2018-03-13 15:25] wddgit commented on #22514
Yes. We should close this issue.

[2018-03-13 15:26] #22514 closed

[2018-03-13 15:26] Dr15Jones commented on #22514
+1

[2018-03-13 15:26] cmsbuild commented on #22514
This issue is fully signed and ready to be closed.

[2018-03-13 15:31] Dr15Jones commented on #13760
+1
The solution we used was to discard messages if the buffer exceeded a certain limit. This aptimizes for concurrency over messaging completeness.

[2018-03-13 15:31] #13760 closed

[2018-03-13 15:31] cmsbuild commented on #13760
This issue is fully signed and ready to be closed.

[2018-03-13 15:35] Dr15Jones opened #22598 "Change ESSource API to be able to work with concurrent EventSetups"
Change the ESSource API so that it would work in the case where we have mulitple EventSetups each with different IOVs.

[2018-03-13 15:35] cmsbuild commented on #22598
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-13 15:39] knoepfel commented on #18574
@schneiml thanks.  I'm not sure how successful I will be in building it since I doubt I have permissions where they may be required, but I'll give it a go.

@fwyzard regarding proxies: the concept of "current" directory must go away in terms of the `DQMStore` in ensuring thread safety.  I see no problems with (e.g.) the `DQMEDAnalyzer` supplying the directory for retrieving the `MonitorElement`s,

[2018-03-13 15:49] fwyzard commented on #18574
It is perfectly fine for a module to book or access histograms in multiple directories.
So, the choice of directory should not be done at the time of the call to `bookTransaction` - at least, not only.
The proxy object returned by `bookTransaction` should still have `cd()` and similar methods to navigate the directory tree.

[2018-03-13 16:11] kpedro88 commented on #22554
And:
#22591
(needs #22415 merged in master first)

[2018-03-13 16:48] rovere commented on #18574
@knoepfel could you please clarify, at least to me, what is exactly your goal related to CMSSW/DQMStore and the DQMGUI?

[2018-03-13 16:53] knoepfel commented on #18574
The intention is to adjust `DQMStore` so that it is not necessary to lock the data structures during booking--i.e. to take better advantage of multi-threading.  I am hoping to make no (or at least only minimal) changes to DQMGUI as a consequence of the adjustments to `DQMStore`.

[2018-03-13 16:56] rovere commented on #18574
@knoepfel please ignore the DQMGUI for the time being and commit code only in CMSSW. There is, in CMSSW, a standalone compilation of DQMStore: as long as that works, I am happy, and the DQMGUI is happy too.
My long-ish term plan is to definitely cut also this link between CMSSW and DQMGUI, but I still have to make a plan and fully assess the consequences.

[2018-03-13 16:57] Dr15Jones commented on #18574
Thanks @rovere

[2018-03-13 17:00] knoepfel commented on #18574
@rovere okay, will do.  Thanks.

[2018-03-13 18:45] knoepfel commented on #18574
@fwyzard yes, calling `cd(...)` is still supported via the `IBooker` and `IGetter` interface because both objects will share the same proxy and therefore have consistent state.

[2018-03-13 21:04] fabiocos opened #22600 "Build CMSSW_10_1_0_pre3"

[2018-03-13 21:06] cmsbuild commented on #22600
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-13 21:07] fabiocos commented on #22600
+1

[2018-03-13 21:07] cmsbuild commented on #22600
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_0_pre3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2018-03-13 21:07] cmsbuild commented on #22600
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc7_amd64_gcc700, slc6_amd64_gcc630, slc6_amd64_gcc700, slc7_aarch64_gcc700
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first

[2018-03-13 21:09] cmsbuild commented on #22600
The build has started for slc7_amd64_gcc630 in cmsbuild54.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1514/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-13 21:09] cmsbuild commented on #22600
The build has started for slc6_amd64_gcc700 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1512/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-13 21:09] cmsbuild commented on #22600
The build has started for slc7_aarch64_gcc700 in hwei-2180-ol-10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1513/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-13 21:09] cmsbuild commented on #22600
The build has started for slc6_amd64_gcc630 in cmsbuild43.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1511/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-13 21:10] cmsbuild commented on #22600
The build has started for slc7_amd64_gcc700 in cmsbuild45.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1515/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc700](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc700), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-14 02:44] cmsbuild commented on #22600
The build has finished sucessfully for the architecture slc7_aarch64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc7_aarch64_gcc700/1513
Some

[2018-03-14 04:18] cmsbuild commented on #22600
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc7_amd64_gcc700/1515
Some tes

[2018-03-14 04:41] cmsbuild commented on #22600
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc7_amd64_gcc630/1514
Some tes

[2018-03-14 04:48] cmsbuild commented on #22600
The build has finished sucessfully for the architecture slc6_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc6_amd64_gcc700/1512
Some tes

[2018-03-14 05:13] cmsbuild commented on #22600
The tests have finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc7_aarch64_gcc700/1513

Tests results:
22 22 22 18 10 1 1 1 tests passed, 2 0 0 0 0 0 0 0 failed

[2018-03-14 05:28] cmsbuild commented on #22600
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc7_amd64_gcc700/1515

Tests results:
24 23 22 18 10 1 1 1 tests passed, 0 1 0 0 0 0 0 0 failed

[2018-03-14 05:54] cmsbuild commented on #22600
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc7_amd64_gcc630/1514

Tests results:
24 24 23 18 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-14 05:59] cmsbuild commented on #22600
The tests have finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc6_amd64_gcc700/1512

Tests results:
24 24 22 17 10 1 1 1 tests passed, 0 0 1 0 0 0 0 0 failed

[2018-03-14 08:47] cmsbuild commented on #22600
The build has started for slc6_amd64_gcc630 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1516/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-14 08:51] perrotta commented on #22234
#21681 finally managed to combine previous "GEM" and "ME0" classes into single "GEM" ones, with great simplification and improved manageability of the whole structure. Also the few fixes requested here were implemented in that PR. This does not mean that the work on GEM packer/unpacker and GEMObjects can be considered as concluded: however that PR completely achieve the code cleaning that is reque

[2018-03-14 08:51] #22234 closed

[2018-03-14 09:00] cmsbuild commented on #22600
The was an error for slc6_amd64_gcc630.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc6_amd64_gcc630/1517

[2018-03-14 09:02] cmsbuild commented on #22600
The build has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1518/console
CMSDIST Branch: [IB/CMSSW_10_1_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_1_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-14 10:24] perrotta commented on #19306
+1
- #22584 fixes it

[2018-03-14 10:51] fabiocos opened #22604 "Build CMSSW_5_3_37_patch1"

[2018-03-14 10:52] cmsbuild commented on #22604
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-14 10:53] fabiocos commented on #22604
+1

[2018-03-14 10:53] cmsbuild commented on #22604
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-03-14 10:59] cmsbuild commented on #22604
The build has started for slc6_amd64_gcc472 in cmsbuild49.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1519/console
CMSDIST Branch: [REL/CMSSW_5_3_37/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_5_3_37/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-14 11:11] cmsbuild commented on #22604
The was an error for slc6_amd64_gcc472.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_37_patch1-slc6_amd64_gcc472/1519

[2018-03-14 11:26] smuzaffar commented on #22604
@fabiocos , this is due to old cms-git-tools in this release. I will check if we can build the patch release without updating it otherwise I am afraid we might have to build a full release with few externals to update.

[2018-03-14 13:36] cmsbuild commented on #22600
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc6_amd64_gcc630/1518
Some tes

[2018-03-14 14:17] fabiocos opened #22606 "Build CMSSW_10_0_4"

[2018-03-14 14:17] cmsbuild commented on #22606
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-14 14:29] fabiocos commented on #22604
@smuzaffar if we need to go for a full build, let's keep it for a later moment, 10_0_4 is more urgent

[2018-03-14 14:42] cmsbuild commented on #22600
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_1_0_pre3-slc6_amd64_gcc630/1518

Tests results:
24 24 23 18 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-14 14:42] kpedro88 commented on #22554
Also:
#22608
(needs #22607 merged in master first)

[2018-03-14 14:44] Dr15Jones commented on #22598
assign core

[2018-03-14 14:45] cmsbuild commented on #22598
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-14 14:50] Dr15Jones commented on #22516
assign core

[2018-03-14 14:50] Dr15Jones commented on #22516
assign visualization

[2018-03-14 14:50] cmsbuild commented on #22516
New categories assigned: core,visualization

@Dr15Jones,@Dr15Jones,@smuzaffar,@alja you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-14 15:41] fabiocos commented on #22600
upload all

[2018-03-14 15:41] cmsbuild commented on #22600
Queing Jenkins upload for slc6_amd64_gcc630

[2018-03-14 15:41] cmsbuild commented on #22600
Queing Jenkins upload for slc7_amd64_gcc700

[2018-03-14 15:44] cmsbuild commented on #22600
The upload has started for slc6_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1005/console

[2018-03-14 15:44] cmsbuild commented on #22600
The upload has started for slc6_amd64_gcc700 in cmsbuild61.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1006/console

[2018-03-14 15:45] cmsbuild commented on #22600
The upload has started for slc7_aarch64_gcc700 in hwei-2180-ol-10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1007/console

[2018-03-14 15:45] cmsbuild commented on #22600
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre3-slc6_amd64_gcc630/1005
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-14 15:45] cmsbuild commented on #22600
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-14 15:45] cmsbuild commented on #22600
The upload has started for slc7_amd64_gcc630 in cmsbuild54.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1008/console

[2018-03-14 15:45] cmsbuild commented on #22600
The upload has successfully finished for slc7_aarch64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre3-slc7_aarch64_gcc700/1007
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-14 15:46] cmsbuild commented on #22600
The upload has started for slc7_amd64_gcc700 in cmsbuild45.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1009/console

[2018-03-14 15:47] cmsbuild commented on #22600
The upload has successfully finished for slc6_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre3-slc6_amd64_gcc700/1006
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-14 15:47] cmsbuild commented on #22600
CERN AFS installation skipped for slc6_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-14 15:49] cmsbuild commented on #22600
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre3-slc7_amd64_gcc700/1009
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-14 15:49] cmsbuild commented on #22600
CERN AFS installation skipped for slc7_amd64_gcc700 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-14 15:50] cmsbuild commented on #22600
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_1_0_pre3-slc7_amd64_gcc630/1008
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-14 15:50] cmsbuild commented on #22600
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-14 16:01] fabiocos commented on #22606
+1

[2018-03-14 16:02] cmsbuild commented on #22606
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_0_X

[2018-03-14 16:02] cmsbuild commented on #22606
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-03-14 16:03] cmsbuild commented on #22606
The build has started for slc6_amd64_gcc630 in cmsbuild38.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1520/console
CMSDIST Branch: [IB/CMSSW_10_0_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_10_0_X/gcc630), PKGTOOLS Branch: [V00-32-XX](https://github.com/cms-sw/pkgtools/commits/V00-32-XX)

[2018-03-14 16:03] fabiocos commented on #22600
release-notes since CMSSW_10_1_0_pre2

[2018-03-14 16:03] cmsbuild commented on #22600
Generating release notes since CMSSW_10_1_0_pre2.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-03-14 16:03] cmsbuild commented on #22600
You can use this template for announcing the release:

Hi all,

The development release CMSSW_10_1_0_pre3 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc6_amd64_gcc700
slc7_amd64_gcc630
slc7_amd64_gcc700

The release notes of what changed with respect to CMSSW_10_1_0_pre2 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_1_0_pre3

Cheers,
cms

[2018-03-14 16:05] cmsbuild commented on #22600
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_1_0_pre3

[2018-03-14 18:44] slava77 opened #22618 "follow up to EGamma Scale & Smearing For Re-miniAOD #22531"
Several items were left over during the review of #22531

- localize midifications in reducedEgamma_cfi.py instead of process.reducedEgamma modifications made in RecoEgamma/EgammaPhotonProducers/python/reducedEgamma_tools.py https://github.com/cms-sw/cmssw/pull/22531/files#r174522689
- consistent use of configuration PSet validation in calibratedEgammas_cff https://github.com/cms-sw/cmssw/pull/225

[2018-03-14 18:44] slava77 commented on #22618
assign reconstruction

[2018-03-14 18:44] cmsbuild commented on #22618
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-14 18:44] cmsbuild commented on #22618
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-14 19:02] cmsbuild commented on #22606
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_4-slc7_amd64_gcc630/1521
Some tests (

[2018-03-14 20:03] cmsbuild commented on #22606
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_4-slc7_amd64_gcc630/1521

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-14 23:02] cmsbuild commented on #22606
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_4-slc6_amd64_gcc630/1520
Some tests (

[2018-03-15 00:10] cmsbuild commented on #22606
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_0_4-slc6_amd64_gcc630/1520

Tests results:
22 22 21 17 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-15 07:46] fabiocos commented on #22606
upload all

[2018-03-15 07:46] cmsbuild commented on #22606
Queing Jenkins upload for slc6_amd64_gcc630

[2018-03-15 07:46] cmsbuild commented on #22606
Queing Jenkins upload for slc7_amd64_gcc630

[2018-03-15 07:49] cmsbuild commented on #22606
The upload has started for slc6_amd64_gcc630 in cmsbuild38.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1010/console

[2018-03-15 07:52] cmsbuild commented on #22606
The upload has started for slc7_amd64_gcc630 in vocms0315.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1011/console

[2018-03-15 07:54] cmsbuild commented on #22606
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_4-slc6_amd64_gcc630/1010
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-15 07:54] cmsbuild commented on #22606
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-15 07:55] cmsbuild commented on #22606
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_0_4-slc7_amd64_gcc630/1011
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-15 07:55] cmsbuild commented on #22606
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-15 07:57] fabiocos commented on #22606
release-notes since CMSSW_10_0_3

[2018-03-15 07:58] cmsbuild commented on #22606
Generating release notes since CMSSW_10_0_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-03-15 07:58] cmsbuild commented on #22606
You can use this template for announcing the release:

Hi all,

The production release CMSSW_10_0_4 is now available for the following architectures:

slc6_amd64_gcc630 (production)
slc7_amd64_gcc630

The release notes of what changed with respect to CMSSW_10_0_3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_0_4

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-03-15 07:59] cmsbuild commented on #22606
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_0_4

[2018-03-15 08:10] fabiocos commented on #22483
with the integration of #22584 and its backport to 93X I consider this issue closed

[2018-03-15 08:33] rekovic commented on #22483
Thanks everybody involved!

[2018-03-15 08:33] #22483 closed

[2018-03-15 09:44] fabiocos commented on #22604
abort

[2018-03-15 09:44] cmsbuild commented on #22604
Deleting CMSSW_5_3_37_patch1:

  -Release successfully deleted

  -cmssw tag CMSSW_5_3_37_patch1 successfully deleted.

 -I was not able to delete the tag REL/CMSSW_5_3_37_patch1/slc6_amd64_gcc472. Probaly it had not been created.

You must create a new issue to start over the build.

[2018-03-15 13:38] Dr15Jones commented on #22135
It happened here:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc6_amd64_gcc630/CMSSW_10_1_X_2018-03-14-2300/pyRelValMatrixLogs/run/106.0_bJpsiX+bJpsiX+DIGI+RECO/step1_bJpsiX+bJpsiX+DIGI+RECO.log

[code]

[2018-03-15 13:41] Dr15Jones commented on #22135
It happened here:
https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/slc7_amd64_gcc630/CMSSW_10_1_X_2018-03-11-0000/pyRelValMatrixLogs/run/136.7803_RunHLTPhy2017B_RAWAOD+RunHLTPhy2017B_RAWAOD+DQMHLTonRAWAOD_2017/step2_RunHLTPhy2017B_RAWAOD+RunHLTPhy2017B_RAWAOD+DQMHLTonRAWAOD_2017.log

[code]

[2018-03-15 15:07] Dr15Jones opened #22635 "Signal to external worker that the system is shutting down"
The `ExternalWork` mechanism of the framework allows a EDProducer's event processing to be split into two phases: acquire and produce. As part of the acquire, a callback mechanism is handed to some 'external worker'. Some of these 'external workers' may wait to start working until they've accumulated data from multiple events. We need a way to signal to these 'external workers' that they need to r

[2018-03-15 15:07] cmsbuild commented on #22635
A new Issue was created by  @Dr15Jones Chris Jones.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-15 15:07] Dr15Jones commented on #22635
assign core

[2018-03-15 15:07] cmsbuild commented on #22635
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-15 15:25] slava77 commented on #21864
the list of features was updated [see the issue description with check-boxes]

[2018-03-16 10:19] fabiocos commented on #22576
#22632 addresses this issue, welcome input for 10_2_X. The discussion can continue there.

[2018-03-16 10:19] #22576 closed

[2018-03-16 10:27] fabiocos commented on #21864
@slava77 after the integration of #22132 I understand that the list of RECO/analysis features needed for the reminiAODv2 94X has been exhausted, am I correct?
@arunhep @franzoni  #22638 implements the JEC, and this is the last input block needed for that reprocessing, correct? It should be forward ported into the master branch as well (it does not affect 2018, so its addition to 10_1_X is legitima

[2018-03-16 10:31] arunhep commented on #21864
@fabiocos

from conditions, yes this is the last version. As i mentioned in my PR, I am porting these changes in 2017 MC workflows in master. PR for master will be opened today before afternoon.

[2018-03-16 10:35] fabiocos opened #22641 "Build CMSSW_5_3_38"

[2018-03-16 10:36] cmsbuild commented on #22641
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-16 10:37] fabiocos commented on #22641
build cmssw-tool-conf

[2018-03-16 10:37] cmsbuild commented on #22641
Queuing Jenkins build for cmssw-tool-conf for the following architectures: slc6_amd64_gcc472
Be aware that I am building only cmssw-tool-conf. You still need to "+1" this issue to make me start the build of the release. For each architecture, I will only start to build the release after cmssw-tool-conf finishes building.

[2018-03-16 10:38] cmsbuild commented on #22641
The cmssw-tool-conf build has started for slc6_amd64_gcc472 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1522/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-16 10:49] cmsbuild commented on #22641
The cmssw-tool-conf build has finished sucessfully for the architecture slc6_amd64_gcc472 and it was automatically uploaded.
Remember that if you write "+1" I will start to build this and all the architectures as soon as their cmssw-tool-conf finish.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_38-slc6_amd64_gcc472/1522

[2018-03-16 12:03] fabiocos commented on #22641
+1

[2018-03-16 12:04] cmsbuild commented on #22641
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_38. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2018-03-16 12:04] cmsbuild commented on #22641
Queuing Jenkins build for the following architectures: slc6_amd64_gcc472
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-03-16 12:04] cmsbuild commented on #22641
The build has started for slc6_amd64_gcc472 in cmsbuild38.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1523/console
CMSDIST Branch: [IB/CMSSW_5_3_X/slc6_amd64_gcc472](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_5_3_X/slc6_amd64_gcc472), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-16 12:25] slava77 commented on #21864
updated on Mar 16. All PRs/features listed in "Features affecting miniAOD content" are now integrated in the MAOD branch.

[2018-03-16 14:34] cmsbuild commented on #22641
The build has finished sucessfully for the architecture slc6_amd64_gcc472 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_38-slc6_amd64_gcc472/1523
Some tests (

[2018-03-16 15:08] cmsbuild commented on #22600
The cleanup has started for slc7_aarch64_gcc700

[2018-03-16 15:08] cmsbuild commented on #22600
The cleanup has started for slc6_amd64_gcc630

[2018-03-16 15:08] cmsbuild commented on #22600
The cleanup has started for slc6_amd64_gcc700

[2018-03-16 15:08] cmsbuild commented on #22600
The cleanup has started for slc7_amd64_gcc630

[2018-03-16 15:08] cmsbuild commented on #22600
The cleanup has started for slc7_amd64_gcc700

[2018-03-16 15:09] #22600 closed

[2018-03-16 15:10] cmsbuild commented on #22600
The workspace for slc7_aarch64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre3-slc7_aarch64_gcc700/911

[2018-03-16 15:13] cmsbuild commented on #22641
The tests have finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_5_3_38-slc6_amd64_gcc472/1523

Tests results:
8 8 7 7 3 tests passed, 0 0 0 0 0 failed

[2018-03-16 15:15] fabiocos commented on #22641
upload all

[2018-03-16 15:18] cmsbuild commented on #22641
The upload has started for slc6_amd64_gcc472 in cmsbuild38.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1012/console

[2018-03-16 15:18] cmsbuild commented on #22641
The upload has successfully finished for slc6_amd64_gcc472
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_5_3_38-slc6_amd64_gcc472/1012
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-16 15:18] cmsbuild commented on #22641
CERN AFS installation skipped for slc6_amd64_gcc472 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-16 15:19] fabiocos commented on #22641
release-notes

[2018-03-16 15:19] cmsbuild commented on #22641
Generating release notes since CMSSW_5_3_37.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-03-16 15:19] cmsbuild commented on #22641
You can use this template for announcing the release:

Hi all,

The production release CMSSW_5_3_38 is now available for the following architectures:

slc6_amd64_gcc472 (production)

The release notes of what changed with respect to CMSSW_5_3_37 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_5_3_38

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2018-03-16 15:21] cmsbuild commented on #22641
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_38

[2018-03-16 15:24] cmsbuild commented on #22600
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre3-slc6_amd64_gcc700/910

[2018-03-16 15:26] cmsbuild commented on #22600
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre3-slc7_amd64_gcc630/912

[2018-03-16 15:27] cmsbuild commented on #22600
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_1_0_pre3-slc7_amd64_gcc700/913

[2018-03-16 16:28] fabiocos opened #22651 "Build CMSSW_8_0_31"

[2018-03-16 16:29] cmsbuild commented on #22651
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-16 16:29] fabiocos commented on #22651
+1

[2018-03-16 16:29] cmsbuild commented on #22651
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_31. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_8_0_X

[2018-03-16 16:29] cmsbuild commented on #22651
Queuing Jenkins build for the following architectures: slc6_amd64_gcc530, slc7_amd64_gcc530
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-03-16 16:30] cmsbuild commented on #22651
The build has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1524/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-16 16:32] cmsbuild commented on #22651
The build has started for slc7_amd64_gcc530 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1525/console
CMSDIST Branch: [IB/CMSSW_8_0_X/gcc530](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_8_0_X/gcc530), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-16 20:24] cmsbuild commented on #22651
The build has finished sucessfully for the architecture slc7_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_31-slc7_amd64_gcc530/1525
Some tests (

[2018-03-16 20:40] cmsbuild commented on #22651
The tests have finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_31-slc7_amd64_gcc530/1525

Tests results:
4.22_RunCosmics2011A+RunCosmics2011A+RECOCOSD+ALCACOSD+SKIMCOSD+HARVESTDC Step0-DAS_ERROR Step1-NOTRUN Step2-NOTRUN Step3-NOTRUN Step4-NOTRUN  - time date Fri Mar 16 21:24:40 2018-date Fri Mar 16 21:24:40 2018;

[2018-03-16 20:54] slava77 opened #22655 "style/update EGRegressionModifier (re PR #22417)"
This is to follow up on https://github.com/cms-sw/cmssw/pull/22417#pullrequestreview-104010710

There is apparently plan or work partially done to refactor/redo this code in even more significant way.
So, this issue is to keep track of one or the other to actually happen.

@Sam-Harper @jainshilpi

[2018-03-16 20:54] cmsbuild commented on #22655
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-16 20:55] slava77 commented on #22655
assign reconstruction

[2018-03-16 20:55] cmsbuild commented on #22655
New categories assigned: reconstruction

@slava77,@perrotta you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-16 21:24] cmsbuild commented on #22651
The build has finished sucessfully for the architecture slc6_amd64_gcc530 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_31-slc6_amd64_gcc530/1524
Some tests (

[2018-03-16 21:52] cmsbuild commented on #22651
The tests have finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_8_0_31-slc6_amd64_gcc530/1524

Tests results:
10 10 9 7 5 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-17 07:08] cmsbuild commented on #22606
The cleanup has started for slc6_amd64_gcc630

[2018-03-17 07:08] cmsbuild commented on #22606
The cleanup has started for slc7_amd64_gcc630

[2018-03-17 07:08] #22606 closed

[2018-03-17 07:12] cmsbuild commented on #22606
The workspace for slc7_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_4-slc7_amd64_gcc630/915

[2018-03-17 07:19] cmsbuild commented on #22606
The workspace for slc6_amd64_gcc630 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_0_4-slc6_amd64_gcc630/914

[2018-03-17 08:53] cmsbuild commented on #22604
The cleanup has started for slc6_amd64_gcc472

[2018-03-17 08:53] #22604 closed

[2018-03-17 08:53] cmsbuild commented on #22604
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_37_patch1-slc6_amd64_gcc472/916

[2018-03-17 09:38] fabiocos commented on #22651
upload all

[2018-03-17 09:39] cmsbuild commented on #22651
Queing Jenkins upload for slc6_amd64_gcc530

[2018-03-17 09:40] cmsbuild commented on #22651
The upload has started for slc7_amd64_gcc530 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1014/console

[2018-03-17 09:40] cmsbuild commented on #22651
The upload has started for slc6_amd64_gcc530 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1013/console

[2018-03-17 09:41] cmsbuild commented on #22651
The upload has successfully finished for slc7_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_31-slc7_amd64_gcc530/1014
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-17 09:41] cmsbuild commented on #22651
The upload has successfully finished for slc6_amd64_gcc530
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_8_0_31-slc6_amd64_gcc530/1013
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-17 09:41] cmsbuild commented on #22651
CERN AFS installation skipped for slc7_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-17 09:41] cmsbuild commented on #22651
CERN AFS installation skipped for slc6_amd64_gcc530 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-17 09:50] fabiocos commented on #22651
release-notes

[2018-03-17 09:50] cmsbuild commented on #22651
Generating release notes since CMSSW_8_0_30.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-03-17 09:50] cmsbuild commented on #22651
You can use this template for announcing the release:

Hi all,

The production release CMSSW_8_0_31 is now available for the following architectures:

slc6_amd64_gcc530 (production)
slc7_amd64_gcc530

The release notes of what changed with respect to CMSSW_8_0_30 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_8_0_31

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relA

[2018-03-17 09:51] cmsbuild commented on #22651
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_8_0_31

[2018-03-17 10:10] fabiocos opened #22656 "Build CMSSW_7_1_32"

[2018-03-17 10:10] cmsbuild commented on #22656
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-17 10:11] fabiocos commented on #22656
+1

[2018-03-17 10:12] cmsbuild commented on #22656
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_32. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_7_1_X

[2018-03-17 10:12] cmsbuild commented on #22656
Queuing Jenkins build for the following architectures: slc6_amd64_gcc481
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-03-17 10:12] cmsbuild commented on #22656
The build has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1526/console
CMSDIST Branch: [IB/CMSSW_7_1_X/stable](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_7_1_X/stable), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-17 10:29] fabiocos commented on #21864
@slava77 the last item on the list has been integrated, and 9_4_MAD_X is now empty

[2018-03-17 12:10] cmsbuild commented on #22656
The build has finished sucessfully for the architecture slc6_amd64_gcc481 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_32-slc6_amd64_gcc481/1526
Some tests (

[2018-03-17 12:30] cmsbuild commented on #22656
The tests have finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_7_1_32-slc6_amd64_gcc481/1526

Tests results:
7 7 6 6 4 tests passed, 0 0 0 0 0 failed

[2018-03-17 13:10] fabiocos commented on #22656
upload all

[2018-03-17 13:10] cmsbuild commented on #22656
Queing Jenkins upload for slc6_amd64_gcc481

[2018-03-17 13:12] cmsbuild commented on #22656
The upload has started for slc6_amd64_gcc481 in vocms0301.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1015/console

[2018-03-17 13:12] cmsbuild commented on #22656
The upload has successfully finished for slc6_amd64_gcc481
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_7_1_32-slc6_amd64_gcc481/1015
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-17 13:12] cmsbuild commented on #22656
CERN AFS installation skipped for slc6_amd64_gcc481 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-17 13:44] fabiocos commented on #22656
release-notes

[2018-03-17 13:44] cmsbuild commented on #22656
Generating release notes since CMSSW_7_1_31.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-03-17 13:44] cmsbuild commented on #22656
You can use this template for announcing the release:

Hi all,

The production release CMSSW_7_1_32 is now available for the following architectures:

slc6_amd64_gcc481 (production)

The release notes of what changed with respect to CMSSW_7_1_31 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_7_1_32

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@cern.ch?su

[2018-03-17 13:45] cmsbuild commented on #22656
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_7_1_32

[2018-03-17 18:08] slava77 commented on #21864
Thanks. I've updated the check-boxes.
It looks like we are done with integration.
I will close this issue once the production starts.

[2018-03-18 11:20] VinInn commented on #22582
maybe it can be shorted to just
PROPAGATION TO THE E/HCAL ENTRANCE HAS FAILED
the rest of the information seems pretty redundant at this point...

[2018-03-18 14:24] cmsbuild commented on #22641
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_38-slc6_amd64_gcc472/918

[2018-03-18 14:28] cmsbuild commented on #22641
The workspace for slc6_amd64_gcc472 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_5_3_38-slc6_amd64_gcc472/917

[2018-03-19 07:51] fabiocos opened #22660 "10_1_X IB failure in wf 20261.98"
After the last updated of test workflows, there is a DAS error in the wf 20261.98 due to an apparently missing input file in the search

dasgoclient --limit 0 --query 'file dataset=/RelValNuGun/CMSSW_9_3_2-93X_upgrade2023_realistic_v2_2023D17noPU-v1/GEN-SIM site=T2_CH_CERN'

[2018-03-19 07:52] cmsbuild commented on #22660
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-03-19 07:52] fabiocos commented on #22660
assign pdmv

[2018-03-19 07:52] cmsbuild commented on #22660
New categories assigned: pdmv

@prebello,@fabozzi,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2018-03-19 08:45] fabiocos opened #22661 "Build CMSSW_9_4_5_cand1"
RELEASE_QUEUE:CMSSW_9_4_MAOD_X
ARCHITECTURE:slc6_amd64_gcc630

[2018-03-19 08:46] cmsbuild commented on #22661
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-19 08:50] fabiocos commented on #22661
RELEASE_QUEUE:CMSSW_9_4_MAOD_X
ARCHITECTURE:slc6_amd64_gcc630,slc7_amd64_gcc630

[2018-03-19 08:52] fabiocos commented on #22661
@smuzaffar will the cms-bot understand the update in required architectures? Or should I abort and restart?

[2018-03-19 08:53] cmsbuild commented on #22651
The cleanup has started for slc6_amd64_gcc530

[2018-03-19 08:53] cmsbuild commented on #22651
The cleanup has started for slc7_amd64_gcc530

[2018-03-19 08:53] #22651 closed

[2018-03-19 08:54] cmsbuild commented on #22651
The workspace for slc6_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_31-slc6_amd64_gcc530/919

[2018-03-19 08:56] fabozzi commented on #22660
@kpedro88 apparently this GEN-SIM does not exists. How to proceed with that? Produce it now or wait for the next round of Phase 2 relvals?

[2018-03-19 09:00] cmsbuild commented on #22651
The workspace for slc7_amd64_gcc530 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_8_0_31-slc7_amd64_gcc530/920

[2018-03-19 09:03] smuzaffar commented on #22661
@fabiocos , 94MAOD is only setup for slc6_amd64_gcc630 arch (that is why we only have slc6 IBs).

[2018-03-19 09:04] cmsbuild commented on #22661
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait fo

[2018-03-19 09:09] fabiocos commented on #22661
@smuzaffar ok, you are correct, we are missing the parallel branch, so the bot does not know what to use (even if we have the corresponding 9_4_X for slc7). For this test it should not matter anyway.

[2018-03-19 09:09] fabiocos commented on #22661
+1

[2018-03-19 09:09] cmsbuild commented on #22661
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_5_cand1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_4_MAOD_X

[2018-03-19 09:09] cmsbuild commented on #22661
Queuing Jenkins build for the following architectures: slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the build of cmssw.

[2018-03-19 09:10] cmsbuild commented on #22661
The build has started for slc6_amd64_gcc630 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1527/console
CMSDIST Branch: [IB/CMSSW_9_4_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_4_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-19 12:55] #22656 closed

[2018-03-19 12:56] cmsbuild commented on #22656
The workspace for slc6_amd64_gcc481 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_7_1_32-slc6_amd64_gcc481/921

[2018-03-19 14:12] kpedro88 commented on #22660
@fabozzi @makortel for 10_1_X I think we should just produce it with 10_1_0_pre3 relvals

[2018-03-19 14:31] makortel commented on #22660
Hmm, it worked in the PR test of #22510. Could the difference be that now that `defaultDataSets['2023D17']` is set, also the step1 GEN-SIM gets replaced by query to DAS in IB tests? (are they are run with ` runTheMatrix.py --i all`?)

Alternatively the workflow could be instructed to always run NuGun GEN-SIM (AFAICT that's what happens with run2 workflows `250199.*`, so maybe that's what should be

[2018-03-19 14:37] makortel commented on #22660
To clarify, what the workflow really needs via DAS is the MinBias GEN-SIM for pileup input, and that one does exist for 9_3_2.

On the other hand, I don't object producing phase2 RelVals in 10_1_0_pre3 (on the contrary).

[2018-03-19 14:44] makortel commented on #22660
IIUC, this

would mean to instead of setting `defaultDataSets['2023D17']`
https://github.com/cms-sw/cmssw/blob/fe62f5a601dfe5f13bd4154ac9c15f0bf10511d3/Configuration/PyReleaseValidation/python/relval_steps.py#L2248
set `PUDataSets['2023D17']` explicitly.
https://github.com/cms-sw/cmssw/blob/fe62f5a601dfe5f13bd4154ac9c15f0bf10511d3/Configuration/PyReleaseValidation/python/relval_steps.py#L2280

@kp

[2018-03-19 14:48] kpedro88 commented on #22660
@makortel would setting `PUDataSets['2023D17']` change the input for classical mixing as well?

[2018-03-19 14:50] kpedro88 opened #22666 "Build CMSSW_9_3_7"

[2018-03-19 14:57] makortel commented on #22660
It would. If that is a problem, we could make additional `PUPRMXDataSets` to hold only that.

I see that disabling the automated input for premixing stage1 would be fairly straightforward as well.

I think there are actually two issues
1. with `-i all` 20261.98 requires NuGun GEN-SIM, whereas run2 premixing stage1 workflows do not
   * I suppose it would be good to make 20261.98 similar to run2 st

[2018-03-19 15:04] cmsbuild commented on #22666
Request received. I will start to build the release after one of the following approve the issue: @slava77, @davidlange6, @smuzaffar, @fabiocos, @kpedro88. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and t

[2018-03-19 15:16] cmsbuild commented on #22661
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_5_cand1-slc6_amd64_gcc630/1527
Some tes

[2018-03-19 16:22] cmsbuild commented on #22661
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_4_5_cand1-slc6_amd64_gcc630/1527

Tests results:
22 22 21 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-19 16:28] fabiocos commented on #22661
upload all

[2018-03-19 16:29] cmsbuild commented on #22661
The upload has started for slc6_amd64_gcc630 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1016/console

[2018-03-19 16:35] cmsbuild commented on #22661
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_4_5_cand1-slc6_amd64_gcc630/1016
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-19 16:35] cmsbuild commented on #22661
CERN AFS installation skipped for slc6_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-19 16:35] fabiocos commented on #22661
release-notes since CMSSW_9_4_4

[2018-03-19 16:36] cmsbuild commented on #22661
Generating release notes since CMSSW_9_4_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2018-03-19 16:36] cmsbuild commented on #22661
You can use this template for announcing the release:

Hi all,

The production release CMSSW_9_4_5_cand1 is now available for the following architectures:

slc6_amd64_gcc630 (production)

The release notes of what changed with respect to CMSSW_9_4_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_9_4_5_cand1

Cheers,
cms-bot

You can also click <a href="mailto:hn-cms-relAnnounce@c

[2018-03-19 16:38] cmsbuild commented on #22661
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_4_5_cand1

[2018-03-19 17:06] kpedro88 commented on #22666
+1

[2018-03-19 17:06] cmsbuild commented on #22666
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_9_3_7. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_9_3_X

[2018-03-19 17:06] cmsbuild commented on #22666
Queuing Jenkins build for the following architectures: slc7_amd64_gcc630, slc6_amd64_gcc630
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each acrhitecture to finish to start the

[2018-03-19 17:07] cmsbuild commented on #22666
The build has started for slc6_amd64_gcc630 in cmsbuild39.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1528/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-19 17:10] cmsbuild commented on #22666
The build has started for slc7_amd64_gcc630 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/1529/console
CMSDIST Branch: [IB/CMSSW_9_3_X/gcc630](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_9_3_X/gcc630), PKGTOOLS Branch: [V00-31-XX](https://github.com/cms-sw/pkgtools/commits/V00-31-XX)

[2018-03-19 20:19] kpedro88 commented on #22660
Yes, if point 1 is a difference between run2 and phase2, let's make them agree.

Maybe there should be a premixing-specific PUDataSet for Phase2. I think it's the simplest way to keep things from interfering with each other.

[2018-03-19 20:38] cmsbuild commented on #22666
The build has finished sucessfully for the architecture slc7_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_7-slc7_amd64_gcc630/1529
Some tests ( r

[2018-03-19 21:39] cmsbuild commented on #22666
The tests have finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_7-slc7_amd64_gcc630/1529

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-19 22:05] cmsbuild commented on #22666
The build has finished sucessfully for the architecture slc6_amd64_gcc630 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_7-slc6_amd64_gcc630/1528
Some tests ( r

[2018-03-19 23:04] cmsbuild commented on #22666
The tests have finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_9_3_7-slc6_amd64_gcc630/1528

Tests results:
20 20 19 16 10 1 1 1 tests passed, 0 0 0 0 0 0 0 0 failed

[2018-03-19 23:05] kpedro88 commented on #22666
upload all

[2018-03-19 23:06] cmsbuild commented on #22666
Queing Jenkins upload for slc6_amd64_gcc630

[2018-03-19 23:06] cmsbuild commented on #22666
Queing Jenkins upload for slc7_amd64_gcc630

[2018-03-19 23:06] cmsbuild commented on #22666
The upload has started for slc6_amd64_gcc630 in cmsbuild39.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1017/console

[2018-03-19 23:06] cmsbuild commented on #22666
The upload has started for slc7_amd64_gcc630 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/1018/console

[2018-03-19 23:10] cmsbuild commented on #22666
The upload has successfully finished for slc7_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_7-slc7_amd64_gcc630/1018
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/

[2018-03-19 23:11] cmsbuild commented on #22666
CERN AFS installation skipped for slc7_amd64_gcc630 as no CMSSW releases are now deployed on AFS.
To generate the release notes for the release write "release-notes since \<previous-release\>", in the first line of your comment.
 I will generate the release notes based on the release that you provide. You don't need to provide the architectue I will use the production architecture to infer the cms

[2018-03-19 23:15] cmsbuild commented on #22666
The upload has successfully finished for slc6_amd64_gcc630
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_9_3_7-slc6_amd64_gcc630/1017
The release is now being installed, you can see the progress here:
 https://cmssdt.cern.ch/jenkins/job/release-deploy-afs/