[2022-05-11 07:57] jpata commented on #37704
@thomreis

on top of CMSSW_12_4_0_pre3 with the following patch (recompile after checkdeps)

[code]

the workflow `runTheMatrix.py -l 1002.0` crashes at
[code]

I confirm Chris's analysis above that `EcalClusterToolsT::getMaximum` is comparing a cluster
[code]

and a set of rechits
[code]

that have no overlaps, so it ends up returning an invalid `DetId (0)`. I'm not sure if I understand your last

[2022-05-11 08:28] smuzaffar commented on #37362
It is not infinite loop but https://github.com/cms-sw/cmssw/blob/5f75b2d25170c527f84074e9e817231cedd8ba8b/RecoParticleFlow/PFClusterProducer/plugins/Basic2DGenericTopoClusterizer.cc#L73-L123 is recursively called for over 74K times. For non-ASAN IBs this does not hit the stack size but for ASAN IBs (which uses 2-3 times more memory) it hits the limits and that is why it is crashing.

[2022-05-11 08:35] jpata commented on #37362
@laurenhay @cms-sw/pf-l2 is the recursion over all rechits (splash or not) really meaningful here, or can perhaps it be split up across the event?

[2022-05-11 13:55] perrotta opened #37906 "Huge number of LogWarning's issued by GEMDQMBase::FindHist"
By looking at the logs (step3) of the IB workflows in which GEMs are present (see for example[ wf 39434](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_X_2022-05-10-2300/pyRelValMatrixLogs/run/39434.0_TTbar_14TeV+2026D88+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D88+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+Di

[2022-05-11 13:56] cmsbuild commented on #37906
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-11 14:20] swagata87 commented on #37867
I had a quick look,
when the support for root was provided (xml was always supported), the support was only for loading the weights, as I see here
https://github.com/cms-sw/cmssw/blob/3c60d77af888b0ff0cabc2be046c8af34b68bfaa/CommonTools/MVAUtils/src/GBRForestTools.cc#L123-L131
It seems we also need support for adding variables, like it is done here for xml:
https://github.com/cms-sw/cmssw/blob/3c6

[2022-05-11 19:26] makortel commented on #37740
This check is added in https://github.com/cms-sw/cmssw/pull/37903

[2022-05-11 19:53] #37864 closed

[2022-05-11 21:57] makortel commented on #37742
@drkovalskyi #37806 was merged, so the new parameter will be in 12_4_0_pre4. @drkovalskyi, can you test the parameter in the pre4 pre-release in any meaningful way, or should we just proceed with the 12_3_X backport?

[2022-05-11 22:52] fwyzard commented on #37790
I've edited the issue to add few points discussed during the Core Software meeting:
  - building modules for a subset of the back-ends (even just the host)
  - allow back-end specific dependencies

[2022-05-12 06:08] cmsbuild commented on #37879
The cleanup has started for slc6_amd64_gcc700

[2022-05-12 06:08] cmsbuild commented on #37879
The cleanup has started for slc7_amd64_gcc700

[2022-05-12 06:08] #37879 closed

[2022-05-12 06:09] cmsbuild commented on #37879
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_28_patch1-slc7_amd64_gcc700/2034

[2022-05-12 06:09] cmsbuild commented on #37879
The workspace for slc6_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_2_28_patch1-slc6_amd64_gcc700/2033

[2022-05-12 07:00] drkovalskyi commented on #37742
We should be able to run a replay with 12_4_0_pre4 and try manually to recreate a file. @germanfgv could you please help Jhonatan to make a test like that?

[2022-05-12 07:06] mandrenguyen commented on #37841
The two PRs have been made and are visible above.  Both are only active for the heavy ion eras.

[2022-05-12 08:50] smuzaffar commented on #37888
This unit test is still failing. I think it is related to DB connection issue [a].  @ggovi,@francescobrivio,@malbouis,@tvami  , any idea if this is linked to CMSONR migration?

[a]
[code]

[2022-05-12 11:36] swagata87 commented on #37867
@guitargeek, since I see that you are still doing PRs for cmssw, may be this one could be of your interest.
You don't have to do it, and there is no rush, but if you decide to give it a shot, you're most welcome :-D

I tried the easy thing first, just changed the xmls to root by using `convertXMLToGBRForestROOT` as mentioned in the issue description[1], and changed the names of files accordingly[2

[2022-05-12 12:13] agrohsje commented on #36705
As time is indeed an issue we should clarify responsibilities. @SiewYan @mkirsano is one of you available to implement the fix as proposed by @SanghyunKo. let me know and i can help if you have no time.  @SanghyunKo should we validate the weight impact against P8.240 once we have the fix ready?

[2022-05-12 14:01] jpata commented on #35519
@emiglior @franzglessgen any news?

[2022-05-12 14:15] jpata commented on #18390
+reconstruction

In the latest Run3,step4 profiles, slimmedSecondaryVertices take a very small fraction of the runtime

[code]

Given that this issue was not addressed in 5 years, and the low runtime today, I'm signing it.

[2022-05-12 14:15] jpata commented on #18390
@cmsbuild please close

[2022-05-12 14:15] cmsbuild commented on #18390
This issue is fully signed and ready to be closed.

[2022-05-12 14:17] jpata commented on #19113
Looks like this is still an issue https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoEgamma/EgammaIsolationAlgos/python/interestingEgammaIsoDetIdsSequence_cff.py#L104

and the `interestingGedEgammaIsoESDetId` is still running in step3.

[2022-05-12 14:44] SanghyunKo commented on #36705
@agrohsje The PR will be relatively simple, so I can create it right away (we just need a quick sign-off before the release). For the validation, fortunately we now have #36994 so the change should be already visible at the Relval stage. If we observe unexpected changes there (these should be the duplication of weights, not more than that), then we can launch a quick private validation with a simp

[2022-05-12 14:44] SanghyunKo commented on #36705
FYI @shimashimarin

[2022-05-12 16:49] ggovi commented on #37888
@smuzaffar
It seems that the re-installation of cmsonr at P5 has broken some tunnel connections required in these test. I'll investigate with the P5 sysadmins+the DBAs

[2022-05-12 17:41] smrenna commented on #36705
I don't understand what is meant by baseline and nominal.

[2022-05-13 06:21] SanghyunKo commented on #36705
Hi @smrenna, the 'nominal' weight here is the 0th weight calculated in the CMS code, which is merging weight * aMCatNLO norm factor (if there exists, otherwise it is 1.0), while 'baseline' is the 0th weight given by the Pythia8 (and this is 1st weight in the CMS code since we push back everything from Pythia8 after the nominal weight).
[code]
The thing is that the baseline weight from Pythia8.24x

[2022-05-13 07:14] mmusich commented on #37810
in CMSSW_12_4 2022-05-12-2300 (containing https://github.com/cms-sw/cmssw/pull/37798) [wf 39434.501 step3](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_X_2022-05-12-2300/pyRelValMatrixLogs/run/39434.501_TTbar_14TeV+2026D88_Patatrack_PixelOnlyCPU+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D88_Patatrack_PixelOnly

[2022-05-13 11:58] kirschen commented on #37827
Hi @kpedro88, this sounds interesting. However, the sporadic crashes would probably have to be overcome, otherwise it might do more harm than good? @laurenhay , what do you think?

[2022-05-13 12:15] VinInn commented on #37790
Just a side note: although the backend is "rocm" the interface is "hip" (that in principle can be compiled for cuda backend as well). In general hip files have extension ".hip.cc" (even ".hip.h").
btw clang (and even gcc) can natively compile cuda and hip code if instructed to do so.

[2022-05-13 12:20] fwyzard commented on #37790
Thanks for the clarification.

And since we are proposing to use the extension to define the _backend_ to compile for (_i.e._ CUDA or ROCm) I think `*.rocm.cc` is more appropriate here.

However we could certainly introduce support to generic HIP files using the same approach as we plan for Alpaka: `*.hip.cc` files would then be built for both CUDA _and_ ROCm backends. If there is interest, we can

[2022-05-13 12:22] fwyzard commented on #37790
Well, `hipcc` is just a wrapper around `clang` anyway.

And at some point we should definitely revive the effort to try using `clang` as an alternative to `nvcc`.

[2022-05-13 12:53] smrenna commented on #36705
This is just rounding error coming from the multiplication of two 1.0s.    In 8.2, the value of weight(0) was just stored internally:

[code]
In 8.3, there is an additional multiplication:
[code]

[2022-05-13 13:12] kpedro88 commented on #37827
@kirschen to clarify, the sporadic crashes only happened in my first attempt (persisting FastJet objects). The second attempt, while it requires more rearranging (and the code probably still needs some further work), performs flawlessly.

[2022-05-13 13:46] jpata commented on #34803
type pf

[2022-05-13 13:52] jpata commented on #37140
type btv

[2022-05-13 14:47] SanghyunKo commented on #36705
ahhhh now I got this. There are two ways of retrieving weights from Pythia8. The first one is the one we used in the CMS with 8.24x (case a)
[code]
and the second is the one newly added in `Pythia8ToHepMC::fill_next_event` (case b) in 8.30x
(doing both a & b gave duplication)
[code]
and indeed both method should give exactly the same result (with slightly different weight names):
[code]
However, t

[2022-05-13 19:40] makortel opened #37947 "Ensure in IB tests that framework job report is valid XML"
We have now had two recent incidents of discovering in CRAB or in production that the framework job report was not valid XML (https://github.com/cms-sw/cmssw/issues/37363 and https://github.com/cms-sw/cmssw/issues/37944). In both cases the culprit was a race condition in the job report service. I believe we could have had a good chance to discover these problems if we'd check the validity of the f

[2022-05-13 19:41] makortel commented on #37947
assign core

[2022-05-13 19:41] cmsbuild commented on #37947
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-13 19:41] cmsbuild commented on #37947
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-13 19:42] makortel commented on #37947
@smuzaffar How easy would it be to add a check in the IB tests that all `JobReport*.xml` files produced by `runTheMatrix.py` are valid XML? (given the other use cases of `runTheMatrix.py` I would not add the check there)

[2022-05-14 08:52] swagata87 commented on #35374
this issue is addressed in this PR: https://github.com/cms-sw/cmssw/pull/37880

[2022-05-14 12:25] VinInn opened #37950 "move "ClangBuild" to code checks?"
I suggest to move "ClangBuild" to code checks pass.

[2022-05-14 12:25] cmsbuild commented on #37950
A new Issue was created by  @VinInn Vincenzo Innocente.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-15 12:19] missirol commented on #37598
Another occurrence of the issue in [`CMSSW_12_4_X_2022-05-13-2300`](https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_4_X_2022-05-13-2300/slc7_amd64_gcc10/HLT_Integration_HIon_MC.log). Errors are similar to https://github.com/cms-sw/cmssw/issues/37598#issuecomment-1110265799, but this time only for the `HIon` menu.

This latest failure was in `12_4_X` (`master`), suggesting that

[2022-05-16 00:35] qliphy opened #37955 "Build CMSSW_12_4_0_pre4"

[2022-05-16 00:35] cmsbuild commented on #37955
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-16 00:36] qliphy commented on #37955
+1

[2022-05-16 00:36] cmsbuild commented on #37955
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_0_pre4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-05-16 00:36] cmsbuild commented on #37955
Queuing Jenkins build for the following architectures: slc7_amd64_gcc11, el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-05-16 00:38] cmsbuild commented on #37955
The build has started for el8_ppc64le_gcc10 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3483/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 00:41] cmsbuild commented on #37955
The build has started for el8_amd64_gcc10 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3484/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 00:41] cmsbuild commented on #37955
The build has started for slc7_amd64_gcc10 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3485/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 00:42] cmsbuild commented on #37955
The build has started for slc7_amd64_gcc11 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3486/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 01:45] cmsbuild commented on #37955
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3487/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 05:41] cmsbuild commented on #37955
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre4-el8_ppc64le_gcc10/3483
Some tes

[2022-05-16 06:03] cmsbuild commented on #37955
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre4-el8_aarch64_gcc10/3487
Some tes

[2022-05-16 06:29] cmsbuild commented on #37955
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre4-slc7_amd64_gcc10/3485
Some tests

[2022-05-16 06:39] cmsbuild commented on #37955
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre4-slc7_amd64_gcc11/3486
Some tests

[2022-05-16 06:42] cmsbuild commented on #37955
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre4-el8_ppc64le_gcc10/3483

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 06:49] cmsbuild commented on #37955
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre4-el8_amd64_gcc10/3484
Some tests (

[2022-05-16 06:59] cmsbuild commented on #37955
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre4-el8_aarch64_gcc10/3487

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 07:18] cmsbuild commented on #37955
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre4-slc7_amd64_gcc10/3485

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 07:28] cmsbuild commented on #37955
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre4-slc7_amd64_gcc11/3486

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 07:36] cmsbuild commented on #37955
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre4-el8_amd64_gcc10/3484

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 07:57] perrotta commented on #37955
upload all

[2022-05-16 07:58] cmsbuild commented on #37955
Queing Jenkins upload for slc7_amd64_gcc10

[2022-05-16 07:58] cmsbuild commented on #37955
Queing Jenkins upload for slc7_amd64_gcc11

[2022-05-16 07:58] cmsbuild commented on #37955
Queing Jenkins upload for el8_amd64_gcc10

[2022-05-16 07:58] cmsbuild commented on #37955
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-05-16 07:58] cmsbuild commented on #37955
Queing Jenkins upload for el8_aarch64_gcc10

[2022-05-16 07:58] cmsbuild commented on #37955
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2326/console

[2022-05-16 07:59] cmsbuild commented on #37955
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre4-el8_aarch64_gcc10/2326

[2022-05-16 08:00] cmsbuild commented on #37955
The upload has started for el8_amd64_gcc10 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2327/console

[2022-05-16 08:00] cmsbuild commented on #37955
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2328/console

[2022-05-16 08:00] cmsbuild commented on #37955
The upload has started for slc7_amd64_gcc10 in cmsbuild20.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2329/console

[2022-05-16 08:01] cmsbuild commented on #37955
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre4-el8_ppc64le_gcc10/2328

[2022-05-16 08:05] cmsbuild commented on #37955
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre4-slc7_amd64_gcc11/2330

[2022-05-16 08:06] cmsbuild commented on #37955
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre4-slc7_amd64_gcc10/2329

[2022-05-16 08:07] cmsbuild commented on #37955
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre4-el8_amd64_gcc10/2327

[2022-05-16 08:10] jpata commented on #35374
+reconstruction

[2022-05-16 08:10] jpata commented on #35374
@cmsbuild please close

[2022-05-16 08:10] #35374 closed

[2022-05-16 08:10] cmsbuild commented on #35374
This issue is fully signed and ready to be closed.

[2022-05-16 08:16] perrotta commented on #37955
release-notes

[2022-05-16 08:16] cmsbuild commented on #37955
Generating release notes since CMSSW_12_4_0_pre3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-16 08:16] cmsbuild commented on #37955
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_4_0_pre4 is now available for the following architectures:

slc7_amd64_gcc10 (production)
el8_amd64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc11
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_0_pre3 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_4_0_pre

[2022-05-16 08:18] perrotta opened #37957 "Build CMSSW_12_3_3"

[2022-05-16 08:18] cmsbuild commented on #37957
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-16 08:19] cmsbuild commented on #37955
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_0_pre4

[2022-05-16 08:21] perrotta commented on #37957
+1

[2022-05-16 08:21] cmsbuild commented on #37957
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_3. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-05-16 08:21] cmsbuild commented on #37957
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, slc7_amd64_gcc11, slc7_amd64_gcc10, cs8_ppc64le_gcc11, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2022-05-16 08:41] cmsbuild commented on #37957
The build has started for cs8_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3488/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 08:47] cmsbuild commented on #37957
The build has started for slc7_amd64_gcc10 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3489/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 08:47] cmsbuild commented on #37957
The build has started for slc7_amd64_gcc11 in cmsbuild70.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3490/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 09:33] perrotta commented on #35010
@cms-sw/l1-l2 (i.e. @cecilecaillol, @epalencia, @rekovic) could you please have a look at the suggestion given [above](https://github.com/cms-sw/cmssw/issues/35010#issuecomment-1112081142), and provide a fix if you think so?

[2022-05-16 09:42] cmsbuild commented on #37957
The build has started for cs8_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3491/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 09:44] cmsbuild commented on #37957
The build has started for cs8_ppc64le_gcc11 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3492/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 10:13] cmsbuild commented on #37957
The build has started for slc7_ppc64le_gcc11 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3493/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 10:16] cmsbuild commented on #37957
The build has started for slc7_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3494/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 12:05] cmsbuild commented on #37957
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-slc7_amd64_gcc11/3490
Some tests ( ru

[2022-05-16 12:07] cmsbuild commented on #37957
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-slc7_amd64_gcc10/3489
Some tests ( ru

[2022-05-16 12:09] cmsbuild commented on #37957
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-cs8_amd64_gcc10/3488
Some tests ( runT

[2022-05-16 12:17] cmsbuild commented on #37957
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-cs8_aarch64_gcc11/3491
Some tests (

[2022-05-16 12:48] jpata opened #37958 "Find a better home for RecoTracker.FinalTrackSelectors._tfGraphDefProducer"
The ESProducer [TfGraphDefProducer](https://github.com/cms-sw/cmssw/blob/726783246ef4bb47cc730c31e12d7d31bf355c91/RecoTracker/FinalTrackSelectors/plugins/TfGraphDefProducer.cc) was introduced for the TrackDnn, but it's in fact completely generic.

TICL is now also using this module to load the TF graph through the EventSetup, and recently we were informed that Pixel CPE is also interested in using

[2022-05-16 12:48] jpata commented on #37958
assign reconstruction

[2022-05-16 12:48] cmsbuild commented on #37958
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-16 12:48] cmsbuild commented on #37958
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-16 12:49] cmsbuild commented on #37957
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-slc7_amd64_gcc11/3490

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 12:52] cmsbuild commented on #37957
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-cs8_ppc64le_gcc11/3492
Some tests (

[2022-05-16 12:52] cmsbuild commented on #37957
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-slc7_amd64_gcc10/3489

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 12:53] cmsbuild commented on #37957
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-cs8_amd64_gcc10/3488

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 12:56] jpata commented on #37820
type trk

[2022-05-16 12:56] jpata commented on #37811
type trk

[2022-05-16 12:57] jpata commented on #37810
+reconstruction

[2022-05-16 12:57] jpata commented on #37810
@cmsbuild please close

[2022-05-16 12:57] #37810 closed

[2022-05-16 12:57] cmsbuild commented on #37810
This issue is fully signed and ready to be closed.

[2022-05-16 12:57] jpata commented on #37425
type trk

[2022-05-16 12:59] jpata commented on #37425
@mandrenguyen could you summarize the conclusions of the meeting? Is it planned to be implemented by HI, or should we close this issue?

[2022-05-16 13:01] cmsbuild commented on #37957
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-cs8_aarch64_gcc11/3491

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-05-16 13:01] jpata commented on #37315
+reconstruction
- looks like the 39434.911 was disabled

[2022-05-16 13:02] jpata commented on #36966
type tracking

@clacaputo can you update the PR, ticking what was already implemented? (only the author can)

[2022-05-16 13:07] jpata commented on #36788
type egamma

[2022-05-16 13:08] qliphy opened #37960 "Build CMSSW_12_5_0_pre1"

[2022-05-16 13:08] cmsbuild commented on #37960
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-16 13:08] qliphy commented on #37960
+1

[2022-05-16 13:09] cmsbuild commented on #37957
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-slc7_ppc64le_gcc11/3493
Some tests

[2022-05-16 13:09] cmsbuild commented on #37960
Queuing Jenkins build for the following architectures: slc7_amd64_gcc11, el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-05-16 13:11] cmsbuild commented on #37960
The build has started for el8_ppc64le_gcc10 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3495/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 13:20] cmsbuild commented on #37960
The build has started for slc7_amd64_gcc10 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3498/console
CMSDIST Branch: [IB/CMSSW_12_5_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 13:23] cmsbuild commented on #37960
The build has started for slc7_amd64_gcc11 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3499/console
CMSDIST Branch: [IB/CMSSW_12_5_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_5_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-16 13:24] cmsbuild commented on #37950
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-16 13:27] makortel commented on #37950
@VinInn Could you explain what gains are you looking for with that?

[2022-05-16 13:46] cmsbuild commented on #37957
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-slc7_aarch64_gcc11/3494

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-05-16 13:47] VinInn commented on #37950
It's a check of code syntax. Avoids one starts the tests and then discovers that has to modify something "trivial" in the code.

[2022-05-16 13:49] cmsbuild commented on #37957
Queing Jenkins upload for slc7_amd64_gcc10

[2022-05-16 13:49] cmsbuild commented on #37957
Queing Jenkins upload for cs8_amd64_gcc10

[2022-05-16 13:49] cmsbuild commented on #37957
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-05-16 13:49] cmsbuild commented on #37957
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-05-16 13:49] cmsbuild commented on #37957
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-05-16 13:49] cmsbuild commented on #37957
Queing Jenkins upload for cs8_ppc64le_gcc11

[2022-05-16 13:50] cmsbuild commented on #37957
The upload has started for cs8_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2332/console

[2022-05-16 13:50] perrotta commented on #37906
@jshlee @quark2 is there any news on this?

[2022-05-16 13:50] cmsbuild commented on #37957
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3-slc7_aarch64_gcc11/2334

[2022-05-16 13:51] cmsbuild commented on #37957
The upload has successfully finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3-cs8_aarch64_gcc11/2331

[2022-05-16 13:51] cmsbuild commented on #37957
The upload has started for slc7_amd64_gcc10 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2335/console

[2022-05-16 13:52] cmsbuild commented on #37957
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3-cs8_amd64_gcc10/2332

[2022-05-16 13:53] cmsbuild commented on #37957
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3-slc7_amd64_gcc11/2336

[2022-05-16 13:57] cmsbuild commented on #37957
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3-slc7_amd64_gcc10/2335

[2022-05-16 14:01] perrotta commented on #37957
release-notes

[2022-05-16 14:01] cmsbuild commented on #37957
Generating release notes since CMSSW_12_3_2_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-16 14:01] cmsbuild commented on #37957
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_3_3 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_2_patch1 can be found at:

https://github.com/cms-

[2022-05-16 14:05] jpata commented on #36606
type egamma

[2022-05-16 14:06] cmsbuild commented on #37957
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_3

[2022-05-16 14:07] jpata commented on #36405
type trk

[2022-05-16 14:08] cmsbuild commented on #37957
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-slc7_ppc64le_gcc11/3493

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 14:08] jpata commented on #35929
type egamma

the main issue is
[code]

 https://github.com/cms-sw/cmssw/issues/35929#issuecomment-956573741

[2022-05-16 14:10] cmsbuild commented on #37957
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3-cs8_ppc64le_gcc11/3492

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 14:12] jpata commented on #35760
@cmsbuild please close

[2022-05-16 14:12] #35760 closed

[2022-05-16 14:12] cmsbuild commented on #35760
This issue is fully signed and ready to be closed.

[2022-05-16 14:24] perrotta commented on #37906
Thank you @quark2 : please keep us informed about the progresses!
As of now those logs are almost useless to monitor other possible warnings, that would never get noticed among the GEM ones.

[2022-05-16 14:39] fwyzard commented on #37957
@perrotta @qliphy @smuzaffar would it be possible to build `CMSSW_12_3_3` also for the new `el8_amd64_gcc10` architecture ?

[2022-05-16 14:42] fabferro commented on #36612
I think that this code can be removed from master not to have to maintain it. If anybody will revive the project of having detectors at 420m (eg in HL-LHC) we'll see if it will be of some use.

[2022-05-16 15:37] VinInn commented on #37950
Yes I submitted this issue after getting the ```-Wpessimizing-move```.
Sorry for not having quote prevously.

[2022-05-16 15:46] cmsbuild commented on #37960
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre1-el8_aarch64_gcc10/3496
Some tes

[2022-05-16 15:51] smuzaffar commented on #37950
`clang-format` does not catch any syntax issue but for `clang-tidy` code should be clean (buildable) so it should catch any syntax errors. `code-checks` part of PR tests just makes sure that the code you have touched has the proper format and passes clang-tidy checks. For this purpose there is no need to checkout the dependenct packages.

[2022-05-16 15:52] cmsbuild commented on #37960
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre1-el8_ppc64le_gcc10/3495
Some tes

[2022-05-16 16:38] cmsbuild commented on #37960
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre1-slc7_amd64_gcc10/3498
Some tests

[2022-05-16 16:43] cmsbuild commented on #37960
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre1-el8_ppc64le_gcc10/3495

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 16:46] cmsbuild commented on #37960
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre1-el8_amd64_gcc10/3497
Some tests (

[2022-05-16 16:51] cmsbuild commented on #37960
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre1-slc7_amd64_gcc11/3499
Some tests

[2022-05-16 16:54] perrotta commented on #37960
upload all

[2022-05-16 16:55] cmsbuild commented on #37960
Queing Jenkins upload for el8_amd64_gcc10

[2022-05-16 16:55] cmsbuild commented on #37960
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-05-16 16:55] cmsbuild commented on #37960
Queing Jenkins upload for el8_aarch64_gcc10

[2022-05-16 16:55] cmsbuild commented on #37960
The upload has started for el8_amd64_gcc10 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2339/console

[2022-05-16 16:55] cmsbuild commented on #37960
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2338/console

[2022-05-16 16:55] cmsbuild commented on #37960
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2340/console

[2022-05-16 16:55] cmsbuild commented on #37960
The upload has started for slc7_amd64_gcc10 in cmsbuild12.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2341/console

[2022-05-16 16:56] cmsbuild commented on #37960
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre1-el8_ppc64le_gcc10/2340

[2022-05-16 16:56] cmsbuild commented on #37960
The upload has started for slc7_amd64_gcc11 in cmsbuild19.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2342/console

[2022-05-16 16:57] cmsbuild commented on #37960
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre1-slc7_amd64_gcc10/2341

[2022-05-16 16:57] cmsbuild commented on #37960
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre1-el8_amd64_gcc10/2339

[2022-05-16 16:57] cmsbuild commented on #37960
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre1-el8_aarch64_gcc10/2338

[2022-05-16 16:58] cmsbuild commented on #37960
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_5_0_pre1-slc7_amd64_gcc11/2342

[2022-05-16 16:59] perrotta commented on #37960
release-notes

[2022-05-16 17:00] cmsbuild commented on #37960
Unable to find previous release for CMSSW_12_5_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2022-05-16 17:01] perrotta commented on #37960
release-notes since CMSSW_12_4_0_pre4

[2022-05-16 17:01] cmsbuild commented on #37960
Generating release notes since CMSSW_12_4_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-16 17:01] cmsbuild commented on #37960
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_5_0_pre1 is now available for the following architectures:

slc7_amd64_gcc10 (production)
el8_amd64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc11
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_4_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_5_0_pre

[2022-05-16 17:01] cmsbuild commented on #37960
Generating release notes since CMSSW_12_4_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-16 17:07] cmsbuild commented on #37960
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_5_0_pre1

[2022-05-16 17:34] cmsbuild commented on #37960
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre1-el8_amd64_gcc10/3497

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-16 17:41] cmsbuild commented on #37960
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_5_0_pre1-slc7_amd64_gcc11/3499

Tests results:
49 48 46 35 18 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-17 06:37] #37686 closed

[2022-05-17 07:09] AdrianoDee commented on #36809
@jpata not yet. Will ping here as soon as I open it

[2022-05-17 07:31] jpata commented on #35370
+reconstruction

[2022-05-17 07:32] cmsbuild commented on #35370
This issue is fully signed and ready to be closed.

[2022-05-17 07:44] jpata commented on #34705
type trk

[2022-05-17 07:45] jpata commented on #34831
+reconstruction
- addressed in https://github.com/cms-sw/cmssw/pull/35229
- backported to 12_0_X: https://github.com/cms-sw/cmssw/pull/35317

[2022-05-17 07:49] jpata commented on #34476
+reconstruction
- given the above discussion, it seems fine to keep this occasional error about known tracker misalignment

[2022-05-17 07:49] cmsbuild commented on #34476
This issue is fully signed and ready to be closed.

[2022-05-17 07:49] jpata commented on #34831
@cmsbuild please close

(typo in the heterogeneous comment prevented a full sig)

[2022-05-17 07:50] #34831 closed

[2022-05-17 07:58] jpata opened #37970 "DQM instability in 12434.0, pixelLessStep_quickAssociatorByHits"
In recent PRs it seems the workflow 12434.0 has DQM changes in Tracking/TrackParameters/generalTracks/SeedMon/pixelLessStep/TrackBuilding, pixelLessStep_quickAssociatorByHits

https://github.com/cms-sw/cmsdist/pull/7862
https://github.com/cms-sw/cmssw/pull/37918
https://github.com/cms-sw/cmssw/pull/37952

The change is not always in the same direction:
![image](https://user-images.githubuserconten

[2022-05-17 07:58] jpata commented on #37970
assign reconstruction

[2022-05-17 07:58] cmsbuild commented on #37970
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-17 07:58] cmsbuild commented on #37970
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-17 08:03] jpata commented on #37970
As I noted [here](https://github.com/cms-sw/cmsdist/pull/7862#issuecomment-1128500285), it does not seem immediately related to TF giving different results on different CPUs.
[code]

[2022-05-17 08:08] #34476 closed

[2022-05-17 08:12] jpata commented on #35578
kind ping @igv4321

[2022-05-17 08:16] jpata commented on #34400
+reconstruction

Looks like almost everything was addressed in https://github.com/cms-sw/cmssw/pull/34882, except reading from DB (it was replaced with a named constant instead) https://github.com/cms-sw/cmssw/pull/34286#discussion_r662472370.

[2022-05-17 08:20] jpata commented on #33761
@cms-sw/rpc-dpg-l2 @jhgoh @mileva kind ping on this. Looks like something was addressed in #33854, but as I understand, there is still some unused RPC code in the repo.

[2022-05-17 08:20] jpata commented on #33761
type rpc

[2022-05-17 08:22] jpata commented on #33665
@bainbrid I lost track here - is this issue still revelant, or should it be closed?

[2022-05-17 08:22] jpata commented on #33663
type muon

[2022-05-17 08:26] jpata commented on #33442
I suppose this is still an issue. Do we have a way to produce timing charts for other arches?
Actually for my education, are the other arches actually used in production anywhere, or are they "nice-to-have R&D"?

[2022-05-17 08:27] jpata commented on #33406
type jetmet

[2022-05-17 08:29] jpata commented on #33373
+reconstruction
 -`git grep DD4Hep` gives only one hit, in Validation/HGCalValidation

[2022-05-17 08:29] cmsbuild commented on #33373
This issue is fully signed and ready to be closed.

[2022-05-17 08:34] jpata commented on #32747
-reconstruction
- the mem usage is ~60-70MB per job
- as I understand, there is no concrete plan to address this in the near future

[CMSSW_12_4_0_pre3/35234.21/step3/mem_live.99/188
](http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_4_0_pre3/35234.21/step3/mem_live.99/188)
<img width="943" alt="Screenshot 2022-05-17 at 11 32 46" src="https://user

[2022-05-17 08:35] jpata commented on #32525
type hcal

[2022-05-17 08:35] jpata commented on #32525
@cms-sw/hcal-dpg-l2@abdoulline @igv4321 any news on this?

[2022-05-17 08:36] jpata commented on #32347
type jetmet

[2022-05-17 08:37] jpata commented on #32304
+reconstruction
- very old issue, but as I understand (based on reading the descriptions) it was finally fixed in https://github.com/cms-sw/cmssw/pull/31985

[2022-05-17 08:38] cmsbuild commented on #32304
This issue is fully signed and ready to be closed.

[2022-05-17 08:38] jpata commented on #32177
-reconstruction
- not going to be addressed

[2022-05-17 08:38] #32177 closed

[2022-05-17 08:44] jpata commented on #37816
Looks like it still crashed in 12_4_0_pre4: /eos/cms/store/user/cmsbuild/profiling/data/CMSSW_12_4_0_pre4/slc7_amd64_gcc10/11834.21/step3_igprof_cpu.txt
[code]

[2022-05-17 08:45] jpata commented on #32114
type btv

[2022-05-17 08:45] jpata commented on #32114
@leonardogiannini what's the status here?

[2022-05-17 08:46] jpata commented on #31385
type pf

[2022-05-17 08:53] michaelwassmer commented on #32347
Is this still relevant? Maybe it makes more sense to revisit this as soon as https://github.com/michaelwassmer/cmssw/tree/CMSSW_12_0_0_ReworkMETCors is ready, because this PR tries to get rid of all the sequences and replaces them by tasks (as demanded by the first post of this thread).

[2022-05-17 09:26] cmsbuild commented on #34831
This issue is fully signed and ready to be closed.

[2022-05-17 09:55] #33373 closed

[2022-05-17 10:00] aandvalenzuela opened #37972 "AddressSanitizer error in ASAN IB workflow 537.0"
Hello,

We're getting `AddressSanitizer` errors when trying to free memory `attempting free on address which was not malloc()` in workflow 537.0 in ASAN builds. Here the stack trace:

[code]

[2022-05-17 10:00] cmsbuild commented on #37972
A new Issue was created by  @aandvalenzuela Andrea Valenzuela.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-17 10:30] michaelwassmer commented on #33406
To my best knowledge, this isn't used anymore. Also, the corresponding MET filters https://github.com/cms-sw/cmssw/blob/master/RecoMET/METFilters/python/badGlobalMuonTaggersAOD_cff.py and https://github.com/cms-sw/cmssw/blob/master/RecoMET/METFilters/python/badGlobalMuonTaggersMiniAOD_cff.py seem not to be recommended anymore, see https://twiki.cern.ch/twiki/bin/viewauth/CMS/MissingETOptionalFilte

[2022-05-17 10:32] jpata commented on #31422
type ecal

[2022-05-17 10:39] jpata commented on #31422
@thomreis @cms-sw/ecal-dpg-l2 it looks like the multi5x5 is still being run for Run3, but as I understand from the description above, should not be run. Can you please look into it?

[2022-05-17 10:39] jpata commented on #31424
type muon

[2022-05-17 10:41] jpata commented on #31424
@cms-sw/muon-pog-l2 @CeliaFernandez @trocino
@cms-sw/gem-dpg-l2 @jshlee @watson-ij

is there any update on this?

[2022-05-17 10:44] jpata commented on #31687
type hgcal

[2022-05-17 10:44] jpata commented on #31687
+reconstruction
- In the latest Phase2 profiles, hgcalMultiClusters does not appear, so I assume it has been addressed (although I could not find the PR now)

[2022-05-17 10:48] jpata commented on #31843
type tracking

[2022-05-17 10:48] jpata commented on #31843
@cms-sw/upgrade-l2 is this still relevant?

[2022-05-17 10:50] jpata commented on #33406
Right, these can't be used because they are relying on old, removed code. Likely the best solution would be to remove these modules.

[2022-05-17 10:57] jpata opened #37973 "Outdated muon code to be removed"
These modules are not able to run due to using deprecated functionality, and don't seem to be used anywhere in production
[code]

@cms-sw/muon-pog-l2 @CeliaFernandez @trocino could you please look into it?

[2022-05-17 10:57] jpata commented on #37973
assign reconstruction

[2022-05-17 10:57] jpata commented on #37973
type muon

[2022-05-17 10:57] cmsbuild commented on #37973
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-17 10:57] cmsbuild commented on #37973
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-17 10:59] jpata opened #37974 "Outdated tau code to be removed"
These modules cannot run (and are not used anywhere in CMSSW) because they rely on outdated and removed functionality.
[code]

@cms-sw/tau-pog-l2 @mbluj can you please remove them?

[2022-05-17 10:59] jpata commented on #37974
assign reconstruction

[2022-05-17 10:59] jpata commented on #37974
type tau

[2022-05-17 10:59] cmsbuild commented on #37974
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-17 10:59] cmsbuild commented on #37974
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-17 11:02] jpata opened #37975 "outdated MET code to be removed"
The following MET modules cannot run because they use functionality removed from CMSSW.
[code]

It looks like `NoPileUpPFMEtDataProducer` is outdated and should be removed (along with the python configs).

@cms-sw/jetmet-pog-l2 @michaelwassmer

[2022-05-17 11:02] jpata commented on #37975
assign reconstruction

[2022-05-17 11:02] jpata commented on #37975
type jetmet

[2022-05-17 11:02] cmsbuild commented on #37975
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-17 11:03] cmsbuild commented on #37975
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-17 11:04] srimanob opened #37976 "LogicError when using dump_python config to run"
Testing workflow, i.e. 39434.75, all steps run fine.  But when I try to dump_python from one of the step and use it to run, i.e.
`cmsDriver.py step2  -s DIGI:pdigi_valid,L1TrackTrigger,L1,DIGI2RAW,HLT:@fake2 --conditions auto:phase2_realistic_T21 --datatier GEN-SIM-DIGI-RAW -n 10 --eventcontent FEVTDEBUGHLT --geometry Extended2026D88 --era Phase2C17I13M9 --python DigiTrigger_HLT75e33_2026D88.py  -

[2022-05-17 11:05] cmsbuild commented on #37976
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-17 11:26] fabferro commented on #36612
Actually I can see that there is much more FP420 code in cmssw than RecoFP420 (eg in DataFormats). Probably removing only RecoFP420 doesn't make much sense, does it? Then, if we want to get rid of all FP420 code, it would probably be better to find someone responsible for it or that knows why it was written and with which perspective. I can only say that neither PPS nor TOTEM are interested in it.

[2022-05-17 11:36] jpata commented on #36612
@cms-sw/proton-pog-l2 are you interested in maintaining the FP420 code? From the reco side, we are talking about the following packages:

- DataFormats/FP420Cluster
- DataFormats/FP420Digi
- RecoRomanPot/RecoFP420

[2022-05-17 11:48] AdrianoDee commented on #31843
Yes, because as far as I know no PV sorter has been implemented to take into account HGCal and it is still relying on `ak4CaloJetsForTrk`. Maybe @cms-sw/xpog-l2 or @cms-sw/tracking-pog-l2 have a better insight.

[2022-05-17 11:51] mbluj commented on #37974
OK, it will be done shortly.

[2022-05-17 11:57] abdoulline commented on #32525
@jpata  @igv4321 @mariadalfonso @wang-hui
I'll suggest to Igor (tomorrow at HCAL meeting to briefly discuss it and) to remove M2,  still keeping useM2 parameter with a warning/denial  in case of  "True".

[2022-05-17 12:14] wang-hui commented on #32525
I think M2 might still be useful for timing. Anyway, let's discuss in tomorrow's HCAL meeting

[2022-05-17 12:46] pmandrik commented on #37484
Dear all, thank you for the comments and discussion, we fixed this changing the design of how files are cleared at DQM^2 side, tested at P5 playback machines, no changes to the CMSSW are required.

[2022-05-17 12:46] #37484 closed

[2022-05-17 13:35] silviodonato commented on #37740
Thank you. I tried again the original test code in `CMSSW_12_4_0_pre4` and I got
[code]
Closing this issue

[2022-05-17 13:35] #37740 closed

[2022-05-17 13:42] makortel commented on #37970
(speaking from distant past experience) Looking at https://github.com/cms-sw/cmssw/pull/37918#issuecomment-1127941919, there are differences in folder [`Tracking/TrackParameters/generalTracks/SeedMon/pixelLessStep`](https://cmssdt.cern.ch/SDT/jenkins-artifacts/baseLineComparisons/CMSSW_12_4_X_2022-05-16-1100+9966c6/50311/12434.0_TTbar_14TeV+2023+TTbar_14TeV_TuneCP5_GenSim+Digi+RecoNano+HARVESTNano

[2022-05-17 13:42] missirol commented on #36938
Hi @makortel @Dr15Jones ,

I wanted to ask feedback on one example config involving `ConditionalTask`, `SwitchProducer`, and `EDAlias`.

This is the config: https://gist.github.com/missirol/34a7ff84d801c9f006fc6cfc9b7a0a27
(It heavily borrows from a test in [FWCore/Integration](https://github.com/cms-sw/cmssw/blob/d4bb8eba68e32151b945ffa683cc2b5564b9cb27/FWCore/Integration/test/testSwitchProducerT

[2022-05-17 13:46] makortel commented on #33442
PPC is on its way for production (physics validation and operational testing are going on at Marconi100), and tests on ARM HPC(s) should be starting in the near future.

[2022-05-17 13:47] #32747 closed

[2022-05-17 13:48] makortel commented on #32177
-1

for the record

[2022-05-17 13:51] makortel commented on #37972
Looks like a duplicate of https://github.com/cms-sw/cmssw/issues/36646

[2022-05-17 13:51] makortel commented on #36646
assign generators

[2022-05-17 13:51] cmsbuild commented on #36646
New categories assigned: generators

@mkirsano,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-17 13:58] aandvalenzuela commented on #37972
Ups, sorry! My bad

[2022-05-17 13:58] #37972 closed

[2022-05-17 13:59] smuzaffar commented on #37816
yes @gartung , https://github.com/cms-sw/cmsdist/pull/7853 has been integrated

[2022-05-17 14:02] fwyzard commented on #36938
Note that in the table, :x: is the good behaviour :-)

[2022-05-17 14:04] gartung commented on #37816
@jpata can you please verify what igprof and libunwind are being used in the profiling job.

[2022-05-17 14:05] makortel commented on #37740
+core

[2022-05-17 14:05] cmsbuild commented on #37740
This issue is fully signed and ready to be closed.

[2022-05-17 14:08] smuzaffar commented on #37816
yes

[2022-05-17 14:23] jpata commented on #36612
I got the following response to an email. So we can clean up this code. I will do so from the reco side, while I leave the simulation-related changes for someone else.

[2022-05-17 14:39] gartung commented on #37816
OK. I will try to reproduce the crash locally.

[2022-05-17 14:39] smuzaffar commented on #36646
using debug build of thepeg I get
[code]

[2022-05-17 15:08] gartung commented on #37816
It looks like a different bug in libunwind. I will test with gperftools as well since it uses libunwind as well.

[2022-05-17 15:12] Saptaparna commented on #36646
@Dominic-Stafford and @theofil: would it be possible for you to take a look? Thanks!

[2022-05-17 15:14] jpata commented on #36612
assign simulation

(as there is also FP420 code in Sim, so it's not a purely reco issue)

[2022-05-17 15:14] cmsbuild commented on #36612
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-17 15:41] Dr15Jones commented on #37976
So I ran the command you gave and I see the following in the python

[code]

If I just use the python as generated by running `runTheMatrix.py` then for step2 I see

[code]

If I interactively load the configuration for step2 generated by `runTheMatrix.py` and do `process.dumpPython()` then the schedule segment is

[code]

which does NOT show multiple `process.digitisation_step`, `process.L1TrackT

[2022-05-17 15:43] makortel commented on #37976
assign opererations

I was coming to the same conclusion.

[2022-05-17 15:58] Saptaparna commented on #36646
@Dominic-Stafford it seems like it!

[2022-05-17 16:19] gartung commented on #37816
The first pass did not produce a segfault.

[2022-05-17 16:29] SanghyunKo commented on #36705
another aspect (I think this is the main reason) - Pythia8 didn't push any PS weights in 8.24x but only 0th weight (different from the baseline, CMS pushback the baseline & PS weights manually afterwards)
[code]
while in 8.30x it directly pushbacks PS without pushing `Pythia8::Info->weight()` beforehand
[code]
so pushing `Pythia8::Info->weight()` manually could leave the weight container structure

[2022-05-17 16:42] Dominic-Stafford commented on #36646
Sorry, I failed to reproduce this by just running `runTheMatrix.py -el 537` in CMSSW_12_5_ASAN_X_2022-05-16-1100. @smuzaffar @Dr15Jones, which command did you run which produced the error, please?

[2022-05-17 16:48] slava77 commented on #37970
is it clear that the differences started showing up after #37878 ?

[2022-05-17 17:10] slava77 commented on #37970
there is indeed an execution path that could lead to uninitialized values (with an assumption that a default-constructed `tf::Tensor` is not initialized, a trackCandidate that fails a PCA would run evaluation over uninitialized values).
@leonardogiannini is investigating

[2022-05-17 18:54] gartung commented on #37816
Same spot as last time. Unfortunately the patch did not work.
[code]
Now to see if the same happens with gperftools.

[2022-05-17 21:26] gartung commented on #37816
First run through with gperftools (and libunwind) did not produce a crash.

[2022-05-17 21:32] gartung commented on #37816
Although running pprof on the profile file produces nothing. Need to sort that out.

[2022-05-17 21:59] swagata87 commented on #36518
Addressed in https://github.com/cms-sw/cmssw/pull/36954

[2022-05-17 22:11] swagata87 commented on #36518
type egamma

[2022-05-17 23:31] leonardogiannini commented on #37970
this should indeed be due to https://github.com/cms-sw/cmssw/blob/master/RecoTracker/MkFit/plugins/MkFitOutputConverter.cc#L637 which leaves the input undetermined in some cases.
I found 1/3510 tracks (100 evts) passed to cand DNN where this happens. in TTbar with PU this is happens in about 0.1% of tracks passed to cand DNN.

A quick fix would be adding the initialization to 0, e.g. :

       if

[2022-05-17 23:49] slava77 commented on #37970
does a 0 input return an output dnn value that would pass or fail the cuts?
My guess is that it's better to fail the candidate.
So, there may be a need to override the `dnn(0)` .

[2022-05-18 00:05] leonardogiannini commented on #37970
Unfortunately, the all 0 tensor passes the selection (though not significant).
The other possibility is to store the indices "itrack" (in a std::vector?) where it happens and then fail the cand making the output -1.

[2022-05-18 03:47] smuzaffar commented on #36646
@Dominic-Stafford , it think it could be due to threading. please try running `runTheMatrix.py -i all -t 4 -l 537.0`

[2022-05-18 04:16] qliphy opened #37994 "Build CMSSW_12_2_4"
Requested by EGM: https://github.com/cms-sw/cmssw/pull/37931

[2022-05-18 04:17] cmsbuild commented on #37994
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-18 04:17] qliphy commented on #37994
+1

[2022-05-18 04:18] cmsbuild commented on #37994
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-05-18 04:18] cmsbuild commented on #37994
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-05-18 04:21] cmsbuild commented on #37994
The build has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3500/console
CMSDIST Branch: [IB/CMSSW_12_2_X/cc8](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/cc8), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-05-18 04:21] cmsbuild commented on #37994
The build has started for slc7_aarch64_gcc9 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3501/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-05-18 04:22] cmsbuild commented on #37994
The build has started for slc7_amd64_gcc10 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3502/console
CMSDIST Branch: [IB/CMSSW_12_2_X/gcc10](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-05-18 04:23] cmsbuild commented on #37994
The build has started for slc7_ppc64le_gcc9 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3503/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-05-18 04:44] cmsbuild commented on #37994
The build has started for slc7_amd64_gcc900 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3504/console
CMSDIST Branch: [IB/CMSSW_12_2_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_2_X/master), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-05-18 05:31] perrotta commented on #36518
Thank you @swagata87

@mariadalfonso I think this issue can be closed now

[2022-05-18 05:45] smuzaffar commented on #36219
closing this for https://github.com/cms-sw/cmssw/issues/36646 ( where we have some recent updates and discussions)

[2022-05-18 05:45] #36219 closed

[2022-05-18 06:23] cmsbuild commented on #37955
The cleanup has started for el8_aarch64_gcc10

[2022-05-18 06:23] cmsbuild commented on #37955
The cleanup has started for slc7_amd64_gcc10

[2022-05-18 06:23] cmsbuild commented on #37955
The cleanup has started for slc7_amd64_gcc11

[2022-05-18 06:23] cmsbuild commented on #37955
The cleanup has started for el8_amd64_gcc10

[2022-05-18 06:23] cmsbuild commented on #37955
The cleanup has started for el8_ppc64le_gcc10

[2022-05-18 06:23] #37955 closed

[2022-05-18 06:23] cmsbuild commented on #37955
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre4-el8_aarch64_gcc10/2035

[2022-05-18 06:23] cmsbuild commented on #37955
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre4-el8_ppc64le_gcc10/2037

[2022-05-18 06:23] cmsbuild commented on #37955
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre4-el8_amd64_gcc10/2036

[2022-05-18 06:23] cmsbuild commented on #37955
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre4-slc7_amd64_gcc10/2038

[2022-05-18 06:24] cmsbuild commented on #37955
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_4_0_pre4-slc7_amd64_gcc11/2039

[2022-05-18 07:10] cmsbuild commented on #37994
The build has finished sucessfully for the architecture slc7_aarch64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4-slc7_aarch64_gcc9/3501
Some tests (

[2022-05-18 07:26] jpata commented on #37816
Note that I reran the 12_4_0_pre4 profiling job, and the profile now succeeded after several retries (this was not the case IIRC before https://github.com/cms-sw/cmsdist/pull/7853). So it looks like the crash is not completely deterministic.

[2022-05-18 07:26] tvami commented on #36405
isnt this tracking-pog more than the tracker-pdg? The DPG to my knowledge doesnt use this, although with the current implementation they could possible use it... in case we strip it down, I guess that's not true anymore

[2022-05-18 07:30] cmsbuild commented on #37994
The build has finished sucessfully for the architecture slc7_ppc64le_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4-slc7_ppc64le_gcc9/3503
Some tests (

[2022-05-18 07:32] jpata commented on #30604
type tau

[2022-05-18 07:32] jpata commented on #30604
@mbluj can you summarize, is this something that will be addressed, or rather should we read from the last message that you will stick with provenance?

[2022-05-18 07:32] jpata commented on #30894
type tau

[2022-05-18 07:33] jpata commented on #29949
type hgcal

[2022-05-18 07:34] jpata commented on #29949
@cms-sw/upgrade-l2 @cms-sw/hgcal-dpg-l2 @felicepantaleo @rovere is this still relevant?

[2022-05-18 07:34] mmusich commented on #37820
I think the type here should be tracking and trk (vertexing is under tracking)

[2022-05-18 07:36] jpata commented on #29818
@riga @yongbinfeng is this planned to be implemented, or should we close this issue?

[2022-05-18 07:36] jpata commented on #29639
type pf

[2022-05-18 07:36] jpata commented on #29639
@hatakeyamak @laurenhay @cms-sw/pf-l2 just to check if there was any conclusion on this

[2022-05-18 07:46] cmsbuild commented on #37994
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4-slc7_amd64_gcc10/3502
Some tests ( ru

[2022-05-18 07:51] cmsbuild commented on #37994
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4-cc8_amd64_gcc9/3500
Some tests ( runThe

[2022-05-18 07:56] jpata commented on #29267
type mtd

[2022-05-18 07:57] jpata commented on #29267
@fabiocos given your recent summary of the status of MTD tracking for the O&C R&D document, should we consider this issue as closed?

[2022-05-18 07:58] jpata commented on #29265
type btv

[2022-05-18 07:58] jpata commented on #29128
type btv

[2022-05-18 07:59] jpata commented on #28988
type muon

@cericeci @cms-sw/muon-pog-l2 any news on this?

[2022-05-18 08:09] cmsbuild commented on #37994
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4-slc7_aarch64_gcc9/3501

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-18 08:33] cmsbuild commented on #37994
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4-slc7_amd64_gcc10/3502

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-18 08:37] cmsbuild commented on #37994
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4-cc8_amd64_gcc9/3500

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-18 08:38] cmsbuild commented on #37994
The tests have finished for slc7_ppc64le_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4-slc7_ppc64le_gcc9/3503

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-18 08:44] mbluj commented on #30604
We will stick with provenance. However, if you are strongly in favour of solution proposed by Slava we can look for someone who will be interested in implementing it (Sebastian who rearranged tauID format left CMS).

[2022-05-18 08:46] jpata commented on #30604
-reconstruction
- will not be addressed in the near term

[2022-05-18 08:46] jpata commented on #30604
@cmsbuild please close

[2022-05-18 08:46] #30604 closed

[2022-05-18 09:04] mbluj commented on #30894
Current design speedups construction of taus and preserves only pi-zero candidates which are used to built final taus, removing unnecessary candidates which saves disk-space of AOD. The tau charged hadron candidates are not treated like this. In a result there is not access to tau charged hadron candidates at AOD as they are not stored (unless one re-reconstruct taus). In principle it makes sense

[2022-05-18 09:22] mariadalfonso commented on #36518
+xpog

[2022-05-18 09:22] cmsbuild commented on #36518
This issue is fully signed and ready to be closed.

[2022-05-18 09:23] mariadalfonso commented on #34443
type jet

[2022-05-18 09:24] qliphy commented on #37994
upload all

[2022-05-18 09:25] mariadalfonso commented on #34443
This explicit --data and  --mc is only needed by the MET sequence.

Suggest to review the METcode such that like ANY other object doesn't rely on external switches

[2022-05-18 09:25] cmsbuild commented on #37994
Queing Jenkins upload for slc7_amd64_gcc900

[2022-05-18 09:25] cmsbuild commented on #37994
Queing Jenkins upload for slc7_aarch64_gcc9

[2022-05-18 09:25] cmsbuild commented on #37994
Queing Jenkins upload for cc8_amd64_gcc9

[2022-05-18 09:25] cmsbuild commented on #37994
Queing Jenkins upload for slc7_ppc64le_gcc9

[2022-05-18 09:25] cmsbuild commented on #37994
Queing Jenkins upload for slc7_amd64_gcc10

[2022-05-18 09:25] cmsbuild commented on #37994
The upload has started for cc8_amd64_gcc9 in cmsbuild01.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2343/console

[2022-05-18 09:26] cmsbuild commented on #37994
The upload has started for slc7_amd64_gcc10 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2345/console

[2022-05-18 09:26] cmsbuild commented on #37994
The upload has started for slc7_amd64_gcc900 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2346/console

[2022-05-18 09:27] cmsbuild commented on #37994
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_4-slc7_amd64_gcc10/2345

[2022-05-18 09:27] cmsbuild commented on #37994
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_4-cc8_amd64_gcc9/2343

[2022-05-18 09:27] cmsbuild commented on #37994
The upload has started for slc7_ppc64le_gcc9 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2347/console

[2022-05-18 09:28] cmsbuild commented on #37994
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_4-slc7_aarch64_gcc9/2344

[2022-05-18 09:29] cmsbuild commented on #37994
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_4-slc7_amd64_gcc900/2346

[2022-05-18 10:01] cmsbuild commented on #37994
The tests have finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_4-slc7_amd64_gcc900/3504

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-18 10:08] qliphy commented on #37994
release-notes

[2022-05-18 10:09] cmsbuild commented on #37994
Generating release notes since CMSSW_12_2_3_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-18 10:09] cmsbuild commented on #37994
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_2_4 is now available for the following architectures:

slc7_amd64_gcc900 (production)
slc7_ppc64le_gcc9
slc7_aarch64_gcc9
cc8_amd64_gcc9
slc7_amd64_gcc10

The release notes of what changed with respect to CMSSW_12_2_3_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_2_4

Reques

[2022-05-18 10:17] fabiocos commented on #29267
@jpata @parbol for the time being I would say so. The ```TrackExtenderWithMTD``` has been made faster, reducing computational issues. and we do not see possible sizeable physics improvements from further work on the short term. Of course this might be revisited in future, especially if compelling reasons to do so will emerge. But I agree that this issue could be closed.

[2022-05-18 10:30] jpata commented on #29267
+reconstruction
- completed in https://github.com/cms-sw/cmssw/pull/36202, https://github.com/cms-sw/cmssw/pull/36793, [MTD general / DPG Meeting (18 February 2022), https://indico.cern.ch/event/1130532/

[2022-05-18 10:34] fabiocos commented on #37976
it looks like the problem happens in https://github.com/cms-sw/cmssw/blame/master/Configuration/Applications/python/ConfigBuilder.py#L2260 , commenting this line removes the duplication. Of course this does not mean it is the solution, the issue is likely due to the previous lines added in #35858 .

[2022-05-18 10:41] jpata commented on #37816
@smuzaffar could this issue be reopened, just to avoid discussion on a closed issue (we never signed from reco)

[2022-05-18 11:53] jpata commented on #37970
type tracking

[2022-05-18 11:56] jpata commented on #37970
I understand this would be something urgent to address before the final release of 12_4_0 (closed to physics changes, but bugfixes should be fine). Is this something you can address in the next week or so, @leonardogiannini?

[2022-05-18 12:08] cmsbuild commented on #37957
The cleanup has started for cs8_aarch64_gcc11

[2022-05-18 12:08] cmsbuild commented on #37957
The cleanup has started for slc7_aarch64_gcc11

[2022-05-18 12:08] cmsbuild commented on #37957
The cleanup has started for slc7_amd64_gcc10

[2022-05-18 12:08] cmsbuild commented on #37957
The cleanup has started for cs8_ppc64le_gcc11

[2022-05-18 12:08] cmsbuild commented on #37957
The cleanup has started for cs8_amd64_gcc10

[2022-05-18 12:08] cmsbuild commented on #37957
The cleanup has started for slc7_amd64_gcc11

[2022-05-18 12:08] cmsbuild commented on #37957
The cleanup has started for slc7_ppc64le_gcc11

[2022-05-18 12:08] #37957 closed

[2022-05-18 12:08] cmsbuild commented on #37957
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3-cs8_ppc64le_gcc11/2042

[2022-05-18 12:08] cmsbuild commented on #37957
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3-cs8_amd64_gcc10/2041

[2022-05-18 12:08] cmsbuild commented on #37957
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3-slc7_aarch64_gcc11/2043

[2022-05-18 12:08] cmsbuild commented on #37957
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3-slc7_amd64_gcc10/2044

[2022-05-18 12:08] cmsbuild commented on #37957
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3-slc7_ppc64le_gcc11/2046

[2022-05-18 12:09] cmsbuild commented on #37957
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3-cs8_aarch64_gcc11/2040

[2022-05-18 12:09] cmsbuild commented on #37957
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3-slc7_amd64_gcc11/2045

[2022-05-18 12:18] smuzaffar commented on #36646
the full stack with debug herwig7 and thepeg is
[code]

and I confirm that in single threaded mode workflow `537.0` runs fine.

[2022-05-18 13:05] mmusich commented on #37970
Would something like this work?

[code]

[2022-05-18 13:07] igv4321 commented on #35578
Some fixes are provided in the PR #37999. Sorry for slow response on this.

[2022-05-18 13:51] Dominic-Stafford commented on #36646
I also managed to reproduce this error when running on multiple threads, which is confusing, as Herwig doesn't actually run on multiple threads, only Madgraph. From some further tests, it seems the lhe file is actually the problem - the ones generated by multithreaded madgraph cause the ASAN error, even when running herwig with just one thread, while the ones generated with single threaded madgrap

[2022-05-18 14:46] rovere commented on #29949
@jpata the situation evolved quite a lot. Unfortunately, it did so not as cleanly as it should have been.

I'd kindly ask you to leave that open for the time being. If I'm successful in convincing the relevant people/developers that it's time to stop for a while and do a thorough cleaning, we will likely have this closed and fixed for good.

[2022-05-18 15:02] leonardogiannini commented on #37970
yes, that's it more or less. I am testing almost the same. You or I can open the PR. Let me know

[2022-05-18 15:02] mmusich commented on #37970
go ahead!

[2022-05-18 15:08] cmsbuild commented on #37960
The cleanup has started for el8_aarch64_gcc10

[2022-05-18 15:08] cmsbuild commented on #37960
The cleanup has started for slc7_amd64_gcc10

[2022-05-18 15:08] cmsbuild commented on #37960
The cleanup has started for slc7_amd64_gcc11

[2022-05-18 15:08] cmsbuild commented on #37960
The cleanup has started for el8_amd64_gcc10

[2022-05-18 15:08] cmsbuild commented on #37960
The cleanup has started for el8_ppc64le_gcc10

[2022-05-18 15:08] #37960 closed

[2022-05-18 15:09] cmsbuild commented on #37960
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre1-el8_ppc64le_gcc10/2049

[2022-05-18 15:09] cmsbuild commented on #37960
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre1-slc7_amd64_gcc10/2050

[2022-05-18 15:09] cmsbuild commented on #37960
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre1-el8_amd64_gcc10/2048

[2022-05-18 15:09] cmsbuild commented on #37960
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_5_0_pre1-slc7_amd64_gcc11/2051

[2022-05-18 15:41] gartung commented on #37816
The problem with the gperftools profile was that it had no stack traces. I was running with IGPROF environment variables defined to run igprof under gdb. This prevented gperftools libprofile.so from recording stack traces.

[2022-05-18 15:59] missirol commented on #37598
Another occurrence of the issue in [`CMSSW_12_4_X_2022-05-17-2300`](https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_4_X_2022-05-17-2300/slc7_amd64_gcc10/HLT_Integration_HIon_MC.log).

This intermittent issue keeps appearing, so it might be useful to start thinking about a way to solve it via software (e.g. retrying the query).

[2022-05-18 17:23] bsunanda commented on #29949
Well historically we named FH and BH while they are silicon or scintillator components of HGCal.With mixed layer concept, the first layers are different for these two while the last layer is the same. That is as it is now. HGCal design will be frozen once the construction starts. I would agree with Marco, till that time we keep 2 variables and once we know that things will not change from now on,

[2022-05-18 19:57] gartung commented on #37816
It looks like I was using an older libunwind with the original bug. I am trying gperftools with the patched libunwind and so far it hasn't crashed.

[2022-05-18 20:48] igv4321 commented on #32525
This issue should be fixed by PR #38005

[2022-05-18 21:47] makortel commented on #36938
The culprit wasn't exactly that, but a logic error (or oversight) for how the non-chosen `EDAlias` cases were treated in conjunction with `ConditionalTask`. https://github.com/cms-sw/cmssw/pull/38006 provides a fix (and I'll backport that to 12_4_X).

[2022-05-18 22:14] missirol commented on #36938
Thanks @makortel !

[2022-05-18 22:32] makortel commented on #36404
Around 2022-05-02 the deprecation annotations in CMSDEPRECATED_X were updated such that they should now flag reliably all classes that derive from legacy EDModule (or at least more reliably than earlier).

I also went through the logs of CMSSW_12_5_X_2022-05-17-2300 matrix tests and unit tests, and the following legacy EDModules are being run there for sure (there can be more that my log parsing a

[2022-05-19 08:03] smuzaffar commented on #37816
@gartung , can you please also check why igprof fails for el8? Many [ib-run-profiling](https://cmssdt.cern.ch/jenkins/job/ib-run-profiling/6531/console) jobs for `el8_amd64_gcc10` are failing with message like [a]

[a]
[code]

[2022-05-19 10:42] Dominic-Stafford commented on #36646
After some further tests, I've concluded the issue is running a very small number of events per thread. When I tried to run the lhe file which gives this ASAN error in a standalone version of Herwig, I got the following error:
[code]
In CMSSW we just catch this error and then continue running, which leads to the ASAN error. I'll try at some point to make the error handling in Herwig a bit more pre

[2022-05-19 10:46] SanghyunKo commented on #36705
since there is no follow-up anymore, I've just created #38012

[2022-05-19 10:59] davidlange6 commented on #36646
Eg, this is a rediscovery of this  problem:

https://github.com/cms-sw/cmssw/issues/34531

[2022-05-19 12:01] gartung commented on #37816
The memory profiling run with `igprof -mp -o ./igprofMEM_step3.mp -- cmsRunGlibC step3_igprof.py`. The version of glibc changed with el8 so I suspect something has changed that is preventing igprof from recording memory allocation/deallocation.

[2022-05-19 12:08] Dominic-Stafford commented on #36646
I think this is a slightly different issue, since that was caused an exact cancellation of two events in a thread, which shouldn't happen here, but yes, I think it's a similar issue of running an unphysically small number of events per thread

[2022-05-19 12:57] gartung commented on #37816
These messages probably have something to do with it
[code]

[2022-05-19 13:01] gartung commented on #37816
@smuzaffar Can you disable the retries for now. Once is enough to verify that memory profiling is broken.

[2022-05-19 13:09] smuzaffar commented on #37816
ok disbaled now

[2022-05-19 13:14] mbluj commented on #37974
@jpata It seems that whole `RecoTauTag/ImpactParameter` package is obsolete. Is there a way to remove a full package from CMSSW? And how to test if removal does not affect anything? I guess that libraries with removed stuff will be still accessible from CMSSW_RELEASE_BASE?

[2022-05-19 13:18] jpata commented on #37974
I don't know of anything else besides `git rm -r Package/Subpackage`. It can also be removed from categories.py file in the bot, but that's more of a github topic. I guess this also affects my recent PR https://github.com/cms-sw/cmssw/pull/37983.

@smuzaffar maybe you have some tips?

[2022-05-19 13:21] Dr15Jones commented on #36646
Beware, the framework does not guarantee that the number of threads is equally divided across all the streams. It could happen that all 20 events happen in 1 stream and the other 3 streams get 0 events (it is highly unlikely but not impossible).

[2022-05-19 13:30] mbluj commented on #37974
OK, it sounds indeed simple, thanks.

[2022-05-19 13:56] dan131riley commented on #37781
The failing test was added recently in #37530, prior to that there was no unit test for `SiStripHitEffFromCalibTree`.  I suspect this is a pre-existing bug in how that module uses `TFileService`, not due to any change in ROOT.

[2022-05-19 14:14] gartung commented on #37816
Using cmsRun instead of cmsRunGlibC produces a memory profile. @jpata you will need to update the release profiling script.

[2022-05-19 15:30] gartung commented on #37816
How would I tell? I have memory profiles produced locally. What would tell you if the deallocations were recorded correctly?

[2022-05-19 15:44] rovere commented on #31687
https://github.com/cms-sw/cmssw/pull/31527 moved the downstream reconstruction to use `TICL`.
I'll review with a little more care if additional cleaning is needed/desired.

[2022-05-19 16:42] slava77 commented on #37816
IIRC, MEM_LIVE will be closer to MEM_TOTAL (but perhaps it was just a factor of a few larger than the normal; I don't remember that well).

[2022-05-19 17:17] thomreis commented on #31422
I quickly checked and just removing the modules from the eventContent does not seem to be sufficient, at least for WF 139.001. Some other module must still consume the collections.

[2022-05-19 18:03] makortel commented on #31422
You can get a dump of the consumes information e.g. by adding `process.add_(cms.Service("Tracer", dumpPathsAndConsumes=cms.untracked.bool(True)))` to the configuration. Note that the `Tracer` service will print lots of other information as well.

[2022-05-20 02:02] qliphy opened #38021 "Build CMSSW_12_3_3_patch1"

[2022-05-20 02:03] cmsbuild commented on #38021
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-20 02:03] qliphy commented on #38021
+1

[2022-05-20 02:03] cmsbuild commented on #38021
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_3_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-05-20 02:03] cmsbuild commented on #38021
Queuing Jenkins build for the following architectures: slc7_amd64_gcc11, el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-05-20 02:04] cmsbuild commented on #38021
The was an error for el8_ppc64le_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-el8_ppc64le_gcc10/3505

[2022-05-20 02:09] qliphy commented on #38021
abort

[2022-05-20 02:10] cmsbuild commented on #38021
Deleting CMSSW_12_3_3_patch1:

  - Release successfully deleted

  - cmssw tag CMSSW_12_3_3_patch1 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_12_3_3_patch1/slc7_amd64_gcc10. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_3_3_patch1/slc7_amd64_gcc11. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_3_3_p

[2022-05-20 02:11] qliphy opened #38022 "Build CMSSW_12_3_3_patch1"

[2022-05-20 02:11] cmsbuild commented on #38022
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-20 02:24] qliphy commented on #38022
+1

[2022-05-20 02:24] cmsbuild commented on #38022
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_3_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-05-20 02:24] cmsbuild commented on #38022
Queuing Jenkins build for the following architectures: slc7_amd64_gcc11, el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-05-20 02:25] cmsbuild commented on #38022
The was an error for el8_ppc64le_gcc10.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-el8_ppc64le_gcc10/3506

[2022-05-20 03:48] qliphy commented on #38022
@smuzaffar  There is an error el8_ppc64le_gcc10 and others are stuck. Would you please have a look? Thanks!

[2022-05-20 04:21] smuzaffar commented on #38022
abort

[2022-05-20 04:21] #38021 closed

[2022-05-20 04:21] cmsbuild commented on #38022
Deleting CMSSW_12_3_3_patch1:

  - Release successfully deleted

  - cmssw tag CMSSW_12_3_3_patch1 successfully deleted.

 - I was not able to delete the tag REL/CMSSW_12_3_3_patch1/slc7_amd64_gcc10. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_3_3_patch1/slc7_amd64_gcc11. Probaly it had not been created.

 - I was not able to delete the tag REL/CMSSW_12_3_3_p

[2022-05-20 04:22] #38022 closed

[2022-05-20 04:22] smuzaffar opened #38023 "Build CMSSW_12_3_3_patch1"

[2022-05-20 04:22] cmsbuild commented on #38023
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-20 04:22] smuzaffar commented on #38023
+1

[2022-05-20 04:23] cmsbuild commented on #38023
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_3_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-05-20 04:23] cmsbuild commented on #38023
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, slc7_amd64_gcc11, slc7_amd64_gcc10, cs8_ppc64le_gcc11, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2022-05-20 04:29] smuzaffar commented on #38022
bot should not have built patch releases for new archs e.g. `el8_*` and it should have only built patch release for which 12.3.3 release build build e.g. only `slc7_amd64_gcc10, slc7_amd64_gcc11`.  All other archs e.g. `cs8_* and slc7_non-amd64` are deprecated in favor of `el8`. As it is trying to build patch releases for those arch for which full release was not built that is why it is taking mor

[2022-05-20 06:00] qliphy commented on #38023
@smuzaffar  It seems the builds are stuck. Can you have a look?

[2022-05-20 06:20] cmsbuild commented on #38023
The build has started for slc7_amd64_gcc11 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3509/console
CMSDIST Branch: [REL/CMSSW_12_3_3/slc7_amd64_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_3/slc7_amd64_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 06:20] cmsbuild commented on #38023
The build has started for slc7_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3508/console
CMSDIST Branch: [REL/CMSSW_12_3_3/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_3/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 06:20] cmsbuild commented on #38023
The build has started for cs8_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3507/console
CMSDIST Branch: [REL/CMSSW_12_3_3/cs8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_3/cs8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 06:20] cmsbuild commented on #38023
The build has started for cs8_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3510/console
CMSDIST Branch: [REL/CMSSW_12_3_3/cs8_aarch64_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_3/cs8_aarch64_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 06:20] cmsbuild commented on #38023
The build has started for cs8_ppc64le_gcc11 in ibmminsky-2b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3512/console
CMSDIST Branch: [REL/CMSSW_12_3_3/cs8_ppc64le_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_3/cs8_ppc64le_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 06:20] cmsbuild commented on #38023
The build has started for slc7_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3511/console
CMSDIST Branch: [REL/CMSSW_12_3_3/slc7_aarch64_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_3/slc7_aarch64_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 06:21] cmsbuild commented on #38023
The build has started for slc7_ppc64le_gcc11 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3513/console
CMSDIST Branch: [REL/CMSSW_12_3_3/slc7_ppc64le_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_3/slc7_ppc64le_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 07:18] cmsbuild commented on #38023
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-slc7_ppc64le_gcc11/3513
Some

[2022-05-20 07:24] jpata commented on #36612
+reconstruction
- addressed both reco and sim in #37983

[2022-05-20 07:35] cmsbuild commented on #38023
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-cs8_ppc64le_gcc11/3512
Some t

[2022-05-20 07:36] cmsbuild commented on #38023
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-cs8_aarch64_gcc11/3510
Some t

[2022-05-20 07:39] cmsbuild commented on #38023
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-slc7_amd64_gcc10/3508
Some tes

[2022-05-20 07:47] cmsbuild commented on #38023
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-slc7_amd64_gcc11/3509
Some tes

[2022-05-20 07:53] cmsbuild commented on #38023
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-cs8_amd64_gcc10/3507
Some tests

[2022-05-20 08:00] cmsbuild commented on #38023
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-slc7_aarch64_gcc11/3511
Some

[2022-05-20 08:09] cmsbuild commented on #38023
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-slc7_ppc64le_gcc11/3513

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-20 08:23] cmsbuild commented on #37994
The cleanup has started for slc7_aarch64_gcc9

[2022-05-20 08:23] cmsbuild commented on #37994
The cleanup has started for slc7_amd64_gcc900

[2022-05-20 08:23] cmsbuild commented on #37994
The cleanup has started for slc7_ppc64le_gcc9

[2022-05-20 08:23] cmsbuild commented on #38023
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-cs8_aarch64_gcc11/3510

Tests results:
48 46 43 33 17 4 1 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 0 failed

[2022-05-20 08:23] cmsbuild commented on #37994
The cleanup has started for cc8_amd64_gcc9

[2022-05-20 08:23] cmsbuild commented on #37994
The cleanup has started for slc7_amd64_gcc10

[2022-05-20 08:23] #37994 closed

[2022-05-20 08:23] cmsbuild commented on #37994
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_4-cc8_amd64_gcc9/2052

[2022-05-20 08:23] cmsbuild commented on #37994
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_4-slc7_amd64_gcc10/2054

[2022-05-20 08:23] cmsbuild commented on #37994
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_4-slc7_amd64_gcc900/2055

[2022-05-20 08:23] cmsbuild commented on #37994
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_4-slc7_ppc64le_gcc9/2056

[2022-05-20 08:23] cmsbuild commented on #37994
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_4-slc7_aarch64_gcc9/2053

[2022-05-20 08:24] cmsbuild commented on #38023
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-slc7_amd64_gcc10/3508

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-20 08:32] cmsbuild commented on #38023
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-slc7_amd64_gcc11/3509

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-20 08:37] cmsbuild commented on #38023
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-cs8_amd64_gcc10/3507

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-20 08:45] cmsbuild commented on #38023
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_3_patch1-slc7_aarch64_gcc11/3511

Tests results:
48 46 43 33 17 4 1 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 0 failed

[2022-05-20 09:46] qliphy commented on #38023
upload all

[2022-05-20 09:46] cmsbuild commented on #38023
Queing Jenkins upload for slc7_amd64_gcc10

[2022-05-20 09:46] cmsbuild commented on #38023
Queing Jenkins upload for cs8_amd64_gcc10

[2022-05-20 09:46] cmsbuild commented on #38023
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-05-20 09:46] cmsbuild commented on #38023
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-05-20 09:46] cmsbuild commented on #38023
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-05-20 09:46] cmsbuild commented on #38023
Queing Jenkins upload for cs8_ppc64le_gcc11

[2022-05-20 09:46] cmsbuild commented on #38023
Queing Jenkins upload for slc7_amd64_gcc11

[2022-05-20 09:47] cmsbuild commented on #38023
The upload has started for cs8_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2349/console

[2022-05-20 09:47] cmsbuild commented on #38023
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2348/console

[2022-05-20 09:47] cmsbuild commented on #38023
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2350/console

[2022-05-20 09:47] cmsbuild commented on #38023
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2351/console

[2022-05-20 09:48] cmsbuild commented on #38023
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3_patch1-cs8_amd64_gcc10/2349

[2022-05-20 09:48] cmsbuild commented on #38023
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3_patch1-cs8_ppc64le_gcc11/2350

[2022-05-20 09:48] cmsbuild commented on #38023
The upload has successfully finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3_patch1-cs8_aarch64_gcc11/2348

[2022-05-20 09:48] cmsbuild commented on #38023
The upload has started for slc7_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2352/console

[2022-05-20 09:48] cmsbuild commented on #38023
The upload has started for slc7_amd64_gcc11 in cmsbuild04.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2353/console

[2022-05-20 09:48] cmsbuild commented on #38023
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3_patch1-slc7_aarch64_gcc11/2351

[2022-05-20 09:49] cmsbuild commented on #38023
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2354/console

[2022-05-20 09:49] cmsbuild commented on #38023
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3_patch1-slc7_amd64_gcc10/2352

[2022-05-20 09:49] cmsbuild commented on #38023
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3_patch1-slc7_ppc64le_gcc11/2354

[2022-05-20 09:50] cmsbuild commented on #38023
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_3_patch1-slc7_amd64_gcc11/2353

[2022-05-20 09:52] qliphy commented on #38023
release-notes

[2022-05-20 09:52] cmsbuild commented on #38023
Generating release notes since CMSSW_12_3_3.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-20 09:52] cmsbuild commented on #38023
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_3_3_patch1 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_3 can be found at:

https://github.co

[2022-05-20 09:53] cmsbuild commented on #38023
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_3_patch1

[2022-05-20 10:53] thomreis commented on #31422
That's great. I was wondering yesterday if such a feature exists.

[2022-05-20 11:04] qliphy opened #38024 "Build CMSSW_12_3_4"
This is essentially same as CMSSW_12_3_3_patch1, but with el8 architecture included. (Thanks also to @smuzaffar on making  https://github.com/cms-sw/cms-bot/pull/1763 )

Moreover, although 12_3_3_patch1 has been built successfully, it seems in IB there is duplicated library issue:
https://cmssdt.cern.ch/SDT/cgi-bin/newQA.py?arch=slc7_amd64_gcc10&release=CMSSW_12_3_X_2022-05-20-0100
this happened b

[2022-05-20 11:04] cmsbuild commented on #38024
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-20 11:05] qliphy commented on #38024
+1

[2022-05-20 11:05] cmsbuild commented on #38024
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_4. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-05-20 11:05] cmsbuild commented on #38024
Queuing Jenkins build for the following architectures: slc7_amd64_gcc11, el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-05-20 11:07] cmsbuild commented on #38024
The build has started for el8_ppc64le_gcc10 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3514/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 11:36] cmsbuild commented on #38024
The build has started for el8_amd64_gcc10 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3516/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 11:43] cmsbuild commented on #38024
The build has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3517/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 11:47] cmsbuild commented on #38024
The build has started for slc7_amd64_gcc11 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3518/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-20 12:55] perrotta commented on #37970
Looks like having been actually fixed by #38004, see also https://github.com/cms-sw/cmssw/pull/37954#issuecomment-1132867789

[2022-05-20 12:59] jpata commented on #37970
+reconstruction
- solved by https://github.com/cms-sw/cmssw/pull/38004

[2022-05-20 12:59] #37970 closed

[2022-05-20 13:19] cmsbuild commented on #38024
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4-el8_ppc64le_gcc10/3514
Some tests (

[2022-05-20 13:26] cmsbuild commented on #38024
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4-el8_aarch64_gcc10/3515
Some tests (

[2022-05-20 14:14] cmsbuild commented on #38024
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4-el8_aarch64_gcc10/3515

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-20 15:00] cmsbuild commented on #38024
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4-slc7_amd64_gcc10/3517
Some tests ( ru

[2022-05-20 15:06] cmsbuild commented on #38024
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4-el8_amd64_gcc10/3516
Some tests ( runT

[2022-05-20 15:10] cmsbuild commented on #38024
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4-slc7_amd64_gcc11/3518
Some tests ( ru

[2022-05-20 15:22] cmsbuild commented on #38024
Queing Jenkins upload for slc7_amd64_gcc10

[2022-05-20 15:22] cmsbuild commented on #38024
Queing Jenkins upload for slc7_amd64_gcc11

[2022-05-20 15:22] cmsbuild commented on #38024
Queing Jenkins upload for el8_amd64_gcc10

[2022-05-20 15:22] cmsbuild commented on #38024
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-05-20 15:22] cmsbuild commented on #38024
Queing Jenkins upload for el8_aarch64_gcc10

[2022-05-20 15:24] cmsbuild commented on #38024
The upload has started for el8_amd64_gcc10 in cmsbuild14.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2356/console

[2022-05-20 15:24] cmsbuild commented on #38024
The upload has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2358/console

[2022-05-20 15:24] cmsbuild commented on #38024
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2355/console

[2022-05-20 15:24] cmsbuild commented on #38024
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2357/console

[2022-05-20 15:24] cmsbuild commented on #38024
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4-slc7_amd64_gcc10/2358

[2022-05-20 15:25] cmsbuild commented on #38024
The upload has started for slc7_amd64_gcc11 in cmsbuild13.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2359/console

[2022-05-20 15:25] cmsbuild commented on #38024
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4-el8_ppc64le_gcc10/2357

[2022-05-20 15:25] cmsbuild commented on #38024
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4-el8_aarch64_gcc10/2355

[2022-05-20 15:26] cmsbuild commented on #38024
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4-el8_amd64_gcc10/2356

[2022-05-20 15:26] cmsbuild commented on #38024
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4-slc7_amd64_gcc11/2359

[2022-05-20 15:37] qliphy commented on #38024
release-notes

[2022-05-20 15:38] cmsbuild commented on #38024
Generating release notes since CMSSW_12_3_3_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-20 15:38] cmsbuild commented on #38024
You can use this template for announcing the release:

Hi all,

The production release CMSSW_12_3_4 is now available for the following architectures:

slc7_amd64_gcc10 (production)
el8_amd64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc11
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_3_3_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_3_4

This i

[2022-05-20 15:41] cmsbuild commented on #38024
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_4

[2022-05-20 15:45] cmsbuild commented on #38024
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4-slc7_amd64_gcc10/3517

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-20 15:50] cmsbuild commented on #38024
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4-el8_amd64_gcc10/3516

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-20 15:55] cmsbuild commented on #38024
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4-slc7_amd64_gcc11/3518

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-20 16:14] civanch commented on #36612
+1

[2022-05-20 16:27] #36612 closed

[2022-05-20 16:38] thomreis commented on #31422
Looking at the RECO step of 11634.0_TTbar_14TeV+2021+TTbar_14TeV_TuneCP5_GenSimINPUT+Digi+RecoNano+HARVESTNano+ALCA I can see that for example `photons` runs in the reconstruction_step in the schedule and consumes `photonCore`, which consumes `correctedMulti5x5SuperClustersWithPreshower`, which consumes `multi5x5SuperClustersWithPreshower`, which consumes `multi5x5SuperClustersWithPreshower`, whic

[2022-05-20 17:06] gartung commented on #37816
Using cmsRun on el8 and looking at MEM_LIVE and MEM_TOTAL on the second to last event shows the they are not close in value
[code]

[2022-05-20 17:49] slava77 commented on #37816
Thanks for checking; apparently it's the other case from my attempt to recall ` it was just a factor of a few larger than the normal`.

20 GB in IgProf.39.MEM_LIVE.txt looks wrong.
In case you are looking at the Run3 job, the value should be closer to 2GB for step3.

[2022-05-20 17:54] gartung commented on #37816
Yes this is for the Run3 job.

[2022-05-20 17:57] gartung commented on #37816
I am running a CPU profiling job with the same step3 and 400 events on el8 to see if it segfaults. Although the recent patch makes it occur less often.

[2022-05-20 18:04] gartung commented on #37816
Jemalloc, which I think is linked into cmsRun, has a profiling option
https://github.com/jemalloc/jemalloc/wiki/Use-Case%3A-Heap-Profiling

[2022-05-20 18:22] gartung commented on #37816
CPU profiling crashed around event 369 running on el8.
[code]

[2022-05-21 10:22] SiewYan commented on #36662
To reiterate the plan:

1. [x] Cope with library structure. By default the HepMC3 libraries structures are lib64/libHepMC3.so->libHepMC3.so.3. CMSSW does not understand it, I have to copy this structure in CMSSW_12_3_0_pre2/external/slc7_amd64_gcc10/lib by hands.
2. [ ] Rewrite code created for ExternalDecays. Seems still to be needed for the photos++ package (tauola++?)
3. [x] Create GenEventInfo

[2022-05-21 22:38] perrotta opened #38034 "Build CMSSW_12_3_4_patch1"

[2022-05-21 22:38] cmsbuild commented on #38034
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-21 22:42] perrotta commented on #38034
+1

[2022-05-21 22:43] cmsbuild commented on #38034
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_4_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-05-21 22:43] cmsbuild commented on #38034
Queuing Jenkins build for the following architectures: slc7_amd64_gcc11, el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-05-21 22:45] cmsbuild commented on #38034
The build has started for el8_amd64_gcc10 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3519/console
CMSDIST Branch: [REL/CMSSW_12_3_4/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-21 22:45] cmsbuild commented on #38034
The build has started for slc7_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3520/console
CMSDIST Branch: [REL/CMSSW_12_3_4/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-21 22:45] cmsbuild commented on #38034
The build has started for slc7_amd64_gcc11 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3521/console
CMSDIST Branch: [REL/CMSSW_12_3_4/slc7_amd64_gcc11](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/slc7_amd64_gcc11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-21 22:45] cmsbuild commented on #38034
The build has started for el8_ppc64le_gcc10 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3522/console
CMSDIST Branch: [REL/CMSSW_12_3_4/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-21 22:50] cmsbuild commented on #38034
The build has started for el8_aarch64_gcc10 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3523/console
CMSDIST Branch: [REL/CMSSW_12_3_4/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-21 23:18] cmsbuild commented on #38034
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch1-el8_ppc64le_gcc10/3522
Some t

[2022-05-21 23:30] cmsbuild commented on #38034
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch1-slc7_amd64_gcc10/3520
Some tes

[2022-05-21 23:39] cmsbuild commented on #38034
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch1-slc7_amd64_gcc11/3521
Some tes

[2022-05-21 23:42] cmsbuild commented on #38034
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch1-el8_amd64_gcc10/3519
Some tests

[2022-05-21 23:54] cmsbuild commented on #38034
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch1-el8_aarch64_gcc10/3523
Some t

[2022-05-22 00:07] cmsbuild commented on #38034
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch1-el8_ppc64le_gcc10/3522

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-22 00:15] cmsbuild commented on #38034
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch1-slc7_amd64_gcc10/3520

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-22 00:24] cmsbuild commented on #38034
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch1-slc7_amd64_gcc11/3521

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-22 00:28] cmsbuild commented on #38034
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch1-el8_amd64_gcc10/3519

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-22 00:55] cmsbuild commented on #38034
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch1-el8_aarch64_gcc10/3523

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-22 07:04] perrotta commented on #38034
upload all

[2022-05-22 07:04] cmsbuild commented on #38034
Queing Jenkins upload for slc7_amd64_gcc10

[2022-05-22 07:04] cmsbuild commented on #38034
Queing Jenkins upload for slc7_amd64_gcc11

[2022-05-22 07:04] cmsbuild commented on #38034
Queing Jenkins upload for el8_amd64_gcc10

[2022-05-22 07:04] cmsbuild commented on #38034
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-05-22 07:04] cmsbuild commented on #38034
Queing Jenkins upload for el8_aarch64_gcc10

[2022-05-22 07:05] cmsbuild commented on #38034
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2360/console

[2022-05-22 07:05] cmsbuild commented on #38034
The upload has started for slc7_amd64_gcc10 in cmsbuild77.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2363/console

[2022-05-22 07:05] cmsbuild commented on #38034
The upload has started for el8_ppc64le_gcc10 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2362/console

[2022-05-22 07:05] cmsbuild commented on #38034
The upload has started for el8_amd64_gcc10 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2361/console

[2022-05-22 07:05] cmsbuild commented on #38034
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch1-el8_ppc64le_gcc10/2362

[2022-05-22 07:06] cmsbuild commented on #38034
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch1-el8_aarch64_gcc10/2360

[2022-05-22 07:06] cmsbuild commented on #38034
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch1-slc7_amd64_gcc10/2363

[2022-05-22 07:06] cmsbuild commented on #38034
The upload has started for slc7_amd64_gcc11 in cmsbuild78.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2364/console

[2022-05-22 07:06] cmsbuild commented on #38034
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch1-slc7_amd64_gcc11/2364

[2022-05-22 07:19] cmsbuild commented on #38034
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch1-el8_amd64_gcc10/2361

[2022-05-22 07:26] perrotta commented on #38034
release-notes

[2022-05-22 07:27] cmsbuild commented on #38034
Generating release notes since CMSSW_12_3_4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-22 07:27] cmsbuild commented on #38034
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_3_4_patch1 is now available for the following architectures:

slc7_amd64_gcc10 (production)
el8_amd64_gcc10
el8_ppc64le_gcc10
slc7_amd64_gcc11
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_3_4 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_3_4_p

[2022-05-22 07:28] cmsbuild commented on #38034
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_4_patch1

[2022-05-22 07:53] cmsbuild commented on #38023
The cleanup has started for cs8_aarch64_gcc11

[2022-05-22 07:53] cmsbuild commented on #38023
The cleanup has started for slc7_aarch64_gcc11

[2022-05-22 07:53] cmsbuild commented on #38023
The cleanup has started for slc7_amd64_gcc10

[2022-05-22 07:53] cmsbuild commented on #38023
The cleanup has started for cs8_ppc64le_gcc11

[2022-05-22 07:53] cmsbuild commented on #38023
The cleanup has started for cs8_amd64_gcc10

[2022-05-22 07:53] cmsbuild commented on #38023
The cleanup has started for slc7_amd64_gcc11

[2022-05-22 07:53] cmsbuild commented on #38023
The cleanup has started for slc7_ppc64le_gcc11

[2022-05-22 07:53] #38023 closed

[2022-05-22 07:54] cmsbuild commented on #38023
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3_patch1-cs8_aarch64_gcc11/2057

[2022-05-22 07:54] cmsbuild commented on #38023
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3_patch1-slc7_aarch64_gcc11/2060

[2022-05-22 07:54] cmsbuild commented on #38023
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3_patch1-cs8_amd64_gcc10/2058

[2022-05-22 07:54] cmsbuild commented on #38023
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3_patch1-cs8_ppc64le_gcc11/2059

[2022-05-22 07:55] cmsbuild commented on #38023
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3_patch1-slc7_ppc64le_gcc11/2063

[2022-05-22 07:55] cmsbuild commented on #38023
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3_patch1-slc7_amd64_gcc10/2061

[2022-05-22 07:55] cmsbuild commented on #38023
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_3_patch1-slc7_amd64_gcc11/2062

[2022-05-22 13:38] cmsbuild commented on #38024
The cleanup has started for el8_aarch64_gcc10

[2022-05-22 13:38] cmsbuild commented on #38024
The cleanup has started for slc7_amd64_gcc10

[2022-05-22 13:38] cmsbuild commented on #38024
The cleanup has started for slc7_amd64_gcc11

[2022-05-22 13:38] cmsbuild commented on #38024
The cleanup has started for el8_amd64_gcc10

[2022-05-22 13:38] cmsbuild commented on #38024
The cleanup has started for el8_ppc64le_gcc10

[2022-05-22 13:38] #38024 closed

[2022-05-22 13:38] cmsbuild commented on #38024
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4-el8_aarch64_gcc10/2064

[2022-05-22 13:38] cmsbuild commented on #38024
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4-el8_amd64_gcc10/2065

[2022-05-22 13:38] cmsbuild commented on #38024
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4-el8_ppc64le_gcc10/2066

[2022-05-22 13:38] cmsbuild commented on #38024
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4-slc7_amd64_gcc10/2067

[2022-05-22 13:38] cmsbuild commented on #38024
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4-slc7_amd64_gcc11/2068

[2022-05-23 07:33] cecilecaillol commented on #35005
assign l1

[2022-05-23 10:20] jpata commented on #35578
+reconstruction
- the FFTJet modules were migrated to esConsumes in https://github.com/cms-sw/cmssw/pull/37999, so they can now in principle run
- it was stated that there are plans to revive studies with them, even though they are currently not running in any workflow

[2022-05-23 10:21] cmsbuild commented on #35578
This issue is fully signed and ready to be closed.

[2022-05-23 13:31] makortel commented on #35578
#37999 changed only some EDModules from legacy to stream, but did not migrate anything to esConsumes. In CMSSW_12_5_X_2022-05-20-2300, that includes #37999, the CMSDEPRECATED_X build still reports 417 warnings for `JetMETCorrections/FFTJetModules` and `JetMETCorrections/FFTJetObjects`. On a quick look majority of those warnings are for esConsumes, but there were some legacy EDModules as well.

I'd

[2022-05-23 13:51] germanfgv opened #38044 "DQM Harvest jobs getting stuck at T0"
Tests of CMSSW_12_3_3_patch1 at T0 show some Express jobs of task `ExpressMergewrite_StreamExpressCosmics_DQMIOEndOfRunDQMHarvestMerged` taking more that 20h to complete.

Here we have the logs of one job that finished after 22h of execution:

[code]
The logs report nothing for 20h, after which there a few network error messages apparently related to XRootD and then the job continues to finish in

[2022-05-23 13:52] cmsbuild commented on #38044
A new Issue was created by  @germanfgv Germn Felipe Giraldo Villa.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-23 13:53] makortel commented on #38044
assign core

[2022-05-23 13:53] cmsbuild commented on #38044
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-23 13:59] germanfgv commented on #38044
One of this jobs is currently running for 24h. We have access to the node and here is the las few lines of the current cmsRun log:
[code]
As you can see, there is nothing for 17h and then network errors. The current stack trace for the cmsRun process is the following:
[code]

[2022-05-23 14:00] Dr15Jones commented on #38044
assign dam

[2022-05-23 14:01] cmsbuild commented on #38044
New categories assigned: dqm

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@emanueleusai,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-23 14:10] Dr15Jones commented on #38044
The last traceback posted appear to be here

https://github.com/cms-sw/cmssw/blob/9dab6a97de58a930407ae847dcd4210b1946807f/DQM/GEM/plugins/GEMDQMHarvester.cc#L685-L687

[2022-05-23 14:19] perrotta commented on #38044
That part of the code was recently modified in https://github.com/cms-sw/cmssw/pull/37852, entered first in CMSSW_12_3_3
Maybe @quark2 can help with debugging it

[2022-05-23 15:12] #36705 closed

[2022-05-23 15:17] missirol commented on #38044
Maybe this won't help, but `setBinLabel` reminded me that there was an HLT-related PR that discussed how those calls are very slow (and in some cases, maybe not this case, `setBinLabel` was being called unnecessarily): https://github.com/cms-sw/cmssw/pull/36313.

[2022-05-23 15:18] igv4321 commented on #35578
@makortel  How do I turn these messages on? I don't see any warning messages with the usual "scram b" command.

[2022-05-23 15:35] makortel commented on #35578
I just tried the following in 12_5_0_pre1
[code]
and saw the 417 warnings.

[2022-05-23 16:00] kpedro88 commented on #37767
any feedback on increasing the wait time?

[2022-05-23 16:04] germanfgv commented on #38044
@Dr15Jones @makortel @quark2 anything new to report here? Do you need any extra information form our side?

[2022-05-23 16:09] smuzaffar commented on #37767
@kpedro88 , no objections on increasing the timeout to 300s

[2022-05-23 16:17] makortel commented on #38044
unassing core

[2022-05-23 16:23] kpedro88 commented on #37767
see #38048

[2022-05-23 17:48] makortel commented on #38044
Here is a profile with 10 files. The `GEMDQMHarvester::dqmEndLuminosityBlock()` took 183 seconds, which is much more than what would expect with simple extrapolation from 4 files (that would be 10/4*28.94 = 72 seconds).
https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/issue38044/test_16_perf/19

[2022-05-23 18:16] makortel commented on #38044
20 files took 723 seconds
https://mkortela.web.cern.ch/mkortela/cgi-bin/navigator/issue38044/test_26_perf/19

(I'll stop here, scaling is clearly faster than linear)

[2022-05-23 18:17] makortel commented on #38044
@germanfgv I think we have enough evidence towards where the problem lies (and it is reproducible), thanks.

[2022-05-23 18:18] germanfgv commented on #38044
Thanks @makortel ! How can we fix this? I'm guessing we will need a patch. Who can make it?

[2022-05-23 18:22] emanueleusai commented on #38044
So do I understand correctly the issue is caused by the call to setBinLabel? Or we are having an issue connected with  multiple concurrent files in harvesting and the direct access to DQMStore?

[2022-05-23 18:23] makortel commented on #38044
I suppose as an emergency fix the GEM harvesting module could be excluded, but that is really for @cms-sw/dqm-l2 to comment.

Likely someone from @quark2 @cms-sw/gem-dpg-l2 @cms-sw/dqm-l2

[2022-05-23 18:25] makortel commented on #38044
My guess is that something causes this loop
https://github.com/cms-sw/cmssw/blob/9dab6a97de58a930407ae847dcd4210b1946807f/DQM/GEM/plugins/GEMDQMHarvester.cc#L705-L713
long or called many times with more files (or more luminosity blocks).

[2022-05-23 18:31] perrotta commented on #38044
Is there an efficient way to go through all elements in the TH2? I made a quick search, but I ouldn't find if going through all Ybins in all Xbins is the most efficient way to loop through all them.

[2022-05-23 18:34] davidlange6 commented on #38044
createInactiveChannelFracHist is called in a loop.. entirely possible that that loop has an increasing length...

[2022-05-23 18:41] pmandrik commented on #38044
In the loop h2SrcChamberOcc has a MonitorElement type which add several checks in getBinContent function. Probably, could be casted into TH2 before the loop. Anyway, if number of bins nNumBinX/Y is big, maybe, something smarter could be proposed to store a number of active channels.

[2022-05-23 18:46] makortel commented on #38044
The only place adding elements to `listLayer_` seems to be in `GEMDQMHarvester::getGeometryInfo()`
https://github.com/cms-sw/cmssw/blob/9dab6a97de58a930407ae847dcd4210b1946807f/DQM/GEM/plugins/GEMDQMHarvester.cc#L333-L339
which is called for every `dqmEndLuminosityBlock()`. The `listLayer_` is cleared in the other branch of this if-else.

[2022-05-23 18:56] makortel commented on #38044
So the `getGeometry()` calls `listLayer_.clear()` (and then fills it again) if the argument `MonitorElement*` is not `nullptr`
https://github.com/cms-sw/cmssw/blob/9dab6a97de58a930407ae847dcd4210b1946807f/DQM/GEM/plugins/GEMDQMHarvester.cc#L315-L317

I checked at the caller
https://github.com/cms-sw/cmssw/blob/9dab6a97de58a930407ae847dcd4210b1946807f/DQM/GEM/plugins/GEMDQMHarvester.cc#L216
that th

[2022-05-23 19:26] davidlange6 commented on #38044
Fewer virtual function calls are certainly better... Perhaps the axis ticks can get set in the constructor?

On May 23, 2022 8:42 PM, pmandrik ***@***.***> wrote:

In the loop h2SrcChamberOcc has a MonitorElement type which add several checks in getBinContent function. Probably, could be casted into TH2 before the loop. Anyway, if number of bins nNumBinX/Y is big, maybe, something smarter could be

[2022-05-23 19:35] fwyzard commented on #38044
So, looking at
[code]
maybe the calls to `clear()` should be moved outside of the `if` ?
[code]

This would at least prevent the size of `listLayer_` from growing indefinitely ...

[2022-05-23 20:38] perrotta commented on #38044
I have prepared #38052 which reverts https://github.com/cms-sw/cmssw/pull/37852, to have it ready just in case we decide to merge it.

Operationally I would propose:
- Revert #37852 in 12_3_X, and prepare a patch release with it
- Prepare a fix for the issue discussed here, and merge it in master and 12_4_X
- A later backport of the original PR + fix could be integrated in the DQM 12_3_X release,

[2022-05-24 04:00] quark2 commented on #38044
Hi all,

It's not a good idea to revert the PR because it has a lot of other updates which is necessary for the GEM DQM. So, I'll make a hotfix as soon as possible. I have an idea to reduce the cost of the loop. Also I'll fix the issue on `listLayer_`...

[2022-05-24 05:38] cmsbuild commented on #38034
The cleanup has started for el8_aarch64_gcc10

[2022-05-24 05:38] cmsbuild commented on #38034
The cleanup has started for slc7_amd64_gcc10

[2022-05-24 05:38] cmsbuild commented on #38034
The cleanup has started for slc7_amd64_gcc11

[2022-05-24 05:38] cmsbuild commented on #38034
The cleanup has started for el8_amd64_gcc10

[2022-05-24 05:38] cmsbuild commented on #38034
The cleanup has started for el8_ppc64le_gcc10

[2022-05-24 05:38] #38034 closed

[2022-05-24 05:38] cmsbuild commented on #38034
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch1-el8_aarch64_gcc10/2069

[2022-05-24 05:38] cmsbuild commented on #38034
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch1-el8_ppc64le_gcc10/2071

[2022-05-24 05:38] cmsbuild commented on #38034
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch1-el8_amd64_gcc10/2070

[2022-05-24 05:38] cmsbuild commented on #38034
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch1-slc7_amd64_gcc10/2072

[2022-05-24 05:38] cmsbuild commented on #38034
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch1-slc7_amd64_gcc11/2073

[2022-05-24 06:34] quark2 commented on #38044
Hi all,

Thank you all for addressing the reasons for the issue. I'm making a hotfix, but I have no idea how to reproduce the problem. Could you give me a recipe for that?

[2022-05-24 06:53] germanfgv commented on #38044
Thank you @quark2. You can find `PSet.py` and `PSet.pkl` here
[code]
You can  create a scram area and use `cmsRun  PSet.py` to run the job. Of course this will run the job with all the input files, so you will probably want to modify the config a bit. We have some instructions here:
https://cmst0.docs.cern.ch/cookbook/debugging/#run-a-job-interactively
Although I'm guessing is the same as with oth

[2022-05-24 06:56] quark2 commented on #38044
Hi @germanfgv,

Thanks for the information! Okay, I'll do it asap.

[2022-05-24 06:59] boudoul commented on #38044
Hello, Stable beams are expected on Friday. I guess this means that the release should be built today...

[2022-05-24 07:26] fwyzard commented on #38044
A suggestion for un-pickling configurations: you can replace the whole **Unpickling the PSet.pkl file (job configuration file)** section with a much simpler command:
[code]

[2022-05-24 07:34] quark2 commented on #38044
Hi @boudoul,

I think it can be fixed before dinner (CEST).

And thanks, @fwyzard, it's super useful for me!

Btw, I wonder how much time this run would take. Could you inform me about that?

[2022-05-24 07:35] fwyzard commented on #38044
If I remember correctly, the original logs show the job taking over 20 hours to finish.

[2022-05-24 07:38] quark2 commented on #38044
Sorry, I mean the time consumption if everything works well.

[2022-05-24 09:34] perrotta opened #38056 "Build CMSSW_12_3_4_patch2"
It includes the revert of https://github.com/cms-sw/cmssw/pull/37852, as the GEM DQM harvesting was causing troubles at T0, see https://github.com/cms-sw/cmssw/issues/38044

[2022-05-24 09:35] cmsbuild commented on #38056
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-05-24 09:45] cmsbuild commented on #38056
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_4_patch2. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_3_X

[2022-05-24 09:45] cmsbuild commented on #38056
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-05-24 09:46] cmsbuild commented on #38056
The build has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3524/console
CMSDIST Branch: [REL/CMSSW_12_3_4/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-24 09:54] cmsbuild commented on #38056
The build has started for el8_ppc64le_gcc10 in ibmminsky-2a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3526/console
CMSDIST Branch: [REL/CMSSW_12_3_4/el8_ppc64le_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/el8_ppc64le_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-24 10:16] cmsbuild commented on #38056
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch2-slc7_amd64_gcc10/3525
Some tes

[2022-05-24 10:23] cmsbuild commented on #38056
The build has finished sucessfully for the architecture el8_ppc64le_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch2-el8_ppc64le_gcc10/3526
Some t

[2022-05-24 10:25] cmsbuild commented on #38056
The build has finished sucessfully for the architecture el8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch2-el8_amd64_gcc10/3524
Some tests

[2022-05-24 10:51] quark2 commented on #38044
A test job with a cure on the issue has been done, and it takes (from a message from the first event) 27 minutes. Is it reasonable? (Thanks, @fwyzard, your idea is correct.)

And also, I found that the PR with this issue has been reverted in CMSSW_12_3_X. I think I need to make PRs like the following.
- A PR for the 'fix' to the master and its backport to 12_4_X
- A PR with the reverted contents a

[2022-05-24 11:01] cmsbuild commented on #38056
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch2-slc7_amd64_gcc10/3525

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-24 11:03] cmsbuild commented on #38056
The build has started for el8_aarch64_gcc10 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3527/console
CMSDIST Branch: [REL/CMSSW_12_3_4/el8_aarch64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/el8_aarch64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-05-24 11:09] cmsbuild commented on #38056
The tests have finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch2-el8_amd64_gcc10/3524

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-24 11:21] kmaeshima commented on #38044
Hi,  Following is the decision made from this morning daily joint ops meeting regarding how we proceed with the release and Gem issue:
About the GEM issue & cmssw releases:  Plan is:  we do not wait for the fix.
We revert the problematic GEM PR, we built a new patch release(s) immediately
- Build 12_3_4_partch2.  Then, test. (T0, HLT & DQM) ASAP
- After 12_3_4_patch2 is built, build 12_3_3_patch2

[2022-05-24 11:32] fwyzard commented on #38044
I cannot say what is reasonable (this workflow is a bit outside my area of expertise), but what you could do is
  - run without any GEM DQM at all
  - run with the fix

and compare the time it takes to run the two.
Just as a guess, the DQM for a single detector should not add more than a few percent to the total.

Yes, given the tight schedule at the joint operations meeting this morning it was de

[2022-05-24 11:41] cmsbuild commented on #38056
The tests have finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch2-el8_ppc64le_gcc10/3526

Tests results:
48 47 46 35 17 4 1 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 0 failed

[2022-05-24 11:52] cmsbuild commented on #38056
The build has finished sucessfully for the architecture el8_aarch64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch2-el8_aarch64_gcc10/3527
Some t

[2022-05-24 11:53] quark2 commented on #38044
That's what I was missing for the check. Thanks for your advice! I'll do that.

[2022-05-24 11:54] perrotta commented on #38056
upload all

[2022-05-24 11:55] cmsbuild commented on #38056
Queing Jenkins upload for slc7_amd64_gcc10

[2022-05-24 11:55] cmsbuild commented on #38056
Queing Jenkins upload for el8_amd64_gcc10

[2022-05-24 11:55] cmsbuild commented on #38056
Queing Jenkins upload for el8_ppc64le_gcc10

[2022-05-24 11:55] cmsbuild commented on #38056
Queing Jenkins upload for el8_aarch64_gcc10

[2022-05-24 11:55] cmsbuild commented on #38056
The upload has started for el8_aarch64_gcc10 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2365/console

[2022-05-24 11:55] cmsbuild commented on #38056
The upload has started for el8_ppc64le_gcc10 in ibmminsky-2.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2367/console

[2022-05-24 11:55] cmsbuild commented on #38056
The upload has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2368/console

[2022-05-24 11:55] cmsbuild commented on #38056
The upload has started for el8_amd64_gcc10 in cmsbuild07.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2366/console

[2022-05-24 11:56] cmsbuild commented on #38056
The upload has successfully finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch2-el8_aarch64_gcc10/2365

[2022-05-24 11:56] cmsbuild commented on #38056
The upload has successfully finished for el8_ppc64le_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch2-el8_ppc64le_gcc10/2367

[2022-05-24 11:57] cmsbuild commented on #38056
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch2-slc7_amd64_gcc10/2368

[2022-05-24 12:04] cmsbuild commented on #38056
The upload has successfully finished for el8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_4_patch2-el8_amd64_gcc10/2366

[2022-05-24 12:26] cecilecaillol commented on #35005
+l1

[2022-05-24 12:27] perrotta commented on #35005
CondFormats/L1TObjects/src/LUT.cc is addressed in #38039

CondFormats/JetMETObjects/src/SimpleJetCorrector.cc still needs to be fixed

[2022-05-24 12:28] cmsbuild commented on #38056
Generating release notes since CMSSW_12_3_4_patch1.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-05-24 12:28] cmsbuild commented on #38056
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_12_3_4_patch2 is now available for the following architectures:

slc7_amd64_gcc10 (production)
el8_ppc64le_gcc10
el8_amd64_gcc10
el8_aarch64_gcc10

The release notes of what changed with respect to CMSSW_12_3_4_patch1 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_12_3_4_patch2

It

[2022-05-24 12:30] cmsbuild commented on #38056
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_4_patch2

[2022-05-24 12:36] perrotta commented on #38044
CMSSW_12_3_4_patch2 is ready, see https://github.com/cms-sw/cmssw/releases/CMSSW_12_3_4_patch2

[2022-05-24 12:38] kmaeshima commented on #38044
Hi @quark2 ,  Just want to make sure, we are all in the same page for the plan of action for the next release building and testing for upcoming 900 GeV stable beam collisions, which is coming very soon:
The release we are building now (12_3_4_patch2) is the version reverting the recent GEMDQM change.   We'll implement fixed version of GEMDQM in future, when we are not so under time-pressure.

[2022-05-24 12:55] cmsbuild commented on #38056
The tests have finished for el8_aarch64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_4_patch2-el8_aarch64_gcc10/3527

Tests results:
48 47 45 34 16 4 1 1 1 1 1 tests passed, 0 0 1 0 0 0 0 0 0 0 0 failed

[2022-05-24 13:09] jpata opened #38058 "shared_ptr to edm::Ptr in ECAL CalibratedCluster"
As pointed out here:
- https://github.com/cms-sw/cmssw/pull/37115#issuecomment-1129831488
- https://github.com/cms-sw/cmssw/pull/37115#issuecomment-1135900547

ECAL SuperClustering is using shared_ptr, which could potentially be improved by using edm::Ptr instead.

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoEcal/EgammaClusterAlgos/interface/PFECALSuperCluster

[2022-05-24 13:10] cmsbuild commented on #38058
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-24 13:10] cmsbuild commented on #38058
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-24 13:13] fwyzard opened #38059 "Evaluate replacing ECAL CalibratedClusterPtr with CalibratedPFCluster"
The `PFECALSuperClusterAlgo` class uses internally a `CalibratedPFCluster` class which is a wrapper around an `edm::Ptr<reco::PFCluster>`:

[code]

As well as a `shared_ptr<...>` and a `vector<shared_ptr<...>>` types:
[code]

The use of what are essentially a `shared_ptr<Ptr<T>>` and `vector<shared_ptr<Ptr<T>>>` seems inefficient, given that `edm::Ptr<T>` is a lightweight object which should be us

[2022-05-24 13:13] fwyzard commented on #38059
assign reco

[2022-05-24 13:13] fwyzard commented on #38059
assign reconstruction

[2022-05-24 13:14] cmsbuild commented on #38059
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-24 13:14] cmsbuild commented on #38059
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-24 13:17] jpata commented on #38058
duplicate https://github.com/cms-sw/cmssw/issues/38059#issuecomment-1135910043

[2022-05-24 13:17] #38058 closed

[2022-05-24 13:35] fwyzard commented on #38059
type performance-improvements

[2022-05-24 13:35] fwyzard commented on #38059
assign egamma-pog

[2022-05-24 13:35] cmsbuild commented on #38059
New categories assigned: egamma-pog

@lfinco,@swagata87 you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-24 13:50] makortel commented on #35578
Did the bot close this because of the earlier "please close" message even if @perrotta reopened this issue? Do we need to make the bot to recognize reopening?

[2022-05-24 14:17] quark2 commented on #38044
Hi @perrotta and @kmaeshima,

Thanks for your advice. Yep, I'll make a PR based on `12_3_4_patch2`.

[2022-05-24 14:38] smuzaffar commented on #35578
yes @makortel bot closed it due to https://github.com/cms-sw/cmssw/issues/35578#issuecomment-1134490302

[2022-05-24 15:19] makortel commented on #37767
Copying @Dr15Jones' https://github.com/cms-sw/cmssw/pull/38048#issuecomment-1136062341

[2022-05-24 15:30] kpedro88 commented on #37767
This is a different error: the server started fine, but then the inference call did not complete in the maximum allotted time.

Right now, the timeout is set to a low value of 10 seconds: https://github.com/cms-sw/cmssw/blob/1bfd68cd1932e3351c7f120db16314c3d9867962/PhysicsTools/PatAlgos/python/slimming/patPhotonDRNCorrector_cfi.py#L12

@ssrothman can you suggest a better timeout value that will av

[2022-05-24 18:43] rappoccio opened #38068 "Phi wraparound bug in PFDisplacedVertexCandidateFinder?"
Hi,

I think there is a phi wraparound bug in this line of PFDisplacedVertexCandidateFinder:

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/RecoParticleFlow/PFTracking/src/PFDisplacedVertexCandidateFinder.cc#L194

[code]

should be

[code]

This may be related to the issue reported [here](https://github.com/cms-sw/cmssw/issues/31158). Can someone confirm? We can fix

[2022-05-24 18:43] cmsbuild commented on #38068
A new Issue was created by  @rappoccio .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-24 18:45] makortel commented on #38068
assign reconstruction

[2022-05-24 19:46] mmusich commented on #35519
The last bricked pixel geometry in cmssw is removed at https://github.com/cms-sw/cmssw/pull/38061.
I guess that after that is merged support for a special local reco could be dropped afterwards, thus addressing this issue.

[2022-05-25 04:12] quark2 commented on #38044
I found that there is still a problem since the loop @makortel mentioned[#](https://github.com/cms-sw/cmssw/issues/38044#issuecomment-1134999809) is heavy basically. So I'm trying to find an alternative way to calculate the same thing faster.

[2022-05-25 07:18] cecilecaillol commented on #35013
First 2 warnings addressed in https://github.com/cms-sw/cmssw/pull/38060, others addressed previously

[2022-05-25 07:18] cecilecaillol commented on #35013
+l1

[2022-05-25 07:18] cmsbuild commented on #35013
This issue is fully signed and ready to be closed.

[2022-05-25 07:45] jpata commented on #36322
-reconstruction
- the issue is in BTV private code, not in reco

[2022-05-25 07:45] jpata commented on #36322
@cmsbuild please close

[2022-05-25 07:45] #36322 closed

[2022-05-25 08:22] cecilecaillol commented on #29145
No interest anymore in this functionality, we can close the issue

[2022-05-25 08:22] cecilecaillol commented on #29145
+l1

[2022-05-25 08:22] cmsbuild commented on #29145
This issue is fully signed and ready to be closed.

[2022-05-25 08:23] yimuchen opened #38073 "pat::PackedGenParticle not storing reco::GenParticle::vertex"
I've noticed that in the constructor of `pat::PackedGenParticle`, the vertex information from the original `reco::GenParticle` is not being stored to the `vertex_` field, rather it is being explicitly set to (0, 0, 0) [1]. The producer of the `packedGenParticle` collection doesn't attempt to correct for this behavior either [2].

It seems a bit strange to have PackedGenParticle declare a data memb

[2022-05-25 08:24] cmsbuild commented on #38073
A new Issue was created by  @yimuchen Yi-Mu "Enoch" Chen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-25 08:43] eyigitba commented on #32894
Hi @cecilecaillol , sorry for missing the earlier message.

I haven't worked on this for some time. Our understanding was that the `edm::GlobalCache` implementation didn't really fix this issue, but could help reduce the memory usage. The way I did it initially is a little hacky and a better implementation would require some reworking of the code. So we decided to postpone this implementation. If

[2022-05-25 08:44] fwyzard commented on #38044
Some random suggestions:
  - for one-character strings (_e.g._ inside `getNameChamberOccGE11()`) you can use `char` instead of `std::string`
  - as others have already commented, you could get the underlying ROOT object (`TH2F` ?) outside of [the loop](https://github.com/cms-sw/cmssw/blob/9dab6a97de58a930407ae847dcd4210b1946807f/DQM/GEM/plugins/GEMDQMHarvester.cc#L705-L713), and use it inside the

[2022-05-25 09:16] perrotta commented on #37906
Fixed by https://github.com/cms-sw/cmssw/pull/37995

[2022-05-25 09:16] #37906 closed

[2022-05-25 09:48] quark2 commented on #38044
Thanks @fwyzard for your advice.

Yep right, I should use `char`... I'll replace it.

For the issued loop, however, I'm thinking a different way, keeping the occupancy in an extra small space (`std::bitset`) and counting it in the event loop. It should be a bit more costly than your suggestion, but it is flexible (e.g., when `h2SrcChamberOcc` plots are not available).

[2022-05-25 10:46] jpata commented on #38068
cc @cms-sw/pf-l2

[2022-05-25 10:46] jpata commented on #38068
type pf

[2022-05-25 10:52] jpata commented on #38068
Digging through the code, it looks like Maxime was the original author. I don't know if he's on github, but I shot him an email.

[2022-05-25 10:54] emiglior commented on #35519
Indeed the plan is to drop the special local reco for bricked pixels

The question is if removing the classes below is enough
    RecoLocalTracker/SiPixelClusterizer
       plugins/PixelThresholdClusterizerForBricked.h
       pluginsPixelThresholdClusterizerForBricked.cc
    RecoLocalTracker/SiPixelRecHits
        interface/PixelCPEGenericForBricked.h
        src/PixelCPEGenericForBricked.cc

or i

[2022-05-25 10:56] mmusich commented on #35519
@jpata @cms-sw/reconstruction-l2

can you give your opinion on https://github.com/cms-sw/cmssw/issues/35519#issuecomment-1137095662

[2022-05-25 11:07] jpata commented on #35519
The changes introduced in https://github.com/cms-sw/cmssw/pull/35441 that only support the bricked pixels and won't be tested/used/supported in the future should be removed.

Changes that were introduced in that PR that generally support code reuse in pixel local reco could stay.

[2022-05-25 11:23] juska commented on #38068
Isn't v1.DeltaPhi(v2) equivalent to abs(v1.Phi() - v2.Phi()) ?

[2022-05-25 11:43] perrotta commented on #38068
Not if phi1 is 359 degrees and phi2 is 1 degree (e.g.)

[2022-05-25 12:38] mmusich commented on #38068
I'd propose to make the PR and check the performance....

[2022-05-25 12:59] makortel commented on #38073
assign generators,reconstruction

[2022-05-25 13:00] cmsbuild commented on #38073
New categories assigned: generators,reconstruction

@jpata,@slava77,@mkirsano,@clacaputo,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-25 13:06] mmusich commented on #38068
here it is: https://github.com/cms-sw/cmssw/pull/38080

[2022-05-25 13:18] makortel commented on #37767
Seems that in the following IB, CMSSW_12_5_X_2022-05-24-2300, the workflow succeeded in all IB variants tested there, so at least the failure has become less frequent.

[2022-05-25 18:25] Dr15Jones opened #38089 "MVA xml file reading in createGBRForest is longest time in initializing PAT job"
Profiling workflow 11834.21 step 4 showed that `createGBRForest` was the largest contributor to the time it takes to startup the job.

[code]

In other cases ( #34908 ) this was solved by converting the xml files into ROOT files. It looks like it would be good to do the same for the Electron and Photon ID (?) cases as well.

[2022-05-25 18:25] Dr15Jones commented on #38089
assign reconstruction

[2022-05-25 18:25] cmsbuild commented on #38089
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-25 18:39] makortel commented on #38089
Does this issue have any overlap with #37867?

[2022-05-26 07:47] jpata commented on #37958
+reconstruction
- thanks Marco for taking care of it in https://github.com/cms-sw/cmssw/pull/37968

[2022-05-26 09:14] franzglessgen commented on #35519
@emiglior I can remove those classes. Did I understand correctly that this should wait until this PR is merged ? Let me know when I can go ahead with the removal.
@jpata so the additional functions that were implemented within already existing classes can stay right ?

[2022-05-26 09:50] jpata commented on #35519
I would say so, but I don't have an overview in front of me now, so you can exercise some judgement. My main point was that code that becomes unused and thus untested should be removed. Thanks for taking care of this!

[2022-05-26 10:38] cmsbuild commented on #38056
The cleanup has started for el8_aarch64_gcc10

[2022-05-26 10:38] cmsbuild commented on #38056
The cleanup has started for slc7_amd64_gcc10

[2022-05-26 10:38] cmsbuild commented on #38056
The cleanup has started for el8_amd64_gcc10

[2022-05-26 10:38] cmsbuild commented on #38056
The cleanup has started for el8_ppc64le_gcc10

[2022-05-26 10:38] #38056 closed

[2022-05-26 10:38] cmsbuild commented on #38056
The workspace for el8_aarch64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch2-el8_aarch64_gcc10/2074

[2022-05-26 10:38] cmsbuild commented on #38056
The workspace for el8_ppc64le_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch2-el8_ppc64le_gcc10/2076

[2022-05-26 10:38] cmsbuild commented on #38056
The workspace for el8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch2-el8_amd64_gcc10/2075

[2022-05-26 10:38] cmsbuild commented on #38056
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_4_patch2-slc7_amd64_gcc10/2077

[2022-05-26 11:00] emiglior commented on #35519
@franzglessgen yes, you have to wait that PR#38061 is merged

[2022-05-27 00:16] slava77 commented on #36966
I think that this one was addressed in #37418

while

is not addressed yet

[2022-05-27 02:11] #35013 closed

[2022-05-27 02:11] #29145 closed

[2022-05-27 10:32] menglu21 commented on #37512
Hi all, i had a test on [HIN-pPb816Spring16GS-00194](https://cms-pdmv.cern.ch/mcm/requests?prepid=HIN-pPb816Spring16GS-00194), i can reproduce the error, and i found after setting the nThreads explicitly the error is gone, i tried nThreads=1/4/8 and all work fine. I remember this could be set by manually in the past but now it seems not the case.
btw, i haven't checked what happened when using def

[2022-05-27 13:44] quark2 commented on #38044
I've PRed a fix on this issue (#38100). Could you guys have a look?

[2022-05-27 13:50] quark2 commented on #38044
Hi @fwyzard,

You're right, but I'm also considering an area where the digi occupancy histograms are unavailable, but the inactive channel plot should be there. The new update still keeps the information in the digi occupancy histograms, so it would not sound sensible. But in that case, I can just make one more plot to send the information, which is not realized yet but can be done super quickly.

[2022-05-28 08:52] fwyzard commented on #38044
Could you open a PR for `master`, to make it easier to review just the fix ?

[2022-05-28 09:57] perrotta commented on #38044
@fwyzard please have a look to https://github.com/cms-sw/cmssw/pull/38101

[2022-05-29 08:41] srimanob opened #38114 "Error message on PPSSimDiamond in SIM step"
Just see that when running standard Run-3 workflow (11634.0), I always get
[code]

The error message can be seen also in PR test, e.g.
https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-152966/25057/runTheMatrix-results/11634.0_TTbar_14TeV+2021+TTbar_14TeV_TuneCP5_GenSim+Digi+RecoNano+HARVESTNano+ALCA/step1_TTbar_14TeV+2021+TTbar_14TeV_TuneCP5_GenSim+Digi+RecoNano+HARVESTNano

[2022-05-29 08:41] cmsbuild commented on #38114
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-29 09:30] perrotta commented on #38114
assign simulation, geometry

[2022-05-29 09:30] perrotta commented on #38114
Error message issued from https://cmssdt.cern.ch/lxr/source/SimG4CMS/PPS/src/PPSDiamondSD.cc#0051

[2022-05-29 09:30] cmsbuild commented on #38114
New categories assigned: geometry,simulation

@cvuosalo,@mdhildreth,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-29 09:37] srimanob commented on #33012
https://github.com/cms-sw/cmssw/pull/38010 is merged.
However, I propose this ticket to keep opening until we have a clarification on how information is flown, i.e. Have L1 objects in RAW and pass to RECO.

[2022-05-29 10:53] missirol commented on #37598
Other occurrences of this issue in
[`CMSSW_12_5_X_2022-05-23-2300`](https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_5_X_2022-05-23-2300/el8_amd64_gcc10/HLT_Integration_HIon_MC.log)
[`CMSSW_12_5_X_2022-05-27-1100`](https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_5_X_2022-05-27-1100/el8_amd64_gcc10/HLT_Integration_HIon_MC.log)

[2022-05-29 17:38] civanch commented on #38114
@srimanob , thanks for this observation, I was sure it was fixed but it appears again.

[2022-05-30 09:35] #38068 closed

[2022-05-30 09:51] jpata commented on #38068
+reconstruction
- the physics bug was solved by https://github.com/cms-sw/cmssw/pull/38080
- this had no effect on computational performance as far as we saw

[2022-05-30 09:51] cmsbuild commented on #38068
This issue is fully signed and ready to be closed.

[2022-05-30 13:06] fwyzard opened #38120 "Implement a regular test emulating the online data taking steps"
Following some of the issues reported by HLT and Operations in the past weeks, it would be worthwhile to implement an online-like workflow covering at least the DAQ, HLT and online DQM aspects, and add it to the regular PR, IB and relval tests:
  - start from DAQ-like FED raw data (stored on EOS)
  - optional: run the L1 trigger uGT emulation to make a different L1T menu available
  - run a few HL

[2022-05-30 13:06] cmsbuild commented on #38120
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-30 13:08] fwyzard commented on #38120
assign daq, hlt, dqm

[2022-05-30 13:09] cmsbuild commented on #38120
New categories assigned: dqm,hlt,daq

@jfernan2,@ahmad3213,@micsucmed,@rvenditti,@missirol,@emanueleusai,@smorovic,@emeschi,@Martin-Grunewald,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-30 13:17] fwyzard commented on #38120
A preliminary list of components that would be necessary:
  - [ ] Run-3 collisions data on EOS, in FED raw data format
  - [ ] an HLT menu in "raw" format, as used online, with the DAQ source and output modules, and the ProtoBuf DQM histograms
  - [ ] the HLTd customisations applied to the HLT menu running online
  - [ ] a way to "merge" the output of a few HLT jobs running in parallel
  - [ ] the

[2022-05-30 14:11] Dominic-Stafford commented on #36646
Hi @smuzaffar. I agree this issue will probably keep occurring intermittently until we sort out the threads. Would it be possible to just test this workflow with only one thread? If not one thing I could do is change the `generateConcurrently` setting of the externalLHEProducer to false, so it never multithreads, but this would of course slow down production of the larger samples for gen validatio

[2022-05-30 14:36] jpata commented on #38073
cc @cms-sw/xpog-l2

[2022-05-30 14:57] fwyzard commented on #38120
No.

[2022-05-30 17:02] missirol opened #38125 "seemingly-random crash of one HLT test in IB"
IB `CMSSW_12_5_X_2022-05-29-0000` had a seemingly-random crash in one HLT job:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_5_X_2022-05-29-0000/el8_amd64_gcc10/HLT_Integration_GRun_MC_hlt.log

Similar tests in the same IB did not show this issue, and all HLT tests in the ensuing IB passed without problems.

This might be a transient problem, but I document it here in case i

[2022-05-30 17:02] cmsbuild commented on #38125
A new Issue was created by  @missirol Marino Missiroli.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-30 20:57] fabiocos opened #38127 "Crash in MkFit affecting PromptReco"
Two prompt reco jobs have been reported to crash in prompt reco (run 352493) , see https://cms-talk.web.cern.ch/t/seg-violation-on-reco-jobs-for-run-352493/11038 . The crash is happening in ```MkFitProducer:initialStepTrackCandidatesMkFitPreSplitting```,
with dump:

[code]

Running in debugger the crash is seen at https://github.com/cms-sw/cmssw/blob/master/RecoTracker/MkFitCMS/src/MkStdSeqs.cc#L1

[2022-05-30 20:57] cmsbuild commented on #38127
A new Issue was created by  @fabiocos Fabio Cossutti.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-31 01:43] makortel commented on #38125
assign core

[2022-05-31 01:44] cmsbuild commented on #38125
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-31 01:45] makortel commented on #38125
The destructor of the module in question uses `CUDAService`
https://github.com/cms-sw/cmssw/blob/01acc8f2b96803dd5a10c64476f18fb18eb2ce82/RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.cc#L119-L136

@Dr15Jones Do we guarantee availability of Services when EDModules are being destroyed? (I'd guess "yes" since the setup works in most cases) Could a service token be missing somew

[2022-05-31 01:47] makortel commented on #38127
assign reconstruction

[2022-05-31 01:47] cmsbuild commented on #38127
New categories assigned: reconstruction

@jpata,@slava77,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-31 06:00] missirol commented on #38125
FYI: @Martin-Grunewald

[2022-05-31 06:09] missirol commented on #38125
Let me add that this job is (in principle) running on CPU only, as we decided for now to force the HLT-Validation tests in IBs to only run on CPU (done [here](https://github.com/cms-sw/cmssw/blob/f0b2f0af21db5f0bf2caae921227d4143afd7049/HLTrigger/Configuration/scripts/hltIntegrationTests#L294)).

I would then expect `m_params.onGPU_` to be `False` in the module that's crashing. This would suggest

[2022-05-31 07:14] perrotta opened #38134 "Fatal exception in tau validation in wf 148.0"
The following crash shows up from time to time during the PR bot tests in step3 of wf 148.0 (strangely, I'm only noticing it in tests performed with the el8 architecture, see https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_12_5_X):
[code]

The crash follows a few other warning messages that are quite likely related:
[code]

[2022-05-31 07:14] cmsbuild commented on #38134
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-31 07:15] perrotta commented on #38134
assign dqm, generators
To the attention of @cms-sw/tau-pog-l2

[2022-05-31 07:15] cmsbuild commented on #38134
New categories assigned: dqm,generators

@jfernan2,@ahmad3213,@micsucmed,@mkirsano,@rvenditti,@emanueleusai,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-31 08:46] iarspider commented on #38134
Initially tracked in [#37169](https://github.com/cms-sw/cmssw/issues/37169), maybe we should close this one or that one?

[2022-05-31 08:48] iarspider opened #38138 "[GPU_X] RelVals failing with "Driver/library version mismatch""
Example of failing IB: [link](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_GPU_X_2022-05-30-2300/pyRelValMatrixLogs/run/136.885502_RunHLTPhy2018D+RunHLTPhy2018D+HLTDR2_2018+RECODR2_2018reHLT_Patatrack_PixelOnlyGPU+HARVEST2018_pixelTrackingOnly/step3_RunHLTPhy2018D+RunHLTPhy2018D+HLTDR2_2018+RECODR2_2018reHLT_Patatrack_PixelOnlyGPU+HARVEST2018_pixelTrackingOnly.log#/)

[c

[2022-05-31 08:49] iarspider commented on #38138
assign heterogeneous

[2022-05-31 08:50] cmsbuild commented on #38138
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-31 08:57] perrotta commented on #38134
Thank you @iarspider , indeed that is the same issue.
I did not spot it because I did not see "tau" in the title.
Let close this, then, and add tau-pog as observer in the other one, maybe they have some clue.

[2022-05-31 09:00] perrotta commented on #37169
Closing the similar issue https://github.com/cms-sw/cmssw/issues/38134

Maybe in @cms-sw/tau-pog-l2 they have some clue, or encountered it already somewhere during their developments...

[2022-05-31 10:40] mmusich commented on #38127
type tracking

[2022-05-31 10:59] fwyzard commented on #38138
Mhm, as far as I know newer version of the driver should always backwards compatible with older versions of the CUDA runtime.

Is there a way to log in interactively on the nodes to reproduce the issue ?

[2022-05-31 11:00] fwyzard commented on #38138
For example, the machine I'm working on has the same (apart from being RHEL 8):
[code]

[2022-05-31 11:53] fwyzard commented on #38138
Basic tests seem to work fine:
[code]

[2022-05-31 13:14] fwyzard commented on #38120
Yes, they are. The HLT menus under `HLTrigger/Configuration` are regularly updated to reflect what will be deployed at Point-5.

The EventBuilder code used to create streams is part of CMSSW, under `EventFilter/Utilities` and `IOPool/Streamer` (and possibly elsewhere).

Yes, that would be great.
I'll start from the DAQ side (thanks to Srecko from the pointers), add the HLT part, and once that is w

[2022-05-31 13:22] iarspider opened #38141 "[ASAN_X] heap-free-after-use in in std::_Sp_counted_base<(__gnu_cxx::_Lock_policy)2>::_M_release()"
Unit test `testGetPayloadData` in `CondCore/Utilities` is failing since at least `CMSSW_12_5_ASAN_X_2022-05-25-1100`:
[code]

[full log](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_ASAN_X_2022-05-30-1100/unitTestLogs/CondCore/Utilities#/)

[2022-05-31 13:23] iarspider commented on #38141
assign db

[2022-05-31 13:23] cmsbuild commented on #38141
New categories assigned: db

@ggovi,@francescobrivio,@malbouis,@tvami you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-05-31 13:29] Dr15Jones commented on #38125
Yes, Services are the last of the plugin objects to be destroyed in cmsRun.

[2022-05-31 13:44] Dr15Jones commented on #38125
OK, so weirdness about the traceback, the Schedule is being deleted in the constructor of the EventProcessor! That seems to indicate that we are having failure during job startup.

The constructor of the `EventProcessor` calls `EventProcessor::init` and inside `init` we setup the Services via a helper on the stack

https://github.com/cms-sw/cmssw/blob/b91aadff8ac0ca6b91db9f88ef98c108832f8c38/FWCor

[2022-05-31 13:49] iarspider opened #38143 "[UBSAN_X] Segmentation violation in cscdqm::StripClusterFinder::RefindMax"
WF 136.828 [failed](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/el8_amd64_gcc10/CMSSW_12_5_UBSAN_X_2022-05-30-1100/pyRelValMatrixLogs/run/136.828_RunHLTPhy2017F+RunHLTPhy2017F+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017/step3_RunHLTPhy2017F+RunHLTPhy2017F+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017.log#/7078):
[code]

[2022-05-31 13:49] iarspider commented on #38143
<details>
    <summary>Full stacktrace</summary>

[code]

</details>

[2022-05-31 13:50] iarspider commented on #38143
Assign dqm

[2022-05-31 14:06] makortel commented on #38125
I see the menu indeed has
[code]
but it has also
[code]
that are then used in a `SwitchProducer` (`hltPixelTracksGPU` transitively via `hltPixelTracksFromGPU`). This means that `hltPixelTracksGPU` module is constructed on every job, and normally when the job does not use a GPU, the `hltPixelTracksGPU` is destructed just before `beginJob`. But it is constructed+destructed on every job it is in.

[2022-05-31 14:06] Dr15Jones commented on #38125
Looking at the Service code, if one asks if a Service is available, but the Service system is not configured for that thread we throw the exception (since you are essentially asking for a Service at a time when the Framework is not allowing ANY to be used). This helps us catch cases where Services are being requested on threads that were not configured by the framework (which is a good thing).

As

[2022-05-31 15:06] jpata commented on #38127
@slava77 @leonardogiannini @osschar et al could you please take a look?
It was highlighted at the ORP today, as something urgent for tomorrow.

[2022-05-31 15:34] fabiocos commented on #38127
the only pathological event I found in ```/store/data/Run2022A/ZeroBias13/RAW/v1/000/352/493/00000/4e54b433-58cd-4240-853e-3a66292157dc.root``` is  ```352493:178138216```.

[2022-05-31 15:46] perrotta commented on #38127
urgent

[2022-05-31 16:37] slava77 commented on #38127
@fabiocos
is there a config available to navigate directly to the crashing event?

[2022-05-31 16:47] slava77 commented on #38127
I was looking at the logs in /afs/cern.ch/user/c/cmst0/public/PausedJobs/Run2022A/run352493/job_287976/tarball/job/WMTaskSpace/cmsRun1 and
/afs/cern.ch/user/c/cmst0/public/PausedJobs/Run2022A/run352493/job_285547/tarball/job/WMTaskSpace/cmsRun1

@cms-sw/core-l2 would it be possible to report the crashing event in the summary?
Currently we only get
[code]
It's nice that Fabio selected the problemat

[2022-05-31 18:22] osschar commented on #38127
I have reproduced the problem using @fabiocos setup / config. The crash is due to round-off errors in determining the bin extents of sorted seed container. This has already been fixed on master and in 12_4_x.

Backport is being prepared.

[2022-05-31 18:45] osschar commented on #38127
Addressed in #38151.

[2022-06-01 09:34] #38127 closed

[2022-06-01 10:14] qliphy opened #38163 "Build CMSSW_12_3_4_patch3"

[2022-06-01 10:15] qliphy commented on #38163
+1

[2022-06-01 10:15] cmsbuild commented on #38163
Queuing Jenkins build for the following architectures: el8_ppc64le_gcc10, el8_amd64_gcc10, slc7_amd64_gcc10, el8_aarch64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each a

[2022-06-01 10:16] cmsbuild commented on #38163
The build has started for el8_amd64_gcc10 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3528/console
CMSDIST Branch: [REL/CMSSW_12_3_4/el8_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_3_4/el8_amd64_gcc10), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)