[2022-02-17 10:22] perrotta commented on #36982
Thank you Shahzad. I think we can wait a few more hours. If they keep remaing stuck or giving errors, instead, we will upload/announce the release by this evening as well.

[2022-02-17 11:19] cmsbuild commented on #36982
The was an error for cs8_aarch64_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-cs8_aarch64_gcc11/3378

[2022-02-17 11:20] smuzaffar commented on #36982
py3-scipy packages hanged again for cs8_aarch64 ( though it worked fine tis time for slc7_aarch64), I am trying again for cs8_aarch64

[2022-02-17 13:27] cmsbuild commented on #36982
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-slc7_aarch64_gcc11/3376
Some t

[2022-02-17 13:55] qliphy commented on #36982
Thanks @smuzaffar     Then we wait a bit more just for slc7_ppc64le_gcc11.

[2022-02-17 14:09] dan131riley opened #36991 "heap-buffer-overflow HGVHistoProducerAlgo::tracksters_to_SimTracksters"
ASAN builds are reporting a heap-buffer-overflow in `HGVHistoProducerAlgo::tracksters_to_SimTracksters()`, probably from #36712

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc11/CMSSW_12_3_ASAN_X_2022-02-16-1100/pyRelValMatrixLogs/run/32234.0_TTbar_14TeV+2026D70+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D70+TTbar_14TeV_TuneCP

[2022-02-17 14:09] cmsbuild commented on #36991
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-17 14:12] makortel commented on #36991
assign dqm

[2022-02-17 14:12] makortel commented on #36991
FYI @cms-sw/hgcal-dpg-l2

[2022-02-17 14:12] cmsbuild commented on #36991
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-17 14:23] cmsbuild commented on #36982
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-slc7_aarch64_gcc11/3376

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-02-17 14:45] cmsbuild commented on #36982
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-slc7_ppc64le_gcc11/3377
Some t

[2022-02-17 14:54] pcanal commented on #36908
@dan131riley The problem https://github.com/cms-sw/cmssw/issues/36908#issuecomment-1040749111 is indeed different from the one addressed here.  The issue is 2-prong.  The file provided is "surpringly" missing (at least) one TStreamerInfo.  Namely it is missing the `TStreamerInfo` for Run3ScoutingParticle (v3).  In addition, with the code path use there is currently not `Warning` issued that instea

[2022-02-17 15:11] dan131riley opened #36993 "ibmminsky-3 cvmfs problem"
We're getting a lot of ppc IB failures of the form
[code]
The problem seems to be cvmfs corruption on ibmminsky-3 with a ROOT input file on cvmfs appearing to be empty--compare:
[code]
vs
[code]

[2022-02-17 15:11] cmsbuild commented on #36993
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-17 15:14] smuzaffar commented on #36993
this machine has cvmfs issue which are fixed now. Next set of tests should not have this problem.

[2022-02-17 15:17] qliphy commented on #36982
upload all

[2022-02-17 15:18] dan131riley commented on #36993
That file still looks bad, and seems to be inconsistently bad, sometimes it's full of NUL characters, and sometimes it's completely empty:
[code]

[2022-02-17 15:18] cmsbuild commented on #36982
Queing Jenkins upload for cs8_amd64_gcc10

[2022-02-17 15:18] cmsbuild commented on #36982
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-02-17 15:18] cmsbuild commented on #36982
Queing Jenkins upload for slc7_amd64_gcc11

[2022-02-17 15:20] cmsbuild commented on #36982
The upload has started for slc7_amd64_gcc10 in cmsbuild10.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2229/console

[2022-02-17 15:21] cmsbuild commented on #36982
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2227/console

[2022-02-17 15:21] smuzaffar commented on #36993
ah right, yes look like cvmfs cache is really corrupt. I a,m disabling this node in jenkins and ask openlab to fix the issue. Thanks for reporting

[2022-02-17 15:21] cmsbuild commented on #36982
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre5-cs8_amd64_gcc10/2226

[2022-02-17 15:22] cmsbuild commented on #36982
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre5-cs8_ppc64le_gcc11/2227

[2022-02-17 15:23] cmsbuild commented on #36982
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre5-slc7_ppc64le_gcc11/2231

[2022-02-17 15:23] cmsbuild commented on #36982
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre5-slc7_amd64_gcc11/2230

[2022-02-17 15:24] cmsbuild commented on #36982
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre5-slc7_aarch64_gcc11/2228

[2022-02-17 15:35] qliphy commented on #36982
release-notes

[2022-02-17 15:35] cmsbuild commented on #36982
Generating release notes since CMSSW_12_3_0_pre4.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-02-17 15:35] cmsbuild commented on #36982
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_3_0_pre5 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_0_pre4 can be found at:

https://github.com/cms-sw/cmssw/relea

[2022-02-17 15:44] cmsbuild commented on #36982
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre5-slc7_ppc64le_gcc11/3377

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-17 15:50] smuzaffar commented on #36993
cvmfs cache is wiped out on this node and it looks good now.

[2022-02-17 16:23] slava77 commented on #35798
I had another look at the origins of the remaining non-pos-def warnings, but the examples appeared to be of a similar kind that I noticed shortly after this issue was opened.

The `posDef()` checks in the `*TrajectoryError` cover only a simple check for the diagonal elements. So, the checks done in the `MkFitOutputConverter` are incomplete and some track states after a propagation begin to fail th

[2022-02-17 16:41] slava77 commented on #36282
Now that 136.889 is established as a good reference for run-3 prompt reco, it would be nice to update the profiling workflows in the IBs to include it.
Currently we are running 136.731 as can be seen e.g. in  [CMSSW_12_3_X_2022-02-16-1100 pp report](https://cmssdt.cern.ch/SDT/cgi-bin/igprof-navigator/CMSSW_12_3_X_2022-02-16-1100/slc7_amd64_gcc10/pp)

I created cms-sw/cms-bot#1712

[2022-02-17 16:45] slava77 commented on #36282
it may be useful to also make the resource piecharts, but it looks like the job/configuration injection there is different.
@gartung perhaps this can be discussed in the context of what should/could be monitored regularly.

[2022-02-17 18:22] gartung commented on #36282
The 136.731 workflow is only run for the IB Igprof job. It can be added to the profiling job without too much trouble.

[2022-02-17 18:47] jfernan2 commented on #36991
@lecriste @rovere  could you please have a look and try to provide a fix? Thanks in advance

[2022-02-17 21:17] #36806 closed

[2022-02-18 12:16] pcanal commented on #36908
The problems is resolved by the PR: https://github.com/root-project/root/pull/9927

[2022-02-18 14:17] jpata commented on #35374
@swagata87 I forgot about this in the mean time

looks like it's still disabled:
https://github.com/cms-sw/cmssw/blob/e7954c10be88467f956edb66149926366d9dbcbf/RecoParticleFlow/PFProducer/python/particleFlow_cff.py#L15

is this on the timeline for 12_3_X (last open March 8)?

[2022-02-18 14:33] jpata commented on #31158
Noting here for @cms-sw/pf-l2 that this still seems to be an issue:

http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_12_3_0_pre5/11834.21/step3/cpu_endjob/160

Can PFDisplacedVertexProducer perhaps be optimized, or is it justified in using something like 1.7% of the job runtime in Run3 (I don't know apriori).

also cc @laurenhay

[2022-02-18 18:18] cvuosalo commented on #31113
There are about 125 occurrences left. The configs in question would seem not to be used, since they would fail with the reference to the non-existent `Geometry_cff`. It would seem to be a low-priority task to fix unused configs.

[2022-02-18 18:50] makortel commented on #36938
Thanks for the feedback! It sounds to me like we could proceed to a prototype (without specific discussion in core sw meeting, unless anyone feels such would be useful)

[2022-02-18 23:31] cvuosalo commented on #26637
@fabiocos Do you want to address this issue now? Or do you need help with it?

[2022-02-19 09:51] jpata commented on #36727
I took the new version of igprof from 12_3_0_pre5 and tried to profile one of the broken profiles 12_2_0, but I still get a segfault

[code]

@gartung does libunwind need to be preloaded as well? or is there a better way to use a new igprof in the old cmssw environment? I did the following, which worked in the past for issue #33297.

https://github.com/jpata/cms-bot/blob/jp__CMSSW_12_3_0_pre5__wf3

[2022-02-19 14:38] cmsbuild commented on #36982
The cleanup has started for slc7_aarch64_gcc11

[2022-02-19 14:38] cmsbuild commented on #36982
The cleanup has started for slc7_amd64_gcc10

[2022-02-19 14:38] cmsbuild commented on #36982
The cleanup has started for cs8_ppc64le_gcc11

[2022-02-19 14:38] cmsbuild commented on #36982
The cleanup has started for cs8_amd64_gcc10

[2022-02-19 14:38] cmsbuild commented on #36982
The cleanup has started for slc7_amd64_gcc11

[2022-02-19 14:38] cmsbuild commented on #36982
The cleanup has started for slc7_ppc64le_gcc11

[2022-02-19 14:38] #36982 closed

[2022-02-19 14:38] cmsbuild commented on #36982
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre5-cs8_ppc64le_gcc11/1943

[2022-02-19 14:38] cmsbuild commented on #36982
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre5-slc7_amd64_gcc10/1945

[2022-02-19 14:38] cmsbuild commented on #36982
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre5-slc7_aarch64_gcc11/1944

[2022-02-19 14:38] cmsbuild commented on #36982
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre5-slc7_amd64_gcc11/1946

[2022-02-19 14:38] cmsbuild commented on #36982
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre5-slc7_ppc64le_gcc11/1947

[2022-02-19 14:38] cmsbuild commented on #36982
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre5-cs8_amd64_gcc10/1942

[2022-02-20 02:48] srimanob commented on #36837
Following up on the DT issue (from email discussion with @cms-sw/dt-dpg-l2), we first focus on simMuonDTDigis.

The DT detIDs have not been built properly in Phase2 DD4hep. We got a total of 2780 (Chamber+SL+Layer) instead of 3650. Looking at `Geometry/DTGeometryBuilder/src/[DTGeometryBuilderFromDD4hep.cc`, these lines
[code]
in https://github.com/cms-sw/cmssw/blob/master/Geometry/DTGeometryBuilde

[2022-02-20 10:02] swagata87 commented on #35374
Hi Joosep,

The overall plan has changed a bit since then.
The EtaExtendedElectrons are in the release now, but the MC samples that contain these electrons are not yet produced. They are going to be produced soon using 12_2_X release (0.5 B POG sample). Using those MC samples, we will retrain our energy regression and PF Egamma ID, including these high eta electrons. We can then allow these electr

[2022-02-20 12:35] slomeo commented on #36837
Hi @srimanob : For Run3 all the geometry checks made were all ok (i.e. DDD vs DD4HEP) so it is really stange the presence of this issue for Phase2. I'll try my best to perform a check: @ianna do you have any suggestions?

[2022-02-20 12:47] slomeo commented on #36837
Hi @srimanob can you please write the cmsDriver.py options to reproduce your step1-DD4hep.root ? I'd like to reproduce the issue starting from a GEN-SIM .root file.

[2022-02-20 12:52] srimanob commented on #36837
I pick it from the wf 39434.911, i.e.

`runTheMatrix.py --what upgrade -l 39434.0 --wm init`
or
`cmsDriver.py TTbar_14TeV_TuneCP5_cfi -s GEN,SIM -n 10 --conditions auto:phase2_realistic_T21 --beamspot HLLHC14TeV --datatier GEN-SIM --eventcontent FEVTDEBUG --geometry DD4hepExtended2026D88 --era Phase2C17I13M9 --procModifiers dd4hep --python TTbar_14TeV_TuneCP5_2026D88_GenSimHLBeamSpot14_DD4hep.py -

[2022-02-20 15:54] fwyzard opened #37004 "Add AMD ROCm as an external to CMSSW"
I would like to start considering adding AMD ROCm as an external to CMSSW: https://docs.amd.com/ .

So far there are few things to consider:
  - what version to choose ?
  - what components to include ?
  - use a prebuilt installation or built them from sources ?

### What version to choose ?

The latest version of ROCm if [5.0.1](https://docs.amd.com/category/ROCm_v5.0.1), which is a [very minor

[2022-02-20 15:54] fwyzard commented on #37004
assign core

[2022-02-20 15:54] fwyzard commented on #37004
assign heterogeneous

[2022-02-20 15:54] cmsbuild commented on #37004
New categories assigned: heterogeneous,core

@fwyzard,@Dr15Jones,@smuzaffar,@makortel,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-20 15:54] cmsbuild commented on #37004
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-20 16:11] fabiocos commented on #26637
@cvuosalo this needs to be done, but cannot be a top priority at least until May, see last MTD DPG news https://indico.cern.ch/event/1130532/contributions/4744590/attachments/2394021/4093050/News.pdf
Do you have a proposal ready?

[2022-02-20 20:06] smuzaffar commented on #36993
clsoing this issue as cvmfs cache was fixed for ibmminsky-3

[2022-02-20 20:06] #36993 closed

[2022-02-21 10:11] fwyzard commented on #37004
A couple of updates:
  - at least for CentOS 8 / RHEL 8, I've copied a full installation¹ of the latest ROCm versions to CVMFS under
      - `/cvmfs/patatrack.cern.ch/externals/x86_64/rhel8/amd/rocm-4.5.0/`
      - `/cvmfs/patatrack.cern.ch/externals/x86_64/rhel8/amd/rocm-4.5.2/`
      - `/cvmfs/patatrack.cern.ch/externals/x86_64/rhel8/amd/rocm-5.0.0/`
      - `/cvmfs/patatrack.cern.ch/externals/x

[2022-02-21 11:25] smuzaffar commented on #36908
Thanks @pcanal looks like your change https://github.com/root-project/root/pull/9927 has fixed ROOT626 issue. IB looks good, we have random root file [read error](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_ROOT626_X_2022-02-20-2300/pyRelValMatrixLogs/run/250206.18_ZMM_13UP18+ZMM_13UP18INPUT+DIGIPRMXUP18_PU25+RECOPRMXUP18_PU25_L1TMuDQM+HARVESTUP18_PU25_L1TMuDQM/step2_Z

[2022-02-21 14:01] gartung commented on #36727
You need to add the newer libunwind to LD_LIBRARY_PATH. One way to do this is to run
`.   /cvmfs/cms.cern.ch/slc7_amd64_gcc10/external/libunwind/1.6.2-8c56527dc769c5819da7bf38e126d531/etc/profile.d/init.sh`

[2022-02-21 14:03] gartung commented on #36727
Or use scram
`scram setup /cvmfs/cms.cern.ch/slc7_amd64_gcc10/cms/cmssw-tool-conf/52.0-904e6a6e16dcc9bdba60a5fd496e4237/tools/selected/libunwind.xml `

[2022-02-21 14:09] dan131riley commented on #36908
@smuzaffar the `Run3ScoutingParticle` streamer issue is not a show stopper, and very likely not unique to 6.26 anyway

[2022-02-21 14:50] dan131riley opened #37012 "heap-buffer-overflow in l1t::stage2::CaloLayer1Packer::makeHCalTPGs()"
We're getting heap-buffer-overflows in the ASAN builds for `l1t::stage2::CaloLayer1Packer::makeHCalTPGs()`, probably related to #36919

https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/raw/slc7_amd64_gcc11/CMSSW_12_3_ASAN_X_2022-02-18-1100/pyRelValMatrixLogs/run/39834.0_TTbar_14TeV+2026D89+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14+DigiTrigger+RecoGlobal+HARVESTGlobal/step2_TTbar_14TeV+2026D89+TTbar_14TeV

[2022-02-21 14:50] cmsbuild commented on #37012
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-21 14:53] makortel commented on #37012
assign l1

[2022-02-21 14:53] cmsbuild commented on #37012
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-21 15:02] makortel commented on #37004
Thanks Andrea for summarizing all these details. I agree 8.7 GB uncompressed/installed would be a very large addition to CMSSW. Out of curiosity, how much space does the CUDA installation within CMSSW take?

About

would this mean using the LLVM we want for ROCm, or the LLVM ROCm wants for us? I'm a bit concerned (possibly naively) how this model would scale for introducing a third thing that uses

[2022-02-21 15:56] kskovpen opened #37013 "ROOT issue in RECO-only workflows"
We are observing the following issue in one of the wf running in CMSSW_12_3_0_pre5: https://cms-unified.web.cern.ch/cms-unified/showlog/?search=CMSSW_12_3_0_pre5__fullsim_PU_2021_14TeV_RECOonly-TTbar_14TeV-00001

[a] Fatal Root Error: @SUB=TBufferFile::CheckByteCount
object of class vector read too many bytes: 29704 instead of 12296

This wf runs the RECO step on top of a dataset that was produced

[2022-02-21 15:56] cmsbuild commented on #37013
A new Issue was created by  @kskovpen .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-21 16:02] Dr15Jones commented on #37013
Giving more context to the failure
[code]

[2022-02-21 16:28] makortel commented on #37013
Adding @dan131riley and @pcanal since the problem appears to be the same as mentioned in https://github.com/cms-sw/cmssw/issues/36908#issuecomment-1040749111

[2022-02-21 16:28] cmsbuild commented on #37013
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-21 16:31] makortel commented on #37013
This detail implies that the condition is the same mentioned in https://github.com/cms-sw/cmssw/issues/36908#issuecomment-1043035696, i.e. the file was written with ROOT 6.22 (here it is being read with 6.24).

[2022-02-21 16:37] srimanob commented on #36837
My test PR on DD4hep for L1Track step https://github.com/cms-sw/cmssw/pull/37005
The local test shows that I can pass the issue in https://github.com/cms-sw/cmssw/issues/36837#issue-1118612361

[2022-02-21 17:30] makortel commented on #36908
#37013 confirms that the `Run3ScoutingParticle` streamer problem occurs also in 6.24.

[2022-02-21 17:31] tvami opened #37016 "Old L1T tags consumed in DQM modules"
This is the main CMSSW version of
https://github.com/cms-l1t-offline/cmssw/issues/958
now focusing on the DQM packages.

As of now the following packages were identified to use (very possibly) deprecated L1T records. The list might be updated in the future.

Possible Group | Module | Record | Removed Tag
-- | -- | -- | --
DQM/JetMET | METAnalyzer | L1GtTriggerMenuRcd | L1GtTriggerMenu_CRAFT09_hlt

[2022-02-21 17:31] tvami commented on #37016
assign dqm

[2022-02-21 17:32] cmsbuild commented on #37016
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-21 17:32] cmsbuild commented on #37016
A new Issue was created by  @tvami Tamas Vami.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-21 17:34] tvami commented on #37016
This PR https://github.com/cms-sw/cmssw/pull/36986 might be helpful in how to handle the situation (that was for a different record)

[2022-02-21 17:36] tvami commented on #37016
Hi @arossi83 @sroychow could you please have a look at why `SiStripMonitorCluster` is accessing the `L1GtStableParametersRcd`?

[2022-02-21 18:54] makortel opened #37017 "Crashes in mkfit::MkFinder::bkFitFitTracks()"
In CMSSW_12_3_X_2022-02-21-1100 several workflows crash in mkFit. I'm listing stack traces of only some below

136.817
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2022-02-21-1100/pyRelValMatrixLogs/run/136.817_RunDoubleEG2017E+RunDoubleEG2017E+HLTDR2_2017+RECODR2_2017reHLT_skimDoubleEG_Prompt+HARVEST2017_skimDoubleEG/step3_RunDoubleEG2017E+RunDoubleEG2017E+HLT

[2022-02-21 18:55] makortel commented on #37017
assign reconstruction

[2022-02-21 18:55] cmsbuild commented on #37017
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-21 18:55] cmsbuild commented on #37017
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-21 18:55] makortel commented on #37017
FYI @cms-sw/tracking-pog-l2 @osschar @slava77 @dan131riley

[2022-02-21 18:56] makortel commented on #37017
Here are two other workflows that I looked that (working around GitHub's apparent limit of 2^16 characters in one comment)

136.824
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2022-02-21-1100/pyRelValMatrixLogs/run/136.824_RunSinglePh2017E+RunSinglePh2017E+HLTDR2_2017+RECODR2_2017reHLT_skimSinglePh_Prompt+HARVEST2017_skimSinglePh/step3_RunSinglePh2017E+RunSing

[2022-02-21 18:57] makortel commented on #37017
Common theme in these 4 workflows appears to be the crash in `mkfit::MkFinder::bkFitFitTracks()`.

[2022-02-21 19:35] makortel opened #37018 "Assertion failure in TrackCollectionCloner::Producer::operator()"
In CMSSW_12_3_X_2022-02-21-1100 workflow 23234.9 step 3 fails with
[code]
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2022-02-21-1100/pyRelValMatrixLogs/run/23234.9_TTbar_14TeV+2026D49_vectorHits+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal/step3_TTbar_14TeV+2026D49_vectorHits+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger

[2022-02-21 19:35] makortel commented on #37018
assign reconstruction

[2022-02-21 19:35] makortel commented on #37018
FYI @cms-sw/tracking-pog-l2

[2022-02-21 19:35] cmsbuild commented on #37018
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-21 19:35] cmsbuild commented on #37018
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-21 19:36] makortel commented on #37018
I guess this was caused by #36793 (because I can't imagine how the mkFit PR could have caused it)

[2022-02-21 20:01] perrotta commented on #37018
@fabiocos

[2022-02-21 21:04] makortel commented on #37017
ASAN complains
[code]
(e.g. https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc11/CMSSW_12_3_ASAN_X_2022-02-21-1100/pyRelValMatrixLogs/run/136.78_RunHLTPhy2017B+RunHLTPhy2017B+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017/step3_RunHLTPhy2017B+RunHLTPhy2017B+HLTDR2_2017+RECODR2_2017reHLT_Prompt+HARVEST2017.log#/)

that may be related (or not).

[2022-02-21 22:13] slava77 commented on #37017
it seems to do with
https://github.com/cms-sw/cmssw/blob/a96a2c72916dbf8ff3dffbe9ff58e9767d90062c/RecoTracker/MkFitCore/src/Config.cc#L7-L14

`mkfit::ConfigWrapper::initializeForCMSSW` calls `PropagationConfig::set_as_default` from different `MkFitProducer` instances

[2022-02-21 23:04] fwyzard commented on #37004
Good point - naively I was assuming that the version of LLVM and clang coming with ROCm would be close to the latest upstream version - but looking at their repository it doesn't seem the case :-(

Better scratch this point, and try not to mix the compilers too much.

[2022-02-21 23:16] slava77 commented on #37017
the stack trace was
[code]

`print  *this` showed `m_prop_config = 0x0, m_iteration_params = 0x0,
  m_iteration_layer_config = 0x0, m_iteration_hit_mask = 0x0`

[2022-02-22 08:27] mmusich commented on #37016
@tvami
`SiStripMonitorCluster` is NOT accessing directly `L1GtStableParametersRcd` as a very quick search in DXR will demonstrate to you: https://cmssdt.cern.ch/dxr/CMSSW/search?q=L1GtStableParametersRcd&case=true.
On the other hand, `L1GtTriggerMenuRcd` does (since it's a dependent record on `L1GtStableParametersRcd`):

https://github.com/cms-sw/cmssw/blob/95eed0c02185c99501d2355a751357b0bb5db934

[2022-02-22 08:35] fwyzard commented on #37004
Here are all the packages from the ROCm 5.0.1 installation, along with their size and my guesstimate grouping:

group | package | size
-- | -- | --
core | comgr | 112456
core | hip-devel | 2588
core | hip-runtime-amd | 13040
core | hip-runtime-nvidia | 4
core | hsa-amd-aqlprofile | 388
core | hsa-rocr | 3040
core | hsa-rocr-devel | 512
core | hsakmt-roct-devel | 364
core | rocm-core | 20
core | ro

[2022-02-22 09:10] jpata commented on #35374
thanks for the clarifications. would you mind updating the title to reflect the new timeline (12_4_X)?

[2022-02-22 10:21] iarspider opened #37024 "[UBSAN] runtime error: member call on address ... which does not point to an object of type '_Result_base'"
Several unit tests in UBSAN failed to initialize ROOT (?). E.g, [Alignment/TrackerAlignment](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc11/CMSSW_12_3_UBSAN_X_2022-02-21-1100/unitTestLogs/Alignment/TrackerAlignment#/)
[code]

[2022-02-22 10:21] cmsbuild commented on #37024
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-22 10:41] mmusich commented on #37018
adding some more circumstantial evidence, the assertion crash doesn't happen at the first track nor at the first event processed in wf 23234.9, but rather in the second event.

adding:
[code]
one gets:

[code]

also the fact that the only wf affected concerns vector hits seems to be pointing to something done explicitly for that case.

[2022-02-22 11:27] thomreis opened #37025 "ECAL GPU validation DQM follow up actions after PR #36742"
In order to merge the ECAL GPU validation DQM PR #36742 a couple of tasks have been postponed to be done in follow up PRs.

- [x] Add 2D comparison histograms (https://github.com/cms-sw/cmssw/pull/36742#issuecomment-1022029553)
- [x] Add a matrix workflow that executes the ECAL GPU validation
- [x] Remove type from modifier configuration (https://github.com/cms-sw/cmssw/pull/36742#pullrequestrevie

[2022-02-22 11:38] smuzaffar opened #37026 "CXXMODULES IBs failed to build with boost 1.78"
@davidlange6 @vgvassilev  we moved to `boost 1.78`  but looks like it broke CXXMODULE IB. Looks like root/etc/cling.boost.modulemap needs updates for boost 1.78. This is the [error](https://cmssdt.cern.ch/SDT/jenkins-artifacts/build-any-ib/CMSSW_12_3_CXXMODULE_X_2022-02-21-2300/slc7_amd64_gcc10/124369/external/pcm_util/1.0-566df2c6c01ac0fb452a7aa16be4f837/log) we get

[code]

[2022-02-22 11:38] cmsbuild commented on #37026
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-22 12:24] davidlange6 commented on #37026
Yes. This was expected as we discussed. I didn't yet get a correct module map for the new boost

On Feb 22, 2022 12:39 PM, Malik Shahzad Muzaffar ***@***.***> wrote:

@davidlange6<https://github.com/davidlange6> @vgvassilev<https://github.com/vgvassilev> we moved to boost 1.78 but looks like it broke CXXMODULE IB. Looks like root/etc/cling.boost.modulemap needs updates for boost 1.78. This is the

[2022-02-22 12:54] smuzaffar commented on #36788
@cms-sw/reconstruction-l2 any update here?

[2022-02-22 13:17] fwyzard commented on #37004
For comparison, the CUDA 11.4.2 installation bundled with CMSSW takes 2.0 GB, and includes the linear algebra, FFT and random number libraries.

So the equivalent HIP/ROCm installation would be around 8.7 GB... I have no idea why the AMD version is so much larger.

[2022-02-22 13:22] clacaputo commented on #36788
Hi @smuzaffar , I'm looking at it

[2022-02-22 13:32] pmandrik opened #37029 "Zero HLT bits count in EventMessage"
As described at [0] the DQM clients with trigger preselection crashed during MWGR with following error:

[code]

The crashed line is in the /FWCore/Framework/src/EventSelector.cc [1] trigger selector. The reason for this is mismatch between number of HLT bits taken from /IOPool/Streamer/src/EventMessage.cc and trigger names available in the /IOPool/Streamer/src/InitMessage.cc. To be more precise,

[2022-02-22 13:38] dpiparo opened #37030 "[Power8/9 Physics Validation] Segfault on Power CPUs at tierdown time (TFile destructor)"
While trying out data relvals at Marconi100, we stumbled on what seems a segfault at teardown for basically all jobs reading from data files. TMVA is involved.

The reproducer:
- CMSSW 11_2_0
- Parameter set [here](https://cmsdoc.cern.ch/~spiga/danilopset.py)
- The output of CMSSW, including the input file [here](https://cmsdoc.cern.ch/~spiga/cmsRun1-stdout.log)
The stacktrace:
[code]

[2022-02-22 13:38] cmsbuild commented on #37030
A new Issue was created by  @dpiparo Danilo Piparo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-22 13:51] tvami commented on #37016
Hi @mmusich thanks a lot for looking into this. I see that https://github.com/cms-sw/cmssw/blob/master/DQM/SiStripMonitorClient/python/pset4GenericTriggerEventFlag_cfi.py doesnt have the stage2 boolean on true (and the default is false), so I guess that's the cause of the problem.

[2022-02-22 13:57] tvami commented on #37016
assign hlt

[2022-02-22 13:57] tvami commented on #37016
unassign dqm

[2022-02-22 13:57] cmsbuild commented on #37016
New categories assigned: hlt

@missirol,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-22 13:59] mmusich commented on #37016
right, probably one just needs to change here (and everywhere else that objected is used) the default for stage2 using the process modifier.

[2022-02-22 14:00] tvami commented on #37016
Hi @missirol can you make this modification that if the stage-2 era is used then
https://github.com/cms-sw/cmssw/blob/81ade48beaa46b6c62f174bb678ba44089d73c02/CommonTools/TriggerUtils/src/GenericTriggerEventFlag.cc#L102
is set to true? I think it's better to do this at the source here instead of each single module that's using this flag, do you agree?

[2022-02-22 14:18] missirol commented on #37016
Based on https://github.com/cms-sw/cmssw/pull/28592/files#r358835228 , my understanding is that the default value of `stage2` should be `false` as it already is in `GenericTriggerEventFlag`, so I don't see any change to be applied to the latter (other than eventually use `fillDescriptions`, but that's purely technical); the cpp class has to handle both cases, is configurable, and defaults to `stag

[2022-02-22 14:19] cmsbuild commented on #37024
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-22 14:20] makortel commented on #37025
assign dqm

[2022-02-22 14:21] cmsbuild commented on #37025
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-22 14:21] makortel commented on #37026
assign core

[2022-02-22 14:21] cmsbuild commented on #37026
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-22 14:26] Dr15Jones commented on #37030
@dpiparo given `terminate` was called, it looks to me like an exception was thrown while another exception was being propagated up the stack.

[2022-02-22 14:28] cmsbuild commented on #37029
New categories assigned: core,hlt,dqm

@jfernan2,@ahmad3213,@rvenditti,@missirol,@Dr15Jones,@smuzaffar,@emanueleusai,@makortel,@pbo0,@Martin-Grunewald,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-22 14:28] tvami commented on #37016
I was not suggesting to modify the cc code, I was suggesting to have a cff file that changes `stage2` to true if the stage2L1Trigger era is used, something like

[code]

Do you think that's a possible solution?

[2022-02-22 14:31] vgvassilev commented on #37024
I am unaware of such issues but that does not mean there are no such issues. Since when do you see these reports?

Unfortunately we don't have a lot of options even if that's a valid issue as the JIT ROOT uses was deprecated in recent versions of llvm. If that's a significant problem for CMSSW we can try to investigate further.

cc: @hahnjo, @Axel-Naumann, @lhames

[2022-02-22 14:31] makortel commented on #37030
assign core

[2022-02-22 14:31] cmsbuild commented on #37030
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-22 14:35] dan131riley commented on #37030
It starts with a bunch of write errors:
[code]
followed by ROOT getting into a bit of a mess doing global cleanups out of order:
[code]

[2022-02-22 14:49] missirol commented on #37016
Yes, sure. The problem is that I don't see a central `cfi` for the PSet of `GenericTriggerEventFlag`. One way would be to have that `cfi`, it would contain the proc-modifier call as you wrote, and all the client modules would clone from that. Instead, it looks like these modules are creating this PSet from "scratch". So to me, this still makes it a client problem (e.g. "assign dqm"). If you'd like

[2022-02-22 14:52] makortel commented on #37030
I'm not sure if the residual issue of crashing instead of clean shutdown is worth of further investigation (given that ROOT cleanup getting messed up is part of that).

[2022-02-22 15:09] smuzaffar commented on #36788
@clacaputo,  by the way by following change allowed the workflows to run but I am sure this might not a correct fix.
[code]

[2022-02-22 15:13] mmusich commented on #37016
@tvami
as far as I can tell one of the `GenericTriggerEventFlag` is already been taken care of here:

https://github.com/cms-sw/cmssw/blob/69c0b8342053669d51c832c0f5053a8e796a5a50/DQM/SiStripMonitorClient/python/SiStripSourceConfigTier0_cff.py#L71-L79

I guess one just needs to adjust the other ones...
How can one check if the dependency is lost after the changes?

[2022-02-22 15:19] tvami commented on #37016
Here is what we've been using
[code]
Sorry it's in 121X, the whole cleaning started back then...

[2022-02-22 15:31] silviodonato commented on #35668
Kind reminder that we still have this problem. A fix would be very useful to disentangle the GPU-CPU differences coming from the pixel local reco and from the pixel tracking

[2022-02-22 15:43] makortel commented on #37029
Is there a way to reproduce the file creation? It seems to me the problem is in the file itself (but I could be wrong here), and the change @smorovic mentioned could certainly play a role here.

[2022-02-22 15:46] smorovic commented on #37029
I will try to reproduce it with generated data (based on unit test in EventFilter/Utilities/test).

[2022-02-22 15:48] mmusich commented on #37016
OK.
I think this should solve:
[code]

I don't want to own a PR about it and have no time to test it, but @tvami or @panoskatsoulis feel free to check it if works for you

[2022-02-22 15:54] fwyzard commented on #37004
By the way, if we prefer to get some experience with ROCm _before_ adding the 3.3 GB or more of externals, we can add a set of thin SCRAM tool files that point to `/cvmfs/patatrack.cern.ch/externals/x86_64/rhel8/amd/rocm-5.0.1/` to the "available" ones, like we do for ICC and VTune ?

[2022-02-22 15:59] tvami commented on #37016
Thanks Marco, I can submit the PR

[2022-02-22 15:59] missirol commented on #37016
unassign hlt

[2022-02-22 15:59] tvami commented on #37016
assign dqm

[2022-02-22 15:59] cmsbuild commented on #37016
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-22 16:45] makortel commented on #37013
Just to note here, #35685 (or any other resolution of https://github.com/cms-sw/cmssw/issues/32219, that should come "soon") would break reading of existing Run 3 scouting data formats (by construction).

[2022-02-22 17:18] cvuosalo commented on #26637
@fabiocos Let us see when a developer becomes available to resolved this issue. It is not urgent.

[2022-02-22 17:23] smorovic commented on #37029
I could reproduce it. You can copy this directory: `/afs/cern.ch/user/s/smorovic/public/test_outputmodule`
and run with 12_2_1 environment:
[code]
when GlobalEvFOutputModule is replaced by the EvFOutputModule in `hlt_test.py`, there is no longer an exception, so it's confirmed that it is related to the new module.

[2022-02-22 18:01] smorovic commented on #37029
Issue is that hltsize_ is 2 here:
https://github.com/cms-sw/cmssw/blob/master/IOPool/Streamer/src/StreamerOutputModuleCommon.cc#L124

but is 0 here:
https://github.com/cms-sw/cmssw/blob/master/IOPool/Streamer/src/StreamerOutputModuleCommon.cc#L166

First happens during beginRun, the latter is on event processing.
I can see that constructor of 'StreamerOutputModuleCommon`, which initializes hltsize

[2022-02-22 18:23] tvami commented on #37016
Yes, seems like you are right @missirol
https://github.com/cms-sw/cmssw/pull/37033#issuecomment-1048084313

[2022-02-22 18:36] missirol commented on #37016
A quick workaround would be to add `stage2` to the `fillDescriptions` of those 2/3 HLT-DQM plugins (anyways, that's a DQM package, so not really up to me to comment).

[2022-02-22 18:48] makortel commented on #37029
I think I found the problem. The number of HLT bits is written into the InitMessage and EventMessage by `edm::StreamerOutputModuleCommon`. The number of the HLT bits is read in `edm::StreamerOutputModuleCommon::serializeRegistry()`
https://github.com/cms-sw/cmssw/blob/69c0b8342053669d51c832c0f5053a8e796a5a50/IOPool/Streamer/src/StreamerOutputModuleCommon.cc#L123-L124
and then used in `StreamerOutp

[2022-02-22 19:19] smorovic commented on #37029
There is also `outputModuleId_`, which depends `description().moduleLabel(),` from the module. It could be passed as a constructor parameter.

[2022-02-22 21:44] cvuosalo commented on #29750
Resolved by PR #37037.

[2022-02-22 21:44] cvuosalo commented on #29750
+1

[2022-02-22 21:48] Dr15Jones commented on #37029
I'm not sure when TriggerNameService is actually fully populated. Modules are being constructed while each Path is being made.

[2022-02-22 21:52] makortel commented on #37029
I was concerned of that too, but the Path names appear to be set in the constructor of `TriggerNameService` from configuration
https://github.com/cms-sw/cmssw/blob/0a95f98a9f01ae9b9bd5db784b1dd047a42c1704/FWCore/Framework/src/getAllTriggerNames.cc#L22-L24
https://github.com/cms-sw/cmssw/blob/0a95f98a9f01ae9b9bd5db784b1dd047a42c1704/FWCore/Framework/interface/TriggerNamesService.h#L55
https://githu

[2022-02-23 08:21] Axel-Naumann commented on #37024
That's during ROOT's startup, and our ASAN builds do not show this issue. Could this be due to a compiler bug, e.g. an ABI incompatibility with / without rtti? Where can I find this compiler (on cvmfs) so I can build ROOT myself and try to reproduce this?

[2022-02-23 08:53] haozturk commented on #34393
Hi folks, I spotted this issue in a few RAW data files in the production of AOD. What would you suggest in this case? For instance:
1. `/store/data/Run2018B/ParkingBPH3/RAW/v1/000/318/877/00000/46A79200-2E7B-E811-A6EC-02163E0176AF.root`
[code]
2. `/store/data/Run2018B/ParkingBPH2/RAW/v1/000/318/877/00000/46C862F9-207B-E811-901C-02163E0176AF.root`
[code]

[2022-02-23 09:18] smuzaffar commented on #37024
@Axel-Naumann , you can `source /cvmfs/cms.cern.ch/slc7_amd64_gcc11/external/gcc/11.2.1-f478fee2760dbd22aaabb4e3a8fe1640/etc/profile.d/init.sh` to use it

[2022-02-23 10:27] Sam-Harper commented on #36917
ping

any chance of this? Or should we continue with work arounds for machines without direct access to the internet?

[2022-02-23 13:56] #31760 closed

[2022-02-23 14:06] makortel commented on #31760
+1

[2022-02-23 14:06] cmsbuild commented on #31760
This issue is fully signed and ready to be closed.

[2022-02-23 15:12] Dr15Jones opened #37049 "Look at ROOT Sofia to handle ONNX"
ROOT Sofia parses ONNX and generates C++ code to do the evaluation. This might make some of our evaluations faster.

Example:
https://root.cern.ch/doc/master/TMVA__SOFIE__ONNX_8C.html

[2022-02-23 15:12] Dr15Jones commented on #37049
assign reconstruction

[2022-02-23 15:12] Dr15Jones commented on #37049
assign core

[2022-02-23 15:12] cmsbuild commented on #37049
New categories assigned: core,reconstruction

@slava77,@jpata,@Dr15Jones,@smuzaffar,@clacaputo,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-23 15:12] cmsbuild commented on #37049
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-23 15:59] makortel commented on #37018
assign upgrade

[2022-02-23 15:59] cmsbuild commented on #37018
New categories assigned: upgrade

@AdrianoDee,@srimanob you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-23 15:59] jpata commented on #37018
It is my understanding that vectorHits is an ongoing R&D effort and not yet converged.
How would the tracking POG (and others) feel about switching off that workflow (with the VectorHits modifier) from the IB test for the moment, and treating it as something to be addressed as part of those developments?

[2022-02-23 17:55] fwyzard commented on #37025
assign ecal-dpg

[2022-02-23 17:55] fwyzard commented on #37025
assign dqm

[2022-02-23 17:55] fwyzard commented on #37025
assign heterogeneous

[2022-02-23 17:55] cmsbuild commented on #37025
New categories assigned: heterogeneous,ecal-dpg

@fwyzard,@simonepigazzini,@makortel,@jainshilpi,@thomreis you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-23 19:07] makortel commented on #34393
@pcanal Is there an easy or straightforward way for me to check if these files suffer from the "older file that is not well clustered and TTreeCache is failing to properly predict which basket to read" issue too?

[2022-02-23 21:34] missirol commented on #34629
Just noting the HLT-Validation tests failing in [`CMSSW_12_1_X_2022-02-23-1100`](https://cmssdt.cern.ch/SDT/jenkins-artifacts/HLT-Validation/CMSSW_12_1_X_2022-02-23-1100/slc7_amd64_gcc900/HLT_Integration_HIon_MC.log):
[code]
The error comes from 1 trigger path, the same one as in the 1st message of this issue:
[code]

[2022-02-24 09:09] smuzaffar opened #37052 "Das client fails with interface conversion"
One unit tests https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2022-02-23-2300/unitTestLogs/PhysicsTools/Utilities#/1576-1576 is failing in all IBs and problem is `dasgoclient` which fails to run the following command
[code]

@vkuznet can you please look in to this?

[2022-02-24 09:10] cmsbuild commented on #37052
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-24 09:39] smorovic commented on #37029
HI @ahmad3213 ,
I am preparing a fix.
The unit test is not yet ready, but the code is; I will push it now so that we can get it released in time for craft.

[2022-02-24 10:20] smuzaffar commented on #36527
closing this issue as this has been fixed in new dasgoclient . We now have a new one https://github.com/cms-sw/cmssw/issues/37052

[2022-02-24 10:20] #36527 closed

[2022-02-24 13:54] vkuznet commented on #37052
The fix is here https://github.com/cms-sw/cmsdist/pull/7646

[2022-02-24 13:55] vkuznet commented on #37052
The issue pop-up due to change in DBS server we performed yesterday. The new DBS server does not provide aggregated records and as a consequence lumi values changed their data-type, i.e. from results from DBS no longer contains list of lumis but rather individual lumi numbers.

[2022-02-24 14:50] makortel commented on #37029
@smorovic Thanks for the PRs. Did I understand your comment https://github.com/cms-sw/cmssw/issues/37029#issuecomment-1049665178 correctly that you're also preparing a unit test for this case (for which a PR would be made later)?

[2022-02-24 15:16] smorovic commented on #37029
@makortel, yes, I will expand existing unit test, which tests the data-flow in HLT, to also run DQM streamer source on the data in the chain. This will come in another PR.

[2022-02-24 17:48] mmusich commented on #37018
Adding some more anedoctal evidence the track that triggers the assertion is the first one without any Inner Tracker hit:
[code]

[2022-02-24 18:13] #37016 closed

[2022-02-24 18:15] jfernan2 commented on #37016
+1
For the records

[2022-02-24 18:15] cmsbuild commented on #37016
This issue is fully signed and ready to be closed.

[2022-02-24 19:22] makortel commented on #29850
@smuzaffar The template scripts heavily assume being run in `$CMSSW_BASE/src/Package`. What would be the best way to craft a script testing these scripts? I'm thinking questions like
- Should I exploit the existing $CMSSW_BASE area (with `mkdir $CMSSW_BASE/src/SkeletonTestPackage` in the script)? But what to do in absence of developer area?
- I'd like to check that the script output compiles and p

[2022-02-25 00:34] #37029 closed

[2022-02-25 08:52] smuzaffar commented on #29850
@makortel I would suggest to do something like the following in the testing script
[code]

[2022-02-25 09:01] smuzaffar commented on #36915
@bockjoo , xrootd 5.4.0 is now available in CMSSW_12_3_DEVEL_X IBs. Can you please try that and let us know if that looks good?

[2022-02-25 10:00] smuzaffar commented on #37052
@vkuznet , I am afraid this DBS server side change is going to break all our IB. The https://github.com/cms-sw/cmssw/blob/master/Configuration/PyReleaseValidation/scripts/das-selected-lumis.py script is used by all IBs and cmssw release to select the lumi numbers. e.g. previously das query
[code]
was returning https://raw.githubusercontent.com/cms-sw/cms-sw.github.io/master/das_queries/8b/8b5f64ce

[2022-02-25 10:26] fwyzard opened #37067 "fillDescriptions() for DQMEDAnalyzer modules uses the EDProducer type"
While reviewing 36998 with @lwang046 we realised that adding a `fillDescriptions()` method to a `DQMEDAnalizer` results in a cfi file that uses the `cms.EDProducer` module type:
[code]
instead of
[code]

Note that currently a `DQMEDAnalyzer` is just an alias for a `cms.EDProducer`:
[`DQMServices/Core/python/DQMEDAnalyzer.py`](https://github.com/cms-sw/cmssw/blob/CMSSW_12_3_X/DQMServices/Core/pytho

[2022-02-25 10:27] fwyzard commented on #37067
assign core

[2022-02-25 10:27] fwyzard commented on #37067
assign dqm

[2022-02-25 10:27] cmsbuild commented on #37067
New categories assigned: core,dqm

@jfernan2,@ahmad3213,@rvenditti,@Dr15Jones,@smuzaffar,@emanueleusai,@makortel,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-25 10:27] cmsbuild commented on #37067
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-02-25 10:38] smuzaffar commented on #37052
@vkuznet , In new format , I see that for each file there are multiple records with just the lumi number changed [a]. What was the motivation behind this change. previously we have one entry per file with list of lumi numbers

[a]
[code]

[2022-02-25 11:32] jfernan2 commented on #37029
+1
For the records

[2022-02-25 11:36] missirol commented on #37029
+hlt

[2022-02-25 11:37] smuzaffar commented on #37052
@vkuznet , das queries like `lumi,file dataset=/HLTPhysics/Commissioning2021-v1/RAW run=346512`  which has only 3 files now returns 203KB data as compare to 4K with old das client.

[code]

[2022-02-25 11:51] jfernan2 commented on #37067
Thanks @fwyzard
I let core people to comment, in particular @Dr15Jones and @makortel  which are the real experts. Please if correct if I am wrong.

However, in my understanding this is correct, DQMEDAnalyzer being a EDProducer since the las modifications Marcel made in core DQM packages to be compliant with concurrent LS and other FW features. In another words, there is no real DQMEDAnalyzer class

[2022-02-25 12:47] vkuznet commented on #37052
@smuzaffar , we advertised all changes to DBS server up-front for two months. In short, the changes to DBS removed aggregation layer which contributed to instability of DBS itself. Instead, new DBS server just yield records from DB without any aggregation. We adjusted official DBSClient to handle aggregation on a client side. All details about new DBS server I presented on C&O meeting in early Jan

[2022-02-25 12:52] fwyzard commented on #37067
OK, @jfernan2 if you are fine with using `cms.EDProducer` in the auto-generated cfi files, then there are no issues to address.

[2022-02-25 13:04] smuzaffar commented on #37052
@vkuznet , problem is that `das-selected-lumis.py` is part of cmssw releases , so we can not deployed/included the new script in existsing cmssw releases.

We run hundreds of unique das queries for each IB during the IB validation tests ( see the `.query` files under https://github.com/cms-sw/cms-sw.github.io/tree/master/das_queries but I have no idea about the exact uses of these queries). In ord

[2022-02-25 13:05] smuzaffar commented on #37052
by the way all the suggestion you mentioned in https://github.com/cms-sw/cmssw/issues/37052#issuecomment-1050824158 we not going to fix existing cmssw releases.

[2022-02-25 13:29] smuzaffar commented on #37052
@vkuznet , I went through your slides https://indico.cern.ch/event/1096200/contributions/4611461/attachments/2356881/4022206/DBS_migration.pdf . As you mentioned `Clients can perform the aggregation if it is required`, so why not update `dasgoclient` and do the lumi aggregation to not break extsing cmssw releases and keep the `dasgoclient` result size in control?

[2022-02-25 13:42] vkuznet commented on #37052
@smuzaffar you touched few independent issues and I don't know why we did not communicate properly on that. To move forward and properly fix them I suggest to clarify independent issues:
- das instabilities, could you please clarify using concrete examples, queries, etc. what is that. Since DAS is a `mad in a middle` between different CMS service, the instabilities may come from different issues,

[2022-02-25 13:49] smuzaffar commented on #37052
@vkuznet , das client instabilities are not new, these are there since the start of das client (may be 8-10 years). In old days (pre dasgoclient era) it was due to das not returning results ( due to various reasons, network issue, service not reachable etc.). Now a days it is mostly due to failure of various services which das tries to communicate. In order to protect our IBs and PR tests against

[2022-02-25 13:50] smuzaffar commented on #37052
list of all queries for CMSSW are in https://github.com/cms-sw/cms-sw.github.io/tree/master/das_queries ( search for `.query` files)

[2022-02-25 14:12] vkuznet commented on #37052
@smuzaffar there are 3760 query files, and I need to know which one should be addressed first. My understanding that main failures coming from file,lumi queries where you need to aggregate results by lumi sections, is this correct? If so, I'll start with this query, provide aggregation within dasgoclient and we can move forward from there. How does it sound?

[2022-02-25 14:34] smuzaffar commented on #37052
All of these queries are run by cmssw IBs ( cmssw 5.3.X up to 12.3.X) and all of these are important otherwise IBs and PR tests will fail. I do not exactly know how many types of queries are there but I guess you can `cat */*.query`  and see the different types of searches cmssw does.

We need to fix the results so that existign cmssw release do not fail and to make sure that we not do not dump 50

[2022-02-25 14:47] makortel commented on #37029
+core

[2022-02-25 14:47] cmsbuild commented on #37029
This issue is fully signed and ready to be closed.

[2022-02-25 15:10] makortel commented on #37067
From the framework point of view in python every `DQMEDAnalyzer` is a `cms.EDProducer` (given the alias). This means that e.g. `edmConfigDump` shows them as `cms.EDProducer` as well. If the underlying module type is ever changed, the module type in the generated `cfi` files gets changed automatically as well. As long as the module definitions in the generated `cfi` files are used as-is or cloned f

[2022-02-25 15:11] bockjoo commented on #36915
@smuzaffar Will test it and let you know.

[2022-02-25 15:15] fwyzard commented on #37067
I don't remember... but HLT (currently) has very few DQM modules, and in case of any migrations we can find a way to fix them.

[2022-02-25 15:30] vkuznet commented on #37052
@smuzaffar I made first change to make file-lumis aggregation. Could you please try out this executable: `/afs/cern.ch/user/v/valya/public/dasgoclient/dasgoclient_amd64`. It only contains so far file-lumis aggregation and we should first decide on default behavior of dasgoclient. So far I run it as following:
[code]
So, it only produces 2 LFns with range of lumis. This is what das_queries/41/4100c

[2022-02-25 16:02] bockjoo commented on #36915
It fails the token authorization. It does not look it goes through the token at all:
-bash-4.2$ ( export BEARER_TOKEN=$BEARER_TOKEN ; unset X509_USER_PROXY ; cmsRun cmssw_cfg_token.py )
%MSG-w CondDBESSource:  (NoModuleName) 25-Feb-2022 16:57:17 CET pre-events
Plugin for Record PGeometricDetExtraRcd has not been found.
%MSG
25-Feb-2022 16:57:17 CET  Initiating request to open file root://cmsio2.rc

[2022-02-25 16:21] smuzaffar commented on #37052
@vkuznet , I tried your change but it still fails. Can you please change lumi format and make it consistent with old one
[code]
in old format, lumi is list of one element

[2022-02-25 16:23] smuzaffar commented on #37052
by the way https://cmssdt.cern.ch/jenkins/job/das-query is jenkins job which I run for caching das results and https://cmssdt.cern.ch/jenkins/job/das-query/4142/console used your new dasgoclient and it failed due to mismatch of lumi format

[2022-02-25 16:48] smuzaffar commented on #37052
@vkuznet , it failed again with error
[code]
see details https://cmssdt.cern.ch/jenkins/job/das-query/4146/console . Can you please also fix output for file which is also a list e.g.  `"file":[{"name": "" }]`

[2022-02-25 17:04] JanFSchulte commented on #37018
I have started to look into this now and can confirm that it only happens for tracks reconstructed by the pixelLess iteration that is added with the vectorHits modifier. Since the other tracking iterations are still using the vectorHits, the conclusion is that the hits themselves are fine and the issue is introduced in the code specific to the new iteration. IIRC the only piece of code that is uni

[2022-02-25 17:53] vkuznet commented on #37052
@smuzaffar , it already has file as list of dict type. And bus error most likely comes from expired proxy. Please run it manually on lxplus to confirm that. This is exactly what I do:
[code]

If I use `-json` output I do see:
[code]

[2022-02-25 17:55] smuzaffar commented on #37052
about `-aggFileLumis`, i think this should be default  so that ols release get the same results. I noticed that that if lumi is not queries but `-aggFileLumis` is set then dasgoclient fails

[code]

[2022-02-25 18:01] cvuosalo commented on #29750
@cms-sw/reconstruction-l2 This issue is now resolved by #37037. Could you please approve it so I can close it?

[2022-02-25 18:27] smuzaffar commented on #37052
@vkuznet , think look good now. I ran all the active queries and only two failed [a]. We need to make `-aggFileLumis` default but it should only work if `lumi` is search in the query (see my comment https://github.com/cms-sw/cmssw/issues/37052#issuecomment-1051069857). Also I noticed that `auto_cross_section` was float but now it is integer
[code]
is this a correct change?

[a]
[code]

[2022-02-25 18:33] vkuznet commented on #37052
Please check again the executable, now I added aggregation by default for file-lumis, so you can query it as usual:
[code]
and, new executable correctly returns file query output, see output of
[code]

[2022-02-25 18:34] smuzaffar commented on #37052
thanks, I am testing it now

[2022-02-25 18:36] vkuznet commented on #37052
let's do one issue at a time. Once we have file,lumis in place, then I can correct other deviations in data types.

[2022-02-25 18:57] smuzaffar commented on #37052
looks good, both lumi,file and file queries worked. Also ` das-selected-lumis.py` works too

[2022-02-25 18:59] vkuznet commented on #37052
Regarding auto_cross_section value. The new DBS server does not perform any data manipulation (as Python server did) and only stream data directly from ORACLE DB. Even though auto_cross_section is declared in ORACLE schema as flow, the ORACLE itself return 0 , eg.
[code]
This is why you get integer value instead of float in DAS output. I will not change anything in DBS server to correct this since

[2022-02-25 19:00] vkuznet commented on #37052
ok, I'm glad that new executable works. Please confirm how many queries (if any are failing). If all tests pass I will push my changes and create new dasgoclient release via PR.

[2022-02-25 19:10] smuzaffar commented on #37052
all active queries ( 2130 in total ) look good, please go ahead and push the changes

[2022-02-25 19:28] vkuznet commented on #37052
ok , I made new PR here https://github.com/cms-sw/cmsdist/pull/7650

[2022-02-25 19:30] vkuznet commented on #37052
But I also noticed that something has changed in build procedure as I no longer able to build dasgoclient using my version of build script:
[code]
where should I get `cmsos.file` ? and how should I adjust my build script for that. You can see my build script here /afs/cern.ch/user/v/valya/public/build.sh

[2022-02-25 19:52] smuzaffar commented on #37052
`cmsos.file` was removed from cmsdist. which cmsdist and pkgtools branches you are using?

[2022-02-25 20:02] vkuznet commented on #37052
The pkgtools is V00-30-XX and for cmsdist I use IB/CMSSW_12_3_X/master as starting point.

[2022-02-25 20:07] bockjoo commented on #36915
@smuzaffar I asked the xrootd-l if there is a way to check the reason.
But this xrootd 5.4.0 seems to be not woking.
Perhaps, try the latest release 5.4.1?

[2022-02-25 20:12] smuzaffar commented on #37052
you need pkgtools V00-34-XX

[2022-02-25 20:28] smuzaffar commented on #36915
@bockjoo , you mentioned that you were able to use 5.4 with TLS, how did you built it? Did you use any special flags? Currently we use https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_3_X/devel/xrootd.spec#L29 to build xrootd, let me know if I need to modify any build flags.

[2022-02-25 20:40] bockjoo commented on #36915
This is what I did to build it:
[ -d ~/bin ] || mkdir ~/bin
ln -s /usr/bin/cmake3 ~/bin/cmake
[ -d /opt/cms/services ] || mkdir -p /opt/cms/services
git clone https://github.com/xrootd/xrootd.git
mkdir -p /opt/cms/services/xroot_build
# USE CMSSW_12_3_0_pre4
source /cvmfs/cms.cern.ch/cmsset_default.sh
cd /cvmfs/cms.cern.ch/slc7_amd64_gcc10/cms/cmssw/CMSSW_12_3_0_pre4/src
eval `scram runtime -sh`
c

[2022-02-25 20:49] smuzaffar commented on #36915
humm, so you did not build with scitokens-cpp , so may be that is the reason. Anyway,  I am testing 5.4.1 here https://github.com/cms-sw/cmsdist/pull/7651

[2022-02-25 21:03] bockjoo commented on #36915
Yeah, I think there is some difference.

Here is the server log created by the client which can do the xrdcp with the token:
220225 15:35:49 26362 Xrd_Inet: Accepted connection on port 1094 from [34@cms.rc.ufl.edu](mailto:34@cms.rc.ufl.edu)
220225 15:35:49 26362 Xrd_ProtLoad: matched port 1094 protocol xroot
220225 15:35:49 26362 [anon.0:34@cms.rc.ufl.edu](mailto:anon.0:34@cms.rc.ufl.edu) Xrd_Poll

[2022-02-25 21:07] slava77 commented on #37017
should this issue be closed?

[2022-02-25 21:14] #37017 closed

[2022-02-26 02:36] qliphy opened #37073 "Build CMSSW_12_2_1_patch1"

[2022-02-26 02:37] qliphy commented on #37073
+1

[2022-02-26 02:37] cmsbuild commented on #37073
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_2_1_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_12_2_X

[2022-02-26 02:37] cmsbuild commented on #37073
Queuing Jenkins build for the following architectures: cc8_amd64_gcc9, slc7_aarch64_gcc9, slc7_ppc64le_gcc9, slc7_amd64_gcc900, slc7_amd64_gcc10
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I wi

[2022-02-26 02:48] bockjoo commented on #36915
I am sorry I was wrong.
I forgot that I set XrdSecPROTOCOL=gsi,unix which prevented the client from using the ztn protocol.
The IB build works fine.
So, this issue can be closed.
Thanks!

[2022-02-26 03:22] cmsbuild commented on #37073
The build has started for cc8_amd64_gcc9 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3381/console
CMSDIST Branch: [REL/CMSSW_12_2_1/cc8_amd64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_1/cc8_amd64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-02-26 03:24] cmsbuild commented on #37073
The build has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3382/console
CMSDIST Branch: [REL/CMSSW_12_2_1/slc7_amd64_gcc10](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_1/slc7_amd64_gcc10), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-02-26 03:26] cmsbuild commented on #37073
The build has started for slc7_amd64_gcc900 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3383/console
CMSDIST Branch: [REL/CMSSW_12_2_1/slc7_amd64_gcc900](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_1/slc7_amd64_gcc900), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-02-26 04:41] cmsbuild commented on #37073
The build has started for slc7_aarch64_gcc9 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3384/console
CMSDIST Branch: [REL/CMSSW_12_2_1/slc7_aarch64_gcc9](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_12_2_1/slc7_aarch64_gcc9), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-02-26 05:58] cmsbuild commented on #37073
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch1-slc7_amd64_gcc10/3382
Some tes

[2022-02-26 06:11] cmsbuild commented on #37073
The build has finished sucessfully for the architecture cc8_amd64_gcc9 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch1-cc8_amd64_gcc9/3381
Some tests (

[2022-02-26 06:44] cmsbuild commented on #37073
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch1-slc7_amd64_gcc10/3382

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-26 06:57] cmsbuild commented on #37073
The tests have finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch1-cc8_amd64_gcc9/3381

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-26 07:06] cmsbuild commented on #37073
The build has finished sucessfully for the architecture slc7_amd64_gcc900 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch1-slc7_amd64_gcc900/3383
Some t

[2022-02-26 07:19] qliphy opened #37074 "Build CMSSW_10_6_30_patch1"

[2022-02-26 07:21] cmsbuild commented on #37074
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_30_patch1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/CMSSW_10_6_X

[2022-02-26 07:22] cmsbuild commented on #37074
Queuing Jenkins build for the following architectures: slc7_amd64_gcc700, slc7_amd64_gcc820
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you are building cmssw-tool-conf first, I will wait for each architecture to finish to start the

[2022-02-26 07:23] cmsbuild commented on #37074
The build has started for slc7_amd64_gcc700 in cmsbuild75.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3385/console
CMSDIST Branch: [REL/CMSSW_10_6_30/slc7_amd64_gcc700](https://github.com/cms-sw/cmsdist/commits/REL/CMSSW_10_6_30/slc7_amd64_gcc700), PKGTOOLS Branch: [V00-33-XX](https://github.com/cms-sw/pkgtools/commits/V00-33-XX)

[2022-02-26 08:04] cmsbuild commented on #37074
The build has finished sucessfully for the architecture slc7_amd64_gcc820 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_30_patch1-slc7_amd64_gcc820/3386
Some

[2022-02-26 08:06] cmsbuild commented on #37073
The tests have finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_2_1_patch1-slc7_aarch64_gcc9/3384

Tests results:
42 41 40 30 18 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-02-26 08:07] cmsbuild commented on #37074
The build has finished sucessfully for the architecture slc7_amd64_gcc700 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_30_patch1-slc7_amd64_gcc700/3385
Some

[2022-02-26 08:48] cmsbuild commented on #37074
The tests have finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_10_6_30_patch1-slc7_amd64_gcc700/3385

Tests results:
35 34 33 25 12 2 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 failed

[2022-02-26 08:58] qliphy commented on #37074
upload all

[2022-02-26 08:58] cmsbuild commented on #37074
Queing Jenkins upload for slc7_amd64_gcc700

[2022-02-26 09:00] cmsbuild commented on #37074
The upload has successfully finished for slc7_amd64_gcc700
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_10_6_30_patch1-slc7_amd64_gcc700/2232

[2022-02-26 09:14] qliphy commented on #37074
release-notes

[2022-02-26 09:14] cmsbuild commented on #37074
Generating release notes since CMSSW_10_6_30.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-02-26 09:14] cmsbuild commented on #37074
You can use this template for announcing the release:

Hi all,

The production patch release CMSSW_10_6_30_patch1 is now available for the following architectures:

slc7_amd64_gcc700 (production)
slc7_amd64_gcc820

The release notes of what changed with respect to CMSSW_10_6_30 can be found at:

https://github.com/cms-sw/cmssw/releases/CMSSW_10_6_30_patch1

Cheers,
cms-bot

You can also click <a h

[2022-02-26 09:20] cmsbuild commented on #37074
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_10_6_30_patch1

[2022-02-26 14:44] qliphy commented on #37073
upload all

[2022-02-26 14:45] cmsbuild commented on #37073
Queing Jenkins upload for slc7_amd64_gcc900

[2022-02-26 14:45] cmsbuild commented on #37073
Queing Jenkins upload for slc7_aarch64_gcc9

[2022-02-26 14:45] cmsbuild commented on #37073
Queing Jenkins upload for cc8_amd64_gcc9

[2022-02-26 14:45] cmsbuild commented on #37073
Queing Jenkins upload for slc7_ppc64le_gcc9

[2022-02-26 14:45] cmsbuild commented on #37073
Queing Jenkins upload for slc7_amd64_gcc10

[2022-02-26 14:45] cmsbuild commented on #37073
The upload has started for slc7_aarch64_gcc9 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2235/console

[2022-02-26 14:46] cmsbuild commented on #37073
The upload has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2236/console

[2022-02-26 14:46] cmsbuild commented on #37073
The upload has started for slc7_amd64_gcc900 in cmsbuild76.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2237/console

[2022-02-26 14:46] cmsbuild commented on #37073
The upload has started for cc8_amd64_gcc9 in cmsbuild71.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2234/console

[2022-02-26 14:48] cmsbuild commented on #37073
The upload has successfully finished for slc7_aarch64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1_patch1-slc7_aarch64_gcc9/2235

[2022-02-26 14:50] cmsbuild commented on #37073
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1_patch1-slc7_amd64_gcc10/2236

[2022-02-26 14:53] cmsbuild commented on #37073
The upload has successfully finished for slc7_amd64_gcc900
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1_patch1-slc7_amd64_gcc900/2237

[2022-02-26 14:53] cmsbuild commented on #37073
The upload has successfully finished for cc8_amd64_gcc9
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_2_1_patch1-cc8_amd64_gcc9/2234

[2022-02-26 17:52] vkuznet commented on #37052
thanks, I confirm that with V00-34-XX I can build now again. I think we may close this ticket.

[2022-02-27 18:03] fabiocos commented on #36837
@srimanob the issue in itself looks closed now that the workflow can run through all steps without crashes. Residual warning/error messages seem to go beyond the scope of this issue, if meaningful results can be generally produced. Therefore once all the fixes are integrated, I would prefer to close this issue, and move possible further discussions about residual problems to some dedicated thread/

[2022-02-27 22:57] srimanob commented on #36837
Hi @fabiocos
I agree with you. When 3 PRs (https://github.com/cms-sw/cmssw/pull/37005, https://github.com/cms-sw/cmssw/pull/37078, https://github.com/cms-sw/cmssw/pull/37079) are merged, we can close this issue. I will open the new issue(s) to follow up on error/warning message of the workflow.

[2022-02-28 06:27] smuzaffar commented on #37052
This has been fixed via https://github.com/cms-sw/cmsdist/pull/7650  also there is now a unit tests to https://github.com/cms-sw/cmssw/pull/37072 check checks that  `das-selected-lumis.py` can properly parse dasgoclient

[2022-02-28 06:27] #37052 closed

[2022-02-28 06:28] smuzaffar commented on #36915
+core
xrootd 5.4.1 is now available in 12.3.X IBs.

[2022-02-28 06:28] #36915 closed

[2022-02-28 06:28] cmsbuild commented on #36915
This issue is fully signed and ready to be closed.

[2022-02-28 06:30] smuzaffar commented on #36908
@makortel , I think this issue has been resolved, should we close this now?

[2022-02-28 06:34] smuzaffar commented on #36804
@cms-sw/reconstruction-l2 , I think this has been resolved, can you please confirm?

[2022-02-28 08:13] jpata commented on #29750
+reconstruction

[2022-02-28 08:14] cmsbuild commented on #29750
This issue is fully signed and ready to be closed.

[2022-02-28 08:23] cmsbuild commented on #37074
The cleanup has started for slc7_amd64_gcc700

[2022-02-28 08:23] cmsbuild commented on #37074
The cleanup has started for slc7_amd64_gcc820

[2022-02-28 08:23] #37074 closed

[2022-02-28 08:23] cmsbuild commented on #37074
The workspace for slc7_amd64_gcc700 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_30_patch1-slc7_amd64_gcc700/1948

[2022-02-28 08:23] cmsbuild commented on #37074
The workspace for slc7_amd64_gcc820 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_10_6_30_patch1-slc7_amd64_gcc820/1949

[2022-02-28 08:41] silviodonato commented on #35376
Ganesh updated the study of the GPU vs GPU differences with the latest HLT menu and release:
https://docs.google.com/spreadsheets/d/1AsLsABXTWSCuMr3K7LRYZTeHXGgUzZ3IdgIma53XiVU/edit#gid=0

The most significant differences are in the tau and b-tagging paths (but also MET).
For some reason `HLT_DoubleMediumDeepTauIsoPFTauHPS35_L2NN_eta2p1_v1` is the only path with a very large difference

Here some

[2022-02-28 08:47] perrotta commented on #29750
as commented by the proponent of this github issue (@cvuosalo), who also signed this issue for "geometry": it think it can be closed, then

[2022-02-28 08:47] #29750 closed

[2022-02-28 08:52] clacaputo commented on #36804
+reconstruction

[2022-02-28 08:52] cmsbuild commented on #36804
This issue is fully signed and ready to be closed.

[2022-02-28 08:53] fwyzard commented on #35376
Are we sure that a **CPU** vs **CPU** reproducibility test would not show any discrepancy ?

[2022-02-28 08:55] mmusich commented on #36808
kind ping on this issue (to be closed).

[2022-02-28 09:10] silviodonato commented on #35376
no, but I can ask about this

[2022-02-28 09:20] #36804 closed

[2022-02-28 09:37] swagata87 commented on #36886
Now the issue is found and fixed :
![compare_Saturated_ZPrimeEE_Response_EcalOnly_Barrel](https://user-images.githubusercontent.com/5052706/155959451-bf21efbc-0388-4cbc-ac9a-e7d3f1cc3821.png)

Apart from GT update, a small change in CMSSW config file is also needed to fix the saturated regression problem. We will make the PR and GT update request soon.

[2022-02-28 09:39] VinInn commented on #35376
Can you please post the receipt for reproducing it?
Is it possible to identify culprit events?

[2022-02-28 13:37] tvami commented on #36886
Hi @swagata87 thanks, this is great! Shall I add you to the AlCaDB agenda for next Monday (March 7) to discuss this further?

[2022-02-28 14:04] makortel commented on #36908
+core

I agree, this issue can be closed.

[2022-02-28 14:05] cmsbuild commented on #36908
This issue is fully signed and ready to be closed.

[2022-02-28 14:08] #36908 closed

[2022-02-28 14:23] cmsbuild commented on #37073
The cleanup has started for slc7_aarch64_gcc9

[2022-02-28 14:23] cmsbuild commented on #37073
The cleanup has started for slc7_amd64_gcc900

[2022-02-28 14:23] cmsbuild commented on #37073
The cleanup has started for slc7_ppc64le_gcc9

[2022-02-28 14:23] cmsbuild commented on #37073
The cleanup has started for cc8_amd64_gcc9

[2022-02-28 14:23] cmsbuild commented on #37073
The cleanup has started for slc7_amd64_gcc10

[2022-02-28 14:23] #37073 closed

[2022-02-28 14:23] cmsbuild commented on #37073
The workspace for slc7_aarch64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1_patch1-slc7_aarch64_gcc9/1951

[2022-02-28 14:23] cmsbuild commented on #37073
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1_patch1-slc7_amd64_gcc10/1952

[2022-02-28 14:23] cmsbuild commented on #37073
The workspace for cc8_amd64_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1_patch1-cc8_amd64_gcc9/1950

[2022-02-28 14:23] cmsbuild commented on #37073
The workspace for slc7_ppc64le_gcc9 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1_patch1-slc7_ppc64le_gcc9/1954

[2022-02-28 14:23] cmsbuild commented on #37073
The workspace for slc7_amd64_gcc900 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_2_1_patch1-slc7_amd64_gcc900/1953

[2022-02-28 15:09] srimanob opened #37087 "Comparison of DDD and DD4hep in Phase-2 Worflow"
This issue is to follow up on difference, warning, error of DD4hep phase-2 workflows. Currently, the DD4hep can run on D88 (and other wfs. with M10). All remaining showstopper mentioned in https://github.com/cms-sw/cmssw/issues/36837 seems to be solved using 3 PRs (https://github.com/cms-sw/cmssw/pull/37005, https://github.com/cms-sw/cmssw/pull/37078, https://github.com/cms-sw/cmssw/pull/37079)

S

[2022-02-28 15:11] srimanob commented on #36837
I've opened the issue https://github.com/cms-sw/cmssw/issues/37087 to collect issues/problems in DDD-DD4hep Phase-2 validation.

[2022-02-28 15:20] makortel commented on #37087
assign geometry,upgrade

[2022-02-28 15:20] cmsbuild commented on #37087
New categories assigned: geometry,upgrade

@cvuosalo,@mdhildreth,@AdrianoDee,@ianna,@Dr15Jones,@srimanob,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-02-28 17:47] mmusich commented on #37018
indeed excluding `pixelLess` with this ugly patch

[code]

makes 23234.9 step 3 run to completion (of course defying the whole purpose of VH)

[2022-02-28 20:40] swagata87 commented on #36886
You can add it in agenda, but most probably Saumya will be the speaker (will confirm later).
So I was preparing the PR for master (12_3_X).
I understand that we have missed the deadline for 12_2_X, so a backport to 12_2_X is not possible anymore, as the MC production has started. Is that correct? Or do we still have time to get this into 12_2_X?

[2022-02-28 21:00] tvami commented on #36886
I added you to the agenda: https://indico.cern.ch/event/1134353/#21-egm-saturated-regression-fo

Yes, the MC production has started, thus there is no point in a backport unfortunately.

[2022-02-28 21:58] smuzaffar commented on #12840
@makortel , should we close this issue then?

[2022-02-28 23:42] cvuosalo commented on #31069
Note the correct way to run the script is:
[code]
Running `runP_Tracker.py` with `cmsRun` causes the exception seen by @jfernan2.

[2022-02-28 23:43] cvuosalo commented on #31069
This issue is resolved by #37095.

[2022-03-01 06:17] srimanob commented on #31840
Can this issue close? @cms-sw/l1-l2

[2022-03-01 06:27] smuzaffar opened #37096 "[ASAN] Failure in mkfit"
Hi,
  In ASAN IBs, many workflow are failing. ASAN complains about ( when build with `USSR_CXXFLAGS=-g`)
[code]

[2022-03-01 06:28] smuzaffar commented on #37096
assign reconstructions

[2022-03-01 06:28] cmsbuild commented on #37096
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-01 06:31] cmsbuild commented on #37096
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-01 08:44] jfernan2 commented on #31069
Thanks @cvuosalo

[2022-03-01 08:44] jfernan2 commented on #31069
+1

[2022-03-01 08:53] francescobrivio commented on #36886
Thanks @swagata87!

Has the PR been made already? Is it needed to consume the new saturated regression conditions?

[2022-03-01 09:08] swagata87 commented on #36886
The PR is not made yet,
some final sanity checks are running, if all goes fine I am planning to make the PR in a few hours.
The PR and the GT update needs to go together in a release, because w/o the PR, the GT update will not give meaningful results. So yes, the PR is needed to properly consume the regression conditions.

[2022-03-01 09:11] francescobrivio commented on #36886
Ok great! thanks for the explanation! keep us informed on the developments then!

[2022-03-01 09:22] iarspider opened #37097 "[G4VecGeom_X] Multiple relvals failed with "Stuck track""
Several RelVals ([160.0](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_G4VECGEOM_X_2022-02-28-2300/pyRelValMatrixLogs/run/160.0_Hydjet2Q_MinBias_5020GeV_2018_ppReco+Hydjet2Q_MinBias_5020GeV_2018_ppReco+DIGIHI2018PPRECO+RECOHI2018PPRECOMB+ALCARECOHI2018PPRECO+HARVESTHI2018PPRECO/step1_Hydjet2Q_MinBias_5020GeV_2018_ppReco+Hydjet2Q_MinBias_5020GeV_2018_ppReco+DIGIHI2018PPRE

[2022-03-01 09:23] cmsbuild commented on #37097
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-01 10:29] iarspider commented on #37096
@smuzaffar https://github.com/cms-sw/cmssw/issues/37017#issuecomment-1047226674

[2022-03-01 10:32] smuzaffar commented on #37096
right but ASAN issue is still open , so we need a fix for it.

[2022-03-01 10:40] srimanob commented on #20558
Somehow, this issue was missing on my to-do list.

Testing with PAT step using 100 ttbar events of PU200 from RelVals 12_3_0_pre5. In general, time/event increase by 0.4 sec. Note that, the test use 1 core job.

Disable:
[code]

Enable:
[code]
and time report
[code]

Should we do something else (e.g. igprof -pp) to benchmark this? I don't know at which level we will say it is good enough. It seems

[2022-03-01 13:14] silviodonato commented on #35376
Ok, I asked Ganesh to send me the ROOT files with the trigger results and then I will make a skim of the culprit events.

Btw. A fix of #35668 would be very useful to understand if the differences comes from the pixel local reco or from the pixel tracking.

[2022-03-01 13:29] Dr15Jones commented on #37097
Assign simulation

[2022-03-01 13:30] cmsbuild commented on #37097
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-01 13:50] slava77 commented on #37096
@osschar
please clarify on the status/progress of the fix.
Thank you.

[2022-03-01 13:57] cvuosalo commented on #31069
+1

[2022-03-01 13:58] cmsbuild commented on #31069
This issue is fully signed and ready to be closed.

[2022-03-01 13:58] cvuosalo commented on #31069
This issue has been resolved. It can be closed.

[2022-03-01 14:26] tvami commented on #36886
I understand that the PR will touch on the `reco` signature, so let me alert @cms-sw/reconstruction-l2 so they are aware of the urgency of this coming PR

[2022-03-01 15:18] srimanob commented on #20558
Hi @kpedro88
I enable it before measuring. That is the result under "Enable".

[2022-03-01 15:27] mkirsano commented on #36662
assign simulation

[2022-03-01 15:27] cmsbuild commented on #36662
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-01 15:28] kpedro88 commented on #20558
Ah, sorry, I missed that.

I guess we probably don't still have 200PU relvals from 9_3_X to make sure it's an apples-to-apples comparison, but the current performance you report looks reasonable.

[2022-03-01 15:38] makortel commented on #12840
I guess it would be unlikely for us to return to this topic because of this issue, so let's close it.

[2022-03-01 15:53] mkirsano commented on #36662
I solved the problem with library structure, preparing PR to add external

[2022-03-01 16:16] osschar commented on #37096
i'll work on it today.

[2022-03-01 16:16] jpata commented on #37018
@JanFSchulte @cms-sw/tracking-pog-l2 note that according to the discussion at the ORP today, this is blocking for the upcoming release next week.
Will a fix be possible by that timescale?

The other options are to revert the MTD TrackExtender PR, or to disable the vectorhits workflow to be addressed in a follow-up.

[2022-03-01 16:26] mmusich commented on #37018
why is that? Is that a technical shortcoming of the infrastructure or just policy.

 neither of the two seem wise IMHO.

[2022-03-01 16:29] mkirsano commented on #36662
PR cmsdist #7655

[2022-03-01 16:44] perrotta commented on #37018
@mmusich this issue is crashing wf 23234.9 in the IB.
I agree that we could also live with it for a while, but we'd prefer closing the release with all monitored workflows clean, at least from crashes.

[2022-03-01 19:10] #31069 closed

[2022-03-01 21:35] cvuosalo commented on #31197
Code improvements since this issue was created have eliminated the crash. Now, an attempt to use an undefined solid results in an exception rather than a crash, as shown by tests with CMSSW_12_3_X_2022-03-01-1100. This issue is resolved.

[2022-03-01 21:35] cvuosalo commented on #31197
+1

[2022-03-01 21:35] #31197 closed

[2022-03-01 21:35] cmsbuild commented on #31197
This issue is fully signed and ready to be closed.

[2022-03-01 22:28] makortel commented on #37013
As a workaround. dropping the offending product on input, i.e. adding `--inputCommands="keep *,drop Run3ScoutingParticles_hltScoutingPFPacker__HLT"` to the `cmsDriver.py` recipe in the description, allows the job to run. It's not a very good solution though as the product in question will be lost, so it would be good for us to understand what caused the problem.

Regarding https://github.com/cms-s

[2022-03-01 23:45] cvuosalo commented on #31198
This issue is resolved by PR #37112.

[2022-03-02 02:11] makortel commented on #35578
@igv4321 Any news?

[2022-03-02 03:30] slava77 opened #37113 "too many different non-versioned layouts for `pair<MuonTrackType,Ref<vector<Track>`"
Something similar was already reported in 11_3_0_pre3 https://mattermost.web.cern.ch/cms-o-and-c/pl/dzqcc5poriy5zx5igm9bjr7npw

Here is a report mentioned in Feb 28 TRK POG meeting, in a simpler setup using interactive prompt:
(I tired in CMSSW_12_3_X_2022-02-28-1100 and in a bit older CMSSW_12_3_0_pre1)
[code]

leads to warnings
first, right after the file open
[code]
then a bit later
[code]

in

[2022-03-02 03:31] cmsbuild commented on #37113
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-02 03:31] slava77 commented on #37113
@mmusich

[2022-03-02 10:24] jfernan2 commented on #37016
@iatakisi @ramankhurana  @physicist87 @bobaekim @pallabidas could you please advice in the issue above?
Thanks

[2022-03-02 11:08] igv4321 commented on #35578
Dear Matti,

Sorry for being really slow about fixing these. I should be
able to take care of these modules over the spring break
(by March 20).

Regards,
Igor

On 3/1/22 20:11, Matti Kortelainen wrote:

[2022-03-02 11:41] ramankhurana commented on #37016
Thanks for notice, but I am not responsible for this anymore (from last 4 years).

[2022-03-02 12:36] Dr15Jones commented on #37113
@pcanal

[2022-03-02 15:22] srimanob commented on #20558
It's a bit complicated to run 9_3 RAW on 9_4, so I make 100 events of ttbar D17 PU200 in 9_4 and measure. Here is the result:

Disable (default):
[code]

Enable:
[code]

[code]

It seems a lot. However if we look on top-20 time module in each event, we see clearly that there is a very heavy event, and very few heavy events.

[code]

Compare to what I see in 12_3_0_pre5 [(comments),](https://github

[2022-03-02 16:45] cvuosalo commented on #31198
+1

[2022-03-02 16:45] cmsbuild commented on #31198
This issue is fully signed and ready to be closed.

[2022-03-02 17:55] pcanal commented on #37113
I thought I fixed the issue:
[code]
which should also (likely) have fixed the too-many version issue.   Which commit of ROOT are we using here?

[2022-03-02 18:24] slava77 commented on #37113
in my test it was , according to
https://github.com/cms-sw/cmsdist/blob/ALL/CMSSW_12_3_X_2022-02-28-1100/slc7_amd64_gcc10/root.spec

https://github.com/cms-sw/root/tree/11009abdb2a84fb354cea142c16bf27963053db6
from cms/v6-24-00-patches/292e441

[2022-03-02 19:41] makortel commented on #37113
Using the same methodology for the other two releases mentioned in the issue description (@smuzaffar, is this the best way to figure out the exact version of a spec file that used in a release after the fact?)

CMSSW_12_3_0_pre1 has https://github.com/cms-sw/root/tree/5b76eded10db8060c87698bc6f34be4a72eca938 from cms/v6-22-00-patches/18c440c

CMSSW_11_3_0_pre3 has https://github.com/cms-sw/root/tr

[2022-03-02 20:17] makortel commented on #37013
@kskovpen Out of curiosity, I noticed the example job in the description had `--nStreams 2 --nThreads 8`. Was 2 streams with 8 threads intentional?

[2022-03-02 20:52] smuzaffar commented on #37113
@makortel , yes currently this is the easiest way to find the external specs. . For release one should use `REL/CMSSW_VERSION/SCRAM_ARCH` tag and for IBs `REL/CMSSW_VERSION/SCRAM_ARCH` tag of cmsdist should be used

[2022-03-03 01:10] makortel commented on #29850
Thanks @smuzaffar! I followed your suggestion in https://github.com/cms-sw/cmssw/pull/37125, and at least in local tests it seems to work fine.

[2022-03-03 02:32] qliphy opened #37126 "edmPickEvents.py error in IB unit test"
Appearing in CMSSW_12_3_X_2022-03-02-1100
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_3_X_2022-03-02-1100/unitTestLogs/PhysicsTools/Utilities#/1579-1579

===== Test "test_edmPickEvents" ====
+ edmPickEvents.py /Cosmics/Run2011A-v1/RAW 160960:277:10001082,160960:277:10001058,160960:277:10001650
Traceback (most recent call last):
  File "/cvmfs/cms-ib.cern.ch/nweek-02722/s

[2022-03-03 02:32] cmsbuild commented on #37126
A new Issue was created by  @qliphy Qiang Li.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-03 02:34] qliphy commented on #37126
I could reproduce it locally.   It seems to be related to #37106 and #37109  @smuzaffar

The interesting thing is:

CMSSW_12_3_X_2022-03-01-2300  is ok
CMSSW_12_3_X_2022-03-01-2300 + either #37106 or #37109   is ok
CMSSW_12_3_X_2022-03-01-2300 + both #37106 and #37109   is not

[2022-03-03 06:20] perrotta commented on #37126
assign core

[2022-03-03 06:20] cmsbuild commented on #37126
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-03 06:57] smuzaffar commented on #37126
@vkuznet , can you please check why `dasgoclient  -query 'file dataset=/Cosmics/Run2011A-v1/RAW run=160960 lumi=277' -json` now takes so much time (over 5 mins) and it results something like
[code]

[2022-03-03 07:12] smuzaffar commented on #37126
@qliphy , I do not think its is related to cmssw changes. Looks like one of the services, `dasgoclient` talk to, does not return valid response.

@vkuznet , I do not think that it is related to new dasgoclient (https://github.com/cms-sw/cmsdist/pull/7653 ) . I get the same result with old client too. Note that sometime it works and sometime it fails
[code]

[2022-03-03 11:14] kskovpen commented on #37013
Hi @makortel , many thanks for looking into this issue. There is indeed no specific reason to run the RECO step with 2 streams and 8 threads. It somehow was inherited from PU relval wfs in e.g. the DIGI step where such configuration is used when producing validation samples. This is most likely not optimal.

[2022-03-03 14:06] fwyzard opened #37129 "Update CUDA to version 11.6.1"
CUDA 11.6.1 drivers fix the bug reported in #35713.
We should update to this version, after verifying if there is any impact on the programs' performance.

[2022-03-03 14:06] fwyzard commented on #37129
assign heterogeneous

[2022-03-03 14:06] cmsbuild commented on #37129
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-03 15:38] Dr15Jones opened #37131 "Getting line numbers in UBSAN"
The UBSAN logs are not showing line numbers in the tracebacks. I tried doing
[code]

and rebuilding. That does pass the correct flags to the builds but I still am not seeing line numbers. Any suggestions?

[2022-03-03 15:38] Dr15Jones commented on #37131
assign core

[2022-03-03 15:38] cmsbuild commented on #37131
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-03 15:38] Dr15Jones commented on #37131
@smuzaffar thoughts?

[2022-03-03 15:43] smuzaffar commented on #37131
`setenv USER_CXXFLAGS '-O0 -g'` works for ASAN so, I guess it would work for UBSAN too. Did you `git cms-addpkg` the cmssw package before running `scram build`? Note that setting `setenv USER_CXXFLAGS '-O0 -g'` is not going to rebuild if you already have build, you need `scram build clean`

[2022-03-03 16:01] Dr15Jones commented on #37131
I can also see that it is picking up my libraries as the libraries full file name (including its path) shows it comes from my work area.

[2022-03-03 16:04] Dr15Jones commented on #37131
Another item of note, the line numbers do appear for the FWCore libraries, but do not seem to appear for any of the dynamically loaded plugins.

[2022-03-03 16:17] smuzaffar commented on #37131
looking at https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc11/CMSSW_12_3_UBSAN_X_2022-03-02-1100/pyRelValMatrixLogs/run/136.887_RunDoubleMuon2018D+RunDoubleMuon2018D+HLTDR2_2018+RECODR2_2018reHLT_Prompt+HARVEST2018_Prompt/step3_RunDoubleMuon2018D+RunDoubleMuon2018D+HLTDR2_2018+RECODR2_2018reHLT_Prompt+HARVEST2018_Prompt.log#/ , I see that it did print out line number for `IOPool/TFileAd

[2022-03-03 17:07] fabiocos commented on #36837
@srimanob since all the PR listed above have been merged, I consider this issue as solved.

[2022-03-03 17:07] #36837 closed

[2022-03-03 18:27] battibass commented on #36012
@srimanob : I don't know if this is still relevant, but, in case, I note down my recalls and opinion here:

When I was dealing with MUO POG activities directly, I recall that the decision was intentional, in order to avoid making Phase-2 high-pT analysis results overly optimistic. But we are talking about the Technical Proposal / Scope Document days.

After that, plenty of studies were performed,

[2022-03-03 18:27] battibass commented on #36012
Of course, apologies for getting to this so late.

[2022-03-03 18:49] Dr15Jones commented on #37131
If I use `addr2line` I am able to find out the line numbers given the address and the shared library, e.g.
[code]

So the info is there but the UBSAN dump isn't showing it for some reason.

[2022-03-03 19:28] Dr15Jones opened #37136 "[UBSAN] MkFinder is assigning `nullptr` to a reference"
Workflow 10004.0 for the UBSAN IB reports
[code]

[2022-03-03 19:28] cmsbuild commented on #37136
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-03 19:38] Dr15Jones commented on #37136
Doing a local debug build and then using `addr2line` to get the actual line numbers for the function addresses I get
[code]

which is
https://github.com/cms-sw/cmssw/blob/772910aeac89026866ae4c7a7246e33f49a8e300/RecoTracker/MkFitCore/src/MkFinder.cc#L1144

and, indeed, if I add
[code]

on the line before that, the assertion fails.

[2022-03-03 19:38] Dr15Jones commented on #37136
assign reconstruction

[2022-03-03 19:38] cmsbuild commented on #37136
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-03 19:40] silviodonato commented on #35376
I investigated a bit why `HLT_DoubleMediumDeepTauIsoPFTauHPS35_L2NN_eta2p1_v1` had such large differences and I noticed that they come from the L2NN cut (ie. the preliminary tau-tagging done using the pixel tracks).

I made an HLT path cutting only the L2NN and then I see even larger GPU-GPU fluctuations (~30%).
You can easily reproduce this by using
[code]

Using the `-v 1` option you can see whi

[2022-03-03 19:51] silviodonato commented on #35376
I made a quick check with a Run3 RelVal
[code]
getting
[code]

[2022-03-03 20:01] makortel commented on #37136
FYI @osschar @slava77 @cms-sw/tracking-pog-l2

[2022-03-03 20:21] slava77 commented on #37136
wf 10004.0 is a SingleGammaPt10. I guess there are events with zero hits.

[2022-03-03 20:32] Dr15Jones commented on #37136
Related reports from UBSAN are
[code]

[2022-03-04 08:13] smuzaffar commented on #37126
@vkuznet , can you please check this ? dasy query `dasgoclient -query 'file dataset=/Cosmics/Run2011A-v1/RAW run=160960 lumi=277' -json` sometime fails with [this](https://github.com/cms-sw/cmssw/issues/37126#issuecomment-1057743775) strange error

[2022-03-04 09:21] VinInn commented on #35376
I suppose this NN was trained on some old version of Puxel Tracks (quadruplets)
Maybe would be worth retraining,,,  (and apply some selection to the input)

v.

[2022-03-04 09:43] fwyzard commented on #35376
Is the NN sensitive to the *order* of the tracks ?

[2022-03-04 10:19] jpata opened #37140 "pfGhostTrackVertexTagInfos deprecated?"
It was noticed in https://github.com/cms-sw/cmssw/pull/37088 that pfGhostTrackVertexTagInfos are not really monitored and don't seem to be used.
Perhaps they can be removed from the sequences to save some time.

[2022-03-04 10:19] jpata commented on #37140
assign reconstruction

[2022-03-04 10:20] cmsbuild commented on #37140
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-04 10:20] cmsbuild commented on #37140
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-04 10:20] jpata commented on #37140
cc @cms-sw/btv-pog-l2 @emilbols

[2022-03-04 10:57] emilbols commented on #37140
In case he has time @ferencek, is properly the most likely to remember what this is. It seems to have been introduced in this PR
https://github.com/cms-sw/cmssw/pull/14390

[2022-03-04 11:43] valeriadamante commented on #35376
Hello,

The training has been done on triplets, not on quadruplets, and the NN should not be sensitive to the order of the tracks: the patatrack-related inputs are sum of kinematic observables normalised to the Pt sum, and the total number of tracks in the specific cell as specified  [here](https://docs.google.com/presentation/d/1xWDhoe7AKO2sYYE-DxFVAhLBspAJX-IgM8xp5zDQCx8/edit?usp=sharing) in Sli

[2022-03-04 11:46] silviodonato commented on #35376
I asked Valeria to comment here about the tau L2NN. I think that the training was done with Triplets. No idea about the order of tracks.

Meanwhile I tried to store the objects using `keep *` (in `CMSSW_12_3_X_2022-03-03-1100`), and I see no Vertex/Track inside (even if the edmEventSize says that they are stored)

[code]

I tried again running with no filters (`--open`) and using directly `--outpu

[2022-03-04 11:53] ferencek commented on #37140
@emilbols, this dates back to the period when the b-tagging code was being migrated from the track-based to the candidate-based inputs. The migration was consistently done for all the existing taggers but already at the time as far as I can remember the ghost tracks-based algorithms were not really actively used. So it seems justified to remove the code from the running sequences.

[2022-03-04 12:50] VinInn commented on #35376
I think it would be useful to look into the events identified by Silvio and try to indentify what makes the NN to produce a different output for the same event when run multiple times

v.

[2022-03-04 13:49] vkuznet commented on #37126
@smuzaffar the issue is reported here https://its.cern.ch/jira/browse/CMSKUBERNETES-114 and our current understanding is that it is related to slowness on k8s infrastructure. As such the query you point out has 3K blocks, all of these queries run concurrently. Somehow, on cmsweb part of queries (2/3) runs normal within 300ms range, while other takes minutes. This cause DAS to choke since eventuall

[2022-03-04 14:08] fwyzard commented on #37129
Here is a comparison of the performance of the CUDA versions from 11.2.0 to 11.6.1, measured using the `cudadev` application of the [pixeltrack-standalone](https://github.com/cms-patatrack/pixeltrack-standalone/) project, running on an NVIDIA Tesla T4 on an AMD EPYC 7543 32-core processor.

![image](https://user-images.githubusercontent.com/4069793/156778046-2e688dbd-4022-4ea5-bfde-4a09cadc1832.pn

[2022-03-04 14:09] fwyzard commented on #37129
Updating from CUDA 11.4.x to 11.5.x should give a small performance gain, while the update to 11.6.x seems to come with a small performance drop.

[2022-03-04 14:47] vkuznet commented on #37126
@smuzaffar we just hosted a meeting and I hope understood and fix a problem in k8s. It was related to DNS cache. Could you please try again running tests. I tried this query now and it runs fine.

[2022-03-04 15:09] vkuznet commented on #37126
hmm, here is what I get on lxplus:
[code]
Can you run it on lxplus?

[2022-03-04 15:23] smuzaffar commented on #37126
yes, I am running on lxplus and have run multiple times. I tried again on lxplus755 ( where you ran) and yes it is faster (30+sec) on lxplus755
[code]

but on lxplus722 (and lxplus791) and  it is still slow and still randomly fails
[code]

can you try on  lxplus722 and/or lxplus791?

[2022-03-04 16:31] mkirsano commented on #36662
PR to include hepmc3 merged

[2022-03-04 16:38] mkirsano commented on #36662
I found that it is impossible to include both pythia8 - HepMC2 and pythia8 - HepMC3 converters in the same code.
To have a possibility to switch I will have to create another plugin: Pythia8HepMC3Hadroniser

[2022-03-04 17:22] muhammadimranfarooqi commented on #37126
Hi,

I setup dasgoclient in my private VM and it was also taking a large time. Then I enabled local DNS cache and the query finished very quickly.

[2022-03-04 18:00] smuzaffar commented on #37126
@muhammadimranfarooqi , I am afraid this is not a solution for us. Many system where we run tests are not under our contorl

[2022-03-04 18:20] civanch commented on #36662
@mkirsano , have make a survey of all places inside CMSSW, which require change? Likely it will be the same situation - new alternative code will be required.

[2022-03-04 18:23] vkuznet commented on #37126
@smuzaffar , the good part is that we now know the reason, it is DNS. It looks like DBS server now can server lots of concurrent requests and we need to adjust clients to use local DNS cache. I'm working on it now. Please be patient with us, the issue is brand new and we're working around the clock to find a proper solution.

[2022-03-04 19:23] makortel commented on #35376
Reading `std::vector<Track>` leading to

is strange. There should be no dependence on `CUDADataFormats` from `DataFormats`.

[2022-03-04 20:17] slava77 commented on #37113
I tried the same test in the interactive root as in the PR description in more variants and observed the same symptoms
- CMSSW_12_3_ROOT626_X_2022-02-28-2300, which is https://github.com/cms-sw/root/tree/cms/v6-26-00-patches/252cf52 or https://github.com/cms-sw/root/tree/a70499faadd8e9b70889b46c114b819d0a51d295
- CMSSW_12_3_ROOT6_X_2022-02-28-2300, which is https://github.com/cms-sw/root/tree/cms/

[2022-03-04 21:23] pcanal commented on #37113
@slava77 or @smuzaffar Could you copy the ROOT files in place accessible from cmsdev34?

[2022-03-04 21:30] slava77 commented on #37113
the files are on eos at CERN, but in case it helps, I made a copy at cmsdev34:/build/slava77/RawReference/MinimumBias8/Commissioning2021-900GeVnomkFit_FEVT-v1/RECO

[2022-03-04 21:49] pcanal commented on #37113
It did help.  I can not reproduce the problem.  Thanks.

[2022-03-05 00:07] tvami commented on #32085
+1
I think this issue is gone, right @mrodozov ?
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_ppc64le_gcc11/CMSSW_12_3_X_2022-03-03-2300/unitTestLogs/Alignment/OfflineValidation#/

[2022-03-05 00:07] cmsbuild commented on #32085
This issue is fully signed and ready to be closed.

[2022-03-05 09:47] smuzaffar commented on #32085
correct, frontier client  was patched to fix this issue

[2022-03-05 09:47] #32085 closed

[2022-03-06 04:24] srimanob opened #37150 "No compression defined in SKIM output"
It seems skim outputs does not have compression by default. This includes
- output module which clones from AOD (e.g. EXOMONOPOLE)
- new defined output module (e.g. BPHSkim)

`cmsDriver.py step3 --conditions auto:run2_data -s RAW2DIGI,L1Reco,RECO,SKIM:EXOMONOPOLE+BPHSkim,PAT --datatier AOD,MINIAOD --eventcontent AOD,MINIAOD --data --process reRECO --scenario pp --era Run2_2018 --customise Configur

[2022-03-06 04:24] cmsbuild commented on #37150
A new Issue was created by  @srimanob Phat Srimanobhas.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-07 01:00] AdrianoDee commented on #37018
This seems to be originated from the fact that the `PixelLess` iteration is the only one (for Phase2) for which (since https://github.com/cms-sw/cmssw/pull/36793) we don't store the Trajectory in the event. Then when we do the merge with the `TrackListMerger`, all the tracks that have been selected by the merger are stored. On the other hand, we store only the trajectories from collections which h

[2022-03-07 07:53] mmusich commented on #37018
@AdrianoDee

thanks for this. Indeed this escaped my attention.
I've opened #37154 to test the commit.
I guess @fabiocos didn't bother to add those lines in that file, because `PixelLess` is not run in the Phase-2 setup, excepted when the `vectorHits` modifier is active.

[2022-03-07 07:58] jordan-martins opened #37155 "add of the --procModifiers option for 9_4_X release"
Dear all,

We need to produce some FastSim preLegacy MC for SUSY on 9_4_X in which includes a procModifier that fixes BSM particles simulation (--procModifiers fastSimFixLongLivedBug). Nevertheless, this option is not available on the 9_4_X release as one can check in here: https://github.com/cms-sw/cmssw/blob/CMSSW_9_4_X/Configuration/Applications/python/Options.py . Ideally, after checking with

[2022-03-07 07:58] cmsbuild commented on #37155
A new Issue was created by  @jordan-martins Jordan Martins.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-07 09:19] perrotta opened #37157 "HLT menu does not map correctly in PAT when negated filters are present"
After the integration of the HLT menu development for 12_3_X (as coded in PR #37152) several warning messages from `PATTriggerObjectStandAloneSlimmer` suggest that the slimmer cannot handle the cases where a tilde is added in front of a filter, in order to negate its boolean outcome, in any of the HLT paths.

The message reported in the step3 logs of the workflows run by bot while testing the PR i

[2022-03-07 09:19] cmsbuild commented on #37157
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-07 09:20] Martin-Grunewald commented on #36938
Any news on this?

[2022-03-07 09:21] perrotta commented on #37157
assign hlt,xpog

[2022-03-07 09:21] cmsbuild commented on #37157
New categories assigned: hlt,xpog

@mariadalfonso,@gouskos,@missirol,@fgolf,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-07 09:40] Martin-Grunewald commented on #37157
Who is currently maintaining the PAT trigger code? I believe the developer Volker Adler did so in the past, originated it,  but it seems he has left CMS years ago, and there has not been any development since then (apart of technical changes).

[2022-03-07 10:14] mkirsano commented on #36662
No, this concerns only generator -> HepMC conversion. In other codes, such as analysis, using "if" can be sufficient.

[2022-03-07 10:17] mkirsano commented on #36662
This is a preliminary list of packages concerned. In addition, there is a class HepMCCandidate, but it seems to be internal in CMSSW (does not depend on hepmc)
[listhepmc.txt](https://github.com/cms-sw/cmssw/files/8196794/listhepmc.txt)

[2022-03-07 10:22] smuzaffar commented on #36662
@mkirsano , note that many externals are build using `hepmc` (https://github.com/cms-sw/cmsdist/search?q=hepmc ) including `pythia8` . so if you use `pythia8` then you automatically get `hepmc`.

[2022-03-07 10:39] fabiocos commented on #37018
@mmusich @AdrianoDee in my PR I focussed only on the collections that appeared to be needed for the ```generalTracks``` used by the ```TrackExtenderWithMTD```, so if there is more than this which is needed I definitely missed it

[2022-03-07 11:23] francescobrivio commented on #25090
@makortel following the discussion in https://github.com/cms-sw/cmssw/pull/37071 concerning the `DQM/BeamMonitor` migration, there are a few cases where `DQMOneLumiEDAnalyzer<>` is still used (see for example https://github.com/cms-sw/cmssw/blob/master/DQM/BeamMonitor/plugins/BeamSpotProblemMonitor.h#L26), and this blocks concurrent lumis AFAIU.
Since I'm about to migrate the other plugins in that

[2022-03-07 11:41] jpata commented on #37140
thx Dinko. @emilbols, let us know if BTV will be able to follow up on the cleaning.

[2022-03-07 12:18] srimanob commented on #37155
Should you just go with customization, i.e.
process.fastSimProducer.fixLongLivedBug = cms.bool(True) ?

[2022-03-07 13:47] fwyzard commented on #36311
Implemented in https://github.com/cms-sw/cmssw/pull/37159

[2022-03-07 13:47] fwyzard commented on #36311
+heterogeneous

[2022-03-07 13:47] fwyzard commented on #35370
implemented in https://github.com/cms-sw/cmssw/pull/37159

[2022-03-07 13:47] fwyzard commented on #35370
+heterogeneous

[2022-03-07 14:02] jordan-martins commented on #37155
Hi @srimanob,
yeah, I do agree. Nevertheless, I am trying to let this as homogenous as possible with respect to the other configurations. If this is too convoluted to backport, we shall go this way.

Thanks,
Jordan

[2022-03-07 14:05] makortel commented on #37155
assign operations, fastsim

[2022-03-07 14:05] cmsbuild commented on #37155
New categories assigned: operations,fastsim

@sbein,@fabiocos,@ssekmen,@mdhildreth,@qliphy,@davidlange6,@lveldere,@perrotta,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-07 14:05] makortel commented on #37155
Why core? `Configuration/Applications` is under @cms-sw/operations-l2.

[2022-03-07 14:08] srimanob commented on #37155
Sure, Sorry.

[2022-03-07 14:45] fwyzard commented on #36311
-heterogeneous

[2022-03-07 14:51] makortel commented on #37150
Actually the default behavior of `PoolOutputModule` is to compress with ZLIB-9 (and there is no way to disable compression). Changing the default to ZSTD-4 was agreed in core software meeting two weeks ago (PR to be done soon) because it seems to be better than ZLIB-9 in all (tested) cases (like here).

I don't know the history, but I'd guess the default compression was deemed good enough for skim

[2022-03-07 14:51] makortel commented on #37150
assign core, pdmv

[2022-03-07 14:51] cmsbuild commented on #37150
New categories assigned: core,pdmv

@bbilin,@wajidalikhan,@jordan-martins,@Dr15Jones,@smuzaffar,@makortel,@kskovpen you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-07 15:17] srimanob commented on #37150
As I see on the skims I use, they are on tape also, e.g.
https://cmsweb.cern.ch/das/request?instance=prod/global&input=site+dataset%3D%2FMET%2FRun2016G-EXOMONOPOLE-21Feb2020_UL2016-v1%2FUSER

[2022-03-07 15:21] VinInn commented on #36311
@thomreis
a possible solution is to declare/define the constexpr in a namespace instead of the class scope
(and eventually "use" the namespace in the methods of that class)

[2022-03-07 15:21] mkirsano commented on #36662
I made a prototype of Pythia8Interface that can produce either HepMC2 or HepMC3 record.
Does it have sense to make a PR?

[2022-03-07 15:33] fwyzard commented on #36311
@VinInn yes, definitely.
The downside is that a class can be passed as a template argument to another type (_e.g._ to implement Phase-1 vs Phase-2 parameters), while a namespace cannot :-(

[2022-03-07 15:34] civanch commented on #36662
I think if by default it would implement HepMC2 it would be fine.

[2022-03-07 15:52] thomreis commented on #36311
The ability to pass the class as a template is exactly why it was set up like this, yes. The Phase 2 ECAL reconstruction we are currently working on relies on it.

[2022-03-07 15:59] VinInn commented on #36311
what about

[code]

[2022-03-07 16:15] thomreis commented on #36311
That compiles, yes, and runs as well.

[2022-03-07 16:27] fwyzard commented on #36311
With
[code]
is the access to `One::g[0]` still `constexpr` ?

[2022-03-07 19:13] Dr15Jones commented on #36938
I have added all the python code needed to add a new `ConditionalTask` class to our configuration system. Every python unit test that tested `Task`s have now been replicated to also test `CondtionalTask`s and those new tests now all pass.

I'm in the process of figuring out exactly how I want to pass the python info into the C++. Once I'm happy with that, the last step will be to get the C++ to in

[2022-03-07 20:39] smuzaffar commented on #37126
@vkuznet , can you please check why the following command is not returning any data?
[code]

[2022-03-07 23:51] makortel commented on #25090
According to [documentation](https://github.com/cms-sw/cmssw/tree/master/DQMServices/Core#plugins)

that would be "no".

I believe that would be the preferred way. At least all uses of `LuminosityBlockCache` in DQM are in conjunction with `DQMOneEDAnalyzer`. I took a look of several of those, and found that many of them are not actually safe wrt. concurrent lumis; the logic is either clearly wrong

[2022-03-08 00:43] makortel opened #37163 "Issues in concurrent Lumi/IOV safety in DQMOneEDAnalyzer<LuminosityBlockCache<...>>"
This issue follows up my comment in https://github.com/cms-sw/cmssw/issues/25090#issuecomment-1061260133. Below is a list of `DQMOneEDAnalyzer` modules that make use of `edm::LuminosityCache`
* `DQM/BeamMonitor/plugins/AlcaBeamMonitor.h`
* `DQM/BeamMonitor/plugins/OnlineBeamMonitor.h`
* `DQM/CTPPS/plugins/CTPPSCommonDQMSource.cc`
* `DQM/CTPPS/plugins/CTPPSDiamondDQMSource.cc`
* `DQM/CTPPS/plugins/

[2022-03-08 00:43] makortel commented on #37163
assign core,dqm

[2022-03-08 00:43] cmsbuild commented on #37163
New categories assigned: core,dqm

@jfernan2,@ahmad3213,@rvenditti,@Dr15Jones,@smuzaffar,@emanueleusai,@makortel,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-08 00:43] cmsbuild commented on #37163
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-08 01:06] makortel commented on #37163
In `DQM/BeamMonitor/plugins/AlcaBeamMonitor.h` the problem is that per-LuminosityBlock data is stored in class member data instead of the `LuminosityBlockCache` (which actually is empty!). For example, the `globalBeginLuminosityBlock()`
https://github.com/cms-sw/cmssw/blob/cbca23d3e7ae19960c90d6046413c5887c4a3791/DQM/BeamMonitor/plugins/AlcaBeamMonitor.cc#L227-L232
clears an `std::vector<reco::Ver

[2022-03-08 01:15] makortel commented on #37163
In `DQM/BeamMonitor/plugins/OnlineBeamMonitor.h` the issue is only with `beamSpotsMap_`, and is similar to the issue with the similarly named member variable in https://github.com/cms-sw/cmssw/issues/37163#issuecomment-1061301312.

In addition, about the other `mutable` member variables
https://github.com/cms-sw/cmssw/blob/2105cce19672405d0e1c904d9c2b7c07aa4abde8/DQM/BeamMonitor/plugins/OnlineBeam

[2022-03-08 10:56] clacaputo opened #37167 "AK4 CHS jets pT cut for Run3"
This issues is intended as a reminder for @cms-sw/reconstruction-l2 , @cms-sw/xpog-l2 and @cms-sw/jetmet-pog-l2, about the discussion we had in https://github.com/cms-sw/cmssw/pull/36890.

**Context**
Switching from `AK4 CHS` to `AK4 PUPPI` jet for Run3 as recommended jet collection.
The PR https://github.com/cms-sw/cmssw/pull/36890 is decreasing the `AK4 PUPPI` jet `pT` cut from `15` to `10`. Thi

[2022-03-08 10:57] cmsbuild commented on #37167
New categories assigned: reconstruction

@slava77,@jpata,@clacaputo you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-08 10:57] cmsbuild commented on #37167
A new Issue was created by  @clacaputo Claudio Caputo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-08 10:57] iarspider opened #37168 "[ASAN] heap buffer overflow in l1t::stage2::CaloLayer1Packer::makeHCalTPGs"
Several relvals are affected by this, e.g. [23234.0](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc11/CMSSW_12_3_ASAN_X_2022-03-04-1100/pyRelValMatrixLogs/run/23234.0_TTbar_14TeV+2026D49+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal/step2_TTbar_14TeV+2026D49+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT+DigiTrigger+RecoGlobal+HARVESTGlobal.log#/42)

[c

[2022-03-08 10:57] cmsbuild commented on #37168
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-08 10:58] clacaputo commented on #37167
assign xpog

[2022-03-08 10:58] cmsbuild commented on #37167
New categories assigned: xpog

@mariadalfonso,@gouskos,@fgolf you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-08 11:01] iarspider commented on #37168
assign l1
I hope this is the right category

[2022-03-08 11:01] cmsbuild commented on #37168
New categories assigned: l1

@epalencia,@rekovic,@cecilecaillol you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-08 11:02] AdrianoDee commented on #37018
+upgrade
solved by https://github.com/cms-sw/cmssw/pull/37154 (as soon as integrated).

[2022-03-08 11:09] iarspider opened #37169 "SIGABRT in HepMCValidationHelper::removeIsolatedLeptons"
RelVal 148.0 for `cms8_amd64_gcc10` platform [failed with SIGABRT](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cs8_amd64_gcc10/CMSSW_12_3_X_2022-03-07-2300/pyRelValMatrixLogs/run/148.0_HydjetQ_MinBias_XeXe_5442GeV_2017+HydjetQ_MinBias_XeXe_5442GeV_2017+DIGIHI2017+RECOHI2017+HARVESTHI2017/step3_HydjetQ_MinBias_XeXe_5442GeV_2017+HydjetQ_MinBias_XeXe_5442GeV_2017+DIGIHI2017+RECOHI2017+HARVESTHI2017.

[2022-03-08 11:09] iarspider commented on #37169
assign dqm

[2022-03-08 11:09] cmsbuild commented on #37169
New categories assigned: dqm

@jfernan2,@ahmad3213,@rvenditti,@emanueleusai,@pbo0,@pmandrik you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-08 12:13] vkuznet commented on #37126
@smuzaffar , I checked the query and it is correct. DAS query resolves into the following set of DBS queries (which you can see by yourself using `-verbose 1` flat):
[code]

And, I manually run all of them and they return nothing. I also checked that the listed blocks indeed has some data in DBS but there is no run you specified. If you'll use a different run, e.g. 326617, then it will return resu

[2022-03-08 12:16] jpata commented on #35798
+reconstruction
- as I understand, https://github.com/cms-sw/cmssw/pull/37139 addressed this

[2022-03-08 12:16] cmsbuild commented on #35798
This issue is fully signed and ready to be closed.

[2022-03-08 12:24] jfernan2 commented on #37169
Since the crashing module belongs to PF POG:

@hatakeyamak @jpata @chosila as PF Validation developers, could you please provide a fix?
@kdlong @juska  FYI

[2022-03-08 12:26] dan131riley commented on #37169
Some context, seems to be a lot going wrong (charge non-conservation!!):
[code]

[2022-03-08 12:28] dan131riley commented on #37168
Duplicate of #37012

[2022-03-08 12:36] smuzaffar commented on #37126
ah sorry @vkuznet , my bad. Yuo are rigth the actual quey has `run=326479`. A unit test failed [here](https://cmssdt.cern.ch/SDT/jenkins-artifacts/pull-request-integration/PR-904c67/22909/unitTests/src/Configuration/PyReleaseValidation/test/test-das-selected-lumis/testing.log) [a] and I copy pasted the wrong query. Test runs fine now

[a]
[code]

[2022-03-08 12:53] #37018 closed

[2022-03-08 12:57] Dr15Jones commented on #37169
The abort call is here

https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/Validation/EventGenerator/src/HepMCValidationHelper.cc#L206

[2022-03-08 13:01] jfernan2 commented on #37169
Adding MC DQM contacts too:
@Saptaparna @SanghyunKo @menglu21 @shimashimarin

[2022-03-08 13:30] vkuznet commented on #37126
I'm confused, does the test runs fine or not? Which version of dasgoclient you're using? I think the issue you're referring is fixed here https://github.com/cms-sw/cmsdist/pull/7653

[2022-03-08 13:31] perrotta commented on #37096
This should have been fixed by #37111, merged in 12_3_X since [CMSSW_12_3_ASAN_X_2022-03-04-1100](https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_ASAN_X_2022-03-04-1100) and [CMSSW_12_3_X_2022-03-02-2300](https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_X_2022-03-02-2300)

Can this issue be closed, if so?

[2022-03-08 13:45] perrotta commented on #37169
This code was touched by PR #36994, merged right before this RelVal 148.0 was reported crashing for cms8_amd64_gcc10. It doesn't seem correlated to me, but perhaps @SanghyunKo could have a glance...

[2022-03-08 14:10] clacaputo commented on #37096
Hi @perrotta , you're right

[2022-03-08 14:10] clacaputo commented on #37096
+reconstruction

- fixed by https://github.com/cms-sw/cmssw/pull/37111

[2022-03-08 14:10] cmsbuild commented on #37096
This issue is fully signed and ready to be closed.

[2022-03-08 14:22] smuzaffar commented on #37126
test failed multiple times yesterday ( that is why I added the message  https://github.com/cms-sw/cmssw/issues/37126#issuecomment-1061114746) but now it works.

[2022-03-08 14:40] vkuznet commented on #37126
we have lost few k8s cluster today, I have no idea if it is related or not but entire k8s infrastructure is unstable now. We lost cmsweb, rucio, monitoring clusters and so far don't know when we'll get them back. Therefore your IB tests may fail too, please be aware. We posted info on mattermost, cms-talk and informed management

[2022-03-08 14:46] makortel commented on #37169
On a bit unrelated note, the LogError+abort
https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/Validation/EventGenerator/src/HepMCValidationHelper.cc#L205-L206
would be better as an exception.

[2022-03-08 14:57] SanghyunKo commented on #37169
hmm seems quite weird to me. I've tested the workflow `148.0` on my local branch (`12_3_0_pre4` + #36994 on `slc7_amd64_gcc10`) with only generator related part and it works fine:

the original matrix for `148.0` is
[code]
and I picked GEN part only by (`genvalid_all` is part of `standardValidationNoHLT`)
[code]
and this runs without any error...

[2022-03-08 15:51] SanghyunKo commented on #37169
Some interesting observations from previous IB tests:

The same workflow failed already at [`12_3_X_2022-03-04-2300`](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/cs8_amd64_gcc11/CMSSW_12_3_X_2022-03-04-2300/pyRelValMatrixLogs/run/148.0_HydjetQ_MinBias_XeXe_5442GeV_2017+HydjetQ_MinBias_XeXe_5442GeV_2017+DIGIHI2017+RECOHI2017+HARVESTHI2017/step3_HydjetQ_MinBias_XeXe_5442GeV_2017+HydjetQ_MinBias_XeX

[2022-03-08 15:57] missirol commented on #32219
+hlt

 - addressed by @mmasciov in https://github.com/cms-sw/cmssw/pull/37149

[2022-03-08 16:01] makortel commented on #32219
+core

[2022-03-08 16:01] #32219 closed

[2022-03-08 16:19] valeriadamante commented on #35376
Hi all,

Running multiple times on the same event, I found differences in:
- total number of tracks
- vertex sorted index
- track quality

So what I did is:

1) Running from CMSSW_12_3_X_2022-03-03-1100, with a configuration obtained by: ``` hltGetConfiguration /users/vdamante/GPUTest/HLT/V4 --globaltag auto:run3_hlt --data --eras Run2_2018 --max-events -1 --input file:/eos/cms/store/data/Run2018D

[2022-03-08 16:51] makortel commented on #36662
That twiki page is pretty much up to date. But if you find something there which is not (or suspect or are unsure), let us know.

[2022-03-08 17:11] civanch commented on #36662
@mkirsano , HepMC3 migration was discussed at the today ORP meeting. @smuzaffar , explain us that several GEN packages should be compiled versus HepMC3. This can be achieved normally if a new git BRANCH will be created. So, the plan may be following:

1) we use a switch HepM2/HepMC3 as a python parameter defined somewhere upstream
2) development is ongoing within master, depending on the switch He

[2022-03-08 17:51] smuzaffar commented on #36662
The externals packages which uses HepMC are https://github.com/cms-sw/cmsdist/search?q=hepmc
- https://github.com/cms-sw/cmsdist/blob/1f4e6a9b7b19f23345c791dcd361230a52b7c87f/photospp.spec
- https://github.com/cms-sw/cmsdist/blob/1f4e6a9b7b19f23345c791dcd361230a52b7c87f/tauolapp.spec
- https://github.com/cms-sw/cmsdist/blob/15eb9c93fe06e67de060ae6860cdedc3d652f37a/madgraph5amcatnlo.spec
- https://

[2022-03-08 19:56] vkuznet commented on #37126
@smuzaffar the cmsweb (among others k8s clusters) was restored today, but the original issue with some random latencies of queries and other cmsweb services still remains. We will start addressing it in coming days.

[2022-03-08 20:07] #22454 closed

[2022-03-08 21:54] cvuosalo commented on #36837
+1

[2022-03-08 21:54] cvuosalo commented on #35109
+1

[2022-03-08 21:54] cmsbuild commented on #35109
This issue is fully signed and ready to be closed.

[2022-03-08 22:16] pcanal commented on #37113
Note: one trigger of this problem is that the underlying type of the enum `reco::Muon::MuonTrackType` has some point explicitly (or maybe implicit through a CINT/Cling update) change from `int` to `unsigned int`.   Consequently the onfile layout of the type `pair<reco::Muon::MuonTrackType,edm::Ref<vector<reco::Track>, ....>` technically did change.

[2022-03-08 22:41] makortel commented on #37113
I checked the history of `reco::Muon::MuonTrackType` and it has never specified explicitly the underlying type.

I'm guessing the type `pair<MuonTrackType, TrackRef>` comes from
https://github.com/cms-sw/cmssw/blob/a4ee4a972e3791a145270a47de42ccc53e4dbc96/DataFormats/MuonReco/src/classes_def.xml#L87
https://github.com/cms-sw/cmssw/blob/a4ee4a972e3791a145270a47de42ccc53e4dbc96/DataFormats/MuonReco/

[2022-03-08 22:43] pcanal commented on #37113
The issue is compounded with the fact that that pair "seems" to no longer be in active use in the data model (at least in the libraries autoloaded by opening the files) consequently there `TClass` for the pair stays in `emulated` mode and can 'only' guess on whether the pair class layout is 'versioned' or not 'versioned'.

In this example, because the 2nd file ended up with the 2 versions of the c

[2022-03-09 00:31] pcanal commented on #37113
It seems so.  And thus another work around is to call, before opening the files:

[code]

which triggers the generation of the "proper" TClass for the pair.

[2022-03-09 05:15] SiewYan commented on #36662
@smuzaffar , i can help to check on those.

[2022-03-09 11:00] VinInn commented on #35376
In the .txt file above I did not find any discrepancy in the track associated to vertices.
They look identical to me (to the last digit).

[2022-03-09 11:12] silviodonato commented on #35376
The number of tracks is different.
In 14_24, there are 1112 tracks, while in 14_16 1109 tracks

[2022-03-09 13:49] VinInn commented on #35376
Sorry. I understood you were referring to discrepancies in tracks associated to vertices.

indeed this quite isolated quadruplets with quality either loose or HP is strange.
Fro a cursory look I have not found any other occurence.

trk 1267 seems a marginal quadruplet (nothing obvious around): true that is only found in one out of 6 reco-job,
(found just one more quad present in 4 out of 6. all ot

[2022-03-09 14:55] kandrosov commented on #35376
hm... this could be the reason for L2TauTagNN irreproducibility: currently all tracks that pass Loose quality WP and have > 0 hits are considered as inputs: [TrackGood](https://github.com/cms-sw/cmssw/blob/master/RecoTauTag%2FHLTProducers%2Fsrc%2FL2TauTagNNProducer.cc#L689-L700).
@VinInn  what (minimal) selection should be used for `TrackGood` to ensure reproducibility of the inputs with the curre

[2022-03-09 14:59] VinInn commented on #35376
Full reproducibility is never guaranteed with current algorithm.
I suggest to use a selection similar to PF in scouting as they made very detailed study

(same for track vertex association. currenly you are "counting" only the tracks used to identify and fit the vertices: high pt, high purity quadruplets)

v.

[2022-03-09 17:41] wddgit commented on #36967
@makortel @Dr15Jones

With an EntryOrder iteration, what do we want the behavior to be when a cmsRun job ends before processing an entire file? This could be caused by a limit on the number of events or lumis. We could sometimes have events written to the file without having a corresponding run or a corresponding lumi written into the file because the run or lumi was expected to be "continued" lat

[2022-03-09 17:59] silviodonato commented on #35376
Just to quantify the GPU vs GPU fluctuation: out of 1110 tracks we get differences in 27 tracks ([tracks_14_16.txt](https://github.com/cms-sw/cmssw/files/8207830/tracks_14_16.txt) vs
[tracks_14_18.txt](https://github.com/cms-sw/cmssw/files/8207831/tracks_14_18.txt))

Specifically (using the `grep` command above: phi, pt, idv, eta, charge, chi2, nHits, quality):
- 1 additional track
[code]
- 1 trac

[2022-03-09 18:02] silviodonato commented on #35376
@valeriadamante do you know the meaning of idv=9997 ?

[2022-03-09 18:21] silviodonato commented on #35376
@valeriadamante what is the difference between `vtx_idx` and `sortind` in the vertex.txt file?

Could you confirm that in the L2NN you don't use `sortind`, `vtx_idx`, `idv`  at all?

[2022-03-09 18:36] VinInn commented on #35376
You may wish to "print" and "use" in the CNN  ```nLayers``` as well.
I may be that some of those 4-hit tracks are just triplets (3-layers) with two hits in the same layer.

Something else you may wish to consider are the significance of the pt and impact-param (or even the chord) as it may help
to put less weight on tracks with large errors.

[2022-03-09 18:38] VinInn commented on #35376
idv=9997 (9998-1)  means that the track was used in the vertex finder but ended not "associated" to any vertex
(search for 9998 in "RecoPixelVertexing/PixelVertexFinding")

[2022-03-09 18:45] sanuvarghese opened #37186 "Update edmLumisInFiles.py to python3"
The issue is regarding an error when running ```edmLumisInFiles.py file.root ``` command in CMSSW_12_3_0_pre5 (or any 12_X) , I am getting the error:
[code]
The error seems to be a python3 vs python2 problem. I was able to run the same command in  10_6_X without error.

[2022-03-09 18:46] cmsbuild commented on #37186
A new Issue was created by  @sanuvarghese Sanu Varghese.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-09 18:51] vkuznet commented on #37126
@smuzaffar , I asked @muhammadimranfarooqi to step by in your office and request CMSSW IB build test to check our changes on cmsweb where we relocated dbs server. We monitor situation in this [dashboard](https://monit-grafana.cern.ch/d/wIybNUV7z/user-dmapelli-crab-timber-pods?from=now-3h&orgId=11&to=now&var-system=crabserver&var-system=dbs&var-method=All&var-api=All&var-code=200&var-metadataType=A

[2022-03-09 19:10] makortel commented on #37186
assign core

[2022-03-09 19:10] cmsbuild commented on #37186
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-09 19:32] makortel commented on #37186
This has been fixed already in https://github.com/cms-sw/cmssw/pull/37107 (that was merged in CMSSW_12_3_X_2022-03-02-1100). @sanuvarghese Are you in need of a backport, or is this sufficient (it will be in 12_3_0_pre6 that should get built soon).

[2022-03-09 19:39] sanuvarghese commented on #37186
No this is sufficient.

[2022-03-09 19:57] makortel commented on #37113
Is this something that is a property of CMSSW code or ROOT code? (or some mixture of both?)

I'm very confused how this could have happened. The 2nd file is almost certainly a result of a merge job, because it contains data from two Runs. According to provenance everything was processed with the same CMSSW version (CMSSW_12_1_1 for RECO). The preceding step, HLT, used CMSSW_12_0_3_patch1, but from

[2022-03-09 19:58] makortel commented on #37186
+core

[2022-03-09 19:58] cmsbuild commented on #37186
This issue is fully signed and ready to be closed.

[2022-03-09 20:03] #37186 closed

[2022-03-09 20:37] silviodonato commented on #35376
@VinInn @fwyzard I noticed that the CPU vs GPU differences appear only after 300 - 500 events. Usually there are no difference in the first ~300 events. The "difference rate" reach a "plateau" after ~1000 events.
Did you expect this?

[2022-03-09 22:17] pcanal commented on #37113
I was wrong, as you pointed out, it is still used but 'bring the TClass into' existence requires (usually indirectly) the execution of the code at https://github.com/cms-sw/cmssw/issues/37113#issuecomment-1062429408

[2022-03-09 22:21] pcanal commented on #37113
That would most likely do it.  One file created before ROOT and/or Cling change the underlying type  and one file from after.

That would most certainly break things (i.e. you should not add version to the map nor the pair).

I am working on a solution (hopefully done this week) otherwise (or until then), the 'best' workaround is https://github.com/cms-sw/cmssw/issues/37113#issuecomment-1062429408

[2022-03-10 00:43] makortel commented on #36967
@wddgit I think that makes sense. The noRunLumiSort was intended for Merge jobs, that shouldn't set a limit for number of events or lumis.

[2022-03-10 00:45] makortel commented on #37113
As far as I can tell the original files would have been produced with the same CMSSW version.

[2022-03-10 01:45] #37096 closed

[2022-03-10 01:45] #35798 closed

[2022-03-10 05:38] fwyzard commented on #36311
To do: document the use of the `HOST_DEVICE_CONSTANT` macro and its limitations.

[2022-03-10 07:51] valeriadamante commented on #35376
I checked, and the `sortind` column should be ignored. Indeed, `vtx_idx` is `vertex_soa.sortInd[j]` (where j runs over `vertex_soa` size)  and sortInd is `vertex_SOA.sortInd[vtx_idx]`. So please ignore this column in the comparison.

Yes, in L2NN I only use the number of vertices that pass a minimal selection (described [here](https://github.com/cms-sw/cmssw/blob/291fef21c554f7a21930b966c36449e837

[2022-03-10 08:39] VinInn commented on #35376
No.
is this in any workflow or some in particular?

[2022-03-10 09:09] smuzaffar commented on #37126
@vkuznet , about timings, I ran near 2975 queries and majority of these were done under 10s. The one which took over 10s are [a]. I also tested new dasgoclient_amd64 but it sometimes works but most of the times it fails [b]. When it works [c] then it takes nearly the same time as the existing dasgoclient from cvmfs.

[a]
[code]

[b]
[code]
[c]
[code]

[2022-03-10 09:31] smuzaffar commented on #37126
new `dasgoclient_amd64` sometimes fails with error
[code]

[2022-03-10 09:54] joseflix commented on #36349
Hi there, Sorry, but is this solved already? I still see values which are not consistent in the popularity kibana views, for example the snapshot I attach.

<img width="2026" alt="Captura de pantalla 2022-03-10 a las 10 50 42" src="https://user-images.githubusercontent.com/8619265/157636620-4f996fd7-871e-4695-ab82-49e28050171f.png">

In Popularity we don't have the CMSSW version used:

<img width=

[2022-03-10 09:59] joseflix commented on #36349
@makortel @qliphy

[2022-03-10 10:16] silviodonato commented on #35376
No, I just run the L2NN in a different amount of events.
You can find all the files in `/afs/cern.ch/work/s/sdonato/public/GPU_fluctuation_study`:
- `CPU` and `CPU_2`: done using CPU only
- `1` and `2`: done using GPU (only for pixel local reco an tracks). I ran 2 times the same configuration
- `skim1k` and `skim1k_2`: done using GPU (only for pixel local reco an tracks)
- `skim2k` and `skim2k_2`:

[2022-03-10 10:27] silviodonato commented on #35376
If you count the differences in the reversed order (ie. starting from the last processed event), you get this plot
![chart (5)](https://user-images.githubusercontent.com/6177433/157642573-f397f9bd-f323-45f2-aa53-3649967c3ce5.png)

It is clear that the "difference rate" is rather constant, but for some reason in there are no (or few) differences in the first hundreds of events

[2022-03-10 10:38] davidlange6 commented on #36349
Old releases will not get this fix. So production/analyst work that has not moved forward to the fixed releases (done for all release cycles 2016+ iiuc) will still give bad values.

[2022-03-10 10:41] joseflix commented on #36349
Hi @davidlange6 , thanks for the answer. How shall I know which release was using the jobs I report here? Maybe we should add the cmssw version on the popu records?

[2022-03-10 10:50] silviodonato commented on #35376
These are the exact numbers of the first events with differences:

Diff (number) | 1 | 2 | skim1k | skim1k_2 | skim2k | skim2k_2
-- | -- | -- | -- | -- | -- | --
1 | 382 | 377 | 310 | 324 | 503 | 638
2 | 609 | 550 | 486 | 457 | 639 | 652
3 | 652 | 581 | 577 | 485 | 652 | 676
4 | 674 | 652 | 585 | 486 | 669 | 684
5 | 719 | 673 | 620 | 529 | 670 | 751

[2022-03-10 10:56] tsusa commented on #35668
The assert statement checks if the clusters on one detId are stored by increasing clust.originalId(). That is true for Legacy clusters coming from the Legacy Clusterizer, however if the Legacy cluster are output by SiPixelDigisClustersFromSoA  that is no more true and the assert fails.  @VinInn can one remove this assert statement or how one can ensure that clusters are stored in increasing clust.

[2022-03-10 10:58] davidlange6 commented on #36349
Yea, I don't see anything in

https://github.com/cms-sw/cmssw/blob/master/Utilities/StorageFactory/src/StatisticsSenderService.cc

From which this can be derived unless there is something useful in the app_info field.

[2022-03-10 11:12] VinInn commented on #35668
I think that at some point we decided that we could remove the assert.
There is not way to ensure that the  that clusters are stored in increasing clust.originalId() in SiPixelDigisClustersFromSoA.

v.

[2022-03-10 11:14] VinInn commented on #35376
is not that the first few hundreds events are sort of low multiplicity?

[2022-03-10 11:21] silviodonato commented on #35376
no, because I tested this on different events.
I mean the first 300 events of `skim2k` correspond to the events between 2000 - 2300 of `1`,
and from the plot you can see that we see differences in  `skim2k`  between 2000 - 2300

[2022-03-10 11:30] VinInn commented on #35376
ok.
I can only imagine that at start up things goes more in sync so all jobs run code more or less in the same order (even if in parallel). Then they loose sync, the occupancy of the GPU varies and code (blocks, waves) are run in a different order in different jobs.

[2022-03-10 11:35] tsusa commented on #35668
@VinInn tnx, I'll prepare a PR to remove the assert.

[2022-03-10 11:36] VinInn commented on #35376
We may try "cooperative groups" (once they are validated to be used in CMSSW) to see if they are more stable (as they allocate all gpu threads at once and allow global synchronization among them all).

[2022-03-10 13:29] perrotta commented on #32643
@srimanob https://github.com/cms-sw/cmssw/pull/36465 is now merged (sice a while): I think we can close this issue, isn't it? Please re-open if I misunderstood your previous comment.

[2022-03-10 13:33] smorovic commented on #36487
We ran tests with CMSSW_12_3_0_pre5 (using ESSourceConcurrentDataProxyTemplate change suggested above), thread-safe version of frontier_client (with threadsafe=1) and a special version of Coral where locks protecting acess to frontier_client calls have been removed.
- everything runs without crashes in any configuration. I tried with either 4 threads and streams per process or 12 threads and 6 str

[2022-03-10 14:46] Dr15Jones commented on #36487
@smorovic thanks for doing the checks! So the backtrace you are showing is not when EventSetup data products are begin retried (which is what the Proxies do). Instead, you are seeing the request to the PoolDBESSource to get the IOVs. That happens serially.

Fortunately, the PoolDBESSource knows what Records it is supposed to get so it would be possible to change `CondDBESSource::setIntervalFor` to

[2022-03-10 14:50] jpata commented on #35519
@franzglessgen @emiglior a kind ping on this issue

[2022-03-10 15:33] perrotta opened #37195 "Build CMSSW_12_3_0_pre6"
Last open pre-release for 12_3_X
Code development moves to the new master, 12_4_X, starting from now.

[2022-03-10 15:33] Dr15Jones commented on #36487
It looks like we can confirm my hypothesis by turning on LogInfo for the DB

https://github.com/cms-sw/cmssw/blob/767a838b1b9c90d1a12396f566d580b16826a934/CondCore/ESSources/plugins/CondDBESSource.cc#L496-L510

[2022-03-10 15:33] cmsbuild commented on #37195
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-03-10 15:37] perrotta commented on #37195
+1

[2022-03-10 15:38] cmsbuild commented on #37195
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre6. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-03-10 15:38] cmsbuild commented on #37195
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, slc7_amd64_gcc11, slc7_amd64_gcc10, cs8_ppc64le_gcc11, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2022-03-10 15:40] cmsbuild commented on #37195
The build has started for cs8_amd64_gcc10 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3387/console
CMSDIST Branch: [IB/CMSSW_12_3_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-10 15:40] cmsbuild commented on #37195
The build has started for slc7_amd64_gcc11 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3389/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-10 15:41] cmsbuild commented on #37195
The build has started for cs8_ppc64le_gcc11 in ibmminsky-1b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3390/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-10 15:43] cmsbuild commented on #37195
The build has started for cs8_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3392/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-10 15:43] cmsbuild commented on #37195
The build has started for slc7_ppc64le_gcc11 in ibmminsky-1a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3391/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-10 15:43] Dr15Jones commented on #36487
I believe the output can be added by doing
[code]

[2022-03-10 15:52] makortel commented on #36349
For a limited number of cases DAS/DBS should tell the release a file/dataset was produced, so at least for the example case you should be able to check that. For longer term, adding CMSSW release field to the popularity information looks like straightforward to add.

[2022-03-10 16:24] cmsbuild commented on #37195
The build has started for slc7_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3393/console
CMSDIST Branch: [IB/CMSSW_12_3_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_3_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-10 17:22] vkuznet commented on #36349
In DAS getting release info as simple as:
[code]
In DBS it is also trivial
[code]
and it yields:
[code]
(I need to check why we have three identical entries, most likely loose constrain on SQL query JOINS).

[2022-03-10 17:37] davidlange6 commented on #36349
You want the release used by the cmsRun job not the release used to create the input data set, no?
(But right, if you have the output dataset you could look it up that way)

[2022-03-10 17:39] joseflix commented on #36349
Yes, I want the release used by cmsRun to open those files. We don't have any clue on the output generate files in popularity DB, if I am not mistaken, only input files...

[2022-03-10 17:43] vkuznet commented on #37126
@smuzaffar , the crashes you are posted most likely due to AFS kernel bug described here https://github.com/golang/go/issues/50545

Could you please copy new dasgoclient_amd64 to local disk and run it from there to see if you'll get the same crash. I also curious how do you use dasgoclient in your CMSSW IB builds and where it is located. I can try to add `GODEBUG=asyncpreemptoff=1` to compiler as

[2022-03-10 17:54] makortel commented on #36349
Ah, good point. Ok, we can add the CMSSW version in the popularity data. Unfortunately, as David mentioned above, that will be available only in new releases (of old release cycles).

[2022-03-10 21:33] cmsbuild commented on #37195
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-cs8_aarch64_gcc11/3392
Some tes

[2022-03-10 22:07] cmsbuild commented on #37195
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-slc7_aarch64_gcc11/3393
Some t

[2022-03-10 22:16] cmsbuild commented on #37195
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-cs8_aarch64_gcc11/3392

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-03-10 22:44] cmsbuild commented on #37195
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-cs8_ppc64le_gcc11/3390
Some tes

[2022-03-10 22:47] cmsbuild commented on #37195
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-slc7_ppc64le_gcc11/3391
Some t

[2022-03-10 22:48] cmsbuild commented on #37195
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-slc7_amd64_gcc10/3388
Some tests

[2022-03-10 22:52] cmsbuild commented on #37195
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-slc7_aarch64_gcc11/3393

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-03-10 23:04] cmsbuild commented on #37195
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-slc7_amd64_gcc11/3389
Some tests

[2022-03-10 23:32] cmsbuild commented on #37195
The tests have finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-slc7_amd64_gcc10/3388

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-10 23:35] cmsbuild commented on #37195
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-cs8_amd64_gcc10/3387
Some tests (

[2022-03-10 23:46] cmsbuild commented on #37195
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-cs8_ppc64le_gcc11/3390

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-10 23:49] cmsbuild commented on #37195
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-slc7_amd64_gcc11/3389

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-10 23:50] cmsbuild commented on #37195
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-slc7_ppc64le_gcc11/3391

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-11 00:22] cmsbuild commented on #37195
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_3_0_pre6-cs8_amd64_gcc10/3387

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-11 00:43] qliphy commented on #37195
upload all

[2022-03-11 00:43] cmsbuild commented on #37195
Queing Jenkins upload for slc7_amd64_gcc10

[2022-03-11 00:44] cmsbuild commented on #37195
Queing Jenkins upload for cs8_amd64_gcc10

[2022-03-11 00:44] cmsbuild commented on #37195
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-03-11 00:44] cmsbuild commented on #37195
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-03-11 00:44] cmsbuild commented on #37195
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-03-11 00:44] cmsbuild commented on #37195
Queing Jenkins upload for cs8_ppc64le_gcc11

[2022-03-11 00:44] cmsbuild commented on #37195
Queing Jenkins upload for slc7_amd64_gcc11

[2022-03-11 00:46] cmsbuild commented on #37195
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2239/console

[2022-03-11 00:46] cmsbuild commented on #37195
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2241/console

[2022-03-11 00:46] cmsbuild commented on #37195
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2242/console

[2022-03-11 00:46] cmsbuild commented on #37195
The upload has started for cs8_amd64_gcc10 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2240/console

[2022-03-11 00:46] cmsbuild commented on #37195
The was error uploading slc7_aarch64_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre6-slc7_aarch64_gcc11/2241

[2022-03-11 00:46] cmsbuild commented on #37195
The upload has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2243/console

[2022-03-11 00:46] cmsbuild commented on #37195
The was error uploading cs8_aarch64_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre6-cs8_aarch64_gcc11/2239

[2022-03-11 00:47] cmsbuild commented on #37195
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2244/console

[2022-03-11 01:11] qliphy commented on #37195
@smuzaffar   It seems uploadings have many errors. Would you please have a look?

For example: https://cmssdt.cern.ch/jenkins/job/upload-release/2240/console
ERROR: Build area not consistent. Not uploading.

[2022-03-11 05:18] cmsbuild commented on #37195
The upload has started for slc7_amd64_gcc11 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2245/console

[2022-03-11 05:23] cmsbuild commented on #37195
The upload has started for cs8_amd64_gcc10 in cmsbuild05.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2246/console

[2022-03-11 05:26] cmsbuild commented on #37195
The upload has started for slc7_amd64_gcc10 in cmsbuild02.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2247/console

[2022-03-11 05:28] cmsbuild commented on #37195
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre6-slc7_amd64_gcc10/2247

[2022-03-11 05:30] cmsbuild commented on #37195
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2248/console

[2022-03-11 05:31] cmsbuild commented on #37195
The was error uploading cs8_aarch64_gcc11.
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre6-cs8_aarch64_gcc11/2248

[2022-03-11 05:31] cmsbuild commented on #37195
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre6-cs8_amd64_gcc10/2246

[2022-03-11 05:35] cmsbuild commented on #37195
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2250/console

[2022-03-11 05:37] cmsbuild commented on #37195
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2251/console

[2022-03-11 05:38] cmsbuild commented on #37195
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre6-slc7_aarch64_gcc11/2251

[2022-03-11 05:38] cmsbuild commented on #37195
The upload has started for slc7_amd64_gcc11 in cmsbuild11.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2252/console

[2022-03-11 05:39] cmsbuild commented on #37195
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre6-slc7_amd64_gcc11/2252

[2022-03-11 05:49] cmsbuild commented on #37195
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2253/console

[2022-03-11 05:50] cmsbuild commented on #37195
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre6-cs8_ppc64le_gcc11/2253

[2022-03-11 05:52] cmsbuild commented on #37195
The upload has successfully finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre6-cs8_aarch64_gcc11/2250

[2022-03-11 05:55] cmsbuild commented on #37195
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-1.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2254/console

[2022-03-11 05:56] cmsbuild commented on #37195
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_3_0_pre6-slc7_ppc64le_gcc11/2254

[2022-03-11 05:58] smuzaffar commented on #37195
@qliphy , For now I have managed to upload the release, I will investigate why it happened.

[2022-03-11 06:03] perrotta commented on #37195
Thank you @smuzaffar!

[2022-03-11 06:03] perrotta commented on #37195
release-notes

[2022-03-11 06:03] cmsbuild commented on #37195
Generating release notes since CMSSW_12_3_0_pre5.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-03-11 06:03] cmsbuild commented on #37195
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_3_0_pre6 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_0_pre5 can be found at:

https://github.com/

[2022-03-11 06:09] cmsbuild commented on #37195
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_3_0_pre6

[2022-03-11 08:03] ggovi commented on #36487
@Dr15Jones
I've started a (probably too) naive implementation of what you suggest above concerning the DataProxy. It is here:
https://github.com/ggovi/cmssw/tree/condcore-conddb-essources-concurrency-0-123X
A first 'blind' run of one of the integration tests fails:
[govi@cmsdev23 src]$ cmsRun CondCore/ESSources/test/python/loadall_from_prodglobaltag_cfg.py
%MSG-w CondDBESSource:  (NoModuleName) 11

[2022-03-11 09:00] silviodonato opened #37207 "[HLT/Patrack] Duplicate Output Selection Two (or more) equivalent branches have been selected for output."
[code]

The error is self-explaining and related to the `keep *`.
Not sure what is the best way to avoid this. Perhaps adding ad `drop ` of all the EDAlias (or of the input used in the EDAlias)

[2022-03-11 09:00] silviodonato commented on #37207
assign hlt
@fwyzard

[2022-03-11 09:00] cmsbuild commented on #37207
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-11 09:02] silviodonato commented on #37207
(I cannot anymore assign the issue)
@makortel @Martin-Grunewald @missirol

[2022-03-11 09:03] fwyzard commented on #37207
assign core

[2022-03-11 09:03] fwyzard commented on #37207
assign hlt

[2022-03-11 09:03] fwyzard commented on #37207
assign heterogeneous

[2022-03-11 09:03] #36697 closed

[2022-03-11 09:03] cmsbuild commented on #37207
New categories assigned: heterogeneous,core,hlt

@missirol,@fwyzard,@Dr15Jones,@smuzaffar,@makortel,@makortel,@Martin-Grunewald you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-11 09:06] fwyzard commented on #37207
The issue is due to
[code]
right ?

[2022-03-11 09:07] #35574 closed

[2022-03-11 09:16] silviodonato commented on #37207
yes, I think so.
Adding `drop *_hltSiPixelRecHitSoA_*_*`
the error disappeared

[2022-03-11 09:27] fwyzard commented on #37207
Looks like a problem of possibly more general interest, though.

If we put the SwitchProducer branches "inline", like
[code]
then
  - we can do `"keep *"` to keep only the one that runs
  - cannot keep both branches, because the OutputModules do not accept `"keep *_product@cpu_*_*", "keep *_product@acc_*_*"`.

If we put the SwitchProducer branches "out of line" and use EDAliases, like
[code]
then

[2022-03-11 10:07] smuzaffar commented on #36788
any progress?

[2022-03-11 10:54] perrotta opened #37209 "Build CMSSW_12_4_0_pre1"
Starting point to the 12_4_X serie
Identical to CMSSW_12_3_0_pre6

[2022-03-11 10:55] cmsbuild commented on #37209
Request received. I will start to build the release after one of the following approve the issue: @perrotta, @smuzaffar, @qliphy, @dpiparo. You can do this by writing "+1" in a comment.
 You can also ask me to begin to build cmssw-tool-conf first ( Cannot be done for patch releases ). To do this write "build cmssw-tool-conf" in a comment. I will start to build cmssw-tool-conf and then wait for the

[2022-03-11 11:00] perrotta commented on #37209
+1

[2022-03-11 11:01] cmsbuild commented on #37209
Release created: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_0_pre1. The tag was created on top of branch:  https://github.com/cms-sw/cmssw/tree/master

[2022-03-11 11:01] cmsbuild commented on #37209
Queuing Jenkins build for the following architectures: cs8_amd64_gcc10, cs8_aarch64_gcc11, slc7_ppc64le_gcc11, slc7_amd64_gcc11, slc7_amd64_gcc10, cs8_ppc64le_gcc11, slc7_aarch64_gcc11
You can abort the build by writing "Abort" in a comment. I will delete the release, the cmssw and cmsdist tag, and close the issue. You can't abort the upload once at least one achitecture is being uploaded.
If you

[2022-03-11 11:02] cmsbuild commented on #37209
The build has started for slc7_amd64_gcc11 in cmsbuild09.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3396/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-11 11:02] cmsbuild commented on #37209
The build has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3395/console
CMSDIST Branch: [IB/CMSSW_12_4_X/master](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/master), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-11 11:02] cmsbuild commented on #37209
The build has started for cs8_ppc64le_gcc11 in ibmminsky-3b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3397/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-11 11:03] cmsbuild commented on #37209
The build has started for slc7_ppc64le_gcc11 in ibmminsky-3a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3398/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-11 11:09] smorovic commented on #36487
Hi @Dr15Jones,
I added the logging parameter and ran again. The full log file of one process:
/afs/cern.ch/user/s/smorovic/public/old_hlt_run2100000231_pid304187.log

from the file it seems that conditions are loaded sequentially (no overlap in logs for different records).

[2022-03-11 11:13] cmsbuild commented on #37209
The build has started for cs8_aarch64_gcc11 in olarm-202a.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3399/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-11 11:18] cmsbuild commented on #37209
The build has started for slc7_aarch64_gcc11 in olarm-202b.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/build-release/3400/console
CMSDIST Branch: [IB/CMSSW_12_4_X/g11](https://github.com/cms-sw/cmsdist/commits/IB/CMSSW_12_4_X/g11), PKGTOOLS Branch: [V00-34-XX](https://github.com/cms-sw/pkgtools/commits/V00-34-XX)

[2022-03-11 11:35] silviodonato commented on #37207
Thanks a lot @fwyzard for the clarification.
I wanted to save the hltPixelTracks, so I used
[code]
and I added
[code]
to process.hltOutputMinimal.

The tracks are not visible (both running with GPU and with CPU)
[code]

If I drop the Patatrack customization function, everything looks ok
[code]

[2022-03-11 11:40] emilbols commented on #37140
@jpata we will see if we can find someone for this task. I think it would make sense to at the same time have a look for other taginfos/tags in the sequence that are deprecated, since i do not think this taginfo is the only one.

[2022-03-11 12:41] fwyzard commented on #37207
That's weird !?

`hltPixelTracks` is a standard EDProducer, not a SwitchProducer or an EDAlias, and the product should be in the legacy format.

@makortel @Dr15Jones is there anythng that would prevent storing the collection in the root file ?
For example, the fact that its ancestors are transient ?

[2022-03-11 13:33] silviodonato commented on #37207
It seems that the problem is not related to SwitchProducer but with Task.
In `/afs/cern.ch/work/s/sdonato/public/HLT_Task_noPixelTracks`
you can find two configuration: `hltNew_dump_ok.py` and `hltNew_dump_ok.py`.

The first configuration is ok, while the second one shows no pixel tracks.

The difference is just:
[code]
From the log file I see these changes:
- hltPixelTracks: 10 executions -> 0 ex

[2022-03-11 13:36] silviodonato commented on #37207
ahh, probably I've understood it.
The reason is that the module
[code]
takes directly the `hltPixelTracksSoA` and `hltPixelVerticesSoA`, that is the reason why the other modules are not scheduled!

[2022-03-11 13:49] silviodonato commented on #37207
Yes, sorry for the noise, my mistake.
Let's keep focused on the issue summarized by Andrea ( https://github.com/cms-sw/cmssw/issues/37207#issuecomment-1064930592 )

[2022-03-11 13:53] cmsbuild commented on #37209
The build has finished sucessfully for the architecture cs8_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-cs8_aarch64_gcc11/3399
Some tes

[2022-03-11 14:03] Dr15Jones commented on #37207
@silviodonato what do you get when you do
[code]

That is what is actually used by the framework to determine if something was stored. Else we can't tell if the data product was stored or it was just empty.

[2022-03-11 14:05] Dr15Jones commented on #37207
Also, is the OutputModule on an `EndPath` or a `FinalPath`? If on a `FinalPath` that means data products consumed by the OutputModule will not be prefetched (i.e. will not cause unscheduled execution).

[2022-03-11 14:11] cmsbuild commented on #37209
The build has finished sucessfully for the architecture slc7_aarch64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-slc7_aarch64_gcc11/3400
Some t

[2022-03-11 14:12] cmsbuild commented on #37209
The build has finished sucessfully for the architecture cs8_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-cs8_ppc64le_gcc11/3397
Some tes

[2022-03-11 14:18] cmsbuild commented on #37209
The build has finished sucessfully for the architecture slc7_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-slc7_amd64_gcc10/3395
Some tests

[2022-03-11 14:22] makortel commented on #35574
+core

[2022-03-11 14:22] cmsbuild commented on #35574
This issue is fully signed and ready to be closed.

[2022-03-11 14:22] cmsbuild commented on #37209
The build has finished sucessfully for the architecture slc7_amd64_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-slc7_amd64_gcc11/3396
Some tests

[2022-03-11 14:23] cmsbuild commented on #37209
The build has finished sucessfully for the architecture slc7_ppc64le_gcc11 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-slc7_ppc64le_gcc11/3398
Some t

[2022-03-11 14:36] cmsbuild commented on #37209
The tests have finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-cs8_aarch64_gcc11/3399

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-03-11 14:38] cmsbuild commented on #37209
The build has finished sucessfully for the architecture cs8_amd64_gcc10 and is ready to be uploaded.
You can start the uploads by writing the comment: "upload all". I will upload all the architectures as soon as the build finishes successfully.
You can see the log for the build here:
https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-cs8_amd64_gcc10/3394
Some tests (

[2022-03-11 14:40] perrotta commented on #37209
upload all

[2022-03-11 14:41] cmsbuild commented on #37209
Queing Jenkins upload for slc7_amd64_gcc10

[2022-03-11 14:41] cmsbuild commented on #37209
Queing Jenkins upload for cs8_amd64_gcc10

[2022-03-11 14:41] cmsbuild commented on #37209
Queing Jenkins upload for slc7_aarch64_gcc11

[2022-03-11 14:41] cmsbuild commented on #37209
Queing Jenkins upload for slc7_ppc64le_gcc11

[2022-03-11 14:41] cmsbuild commented on #37209
Queing Jenkins upload for cs8_aarch64_gcc11

[2022-03-11 14:41] cmsbuild commented on #37209
Queing Jenkins upload for cs8_ppc64le_gcc11

[2022-03-11 14:41] cmsbuild commented on #37209
Queing Jenkins upload for slc7_amd64_gcc11

[2022-03-11 14:41] cmsbuild commented on #37209
The upload has started for cs8_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2255/console

[2022-03-11 14:41] cmsbuild commented on #37209
The upload has started for cs8_amd64_gcc10 in cmsbuild06.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2256/console

[2022-03-11 14:42] cmsbuild commented on #37209
The upload has started for slc7_aarch64_gcc11 in olarm-202.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2258/console

[2022-03-11 14:42] cmsbuild commented on #37209
The upload has successfully finished for cs8_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre1-cs8_aarch64_gcc11/2255

[2022-03-11 14:42] cmsbuild commented on #37209
The upload has started for cs8_ppc64le_gcc11 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2257/console

[2022-03-11 14:42] cmsbuild commented on #37209
The upload has started for slc7_amd64_gcc10 in cmsbuild08.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2259/console

[2022-03-11 14:42] cmsbuild commented on #37209
The upload has successfully finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre1-slc7_aarch64_gcc11/2258

[2022-03-11 14:43] cmsbuild commented on #37209
The upload has successfully finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre1-cs8_ppc64le_gcc11/2257

[2022-03-11 14:43] cmsbuild commented on #37209
The upload has successfully finished for slc7_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre1-slc7_amd64_gcc10/2259

[2022-03-11 14:43] cmsbuild commented on #37209
The upload has successfully finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre1-cs8_amd64_gcc10/2256

[2022-03-11 14:43] cmsbuild commented on #37209
The upload has started for slc7_ppc64le_gcc11 in ibmminsky-3.
You can see the progress here: https://cmssdt.cern.ch/jenkins/job/upload-release/2261/console

[2022-03-11 14:44] cmsbuild commented on #37209
The upload has successfully finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre1-slc7_amd64_gcc11/2260

[2022-03-11 14:44] cmsbuild commented on #37209
The upload has successfully finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-upload-release/CMSSW_12_4_0_pre1-slc7_ppc64le_gcc11/2261

[2022-03-11 14:45] perrotta commented on #37209
release-notes

[2022-03-11 14:46] cmsbuild commented on #37209
Unable to find previous release for CMSSW_12_4_0_pre1. Please use "release-notes since <release>" in first line of the comment.

[2022-03-11 14:47] perrotta commented on #37209
release-notes since CMSSW_12_3_0_pre6

[2022-03-11 14:47] cmsbuild commented on #37209
Generating release notes since CMSSW_12_3_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-03-11 14:47] cmsbuild commented on #37209
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_4_0_pre1 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_0_pre6 can be found at:

https://github.com/

[2022-03-11 14:47] cmsbuild commented on #37209
Generating release notes since CMSSW_12_3_0_pre6.
You can see the progress here:
https://cmssdt.cern.ch/jenkins/job/release-produce-changelog/
I will generate an announcement template.

[2022-03-11 14:47] cmsbuild commented on #37209
You can use this template for announcing the release:

Hi all,

The development release CMSSW_12_4_0_pre1 is now available for the following architectures:

slc7_amd64_gcc10 (production)
cs8_amd64_gcc10
cs8_aarch64_gcc11
slc7_ppc64le_gcc11
slc7_amd64_gcc11
cs8_ppc64le_gcc11
slc7_aarch64_gcc11

The release notes of what changed with respect to CMSSW_12_3_0_pre6 can be found at:

https://github.com/

[2022-03-11 14:49] cmsbuild commented on #37209
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_0_pre1

[2022-03-11 14:49] cmsbuild commented on #37209
The release notes are ready: https://github.com/cms-sw/cmssw/releases/tag/CMSSW_12_4_0_pre1

[2022-03-11 14:56] cmsbuild commented on #37209
The tests have finished for slc7_aarch64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-slc7_aarch64_gcc11/3400

Tests results:
48 46 43 33 17 4 1 1 1 1 tests passed, 0 1 2 0 0 0 0 0 0 0 failed

[2022-03-11 15:07] cmsbuild commented on #37209
The tests have finished for slc7_amd64_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-slc7_amd64_gcc11/3396

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-11 15:22] cmsbuild commented on #37209
The tests have finished for cs8_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-cs8_ppc64le_gcc11/3397

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-11 15:26] cmsbuild commented on #37209
The tests have finished for cs8_amd64_gcc10
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-cs8_amd64_gcc10/3394

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-11 15:28] cmsbuild commented on #37209
The tests have finished for slc7_ppc64le_gcc11
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/auto-build-release/CMSSW_12_4_0_pre1-slc7_ppc64le_gcc11/3398

Tests results:
48 47 46 35 17 4 1 1 1 1 tests passed, 0 0 0 0 0 0 0 0 0 0 failed

[2022-03-11 15:47] makortel commented on #37207
I checked the two configurations in `/afs/cern.ch/work/s/sdonato/public/HLT_Task_noPixelTracks` and the OutputModule was in `FinalPath` in both cases.

About

could you elaborate the problem? Is it just about having to adjust the keep/drop statements?

[2022-03-11 16:16] #37136 closed

[2022-03-11 16:23] silviodonato opened #37215 "ROOT and CUDADataFormats/Common/interface/Product.h"
Working in studies of the GPU/CPU difference , I spot this error of ROOT with the abs function:
[code]
the log is here [logError.txt](https://github.com/cms-sw/cmssw/files/8233562/logError.txt) .

@dpiparo has identificated the problem with `CUDADataFormats/Common/interface/Product.h`

[code]

or
[code]

[2022-03-11 16:23] cmsbuild commented on #37215
A new Issue was created by  @silviodonato Silvio Donato.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-11 16:35] makortel commented on #37215
assign core

[2022-03-11 16:35] cmsbuild commented on #37215
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-11 16:36] makortel commented on #37215
Adding @pcanal

[2022-03-11 16:37] makortel commented on #37215
`CUDADataFormats/Common/interface/Product.h` is not intended to be persisted. All dictionaries with it should have been declared as transient. So I'm very confused why or how it ends up in the file.

[2022-03-11 16:50] makortel commented on #37215
The error log has
[code]

`edmDumpEventContent` shows
[code]
which has a dictionary allowing persistency
https://github.com/cms-sw/cmssw/blob/3faf37cfbc602927fe4f77a404fc198b45aab487/CUDADataFormats/HcalRecHitSoA/src/classes_def.xml#L6

The `cms::cuda::Product` is nevertheless not used there. Maybe the problem is that the same `classes_def.xml` declares transient products using the `cms::cuda::Pro

[2022-03-11 16:52] fwyzard commented on #37215
One more thing to clean up before/during/after the migration to Alpaka :-/

[2022-03-11 16:56] fwyzard commented on #37207
One problem is that this approach does not allow us to keep both "branches" (for example, to send them from the HLT jobs to the DQM jobs and perform an online validation):

and I'm not sure if the other approach has any downsides or not:

In particular, I'm concerned about what would happen if we use `productCpu` or `productAcc` directly in the reconstruction, while _also_ using (or keeping) the `

[2022-03-11 18:09] smorovic commented on #36487
I had a run with the Stepper (and still the old version without any CondDBESSource.cc/h changes, only having the change in DataProxy.h), which was suggested at the meeting:
[code]
this continues for several seconds. Then, at the end of condition loading:
[code]
I.e. it turns out that that there are no logged steps around CondDBESSource actions.

A question: is it possible to increase timestamp res

[2022-03-11 18:26] makortel commented on #37207
The design goals included
- the consumers of a `SwitchProducer` do not care which of the case-EDProducers get run
  * `product@cpu` etc being available for consumers in the same process is accidental
- allow running CPU/CUDA/etc versions, but those need to be explicit

In the first case, even if the "inline products" of SwitchProducer were allowed to be persisted, they couldn't be stored at the sa

[2022-03-11 19:06] clacaputo commented on #36788
Still digging. But it's not clear to me why `magneticFieldInInverseGeV` defined here https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/TrackingTools/TrajectoryParametrization/interface/GlobalTrajectoryParameters.h#L102 and called from here https://github.com/cms-sw/cmssw/blob/6d2f66057131baacc2fcbdd203588c41c885b42c/TrackingTools/TrajectoryState/interface/FreeTrajectory

[2022-03-11 19:13] slava77 commented on #36788
what else would it be at `Point:   (1000.990479,608.831177,3858.323730) ` ? This is apparently at 11.7 m in r and 36 m in z

[2022-03-11 21:01] Dr15Jones commented on #36487
@smorovic thanks for the log. I agree that it looks like no concurrency is happening within the data product requests.

Can you point me to your code so I can double check that I didn't miss something?

[2022-03-11 21:11] makortel commented on #37215
I made a PR https://github.com/cms-sw/cmssw/pull/37218 that makes all the dictionaries in `CUDADataFormats` transient that weren't already.

[2022-03-11 21:14] Dr15Jones commented on #36487
So I have a unit test designed to check that the new Proxy type does do concurrency:

https://github.com/cms-sw/cmssw/blob/master/FWCore/Integration/test/testConcurrentIOVsESConcurrentSource_cfg.py

I turned on the Tracer for that job and I do see signs of concurrent running.

[code]

So now we need to figure out what is different for the PoolDBESSource implementation.

[2022-03-11 21:22] smorovic commented on #36487
Here is project area code I use:
`/afs/cern.ch/user/s/smorovic/public/cond/src/`
And I only changed this file as instructed:
`/afs/cern.ch/user/s/smorovic/public/cond/src/CondCore/ESSources/interface/DataProxy.h`

However I realize that potentially I did not recompile everything that could pull in this header indirectly (just `FWCore/Framework` and `CondCore/ESSources` ). I will try to do a full r

[2022-03-11 21:37] silviodonato commented on #35376
I made an easy script to compare some variables https://github.com/silviodonato/usercode/blob/master/compareGPUvsCPU.py
This is one random event with CPU/GPU differences:
[code]

Two considerations:
- it looks like that difference are more often in the last tracks (whatever it means)
- an important effect to be checked are the tracks with a huge pt and an even larger pt error. These tracks might h

[2022-03-11 21:53] makortel commented on #36349
#37220 adds CMSSW version to the UDP packets.

[2022-03-12 11:04] silviodonato commented on #35376
And this is the comparison of the pixel cluster:
https://github.com/silviodonato/usercode/blob/master/compareGPUvsCPU_pixelHits.py

Considering the first event, there are a lot of clusters (~30) with a cluster charge difference equal to 1:
[code]

There are 3 clusters with a large difference in the cluster charge.
In the second case there is a +140%, while the coordinate x,y are exactly the same.

[2022-03-12 12:37] silviodonato commented on #35376
Checking the single pixels associated to the clusters, I noticed that the problematic clusters have often two pixel with the same coordinates. Typically one pixel as the same value of the CPU cluster, while the other pixel is random.
@tsusa

[code]

[2022-03-12 13:40] silviodonato commented on #35376
This is the number of clusters containing duplicated pixels in each event:
[code]
all these duplicates comes from the GPU. There are 0 duplicates in the CPU reconstruction.
https://github.com/silviodonato/usercode/blob/master/compareGPUvsCPU_pixelHits_findDuplicates.py

I cannot say this is the cause of the GPU fluctuations, but I think this is a bug in the pixel local reco.

[2022-03-12 13:42] VinInn commented on #35376
This is a known issue for real data. Apparently time to time some pixels from the previous crossing are still around.
So it may happen to find twice the same pixels in the raw data.
On GPU they stay separate, on CPU their charge is summed.
On monte carlo of course this never happen.

[2022-03-12 15:23] fwyzard commented on #35376
I assume we don't have any way of figuring out which ones are from the current event and which ones are from the previous one ?

[2022-03-13 05:08] cmsbuild commented on #37195
The cleanup has started for cs8_aarch64_gcc11

[2022-03-13 05:08] cmsbuild commented on #37195
The cleanup has started for slc7_aarch64_gcc11

[2022-03-13 05:08] cmsbuild commented on #37195
The cleanup has started for slc7_amd64_gcc10

[2022-03-13 05:08] cmsbuild commented on #37195
The cleanup has started for cs8_ppc64le_gcc11

[2022-03-13 05:08] cmsbuild commented on #37195
The cleanup has started for cs8_amd64_gcc10

[2022-03-13 05:08] cmsbuild commented on #37195
The cleanup has started for slc7_amd64_gcc11

[2022-03-13 05:08] cmsbuild commented on #37195
The cleanup has started for slc7_ppc64le_gcc11

[2022-03-13 05:08] #37195 closed

[2022-03-13 05:08] cmsbuild commented on #37195
The workspace for cs8_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre6-cs8_aarch64_gcc11/1955

[2022-03-13 05:08] cmsbuild commented on #37195
The workspace for cs8_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre6-cs8_amd64_gcc10/1956

[2022-03-13 05:08] cmsbuild commented on #37195
The workspace for cs8_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre6-cs8_ppc64le_gcc11/1957

[2022-03-13 05:08] cmsbuild commented on #37195
The workspace for slc7_aarch64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre6-slc7_aarch64_gcc11/1958

[2022-03-13 05:08] cmsbuild commented on #37195
The workspace for slc7_amd64_gcc10 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre6-slc7_amd64_gcc10/1959

[2022-03-13 05:08] cmsbuild commented on #37195
The workspace for slc7_amd64_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre6-slc7_amd64_gcc11/1960

[2022-03-13 05:08] cmsbuild commented on #37195
The workspace for slc7_ppc64le_gcc11 has been deleted
 You can see the log here:
 https://cmssdt.cern.ch/SDT/jenkins-artifacts/cleanup-auto-build/CMSSW_12_3_0_pre6-slc7_ppc64le_gcc11/1961

[2022-03-13 10:11] silviodonato commented on #35376
In these case the duplicated pixels are not summed on CPU:

(-2000 means missing pixel)

In `DetId: 303054852  clNum: 39`,
- cpu made a cluster using a single pixel in 56, 279 with charge 2194
- cpu made a cluster using a two pixels, both of them in 56, 279 with charge 2194 and 3177

In `DetId: 303067152  clNum: 36`,
- cpu made a cluster using a single pixel in 95, 367 with charge 7109
- cpu made

[2022-03-13 10:38] VinInn commented on #35376
sorry I got confused by the code in ```copy_to_buffer```  (where pixesl are added)

the line to fill the buffer later used by make_clusters is
https://cmssdt.cern.ch/dxr/CMSSW/source/RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.cc#294
and indeed it is ```set```  not  ```add```.  So last pixel in raw-data win.

[2022-03-13 12:52] silviodonato commented on #35376
Below some more numbers about duplicated pixels.
I've found also events with three duplicated pixels
[code]

and events with duplicated pixels in GPU with no corresponding pixel on CPU
[code]
(probably because the CPU pick 100 and then the charge is to small to make a cluster. There is only one case where the smaller value of the two charge is 758 instead of 100).
This seems also to explain the re

[2022-03-13 12:53] silviodonato commented on #35376
Thanks, is it possible to apply the same rule to both CPU and GPU?

[2022-03-13 13:04] VinInn commented on #35376
on GPU is difficult to select the last occurence.
For the CPU I leave Pixel-DPG to comment.
In any case I'm not sure if anybody know what is more correct.

In my opinion this is the less relevant of the difference: at the level of the anavoidable differences arising in FP operations

I think we need to decide if we accept different results or not from different architecture in general.
Small mods

[2022-03-13 13:53] cmsbuild commented on #37209
The cleanup has started for cs8_aarch64_gcc11

[2022-03-13 13:53] cmsbuild commented on #37209
The cleanup has started for slc7_aarch64_gcc11

[2022-03-13 13:53] cmsbuild commented on #37209
The cleanup has started for slc7_amd64_gcc10

[2022-03-13 13:53] cmsbuild commented on #37209
The cleanup has started for cs8_ppc64le_gcc11

[2022-03-13 13:53] cmsbuild commented on #37209
The cleanup has started for cs8_amd64_gcc10

[2022-03-13 13:53] cmsbuild commented on #37209
The cleanup has started for slc7_amd64_gcc11

[2022-03-13 13:53] cmsbuild commented on #37209
The cleanup has started for slc7_ppc64le_gcc11

[2022-03-13 13:53] #37209 closed